[2020-10-27 12:37] #1489 closed, assigned to nobody

[2020-10-27 12:37] #1074 closed, assigned to nobody

[2020-10-27 13:12] mislav commented on #2298
@Roms1383 You can also programmably extract any field from the current output of `issue/pr view`. Shell example (requires a unix-like environment):

[code]

[2020-10-27 13:23] CarwynNelson commented on #659
Hi,

Has there been any further thought on this feature request? I've just started using the github cli and it's great, but this would really seal the deal for me.

Cheers!

[2020-10-27 13:46] Exagone313 commented on #1444
Note that it could make sense to use `git pull --ff-only` in that automatic pull, so that it avoids creating a merge commit while pulling if base branch is divergent. It could be a setting.

[2020-10-27 14:28] valaparthvi commented on #641
Hey! I am looking for something to work on and I was planning to pick something up from the list in this issue. But,

according to the above quoted comment on [one of the issues](https://github.com/cli/cli/issues/1613), I have come to understand that the core team will be working on these features. I just wanted to confirm if this applies to all the features listed on the issue or just the one on

[2020-10-27 15:33] Roms1383 commented on #2298
Yes you're right @mislav, but it can sometimes be tedious to parse console output.
Right now I still mix both `gh` and `hub` 🚀
Thanks to both of you @samcoe @mislav guys for your quick reply 😃

[2020-10-27 18:17] mislav commented on #1985
@zemse Thanks for explaining your use case in detail!

Right now, the way to achieve what you are looking for is using the syntax that @vilmibm described above (ideally, after having had pushed the branch to the right remote). However, if I'm understanding your preferred usage as illustrated in your comment, you would prefer to use remote tracking branches (e.g. `remote/branchname`) as an alternat

[2020-10-27 18:57] vilmibm opened #2304 "when GITHUB_TOKEN is set, print better messaging during gh auth login"
Currently we let a user get through two prompts of `gh auth login` when GITHUB_TOKEN is set, then unceremoniously tell them that the token is read-only.

We should proactively notice that situation when `gh auth login` is run and give clear messaging about unsetting the token in order to use the command.

Initially we thought only power users would be using GITHUB_TOKEN as an opt-in choice, making

[2020-10-27 19:06] mislav commented on #2304
When I try this, I see only one prompt, and I feel that one is warranted:
[code]

Without the user specifying whether it's dotcom or Enterprise, we don't know yet whether to read the token from GITHUB_TOKEN or from GITHUB_ENTERPRISE_TOKEN.

[2020-10-27 19:15] mislav commented on #2300
@jetersen @mehagar The cached preference is called `gh-resolved` can be unset in your local repo with:

[code]

I'm sorry for the nuisance. We'll try to expose this better so that it's easier to change!

Ref. https://github.com/cli/cli/issues/2090 #1864

[2020-10-27 19:19] mislav commented on #370
@rugwirobaker We haven't gotten around to addressing this yet, so if anyone manages to look into it in the meantime, be my guest please!

This might be a good start into the codebase: https://github.com/cli/cli/blob/trunk/pkg/cmd/factory/remote_resolver.go

[2020-10-27 19:21] mislav commented on #2267
@Toydotgame Good luck! I'm going to close this issue, since it doesn't look like it's a bug on our side, and after you reinstall your machine, try our installer or editing your PATH manually again— I'm sure it will work! The guide that I linked you worked for me on Windows 10, and I also know that this system settings screen hasn't changed in the last few Windows versions.

[2020-10-27 19:21] #2267 closed, assigned to nobody

[2020-10-27 19:27] mislav commented on #1933
@tavyandy97 (Sorry for the late response!) That is still on us to figure out. 🙇

[2020-10-27 19:28] mislav commented on #2114
@LuanVSO We're tracking this in https://github.com/cli/cli/issues/601#issuecomment-595731289

[2020-10-27 19:35] vilmibm commented on #2304
ah, fair point -- i did get a second prompt though about how I was already logged into `github.com`

[2020-10-27 19:52] zemse commented on #1985
[code]

I tried this and it works! Thanks!

However, the syntax for both source and destination is a bit different so it's more likely I'll forget it and need to refer to docs again. I mean if API to do this is a bit symmetric, it would be helpful.

@mislav Yeah, having this work with the traditional git branches syntax could be intuitive.

[code]

Or if github usernames are acceptable, that is al

[2020-10-27 20:11] ghost opened #2306 "Output merge commit hash for Merged PR's in `gh pr view `"
### Describe the feature or problem you’d like to solve

I'm looking to automate a task where I document specific merged PR's in another system. I can obtain the author, PR number, and PR title by parsing the current output of `gh pr view 123`. I can derive the PR link from the PR number (I already know the repo.)

The information I'd like to have available is the commit hash representing the merg

[2020-10-27 22:38] toydotgame commented on #2267
Thanks!
I'm also pretty sure that a reinstall will work. I've had previous success editing the `PATH` environment variable with other applications.
###### And yeah, the environment variable editing menus are the same between Windows 7 Ultimate/Professional/Enterprise, but I have Windows 7 Home Premium (I'm looking to upgrade to Ultimate soon!) and the menus are _slightly_ different; but I've worke

[2020-10-28 00:35] alissonbrunosa commented on #370
I don't think this issue is still happening.
I have a fork of [cli/cli]( https://github.com/cli/cli) and when I ran the command:
[code]
It asked me which should be my base repository. :thinking:

**Version details:**
[code]

[2020-10-28 00:48] PowerKiKi commented on #370
I can confirm that this is no longer an issue for me too, because it now ask which remote to use.

[code]

This issue should be closed.

[2020-10-28 06:25] samcoe commented on #641
@valaparthvi The core label applies to all the features listed in the issue. Thanks for asking.

[2020-10-28 06:28] #370 closed

[2020-10-28 06:32] #2212 closed

[2020-10-28 06:32] #2202 closed

[2020-10-28 06:32] #2173 closed

[2020-10-28 06:32] #2172 closed

[2020-10-28 06:33] #2171 closed

[2020-10-28 06:34] #2266 closed

[2020-10-28 07:55] samcoe commented on #1262
It looks like `gh` is able to be installed through WinGet using `winget install gh`, can this issue be closed now?

Ref: https://github.com/cli/cli/pull/2272#issuecomment-717730457

[2020-10-28 08:32] Asuna6666 opened #2309 "MATRIX |ODIN| |EVE|"
https://www.github.com/Asuna6666/Asuna/tree/master/Cry.wanna%20worm%20EVe

[2020-10-28 10:47] #2268 closed, assigned to nobody

[2020-10-28 11:21] alessandromuresan opened #2310 "`gh release` should work with default releases for tags"
### Describe the bug

Even though GitHub considers tags as releases, GitHub CLI doesn't. GitHub CLI version:
[code]

### Steps to reproduce the behavior

1. Create and push a tag
2. Run `gh release view|list|download <tag_name> --repo <org/repo_name>` -> it doesn't display the previously pushed tag

### Expected vs actual behavior

Given that GitHub's UI considers tags as releases, one would expec

[2020-10-28 11:57] mislav commented on #2310
@alessandromuresan Thanks for the suggestion!

It's a good point that GitHub web presents git tag as lightweight "releases". Would you expect that `release list` by default lists git tags as well? I'm not sure if that should be a default or opt-in.

If git tags are treated identical to actual Release records (those that can have editable release notes and attached assets), then it might be tricky

[2020-10-28 12:18] alessandromuresan commented on #2310
@mislav Sure, list it as a feature request 😄 If your goal is not to diverge from the way GitHub's API functions (which I can understand), then maybe a separate `gh tag [...]` command tree would do the trick.
In any case, what we would like to achieve is to use GitHub CLI as a mean to discover tooling, which we mostly manage/version using git tags. Whether we use the concept of "tags" or "releases"

[2020-10-28 16:50] #2270 closed, assigned to nobody

[2020-10-28 17:07] mislav commented on #2304
@vilmibm How should an ideal flow behave?

[2020-10-28 17:25] GMNGeoffrey opened #2311 "`gh pr view` can't find PR just created"
### Describe the bug

After creating a PR, `gh` can't find the PR when I run `gh pr view`. Potentially relevant, the PR is not against the default branch.

[code]

I tried downgrading to each version going back to `0.12.0` and still hit the error, so I think this isn't a pure code release issue. Maybe it's some data that is stored by the tool and would be picked up by other versions?

### Steps to

[2020-10-28 18:39] deacomm commented on #2199
Sorry to chime in on a closed issue, but this could be made more discoverable, or obvious. I haven't found any indication in any help text or program output that "gh gist" subcommand requires this.

Now that I know that I need to set GH_HOST, it is of course obvious to me, and I now understand the clue that the variable description in "gh help environment" says that it is for sub-commands that are

[2020-10-28 18:50] jan25 commented on #2042
I opened a PR based on suggestions from @mislav . Does cli have a output format flag or implementation? Maybe `gh issue list --format=json` is better for this?

[2020-10-28 20:14] vilmibm commented on #906
@ampinsk @mislav @samcoe i would like initial feedback on this draft PR 🙏 : https://github.com/cli/cli/pull/2313

[2020-10-28 20:41] kevtan opened #2314 "gh issue view prints out extraneous characters"
### Describe the bug

When I use `gh issue view`, there are a few extraneous characters printed at the end of the output.

[code]

### Steps to reproduce the behavior

1. Type this 'gh issue view X'
2. View the output (first code block is on iTerm, second code block is on Alacritty).
[code]
[code]
3. See error

### Expected vs actual behavior

I didn't expect to see the weird extra characters prin

[2020-10-28 21:51] haikalkartika opened #2315 "Contoh 1"

[2020-10-28 21:58] cored commented on #1773
@mislav Hi there, I was taking a look at this issue but I couldn't find where the documentation should be. I am guessing https://cli.github.com/manual/gh_auth_status here but even if that's the right place I don't see where or how the project is generating the documentation. If you could point me in the right direction I can help out with the change. Thanks :bow:

[2020-10-29 00:42] #2315 closed

[2020-10-29 01:02] Phate6660 opened #2318 "I maintain a `gh-bin` package for Gentoo"
I just wanted to let you guys know (in case anyone finds this useful), that I maintain a `gh-bin`\* package in a [Gentoo overlay](https://github.com/p6nc/overlay) I co-created.

I noticed that there wasn't any Gentoo field in the Linux installation section, so I figured I'd chime in and let you guys know this exists.

\* `-bin` means that it pulls the binary directly out of the Github release, it

[2020-10-29 07:05] samcoe commented on #2314
@kevtan This seems similar to a recent issue that we fixed https://github.com/cli/cli/issues/1822. I am wondering if it this is the same one just in another form. Can you try the workaround of manually setting the markdown color scheme `GLAMOUR_STYLE=dark gh issue view 7` and seeing if that fixes the issue?

Also it would be helpful for debugging if you could tell us if you have any of the environ

[2020-10-29 07:18] samcoe commented on #1773
@cored Our documentation pages are autogenerated by [spf13/cobra](https://github.com/spf13/cobra/blob/86f8bfd7fef868a174e1b606783bd7f5c82ddf8f/doc/md_docs.go#L54) during our release [workflow](https://github.com/cli/cli/blob/e093d235215f8c06a45204123a725c25aef692b6/.github/workflows/releases.yml#L43). As for where we actually want this documentation to be placed I think we should wait for @mislav

[2020-10-29 07:28] #2309 closed

[2020-10-29 10:27] mislav commented on #2311
Thank you for reporting! It looks like gh failed to detect that `llvm-dependent-submodule-update` was pushed to a remote that points to your fork.

What is the upstream configuration for this branch? See `git config -l | grep llvm-dependent-submodule-update`

[2020-10-29 11:03] mislav commented on #2318
Hi, thanks for letting us know!

We haven't yet received any asks for installation method from Gentoo users, so we focused instead on providing packages/installation instructions for distributions that were more frequently asked for.

When there seems to be visible interest for gh installation from Gentoo users, we may consider adding some Gentoo-specific installation instructions. Right now, I fe

[2020-10-29 11:03] #2318 closed, assigned to nobody

[2020-10-29 11:41] mislav commented on #2199
@deacomm We hear you 💖 Thanks for the feedback! We will add something about this to `gh gist --help`.

[2020-10-29 13:00] andrewtremblay commented on #1895
@alannt777 That's not possible via any CLI tool I've heard of. This would likely take a local file path to an image.

@vilmibm I noticed the needs-design label was added. Do you need additional information from me for that?

[2020-10-29 14:08] ghost commented on #1895
It IS possible. see https://stackoverflow.com/questions/28910774/how-to-use-drag-and-drop-feature-of-console-application-and-streamreader

Even if the question asks how to do this for a c# console application the same thing can be implemented in go
See https://www.reddit.com/r/golang/comments/6jtjbm/can_you_create_a_go_application_with_dragdrop/

[2020-10-29 14:10] ghost commented on #1895
The problem is: gh is using an external editor to write descriptions.

[2020-10-29 14:25] Sameet93 opened #2321 "Autocomplete doesn't work"
There is no autocomlete for github cli functions on Linux Ubuntu﻿

[2020-10-29 16:02] #2216 closed, assigned to nobody

[2020-10-29 17:03] GMNGeoffrey commented on #2311
It doesn't show up at all  in `git config -l` (the output to that command is empty)

[2020-10-29 17:17] mislav commented on #1895
@andrewtremblay A command like `gh file upload path/to/file.gif` that spits out the URL of the uploaded asset would be great if it was simple to achieve it! However, technical restrictions and the potential for abuse could be what prevent us from exploring this. Furthermore, terminals typically aren't able to display images, so allowing image upload without the capability to visually verify what w

[2020-10-29 17:21] ampinsk commented on #2090
This is a tough one, but I'm partial to `main`. This may be tough to find a word that makes sense to 100% of people. I also feel that the parenthetical in the middle of the prompt makes the prompt more difficult to read. If we want to give an example, I think we could list it at the end.

Could this make more sense?

[2020-10-29 17:45] rsteube commented on #360
[![asciicast](https://asciinema.org/a/368866.svg)](https://asciinema.org/a/368866)

added completions for the new commands - still some minor issues but otherwise works pretty well so far

[2020-10-29 18:06] waldyrious commented on #2090
I think the "and submitting PRs" definitely helps, as well as the removal of "for this directory" (was that intentional?).

Here's a thought: why not simply remove "as the base" from the sentence? And maybe also switching "a repository" to "the repository":

[2020-10-29 18:23] contourintegrals commented on #2321
Please tell which shell you're using(`echo $SHELL`), what is the version of the `gh` CLI(`gh --version`), and what Linux/Ubuntu Version you're using(`uname -a`).
This is needed because `gh` auto-completion doesn't support all the shells/emulators in the world.

[2020-10-29 18:40] ampinsk commented on #2090
@waldyrious I like that! Thanks for the copyediting help 😄  The only lingering problem with this is that querying issues and submitting PRs aren't the only things that selecting the "base" repository affects. It also affects querying PR lists, creating issues, etc. Basically all read/write operations. So to avoid listing out every single thing this decision means, we do need some general way to ta

[2020-10-29 19:11] waldyrious commented on #2090
In that case, how about something like this?

[2020-10-30 01:10] rsteube opened #2323 "view gist without prepended names"
### Describe the feature or problem you’d like to solve
When viewing a gist the name and filename are prepended to the content (stdout).
[code]

### Proposed solution

Write the gist name and filename to `opts.IO.ErrOut`

### Additional context

![gh-view](https://user-images.githubusercontent.com/9090290/97648322-b7e8e280-1a54-11eb-9419-27d45dfd11ca.png)

[2020-10-30 20:12] Vishesh-Gupta commented on #1262
@samcoe this issue is not the same as the one you referenced since I am building the tooling around Winget auto releases so that they do not need to be manually upgrade the tag file handled by someone right now. This will take me some time so I feel like we can keep this one open. The tooling around Winget builds does not exist right now which also what I am working on building in my spare time. I

[2020-10-30 21:58] Okeakwalam27 commented on #1262
Nice to hear from yo, email me direct for more info
On Thu, Sep 24, 2020 at 12:26 AM Vishesh Gupta <notifications@github.com>
wrote:

[2020-10-31 00:45] henvic opened #2325 "Some ideas on how to collect errors automatically from users of gh"
Hi, I heard Go Time's podcast with @mislav (really cool!) and thought you'd find it interesting to share my experience about handling error reporting (and general metrics, too) from a CLI. I faced similar issues on [we](https://henvic.dev/portfolio/#wedeploy) and solved by creating a service that would receive data from the CLI in bulk when a user opted-in for sharing analytics anonymously. I don'

[2020-10-31 01:17] Vant13425 opened #2326 "legacy-releases (5).asc"

[2020-10-31 01:54] kevtan commented on #2314
Hi @samcoe so it seems like setting the `GLAMOUR_STYLE=dark` environment variable fixed it. Thanks for helping me out!

[2020-10-31 01:54] #2314 closed, assigned to nobody

[2020-10-31 06:23] andrewtremblay commented on #1895
@mislav That's really interesting to know! I didn't realize GitHub requested an upload policy before a file upload and such a policy object was not available via api.

I suppose the only way to get something like this feature would be by uploading screenshots to other image hosting services, like using our own S3 bucket.

[2020-10-31 09:23] contourintegrals opened #2327 ":gh release create: Make the error message more descriptive, if <tag> isn't passed."
### Describe the feature or problem you’d like to solve

When `gh release create` is run, without any arguments, the output received is: `requires at least 1 arg(s), only received 0`. This is not helpful to a user who is not aware of the command (until `gh release create --help`).

### Proposed solution
Instead of the not-so-useful message, a user can receive a message like: `could not create: no

[2020-10-31 16:44] Asuna6666 opened #2328 "Sword Art Online ∆π%√•|Augma|"
https://github.com/cli/scoop-gh/issues/16#issue-733759542

[2020-10-31 17:15] EugenMayer opened #2329 "let user select pr to checkout (or more) when listing them with `pr list`"
### Describe the feature or problem you’d like to solve

It is a little cumbersome to always first check the pr one is looking for using `pr list`, then find out the pr number and then write it all out again using `pr checkout <number>`.

It would be so great if one could be able to interactively select a pr, when they are listed using `pr list`.

This would make switching PR's a lot easier ( not

[2020-10-31 17:53] dumol opened #2330 "BSD packages"
### Describe the feature or problem you’d like to solve

Support for FreeBSD and OpenBSD.

### Proposed solution

A FreeBSD package for a start?

### Additional context

Support for major BSDs was mentioned at https://github.com/cli/cli/pull/784#issuecomment-617027360, but never materialized.

[2020-11-01 02:18] camelid commented on #1743
Just want to note that this occurs in vanilla macOS Terminal as well:

![image](https://user-images.githubusercontent.com/37223377/97793757-8b94a980-1bad-11eb-970c-32c85eff4876.png)

The workaround posted at https://github.com/cli/cli/issues/1743#issuecomment-713850204 fixes it.

By the way, thanks for fixing the issue where the colors wouldn't be cleaned up after running `gh`! ❤️

[2020-11-01 02:27] camelid opened #2331 "`gh repo garden` doesn't clear the whole line"
### Describe the bug

`gh repo garden` doesn't clear the whole message line. If the line is longer than roughly the width of the "garden", it leaves behind some of the line when you go to a different spot.

[code]

### Steps to reproduce the behavior

1. Type `gh repo garden`
2. Go to a spot in the garden whose message line is longer than the garden is wide
3. Then go to a different spot where the

[2020-11-01 09:39] hthomison1078 opened #2332 "Go"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-11-01 16:13] cody938 commented on #2331
Cvv

[2020-11-01 17:53] codeperfectplus opened #2334 "does ssh key works while using github CLI instead of SSH."
### It's more like a question than a feedback

**explanation:**
While I am cloning the private repo using ssh it's getting download without asking username and password and other side using GH CLI it's asking for the password.
I have a quick question. Does ssh key works while using GitHub CLI. If not then do we have to set manually something?

[code]
[code]

StackOverflow: https://stackoverflow.co

[2020-11-01 18:18] #2334 closed, assigned to nobody

[2020-11-01 19:52] hthomison1078 opened #2335 "https://github.com/cli/cli/issues/2332#issue-733913516"
[https___www.youtube.PDF](https://github.com/cli/cli/files/5471623/https___www.youtube.PDF)
[temporary_driverlicense_or_id.PDF](https://github.com/cli/cli/files/5471627/temporary_driverlicense_or_id.PDF)
[
Blocking duplicate merging of automatic   [@#branchejeckles](url)](`url`)
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem

[2020-11-01 20:20] hthomison1078 opened #2336 "Branch switcher"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.
Blocking duplicate merging of automatic branches #

[2020-11-01 20:22] hthomison1078 opened #2337 "> #[Pfff``](?"
Attached to [battleborn69)](`S`)

_Originally posted by @hthomison1078 in https://github.com/cli/cli/issues/2336#issuecomment-720145823_
![Tests](https://github.com/cli/cli/workflows/Tests/badge.svg?branch=1971-repo-view&event=pull_request_target)

[2020-11-02 06:30] jmcvetta commented on #410
Likewise it would be awesome if we could get the Actions log for the last-pushed commit on the branch.

[code]

For me this is a very common task; and the web UI for Actions logs is not pleasant.

[2020-11-02 06:53] samcoe commented on #2323
@rsteube This is a good idea. I think that your solution of outputting the name and filename to stderr could work, another idea that might work would be to add a flag that determines if the name and filename should be outputted at all. I am going to label this as "core" while our team decides on the best path forward.

[2020-11-02 06:58] samcoe commented on #2325
@henvic This is great information. Thanks for sharing! We have been discussing collecting metrics as a team for sometime now, and will definitely take your experiences into account when we decide our path forward.

[2020-11-02 07:11] samcoe commented on #2329
@EugenMayer Thanks for the feedback and feature request. I know that @mislav is really interested in making our `list` commands more actionable, and we have a couple design ideas that we are investigating. We will make sure to evaluate a two level select approach, as you suggested.

[2020-11-02 07:13] #2337 closed

[2020-11-02 07:13] #2335 closed

[2020-11-02 07:13] #2328 closed

[2020-11-02 07:13] #2326 closed

[2020-11-02 07:15] #2336 closed

[2020-11-02 07:15] #2332 closed

[2020-11-02 07:29] samcoe commented on #2334
@codePerfectPlus By default `gh` uses `https` for git clone and push operations but can be changed to use `ssh` using `gh config set git_protocol ssh -h github.com`.

[2020-11-02 09:50] alissonbrunosa commented on #2331
@samcoe
I would like to work on this issue, if there is no one already working on it.

[2020-11-02 10:52] vsravan707 opened #2340 "hero-block"

[2020-11-02 10:53] #2340 closed, assigned to nobody

[2020-11-02 10:53] vsravan707 commented on #2340
this was error

[2020-11-02 14:47] jglick commented on #1119
An example of a search permalink I find useful:

[code]

(“all PRs I am currently trying to get merged”)

[2020-11-02 14:51] jglick commented on #1119
Possibly covered by #641?

[2020-11-02 15:28] roskelleycj opened #2342 "Dismiss previous PR reviews?"
### Describe the feature or problem you’d like to solve

One of the features that the web PR offers is to dismiss a previous review.  As I move my workflow from the web to using gh I find that this is a missing feature and I'm using --web to launch and complete that task.

### Proposed solution

Perhaps the goal is not to eliminate the web PR review from a developer's workflows.  However, I find t

[2020-11-02 16:59] drewbrokke commented on #2329
If I may cast my vote, I think that `gh` should remain non-interactive by default. I've had the experience of a non-interactive tool introducing interaction by default with an update, and it essentially made the tool useless for my scripts that were using it.

I agree the ability to act on the output is very valuable, and in this I appreciate that `gh` has provided so many ways of retrieving and v

[2020-11-02 17:33] #2331 closed, assigned to nobody

[2020-11-02 20:34] bscott opened #2344 "x509 Certificate errors"
### Describe the bug

When I run `gh repo clone USERNAME/REPO`, I get the following error:
[code]

GH CLI Version:
[code]

GH Cli installed via brew.

### Steps to reproduce the behavior

1. Try cloning a repository: `gh repo clone USERNAME/REPO`

### Expected vs actual behavior

Expected repository to clone to my local directory.

[2020-11-02 20:54] devopsfd opened #2345 "Unable to release a tag from a prerelease state"
### Describe the bug

I am trying to release a tag which I have already pre-released before. But the cli command `gh release create <tag>` always show that the tag already exists.

[code]

### Steps to reproduce the behavior

1. Pre-release your tag
2. Try to release it using `gh release create`.
[code]
3. It won't allow you unlike doing it manually through the UI (by unticking the pre-release che

[2020-11-02 20:57] #2345 closed, assigned to nobody

[2020-11-02 20:58] tamipangadil opened #2346 "Support converting pre-release into full release"
### Describe the bug

I am trying to release a tag which I have already pre-released before. But the cli command `gh release create <tag>` always show that the tag already exists.

[code]

### Steps to reproduce the behavior

1. Pre-release your tag
2. Try to release it using `gh release create`.
[code]
3. It won't allow you unlike doing it manually through the UI (by unticking the pre-release che

[2020-11-03 00:25] vilmibm commented on #2027
while I understand that it might be helpful to run gh in a container for certain uses, it's not something that we intend to officially support. I'm going to close this and the associated PR for now.

[2020-11-03 00:25] #2027 closed, assigned to nobody

[2020-11-03 00:25] TyMick opened #2347 "Allow usage of git clone flags in `gh repo fork`"
### Describe the feature or problem you’d like to solve

I'd like to be able to use `git clone` flags in `gh repo fork` like I can in `gh repo clone`. For example, this works:

[code]

but this doesn't:

[code]

To get the desired effect, I currently have to execute two commands:

[code]

Not that that's horribly difficult to write, but I think it'd be nice to be able to do it in one command, sinc

[2020-11-03 00:32] vilmibm commented on #2347
Thanks! duplicate of https://github.com/cli/cli/issues/2236

[2020-11-03 00:32] #2347 closed, assigned to nobody

[2020-11-03 06:41] samcoe commented on #2346
@tamipangadil That is not a feature we support yet but something we could look into adding in the future.

[2020-11-03 07:05] #1067 closed, assigned to samcoe

[2020-11-03 07:14] #1818 closed, assigned to nobody

[2020-11-03 10:25] alissonbrunosa commented on #2327
@samcoe
I can work on this issue, if @shrihanDev is not working on it already.

[2020-11-03 11:49] itaizg opened #2348 "Error cloning project into repo"
### Issue description
Hi,
I'm using gh version 1.2.0 (2020-10-27). When trying to type in "gh repo clone odedcarmon/Data-Structures-2019a-Project-2" I recieve an error message that says
exec: "git": executable file not found in %PATH%

1. Type this 'gh repo clone ....'
2. See error "exec: "git": executable file not found in %PATH%"

### Expected vs actual behavior

I expected the command to clone

[2020-11-03 12:18] ricardogaspar2 opened #2349 "Installation via SDKMAN"
### Describe the feature or problem you’d like to solve
Install the CLI with ease.

### Proposed solution
It would great to have the ability to install the CLI via SDKMAN: https://sdkman.io/

[2020-11-03 13:02] tamipangadil commented on #2346
Thanks @samcoe. In the meantime, I'll just find another way to achieve this.

[2020-11-03 14:35] georgettica opened #2350 "make `gh help environment` more visible"
# CLI Feedback

I needed to see why `gh pr create` chooses `nano` as my default editor.. after looking in the code I found the env `GH_EDITOR` and found that this arg is set mentioned in `gh help environment`..

this took way to many steps to find and it would be nice to shorten the feedback_loop:

what I would do:
- add a note in the README.md about `gh help`
- add in `gh pr create` a tip of the

[2020-11-03 15:25] TyMick commented on #2347
Damn it, my search powers failed me 😭 Many apologies for missing that one in my research!

[2020-11-03 16:30] vl4py commented on #1055
Hi @mislav, a quick question about checks: Is it possible to get them even if there is no PR open. For instance, my circleci master workflow run e2e test. Is there a way to list those checks?

[2020-11-03 16:53] gleich commented on #1055
Using the checks API you should be able to get any checks, not just the ones for GitHub actions.

[2020-11-03 18:17] codeperfectplus commented on #2334
@samcoe
thanks, I was searching for the same answer.

[2020-11-03 18:49] #1624 closed, assigned to vilmibm

[2020-11-03 19:36] #2327 closed, assigned to alissonbrunosa

[2020-11-03 19:52] luckman212 opened #2352 "Emoji parser does not discriminate"
### Describe the bug

After emoji parsing was added (#1816) there are unintended side effects when `:xxx:` substrings are contained within `README`'s.

[code]

### Steps to reproduce the behavior

Type e.g. `gh repo view strongswan/strongswan` and note the German flag in the middle...

![image](https://user-images.githubusercontent.com/1992842/97876465-e29f9900-1ce9-11eb-9831-1a4c69fb573d.png)

fr

[2020-11-04 07:08] Kshitijthegreat opened #2354 "Unexpected error while trying to clone my GitHub repository with CLI"
### Describe the bug

I am trying to clone my github repository with CLI. While doing this, this error occurs- exec: "git" : executable file not found in %PATH%. I don't know what that means. I have added CLI installation path to my %PATH%.
CLI version-1.2.0

### Steps to reproduce the behavior

1. Type this 'gh repo clone repo_name'
2. View the output 'exec: "git" : executable file not found in %

[2020-11-04 07:09] Kshitijthegreat commented on #2354
socket is the name of my repository.

[2020-11-04 07:44] samcoe commented on #2348
@Itaiyz I believe what is happening here is that you do not have `git` installed or it is not installed in a location that is in your `%PATH%`. `gh` requires `git` for operations such as repo cloning and pr creation. Please install `git` or add the `PATH` to the `git` executable to your system `%PATH%` and try again 🙇 . I am going to close this issue but please feel free to re-open if that does no

[2020-11-04 07:44] #2348 closed, assigned to nobody

[2020-11-04 07:45] samcoe commented on #2354
@Kshitijthegreat I believe what is happening here is that you do not have `git` installed or it is not installed in a location that is in your `%PATH%`. `gh` requires `git` for operations such as repo cloning and pr creation. Please install `git` or add the `PATH` to the `git` executable to your system `%PATH%` and try again 🙇 . I am going to close this issue but please feel free to re-open if tha

[2020-11-04 07:45] #2354 closed, assigned to nobody

[2020-11-04 14:37] worthless443 opened #2355 "Building from Makefile (source) does not create executable 'gh' (not found : /usr/bin/gh)"
### Describe the bug
Using `make` to build from source does not create anything in /usr/bin directory.
### Steps to reproduce the behavior
have `golang-go` installed
1. Type this `make` or `make test`
2. View the output
[code]
3. See error

`gh`
`/usr/bin/gh : not found`

[2020-11-04 15:23] ghost opened #2356 "[Minor] Add `zen` command"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

This is not a huge feature or a problem. I think it's just fun

### Proposed solution

![gh zen command showing the output of "curl https://api.github.com/zen"](https://user-images.githubusercontent.com/67918878/98129717-75555900-1edf-11eb-892c-b5974d49f92c.gif)

### How wil

[2020-11-04 18:34] vilmibm commented on #2349
thanks for the issue! this isn't something we plan to officially support, especially since that project seems very Java focused.

[2020-11-04 18:34] #2349 closed, assigned to nobody

[2020-11-04 18:40] cristiand391 commented on #2355
[Per CONTRIBUTING.md](https://github.com/cli/cli/blob/trunk/.github/CONTRIBUTING.md#building-the-project), you need Go 1.13+ for building the binary.

`golang-go` seems to be an old version of Go, you should uninstall it and install the latest version from https://golang.org/dl/.

[2020-11-04 19:04] #1385 closed, assigned to samcoe

[2020-11-04 19:18] cristiand391 opened #2357 "gh repo: view command render links as relative URL's instead of absolute ones."
### Describe the bug

`gh repo view` render links as relative URL's instead of absolute ones.

### Steps to reproduce the behavior

1. Type `gh repo view cli/cli`
2. See `/docs/source.md`, `/docs/gh-vs-hub.md`:
![gh-repo](https://user-images.githubusercontent.com/6853656/98159134-f60e5800-1ed3-11eb-9dcc-3036c1be30c4.png)

### Expected vs actual behavior

It should render absolute URL's but it seem

[2020-11-04 19:44] dsaxton commented on #2321
Autocomplete seems not to work for Ubuntu 20.04.1 and latest gh version in bash:

[code]

[2020-11-04 19:50] dsaxton commented on #2355
If I'm not mistaken `make` will place the binary in `./bin` with respect to the repo root directory and not `/usr/bin`?

[2020-11-04 19:58] cristiand391 commented on #2357
I'm working on this, it seems `gh` isn't passing a base URL to Glamour when rendering markdown, will send a PR if it's ok.

[2020-11-04 20:05] vutting4221 opened #2358 "My new pull request"

[2020-11-04 23:03] alissonbrunosa commented on #2073
Maybe a dumb question, but why do we use the config as `remote.REMOTENAME.gh-resolved base` and not `remote.base.gh-resolved <REMOTENAME>` ? The latter seems clearer to me.
Also, it would be easier to retrieve the configuration value.

[2020-11-04 23:41] skanehira opened #2359 "support open PR with commit hash"
### Describe the feature or problem you’d like to solve
I think can be more convinience if `gh` can open PR with specified commit hash.

### Proposed solution
Use in combination with `gh` and `git blame` to quickly identify PR.

exmaple
[code]

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-11-05 01:39] lingr7 opened #2360 "install error:trying to overwrite '/usr/bin/gh', which is also in package gitsome 0.8.0+ds-4"
### Describe the bug
WSL2 Ubuntu20.04
install error

### Steps to reproduce the behavior

1. Type this '...'
[code]
2. View the output '....'
[code]
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

[code]

[2020-11-05 03:52] shrihanDev commented on #2321
[code]

[2020-11-05 05:37] #2358 closed, assigned to nobody

[2020-11-05 07:27] samcoe commented on #2360
@lingr7 Thanks for writing in. This appears to be a naming conflict between `gh` and `gitsome` where they both have executables named `gh`. If you do not use `gitsome` currently you can uninstall it and then installing `gh` will work properly. Another option would be to rename one of the executables so that they both can be used. Since this is not an actual bug with `gh` I am going to close the is

[2020-11-05 07:27] #2360 closed, assigned to nobody

[2020-11-05 07:30] samcoe commented on #2355
@PatxiofromAlphensign Both of the comments by @cristiand391 and @dsaxton are correct. I am going to close this issue for now but please feel free to reopen if those solutions do not work for you 🙇

[2020-11-05 07:30] #2355 closed, assigned to nobody

[2020-11-05 08:43] camelid opened #2361 "`gh issue create -R` doesn't show issue templates"
### Describe the bug

`gh issue create -R` doesn't ask to choose an issue template, while `gh issue create` in a clone of the repo does.

### Steps to reproduce the behavior

1. Type `gh issue create -R rust-lang/rust` (should happen for `cli/cli` too)
2. It immediately asks for the title
3. Now `cd` into a clone of `rust-lang/rust` and type `gh issue create`
4. Note that it asks to choose a templ

[2020-11-05 08:52] cathrinevaage opened #2362 "gh pr merge N --merge will try to delete branch"
### Description of bug

When merging a pr with the `--merge` flag, it appears to try to delete the branch, even if the `--delete-branch` wasn't provided.

### Steps to reproduce the behaviour

1. Checkout a branch, i.e `develop`
2. Create a PR towards `main`. (`gh pr create -B main`)
3. While still having the `develop` branch checked out, merge the branch with the `--merge` flag. (`gh pr merge N -

[2020-11-05 18:34] ampinsk commented on #2090
@waldyrious I like that! I think it's clearer than what we have today 👍

[2020-11-06 01:34] mutza974 opened #2364 "https://github.com/cli/cli/blob/0f8084d039bf7137cff27374df99c12887f63492/command/root.go"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.
https://github.com/cli/cli/blob/0f8084d039bf7137cff27374df99c12887f63492/command/root.go

[2020-11-06 04:15] divyaramanathan commented on #2362
Hi there! I might be interested in taking a deeper look at this; does your team have any resources or tips you'd recommend to get started? Thanks!

[2020-11-06 04:15] divyaramanathan commented on #2352
Hi there! Is this issue still open? I might be interested in taking a deeper look at this; does your team have any resources or tips you'd recommend to get started? Thanks!

[2020-11-06 04:16] divyaramanathan commented on #2361
Hello! I might be interested in taking a deeper look at this; does your team have any resources or tips you'd recommend to get started? Thanks so much!

[2020-11-06 06:36] #2364 closed

[2020-11-06 08:16] toydotgame commented on #2267
Yep, it works!
I've re-installed Windows 7 and I'm in the process of re-installing my applications. The GitHub CLI installed without any issues and `gh` works on the command line. Thanks! :)

[2020-11-06 09:13] rpeter opened #2366 "gh cli is not working in alpine container."
gh cli binary is not working in alpine 3.12 container.

### Steps to reproduce the behavior

[code]

[2020-11-06 10:40] rsteube commented on #2366
try `apk add --no-cache libc6-compat`

[2020-11-06 11:03] rsteube commented on #1128
Go this working in my fork by simply adding the aliases as subcommands before the completion generation:
https://github.com/rsteube/gh/blob/master/pkg/cmdutil/completion.go#L23

[code]

[2020-11-06 12:39] samcoe commented on #2350
@georgettica Thanks for the feedback. We are aware the our docs can be improved and we have plans to continue to work them. We just recently shipped https://github.com/cli/cli/pull/2257 which adds the `help` and `help environment` documentation to cli.github.com so hopefully that is start in the right direction. As we continue to iterate on the docs we will make sure to take your feedback into acc

[2020-11-06 12:39] #2350 closed, assigned to nobody

[2020-11-06 12:47] samcoe commented on #2344
@bscott This appears to be a SSL certificate issue where your system can't find the right certificates to verify the HTTP request. I don't think this is necessarily a bug with `gh` as we rely on the underlying system for all SSL handling. From a quick google search it seems like this is a common issue with docker environments. Are you trying to run `gh` from inside a container? If so, I found http

[2020-11-06 12:47] #2344 closed, assigned to nobody

[2020-11-06 13:10] samcoe commented on #2356
@alannt777 Thanks for the idea. Our team really likes adding in easter eggs commands that delight our users, for example `repo garden`, and `credits`, we will keep this in mind for next time we are looking to add one 😄

[2020-11-06 13:12] samcoe commented on #2366
Along with @rsteube suggestion you can also take a look at https://github.com/cli/cli/issues/658 which is a previous issue around getting `gh` to work on alpine.

[2020-11-06 13:13] ghost commented on #2356
Awesome!

[2020-11-06 13:33] samcoe commented on #2352
@divyaramanathan This issue is still open and available to be worked on. We are using https://github.com/charmbracelet/glamour to parse our markdown right now, which in turn uses https://github.com/yuin/goldmark. The `goldmark` library already has an emoji extension (https://github.com/yuin/goldmark-emoji) that we should try to use. I think the difficult part is just figuring out how to get that e

[2020-11-06 19:11] rpeter commented on #2366
That works for me, Thank You.

[2020-11-06 19:12] #2366 closed, assigned to nobody

[2020-11-06 19:26] anup6191 opened #2367 "VS Code Github Repo Cloning Problem"
gh : The term 'gh' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a
path was included, verify that the path is correct and try again.
At line:1 char:1
+ gh repo clone anup6191/Infinite-Scroll-Masonry-ImagesLoaded
+ ~~
    + CategoryInfo          : ObjectNotFound: (gh:String) [], CommandNotFoundException
    + FullyQualif

[2020-11-06 22:19] leecalcote commented on #1308
Any solution for having labels copied as well?

[2020-11-07 01:59] Luckylukee opened #2368 "@mislav"
@mislav
When there is already an `origin` remote, should we skip this step or ask to change the current `remote` URL? :thinking:

_Originally posted by @alissonbrunosa in https://github.com/cli/cli/issues/2166#issuecomment-715459470_

[2020-11-07 07:56] shrihanDev commented on #2367
Hmm, seems like `gh` isn't in your `$Env:PATH`.
Please tell two things;
- [ ] The location where you've installed `gh`
- [ ] The contents of your `PATH` environment variable. Use `Write-Output $Env:PATH | clip` to copy the PATH variable contents and paste it in the comments.

[2020-11-07 08:02] contourintegrals commented on #2367
Hmm, seems like `gh` isn't in your `$Env:PATH`.
Please tell;
- the location where you've installed `gh`
- whether you can reproduce the error outside of VS Code? Start `powershell.exe` outside of VS Code and check whether this works.
- whether the location you've installed `gh` is in the `PATH` environment variable. You can check this by pressing <kbd>Windows</kbd> + <kbd>R</kbd> and typing `Syste

[2020-11-07 11:19] rkennesson opened #2369 "label and possibly other options not set if milestone doesn't exist or set to none"
### Describe the bug

`--label "bug"` (and possibly other options as well) doesn't set the label if milestone is chosen in the menu but one doesn't exist or user selects `none` from menu

gh version 1.2.0 (2020-10-27)

### Steps to reproduce the behavior

typing `` then selecting a milestone when none have been defined drops the `label` setting

1. gh issue create --title "Issue 3" --label "bug"
2

[2020-11-07 20:01] AtOmTurk opened #2370 "[AtOmXpLuS](https://atomxplus.com)"
[AtOmXpLuS](https://atomxplus.com)

__Originally posted by @AtOmTurk in https://github.com/amilajack/freesound-player/issues/134__

__Originally posted by @AtOmTurk in https://github.com/atom/atom/issues/21669__

__Originally posted by @AtOmTurk in https://github.com/mdn/browser-compat-data/issues/7312__

__Originally posted by @AtOmTurk in https://github.com/BluLightShow/arduino-bot/issues/58__

[2020-11-07 22:03] zaboyle commented on #2352
@samcoe Hi, I'm working on this issue with @divyaramanathan, and we wanted to confirm the correct behavior for this defect. We've found [this repo](https://github.com/ikatyang/emoji-cheat-sheet) that uses emojis as well as plaintext following the `:word:` format. We think the correct behavior would be to not render emojis in code blocks. This would reflect behavior on the Github website. Are we on

[2020-11-08 03:07] apage-pi opened #2373 "Add support for armhf architecture"
Please add a version of GitHub CLI for the armhf (ARM 32-bit, Example: ARM Cortex-A72)
This will let users on Raspberry Pi OS (Standard (32-bit), not 64-bit Beta) have the features, ease-of-use, and usability of the GitHub CLI

[2020-11-08 04:57] felipedamata commented on #2184
1. No documentation on using auth with SSH... which leads me to...
2. When 'repo create', this is shown (SSH correctly done):
`gh repo create
? Repository name scarlet
? Repository description
? Visibility Private
? This will create 'X' in your current directory. Continue?  Yes
✓ Created repository user/X on GitHub
git@github.com: Permission denied (publickey).
fatal: Could not read from remote re

[2020-11-08 06:54] #2370 closed

[2020-11-08 06:54] #2368 closed

[2020-11-08 10:00] yoav-orca commented on #1725
@cjdenio did you manage to make it work with inputs (e.g. pipeline parameters)?

[2020-11-09 01:57] DboyRedd opened #2377 "No"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-11-09 01:58] DboyRedd commented on #2377
Closedown

[2020-11-09 01:58] #2377 closed

[2020-11-09 02:06] DboyRedd opened #2379 "Go this working in my fork by simply adding the aliases as subcommands before the completion generation:"
Go this working in my fork by simply adding the aliases as subcommands before the completion generation:
https://github.com/rsteube/gh/blob/master/pkg/cmdutil/completion.go#L23

[code]

_Originally posted by @rsteube in https://github.com/cli/cli/issues/1128#issuecomment-723020690_

[2020-11-09 02:06] DboyRedd commented on #2379
El problema

[2020-11-09 02:06] #2379 closed

[2020-11-09 06:54] ghost commented on #901
In my case - doesn't work, neither ssh nor https.

[code]

[2020-11-09 07:44] samcoe opened #2381 "blah"

[2020-11-09 07:44] #2381 closed, assigned to nobody

[2020-11-09 07:45] samcoe commented on #2373
Rolling this into #1960

[2020-11-09 07:45] #2373 closed, assigned to nobody

[2020-11-09 07:57] samcoe commented on #2352
@zaboyle That is correct, we want to keep the same behavior that we see on GitHub which would be not rendering emoji in code blocks. Also, it seems that the `goldmark-emoji` extension I linked above already has the GitHub emoji definitions (https://github.com/yuin/goldmark-emoji/blob/master/definition/github.go) so I would expect that to work as is without having to introduce another library for t

[2020-11-09 09:32] nopeinomicon opened #2382 "Failing to build on openSUSE"
### Describe the bug
Application fails to build with openSUSE OBS, where .spec file replicates the readme on building from source https://github.com/cli/cli/blob/trunk/.github/CONTRIBUTING.md#building-the-project

### Steps to reproduce the behavior

1. Complied with .spec file following the original readme steps. See repository containing .spec file here https://build.opensuse.org/package/show/ho

[2020-11-09 09:34] nopeinomicon commented on #2382
Also as a note regarding the log line `fatal: not a git repository (or any of the parent directories): .git`:
This is due to the nature of how to source file was packaged for the project. I tried doing it again in such a way that preserved the git repo files and the network errors were still there.

[2020-11-09 14:07] marmorag commented on #418
Hi, this bug still affect my version

[code]
![ghcli_issue](https://user-images.githubusercontent.com/25364623/98551004-14da6900-229d-11eb-975f-11bc2827d5ce.png)

Do you have any clue or workaround on how to fix this ?
Thanks.

[2020-11-09 14:09] StefKors opened #2385 ""gh pr view -w" should open a create PR view if it doesn't exist yet."
### Describe the feature or problem you’d like to solve

Often I'm navigating GitHub just to open a new Pull Request.

### Proposed solution

if `gh pr view -w` returns with `no open pull requests found for branch `
run `gh pr create -w` instead

How will it benefit CLI and its users?
No need to navigate around, but still get the web interface

[2020-11-09 14:33] billygriffin commented on #2385
@StefKors Thanks for the idea. I'm a bit skeptical of this just because it's not clear to me that this would be something people would expect and I'm concerned it would feel jarring if you type that you want to view something and instead it just goes to the PR creation process, but I'm curious to hear more. Is there a reason you prefer not to just run `gh pr create -w` when that's what you're tryi

[2020-11-09 15:03] StefKors commented on #2385
@billygriffin It's for when I'm not sure I already created a PR or not. Perhaps UX wise an extra argument on the view PR might be more logical:
[code]

I was thinking it would work like how `push.default = current` works (so you don't have to set the upstream manually)
https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushdefault

[2020-11-09 17:42] ls-jad-elkik commented on #2179
Would it make sense to add an argument to `gh auth login` that allows us to specify aliases manually?

[2020-11-09 17:46] jglick commented on #1725
And in conjunction with #1634, the command should (optionally) tail the running Action log.

[2020-11-09 18:10] jglick commented on #1268
At least document the current behavior. I would have assumed that `--paginate` does the intuitive thing of giving you one aggregate list (the way `hub4j/github-api` does for example). Instead

[code]

[2020-11-09 19:57] ddonahoevibrenthealth commented on #385
Has there been any update on this? It would be extremely helpful since it would allow for developers to create native wrappers around it for language specific implementations.

[2020-11-10 00:16] bjubes commented on #2362
from the docstring, it looks like this is intended behavior:
https://github.com/cli/cli/blob/9edcd686e22212a0ca6c3b693d5bc0dec3fb7016/pkg/cmd/pr/merge/merge.go#L55-L60

[2020-11-10 00:24] cathrinevaage commented on #2362
It's worth noting that that is from before the default answer to deleting the branch was changed to no.

[2020-11-10 01:52] divyaramanathan commented on #2362
Hi @bjubes and @cathrinevaage! Just to clarify, the new default behavior should _not_ delete the branch?

[2020-11-10 06:38] nopeinomicon commented on #2382
Using https://github.com/openSUSE/obs-service-go_modules in the package services fixed the issue. I will close this now. Hope it helps anyone out who like me misses the obvious haha. Thanks!!

[2020-11-10 06:38] #2382 closed, assigned to nobody

[2020-11-10 10:05] blacksails commented on #1743
I have issues on Gnome terminal with solarized dark `gh pr view 2214` on the gh cli repo gives this output:
![image](https://user-images.githubusercontent.com/3807831/98659568-87525400-2344-11eb-8dd0-f2d68559425a.png)

I marked the areas where text color is the same as background color. The problem with the solarized theme is that it uses the bright colors as different shades of grey. In the examp

[2020-11-10 11:19] mislav commented on #418
@marmorag Hi, could you tell us more about your OS, terminal emulator, and viewport width inside the terminal?

Often, you can use this command to measure terminal width: `tput cols`

[2020-11-10 11:25] mislav commented on #1743
@blacksails Are you running a recent version of GitHub CLI? Does setting `GLAMOUR_STYLE=dark` fixes it for you?

[2020-11-10 11:34] mislav commented on #2362
`--delete-branch` being `true` by default was intended behavior per https://github.com/cli/cli/pull/899#discussion_r427325034, even though that call was disputed in review.

The interactive prompt also used to default to `Y` ("yes") when asking whether you want to delete the branch. We changed that to "no" recently: https://github.com/cli/cli/pull/1962. This created a difference in defaults betwee

[2020-11-10 12:14] marmorag commented on #418
I use `Ubuntu 18.04.5 LTS` with `Konsole 17.12.3` terminal

[code]

[2020-11-10 12:17] pabloonbrand commented on #588
I'm not using this tool but as far as I can see it's impossible to create a PR from origin to origin. This is pretty easy to do in BitBucket but in GitHub, I'm forced to select a branch of the upstream repo, I CANNOT PICK A BRANCH FROM THE SAME ORIGIN REPOSITORY!

This makes it impossible to collaborate locally before pushing to upstream.

Am I doing something wrong? How is it possible that someth

[2020-11-10 12:44] mislav commented on #588
@pabloonbrand People tend to use the terms "origin" and "upstream" slightly differently, so I can't really tell what is the exact relation between the repositories that you're describing. I'm going to assume that "origin" is your fork and "upstream" is the parent repository of your fork.

You can absolutely collaborate on a PR entirely on "origin". With GitHub CLI, this would be something like:
[c

[2020-11-10 12:54] pabloonbrand commented on #588
@mislav is there a way to do it using GitHub website?

[2020-11-10 14:45] mislav commented on #588
@pabloonbrand Yes: go to `github.com/pabloonbrand/myrepo/compare`, then choose a base branch (if different than the main branch) and a head branch. You will be presented an option to create a PR for these branches.

[2020-11-10 16:06] mislav commented on #2367
@shrihanDev Thanks for detailed pointers!

@anup6191: your PATH inside PowerShell is most likely the issue. Check that using the instructions provided please!

Closing since this is a configuration issue

[2020-11-10 16:06] #2367 closed, assigned to nobody

[2020-11-10 18:05] Artofaj commented on #642
Came here looking for exactly this feature. The workaround is great, but having it implemented by default would be way nicer!

[2020-11-11 07:11] atpsg commented on #901
@ushakov-31293
I managed to clone a private repo this way:
1/ [generate a ssh key](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent)
2/ [Add the ssh key to your github account](https://docs.github.com/en/free-pro-team@latest/articles/adding-a-new-ssh-key-to-your-github-account)
3/ set the protocol of gh to be ss

[2020-11-11 07:25] guerinoni commented on #2356
Maybe I can work on this as my first issues :D

[2020-11-11 10:14] inwardmovement opened #2391 "Confirm flag not working as expected"
### Describe the bug

`gh version 1.2.0`
I may have misunderstood this flag but `gh repo create -y` ("Confirm the submission directly") still makes the user validate all choices manually.

### Steps to reproduce the actual behavior

1. `gh repo create -y`
2. The user has to press Enter again and again to submit the choices.

### Expected behavior

1. `gh repo create -y`
2. The command is executed

[2020-11-11 10:42] qaisjp commented on #2037
Is connecting through unix sockets supported? i.e. with curl it would be `curl --unix-socket $HOME/.proxy https://github.com`.

[2020-11-11 11:13] mislav commented on #2391
Sorry for this not being more clear. The `-y` in this command (or any command) does not remove all prompts. It only skips the confirmation prompt at the end. To skip other prompts, you must use arguments and flags to provide all necessary information. For `repo create`, the necessary information would be the repo name + visibility. For example:

[code]

Context: https://github.com/cli/cli/pull/149

[2020-11-11 11:13] #2391 closed, assigned to nobody

[2020-11-11 12:00] mislav commented on #2359
Thank you for the request!

I also think it can be useful to find PRs that introduce a commit by SHA. We're already tracking this here as "search by commit SHA" https://github.com/cli/cli/issues/641

Not sure when we will ship this filtering option, but in the meantime, you can do this:
[code]

[2020-11-11 12:00] #2359 closed, assigned to nobody

[2020-11-11 12:13] #2357 closed, assigned to nobody

[2020-11-11 13:44] mislav commented on #1308
@leecalcote You can extract labels programatically as well:

[code]

Then you can pass them in as `--label` value to `issue/pr create`. Here's the catch, however. The `--label` flag supports comma-separated labels, but they should not have spaces around the comma character. So, instead passing `--label 'core, enhancement, needs-design'`, you need to ensure that this gets passed: `--label 'core,enh

[2020-11-11 15:10] #2042 closed, assigned to nobody

[2020-11-11 17:17] andres-lowrie commented on #1023
building off of @krlmlr 's comment. It could be useful to have the whole sub command take an argument that would be the message, similar to how `git commit -m` works; so something like this

[code]

This could work the same for all the flags too not just `m` , basically changing the usage to something like this

[code]

[2020-11-11 17:30] jorng opened #2394 "gh does not work with split-tunnel VPN on macOS"
### Describe the bug

When running a split-tunnel VPN on macOS, `gh` is not able to connect to a private GHE server that requires the VPN.

### Steps to reproduce the behavior

1. Setup VPN
2. Attempt to open PR (or anything else that connects to GHE on the VPN)

### Expected vs actual behavior

[code]

### Notes
This is a result of compiling the `gh` tool for macOS on another platform (and potent

[2020-11-11 18:56] rtkbkish commented on #2193
Not listing the token in the UI has caused consternation on our team.

[2020-11-12 03:28] Vbbab opened #2396 "Allow extensibility of gh like git"
### Describe the feature or problem you’d like to solve

Allow extensibility of `gh` features like the way `git` does

### Proposed solution

`git` allows users to easily extend the basic framework with additional features, by placing binaries on `PATH` in the format of `git-<command>`. However, this does not appear to be a feature with `gh`. A lot of custom tools could be helpful this way -- auto

[2020-11-12 04:50] zaboyle commented on #2352
@samcoe me and @divyaramanathan are currently toying with `goldmark-emoji`. We were able add the dependency and  modify the rendering of the  `:de:` in the `strongswan/strongswan` README
from the original
![image](https://user-images.githubusercontent.com/33520963/98896735-af8e9f80-2477-11eb-863f-d4ed59aff33a.png)

to
![image](https://user-images.githubusercontent.com/33520963/98896992-570bd200-24

[2020-11-12 05:03] divyaramanathan commented on #2352
Just to add on to what @zaboyle said, `&#x1f1e9;` is the Unicode hex character code for 'd' and then `&#x1f1ea;` is the  Unicode hex character code for 'e'.

I believe we are very close-- do you think this could relate to the type of terminal we're running on?

[2020-11-12 08:44] samcoe commented on #2193
@rtkbkish I believe this has actually been fixed and you should be able to revoke the CLI auth token in the UI now at https://github.com/settings/applications. I am going to close this issue for now, but please comment if you are still having issues.

[2020-11-12 08:47] #2193 closed, assigned to nobody

[2020-11-12 08:51] mislav commented on #2396
We've previously considered this, but it was too premature in the scope of the project: https://github.com/cli/cli/pull/1037

Perhaps it's time to revisit this?

[2020-11-12 08:57] melyalex commented on #2396
Why too early

On Thursday, 12 November 2020, Mislav Marohnić <notifications@github.com>
wrote:

--
Cordialmente
Lunardi Melissa
+39 3247809947

[2020-11-12 09:43] Blklove commented on #2396
look I learning but this was helpful

[2020-11-12 10:19] mislav commented on #2394
@jorng Thank you for reporting!

Could you try building the tool on your machine and see if the VPN is then automatically used?
[code]

If the above steps help, we will consider building the macOS binaries from macOS instead of from Linux. 🙇

[2020-11-12 10:54] mislav commented on #2179
@ls-jad-elkik Could you elaborate about the use-case? I don't see how that could be useful over the current feature of parsing hostname aliases from ssh config files.

[2020-11-12 15:48] ghost opened #2398 "[QUESTION] Why doesn't `gh repo garden` work on Windows?"
I discovered this command when @samcoe mentioned about it: https://github.com/cli/cli/issues/2356#issuecomment-723072995

When I tried to run it, I got an error saying that it doesn't work in Windows. Why?

###### I tried it in WSL and It's awesome. Useless but awesome

[2020-11-12 16:43] amamut commented on #2321
After adding autocompletion script to zshrc on Ubuntu 20.04:
`gh __start_gh:6: command not found: _init_completion`

gh version:
`gh version 1.2.1 (2020-11-11)`

[2020-11-12 16:43] vilmibm commented on #2398
Hi, thanks for asking!

I implemented garden without the help of third party libraries and ran out of time before I could make it cross-platform.

I'd like to re-do it in tcell at some point which should allow it to work on windows.

[2020-11-12 18:21] contourintegrals commented on #2321
For `zsh` users:
[code]

Please try this.

[2020-11-12 19:24] hjdivad commented on #1128
FWIW a very simple bash script to wrap the existing completion:

[code]

[2020-11-12 20:41] kamenminkov commented on #1729
For me, doing `sudo rm /etc/apt/trusted.gpg.d/home:manuelschneid3r.asc` (as per [this answer](https://askubuntu.com/a/1247655/445459)) and then following the steps in the first answer here worked. Running Pop!_OS 20.10.

[2020-11-12 21:48] billygriffin commented on #2385
@StefKors Thanks again for the issue. We talked about this internally and we don't think there's enough here to warrant including in the product. Obviously if this is something we're seeing others struggling with on a regular basis, we're totally open to revisiting that. Really appreciate you sharing your thoughts!

[2020-11-12 21:48] #2385 closed, assigned to nobody

[2020-11-12 22:35] vilmibm commented on #2356
Thanks for the suggestion :) we're going to hold off on a `zen` command, though.

[2020-11-12 22:35] #2356 closed, assigned to nobody

[2020-11-12 22:37] cored commented on #2304
@vilmibm @mislav is this still a priority? I also tried what @mislav did and got the same output:
[code]
I am a not fully understanding the issue here @vilmibm are you suggesting to add a message during the initial `auth` menu?

[2020-11-13 03:44] astrochun opened #2401 "Unable to view specific branch using `gh repo view`"
### Describe the bug

`gh repo view -h` has a `-b` or `--branch` option to open specifically a branch.

However, when specifying any branch with the `-w` option, the browser load still shows `main`/`master` branch

### Steps to reproduce the behavior

1. In a .git path, type: `gh repo view --branch develop -w`

### Expected vs actual behavior

Expected to take you to: https://github.com/<username>

[2020-11-13 05:34] camelid opened #2402 "Fetch remote when merging PR and deleting the branch"
### Describe the feature or problem you’d like to solve

When you use `gh pr merge` to merge a PR, you have the option to delete the branch and switch to the main branch. However, the PR has only been merged to the remote main branch, not the local one. This means that you may forget to `git pull` because you merged it and switched to master, but didn't fetch the latest changes.

### Proposed solu

[2020-11-13 05:40] camelid opened #2403 "Selecting options in `gh pr merge` deletes lines in terminal"
### Describe the bug

Selecting different options when running `gh pr merge` deletes lines in my terminal. My command prompt usually looks like:

[code]

But after selecting options in `gh pr merge`, it looks like this:

[code]

Whenever I press an arrow (up, left, right, or down), another line directly above the "What merge method" prompt is deleted. **Note that this doesn't happen with any other

[2020-11-13 05:51] camelid commented on #2403
Pressing <kbd>Enter</kbd> deletes the line directly above as well.

[2020-11-13 07:08] samcoe commented on #2352
@zaboyle @divyaramanathan It seems unlikely that it is related to the terminal you are running. I think it would be easiest to open a draft PR so that I can better help with resolving this issue.

[2020-11-13 09:01] alissonbrunosa commented on #2401
I could reproduce this issue.
My version is: `gh version 1.2.0-84-g6e1e62f4 (2020-11-12)`
I'd like to take a look at this.

[2020-11-13 09:08] georgettica commented on #2350
Thanks! @samcoe , if I can help in some way please ping me

[2020-11-13 12:05] #2401 closed, assigned to nobody

[2020-11-13 15:00] LeonardAukea opened #2406 "Permission denied when cloning repo even with successful login"
### Describe the bug

I fail to clone a private & internal repository using `gh repo clone`
. The repo is within an Organization with SSO. I've tried using login via Web browser and also a personal token that is SSO enabled. I've also chose `ssh` which is required from the org side.

Interestingly, I was able to create a repository on github and even use the `--template` flag.  I would assume that

[2020-11-13 15:09] mislav commented on #2406
Thanks for detailing your use case. Since your org mandates the use of SSH for cloning/pushing, it doesn't sound like you are allowed to use HTTPS for git operations, correct?

Regarding authenticating with SSH from within the docker container: did you already have a plan to achieve that? I.e. I think you would either need to 1) copy your SSH private key into the container, or 2) ssh into the cont

[2020-11-13 15:35] mislav commented on #2402
Good idea! Duplicate of https://github.com/cli/cli/issues/1444#issuecomment-665562233

[2020-11-13 15:35] #2402 closed, assigned to nobody

[2020-11-13 15:38] mislav commented on #2403
Thanks for reporting! Could you please share more information about your OS, terminal emulator, and perhaps shell? Could you also check `gh version` and see if maybe upgrading to the latest version helps?

Lastly, is the issue the same if you try resizing your terminal window, e.g. make it larger?

[2020-11-13 15:41] LeonardAukea commented on #2406
@mislav I was kind of hoping that `gh auth login` would look for existing ssh keys and if they do not exist -> generate them and ensure that they are properly reflected on github in order for git and gh to work properly, at least when you choose `ssh`. That would have been benifical for this particular use case, as I was hoping to avoid uploading ssh keys.

Basically, we spin up short lived resear

[2020-11-13 16:19] mislav commented on #2406
@LeonardAukea Thanks for explaining. In theory, gh could help you generate an SSH key for the temporary environment and upload the public SSH key to your GitHub account, but to avoid the ever-growing list of SSH keys in your account, I think it would be a much better idea if you could forward your ssh-agent into your container and then have the container use your existing ssh key from your host ma

[2020-11-13 16:26] LeonardAukea commented on #2406
@mislav I disagree. Rather, I would focus on mitigating the issue of an ever growing list of ssh keys by eg. Have some pattern for removal of ssh keys. The containers in my use case are not meant to be ssh'd into. Basically, we have a notebook controller that launches pods running ipykernel and jupyterlab. The goal is to provide a nice working environment kind of isolated from local.

What if one

[2020-11-13 20:37] camelid commented on #2403
Sorry, I meant to share that information in the OP.

- OS: macOS Catalina
- Terminal: macOS Terminal (built-in terminal)
- Shell: fish

I was on 1.2 when I reported, but I just upgraded to the latest (1.2.1) and I still have the issue.

Interesting: it works fine when my terminal is a bit larger. E.g., I expanded from 80 x 24 to 84 x 24 and it works fine. Not sure what that means 🤷

[2020-11-14 09:13] yanshiqwq opened #2409 "使用命令行更新CLI"
可以添加一个命令: "gh update"
功能: 检测最新版本和系统版本并更新

在有新版本的时候,可以从这个提示

A new release of gh is available: 1.0.0 → v1.2.1
https://github.com/cli/cli/releases/tag/v1.2.1

改成这个提示

A new release of gh is available: 1.0.0 → v1.2.1
https://github.com/cli/cli/releases/tag/v1.2.1
Run "gh update" to update.

[2020-11-14 10:27] armsp opened #2410 "Installing on Ubuntu(latest) through a github action workflow does not work"
I am trying to install the cli in a worker that github action spawns to be able to create issues or pull requests.
I followed the instructions for Ubuntu in the Readme. However it gives me the following error -
**Log**
[code]

**Relevant workflow file code for the installation**
[code]

[2020-11-14 11:51] armsp commented on #2410
It comes preinstalled !

[2020-11-14 11:51] #2410 closed, assigned to nobody

[2020-11-14 12:35] armsp commented on #1820
@mislav I have the same issue when I try this from a github action worker.
I commands I have used inside the worker are -
[code]
Is this the correct way to make a PR from a local git branch to the remote master/main branch?

[2020-11-14 13:59] tranbaominh1 opened #2411 "tranbaobien5@gmail.com"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-11-14 13:59] tranbaominh1 opened #2412 "tranbaobien5@gmail.com"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-11-14 14:00] tranbaominh1 opened #2413 "tranbaobien5@gmail.com"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-11-14 15:51] roobert commented on #1725
Hey all, thought I'd share my stop-gap solution to this problem inspired by this thread: https://github.com/roobert/github-action-helpers

I basically combined some ideas from here so I can run a command to launch an action and then once the action is complete the logs are fetched for the completed action. The implementation is specific to how we do things but thought the use case and maybe a bit

[2020-11-14 18:11] Aelerinya opened #2414 "Complete filename in `gh gist create`"
### Describe the feature or problem you’d like to solve

The completions for subcommand `gh gist create` should propose filenames, and not just options.
For now, it only completes options, and filenames have to be written entirely by hand, as file completions is completely disabled for this subcommand.

I'm using the completions generated using: `gh completion -s zsh`.

### Proposed solution

Add

[2020-11-14 20:51] cristiand391 commented on #2414
Which version of `gh` and `zsh` are you using?

`gh` uses Cobra to generate shell completions, which [enables file completion by default for zsh](https://github.com/spf13/cobra/blob/master/zsh_completions.md#behavioral-changes).

[2020-11-15 04:46] ghost commented on #601
Something like this?:

![image](https://user-images.githubusercontent.com/67918878/99165174-8ac25280-272b-11eb-87a9-1b9862c44113.png)

[2020-11-15 16:12] anup6191 commented on #2367
Thank You for Helping Me

[2020-11-15 17:48] mutza974 opened #2416 "Super"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-11-15 21:07] camelid opened #2417 "PR title isn't shown when selecting the prepopulated title"
### Describe the bug

When I select the default PR title (with <kbd>Enter</kbd>) that `gh` prepopulates from the commit subject or branch name, the title is not shown even though it is correctly filled-in in the opened PR:

[code]

Also, this might be unrelated, but my cursor is hidden when typing the PR title, which is annoying.

### Steps to reproduce the behavior

1. `gh pr create`
2. Press <kb

[2020-11-16 05:27] #1229 closed, assigned to samcoe

[2020-11-16 07:02] hcsong213 opened #2418 "Cloning private repo on WSL (Ubuntu 20.04) problematic"
### Describe the bug

v. 1.2.1
Authentication required again for cloning private repo. This second auth is not working properly.

### Steps to reproduce the behavior

On **WSL Ubuntu 20.04:**
1. Use `gh auth login` to auth
2. Try cloning a private repo under the authenticated account (eg: `gh repo clone hcsong213/cs`)
3. gh asks for another auth which fails even with correct username/pw

### Expec

[2020-11-16 07:03] #2411 closed

[2020-11-16 07:03] #2412 closed

[2020-11-16 07:03] #2413 closed

[2020-11-16 07:03] #2416 closed

[2020-11-16 07:36] samcoe commented on #2409
Thanks for writing in 🙇 We tracking this feature request in https://github.com/cli/cli/issues/166.

[2020-11-16 07:36] #2409 closed, assigned to nobody

[2020-11-16 07:46] samcoe commented on #2418
@hcsong213 Thanks for reporting. What is happening here is that `repo clone` uses the `git clone` command internally and while `gh` is authenticated it seems that `git` is not correctly authenticated with GitHub. So this error message is coming from there. We are aware this is confusing and are tracking that issue in #2094.  I am not sure why the username and password is not working, if you are ce

[2020-11-16 07:47] samcoe commented on #2398
Going to close since the question has been answered 🙇

[2020-11-16 07:47] #2398 closed, assigned to nobody

[2020-11-16 07:48] ghost commented on #2398
Maybe use this issue as the tracking issue for making this compatible with Windows?

[2020-11-16 08:06] samcoe commented on #2361
@camelid Good catch. I changed this to an enhancement since right now that is how the command is designed to work. We only check locally for issue templates, and when specifying the `-R` flag it is not required to have the repository cloned locally. The GraphQL API does expose repo issue templates though https://docs.github.com/en/free-pro-team@latest/graphql/reference/objects#issuetemplate so I d

[2020-11-16 09:06] blacksails commented on #1743
@mislav Running v0.12.0 output is the same when setting `GLAMOUR_STYLE=dark`

[2020-11-16 09:07] samcoe commented on #2417
This sounds like a great improvement to me; it's something that would currently have to be patched in the prompt library we use, https://github.com/AlecAivazis/survey/. I think the hidden cursor is an unrelated issue, but is also behavior that would need to be patched in that library.

[2020-11-16 09:08] blacksails commented on #1743
Should I create a new issue for Gnome terminal + gh cli + solarized colors? or maybe just gh cli + solarized, as this shouldn't really be a problem with the terminal emulator, but more a support issue with how the gray color is rendered, when using solarized.

[2020-11-16 09:23] blacksails commented on #1743
The problem is here https://github.com/cli/cli/blob/trunk/pkg/iostreams/color.go#L18 because the solarized theme uses bright green as gray. This line should be `gray    = ansi.ColorFunc("green+h")` when using solarized.

[2020-11-16 10:10] yooonnadi opened #2419 "Test"

[2020-11-16 10:40] #2419 closed, assigned to nobody

[2020-11-16 11:18] mislav commented on #1743
@blacksails Would you update to the latest version and try again? I'm pretty sure we fixed this issue in v1.0 back in September https://github.com/cli/cli/releases/tag/v1.0.0

[2020-11-16 13:00] mislav commented on #2361
@divyaramanathan Sorry for the late reply! We would appreciate if someone like you could take a stab at this.

There is now a `Repository.issueTemplates` GraphQL connection that returns a list of IssueTemplate objects. Our original templates implementation predates this API, so we opted to read the templates from disk instead. This, of course, does not work with `-R`.

My preferred solution would

[2020-11-16 13:48] mislav commented on #2406
I feel that it's little likely that GitHub will allow adding auto-expiring ssh keys to one's account. But since there is an SSH keys API, you may use the API to manage SSH keys yourself.

I will close this issue in favor of #1755 where we track adding SSH key management to GitHub CLI, and #1434 where we discuss setting up your git credentials for cloning/pushing after you authenticate with GitHub

[2020-11-16 13:49] #2406 closed, assigned to nobody

[2020-11-16 13:55] mislav commented on #1434
If the user already has SSH keys in their `~/.ssh` directory, GitHub CLI could offer to default to SSH protocol for cloning/pushing and ensure that the public SSH key is uploaded to the user's account.

If there are no local SSH keys, but the user indicates that they would still like to use SSH for authentication (e.g. if their org mandates it), we could guide the person through the process of gen

[2020-11-16 14:04] mislav commented on #2094
I'm sorry for the bad experience after authenticating with GitHub CLI! Agreed that, ideally, you should be set up to clone right away after setting up GitHub CLI, so we're tracking it here: #1434

[2020-11-16 14:04] #2094 closed, assigned to nobody

[2020-11-16 14:07] mislav commented on #2418
@hcsong213 When prompted for your "password", you can use the token shown in the output of `gh auth status --show-token`.

In a future version of GitHub CLI, this will be handled for you: #1434. Closing as duplicate. 🙇

[2020-11-16 14:07] #2418 closed, assigned to nobody

[2020-11-16 16:11] equalsJeffH commented on #601
Not sure what you are suggesting "this" is.  If you are suggesting "url printing might rely on whether ctrl+clicking is supported", ISTM that is a second-order concern.  It would be very helpful for me if we could simply have URL-printed output as suggested in https://github.com/cli/cli/issues/601#issuecomment-616773427

[2020-11-16 16:14] roskelleycj opened #2420 "PR create with Single commit does NOT prepopulate using the body of the commit"
When I'm on a branch of a single commit and I run this command:

[code]

I am prompted for a 'title' and if I type nothing it will be pre-populated with the same title as the single commit's title.
Next I'm prompted for a 'body' and there are no options to pre-populate with the same body as the single commit's body.  So I select nothing and of course I get nothing.

If however, I use the tradition

[2020-11-16 16:19] contourintegrals commented on #2417
Hmm, this also happens in `gh repo create`(for repo name). But the repository is created successfully with the pre-populated name on GitHub

[2020-11-16 16:59] ghost commented on #601
I think OSC 8 is the way to go:

![Hyperlink in the terminal!](https://user-images.githubusercontent.com/67918878/99283383-f5be7700-285a-11eb-9572-4c7919fc0d72.png)

A lot of terminals, even the Windows Console Host - conhost.exe (the one that sucks) supports OSC 8

**Learn more [here](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda)**

[2020-11-16 18:02] ls-jad-elkik commented on #2179
I just thought of an alternative along the lines of the OP's suggested alternative. I imagine it would be simpler than handling ssh_config parsing (and potentially slightly wrong or lacking implementations, and different versions of SSH clients perhaps) by giving the user more flexibility and since you kind of already do this for GitHub Enterprise authentication.

For example, you can override the

[2020-11-16 18:36] camelid commented on #2417
@samcoe Hmm but I think this has only been an issue in version 1.2.1 — I think it worked correctly before.

[2020-11-16 20:04] ben0x539 commented on #2199
Hi, just ran into this as a very new user with `gh gist list`. Naively I expected that after `gh auth login --hostname ...`, everything would default to that hostname. I looked through a few `--help` messages expecting `--hostname`-style arguments to other commands, but didn't find anything/never thought to check for environment variables.

Would a "you tried to use \<command> which requires authe

[2020-11-16 21:47] #1832 closed, assigned to nobody

[2020-11-16 22:01] #2071 closed, assigned to nobody

[2020-11-17 08:20] samcoe commented on #2417
@camelid Thanks for that additional information. We did bump the version of survey in our [latest release](https://github.com/cli/cli/commit/be783cf2567d27f6396b4d32ea4082857192a0da). I did verify that downgrading it to v2.1.1 did fix both of these bugs.

[2020-11-17 08:52] samcoe commented on #2420
@roskelleycj Thanks for writing in. `gh` _should_ automatically pre-populate the body of the PR with the body of the git commit. Can I ask what the output of `git -c log.ShowSignature=false show -s --pretty=format:%b <commit sha>` is for your single commit? That is the command we use to parse the commit body so if that is returning a blank string then that would result in a blank PR body.

One imp

[2020-11-17 10:34] dkirrane opened #2422 "WSL2 - gh auth login doesn't launch browser"
### Describe the bug

`gh auth login` doesn't launch the browser when I chose `How would you like to authenticate? Login with a web browser`
It just hangs on
[code]
### Steps to reproduce the behavior

1. Open WSL2 Ubuntu 20.04 + install gh cli
2. Add `export BROWSER="/mnt/c/Windows/explorer.exe"` in `~/.bashrc`
3. `source ~/.bashrc`
4. `gh auth login`

### Expected vs actual behavior

Browser sho

[2020-11-17 11:09] mislav commented on #2422
@dkirrane Thank you for reporting.

Does running this directly open a web browser?
[code]

[2020-11-17 11:45] l2dy commented on #1504
In Go, `time.Local` represents the system's local time zone and consults the TZ environment variable on Unix systems. @mislav Anything else you need?

https://golang.org/pkg/time/#Location

[2020-11-17 15:00] Aelerinya commented on #2414
I run zsh 5.8 on Arch linux.
I seemed to have an old version of the completion scripts, as I regenerated it and it is completely different from the previous one. Now `gh gist create` completes file names.

I now see that the problem was that zsh was not using the completion file installed with the github-cli package. I was not calling compinit properly in my .zshrc file and did not get the complet

[2020-11-17 15:00] #2414 closed, assigned to nobody

[2020-11-17 16:01] dkirrane commented on #2422
@mislav ya issue was with `/mnt/c/Windows/explorer.exe`  I switched to using `export BROWSER="wslview"` and chrome opens fine now

[2020-11-17 16:01] #2422 closed, assigned to nobody

[2020-11-17 16:37] mislav commented on #1504
@l2dy Thanks for the tips! This should be enough information for us, or anyone reading, to add a `Time-Zone` request header to our API requests. 🙇

[2020-11-17 18:27] #1682 closed, assigned to nobody

[2020-11-17 19:27] ampinsk opened #2424 "[Tracking] Papercuts"
@vilmibm and I thought we could use a place to track really tiny quality of life type issues that we can then spin out into issues if needed

- [ ] Glamour markdown rendering doesn't allow for line breaks
- [ ] Glamour markdown interprets <> as html; the site build reinterprets the workaround in a funky way
- [ ] Glamour markdown doesn't bold usernames
- [x] The site renders -- as — (https://githu

[2020-11-18 06:26] #2417 closed, assigned to nobody

[2020-11-18 07:20] gerome-github-gromeg-website opened #2425 "Commits to tests"
https://github.com/gerome-github-gromeg-website/All-tasks-Created-All-Repository-Created-All-Forks-Created-All-Accounts-All-Packages-and-commits/issues/8

[2020-11-18 08:59] mislav commented on #1262
@Vishesh-Gupta It sounds like you are making a tool to automate updating Winget manifest files upon release, sort of like https://github.com/marketplace/actions/bump-homebrew-formula? And the idea is to wire up that tool as part of our release automation?

If so, would you mind renaming the issue into something that better reflects that? 🙇

[2020-11-18 09:09] mislav opened #2426 "Ensure our release binaries work on Apple Silicon"
It looks like macOS arm64 architecture requires all Go binaries to be signed: https://github.com/golang/go/issues/42684

We currently produce macOS binaries from Linux, but if we switch our release automation to compiling them from macOS, this might be enough to alleviate this. I'm not yet sure whether that would require the Actions runner to also be arm64.

[2020-11-18 09:53] gerome-github-gromeg-website opened #2427 "Commits to tests"
https://github.com/gitlabhq/terraform-provider-gitlab/issues/486

[2020-11-18 09:58] gerome-github-gromeg-website opened #2428 "Internal/External"
https://github.com/gerome-github-gromeg-website/external-internal/issues/2

[2020-11-18 11:25] mutza974 opened #2430 "Docs"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-11-18 11:35] gerome-github-gromeg-website opened #2431 "Tests and Commit to process"
https://github.com/Website-and-Market-Store/TestFlight/issues/4

[2020-11-18 13:13] #2425 closed

[2020-11-18 13:13] #2427 closed

[2020-11-18 13:13] #2428 closed

[2020-11-18 13:13] #2430 closed

[2020-11-18 13:14] #2431 closed

[2020-11-18 13:20] cyrilletuzi commented on #1674
For info, after finalizing real world publishing scripts, I realized that I still needed the version for other parts of the scripts (for example, to publish the VSIX of a VS extension, to automatically take the good part of the changelog for the release description, etc.).

So in the end I don't need this feature anymore. I'll keep the issue opened as someone else seemed interested, but I'll unsub

[2020-11-18 14:55] San1212 commented on #2396
Duplicate of # @samcoe

[2020-11-18 14:55] San1212 opened #2432 "Duplicate of # @samcoe"
Duplicate of # @samcoe

_Originally posted by @San1212 in https://github.com/cli/cli/issues/2396#issuecomment-729732217_

[2020-11-18 14:56] San1212 commented on #2432
- [ ]

1.

- __

[2020-11-18 14:57] #2432 closed, assigned to nobody

[2020-11-18 17:14] GMNGeoffrey commented on #2311
This issue persists. Any pointers?

[2020-11-18 17:21] Thassadar1387 opened #2433 "installing-github-apps.md"
https://github.com/Thassadar1387/EnterprisesGracida.Page/issues/3

[2020-11-18 17:30] Billybar commented on #2360
any chance to get more noob details on how to fix this issue?
thanks in advance :)

[2020-11-18 18:31] #1734 closed, assigned to nobody

[2020-11-18 19:55] vilmibm commented on #1294
Having just looked at the code for this in #2386 it seems very intentional: we reinstate the template if the body has been blanked out, I assume in order to discourage contributors from ignoring templates.

Is this not desired behavior? If not, I might be missing something but it seems like a trivial fix at this point (perhaps it wasn't prior to refactoring).

[2020-11-18 19:56] #2059 closed, assigned to nobody

[2020-11-19 01:06] vilmibm commented on #441
I'll be taking this work on.

[2020-11-19 01:15] lingr7 commented on #2360
it is like to about` zsh -> antigen -> oh-my-zsh ->  gitsome`  A supercharged Git/GitHub command line interface (CLI).https://github.com/donnemartin/gitsome

`zsh` use `antigen` to manage PLUG.
[code]

[2020-11-19 02:38] linzhengen opened #2435 "Tests fail based on locale changes in LC_CTYPE"
### Describe the bug

Test failed on macOS Big Sur.
Branch: `trunk`
Git Hash: `ee4827483d75a9d3c819ae8cf152c729f3e03366`
OS: macOS Big Sur 11.0.1
go1.15.3 darwin/amd64
MacBook Pro (Retina, 15-inch, Late 2013)

### Steps to reproduce the behavior

[code]

### Logs

[code]

[2020-11-19 07:55] #2433 closed

[2020-11-19 08:00] samcoe commented on #2435
@linzhengen I am also using Big Sur and am not seeing the same test failures. It looks more like the test failures are coming from special characters returning incorrect display widths. Is there any more information that you can give us about your system? Did you notice these failures before the update to Big Sur?

[2020-11-19 08:04] Billybar commented on #2360
i didnt really understand the commands which should fix the error.
but I still type the command

**input:**
antigen use oh-my-zsh

**output:**
antigen: command not found

[2020-11-19 08:04] Billybar commented on #2360
how can i remove gitsome ?

[2020-11-19 08:21] HUERTAGROUP opened #2436 "README.md"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this 'README.md...'
2. View the output 'Cuenta Marcada....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your

[2020-11-19 09:00] lingr7 commented on #2360
antigen use Declarative syntax to create Configuration file to Manage zsh(one kind of shell) plugins
so do not run `antigen` in shell
what i say is what i think the possible source(Internally used gitsome) zsh plugins' list. (i show my Configuration file content also can see the plugins used by zsh).for me maybe i need remove part of the zsh plugins.

Reference : https://github.com/donnemartin/git

[2020-11-19 09:03] linzhengen commented on #2435
@samcoe
I think I found the cause, all the tests were successful when I used english.
May be a bug in macOS Big Sur.

[code]

- test failure
![image](https://user-images.githubusercontent.com/12340076/99644390-39022b00-2a91-11eb-9a74-e947c551cb96.png)

- test success
![image](https://user-images.githubusercontent.com/12340076/99644199-fc363400-2a90-11eb-8cbc-08ea693d54ca.png)

[2020-11-19 10:09] mislav commented on #2435
@linzhengen Very interesting! Do any of your environment variables change based on OS locale settings? Please compare `env` output before & after (make sure you restart your terminal in-between)

I have no idea why the widths of characters would be measured differently based on OS local settings!

[2020-11-19 12:11] contourintegrals opened #2438 "Print helpful error messages when (some of the) `gh` commands are run"
# The Problem
When (some of) the `gh` commands are run without arguments and/or inside of non-Git-repository folder, they throw a similar not-so-useful error. This wouldn't give the user an helpful message so as to how to execute the command correctly(until `[command] --help`).

---

# The Solution
Instead of the generic message that `Cobra`(I guess) spits out, it should print out a useful message

[2020-11-19 12:22] mislav commented on #1919
This was addressed in #2076.

[2020-11-19 12:22] #1919 closed, assigned to nobody

[2020-11-19 12:36] mislav commented on #2438
@shrihanDev Thanks for the suggestion!

I agree that errors about missing/wrong number of arguments should also cause the usage instructions to be printed. In some places, we explicitly wrap the arguments error in a `cmdutil.FlagError` to trigger this behavior, but in order to cover all the commands, the approach would ideally have to be generalized. Contributions welcome!

For improving error mes

[2020-11-19 12:42] linzhengen commented on #2435
@mislav

Yes, the environment variables have changed in the OS locale settings.

[code]

I changed `LC_CTYPE` environment variable, then execute test.

- test success
[code]

- test failure
[code]

I debug this issue in my environment, if there is any progress I will report it.

thank you.

[2020-11-19 12:50] mislav commented on #1769
This was addressed in https://github.com/cli/cli/commit/38f68d849fbbf4c540398015719047672d0e3d9e.

[2020-11-19 12:50] #1769 closed, assigned to nobody

[2020-11-19 13:45] contourintegrals commented on #2438
@mislav Thanks for the reply.
I believe you can add something in `internal/cli/run.go` that triggers the error when that happens. Of course, there are some commands that do not necessarily need to get arguments from the user, _viz._ `gh repo create` among many others.

[2020-11-19 13:52] mislav commented on #2435
@linzhengen Thanks; this is great! I can see the test failure on my machine with `LC_CTYPE` as well, and I'm on Catalina, so this isn't Big Sur-related.

We use go-runewidth for measuring text width, and it looks like it respects LC_CTYPE, but I'm not sure if that is the cause yet: https://github.com/mattn/go-runewidth/blob/14e809f6d78fcf9f48ff9b70981472b64c05f754/runewidth_posix.go#L67

[2020-11-19 14:30] mislav commented on #2435
Even if this is intended behavior of the go-runewidth library, it seems like this primarily impacts our tests, so a possible workaround could be to wrap the affected tests in logic that normalizes `LC_CTYPE` value.

[2020-11-19 15:00] ghost commented on #2438
Maybe show usage and a link to the docs?

[code]

[2020-11-19 15:05] ghost commented on #2438
It would be nice if we could adopt OSC 8. Heck, even gcc uses OSC 8 for diagnostic messages to point to the docs.

##### See [this](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda) for more info

[2020-11-19 16:14] ghost commented on #1262
@mislav Well someone would have to make a PR to the winget-pkgs repo even if we could make a manifest file automatically. There is a PowerShell script called YAMLCreate.ps1 which will do most of the work for creating a YAML file and will prompt for other metadata.

[2020-11-19 16:17] ghost commented on #1262
I don't know if we can write a GitHub Action for creating a PR.

[2020-11-19 17:08] thomthom commented on #1262
Can a GitHub Action not make a REST request? Calling the GitHub REST API?

[2020-11-19 17:11] ghost commented on #1262
I think it would he easier for someone to write a GitHub App like @dependabot

[2020-11-19 18:59] #1668 closed, assigned to vilmibm

[2020-11-19 20:30] #2436 closed

[2020-11-19 21:41] wiesson commented on #2426
If there is anything to test, I'm happy to help :)

[2020-11-19 23:14] yorhodes opened #2439 "Links are truncated with ellipses in narrow terminals"
![Screen Shot 2020-11-19 at 3 14 16 PM](https://user-images.githubusercontent.com/3020995/99735688-e5381780-2a79-11eb-8f24-bad008ad2c21.png)
A global `no-truncate` flag would be great for link click throughs in narrow terminals

[2020-11-20 06:17] kucharskim opened #2441 "gh repo clone - option to use ssh, instead default https"
### Describe the feature or problem you’d like to solve

I would like to clone repo with github-cli via ssh, as I already have ssh keys loaded in ssh agent. When I run `gh repo clone ...` it asks for username and password:

[code]

### Proposed solution

It would be nice if `gh repo clone` had an command line option to switch between https and ssh, like `gh repo clone -s` (ssh) and `gh repo clone

[2020-11-20 06:24] ShubhankarKG commented on #2441
The command you are looking for is
[code]

After this, you should be able to clone over ssh

[2020-11-20 06:28] ghost commented on #1923
Seems to be a mintty problem

[2020-11-20 06:41] ghost opened #2442 "[GitHub Actions] Use GitHub Actions for spell checking"
Exactly what the title says. If your repo is free of typos (very unlikely), please close this issue

I think @jsoref can help you set this up. The awesome thing is that if works for not only docs but code as well.

[2020-11-20 06:49] samcoe commented on #2439
Hi! Thanks for writing in. We are tracking this issue in https://github.com/cli/cli/issues/1748. If you have any additional comments/ideas/suggestions please add them to that issue 🙇

[2020-11-20 06:49] #2439 closed, assigned to nobody

[2020-11-20 07:03] samcoe commented on #2441
@ShubhankarKG Thanks for answering the question.

@kucharskim It seems that this has been resolved so I am going to close out this issue for now, please re-open if you feel otherwise.

[2020-11-20 07:03] #2441 closed, assigned to nobody

[2020-11-20 07:12] ghost commented on #2398
/cc @samcoe

[2020-11-20 07:48] Thassadar1387 opened #2443 "> res/xml/network_security_config.xml : https://youtu.be/pg_sxSql1dk"
_Publicado originalmente por @Thassadar1387 en https://github.com/graphql/graphql-spec/issues/800#issuecomment-730972353_

[2020-11-20 12:10] blacksails commented on #1743
@mislav sorry about the confusion, this has indeed been fixed.

[2020-11-20 12:35] kiranbayram opened #2445 "hub browse feature"
I couldn't find if it's possible to do what `hub browse` does with gh cli. Is there already a way to do this? Or is there a plan to implement this feature. Thanks in advance.

Cheers :)

[2020-11-20 14:38] weierophinney opened #2446 "git_protocol config not working when set to ssh"
### Describe the bug

I am using gh version 1.2.1.

On a previous machine, I had 1.0.0 installed, and git operations would honor the `git_protocol` configuration setting when I set it to `ssh`. Now, with an up-to-date version of 1.2.1, `ssh` as a `git_protocol` value is ignored, and all operations (cloning, PR checkout, etc.) use `https`, requiring me to provide credentials on each and every push.

[2020-11-20 14:41] mislav commented on #2446
Please try `gh config set git_protocol ssh -h github.com`! Sorry for the confusion. Duplicate of https://github.com/cli/cli/issues/1980#issuecomment-700807447

[2020-11-20 14:41] #2446 closed, assigned to nobody

[2020-11-20 14:46] weierophinney commented on #2446
That works - and explains the part I'd done differently (since I'd used the tool on a previous machine, I just started using it, without doing the auth step first.). Thanks for the speedy response!

[2020-11-20 15:13] mislav commented on #2445
You can browse to a repository by using `gh repo view --web`. What specific part of `hub browse` are you missing?

[2020-11-20 15:30] kiranbayram commented on #2445
ah okay, nice. i didn't see the --web option. will close the issue

[2020-11-20 16:07] kiranbayram commented on #2445
But `gh repo view --web` doesn't open the branch which i'm on in the browser

[2020-11-20 16:37] ghost commented on #2442
/cc @jsoref I really like your spell check action. Now I am recommending it to my favorite repos :)

[2020-11-20 16:38] ghost commented on #2442
/cc @mislav @samcoe

[2020-11-20 16:40] LPe7 opened #2447 "Fish Completion"
I added the line `eval (gh completion -s fish)` to my fish config file like said in the docs but even if there was no error completion didn't work, so I went ahead and hard coded myself every completion in a file.

I pushed it to my fish configuration repo over github [here](https://github.com/lapingenieur/fishdir/blob/master/my-extentions/gh-complete.fish).

I hope you will somehow intergrate thi

[2020-11-20 18:00] #1056 closed, assigned to vilmibm

[2020-11-20 18:34] mislav commented on #2447
Hi, thank you for writing in! Sorry that our completions docs are a bit lacking at the moment.

The `eval` line was an example just for bash. You should not use that approach with fish. Instead, you should save the fish completions to a file (e.g. `gh completion -s fish > gh.fish`) and move that file to somewhere where your fish shell will automatically load it when `gh` completions are requested

[2020-11-20 18:34] #2447 closed, assigned to nobody

[2020-11-20 19:33] milesfrain commented on #1392
This is no longer an issue in `v1.2.1`. :tada:
The `gh pr` commands now display a prompt and let you select the active fork.

[2020-11-20 19:39] Uzume commented on #1389
The repo is already forked but there is another issue: cli/shurcooL-graphql@89ab2a8.

The added `go.mod` declares its module as `github.com/shurcooL/graphql` so it cannot be directly required as `cli/shurcooL-graphql`, thus the need for the `replace` directive here.

I created a pull request to get this fixed as referenced above.

Directly trying to push these kinds of changes upstream is already

[2020-11-20 19:43] tobiasbueschel opened #2450 "Clone all repositories of a user, organisation or team"
### Describe the feature or problem you’d like to solve

It would be great to have a quick way to clone all repositories owned by a user, organization or team that one has access to. This is slightly related to the feature suggestion from issue https://github.com/cli/cli/issues/642 `$ gh repos list --org=18F`.

### Proposed solution

[code]

Perhaps, one could also add a `--filter` or some other o

[2020-11-20 19:50] macribas commented on #1326
I just installed the newest gh version (1.2.1) and it is happening to me with both HTTPS and SSH. And my password doesn't work. My other computer (same OS) has version 1.2.0 and it works. Is it possible there's a bug in this version?

[2020-11-21 04:30] GV14982 opened #2451 "I get a bunch of commit messages when I edit the body using `gh pr create`"
### Describe the bug

Currently on `version 1.2.1`

When I run `gh pr create` it prompts me for the title, which is pre-populated with the branch name.

Then it asks me for a body, and I hit e to edit or enter to skip.

If I press e, it brings up my default editor, and it has tons of commit messages, not just the ones from this branch.

### Steps to reproduce the behavior

1. Run `gh pr create`
2.

[2020-11-21 06:14] kyoh86 commented on #1725
:thought_balloon: I want it to be packed in "act" command like below

- `gh act`
  - `kick-wf` (workflow-dispatch)
  - `kick-repo` (repository-dispatch)
  - `status`
  - `list`
  - ...

[2020-11-21 06:22] ghost commented on #2356
@vilmibm Why?

[2020-11-21 09:29] adamchainz opened #2452 "'gh pr view' finds oldest PR with the same branch name"
### Describe the bug

I automatically upgraded pinned requirements with a script that always uses the same branch name. Previously the script's invocation of `gh pr view --web` would correctly open the new pull request. Since upgrading to 1.2.1 it opens an old pull request for the same branch name. I don't know which version I was on previously because I install with `brew`, but it would have been

[2020-11-21 09:34] adamchainz commented on #2452
I've just realized the behaviour seems to be randomly either the oldest or latest PR with the same branch name.

[2020-11-21 15:12] greenhandzdl opened #2453 "Termux installation for Android does not work"
When I use 'pkg install gh'
But my termux warn me 'pkg install gh: command not found'

[2020-11-21 16:07] jorng commented on #2394
Sorry for the delay. Yes it works when built locally.

For reference, this is an old Go bug that still hasn't been fixed:

https://github.com/golang/go/issues/12524#issuecomment-424529888

[2020-11-21 16:25] iamleot commented on #2330
At least in [pkgsrc](https://www.pkgsrc.org/) `gh` is packaged as [net/gh](https://pkgsrc.se/net/gh) since version 0.10.0 and it should just works on NetBSD and other platforms supported by pkgsrc and Go too. :)

[2020-11-21 19:35] #2443 closed

[2020-11-21 21:25] Vbbab commented on #2396
I think that this feature would be nice to have, maybe consider reimplementing this?

[2020-11-23 04:09] gleich opened #2458 "`gh repo info`"
### Describe the feature or problem you’d like to solve

Allow the user to see information about the current repo or a given repo. Below is an example implementation:

[code]

### Proposed solution

It would be great to see all this info from the command line

### Additional context

I would love to work on this!

[2020-11-23 08:49] Billybar commented on #2360
i see.
thanks for your time.

[2020-11-23 08:54] Billybar commented on #2360
how i can remove it?
since i install that, i keep getting errors

[2020-11-23 10:41] contourintegrals commented on #2458
I think instead of a whole new command just for this, the `gh repo view` command could be improved.

[2020-11-23 10:49] contourintegrals commented on #2453
Could you try this?
[code]
If this doesn't work, you could try the following commands to build `gh` from source:
[code]

[2020-11-23 11:01] mislav commented on #2451
@GV14982 Thank you for reporting!

Could you run `git log --oneline --cherry BASE...HEAD`, where BASE and HEAD are the branch names for which you were opening the PR? (The base branch is, by default, the main branch of the repository.) Does the list of commits match what you've seen in the text editor?

[2020-11-23 11:07] mislav commented on #2458
Thanks for the suggestion! I agree that fetching and displaying arbitrary fields from Repositories/Isssues/PRs (and other objects) would be a great addition to GitHub CLI. We're still trying to decide how we plan to expose this functionality; please bear with us! <3

[2020-11-23 11:13] mislav commented on #2453
@greenhandzdl Could you please include information about your OS and what exactly did you type in your shell prompt?

From the error message `pkg install gh: command not found`, it seems like you might have had quotes around `pkg install gh`. Can you try to type it in without quotes?

[2020-11-23 12:06] Thassadar1387 opened #2459 "https://github.com/octocat/Spoon-Knife"
https://docs.github.com/en/free-pro-team@latest/articles/set-up-git

[2020-11-23 12:12] kiranbayram commented on #2445
Let's assume i'm on a git branch called `foo` locally, when i use `gh repo view --web`, i expect the url `https://github.com/org/repo/tree/foo` to be opened in browser but instead `https://github.com/org/repo` is opened

[2020-11-23 13:10] amitkrout opened #2461 "How to delete a repo using gh cli"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

I created a repo successfully using gh cli

$ gh repo create https://github.com/amitkrout/taxi12345 --public --confirm
✓ Created repository amitkrout/taxi12345 on GitHub
Initialized empty Git repository in /Users

[2020-11-23 13:14] ShubhankarKG commented on #2461
See also : #2010 #1084

[2020-11-23 14:50] greenhandzdl commented on #2453
[code]

[code]

[2020-11-23 14:52] greenhandzdl commented on #2453
[code]
[code]

[2020-11-23 15:28] ghost commented on #2321
I've tried this. But it still doesn't seem to be working properly. (in `zsh`)

[code]

[2020-11-23 17:03] ashr123 opened #2463 "Traversing a remote repository"
Right now there is no way to traverse and search remote repository’s files (and branches, even one file at a time), something like file system for repositories.

I think this is one of the main services of the GitHub website gives to the open source world. I think that many people will use this quick and light feature.

[2020-11-23 17:31] mislav commented on #2463
@ashr123 Thanks for the suggestion!

How do you imagine GitHub CLI to expose traversing directories and files from the terminal?

[2020-11-23 18:13] mislav commented on #2453
@greenhandzdl Thank you for the extra information.

@kcubeterm: are there any extra steps required to enable `pkg install gh`, such as explicitly setting up a package repository? https://github.com/cli/cli/pull/1536

[2020-11-23 18:21] kcubeterm commented on #2453
@mislav Unfortunately termux has dropped support for android 5 & 6 last year, that's why newly added package isn't available in legacy environment ( android 5&6)

@greenhandzdl Sorry for your inconvenience, you have to compile it from source.

[2020-11-23 18:24] mislav commented on #2445
I see, thanks for updating. I think your use-case will be better solved by the feature planned in #217. Unlike `hub browse`, the `gh repo view --web` command isn't intended to respect the current git branch.

From next release when https://github.com/cli/cli/pull/2404 ships, this invocation will work and you can then add it as an alias:
[code]

[2020-11-23 18:24] #2445 closed, assigned to nobody

[2020-11-23 18:26] mislav commented on #2394
@jorng This is great context; thank you. I guess we should switch to building our Darwin binaries on macOS then.

[2020-11-23 18:32] mislav commented on #2453
@kcubeterm Thanks; that's good to know.

If anyone could submit a PR to our documentation to note that Android install instructions are only applicable to Android 7+, that would be great. Thank you!

[2020-11-23 18:36] ashr123 commented on #2463
I imagine it something like repl interface where you can always see the current branch you’re on, and in addition, you can type commands like `ls` for seeing available folders and files or even navigate with the arrows keys between folders, and where you have a special command for displaying files (1 at a time).
When displaying a file it will be colored with the proper way according to its type.
A

[2020-11-23 18:37] mislav commented on #1326
@macribas I doubt it; we did not change anything in gh authentication between v1.2.0 and v1.2.1. I think the error comes from git credentials being cached differently between your two computers.

Do you have a preferred git protocol? If HTTPS, then please try this to fix authentication for `git clone`/`push`:
[code]

Or, if SSH then try:
[code]

[2020-11-23 19:39] #906 closed

[2020-11-23 20:07] macribas commented on #1326
Thanks @mislav!
I figured it out... I had enabled 2FA recently, so I had to use an access token instead of the password. All good now.

[2020-11-23 22:16] vilmibm commented on #2442
Thanks for the suggestion; we've taken a round of spell checks so I'm going to close this issue.

[2020-11-23 22:16] #2442 closed, assigned to nobody

[2020-11-23 22:28] vilmibm commented on #2450
Thanks for the suggestion!

I think this is a common usecase and would make sense to support; I think `gh repo clone <org-or-username>` is a natural invocation, too. I don't know if others do, but I tend to have a layout locally like `src/orgname/{repo1,repo2...}` and inevitably end up cloning most of the repos in `orgname`.

I'd like this to be interactive, though:

[code]

Is there a rate limit

[2020-11-23 22:54] zaboyle commented on #2362
@mislav thanks for your help! me and @divyaramanathan made a draft PR #2466 where we're working on changing this default behavior. We noticed the `DeleteLocalBranch` setting was separate from `DeleteBranch`, and were wondering if we should change this to default to `false` as well?

The unit tests pass right now, but we'll of course do a few practice runs on real branches to double check.
We'd rea

[2020-11-23 22:57] vilmibm commented on #2452
Weird. I feel like we ought to be ensuring it's always the latest PR and I'm guessing right now we're leaving it up to whatever sorting comes back from the API.

[2020-11-23 23:00] greenhandzdl commented on #2453
[code]

[2020-11-23 23:51] vilmibm commented on #2461
As we said in the linked issue:

We've stayed away from this because it's such a dangerous action and I think we will continue to do that.

It's possible, however, to generate a PAT with the delete_repo scope and then do:

[code]

[2020-11-23 23:51] #2461 closed, assigned to nobody

[2020-11-23 23:56] GV14982 commented on #2451
Here is what I get from that command:
[code]

And here is what I get in my editor (In this case nano) when I try to edit the body when creating a PR:
[code]

Let me know anything else you need!

[2020-11-24 00:11] lilyball commented on #544
I'm hitting this too.

Curiously, there are some escape sequences that don't crash but also just do nothing. For example, ⌃A jumps to the beginning of the line, but ⌃E is completely ignored even though it should jump to the end. ⌃U and ⌃K are likewise ignored. I get the feeling `gh` is simply ignoring any control-key escapes it doesn't understand, but crashing on any option-key escapes it doesn't

[2020-11-24 00:12] vilmibm commented on #2463
Thanks for the suggestion!

I think this kind of feature wouldn't fit in well with other uses of `gh` and might prove difficult to maintain and keep consistent. For now, I think it's best to leave these operations up to tools that already do them well: `git` for perusing branches of a repo (either after fetching or using `git ls-remote`) and native filesystem navigation tools (ls, cd, grep). I'm g

[2020-11-24 00:12] #2463 closed, assigned to nobody

[2020-11-24 00:19] lilyball commented on #1531
Linked code doesn't exist on current trunk. I think these are the right permalinks. Commenting here for posterity:

"confirmSubmission": https://github.com/cli/cli/blob/558e3f3deacdc0ac0e0a4db359446982940823e6/pkg/cmd/pr/shared/title_body_survey.go#L63

"call back to confirmSubmission": https://github.com/cli/cli/blob/558e3f3deacdc0ac0e0a4db359446982940823e6/pkg/cmd/pr/shared/title_body_survey.go#

[2020-11-24 00:22] lilyball commented on #1531
Instead of letting me pick "Add Metadata" again at the end, I think there should just be a way to "Go Back" for every single menu option. This way I can simply back up to a previous menu. That said, if I back up several times, it should remember my previous entry for the discarded menus and default those menus to that. For example, if I want to add Labels and Projects, if I then back up past Proje

[2020-11-24 00:32] ashr123 commented on #2463
I disagree with you, as far as I understand, this is an official app/package/service of GitHub, and should be relatively easy to maintain relative to the development of the hole website.
In addition, as far of my very limited knowledge of Git CLI, there is no way to browse easily and interactively in remote repositories via terminal.
For now, `gh` is pretty limited to pull requests, reading the re

[2020-11-24 00:47] ashr123 commented on #2321
I’m using MacOS Big Sur and I added the following lines in `~/.zshrc`:

[code]
and also did
[code]
I don’t know if those directories exists on Ubuntu 20.04 or not.

[2020-11-24 00:56] vilmibm commented on #554
I'd like to revisit this conversation, but I think that sets off a connected conversation about host-specific configuration.

It sounds like we should stop putting host-specific config into `hosts.yml` so that `hosts.yml` can be moved into `XDG_DATA_HOME`.

In general, I think the host/global config concept can be improved or at least better edified; that will make it easier to consider this issue

[2020-11-24 05:57] ghost commented on #1262
@mislav I wonder if we should implement this ourselves or wait for https://github.com/microsoft/winget-pkgs/issues/1515

[2020-11-24 07:26] mantzas opened #2468 "CLI apt update is slow or fails"
### Describe the bug

The issue is not specific to CLI itself so the version does not have anything to do with it.
When updating with `apt update`, I am waiting for some time when the update goes to the repository of CLI.
I am using Ubuntu 20.04.

### Steps to reproduce the behavior

1. `sudo apt update`

### Expected vs actual behavior

I expect the apt utility to connect swiftly to the repositor

[2020-11-24 07:59] tobiasbueschel commented on #2450
I also do the same :) Good point about it being interactive though, this would help to give users a heads up, for example if one mistakenly executes `gh repo clone vilmibm` instead of `gh repo clone vilmibm/prosaic`.

In this way the interactive prompt gives users a heads up before all repos are cloned.

---

I was just reading through the source files and noticed that we also need to handle the f

[2020-11-24 09:54] kiranbayram commented on #2445
ah okay, thanks

[2020-11-24 10:48] contourintegrals commented on #2453
@greenhandzdl By the error `zsh: no such file or directory: git clone https://github.com/cli/cli.git`, it seems that somehow `zsh` is interpreting the command as a whole binary/built-in. It should be happening because you might be using double quotes enclosing the command. Please try typing the command without them as @mislav said.

[2020-11-24 10:59] shrihanDev commented on #2321
@BackSlashDelta This works for me in Termux :P. Maybe using `sudo` with some of the commands help?

[2020-11-24 11:57] mislav commented on #2453
@greenhandzdl It looks like Go wasn't able to fetch dependencies via the network from your machine.

You might try to go to our Releases section and download one of the `.deb` packages. Then you can try installing it with `dpkg -i ./path/to/your.deb`.

I'm sorry you're having trouble installing, but I'm going to close this as your Android version isn't officially supported. If someone manages to b

[2020-11-24 11:57] #2453 closed, assigned to nobody

[2020-11-24 12:35] kcubeterm commented on #2453
@mislav standard linux debfiles can't be install in termux without changing $PREFIX.

@greenhandzdl . Download debfiles from termux repo.
[code]

it should get install gh in your device.

**Note: Please don't report bug on termux forum regarding this, as you know termux has dropped support for android 5 &6**

[2020-11-24 12:41] mislav commented on #2468
@mantzas Thank you for reporting!

Is this issue persistent over time? Looking at your logs, I don't see anything that suggests that the fetching error was related to `cli.github.com`. The error line mentions `gr.archive.ubuntu.com`.

If you temporarily disable (comment out) our `cli.github.com` package repository and run `apt update`, do you witness the same errors or does the command work withou

[2020-11-24 14:00] contourintegrals commented on #2453
I tested two different ways of installing `gh` on my verrrrryyyyy old device and they work!
My System:
[code]

So here you go:
1. Using the `.deb` file, as @kcubeterm said.
[code]
2. Using the `git clone` method, as @shrihanDev (me!) said:
[code]

[2020-11-24 14:27] mislav commented on #2463
@ashr123 I like the sound of the feature as you are describing it. It's true that browsing code is one of the most popular uses of GitHub.com. However, I must side with @vilmibm call that this is too much outside our own roadmap right now, and that existing filesystem tools could be used to traverse files after they've been fetched with git.

To summarize: such a feature would be too great of a de

[2020-11-24 14:40] greenhandzdl commented on #2453
[code]

[2020-11-24 14:42] kcubeterm commented on #2453
@greenhandzdl
You have arch64 device, that's why.

[2020-11-24 14:44] kcubeterm commented on #2453
[code]
Copy and paste it.

[2020-11-24 14:55] greenhandzdl commented on #2453
[code]

[2020-11-24 14:58] kcubeterm commented on #2453
@greenhandzdl , execute `bash` and then perform task.
There is issue with your zsh prompt.

[2020-11-24 15:03] mislav commented on #2321
Completion scripts right now aren't set up by default when installing Debian/Ubuntu packages. If someone has suggestions how to do that for bash, we'd like to hear it! For zsh, I suspect it might be enough to include a `_gh` script in our package and unpack it to a location such as `/usr/local/share/zsh/site-functions`.

To set up completions for bash:
[code]

To set up completions for zsh, do **n

[2020-11-24 15:03] greenhandzdl commented on #2453
[code]
I don't know why.

[2020-11-24 15:06] kcubeterm commented on #2453
Alright, try this.
[code]

[2020-11-24 15:08] greenhandzdl commented on #2453
[code]
I think it's maybe the environmental's problem.

[2020-11-24 15:13] kcubeterm commented on #2453
And you are using old version of wget , let try with curl.
[code]

[2020-11-24 15:15] mislav commented on #554
I'm not sure I understand exactly what you are proposing to do with `hosts.yml`, but I'm going to outline my general thoughts.

In a future where we support the XDG basedir spec (I'm sorry @jasonkarns @severen that this didn't make it into our v1.0), I do not feel strongly about `hosts.yml` being moved to XDG_DATA_HOME. After all, most of what `hosts.yml` holds is host-specific _configuration_, an

[2020-11-24 15:17] greenhandzdl commented on #2453
[code]

[2020-11-24 15:25] kcubeterm commented on #2453
Actually that debfiles is empty because curl did't downliad it.

Let's try last time.
Download it with browser. https://dl.bintray.com/termux/termux-packages-24/aarch64/gh_1.2.1_aarch64.deb

and then, execute `dpkg -i path/of/deb`

[2020-11-24 15:25] mislav commented on #2420
@roskelleycj There isn't an explicit option to pre-populate the body of the PR from the commit message, but it should be done automatically for single-commit PRs. If you choose <kbd>e</kbd> to open the text editor, is the commit body there?

[2020-11-24 15:32] mislav commented on #1895
In the interest of keeping our bug/TODO backlog low, I'm going to close this because we're not likely to implement nor maintain this anytime in the near future. Thank you for your inputs!

[2020-11-24 15:32] #1895 closed, assigned to nobody

[2020-11-24 15:32] greenhandzdl commented on #2453
[code]

[2020-11-24 15:37] kcubeterm commented on #2453
Download it with browser. https://dl.bintray.com/termux/termux-packages-24/aarch64/gh_1.2.1_aarch64.deb
and then, execute dpkg -i path/of/deb

Do this, download it from browser

[2020-11-24 15:39] mislav commented on #2450
This feature was requested in hub over the years as well, and I've never understood what would be the use case for it. Is cloning every repository under a user or organization a thing people do so commonly that it warrants its own operation in GitHub CLI? What should the command do, for example, of someone decides to invoke it with an [org such as `microsoft`](https://github.com/microsoft?tab=repo

[2020-11-24 15:42] greenhandzdl commented on #2453
Thanks for help,I successd to install it.
[code]

[2020-11-24 15:43] roskelleycj commented on #2420
I have a single commit PR.  And no I didn't open the editor.

In essence I'm looking for the same experience as the web UI.  I.e., when I create a PR with a single commit it opens the dialogs with the commit title & body matching the single commit already populated.  The cli does a close approximation for the title but doesn't come close for the body.  Why?

😞

[2020-11-24 15:44] roskelleycj commented on #2420
Just saw [this](https://github.com/cli/cli/issues/2420#issuecomment-728783491) and so I'll try it and provide the feedback.

[2020-11-24 15:45] kcubeterm commented on #2453
Happy journey man.

[2020-11-24 15:52] mislav commented on #1910
Closing as duplicate of https://github.com/cli/cli/issues/1434. This is currently being worked on!

[2020-11-24 15:52] #1910 closed, assigned to nobody

[2020-11-24 15:55] roskelleycj commented on #2420
Okay.  So I tried this
[code]
before I used the gh cli and yes it showed the body of the single commit.  I then tried the gh pr create and as expected, if I use the editor the body of the single commit is present.

So this appears to be working as designed.  However, I would like to simply hit 'enter' and the body of the single commit is used.  I.e., faster ability then bringing an editor and hitt

[2020-11-24 15:56] ashr123 commented on #2463
after a lot of searching, I’ve found this repo: [gitftp](https://github.com/begriffs/gitftp) and it claims to do pretty much what I’ve intended, I was hoping that you’ll implement something similar, but I see now it won’t happen.

[2020-11-24 15:56] mislav commented on #2352
@divyaramanathan @zaboyle Thanks for taking a stab at this! It's a hard problem, and I don't think the libraries that we're using now are equipped well for extensibility.

@samcoe Thank you for submitting the feature upstream! https://github.com/charmbracelet/glamour/pull/92

Since our current `:emoji:` substitution is broken (i.e. it replaces emoji where it shouldn't, such as in code blocks), wou

[2020-11-24 16:04] mislav commented on #851
Closing due to lack of info.

[2020-11-24 16:04] #851 closed

[2020-11-24 16:06] mislav commented on #2451
@GV14982 Thank you! I still can't tell what could be a possible culprit, though.

If you do `DEBUG=1 gh pr create`, debugging info will be printed on stderr. This will include information about any `git` commands invoked. Could you check and see if there is a `git log` invocation similar to the one than you ran manually (`develop...feature/password-reset`), but that produces a different result for

[2020-11-24 16:07] mislav opened #2470 "Config storage overhaul"
- [x] Achieve XDG basedir spec compliance https://github.com/cli/cli/issues/554
- [x] Store configuration in `%AppData%` on Windows https://github.com/cli/cli/issues/1944
- [x] Transition to using `os.UserHomeDir` instead of `go-homedir` https://github.com/cli/cli/pull/2429#discussion_r525999291
- [x] Consider supporting something like GH_CONFIG_DIR https://github.com/cli/cli/pull/2444
- [ ] Add c

[2020-11-24 16:23] contourintegrals commented on #2453
I guess somehow zsh/bash is interpreting the whole command as a binary/built-in. AFAIK, this only happens when the command is entered using double quotes.

Whatever it is, good luck Git-ing :wink:

And, by the way, if you're fed up of the warning that shows up after every `gh` command, you can run:

[code]

[2020-11-24 16:46] hholst80 opened #2471 "gh gist edit completion"
I would like to see `gh gist edit` to support completion from available gists

The current workflow is to run two gh commands: `gh gist list` and then `gh gist edit` where the ID needs to be copy-pasted from the first command.  If we could run `gh gist edit <TAB>` and get an inline list of gists to edit (sorted on recent) it would improve the workflow immensely, especially when mouse select and co

[2020-11-24 16:57] contourintegrals commented on #2321
@mislav The following works for me:
[code]

[2020-11-24 18:41] nunew opened #2474 "> ${ %[ Shadow air: $ ]%"
_Originally posted by @nunew in https://github.com/cli/cli/issues/2473#issuecomment-733162528_

[2020-11-24 18:50] Jamesking56 opened #2475 "PR creation with --assignee flag does not assign"
### Describe the bug

`gh version 1.2.1 (2020-11-11)`

When creating a PR using `gh pr create --assignee Jamesking56` it does not assign me to the newly created PR.

### Steps to reproduce the behavior

1. `gh pr create --assignee Jamesking56`
2. Complete the PR creation process, adding a title, description and a label
3. See that new PR does not assign me

### Expected vs actual behavior

It shou

[2020-11-24 19:17] mantzas commented on #2468
@mislav i did disable/enable the cli repo and did not see any big difference. I switched also to another mirror with the same result as the gr one. I believe this is not related to cli it is just the last one in the list which gives the impression that it is stuck. Let's close the ticket for now. Thansk for taking a look and helping out.

[2020-11-24 20:49] vilmibm commented on #2475
sorry about that.

sounds potentially related to #2472

[2020-11-24 23:15] GV14982 commented on #2451
Hey there @mislav

I reran that for you, and here is my full output:
[code]

I found this line: `[git -c log.ShowSignature=false log --pretty=format:%H,%s --cherry fork/develop...test]' but there doesn't seem to be any commit data beneath it. However, when nano opened up, I got the following:

[code]

[2020-11-24 23:21] pes2020kk commented on #2451
unsubscribe

[2020-11-24 23:23] pes2020kk opened #2476 "### Describe the bug"
### Describe the bug

Currently on `version 1.2.1`

When I run `gh pr create` it prompts me for the title, which is pre-populated with the branch name.

Then it asks me for a body, and I hit e to edit or enter to skip.

If I press e, it brings up my default editor, and it has tons of commit messages, not just the ones from this branch.

### Steps to reproduce the behavior

1. Run `gh pr create`
2.

[2020-11-25 04:44] colematt commented on #2450
Going to 👍🏻 on this specifically for the use case of Github Classrooms. I'd love to be able to clone and/or pull all the classroom's repos in one shot from the command line.

[2020-11-25 04:53] colematt opened #2477 "gh-repo-clone can't find Github project wikis"
### Describe the feature or problem you’d like to solve

**gh-repo-clone** will clone repos, but not the wiki repo associated with it. For example, if this repo had a wiki, then `gh repo clone cli/cli` works, and `git clone https://github.com/cli/cli.wiki.git` works, but `gh repo clone cli/cli.wiki` will give the error `GraphQL error: Could not resolve to a Repository with the name 'cli/cli.wiki'.

[2020-11-25 05:04] #2476 closed, assigned to nobody

[2020-11-25 05:10] samcoe commented on #2352
I don't have a strong opinion here. I am comfortable leaving it as is, with some incorrect replacements, until the upstream PR gets merged. If more issues get opened regarding this bug or more people chime in saying they are encountering it then we could reevaluate and revert the change then.

[2020-11-25 10:29] mislav commented on #2477
@colematt Thank you for pointing this out! I agree that `gh repo clone cli/cli.wiki` should ideally work, but we haven't covered this case yet.

To someone who would want to work on this: the way to approach this would be to detect and strip the `.wiki` suffix from the repo name, allow the repo existence check to proceed as normal, additionally check if the wiki is enabled for the repo, and finall

[2020-11-25 11:09] mislav commented on #1905
@Menelion If you don't mind, I need some help understanding how you expect the SSH key to be used in `gh`.

Right now, `gh` does not interface with SSH in any way other than resolving SSH hostname aliases from your `~/.ssh/config` file. GitHub CLI does not read nor use any of our SSH keys. Could you tell us more about where did you expect your `gh_rsa` key to get used, what command did you try, an

[2020-11-25 11:21] patoroco commented on #846
Appart from adding the author as a column in the `gh pr list` command, it would be nice be able to filter by it, with an special alias for the current user.

That is:

[code]

[2020-11-25 11:57] gunadhya commented on #2477
Hi @mislav, I'd like to work on this issue.

[2020-11-25 12:46] Vishesh-Gupta commented on #1262
@mislav I updated the name, let me know if this is appropriate (otherwise suggestions accepted).

@alannt777 There has been no action on that issue since June and I have a pretty nice layout for it. Just end of term school activities keeping me busy otherwise I would have had it out by now. I was planning to build it for so long so I guess I can just go through with it and Microsoft can use it if

[2020-11-25 12:53] mislav commented on #2453
@kcubeterm @shrihanDev Thank you for all your help! <3

[2020-11-25 12:54] #2468 closed, assigned to nobody

[2020-11-25 13:38] gunadhya commented on #2477
I'm trying to reproduce the issue but when I run `git clone https://github.com/cli/cli.wiki.git` I get the following error

![Screenshot](https://user-images.githubusercontent.com/6939749/100233503-d658d580-2f4f-11eb-8b4a-f60462ff1f06.png)

[2020-11-25 13:57] mislav commented on #2451
@GV14982 Thank you for sharing! Interesting that `fork/develop` got used as a base branch when looking up commits. It should have been `origin/develop`, no?

[2020-11-25 14:39] GV14982 commented on #2451
@mislav That was it!

Turns out the name of the repository was changed, and for some reason there was another remote repo. I removed that other remote repo and now it seems to be working.

Thanks for much for your help, I really appreciate it! 🍻

[2020-11-25 14:39] #2451 closed, assigned to nobody

[2020-11-25 17:20] cristiand391 commented on #2475
Already fixed in 2472, thank you for reporting!

[2020-11-25 19:00] ampinsk commented on #642
Hey everyone, playing with some ideas for how this command could display

<img width="455" alt="Screen Shot 2020-11-25 at 10 59 52 AM" src="https://user-images.githubusercontent.com/10404068/100270734-5d388e80-2f0d-11eb-8df8-52937f85c9ba.png">

This is pretty minimal on info, is there any other information that would be important to see from this view? Is separating out Pinned repos helpful or jus

[2020-11-25 20:11] colbymelvin opened #2483 "Support no:* and negated filters in gh pr list"
### Describe the feature or problem you’d like to solve

I typically use the `no:assignee` filter to look for PRs that are ready for review; this drastically cuts down on the amount of noise I have to look at to find relevant pull requests.

I also find myself often checking for the absence of a specific label or all labels (`-label:"BLOCKED"` or `no:label`) as using labels has become a common way

[2020-11-25 20:49] alohaninja commented on #494
@jlebar - thanks for the tip! I was receiving the same error from an older gh cli version.

## GH CLI Error Message
[code]

## Resolution
[code]

You can choose either HTTPS or SSH for git protocol - either should work and allow your oAuth token to resolve again.

[2020-11-25 21:44] SleepyDrew2G opened #2484 "Trayway ink inc"
![1526240289_sonic-exe](https://user-images.githubusercontent.com/74018830/100284507-4873ef00-2f3d-11eb-8078-8fc0e4b9d298.png)

[2020-11-25 22:47] hholst80 commented on #2471
workaround:
[code]

[2020-11-25 22:57] mgabeler-lee-6rs opened #2485 "Alerting on new release for every invocation is excessive"
### Describe the bug

Alerting about the availability of a new release for every invocation is excessive. Most tools store some config so they only issue alerts like this once a day.

### Steps to reproduce the behavior

1. Have a not latest release of the app
2. Run `gh --help`, see the new release alert
3. Run `gh --help` again right away

### Expected vs actual behavior

Most other apps like th

[2020-11-26 00:22] wandergeek commented on #2001
@mislav There seems to be a regression in the latest release `(1.3.0 (2020-11-24))`. PR creations using forks seem to be chopping off the fork name from the url.

For example, the tool visits https://github.com/org/repo/compare/master...branch instead of https://github.com/org/repo/compare/master...wandergeek:branch

Even running in interactive mode, I get the same result:
[code]

[2020-11-26 07:06] stepanovmm1992 commented on #571
thx

[2020-11-26 10:54] #2362 closed, assigned to nobody

[2020-11-26 10:55] #2452 closed, assigned to nobody

[2020-11-26 11:27] mislav commented on #2485
Agreed! Thank you for raising this. Like you suggested, I think that showing a notice only once per 24h should be enough.

I'm going to reclassify this as a feature instead of a bug, though, since the update notifier is working as a designed, even though its output can be a nuisance right now.

For anyone who'd like to take a stab at implementing this: we already only perform a version check over

[2020-11-26 11:28] ShubhankarKG opened #2487 "Update all links to the labels in CONTRIBUTING.md"
Some labels have corresponding links to them, while some don't. It'd be nice if all labels had the link so that we could see all issues having a certain label together.

Opening as a blank issue as this wouldn't fit any criteria :sweat_smile:

[2020-11-26 12:51] notquiteamonad commented on #642
That list looks good to me - minimal is appealing in a CLI imo.

Pins are probably good to separate on larger orgs but not so important for smaller ones. Perhaps one unbroken list with an asterisk for pins and keeping them at the top of the list or something similar would please both sides?

[2020-11-26 16:25] mislav commented on #2483
Agreed that this would be useful to support! But also that we can't really use the literal string `none`.

I'm going to close this as duplicate of https://github.com/cli/cli/issues/641, where all these filtering options are already outlined. We just have to figure out how to prioritize the work and expose them in gh.

[2020-11-26 16:25] #2483 closed, assigned to nobody

[2020-11-26 16:28] mislav commented on #2321
@shrihanDev Thank you! Does the completion script file have to have the executable bit? And is `sudo` really necessary?

[2020-11-26 16:45] contourintegrals commented on #2321
@mislav The script without the executable bit gave some weird error when I used this with MinGW on Windows and Termux on Android(7+). After `chmod`-ing it, the error was gone.
About the `sudo`, I am not really sure about this. I am pretty noob when it comes to things related to Unix and Unix-like shells.
And, I had to do the following \(copied from [this comment](https://github.com/cli/cli/issues/

[2020-11-26 19:05] colbymelvin commented on #2483
Thanks! I had missed https://github.com/cli/cli/issues/641 in my initial search.

[2020-11-26 22:46] Rylan12 opened #2489 "Labels added using `gh pr create` aren't passed to GitHub actions"
### Describe the bug

`gh version 1.3.0 (2020-11-24)`

Hi there,

I've noticed the following bug when creating PRs using `gh`. When creating a PR with labels using the CLI, they are not sent to a GitHub action workflow that is triggered by `pull_request_target`.  Creating a PR using the web UI works fine.

As an example, see the following PRs on a test repo I made:

1. https://github.com/Rylan12/g

[2020-11-26 23:59] rsteube commented on #2471
see #360

[2020-11-27 06:55] contourintegrals commented on #1923
@alannt777 You're right. This only ever happens on emulators that don't support interactive Command line interfaces, like ConEmu(possibly via Cmder), MinTTY (Possibly via Git Bash, Cygwin and many others). While installing Git for Windows, there is an option that says, "Enable experimental support for pseudo terminals" or something similar. If we check that option, the interactive CLIs work. But a

[2020-11-27 07:09] jhpratt opened #2492 "Add ability to self-update the binary"
### Describe the feature or problem you’d like to solve

The binary currently requires manually downloading each new release.

### Proposed solution

By adding a command to self-update the binary, the amount of effort needed to stay up to date would be near-zero.

[2020-11-27 07:33] ghost commented on #1923
When I installed Git for Windows, I chose not to use mintty but the regular old conhost.exe that comes with Windows

[2020-11-27 10:35] ghost commented on #2492
This is a dup

[2020-11-27 10:38] jhpratt commented on #2492
@alannt777 of what issue? I tried searching and didn't find any.

[2020-11-27 10:40] alannt777 commented on #2492
#1923

[2020-11-27 10:41] ghost commented on #2492
#166

[2020-11-27 10:43] #2492 closed, assigned to nobody

[2020-11-27 12:39] ffigiel commented on #2133
I ran into some issues when creating a release for a specific commit. Apologies if this belongs to a dedicated ticket.

1. I tried
[code]
and got
[code]

2. I found your issue on github, then tried creating a local tag and specifying it as `--target` as @mislav suggested, same problem
3. I tried pushing the tag and then creating a release, same problem
4. I tried specifying the full commit hash. F

[2020-11-27 14:05] mislav commented on #2489
Thank you for reporting. This issue is a known limitation of API clients: https://github.com/integrations/slack/issues/1039#issuecomment-654161513

Since the API endpoint to create pull requests does not accept labels, API clients have to send a separate request to add labels, but the original `pull_request` event will not contain them.

As soon as GitHub API allows setting labels in the same requ

[2020-11-27 14:05] #2489 closed, assigned to nobody

[2020-11-27 16:10] vl4py commented on #1503
If you go for this feature, would it be possible to also do it from the `interactive` mode?

Therefore, when creating pr instead of only allowing to search among the existing ones, you could create one straight forward?

[2020-11-27 17:03] alterrebe commented on #1503
This is the point I missed. Other commands work w/o it (I guess they autodetect the `GH_HOST` from the `.git/config` of the current repository, but `gh api` doesn't do it).

Thank you, it resolved my problem.

[2020-11-27 17:14] Rylan12 commented on #2489
Great, thanks for the reply! I had a feeling it wasn't really a `gh` issue... 😄

That workaround seems just fine to me! Thanks for the tip!

[2020-11-27 18:39] rsteube commented on #360
@mislav got this pretty much working by now. Could either
- prepare a PR ([diff](https://github.com/cli/cli/compare/trunk...rsteube:better-completions)) if you're interested
  this would introduce a dependency to [carapace](https://github.com/rsteube/carapace) though (which is still a bit young)
- migrate it to [carapace-bin](https://github.com/rsteube/carapace-bin)
  which would provide the compl

[2020-11-27 20:12] AdamKorcz opened #2495 "Continuous fuzzing of CLI"
I have been working on setting up continuous fuzzing for CLI by way of OSS-fuzz and have uploaded the following working setup on the OSS-fuzz side: https://github.com/google/oss-fuzz/pull/4730

Fuzzing is a way of testing programs whereby pseudo-random data is passed to a target with the goal of finding bugs and vulnerabilities. OSS-fuzz is a free service for open source projects that runs fuzzers

[2020-11-27 22:53] rarafra opened #2496 "Submit change to update"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-11-28 02:15] phuctm97 commented on #1326
Hi @mislav, why does `gh` still need to ask for a password to clone a repo while it already has an access token? I personally do `gh auth --show-token`, copy the token, then use that as the password in Git HTTPS authentication. Is that an expected behavior? Why `gh` doesn't do that automatically? (If it is a feature, but not implemented yet, would love to help!)

[2020-11-28 13:04] Menelion commented on #1905
Hi @mislav,

the problem is that it doesn't resolve the host (see my config section in the first comment). When I do

[code]

It says:

[code]

That's my problem. So I can work with GH only by using HTTPS URLs. Thanks.

[2020-11-28 13:19] AdamKorcz commented on #2495
For the record, I have set up an integration with OSS-fuzz here: https://github.com/google/oss-fuzz/pull/4730. On that PR it can be seen that the integration completes. Ideally we would want to move the fuzzer over on cli's repository once the integration is complete, and for now it is fine that it gets uploaded to OSS-fuzz.

[2020-11-29 11:01] yvikt commented on #1260
Hi. I'd like to see
1. gist add/edit description to existing gist
2. gist find and view by description
Thanks.

[2020-11-29 16:13] kewur opened #2506 "Append PR links into the commit message."
### Describe the feature or problem you’d like to solve

Append PR link into the commit message when "gh pr create" is executed. This would be an easy way to track down the PR for a change while looking at the commits.

### Proposed solution

Add a flag in "gh pr create" such as --append-link. This would add the link into the last commit on that branch.

 Example usage:
"gh pr create --append-link

[2020-11-29 16:38] acro5piano commented on #875
Any progress? Thanks

[2020-11-30 07:16] Catherineben2019 opened #2508 "🦎"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-11-30 10:08] georgettica commented on #2304
I think the issue is that the error
[code]
doesn't note that `the GITHUB_TOKEN envvar is not empty, please clear it to save the authentication data`

or something along these lines

----
I faced this issue before and glad it's being addressed in an official issue

[2020-11-30 11:00] #2508 closed, assigned to nobody

[2020-11-30 11:06] mislav commented on #1905
@Menelion Thanks for explaining. This was never supposed to work: `gh repo clone github:cli/cli`, because we don't accept SSH URLs as arguments to our commands. Only HTTPS URLs are supported.

We do support SSH URLs in git remote URLs because git supports them. For example, this will be supported by gh per your ssh config:
[code]

The remote URL will be interpreted as `ssh://github.com/cli/cli`.

[2020-11-30 11:06] #1905 closed, assigned to nobody

[2020-11-30 11:19] mislav commented on #2506
Thanks for the suggestion, but I do not think this is something that we will do, as it's not common in git.

To find a PR that originated a specific commit, you can search the commit SHA in the "Pull requests" tab on a GitHub repository in the web UI. We might also expose this type of search in GitHub CLI in the future; see #641

[2020-11-30 11:19] #2506 closed, assigned to nobody

[2020-11-30 13:55] morgoth commented on #1842
That would be a great improvement. @vilmibm do you think you could reconsider this idea?
It is documented on `hub` tool as `-i` option https://hub.github.com/hub-pull-request.1.html

[2020-11-30 14:05] mislav commented on #2487
Thanks, but I believe it's enough that only "help wanted" and "good first issue" labels are linked, so that people can easily filter by those issues. Other labels are not as interesting for viewing, but are pointed out in the doc as guidelines for contributing.

[2020-11-30 14:05] #2487 closed, assigned to nobody

[2020-11-30 15:21] mislav commented on #1842
It's unlikely that we will support this, since converting issues to PRs is not part of a standard workflow for most teams.

For teams that care deeply about this, you can do so manually via the API:

[code]

[2020-11-30 17:01] astrochun opened #2509 "Continuing in browser fails for new issue create"
### Describe the bug

Creating a new issue with `gh`, and choosing the option to continue in browser after providing the body only returns the link to `stdout`, and fails to open a new browser tab.

gh --version:
`gh version 1.3.0 (2020-11-24)`

### Steps to reproduce the behavior

1. Type this: `gh issue create`
2. Provide body of message using nano.
3. Save the body through nano
4. Select the "C

[2020-11-30 17:54] mislav commented on #2509
Thank you for reporting. If you retry with `DEBUG=1 gh issue create`, it will start verbose output mode which will display the commands invoked. Here, gh will read the BROWSER environment variable to determine which browser program to use for "Continue in browser". Do you have anything set under that variable in your environment? Please check `echo $BROWSER`

[2020-11-30 18:02] astrochun commented on #2509
@mislav, here's the full DEBUG output:
[code]

`BROWSER` environment is not set.  Note that: `gh repo view cli/cli -w` does open a web browser. Here's the verbose output:
[code]

[2020-11-30 23:01] victorialena commented on #1741
i just installed 20.10 from USB onto a brand new computer. it didn't install wifi drivers - and I cant build-essential either. I tried manually mounting "sudo dpkg -i /media/username/volname/pool/main/d/dkms/dkms_*.deb" but that isn't working due to gcc dependency. and I can't "sudo apt update" because of this same ubuntu groovy InRelease error.  WTF! can someone help? I am seriously stuck. THANKS

[2020-12-01 06:51] huangnauh opened #2515 "1.1.0 update to 1.3.0 zsh autocomplete failed"
### Describe the bug

1.1.0  update to 1.3.0 autocomplete  failed

### Steps to reproduce the behavior

[code]

![image](https://user-images.githubusercontent.com/3659433/100706913-c83e0580-33e4-11eb-9b5d-0a2ec30c9abd.png)

### Expected vs actual behavior

[code]

![image](https://user-images.githubusercontent.com/3659433/100706995-e7d52e00-33e4-11eb-9ea1-c6c5a921af34.png)

[2020-12-01 07:13] BigD1CKC opened #2516 "Proxmark3"

[2020-12-01 07:28] gimler opened #2517 "1.3.0 env GITHUB_ENTERPRISE_TOKEN is ignored"
### Describe the bug

`GITHUB_ENTERPRISE_TOKEN` env is not used in v1.3.0 but the same code works with 1.2.1.

see pr https://github.com/cli/cli/pull/2388

### Steps to reproduce the behavior

[code]

[code]

[2020-12-01 10:04] samyakbambole commented on #2182
Any Updates? @mislav

[2020-12-01 10:06] BigD1CKC opened #2518 "Since the `git fetch` line is identical in both branches, could it be taken out of the `if`?"
Since the `git fetch` line is identical in both branches, could it be taken out of the `if`?

_Originally posted by @mislav in https://github.com/cli/cli/pull/1953#discussion_r496089172_

[2020-12-01 11:01] #2518 closed

[2020-12-01 11:03] huangnauh commented on #2515
in zsh 5.0.2

![image](https://user-images.githubusercontent.com/3659433/100732274-78bd0100-3407-11eb-93a1-39a01c1c70a1.png)

after update  zsh 5.8  autocomplete works

![image](https://user-images.githubusercontent.com/3659433/100732558-d6e9e400-3407-11eb-97a8-a036f6bd84c2.png)

![image](https://user-images.githubusercontent.com/3659433/100733447-27ae0c80-3409-11eb-9580-64a42ea0b9d9.png)

[2020-12-01 11:07] mislav commented on #2517
@gimler Thank you for reporting! As a temporary workaround, could you try setting `GH_HOST` as well?

[code]

@samcoe I think this might be a bug with `CheckAuth` https://github.com/cli/cli/pull/2388#discussion_r520578633. Could you please take a look?

[2020-12-01 11:14] #2516 closed

[2020-12-01 11:24] mislav commented on #2515
@huangnauh Thank you for reporting!

I cannot reproduce with gh 1.3.0 and zsh 5.7.1. What version of zsh do you have?

Can you try without loading oh-my-zsh, i.e. with a zshrc that contains only:
[code]

You will have to first move `_gh` to somewhere in $fpath, since `~/.oh-my-zsh/completions` will not be in fpath.

[2020-12-01 11:27] mislav commented on #2515
Ah now I see your update about zsh 5.0. It seems that we require a newer version of zsh than that. Thank you for checking!

Keeping this open until we add some note about this to our docs.

[2020-12-01 11:34] gimler commented on #2517
@mislav same error also with `GH_HOST`

[2020-12-01 11:46] mislav commented on #2517
@gimler Thank you for trying. Is it an option for you to cache the token within `gh`?

[code]

The GITHUB_ENTERPRISE_TOKEN variable was meant to enable you to skip the `auth login` step, but appears it is not working correctly at the moment. So you might need to go through `auth login` anyway.

[2020-12-01 11:52] mislav commented on #2182
@gwojan It's a bug with the tool that generates our installer: https://github.com/cli/cli/issues/703

@samyakbambole No updates yet.

[2020-12-01 11:56] pletnes commented on #642
@ampinsk  I'd like something that's "one line one record" - i.e. will fit into grep/awk/...

[code]

Now I can do

[code]

[2020-12-01 14:26] mislav commented on #2509
Thank you for the details. I see now that this is a regression in https://github.com/cli/cli/pull/2386.

Please hold off using "Continue in browser" until this is patched. 🙇

[2020-12-01 14:29] astrochun commented on #2509
I figured it was a major refactor since it was fine in v1.2.0. Thanks for confirming that it wasn't just me! 😆

[2020-12-01 15:48] samcoe commented on #2517
@mislav @gimler This is indeed a regression from #2388. I am working on a fix now. Another workaround would be to add `example.com` to the `host.yml` file stored in `~/.config/gh/`. Just the entry without any options is enough.

[code]

[2020-12-01 16:12] ghost opened #2520 "[README] Use a README"
### Describe the feature or problem you’d like to solve

Some READMEs are just unfriendly with the GitHub CLI

CLI | Web
----|-----
![README in CLI](https://user-images.githubusercontent.com/67918878/100765365-6f3e9380-341d-11eb-8236-7d79563c392b.png) | ![README in Web](https://user-images.githubusercontent.com/67918878/100765437-82516380-341d-11eb-9d29-542484f736fa.png)

### Proposed solution

Al

[2020-12-01 19:33] mislav commented on #2520
@alannt777 Thanks for the suggestion!

Our team agrees that README badges, in general, are a scourge https://github.com/cli/cli/issues/1015#issuecomment-634684242

However, I do not believe that the way to approach this would be to define yet another GitHub-specific markdown file.

I think some READMEs are just not going to look super polished on the CLI, and that is okay.

[2020-12-01 19:33] #2520 closed, assigned to nobody

[2020-12-01 19:33] #293 closed

[2020-12-01 19:37] Vant13425 opened #2525 "Bitcoin payment request"
Please send  5000 BTC to the Bitcoin address 1KUdJKU5tbADEYFWTms1ohLiKKC1an73wc.

 bitcoin://1KUdJKU5tbADEYFWTms1ohLiKKC1an73wc?amount=5000![qr.png](https://user-images.githubusercontent.com/45728906/100788157-cddd2f00-3468-11eb-8131-f5992503683e.png)

[2020-12-01 19:51] GoogleLegend opened #2528 "Google"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.
###===
[Google Trademarks.pdf](https://github.com/cli/cli/files/5625080/Google.Trademarks.pdf)
©®Google LLC -A

[2020-12-01 21:00] mislav commented on #2133
@gilcrest This was all great feedback for us. Thank you! <3 We will try to improve the docs.

@megapctr I think that the short commit hash would not work as a commit SHA because it could be mis-interpreted as a branch name. E.g. `deadbeef` is a valid short commit hash, but is also valid words in English language and could possibly be a branch name. To avoid ambiguity, I think full commit SHAs are

[2020-12-01 21:23] mislav commented on #385
@ddonahoevibrenthealth We will start work on this from next week. 👍

[2020-12-01 21:25] mislav commented on #2001
@wandergeek You're right, there is a regression. Thank you for letting us know! We have a fix under way.

[2020-12-01 21:41] ffigiel commented on #2133
@mislav thank you for clarification. Would it make sense for `gh release create` to target HEAD by default, like `git tag` does?

[2020-12-01 21:45] mislav commented on #2495
Hi, thanks for setting this up and bringing it to our attention!

I'm not familiar with setting up fuzzing in my own projects. Apart from exercising the entry-level command dispatcher to our `gh` binary, what would be the coverage to which fuzzing would exercise the rest of our codebase? It looks to me that, without any kind of API tokens being set up and no API calls being stubbed, most of our pr

[2020-12-02 01:28] Robinlovelace commented on #1203
For what it's worth, this worked for me:

[code]

Worth adding as an example? Will save lots of googling I suspect @mislav : )

[2020-12-02 02:09] #2517 closed, assigned to nobody

[2020-12-02 02:47] CalvinRodo opened #2531 "Create/Revoke Personal Access Tokens"
### Describe the feature or problem you’d like to solve

I would like to be able to create and revoke personal access tokens from the CLI

### Proposed solution
Calling `gh token create` will create a new token and output the token value
Calling `gh token revoke` will revoke the token passed in

[code]

[2020-12-02 05:21] afortunado21 commented on #2059
@afortunado21

[2020-12-02 05:36] HomeContainer opened #2532 "gao"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-12-02 11:41] #2532 closed, assigned to nobody

[2020-12-02 12:02] #2509 closed, assigned to nobody

[2020-12-02 12:21] mislav commented on #1203
Thanks all. I'm going to close this since I think we have this sufficiently covered by our documentation. [For example](https://cli.github.com/manual/):

Additionally, since this issue was opened, we shipped the `gh auth login` command that asks the user which git protocol they want to use for cloning, and configures `ssh` or `https` accordingly.

Additionally, we're working on a better git authen

[2020-12-02 12:21] #1203 closed, assigned to nobody

[2020-12-02 12:26] mislav commented on #2133
@megapctr `gh release create` (with no `--target`) will target the latest state of the main branch as it is in the GitHub repository. Were you expecting that it targets HEAD as in, the currently checked out commit in your local repo?

[2020-12-02 13:46] igbanam opened #2533 "<Up> when dealing with metadata checkboxes moves screen upwards"
### Describe the bug

When entering labels for an issue I created, I realised when I pushed <Up> — to navigate the label checkboxes — the window if text generated by the cli scrolls up, covering what was previously there in the terminal.

[code]

### Steps to reproduce the behavior

1. Create an issue with the cli tool
2. Choose to edit the body with a text editor — I used Vim
3. Choose to add met

[2020-12-02 14:01] igbanam commented on #2533
I just did an upgrade and tried, this error still happens in 1.3

[code]

[2020-12-02 14:03] igbanam commented on #2533
Three things to note with this

- It seems to happen for scrollable checkbox lists
- `<Up>` and `<Down>` will move the checkbox selection upwards, covering pre-existing text
- Once the checkbox list is at the top of the terminal screen, it stops scrolling upwards — I guess cos it's got nowhere else to go

[2020-12-02 14:15] ffigiel commented on #2133
@mislav yes, I expected it to target the current commit.

For context, I usually make two commits for a release: First updates the changelog to rename "dev" section to the version number. Second adds a new `dev` section to the changelog. Then I make a release targeting the first commit.

Knowing I need to specify `--target` with a full commit SHA lets me do what I need. I thought it may be helpful

[2020-12-02 14:19] sidcleyss opened #2534 "projeto001"

[2020-12-02 14:20] #2534 closed, assigned to nobody

[2020-12-02 14:45] mislav commented on #2533
@igbanam Thank you for reporting!

For additional info, could you tell us your OS, your terminal app, your shell, and the width of the terminal window? (You may be able to check the width by running `tput cols`.)

Does anything change if you resize your terminal window?

[2020-12-02 14:54] AdamKorcz commented on #2495
It is indeed an issue if an external check is performed for valid API tokens, however, code that can be reached by unit tests will also be reachable by fuzz-testing.

Reports include: Stacktrace and reproducible test cases. In OSS-fuzz all reports are accessible through a dashboard. Besides bug reports there are also stats regarding fuzz runs and the effectivity of fuzzers such as execution speed,

[2020-12-02 15:06] igbanam commented on #2533
OS: OS X Catalina
Terminal: iTerm
Shell: Zsh
Width: it's half the screen of a 2015 13" MacBook Air

I'm currently on the trains. But once I'm back on my computer, I'll give more info

[2020-12-02 16:44] Praveen9693 commented on #2531
Ok

[2020-12-02 19:53] darrinthomascecil opened #2536 "gh auth login --with-token never returns"
### Describe the bug
Mac OS Catalina 10.15.7

gh --version
gh version 1.3.0 (2020-11-24)

Running gh auth login --with-token never returns from a zsh shell.  Ctrl + C the process shortly afterward and running
gh auth status shows CLI has logged in as expected

### Steps to reproduce the behavior

1. Set environment variable GITHUB_TOKEN or GH_TOKEN to a token with all scopes selected from github.c

[2020-12-03 01:14] tessus opened #2537 "K.C.'s feedback (v1.3.0)"
# CLI Feedback

## What have you loved?

I like the handling of the tool and the available options. Also the fact that it is a single binary.

## What was confusing or gave you pause?

When listing PRs I don't see the labels associated with the PRs. (`hub` did that.)
The problem is that I can't even list the available labels to use them as a filter.

## Are there features you'd like to see added?

[2020-12-03 01:47] abent999 opened #2538 "__Originally posted by @abent999 in https://github.com/github/fetch/issues/875__"
__Originally posted by @abent999 in https://github.com/github/fetch/issues/875__

__Originally posted by @abent999 in https://github.com/thoughtbot/factory_bot/issues/1454__

__Originally posted by @abent999 in https://github.com/github/fetch/issues/876__

__Originally posted by @abent999 in https://github.com/github/personal-website/issues/421__

[2020-12-03 03:07] divyaramanathan commented on #2361
Hey @mislav and @samcoe! Apologies for the late reply to this, but finally took a stab at it!

Myself and @zaboyle wrote up a GraphQL API call to get issue templates and are attempting to use these when creating issues from the command line. Our changes are in #2539 and we'd love to hear any and all feedback!

Follow-up question: We noticed that the program was still defaulting to read files from

[2020-12-03 06:59] zigang93 commented on #2090
I also confuse at the first place..

[2020-12-03 12:45] mislav commented on #2537
We hear you. From next week, we're starting on work to be able to customize the output. My hope is that it would make what you are describing easier 👍

Depending on your OS, is it an option for you to install gh from a package manager? That usually makes updates smoother.

[2020-12-03 12:56] mislav commented on #2133
@megapctr Thank you for explaining. Since `gh release create` can be run outside of a context of a local git repo (e.g. `gh release create -R cli/cli`), I do not think that we should take local HEAD as a default target, since sometimes there will be no local HEAD. However, your input will help us improve documentation on the matter!

[2020-12-03 13:08] mislav commented on #2536
Hi, I'm sorry for the confusing experience!

Our documentation for `--with-token` states:

Because the command is trying to read the token from standard input, if you don't pass anything on standard input, the command will block, waiting on input.

If you've set GH_TOKEN or GITHUB_TOKEN in your environment, there is no need to ever `gh auth login`. All your gh operations will be authenticated via

[2020-12-03 13:15] darrinthomascecil commented on #2536
Thanks for the clarification.  The behavior makes sense now.

[2020-12-03 13:15] #2536 closed, assigned to nobody

[2020-12-03 13:22] FREELANCEGITIT commented on #2536
Hi pics coming 

On Thursday, December 3, 2020, 5:15 AM, darrinthomascecil <notifications@github.com> wrote:

Thanks for the clarification. The behavior makes sense now.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-03 13:27] mislav commented on #2070
I believe this was fixed in #2301!

[2020-12-03 13:27] #2070 closed, assigned to nobody

[2020-12-03 13:48] heisejason-png opened #2542 "###"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-12-03 14:05] #2542 closed, assigned to nobody

[2020-12-03 14:37] ssbarnea commented on #1968
Is there a workaround for this bug?

Doing force pushes on feature branches is quite common in order to keep history short and avoid accidental merges that are bring multiple changes in. More importantly most of the time you cannot control how the PR raised is using git, and you endup not being able to locally test a PR.

[2020-12-03 15:34] dato commented on #1718
I echo the sentiment above. I'm still running 0.12 because losing my `gh prf` alias/workflow is too high of a price for me.

[2020-12-03 17:51] #2369 closed, assigned to nobody

[2020-12-03 17:51] #2475 closed, assigned to nobody

[2020-12-03 18:01] tessus commented on #2537
Great, that's awesome.

Yes, I could. I'm using MacPorts myself, so that's certainly an option. I only played with the idea of a self-update. Sometimes one does not use a pkg manager or repo system, in which case a self-update is useful. It's not essential. Maybe I should have put that under 'Anything else?'....

[2020-12-03 18:15] mislav commented on #2495
Thank you for explaining. Now I have a better perspective on fuzzing, and I have also consulted with other teams at GitHub who have done fuzzing on their projects via our internal infrastructure.

The consensus from our end is that right now, our project doesn't seem like it would benefit a lot from fuzzing, since most of its functionality will remain unexercised due to its heavy dependence on the

[2020-12-03 18:15] #2495 closed, assigned to nobody

[2020-12-03 18:18] mislav commented on #1968
@ssbarnea If you followed the referenced ticket, there is a PR in-progress to fix this.

In the meantime, a workaround would be to delete the existing branch before running `gh pr checkout`.

[2020-12-03 20:42] The-DevBlog opened #2544 "gh pr merge can't be merged right now; try again in a few seconds"
For some reason when I try to merge a pr with `gh pr merge` from my development branch into master I get the following error:

`Pull request #1 (Initial Commit.) can't be merged right now; try again in a few seconds`

I am able to create and merge pr's from any other branch except into master. I have to go into the Github each time to commit the merge. My master did have a protection rule on it, b

[2020-12-03 21:02] igbanam commented on #2533
[code]

[2020-12-03 21:43] igbanam commented on #2533
Seems like [v1.3.1](https://github.com/cli/cli/releases/tag/v1.3.1) fixes this.

[2020-12-04 06:53] Kralizek opened #2545 "Support for Windows ARM"
### Describe the feature or problem you’d like to solve

I'd love to use the GitHub CLI on my Surface PRO X

### Proposed solution

Currently it is not possible to install the CLI on Windows ARM system like the Surface PRO X.

### Additional context

Unfortunately, it's not possible even using WSL2 because homebrew is not available for ARM

[2020-12-04 09:02] ssbarnea commented on #1968
Thanks, deleting the branch addressed it. When i visited the linked bug, i failed to see the PR, but I am glad there is one.

[2020-12-04 09:20] mislav commented on #2533
Thanks for the update!

[2020-12-04 10:17] m0un10 opened #2546 "Deploy keys can't be added based on the repository context"
### Describe the bug

Given that I can list deploy keys against a repository using a dynamic path, I would expect I could add them this way too.

### Steps to reproduce the behavior

Given that I have `gh` 1.3.1
And I am in a local repository
And the repository is private and existing at github.com/myorg/myrepo
And I have a public key at /tmp/sshkey.pub
When I run `gh api repos/:owner/:repo/key`
T

[2020-12-04 10:19] m0un10 commented on #2546
The impact is that aliases can't be added for creating keys in a given repository (e.g. `gh create-key`) without the ability to have a dynamic API path for the POST call

[2020-12-04 10:35] mislav commented on #2544
@AndrewCS149 Thank you for reporting!

We show this error message when the merge status of the PR as reported by the API is `UNKNOWN`. If you try later with `gh pr merge` for the same PR, does it start working? Or do you eventually have to go to the web interface to merge it? When you do go to the web interface for a PR that's not mergeable by `gh`, what does the web merge box say?

[2020-12-04 10:45] m0un10 commented on #2546
Not sure if something was fixed on the server side but I can't reproduce it anymore using the steps that I documented above.

[2020-12-04 10:45] #2546 closed, assigned to nobody

[2020-12-04 13:55] mislav commented on #2545
Thanks for the suggestion. Do people often do development work on the Surface PRO X?

Until there are official binaries from our side, are you able to use Go to build and use `gh` on Surface? Is git available as well?

We usually try to gauge user interest before we officially unroll release binaries for a platform.

[2020-12-04 14:15] Kralizek commented on #2545
I can't say about Go because I don't work with it.

But most of my stack is there:
- Visual Studio Code
- .NET 5.0
- `git`

Missing:
- Docker
- GitHub CLI

[2020-12-04 15:58] nicolas-martin commented on #641
I'm looking to query all the PR I merged within the last month. It seems like the date created filter is not currently supported out of the box but it is available the `advanced search syntax`. Is there any documentation that could help me craft the advanced query through the cli?

[2020-12-04 16:10] The-DevBlog commented on #2544
Even if I wait and try to merge later through the CLI I get the same error. I end up having to merge through the web app every time. The web app merge goes over smoothly as if there nothing wrong.

[2020-12-04 17:40] mislav commented on #2544
Thanks, @AndrewCS149. I guess the solution would be to avoid erroring out on UNKNOWN merge status and just allow the merge to proceed— based on your experience, it's likely that it would succeed.

[2020-12-04 17:44] mislav commented on #641
@nicolas-martin I don't think it's possible to use advanced search syntax to look up PRs based on by whom they are merged. But, if you're looking to just filter PRs that were merged in the last month (regardless of who merged them), you can use `gh api` and a JSON filtering tool like jq (or your own program) for manual searching:

[code]

This will print all PRs in the current repo merged since De

[2020-12-04 18:07] The-DevBlog commented on #2544
I'm not exactly sure what you mean. If I try to merge it through the CLI, I immediately get the error.

[2020-12-04 18:54] tranbaominh opened #2547 "quynhthibanh@gmail.com"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-12-04 20:18] cristiand391 commented on #2533
I was able to reproduce this with v1.3.1
It only happens when `tput cols = 95` on both Alacritty and xfce terminal.

![ghasfddsf](https://user-images.githubusercontent.com/6853656/101210316-2da42780-366d-11eb-9c5b-7e874aa74055.gif)

[2020-12-04 21:01] nicolas-martin commented on #641
@mislav I actually able to create a small fix for this by piggy backing the search api just like the assignee parameter does https://github.com/cli/cli/blob/trunk/api/queries_pr.go#L964
[code]
[code]
However can't filter on author. Unlike this other format (I'm really not the best with graphql)
[code]

[2020-12-04 21:15] nicolas-martin commented on #641
Actually I did some googling around and I saw a solution you posted a few [months ago actually](https://github.com/github/hub/issues/2085#issuecomment-573705161). Which works great!
[code]

I'm really not the best in graphQL but I messed around with the current [assignee](https://github.com/cli/cli/blob/trunk/api/queries_pr.go#L964) filtering code and adding `created:2019-10-31..2020-01-01 author:

[2020-12-05 00:10] sethidden commented on #1280
To people who tried to do `gh repo create` and got scared of the `This will create 'folder-name' in your current directory. Continue?` -- I want to reaffirm that this message is misleading

[code]

[2020-12-05 10:37] igbanam commented on #2533
Interesting find! I took this a bit further to find that this behaviour happens when the last char of the prompt is on the last column of the terminal. So at 95 cols, the Labels list does shows the behaviour as @cristiand391 has shown.

My example is [here, with 116 cols](https://asciinema.org/a/Nx4CmFBdfB3lpRKcFYFv0Xm6Z) in "Add Metadata" list

[![asciicast](https://asciinema.org/a/Nx4CmFBdfB3lpR

[2020-12-05 19:59] AndrewSB commented on #2426
this isn't directly useful for your signing question, but since this is the search result for "Apple Silicon" in this repo, I'm sharing my experience:

1. I couldn't install through brew since `go` is currently broken on brew
2. I downloaded the latest release (`gh_1.3.1_macOS_amd64.tar.gz` at the time of writing) untarred, and tried to run. I was hit with an untrusted binary error from Apple.
3.

[2020-12-05 22:46] mithun337 opened #2548 "vpn discussion"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-12-05 22:46] #2548 closed, assigned to nobody

[2020-12-05 23:04] ashr123 commented on #2321
Why shouldn't we use `eval` for `zsh`?

[2020-12-06 13:35] mislav commented on #2321
@ashr123 Because `eval` slows down your shell startup time, and the completion support for zsh supports lazy-loading (i.e. loading the `_gh` completion script only when you try to Tab-complete `gh` arguments for the first time).

[2020-12-06 22:25] rivy commented on #2470
Please use XDG on Windows (if present) as well (see https://github.com/rivy/js.xdg-portable and https://github.com/rivy/js.xdg-app-paths for plaform-portable javascript examples). The algorithm defaults to `%APPDATA%\...` as appropriate when the specific XDG environment variables aren't set.

[2020-12-06 22:31] rivy commented on #2300
That construction isn't platform portable (because of the single-quotes and shell-specific utilities).
Use `git config --local --unset "remote.origin.gh-resolved"` to remove the setting.

[2020-12-07 03:03] sorz opened #2551 "Can't open browser when there is a space in $BROWSER"
### Describe the bug

Ubuntu 20.04.1 LTS on WSL

[code]

### Steps to reproduce the behavior

1. Set `BROWSER` to a path which contains a space.
2. `gh auth login`, select "Login with a web browser"
3. See error: "failed to authenticate via web browser"

### Expected vs actual behavior

Browser start and open the page.

[2020-12-07 12:36] pes2020kk opened #2553 "ios 14"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-12-07 12:37] pes2020kk opened #2554 "ios"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-12-07 12:47] pete-woods opened #2555 "Dynamically linked Linux binaries are not compatible with MUSL C"
### Describe the bug

The GitHub CLI doesn't work on Alpine Linux.

### Steps to reproduce the behavior

1. `docker run --rm -it alpine`
2. `apk add curl`
3. `curl -fsSL 'https://github.com/cli/cli/releases/download/v1.3.1/gh_1.3.1_linux_amd64.tar.gz' | tar -C /usr/local --strip-components=1 -xz`
4. `/bin/sh: /usr/local/bin/gh: not found`

[code]

### Expected vs actual behavior

Go binaries shoul

[2020-12-07 12:50] #2553 closed, assigned to nobody

[2020-12-07 12:50] #2554 closed, assigned to nobody

[2020-12-07 12:54] mislav commented on #2551
@sorz The BROWSER environment variable is evaluated using shell world splitting rules. That means that in order to provide a path that has spaces, you should put the path in quotes:

[code]

Could you please try that?

[2020-12-07 12:55] pete-woods commented on #2555
I *think* #2556 is all that is needed to fix this

[2020-12-07 13:11] #2459 closed

[2020-12-07 13:12] #2474 closed

[2020-12-07 13:12] #2484 closed

[2020-12-07 13:13] #2496 closed

[2020-12-07 13:13] #2525 closed

[2020-12-07 13:13] #2528 closed

[2020-12-07 13:13] #2538 closed

[2020-12-07 13:13] #2547 closed

[2020-12-07 13:14] cdce8p opened #2557 "gh repo clone specify upstream fetch args"
### Describe the feature or problem you’d like to solve

I really like that `gh repo clone` automatically adds the upstream repository as a remote. However what keeps my from using it is that I don't have any option to specify which parts of the upstream repo I want to fetch. The command just assumes it's everything. Especially for large projects this might not always be the case.

`gh repo clone`

[2020-12-07 14:40] mislav commented on #2544
@AndrewCS149 Sorry that I wasn't more clear— I meant to say that we could try removing the condition in CLI source code that tests for `UNKNOWN` merge status and errors out immediately. Due to aborting early, CLI does not even attempt the API merge. I'm thinking that if it did, the merge may be successful. If it's not, then the user will get an equivalent error message from the API.

[2020-12-07 15:19] cristiand391 commented on #2533
Someone already reported this bug in Survey (which `gh` uses for prompts), see https://github.com/AlecAivazis/survey/issues/318

[2020-12-07 21:53] kdcloverkid opened #2558 "https://github.com/cli/cli/pull/2529#issue-530658048"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-12-07 21:54] kdcloverkid opened #2559 "https://github.com/cli/cli/pull/2529#issue-530658048"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-12-07 22:21] #2558 closed, assigned to nobody

[2020-12-07 22:21] #2559 closed, assigned to nobody

[2020-12-08 00:26] justAnotherDev commented on #2544
I am also experiencing this issue, is this a recent introduction? Is it possible to downgrade `gh` to bypass this error until fixed?

[2020-12-08 00:29] justAnotherDev commented on #2544
also you had this exact idea when the original PR was created @mislav 😄 :

 https://github.com/cli/cli/pull/899/files/28d8a9e7819eaf33c9ea0ae2ed35c5a636b38d3f#r429839747

[2020-12-08 01:09] Enterprises-Gracida-Veracruz opened #2561 "go build -o bin/gh ./cmd/gh"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-12-08 01:12] Enterprises-Gracida-Veracruz opened #2562 "## Building the project > # CLI Feedback"
## Building the project>
github.com/cli/cli/pull/2449/files> ## What have you loved?
.github/CONTRIBUTING.md> _eg "the nice colors"_

Za randombytes_set_implementation())> ## What was confusing or gave you pause?

https://opensource.guide/how-to-contribute> ## Are there features you'd like to see added?

https://primer.style/cli/> ## Anything else?

## Submitting a pull request

_Originally posted

[2020-12-08 02:36] brybott-tubi opened #2564 "Adding a body via the gh pr prompt does not include the body in Github's PR UI."
### Describe the bug
The body that is typed when the system's default editor is opened from the Body prompt is not added to the PR in the Github Web UI.

gh version 1.3.1 (2020-12-03)
Not sure if it's relevant but I'm on Linux OpenSUSE

### Steps to reproduce the behavior

I type `gh pr create`
I'm prompted for a title (I hit enter to use the pre populated title from the commit title)
I'm prompted

[2020-12-08 02:50] seanmrnda opened #2565 "git push feature"
### Upload to a certain branch

Uploading to a branch seems missing from the features/commands

### Creating that feature could be helpful

[2020-12-08 02:51] Schwarz-Sterben commented on #2565
thank you

[2020-12-08 03:15] sorz commented on #2551
It works on `gh` after putting the path in quotes, but it seems break other programs.
I tried a few possible usages with BROWSER, the result are following:

- Without quotes
  - `gh  auth login` :x: error
  - `$BROWSER example.com` :x: error
  - `"$BROWSER" example.com` :heavy_check_mark: OK
  - `python -m webbrowser -t example.com` :heavy_check_mark: OK
- With quotes
  - `gh  auth login` :heavy_c

[2020-12-08 05:08] massto opened #2566 "Redact if needed."
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error
4.redact needed
### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command

[2020-12-08 05:58] rcasto opened #2567 "Allow "gh pr create" to specify a pull request template to use"
### Describe the feature or problem you’d like to solve
In cases where there are multiple pull request templates in a repo, you may want to specify which exact template to use for a pull request.

In these cases it would be nice to be able to utilize the [`gh pr create`](https://cli.github.com/manual/gh_pr_create) command and specify this.

It doesn't seem that this is possible today, but I may ve

[2020-12-08 06:04] Enterprises-Gracida-Veracruz opened #2568 "Terra.Bio"
[Gatakka&Google&Gracida&Co.](https://developers.facebook.com/docs/commerce-platform/platforms/distribution/MPApprovalAPI/@enterprises-gracida-veracruz/github/docs/compare/main...Enterprises-Gracida-Veracruz:patch-15) ### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its use

[2020-12-08 09:08] xyligan78 opened #2570 "> _No description provided._"
https://github.com/cli/cli/pull/2569#issue-534270495

_Originally posted by @xyligan78 in https://github.com/cli/cli/issues/2569#issuecomment-740488242_

[2020-12-08 09:09] xyligan78 opened #2571 "https://github.com/cli/cli/issues/2570#issue-759264049"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-12-08 09:13] lovung opened #2573 "Can comment and start review session in `gh pr diff` view"
### Describe the feature or problem you’d like to solve

Developers can comment directly when seeing the diff of the pull request.

### Proposed solution

- Adding a new command to add comments like `gh pr comment --line 50 (line of diff patch) -b "body of the comment"`
- Pass the current line of the cursor of the editor to `50`

[2020-12-08 11:15] abitrolly commented on #1972
The `gh` token with literally access-to-everything leaves too broad attack surface.

[2020-12-08 13:50] AdarshAbhilash opened #2574 "Program Detection Error - Faulty recognition of files as empty"

[2020-12-08 14:03] #2574 closed, assigned to nobody

[2020-12-08 16:16] garvit-joshi commented on #2352
I am not sure if this should be mentioned here, but some emojis are not working in Command Prompt.
![gitcli](https://user-images.githubusercontent.com/55401175/101509035-56def380-399e-11eb-923c-8f9541934c0a.PNG)
The Tick emoji(✓) to be precise.

[2020-12-08 16:40] trammel-may commented on #1734
@mislav I wanted to take some time to address my original comment as it indirectly resulted in your comment.

Here is the version of the entire gh man page I have locally. This is newer than my original comment, but probably not current.

[code]

While other pages are referenced, they have no descriptions. By contrast, let's look at a small piece of git's man page where it goes through their comma

[2020-12-08 18:13] mislav commented on #2565
Hi, we are planning a feature to push code to a PR: https://github.com/cli/cli/issues/2189

If the branch is not tied to any PR, but needs to be pushed to a remote, it's intentional that GitHub CLI does not support it, since it can be easily done with git:
[code]

Hope that answers your questions!

[2020-12-08 18:13] #2565 closed, assigned to nobody

[2020-12-08 19:39] #2561 closed

[2020-12-08 19:39] #2562 closed

[2020-12-08 19:40] #2566 closed

[2020-12-08 19:40] #2568 closed

[2020-12-08 19:41] #2570 closed

[2020-12-08 19:41] #2571 closed

[2020-12-08 19:45] samcoe commented on #2564
@brybott-tubi That is odd behavior. Have you noticed this happening before version 1.3.1? Could you try changing your editor and trying again? Since the command is working properly when the `-b` flag is used I suspect the issue here stems from the interaction between `gh` and whichever editor you are using.

[2020-12-08 20:06] samcoe commented on #2567
@rcasto Thanks for the feedback. We do allow the use of templates for creating pull requests. It is available in interactive mode and the option only shows up if the `--body` flag is not specified and if there are template files in the locally checked out repository. I hope that helps answer your question. Additionally, now that you know this feature does exist, would you like to see a correspondi

[2020-12-08 20:06] woznet commented on #1775
I made a few edits which made this a lot more workable for me, I posted the changes here - https://gist.github.com/Woznet/fcf17f71452ab9efeeb17765694b1797

I found 2 errors in the powershell completion script generated from `gh completion --shell powershell` - gh version 1.4.0
The first with `[CompletionResult]::new('version', 'version', [CompletionResultType]::ParameterValue, '')`, the tooltip pa

[2020-12-08 20:08] samcoe commented on #2573
Good news! We have actually already started work on this feature and expect it to ship soon. You can follow along our progress in https://github.com/cli/cli/issues/517.

[2020-12-08 20:08] #2573 closed, assigned to nobody

[2020-12-08 20:15] samcoe commented on #2352
A quick update here. The upstream PR https://github.com/charmbracelet/glamour/pull/92 was merged in 🎉! Now we just need to wait for the next release of `glamour`.

@garvit-joshi That is interesting. This issue is specifically for emoji rendering in our markdown renderer, where as it appears you are having rendering issues in our survey code. I think it would be best to keep these separate, so if y

[2020-12-08 20:33] ClementRoyer commented on #837
Same at this date.

[2020-12-08 20:51] garvit-joshi opened #2576 "Unicode character not rendered in Command Prompt"
### Describe the bug

When using the windows command prompt, some emojis are not rendered.
[code]

### Steps to reproduce the behavior

1. Type this ```gh auth login``` in cmd.
2.  Tick Emoji(✓) will not be rendered.

![GHError](https://user-images.githubusercontent.com/55401175/101539528-afc18280-39c4-11eb-9955-032eb97e0b0d.PNG)

### Note:
1. [Microsoft Terminal](https://www.microsoft.com/en-us/p

[2020-12-08 20:56] ismaell opened #2577 "CGO_LDFLAGS is incompatible with LDFLAGS"
## Problem
When `LDFLAGS` contains the `-s` flag (for stripping), the build fails with:

[code]

## Reproduction
[code]

## Comments
It is common practice to include link-time flags for purposes other than finding libraries, which might be filtered by Cgo. This is specially true for build frameworks used by operating systems.

* Solution 1: Do not use `LDFLAGS` at all.
* Solution 2: Pick specific

[2020-12-08 21:20] ismaell opened #2578 "Makefile: BUILD_DATE only computes properly on GNU systems"
The `-d` argument to the `date` command is not portable, and there's no portable alternative.

This results in an error in BSD systems, and consequently always the current date in `BUILD_DATE` even if `SOURCE_DATE_EPOCH` is defined.

On BSD systems one must use `-j` and `-f` to produce an equivalent effect to the GNU `-d` (BSD doesn't guess the format).

[2020-12-09 01:48] brybott-tubi commented on #2564
Thanks @samcoe for responding.
I have not used any version prior to 1.3.1.
When I change the editor via `gh config set editor vi` and attempt to run `gh pr create` again, and use vi to add my body text, it does work as expected.
For additional context my default editor as set by my system is Sublime and opened with the command `subl`.

[2020-12-09 13:45] mislav commented on #2189
@bsiegel Right now, `gh` still doesn't set your Git credentials even after you log in. You will need to [configure git manually](https://docs.github.com/en/free-pro-team@latest/github/using-git/caching-your-github-credentials-in-git).

However, we are working on a feature that will take care of this automatically for you: #1434

[2020-12-09 13:53] swyxio commented on #2189
for the record I had a convo with the maintainers and they said that this functionality actually exists in the CLI, it was just totally undocumented bc it has edge cases that aren't nice (eg if you have branch name conflicts) . so I guess we wait for them to document it and or to implement the custom gh PR push logic accounting for edge case.

[2020-12-09 14:04] mislav commented on #2564
@brybott-tubi Unlike `vi`, graphical text editors often require a special flag to signal that the editor command-line process should block until you save & exit the file. Otherwise, the `subl` process immediately exits before you've even started editing, and your edits are not reflected at all.

Typically, the invocation is something like `subl -w`. Can you try configuring that as editor?

[2020-12-09 14:09] r3nanp opened #2584 "add --b flag to gh repo clone command"
## I would like to have --b flag
i would like to have --b flag to clone a certain branch

### Add --b flag

[code]

make easier to clone certain branches to work with.

Obs: **if this flag already exists, please make a example in CLI documentation**

### Additional context
I try to use --b or -b flag, but it's unknown.
![codee](https://user-images.githubusercontent.com/47953339/101639619-46fef800-

[2020-12-09 14:15] mislav commented on #2576
@garvit-joshi Thank you for reporting! BTW, do you know which version and patch level of Windows are you using?

I changed the title of the issue since the ✓ character is not technically a color emoji; it's just a plain Unicode glyph. We were convinced that it should render in Command Prompt with default settings, but it doesn't look like it from your experience. 😕

[2020-12-09 14:19] mislav commented on #1734
@mayt-moonboy Thanks for taking the time to illustrate your point. I fully agree, and I will try to incrementally make steps to bring our man pages closer to the quality level of git man pages. 👍

Right now, they seem rudimentary because they are. We're only taking what our CLI framework generates and not improving that in any way. Over time, we saw that we need to take documentation matters into

[2020-12-09 14:21] mislav commented on #837
@vvscode @ClementRoyer Try setting a per-host config:
[code]

Follow https://github.com/cli/cli/issues/1980#issuecomment-700807447 for updates.

[2020-12-09 14:23] samcoe commented on #2557
@cdce8p Thanks for the feature request. This seems like a reasonable feature and I can envision use cases where this would be beneficial to have. To start I think it makes sense to just support the `-t <branch>` flag rather than all `git remote add` flags, and if there are requests to add support for more we can re-evaluate at that time.

[2020-12-09 14:23] seanmrnda commented on #2565
yes, indeed. but adding that feature would be less confusing for new users. Thanks.

[2020-12-09 14:25] mislav commented on #2584
There is already a way to pass it:
[code]

E.g. `gh repo clone cli/cli -- -b trunk`

[2020-12-09 14:25] #2584 closed, assigned to nobody

[2020-12-09 14:29] garvit-joshi commented on #2576
[code]
[code]

[2020-12-09 14:32] mislav commented on #2557
@cdce8p Thanks for bringing this to our attention!

I'm less sure about the long-term stability of this approach. The current contract of the command is this: everything in `gh repo clone cli/cli -- ...` passed after `--` is forwarded as flags to `git clone`. If we start editing this list of arguments by extracting some of them and selectively passing them to another command, we break this contrac

[2020-12-09 14:38] jeffg-archive commented on #2329
With [peco](https://github.com/peco/peco) you can do:
[code]

Or as an alias:
[code]

It's not as pretty as a native `gh` solution, as we have to fall back to machine output mode for the pr list and lose the nice formatting.

[2020-12-09 14:42] mislav commented on #2551
@sorz Ah, thanks for looking that up. It looks like other programs such as Python `webbrowser` expect the BROWSER value to be in a different format.

We should perhaps support a new variable called GH_BROWSER so that you could configure a browser specifically for gh and avoid breaking other programs. Or, allow users to set browser via `gh config set`: #858

[2020-12-09 15:44] cdce8p commented on #2557
@mislav Avoid auto-fetching from upstream would certainly be an option. However this is a part of what I like about `gh repo clone`. IMO the value of the command would be diminished if I would had to run `cd repo` and `git fetch upstream master` afterwards.

I proposed adding it to `<gitflags>`, but what about adding a normal flag `-t <branch>` instead? That way the documentation could state clear

[2020-12-09 17:45] brybott-tubi commented on #2564
@mislav using `subl -w` as the editor indeed caused the body editing process to work as expected. Thank you for the information and your help!

[2020-12-09 18:36] #2564 closed, assigned to nobody

[2020-12-09 18:38] erard22 opened #2586 "Wrong Ruby Version when installing with homebrew"
### Describe the bug

I just installed the cli using homebrew but it was asking for ruby 2.0

`#!/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby`

What is not installed on my system. I only have version 2.6.

I then manually changed to 2.6 in the gh file but it does not seem to work with this version of ruby:

[code]

### Steps to reproduce the behavior

1. 'brew install gh'
2.

[2020-12-09 18:38] anders-kiaer opened #2587 "repo create: local directory for new repo not created when non-interactive and --confirm"
### Describe the bug

Not sure if it is a bug or undocumented feature: It looks like when capturing the output of `gh repo create`, local folder is not created (while it is when running without output capture).

[code]

### Steps to reproduce the behavior

1. Be outside of an existing local `git` directory.
2. Run `echo $(gh repo create org/repo --private --confirm)`
3. The repository is created o

[2020-12-09 19:12] mislav commented on #2586
Sorry that you're having trouble. But our project is written in Go, not Ruby, and `brew install gh` pulls a precompiled binary [from the official repository](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gh.rb), so the `gh` you should have ended up is a binary file, not a script that you can edit.

Whatever you installed as `gh`, it's not the official formula. Please check the list

[2020-12-09 19:12] #2586 closed, assigned to nobody

[2020-12-09 19:25] cdce8p commented on #2557
After looking at the code, it might be even better to only fetch the default upstream branch. I didn't know if it would be possible which is why I didn't suggest it before.

[2020-12-09 23:22] 091530777777 opened #2589 "TIL. Also, glad to see this work moving along."
Deletef

[2020-12-10 00:23] rcasto commented on #2567
Ahhh thanks @samcoe! Totally didn't know it worked that way, some documentation around that would definitely be good in order to highlight that capability. In this case the capability is definitely workable, but being able to setup aliases and such that automatically make this selection I think would also be useful.

Outside the scope of the CLI of course, but it would ultimately be useful to be a

[2020-12-10 01:38] eacp commented on #1773
Where would you like that directory to be?

[2020-12-10 04:43] ojkelly commented on #2450
Could you warn if there was more than say 50 repos? Plenty of cli apps do things like this, and just warn the user when it may be a long operation, or may consume large amounts of resources.

I work across a number of GitHub organisations, and this would be a really neat feature.

Partly because I also keep repos on disk in the format `src/orgname/{repo1,repo2...}` like @vilmibm mentioned.

[2020-12-10 04:47] ojkelly opened #2591 "gh clone into an organised directory"
### Describe the feature or problem you’d like to solve

Following on from #2450, I keep all my repos in a consistent place in the format `src/orgname/{repo1,repo2...}`. A habit I picked up from the original Golang days. I've found it so useful it persists to all repos outside Golang.

I'd love the option (possibly opt in in a config) to have `gh clone` put the repo in `${GH_DIR}/${orgname}/4{repo

[2020-12-10 05:55] just1a-person commented on #1740
This shouldn't affect `winget`