[2021-03-16 14:45] mislav commented on #3238
I agree, that would be cool!

I'm going to close this as a duplicate of https://github.com/cli/cli/issues/1634 🙇

[2021-03-16 14:45] #3238 closed, assigned to nobody

[2021-03-16 14:49] mainrs commented on #1634
I did even searched for similar issues before. Looks like I used the wrong keywords haha :)

Anyway, I wanted to chime in and say that maybe the exit code could be set accordingly if the PR checks fail (?). This would allow to chain commands if the checks pass (like merging).

[2021-03-16 14:58] scottmarlow commented on #3234
Some other ideas for improvement:
- Consider ways that pull request review could be an interactive experience (e.g. add interactive `gh` shell).
- Consider different ways that the pull request review could use all of the different `git show` options that help in different ways (like the ones mentioned above but also others not mentioned).
- Add save/load of current place (in code review) to extern

[2021-03-16 15:52] mislav commented on #3236
Hi thanks for the feature request!

We are already tracking the addition of various filtering options for issues and pull requests here: #641

Searching by commit SHA is on the list. It will become available when PRs support searching by keyword. The search feature is already under development for issues here: #3196

[2021-03-16 15:52] #3236 closed, assigned to nobody

[2021-03-16 16:02] mislav commented on #595
The latest release of gh supports passing a `-F/--body-file` with either a filename or `-` to read from standard input. This is the preferred alternative to specifying multi-line bodies inline using the `-b/--body` flag.

[2021-03-16 16:02] #595 closed

[2021-03-16 16:12] jerrybolger opened #3239 "gh issue view : different output when redirecting to a file"
Hi

I've looked through a lot of previous issues and the discussions regarding redirecting the output of an issue view to a file, but I didn't see anything matching the issue I'm currently facing using gh from the Windows 10 command line on a GitHub Enterprise repository.

If I issue an issue view command in the terminal I get the following output (I have set NOCOLOR=1):

[code]

If I use the same

[2021-03-16 16:58] Ashish-Pandey-Imprivata commented on #1023
Any timelines to fix the issue of changing **first line of commit message** when doing `pr merge` operation? As others have mentioned before, there is a need to consolidate the comments during `pr merge` operation for those who follow Conventional Commit message format. Thanks for adding `-b` option for commit body though.

[2021-03-16 17:17] driesvints commented on #3088
@mislav we unfortunately had to revert your suggestion for the installer because it would only work on WSL for Windows. Our installer is intended to work for Windows in general. So we're back at square one I'm afraid.

[2021-03-16 17:17] ferdiantriass26 opened #3240 "Flask"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-16 17:47] mislav commented on #3239
Thanks for writing in! This is currently by design.

When not redirected to a file, we assume that we are printing to a terminal, therefore we offer rich visual output including color, indentation, and markdown rendering.

When redirected to a file or script, we assume that the user wants to programmatically read in the data in a format that's more "machine-readable". This means: no color, clear s

[2021-03-16 18:05] jerrybolger commented on #3239
Hi Mislav

Thanks for the response. I can understand the logic. What I don't really get is the fact that the body of the issue is omitted when using -c with redirected output, but is included when the output goes to the terminal.

I guess I can work around this by calling:
` gh issue view # >> output.txt`
followed by
` gh issue view # -c >> output.txt`

That will probably do the trick, but I'm try

[2021-03-16 18:19] mislav commented on #3239
Ah, I see now the heart of your question. The answer lies here in my conversation with @samcoe: https://github.com/cli/cli/pull/2462#discussion_r529293088

In short, we made a call that you should need two separate API requests to fetch this because our current plain text format does not make it easy to embed structured data, like nested comments.

If you're fetching data for 6000 issues, I would

[2021-03-16 18:42] jerrybolger commented on #3239
Hi Mislav

Great - thanks a million for the explanation and pointers. I will have a look at using the api.

Thanks and regards,
Jerry

[2021-03-16 21:10] arthropodSeven opened #3246 "Add config value `pr.merge.auto-delete` to change the default interactive prompt response for `--delete-branch`"
### Describe the feature or problem you’d like to solve

I would like to be able to configure `gh pr merge` with a default value for the `-d` flag. In interactive mode, this would determine the default response.

When running `gh pr merge` interactively, I'm prompted to decide whether delete the merged branch locally and on the remote. This is fine, and I'm sure many users make this decision based

[2021-03-17 04:45] ferdiantriass26 opened #3248 "# Design 1 (clone, modify, and upload):"
# Design 1 (clone, modify, and upload):

We may clone the whole gist files to a temp folder in the current directory and let users update them there. By getting a gist by its id, we should be able to retrieve all files (see [here](https://developer.github.com/v3/gists/#get-a-gist)). Let's say the folder name is same as gist id.

Clone all files

[code]

Then the files will be cloned to ``/<gist_id

[2021-03-17 05:28] ashly1111111 opened #3249 "Sreps"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-17 05:28] ashly1111111 commented on #3249
Clean up

[2021-03-17 09:21] alibyek opened #3250 "Readme.md"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-17 10:31] gregopet opened #3252 "Uploading new releases is too slow and mostly times out"
### Describe the bug

We are trying to upload artefacts created with our build server. We are uploading two files, one ~50Mb and the other ~90Mb. We can upload one or the other, but it takes 20 minutes to do so. If we try to upload both the process fails with `http2: Transport: cannot retry err [stream error: stream ID 1; REFUSED_STREAM] after Request.Body was written; define Request.GetBody to av

[2021-03-17 11:11] gregopet commented on #3252
Additional information: there is no difference if I create the release by SSH-ing into the build agent container or if the build server runs it in a script. The speed tests were also done from the same build agent container just prior to attempting a new release.

[2021-03-17 11:59] ssachet commented on #1900
How to make it non-interactive way

[2021-03-17 15:00] mainrs commented on #446
I do have a CLI lying around as well for labels. It actually offers a command to register `gh` aliases: https://github.com/SirWindfield/gh-labels-cli. You can simply run `gh-labels integration install` and the alias gets registered.

I mostly use it in two scenarios:
1) Create repo-specific labels. You can define template colors inside the label definition file (LDF) and create labels based on tho

[2021-03-17 15:09] #3249 closed, assigned to nobody

[2021-03-17 15:13] mislav commented on #3252
Thank you for reporting! I see three separate problems here:

1. File uploads over HTTP/2 weren't able to be retried on server errors. This is being fixed in #3253;
2. Asset uploads are slow for you;
3. Concurrent asset uploads fail immediately.

I just tried to reproduce the asset upload slowness, but could not see it. I tried uploading a 120 MB and 190 MB asset with `gh` simultaneously and both

[2021-03-17 15:37] gregopet commented on #3252
Thank you for looking into this; running `env | grep -i proxy` produces nothing, and I've done the speed test using the CLI already (there is no browser on the machine, it's a headless docker container based on Ubuntu 20.04.2 LTS).

Also, we're a small company, we don't have a complicated network setup (although it could still be network related, of course).

[2021-03-17 16:10] gregopet commented on #3252
I did another test: I opened a `netcat` port on a machine outside our network and piped the incoming bytes to `/dev/null`. Then I used `curl` to send a big file from our container and the speed was around 80Mb/s (probably limited by the destination machine because it's just a home computer). I don't know what exactly this proves, but at least it was using TCP & HTTP which I presume the GitHub CLI

[2021-03-17 16:13] mislav commented on #3252
@gregopet Thanks for trying that out!

To rule out docker network routing being the culprit, are you able to copy the built assets from within the container to the host machine that runs the containers, and try the upload from there?

I'm going to report this to our infrastructure team, but I need as much information as possible. For instance, a similar report from a gh user who sees the same erro

[2021-03-17 17:13] mislav commented on #3252
BTW, if you are able to try the branch with the request retrying fix, that would be great. All it requires is git and a recent Go version to build the binary:

[code]

[2021-03-17 17:54] mislav commented on #3252
I've checked with our infrastructure teams and so far we haven't discovered any reason why simultaneous uploads would error out with REFUSED_STREAM (the allowed number of concurrent connections is 100), however HTTP/2 support is pretty new at GitHub and there may be something that we've missed.

If more CLI users report this, we may consider an option for `gh` to always use HTTP/1.1 in case HTTP/2

[2021-03-17 18:16] mislav commented on #3234
Hi, these are all great suggestions; thank you for writing in.

I'm guessing that the diff-related suggestions are for the `pr diff` command instead of for the `pr view` command, since the latter doesn't display any diffs?

I'm afraid that we can't really fine-tune how the diff is generated. We get the PR diff [from the API](https://docs.github.com/en/rest/reference/pulls#custom-media-types-for-pu

[2021-03-17 18:46] scottmarlow commented on #3234
Good point, I am a `gh` newbie so not surprised I confused the commands. :-)

Interesting, thanks for explaining that.  Is this the same API that is used for reviewing pull requests in the (HTML) browser?  I'm just curious about that for general information if you happen to know.

Yes, that is the current workaround in general for reviewing large pull requests.

Do you think that `pr diff` should

[2021-03-17 18:58] mislav commented on #3239
Great, I'm happy to have given you some alternatives. Closing because:
1. The behavior you are seeing is by design;
2. We will provide alternative output formats in the future #385;
3. You can use `gh api` to drop down to the API layer so to not wait for us to ship new features.

[2021-03-17 18:58] #3239 closed, assigned to nobody

[2021-03-17 19:07] mislav commented on #3088
@driesvints Thanks for letting me know. I don't see why that approach wouldn't work outside of WSL, but I must admit I haven't tested it on Windows. I will report back with my findings

[2021-03-17 19:55] mislav commented on #1023
Thanks for the feedback, everyone. Reopening as a feature request to be able to edit the commit subject message as well as the commit body.

[2021-03-17 20:21] mislav commented on #3234
It's not exactly the same API, as the PR review in GitHub's web UI allows additional features that are not available over public APIs, such as expanding the diff and requesting a partial diff, but they work on the same principles. Both of them request the diff from the internal git service that has physical access to git trees.

It's very unlikely that we would expose all the different diff flags

[2021-03-17 20:43] Ashish-Pandey-Imprivata commented on #1023
Thanks a lot. Since I am not familiar with GH CLI release cycles, would it be possible to get a _rough timeline_ on release when this feature would be available?

[2021-03-17 20:48] relma2 opened #3255 "New command to append compressed source code to Release"
### Describe the feature or problem you’d like to solve

A new command called
```gh release source <tag> [branch_or_sha] [--no-prompt]```
That appends the current directory as `Source_Code.zip` and `Source_Code.tar.gz` zipped and tarballed, respectively.

Only works if the current directory is the git repo associated with the release. Will prompt before overwrite existing assets unless the --no-pr

[2021-03-17 21:26] mislav commented on #3255
Hi, thank you for the detailed feature request!

I'm wondering what value would this command add when every GitHub Release intrinsically has the `Source Code (zip)` and `Source Code (tar.gz)` assets generated from the state of the git repository?

[2021-03-17 22:20] relma2 commented on #3255
Wait... it does??
In my draft release it does not-
oh. does it not intrinsically include it for draft releases??

[2021-03-18 07:00] nodesocket opened #3256 "Public repo information (such as releases) without auth"
## Describe the feature or problem you’d like to solve

I'd like to use this cli to view information about public GitHub repos such as releases. Currently it appears it only works with authenticated repos.

## Proposed solution

Perhaps an interface like:

[code]

Should **NOT** require `gh auth login`.

## How will it benefit CLI and its users?

Use this cli to programmatically get public repo in

[2021-03-18 07:17] gregopet commented on #3252
I followed your advice and created the release from the machine that hosts Docker. You were right, it's most likely a Docker issue - the host machine uploaded both files in under a minute. The host & container are different Linux distributions, but both are very mainstream (Debian 10 on the host) so I doubt they are the issue.

I'm not sure how far to go here - I really don't expect you guys to he

[2021-03-18 07:58] gregopet commented on #3252
Huh, something funny happened - after trying the release from the Docker host machine, I copy pasted the command back into the container, and the upload was fast. What made the difference was apparently whether I specify the target repository manually (which I did on the docker host machine) or not (which I didn't have to do on the build machine since the script runs inside the git repository).

F

[2021-03-18 10:21] karlb commented on #3089
@mislav Is any more input needed, or should the "needs-user-input" label be removed?

[2021-03-18 13:53] mislav commented on #3089
@karlb You are right. I've taken down the label and reclassified this as a bug. Thank you!

I hope you can keep using the environment variable in the meantime (you can put it in your shell initialization file), but we will look into it as soon as we find time.

[2021-03-18 13:56] g14a commented on #3188
@mislav What about an optional feature where we give a user a survey with the list of all eligible repos he can transfer the issue to? I've already implemented it. But in case of organizations, I couldn't query all the repos with the pagination api to list them, because I get the following error when I execute this:

[code]

[code]

Afaik, all organizations have OAuth enabled by default so I'm abl

[2021-03-18 14:03] mislav commented on #3089
I'm having trouble finding a Linux distro with gnome-terminal 3.30. Most of them are on 3.38. Is it an option for you to try updating gnome-terminal first to see if the auto-detection of terminal background starts working?

Remember to cancel out the environment variable in case you set it globally:
[code]

[2021-03-18 14:08] mislav commented on #3252
Huh, that is so interesting.

The only difference between these two commands is that the version without the `-R` flag does `git remote -v` to determine which GitHub repository does the local checkout point to. After that, their upload functionality is identical.

[2021-03-18 14:13] mislav commented on #3256
Thanks! Duplicate of https://github.com/cli/cli/issues/2680

[2021-03-18 14:13] #3256 closed, assigned to nobody

[2021-03-18 14:36] gregopet commented on #3252
I'll keep an eye on the behaviour and keep you posted; we're currently not releasing that often, maybe it's something random and I just don't have a large enough sample yet. But the last two uploads were as fast as we'd expect.

[2021-03-18 15:29] karlb commented on #3089
It is the version in debian's stable release:
https://packages.debian.org/buster/gnome-terminal

Due to all the involved gnome dependencies, updating it is nothing I
want to do. I can try other terminals, though. I have the same problem
running `st` from the master branch.

On Thu, Mar 18, 2021 at 3:03 PM Mislav Marohnić ***@***.***>
wrote:

[2021-03-18 15:30] mislav commented on #3089
Thanks for the context. What is `st`?

[2021-03-18 15:33] karlb commented on #3089
It's a minimal terminal emulator: https://st.suckless.org/

It's trivial to compile on every machine, and has a tiny code base. That
can be helpful when testing.

On Thu, Mar 18, 2021 at 4:30 PM Mislav Marohnić ***@***.***>
wrote:

[2021-03-18 16:45] mislav commented on #3255
@relma2 Draft releases are not "real" releases, since they haven't been published yet. But the moment you publish a release, a release gets its own git tag (if the tag didn't exist yet) and the download links to download the zip/tgz source code for that tag.

Check our releases: https://github.com/cli/cli/releases/tag/v1.7.0
We never add the "Source Code" assets ourselves. They are generated autom

[2021-03-18 16:50] g14a commented on #3188
@mislav here's the PR. https://github.com/cli/cli/pull/3258 I did my best but it needs some feedback as well.

[2021-03-18 17:04] mislav commented on #1023
@Ashish-Pandey-Imprivata We don't know. If someone wants to step up and contribute the code for feature via a pull request, it might get released within the next few weeks. Otherwise, it's going to be whenever we find time to get to this.

In the meantime, this manual approach will work with existing versions of GitHub CLI:
[code]

It can be saved as an alias:
[code]

[2021-03-18 17:14] Ashish-Pandey-Imprivata commented on #1023
Thanks for your comment and suggestions for a good workaround in the meantime. Using "gh api" is slightly involved, but works fine.

[2021-03-18 18:40] mislav opened #3260 "`repo fork --clone` does not clone an existing fork locally when running non-interactively"
The expected behavior is that `gh repo fork owner/repo --clone` always clones the fork locally, regardless of whether the fork was just created or whether it had existed before.

However, if the fork had existed before and we are running _non-interactively_, there is a premature `return` and the command never clones the repository.

Reported by @isaacrlevin

[2021-03-18 19:08] relma2 commented on #3255
oh rip.
i thought you had to manually add it. the fact that gh auto-appends source code once releases are un-drafted means this actually isnt necesary
never mind then.

[2021-03-18 19:08] #3255 closed, assigned to nobody

[2021-03-18 21:29] cristiand391 commented on #3089
I was able to reproduce this behaviour with Alacritty + `clrs-light` theme + tmux.

`gh issue view 3089 -R cli/cli`

Left: Alacritty + tmux ----------------------- Right: Alacritty

![Screenshot_2021-03-18_18-03-25](https://user-images.githubusercontent.com/6853656/111698152-6340db00-882e-11eb-8f68-85c31c8d044b.png)

[code]

[2021-03-18 22:12] dawgdemi commented on #1262
#3260
Duplicate of #

[2021-03-18 23:27] marksr12 opened #3262 "Additional information: there is no difference if I create the release by SSH-ing into the build agent container or if the build server runs it in a script. The speed tests were also done from the same build agent container just prior to attempting a new release."
Additional information: there is no difference if I create the release by SSH-ing into the build agent container or if the build server runs it in a script. The speed tests were also done from the same build agent container just prior to attempting a new release.

_Originally posted by @gregopet in https://github.com/cli/cli/issues/3252#issuecomment-800997794_

[2021-03-18 23:34] #3262 closed

[2021-03-19 11:13] gregopet commented on #3252
About 5 releases later, we've got a upload again with no change in the build scripts. For now it appears to be random..

[2021-03-19 12:45] mislav opened #3265 "Add support for environment secrets"
via @tylerxwright https://github.com/cli/cli/discussions/3242

https://docs.github.com/en/rest/reference/actions#list-environment-secrets

What should the cli for this look like?

[2021-03-19 13:43] g14a commented on #3098
@VuiMuich This would be available once https://github.com/cli/cli/pull/3196 is merged and you can apply sorting conditions sort by

```gh issue list --search sort:comments-desc```

https://github.com/cli/cli/pull/3196 is part of the tracking issue https://github.com/cli/cli/issues/641

[2021-03-19 13:53] VuiMuich commented on #3098
great, thanks!

[2021-03-19 14:14] mislav commented on #3089
Thanks for the extra info!

I was not able to reproduce in GNOME Terminal 3.38, but it seems that this is still an issue in several environments. I wonder whether gh should define its own Glamour theme that uses the basic 8 ANSI colors so that it works in any terminal background or color scheme. /cc @vilmibm

[2021-03-19 14:46] scottmarlow commented on #3234
I would like to wait a few days before responding again so other users can have a chance to voice their input on this issue.  :-)

[2021-03-19 15:21] jrogov commented on #1646
As a dirty workaround, bash function/script may be used (OSX in example):
[code]

Note: interactive features of gh (e.g. progress of creating a PR) are lost.

Similarly, `open $url` can be used to open the PR itself.

[2021-03-19 16:07] #3170 closed

[2021-03-19 16:07] #3171 closed

[2021-03-19 16:07] #3172 closed

[2021-03-19 16:07] #3173 closed

[2021-03-19 16:07] #3174 closed

[2021-03-19 16:07] #3175 closed

[2021-03-19 16:07] #3176 closed

[2021-03-19 16:07] #3177 closed

[2021-03-19 16:07] #3178 closed

[2021-03-19 16:07] #3179 closed

[2021-03-19 16:07] #3180 closed

[2021-03-19 16:07] #3181 closed

[2021-03-19 16:08] #3169 closed

[2021-03-19 16:08] #3168 closed

[2021-03-19 16:08] #3167 closed

[2021-03-19 16:08] #3166 closed

[2021-03-19 16:08] #3165 closed

[2021-03-19 16:08] #3164 closed

[2021-03-19 16:08] #3163 closed

[2021-03-19 16:08] #3162 closed

[2021-03-19 16:08] #3161 closed

[2021-03-19 16:08] #3160 closed

[2021-03-19 16:08] #3159 closed

[2021-03-19 16:08] #3158 closed

[2021-03-19 16:28] #3157 closed

[2021-03-19 16:30] #3156 closed

[2021-03-19 16:30] #3155 closed

[2021-03-19 16:30] #3154 closed

[2021-03-19 16:30] #3153 closed

[2021-03-19 16:30] #3152 closed

[2021-03-19 16:30] #3151 closed

[2021-03-19 16:30] #3150 closed

[2021-03-19 16:30] #3149 closed

[2021-03-19 16:30] #3148 closed

[2021-03-19 16:31] #3147 closed

[2021-03-19 16:31] #3146 closed

[2021-03-19 16:31] #3145 closed

[2021-03-19 16:31] #3144 closed

[2021-03-19 16:31] #3143 closed

[2021-03-19 16:31] #3142 closed

[2021-03-19 16:31] #3141 closed

[2021-03-19 16:31] #3140 closed

[2021-03-19 16:31] #3139 closed

[2021-03-19 16:31] #3138 closed

[2021-03-19 16:31] #3137 closed

[2021-03-19 16:31] #3136 closed

[2021-03-19 16:31] #3135 closed

[2021-03-19 16:31] #3134 closed

[2021-03-19 16:31] #3133 closed

[2021-03-19 16:31] #3132 closed

[2021-03-19 16:31] #3131 closed

[2021-03-19 16:32] #3130 closed

[2021-03-19 16:32] #3129 closed

[2021-03-19 16:32] #3128 closed

[2021-03-19 16:32] #3127 closed

[2021-03-19 16:32] #3126 closed

[2021-03-19 16:32] #3125 closed

[2021-03-19 16:32] #3124 closed

[2021-03-19 16:32] #3123 closed

[2021-03-19 16:32] #3122 closed

[2021-03-19 16:32] #3121 closed

[2021-03-19 16:32] #3120 closed

[2021-03-19 16:32] #3119 closed

[2021-03-19 16:32] #3118 closed

[2021-03-19 16:32] #3117 closed

[2021-03-19 16:32] #3116 closed

[2021-03-19 16:32] #3115 closed

[2021-03-19 16:32] #3114 closed

[2021-03-19 16:33] #3113 closed

[2021-03-19 16:33] #3112 closed

[2021-03-19 16:33] #3111 closed

[2021-03-19 16:33] #3110 closed

[2021-03-19 16:33] #3109 closed

[2021-03-19 16:33] #3108 closed

[2021-03-19 16:33] #3107 closed

[2021-03-19 16:33] #3106 closed

[2021-03-19 16:33] #3105 closed

[2021-03-19 16:33] #3101 closed

[2021-03-19 16:37] #3096 closed

[2021-03-19 16:38] #3063 closed

[2021-03-19 16:38] #3046 closed

[2021-03-19 16:38] #3052 closed

[2021-03-19 16:39] #3240 closed

[2021-03-19 16:40] #3248 closed

[2021-03-19 16:40] #3017 closed

[2021-03-19 16:40] #3250 closed

[2021-03-19 16:40] #3051 closed

[2021-03-19 16:41] #2972 closed

[2021-03-19 16:41] #2971 closed

[2021-03-19 16:42] #2970 closed

[2021-03-19 16:46] #1923 closed, assigned to nobody

[2021-03-19 16:54] #2438 closed, assigned to nobody

[2021-03-19 21:38] jgold-stripe opened #3268 "Allow use of a unix-socket forward proxy"
I'm carving this issue out based on the original question by @qaisjp in https://github.com/cli/cli/issues/2037#issuecomment-725348578, since it's possible that the issue there is resolved for the original poster (`HTTP_PROXY` and other env vars appear to work out of the box).

It would be nice if we could set a value that indicates that the tool should use an HTTP transport that dials through a lo

[2021-03-20 08:21] Oshimarr36 commented on #2037
Yes Indeed

[2021-03-20 10:38] eacp commented on #961
I propose using the new embed api from the Go Standard Lib for the i18n. We could easily embed entire text files in multiple languages and have the executable print them accordingly. The embed approach would make the distribution easier because all the translations would be contained in a single binary.

It would be interesting to hear the thoughts of @mislav  and the GH team on this approach

[2021-03-20 14:14] diminutivesloop commented on #3040
So to start I tried extending the pr query to include pagination data for status checks but the returned page info is missing the `endCursor` and `hasNextPage` is set to `false`. You can see my work so far on [this branch](https://github.com/cli/cli/compare/trunk...diminutivesloop:pr-checks-100-plus). I set up a PR with more than 100 status checks and I’ve been testing against that repo with the c

[2021-03-21 13:15] sunopar commented on #2300
In my opinion we can add this to the doc.

[2021-03-21 13:35] sunopar opened #3273 "add hyperlink for `gh pr`"
### Describe the feature or problem you’d like to solve
Can we add a hyperlink for `gh pr` output

### Proposed solution

We can just click the pr number to see detail about the pr in the browser.

### Additional context

![image](https://user-images.githubusercontent.com/13537651/111906772-3fc79b80-8a8d-11eb-9b15-3b96024b6f54.png)

[2021-03-21 14:23] joe198 commented on #3273
OK

[2021-03-21 16:44] nahloo80 opened #3275 "Pull"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-22 03:43] dantonyuk commented on #326
I just implemented simple multi-account support based on the `remote.origin.url` config property (of course GH_HOST is on board as well): #3278

So having hosts.yml as

[code]

we use work credentials for all _acme_ repositories and personal credentials for everything else.

~Unfortunately, gh cli uses global settings for "default" host, so I postponed the implementation of `gh auth status` which

[2021-03-22 12:16] mislav commented on #3268
@jgold-stripe Thank you for the thoughtful feature request!

I think this is a great opportunity to squash two birds with one stone and introduce a config option for setting a proxy. Then, the config value could either be a URL or a path to unix socket. What do you think?

This is where the HTTP client that is used in gh commands gets initialized with access to the user's configuration options: ht

[2021-03-22 14:02] gregopet commented on #3252
I've set up our internal pipeline to use that custom branch and I think this error now shows up instead of that original `REFUSED_STREAM` one (the deploy script hasn't changed at all, other than using the new binary):

[code]

Also, we have a few more samples now, and they either take 5-6 minutes, or 18+ minutes, there's no middle ground:

![image](https://user-images.githubusercontent.com/263044/

[2021-03-22 14:59] mtfurlan opened #3280 "Auto-populate reviewers based on codeowners"
### Describe the feature or problem you’d like to solve
My team has several repos where the code owner for the entire repo is either me or a specific teammate.
I don't always remember which repos I'm a codeowner in, but for the ones I am I want to direct the review requests to other teammates so it's not just one person reviewing all my stuff.
The issue is if I direct the review to another teammat

[2021-03-22 16:33] vilmibm opened #3281 "tweak workflow disambiguation and display"
when showing workflows in a prompt, show something like:

- Foo Flow (foo.yml)
- Bar Flow (bar.yml)

instead of the mix of name only and "name (id) (full path)" that is in now

open question: should ID ever be in a prompt?

[2021-03-22 16:51] mislav commented on #3273
Thanks for the suggestion! Duplicate of https://github.com/cli/cli/issues/601

[2021-03-22 16:51] #3273 closed, assigned to nobody

[2021-03-22 17:27] devlead commented on #385
What would be really nice for automation would be if at least all list commands like the Azure `az`cli had an output option
A really Powerful feature of `az` is that you can everywhere get machine consumable output
`--output -o        : Output format.  Allowed values: json, jsonc, none, table, tsv, yaml, yamlc`

and you can even query - filter and adapt the output
`--query            : JMESPath qu

[2021-03-22 18:17] mislav commented on #3252
@gregopet Thanks for all the information, and sorry for the nuisance this has been causing you. If you enable verbose HTTP logging with `DEBUG=api`, you will get more information about all HTTP headers on stderr. You can maybe use that to capture the request ID for the failing requests. This might be a problem with our API or platform, so our Support might appreciate the request ID in order to loo

[2021-03-22 18:59] gregopet commented on #3252
No problem, thank you for looking into it. I've enabled verbose HTTP logging, so far I've got the log of a slow upload, but this one finished without the exception. Honestly, it doesn't look like anything special, except that the uploads take a long time. I will send you a request ID when a request fails. I will also compare it to a log of a fast request, when I get the next one, to see if anythin

[2021-03-22 19:28] mislav commented on #3040
Uh-oh: it wasn't really obvious. First of all, while the GraphQL fields are called `pageInfo` and `endCursor` (lowercase start letter), the Go field equivalents they get parsed to should be called `PageInfo` and `EndCursor` (uppercase start letter) so that they are exported and thus available to receive JSON deserialization.

Next, the way our old code was set up, there wasn't really a way to re-r

[2021-03-22 19:32] mislav commented on #3252
This is very interesting. And you're saying that all this happens on `release create`? I'm wondering how it is possible that the server reports that a release already has an asset of the same name, when you are just creating a new release. If the server signaled to the client that the request should be retried, then it should be safe to retry the request, but in this case it leads to an error that

[2021-03-22 19:43] waldyrious opened #3282 "Recreating a PR fails to include the body"
### Describe the bug

Recreating a failed PR successfully reuses the title, but not the body of the PR (gh version: `1.7.0`).

### Steps to reproduce the behavior

1. Clone a repository
2. Check out a new branch
3. Make changes and stage them, but don't create a commit yet
4. `gh pr create` and follow the prompts, including adding a body using the editor
5. Once the PR creation fails, actually mak

[2021-03-22 19:49] gregopet commented on #3252
I'm just running builds continually now, because our app isn't live yet :) I've captured a fast path as well but I've diffed the logs and they are practically identical to the slow path. I have still to get the error, though.

Oh, this all happens on `release create`, not `repo create`, just in case that wasn't a typo :)

[2021-03-23 05:15] LKay opened #3284 "Existing label not found"
### Describe the bug

I'm trying to create a pull request using CLI and want to assign a specific label to it by providing parameter. Even though the label exists in the repository:
![03b0b63d-e397-4393-8fb8-6cde8444fbc5](https://user-images.githubusercontent.com/181078/112096488-b4135380-8be1-11eb-9f37-7a6e4329de1b.png)

the CLI returns an error: `could not add label: 'deploy' not found`.

### St

[2021-03-23 11:16] mislav commented on #3284
Thank you for reporting!

Do you have multiple git remotes, by any chance? Is it possible that the PR is accidentally getting open against a different base repository that might not have the `deploy` label?

Is your gh version up to date?

[2021-03-23 12:42] mislav commented on #3252
Thanks for all the information! All this has been very helpful. We're now discussing this internally to try to pinpoint if this is a platform problem.

[2021-03-23 13:05] mislav commented on #3282
Thank you for reporting! This sounds like a duplicate of https://github.com/cli/cli/issues/3199 🙇

[2021-03-23 13:05] #3282 closed, assigned to nobody

[2021-03-23 13:07] mislav commented on #3199
We've just got a report that this affects `pr create --recover` as well if the body prompt has been skipped, so I've bumped up the severity of this issue.

[2021-03-23 15:21] gregopet commented on #3252
Sure, glad to - I haven't gotten a single error after yesterday, but the upload times are often still horrible.

[2021-03-23 15:54] waldyrious commented on #3282
@mislav thanks! It's not an exact duplicate, but yeah, I can see both flows being fixed with the same behavior change. 👍

[2021-03-23 16:04] waldyrious commented on #3199
Posting the suggestion I first added to #3282:

[2021-03-24 01:11] rimajl2020 opened #3287 "PPF"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-24 01:11] rimajl2020 commented on #3287
@mislav

[2021-03-24 01:18] ronerony opened #3288 "command list"
command list

_Originally posted by @ronerony in https://github.com/cli/cli/issues/2953#issuecomment-805398433_

[2021-03-24 01:23] ronerony opened #3289 "r"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-24 01:26] ronerony opened #3290 "> comments on how to get the job done"
command line

_Originally posted by @ronerony in https://github.com/cli/cli/issues/3289#issuecomment-805400941_

[2021-03-24 03:11] #3287 closed, assigned to nobody

[2021-03-24 03:29] billygriffin commented on #562
I really like @mislav's suggestion above as well, but I think the verbiage in the suggestion needs to be explicit that using the `--force` flag will result in overwriting in any commits you have locally that aren't present on the remote branch.

[2021-03-24 04:42] nodesocket commented on #2680
👍🏻

Perhaps an interface like:

[code]

_Should NOT require gh auth login._

[2021-03-24 05:11] g14a commented on #3260
@mislav you mean non-interactively?

Also the bug is here https://github.com/cli/cli/blob/trunk/pkg/cmd/repo/fork/fork.go#L192

And during that commit @vilmibm has commented the following

	// given user has forked a given repo. We noticed, also, that the create fork API endpoint just
	// returns the fork repo data even if it already exists -- with no change in status code or
	// anything. We thus

[2021-03-24 11:07] kelvinhomeboy commented on #2396
Okay

[2021-03-24 11:08] kelvinhomeboy opened #3291 "Bug"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-24 11:11] kelvinhomeboy commented on #2166
bump-dependencies

[2021-03-24 11:13] #3291 closed

[2021-03-24 12:46] jbrowning commented on #562
Perhaps `pull` should be used here instead of `reset` to bring a PR up-to-date. This allows the merge behavior to be configured globally or per-repository via the `pull.*` config. The benefit here would be the `pull.rebase` strategy which would resolve the force-push conflicts without destroying local commits.

[2021-03-24 13:22] ScottChapman opened #3292 "Does the CLI honor response headers for throttling and ratelimits?"
In my own code I leverage octokit for my git REST api calls, one nice capability is to include a couple of standard plugins which automatically handle ratelimits and throttling for me.

I couldn't tell, but does the CLI do something similar?

[2021-03-24 13:36] mislav commented on #3260
Yes! Thank you for the correction.

Yes. I think the fix would be to just take that `return` out.

It would for most cases, but keep in mind that a forked repository does not have to be of the same name. I can fork this repo into `mislav/cli` and then rename it to `mislav/gh-cli`. I would still have my fork, but a query for `mislav/cli` would come back blank.

[2021-03-24 13:38] mislav commented on #3292
No, we don't do anything with rate limit information at the moment.

How would you expect rate limit information to be handled in CLI?

[2021-03-24 13:42] ScottChapman commented on #3292
I guess like this: https://github.com/octokit/plugin-throttling.js
basically follows this: https://docs.github.com/en/rest/guides/best-practices-for-integrators

[2021-03-24 14:24] AjkayAlan commented on #424
I can confirm that I am no longer seeing this issue.

Distro: Ubuntu 20.04
GH CLI: V1.7.0
Nano: 4.8
Windows Terminal: 1.6.10571.0

Based on no one else chiming in on the ticket, I am going to close this, but can reopen if others are encountering the same issue.

[2021-03-24 14:24] #424 closed

[2021-03-24 14:54] g14a commented on #3260
@mislav Absolutely. I was thinking of a work around and that wouldn't be an ideal case. Assuming that a user wouldn't probably have more than a 100 forked repos, this works better than the existing operation (i.e fork it anyway and get the repo info irrespective of it already being forked) when I checked response times.

[code]

And then basically loop over the response and break once we find a ma

[2021-03-24 15:51] mislav commented on #1898
The `gh issue list --search` option has landed in trunk and will ship in the next release. https://github.com/cli/cli/pull/3196

You can scope the search to only issue titles with: `gh issue list --search "hello in:title"`

[2021-03-24 15:51] #1898 closed, assigned to nobody

[2021-03-24 16:06] mislav commented on #3292
Thanks for explaining!

It's definitely within our possibilities to include support for throttling. However, the guides that you linked are meant for more general API clients, a lot of which are services running on a server somewhere. A service is usually built out of long-running processes, so when a service receives a `Retry-After` header from GitHub, it can schedule a task to retry later.

We a

[2021-03-24 16:19] g14a commented on #3284
This works as expected with a single remote. @LKay how many remotes do you have currently?

[2021-03-24 17:19] mislav commented on #3252
Could you replicate the fast upload experience from the Docker host machine regardless of whether you provide the `-R` flag or not? That way we would know if Docker network routing was definitely contributing to the slowdown.

To simulate being in a context of a repository without actually cloning that repository (e.g. you might not want to clone actual repos to the Docker host), it's sufficient t

[2021-03-24 18:10] vilmibm opened #3296 "decide on mitigation strategy for non-default-branch workflow viewing"
The workflows API claims all workflows belong to the default branch of a given repositories even when that's not true.

For example, currently on cli/cli there is a workflow defined in a branch (`prauto`) that shows up in the repo's list of workflows. Its url is pointed to `trunk`, but that url 404s.

We can't fix this for users since the API tells us nothing about what branch a workflow is define

[2021-03-24 18:29] ScottChapman commented on #3292
Gotcha, totally makes sense. Glad I asked as we were looking to incorporate this into some automation that needs to run at scale in a CICD pipeline. So, I think we'll need to consider that in our decision.

Out of curiosity is the CLI built on top of the REST APIs? Or is it doing graphql?

[2021-03-24 18:31] ksandvik commented on #642
Any updates, this was the first thing I expected glab to have, to get a list of all the gitlab repos I have?

[2021-03-24 18:44] samcoe commented on #642
@ksandvik This feature was merged and released in the latest version 1.7.0. Additionally this repo is for the GitHub CLI tool (`gh`) and does not have any affiliation with `glab` or  GitLab.

[2021-03-24 19:01] #3275 closed

[2021-03-24 19:01] #3288 closed

[2021-03-24 19:02] #3289 closed

[2021-03-24 19:02] #3290 closed

[2021-03-24 19:03] naveen521kk opened #3297 "Windows: Installer should include winpty script"
### Describe the feature or problem you’d like to solve

Currently getting the installer from https://github.com/cli/cli/releases/download/v1.7.0/gh_1.7.0_windows_amd64.msi and running it installs a `.exe` file. Running that `gh.exe` using Git Bash shell doesn't work as expected, it can't handle input streams. This makes it difficult to use `gh` command on Git Bash, without winpty. Something like

[2021-03-24 20:55] mud5150 opened #3298 "cli apt package repo giving 404"
Apt install instructions send you to https://cli.github.com/packages/

This url is returning 404

[2021-03-25 03:00] LKay commented on #3284
I have only one remote (`origin`) pointing to a private Github repository. I confirmed that the label of that name exists (see the screenshot above). I can create PR with the above command when omitting `--label` parameter.

This happens both on my local machine (SSH private/publish key authentication) and on CI Github Actions workflow, when authentication is done through Access Token.

My CLI ver

[2021-03-25 05:00] g14a commented on #3292
@ScottChapman it is a mixture of both. Not all features of Github V3 are available as GraphQL yet.

[2021-03-25 08:55] hbenali opened #3299 "Indicate on Github: a PR/Issue has been created by Github CLI (Add a tiny indicator icon....)"
When creating a pull request or issue using Github CLI, it would be best to add a flag (icon).

Encourage users to use this feature. In fact, this tool is not very well recognized.

[2021-03-25 09:27] mislav commented on #3297
Thanks for reporting and for suggesting a workaround! Duplicate of #404

[2021-03-25 09:27] #3297 closed, assigned to nobody

[2021-03-25 09:34] mislav commented on #3298
Sorry, which apt install instructions? Where exactly are you seeing this URL?

Thank you

[2021-03-25 09:37] mislav commented on #3299
Thanks, but GitHub issues/PRs save no record of which client created them and thus we have no option to display an icon. Furthermore, I think that it should not matter how an issue/PR was created. Some people may use the CLI, some people may open pull requests from their favorite IDE. They should all show up the same on GitHub.

[2021-03-25 09:37] #3299 closed, assigned to nobody

[2021-03-25 09:43] hbenali commented on #3299
Thank you for responding.

[2021-03-25 10:06] mislav commented on #3292
I'm wondering whether gh should exit with a special error code when it encounters a rate limit error? https://github.com/cli/cli/blob/2ab073d599b1a64bd58af0ddc6eed63d3a0deb65/cmd/gh/main.go#L36-L43

With that, people writing automation may choose to handle that exit code separately from other kinds of errors. 🤔

@ScottChapman Yes, I agree that if you already know that you will be running at scale

[2021-03-25 11:50] Ashish-Pandey-Imprivata commented on #1023
I am getting a strange error while using `gh api` for PR merge via java program. What could be missing?

`gh api -X PUT repos/:owner/:repo/pulls/14/merge -f merge_method=squash -f commit-title="chore: testing pr merge 3 attempt" -f commit-message="A long message description ..."`
**Unable to execute command <gh api -X PUT repos/:owner/:repo/pulls/14/merge -f merge_method=squash -f commit-title="ch

[2021-03-25 12:30] ScottChapman commented on #3292
So are you only doing REST calls when graphql is not available?

[2021-03-25 12:34] mislav commented on #3284
I cannot reproduce this in my own repository where I've created a label called "deploy".

@LKay If it's not too much trouble, could you check that the label is literally called "deploy" and that it doesn't contain any invisible characters? You can list all of your labels like so:
[code]

The "deploy" label should show up as just `"deploy"` and have no extra characters in it.

Finally, when all els

[2021-03-25 12:39] g14a commented on #3292
It depends really. As far I have gone through the code, I've seen REST when graphql isn't available. But I can't really speak for all the modules.

[2021-03-25 12:53] naveen521kk commented on #3297
You can also have a look at what is done in [MSYS2](https://msys2.org) [here](https://github.com/msys2/MINGW-packages/blob/master/mingw-w64-github-cli/gh)
Essentially Git for Windows is a fork of MSYS2.

[2021-03-25 13:13] #452 closed

[2021-03-25 13:18] mud5150 commented on #3298
https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-apt

[2021-03-25 16:58] bgyarfas commented on #2889
@vilmibm Is being able to download artifacts from a workflow job on the roadmap? Thanks for the great work!

[2021-03-25 17:00] vilmibm commented on #2889
@bgyarfas we hadn't talked about it yet for the first release but I'll take a look at what it would involve.

[2021-03-25 19:55] vilmibm commented on #3281
This was closed in #1023

[2021-03-25 19:55] #3281 closed, assigned to vilmibm

[2021-03-25 20:31] iemejia commented on #452
Great ! :clap: when will this be out?!

[2021-03-26 03:31] jos3s opened #3304 "View pull requests in my fork's original repository"
### Describe the feature or problem you’d like to solve

Sometimes I want to see all the pulls made in the original repository of my fork and the current way is very complicated, because I need to have the link to the original repository

### Proposed solution

My proposal is that there is a 'gh pr view upstream' command that allows me to view the pull requests from the original repository

### Ad

[2021-03-26 12:17] gregopet commented on #3252
I've modified our build script to no longer use `-R` (we do checkout the repository, so that's no problem). I'll let you know after a few deploys (we're not deploying so often anymore though as our app has entered a closed beta). But looking at how random the uploads are I'd say it's a big chance it was all just a coincidence and `-R` really didn't make a difference.

[2021-03-26 16:17] jgold-stripe opened #3307 "Choice in source code of `HttpClient` as an identifier is inconsistent"
### Describe the feature or problem you’d like to solve

In the case of investigating #3268 I noticed that the `gh` source code uses the identifier `HttpClient` in many places, rather than `HTTPClient`. The latter would be more consistent with the rest of the `gh` codebase (`NewHTTPClient`, `api.HandleHTTPError`, `initFakeHTTP`, etc) as well as with [Initialisms](https://github.com/golang/go/wiki/

[2021-03-26 19:27] sun commented on #2184
ℹ️  If you see the following error with `gh repo create` then ensure you have the latest version of `git` installed.

☝️ You might have to add a different package repository for your OS/distribution to retrieve the latest version.

[code]

[2021-03-26 19:30] massto opened #3310 "useful feature."
Same comment as above, I think this would be a useful feature.

_Originally posted by @samcoe in https://github.com/cli/cli/pull/2923#discussion_r587939940_

[2021-03-26 19:43] massto opened #3311 "git installed."
ℹ️   see the following error with `gh repo create` then ensure you have the latest version of `git` installed.

☝️ You might have to add a different package repository for your OS/distribution to retrieve the latest version.

[code]

_Originally posted by @sun in https://github.com/cli/cli/issues/2184#issuecomment-808461906_

[2021-03-26 22:27] mew1033 commented on #2786
Just as a comment, I prefer the default behavior as it is currently (master points to origin, not upstream). However, making it configurable is always good.

[2021-03-26 22:38] mew1033 opened #3312 "Allow `gh repo clone` to grab all upstream branches"
### Describe the feature or problem you’d like to solve

I just ran `gh repo clone` on a fork I had of another project. `gh` helpfully added the upstream repo for me. Cool! However, I was only getting the default branch from upstream, not any of the others. I ended up needing to modify .git/config and change the `fetch` parameter in the `[remote "upstream"]` section from `fetch = +refs/heads/maste

[2021-03-27 15:31] KillDozerX2 opened #3315 "Branch flag should default to the current branch"
### Describe the feature or problem you’d like to solve

One of my favourite features of the cli is to quickly open up the current repo in the browser using `gh repo view --web` and review it with my team members, however it does not open up the branch that is currently checked out, I believe it would a good idea to use the current branch as the default branch.

### Proposed solution

I currently

[2021-03-27 18:14] diminutivesloop commented on #3040
Oh wow. I guess I missed the part about case-based package visibility when I was brushing up on Go. If nothing else working on this issue should at least help me remember that lovely little quirk in the future.

[2021-03-28 00:42] aadtyn commented on #2267
The `gh` command doesn't work on powershell or cmd.
I installed using the `choco install gh` and I added `C:\Program Files (x86)\GitHub CLI` manually to path.

Yes I hv restarted the shell and everything.
I am on Windows 10 Pro

[2021-03-28 07:44] LKay commented on #3284
@mislav I fetched the labels through the api and the response is as follow, so seems the `deploy` exists and seems without extra white characters:

[code]

I recreated the label once again, and this seems to work finally... Not sure what was the issue before. The debug request for label fetch is as follow:
[code]

[2021-03-28 09:12] bambruysk opened #3316 "GraphQL error: Something went wrong while executing your query."
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.
I trying create repo on Ubuntu 20.04 (WSL)
gh repo create
? Repository name holde_bot
? Repository description Holde bot for economcs on LARP DnD 2020
? Visibility Internal
? This will add an "origin" git remote to your local repository. Continue? Yes
GraphQL error: Something went wr

[2021-03-29 11:10] mislav commented on #3316
Hi, thank you for reporting! You probably need to choose "Public" or "private" visibility, but you cannot choose "internal" since that is only available to organization repositories in a GitHub Enterprise instance. Duplicate of https://github.com/cli/cli/issues/2106

[2021-03-29 11:10] #3316 closed, assigned to nobody

[2021-03-29 11:16] mislav commented on #2267
@SoulNinja-dev If you do `echo $env:path` in powershell, do you see `C:\Program Files (x86)\GitHub CLI` listed there? And if you check that directory manually, does a `gh.exe` exist in it? If so, `gh` should be available from your shell. If not, maybe something went wrong with the `choco` command and you should report it to Chocolatey project instead of here. Thank you!

[2021-03-29 12:54] mislav commented on #3284
Thanks for looking this up!

Well, I'm happy that creating PRs with a label works for you again, but seeing how we're left without a way to reproduce this, I don't think any of us can act on this issue. Please reopen if it comes back again!

Note that environment variables can affect the functionality of gh commands. For example, if a GH_REPO environment variable exist, it will override the base r

[2021-03-29 12:54] #3284 closed, assigned to nobody

[2021-03-29 13:01] mislav commented on #3304
@jos3s Just to be clear, you want the default mode for `gh pr list` or `gh pr view` be that it queries the `JanDeDobbeleer/oh-my-posh` repository and not your own fork?

If so, you can "reset" your base repository choice: https://github.com/cli/cli/issues/2300#issuecomment-717476725. The next time you get prompted, just choose the upstream repository as "base".

Or did you want some queries to go

[2021-03-29 13:25] aadtyn commented on #2267
yea I removed it and installed it again somehow it works lol 😂

sometimes you just gotta do it again with software 😅

[2021-03-29 13:29] gregopet commented on #3252
We've just had a successful 6-minute deploy without the `-R` flag, so I can confirm that was apparently random (although I did try it with/without/with before reporting.. sorry for the misinformation).

[2021-03-29 14:13] jos3s commented on #3304
I would like there to be a flag for the pr view command that would allow me to see pull request from my upstream repository or another repository that I have connected to my repository

@mislav

[2021-03-29 16:43] mhristof opened #3319 "Sanitize the binary name for macOS"
### Describe the feature or problem you’d like to solve

The binary name for `darwin` is named `...macOS` for which there isn't a standard way of retrieving it.
### Proposed solution

Create another binary to maintain backwards compatibility that is named with `darwin`, for example `https://github.com/cli/cli/releases/download/v1.7.0/gh_1.7.0_darwin_amd64.tar.gz`

This way, people can `curl` one U

[2021-03-29 16:57] vilmibm opened #3320 "gh workflow view"
This issue covers implementing `gh workflow view`.

This work was already done in #3244 but was discarded because of some incorrect assumptions. Namely, the default behavior for `workflow view` was to show a yaml file; unfortunately, those yaml files are essentially ephemeral and in several common cases it was not possible to select the correct version of the file to show.

This time, the purpose

[2021-03-29 16:59] #3296 closed, assigned to vilmibm

[2021-03-29 17:03] vilmibm opened #3321 "artifact support for gh run"
This issue covers adding support for workflow run artifacts to `gh`.

It includes:

- `gh run download [--run=<run selector>] <artifact selector>`
  - with no arguments or flags, interactively select a run and then an artifact
- adding an `ARTIFACTS` section to `gh run view`
- supporting `--artifacts` in `gh run view` that prints a table listing of artifacts

This design is a bit off the cuff and

[2021-03-29 21:18] RobertKlohr commented on #2037
Same problem here running Windows 10.

When the once I got `gh auth login` to work (nowhere does it say you need to do this from an elevated prompt)...

- Without setting the proxy env variable results in "wsarecv: An existing connection was forcibly closed by the remote host." i.e. `gh` has no notion of the proxy being present.
- Setting the proxy env variable in cmd does nothing
- Setting the pr

[2021-03-29 22:50] #3311 closed

[2021-03-29 22:50] #3310 closed

[2021-03-30 04:36] g14a commented on #641
@mislav I'd like to work on filtering PRs based on review status if its not assigned to anyone already or if there's an open PR which does that?

[2021-03-30 09:31] mislav commented on #3252
Sure, I also did not think that the `-R` flag makes any difference on upload speed.

BTW, if you just wanted to test this without having to wait for your production pipeline, you could just make scripts that upload a fake large asset to a test release in a test repository.

[2021-03-30 11:10] eacp commented on #3268
An example of a custom http transport could be TOR and SOCKS5?

[2021-03-30 11:45] mislav commented on #3320
I dig this approach better. I assume that actually using the `--ref` flag would be very rare. How common is to maintain workflow files in a non-default branch?

[2021-03-30 13:24] khyveasna11111908 opened #3328 "JFK"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-30 13:27] mislav commented on #3328
Please open test issues in a separate repository of your own, to avoid generating notifications for hundreds of people.

[2021-03-30 13:27] #3328 closed, assigned to nobody

[2021-03-30 14:51] #1745 closed, assigned to samcoe

[2021-03-30 14:52] #419 closed

[2021-03-30 14:52] #1819 closed, assigned to nobody

[2021-03-30 14:54] #1748 closed, assigned to nobody

[2021-03-30 16:18] g14a commented on #3298
@mud5150 works as expected in a debian ubuntu docker image. Can you post logs of the error if your installation process is blocked?

[2021-03-30 16:47] mislav commented on #3307
Thank you for pointing this out, but for now we'll leave this as-is because it does not represent a huge problem in our codebase but it has a lot of potential for incompatibility with currently open branches. https://github.com/cli/cli/pull/3308#issuecomment-810414945

[2021-03-30 16:47] #3307 closed, assigned to nobody

[2021-03-30 16:53] #3188 closed, assigned to g14a

[2021-03-30 17:34] #1575 closed, assigned to nobody

[2021-03-30 17:45] Tooney712 opened #3329 "Compilation Error in ./script/build.go"
### Describe the bug

Attempting to run the makefile to compile the program on a linux machine, the compiler gets to the first task and segment faults.

### Steps to reproduce the behavior

In the top-level directory type `go build \./cmd/gh make manpages`

### Expected vs actual behavior

Instead of compiling the man-pages and the program, the compiler spits out a sigsegv instead.

### Logs

[cod

[2021-03-30 18:00] #3329 closed, assigned to nobody

[2021-03-30 18:00] mislav commented on #3329
Great catch!! Thank you 🙇

[2021-03-30 20:44] mislav commented on #452
@iemejia https://github.com/cli/cli/releases/tag/v1.8.0

[2021-03-30 20:48] mislav commented on #641
Everyone: [v1.8.0](https://github.com/cli/cli/releases/tag/v1.8.0) is now out with support for `gh issue/pr list --search` parameter which allows you access to any filtering and sorting option for which there is no explicit flag yet. Check out [the GitHub search syntax](https://docs.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests)

@g14a Sure but let's d

[2021-03-30 21:24] iemejia commented on #452
Awesome! Thanks!

[2021-03-31 00:46] sketabchi-mobiz commented on #3265
## Adding Secrets to GitHub environments

Would it also be possible to create secrets for GH environments? My hope was to run this from CLI

[code]
Thank you!

[2021-03-31 03:38] g14a commented on #641
@mislav Oh alright. I was looking at the check boxes and noticed they weren't ticked off, and thought I could work on them. I totally forgot the search syntax works for PRs as well. Sorry about that. The search flag works absolutely fine. There's no need for a new cli flag.

[2021-03-31 07:40] jeremy-ww commented on #326
Maybe this is a workaround if u wanna use multi credentials for a specific command. such as `pr view`

*/usr/local/pr2*

[code]

*~/.pr-config.json*

[code]

[2021-03-31 09:25] mislav commented on #3098
The `--search` functionality is now available and you can use it to sort results in `issue/pr list` commands https://github.com/cli/cli/releases/tag/v1.8.0

But, we might also consider to add a dedicated flag for sorting. I'll leave this open for a bit until our team reaches some decision.

[2021-03-31 09:46] VuiMuich commented on #3098
Great, thanks again. I would appreciate an actual sort flag as this would be more intuitive.

[2021-03-31 12:16] tylerxwright commented on #3265
I would think we would want to continue implementing the rest of the environment secrets functionality. This would also include set and remove. It shouldn't be too hard to implement in my opinion. @mislav, thoughts?

[2021-03-31 12:53] equalsJeffH commented on #452
@mislav

Yay!! thanks!  :100:

[2021-03-31 14:05] g14a commented on #1247
@vilmibm I have a working PR which implements `--to-org`. Would you like to have a look at it?

[2021-03-31 14:51] g14a commented on #3260
@mislav this PR fixes this issue https://github.com/cli/cli/pull/3334

[2021-03-31 15:30] deutmeyerbrianpfg opened #3335 "panic: unsupported status: "WAITING""
### Describe the bug

`gh pr status` results in a `panic: unsupported status: "WAITING"` on some repos.  Issue present on v1.7.0 and v1.8.0 on ubuntu 20.04.

### Steps to reproduce the behavior

1. Type this `gh pr status`
2. View the output '....'
3. Output: Current branch
  #10  Do something [branch-name]panic: unsupported status: "WAITING"

goroutine 1 [running]:
github.com/cli/cli/api.(*PullRe

[2021-03-31 15:33] AjkayAlan commented on #3335
+1, getting this with:

GH: 1.7.0
ZSH: 5.8
WSL w/ Ubuntu 20.04

[2021-03-31 16:40] g14a commented on #2099
@vilmibm how would this ideally work? Does it just `git init` if there is no git tracking present in the current directory, or would it do more?

[2021-03-31 17:44] matentzn commented on #1797
In my case I was missing apt-add-repository, so had to:

[code]

[2021-03-31 18:21] #3335 closed, assigned to nobody

[2021-03-31 18:23] mislav commented on #3335
Thank you for reporting!

[2021-03-31 18:28] chadcatlett opened #3339 "Issues when communicating with GHE when using GH_HOST env variable."
### Describe the bug

Starting with v1.8.0 it is not possible to clone repos from GHE without specifying the repo in the form of `<hostname>/<org>/<repo>`.

This has worked in previous releases, I was able to confirm back to at least 1.5.0.

### Steps to reproduce the behavior

1. Use GHE
2. Set environment variables for GH_HOST to point to GHE instance, as well as set GITHUB_ENTERPRISE_TOKEN to a

[2021-03-31 18:39] samcoe commented on #3339
@chadcatlett Thanks for reporting, I was able to reproduce the issue and it is a regression in the latest version (1.8.0). I am working on a fix now.

[2021-03-31 20:23] sjackman commented on #391
I like `/head` as the default, but I would fine an option to checkout `/merge` useful. This workaround works fine:
[code]

[2021-04-01 04:16] cardonator commented on #385
I was looking for an issue matching what behavior I was interested in but this is the closest I saw. In addition to standard output formats, how about bringing back the behavior of `hub` where you could specify an output format? I used to use hub for generating audit reports from various repos but this project makes pulling the audit data much easier. It would be nice if there was also an easy way

[2021-04-01 07:42] mislav commented on #385
@cardonator hub's `--format` string was modeled after git log format syntax, but the syntax was hard to read and to author. GitHub CLI is not modeled after git at all, so we can invent our own approach. We're coming up with something better 👌

[2021-04-01 08:23] matkoch commented on #1725
So how exactly do I provide input parameters?

[code]

All tried all kinds of variations, but always end up with:

[code]

**Edit:**

I guess there's an escaping issue for the provided JSON object (as string). This works however:

[code]

[2021-04-01 11:23] g14a commented on #229
@vilmibm @ampinsk  I tried solving this. Issues and PRs look like the following respectively. Does it look okay or can it be better from a design perspective?

## Issues:

<img width="854" alt="image" src="https://user-images.githubusercontent.com/17702388/113286902-6ea20500-930a-11eb-8860-754107c67b22.png">

## PRs:
<img width="854" alt="sample" src="https://user-images.githubusercontent.com/1770

[2021-04-01 11:28] cardonator commented on #385
@mislav awesome! Thanks!

[2021-04-01 12:23] Rivaldosetiawan135 opened #3342 "bug github cli"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-01 13:08] sergey-v9 commented on #1725
~@matkoch I am using it like this:~
~`gh api repos/:owner/:repo/actions/workflows/deployment.yml/dispatches -f ref=master -X POST -d '{"inputs": {"RecipientName":"Foo","RecipientAddress":"Bar"}}'`~

~it works,~

still looking for combining it with `gh alias` to create something like:
`gh my-deploy Foo Bar`

[2021-04-01 13:11] matkoch commented on #1725
What is `-d` ? It's not shown in the help :/

[2021-04-01 13:42] sergey-v9 commented on #1725
@matkoch sorry, looks like it does not work at all

[2021-04-01 14:39] mirkosoft commented on #1553
Interesting thread. My use case is caused by a need of creating a ticket for the each new release (multiple steps procedure). So I wanted to eliminate this manual task by putting in the release script github's cli, using `ISSUE_TEMPLATE` we have already. That's fine I can use `-t`, `-a`, `-l` and `-p`. But for the body it may be inconvenient (if not possible in some cases) to use `-b` if body is l

[2021-04-01 16:36] notquiteamonad opened #3343 "`gh pr create` skips project selection if only user projects are available"
### Describe the bug

When running `gh pr create`, if "Projects" is selected as metadata to add but the repo doesn't have any projects of its own, the projects step is skipped (even if user projects are available).

### Steps to reproduce the behavior

1. Create a repo
2. Create a user-level project in GitHub
3. Use `gh pr create` to make a PR into the repo
4. Select `Add metadata` in the CLI when

[2021-04-01 18:38] luis33338 commented on #3321
Fusionado
#3303

[2021-04-01 18:54] overcoil opened #3345 "Add a flag (--involves) to gh issue to complete the filter"
### Describe the feature or problem you’d like to solve

Github's issue search function has three qualifiers: author, assignee and involves. The first two are already implemented in the CLI (the --author & --assignee options under gh issue) but the latter is missing. According to the doc:

https://docs.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests#sear

[2021-04-02 01:22] tom-doerr commented on #1907
@mislav is the approach that @eacp described, i.e. generating the licenses locally and then pushing them, a good solution?

[2021-04-02 09:27] mislav opened #3346 "Actions: cannot access issue that was added to an org project"
This was reported to us by @skedwards88: accessing or doing an operation on an issue in an Actions workflow can fail with a json error:

[code]

It looks like this happen when
1. The generated GITHUB_TOKEN was used;
2. The issue was added as a card to an organization project.

Whenever we fetch an issue, we fetch the list of the projects it belongs to. However, if one of these projects is an organ

[2021-04-02 09:38] mislav commented on #1553
@mirkosoft When passing multiline bodies, I would suggest that you use the `-F` flag to pass the body via file. You can use the special `-` filename to pass the body through standard input.

[2021-04-02 09:44] #3260 closed, assigned to nobody

[2021-04-02 09:53] mislav commented on #3319
Thank you for proposing!

Unfortunately, I do not think that creating a new tarball just for the purpose of making curl one-liners slightly more convenient is worth it. We'd have to complicate our release process and still continue to publish the old `macOS` tarball for the sake of backwards compatibility (as you've pointed out).

Furthermore, since Windows does not have `uname`, the only platform

[2021-04-02 09:53] #3319 closed, assigned to nobody

[2021-04-02 10:11] g14a commented on #3345
You can directly use the search filter for this like `gh issue list --search involves:overcoil` Can you try this?

If not, try updating your `gh` because `--search` was added in the latest release just 3 days ago.

[2021-04-02 11:21] g14a commented on #1810
@mislav since the default branch name is `main` now on Github, it is possible with `--initial-branch` or `-b` flag of `git` itself.

https://github.com/cli/cli/blob/815ae7a22d0e733f6fd3c471c6c23aa3e1c6ea06/pkg/cmd/repo/create/create.go#L336

This would become

`gitInit, err := git.GitCommand("init", "-b" ,"main", path)`

What do you say?

[2021-04-02 11:31] g14a commented on #1907
@ShubhankarKG any update on this ?

[2021-04-02 12:00] ShubhankarKG commented on #1907
Since this was referenced in #2184 and marked as core there, I did not proceed on implementing this. I'll unassign myself for the records. Sorry about that :pray:

[2021-04-02 12:05] g14a commented on #1907
@ShubhankarKG oh no that's alright. Don't worry. I just wanted to get an update since it has been a while. Cheers :)

[2021-04-02 15:56] #3339 closed, assigned to samcoe

[2021-04-02 18:24] Pamplemousse opened #3348 "Allow to attach files when creating an issue"
### Describe the feature or problem you’d like to solve

When creating issue, I sometimes need to attach files (`zip`, etc.) for the developers to easily reproduce the situation I encountered locally.

### Proposed solution

Using a new flag for `gh issue create`, I would like to be able to attach the files to the issue from the CLI.
It will match closer the capabilities of the website's interface

[2021-04-02 19:50] YakDriver commented on #972
If a directory is passed in, it could be the worktree directory.

[code]

[2021-04-02 21:13] YakDriver commented on #2189
For future travelers that may stumble here.

### The Error

If I used pure Git to create a remote, fetch a fork, and checkout a fork branch that I wanted to push to, all would work fine. And `gh auth status` showed that I was logged in. But, if I used `gh pr checkout` and `git push` together, things would not work:

[code]

### The Problem

These 3, `gh`, `git`, and `ssh`, were not on the same pag

[2021-04-02 23:16] cristiand391 commented on #3348
It would be a great addittion but it seems unlikely to be implemented, see #1895.

[2021-04-03 00:18] cristiand391 opened #3350 "`pr reopen` fails when passing a branch as arg"
### Describe the bug

`gh pr reopen` fails to reopen a PR when passing a branch as argument.

### Steps to reproduce the behavior

1. Type this `gh pr reopen <branch>` (make sure the PR is closed)
2. See output `! Pull request #33 (...) is already open`

### Expected vs actual behavior

It should reopen the PR but it seems it fails to detect its current status.

[2021-04-03 18:31] Iixixi opened #3352 "hello-World!"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-04 03:19] septs commented on #3312
I want's the feature can promote to non-clone available.

e.g: `gh repo set-upstream` (add all upstream to the repo local remote...)

[2021-04-04 03:22] ytbigvinny27 opened #3353 "I want's the feature can promote to non-clone available."
I want's the feature can promote to non-clone available.

e.g: `gh repo set-upstream` (add all upstream to the repo local remote...)

_Originally posted by @septs in https://github.com/cli/cli/issues/3312#issuecomment-812963678_

[2021-04-04 05:20] #3353 closed

[2021-04-04 06:20] redfire75369 commented on #2893
My initial testing with this has not worked well so far
[code]
`sudo apt update` outputs
[code]

[2021-04-04 08:15] Derar1986 opened #3355 "I WILL RESOLVE THIS ISSUE"
I WILL RESOLVE THIS ISSUE

__Originally posted by @rushi-12320 in https://github.com/github/opensource.guide/pull/2299#issuecomment-812883232__

[2021-04-04 13:02] lyda commented on #2835
I'm also interested. I have [a script] that gets the pipeline status for my gitlab repos. It would be nice to have it also work with github repos. It's handy especially when you're working is several repos and don't want to have to keep checking the web browser. Plus being able to run a single command to bring up the pipeline is great - though printing the pipeline in the browser would be even bet

[2021-04-04 15:05] #3355 closed, assigned to nobody

[2021-04-04 17:27] abenerd opened #3356 "cd into directory after cloning"
### Describe the feature or problem you’d like to solve
Currently after cloning a repository one has to manually cd into it afterwards.

### Proposed solution
A flag, or a config to make it default to cd into the directory the repository has been cloned into.

### Additional context

[2021-04-05 06:10] Jstiltner0803 commented on #3355
#2835

[2021-04-05 06:55] kennethgregg1238 opened #3358 "#2835"
#2835

_Originally posted by @Jstiltner0803 in https://github.com/cli/cli/issues/3355#issuecomment-813210383_

[2021-04-05 06:55] #3358 closed, assigned to nobody

[2021-04-05 08:42] lxvm commented on #2893
This worked for me:

If you've been trying this some time, first delete the key from the root user's keyring in the two places you might find it:
[code]

Then download the key to the keyring
[code]
Note: I learned this command from this [online tutorial](https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html).

Add the signed entry to apt's sources
[code]
Note: I think you can

[2021-04-05 16:37] #3320 closed, assigned to samcoe

[2021-04-05 18:05] nnichols commented on #2184
[This](https://github.com/cli/cli/issues/2184#issuecomment-747432695) also raises issues when working with the Template repositories, as the option to "Copy all branches" from a template is not supported in the GraphQL API either.

[2021-04-05 20:09] overcoil commented on #3345
Hi,

Yes... this does work. In light of this available feature, I'll close this issue.

George

[2021-04-05 20:31] overcoil opened #3360 "Add flag to search for card"
### Describe the feature or problem you’d like to solve

I'm needing a feature to search/count the card in a project. There is a family of feature for issue (gh issue search...) but none for card.

### Proposed solution

A card looks to be a type of issue so adding support for the "is:card" clause would suffice.

### Additional context

[2021-04-06 03:35] Art198 opened #3361 "I think allowing the user to specify the path/filename of the output zip will be necessary to users. Can we add a flag for that?"
I think allowing the user to specify the path/filename of the output zip will be important to users. Can we add a flag for that?

_Originally posted by @samcoe in https://github.com/cli/cli/pull/3359#r607325924_

[2021-04-06 03:35] #3361 closed

[2021-04-06 04:11] aaujayasena opened #3362 "Getting error while login to github"
### Describe the bug
Following error observed at git hub login
Error: No such command "auth".

### Steps to reproduce the behavior

1. install git client
2. Autheticate with command, gh auth login

### Expected vs actual behavior

Should be login successfully
### Logs

![image](https://user-images.githubusercontent.com/39077751/113657674-0d888180-96bc-11eb-8831-9f7fbd4ab729.png)

[2021-04-06 06:11] samyakbambole commented on #2182
Yes!

[2021-04-06 07:26] mislav commented on #3362
Hi, you have another executable on your system called `gh`, but it isn't GitHub CLI.

If you just type `gh`, GitHub CLI looks like this:
[code]

You could uninstall whatever on your system is named `gh` and follow our documentation to install GitHub CLI.

Good luck!

[2021-04-06 07:26] #3362 closed, assigned to nobody

[2021-04-06 07:28] mislav commented on #2182
What exactly is fixed now? We haven't updated our MSI installer to include support for 32-bit yet. I don't think anything changed lately.

[2021-04-06 07:30] mislav commented on #3343
Thanks for reporting! Duplicate of https://github.com/cli/cli/issues/1306, since issues and PRs share this functionality.

[2021-04-06 07:30] #3343 closed, assigned to nobody

[2021-04-06 09:24] aaujayasena opened #3363 "Getting error at authetication"
### Describe the bug

Give below error while login to the git ,
error connecting to ...
check your internet connection or githubstatus.com

### Steps to reproduce the behavior

1. Enter command "gh auth login"
2. Select git enterprise server
3. Enter hostname
4. Select protocol (https)
5. Select to authenticate with token or web
6. If select token add token and enter or web, select and enter

###

[2021-04-06 10:12] mirkosoft commented on #1553
Thanks @mislav, yes, it was `-F` I used (instead of `-b`, corrected my comment) for the body. Still, I had to play with the template file to extract just the body.

[2021-04-06 10:36] mislav commented on #3360
Hi, we are not building any functionality of Project boards into GitHub CLI, including searching cards, because right now we don't believe the terminal is a good medium for project boards. For the time being, you will have to use the web interface to interact with project cards.

[2021-04-06 10:36] #3360 closed, assigned to nobody

[2021-04-06 10:45] mislav commented on #3363
Hi, thank you for reporting!

Since `wso2-enterprise` is not a fully-qualified domain name, I will assume that it's internal to your organization. Are you able to access the URL `https://wso2-enterprise` in your web browser? If not, what is the host name of the URL that you do use to access your GitHub Enterprise instance? You do not have to share that domain name with us; just take a note of it a

[2021-04-06 11:09] mislav commented on #3350
Thank you for reporting! ✨

[2021-04-06 12:01] mislav commented on #1553
@mirkosoft Thanks for weighing in!

If we do have a template flag in the future, what would you expect this to do in scripting mode?
[code]

Should the template text be appended to the body provided by the user?

[2021-04-06 12:29] redfire75369 commented on #2893
I am aware this method works on most distributions. However, the issue is that this method isn't universal as it does not work on WSL.
You get an error along the lines of
[code]
See: https://github.com/microsoft/WSL/issues/3286

[2021-04-06 13:14] mislav commented on #3348
Agreed that it likely won't be implemented anytime soon. Please refer to the rationale in the linked issue 🙇

@Pamplemousse Thank you for the feature request!

[2021-04-06 13:14] #3348 closed, assigned to nobody

[2021-04-06 13:27] mislav commented on #3356
Thanks for the feature request, but gh cannot change your current directory since it's an executable, not a shell script. All executables by definition run in a sub-process, and changes to the current working directory in the sub-process never affect the parent process.

You can, however, make your own shell function for cd'ing after cloning:
[code]

[2021-04-06 13:27] #3356 closed, assigned to nobody

[2021-04-06 13:38] lxvm commented on #2893
I also had the dirmngr problem on Debian and think it was because `/root/.gnupg` didn't exist.
I reproduced the problem on WSL2 Debian Bullseye (which might be new enough to not have the bug found in the issue you linked) by doing `$ sudo mv /root/.gnupg  /root/something` and then trying to download the key.

To fix the problem, I ran `$ sudo dirmngr`, which sets up `/root/.gnupg`, and then I down

[2021-04-06 16:12] Danilo-caio-da-silva-vieira opened #3364 "`×`{°^}correção(:)->de{bug}para/filtros--+>terceiros*(@coficacao<---->entradas+:)"*:)-->com/-:"bloqueio__email--=}softwares/dasilvadanilocaiodasilvavieira@gmail.com*(.^.):)==>continua__>proteção/dasilvadanilocaiodasilvavieira@gmail.com/danilo-caio-plataforma-general*``~"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-06 16:17] Danilo-caio-da-silva-vieira opened #3365 "\{•`•}/-->estabelecer==>respostas (°'°)--}>/dasilvadanilocaiodasilvavieira@gmail.com [==>danilo-caio-plataforma-general (:)-->@danilocaiodasi2`~~"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-04-06 17:22] jos3s opened #3366 "Add cloned cli repositories to the Github Desktop repository list"
### Describe the feature or problem you’d like to solve

The feature is that when a clone or fork is made of a repository through the CLI, the GitHub Desktop application will also automatically update its list of repositories.

### Proposed solution

This can benefit users who use the CLI but also GitHub Desktop, as is my case. Since it reduces the number of steps I need to take to check the list

[2021-04-06 17:40] mislav commented on #3366
Hi, thank you for the feature request!

Right now, provided you've installed GitHub Desktop command line tool via the menu item, what you're asking for is achievable by chaining two commands:
[code]
Note that this will open and focus the GitHub Desktop application. Were you hoping to be able to add local repositories to Desktop in the "background"? I think this would be a feature request for GitHu

[2021-04-06 17:41] jos3s commented on #3366
Yes, my idea was mainly to add information to Github Desktop in the background, perhaps with a CLI flag

@mislav

[2021-04-06 17:45] jos3s commented on #3366
Mainly, because testing the command `$ gh repo clone owner/myrepo && github myrepo` , it opens the Github desktop, what I would like the command to do is update in the background, so when I go to open the Github Desktop the repository cloned by the CLI would be there

[2021-04-06 18:19] billygriffin commented on #3366
Hi @jos3s, thanks so much for the idea. I totally understand how this could be useful, but unfortunately I don't think this is likely to be used very much and therefore isn't something we're going to support. Thanks again for the issue!

[2021-04-06 18:19] #3366 closed, assigned to nobody

[2021-04-06 18:22] jos3s commented on #3366
Hmm, this is bad but okay

[2021-04-06 18:51] abatilo opened #3367 "gh pr merge --auto returns successfully when auto merging is not enabled on a repo"
### Describe the bug

[code]

### Steps to reproduce the behavior

If you try to `gh pr merge --auto` on a repository that doesn't have auto merge enabled, the tool will still tell you that the PR will be merged once all checks have passed.

### Expected vs actual behavior

I would expect the cli to tell me that it can't auto merge the PR since auto merging is not enabled on this PR.

[2021-04-06 23:12] atsalolikhin-spokeo opened #3369 "Can't login with "gh auth login": read-only token in GITHUB_TOKEN cannot be modified"
### Describe the bug

[code]

I am trying to login for the first time, and I get an error:

[code]

### Steps to reproduce the behavior

Try to login with a token that has "repo" rights only.

### Expected vs actual behavior

I expect to login, and instead I get an error message.

### Logs

[code]

I have the GITHUB_USERNAME env var set, but I don't think gh looks at it.  (Search for GITHUB_USERNA

[2021-04-06 23:55] billygriffin commented on #3369
Hi @atsalolikhin-spokeo, looks like you're using version 1.0, and we're currently on 1.8.x. Would you mind upgrading your gh version and let us know if that gets it working?

[2021-04-07 00:05] atsalolikhin-spokeo commented on #3369
Wow! `gh` moves fast.   I should have checked that.  Thanks!

`gh auth login` looks cleaner:

[code]

But I still get prompted for Username and Password when I run `gh repo clone` on a private repository.

I've got the new-style `ghp_` token, if that makes any difference.

[code]

[2021-04-07 04:13] g14a commented on #229
or @mislav ?

[2021-04-07 07:40] ErikSchierboom commented on #1484
I've managed to workaround this via the `--input` parameter. It would be awesome if arrays could be supported via the `--field/--raw-field` syntax too.

[2021-04-07 08:08] ssbarnea opened #3370 "gh pr update (or push) command is missing"
### Describe the bug

One of the most useful command line operations for maintainers is to download an incomplete PR locally, fix it and update it.

This is a very common operation where original OP may forgot to finish it, or he is not able to do so. Very simple changes can be performed directly in the web interface as GitHub allow maintainers to modify open pull requests.

Still, while downloadi

[2021-04-07 09:26] mislav commented on #3369
@atsalolikhin-spokeo It looks like you are successfully logged in to `gh` with the token from your GITHUB_TOKEN environment variable, but that doesn't yet guarantee that git operations (such as git clone) are authenticated using the same mechanism.

Try doing this (if on a unix-like system):
[code]

This sets up gh as the credential helper for git operations. In fact, this is what GitHub CLI would

[2021-04-07 09:44] mislav commented on #3370
Thanks for the detailed report!

1. `gh pr checkout` _does_ set upstream configuration to make `git push` to the PR easier. Just do `git push` without arguments while on the branch created by `gh pr checkout`. And if you get an error, can you tell us which error do you get, and what is the branch name of the head of the PR?
2. For handling edge-cases that a normal `git push` does not handle, we mi

[2021-04-07 11:12] gregopet commented on #3252
Hey, I don't know if you guys fixed anything, but our upload times have been very good lately. No slow uploads since March 23rd, we've had 14 uploads in between and they were all fast. As far as I know nothing changed on our end.

[2021-04-07 11:15] mislav commented on #3367
Thanks for reporting!

I've reported this to the API team. I believe that the correct behavior should be that the server reports an error, but this isn't happening.

[2021-04-07 12:10] abatilo commented on #3367
I would agree! I think that an error would be much more reasonable behavior.

[2021-04-07 12:30] foxy4096 commented on #2182
At least it got setup and working.

[2021-04-07 13:47] ssbarnea commented on #3370
I tried `git push` and it created a new branch on the main repository instead of pushing the commit to the original forked branch, clearly not what I was hoping to happen. I do not think that a `git push` should do that, or if we cannot prevent it, we need a `gh` specific command that knows what to do.

Even if this would have worked, it would break the case where user made a commit locally and di

[2021-04-07 16:22] dmazin opened #3373 "Make it clearer how to list an organization's repos"
### Describe the feature or problem you’d like to solve

It took me a long time to figure out how to list an organization's repos.
`gh repos list --help` should make it more clear that "<owner>" can be an organization as well as a user.

### Proposed solution

The solution is as simple as changing the copy. For example, maybe saying `<owner or organization>`.

[2021-04-07 18:46] atsalolikhin-spokeo commented on #3369
Thanks!

Running `gh auth status` showed me that providing `repo` only scope on my new GitHub token was too strict:

[code]

I generated a new token, and now `gh auth status` says I'm logged in; but `gh repo clone` on a private repo still prompts me for a password.  (I've added my username to my Git config, so it doesn't prompt me for username anymore.)

Shouldn't `gh` use the `GITHUB_TOKEN` envir

[2021-04-07 19:55] #3321 closed, assigned to mislav

[2021-04-07 20:30] sushain97 commented on #3268
@jgold-stripe I have a branch that adds UDS support that I've verified works internally: https://github.com/cli/cli/compare/trunk...sushain97:uds-support. I simply haven't PR'd it yet (edit: it appears a bit conflicted now).

If @mislav is open to it, I can PR.

[2021-04-07 22:57] signed-log opened #3375 "Have a way to not respect case when working with repos"
### Describe the feature or problem you’d like to solve

I have a repo named like `ExamplEE`and I want to clone it, I need to write `gh repo clone stig124/ExamplEE` but not `gh repo clone stig124/examplee` and it is quite annoying

### Proposed solution

Doing like shells (I think especially of ZSH) which can have toggles to turn off or on case-insensitive completion

How will it benefit CLI and i

[2021-04-07 23:42] marcosandredev opened #3376 "Developer"

[2021-04-08 01:21] #3376 closed, assigned to nobody

[2021-04-08 07:03] AaronDewes commented on #3237
@jhihn The Raspberry Pi supports arm64 since the 2B Rev. 1.2, so every Pi except older Pi 2s, 1, Zero and Pico support arm64. The Raspberry Pi Foundation recently released a 64bit Raspberry Pi OS: http://downloads.raspberrypi.org/raspios_arm64/images/raspios_arm64-2020-08-24/2020-08-20-raspios-buster-arm64.zip.
I'm using GitHub CLI myself on a Raspberry Pi 4 and it works perfectly.

On the Raspber

[2021-04-08 15:26] znd4 opened #3377 "Global issue / PR querying"
### Describe the feature or problem you’d like to solve

It'd be awesome to be able to query issues and PRs globally, the way you can at https://github.com/issues and https://github.com/pulls.

### Proposed solution

`gh issue list -g/--global`
`gh pr list -g/--global`

This would go well with #641. The two combined would allow people to `alias` for a specific workflow.

### Additional context

As

[2021-04-08 16:03] swissline-official commented on #1326
So Microsoft requires manual gh tool install via adding their own repo. That is very sneaky and huge security concern.

[2021-04-08 17:44] cpruitt commented on #3315
I'll second this. I actually expected `--branch` to work that way by default. I've also set an alias but I'd love to see it baked in.

[2021-04-08 18:13] mislav commented on #3373
Hi, I'm sorry this wasn't clear for you!

I just took a look at the current help text and I thought that it was already enough explanation that the "owner" can either be a user or organization:
[code]
I think that replacing "owner" with multiple words will make the USAGE line harder to parse, so I'd prefer to keep it as one word, especially because the line preceding it explains what an "owner" is

[2021-04-08 18:13] #3373 closed, assigned to nobody

[2021-04-08 18:14] DemiAHMS opened #3378 "Want to list an org's repos that match a filter criteria"
### Describe the feature or problem you’d like to solve

Our org wants to rename all default branches from `master` to `main`. Since we have almost 100 repos, this task is barely feasible when done via the web, but cannot be done in a reasonable timeframe manually.
We would prefer to have a programmatic way to list all the remaining org repos that still have `default_branch` set to `master` so tha

[2021-04-08 18:17] mislav commented on #3375
Hi, I am able to write `gh repo clone mislav/examplee` and have it clone a private repo called `ExamplEE`. We currently match repository names case-insensitively. Can you share which error you get when you try that?

[2021-04-08 18:23] mislav commented on #3370
Ah I see! That is clearly not desirable. Can you check what was the upstream configuration of the branch created by `gh pr checkout`? You can do so by running: `git config --get-regexp '^branch\.my-branch-name'`. Feel free to anonymize actual repo/branch names.

It might be a bit of a hack, but you could use `gh pr view &>/dev/null`. It will exit with a zero status only if there was a PR associate

[2021-04-08 18:27] mislav commented on #3369
Yes, ideally it should. We plan to make sure to authenticate internal git commands that we spawn from `gh`, like `git clone`:  #2944

However, even after that's done, all other git commands that you run directly are still going to be un-authenticated, for example `git push`. That's why I suggested going the route of setting a credential helper as per my above comment. With that method, gh is going

[2021-04-08 18:39] mislav commented on #3378
Thanks for writing in!

We hope to make more detailed filtering available for repositories, but right now what you're describing isn't directly possible by any command. However, you can directly access the API using `gh api` to get the information you seek:

[code]
This will list the names of all repositories in MYORG that have "master" as their default branch name.

[2021-04-08 18:41] mislav commented on #3377
Thanks for suggesting! We do want to make this available, but for now I'm going to close this as a duplicate of https://github.com/cli/cli/issues/277. Now, I know it's been a year since that issue was opened, but we might have updates soon. Please follow the thread!

[2021-04-08 18:41] #3377 closed, assigned to nobody

[2021-04-09 03:53] Boogietimes opened #3380 "Ant"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-09 10:22] DanyC97 commented on #646
hi @mislav , first thank you to you and your team for this nice cli !

adding on top of what everyone said, would be very useful to have this functionality. In the past i used `hub` a lot and i used to have a very neat way of pulling the info out

[code]
it was so easy and smooth to access / open the PR in the browser should i need it or share it with someone else.

Please reconsider the priority

[2021-04-09 11:09] panva opened #3381 "Creating discussions for a release using the CLI"
### Describe the feature or problem you’d like to solve

Following this [announcement](https://github.blog/changelog/2021-04-06-releases-support-comments-and-reactions-with-discussion-linking/) I'd like this option in the `gh release create` command.

![image](https://user-images.githubusercontent.com/241506/114171314-66fae580-9934-11eb-9682-62e5589f7d1e.png)

### Proposed solution

e.g.
[code]

[2021-04-09 11:15] #3380 closed, assigned to nobody

[2021-04-09 11:50] mislav commented on #3381
Thanks for the request!

The GitHub API for this still isn't publicized yet, but it's in the works. We'll try to add the feature when it reaches general availability. 👍

[2021-04-09 12:18] mislav commented on #3237
@AaronDewes the 64bit Raspberry Pi OS is still highly experimental and not officially recommended for casual use. I wouldn't suggest switching to 64bit just to be able to use existing GitHub CLI packages.

Instead, you could use any computer with Go 1.13+ and `make` installed to precompile a binary for your Raspberry Pi:
[code]

[2021-04-09 13:00] Unkn0wnCat opened #3382 "Snap Version unable to clone over HTTPS due to being "Unable to find remote helper for 'https'""
### Describe the bug

When using the CLI from Snap latest and using HTTPS, cloning repositories fails with the error "fatal: Unable to find remote helper for 'https'".

Version:
gh version 1.8.1-51-g37ecdb93 (2021-04-09)
https://github.com/cli/cli/releases/latest

### Steps to reproduce the behavior

1. Download gh using `snap install --edge gh`
2. Setup gh using `gh auth login` choosing HTTPS as

[2021-04-09 13:01] Unkn0wnCat commented on #3382
Never mind, wrong repo. The snap version is unofficial.

[2021-04-09 13:01] #3382 closed, assigned to nobody

[2021-04-09 13:07] Unkn0wnCat commented on #3382
For anyone experiencing the same issue, I've moved this issue to:
https://github.com/casperdcl/cli/issues/5

[2021-04-09 13:13] AaronDewes commented on #3237
Thanks!

I think many RPi 4 8GB users are already using the arm64 version. I'm using it myself and it works perfectly, so while the Raspberry Pi Foundation might hasn't done much testing, it works perfect in most cases. I didn't switch only because of GitHub CLI, arm64 is often better supported by many apps. Just for example, I wanted to run [Umbrel](https://github.com/getumbrel) on my Raspberry P

[2021-04-09 13:42] jhihn commented on #3237
I'm aware of the experimental 64 version. (Seems the Pi Zero is the 32bit laggard, so PiZeros can't use 64bit and therefore `gh`?) There's a substantial install base of 32bit raspian, and I  don't know how to upgrade that install base to 64 bit. If you follow the Pi foundation recommendation, they are still recommending the install of 32 bit.

Of course, the easiest way may be just to address my o

[2021-04-09 14:08] MaStr11 opened #3384 "Winget upgrade fails"
### Describe the bug

Running `winget upgrade "GitHub CLI"` from an elevated prompt, succeeds but does not actually perform the upgrade.

### Steps to reproduce the behavior

1. Enable `Upgrade Command` experimental feature (see `winget features` for details) on winget
2. (optional) Enable `List Command` experimental feature on winget
3. Run `winget upgrade "GitHub CLI"`

### Expected vs actual be

[2021-04-09 14:15] mislav commented on #3237
@jhihn To pull PRs using plain git, you can do this:

[code]
where "NUM" is the number of the PR you want to check out.

I think the reason that we don't give these instructions in the web UI is that they can't be condensed to a single line, and there are some edge cases where it won't work (for example, if you are already on `my-branch`, or when the git remote isn't named "origin", etc.).

But id

[2021-04-09 14:20] jdtzmn commented on #1900
@ssachet A solution is available [on the linked issue above](https://github.com/cli/cli/issues/1718#issuecomment-748292216).

[2021-04-09 14:25] mislav commented on #1326
@phuctm97 Sorry, I missed your question!

`gh repo clone` executes `git clone` internally, and git has its own authentication mechanism when doing network traffic with github.com.

However, in the meantime we made the experience better for the user. During the `gh auth login` process, if you choose HTTPS protocol for git operations, we now ask this:
[code]
and if you choose SSH, we ask if you want

[2021-04-09 14:30] mislav commented on #1326
@swissline-official If you believe you have found a security risk, please check out https://bounty.github.com. We reward reports of new security vulnerabilities across our products.

[2021-04-09 14:40] Bobgy commented on #2786
I always do what @nottrobin describes, and its kind of tedious to remember the git commands I need to update master branch to track upstream/master.

If not changing default behavior, an easy config argument would help too.

EDIT: I just searched one more time, the one-liner command to let master track upstream is the following (when already checking out master branch):

[code]

[2021-04-09 15:42] signed-log commented on #3375
Nevermind, was my fault when writing the command, sorry for the inconvenience

[2021-04-09 15:42] #3375 closed, assigned to nobody

[2021-04-09 16:51] mislav commented on #3384
Hi thank you for reporting!

This sounds like a problem with the experimental `upgrade` method of winget, not with our gh binary nor with our installer. I'm not sure what we can do from this project to fix winget, so please report this to the winget project instead! Thank you.

[2021-04-09 16:51] #3384 closed, assigned to nobody

[2021-04-09 17:18] MaStr11 commented on #3384
I looked there, and it is reported in microsoft/winget-cli#752 already.

`gh` is explicit mentioned there

https://github.com/microsoft/winget-cli/issues/752#issuecomment-785310735 and here https://github.com/microsoft/winget-cli/issues/752#issuecomment-813770356

[2021-04-09 17:22] atsalolikhin-spokeo commented on #3369
Got it, thank you, @mislav .   I use SSH key-based authorization for my `git push`.  I don't want to put `gh` into the loop there.  (I want `gh` to be an optional add-on in my toolkit; not a required component).  It sounds like #2944 will resolve my current issue, so that's fine.   And my original issue (can't login with `gh auth login`) has been resolved, with your kind help; so I'll go ahead and

[2021-04-09 17:22] #3369 closed, assigned to nobody

[2021-04-09 22:04] vilmibm opened #3386 "handle array context in workflow file for gh workflow run"
when parsing YAML in the interactive form of `gh workflow run`, ensure that:

[code]

is handled correctly (and also verify this is even valid for Actions)

[2021-04-09 22:22] vilmibm commented on #2889
fix this; appears to be a regression in our detection of broken yaml files (which is inaccurate, but should have triggered in this case)

![image](https://user-images.githubusercontent.com/98482/114246410-60c23480-9947-11eb-8cbd-e7ffa3ba58ef.png)

[2021-04-10 05:33] Duc56789 commented on #3386
export YOUR_MYSTERIUM_DIR=~/.mysterium

[2021-04-10 05:38] Duc56789 commented on #3370
export YOUR_MYSTERIUM_DIR=~/.mysterium

[2021-04-10 05:42] Duc56789 commented on #2889
export YOUR_MYSTERIUM_DIR=~/.mysterium

[2021-04-10 07:57] ssbarnea commented on #3370
Here is a little bit generalized version
[code]
At this point I know that I need to create an PR and not to update one, so next command would be `gh pr create`, but that one is an interactive one, that produces something like:
[code]
That repo did not had my user (ssbarnea) origin added yet but lucky gh is smart to propose exactly what I want.  Is there a command line switch I can give to `pr crea

[2021-04-10 10:53] ssbarnea commented on #3370
There is still one use-case which does not work how I was hoping: working on devel branch of a repository where I have push rights. Doing `git push --enforce-with-lease` worked fine, but after this `gh pr create --fill` failed with as I described in original report. I am not sure which command do I need to to open a pull request from the cli in that case. Mainly my code is already pushed on devel

[2021-04-10 12:36] chenle02 opened #3387 "gh issue reply"
### Describe the feature or problem you’d like to solve

I am looking for a feather that one can reply a issue from terminal. We can create an issue but when you reply an issue, you have to login the github website. If one can reply an issue from the terminal, that will be great.

### Proposed solution

More efficient way reply an issue.

Thank you very much!

[2021-04-10 13:37] mislav commented on #3387
Hi, please check out `gh issue comment --help` 🙇

[2021-04-10 13:37] #3387 closed, assigned to nobody

[2021-04-10 14:29] ssbarnea commented on #3370
Apparently you cannot directly automatically create the fork or push to it when you call `gh pr create --fill` from a script as it will give an error if your current branch does not have any tracking reference:
[code]

What is the command i need to run in order to create fork if needed or push current branch to my fork and create the tracking reference? (not that repo still has only the origin).

[2021-04-11 13:47] HappyEinara commented on #1798
@mislav Just on this last point: a friendly note that Ubuntu 21.04 Hirsute Hippo is expected to be released on April 22 and is apparently not yet supported in your repo.

[2021-04-11 15:30] moovy82 opened #3394 "test"

[2021-04-11 17:41] arg commented on #2330
It's packaged for FreeBSD as `devel/gh`. See https://www.freshports.org/devel/gh/ for details.

[2021-04-11 21:17] jmhardison opened #3398 "Add support for Ubuntu 21.04 (Hirsute)"
https://github.com/cli/cli/blob/bc681b94804c55066926b0522ba5057a12137ab1/.github/workflows/releases.yml#L83

Would love to see about having Ubuntu 21.04 'hirsute' added to the release definitions you are creating now that its gone beta. Current normal workaround is in place to use either prior distro release name or 'testing'.

Would submit a PR for this (releases.yml and script/distribution), but

[2021-04-11 22:52] cristiand391 commented on #2352
@samcoe @mislav FYI there's a new `glamour` release:

https://github.com/charmbracelet/glamour/releases

[2021-04-12 00:16] #3394 closed, assigned to nobody

[2021-04-12 07:47] embano1 commented on #1484
Hit same issue and spend one hour mapping the OpenAPI spec against `gh` behavior and was wondering why arrays/objects are not supported, e.g.:

[code]

Will file a PR because this behavior is not clear from the docs `Pass one or more --raw-field values in "key=value" format to add **JSON-encoded string parameters** to the POST body.`.

[2021-04-12 09:49] iapicca opened #3401 "[proposal] when unauthenticated suggest `gh auth login` or output authentication error"
it would be nice if the application would return an unauthenticated error and/or prompting to authenticate

### example
- I install [gh cli][2] following the [documentation][3]

[code]

- verify installation succeded

[code]

- try cloning a public repo (for example [flutter gallery][4]) running `gh repo clone flutter/gallery`\

### expected result

- `gh cli` should require user to run `gh auth l

[2021-04-12 10:49] dtantsur commented on #2786
I think it's the case now and it is, indeed, very annoying (and even risky - I nearly pushed to a project bypassing its reviews).

[2021-04-12 11:29] mislav commented on #3401
Hi thanks for the detailed feature request!

We already do this. If you are not authenticated, we print this:
[code]

Do you have GITHUB_TOKEN or GH_TOKEN environment variables set by any chance? I'm wondering how it was that you weren't prompted to `gh auth login` after you did a fresh install. Or is it possible that you used GitHub CLI on this machine in the past?

[2021-04-12 11:38] iapicca commented on #3401
I didn't get this prompt

no

no, but I was using [github desktop](https://github.com/shiftkey/desktop)
maybe that's the reason

[2021-04-12 11:53] mislav commented on #3401
No, I don't think this changes anything. GitHub Desktop and GitHub CLI don't share any of their authentication mechanisms.

I do not know how come you did not get the prompt to authenticate GitHub CLI. This is really weird.

[2021-04-12 12:08] mislav commented on #3370
Thanks for all the detailed feedback! I'll try to answer the themes behind your questions as I recognize them.

This is a popular feature request, but we didn't get around to implementing it yet: #1718. We also didn't decide on what should be the exact interface for this.

Interesting. It would be really useful if you shared with us the exact error message. Also, what has created the git branch th

[2021-04-12 12:35] iapicca commented on #3401
I'm closing the issue as my proposal doesn't need implementation,
but if you want to tackle the issue and you need some data I'm available to provide any info you require

[2021-04-12 12:35] #3401 closed, assigned to nobody

[2021-04-12 12:43] ruohola commented on #2598
+1, A flag for overwriting existing files would be awesome

[2021-04-12 13:26] mislav commented on #2598
So maybe flags like `gh download --skip-existing` and `gh download --clobber` (to match the equivalent `upload` flag) would be useful additions?

[2021-04-12 13:34] msardana94 commented on #2598
yes 💯

[2021-04-12 14:27] mislav commented on #3252
@gregopet I've just checked with the appropriate team and they haven't made any changes to this part of the infrastructure, but they did point out that uploading Release assets is per-POP, meaning it's location specific, and that there might have been a regional network problem that was fixed. This would also explain why you might have been affected but not most other GitHub users (as we didn't ge

[2021-04-12 14:27] #3252 closed, assigned to nobody

[2021-04-12 14:48] g14a commented on #1907
@mislav or @vilmibm I'd like to work on this if no one is already. Any pointers I should know on how to start with this?

[2021-04-12 14:49] g14a commented on #1810
Thoughts on this @mislav ?

[2021-04-12 16:25] mislav commented on #3199
Duplicate of https://github.com/cli/cli/issues/674

[2021-04-12 16:25] #3199 closed, assigned to nobody

[2021-04-12 16:27] mislav commented on #674
We have since discovered that this bug affects the `--recover` flow as well, so I'm bumping up the severity.

Also, forwarding @waldyrious' suggestion from #3282:

[2021-04-12 16:36] mislav commented on #927
Thanks for the discussion! Duplicate of https://github.com/cli/cli/issues/2872

[2021-04-12 16:36] #927 closed

[2021-04-12 16:43] mislav commented on #2872
Just talked about this within our team and we've concluded that, if there is a PR template, it should be auto-appended to the PR body after the contents of `--fill`. This would match the web behavior.

[2021-04-12 18:41] pataquets commented on #3026
Finally I found the time to do deeper troubleshooting.
My bad, the culprit was an environment variable sneaking in via an alias chain. 😓
Apologies for the inconvenience.

[2021-04-12 18:41] #3026 closed, assigned to nobody

[2021-04-12 18:42] janosh commented on #995
Any news here? Specifically, regarding when `gh repo edit` might land?

[2021-04-12 20:07] vilmibm opened #3406 "ensure survey options are reasonably unique"
I just found out that if two options in a survey select are the same, survey will always show the first occurrence of the string as having been selected. in other words, given:

[code]

and you select either "uncool thing" option, the resulting selected index will always be `1` and never `2`.

This issue covers fixing `shared.PromptForRun` to make its select candidates reasonably unique. We initia

[2021-04-12 23:44] #3406 closed, assigned to samcoe

[2021-04-13 03:18] thecharlesjenkins commented on #326
I am able to have multiple accounts signed in and that is nice, but one thing that I am trying to do is when I am creating a repository I would like to select my account. Doing something like `gh repo create my_name/repo_name` doesn't seem to work because one of my accounts is enterprise and one is public. Passing in my enterprise name like this causes `HTTP 404: Not Found (https://api.github.com/

[2021-04-13 12:49] hbenali opened #3410 "gh pr --merge --auto --squash affirmative message even the auto merge is disabled on repo"
### Describe the bug

When activating the auto-merge feature using the CLI on a repository that has not enabled this feature. The message below appears

`✓ Pull request #XXX will be automatically merged via squash when all requirements are met`

### Steps to reproduce the behavior

1. Create a PR
2. Make sure that auto-merge feature is not enabled on Github repository (Free plan)
3. Call `gh pr me

[2021-04-13 13:24] jef opened #3411 "Segementation Fault during gh pr create -w"
### Describe the bug

During `gh pr create -w`, I'm receiving a segmentation fault.

I'd like to add that running `xdg-open https://google.com` and `exo-open https://google.com` work in both cases.

### Steps to reproduce the behavior

Using XFCE and Chrome browser, try to create a pr via `gh pr create -w`.

### Expected vs actual behavior

Open the browser with the compare and ready to submit PR.

[2021-04-13 14:35] mislav commented on #3410
Thanks! Duplicate of #3367

[2021-04-13 14:35] #3410 closed, assigned to nobody

[2021-04-13 14:36] mislav commented on #3411
Thanks for reporting! This looks like it's coming from `xdg-open` (or whatever `exo-open` is).

Can you try using those tools to open a realistic GitHub URL?
[code]

Maybe the tool trips up on `...`.

[2021-04-13 14:42] jef commented on #3411
Haha, I didn't know either -- it's XFCE specific `xdg-open`, like Gnome's `gnome-open`.

---

Good point, I forgot to mention I've done this, but here is the output:

[code]

What's interesting is this extra message (not sure if it was here in earlier XFCE updates). It's like a job continually running and need's to be killed (<kbd>Ctrl</kbd> + <kbd>C</kbd>). Killing the job doesn't close the tab,

[2021-04-13 16:17] cristiand391 commented on #674
Is anyone already working on this? If not, I would take a look at fixing this 😃.

[2021-04-13 19:33] mislav commented on #3304
Thanks for clarifying. How would the command know which repository do you want to look up the PR number in? Right now we support the `-R/--repo` flag. Do you need some other kind of functionality to select a repository?

[2021-04-13 19:48] jos3s commented on #3304
What I am suggesting is that there is a flag to view the upstream pr or issues of my repository (ie the original repository from which I forked). Without me needing to indicate the url, it would just check the upstream or using a name that I pass as a parameter

[2021-04-13 21:03] voanhcung commented on #2722
fork = "! set -x; up = $ {1: -up} fork = $ {2: -fork} fork_branch = $ {3: -forkmain} && up_branch = $ {4: - $ (git default-branch $ up)} && {git remote | grep -qx $ fork || hub fork --remote-name = $ fork;} && git remote -v && git push $ fork $ up / $ {up_branch:?}: refs / heads / $ fork_branch && git change-branch $ fork $ fork_branch && git default-branch $ fork && git clean-fork $ fork $ fork_b

[2021-04-13 22:52] matthew-cline commented on #326
I've created a [bash wrapper script](https://github.com/matthew-cline/gh-multi-account) for `gh` which makes it easier to do multiple accounts.  Uses personal access tokens.

[2021-04-13 23:24] milkly1235writer commented on #2189
Use

[2021-04-13 23:34] ArtNow198 opened #3417 "Use"
Use

_Originally posted by @milkly1235writer in https://github.com/cli/cli/issues/3414#issuecomment-819113939_

[2021-04-14 02:34] #3417 closed

[2021-04-14 09:16] mislav commented on #3411
Thanks for the extra info.

I'm finding results when I search for "exo-open segmentation fault". Maybe you'll wanna take a look at those.

In any case, it's clear that the error comes from the browser process instead from the `gh` process. I can't tell why it doesn't segfault when you run it directly, though. But you may want to set the `BROWSER` environment variable to choose an alternative execu

[2021-04-14 09:16] #3411 closed, assigned to nobody

[2021-04-14 12:28] jef commented on #3411
Aha, perfect! I should've looked at `gh environment`. This works.

[code]

This was the reason I made the assumption it was `gh`. Quite strange. `BROWSER` is much clearer in any case.

Thank you for all the help.

[2021-04-14 18:15] #1532 closed, assigned to nobody

[2021-04-14 18:15] #2306 closed, assigned to nobody

[2021-04-14 18:27] ghost commented on #2306
Thanks @mislav !

[2021-04-14 19:21] mislav commented on #1532
@GMNGeoffrey Please try out the `gh pr view --json` that will be new in today's release and let us know if that covers your needs!

Example use:
[code]
An additional `--jq` expression might be supplied to turn the JSON into something immediately usable in a shell script.

[2021-04-14 22:26] #3386 closed, assigned to vilmibm

[2021-04-14 22:26] #2889 closed, assigned to vilmibm

[2021-04-14 22:27] vilmibm commented on #2835
You can now use `gh run watch --exit-status && echo "run completed and successful"`

[2021-04-14 22:27] #2835 closed, assigned to nobody

[2021-04-14 22:28] vilmibm commented on #1725
check out `gh workflow run`

[2021-04-14 22:28] #1725 closed, assigned to nobody

[2021-04-14 22:28] vilmibm commented on #1670
this should be covered by `gh workflow run` now :)

[2021-04-14 22:28] #1670 closed, assigned to nobody

[2021-04-14 22:29] vilmibm commented on #1634
I believe this is covered with `gh run watch` now.

[2021-04-14 22:29] #1634 closed, assigned to nobody

[2021-04-14 22:29] vilmibm commented on #410
`gh run view --log-failed` now exists :)

[2021-04-14 22:29] #410 closed

[2021-04-14 23:51] ChristopherSchubert commented on #404
I downloaded the latest Git (2.31.1) and the installer had a new experimental option to run 'pseudo' consoles, without requiring winpty.

I tried it out and it resolved this issue for me on Windows 10.  It allowed both arrow movement and filtering.  I was able to login successfully and have not had issues since.

I did not change the terminal emulator.  As an aside, it also resolved my issues with

[2021-04-15 01:11] ryenus opened #3423 "Support -C <path> to run with specified path like git -C"
### Describe the feature or problem you’d like to solve

In git, there's `-C <path>` option to let git run in the specified path,
instead of the current directory, such option is missing in GitHub CLI.

### Proposed solution

This saves the overhead of changing the current directory back and
forth when working with multiple local repositories.

[2021-04-15 02:07] denisdeoniss opened #3424 "![image](https://user-images.githubusercontent.com/58262528/114319374-256f6380-9b09-11eb-9408-1c6eacf48997.png)"
![image](https://user-images.githubusercontent.com/58262528/114319374-256f6380-9b09-11eb-9408-1c6eacf48997.png)

I need the value of the secret returned not only the name. Is there a way to do that?

I read through this issue #441 but seems like there isn't.

_Originally posted by @danBamikiya in https://github.com/cli/cli/discussions/3397_

[2021-04-15 02:07] denisdeoniss commented on #3424
T

[2021-04-15 02:35] #3424 closed

[2021-04-15 06:52] jetersen opened #3425 "Windows mangles double quotes within single quotes in arguments"
### Describe the bug

gh version 1.8.1 (2021-04-02)
https://github.com/cli/cli/releases/tag/v1.8.1

The example for gh api --jq shows that you should use single quotes for the string. `'`
Take this command for instance.
[code]

We spent a few minutes trying different ways of selecting and ended up figuring out that the `"` inside the jq string needed backlashes.
In both powershell and bash or zsh

[2021-04-15 07:56] dgs2019 opened #3426 "Sera"

[2021-04-15 08:41] rgarrigue commented on #410
@vilmibm gave it a shot. Didn't worked.

[code]

[2021-04-15 09:36] #3426 closed, assigned to nobody

[2021-04-15 09:44] mislav commented on #3425
@jetersen For me this works without backslashes in both zsh and bash.

Would you care to elaborate why do you think double quotes need to be escaped? Within single quotes, a double quote is a literal character without any special meaning, so I do not understand why escaping would be necessary.

Additionally, if you find one of our examples to not be working, please point us to the example from our

[2021-04-15 10:07] lex2491 opened #3428 "Responding"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_ lex

[2021-04-15 10:21] jetersen commented on #3425
Okay, I tested it, and it seems to be a PowerShell terminal thing.
Tested on both PowerShell 5 and 7.

[2021-04-15 10:23] jetersen commented on #3425
Actually CMD does something completely different.

Powershell:
[code]

CMD:
[code]

[2021-04-15 10:29] jetersen commented on #3425
Powershell and github cli is behavior is not aligned.
Based on https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7.1
None of the quoting works as expected.

This includes powershell 7 on both Windows and Linux

[code]

[code]

[code]

[code]

[2021-04-15 14:34] vilmibm commented on #410
very weird, sorry. mind trying again with DEBUG=api set in your environment?

[2021-04-15 15:12] rgarrigue commented on #410
Done, logs sent by mail on your GH public mail address

[2021-04-15 16:10] vilmibm commented on #410
I've tracked down the failure; the cache dir is not being created properly by `run view --log-failed`. we'll get a fix ready.

[2021-04-15 16:21] mislav commented on #3423
Thanks for the suggestion! Duplicate of https://github.com/cli/cli/issues/2228

[2021-04-15 16:21] #3423 closed, assigned to nobody

[2021-04-15 16:26] vilmibm commented on #410
A workaround for this is to run some `gh pr` or `gh issue` commands as it's related to a cache being cold. a fix is about to get point released as 1.9.1 and can be found here: https://github.com/cli/cli/pull/3429

[2021-04-15 16:47] mislav commented on #3425
Ah, thanks for bringing this to our attention.

The docs that you've linked to explicitly state that this is valid quoting style in powershell: `'hello "beautiful" soul'`. The double quotes don't need to be escaped since they are within single quotes.

However, when powershell runs an executable (`gh` being one) and passes arguments to it, it [apparently mangles double quotes](https://stackoverflo

[2021-04-15 17:13] jetersen commented on #3425
I was not aware of this issue in PowerShell 🤔

[2021-04-15 17:20] macintacos commented on #972
@YakDriver I keep getting a "too many arguments" error when trying that. Can you elaborate a bit on your setup?

In any case, as someone just discovering worktrees and how nice they are, I'm sad to see that this isn't already a thing with `gh`.

[2021-04-15 17:30] maroskukan commented on #3298
@mud5150 if you get 404 using web browser does not mean that is not working for apt-add-repository. I also tried with ubuntu 20.04.2 container and it works as expected:
[code]

I also tried with `ansible.builtin.apt_repository` module, and worked as well
[code]

[2021-04-15 17:33] #2352 closed, assigned to samcoe

[2021-04-15 17:59] tavianator opened #3430 "Is there a way to merge a pr locally without pushing?"
### Describe the feature or problem you’d like to solve

I want to merge a PR, but run some tests locally, and maybe do some additional commits on top, before I push it out.  I tried `gh pr merge <PR>`, but it prompted me to "Submit" or "Cancel."  It's not clear, but I assume "Submit" would have actually pushed the merge.

### Proposed solution

I think a `--no-push` flag for `gh pr merge` would b

[2021-04-15 18:01] jeremyd2019 opened #3431 "gh run view fails to get jobs on 32-bit"
### Describe the bug

Windows 32-bit binary, run via git bash, does not seem to be able to view or watch runs.

[code]

[2021-04-15 18:06] vilmibm commented on #3431
Thanks for the report; we're looking into a fix.

[2021-04-15 18:24] vilmibm commented on #3431
Looks like `int` defaults to 32 bits on a 32bit OS. It sounds like we can fix this by explicitly opting into a larger `int` type. I'll prepare a branch with that change so we can see if it helps; if it does, I'd like to include test suite runs on a 32bit OS in our build matrix (assuming that's an option).

[2021-04-15 18:25] luckman212 commented on #2352
awesome @samcoe - thank you!

[2021-04-15 18:52] mud5150 commented on #3298
@maroskukan My apologies. At the time I was getting an error back with apt as well. This isn't happening now. I just assumed that I should also get a positive response to /packages and I should have looked at it closer. It's working fine now so if it wasn't an issue on my end it's been resolved. Thanks

[2021-04-15 18:52] #3298 closed, assigned to nobody

[2021-04-15 18:57] vilmibm commented on #3431
@jeremyd2019 would you be up for trying one of the 32 bit windows builds in this temporary release to see if it helps? https://github.com/cli/cli/releases/tag/v1.9.2-pre0

[2021-04-15 19:03] maximousblk commented on #3363
Getting same error for github.com on v1.9.1 (aarch64/termux)

![Screenshot_20210416-003202_Termux](https://user-images.githubusercontent.com/28438021/114924181-52927d80-9e4b-11eb-91e2-e56c0519378a.jpg)

[2021-04-15 19:05] jeremyd2019 commented on #3431
That build seems to work for me

[2021-04-15 19:06] vilmibm commented on #3431
awesome, thanks for the feedback.

We're going to take some time and see if we can get our build matrix to cover this so we avoid this kind of thing in the future.

[2021-04-15 19:41] jasonkarns opened #3433 "Docs improvement for `api --preview` option"
# CLI Feedback

## What have you loved?

Love the ability to opt-in to api preview features!

## What was confusing or gave you pause?

Docs for the `api --preview` flag is a little unclear. The extent of the manpage docs for `--preview` is:

[code]

And an example:

[code]

My confusion is that [listing of available preview features](https://docs.github.com/en/rest/overview/api-previews) use `foo

[2021-04-15 21:26] mew1033 commented on #2189
I just hit the same problem. When I do `gh pr checkout ##`, I want to set the remote to the fork that the PR is coming from. Can this be configurable at least?

[2021-04-15 21:45] patrickleet commented on #2027
This would be really helpful - its hard to find a good image for this on Docker Hub

[2021-04-15 22:37] macrael opened #3434 "No way to configure default remote for `gh run`"
### Describe the bug

The new `gh run list` and `gh run watch` commands don't ask which repository to run against and keep picking a remote I don't care about. If I use `gh pr list` it asks for a default and saves that somewhere, but there's no such facility for the new action commands.

It seems like 'origin' would be an easy default. I'm passing `-R` to select one instead but would love to not h

[2021-04-15 23:57] simar7 opened #3435 "brew upgrade failed"
### Describe the bug

brew upgrade failed to download latest release

### Steps to reproduce the behavior

1. `brew upgrade gh`

### Expected vs actual behavior

Expected:
I expected brew to upgrade to the latest released version

Actual:
Brew gave a 404 on downloading artifact

### Logs

[code]

[2021-04-16 04:49] adamslc opened #3436 "`gh run view --log` fails"
On MacOS, trying to view a workflow log results in:
[code]

There is no `gh-cli-cache` file:
[code]

Possibly related to installation method? I used MacPorts.

[2021-04-16 05:04] billygriffin commented on #3436
Hi @adamslc, this should be resolved when you upgrade to 1.9.1. Let us know if not, and sorry about that!

[2021-04-16 05:04] #3436 closed, assigned to nobody

[2021-04-16 08:07] XC- opened #3437 "gh run view with github enterprise does not work"
### Describe the bug

Running `gh run list` works properly and lists the relevant runs. When attempting to look into run details with `gh run view` the command returns error `failed to get jobs: HTTP 404: Not Found`. In the URL there is stutter that does not look correct `../api/v3/api/v3/repos/...` (unfortunately I cannot paste the full URL due to confidentiality reasons).

Github CLI version: 1.

[2021-04-16 08:46] phaedonv commented on #1798
What about creating a gh.list file into sources.list.d, with the line `deb https://cli.github.com/packages stretch main` in it.. then update and  run `sudo apt install gh` afterwards? Seems to work!

[2021-04-16 13:42] marco-schmidt commented on #3435
Similar problem trying to install gh for the first time with brew on Mac OS Big Sur:

[code]

[2021-04-16 14:24] mislav commented on #3435
Hi, thank you for reporting, but this is not a Homebrew issue tracker, and such issues should be reported there, as we do not manage Homebrew.

@simar7 Your output suggests that gh 1.9.1 was successfully installed. What happens if you do `/usr/local/bin/gh version`?

@marco-schmidt: It doesn't look like the correct download URL was used. Can you try `brew update && brew upgrade gh` again?

[2021-04-16 14:37] mislav commented on #3430
`gh pr merge` does the same thing as the Merge Button: it makes the merge on the remote repository (on GitHub) instead of locally. Your workaround looks alright, although I understand it might be tedious! You could try capturing it as an alias:

[code]

Duplicate of https://github.com/cli/cli/issues/1896

[2021-04-16 14:37] #3430 closed, assigned to nobody

[2021-04-16 14:52] mislav commented on #3437
Thank you for reporting! I'm having trouble reproducing this.

Is it this URL that is failing?
[code]
If so, when you called `gh run view <number>`, have you also specified the `--job` flag? I'm trying to figure out how was it fetching a job instead of a run in the first place, and why is it generating a wrong URL on your end and not on my end.

[2021-04-16 15:13] mislav commented on #3433
This is great feedback; thank you!

I agree that it's confusing that we expect you to use the preview name without the `-preview` suffix. We should clarify the input that we expect, and optionally also accept the full preview name as advertised (inclusive of `-preview` suffix) in order to support the canonical name of each preview.

[2021-04-16 15:35] vilmibm commented on #3437
The `failed to get jobs` error is from the _lack_ of `--job` (it's related to fetching all the jobs for a given run).

The URL for that comes directly from the runs API and then we grab the path out and add it to the repo's host:

[code]

to get the reported malforming it would need to be coming from either the runs API or from the return of `RepoHost()` as far as I can read...which I have no expl

[2021-04-16 15:56] rmarkins-godaddy commented on #3435
@mislav I just ran both as per your instructions and I get that same response. It doesn't seem to pick up a new url. What is the intended download url?

[2021-04-16 16:02] marco-schmidt commented on #3435
Sorry for asking in the wrong place, and thanks for the hint:
[code]
... worked for me.

[2021-04-16 16:10] jasonkarns opened #3441 "Propose that github publish an "official" CircleCI Orb to install the gh-cli"
# CLI Feedback

## What have you loved?

Love the ability to use the `gh api` subcommand for integrating CircleCI builds with github. I'm ecstatic that the gh cli is available out of the box on GH Actions. But I have clients that use CircleCI, and it is quite painful getting the gh cli installed and available.

## What was confusing or gave you pause?

I'll document the pain of getting the cli ins

[2021-04-16 16:26] XC- commented on #3437
@mislav If I remember correctly, yes. Except it has `api/v3` twice. And no, I did not have `--job` flag, I did not use it in either of them.

[2021-04-16 16:49] abatilo opened #3442 "Support `gh pr merge -d` with git worktrees"
### Describe the feature or problem you’d like to solve

One of the reasons that I really enjoy using `gh` is because of how easy it is to manage and switch between different PRs. And using `gh pr merge -d` is very nice because it will delete your branch locally and switch you back to the default branch. This doesn't seem to work with a worktree setup.

I'd just like to request that `gh pr merge -

[2021-04-16 16:52] 6068 opened #3443 "Ok"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-04-16 17:08] adamslc opened #3444 "`run view --log` fails for certain step names"
This is a regression on Linux, but didn't work in 1.8 on MacOS either.

In the JuliaSymbolics/Symbolics.jl repo, on Linux:
[code]
And the same repo on MacOS:
[code]

Log files here:
https://gist.github.com/1d87d834f3b86b53c2272e502a6f4fbe

[2021-04-16 19:26] simar7 commented on #3435
[code]

[2021-04-17 11:36] Den96a opened #3446 "NO PROBLEM, do your best, because I know I can. I don't want to rot,when I swear...http://www.sabedinovski.com"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-04-17 11:55] Den96a commented on #3446
it's black time. we are looking for stars in the dark. we shut down careers when I stick to tape. Brother you have a good bit, TNT dynamite. Ela is like a pit, she growled, biting, bums talk about money, they have no for rizle. look at me ice cub jack and coke. naked again. on the spot the main role. Here's coke, here's cola. It's nothing , only routine control.fuck.this is just a foreplay.they ga

[2021-04-17 15:16] boqin-87 opened #3447 "Gyg"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-17 15:16] #3447 closed, assigned to nobody

[2021-04-17 15:41] dexterklui opened #3448 "Setting alias for help command causes invalid memory address or nil pointer dereference"
### Describe the bug

If there is an alias for `help`, using the full command `gh help` causes runtime error of invalid memory address or nil pointer dereference. Using the alias that has been set, however, is fine.
Version: gh version 1.9.1 (2021-04-15)

### Steps to reproduce the behavior

1. Set an alias for help `$ gh alias set h help`
2. Run `$ gh help`
3. Runtime error occurs
[code]

[2021-04-17 15:57] #3446 closed, assigned to nobody

[2021-04-17 19:33] attarian001 opened #3449 "'.....'"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-18 01:59] #3449 closed, assigned to nobody

[2021-04-18 16:16] Daddy2200 opened #3450 "Issue: 🐛 Bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-18 16:16] Daddy2200 commented on #3450
Issue: 🐛 Bug report

[2021-04-18 16:16] #3450 closed

[2021-04-18 16:17] Daddy2200 opened #3451 "Issue: 📣 Feedback"
@Daddy2200 # CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-04-18 16:17] #3451 closed

[2021-04-18 16:17] Daddy2200 opened #3452 "Issue: ⭐ Submit a request"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-04-18 16:17] Daddy2200 commented on #3452
@Daddy2200

[2021-04-18 16:17] Daddy2200 commented on #3452
@Daddy2200

[2021-04-18 16:55] #3452 closed

[2021-04-18 22:45] 6068 opened #3454 "`gh` 1.9.0 is [out](https://github.com/cli/cli/releases/tag/v1.9.0)!"
`gh` 1.9.0 is [out](https://github.com/cli/cli/releases/tag/v1.9.0)!

In this release we've added support for [GitHub Actions](https://github.com/cli/cli/actions). This was a much requested community feature and a huge effort that brought in our whole team. We've introduced 11 (!) new commands and would love to hear which ones people are enjoying using. Let us know if you're doing some interesting

[2021-04-19 00:00] itowlson commented on #3312
This behaviour was quite surprising to me - I just spent 20 minutes (and a fair bit of my colleagues' time) trying to figure out why `git fetch upstream` wasn't bringing down the `v2` branch.  I expected this to work like ye olde "clone your fork then add the upstream remote URL" feature - agree with @mew1033 that I would prefer the default to be to fetch all branches but if not then please at lea

[2021-04-19 03:52] ryenus commented on #2228
@mislav May I ask if there's any update?
Or is this something already on the roadmap? Thank you!

[2021-04-19 06:27] carlocab opened #3457 "`gh issue create -w` does not work for some repos"
### Describe the bug

`gh issue create -w` does not open my browser for some repositories. Instead, it opens a Finder window for the current directory. It does work for this repo, though. (Indeed, I got here using `gh issue create -w -R github.com/cli/cli`.)

[code]

### Steps to reproduce the behavior

[code]

I can also reproduce this with a number of other repos. (e.g. other Homebrew repos, som

[2021-04-19 06:38] bnb opened #3458 "create git.io links from the CLI"
### Describe the feature or problem you’d like to solve

It would be incredible to be able to create https://git.io links from the gh CLI.

### Proposed solution

Add a command to the CLI that allows us to pass a GitHub link to get a short https://git.io link.

[2021-04-19 07:42] staabm commented on #921
we would also love managing deployments via the gh-cli

[2021-04-19 08:40] ssbarnea opened #3459 "Brew upgrade command does not work"
### Describe the bug

[code]

When running these commands brew reports:
[code]
### Expected vs actual behavior

Advertise upgrade paths that do work. Brew needs formula update on each new release so the upgrade instructions will never work before this is done.

[2021-04-19 10:19] mislav commented on #3435
@simar7 That looks like your `brew install gh`  installation worked and that GitHub CLI is at the newest version. Is anything wrong here?

@rmarkins-godaddy I get this:
[code]
The style of download URLs looks completely different for me.

[2021-04-19 10:29] mislav commented on #3457
@carlocab Thank you for reporting!

When in the directory of the repository where the error happens, can you tell us the output of `git remote -v`? If there are private repository names, you can anonymize the name.

[2021-04-19 10:43] carlocab commented on #3457
For my reproduction example, nothing special (I had just cloned it to a new directory):
[code]

This also happens in my existing Homebrew repositories:
[code]

[2021-04-19 11:00] saahiluppal opened #3463 "Command Similar to `git pull`"
Is there any command similar to `git pull` exists in github-cli ?

[2021-04-19 11:06] mislav commented on #3463
No, there isn't a command similar to `git pull` in GitHub CLI. However, you can do a `git pull` instead.

[2021-04-19 11:06] #3463 closed, assigned to nobody

[2021-04-19 12:03] eugene-babichenko opened #3464 "List pull requests created by the current CLI user."
### Describe the feature or problem you’d like to solve

I would like to have an option to list all PRs in a given repository created by me without entering my username like that:

	gh pr list --author john-doe

### Proposed solution

The proposed solution is to to have a shortcut that would refer to the current user:

	gh pr list --my

[2021-04-19 12:11] mislav commented on #3464
You can already do `gh pr list --author @me`. This works in `--author`, `--assignee`, and `--mention` flags across issues and pull requests.

I agree that this needs to be documented better!

[2021-04-19 12:19] eugene-babichenko commented on #3464
Thanks, it worked!

[2021-04-19 14:27] rmarkins-godaddy commented on #3435
@mislav Thank you for clarifying the URL. I believe I've got mine to resolve eventually it was probably some type of caching or just unable to find the correct source and am now on 1.9.1

[2021-04-19 15:08] mislav commented on #1119
For a while I thought that these tickets are subtly different, but since the underlying implementation will be the same, I'm going to told this in as a duplicate of https://github.com/cli/cli/issues/277. Please follow there for updates. Thank you!

[2021-04-19 15:08] #1119 closed, assigned to nobody

[2021-04-19 15:13] mislav commented on #3459
Thanks for reporting!

Hmm, not sure I understand what you mean. `brew update` should have ensured that you are running the latest version of Homebrew. It looks like this might have not worked.

Is there anything in its output that could indicate that the updating failed? Could you list your `brew --version`?

Ref. https://github.com/cli/cli/issues/3435

[2021-04-19 15:25] mislav commented on #3457
Thank you for reporting!

Looks like a regression from #3271. Working on a fix

[2021-04-19 15:28] carlocab commented on #3457
Thanks for the lightning-quick triage, @mislav.

[2021-04-19 16:32] mislav commented on #3435
Thanks for the update! Closing since I don't see further reports of people being unable to upgrade, and since this was never an issue with our project to start with.

[2021-04-19 16:32] #3435 closed, assigned to nobody

[2021-04-19 16:41] mislav commented on #3434
Thank you for reporting! We ideally wanted to have the interactive base repo selector be available in most commands. If that's not the case, it's an oversight and we will address it.

[2021-04-19 18:11] vilmibm commented on #1527
given API limitations, the best we can do here is what's in `gh run rerun`

[2021-04-19 18:15] vilmibm commented on #1527
ah, there might be work here to do just for [checks](https://docs.github.com/en/rest/reference/checks#rerequest-a-check-suite)

[2021-04-19 18:22] vilmibm opened #3466 "linter rule: ID fields are int64"
IDs in the GitHub Actions API are large and require explicit `int64` on 32 bit systems in order to function. This issue covers adding a linting rule that checks for all struct fields called `ID` to be explicitly of type `int64` so we don't have to worry about the default int length when consuming GH APIs.

For context: #3432

[2021-04-19 18:50] jglick commented on #277
My permalink for PRs: https://github.com/pulls?q=is:open+is:pr+draft:false+sort:updated-desc+author:jglick

[2021-04-19 19:55] vilmibm opened #3467 "gh actions post launch roundup"
We released support for GitHub Actions in `gh` on 4/15. This issue is for tracking subsequent short term follow-up work that should go out in point releases.

1.9.1 (released)

- [x] cold cache bug #3429

1.9.2 (released)

- [x] 32bit support - #3432
- [x] API malformation in GHE #3461
- [x] slashes in step names #3444 #3445
- [x] Remote selection in `workflow run` #3434 #3468

1.10.0 (released)

[2021-04-19 19:57] vilmibm commented on #3444
Thanks for the detailed report!

[2021-04-19 19:59] vilmibm commented on #3434
This was indeed an oversight on my part; working on it today.

[2021-04-19 23:11] mhitza opened #3469 "Autoconfigure per repository git user.name/user.email"
### Describe the feature or problem you’d like to solve

I do not have set a global git config user.name/user.email. The reason for that is that I work with different organizations where I use a different email address for my commits. However, when I clone/fork repositories/gists from GitHub I would like to use one of my associated email addresses and my name without going to the extra step of con

[2021-04-20 09:31] #3437 closed, assigned to nobody

[2021-04-20 09:38] mpeeps27 commented on #3437
Relay of trouble shooting Mozilla Products,!?

[2021-04-20 09:38] mpeeps27 commented on #3437
![image](https://user-images.githubusercontent.com/75819133/115374248-43d10100-a192-11eb-815a-89d467942977.png)

[2021-04-20 10:43] ssbarnea commented on #3459
[code]

Apparently this uncovered an issue with `brew update`, which silently fails to update core when there is a change made to it (i had one formula added locally).

I was able to fix the broken update by switching its branch to master (instead of my development branch)
[code]

[2021-04-20 10:46] #3459 closed, assigned to nobody

[2021-04-20 11:23] ssbarnea commented on #3459
I proposed to https://github.com/Homebrew/brew/issues/11194 but apparently brew core team does not want to avoid surprising users. Feel free to comment there if you think they should warn the user about not running vanilla brew.

[2021-04-20 11:57] mislav commented on #3469
Hi, thanks for the request!

I can see how this feature can be useful, but it's also a bit specific, and in case we can't fit this on our project's roadmap soon, here are some workarounds for in the meantime.

You can clone all repositories belonging to an organization under the same local directory. Then, use git config conditional includes:

[code]
This (untested) loads an additional git config

[2021-04-20 12:16] mhitza commented on #3469
I already have all the projects in separate directories per organization, so your proposed includeIf suggestion works perfectly. TIL the git ini configuration file has conditionals.

I find the alternatives perfectly reasonable instead of cramming in additional functionality within the cli. Thank you.

[2021-04-20 12:16] #3469 closed, assigned to nobody

[2021-04-20 15:13] #3444 closed, assigned to samcoe

[2021-04-20 15:30] #3434 closed, assigned to vilmibm

[2021-04-20 16:39] #3457 closed, assigned to nobody

[2021-04-20 16:41] #3350 closed, assigned to nobody

[2021-04-20 16:43] carlocab commented on #3457
Thanks for the fix, @mislav.

[2021-04-20 17:30] vilmibm commented on #1592
we're linking to this in the right places so closing

[2021-04-20 17:30] #1592 closed, assigned to nobody

[2021-04-20 17:39] #2620 closed, assigned to nobody

[2021-04-20 19:27] jml9904 opened #3473 "Multiple-state PR listing"
Is it possible to pass multiple states to a PR list request? For example:

$ gh pr list -R https://xxxxxxx/ --base $branch --state "merged|closed" --limit 10

or something similar? This would allow more specific queries and eliminate the technique of doing a --state "all" and then having to filter the output.

Thanks~

[2021-04-20 20:41] vilmibm opened #3474 "gh run watch should ignore annotations 404"
![image](https://user-images.githubusercontent.com/98482/115461271-da331000-a1ee-11eb-9249-c5be1bbc11c0.png)

[2021-04-20 20:57] cristiand391 commented on #3473
Yep, you can do that by using the `--search` flag:

`gh pr list --base $branch --search "is:closed is:merged" --limit 10`

Take a look at the [GitHub search syntax ](https://docs.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests) for more specific filtering options.

[2021-04-20 21:01] jml9904 commented on #3473
Nice! I didn't know about that specific syntax -- tried a few variations but never hit that. Thanks for the quick response!

[2021-04-20 21:02] vilmibm commented on #3203
I like this idea, but I feel like we've discussed something similar with the BROWSER config and there was some reason to not go in this direction.

@mislav do you remember or have any thoughts?

[2021-04-20 22:23] 1xyz opened #3475 "gh create release does not respect the flags, always prompts for user input"
### Describe the bug

[code]

Problem: gh prompts for a title, draft, pre-release even when  provided via command line. Also these are optional.
* It seems that the `[FLAGS]` is not respected

### Steps to reproduce the behavior

Here is a repro example:
1) Run `gh release create` as shown below:
[code]

### Expected vs actual behavior

* Actual: gh prompts user for title, release notes, pre-relea

[2021-04-20 23:46] R-BLIP885 opened #3476 "Rebels ligthI don't think there's a reason not to standardize on the newer style, just didn't want to overstep 😀"
I don't think there's a reason not to standardize on the newer style, just didn't want to overstep 😀

_Originally posted by @zxaos in https://github.com/cli/cli/issues/3419#issuecomment-820559457_

[2021-04-21 03:07] BenjamenMeyer commented on #446
As an organization owner (of several actually) I'd like to be able to standardize labels across the repositories in my organizations.
To facilitate that, it'd be nice if there was a way to apply the actions against all repositories in an organization; by default though it should work on a specified repository since GitHub doesn't have organization level labels.

[2021-04-21 03:09] BenjamenMeyer commented on #446
There should also be a separate command to delete a specified label.

[2021-04-21 08:20] Spazzy757 opened #3477 "Allow `--json` on the run command"
### Describe the feature or problem you’d like to solve

Currently the CLI has the ability for the `issues` and `pullrequests` to output as json (https://github.com/cli/cli/issues/385), this is not included in the run command

e.g: `gh run list --json`

### Proposed solution

Giving a structured output that does not need libraries like `awk` to pull out the valid data is helpful in many automation

[2021-04-21 08:35] mislav commented on #3473
@cristiand391 @jml9904 `gh pr list -s closed` lists PRs with both "merged" and "closed" (without having been merged) state. In this case, "closed" essentially means "not open". But the `--search` syntax works just as well 👍

[2021-04-21 09:57] jml9904 commented on #3473
Well... interesting. The original problem is solved, but the general case (which unfortunately I also need) remains:
--search "is:closed is:merged" works. But it excludes open PRs.
--search "is:open" works, but excludes merged PRs.
--search "is:merged" works, but excludes open PRs.
--search "is:open is:merged" returns nothing.
Is there an approach that can include all open and merged PRs (but not

[2021-04-21 10:16] jml9904 commented on #3473
Please see last comment :)

[2021-04-21 11:29] mislav commented on #3473
@jml9904 No, it doesn't seem right now possible to request all open + merged PRs in a single listing; not even via `--search`. This would be possible if we accepted multiple values for the `--state` flag, but right now we don't.

[2021-04-21 11:33] jml9904 commented on #3473
Closing, then. Thanks @mislav !

[2021-04-21 11:33] #3473 closed, assigned to nobody

[2021-04-21 11:34] mislav commented on #3473
As a workaround, you could request `--state all` and filter out closed ones:

[code]

[2021-04-21 11:56] jml9904 commented on #3473
That'd work too... I went with separate queries for open and merged, then combined the results, as it happened to be just as easy in this particular environment :)

[2021-04-21 12:01] mislav commented on #3475
Hi, thanks for writing in! This is actually designed behavior. The `--title` attribute is optional in GitHub Releases, so supplying it doesn't turn off interactive mode. It's the `--notes` attribute that needs to be supplied in order to use this command in scripts. For a release with blank notes, use `--notes ""`.

We should do a better job at pointing this out in documentation. I will re-label th

[2021-04-21 13:38] dgilleland opened #3478 "Expected code snippet allowable in creating issue"
### Describe the bug

I expected short markdown code snippets to be accepted in the `gh issue create` for the `--body` value.

`gh --version` is **gh version 1.9.1 (2021-04-15)**

### Steps to reproduce the behavior

1. Type this

[code]

2. View the output in with `gh issue view` and the generated issue number
3. You get something like this

    ![image](https://user-images.githubusercontent.com/

[2021-04-21 15:35] whyredfire commented on #1797
Thanks a lot, nothing from above worked for me, but this one did.

[2021-04-21 15:44] mislav commented on #3478
@dgilleland We do support all characters inside `--body`. It's just that your string ``"Load `friends.json` and render"`` got evaluated by your shell first, before it reached gh.

In many shells such as bash and zsh, some characters within double quotes are special. The backtick `` ` `` character is also special within double quotes, and everything between the two backticks gets evaluated as comma

[2021-04-21 15:45] #3478 closed, assigned to nobody

[2021-04-21 16:46] putnamhill opened #3481 "unable to create a gist with a file containing only whitespace characters"
### Description

When I try to create a gist from a file or stdin, containing only whitespace, I get a 422 validation failed error.

This can be reproduced in gh versions 1.8.1 and 1.9.2

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

I expect to see a message that reports "unable to create a gist from an empty file".

[2021-04-21 17:09] vilmibm commented on #3209
I like this idea and would vote for `--branch`.

[2021-04-21 17:13] vilmibm commented on #3223
hi!

I'd love for `garden` to work in windows. when I did the command it was
part of a hackday and I was still learning the basics of animation and
"real" time interactivity in the terminal. The code as it is now is
unusably slow on Windows.

I've learned a lot more about how to do stuff like this and am more comfortable with `tcell` (see #3045) and intend to take an upcoming hackday to port `gard

[2021-04-21 17:20] vilmibm commented on #3235
Hi!

To clarify, you're using the RPM files attached to our GitHub releases and *not* using these directions: https://github.com/cli/cli/blob/trunk/docs/install_linux.md#opensusesuse-linux-zypper ?

[2021-04-21 17:29] thomasmerz commented on #3235
@vilmibm , you are absolutely right - my mistake: I downloaded it directly 🤦🏻

[2021-04-21 17:29] #3235 closed, assigned to nobody

[2021-04-21 18:13] yoyomonem opened #3482 "Feature is recommended for CLI"
# Issue #3482

### Describe the feature or problem you’d like to solve

A clear and excellent description of what the feature or problem is.
I want Markdown in GitHub CLI!

### Proposed solution

How will it benefit CLI and its users?
It benefits some fun features for GitHub CLI and its users.

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-04-21 18:14] mislav commented on #3482
Sorry, what do you mean by wanting Markdown in GitHub CLI? We already render markdown to the terminal in `gh repo view`, `gh issue view`, and `gh pr view` commands.

[2021-04-21 18:18] yoyomonem commented on #3482
Don't say that to me again! <kbd>Control</kbd> & <kbd>Z</kbd> is going to undo this!

[2021-04-21 18:21] yoyomonem opened #3483 "> I want Markdown in GitHub CLI! (Reported to @mislav)"
Sorry, what do you mean by wanting Markdown in GitHub CLI? We already render markdown to the terminal in `gh repo view`, `gh issue view`, and `gh pr view` commands.

_Originally posted by @mislav in https://github.com/cli/cli/issues/3482#issuecomment-824260536_

[2021-04-21 18:23] #3483 closed, assigned to nobody

[2021-04-21 18:26] vilmibm commented on #3237
I've read through the comments here and did cursory googling, but is there a succinct reason why we wouldn't just compile for 32bit ARM?

[2021-04-21 19:29] #3482 closed, assigned to nobody

[2021-04-21 21:21] vilmibm commented on #3312
I'd support a `--fetch-all` here. @mislav @samcoe @ampinsk do y'all have thoughts?

[2021-04-21 21:25] #3345 closed, assigned to nobody

[2021-04-21 21:28] vilmibm commented on #3363
@maximousblk did it eventually work? Failing to connect to github.com is usually an intermittent issue.

I'm going to close this for now but can reopen if there is some kind of common problem.

[2021-04-21 21:28] #3363 closed, assigned to nobody

[2021-04-21 23:21] austince opened #3484 "Log Streaming For `gh run watch`"
### Describe the feature or problem you’d like to solve

The new `gh run` actions are awesome, love them! The utility of `gh run watch` is very promising, but the slow feedback (when you have long CI runs) makes it more of a passive "put in another window" command, instead of an active "follow along for the status" command for me. (I know, 1.9.0 just came out and already asking for more 🙄 )

### P

[2021-04-21 23:28] austince opened #3485 "Add Column Headers and Creation Time to `gh run list`"
### Describe the feature or problem you’d like to solve

Two separate issues, but both around the usability of the table printed by `gh run list`. The status indication and time-based sorting are helpful for finding runs, but can be difficult when there are many similar runs that kicked off around the same time.

### Proposed solution

Adding column headers and an "age" column will help people mor

[2021-04-22 00:43] jhihn commented on #3237
Well, I'd like to flip that question. Why are they packaging for arm64? Is there a reason why gh needs a 64bit address space? Then _everyone_ would be happy.  _32bits ought to be enough for anybody._

[2021-04-22 01:25] ghost opened #3486 "Feature Request: Functionality to self-update"
### Describe the feature or problem you’d like to solve

First, thanks for the great tool.  I use it all the time and love it.

Currently the tool does not have a way to update itself.  We have to rely on
either installing updates manually or, more commonly, rely on another tool like
Homebrew, apt, yum, etc.

Assuming the majority of use cases rely on another tool for updates, there are
still plac

[2021-04-22 02:40] heaths opened #3487 "Accept pipe input for `gh alias set`"
### Describe the feature or problem you’d like to solve

Using `gh` version 1.9.2, I cannot reliably set aliases for complex commands with mixed quotations. Different shells have different rules on quotes, variable replacement characters e.g. `$`, and they can destroy the correct command line whether using multiline string literals, `read` in linux, or many other methods I've tried across PowerShe

[2021-04-22 03:03] heaths opened #3488 "Provide Go template functions to format table output"
### Describe the feature or problem you’d like to solve

Related to #3487 there was no great way to provide table output like you do for most (or perhaps all) your other commands like `gh issue list`. You expose a `color` function and I can use `printf` to align and pad strings, but what would be really great is a `table` function.

### Proposed solution

The Docker CLI lets you specify a `table`

[2021-04-22 03:41] maximousblk commented on #3363
Nope, still the same

![Screenshot_20210422-091057_Termux.jpg](https://user-images.githubusercontent.com/28438021/115652347-b7b60980-a34a-11eb-9fad-8963db75fb2e.jpg)

[2021-04-22 03:48] vilmibm commented on #3484
Thanks for the issue :) this is definitely in our roadmap; it would have been in the 1.9.0 ship but unfortunately there's no API support yet for streaming logs and as such is blocked for now.

[2021-04-22 03:49] heaths commented on #3487
I see a couple different precedents, such as `gh auth login --with-token < mytoken.txt` where `--with-token` will always read from stdin, but then `gh secret set FROM_FILE < file.json` where, if `-b | --body` is not specified, it reads from stdin. Personally, I find the latter more common if not using `-` to signal reading from stdin. In this case, if `<expansion>` in `gh alias set <alias> <expans

[2021-04-22 03:51] vilmibm commented on #3486
Thanks for the issue!

This is certainly a feature that is often discussed and is actually one of our oldest open issues; I'm going to close this as a dupe of #166

[2021-04-22 03:51] #3486 closed, assigned to nobody

[2021-04-22 04:18] Miguel170484 commented on #3487
I see a couple different precedents, such as gh auth login --with-token < mytoken.txt where --with-token will always read from stdin, but then gh secret set FROM_FILE < file.json where, if -b | --body is not specified, it reads from stdin. Personally, I find the latter more common if not using - to signal reading from stdin. In this case, if <expansion> in gh alias set <alias> <expansion> [flags] 

[2021-04-22 08:42] maximousblk commented on #3363
upgraded `gh` through termux's package manager (`pkg update`) and it now works

[2021-04-22 09:22] kevinwong150 commented on #901
tried both `gh repo clone username/private-repo` and `gh repo clone git@github.com:xxx/yyy.git` but not working

then I found `gh repo clone https://github.com/xxx/yyy` from https://cli.github.com/manual/gh_repo_clone which works for me

[2021-04-22 09:35] mislav commented on #3363
@maximousblk Thanks for updating us!

[2021-04-22 11:01] Iixixi opened #3492 "BItore.sig"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-22 16:22] austince commented on #3484
Oh, that's interesting – how does the web UI do it?

[2021-04-22 17:29] bytestream commented on #2027
You're welcome to use or fork https://github.com/supportpal/github-gh-cli. It checks for new releases in this repository nightly and auto builds new docker tags. It's only using GHCR for now.

[2021-04-22 17:38] aemann2 opened #3493 "Getting GraphQL error when trying to create a private repo using GH CLI -- E46C:97B5:B2139:C4B36:6081B2BB"
### Describe the bug

gh version 1.9.2 (2021-04-20)

When trying to create a repo with the GH CLI, I get the following error after the last step:

`GraphQL error: Something went wrong while executing your query. Please include `E46C:97B5:B2139:C4B36:6081B2BB` when reporting this issue.`

### Steps to reproduce the behavior

1. Run `npx create-react-app exampleName`
2. `cd exampleName`
3. `gh repo

[2021-04-22 19:20] vilmibm commented on #3441
Thanks for the suggestion!

In general we try to severely limit the number of official packages we offer given how small our team is. I don't think this is an unreasonable request and I'd personally like to see it easier to use `gh` from CircleCI; however, given our bandwidth, an official orb is not something we're ready to jump into.

I'm wondering if there is a stopgap solution here: if we came

[2021-04-22 20:29] vilmibm commented on #3477
We should definitely do this.

@mislav do you want to continue to take point on this type of work or is there enough prior art given the recent release to mark this as `help-wanted`?

[2021-04-22 20:40] vilmibm commented on #3485
I think this is a great idea~

As for headers, we'd just need to make sure they are not printed if STDOUT is not a TTY.

[2021-04-22 20:43] tdaniely commented on #3398
It's April 22nd :)

[2021-04-22 20:44] vilmibm commented on #3487
This is a great idea and will help alleviate a lot of irritating quoting issues, thanks for the issue.

[2021-04-22 20:52] heaths commented on #3487
@vilmibm I have a PR open for this already: #3490 🙂

[2021-04-22 21:03] vilmibm commented on #3487
:sweat_smile:

[2021-04-22 21:04] vilmibm commented on #3487
oh and it's even assigned to me, look at that.

morning nate might as well be a different person than afternoon nate

[2021-04-22 21:09] vilmibm commented on #3493
Sorry about the error!

Would you mind trying two things?

- try creating a private repo without first using `npx`. This will help diagnose if it's something to do with your account.
- re-run the above with `DEBUG=api` in your environment and paste the result so we can see if there are any hints as to what is going wrong

[2021-04-22 21:10] heaths commented on #3487
I hear ya. 🙂

For the PR, I ended up using `gh secret set` as a precedent instead, making the last argument optional and reading from stdin. It seemed closer in concept to that than `gh auth login --with-token` that is more explicit, but I'm happy to change as desired. I threw a bunch of different quoted, multiline strings at my private build and works great. The tests should reflect that.

[2021-04-22 21:22] aemann2 commented on #3493
I just created a private repo with an empty directory and it worked. Then I created a private repo using `npx`, and that worked as well. Seems to be back to normal and I can't replicate the bug 🤷.

[2021-04-22 23:45] jasonkarns commented on #3441
Understood!

Yes, that would be amazing. Ideally, just apt-get gh would be sufficient. I was initially following the linux installation instructions [as documented](https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-apt):

sudo apt-add-repository https://cli.github.com/packages
sudo apt update && sudo apt install gh

 I later discovered the reason _those_ instructions

[2021-04-23 00:15] silby commented on #359
I strongly cosign this suggestion!

[2021-04-23 01:34] macrael commented on #3434
Verified working! thank you!

[2021-04-23 02:28] #3493 closed, assigned to nobody

[2021-04-23 08:30] heaths commented on #3488
Looking through the built-in formatting more, I wonder if this could instead be used for built-in command output rather than manually formatting the output. The crux of Docker's `table` template function is "text/tabwriter" which uses elastic tabstops, so even paginated results should align properly. I'm interested in taking a crack at this if there's interest in accepting it. At the minimum, I th

[2021-04-23 11:59] frouioui opened #3497 "gh pr view --json not returning date fields"
### Describe the bug

Hello 👋, I ran into this issue earlier today. The JSON payload provided by `gh pr view --json` does not show DateTime fields such as `mergedAt`, `updatedAt`, and `createdAt`.

Running on:
[code]

### Steps to reproduce the behavior

1. Execute the following command. `gh pr view https://github.com/vitessio/vitess/pull/7753 --json author,assignees,title,createdAt,mergedAt,updat

[2021-04-23 12:38] mislav commented on #3497
Thanks for the report!

Ref. #3414

[2021-04-23 12:47] mislav commented on #3488
@heaths I'd be interested in having a table template function!

If our templating support gets full-featured enough, we could theoretically switch built-in output to the template approach. That would also serve as a starting template for someone who would like to tweak the output in their own scripts. But for now, I'd propose expanding `--template` functionality first, then exploring if built-in c

[2021-04-23 15:26] enmanuel-tashi commented on #1376
You can use this command to achieve that result
[code]

[2021-04-23 16:50] vilmibm commented on #3488
I am +1 on these ideas but defer to @mislav on the details as he is the one who's been thinking most about programmatic output like this.

[2021-04-23 16:50] #3475 closed, assigned to vilmibm

[2021-04-23 16:51] #3464 closed, assigned to vilmibm

[2021-04-23 17:01] mislav commented on #3488
@heaths You are welcome to send a PR adding a `table` helper. I'm interested in how it will work 👍

[2021-04-23 18:17] vilmibm commented on #3441
Thanks for the followup. There is also this form a user suggested recently which is a bit verbose but doesn't have any dependencies beyond a vanilla debian/ubuntu environment:

[code]

I've got a growing laundry list of linux installation experience improvements kicking around in my head so I'll see if I can come up with a nice one liner...it may end up taking the form of one of those `curl foo.ba

[2021-04-23 19:49] silby opened #3501 "Line wrapping of blockquotes not working correctly"
### Describe the bug

[code]

When displaying issue comments containing blockquotes, linewrapping of the quoted text is bugs. Long lines (over 72 characters?) have their last word or so printed on the subsequent terminal line, sans the box drawing character used for indentation.

### Steps to reproduce the behavior

`gh issue view -R cli/cli -c 359`, for me the comments from joshriplett on Feb 12

[2021-04-23 20:37] Javierg720 opened #3502 "bitcoin"

[2021-04-23 20:38] #3502 closed, assigned to nobody

[2021-04-23 23:06] heaths commented on #3488
I'll try to take a look this weekend. I need to play around with things a little (probably just a scratch program) to see if `{{with pipeline}}` will work since your GraphQL results typically have the juicy bits nested lower. Using Docker's `table` as a pattern, it only wants leaf nodes and seems to expect strings. If `{{with}}` doesn't work, may need to tweak this `table` function a little more t

[2021-04-24 19:49] heaths commented on #3488
After playing around with a few options last night, I think this might be better served by a PR to the text/template package itself. Docker's "function" is really just a hack: if the template starts with "table" (or a couple others like "raw"), that prefix is stripped from the template and it does some simple string transforms on the remaining pipeline. It works well when your output is already an

[2021-04-25 00:33] gleich commented on #804
I would love to take a crack at this one. I am thinking vim by default but if something is set for an env var called `EDITOR` it will open using that. Does that sound good and is this still something that you guys would want?

[2021-04-25 09:18] mislav commented on #3488
Thanks for exploring all this! I have little faith that the proposal to `text/template` will be accepted, since I think you will be told to just implement this programmatically (either via custom helper function or nested templates), but even if it doesn't get into Go, I think we can just invent some approach ourselves, even if it's slightly more clumsy than a native approach would be. For example

[2021-04-25 11:57] ALIENQuake opened #3509 "gh repo clone requires me to enter username/password even for public repositories"
### Describe the bug

I'm trying to simply use GitHub CLI as 'clone and do pull later when there is new tags' tool for the public repositories. Those two features are the only ones which I want to use. Using custom tools is not an alternative, it has to be the one from GitHub.

### Steps to reproduce the behavior

- Enter command gh repo create <repo name>
- GH required me to enter username/passwo

[2021-04-25 13:12] mislav commented on #3509
Right now we force logging in even for public repositories. This might change in the future. Duplicate of https://github.com/cli/cli/issues/2680

[2021-04-25 13:12] #3509 closed, assigned to nobody

[2021-04-25 15:37] heaths commented on #3488
I've been considering some similar approaches under the assumption it won't be accepted because it actually emits formatted text, which seems out of scope.

One idea was similar to what you suggested, but the problem is that you can't pass fields to functions if, for example, you wanted to color text. Maybe some was to do that would be more acceptable, like inline pipelines via syntax like (partia

[2021-04-25 17:09] heaths commented on #3488
Apparently parenthesis already work. While perusing through the text/template/parse code and making a few preliminary changes to support my proposal, I failed to see how parsed parenthesis were used.

[This commit](https://github.com/heaths/templ/commit/ce1bd0a3222b88edf976ca4acdf39aa8c0085c78) shows my idea above already works:

![image](https://user-images.githubusercontent.com/1532486/116002322

[2021-04-25 18:37] heaths commented on #3488
After further consideration I propose support for multiple tables, which could be beneficial down the road. Effectively, this:
[code]

We could use `{{tableRow}}` as well, but with `{{table}}` I figured it would be fairly obvious and slightly prefer brevity over specificity in a rather limited scope like this.

`{{table}}` would set the current table for subsequent `{{row}}` calls, while `{{endTab

[2021-04-26 01:04] jaraco commented on #2189
I similarly have this problem, but the issue appears not to be authentication but configuration of the upstream. I get an error:

[code]

And if I try to follow the instructions, that fails too:

[code]

This functionality worked for me when I used hub.

[2021-04-26 02:17] theunkn0wn1 opened #3511 "Allow custom remote name during repository creation"
### Describe the feature or problem you’d like to solve

During repository creation via `gh repo create`, the GH cli is hardcoded to add a remote `origin` to the local git repository.
This is problematic when such a remote is already defined, such as in my scenario where the user is attempting to migrate from another repository provider.

### Proposed solution

Adding an optional flag to `gh repo

[2021-04-26 03:12] farzaneh53 commented on #3511
در تاریخ دوشنبه ۲۶ آوریل ۲۰۲۱،‏ ۰۶:۴۸ Joshua Salzedo <
***@***.***> نوشت:

[2021-04-26 06:08] zahmadsaleem opened #3512 "repo specific aliases"
### Describe the feature or problem you’d like to solve

Create alias specific to repositories.

- I really like that I could add issues to projects and add labels, but most often I'm repeating myself when I type
`gh issue create -p project-name -l some-module`.
- The project names and labels usually doesn't exist on other repos - doesn't make sense to make an alias referring to a project or label

[2021-04-26 08:22] hwittenborn opened #3513 "Distribute the GPG key for the Debian repository directly from a file instead of from a keyserver"
### Describe the feature or problem you’d like to solve

The [installation instructions](https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-apt) currently have the keys distributed from a keyserver, instead of being distributed from a key file directly(more info below).

I'm not positive on how keyservers all work, but I think that it's theoretically possible to modify

[2021-04-26 09:58] mislav commented on #3488
@heaths Looks pretty good! I think you're definitely on to something here.

Does `text/tabwriter` work when the lines passed in contain ANSI escape sequences? I would have guessed that it doesn't recognize these escape sequences as non-printable and that they can mess up horizontal alignment.

[2021-04-26 10:03] mislav commented on #3511
@theunkn0wn1 Thanks for the feedback! The `repo create` command right now isn't flexible enough and we are aware of that: https://github.com/cli/cli/issues/2184. We're planning to make steps to make it more scriptable to fit use-cases like yours.

Ref. https://github.com/cli/cli/issues/2099

[2021-04-26 11:47] mislav commented on #2189
@jaraco Sorry for the nuisance. A `gh pr checkout` followed by a `git push` should work in most situations, but not all. In the situations where it doesn't work, error messages are usually misleading because they come from git and not from gh.

In your case, pushing to `refs/pull/42/head` doesn't work because the author of the PR does not allow maintainers (i.e. you) to push commits back to the he

[2021-04-26 14:15] heaths commented on #3488
C-style escape sequences within the text [won't be interpreted](https://github.com/heaths/templ/commit/0c7b39a5eb7c6e58c682441dbbac551e5d44aca), but literal escapes will. While the web forms appear to prevent this (or at least make it harder), I was able to add an issue with literal escapes in both the title and text. Seems I'll have to create a replacer that perhaps JS-encodes all but `\ux1b` use

[2021-04-26 14:48] jagobagascon opened #3514 "gh pr merge --auto command behaviour is confusing"
# CLI Feedback

I'm currently running CLI version: 1.9.2

## What was confusing or gave you pause?

The way `gh pr merge --auto` behaves is a bit confusing. I know there's a PR #3367 to fix the fact that the command never fails, but I've found other scenarios where the command does not behave as I would expect:

### If you run the command but the repo does not have any checks it does nothing.
If t

[2021-04-26 15:09] heaths commented on #3488
Actually, looks like this shouldn't be a problem:
[code]
[code]

[2021-04-26 15:16] Miguel170484 opened #3515 "Lock1"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-04-26 15:19] #3515 closed, assigned to nobody

[2021-04-26 17:56] lv2jmp opened #3516 "gh issue list --json number,milestone outputs empty or null fields"
### Describe the bug

`gh issue list --json number,milestone` outputs empty fields, even when the fields are not empty.

$ gh --version
gh version 1.9.2 (2021-04-20)
https://github.com/cli/cli/releases/tag/v1.9.2

MacOS Catalina.

### Steps to reproduce the behavior

gh issue list --json number,milestone

Notice that issues with milestones are either `{ title: "" }` or `null`.

### Expected vs act

[2021-04-26 18:42] #3431 closed, assigned to vilmibm

[2021-04-26 20:53] billygriffin commented on #3514
Thanks @jagobagascon!

Out of curiosity, why are you passing `--auto` if there are no checks? Why not just use `gh pr merge`?

I think I agree with your proposed approach, that the PR should be merged if you pass that and all the required checks have already passed. Curious what others think.

It seems like at the very least some feedback here would be appropriate.

I think generally, auto-merge i

[2021-04-26 21:40] #3487 closed, assigned to nobody

[2021-04-26 22:05] jagobagascon commented on #3514
We use an automated release process that doesn't know if the repo it is targeting has any checks or not, so it always runs with the `--auto` flag. All of our repos have checks, we just had some of them set as not required by mistake, which caused some errors.

It may not make sense to use `--auto` flag on a repo without checks or with non-required checks, but I believe it should merge the PR cause

[2021-04-27 06:51] heaths commented on #3488
Working on some tests and docs, but a preview of using a table template for `gh issues list`:

[code]

![image](https://user-images.githubusercontent.com/1532486/116197960-3a8fe900-a6ea-11eb-9785-e8e5becedfea.png)

[2021-04-27 08:38] massto opened #3520 "Hi! Thanks for the pull request. Please ensure that this change is linked to an issue by mentioning an issue number in the description of the pull request. If this pull request would close the issue, please put the word 'Fixes' before the issue number somewhere in the pull request body. If this is a tiny change like fixing a typo, feel free to ignore this message."
Hi! Thanks for the pull request. Please ensure that this change is linked to an issue by mentioning an issue number in the description of the pull request. If this pull request would close the issue, please put the word 'Fixes' before the issue number somewhere in the pull request body. If this is a tiny change like fixing a typo, feel free to ignore this message.

_Originally posted by @cliAutoma

[2021-04-27 09:06] torbjornvatn opened #3521 "Use current branch as `--ref` for `gh workflow run`"
### Describe the feature or problem you’d like to solve

It would be cool if the `gh workflow run` command would default to the current branch.
It would save us some typing not having to specify the `--ref` flag on every invocation.

### Proposed solution

Make the current branch the default value for `--ref`

[2021-04-27 09:41] dragomirtitian opened #3522 "Confusing error when using `GH_ENTERPRISE_TOKEN` if `gh auth login` was never used."
### Describe the bug

On a fresh install of `gh`, if you don't run ever `gh auth login`  and you use `GH_ENTERPRISE_TOKEN` instead, you get a confusing error message when running most, but not all commands: `could not find hosts config: not found`.

This is because the ` %userprofile%\.config\gh\`  folder and it's content never gets created.

### Steps to reproduce the behavior
Without ever having

[2021-04-27 13:10] g14a commented on #3516
@lv2jmp Does your repo have milestones? It can also happen that the last 5 issues retrieved aren't part of any milestone. Because I tried it with the kubernetes repo and it works fine.

[code]

[code]

[2021-04-27 14:10] lv2jmp commented on #3516
Yep.  I suppose I just mistook it.  I used -L5 just for this ticket; previously I ran for all the issues.  I'd swear milestone was never populated, but today it is.  So.... PEBKAC.

[2021-04-27 14:38] lv2jmp commented on #3516
Well, something wonk is going on:

[code]

[2021-04-27 14:40] g14a commented on #3516
Is this a private repo you're trying to use this on?

[2021-04-27 14:41] lv2jmp commented on #3516
Rough testing, not 100% certain suggests that if the last milestone is null, all are missing.  I can choose 9 and it works, 10 and 11 fail, 12 works.  When I look at 12, I see that 10 and 11 are null, while 9 and 12 have milestones.

[2021-04-27 14:41] lv2jmp commented on #3516
Yes, this is a private repo.

[2021-04-27 14:47] lv2jmp commented on #3516
Trying more variations strongly suggests that if the last retrieved record has a null milestone, then all other non-null milestones will be empty strings.  In the above examples, -L4 fails while -L5 works.

[2021-04-27 15:52] mislav commented on #3514
Thanks for writing in!

Agreed that:
- PR in a repo without checks should get immediately merged;
- PR that has "required" checks already passed should be immediately merged.

These feel to me like a platform (not a client) issue. We'll try to bubble it upwards as feedback to the PR team.

This feels like a gray area! I think the design of auto-merge was meant to exclusively center around "require

[2021-04-27 15:55] mislav commented on #3516
@lv2jmp @g14a Thanks for looking deeply into this! Something really fishy is going on. Working on a fix

[2021-04-27 16:01] rogpeppe commented on #1389
This issue prevents `gh` from being installed directly by using Go 1.16's `go install`:

[code]

Given that it looks like the `graphql` upstream isn't being updated, and that the `cli` repository doesn't depend on anything external that itself depends on the `graphql` repository, it seems like it would be a reasonable idea to hard fork it, replacing all import paths as necessary.

[2021-04-27 16:42] vilmibm commented on #3521
It is a good idea and certainly one that was under discussion. My concern, ultimately, was that by being sensitive to local state it suggests we're _running_ the local state of the workflow file. Unfortunately, we could not come up with an elegant way to run any local workflow files and can only run them as they exist in the remote.

That said, I'm open to improvement here. Perhaps something like:

[2021-04-27 17:28] mislav commented on #1389
@rogpeppe You are right; our upstream changes to graphql package are unlikely to get merged and we should hard-fork this dependency instead.

[2021-04-27 17:48] mislav commented on #3512
Thanks for the suggestion!

Am I right in interpreting this as if it sounds like you would want to be able to set default flags for `gh issue create` that are dynamic based on the repository that the issue is being created in?

[2021-04-27 19:35] vilmibm commented on #760
I *think* this is close-able? someone please reopen if I am wrong

[2021-04-27 19:35] #760 closed

[2021-04-27 19:47] vilmibm opened #3526 "Improve Windows support"
This is a tracking issue for rounding up everything related to Windows support in `gh`.

## Issues

### Packaging

- [ ] #2545 Support Windows ARM
- [x] #2111 Sign gh.exe within MSI
- [ ] #1740 Non-admin mode for MSI
- [x] #1723 Broken back button in MSI
- [x] #1262 Support WinGet
- [x] #703 MSI ignores target folder
- [ ] #2182 Support 32-bit in MSI

### Bugs

- [x] #1775 Tab completion problem i

[2021-04-27 20:10] Afsaneh1361 opened #3527 "@Afsaneh1361 #3525 [gitiafsaneh4](https://my account/google.com/fa.ir/nilonalan91@gmail.com)"
@Afsaneh1361 #3525 [gitiafsaneh4](https://my account/google.com/fa.ir/nilonalan91@gmail.com)

_Originally posted by @Afsaneh1361 in https://github.com/cli/cli/issues/3037#issuecomment-827897218_

[2021-04-28 00:50] diminutivesloop commented on #3040
Hey sorry for taking so long on this. I pushed an updated version of my changes with bug fixes and some tests, but it looks like you already opened a draft PR with my original changes and somehow I missed that in my notifications. Let me know if I should open a PR with those changes or if there’s anything else I need to do, and if not I’ll just look for some other issue to work on.

[2021-04-28 07:20] torbjornvatn commented on #3521
One other way to solve this could be to have an interactive select for the branch á la the one you get to choose which workflow to run when you call `gh workflow run`
<img width="674" alt="Screenshot 2021-04-28 at 09 19 49" src="https://user-images.githubusercontent.com/4453/116362963-ed536a80-a802-11eb-965e-03cf2120395e.png">

The UI has this with it's **Use workflow from** drop down
<img width="

[2021-04-28 11:06] mislav commented on #3521
Absolutely agreeing with this reasoning 👍

Is ``gh workflow run --ref `git branch --show-curent` `` a lot to type? Would a potential solution be to either enable shell completions for valid values for `--ref` (populated by the list of local branches), or to introduce a new flag e.g. `--ref-local` that passes the local branch as a value for `--ref`?

[2021-04-28 11:10] torbjornvatn commented on #3521
The shell completion solution is most in tune with how the UI behaves, so I vote for that.

[2021-04-28 11:11] mislav commented on #3040
@diminutivesloop Hey thanks for getting back to us! I don't think that you need to do any more work around this particular fix; I feel like the ball is in our court now to rework our GraphQL client in order to make this fetching easier to do with fewer hacks. Your contribution was a great starting point for us, so thank you. If you have more energy to contribute fixes/features for other areas, PRs

[2021-04-28 11:18] mislav commented on #760
@vilmibm You are right; this got resolved in #2828! Thanks for closing

[2021-04-28 11:31] mislav commented on #3514
After talking to some folks internally, our agreement was that this is more of a client concern, i.e. that we should address this from GitHub CLI instead of on the platform side.

Here's how I envision an improved behavior:
1. When a user runs `gh pr merge --auto`, we use the `mergeStateStatus` GraphQL field to determine the overall mergeability of a PR;
2. If the PR appears mergeable, we merge ri

[2021-04-28 15:05] martibutler opened #3528 "Create and edit branch protection rules for a repository"
### Describe the feature or problem you’d like to solve

Could the cli tool be extended to update properties on repos for an organisation?  Such as setting branch protection on all repos belonging to an organisation.

### Proposed solution

Could be an extension to the `gh repo` action to `admin` or `update` and pass in some flags/params to update certain things.

[2021-04-28 15:37] chemotaxis commented on #2722
@mislav Hasn't this issue been resolved with #1882?

[2021-04-28 15:43] mislav commented on #3528
Thanks for writing in!

Repository administration is a wide area and it's unlikely that the CLI will have dedicated commands to cover every possible aspect of it. Therefore, I will rename this issue to focus on just editing branch protection rules, since I believe it's a good idea!

In the meantime, you may be able to use `gh api` to interact with GitHub API for branch protection rules. For exampl

[2021-04-28 18:25] vilmibm commented on #404
Thanks for the hint, @ChristopherSchubert ! I just verified that that does indeed fix the issue.

As we have no control over this and it comes down to minTTY defaulting to pseudo console support, I'm going to close this issue.

For posterity, there are three workarounds for this:

## Reconfigure minTTY

When installing Git For Windows, enable the pseudo console support for minTTY mentioned on this

[2021-04-28 18:25] #404 closed

[2021-04-28 18:27] #3474 closed, assigned to vilmibm

[2021-04-28 18:51] mislav commented on #404
In my own testing, using `winpty` caused some subtle oddities and I wouldn't recommend it as a strong workaround. For example, I seem to recall that opening an editor within `winpty gh issue create` didn't focus the editor (Notepad.exe) when it was opened, and instead opened it in the background. Somebody less experienced with GitHub CLI would not have noticed that Notepad opened in the background

[2021-04-28 18:54] vilmibm commented on #404
@mislav I think we can still mention it but call out that there might be issues (like that one). I just confirmed that running with psuedo console support enabled during installation does properly focus notepad.

[2021-04-29 05:16] Afsaneh1361 opened #3533 "Harvest"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-04-29 08:21] okainov commented on #1718
I really miss option to avoid this last confirmation. I do want to push always when I create a PR and I would love `gh pr create --fill` to be really one-click command. Maybe `--push=repo` or any settings, whatever, but I'm really annoyed by this extra confirmation =(

[2021-04-29 09:52] #3516 closed, assigned to mislav

[2021-04-29 14:32] lv2jmp commented on #3516
Thank you for the quick turn!

[2021-04-29 14:48] gpaulsen commented on #382
wow, this would be powerfully awesome!  Be sure to include some options that can be passed down to the `git cherry-pick` command like `-x`, `-s` and `-S`

[2021-04-29 14:54] dgs2019 opened #3535 "Din-sim"
$ git clone Kwai!https://s.kwai.app/s/IaPvVRdc

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-04-29 15:07] #3535 closed, assigned to nobody

[2021-04-29 18:07] edwardsnj opened #3538 "release create fails to create the release tag.."
When I use the following to create a new release, I get a tag like: untagged-8a899f6aa4edca0874a2 instead of the tag specified,

  gh release create Tools-v1.7.32 dist/tools-1.7.32.linux-x86_64.tgz dist/tools-1.7.32.src.tgz dist/tools-1.7.32.md5 -F dist/tools-1.7.32.txt -t Tools-v1.7.32

Version: 1.9.2.
OS: CentOS 7.9

When I leave off the -t argument, the title of the release also looks like: unt

[2021-04-29 18:21] cristiand391 opened #3539 "`gh pr view --json` crashes when trying to fetch `closed` field"
### Describe the bug

`gh` crashes when trying to fetch the `closed` data field with `--json`, affected commands:

- gh pr view
- gh pr list
- gh pr status
[code]

### Steps to reproduce the behavior

1. Type `gh pr <view | list | status> --json closed`
2. View the output:

### Expected vs actual behavior

It should be able to fetch the `closed` field but it crashes when trying to do so.

### Logs

[2021-04-29 18:35] cristiand391 commented on #3539
In #3351 I removed PullRequests's `Closed` field, re-adding it back should fix this issue but I also forgot to remove `closed` from the query and if it's removed now `gh` will always show false (`Closed` zero value).

[2021-04-29 18:51] mislav commented on #3538
@edwardsnj Thanks for reporting.

Did the `Tools-v1.7.32` git tag already exist in your repository prior to running `gh release create`? It's okay if it didn't, but maybe that changes things. Creating the release should have generated the `Tools-v1.7.32` tag based on the latest state of the default branch.

Were any errors reported as the result of `gh release create`?

[2021-04-29 18:57] mislav commented on #3539
@cristiand391 Ouch, I should have thought of that. Indeed, we should have kept the `Closed` struct field so that JSON export functionality can read from it. I'm currently working on PR queries and some other `--json` bugs, so I can take this over. Thanks for reporting!

[2021-04-29 19:03] mrcasual commented on #3538
@mislav as I am also experiencing the same issue, I will chime in and mention that there were no pre-existing tags and no errors were reported.

[2021-04-29 19:09] edwardsnj commented on #3538
The Tools-v1.7.32 git tag did not already exist. The only thing reported was the url of the untagged-8a899f6aa4edca0874a2 tag. No errors.

[2021-04-29 19:42] jlowcs commented on #3538
I am experiencing the same issue, both with gh and [ghr](https://github.com/tcnksm/ghr), so it's probably an issue with the APIs, not `gh` itself.

[2021-04-29 20:10] sagikazarmark commented on #3538
Same here: https://github.com/sagikazarmark/please-go-modules/releases

Tags already exist in my case when CI runs `gh release create` (actually, tags trigger the CI run). I'm on version 1.9.2.

[2021-04-29 21:32] vilmibm commented on #217
I'll be on PTO the next two weeks so I wanted to leave some thoughts here.

I don't have very strong opinions around implementation for this command but I do have strong feelings about naming it.

No matter what name we go with, we'll be setting a precedent. To date we've been consistent with the format `gh <noun> <verb>`. We've discussed adding commands of the form `gh <verb>` but haven't merged

[2021-04-30 00:48] corsonknowles commented on #3538
Our entire org is seeing the same issue. Hoping to see this patched or reverted ASAP if thats possible.

[2021-04-30 08:28] newcanopies opened #3541 "W: Target Packages (main/binary-all/Packages) is configured multiple times (Ubuntu 20.04)"
### Describe the bug

GitHub CLI throws error for being a multiple of Target config:  in /etc/apt/sources.list:50 and /etc/apt/sources.list.d/github-cli2.list:1

### Steps to reproduce the behavior

* install GitHub CLI from this repo
* sudo apt update

[code]

### Expected vs actual behavior

No Warning should be thrown at running updates. Could create target sources conflict.

## env
  - Ubuntu

[2021-04-30 09:56] mislav commented on #3541
Thanks for reporting!

Could you tell us more about your OS and the contents of `/etc/apt/sources.list.d/github-cli2.list`?

[2021-04-30 10:01] newcanopies commented on #3541
OS info added to Issue description above.

$ **cat /etc/apt/sources.list.d/github-cli2.list**
[code]

thank you

[2021-04-30 10:36] #3098 closed, assigned to nobody

[2021-04-30 13:18] mislav commented on #3538
Thanks everyone for chiming in. This looks like an API issue. FWIW, I wasn't able to reproduce like this:

[code]

But I'm looking into platform issues to see whether this is known.

[2021-04-30 13:18] jlowcs commented on #3538
I noticed that https://github.com/BtbN/FFmpeg-Builds/releases/tag/autobuild-2021-04-30-12-35 was successfully released today (while our releases still have the issue).

FFmpeg-Builds uses [hub](https://github.com/github/hub), and they are using `master` as a target: https://github.com/BtbN/FFmpeg-Builds/blob/master/.github/workflows/build.yml#L147

So maybe the issue is related to using a tag or a

[2021-04-30 13:35] jlowcs commented on #3538
Just tried using a branch name as a target... same issue.

I cannot easily test it with `master` as a target though.

[2021-04-30 13:37] edwardsnj commented on #3538
I just tested with an explicit "--target main" and it did not fix the issue.

[2021-04-30 13:42] mislav commented on #3538
Sorry everyone, this seems to affect people using `gh` and `ghr` who are creating a release with assets. A production fix is pending deployment.

[2021-04-30 14:47] jlowcs commented on #3538
Looks like it's fixed! Thanks @mislav!

[2021-04-30 15:38] mislav commented on #3538
The fix has landed in GitHub.com about an hour ago. Thanks for your patience, everyone, and sorry for the workflow disruption. 🙇‍♀️

[2021-04-30 15:38] #3538 closed, assigned to nobody

[2021-04-30 16:15] Small25 opened #3543 "bug"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-30 16:16] Small25 opened #3544 "bug"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-04-30 16:17] zahmadsaleem commented on #3512
Maybe this, but I'm looking at multiple sets instead of a single default set.

My use case can be summed up to this - have a predefined set of issue templates with labels, assignee, project, milestone.
So that I could avoid repeating args every time I do `gh issue create`.

I figured it could be achieved with aliases, hence my suggestion.

[2021-04-30 16:31] #3544 closed, assigned to nobody

[2021-04-30 16:31] #3543 closed, assigned to nobody

[2021-04-30 16:41] noncash15 opened #3545 "Same as `viewerMergeBodyText`, the `viewerMergeHeadlineText` field might not be available in older GHE versions."
Same as `viewerMergeBodyText`, the `viewerMergeHeadlineText` field might not be available in older GHE versions.

_Originally posted by @cristiand391 in https://github.com/cli/cli/pull/3344#r605856795_

[2021-04-30 16:42] #3545 closed

[2021-04-30 16:45] noncash15 commented on #3485
gh run list

[2021-04-30 16:46] noncash15 commented on #3528
https://github.com/cli/cli/issues/3528#issue-870051431