[2020-08-21 11:42] xsaamiir opened #1560 "Add support for default metadata when creating a PR"
### Describe the feature or problem you’d like to solve

Every time I create a PR through the CLI, I always go through the same motion of adding myself as an assignee, my team as a reviewer and assigning several labels most of which are always the same.

### Proposed solution

Set default metadata through the configuration file.
I am not sure if those defaults should be applied per repo or globall

[2020-08-21 12:02] mislav commented on #1560
Would it be an option for you to declare an alias?

[code]

[2020-08-21 12:13] xsaamiir commented on #1560
That's a great alternative, thank you for the suggestion.

I just noticed that when creating a PR through this alias, the defaults are not selected. Is this on purpose ?

![image](https://user-images.githubusercontent.com/25642172/90889423-74208f80-e3b8-11ea-8068-d540ce4b36a6.png)

[2020-08-21 12:50] w-tr opened #1561 "gh issue view default to editor or stdout dump is limited to terminal window"
### Describe the feature or problem you’d like to solve

When using "gh issue view #" in either wsl-ubuntu or cmd prompt the stdout dump is overwhelming

### Proposed solution

Tweak the stdout dump to either be limited to the terminal OR open users default editor (vim/nano etc) or a md program.

### Additional context

N/A

[2020-08-21 13:40] mislav commented on #1561
Can you explain more what you mean with that?

Did you know that you can pipe any command to a pager program to help you handle large output? E.g. `gh issue view 123 | less`

We might introduce some automatic pager support in the future: https://github.com/cli/cli/issues/528

Could you elaborate more on what you mean by “limited to the terminal”?

[2020-08-21 13:42] mislav commented on #1290
This is now available: https://github.com/cli/cli/pull/1534

[code]

[2020-08-21 13:42] #1290 closed, assigned to nobody

[2020-08-21 13:45] mislav commented on #528
Update: PAGER support was added to the `pr diff` command https://github.com/cli/cli/pull/1534

I'm still interested in extending that support to various `list` and `view` commands.

[2020-08-21 16:19] prinewgirl-zz opened #1562 "Authenticating without a browser"
I didn't find a way to authenticate myself without using a browser. If there is another way to do this (I read all the documentation and I didn't find anything) it would be better.

I think that a good way this can be done is passing as a command line argument, both user and password tokens.

[2020-08-21 16:31] mislav commented on #1562
Hi, sorry for the bad experience!

The next release of GitHub CLI will feature a `gh auth login` command where you can paste an authentication token as an alternative to browser authentication: https://github.com/cli/cli/pull/1445

In the meantime, you can set the GITHUB_TOKEN environment variable with your authentication token to skip browser authentication.

[2020-08-21 16:31] #1562 closed, assigned to nobody

[2020-08-21 16:57] mislav commented on #1560
You mean, you've expected "Assignees" to be pre-selected in the menu?

This menu does not reflect the underlying state of attached metadata, but asks you for which types of metadata would you like to have an interactive picker next. These pickers can require a lot of data downloaded from the API to render; that's why we don't show them by default.

[2020-08-21 19:03] xsaamiir commented on #1560
Yes that's exactly what I meant, I understand.

Thank you so much for your feedback. I am closing this since the alias alternative solves my problem.

[2020-08-21 19:03] #1560 closed, assigned to nobody

[2020-08-22 02:20] dantman commented on #1225
Yes, definitely should be interactive.

I tried using `gh repo create` to create a public repo in my work org, not knowing about the repo arg. After being very interactive setting up authentication, it suddenly became very non-interactive and created a private personal repo without asking me what org, name, or whether I wanted public/private.

[2020-08-22 07:23] trompas-max opened #1564 "Temple"

[2020-08-23 07:32] Twin5860 opened #1565 "mad"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-08-23 15:24] szczot3k commented on #1472
Any updates on that?

[2020-08-24 00:35] Prince007-bd opened #1566 "Authorities callback url"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-08-24 07:49] gibfahn opened #1568 "Alternate branch names for `gh pr checkout`"
### Describe the feature or problem you’d like to solve

I like to check out PRs setting the branch name to the PR number.

This makes it very easy to see which of your branches are other people's checked out PRs, and mass-delete them all.

It also allows "refreshing" the branch by force-pulling the latest upstream changes (because you know what PR number it came from) without the user needing to

[2020-08-24 08:31] mislav commented on #1568
Thanks! Duplicate of https://github.com/cli/cli/issues/866

[2020-08-24 08:31] #1568 closed, assigned to nobody

[2020-08-24 08:31] #1566 closed

[2020-08-24 08:37] gibfahn commented on #1568
Ahh, my bad, sought but did not find the issue before creating.

[2020-08-24 09:01] preyunk commented on #1553
Hi,
Seems like a valid feature enhancement, would like to work on this.
@mislav can you guide me on this one?

[2020-08-24 09:32] pauze3214 opened #1569 "Hel"
**gjgg###** Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. R

[2020-08-24 09:32] #1569 closed, assigned to nobody

[2020-08-24 15:25] vtintillier commented on #273
This works great, thanks! When should we expect a release with this change?
Is there a separate issue to track for `gh pr status` support?

[2020-08-24 18:04] dhleong opened #1570 "Prepend commit bodies in `gh pr create` with templates"
### Describe the feature or problem you’d like to solve

Currently, if a PR template exists in the project, that's all that goes into file when hitting `e` to "edit" the PR body. It'd be convenient if we could pull in commit bodies, since—especially for single-commit PRs—those bodies already have the explanation we would otherwise want to include in the PR. There is prior art in that I *believe* i

[2020-08-24 23:38] JeremyRubin commented on #328
Would be nice if there was a way to make the snap from an official github/ms account on Snapcraft.

[2020-08-24 23:54] riboflavin opened #1571 "CLI Launch – Run of Show"

[2020-08-25 00:32] shannawhaley0 commented on #1561
No merging
all 10 checks passed

[2020-08-25 06:44] neilprice opened #1572 "GH Behind a Corporate Proxy with Headless Browser"
Hey Guys,

I love the new gh cli, it's just what I need, it works on my laptop behind the corp proxy but if I try from a server (also behind the proxy) where I can't access a web browser it does not work.  The URL provided by the step through wizard errors when I paste that into my web browser on my laptop so instead I just copied my ~/.config/gh/hosts.yml file from my laptop to the server (which

[2020-08-25 06:51] neilprice commented on #1572
Ha ha, close this, fixed by https://github.com/docker/for-linux/issues/415#issuecomment-452404554

[2020-08-25 06:56] #1572 closed, assigned to nobody

[2020-08-25 14:20] #1571 closed

[2020-08-25 15:11] mislav commented on #328
@JeremyRubin Official builds are often the best/safest, but as a team we aren't ready to commit to maintain a snap just yet, mostly because we don't understand the technology and we don't think it's suited for the kind of application for GitHub CLI is.

In the meantime, for those who would prefer to use it as a snap, I would recommend using community-maintained snaps like the one described in this

[2020-08-25 15:14] mislav commented on #273
@vtintillier This week!

Yes: https://github.com/cli/cli/pull/1102

[2020-08-25 15:16] #1511 closed, assigned to vilmibm

[2020-08-25 16:00] preyunk commented on #1553
Also I dont think github api provides a rest endpoint to fetch the available templates. So its not possible to implement this feature as of now.

[2020-08-25 17:24] shouze commented on #921
Don't know if it can help but I've created https://github.com/inextensodigital/github some time ago, dedicated to deployments manipulations.

[2020-08-25 17:29] digitalronin commented on #1553
When I raise an issue now, the cli offers me a choice of the templates that are defined on the repo, plus blank. So, the current cli tool must have a way to get the list of templates. I haven't checked, but maybe the graphql api has that capability.

[2020-08-25 18:31] #798 closed

[2020-08-25 18:31] #1270 closed, assigned to nobody

[2020-08-25 18:31] #1396 closed, assigned to nobody

[2020-08-25 18:54] #297 closed

[2020-08-25 18:54] #773 closed

[2020-08-25 18:57] #1502 closed, assigned to nobody

[2020-08-25 21:09] vilmibm opened #1574 "nasty formatting on windows"
![image](https://user-images.githubusercontent.com/98482/91228098-4788b280-e6ed-11ea-9206-35ae2ca6262a.png)

either fix the ansi stuff or just disable this formatting if windows is noticed

[2020-08-25 21:17] bbolker commented on #1278
For what it's worth, on my system (Ubuntu 18.04)  `gitsome` installed in /usr/bin and the CLI installed into /usr/local/bin so I was able to work around this via `/usr/local/bin/gh pr ... `

[2020-08-25 23:53] ahayworth opened #1575 "HTTP 414: Request-URI too large"
### Describe the bug

Today, whilst filling out a PR, I accidentally selected 'continue in browser' instead of 'submit'. Unfortunately, I was greeted with an [HTTP 414 `Request-URI too large`](https://http.cat/414) error in my browser:

<img width="411" alt="nginx http 414 error page" src="https://user-images.githubusercontent.com/1781907/91238579-fedbf400-e702-11ea-8834-f214abfc75b1.png">

### St

[2020-08-26 03:31] vilmibm commented on #1575
sorry this bit you!

[2020-08-26 11:40] mislav commented on #1575
We should keep this in mind when building in a mechanism to save authored text in case of failures https://github.com/cli/cli/issues/906

[2020-08-26 11:55] mislav commented on #1472
@szczot3k We have a release coming up this week, at which point we'll make sure that the site docs are refreshed.

[2020-08-26 11:59] mislav commented on #1225
`repo create` now interactively prompts for repository info, including the description field: https://github.com/cli/cli/pull/1492

[2020-08-26 11:59] #1225 closed, assigned to nobody

[2020-08-26 12:28] mislav commented on #1550
I don't know about Bitbucket's policies, but GitHub may also contact you if your repository exceeds 1 GB. Our storage platform periodically runs `git gc` on repositories, but I don't know how often this happens. You may contact Support to kick off that process manually, which our users sometimes do to hurry up pruning unreferenced commits that contain sensitive data.

I don't know why we don't all

[2020-08-26 13:13] evxn opened #1576 "Shows that pull request creation failed, while it is really created."
### Describe the bug

`gh version 0.11.1 (2020-07-28)`

If there's no permission to request a reviewer, cli shows that pull request creation failed, while it is really created.

### Steps to reproduce the behavior

![image](https://user-images.githubusercontent.com/134564/91307124-35bf1200-e7b6-11ea-93c0-c764fbd61d4c.png)

### Expected vs actual behavior

I expect my command to be a noop if it par

[2020-08-26 13:56] mislav opened #1578 "Create repositories from template repo"
When creating a new repository, users may choose to base it on a repository template.

Potential usage:
[code]

Originally suggested in https://github.com/cli/cli/issues/995#issuecomment-662561418 by @josefaidt

[2020-08-26 14:21] mislav commented on #1576
Good catch; thank you!

We add metadata such as labels and request reviewers on a PR in a separate step after creating it, so even if any of those operations fail, the PR is still created (and I don't think we should attempt to "clean" it up by closing it). But from the perspective of the user, the error reporting is all wrong and we should be clearer about this. 👍

[2020-08-26 15:34] preyunk commented on #1553
Yes, just got to know that templates for an issue for a particular repository resides in `.github/ISSUE_TEMPLATE`  folder. I think we can achieve the desired behavior but its up to the maintainers to decide if they will accept PR for this.

[2020-08-26 15:37] #1574 closed, assigned to nobody

[2020-08-26 17:03] mislav commented on #1578
Some pointers on how to approach a feature (there is already a person interested):

- A new flag will have to be added: https://github.com/cli/cli/blob/727b72666713909d318f24f03065ce2e488566d5/pkg/cmd/repo/create/create.go#L80-L81

  This also entails adding a new field to the CreateOptions struct.

- The value of `--template` could get passed as part of `input` to `repoCreate` here https://github

[2020-08-26 17:26] mislav commented on #1553
@PreYunk Thanks for your interest! To be honest, I'm not 100% sold on the feature because I'm not sure what the extra flag would be solving. Right now, templates only make sense in the interactive flow where we open a text editor for you. Before that, we ask the user to select one of the available templates.

With the `--template` flag, all that we would accomplish is skipping the template chooser

[2020-08-26 17:30] mislav commented on #1570
Thank you for the suggestion! I definitely agree that we should act more like GitHub.com web interface when it comes to templates.

[2020-08-26 17:46] digitalronin commented on #1553
Exactly that. I'd like to be able to jump straight into the editor when creating issues. I completely understand if this isn't a feature you agree with.

[2020-08-26 17:56] mislav commented on #1553
That makes sense! I assume the `--template` flag would take the name of a template file, e.g. `--template=bug-report.md`?

[2020-08-26 18:09] digitalronin commented on #1553
That was what I was thinking.

On Wed, 26 Aug 2020 at 18:56, Mislav Marohnić <notifications@github.com>
wrote:

[2020-08-26 18:37] w-tr commented on #1561
This was answered by #528

[2020-08-26 18:37] #1561 closed, assigned to nobody

[2020-08-26 19:18] colinshum commented on #1578
I'll be taking this on, but I can't assign myself due to missing r/w perms. It seems that we have a `CloneTemplateRepository` GraphQL mutation available publicly, so I'll try to use this first before modifying the mutation inside of the `github` repo.

https://docs.github.com/en/graphql/reference/mutations#clonetemplaterepository

[2020-08-26 20:38] wilso199 commented on #1576
@mislav Do know what we would like to show in this case?

Maybe something like the following?
[code]

[2020-08-26 21:06] preyunk commented on #1553
People don't tend to look for template filenames unless you are a maintainer or a regular contributor filing issues frequently.
So selecting templates rather than passing filename as an argument seems reasonable.

[2020-08-26 21:46] GMNGeoffrey commented on #1532
I think the linked commit doesn't quite close this issue because there's still info that is only available in the non-TTY output:

[code]

[2020-08-26 21:47] GMNGeoffrey commented on #1532
But thanks for adding the PR number! That solves my use case :-)

[2020-08-26 23:32] ChadNedzlek opened #1581 "gh repo fork --remote works differently in powershell v command line"
### Describe the bug
gh version 0.11.1 (2020-07-28)
https://github.com/cli/cli/releases/tag/v0.11.1

Run `gh repo fork --remote`.

The behavior is wildly different between powershell and the command line if the repo is already forked

### Steps to reproduce the behavior

1.  `gh repo fork --remote` in the command line on a repo you already have forked
1.  `gh repo fork --remote` again in powershel

[2020-08-26 23:37] ChadNedzlek commented on #1581
The same thing seem to happen if I redirect the output to a file.

[2020-08-27 00:59] vilmibm commented on #1581
I think our check for "is terminal a tty" is failing for powershell; I noticed this yesterday when I was poking at `repo garden`. We'll need to figure out how to fix that check for windows ASAP.

[2020-08-27 01:50] ChadNedzlek commented on #1581
In my case, I really want the powershell behavior here (if I say "--remote", I want the remote added, even if I've already forked).  I don't know if that means another parameter or what, but it definitely needs to not behave differently.

It's odd that the end result of the command is conditioned on the terminal type.

[2020-08-27 16:00] rnystrom opened #1586 "Remove links to feedback form"
This form is no longer necessary. Prefer using issues in this repository.

@ampinsk is this the only reference to the form?
https://github.com/cli/cli/blob/82c6830849c15708cb42c10ed1f0f2a959cd65ff/pkg/cmd/root/root.go#L41

### References to form
- [x] `gh` help output
- [x] [README](https://github.com/cli/cli/blob/trunk/README.md#we-need-your-feedback)
- [x] [Manual](https://cli.github.com/manual/

[2020-08-27 16:16] rnystrom opened #1587 "Add a config to disable prompts"
For users with screen readers, we should add a config/flag to disable constant prompts. This should be a config setting that users can set using `gh config set`, for example `gh config set prompts disable`.

With prompts disabled, if a user runs an interactive command, such as `gh pr create`, users will get an error that the command expects arguments instead of jumping into an interactive experien

[2020-08-27 17:08] 5HT2 opened #1588 "Ability to edit an issues labels"
### Describe the feature or problem you’d like to solve

I'm trying to mass label issues (1000+) in my repos, as I'm splitting my `bug/other` label into separate `bug` and `other` labels, along with others. Currently this is only possible with the web editor, which has issues with mass labeling issues.

### Proposed solution

It would allow for scriptability of mass labeling issues, and make manag

[2020-08-27 17:15] ampinsk commented on #1586
Another link is in the README at https://github.com/cli/cli/blob/trunk/README.md#we-need-your-feedback. We also have a link to it in the manual, which I have in a PR now.

I'll update the body with a checklist 👍

[2020-08-27 17:15] RealIndrit commented on #1588
POGGERS (actually good issue)

[2020-08-27 17:19] rnystrom opened #1589 "Update instances of "brew install github/gh/gh" to "brew install gh""
### Instances to update

_In this repository_
- [x] README installation instructions

_In other repositories_
- [x] "Open with" dialog on PRs (@mislav?)
- [x] Clone dialog (in progress) (@mislav)
- [x] Marketing site (in progress) (@ampinsk)

[2020-08-27 17:20] ampinsk commented on #1587
Body updated with more context 👍

[2020-08-27 17:23] ampinsk commented on #1589
Updated with more instances 👍

[2020-08-27 18:14] mislav commented on #1588
@dominikaaaa Thank you for the feature request!

We've actually considered something like this before https://github.com/cli/cli/pull/831, but we couldn't reach consensus on whether it was valuable or what the API for this should be.

In the meantime, you could script adding labels to issues using `gh api`:

[code]

[2020-08-27 18:16] 5HT2 commented on #1588
Uh, would the echo replace existing labels with that list or add new ones / toggle the current ones?

[2020-08-27 18:35] aitchkhan commented on #494
So I ran into a similar issue. But this was related to my system have two users one for personal work and the other for work configured with ssh config.
It would be nice to have if gh in future allows multiple github accounts and rely on the ssh config

[2020-08-27 18:53] mislav commented on #906
@phil-blain We hear you. I'm sorry your work got lost! Fixing this is something that's going to be next on our roadmap after the current set of features.

[2020-08-27 19:06] mislav commented on #1553
@PreYunk That's a valid point. For now, I'm mostly interested in @digitalronin's suggestion for a flag to skip templates altogether and jump straight into an editor. Ideally that should be available, but right now it isn't. So let's keep this open until our team can triage and prioritize this.

[2020-08-27 21:26] Prince007-bd commented on #1589
Marketing Site

[2020-08-27 21:32] Prince007-bd commented on #1589
Update

[2020-08-27 21:32] Prince007-bd opened #1591 "Ghost Investigation"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-08-27 21:57] #1591 closed

[2020-08-27 21:58] wilso199 commented on #1586
@ampinsk Do you want to control this work internally or are you open to outside PR's? I am happy to clean up the references in the README / help commands. I am happy to update the brew install details as well for #1589.

[2020-08-27 22:04] rnystrom opened #1592 "Update Linux installation instructions"
Blocked by getting our packaging solution up and running first (cc @vilmibm)

### Instances to update
- [ ] README installation instructions
- [ ] "Open with" dialog on PRs
- [ ] Clone dialog (WIP)
- [ ] Marketing site (WIP)

[2020-08-27 22:11] rnystrom commented on #1586
@wilso199 if you wanna take up https://github.com/cli/cli/issues/1589, we'd appreciate it! We have someone internally who's working on this (assigning to myself to claim it for now)

[2020-08-27 22:15] wilso199 commented on #1586
@rnystrom Great. I will handle the README updates in #1589.

[2020-08-27 23:25] 5HT2 commented on #1588
I tried what you suggested, it adds the labels just fine, but there doesn't seem to be a way to remove issues with `gh`. The [documentation](https://developer.github.com/v3/issues/labels/#remove-a-label-from-an-issue) says it's almost the exact same as adding, just with a `DELETE` request and the name of the label at the end

[2020-08-28 10:25] mislav commented on #1589
Prematurely closed, apologies

[2020-08-28 10:29] mislav commented on #1588
Removing a label would be something like
[code]
and replacing all labels:
[code]

[2020-08-28 10:37] mislav commented on #1576
Yes, so we probably do want to print the URL for the created PR (instead of the "pull request created successfully"), but with a subsequent error message like in your mockup.

[2020-08-28 12:15] logan-anderson commented on #716
Thanks @JonMontgo that is working for me (I am also on ubuntu 18.04 if that helps anyone)

[2020-08-28 17:08] preyunk commented on #1553
@mislav
Yes this feature to have an option to skip template selection must be there but `--template` must take an argument which could be template filename or template title but as I said in my previous comment general users creating issue don't know the template filenames so I think `--template` flag falls in very specific use case.

However as @digitalronin suggested we could work on introducing

[2020-08-28 17:14] devansshh commented on #1553
@mislav So basically, we provide a list of existing templates if --template isn't provided and skipped if --template is provided?

[2020-08-28 17:47] utkarsh-khandelwal12 commented on #1570
Hi
I have just started working with PR Templates and I do feel like this is a nice enhancement.
@mislav I would like to work on it.

[2020-08-28 17:52] wilso199 commented on #1576
@mislav My initial thought is to break apart the metadata and reviewer mutations from the `CreatePullRequest` function and call those explicitly while wrapping their errors in more detailed logs. Is there a more preferred approach?

[2020-08-28 18:19] dhleong commented on #1570
I can confirm just now that a single-commit PR created on Github web prepends the commit body to the template. Having even just this behavior by default would be super convenient :)

[2020-08-28 18:40] bdougie opened #1597 "Ability to filter out bots in the credits"
### Describe the feature or problem you’d like to solve

The top maintainers on my project are dependabot-preview[bot] and gh-action[bot]. I am opening this issue pre-emptively

I would like to run the  `gh credits` command in contributor meetings, but with the option to filter for humans-only. TBH, I would like to make the human-only filter the default and make showing bots the option.

### Propo

[2020-08-28 18:41] vilmibm commented on #1527
We've decided to put this off for now and let `gh pr checks` live in the wild for a bit.

[2020-08-28 18:42] vilmibm commented on #1528
We've decided to put this on the backburner for now and let `gh pr checks` exist in the wild for a while.

[2020-08-28 18:43] vilmibm commented on #1529
We've decided to just implement the `gh pr checks` portion of this and then circle back in the future; I'm going to close this tracking issue for now.

[2020-08-28 18:43] #1529 closed, assigned to vilmibm

[2020-08-28 18:43] vilmibm commented on #1526
The dot character resulted in some bad formatting so I'm closing this for now

[2020-08-28 18:43] #1526 closed, assigned to nobody

[2020-08-28 18:50] vilmibm commented on #1597
interesting point! because we, uh, don't automate anything on `cli` this didn't come up when I developed the feature.

I think it comes down to whether or not the API helps us distinguish bots from humans. If we can, I like the `--bots` flag. If not, perhaps an `--ignore` list that can filter out certain names is best.

[2020-08-28 19:09] #1578 closed, assigned to nobody

[2020-08-28 20:05] bdougie commented on #1597
The ladder may be challenging if things change. I got lost in playing around with grep, but the API indeed has a type field and can be filtered. `    "type": "User"` or `"type": "Bot"`, also a [linkable example](https://api.github.com/repos/open-sauced/open-sauced/contributors).

With that we could have `c.Type == User` on [line 164](https://github.com/cli/cli/blob/trunk/pkg/cmd/repo/credits/credi

[2020-08-28 22:44] vilmibm commented on #1597
oh great news! let's move forward with the `--bots` flag and do the modification around line 164 as you suggested. would you like to do a PR? if not I can pick it up on monday, it won't take long.

[2020-08-30 14:47] Luxcium commented on #1200
I am trying to do **`pseudo` gh milestone <name-of-the-milestone> add 5 6 7 8 9**   do you think it should be possible to do that ??

[2020-08-31 10:05] AtOmTurk opened #1601 "[GitHub Actions improvements for fork and pull request workflows - The GitHub Blog.pdf](https://github.com/cli/cli/files/5105643/GitHub.Actions.improvements.for.fork.and.pull.request.workflows.-.The.GitHub.Blog.pdf)"
[GitHub Actions improvements for fork and pull request workflows - The GitHub Blog.pdf](https://github.com/cli/cli/files/5105643/GitHub.Actions.improvements.for.fork.and.pull.request.workflows.-.The.GitHub.Blog.pdf)

_Originally posted by @AtOmTurk in https://github.com/cli/cli/issues/1555#issuecomment-677921889_

[2020-08-31 14:22] mislav commented on #1597
What would be the use-case for the `--bots` flag? I don't see why someone would ever want to intentionally include bots in the output, since the output is meant to celebrate human contributors. Should we just filter out bots by default and offer no way to include them?

[2020-08-31 14:59] philjackson opened #1602 "Show URLs in pr status output"
### Show URLs in pr status output

At the moment `pr view` has a `--web` option to open the PR in the browser, but it would be great to have the URL listed in `pr status` under the issues themselves.

### Proposed solution

Put the web url for each PR beneath the title in the output. This makes ctrl-click possible in may terminal emulators copy/paste available for those that don't.

### Additional

[2020-08-31 15:15] mislav commented on #1602
Are you sure? That is not my experience:

[code]

Could you be more clear about what URLs would you print exactly for which command? Thanks!

[2020-08-31 15:35] philjackson commented on #1602
@mislav Thanks, I've updated the issue - meant `view` not `status`.

While I've got you - happy to implement this if you think it's an idea worth implementing.

[2020-08-31 15:47] utkarsh-khandelwal12 commented on #1570
@mislav I would like to get an update

[2020-08-31 16:23] mislav commented on #957
Most of the priority requirements listed in this issue are now implemented in trunk and scheduled for a release. The few that we haven't done still have their respective tickets open.

[2020-08-31 16:23] #957 closed

[2020-08-31 16:39] vilmibm commented on #1581
it only is by accident. We did a pass on all of our commands to make them behave properly when their I/O is attached to another process as opposed to a terminal. It would appear that our test for that is broken in Powershell and went unnoticed.

[2020-08-31 16:42] vilmibm commented on #612
We've decided to close this. The pain of having to manage two separate GitHub accounts is real, but after discussing internally we think the best solution right now is to rely on the `BROWSER` environment variable since that will select the appropriate browser for things like `auth login` as well as `repo view -w`.

An improvement that I'd welcome, however, is having a config setting for browser w

[2020-08-31 16:42] #612 closed

[2020-08-31 16:46] ampinsk opened #1604 "gh auth login --web"
Right now, there is no way to skip the "What auth method would you like to use?" prompt in `gh auth login`. To login using the browser and using no prompts, you should be able to use `gh auth login --hostname host --web`

[2020-08-31 16:54] mislav commented on #1576
@wilso199 I wouldn't go as far to break up `CreatePullRequest` into discrete parts. I'm hoping that a future version of GitHub API will allow setting metadata in the same operation as creating a pull request; the same as there is currently with Issues. The fact that right now these are separate operations is an implementation detail.

I've opened a PR with my approach of making the error message m

[2020-08-31 17:08] wilso199 commented on #1576
@mislav Your explanation makes sense. I only proposed breaking them apart as I could see their functions being useful outside of creating a PR -- allowing users to edit meta-data/reviewers with an update command etc (way out of scope for this fix!).

I saw your approach. Much simpler and less complex. I am new to Go and enjoy learning from your implementations. Thanks!

[2020-08-31 17:47] mislav commented on #1576
That's a good point! I think we might get to some sort of `gh pr update` command soon-ish #1349, at which point what you are proposing will be useful.

[2020-08-31 17:51] mislav commented on #1602
@philjackson We already render the URL for the pull request when you do `gh pr view`. Could you check with the latest version?

[2020-08-31 18:00] philjackson commented on #1602
@mislav Unless there's another option I don't know about, I think that's just for the current branch's PR, right? My idea is more along the lines of running `gh pr status` and getting this, then I can work though gradually without running `gh pr view # --web` on each one:

![image](https://user-images.githubusercontent.com/43794/91750881-bc5f5f00-ebbb-11ea-89ea-6192951f2203.png)

[2020-08-31 18:32] ampinsk commented on #1592
@vilmibm can you update with what the new installation instructions will be whenever you get a chance?

[2020-08-31 18:35] bobbytreed opened #1605 "gh : error adding remote: fatal: remote fork already exists."
When creating a PR using the command gh pr create --title "$($msg): Batch($i)" --body "$Body" -a $Assignee

GH complains as follows: gh : error adding remote: fatal: remote fork already exists.

 . . . I know the fork already exists.  I forked it (6 months ago). Is gh pr create assuming I need to delete all my forks for each pr creation? Why not just use the fork that I just pushed to?

gh version

[2020-08-31 18:44] mislav commented on #1605
@bobbytreed Sorry for the nuisance!

Just to double-check: if you check `git remote -v`, does the existing `fork` remote have a valid GitHub.com URL? Is the URL `https:` or of a different protocol? Does that URL take you to a repository your user account has push access to?

I'm confused why you are seeing the error because we already try to detect a fork you have push access to, and if one exists

[2020-08-31 18:52] bobbytreed commented on #1605
It initially pointed to an https url even though repo was cloned with ssh (another bug already created ). Problem is that it threw a credential exception with http because the org requires SAML. I updated forks to use ssh, and still get this error.
I'll add debug output when I get back to computer

[2020-08-31 19:00] mislav commented on #1605
@bobbytreed Thanks for looking into this! BTW you can configure GitHub CLI to default to SSH-style URLs everywhere:

[code]

[2020-08-31 19:03] mislav commented on #1602
@philjackson Oh I see! I initially misread your description, I'm sorry.

The question of easily navigating to individual items in a `pr status` items was raised before and I think it's an excellent point: duplicate of #601

We don't know whether we will go with this approach yet, but your feedback is certainly valuable. Closing in the favor of the referenced ticket 🙇

[2020-08-31 19:03] #1602 closed, assigned to nobody

[2020-08-31 19:06] bobbytreed commented on #1605
How would I set DEBUG to 1? PowerShell doesn't like unnamed variables that are not preceded by $ signs

[2020-08-31 19:07] bobbytreed commented on #1605
Also, did change the ssh flag.  Thanks.  Still getting error though.

gh : error adding remote: fatal: remote fork already exists.
At line:1 char:1
+ gh pr create --title "$($msg): Batch($i)" --body "$Body" -a $Assignee
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (error adding re...already exists.:String) [], RemoteException

[2020-08-31 19:11] mislav commented on #1605
@bobbytreed Apologies, my instructions were not meant for PowerShell.

Something like this should work for PowerShell:
[code]

[2020-08-31 19:17] vilmibm commented on #1592
I won't have them for a bit since they depend on the domain name I'm able to set up.

[2020-08-31 19:18] bobbytreed commented on #1605
[git status --porcelain]
[git -c log.ShowSignature=false log --pretty=format:%H,%s --cherry upstream/master...fqdnrepair-0]
[git -c log.ShowSignature=false show -s --pretty=format:%b 30e8d7d8c31ce000bad36d9355a7ce4cde79fd73]
* Request at 2020-08-31 15:15:06.7301373 -0400 EDT m=+1.381074501
* Request to https://api.github.com/graphql
* Request took 126.041ms
[git remote add -f fork https://github.c

[2020-08-31 19:22] bobbytreed commented on #1605
There are multiple SSH users on this machine, so I know that can cause confusion, but still I would think gh.exe would go by the remotes to check for fork locations

[2020-09-01 02:29] thetayloredman opened #1608 "Better interaction with action selection"
I feel we need a way when we just do `gh` it opens a UI showing something along the lines of this:
[code]
*(Or similar)*
###### yes, i just wrote this on the CLI, help me.

[2020-09-01 08:02] mislav commented on #1605
@bobbytreed What would your preferred behavior for gh be here, ideally?

When you do `gh pr create`, you are authenticated as `bobbytreed`. The command auto-creates a fork under that user to push the code to. However, there is already a `fork` remote to a repository owned by `DCTheGeek`; and I suspect that `bobbytreed` does not have the rights to push to that repository.

You can try to work aroun

[2020-09-01 08:11] mislav commented on #1608
Hi, thank you for the feature request (from the CLI nevertheless)!

In general, we are trying to minimize prompts in command-line apps since that style of interface makes them less versatile and often less accessible. We only prompt in certain commands when values weren't supplied via flags and where we want to shield the user from potentially executing an unwanted operation by accident.

The styl

[2020-09-01 08:11] #1608 closed, assigned to nobody

[2020-09-01 09:37] bobbytreed commented on #1605
I understand your logic, but how am I authenticated as bobbytreed? The GITHUB_TOKEN, and GITHUB_OAUTHTOKEN, and SSH Key are all from DCtheGeek.  How is it determining that I am bobbytreed?

I want to know which method gh is using to determine who I am? Because in the schema I just described. It is very confusing to determine how it figures out who I am, and furthermore, gh creates a remote fork, b

[2020-09-01 12:34] mislav commented on #1605
gh first reads the token from `GITHUB_TOKEN` environment variable, if one exists, and then from credentials saved to `~/.config/gh/hosts.yml` after you go through an authentication flow for the first time. It does not respect `GITHUB_OAUTHTOKEN`, `OAUTH_TOKEN`, nor SSH key configuration. If you have multiple users set up via SSH config, gh will *not* switch user accounts accordingly.

You can chec

[2020-09-01 13:50] blackjid opened #1610 "pr status with review re-requested show as approved"
### Describe the bug

When using the `gh pr status` command the review status is now correct if the review has been re-requested
`gh version 0.11.1 (2020-07-29)`

### Steps to reproduce the behavior

1. Open a pr and assign someone to review.
2. Wait for the pr to be approved.
3. Re request the review after to made additional changes.
4. Run `gh pr status` on the branch for that PR

### Expected v

[2020-09-01 15:15] darkRaspberry commented on #1604
can we use ssh as login method. Tired of handling oauth apps and PAT.

[2020-09-01 15:51] #1576 closed, assigned to nobody

[2020-09-01 17:50] tierninho commented on #208
Closing as it's addressed in https://github.com/cli/cli/pull/1600

[2020-09-01 17:50] #208 closed

[2020-09-01 21:16] #1581 closed, assigned to vilmibm

[2020-09-01 21:22] vilmibm commented on #1570
hi @utkarsh-khandelwal12 , it looks like @dhleong has already started working on it.

I'm happy to take a community PR for this so it's up to the two of you who continues work on it.

This behavior makes sense to me as a default and I don't think a new flag is needed; thus, I think the next step is to just add test coverage to #1611 ?

[2020-09-02 01:34] dhleong commented on #1570
Hey sorry didn't mean to step on anyone's toes, I just keep running into this issue!

I've added a quick test that verifies the behavior of including the "default" commit message, prepended in front of any selected template body. It took me a bit to try to understand how the existing tests work, but I think it follows all the existing conventions. Please let me know if you want tests for other cas

[2020-09-02 03:48] aahnik opened #1612 "The body/ description of an issue is not being recieved when using VS Code as default editor instead of nano"
### I am excited to be able to create an issue in a GitHub repo from my terminal.

[code]

**Take a look.**

I have described the normal behavior ie with nano, and abnormal behavior with VS Code

## Normal Working with nano as the default text editor
When I am using the nano as the default editor, everything is working perfectly as expected.

![Screenshot from 2020-09-02 08-34-37](https://user-ima

[2020-09-02 05:18] AliabbasMerchant commented on #1612
Seems a bit odd
1. Why is VSCode opening 2 files
2. VSCode opens after the cli reports <received>

I guess VSCode is taking time to open. But the cli (actually the survey library we are using) reports <received> immediately after the open command is sent.

@aahnik can you try doing this?
Once you input the title, and then press <e> to open the editor, wait for VSCode to open(hopefully one file onl

[2020-09-02 05:47] aahnik commented on #1612
@AliabbasMerchant vs code opened one file only. The second file you are seeing was open previously.

I closed all files and **tried in a fresh manner as you said**, but found no luck.

I typed the body, saved by ctrl + s and then went back to terminal to press enter to submit.

The body did not get received.

This problem is not there with any editor which opens inside the terminal.

[2020-09-02 11:28] mislav commented on #1612
@aahnik Thank your for a clear report! The gifs are really helpful 👍

So what's happening here is that your editor is set as `code`, but you must configure it as `code --wait`. [See our manual](https://cli.github.com/manual/gh_config_set) for an example.

You will find that you generally need to add some kind of `--wait` flag when configuring any graphical editor to be used as a preferred editor f

[2020-09-02 11:28] #1612 closed, assigned to nobody

[2020-09-02 11:38] mislav commented on #1553
@devansshh I think we'll stick with the current template selector as it is, but support some kind of `--blank` flag in the future. We still have to think about how to best approach this; thank you for your patience! 🙇

[2020-09-02 11:50] mislav commented on #1200
@Luxcium We briefly considered an idea to edit issues in bulk #831 (e.g. adding a label or add them to a milestone), but we haven't come up with a satisfying API for it. It's still a possibility for the future, but for now, the only way to manage milestones is manually via the `gh api` command.

[2020-09-02 11:53] aahnik commented on #1612
Thanks a lot @mislav
The problem is now solved... 😄😀😇🙂

I should have read the manual properly before posting the issue 😭

Thanks again for your time 🙏🥰

[2020-09-02 14:19] cbrnr commented on #1149
I think I found a use case where adding a new remote would make things easier. I was just working on a PR which I checkout out via `gh pr checkout XXX`. After completing my changes, I wanted to push, but I got an error message because someone else (the original creator of the PR) had made other changes in the meantime. Now usually I'd fetch the changes from the remote and rebase, but I couldn't do

[2020-09-02 16:01] endorama opened #1613 "List PRs I'm author of"
_First time around here, so thanks a lot GitHub for this tool! It's super useful!_

### Describe the feature or problem you’d like to solve

When using `gh pr list` would be helpful to be able to filter by PRs where I am the author.

### Proposed solution

Adding a `--mine` CLI flag that filters the PR list based on the user invoking the command.

The final command would look like:

[code]

### Ad

[2020-09-02 17:27] dhleong opened #1614 ""Submit as Draft" option for `pr create`"
### Describe the feature or problem you’d like to solve

We have the `--draft` flag, but it might be nice to be able to select "submit as draft" through the interactive UI. I typically start `gh pr create` through a mapping in Vim, so short of creating another mapping I don't have a way of adding the flag easily. Furthermore, it's not unreasonable for some people to not think about whether to subm

[2020-09-02 20:36] vilmibm commented on #1613
Good suggestion! There is the "Created by you" section in `gh pr status`; but I'm guessing there is value in being able to filter `list` in this way so it can be combined with other filters?

[2020-09-03 09:36] mislav commented on #1613
@endorama Thank you for the feature request!

Currently, we are working to enable filtering PRs by author & assignee here: https://github.com/cli/cli/pull/1102

Additionally, we might provide support to filter by the current authenticating user as author. We are tracking support for various filtering options here: https://github.com/cli/cli/issues/641

We value your offer to contribute this featur

[2020-09-03 09:36] #1613 closed, assigned to nobody

[2020-09-03 11:08] fmcgough commented on #364
I'm finding that the `NO_COLOR` environment variable isn't respected when I run `gh pr create`, meaning that the default suggested title for a pull request isn't visible on my light terminal background (I only realised it was there by highlighting the text). Would be good to see this addressed at the same time as markdown rendering.

[2020-09-03 17:43] nutza249949 opened #1617 "Nut"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-03 18:04] #1617 closed

[2020-09-03 20:05] vilmibm commented on #1592
Installation instructions can be found in the README changes in #1615 , lemme know if more detail is needed

[2020-09-03 20:08] vilmibm commented on #448
Watchers and lurkers: deb and rpm repositories are now live. If any adventurous souls would like to test them out and report back it'd be much appreciated.

[code]

[code]

[2020-09-03 20:09] avinashkanaujiya opened #1618 "issue list command output has gotten narrow!"
### Describe the bug

The output of `gh issue list` is not showing enough length of issue name to recognize what the issue is about, it is too short for preview.
The issue is in current pre-release candidate - 0.12.0-pre.1. In version 0.11.1, it was working properly.

### Steps to reproduce the behavior

1. Type this 'gh issue list'
2. You can see that in output issue name is not of enough length.

[2020-09-04 02:01] Bobgy opened #1619 "Allow to list prs with the same filter&sorting params in GitHub UI"
### Describe the feature or problem you’d like to solve
I have existing filter & sorting params I use often, now I want to automate that with `gh` cli, but I found the cli doesn't support all the features there.

For example:
* There's no way to list issues without a certain label.
* There's no way to sort issues.

My use case is that I have this search query
[code]
Which searches all PRs I need t

[2020-09-04 02:12] Bobgy commented on #1619
After looking at other features, I'm a little confused, is the purpose of `gh` for automation? looks like it doesn't support changing output format to `json` or `yaml`.

[2020-09-04 07:21] szuliq commented on #448
So far working great @vilmibm. Will report on next release how the upgrade went. (I'm using `.deb`.)

[2020-09-04 08:18] endorama commented on #1613
@mislav sorry for not finding those issues before opening mine, they must have slipped through my search :)

I'll follow those then, nice to know the team is on it.

[2020-09-04 08:41] mislav commented on #1618
Thank you for reporting!

@vilmibm I suspect the fix for this might be similar to https://github.com/cli/cli/pull/1607

[2020-09-04 08:49] AliabbasMerchant commented on #448
Working properly, using dnf. Will report about the upgrade process once v0.12 is released.

[2020-09-04 08:50] mislav commented on #1619
Thank you for the feature request!

Additional filtering options are being tracked in: #641

It sounds like you might need access to the entire search query interface? We briefly considered this in #830 and might revisit in the future.

You are right; right now those formats are not available. However, you can use the `gh api` command for direct access to the GitHub API and get JSON output. For ex

[2020-09-04 08:50] #1619 closed, assigned to nobody

[2020-09-04 08:56] WtfJoke opened #1620 "gh pr checkout on single pr"
### Describe the feature or problem you’d like to solve
On some repos I work, there is a single open pull request. In this case I would like to behave `gh pr checkout` to checkout this branch without specifying the number.

Usually my workflow is like these:
1. `gh pr list` - 💭 _oh only one pr_
2. `gh pr checkout` - 💭  _Oops I forgot the number..._ 🐟 🧠
3. `gh pr list` - 🤔  let me remember the numb

[2020-09-04 09:43] mislav commented on #1620
Thanks for describing your workflow!

Your case is really specific and I don't think we'll be adding the feature to make the pull request number optional, since that likely wouldn't benefit many users and could potentially make the command more confusing.

However, we have been receiving feedback that it should be easier to select a PR from the list to do some action on, like view or checkout, in

[2020-09-04 09:43] #1620 closed, assigned to nobody

[2020-09-04 09:57] WtfJoke commented on #1620
Allright, no worries :) The interactive pr selection sounds great

[2020-09-04 11:17] giacomoalbe opened #1621 "PR merge should allow to choose how to format the commit message"
### Describe the feature or problem you’d like to solve

`gh pr merge` is *GREAT*, it speeds up my workflow a lot, but I find it very annoying that the commit message of the squashed merge action is the last HEAD commit instead of being the PR name/title.

On the website I can change the PR commit message when I'm about to merge it, but using the CLI it's not possible.

### Proposed solution

Prop

[2020-09-04 11:46] stephenc commented on #847
Can we please have a config option to control this behaviour.

I want the behaviour I currently have with `hub fork`, i.e. it leaves origin unchanged and adds the remote using the name of the organization/user that the fork was created in

[2020-09-04 11:50] stephenc commented on #847
Aside: Ha! Just noticed the issue creator is a fellow ☁️ 🐝

🤣

[2020-09-04 13:27] bdougie commented on #1597
Cool, I am going to work on this today, "Open Source Friday ;)." I will go with filtering bots by default. Thanks for the feedback.

[2020-09-04 14:03] mathieusama commented on #297
Based on @tdumitrescu's instructions, I created the following bash script to streamline the whole process of authenticating on headless environments without a browser, all within a single terminal session.

[code]

Note that you can pass a `-f` flag to the script to force recreating credentials file, otherwise if the file already exists, it will skip the whole process.

Enjoy! =)

[2020-09-04 14:08] mislav commented on #1621
Yikes, that default message won't work at all. Thanks for reporting!

Ideally, the default commit subject should be `<TITLE> (#<PRNUMBER>)` to match the web UI's default behavior. In the first iteration, we don't have to provide facilities for editing the commit message, but we can consider that for the future.

You can try adding a `CommitHeadline` field here: https://github.com/cli/cli/blob/0083

[2020-09-04 14:12] felipecrs commented on #297
@mathieusama Awesome work!

But I hope we won't need this anymore with `gh auth login`.

[2020-09-04 15:41] mislav opened #1624 "Decouple from ANSI colors utilities in `utils` package"
Utility functions like `utils.Green()` can only be overridden on the package level, therefore they aren't suitable for stubbing out in IOStreams-based tests.

In #1552, I proposed to add a ColorScheme object to IOStreams. Such an approach allows us to both stub coloring (or lack thereof) in tests, as well as define a color scheme based on user's config.

Once that lands, I propose to run with that

[2020-09-04 16:50] mislav commented on #297
@mathieusama That's really nifty; thank you for sharing!

I also hope that this won't be necessary in gh v0.12.0+ (coming next week!)

[2020-09-04 16:55] mislav commented on #1360
@AliabbasMerchant Thanks for bringing this up! I feel that all conversation about confirmation prompts, including an option to skip them, should be happening in #1330, so I'm going to close this one in favor of the original issue. 🙇

[2020-09-04 16:55] #1360 closed, assigned to nobody

[2020-09-04 20:47] mathieusama commented on #297
Really looking forward to that v0.12.0 release! (especially for the `gh repo create -y` flag to prevent prompting user!)

[2020-09-05 09:20] elkowar commented on #867
A per-repo config option for this would definitely be the way to go. At least mentioning the -R option when running `gh pr list` would be nice, something along the lines of `showing PRs for parent repository. To see PRs on the fork <username>/<reponame>, specify '-R <username>/<reponame>'`

[2020-09-05 15:58] bnb commented on #448
Trying to run from Ubuntu in WSL. First command ran fine.

[code]

[2020-09-06 16:09] raboley commented on #441
I would like the same feature and was thinking about contributing my work from the https://github.com/google/go-github project that spawned from this issue https://github.com/google/go-github/issues/1607
and this PR https://github.com/google/go-github/pull/1626. I was able to use the package for libsodium in go to deal with the encryption of the secret similar to the python implementation. If ther

[2020-09-06 23:16] misterybodon opened #1628 "Multiple hosts"
I've been hours trying to find how is this tool determining my user to change it without any luck.
There is no information in any documentation.

I've found out we need to remove the config file to set the host again.

Now: can we have more than one host or not? I haven't found any examples.

[2020-09-07 11:46] diversemix commented on #1281
I would soooo like this feature too - are you open to PR for this? @vilmibm @mislav ?

[2020-09-07 12:52] mislav commented on #1281
We haven't prioritized this on our roadmap yet. We will update the thread when we do!

In the meantime, you can list gists using `gh api` and something like `jq`:
[code]

[2020-09-07 15:42] CMCDragonkai opened #1633 "Proper way of using Github CLI to create PRs to a gh-pages branch"
I've been trying to use Github CLI to create PRs to a gh-pages branch in a CI/CD.

This has been my latest attempt:

[code]

However the last command keeps failing with:

[code]

You can see the job here: https://gitlab.com/MatrixAI/open-source/typescript-demo-lib/-/jobs/725071215

**Is there a more easier way for a CI system to do automatic creation of PRs to gh-pages?** I had tried with the same

[2020-09-07 19:43] tsutsu opened #1634 "Add command to watch running Github Action(s) in repo"
### Describe the feature or problem you’d like to solve

When making deploy-time changes to a repo (e.g. editing a workflow YAML file), I have to push the change in the repo from the CLI, and then switch over to the repo's Actions view on Github, select the newly-created workflow run, select the build step I'm interested in, and only then can I know whether my changes are working.

As well, it'd b

[2020-09-07 19:59] mislav commented on #1634
Nice idea!

Also see #1563 and #463

[2020-09-08 07:57] #448 closed

[2020-09-08 07:57] #834 closed

[2020-09-08 07:57] #1216 closed, assigned to nobody

[2020-09-08 08:01] #1618 closed, assigned to nobody

[2020-09-08 08:41] mislav commented on #514
Thank you all for your patience! We just released a new version using Go 1.15 that ships a fix for the "TLS handshake timeout" that some macOS users have been experiencing: https://github.com/cli/cli/releases/tag/v0.12.0

[2020-09-08 08:41] #514 closed

[2020-09-08 10:02] mislav commented on #297
The v0.12 release with improved authentication is out! https://github.com/cli/cli/releases/tag/v0.12.0

Try `gh auth login` on a headless host. When no graphical browser is detected, the flow prints out a URL that you can now open in a graphical browser on *any* other machine to complete the flow.

Additionally, you may pass in a token to skip browser authentication via `gh auth login --with-token

[2020-09-08 10:10] mislav commented on #448
Hi everyone, we just pushed a v0.12 release to our deb & RPM repository: https://github.com/cli/cli/releases/tag/v0.12.0

 If you can [try to upgrade](https://github.com/cli/cli/blob/trunk/docs/install_linux.md), that would be great! Thank you 🙇

@bnb I think we only publish packages for Ubuntu 20.04 for now! We can look into what would be involved in covering 18.04 as well.

[2020-09-08 11:15] mislav commented on #1628
@misterybodon Try the new v0.12 release that has `gh auth` commands. Using those you can logout and change your user for either github.com host or for your GitHub Enterprise instance.

[2020-09-08 11:15] #1628 closed, assigned to nobody

[2020-09-08 15:13] fivepapertigers opened #1637 "Repo support for other Ubuntus"
Currently running Elementary OS 5, which is based of of ubuntu 18.04, but the apt-get install is not supported

https://github.com/cli/cli/issues/448#issuecomment-688767787

[2020-09-08 15:25] ampinsk commented on #1586
Since I have the changes in the site PR, I'll call this done 👍

[2020-09-08 15:25] #1586 closed, assigned to samcoe, ampinsk

[2020-09-08 18:01] brymacto commented on #601
Want to second this and say I'd find it very useful. I love the `pr status` output for getting an overview of the PRs I need to work on. Being able to click the URLs from that view would be great.

Personally I'd prefer the option to output the URLs, over an interactive feature for getting to the URLs.

[2020-09-08 18:12] jglick commented on #847
Nicer workaround:

[code]

Use as:

[code]

[2020-09-08 18:21] szuliq commented on #448
I just upgraded and it worked great! Ubuntu 20.04

[2020-09-08 21:03] #1525 closed, assigned to vilmibm

[2020-09-08 21:29] vilmibm commented on #1637
I've added all existing LTS versions to our deb repositories; please alert me if things are not working.

[2020-09-08 21:55] #956 closed

[2020-09-08 23:19] vilmibm commented on #448
All extant Ubuntu LTS should now be supported.

Thanks for the QA help, y'all!

[2020-09-09 02:46] chenlishuai opened #1643 "gh pr diff how to use vimdiff"
### Describe the feature or problem you’d like to solve

how to config 'gh pr diff' use  vimdiff

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-09 09:53] hoexter commented on #1393
Like this?
`$ type ghf
ghf is a function
ghf ()
{
    gh pr diff ${1} | diffstat -l
}
`

[2020-09-09 12:10] gibfahn opened #1645 "pr create: respect git `@{push}` configuration for the current branch"
### Describe the feature or problem you’d like to solve

For PRs, if you use git's `@{push}` branches feature, you can have [a much nicer workflow](https://fahn.co/posts/a-better-pull-request-workflow-with-git-push-branches.html), and also automatically know which branch to raise PRs against.

For example, before I raise PRs:

[code]

However I may be on a different branch with a different remote

[2020-09-09 12:38] gibfahn opened #1646 "Support `gh pr create --browse --copy` as in hub to open and copy PRs"
### Describe the feature or problem you’d like to solve

`hub pull-request --help` has the following:

[code]

This is really useful for navigating to or sharing the PR URL after creation.

It would be great to support similar flags.

### Proposed solution

Do the same thing in `gh`.

[2020-09-09 14:41] mislav commented on #1643
Sorry, it's not possible to use vimdiff with the output of `gh pr diff`. Vimdiff (to my knowledge) is only able to compare two physical files on disk, and `pr diff` fetches a git diff (potentially spanning multiple files) from the server, so there are no physical files.

[2020-09-09 14:41] #1643 closed, assigned to nobody

[2020-09-09 14:44] mislav commented on #1393
The solution of piping output to `diffstat -l` proposed by @hoexter would be my preferred way of doing this, thank you!

Does anyone feel strongly that this is something that should belong as a core feature of `pr diff`? I will leave the ticket open to see if it attracts “👍” reactions or discussion.

[2020-09-09 14:48] mislav commented on #1645
Thank you for the suggestions and additional resources to read!

We are currently in the process of improving base/head branch heuristics for `pr create`; stay tuned! We might take these git features into account too. 🙇

[2020-09-09 14:53] rsteube commented on #360
[![asciicast](https://asciinema.org/a/358690.svg)](https://asciinema.org/a/358690)

https://github.com/rsteube/gh

[2020-09-09 14:54] #1637 closed, assigned to vilmibm

[2020-09-09 14:55] mislav commented on #1646
Thank you! This was proposed months ago, but we decided to not incorporate it back then https://github.com/cli/cli/issues/478#issuecomment-623755213

We might revisit this now. I'll leave open to gather feedback. 🙇

[2020-09-09 16:07] #378 closed

[2020-09-09 16:56] gibfahn commented on #1645
Makes sense, thanks!

FWIW my main aim is to have something that allows me to fully move from hub to gh (currently gh works about 40% of the time, hub works 99% of the time):

https://github.com/gibfahn/dot/blob/efd52aa23505e2febc00f9c5d9ab4a864de77d36/dotfiles/.config/git/config#L142-L144

I'd take anything that works in the short term over something perfect in the long term 😁 .

[2020-09-09 17:39] gibfahn commented on #1646
If the answer is gh aliases that seems reasonable, but for cross-platform copying that starts to get complex.

[2020-09-09 20:24] sgaynetdinov opened #1650 "Docs: Typo in use create issue"
In local
[code]

In docs (https://cli.github.com/manual/examples#creating)
[code]

**Creating issue in cli/cli** vs **Creating pull request**

[2020-09-09 23:11] trozler opened #1651 "runtime error on bad user input"
### Describe the bug

`$ gh version 0.12.0-49-gf30bc5b (2020-09-09)`

I have been using the CLI for some time and its really great :). I was looking to contribute to some open issues and stumbled upon [#1110](https://github.com/cli/cli/issues/1110). In order to reproduce the error given in the issue you have to run the following:
`$ gh -R cli/cli issue view 1110`. This leads to runtime error and a

[2020-09-10 06:08] jmvtrinidad commented on #1393
It works @hoexter
closing this ticket, thanks

[2020-09-10 06:08] #1393 closed, assigned to nobody

[2020-09-10 06:20] dhruvildave opened #1655 "Installation Steps for openSUSE Linux"
### Describe the feature or problem you’d like to solve

[Installing gh on Linux](https://github.com/cli/cli/blob/trunk/docs/install_linux.md#opensusesuse-linux-zypper) currently states that installation on openSUSE may or may not work with zypper. I tried testing it and installing gh CLI on my system which is openSUSE Tumbleweed and also following the same steps in a fresh [opensuse/leap docker c

[2020-09-10 09:41] DevServ3r opened #1658 "CYBER'S SECURITY"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-10 10:29] #1658 closed

[2020-09-10 11:40] mislav commented on #1650
Good catch! Thank you.

[2020-09-10 12:18] mislav commented on #1570
@dhleong Thank you for your contribution! Is there any functionality still missing or incomplete now that your PR has been merged?

[2020-09-10 12:19] mislav commented on #1645
As you noticed, we don't yet allow specifying the head branch, but `gh pr create` will try to respect the remote that the current branch is already (fully) pushed to. So if you configure your aliases to do `git push <remote> HEAD && gh pr create`, gh is going to auto-detect the push target for the branch. This only works as long as the remote branch name has the same name as the current tracking b

[2020-09-10 12:19] nutza249949 commented on #1570
c

[2020-09-10 12:20] nutza249949 commented on #1655
u

[2020-09-10 12:23] ds1b3ll3009 opened #1659 "cyborg"

[2020-09-10 12:24] #1659 closed, assigned to nobody

[2020-09-10 12:26] ds1b3ll3009 opened #1660 "nethunter"

[2020-09-10 12:29] nutza249949 commented on #1659
@ds1b3ll3009

_Sent from my Vivo 1901 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2020-09-10 12:34] dhleong commented on #1570
Nope, I think it's best to keep it simple as-is. Thanks!

[2020-09-10 12:38] #1660 closed, assigned to nobody

[2020-09-10 13:55] gibfahn commented on #1645
That's what I thought would happen, but not the behaviour I'm seeing. Here's a slightly-redacted example:

Here are my remotes:

[code]

- `pub` and `pubfork` are github.com remotes
- `up` and `fork` are GHE remotes.
- `pubfork` is a fork of `pub`
- `fork` is a fork of `up`

I want to raise a PR against github.com.

I have pushed my current branch to `pubfork`:

[code]

And the upstream is set to

[2020-09-10 14:29] vilmibm commented on #1655
closed in #1656 . thank you!

[2020-09-10 14:29] #1655 closed, assigned to nobody

[2020-09-10 18:30] mislav commented on #1645
@gibfahn Ah, so it's a mixed GHE + github.com setup. Thanks for the detailed info!

Right now, we don't know how to support mixed git remotes (for example, we can't let you push a head branch to a GHE remote, but open a PR to a github.com base remote), so we select the 1st host that we find in remotes and ignore all others. https://github.com/cli/cli/pull/1258/files#diff-15cce7299aae8810bcab9b0bf9

[2020-09-10 18:36] mislav opened #1668 "Allow GH_HOST to select between hosts with mixed git remotes"
When there are mixed git remotes (some pointing to `github.com`, some pointing to GHE instances), we only scope down to the first hostname we find and ignore the others.  This is by design https://github.com/cli/cli/pull/1258/files#diff-15cce7299aae8810bcab9b0bf9a2fdb1R36

However, it should be possible to use GH_HOST to explicitly choose a host. Right now, GH_HOST is not respected with parsing gi

[2020-09-10 21:10] Milo123459 opened #1670 "Dependabot built in"
### Describe the feature or problem you’d like to solve
A small idea, something like: gh dependabot which will run dependabot (if it is installed on that repo, has to be dependabot not dependabot-preview)
A clear and concise description of what the feature or problem is.
N/A
### Proposed solution

How will it benefit CLI and its users?
It will allow you to use dependabot easier.
### Additional con

[2020-09-11 03:36] vilmibm commented on #1670
thanks! it's an interesting idea.

question: if we had a more general `gh actions` command, would it suffice to be able to run dependabot through it?

[2020-09-11 06:38] Milo123459 commented on #1670
Ooo!! Good idea, I have another idea!
gh workflows - run a workflow and get logs on it!
And yes, that dependabot gh actions thing would work perfectly!

[2020-09-11 08:19] cyrilletuzi opened #1674 "Default to last created tag in `gh release create`"
### Describe the feature or problem you’d like to solve

Follow up of [this comment](https://github.com/cli/cli/pull/1552#issuecomment-689808567) of #1552, creating a new issue as asked by @mislav.

A new `gh release create` command has been added, but currently the tag number is required (ie. `gh release create v2.1.0`).

But in an automation process, the tag creation is automated too, so you do

[2020-09-11 08:56] hantsy opened #1675 "Windows: "wsasend: An existing connection was forcibly closed by the remote host""
Try to auth by the web browser, the progress is successful in the web browser but failed in the last step.

[code]

[2020-09-11 09:09] sdepablos opened #1676 "SIGSEGV on bash comletion"
### Describe the bug

`gh --shell bash completion` fails after upgrading to v0.12

### Steps to reproduce the behavior

1. Ubuntu 18.04.5 LTS with v0.12
2. Type `gh --shell bash completion`
2. See error
[code]
and bash completion does not work

[2020-09-11 09:15] mislav commented on #1676
Thank you for reporting! The crash is being addressed in https://github.com/cli/cli/pull/1652, but in the meantime you can solve the error by placing the `--shell` flag after `completion`, since it only applies to that command:

[code]

[2020-09-11 09:15] #1676 closed, assigned to nobody

[2020-09-11 09:17] mislav commented on #1675
Hi, thank you for reporting! This looks like a network error, which I'm not sure we can do anything about. Does this happen every time you try to authenticate?

[2020-09-11 09:17] sdepablos commented on #1676
Thanks @mislav. I searched for `SIGSEGV` but I could not find any related issue :+1:

[2020-09-11 09:23] #1651 closed, assigned to nobody

[2020-09-11 10:36] hantsy commented on #1675
I have tried several times in `Powershell` on my local machine, got the same result.
Not sure where is wrong.

Switch to `cmd`, it works.

[2020-09-11 14:48] gibfahn opened #1678 "Specify github host in "Creating pull request for my-branch into master in internal-org/some-repo" if not github.com"
### Describe the bug

The `org/repo` method of specifying where things are happening is ambiguous when you can have multiple github instances.

### Steps to reproduce the behavior

See https://github.com/cli/cli/issues/1645 for more info

[code]

[code]

### Expected vs actual behavior

I'd expect fully qualified URLs unless it's github.com, so:

- `github.com/org/repo@branch` -> `branch in org/re

[2020-09-11 14:50] gibfahn commented on #1645
I can't say I understand all the permutations of how `gh` works, but I think at least:

1. If the current branch exists on exactly 1 remote, and that remote is a GitHub fork of another remote, assume PR will be raised from `fork/branch` -> `upstream/branch`
2. If a `GH_HOST` is specified, only consider remotes matching that host
3. If a `GH_REPO` is specified, only that repo and its forks should b

[2020-09-11 15:07] kadirselcuk commented on #980
I think Cli authentication can't be done without creating a gh repo

[2020-09-11 16:03] vilmibm opened #1679 "gist: view, list, edit"

[2020-09-11 16:22] vilmibm commented on #1045
latest thought on this is that we want to wait and instead see how it feels to show off doing this with `gist` commands and aliases

[2020-09-11 16:23] vilmibm commented on #1384
my current plan is to add an `env` command that reports on all the environment variables we care about as it could help for debugging; then we get `ghd help env` for free.

[2020-09-11 16:40] vilmibm opened #1680 "add ShowConfirmations helper"
We added `IOStreams.CanPrompt` which helps us know when to behave interactively or not. This issue
covers adding a similar helper, `IOStreams.ShowConfirmations`, that indicates whether to show the
check-mark confirmation output that certain actions have taken place.

We tend to rely on TTY checks for understanding if that output is appropriate and it would be good
to formalize it.

[2020-09-11 16:41] Milo123459 commented on #1670
Is this going to be added? I would add it in yet have no idea how to program in go...

[2020-09-11 16:51] TechnologyClassroom opened #1681 "Doc refers to gh config"
[Doc page](https://cli.github.com/manual/installation) refers to `gh config set`.  When I run `gh config set editor vim`, I get the output `unknown command "config" for "gh"`.  Should this documentation instead refer to editing the config file `~/.config/gh/config.yml`?

gh version 0.12.0-72-g4ef8a75 (2020-09-11)

Operating system: Trisquel

go version: go1.13.8 linux/amd64

[2020-09-11 17:07] #1587 closed, assigned to vilmibm, samcoe

[2020-09-11 17:26] tierninho opened #1682 "For `pr checks` cmd, add -w flag to view checks tab on github.com"
### Describe the feature or problem you’d like to solve

When running `gh pr checks` the user is shown a bunch of urls for each check. It would be great to add a `-w` to see the checks tab ([repo/owner]/pull/[pr-number]/checks) in github.com. The user could then scroll through the various checks shown in the output of the `gh pr checks`.

### Proposed solution

How will it benefit CLI and its user

[2020-09-11 17:34] tierninho opened #1683 "fix gh pr checks usage"
### Describe the bug

When viewing the `gh pr checks --help` page, we are missing context in regards to the flag. It should show that a pull request number is an acceptable replacement for the flag. Currently we show:

![Screen Shot 2020-09-11 at 7 27 35 AM](https://user-images.githubusercontent.com/14828183/92955167-62069f80-f400-11ea-88d7-15a9ca3e6fbc.png)

but it should be something like `gh pr

[2020-09-11 18:42] heaths opened #1684 "cli/scoop-gh not updated with v0.12.0"
The `gh` CLI is reporting that a new version - 0.12.0 - is available, but running `scoop update` is not updating it. Looking at https://github.com/cli/scoop-gh, I see that the repo hasn't been updated.

In addition to doing that, I also recommend adding auto-upgrade information like I did with `vswhere` here: https://github.com/ScoopInstaller/Main/blob/02d450dfe1a50eda9e3118012203d9b95417071b/buck

[2020-09-11 19:19] cunha opened #1685 "404 error on Apt repository when following Debian installation instructions"
### Describe the bug

Installation instructions fail on Debian buster.

### Steps to reproduce the behavior

1. Follow instructions under [Linux Installation Instructions](https://github.com/cli/cli/blob/trunk/docs/install_linux.md)

2. On Debian buster, `sudo apt-add-repository -u https://cli.github.com/packages` sets the repository distro to the release name (`buster`), which does not seem to ex

[2020-09-12 02:13] Paparoyal89 commented on #1650
dd3ahn9flmo39&b=3&s=ui #1642 ``

[2020-09-12 09:02] rohit2sharma95 opened #1686 "Avoid printing “GraphQL error” for errors caused by the user"
When I am checking out to a PR that does not exist, I am getting a GraphQL error.

The error message should not include **GraphQL error** in the begging :thinking:

### Screenshot
![image](https://user-images.githubusercontent.com/26922866/92991936-92376680-f504-11ea-874f-cc3ce0a55a3a.png)

[2020-09-12 17:07] #1454 closed, assigned to nobody

[2020-09-13 16:35] trompas-max opened #1691 "> Well, aftter @ayserjamshidi post, I turned the SSL setting back on, did a respring, and https is working just fine for me now..."
[]()

__Originally posted by @trompas-max in https://github.com/iandwelker/smserver/issues/33#issuecomment-691693965__

[2020-09-14 08:57] mislav commented on #1684
Thank you! Good catch— I've merged your PR where you bump up the version and left a comment on the autoupdate one. ✨

I will leave this open until we investigate why wasn't our scoop bucket auto-bumped by goreleaser when we tagged v0.12.0.

[2020-09-14 09:42] mislav commented on #1685
@cunha Thank you for reporting!

@vilmibm Would adding support for Debian buster be as straightforward as explicitly listing Ubuntu versions as supported? Ref. #1615 #1637

[2020-09-14 09:58] mislav commented on #1686
This is literally an error raised by our GraphQL API, since the PR does not exist, but I hear you that the `GraphQL error` part here is irrelevant at best and potentially misleading at worst. We'll think about how to improve this; thank you!

[2020-09-14 10:39] mislav commented on #360
@rsteube That is pretty cool!

[2020-09-14 11:42] dblbirdie opened #1695 "Error 400 when trying to download asset(s) of a release"
### Describe the bug

When trying to download an asset from a release, the attempt leads to a 400 error at the point when the GET request to the binary is performed.

Affected version:
[code]

### Steps to reproduce the behavior

1. Perform `gh release download {tag}` on a private or public repository with existing release (incl. assets)
2. No files are downloaded
3. Look for `HTTP 400: 400 Bad Re

[2020-09-14 13:57] vilmibm commented on #1685
yup, can do

[2020-09-14 14:39] mislav commented on #1394
We now have the `gh release download -R cli/cli -p '*.deb' command to download e.g. all `*.deb` files from our latest release #1552

I will close this as resolved. At the moment, we will not be adding any installer scripts to the project; instead, we want to encourage our users to use package managers to manage updating GitHub CLI. For instance, we recently shipped repositories for Debian & RPM pa

[2020-09-14 14:39] #1394 closed, assigned to nobody

[2020-09-14 15:36] faizanakram99 opened #1698 "Issue with create release (and possibly other gh api POST requests)"
I am not sure if this is a bug or documentation is unclear. I am trying to create new release for gh cli, so far all my attempts have been unsuccessful.

This is the command I am trying (what I understood from docs)
`gh api repos/:owner/:repo/releases -F "tag_name=v1.2.3 target_commitish=develop"`

It throws `tag_name` invalid error

[code]

`gh cli` has very little documentation about api calls,

[2020-09-14 15:47] mislav commented on #1698
@faizanakram99 Sorry for the lack of examples! Each individual field required by a POST endpoint needs to be passed as a separate `-F` or `-f` value. In your case, that would be:

[code]

(Note the lowercase `-f, --raw-field`; you only need `-F, --field` when passing non-string values such as numbers or booleans.)

From the next release, we will also have a dedicated `gh release create` command th

[2020-09-14 15:47] #1698 closed, assigned to nobody

[2020-09-14 16:00] faizanakram99 commented on #1698
Thanks @mislav for quick response, highly appreciated

[2020-09-15 03:27] eoyx12 opened #1701 "gh pr checkout 61134"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-15 09:41] mislav opened #1702 "The executable path in the Debian package should be `/usr/bin/gh`"
Just installed the Debian package and found the executable at `/usr/local/bin/gh`, which is wrong; should be `/usr/bin/gh`.

_Originally posted by @jglick in https://github.com/cli/cli/pull/1615#issuecomment-689157222_

See also: #377

[2020-09-15 09:47] toby-griffiths opened #1703 "Error when using cli autocomplete on zsh"
### Describe the bug

Error when using zsh autocomplete on brew installed version of CLI on Mac (gh version 0.12.0 (2020-09-08))

### Steps to reproduce the behavior

1. Type this 'gh pr [tab]' or 'gh issue [tab]'
1. See error…

        _arguments:comparguments:325: invalid option definition: (-R --repo)-R[Select another repository using the `[HOST/]OWNER/REPO` format]:

### Expected vs actual beh

[2020-09-15 12:26] mislav commented on #1684
Okay, so in #1615 I've made a change that goreleaser makes a _draft_ GitHub Release so that we hold off publishing until the MSI is uploaded separately. This unfortunately results in scoop goreleaser pipeline being skipped, which kind of makes sense, since we don't want to update the scoop bucket before the release is published.

We will need to add an additional release step to auto-update our ht

[2020-09-15 13:13] #1695 closed, assigned to nobody

[2020-09-15 13:13] mislav commented on #1695
Thank you for reporting!

[2020-09-15 14:37] #1604 closed, assigned to vilmibm

[2020-09-15 14:57] #1589 closed, assigned to nobody

[2020-09-15 15:21] #1384 closed, assigned to vilmibm, samcoe

[2020-09-15 16:29] mgabeler-lee-6rs commented on #1685
Debian bullseye has the same issue too

[2020-09-15 18:41] vilmibm commented on #1681
That's a surprising error message; `gh config` is definitely a valid command.

What happens when you just run `gh config` and then just run `gh`?

(also fwiw, to set an editor it'd be `gh config set editor vim`)

[2020-09-16 01:05] sarneaud commented on #1633
Hi, I had a similar problem.  Apparently it's because of differences between GH credentials and git credentials, explained here: https://github.com/github/hub/issues/1644

You can work around it by configuring git credentials first.  It might depend on your CI platform, but here's what I used:

[code]

[2020-09-16 01:28] TechnologyClassroom commented on #1681
@vilmibm `gh config` gives me the same output as `gh config set editor vim`.

[code]

I left out the word `editor` and I am fixing my post.

[2020-09-16 01:44] vilmibm commented on #1681
that is very odd; that looks like a very old version of gh. `gh version` reports 0.12? how did you install gh?

[2020-09-16 02:27] TechnologyClassroom commented on #1681
I see.  I had compiled and my terminal was defaulting to an older version that I had compiled.  @vilmibm Thank you!

[2020-09-16 02:27] #1681 closed, assigned to nobody

[2020-09-16 07:31] mislav commented on #1633
Yes, the authentication that failed here is the one in git caused by `git push` that `gh pr create` invokes. @sarneaud's advice is correct in that you sometimes have to configure git credentials to be able to push repositories back from a CI/CD job.

Closing since this is not related to GitHub CLI. Good luck!

[2020-09-16 07:31] #1633 closed, assigned to nobody

[2020-09-16 09:09] adimyth commented on #642
Any updates on this feature?

[2020-09-16 09:50] mislav commented on #1267
@jethas-bennettjones I'm sorry for missing your question!

We've recently shipped a new version that provides authentication commands such as `gh auth login`. This greatly improves the authentication experience, and if you already have an authentication token from elsewhere, you can feed it into the `auth login` command directly:

[code]

Closing this because we've improved authentication, and bec

[2020-09-16 09:50] #1267 closed, assigned to nobody

[2020-09-16 09:54] mislav commented on #1066
We've recently shipped the v0.12 update where we greatly improved authentication. Please try the `gh auth login` command. For authenticating to github.com, we no longer spawn a local server at `127.0.0.1`, so I expect this type of issues to have gone away completely.

[2020-09-16 09:54] #1066 closed, assigned to nobody

[2020-09-16 10:01] mislav commented on #824
@simonbasle @weitzman I'm sorry this bit you! Our config format was in flux back then, but lately it has solidified and we haven't heard these types of reports since then. I'm going to close this, but we're going to take extra precaution if we ever migrate the config format again. 🙇

[2020-09-16 10:01] #824 closed

[2020-09-16 10:04] mislav commented on #418
I think this was solved by an upgrade to the Survey library that we're using. Please comment if you can still reproduce this issue in `trunk`, or after the next release!

[2020-09-16 10:08] mislav commented on #344
Automating pull requests is now possible:

[code]

[2020-09-16 10:08] #344 closed

[2020-09-16 10:10] ciscorucinski commented on #328
@casperdcl As for the snap, I would like to suggest some user-facing issues that are probably causing people to not use the snap. So far discoverability seems very low with the current snap, and searching `gh` isn't a standard search term I would use for git / github snaps (especially if I don't know about this specific project).

1. Add an [icon](https://github.com/cli)
2. Allow searching the sna

[2020-09-16 10:30] casperdcl commented on #328
done

[2020-09-16 13:53] #1703 closed, assigned to nobody

[2020-09-16 16:16] #826 closed

[2020-09-16 16:20] #364 closed

[2020-09-16 16:20] #1488 closed, assigned to nobody

[2020-09-16 16:26] mislav opened #1709 "GraphQL error with `pr` commands on GHE v2.20"
The error affects the following commands:
- `gh pr create`
- `gh pr status`
- `gh pr checks`

and looks like:
[code]

A solution would entail an approach similar to my spike at https://github.com/cli/cli/pull/1102

[2020-09-16 16:30] mislav commented on #364
Hi all 👋 thank you for all the reports!

We've fixed:
- markdown rendering on light terminals: we released this a while ago
- gray color rendering: on 256color-enabled terminals we now output true gray
- inability to disable colors in prompts: setting NO_COLOR now disables colors even in prompts
- the text representing the default value in prompts can be invisible: now fixed

For new issues with c

[2020-09-16 16:51] mislav commented on #1679
Fixed in https://github.com/cli/cli/pull/1699 🎉

[2020-09-16 16:51] #1679 closed, assigned to vilmibm

[2020-09-16 16:53] #317 closed

[2020-09-16 16:53] #458 closed

[2020-09-16 16:53] #867 closed

[2020-09-16 16:53] #924 closed

[2020-09-16 16:53] #1486 closed, assigned to nobody

[2020-09-16 16:53] #684 closed

[2020-09-16 16:53] #800 closed

[2020-09-16 16:53] #1032 closed, assigned to nobody

[2020-09-16 16:53] #1098 closed, assigned to nobody

[2020-09-16 16:53] #1330 closed, assigned to nobody

[2020-09-16 17:09] vilmibm commented on #1260
sorry I forgot to circle back to this issue.

i ended up adding support for editing existing files in a gist in #1699 but it's limited; I'd like to see this adapted into a `--clone` options for `gist edit` to allow adding new files and deleting files and such.

[2020-09-16 17:11] vilmibm commented on #380
does the cleanup support added to `pr merge` solve this issue?

[2020-09-16 17:12] vilmibm commented on #1281
I added `gist list` #1699

[2020-09-16 17:12] #1281 closed, assigned to nobody

[2020-09-16 17:14] vilmibm commented on #1670
The core team is going to be designing and working on actions support soon :+1: I'll leave this issue open so that we keep dependabot in mind when doing that design work.

[2020-09-16 17:15] vilmibm commented on #1597
closed in #1623

[2020-09-16 17:15] #1597 closed, assigned to nobody

[2020-09-16 17:18] vilmibm commented on #1614
We had this in initial prototypes but worried it made for too many choices in the confirmation step. Now that we've had pr create for a long time I'm okay revisiting this; what do you think, @ampinsk ?

[2020-09-16 17:21] felipecrs opened #1711 "gh release create --checksums"
Support including checksums for the [GitHub Release created by `gh`](https://github.com/cli/cli/pull/1552) with:

[code]

This should generate a `.txt` file with the checksums of all the files included in the release, following the [`goreleaser` strategy](https://goreleaser.com/customization/checksum/) (so we at least follow a pattern), the same one used in the `gh` official releases as well.

Thi

[2020-09-16 17:25] Jackenmen commented on #380
@vilmibm only a rather small part of it. The conditions for it to cleanup the branches are rather specific:
a) PR needs to be merged from cli (which I don't expect most people to do, although I can't prove that with any data)
b) PR needs to be merged by person that made the branch or at least has access to it (which won't be case for forks). In the latter case, it doesn't solve the cleanup of loca

[2020-09-16 17:26] Milo123459 commented on #1670
Yay! Thanks guys!

[2020-09-16 17:26] vilmibm commented on #528
I believe this is fixed as of #1630

[2020-09-16 17:26] #528 closed

[2020-09-16 17:27] vilmibm commented on #503
I think we can call this closed as of #950

[2020-09-16 17:27] #503 closed

[2020-09-16 17:38] vilmibm opened #1712 "port gist list to use graphql"
gist list is being inefficient right now because i had to do secret/public filtering on the go side instead of via the api; this issue covers porting gist list to use graphql and evaluating if more gist querying can switch to graphql

[2020-09-16 17:40] #1570 closed, assigned to nobody

[2020-09-16 17:41] vilmibm commented on #1353
Going to call this closed as per #1552

[2020-09-16 17:41] #1353 closed, assigned to nobody

[2020-09-16 17:53] vilmibm commented on #1685
Just manually added packages for: oldstable, testing, unstable, stretch, buster, jessie, bullseye

[2020-09-16 18:19] msfjarvis commented on #1486
Thanks for the fix @mislav! I love the UX for this 🙌

[2020-09-16 18:19] darkred commented on #703
Just wanted to report that both issues of the OP are still present in today's first out of beta release 1.0.0 .
I'm sure the devs have this issue in mind,
it's just that those, like me, that install the first non beta version of GitHub CLI via gh_1.0.0_windows_amd64.msi ,
get the wrong impression that the installed `gh.exe` is a x86 binary.

[2020-09-16 18:59] mislav commented on #642
@adimyth No, but you can query the list of repositories using `gh api`. Here's an example alias you can set up:

[code]
Usage:
[code]

[2020-09-16 19:09] tierninho opened #1714 "browser open failure from within virtual box"
When authenticating github.com on Linux (Ubuntu) I am getting a parser error when opening the browser to enter the one-time code.

![Screen Shot 2020-09-16 at 9 04 25 AM](https://user-images.githubusercontent.com/14828183/93381186-ff484600-f7fb-11ea-808e-86cac5c6e312.png)

The authentication worked, but I thought this should be surfaced.

v1.0.0

[2020-09-16 21:41] #1685 closed, assigned to vilmibm

[2020-09-16 22:19] kazi-rakib opened #1715 "Test issue created from gh"

[2020-09-16 22:44] GMNGeoffrey commented on #1532
@mislav Ping on the above comment, since I don't think this issue is actually fully fixed.

[2020-09-16 22:45] swrobel commented on #1027
I just saw gh hit 1.0 ... any movement on this?

[2020-09-16 23:44] #1715 closed, assigned to nobody

[2020-09-17 06:54] trim21 commented on #1540
When version 1.0.0 could be included in github actions? I'm looking forward to use new feature of gh.

[2020-09-17 09:53] mislav opened #1718 "Allow setting a default push target for `pr create`"
In #1706 we've changed `pr create` so it no longer automatically pushes to a remote, but prompts instead. We made that change because, during beta, we weren't able to find a default that people would be generally satisfied with. Some people always want to push to their fork, some always want to push to the base repo even though they might have a fork, and some want to avoid auto-pushing altogether

[2020-09-17 09:58] mislav commented on #1532
@GMNGeoffrey Sorry about that! Reopening

I'm thinking that, instead of listing every possible attribute of a PR in a line-based format, we could consider allowing you to specify exactly which fields you need and output just those in a format of your choosing (JSON, YAML, etc.). #1089

[2020-09-17 10:14] mislav commented on #1540
@Trim21 It usually doesn't take too long! In the meantime you can always download the binary directly from releases via a script.

[2020-09-17 10:19] davidwessman commented on #1718
Thank you for a great addition to my daily workflow (with the cli), but I was confused after the latest update.

Glad to see you already have an issue for it and :+1: for it being per-repository!

[2020-09-17 11:19] mislav commented on #1000
In v1.0, we've changed the "default" remote behavior: https://github.com/cli/cli/pull/1706

When in a context of a fork, we now ask you to select the default remote that will be queried for issues and pull requests. If you occasionally need to send a PR to another remote, you can override it with the `-R owner/repo` flag.

[2020-09-17 11:19] #1000 closed

[2020-09-17 11:23] mislav commented on #1027
@swrobel We do add the `upstream` remote in addition to the `origin` remote after you use `gh repo clone` on a fork. But we haven't made any plans to add commands for managing git remotes like you were describing.  We may re-prioritize this for a future release! Thank you for your patience 🙇

[2020-09-17 13:40] Harvie opened #1720 "Login using default SSH key"
### Describe the feature or problem you’d like to solve

I have full access to github repository using ssh key and my ssh client uses this key by default. Why do i need to login using `gh auth login`? Can't you just try to autologin using default ssh key without any additional tokens???

### Proposed solution

I want to install `gh`, change directory to git working tree (with properly set github o

[2020-09-17 13:48] DJLink commented on #1720
You can use
`gh config set -h github.com git_protocol ssh`
to set default protocal to ssh
it's just that default is https

see this for more info, it helped me https://github.com/cli/cli/issues/1347

[2020-09-17 13:49] silvenon opened #1721 "What is the recommend workflow with gh issue list + gh issue view <id>?"
### Describe the feature or problem you’d like to solve

When I list issues with `gh issue list` and want to see a particular one, copying the ID to paste it to `gh issue view` is awkward because `gh issue view` takes the issue ID without the leading `#`. I like to double-click to select, which includes `#`.

### Proposed solution

Can `gh issue view` be extended to allow the leading `#` or is the

[2020-09-17 13:49] jglick commented on #1718
A hybrid of the two: when choosing a push target for the first time, _prompt_ whether to remember it for this repository (and also offer a command to undo or change that decision later).

[2020-09-17 13:50] xPaw opened #1722 "Add sync command from `hub`"
### Describe the feature or problem you’d like to solve

From [hub-sync documentation](https://hub.github.com/hub-sync.1.html), it does the following:
- If the local branch is outdated, fast-forward it;
- If the local branch contains unpushed work, warn about it;
- If the branch seems merged and its upstream branch was deleted, delete it.

This command is basically the only reason I have `hub` ins

[2020-09-17 13:51] silvenon commented on #1721
Sorry, forgot to search, found #315. 🤦‍♂️

[2020-09-17 13:51] #1721 closed, assigned to nobody

[2020-09-17 13:53] silvenon commented on #1721
The solution is to use quotes e.g. `gh issue view "#2244"`. I recommend adding this to documentation somehow, perhaps even _instead_ of the examples without `#`.

[2020-09-17 14:00] Saturn opened #1723 "Windows Installer - Back button not working on Ready To Install Page"
### Describe the bug

On the windows installer, you cannot click Back once you get to the 'ready to install' page of the wizard.
You can click Back on the other pages and it will take you back.

I understand that [go-msi](https://github.com/mh-cbon/go-msi) is being used and of course the WiX Toolset so bug may be in one of those projects.

`gh_1.0.0_windows_amd64.msi`

https://github.com/cli/cli/r

[2020-09-17 14:08] mislav commented on #1723
Thank you for reporting!

[2020-09-17 14:09] mislav commented on #1722
Thank you for the request!

I'm biased, but I love `sync`. Hopefully we could build something even better into gh. 🤘

[2020-09-17 14:13] vilmibm commented on #1722
I would love to have this command! I find myself reaching for it often.

[2020-09-17 14:14] vilmibm commented on #1720
Sorry for the confusion. It's not possible to authenticate with GitHub via SSH; SSH is just for the underlying git repos. Just like you have to log into github.com in the browser before you can interact with your repositories you need to use `gh auth login`.

[2020-09-17 14:14] #1720 closed, assigned to nobody

[2020-09-17 14:18] passsy opened #1725 "Trigger Github Actions workflow"
### Describe the feature or problem you’d like to solve

It's not possible to trigger Github Actions from the CLI. This would drastically improve how I manually trigger release workflows.

Documentation [GitHub Actions: Manual triggers with workflow_dispatch](https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/)

It is already possible to do this from the

[2020-09-17 14:27] mislav commented on #1725
Thank you for the detailed feature request! 🙇

[2020-09-17 14:31] charud opened #1726 "Error while authentication with GHE: redirect_uri_mismatch"
### Describe the bug

When authentication using a web browser and Github Enterprise, I am redirected to localhost with `redirect_uri_mismatch`  and the message: `The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application`

On `gh version 1.0.0 (2020-09-16)`

### Steps to reproduce the behavior

1. Type
[code]

2. Takes me to

[code]

Which displays "ERR_CONNETION_REFUSED" in Chro

[2020-09-17 14:34] edemaine opened #1727 "PAGER + Cygwin = partial output"
### Describe the bug

The `PAGER` support mentioned in #528 seems not to work in Cygwin, at least with `zsh` shell and `PAGER=less`: only part of the output comes to be shown.  Setting `PAGER=` causes `gh issue list` to work fine on Cygwin.

### Steps to reproduce the behavior

Run a Cygwin shell, zsh, and type the following:
[code]

Here's a sample output:
[code]
The `%` appears in reverse video.

[2020-09-17 14:34] gleich commented on #1055
Hey @mislav! Any update on this? I would love to help out if you guys are already working on it.

[2020-09-17 14:37] Vicente015 opened #1728 "Add option to specify branch in gh repo view"
### Describe the feature or problem you’d like to solve

I would like to see the description and README of a repo on a specific branch.

### Proposed solution
- Using a flag like:``-b`` and ``--branch``
  Example: ``gh repo view RepoName --branch BranchName``

- Or maybe in the arguments like:
 ``gh repo view RepoName@branchNameHere``

### Additional context

![image](https://user-images.githubuse

[2020-09-17 14:37] joerchan opened #1729 "Linux installation instruction issues"
### Describe the bug

Problems encountered while following linux installation instructions.
Using Linux Mint 19.3

No `apt-add-repository` command. Should be `add-apt-repository`.
No `-u` for `add-apt-repository`, works fine without `-u`
`apt install gh` before `apt update`

Successful install:
[code]

[2020-09-17 14:38] mislav commented on #1727
Thank you for the detailed report!

Can you check if the issue is the same when you also set the `LESS` environment variable to something like `LESS=RX`, or some other value that excludes `F` which we would otherwise set by default?

Also, if you use a pager other than `less`, e.g. `cat`, is the output intact?

[2020-09-17 14:39] mislav commented on #1726
@charud Thank you for the report! Could you tell us which GHE version you tried to authenticate to?

[2020-09-17 14:51] edemaine commented on #1727
Good ideas!

`PAGER=cat gh issue list` produces the same sort of output, terminated by the reverse-video `%`.

`PAGER=less LESS=RX gh issue list` also seems the same.  My default `LESS` setting was `-R`. But given that it doesn't work with `cat`, doesn't seem to be a `less` issue.

`PAGER=ls gh issue list` produces the output of `ls` (without formatting), as expected.  Ditto for something with a l

[2020-09-17 14:51] kojiromike opened #1730 "Alias + API + template = everything"
### Describe the feature or problem you’d like to solve

I'd like to be able to extend the gh commandline infinitely by using the api. Oh wait, I can already do this, but it's a lot of work. I'd like it to be safer, neater and less work.

### Proposed solution

Instead of writing

[code]

I'd like to write something like

[code]

or

[code]

and avoid the pipeline (particularly when putting the ab

[2020-09-17 14:55] Harvie commented on #1720
I know. That is why i've opened this issue in the first place. Can you please add this feature?

[2020-09-17 14:56] Harvie commented on #1720
And yes, i am fully aware that this would probably mean to add SSH based auth service to the github servers.

[2020-09-17 14:57] vilmibm commented on #1730
I like the `--jsonpath` idea! I'll let @mislav weigh in since he's thought about this kind of stuff with `hub` a fair bit.

As for `--template`, can you give a more detailed example? I'm not understanding what it would do.

Thanks for starting this conversations, these are definitely the kind of improvements we'd like to make to `alias`.

[2020-09-17 14:58] charud commented on #1726
@mislav Hi! The GHE version is `GitHub Enterprise Server 2.18.21`

[2020-09-17 15:01] vilmibm commented on #1729
- Both `apt-add-repository` and `add-apt-repository` exist and are equivalent for me; is that just an ubuntu-ism? I didn't test directly on debian or any ubuntu downstream besides pop_os.
- the `-u` means you don't need to run the subsequent `apt update`; was that not your experience?
- I'm not sure what you mean by "`apt install` before `apt update`", where did you see that?

[2020-09-17 15:03] iamrajiv commented on #1650
@mislav Can you help where is `https://cli.github.com/manual/` file is located

[2020-09-17 15:11] joerchan commented on #1729
True, I have both as well, so scratch that.

No, this argument was not supported
`apt-add-repository: error: no such option: -u`

I guess that is a consequence of not having the -u option then.

[2020-09-17 15:21] iamrajiv commented on #1650
@mislav Can you help where is https://cli.github.com/manual/ file located.

[2020-09-17 15:32] benknoble opened #1733 "Use git's core.pager by default, *then* fallback to PAGER (when not configured in gh)"
Everything I'm about to say assumes that you have not run `gh config set pager ...`.

### Detailed description

`gh` defaults to the PAGER environment variable, but core.pager seems like a more reasonable default

I actually have slightly different settings between the two; they both use less, but I don't want git output paged if it doesn't need to be. core.pager includes less's -F flag, whereas m

[2020-09-17 15:35] chandrikadeb7 opened #1734 ""reference" help topic to list all commands and subcommands"
### Searching for a particular gh CLI command can be cumbersome

There must be a separate command such as 'gh manual' which lists all the GitHub CLI commands and its usage.

### Proposed solution: New command 'gh manual'

It will benefit all the users to quickly skim through and find the needful command in few seconds.

[2020-09-17 15:37] vilmibm commented on #1734
Thanks for raising this!

All of the top level commands are listed in `gh help`; are you talking about listing all of the subcommands, too?

[2020-09-17 15:38] ericcurtin opened #1735 "Skip certificate warning, using internal enterprise CA "certificate signed by unknown authority""
### Describe the bug

gh deems connection is insecure, it's secure, it's just using some internal certificates it's unaware of

### Steps to reproduce the behavior

gh auth login
? What account do you want to log into? GitHub Enterprise Server
? GHE hostname: somehostname
- Logging into somehostname
? How would you like to authenticate? Paste an authentication token

Tip: you can generate a Person

[2020-09-17 15:42] loksonarius commented on #1709
Nothing to add besides "thanks for working on this, mate! ❤️".
Just ran in to this issue myself with GHE -- really relieved to see you already had a spike PR for this. Thanks!

[2020-09-17 15:42] sergeyklay opened #1737 "Colors support in Gnome Terminal looks ugly"
### Describe the bug

Output of issues w/ zero configuration looks inappropriate. `NO_COLOR=1 gh issue list` fixes the issue but I have no idea why gh tries to use colors if it can't.

[code]

### Steps to reproduce the behavior

1. Type this 'gh issue list'
2. View the output
![image](https://user-images.githubusercontent.com/1256298/93493554-b1733100-f914-11ea-9489-a84db068e9c9.png)
3. See error

[2020-09-17 15:51] vilmibm commented on #1737
whoa, sorry about this. I use `gnome-terminal` daily (with `TERM=xterm-256color`) and have never had this issue. other color-utilizing programs are working ok?

[2020-09-17 15:59] sagikazarmark opened #1739 "Disable interactive mode using env var or flag"
### Describe the feature or problem you’d like to solve

Here is my current workflow for releasing CLI tools using GitHub Releases:

- Tag a new version
- CI runs for the tag and builds artifacts
- CI creates a new GitHub Release for the tag and uploads assets using [hub](https://github.com/github/hub)

As far as I can tell, `gh` is more targeted at being used locally by actual users which doesn't

[2020-09-17 15:59] kojiromike commented on #1730
Honestly I hadn't thought much more than using go templates. You can do this with tools like docker, kubectl and helm. It gives you a little more flexibility than jsonpath to make actual templates, but you can also do very simple things similar to jsonpath with it. Consider

[code]

I think it would be great to be able to do

[code]

(or `--template`, or whatever tag you think is best) and get eac

[2020-09-17 16:00] cosmicle0 opened #1740 "Provide non-admin mode from the Windows installer"
Hey there,

I'm trying to install github cli, but it seems like it needs admin privileges on windows. Is there a way to get a non-admin installer or a portable version?

Thanks!

[2020-09-17 16:02] jjcarstens commented on #1729
Is Ubuntu 19.10 supported for `apt install`?

I had a bit of issues trying to fetch as a package and ultimately just downloaded the binary. But figured I'd put here for posterity -

First, I was unable to fetch the key:
[code]

Resolved that following [this StackExchange](https://unix.stackexchange.com/questions/399027/gpg-keyserver-receive-failed-server-indicated-a-failure) (i.e. use port 80 or e

[2020-09-17 16:11] cosmicle0 commented on #1740
Sorry, I just found out that there's a zip release in the releases page. Thanks :)

[2020-09-17 16:15] gleich commented on #1712
@vilmibm started work on this.

[2020-09-17 16:19] chandrikadeb7 commented on #1734
Yes all of the commands and their relevant syntax

[2020-09-17 16:25] theunkn0wn1 opened #1741 "Cannot install on non-LTS ubuntu"
When attempting to install Github Cli on Ubuntu 20.04 via the apt route, the install fails due to the lack of a release file.

## Steps to reproduce
Follow linux ubuntu install directions.
[code]
## Expected result
Github CLI is installed

## actual result
[code]

[2020-09-17 16:26] kbsali commented on #1729
same issue as @jjcarstens on `20.04`, impossible to import the key

[2020-09-17 16:27] theunkn0wn1 commented on #1741
Should have searched a little deeper, may be related to #1729

[2020-09-17 16:32] dannycolin commented on #1009
It could also support showing a specific comment with something like:
[code]

[2020-09-17 16:34] alishah730 opened #1742 "Gh auth login Unknown command"
### Describe the bug

`gh --version`.
[code]

I have installed gh via brew in my mac ,while trying to auth its saying unknown command

### Steps to reproduce the behavior

1. Type this '`gh auth login'`
2. View the output 'unknown command "auth" for "gh"'
3. See error: Usage:  gh <command> <subcommand> [flags]

Available commands:
  alias
  api
  completion
  config
  gist
  help
  issue
  pr
  re

[2020-09-17 16:34] mislav commented on #1726
@charud Thank you for looking that up!

I'm afraid that GHE 2.18 is a little too old for web authentication to work for command-line apps, and we cannot fix that from GitHub CLI. Therefore, I will be closing this.

However, I'm glad that you have discovered a workaround using Personal Access Token. You are also right that `gh pr status` isn't working— we're tracking that in https://github.com/cli/

[2020-09-17 16:34] #1726 closed, assigned to nobody

[2020-09-17 16:34] LoneWolfHT commented on #1741
Worked fine for me just now on Kubuntu 20.04.

Looks like the output of my first command is different from yours though:
[code]

[2020-09-17 16:34] electrum commented on #1038
I use `ghi` for this today:
[code]

[2020-09-17 16:37] theunkn0wn1 commented on #1741
my output is probably `unchanged` as I already had the key @LoneWolfHT

[2020-09-17 16:38] mislav commented on #1721
Thanks for the suggestion! We've received feedback that it's tricky to act on individual items presented in `gh issue/pr list`, since it usually requires copy-pasting. We are going to explore solutions in a future update.

We don't really want to recommend using `#123`, even when quoted, because as soon as you forget the quotes, you end up with a confusing error (or worse, defaulting to the curren

[2020-09-17 16:39] mislav commented on #1728
Thank you for the suggestion! We might explore something like this in #217

[2020-09-17 16:40] mayt-moonboy commented on #1734
I think what you are looking for is
[code]

[2020-09-17 16:41] trammel-may commented on #1734
I think what you are looking for is
[code]
which appears to be incomplete currently.

[2020-09-17 16:41] sergeyklay commented on #1737
Yeah, everything is OK with color support

![image](https://user-images.githubusercontent.com/1256298/93501456-25fe9d80-f91e-11ea-86f4-fe92200c1806.png)

[2020-09-17 16:42] amingilani opened #1743 "Text is unreadable with Solarized Dark theme in iTerm2 because colors are similar to background"
### Describe the bug

With iterm2's Solarized Dark theme, the current default theme is unreadable in commands like:

+ `gh repo view`
+ `gh issue view`

[code]

This is due to the fact that the dark text colors blend in with the background. See screenshots.

### Steps to reproduce the behavior

1. Change item2 to use the Solarized Dark theme
2. Run the commands above
3. Try to read the output

###

[2020-09-17 16:43] mislav commented on #1730
I would love something like this! I was hoping to add it in, but I had no idea how a query or template language should look like.

I would suggest not going with Go template route because that might be a little too low-level to expose to end-users, but some established JSON querying language such as jsonpath or jq would be great if it was baked in! 🤘

[2020-09-17 16:50] mislav commented on #1733
Thank you for the feedback!

Since `gh` is a completely separate tool from `git`, I'm not sure if respecting git's config settings would be the right way to go. Some other person might argue that they didn't expect that changing a `core.pager` setting in git should affect how gh works. I feel like it's best if these tools maintain their separate configurations.

That said, I do hear your pain with

[2020-09-17 16:53] chandrikadeb7 commented on #1734
Yes!

`man gh` command will do the needful.

[2020-09-17 16:54] trammel-may opened #1744 "Unrecoverable State: GraphQL error: Field 'statusCheckRollup' doesn't exist on type 'Commit''"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

I cancelled a gh pr create command midway through and now any/all github pr commands result in the following error:

[code]

*Every gh pr command returns this error message now. I have no way to succeed*

### Steps to reproduce the behavior

1. Type this 'gh pr create`
2. Go through

[2020-09-17 16:54] mislav commented on #1735
@ericcurtin Thank you for reporting! What format are your custom certificates in? To cover use-cases like this, we should allow a configuration option to read a custom certificate, likely from disk, when establishing connection to a GHE server.

Ideally, gh would just pick up certificate from your system's Keychain store, but I'm not sure if it's feasible to build cross-platform support for this.

[2020-09-17 16:58] LoneWolfHT commented on #1741
Being unfamiliar with keys what would happen if you deleted it before running the install commands?

[2020-09-17 16:59] mislav commented on #1737
@sergeyklay Could you try resetting your `PAGER` and `LESS` environment variables to test out raw output from gh?

[code]

I'm thinking that you might have PAGER set to something like `less` but that there is also a `LESS` environment variable that doesn't include the `-R` flag.

[2020-09-17 17:00] natdempk opened #1745 "Repo commands assume non-enterprise auth and fail trying to auth against github.com"
### Describe the bug

I've configured enterprise GitHub auth, but when I run a command like `gh repo clone "ndempkowski/python-stuff"` which refers to an enterprise repository, it seems like the cli assumes that I want to resolve against github.com. This leads to an error instead of my repo being cloned.

### Steps to reproduce the behavior

1. Authorize as an enterprise user with token auth (I th

[2020-09-17 17:01] theunkn0wn1 commented on #1741
@LoneWolfHT It made no difference. The install fails even if the key wasn't already imported.

[2020-09-17 17:05] LoneWolfHT commented on #1741
[code]
Last thing I can see is that I'm updating with a focal release and you're trying to update with an eoan release (Which is 19.10?)
[code]

[2020-09-17 17:05] mislav commented on #1739
Hi, thanks for explaining your workflow!

If you take a look at `gh release create -h`, you will see that there are a number of flags available. If you use them, the command will run without prompting you for anything (regardless of the `prompt` config setting):

[code]

As long as you pass `--notes` or `--notes-file`, you will be fine 👍 Does that work for you, or is it too surprising?

[2020-09-17 17:06] mmshivesh commented on #1742
Can reproduce the same issue.

### OS:

`macOS Catalina 10.15.6`

### Brew:

[code]

### CLI version:

[code]

### Logs:

[code]

[2020-09-17 17:06] mislav commented on #1740
Thanks for letting us know! In the future, we might try to allow a non-admin install.

Protip: you can also install over package managers such as Chocolatey or Scoop 👍

[2020-09-17 17:07] theunkn0wn1 commented on #1741
Woops yeah, i thought this device was 20.04, this is indeed 19.10.

[2020-09-17 17:08] mislav commented on #1742
Hi, it appears that you both have an outdated version of gh. The latest version is v1.0.0.

To upgrade using Homebrew:
[code]

✨

[2020-09-17 17:08] #1742 closed, assigned to nobody

[2020-09-17 17:09] theunkn0wn1 commented on #1741
Also can confirm a local build works. Since this project is in golang it was relatively painless..

[2020-09-17 17:10] LoneWolfHT commented on #1741
That may be the issue then
![image](https://user-images.githubusercontent.com/28972859/93504109-df815280-f8cd-11ea-91f6-5898ac426148.png)

[2020-09-17 17:11] vilmibm commented on #1741
I recently added a bunch of debians and all Ubuntu LTSs so I should update the linux installation instructions.

I can add some recent non-LTS ubuntus, also; if there is a better way of doing this than a bunch of entries in `script/distributions` i'm all ears.

[2020-09-17 17:11] zautumnz opened #1746 "Path error when BROWSER set incorrectly"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

Using version 1.0.0. Running a command like `gh pr view NNN --web` fails. I'm on Mac 10.15.6, Firefox 81.05b (Developer Edition), using Terminal.app. There's a similar issue [here](https://github.com/cli/cli/issues/1064), but in my case it fails both in and outside of Tmux.

### Ste

[2020-09-17 17:11] sagikazarmark commented on #1739
Hi, thanks for the quick answer.

I guess it's a good start, but I doubt it's gonna be enough. The first question is the title for instance.

I could pass all of those arguments as a workaround, but in general, forcing a non-interactive mode sounds like a better solution in the long run. (ie. what happens if more interactive options are added to the command? it will just fail I guess)

[2020-09-17 17:12] deadmoose commented on #1744
I'm seeing similar from the very start without any cancelled interactions triggering it. I'm running 1.0.0 (2020-09-16) against a GHE instance running 2.20.14.

`gh pr list` works, but most other things fail looking for `statusCheckRollup` on `Commit`. `pr status` _also_ fails looking for `reviewDecision` on `PullRequest`

[2020-09-17 17:13] vilmibm commented on #1744
Sorry about this!

It's a known issue and we intend to introduce it in the upcoming point release: https://github.com/cli/cli/issues/1709

[2020-09-17 17:13] #1744 closed, assigned to nobody

[2020-09-17 17:18] vilmibm commented on #1745
that _should_ work; sorry about that.

- It looks like it from the `auth status` output but I'm guessing `git.hubteam.com` is the only host you've told gh about?
- Is it possible that the repo you are trying to clone is in an organization with extra permissions required?
- What happens if you run `gh repo clone` with the full URL of the repository as an argument?

[2020-09-17 17:18] mislav commented on #1745
@natdempk For now, commands require you to explicitly set a hostname if it's not github.com:

[code]

If that proves to be tedious, you can set the GH_HOST environment variable with the name of your host:
[code]

Be warned though, if you then want to clone `owner/repo` from `github.com`, you'll have to type `gh repo clone github.com/owner/repo`.

Is the current design and workaround acceptable for

[2020-09-17 17:22] theunkn0wn1 commented on #1741
Im not aware of any good ways without creating a bunch of entries.

There are two routes I see, either add a bunch of non-lts targets which would satisfy the immediate issue, though incurs  maintenance costs as new non-lts releases are made.

The other route I see is only provide builds for LTS releases, and reference the build instructions for not officially supported platforms. Right now a manua

[2020-09-17 17:22] vilmibm commented on #1743
Sorry about this; I *think* this has to do with macos's dark mode setting not informing terminal applications whether the background is light or dark.

for reference, here's output on solarized dark in gnome-terminal:

![image](https://user-images.githubusercontent.com/98482/93505363-60494a00-f8e0-11ea-8d8d-088ba8c0ec29.png)

@mislav runs macos and will be of more help here, but I think until we c

[2020-09-17 17:24] deadmoose commented on #1709
Since the description here only calls out the `statusCheckRollup on Commit`, I just want to mention that (on GHE 2.20.14, at least), `pr status` _also_ hits `Field 'reviewDecision' doesn't exist on type 'PullRequest'`

[2020-09-17 17:25] simone-viozzi commented on #1741
I'm on ubuntu 20.10 (groovy gorilla) and i have the same issue.

[code]

[2020-09-17 17:26] sergeyklay commented on #1737
Hmm.. `PAGER= gh issue list` does the trick.

[code]

Appropriate config from my bashrc:
[code]

Is there any recommendation to get gh working?

[2020-09-17 17:28] vorot93 opened #1747 "Cannot install on Fedora Silverblue"
`rpm-ostree install gh`

1. With GPG check enabled: `failed to lookup digest in keyring for /var/cache/rpm-ostree/repomd/gh-cli-32-x86_64/packages/gh_1.0.0_linux_amd64.rpm`
2. Without GPG check: `Unsupported path: /usr/local/bin/gh; See https://github.com/projectatomic/rpm-ostree/issues/233`

[2020-09-17 17:30] vilmibm commented on #1747
Sorry about this.

For the gpg check, the RPMs are indeed signed; has our key been imported properly?

For the path issue, I believe this will be fixed by #377 ?

[2020-09-17 17:31] mislav commented on #1746
Hi! We do use `open` on mac. Do you have `BROWSER` environment variable set to `firefox` by any chance?

[2020-09-17 17:34] FrancoCuevas444 opened #1748 "never truncate URLs in tabular output"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this 'gh pr checks'
2. I see the output
<img width="951" alt="Captura de Pantalla 2020-09-17 a la(s) 14 35 06" src="https://user-images.githubusercontent.com/14032267/93506680-fbe3b600-f8f2-11ea-9721-42ff3fee43d4.png">
3. The urls are inc

[2020-09-17 17:34] zautumnz commented on #1746
Ah, I do, since I share my same dotfiles between Mac and Linux. Wrapping that in an `if [[ $(uname) != 'Darwin' ]]` fixes it!

[2020-09-17 17:36] vilmibm commented on #1748
thank you for opening this! it's a known issue but I don't think we'd captured it yet.

We need to adapt our table printer utility to never truncate URLs.

[2020-09-17 17:37] zautumnz commented on #1746
I see where the relevant code is, I submitted a PR to handle that case. If that's not desired, please let me know and I'll close the PR and this issue.

[2020-09-17 17:38] mislav commented on #1748
For now, you can try piping the output through `cat` to get around this, but then you will lose the pretty table formatting:

[code]

[2020-09-17 17:38] amingilani commented on #1743
Hmmm, that may be true. That said, changing to dark themes does not have an effect. In fact, none of the options have any effect on how the text blends with the background.

<img width="672" alt="Screen Shot 2020-09-17 at 1 36 27 PM" src="https://user-images.githubusercontent.com/1188552/93506919-f2eee680-f8ea-11ea-90df-1aeb90695b9c.png">

[2020-09-17 17:42] amingilani commented on #1743
Is there a way to force the correct color scheme through `gh config`?

[2020-09-17 17:44] mislav commented on #1743
@amingilani Thank you for reporting! I just tried to reproduce in iTerm2 with Solarized Dark, but could not.

Do you have GLAMOUR_STYLE set in your environment variables by any chance?

[2020-09-17 17:47] natdempk commented on #1745
Ah cool, thanks for the context and workaround. To answer some of the above questions:

Correct.

No, it is just from my personal user.

So, this actually seems like it may have uncovered another bug, though this might also be intended behavior. 😅 I noticed that it sort of works, but in this case I am asked for a username + password for the clone instead of using my configuration to clone via ssh

[2020-09-17 17:51] princekumar294 opened #1750 "demo"

[2020-09-17 17:51] #1750 closed, assigned to nobody

[2020-09-17 18:02] tyron opened #1751 "GHE doesn't work with certificates signed by private CA"
### Describe the bug

Trying to login to a GitHub Enterprise server with a certificate signed by a private CA fails due to unknown certificate authority. My GHE is running on 2.21.6.

### Steps to reproduce the behavior

1. Type `gh auth login --hostname myserver.example.com --web`
2. View the output: `failed to authenticate via web browser: Post "https://myserver.example.com/login/device/code": x

[2020-09-17 18:04] tyron commented on #1751
Seems like someone opened the same between I started writing this and actually sent out: #1735
This is probably a duplicate at this point

[2020-09-17 18:06] kennyvallejoc opened #1752 "Select/Unselect reviewers on already created PR"
### Describe the feature or problem you’d like to solve

Select reviewers for my already created PR

### Proposed solution

Add a new option in the `pr review` option which will be `reviewers`

### Additional context

[2020-09-17 18:07] mislav commented on #1751
@tyron Thank you! Yes, indeed a duplicate. You can always close your issues yourself 😉

Please add to that thread if you have more info, e.g. which format is your custom certificate in, how do you imagine it, etc. This will help us out building the feature 🙇

[2020-09-17 18:07] #1751 closed, assigned to nobody

[2020-09-17 18:17] vilmibm commented on #1752
I think we'd solve this with a `pr edit` command.

[2020-09-17 18:20] GMNGeoffrey commented on #1532
No worries. I agree some sort of structured output would be nice

[2020-09-17 18:36] tyron commented on #1735
I was actually able to solve my problem on a macOS. The problem was not really on GitHub cli, rather how Go trusts (or not) the certs available.

In my case, I had to go to Keychain Access and find the root/intermediate certificate used to sign my GHE server. Once I found it, double clicked, expanded the Trust section and selected to "When using this certificate: Always Trust". Probably trusting c

[2020-09-17 18:36] corytheboyd commented on #1743
This same thing happens for me:

![image](https://user-images.githubusercontent.com/692632/93513017-0fceee00-f8da-11ea-8d71-4f82241e1ec5.png)

FWIW this variable is not set in my environment.

[2020-09-17 18:37] etiennedi opened #1753 "Scroll through interactive menus with Ctrl-J/K"
First up, amazing work. Thank you so much. As a daily GitHub user, I know I'll use this CLI a lot.

### Describe the feature or problem you’d like to solve

Currently, I need to use the arrow keys to select a menu item in interactive menus. That breaks my workflow because my hands have to leave the home row

### Proposed solution

Allow `CTRL-J` (in addition to `Arrow-Down`) and `CTRL-K` (in addit

[2020-09-17 18:41] natdempk opened #1754 "Creating a pr fails against GitHub Enterprise"
### Describe the bug

Running `gh pr create` fails with an error.

We are running GitHub Enterprise 2.20.16. Per the docs this should be a supported version:

### Steps to reproduce the behavior

1. Setup token auth
2. Clone a repository
3. Run `gh pr create` and see an error

[code]

My auth status shows all should be good here:

[code]

### Expected vs actual behavior

I expect to be able to cre

[2020-09-17 18:41] etiennedi commented on #1753
Update: Just realized, I can also type to filter. That does indeed solve the "have to leave the home row" issue. But it might not solve the problem that I intuitively pressed `Ctrl-J` and got unexpected behavior (a submit of the selected item). I'd assume that other users who are used to `fzf` could run into the same?

[2020-09-17 18:42] tierninho commented on #1754
Sorry about this!

It's a known issue and we intend to introduce it in the upcoming point release: #1709

[2020-09-17 18:42] #1754 closed, assigned to nobody

[2020-09-17 18:54] benknoble commented on #1733
Thanks for the reply.

Fair, though again we're talking about the specific case where `gh` is not configured with a specific pager.

I'll get by with one of the workarounds, for now.

[2020-09-17 18:59] sergeyklay commented on #1737
Okay, adding `-R` to less fixes the issue. I'm closing this issue but IMO it would be better to mention such use cases in the docs. Thank you for the help.

[2020-09-17 18:59] #1737 closed, assigned to nobody

[2020-09-17 19:04] kbd commented on #1735
Same problem, mainly posting because this also applies to web-based login:

[code]

Chrome can let me proceed when I view the web interface (which is only accessible on our VPN anyway). It'd be nice if `gh` would allow that too.

If the official solution is "you need to add the cert to your system keychain" it'd be nice if there was something in the docs.

[2020-09-17 19:07] ludwiktrammer opened #1755 "SSH key management"
Add the ability to manage SSH keys (https://github.com/settings/keys) via the CLI. This would allow users to set up a repository via SSH entirely from CLI.

In our organization, we provide instructional materials for our developers on how to set up a repository, including setting up an ssh key. It would be great to be able to simply post a set of commands, instead of the current GUI instructions t

[2020-09-17 19:09] navan0 opened #1756 "The repository 'https://cli.github.com/packages disco Release' does not have a Release file."
When I tried to install from apt it's showing the above error , then I tried installing from the source it's returning an error

[2020-09-17 19:14] vilmibm commented on #1756
hi!

this is being tracked in  #1741

[2020-09-17 19:14] #1756 closed, assigned to nobody

[2020-09-17 19:14] worldofgeese commented on #1755
I *just* came here to request this! I'd also like to add GPG key management to this feature request. We have an onboarding script we use during intake of junior devs and it would greatly simplify things for these key management features to be integrated directly.

[2020-09-17 19:21] vilmibm commented on #1741
I just pushed packages for `eoan`, `cosmic`, `disco`, `groovy`.

[2020-09-17 19:33] seejohnrun opened #1758 "Allow updating local base branch after merge"
### Describe the feature or problem you’d like to solve

When we merge a PR with something like `gh pr merge X`, the base branch locally isn't updated automatically. I'd like the CLI to prompt me to update that branch automatically (default to yes) alongside the other options.

### Proposed solution

Prompt to update (default yes) and update if true

### Additional context

https://github.slack.co

[2020-09-17 19:36] park-junha opened #1759 "Create / modify repository labels"
### Describe the feature or problem you’d like to solve

The CLI should have a way to create / modify labels on a repository. This would be useful for users who want to better organize their GitHub Issues (perhaps adopting SCRUM in their projects by adding priority/story point labels)

### Proposed solution

The GitHub GraphQL API already has some mutations to create / modify labels, so the CLI ju

[2020-09-17 19:49] corytheboyd opened #1760 "View requested reviews across repositories"
### Describe the feature or problem you’d like to solve

Any plans to support viewing PRs that I have been assigned to as a reviewer across repos? This is the web view https://github.com/pulls/review-requested

### Proposed solution

Users could view PRs they need to review from the CLI

### Additional context

Wasn't sure if it should pertain to this ticket or not: https://github.com/cli/cli/issu

[2020-09-17 19:51] LiteracyFanatic commented on #1743
I just wanted to chime in that this isn't just an issue with dark themes; the gray text is very hard to read if you have a transparent terminal window as well.

[2020-09-17 20:12] Kilo-Loco commented on #642
The solution provided by @mislav works great but you should be aware of two things:
1. You may want to use `!gh` instead of `!hub` if you dont have `hub` as an alias for the GitHub CLI
2. `jq` needs to be installed on your machine which you can find here: https://stedolan.github.io/jq/

[2020-09-17 20:20] wimglenn commented on #1745
Likely same bug as this - I configured token auth for github enterprise. `gh issue list` , `gh repo view` correctly use GHE.
`gh gist list` does not show my GHE gists, it shows some other public gists from github.com (and not even my own ones, which is strange? is it possible that my enterprise token might collide with someone elses token on github.com?)

Setting the `GH_HOST` var made `gh gist li

[2020-09-17 20:20] vilmibm commented on #1760
Hi!

We list review requested PRs as part of `gh pr status`; does that solve your usecase?

[2020-09-17 20:22] vilmibm commented on #1759
I'm in favor of having labels be editable from gh; I dislike having to switch back to the web UI to manage them, myself. I'm just not sure what the best UX would be here.

Is this best fit by something as specific as `gh label`? or perhaps we could expose via both `gh issue label` and `gh pr label`? I'm curious what @ampinsk thinks.

[2020-09-17 20:24] AM-77 opened #1761 "error using api: Post "https://api.github.com/graphql": net/http: TLS handshake timeout"
### Describe the bug

An error occurred on login

[code]

### Steps to reproduce the behavior

1. `gh auth login`
2. on `What account do you want to log into?` select > `GitHub.com`
3. on `How would you like to authenticate?` select > `Login with a web browser`
4. on `Choose default git protocol` select > `HTTPS`

### Expected vs actual behavior

**expected:** login with no errors
**actual behavio

[2020-09-17 20:25] heaths opened #1762 "Breaking behavior change: pushing topic branch to wrong remote"
### Describe the bug

I've been testing `gh` for quite a while now, and even in v0.12.0 when I ran `gh pr create -w` the branch was pushed to my `origin` remote automatically. I was never asked (my clone uses `origin` for my fork and `upstream` for the main). Now in v1.0, I was asked:

It listed both endpoints, and since the message above reads, "e.g. for querying issues", I chose `upstream`.

It

[2020-09-17 20:27] corytheboyd commented on #1760
@vilmibm Oh nice, I didn't catch that that view had review requests for the repo.

However, It appears to only show review requests for the repo you are currently in the directory of, or a single repo of your choosing with the `--repo` flag. The web client shows PRs you are assigned to for review across ALL repositories, which is very useful for me as I provide feedback across a number of projects

[2020-09-17 20:36] alipiry commented on #1761
@AM-77 Are you sure your internet connection has no problem? I did the exact instructions you've done and got no error!

screenshot:
<img width="1004" alt="image" src="https://user-images.githubusercontent.com/25138854/93525273-02058100-f94b-11ea-998b-b92629cb628e.png">

[2020-09-17 20:38] reneklacan commented on #1741
@vilmibm thanks, confirming that fixed the issue for me on Ubuntu 19.10

[2020-09-17 20:40] vilmibm commented on #1761
This does seem like an internet issue; are you able to run commands like `gh repo view cli/cli`?

[2020-09-17 20:42] vilmibm commented on #1753
I'm open to this change! The slight complication is that right now those prompts are provided by a third party library, `survey`, that we don't have easy control over; I think this might need to be supported upstream. I'll leave this issue open for that investigation.

[2020-09-17 20:43] vilmibm commented on #1760
oh, I missed the "across repos" criteria!

We've been discussing what a `gh status` command might look like that could have cross-repo information like this so we'll keep this issue in mind 👍

[2020-09-17 20:56] ericcurtin commented on #1735
@mislav SSL is no longer considered a secure protocol, but I'm sure you mean TLS :) From an encryption perspective as your data is still encrypted, saying it defeats the purpose of TLS seems extreme. But it does mean you have not configured your system to add this certificate authority as a trusted one, which would be better practice to be sure no-one is pretending to be the host. This is why git,

[2020-09-17 21:07] corytheboyd commented on #1760
Nice, looking forward to following along :)

I know GitHub has historically been very single-repo focused w.r.t. to features so no worries if it requires a fair amount of work on your side

[2020-09-17 21:08] AM-77 commented on #1761
@alipiry  it is working fine.
@vilmibm  yes I am able to run `gh repo view cli/cli`.

[code]

I also got the same `Post "https://api.github.com/graphql": net/http: TLS handshake timeout` output when I tried to run `gh repo clone _repo` and `gh issue list` but this issue occurred only the first time, after that everything is working fine

related issue #514

[2020-09-17 21:12] park-junha commented on #1759
When the design is finalized I'm happy to make an implementation / open a PR on this feature.

[2020-09-17 21:34] abdulsohu opened #1765 "Check all aliases/remove aliases, made for gh."
Hi,

Just started using gh cli. How would I check all the aliases I've made via gh, as well remove any?

[2020-09-17 21:44] mmontes11 commented on #1728
Here it is a PR for this feature:
https://github.com/cli/cli/pull/1766

After reading the docs of [v3 API](https://developer.github.com/v3/repos/contents/) I was tempted to call the param `ref` or `reference` instead of `branch`, because it will work with any git reference (commit/branch/tag).

What do you think about this?

[2020-09-17 21:47] tierninho commented on #1765
Hi @abdulsohu You can check your alias with `gh alias list`. To see all alias commands, type `gh help alias`.

Deleting and other alias commands can be seen here:
https://cli.github.com/manual/gh_alias_delete

Thanks for using gh cli!

[2020-09-17 21:47] #1765 closed, assigned to nobody

[2020-09-17 23:16] dayvsonsales opened #1768 "`gh repo create` ignores repository name"
### Describe the bug

I tried to create a new repository via CLI using a different name than the project folder name, but it seems that CLI ignores this name and always uses the folder name as the repository name to be created.

### Steps to reproduce the behavior

1. ``mkdir test-repo && cd test-repo && git init``
2. ``gh repo create``
3. Type a repository name that's not equal to the folder name

[2020-09-17 23:28] Andre601 opened #1769 "Improve error message when git isn't found on the system"
### Describe the feature or problem you’d like to solve
When using GitHub CLI on Windows Terminal - after installing it as MSI - are you not able to execute any gh-related command such as `gh pr <option>` due to it requiring Git support in the terminal itself.

GitHub CLI will in fact print one of two error messages when attempting to use specific commands in Windows Terminal.
[code]
The above err

[2020-09-17 23:36] eoyx12 opened #1770 "gh pr checkout 8387"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-09-18 00:03] masterneko opened #1771 "Emojis (like this: :emoji_name:) don't display properly in gh repo view"
repo: https://github.com/caelwithcats/test

[code]
The emojis show as the original markdown but if you add a unicode emoji the emoji's will show:
[code]
OS: Linux mint 20
GH version 1.0.0 (2020-09-16)

[2020-09-18 00:09] vilmibm commented on #1769
`gh` _should_ work in windows terminal; I have tested it, but it's been a while since I've tested the .msi installed version.

I'll do some more testing myself but in the meantime agree that we should call out `git` as an explicit dependency on windows if people go the MSI route.

In general I think our MSI installer needs moderate improvement.

[2020-09-18 00:15] vilmibm commented on #1771
Thanks for the report!

To render these we'd have to maintain a local mapping of `:+1:` version to the unicode version. I don't think I'm opposed to incorporating that; there might be an off the shelf library we could leverage.

[2020-09-18 00:52] raiskila opened #1773 "Document where authentication credentials are stored"
### Describe the feature or problem you’d like to solve

I can't find any information on the website or in the CLI help command about where authentication information is stored.

### Proposed solution

Document where GH CLI stores authentication credentials. Also explain the relationship of this with existing GitHub credentials you may have on your system, like an SSH key or git https credentials

[2020-09-18 00:54] binyamin commented on #695
I can confirm that in git bash, `gh <tab>` _does_ complete.

[2020-09-18 01:01] Yue-plus opened #1774 "Incorrect display of Chinese characters in Git Bash on Windows"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-18 01:02] Yue-plus commented on #1774
![QQ图片20200918090230](https://user-images.githubusercontent.com/33195150/93543259-b2947480-f98d-11ea-8b73-34220047e4ad.png)

[2020-09-18 01:04] Yue-plus commented on #1774
[code]

[2020-09-18 01:04] binyamin opened #1775 "tab-completions for powershell don't work on the root command"
CLI version: 1.0.0 🚀
Related: #695

### Describe the bug
- `gh <tab>` does not offer completions, even after running `gh completion --shell powershell |Out-String |Invoke-Expression`.
- However, `gh <command> <tab>` _does_ offer completions.

### Steps to reproduce the behavior
1. Open Powershell
2. Type `gh `
3. Press tab.
4. No completion occurs.

### Expected vs actual behavior
Expected <kbd>gh

[2020-09-18 01:12] binyamin commented on #659
`gh notifications` is a bit long. Perhaps `gh unread`?

[2020-09-18 01:20] shrink opened #1777 "Define consistent scheme for Short command descriptions"
### Describe the feature or problem you’d like to solve

The `Short` parameter used for commands is inconsistent and most do not provide any information beyond what is already provided through the name.

[code]

`gist` is described as `Create gists` yet you can also view and edit gists,`issue` describes "managing" issues and `repo` lists the functionality supported.

### Proposed solution

Decide

[2020-09-18 01:46] binyamin opened #1778 "Unable to add query parameters for api requests"
**Description**: I'm unable to add query parameters for api requests.

**Example:** `gh api users/binyamin/repos` outputs a long list, and I can't limit the number of items returned. Ideally, I would add the `per_page` query param
**CLI version**: 1.0.0 🎉

Should `--field` or `--raw-field` perform this?

[2020-09-18 01:48] tapsboy commented on #1540
Came here to look for the same and the update on 1.0.0 release, especially to utilize `gh release`. Instead, I ended up learning how nekos/act isn't exactly same as hosted github runners and what self-hosted runners are :) Glad I did.

FWIW, I found this for anyone looking: https://github.com/actions/virtual-environments#updates-to-virtual-environments . It's a weekly cadence, so hopefully 1.0.0 w

[2020-09-18 02:01] akxcix commented on #1769
git works on powershell inside windows terminal for me and so does gh. You may install git from [here](https://github.com/git-for-windows/git/releases).

[2020-09-18 02:53] sahasddtree opened #1779 "Bug clone"
1. Type this 'gh repo clone sahasddtree/hammer'
2. View the output 'Could not resolve to a Repository with the name 'sahasddtree/hammer'.'

Thanks

[2020-09-18 03:10] akxcix commented on #1768
I have opened #1780 which probably solves this issue

[2020-09-18 03:31] jongfeel commented on #1752
I need to this option.

[2020-09-18 03:33] sudiptog81 commented on #1769
I can verify that the GitHub CLI (MSI version) works as expected on the Windows Terminal without any additional configuration if you already have your Git workflow set up. I couldn't reproduce this issue. Maybe adding a check to see whether Git is installed or not may help in the long run.

[2020-09-18 03:39] masterneko commented on #1771
I think GitHub uses [EmojiLib](https://github.com/muan/emojilib). Why not use the that? - [emojis.json](https://github.com/muan/emojilib/blob/master/emojis.json) is the file that contains the emojis and their metadata

[2020-09-18 04:16] Chococoin opened #1782 "Wow! Thank you github, I 💖 love it!"
It's a dream come true! I always wished to have access to the main features of Github in the command line. Finally "Pull Request" from the command line! I'm so happy about that!!! Thank you thank you Thank you one thousand times!

[2020-09-18 04:26] Chococoin commented on #1782
[I really 💖 github CLI](https://ibb.co/XWrQMzh) thank again.

[2020-09-18 04:29] anjuls opened #1783 "Full details of PR, No redirection to Web"
### Describe the feature or problem you’d like to solve

When viewing PR `gh pr view 7`, it gives basic information, but to view review comments, I have to switch to web.

### Proposed solution

- Less context switching
- everything on through single interface

### Additional context
N/A

[2020-09-18 06:00] ElianCodes commented on #1782
This isn't an issue...

[2020-09-18 06:13] aitchkhan commented on #326
If we can add two entries or as many entries on every `gh auth login`. It might become easier with something like this:
[code]

If the `cli` can somehow sense which username the current repository is associated to. It would be easy to find the user in the hosts.yml and rest would be magic.

PS: I have not gone through the codebase. These are my **assumptions**.

[2020-09-18 06:19] skyoo2003 opened #1787 "PR Review for code"
# CLI Feedback

I'm using Github CLI usefully! Thank you for all of contributors.
I would like to suggest that the PR review command will be provided with the function to add comments about the code.
I would like to offer it in the form below. Please consider it positively.

[code]

[2020-09-18 06:21] Chococoin commented on #1782
@ElianVanCutsem,

![Screenshot from 2020-09-18 08-17-29](https://user-images.githubusercontent.com/6132396/93563290-dfde2400-f987-11ea-9fde-032e5420adb5.png)

It is indeed!

[2020-09-18 06:29] Mhowser commented on #328
I would have preferred Flatpak for Cross-platform support instead, Snaps are considerably slower. Also, canonical is pushing Snaps way too hard and the Snap Store is starting to turn into something like Microsoft's store.

[2020-09-18 06:51] asdf2014 opened #1788 "gh pr list: invalid memory address or nil pointer dereference"
### Describe the bug

The `gh pr list` command causes the `invalid memory address or nil pointer dereference` error.

### Steps to reproduce the behavior

[code]

[code]

[2020-09-18 06:57] asdf2014 opened #1789 "gh pr checks: unknown command "checks" for "gh pr""
### Describe the bug

The `gh pr checks` command causes the `unknown command "checks" for "gh pr"` error.

### Steps to reproduce the behavior

[code]

[code]

[2020-09-18 07:01] asdf2014 commented on #1789
When actually using the command, I found it was different from the one introduced in the Github blog. FYI, [https://github.blog/2020-09-17-github-cli-1-0-is-now-available/](https://github.blog/2020-09-17-github-cli-1-0-is-now-available/).
![image](https://user-images.githubusercontent.com/8108788/93566399-95789980-f9bf-11ea-8843-de1551965a8f.png)

[2020-09-18 07:11] tbarusseau commented on #1741
I have the same issue with Debian Buster, unable to install through `apt`.

[2020-09-18 07:13] bdaniel7 opened #1790 "No help displayed when using gh --help, gh -h, gh help"
No help displayed when using gh --help, gh -h, gh help, gh /?.

As a good CLI inspired by the Linux/Unix heritage, the tool should help the user with the commands and parameters it supports. The user should not need to RTFM to be able to use a command line tool.

I'm running in Windows 10, using cmder.
But when I'm running **gh.exe**, the help is displayed.

[2020-09-18 07:24] samcoe commented on #1789
@asdf2014 What version of `gh` are you using (`gh --version`)? The `pr checks` command was added in our latest release, so you may just need to update your `gh` version.

[2020-09-18 07:42] cirelli94 commented on #716
ohmyzsh has a default place for completions, that is `$ZSH/completions`, it'll probably be `/home/$USER/.oh-my-zsh/completions`:
https://github.com/ohmyzsh/ohmyzsh/blob/master/oh-my-zsh.sh#L18

So you just need to do:
[code]
and restart zsh.

[2020-09-18 07:54] bdaniel7 commented on #1790
Hmm.. apparently I have an alias..
gh=git rev-parse --short HEAD

[2020-09-18 07:54] #1790 closed, assigned to nobody

[2020-09-18 07:59] ct-clearhaus commented on #1743
As a work-around, one can adjust the iTerm2's "Minimum Contrast" setting (hit Cmd+i -> "Colors" tab -> "Minimum Contrast" slider):
<img width="721" alt="Screenshot 2020-09-18 at 09 57 19" src="https://user-images.githubusercontent.com/6168505/93572000-841a9780-f995-11ea-8df6-e30e58c2b4d1.png">

[2020-09-18 08:06] mislav commented on #1788
Hi, I think we fixed this in v0.11.1 https://github.com/cli/cli/pull/1382

Would you mind upgrading to the latest v1.0 release and trying again? Thank you

[2020-09-18 08:06] #1788 closed, assigned to nobody

[2020-09-18 08:08] mislav commented on #1782
@Chococoin You're welcome! Very glad to hear it 💖

[2020-09-18 08:20] mislav commented on #1789
@asdf2014 `pr checks` is available in gh v1.0. Please see https://github.com/cli/cli#installation

[2020-09-18 08:20] #1789 closed, assigned to nobody

[2020-09-18 08:23] sachaw opened #1791 "Cleaner error for commands that need to be run in a repo"
Running WSL2 & cli 1.0
`cd /mnt/c && gh repo view`
returns the following error:
[code]
Although I understand that the command should fail, the output message should be more user friendly.

[2020-09-18 08:27] asdf2014 commented on #1789
Hi, @samcoe . I followed the steps in the blog and installed the Github CLI on MacOS via "brew install gh". How to install the latest version?

[code]

[code]

[2020-09-18 08:27] pradyunsg commented on #659
I don't think there's an API to be able to present this stuff right now.

[2020-09-18 08:29] asdf2014 commented on #1789
@samcoe It seems that `brew upgrade gh` doesn't work for me.

[code]

[code]

[2020-09-18 08:31] asdf2014 commented on #1789
@mislav Thanks, but it seems that `brew upgrade gh` doesn't work for me..

[code]

[code]

[2020-09-18 08:33] tirthasheshpatel opened #1792 "`gh pr checks` doesn't find pull request"
### Describe the bug

`gh --version == 1.0.0`

I always get `no open pull requests found for branch ...` even though there is an open pull request. Other commands like `gh pr status` return the correct output. Also `gh pr <number> checks` return the correct output.

### Steps to reproduce the behavior

1. Type this `'gh pr checks'`
2. View the output `'no open pull requests found for branch ...'`

[2020-09-18 08:35] AndreasNel commented on #1787
It would also be cool if, when you run just `gh pr review`, it opens the diff of the PR where you have a menu with which you can interact to add comments, mark files as viewed, navigate to the next/previous file, etc.

[2020-09-18 08:38] David-Kunz commented on #1009
Would also be great to be able to add/edit comments.

[code]

[code]

(opens default editor, e.g. vi, just like in `git commit`)

[2020-09-18 09:19] trev9995 opened #1793 "k"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-09-18 09:20] tcelestino opened #1794 "Documentation about how to install without brew/macports and dmg package file"
### Describe the feature or problem you’d like to solve

Provide package dmg to macOS is more easy to install instead of binary for most people. Or add in documentation how to install cli without brew or MacPorts.

### Proposed solution

- About dmg's package, I don't know 😢. But I think so people use macOS can use cli easier .dmg than binary file.
- In documentation, update section about macOS in

[2020-09-18 09:24] ericcurtin commented on #1735
Apologies for mislabeling as a bug also. This is certainly an enhancement @mislav

[2020-09-18 09:31] dblbirdie commented on #1695
@mislav Thanks for addressing this issue so fast. It helped me a lot.

[2020-09-18 09:38] corani commented on #1792
Same issue in linux (`version = 1.0.0 (2020-09-16)`)
Using GitHub Enterprise, if that makes a difference.

[2020-09-18 09:45] AllanOricil opened #1795 "GH_HOST confusion"
### Describe the bug

On Windows 10, after successfully authenticate using the cli, I tried to run the command `gh repo view TS-RnD/entitlement` and it displayed the following error message:

![image](https://user-images.githubusercontent.com/55927613/93583373-aca59000-f99b-11ea-89a2-0e5d736ae728.png)

### Steps to reproduce the behavior
Follow the commands I ran on the cli in the same order:

![i

[2020-09-18 09:46] #1793 closed

[2020-09-18 10:20] dayvsonsales commented on #1768
@iamadarshk thank you. I took a look at your pull request and I think that it doesn't cover all cases, what about if the user doesn't type a repository name? opts.Name seems to be empty in this case.

[2020-09-18 10:33] silvenon commented on #1721
Ah, I totally understand.

[2020-09-18 10:45] imojha opened #1797 "Got error: E: Unable to locate package gh"
### Describe the feature or problem you’d like to solve

I am on Ubuntu 20.04 LTS Focal Fossa. When I hit the command "sudo apt install gh", it says "E: Unable to locate package gh".
I tried searching for package on ubuntu distribution site, but the only packages that got listed are "ghc, ghc-doc, ghc-prof, ghdl etc." Help me, please.

### Proposed solution

How will it benefit CLI and its users?

[2020-09-18 10:47] mislav commented on #1762
@heaths Thank you for reporting!

After you've pushed to origin, is there an `origin/issue15108` tracking branch? gh was supposed to find that branch and realize that you've pushed to `origin`, not `upstream`. Not sure why that didn't happen, but the info you provided us is useful 🙇

[2020-09-18 10:50] mislav commented on #1795
Thank you for reporting!

Since this repository is on a GHE server, right now we require the hostname to also be specified when you are specifying the repository:

[code]

If you always work against this GHE instance and not so much with github.com, you can set the `GH_HOST` environment variable to your hostname to change the default.

I understand how this is confusing, especially because you've

[2020-09-18 10:52] wiseaidev opened #1798 "Installation failed on Kali"
It seems like the repo doesn't have a release file for the Kali Linux distro. When I tried to update my local repo, I get the following error messages:
[code]

[2020-09-18 10:53] mislav commented on #1792
@tirthasheshpatel I would guess that `add-gp-marginal` branch is pushed to your fork of `pymc4`? But also, that there is no upstream configuration for `add-gp-marginal`? Check with `git config --get-regexp '^branch\.add-gp-marginal\.'`

If so, then this is a duplicate of https://github.com/cli/cli/issues/575

[2020-09-18 10:56] mislav commented on #1774
Thank you for reporting! Is the PowerShell result or the Git Bash result more closer to what you were expecting to see with Chinese text?

[2020-09-18 11:05] Yue-plus commented on #1774
Display normal in PowerShell。

[2020-09-18 11:05] mislav commented on #1777
Great suggestion! Thank you

/cc @ampinsk

[2020-09-18 11:07] mislav commented on #1743
@amingilani @corytheboyd If GLAMOUR_STYLE variable isn't set, you can set it manually to either `GLAMOUR_STYLE=dark` (for dark themes) or `GLAMOUR_STYLE=light` (for light themes). We try to detect the terminal background color automatically when rendering Markdown, but this doesn't always work.

@LiteracyFanatic Good to know about gray not being readable! We hope to make the color palette configur

[2020-09-18 11:09] Lucaslah commented on #1797
Did you try `sudo apt update`? And then re run `sudo apt install gh`

[2020-09-18 11:10] szdytom commented on #1380
On version 1, thing go much better. Seems solved.

[2020-09-18 11:10] #1380 closed, assigned to mislav

[2020-09-18 11:13] mislav commented on #1797
@imojha Hi, did you try adding our package sources? https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-raspberry-pi-os-apt

[2020-09-18 11:17] mislav commented on #1798
Thank you for reporting! I don't think we've advertised support for Kali in our packages, so I've re-labeled this as a feature request rather than a bug. 🙇

[2020-09-18 11:19] mislav commented on #1768
@dayvsonsales Great catch! Tip: it's best to leave code review feedback in the PR itself. 👍

@iamadarshk Thank you for proposing a fix!

[2020-09-18 11:20] AllanOricil commented on #1795
@mislav I setup using ENV variables. It worked better to me.

export GH_HOST=github.hpe.com

Thanks for the quick response!

[2020-09-18 11:21] AllanOricil commented on #1795
@mislav I think it is worthy adding this instruction on the official docs right away on the getting started page: https://cli.github.com/manual/

[2020-09-18 11:21] mislav commented on #1735
@ericcurtin @kdb Fully agreed!

[2020-09-18 11:22] mislav commented on #1789
@asdf2014 Try
[code]

[2020-09-18 11:25] mislav commented on #1759
@park-junha Thank you for the suggestion!

We haven't decided yet on this feature. We'll write in this thread if something changes: duplicate of #446

[2020-09-18 11:25] #1759 closed, assigned to nobody

[2020-09-18 11:35] mislav commented on #1783
@anjuls Thank you! Duplicate of https://github.com/cli/cli/issues/1009

[2020-09-18 11:35] #1783 closed, assigned to nobody

[2020-09-18 11:37] mislav commented on #1009
@David-Kunz That is being tracked as #517

[2020-09-18 11:37] mislav commented on #1787
Thank you! Duplicate of https://github.com/cli/cli/issues/359

[2020-09-18 11:37] #1787 closed, assigned to nobody

[2020-09-18 11:39] mislav commented on #642
@Kilo-Loco Haha whoops 🙈

[2020-09-18 11:40] mislav commented on #1795
@AllanOricil Absolutely! It's a bug that the contents of `gh help environment` is not rendered on the web site right now 😕

[2020-09-18 11:45] mislav commented on #1771
GitHub uses gemoji: https://github.com/github/gemoji/blob/master/db/emoji.json

We could generate a mapping file in Go using the JSON data as input. 👍

[2020-09-18 11:48] mislav commented on #1761
@AM-77 Thank you for reporting! For now, I would say this was a legitimate network failure that we can't do much about.

If the issue persist, however, please reopen this and provide more information about your OS version. 🙇

[2020-09-18 11:48] #1761 closed, assigned to nobody

[2020-09-18 11:49] David-Kunz commented on #1009
Hi @mislav ,

Thanks for the hint! It's fantastic that https://github.com/cli/cli/issues/517 proposes the _exact_ same thing (api, $EDITOR).

Best regards,
David

[2020-09-18 11:55] nejat-njonjo opened #1799 "Installation failed on Ubuntu 20"
I was trying to install `gh` on ubuntu 20 and I run
`sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-key C99B11DEB97541F0` as described from the  [documentation](https://github.com/cli/cli/blob/trunk/docs/install_linux.md)

### Error
I got this message `gpg: keyserver receive failed: Server indicated a failure
`
### Logs
`Executing: /tmp/apt-key-gpghome.Kr7mQdYGPK/gpg.1.sh --keyserver key

[2020-09-18 11:57] mislav commented on #1769
@Andre601 Thank you! I think you have a point in that we haven't explicitly listed `git` as a prerequisite, but git is indeed required to run most commands and it needs to be additionally installed on Windows.

We aim to present a more user-friendly error message when git wasn't found on the system: https://github.com/cli/cli/issues/1791

For now, please install Git for Windows using the instructi

[2020-09-18 11:58] mislav commented on #1775
Thank you for reporting!

[2020-09-18 12:01] ArishSultan opened #1800 "No Support for clear linux"
I am using clear linux as my development workspace, but seems like there is no support yet.

I will appreciate if this feature is added 🙂

[2020-09-18 12:04] mislav commented on #1720
@Harvie This idea has come up before and I've asked around internally, but it seems that this feature would be unfeasible to add to our infrastructure at the moment. Sorry!

Ref. https://github.com/cli/cli/issues/297

[2020-09-18 12:09] Lucaslah commented on #1800
That would be nice, but in the meantime you could try building for code?

[2020-09-18 12:09] mislav commented on #1727
Thank you for trying!

It's really worrisome that the output of `PAGER=cat gh issue list` is also garbled. This will need some investigation on Cygwin. If anyone has a chance to investigate before our team gets to this, please, go ahead! 🙇

[2020-09-18 12:12] ArishSultan commented on #1800
Yeah u are right, but i just suggested an easy solution 😅

[2020-09-18 12:14] WOLVIE97 commented on #1800
# Installing gh on Linux

Packages downloaded from https://cli.github.com or from https://github.com/cli/cli/releases
are considered official binaries. We focus on a couple of popular Linux distros and
the following CPU architectures: `i386`, `amd64`, `arm64`.

Other sources for installation are community-maintained and thus might lag behind
our release schedule.

## Official sources

### Debian,

[2020-09-18 12:32] PocketSquirrl opened #1801 "PR merge does not work with enforced PRs"
### Describe the bug

The merge command does not work in a repo with direct pushes disabled and only squashed merges allowed.
This repo is hosted on a corporate github server.

### Steps I used

1. 'git checkout -b workingBranch'
2. 'git commit -am "testCommit"'
3. 'git push -u'
4. 'gh pr create --title "testCommit" -b "" -H workingBranch'
5. 'gh pr merge <pr number> --squash'

### Error

[code]

[2020-09-18 12:34] ProgramRipper commented on #1675
I have a same problem when I run `gh auth login` in `cmd`.
But when I switch to `Powershell`, it works...
So I don't think `Powershell` or `cmd` should be to blame for it.

[2020-09-18 12:37] akxcix commented on #1768
When the name isn't provided, it falls back to using the directory name, isn't that what's intended? or am I missing some other use cases?

inside `test-repo` and haven't provided the repo name:
[code]
inside `test-repo` and provided the repo name as `hello` when prompted:
[code]
inside `test-repo` and provided the repo name as `hello` using `gh repo create hello`:
[code]

[2020-09-18 12:43] ProgramRipper commented on #1675
Uhh..New situation.
I did login successfully in `Powershell`, but when I try to run such as `gh repo clone`, it raise the same error message in `Powershell`.
And I switch to `cmd`, it work again???
I have been confused...
I insist that this is a bug.

[2020-09-18 12:54] joshuabezaleel commented on #1067
Hi @mislav , I am interested in this issue but I think I need help since I am not sure how to filter the messages printed out by the remote GitHub.com when calling the [`api.CreatePullRequest`](https://github.com/cli/cli/blob/trunk/api/queries_pr.go#L684).
Do you have any recommendation on this? Thank you so much in advance! :)

[2020-09-18 13:02] mislav commented on #1801
Thank you for reporting! This looks like it might be an error on the platform. We will investigate 🙇

[2020-09-18 13:06] mislav commented on #1739
To reiterate, as long as you pass `--notes` or `--notes-file`, you will not be prompted for anything and you can use it safely for scripting. You can even set it to a blank string.

You can also pass `--title`, but since a release title is an optional field, we don't require supplying it.

We will try to not intentionally break backwards compatibility in the future, even if we add more flags.

We

[2020-09-18 13:10] mislav commented on #1650
@iamrajiv Sorry, our site is in a private repository, so we'll handle this on our end. Thank you 🙇

[2020-09-18 13:10] PatrykRudnicki opened #1802 "Problem with creating PRs"
I upgraded GitHub Cli to the newest version (1.0.0) previously I had (0.9.0 as I remember, can be wrong) and I'm not able to create a PR.

Before the upgrade the commands like `gh pr create -f` works without any problems. Right now I have following error:

[code]

I don't remember the whole process that I followed when I started using GitHub Cli (it was from the version 0.1.0) so I'm slightly conf

[2020-09-18 13:10] mislav commented on #1055
@Matt-Gleich Have you tried `gh pr checks`?

[2020-09-18 13:12] gleich commented on #1055
Yep, I meant more for just displaying the latest checks. Not the PR versions.

[2020-09-18 13:15] mislav commented on #1773
@raiskila Have you tried `gh auth status`?

[code]

The authentication credentials are stored in `~/.config/gh/hosts.yml`.

Good points about documentation; thank you!

[2020-09-18 13:17] SilkyFowl commented on #1775
` [CompletionResult]::new` tooltip param can't use empty string.

[code]

If set whitespace, ti works.

[code]

This bug occurs on Linux as well.
Probably the same on MacOS.

[code]

In my case, Fix `environment` and `version` 's CompletionResult constructor, it works!!

[code]

[2020-09-18 13:31] mislav commented on #1067
@joshuabezaleel So, the `pr create` command calls `git push` here: https://github.com/cli/cli/blob/trunk/pkg/cmd/pr/create/create.go#L424

That executes the `git push` via a regular `exec.Command()` that initiates a subprocess. We link the stdout/stderr of that subprocess to stdout/stderr of the parent process.

Now, we _don't_ want `git` actually printing these lines:
[code]

So, you'd need to de

[2020-09-18 13:36] mislav commented on #1802
@PatrykRudnicki Sorry for the confusing error! The error message is trying to tell you that your token is obtained from the GITHUB_TOKEN environment variable that you have set up in your system. gh cannot change the value of that variable for you, so you have to either update that token online (edit the token at https://github.com/settings/tokens to give it `repo`, `read:org`, and `gist` scopes),

[2020-09-18 13:38] PatrykRudnicki commented on #1802
Ah, that's okay, but if I'm using this token for something else. Can I somehow specify which token will be for GitHub Cli or somehow ignore this?

[2020-09-18 13:38] ayoub-root opened #1804 "testing"

[2020-09-18 13:40] Andre601 commented on #1769
The issue here is that I DO have git installed, but either GitHub CLI or Windows Terminal (And I DON'T talk about PowerShell here but [the actual Windows terminal](https://www.microsoft.com/store/productId/9N0DX20HK701)) don't recognize it as actually being installed.

GitHub CLI does work when using a terminal with direct git support, such as git bash, but otherwise doesn't seem to be able in fin

[2020-09-18 13:41] PirateSeal commented on #1799
Same over here on Zorin OS (Ubuntu) :

`Executing: /tmp/apt-key-gpghome.zm37jUozYL/gpg.1.sh --keyserver keyserver.ubuntu.com --recv-key C99B11DEB97541F0`
`gpg: keyserver receive failed: Connection timed out`

[2020-09-18 13:42] mislav commented on #1675
@ProgramRipper I have seen this error reported before for various Go projects running on Windows, but I have never found a cause nor a solution.

Is this failure printed every time on every command, or is it intermittent?

[2020-09-18 13:44] mislav commented on #1055
Ahhh I see! So you wanted to just see the latest checks in a repository, not taking a specific PR or branch name as input?

We don't have such a feature yet. We're refreshing our roadmap starting from next week; so we'll discuss this internally. 🙇

[2020-09-18 13:45] gleich commented on #1055
Great! Thank you!

[2020-09-18 13:45] mislav commented on #1778
@binyamin Yes!

[code]

Specifying `-X GET` is necessary, since otherwise the presence of `-f` or `-F` would activate POST mode.

[2020-09-18 13:45] #1778 closed, assigned to nobody

[2020-09-18 13:49] mislav commented on #1752
Ref. https://github.com/cli/cli/issues/1349

[2020-09-18 13:49] ProgramRipper commented on #1675
@mislav It is printed nearly every time, so I have to retry the command many time.

[2020-09-18 13:50] JoshDanielWalker opened #1805 "test"

[2020-09-18 13:50] #1804 closed, assigned to nobody

[2020-09-18 13:50] gleich commented on #1055
If we were to do this I don't think we should use the REST actions API. The checks API will allow for alternative CI systems to be displayed as well as a more efficient implementation with the GraphQL API.

[2020-09-18 13:50] mislav commented on #1804
Thank you for trying it out! In the future, you should test against your own repo:

[code]

🙇

[2020-09-18 13:50] #1805 closed, assigned to nobody

[2020-09-18 13:51] PocketSquirrl commented on #1801
Okay I tested a bit with a similar repo on github.com.
The problem seems to be the pre-receive hook.
Changing the branch settings to require a review (and automatically disabling pushes directly to master) works with the CLI on both github.com and github-enterprise.
We're running GitHub Enterprise Server 2.21.6 and the following setting enables the hook:

![Capture](https://user-images.githubuserc

[2020-09-18 13:52] mislav commented on #1799
Could it be that these are legitimate network errors on your end? Does the problem persist over multiple retries spread out over an hour?

[2020-09-18 13:52] data-man commented on #1771
@mislav

Or use:
https://github.com/enescakir/emoji
https://github.com/kyokomi/emoji

[2020-09-18 13:58] mislav commented on #1769
I see! Thank you for clarifying.

The installer for Git for Windows is supposed to add the path to `git.exe` to your system path so that cmd.exe, PowerShell, and (hopefully) Windows terminal all have it available for execution when they start. I'm not sure why this is not your experience, but you could try editing your system path (I'm sorry; I forgot where this is done exactly) to include the ent

[2020-09-18 14:09] akxcix commented on #1769
@Andre601 could you please check if it is working fine in powershell alone?

[2020-09-18 14:10] raiskila commented on #1773
Thanks for pointing that out, I was on 0.9.0 due to outdated Homebrew formulas and `gh auth status` was missing.

Yeah, this was mostly about the documentation, but I'm glad the information is also available there!

[2020-09-18 14:11] vilmibm commented on #1802
Unfortunately we only support `GITHUB_TOKEN` right now, but have the desire to support GH_TOKEN; marking this as a dupe of #1229

[2020-09-18 14:11] #1802 closed, assigned to nobody

[2020-09-18 14:17] binyamin commented on #1778
Thank you

[2020-09-18 14:18] tsutsumi41 opened #1806 "Bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-18 14:18] binyamin commented on #659
@pradyunsg `$ gh api notifications`

[2020-09-18 14:18] tsutsumi41 commented on #1806
tsutsumi41 closed this now

[2020-09-18 14:20] tsutsumi41 commented on #1806
Bug report #1806

[2020-09-18 14:24] StephenGregory opened #1807 "Mention pr checks in pr status docs"
This issue covers adding hints to the usage information for `pr status` about `pr checks`. This requires adding a `Long` section to the `cobra.Command{}` invocation (or perhaps `Examples`).

Original body:

---

### Describe the feature or problem you’d like to solve

When listing all PRs relevant to me (e.g. `gh pr status`), I'd like a flag to see a long version of the check results instead runni

[2020-09-18 14:37] shvamabps opened #1808 "Github Cli uses private as visibility for the default repositories created"
I don't know if it is a bug or not but  I think this should not happen as mostly all the repositories that one creates is public. And I don;t know any flag that could help me change the behavior of default repository creation process using [Github Cli]( https://cli.github.com/)

[2020-09-18 14:37] SilkyFowl commented on #1775
I got the following to work:

[code]

[2020-09-18 14:43] sagikazarmark commented on #1739
Gotcha, thanks! Yeah, makes sense to just pass one of the notes flags, but better documentation would be nice, or at least some representation of the CI/non-interactive use case.

Thanks! Feel free to close the issue, if you want to track any further effort separately.

[2020-09-18 14:43] rynop opened #1809 "`gh pr list --state closed` returns `MERGED`"
### Describe the bug

`gh pr list --state closed` returns PRs in `MERGED` state.  Same output as if you ran the `gh pr list --state merged` command.

[code]

### Steps to reproduce the behavior

1. `gh pr list --state closed | grep -i merged`
1. See output that contains `MERGED` PRs

### Expected vs actual behavior

Expect to see only a list of PRs in the `closed` state

### Logs

[code]

[2020-09-18 14:45] mislav commented on #1775
@SilkyFowl Thank you for looking into all of this! ❤️

Our PowerShell completions are being generated by Cobra https://github.com/spf13/cobra/blob/master/powershell_completions.go

[2020-09-18 14:52] zautumnz commented on #1808
There are `--public` and `--private` flags according to `gh repo create --help`

[2020-09-18 15:02] l3ender commented on #1740
It would be nice if the zip install were mentioned in the install notes and linked to from the download page. For those in an enterprise environment, admin privileges or package managers are usually not options.

[2020-09-18 15:03] l3ender commented on #287
It would also be nice if zip install options were mentioned for Windows. https://github.com/cli/cli/issues/1740#issuecomment-694920841.

[2020-09-18 15:03] RemcoHalman opened #1810 "Have `repo create` pick up the default branch setting on GitHub"
I am still getting used to the cli but its intuitive to use.

Don't know if it's me but when i created a repo, it set the main branch to master. While in Github settings I set this to be main as it's gonna be the new default. How could i change this?

[2020-09-18 15:06] mislav commented on #1810
Hi, what is your `git version` and your local configuration setting `git config init.defaultBranch`?

[2020-09-18 15:11] RemcoHalman commented on #1810
@mislav

The git version is : `git version 2.28.0`
`git config init.defaultBranch` i never changed this, thought with the settings on Github.com it would go automatically

[2020-09-18 15:20] achimnol commented on #1621
Bump #1023 again here.

[2020-09-18 15:20] Andre601 commented on #1769
It doesn't work on PowerShell either for me.

[2020-09-18 15:26] mislav commented on #1802
@PatrykRudnicki Maybe a workaround for you right now would be to configure your shell to reset the token specifically for hub, e.g.

[code]

Then hub will lead you through authentication and store its own token.

[2020-09-18 15:29] mislav commented on #1753
It seems that Survey has a "vim mode" that is activated using <kdb>Esc</kbd> https://github.com/cli/cli/issues/1483

[2020-09-18 15:38] sergiomoraes opened #1811 "Instances of "Master" vs "Main" in the Manual"
# Feedback

## Praise

I didn't learn about the GH CLI until it came out of beta, but I'm testing it now and figuring out how to incorporate it into my worflow. I think it's a great addition to GH.

## Recommendation

While browsing the [Manual](https://cli.github.com/manual/) pages, I noticed some instances where we use "**Master**" as an example for a branch name (screenshot below). Would it mak

[2020-09-18 15:44] mislav commented on #1810
@RemcoHalman I can see the confusion. The GitHub setting only affects repositories created on GitHub. Now, `repo create` technically uses the GitHub API to create your repository on GitHub, but that repository is "empty" (has no branches). A local repository is also created using `git init` so that it can be linked to the remote repository. However, if the local repository gets created with the `m

[2020-09-18 15:46] mislav commented on #1811
Great suggestion. Thank you! 🙇

[2020-09-18 15:50] RemcoHalman commented on #1810
@mislav good to know! Ill use the workaround for now.

Thanks for the quick response!

[2020-09-18 15:53] mislav commented on #1745
@wimglenn No, we never send a token for one host to another host. The thing is, gh probably doesn't have your authentication token for github.com, so it sent an anonymous API request to `/gist`, which (confusingly) returns a sample of public gists from random users.

This will be fixed after the switch to GraphQL #1712

[2020-09-18 15:56] mislav commented on #1809
Sorry, this is by design! We wanted to reflect the web UI as much as possible, and there "closed" also includes "merged": https://github.com/cli/cli/pulls?q=is%3Apr+is%3Aclosed

How could we make this clearer? I'm guessing you really need a true `closed` filter?

[2020-09-18 15:57] mislav commented on #1806
Hello! If this is an actual bug report, please fill in the requested information about the bug and reopen this issue.

If you are merely testing GitHub or gh, please do so in your own repository. 🙇

[2020-09-18 15:57] #1806 closed, assigned to nobody

[2020-09-18 15:59] heaths commented on #1762
Yes, I set the tracking branch on push.

[2020-09-18 16:00] mislav commented on #1621
@achimnol is right; now that the default squash message has been fixed (thanks, @giacomoalbe), the rest of the feature described here is a duplicate of the conversation in  #1023. 🙇

[2020-09-18 16:00] #1621 closed, assigned to nobody

[2020-09-18 16:01] vilmibm commented on #1808
Hi!

as @zacanger pointed out, we support `--public`; the private default is intentional and reflects feedback gathered during the beta period.

Feel free to reopen if I'm missing something but I don't think there's a bug to fix here.

[2020-09-18 16:01] #1808 closed, assigned to nobody

[2020-09-18 16:01] claudio-podpoint opened #1812 "This is only a demo for now but will update things as we go along"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-09-18 16:05] vilmibm commented on #1800
Thanks for the issue!

At this time we don't have any plan to officially support clear linux; I would encourage trying out building from source or using one of the prebuilt linux executables if your architecture is supported.

If there ends up being community support for Clear I'd be happy to add it to the linux installation instructions doc.

[2020-09-18 16:05] #1800 closed, assigned to nobody

[2020-09-18 16:05] #1812 closed, assigned to nobody

[2020-09-18 16:09] JanSvehlak commented on #1799
VPN (really low response time):
[code]
VPN off:

[code]
Seems to be a connection issue.

[2020-09-18 16:10] vilmibm commented on #1799
We don't control the keyserver and both of these errors seem like either keyserver issues or network issues; I'm going to close for now but if it remains a persistent problem we can help debug or, in the future, explore a better way of delivering that public key.

[2020-09-18 16:10] #1799 closed, assigned to nobody

[2020-09-18 16:11] vilmibm commented on #1807
I'm intrigued by this idea; a `--verbose` might work or a more specific `--checks`. what do you think, @ampinsk ?

[2020-09-18 16:12] pradyunsg commented on #659
I meant the stuff that new notifications UI exposes -- all the new behaviours ("done", "saved", "saved searches" etc) do not have a corresponding API at this time (as far as I know anyway).

[2020-09-18 16:13] Neeraj1005 commented on #1675
I have the same issue in the window... while I'm using the GitBash.
But in PowerShell, it is running

[2020-09-18 16:17] vilmibm commented on #1782
Thank you for the kind words :)

For feedback issues we'll be closing them if there's no action item but we're grateful to receive them as 1.0 spreads around <3

[2020-09-18 16:17] #1782 closed, assigned to nobody

[2020-09-18 16:18] vilmibm commented on #1791
Thanks for bringing this up!

I think the key part of the error message is `fatal: not a git repository` and that's consistent between platforms; I do think that could be wrapped entirely in something more gh-style and human friendly. I'm going to change this issue to be not windows-centric.

[2020-09-18 16:23] rynop commented on #1809
Thanks for the quick response. :TIL: closed includes merged. Makes sense.

TL;DR: adding `/branches` support to `gh` would be 🥇

What I'm _really_ looking for, is exposing the data web UI does at `/branches`, in `gh`.  Specifically, `/branches/stale`.

I'd like to clean up my branches - getting rid of ones that were associated with PRs that were closed or merged, and ones that are very old.  The "

[2020-09-18 16:23] vilmibm commented on #1769
@mislav #1791 is not about missing git but running commands outside of a git repo; Perhaps we should convert this issue to handle lack-of-git errors more cleanly?

[2020-09-18 16:23] mislav commented on #1762
@heaths Thank you! I will investigate this next week. Sorry for the trouble!

Protip: you can get more verbose logging with `DEBUG=1`, which will show the underlying git comands getting executed. Please paste us whatever you find interesting that way 🙇

[2020-09-18 16:26] vilmibm commented on #1792
I don't think this is windows specific so I'm going to update the title while investigation occurs.

[2020-09-18 16:28] vilmibm commented on #1777
oh, I really like that first option to describe the product. I think listing out subcommands makes sense but is redundant with the help page for an individual command; the product description feels a lot more "gh" style to me in its human friendliness.

[2020-09-18 16:28] mislav commented on #1809
@rynop I see! Thanks; that's valuable insight.

For now you can request the PR list manually via the API:

[code]

This will return true `closed` PRs, no merged.

[2020-09-18 16:29] Chococoin commented on #1782
@vilmibm let me ask you something new. I'm leading an important group of persons interested in records some workshops about GitHub CLI. Can we ask for somebody some kind of sponsorship to do that?  I will turn another dream offer for free an online workshop to teach GitHub CLI to everybody!

[2020-09-18 16:31] mislav commented on #1769
@vilmibm You're absolutely right.

[2020-09-18 16:31] vilmibm commented on #1775
Is this a cobra bug, then, or something we have control over?

[2020-09-18 16:34] Head-on-a-Stick commented on #1702
There are a few other issues with the Debian package:
[code]
Is the source for the packaging on GitHub? I would be happy to submit some fixes.

[2020-09-18 16:34] mislav commented on #1801
Ah, I see. If this was caused by a custom pre-receive hook in your repository, can this be closed as not a bug with gh?

[2020-09-18 16:41] ian-kelling opened #1813 ""gh augh login" default flow requires running proprietary code from github"
### Describe the bug

Using the default login flow, you are taken to

https://github.com/login/device/confirmation

Then, unless you allow your browser to download and run proprietary javascript from github, the button labeled "Authorize github" is disabled.

[code]

### Steps to reproduce the behavior

[code]

Press enter. After your browser opens, make sure it is configured not to run proprietar

[2020-09-18 16:48] heaths commented on #1762
Thanks. I'll try to repro later. How can I undo the setting to set what I was prompted for? I figured that had something to do with it. A list verb on gh config would be nice (I'd be happy to contribute one if there's no reason not to add one).

[2020-09-18 17:13] vilmibm commented on #1813
Thanks for pointing this out.

The auth token workaround is how I would expect someone to avoid that particular javascript. That the officially endorsed authentication mode from GitHub requires the use of proprietary javascript from GitHub is not something I would consider a bug, nor is it the responsibility of the GitHub CLI to "fix" the use of that javascript as it's upstream of anything we on t

[2020-09-18 17:13] #1813 closed, assigned to nobody

[2020-09-18 17:14] ampinsk commented on #1777
This is a _great_ writeup, thank you @shrink! I really like the idea of the product description, but I do think the CLI is pretty unlikely to be your very first introduction to GitHub, so explaining what these products are here might not be that useful. That said, a pro here is that we wouldn't need to update these, and I do like the human friendliness.

Of these, I think my favorite is also the C

[2020-09-18 17:15] ampinsk commented on #1811
Thank you for bringing this up! Super easy change to make, I'm on it :)

[2020-09-18 17:15] vilmibm commented on #1755
I'd be happy to see this in the tool, myself.

[2020-09-18 17:17] #1741 closed, assigned to vilmibm

[2020-09-18 17:20] vilmibm commented on #1741
@tbarusseau I've since added explicit packaging for `buster` so it *should* be available. I know when I was testing debian I ran into some caching issues; perhaps try removing and adding the repository?

[2020-09-18 17:23] vilmibm commented on #1735
My gut reaction was that a `-k` was a natural addition given that other tools support it; I would also agree that it doesn't "defeat" the purpose of TLS. Supporting self-signed certs in enclosed network environments is something I've definitely made explicitly available for users of enterprise software at past jobs.

That said, I'm no expert and wouldn't feel comfortable making a final call here.

[2020-09-18 17:25] vilmibm commented on #1743
GLAMOUR_STYLE makes sense to support as other CLI programs use glamour; however, it might be a good enhancement to expose a light/dark toggle via `gh config` as was suggested (that is just an abstraction over GLAMOUR_STYLE).

[2020-09-18 17:27] ampinsk commented on #1811
This should be live now! Thank you again.

[2020-09-18 17:27] #1811 closed, assigned to nobody

[2020-09-18 17:27] vilmibm commented on #1729
I've pushed packages for all Ubuntus from the past two years; so folks who ran into missing packages for their version, please do try again. You may have to explicitly remove and re-add the repository.

As far as the keyserver issue I'm wondering if we should adapt the instructions to use port 80 so firewall users don't run into this issue? I'm not sure if there are downsides to recommending port

[2020-09-18 17:29] vilmibm commented on #1734
What is missing? I just took a cursory glance and see all of the stuff that shipped with 1.0.

[2020-09-18 17:41] #1728 closed, assigned to nobody

[2020-09-18 17:41] theunkn0wn1 commented on #1741
@vilmibm Dunno if this needs its own ticket now but can we get an install target for raspbian/buster ?
[code]

[2020-09-18 17:56] alchaki2009 commented on #1810
[]()

[2020-09-18 18:14] vilmibm commented on #328
hey folks,

Packaging via snap and flatpak remain things that the core gh team has no intention of doing or supporting as neither delivery mechanism feels well suited to this tool. We're also a tiny team with limited bandwidth for support.

I have added a "Community Supported" section to the Linux installation doc and welcome PRs to add references to third party packaging: https://github.com/cli/c

[2020-09-18 18:14] #328 closed

[2020-09-18 18:53] jpm63 commented on #1771
This feels like a fairly straightforward fix; I'd be happy to take a crack at it.

As far as the generation of the mapping file goes, ```go generate``` feels like the natural choice, but that would likely require changes to the Makefile with a step prior to ```go build``` to ensure the local emoji DB is rebuilt each time the CLI is compiled. Would you prefer I go down that path, or if the emoji DB

[2020-09-18 18:57] csiefer2 opened #1814 "Doesn't work with personal tokens"
user@system> gh auth login --with-token < mytoken
could not validate token: HTTP 401: Bad credentials (https://api.github.com/)

user@system> gh --version
gh version 1.0.0 (2020-09-16)
https://github.com/cli/cli/releases/tag/v1.0.0

I might add that this token works just fine accessing the REST API via curl

[2020-09-18 18:59] #1814 closed, assigned to nobody

[2020-09-18 19:04] csiefer2 opened #1815 "Document minimum token scopes"
What is the minimum set of token permissions needed for the github cli to function?

It looks like "read: org" and "repo" but can this be documented somewhere?

[2020-09-18 19:08] Mar181-arc opened #1817 "U"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-18 19:09] #1817 closed, assigned to nobody

[2020-09-18 19:09] Galunid commented on #1809
Actually I don't think it returns true `closed` PRs. One of the results is
```6601    Fix a few typos closed  Galunid:patch```
https://github.com/koreader/koreader/pull/6601
It seems it returns `merged` PR as `closed` too

[2020-09-18 19:19] PocketSquirrl commented on #1801
Yes, seems like a bug within the hook. I'll just reopen the issue if there is another cause.

[2020-09-18 19:19] #1801 closed, assigned to nobody

[2020-09-18 19:35] OJFord commented on #659
I think you're right, the queries seem to be stable (GH web uses `/notifications/beta` still, but they 301 to `/beta`-less `query=is:done` etc.) but the actions use `POST /notifications/beta/[un]archive` for example.

[2020-09-18 19:44] vilmibm commented on #1815
It is documented as part of the `gh auth login` UI, but agreed that it could probably be mentioned in the manual as well.

![image](https://user-images.githubusercontent.com/98482/93638733-71b45400-f9bd-11ea-9767-037ebfa73f9e.png)

[2020-09-18 19:46] vilmibm commented on #659
We've avoided bringing in notifications because of the changes happening upstream. We have, however, been kicking around drafts for a `gh status` that would give you an overview of your state on github.com ; I think that might be a nice place to at least surface and link to the web-based notifications UI.

[2020-09-18 20:02] tierninho opened #1818 "Update messaging when `gh pr check` run on repo w/o CI"
When running this `gh pr checks [branch] -R [owner/repo]` command and there is no pull request but no CI, I get this:

`no open pull requests found for branch "JJJ"`

However, when running the same command on a different branch and there is a pull request but no CI, nothing is returned.

In both cases, I think it would be more accurate to say something like "no CI checks are set up for this reposi

[2020-09-18 20:38] Satwato commented on #1799
Facing this. No VPN on my end. Ubuntu 20.04

[2020-09-18 20:43] Satwato commented on #1799
Fixed it
Using: `sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-key C99B11DEB97541F0`
adding `hkp://` and `:80` did the trick

reference: https://unix.stackexchange.com/questions/399027/gpg-keyserver-receive-failed-server-indicated-a-failure

[2020-09-18 21:06] vilmibm commented on #1799
I've updated the install instructions to mention this workaround.

[2020-09-18 21:28] ian-kelling commented on #1813
Thanks for the response.

GitHub CLI prominently advertises itself free (as in free software) at
the top of https://cli.github.com/. The free software definition,
https://www.gnu.org/philosophy/free-sw.en.html, says: "In any given
scenario, these freedoms must apply to whatever code we plan to make use
of, or lead others to make use of. For instance, consider a program A
which automatically launch

[2020-09-18 21:41] heaths opened #1819 "Issue searches with label are case-sensitive"
### Describe the bug

When running something like `gh issue list --label foo`, issues with label `Foo` are not returned despite labels being case-insensitive on the GitHub web site both in terms of searching and creating, i.e. you can't create a label that differs only by case.

Assignee, author, and milestone queries are case-insensitive, however. I can pass "HEATHS" and get the same results as "

[2020-09-18 21:59] heaths commented on #1819
This appears to actually be a GraphQL / backend issue, as the following query yields the same empty results (sans milestone, which wasn't yielding results and I suspect requires some sort of escaping that wasn't among the obvious patterns I tried):
[code]

[2020-09-18 22:17] MarcosRugerio commented on #1797
@imojha I use Ubuntu 20.04 and I had the same issue, I tried and ran these command three times the command.
[code]
Because the installation stops multiple times, three in my case, after that...
[code]

[2020-09-18 22:25] dayvsonsales commented on #1768
@iamadarshk ohh, I was thinking about the case when the user only presses enter without typing a name, but I did a look deep in the code and realized that there is a default name in this case. 👍🏻

[2020-09-18 22:35] jharshman opened #1820 "PR Create - GraphQL error due to wrong head branch detected"
### Describe the bug

When trying to create a Pull Request through `gh pr create`, I run into the following error:
[code]

[code]

### Steps to reproduce the behavior

1. Fork a repo
2. Clone and set origin and upstream
3. Create a branch and commit some changes
4. Run the following: `gh pr create --fill`

### Expected vs actual behavior

I would have expected to see the PR created. Instead it res

[2020-09-18 22:37] tierninho opened #1821 "Emoji spacing is not rendered the same as github.com"
There appears to be a missing space in the subject line in `gh` when carrying it to github.com

I highlighted the space in .com and here it is compared to CLI:
![Screen Shot 2020-09-18 at 12 26 20 PM](https://user-images.githubusercontent.com/14828183/93650856-5a6c6b00-f9ab-11ea-83df-7ca3b8d55377.png)

Console logs show a space:
![Screen Shot 2020-09-18 at 12 26 45 PM](https://user-images.githubus

[2020-09-18 22:51] negebauer opened #1822 "gh repo view not scrolling in vscode integrated terminal"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

[code]

When using the `gh repo view` command in iTerm2 and the mac Terminal app it shows it with navigation working using the arrow keys. Clicking down scrolls the README.d

![image](https://user-images.githubusercontent.com/11860880/93651403-bead2000-f9e7-11ea-8162-47fc91c789b9.pn

[2020-09-18 22:54] heaths commented on #1819
If changing the service is not under consideration, perhaps an edge query on a case-insensitive label search?

[code]

[2020-09-18 23:42] vilmibm commented on #1813
Free in this context means no cost. Open source != "free as in libre"software.

I'm personally sympathetic to this concern as a fan of the GPL outside of my day job but in the context of open source, corporately driven software I'm not sure this is an argument worth having.

We have a workaround and I think that's sufficient.

[2020-09-19 00:08] ian-kelling commented on #1813
The exact quote on https://cli.github.com/ is: "Free and open source."
Perhaps you misunderstood, because this is fairly universally recognized
in software to mean
https://en.wikipedia.org/wiki/Free_and_open-source_software . Just try
googling for "Free and open source" with the quotes. You can even try
"Free and open source" site:github.blog and its pretty clearly all
referring to the same thing,

[2020-09-19 00:17] zautumnz commented on #1822
Does the same thing happen if you run `less` or whatever your `$PAGER` is on a long file? If so I would guess that's an issue with pagers and VS Code's terminal.

[2020-09-19 00:50] wimglenn commented on #1745
Thanks for the explanation. I am reassured that my GHE token was not being sent to github.com.

[2020-09-19 01:35] tierninho commented on #1822
I ran into a `$PAGER` issue in iTerm2, and running `LESS=FRX` fixed it.

[2020-09-19 01:52] negebauer commented on #1822
It only happens with `gh repo view`. Running `less` or `$PAGER` directly on a long file works correctly.

[2020-09-19 02:22] rjbell4 opened #1825 "Link for github.com when authenticating to GitHub Enterprise host"
When logging into an GitHub Enterprise server with a command like:
`gh auth login --hostname github.mydomain.com`

And then choosing to supply a token, the "tip" displayed is:
[code]

Instead of `github.com`, this should use the hostname supplied.

[2020-09-19 03:03] Bill7714 commented on #1825
i don't understand

[2020-09-19 03:33] SilkyFowl commented on #1775
Should I open Issue to Cobra?
I'll have to run some errands, so I'll probably be back in half a day or so...

[2020-09-19 05:25] Bill7714 opened #1826 "i don't understand how"
i don't understand

__Originally posted by @Bill7714 in https://github.com/cli/cli/issues/1825#issuecomment-695155525__

[2020-09-19 05:26] #1826 closed

[2020-09-19 05:55] naoliv opened #1827 "Symlink sid → unstable in gh's repository"
### Describe the feature or problem you’d like to solve

When adding the repository in a Debian sid (unstable) system it creates the source as:

[code]

But while running `apt update` we get:

[code]

Replacing `sid` by `unstable` in `sources.list` works as expected.

### Proposed solution

Since `sid` is also a valid release name, your repository should have a link `sid` pointing to `unstable` (s

[2020-09-19 06:25] cole-gillespie commented on #1807
+1 for `-v, --verbose` just because that is my first go to when trying to get more info. i think the output of verbose should be more verbose than just `checks`. when i list prs in verbose mode I want to not only see the `checks` but also `view` the pr. So maybe the right thing to do here is add a verbose flag on `list` that lets there be all of the data known when running `--verbose` but also add

[2020-09-19 07:16] AngelARVM opened #1829 "testing"
testing

[2020-09-19 07:18] GV14982 opened #1830 "Link PR to issue when creating a new PR via CLI"
### Describe the feature or problem you’d like to solve

I would like to be able to link a PR to an issue when creating a new PR via the CLI

### Proposed solution

Keep the entire PR creation process in the CLI

[2020-09-19 07:25] ArtistaVeKaras opened #1831 "this is a feedback based on the code review that I did"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-09-19 07:26] m-spitfire opened #1832 "gh gist delete command request"
### The feature
I do not think right now the GitHub CLI has ability to delete gists

I will be better if it can delete it via `gh gist delete <id>`

[code]

[2020-09-19 07:28] #1829 closed, assigned to nobody

[2020-09-19 07:40] Satwato commented on #1799
You only mentioned the addition of port `:80` , that alone didn't work.
`hkp://` was essential too.

[2020-09-19 07:44] ArtistaVeKaras opened #1833 "this is a nasty bug"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-19 08:33] nejat-njonjo commented on #1799
@Satwato Thanks a lot. This really fixes the issue.

[2020-09-19 08:59] #1833 closed, assigned to nobody

[2020-09-19 10:36] potatoqualitee opened #1835 "Where are user settings stored on all supported OSes?"
I am working on a presentation for cli and would like to start from scratch to show the audience the smooth the install & login process.

How can I wipe my user settings so that it forgets me? I'm currently on Windows and poked around AppData but can't find it. An uninstall also didn't wipe it, which I didn't expect anyway but was worth a shot.

Thanks,
Chrissy

[2020-09-19 10:37] R4356th opened #1836 "make Error"
### Describe the bug

Executing the command ``make`` produces an error (look below). My Go version is 1.11.2.

### Steps to reproduce the behavior

1. Execute the command ``make``.

### Expected vs actual behavior

No error should occur.

### Logs

[code]

[2020-09-19 10:38] davezarzycki opened #1837 "gh "base repository" not worktree specific"
gh version 1.0.0 (2020-09-16)

Setup: a "bare" git repository with multiple remotes and multiple git worktrees. For example: both https://github.com/llvm/llvm-project and https://github.com/apple/llvm-project

Problem: Unlike similar git workflows, `gh` asks the user to pick a "base repository" which is tied to the bare repository, not branches nor worktrees.

Workaround: create a wrapper around `

[2020-09-19 11:46] imojha commented on #1797
yes, I did. But didn't work.

[2020-09-19 11:50] arjunkesava opened #1838 "Contribution for Cli Manual Docs"
### Describe the feature or problem you’d like to solve

I am looking to contribute the documentation for gh [manual](https://cli.github.com/manual/)
But I was unable to find the source code for the manual docs.

### Proposed solution

How will it benefit CLI and its users?

I want to add more examples so that newbies can understand the power of this cli.

[2020-09-19 11:51] mamercad commented on #1815
👍

[2020-09-19 11:55] obriencj opened #1839 "distinct git_protocol and git_push_protocol settings"
### Describe the feature or problem you’d like to solve

One of the first things I end up doing from most clones is setting a distinct pushurl. I use the https protocol for url, and then the ssh protocol for push. This lets me perform a pull unauthenticated, and push using my SSH key.

Currently, gh supports only a git_protocol setting to select between setting the default remotes using either htt