[2020-06-26 08:11] dezren39 opened #1273 "test hope you have good filters test"

[2020-06-26 08:27] mislav commented on #1272
@sqren Sorry for the bad experience. I think we should in the future show you the link like hub does.

In the meantime, you can delete `~/.config/gh/hosts.yml` and that will force re-authentication.

Ref. #627

[2020-06-26 08:28] mislav commented on #1273
Hello! If you're just testing GitHub CLI, please do so in your own repository so we avoid triggering notifications in this repository. Thank you!

[2020-06-26 08:28] #1273 closed, assigned to nobody

[2020-06-26 09:35] mislav commented on #1268
Thanks for the feedback! I think reducing is a good idea, but it might be tricky to achieve for GraphQL requests. That's why we currently dump raw JSON responses without changing them.

[2020-06-26 20:02] barentsen opened #1278 "Name space collision with `gitsome`"
The debian package `gitsome` also provides a `gh` command.

This is confusing because Ubuntu 20.04 will make the following recommendation to anyone who ignores the GitHub CLI installation instructions:
[code]

Of course `gitsome` is the wrong package, so this doesn't work:
[code]

I'm not sure what the correct solution is here, but I suspect this may be a common user experience for Linux users.

[2020-06-26 20:34] vilmibm commented on #1278
I don't think there's anything to be done here but thank you for letting us know. This comes up with apt sometimes (I certainly installed chromium-bsu instead of the chromium browser by accident for a few years).

Eventually we intend to have official deb repos and hopefully apt will be able to suggest both packages to users.

[2020-06-26 20:34] #1278 closed, assigned to nobody

[2020-06-26 20:35] vilmibm commented on #1272
It sounds like the action item here is to print a useful link in this scenario; I'm going to update the issue title to reflect that.

[2020-06-26 20:43] vilmibm commented on #1270
We chatted about this internally a bit; we think the best change here is to have `repo create` act more like other commands. something like:

[code]

If there is other info to collect we could have a final confirm step.

We have a "prompt when user's intent is hard to guess" approach that I think fits well here.

[2020-06-26 20:49] vilmibm commented on #1267
Hi!

I'm sorry this is giving you trouble.

First, just to be sure -- you are connecting to `github.com` and not an enterprise host, right?

If so I might tap @mislav who is better at debugging authentication stuff than me.

[2020-06-26 20:51] jethas-bennettjones commented on #1267
Hi Nate,

No problem.

Yes, I'm connecting to github.com

 Shafiq.

Sent with BlackBerry Work
(www.blackberry.com<http://www.blackberry.com>)

From: Nate Smith <notifications@github.com<mailto:notifications@github.com>>
Date: Friday, Jun 26, 2020, 2:49 PM
To: cli/cli <cli@noreply.github.com<mailto:cli@noreply.github.com>>
Cc: Shafiq Jetha <JethaS@bennettjones.com<mailto:JethaS@bennettjones.com>>,

[2020-06-26 20:52] vilmibm commented on #1270
If someone wants to work on this that'd be just fine :sparkles: but do check in first so we can finalize the UX.

[2020-06-27 06:47] Vishesh-Gupta commented on #1270
Just wanted to raise a point here that a lot of people do not know that or depend upon GitHub to add hyphens to the repo name automatically if it has whitespace of any sort. Maybe that is something that can also be looked into.

And keeping the third UI makes it cleaner since then people can do the following as people don't create repos that often so they can take a minute extra to create it and s

[2020-06-27 06:55] Vishesh-Gupta commented on #1217
Honestly I think they should be two separate commands that can be set to an alias on your terminal settings. Make a quick bash/python/ or any other preffered scripting language script that does that for you if you use it very often. I do not see a benefit of adding such complicated commands.

[code]

Hopefully you could use this and this does your job. Your use case as a developer is very special

[2020-06-27 14:06] ShubhankarKG commented on #1270
Hi @vilmibm , just wanted to know if this is the finalised UX. Please let me know if there are more changes, or perhaps include more options as @Vishesh-Gupta suggested. I'd like to work on this.

[2020-06-27 18:38] egormalyutin opened #1280 "Init repository when running "gh repo create" in existing directory"
### Describe the feature or problem you’d like to solve

At this moment if I want to create a repo with `gh`, I need to run these commands:

[code]

I think `gh` would be much more useful if it could init Git repo in current directory (if no Git repo was found in upper directories).

### Proposed solution

The benefit will be typing less :)

Example:

[code]

[2020-06-27 19:21] sorenlouv commented on #1272
Agreed 👍

[2020-06-27 19:21] sorenlouv commented on #1272
That solved it, thank you 👍

[2020-06-28 01:04] PowerKiKi commented on #370
Still seeing this with `gh version 0.10.1 (2020-06-24)`. My remotes are:

[code]

[2020-06-28 10:05] alexellis opened #1281 "List my gists so that I can search and index them"
### Describe the feature or problem you’d like to solve

List my gists so that I can search and index them

[code]

### Proposed solution

Iterate the gists and return in a table format so that tools like grep/awk can be used to filter

### Additional context

Navigating, filtering, and searching gists can be difficult and tricky with the UI.

For instance - filtering on **title**, I have a backup

[2020-06-29 07:20] nhaehnle opened #1285 "gh pr fetch / gh pr checkout to non-branch (FETCH_HEAD)"
### Describe the feature or problem you’d like to solve

Allow the use of `gh pr checkout` for reviews without polluting the local branch namespace.

I would love to use `gh pr checkout` to help review more complex changes locally (the local tooling is better, and it allows me to better understand the changes in their context by navigating them in my own IDE), but the fact that the tool creates an

[2020-06-29 08:05] perk11 commented on #233
This can also happen even if you didn't initially have a branch with this name locally, but checked out the PR, after that the PR author force pushes into the PR and this command tries to do git pull, which can even lead to a merge. It should be really making sure it's checking out the exact commit in the PR, not something else.

[2020-06-29 10:08] foolip opened #1286 "gh pr create unnecessarily adds a remote and prompts for credentials if one has a fork"
### Describe the bug

If one has a fork of a repository (but also have write access to the main repository), then `gh pr create -f` will add the personal fork as a `fork` remote, and try to push a branch there. That will ask for a username/password. But if fixed, it would also create a branch in the wrong repository.

gh version 0.10.1 (2020-06-24)

### Steps to reproduce the behavior

1. Clone a

[2020-06-29 12:31] onearm71 opened #1287 "@mislav, look the sollution now, i hope you enjoy :smiley:"
@mislav, look the sollution now, i hope you enjoy :smiley:
How we can talk about implementation before i act on some issue? Email? here?

_Originally posted by @gabgodBB in https://github.com/cli/cli/pull/1187#issuecomment-643399039_

[2020-06-29 12:44] klauern opened #1288 "Add `:branch` placeholder to api command"
### Describe the feature or problem you’d like to solve

I have only recently been looking at the `gh api` subcommand, but I was wondering if it would be possible to automatically perform template-replacement for any field beginning with a `:` in it, such that the examples that are provided would run as-is when you're running in the current working directory of a GH repository:

[code]

### Propos

[2020-06-29 12:48] mislav commented on #1288
This is exactly how the `:owner` and `:repo` feature works. Did you try it?

Per `gh help api`:

[2020-06-29 12:49] #1287 closed, assigned to nobody

[2020-06-29 12:56] klauern commented on #1288
I did, which is why I thought it was a feature missing:

![image](https://user-images.githubusercontent.com/4735/86008052-ea6acc00-b9dd-11ea-8387-f62c8ae284f6.png)

![image](https://user-images.githubusercontent.com/4735/86008105-f9517e80-b9dd-11ea-93b1-9d0e2d8140ed.png)

[2020-06-29 12:57] klauern commented on #1288
I was on my `master` branch, which has status checks on it, so I had assumed it was just not implemented.  Perhaps this is a bug then?

[2020-06-29 13:13] casperdcl opened #1289 "gh issue list: filter by content/free text"
### Describe the feature or problem you’d like to solve

`gh issue list` only supports filtering by

- assignee
- author
- label
- state

but ideally should also accept free text entry to search inside comments.

### Proposed solution

Add a new flag, e.g.

`-t, --text string  : Filter by text appearing in comments`

This avoids people doing `gh issue create` when there are duplicate issues.

[2020-06-29 13:17] casperdcl opened #1290 "gh pr diff: add pager"
### Describe the feature or problem you’d like to solve

`gh pr diff` does not work like `git diff` - specifically, it does not have a pager.

doing `gh pr diff | less` also removes colours so is not a solution.

### Proposed solution

make `gh pr diff` behave like `git diff`, i.e. colourful pagination

[2020-06-29 14:14] mislav commented on #1267
@jethas-bennettjones Would that error show up on the website? Can you tell us more about the exact wording of the error? (You may leave out confidential info such as names).

Could you also tell us more about how you installed `gh` and whether you are using any personal access tokens with CLI, either via editing config files or by having a GITHUB_TOKEN environment variable?

Thank you!

[2020-06-29 14:48] mislav commented on #1286
Hi, thank you for reporting! I see two problems here:

1. You've expected the branch to be pushed to the origin repo, but it was pushed to a fork. This is currently by design #350, but we will be re-evaluating this behavior #924. For now you can choose the push target by manually pushing the branch before invoking `gh pr create`.

2. The fork remote was added using `https`, whereas it should have

[2020-06-29 14:48] #1286 closed, assigned to nobody

[2020-06-29 15:25] phil-blain opened #1291 "Can't upgrade past 0.6.4 on macOS 10.11.6"
### Describe the bug

I can't upgrade past version 0.6.4. I was on 0.6.2, did `brew upgrade gh`, got:
[code]

### Steps to reproduce the behavior

Try to upgrade from 0.6.2 on macOS 10.11.6...

### Expected vs actual behavior

Get the latest version (v0.10.1)

### Logs

See above.

[2020-06-29 16:01] phil-blain opened #1292 "`gh {pr,issue} create` does not support {ISSUE,PULL_REQUEST}_TEMPLATE without `.md` extension"
### Describe the bug

`gh pr create` does not support PULL_REQUEST_TEMPLATE without `.md` extension ("old-style" templates) (probably same thing for issues but I've haven't tested that).

[code]

### Steps to reproduce the behavior

1. Clone a repo with an old-style pull request or issue template (i.e. one with `.github/PULL_REQUEST_TEMPLATE` like https://github.com/CICE-Consortium/Icepack)
2. Com

[2020-06-30 04:31] aszenz opened #1293 "Add command to request review on pr"
### Describe the feature or problem you’d like to solve

After creating a pull request I would like to be able to select a reviewer to review my pr from the cli

### Proposed solution

`gh pr <pr-no> request-review <user-name>` and an option while creating the pr

How will it benefit CLI and its users?
Complete the whole experience of creating a pull request

[2020-06-30 07:39] AliabbasMerchant commented on #1293
Instead of having separate commands, I think it would be better if we have a command `pr edit`, for editing prs.
And we can have similar flags in that, like our existing `pr create` command

[2020-06-30 10:25] pbharadiya opened #1294 "PR body(description) is not reflecting as empty even after removing the content completely"
### Describe the bug

Version: `version 0.10.1 (2020-06-24)`
PR body(description) is not reflecting as empty even after removing the content completely

### Steps to reproduce the behavior

1. gh pr create --base master
2. Enter title
3. Change body (remove content completely)
4. Save the file (nano editor)
5. Submit

### Expected vs actual behavior
Expected:
If I remove the content from default P

[2020-06-30 10:32] mislav commented on #1293
@aszenz Hi, you can already request reviewers during `gh pr create` by either using `--reviewer` flags or by selecting some reviewers during the interactive `pr create` process.

Being able to request further reviewers after the PR is already created could be useful. We're tracking this idea in https://github.com/cli/cli/issues/971 already, so I'm going to close this one as duplicate. 🙇

[2020-06-30 10:32] #1293 closed, assigned to nobody

[2020-06-30 10:35] mislav commented on #1294
@pbharadiya Thank you for reporting!

@AliabbasMerchant If you would have time at any point in this week or next, could you look into this please? I got a feeling that it might be simple to solve, and you are probably already familiar with the code in question. I think what we would have to do is distinguish between the cases when body was empty because editor was skipped and body was empty when e

[2020-06-30 10:38] mislav commented on #1291
Hi, I think this is a problem with Homebrew. It looks like your macOS version might not supported anymore.

First, you can see if `brew update` successfully updates the `github/gh` tap. Then you might upgrade `github/gh/gh` to latest v0.10.x version.

Maybe you can try re-adding the tap:
[code]

Alternatively, you can download precompiled binaries for GitHub CLI here https://github.com/cli/cli/rel

[2020-06-30 10:38] #1291 closed, assigned to nobody

[2020-06-30 10:46] mislav commented on #1288
This works in this repo:
[code]

Note that there is no `:branch` placeholder. Perhaps this is something that we can add in the future.

Can you debug your own attempts with `DEBUG=api gh api ...`?

[2020-06-30 10:48] mislav commented on #370
@PowerKiKi Since `jbox-web/redmine_git_hosting` is a fork, `gh pr checkout 123` in that repo will try to check out PR `#123` of the _parent_ repository. This might not be what you wanted.

We might change this default, but until then, the only workaround you can do is:
[code]

[2020-06-30 12:41] fabriziopandini opened #1296 "gh pr checkout --rename-branch"
Congrats for the tool!

### Describe the feature or problem you’d like to solve

When I check out a PR for review, I would like to use a different local branch name so I can easily distinguish my PRs from other PRs by using a naming convention

### Proposed solution

To add a --rename-branch flag to gh pr checkout
If the flag is followed by a name, this value will be used, otherwise pr-[Number] wi

[2020-06-30 13:16] jethas-bennettjones commented on #1267
Hi @mislav
Here is a screenshot of the actual error I get:
![image](https://user-images.githubusercontent.com/62298251/86129619-39793580-baa0-11ea-8130-5ffa84103c24.png)

I can replicate it on the website by running through the authentication process again, which I'm not sure how to do.

I installed `gh` via the Beta website.

I don't have a GITHUB_TOKEN environment variable set.

I've checked the

[2020-06-30 13:58] mislav commented on #1296
Hi, we are already tracking this as https://github.com/cli/cli/issues/835 and https://github.com/cli/cli/issues/866.

[2020-06-30 13:58] #1296 closed, assigned to nobody

[2020-06-30 17:27] mislav commented on #1267
@jethas-bennettjones Auth tokens are in `~/.config/gh`, so you may nuke those config files (in the latest version it's just `hosts.yml`) and try again!

[2020-06-30 17:31] mislav commented on #1289
Thanks! See https://github.com/cli/cli/pull/830 for an experiment in searching issues.

Closing as duplicate of https://github.com/cli/cli/issues/452

[2020-06-30 17:31] #1289 closed, assigned to nobody

[2020-06-30 19:32] vilmibm opened #1297 "pr scriptability improvements"
This issue captures the improvements required to make `gh pr` subcommands more amenable to scripting. Most of these bullet points are trivial; some are more involved. Came out of research for #940

create:

- [x] Clear error if not connected to a tty but either `--title` xor `--fill` is missing
- [x] All output except final URL should go to STDERR when when not connected to tty

list:

- [x] outpu

[2020-06-30 19:42] vilmibm opened #1298 "issue scriptability improvements"
## issue command improvements

This issue captures the improvements required to make `gh issue` subcommands more amenable to scripting. Most of these bullet points are trivial; some are more involved. Came out of research for #940

create:

- [x] Clearly error when STDIN fails isTerminal
- [x] Clearly error when STDOUT fails isTerminal

list:

- [x] output should be machine friendly when STDOUT fa

[2020-06-30 20:01] vilmibm opened #1299 "repo command scriptability improvements"
This issue captures the improvements required to make `gh repo` subcommands more amenable to scripting. Most of these bullet points are trivial; some are more involved. Came out of research for #940

fork:

- [x] clearly error when not attached to tty and would otherwise prompt
- [x] no informational output if not attached to tty

view:

- [x] Output raw text and print metadata linewise when not a

[2020-06-30 20:03] vilmibm opened #1300 "miscelleneous scriptability improvements"
This issue captures minor, lingering TODOs from #940 and can also be a catch-all for action items discovered during the actual scriptability work.

- [x] `gh alias delete` should print to STDERR instead of STDOUT
- [x] `gh alias set` should print to STDERR instead of STDOUT
- [x] don't print stuff anywhere when not attached to tty

[2020-06-30 20:08] vilmibm commented on #940
Closing since the audit is done and action items moved to issues.

[2020-06-30 20:08] #940 closed

[2020-07-01 01:08] PowerKiKi commented on #370
Correct, `jbox-web/redmine_git_hosting` is a fork (of a fork of a fork of a fork, believe or not !). But it has now outlived all ancestors (by far), and it should be considered as an independent project by now. But of course there is no way for `cli/cli` to know that.

What would be super useful, if this cannot be fixed easily, is to have a slightly more verbose message including the repository th

[2020-07-01 06:20] chandlerc commented on #1023
I think this is more serious than an "enhancement".

In the GitHub web UI, the "squash and merge" button *always* opens a text box to prompt editing the commit message.

The `git pr merge --squash` command *gives no indication* that it will directly commit without any option to edit the commit message. This is *extremely* surprising and results in a bad history for repositories. At the very least,

[2020-07-01 08:14] issyl0 opened #1303 "Support aliases deeper than top level, e.g. `gh pr co`"
### Describe the feature or problem you’d like to solve

I type `gh pr checkout` _many_ times a day. Typing `checkout` is long. I have shell aliases for `git checkout`: `gco`. That muscle memory could carry over to `gh pr checkout` too, with the `gh pr co` command alias.

I'd like to think that this affects many people using `gh pr checkout`: not just me. But I've not done any research to verify t

[2020-07-01 10:48] mislav commented on #1303
Hi, thanks for explaining how you're using gh!

Would it be an option for you to create a gh alias for `pr checkout`? E.g.
[code]

In fact, I believe that we ship with this alias as default for new users who are installing GitHub CLI.

[2020-07-01 11:32] issyl0 commented on #1303
`gh alias set co 'pr checkout'` works - thanks, @mislav. I didn't realise `alias set` was a thing. 😳

I did try out `gh alias set 'pr co' 'pr checkout'`, which doesn't seem to work. But I understand that keeping the `pr` namespacing is perhaps not the preferred way (even though it makes more sense to me as `co` operates on PRs in this case).

[2020-07-01 13:31] mislav commented on #1300
Regarding printing confirmation messages to STDERR instead of STDOUT: I'm wondering whether it would make more sense to instead generally avoid printing confirmation messages in non-interactive modes. https://github.com/cli/cli/pull/796

For example: `pr list` and `pr create` currently print lines to stderr like "Showing 30 of 30 pull requests in REPO" and "Creating pull request for X into Y in RE

[2020-07-01 13:41] mislav commented on #1297
I'm wondering whether a safer default behavior would be to, if in non-interactive mode (and thus unable to prompt for information), to fail with an error that explains that either explicit `--title` or `--fill` flag is required? That would force scripts that use `pr create` to read more clearly re: what their intention is.

In general, the way I see mutation commands such as `pr create` or `repo c

[2020-07-01 13:46] mislav commented on #370
@PowerKiKi That's not a bad idea! ✨

[2020-07-01 13:50] mislav commented on #1303
@issyl0 You're right, right now aliases are only supported at "top-level" and not nested under a command such as `pr`. We could potentially support nested ones too, but I don't see why someone would create a 2-word alias when they can create a 1-word one.

Do you feel that this can be closed or that we should keep it open as a feature request?

[2020-07-01 14:05] issyl0 commented on #1303
Thanks for your responses. This is fine to close. If `gh co` still seems weird in a week or two, I can keep my local change to support `gh pr co`.

[2020-07-01 15:27] pbiology opened #1306 "Add issue to a user-level project"
### Problem
I'm trying to add issues and have them being automatically picked up by the project kanban board.
When adding an issue I get an error saying could not add to project: 'project name' not found

I'm using gh version 0.10.1 on macOS 10.14.6

### Command
the command I'm running is this:
`gh issue create -t "Issue title" -b "A lot of great extra info here" -l enhancement -p projectName`

##

[2020-07-01 15:56] AliabbasMerchant commented on #1306
AFAIK, the `-p` flag accepts a project in the form `octo-org/1`

[2020-07-01 15:58] mislav commented on #1306
@pbiology Thanks for writing in!

When you specify `-p "my project name"`, we lookup that name (in a case-insensitive way) among the names of all projects in that repository or org until we find a match. Did you ensure that you are specifying the exact project name as it appears in the web UI? (Again, the case does not matter.) Does your project exist in the same repo, or in the organization of th

[2020-07-01 16:31] AliabbasMerchant commented on #1306
Oh. Then I think our web mode for `issue create` may not be able to assign the project properly (coz the query parameter accepted by GitHub is the project path, not the name).
I will look into it and create an issue & PR if needed.

[2020-07-01 17:23] #1068 closed, assigned to nobody

[2020-07-01 18:54] vilmibm commented on #1300
I'm very in favor of that.

In general, though, it feels wrong to be inconsistent about printing to STDERR and STDOUT. I'd like us to either standardize on one or the other. Even if it doesn't matter to an end user (because the second they redirect they'll be in "scripting" mode) it makes the code confusing -- by not being consistent stderr/stdout it seems like there's meaning in which fd we choos

[2020-07-01 19:45] pbiology commented on #1306
@mislav yeah I'm spelling it correct and the project is in my own personal account, as is the repo. I do have the repo set to private, in case that might affect things.

I tried switching the repo and project to public (It was set to private), but I still get the same error

The project is called ghTest can be found here: https://github.com/pbiology?tab=projects

The exact command I ran, from the

[2020-07-01 20:55] zx8 commented on #1229
@mislav I'd have no problem if both `GITHUB_TOKEN` and `GH_TOKEN` were supported iff `GH_TOKEN` took precedence, since then I could just grant it the required scopes and not have to over-grant access to `GITHUB_TOKEN`.

[2020-07-02 00:16] leecalcote opened #1308 "Add ability to extract only the markdown body from an issue"
### Describe the feature or problem you’d like to solve
Often, I need to create multiple issues that need the same or similar information included in them.

### Proposed solution
I would like to be able to copy (clone) issues within a given repo.

[2020-07-02 02:34] AliabbasMerchant opened #1309 "project argument works differently with the --web flag"
### Describe the bug
Without the `--web` mode, passing the project name in the project flag, works properly.
However, using the `--web` mode, we need to pass the project path, because GitHub takes the project path as the query parameter
Version of gh: master

### Example
Suppose I have a project named "My Project" in my repo, "testingCLI"
For the non-web version, this works:
`gh issue create -t Ti

[2020-07-02 07:26] pbiology commented on #1306
OK, so I found the problem.

I created my project in the top level of my account.
When I instead made a project inside the repo that I had linked to, it worked as I expected.

My hopes of this however, would be that having top level projects would let me get an overview of how the various projects of for instance an organisation are going, and easily see what different team members are working on.

[2020-07-02 09:49] Zylvian commented on #1245
In config_setup, you state that it's safe to embed both the client_id and client_secret in version control. Why is that?

[2020-07-02 09:58] mislav commented on #1306
@pbiology Ah, I see! We don't support user-level projects at the moment, so I'll turn this ticket into a feature request. Thank you!

[2020-07-02 10:00] mislav commented on #1309
I'm in favor of this approach! We already resolve project names to GraphQL node IDs, so we could use those same requests to also resolve project paths and use them for `--web` mode.

[2020-07-02 10:02] mislav commented on #1229
Fantastic. I think that's a great compromise ✨

[2020-07-02 10:06] mislav commented on #1308
@leecalcote Your use case sounds to me like something that we would rather see users achieve with scripting. For example, to open multiple issues with the contents of `myfile.txt` for body:

[code]

I think that adding some `issue clone/copy` command would be too specific for a narrow use-case and wouldn't be used so often. Would you agree?

[2020-07-02 10:10] #1188 closed, assigned to nobody

[2020-07-02 10:11] #1010 closed, assigned to nobody

[2020-07-02 10:14] mislav commented on #1245
@Zylvian The code for any client app (as opposed to a hosted web app) is distributed to its users. Every client app, even if it's just compiled binaries, thus embeds its client_secret that is trivially extracted. So for client apps, we treat their OAuth secret as non-secret.

[2020-07-02 10:42] pbiology commented on #1306
Excellent. I tried it for an organisation, and here it does work as I would have expected.
Thanks for the help

[2020-07-02 11:52] leecalcote commented on #1308
Yes, @mislav, I’d do to the extent that the use case is a bulk action. In this case, I’m in need of doing so for ad-hoc for one or two issues at a time.

[2020-07-02 13:45] #599 closed

[2020-07-02 14:40] mislav commented on #1308
@leecalcote I see. How about something like:

[code]

Right now this would not work perfectly, since `gh issue view` shows other information than just body. But if you had a way to fetch the body only, would this be acceptable?

[2020-07-02 21:02] leecalcote commented on #1308
@mislav, thanks. Yes, it would.

A `gh issue clone #xxx` would be even closer to the mark. ;)

[2020-07-03 03:27] AliabbasMerchant commented on #1294
@mislav Sure!

Agreed.

[2020-07-03 04:17] AliabbasMerchant commented on #1309
I am in favor of approach 2, because:
1. Its much more specifc (and unique) (especially with us aiming to support user-level projects also, in #1306 )
2. The GitHub website uses the project path, so people would already be familiar with it/would be expecting it

It may be breaking for some users, but we can maybe support both, project names and paths for the time being, and then drop support for p

[2020-07-03 05:58] ShubhankarKG commented on #1299
Hey @vilmibm , with regards to the first point, I wanted to know if this is probably a viable way of achieving.
[code]

Also, filtering out the data seems just fine. Putting git related stuff on STDERR won't be helpful, I guess.

[2020-07-03 12:04] eclectic-coding commented on #1203
@mislav I do not really have a question, just an observation. I did get the protocol set, but as an end user, looking at the documentation, it is minimal. I know the CLI is beta, but a more robust manual, I hope, is in the plans. If you need any help I would be glad to assist.

[2020-07-03 14:58] jethas-bennettjones commented on #1267
Hi Mislav,

Here is what I see in the browser when I try to run through the authentication process again:
![image](https://user-images.githubusercontent.com/62298251/86604204-501d0200-bf62-11ea-826b-12d14e446330.png)

Let me know what other information you require and I'll provide as much as I can to help diagnose this issue.

[2020-07-03 19:00] P284 opened #1313 ""(SSH)"ssh-keygen"-N"<passphrase>"-b(2048)"bit"(2048)SSH-2(RSA)-C"<key_name>""
**tex.3d%2%**[loop.view135@gmail.com](url)"link"``"(SSH)"ssh-keygen"-N"<passphrase>"-b(2048)"bit"(2048)SSH-2(RSA)-C"<key_name>"

- "list =date-time"
GOOGLE link Adobe "PDF"file hunt

- [SQL SSL CERTIFICATE LEAGLEBINDING  INCOME  @gmail.com imap manual SET  #907

[2020-07-03 21:46] ljtill commented on #1074
Not the solution but in case it's useful for anyone; I've found adding a Personal Access Token in the Environment Variables (GITHUB_TOKEN) settings within VS Codespaces has solved this challenge in the short term.

[2020-07-03 23:27] bewuethr opened #1314 "Can't use GitHub CLI with GITHUB_TOKEN to mark PR as ready from GitHub Action"
This looks a bit similar to #1026, but I don't think it's the same.

`gh` has been added to the virtual environment for GitHub actions recently; as per the [README](https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md), it's version 10.1 since the 20200625.0 update of the environment.

I'm using it to create a new branch and then a pull request from a GitHu

[2020-07-04 00:18] RobCannon opened #1315 "Unable to create repo in an organization, even though I have the correct permission"
### Describe the bug

I have the permissions to create a repository for MyOrg and can do so via the github web UI. The authentication for the gh cli seems to be correct in that I can view information about other repositories in the organization that are no public.  But I am unable to use the gh cli to create a new repository.

### Steps to reproduce the behavior

1. Type
[code]

2. See error:
[cod

[2020-07-04 12:39] jlewi opened #1316 "Support authenticating as a GitHub App"
### Describe the feature or problem you’d like to solve

I'd like to be able to use the gh CLI as a GitHub app.

We (Kubeflow) are creating CD automation that will open up PRs to perform routine updates (e.g. point to the latest docker image of a binary).

We would like these PRs to be opened up using a GitHub App to authenticate to GitHub. Using a GitHub App seems preferable to using OAuth apps o

[2020-07-04 17:05] paulohenriqu opened #1318 "Squash and Merge Pull Request Signing Commit with Local GPG Key"
### Describe the feature or problem you’d like to solve

Currently, when someone merges a Pull Request using the Github UI and the "Squash and Merge" option, the commit is signed with the Github GPG key and the PR status changed to merged automatically.

Would it be possible to sign the squash commit using the user GPG key?

### Proposed solution

It seems to me that Github uses its own GPG key be

[2020-07-04 18:16] jlewi commented on #1316
I came across this library for doing authentication using GitHub Apps
https://github.com/bradleyfalzon/ghinstallation

Could we merge that code into the official golang CLI/libraries?

cc @bradleyfalzon

[2020-07-04 18:17] danshearer opened #1319 "Inaccessible gh login process"
To the CLI team, Cc @martinwoodward , @mamuso .

Summary
-------------

gh does not allow accessible login, although it otherwise addresses many of Github's accessibility problems. Fixing this bug will finally make gh important as an accessibility tool, as well as all its other uses. Pointers to the wider accessibility context for this bug are at the end of this bug report.

The recent addition to

[2020-07-04 20:15] olgabot opened #1320 "~/.config/gh/hosts.yml stopped working to authenticate"
### Describe the bug

Hello, I had configured `gh` cli on my laptop and then wanted to use it on a headless system. I copied the configuration over with `scp`:

[code]

And this worked for a bit, but with the 0.10.1 release, I can no longer create PRs in the command line due to lack of authentication.

Version info:

[code]

### Steps to reproduce the behavior

1. Type `gh or create`
2. Press <kbd

[2020-07-05 09:13] rchaganti opened #1323 "gh pr merge provides no way to retain a branch after merge"
### Describe the bug

When merging a pull request from a branch, gh pr merge provides --delete-branch flag. However, this is set to true by default. This is not helpful when we want to retain the branch after merge.

### Steps to reproduce the behavior

1. Create a pr using gh pr create --title 'something' --body 'some more text'
2. Note down the pull request number
3. Merge the PR using gh pr mer

[2020-07-05 12:24] ezzra opened #1324 "show issue title after using 'issue close'"
when using `gh issue close` you might mistakenly have typed in the wrong issue number, it would be good if the issue title would be returned after closing it.

[2020-07-05 14:17] ShubhankarKG opened #1325 "Issue close goes into panic mode when issue number is invalid"
### Describe the bug
`gh issue close some_invalid_number` goes into panic mode since the error isn't properly displayed.

gh version :- v0.10.1

### Steps to reproduce the behavior

1. Type this `gh issue close 102154`
2. See error

### Expected vs actual behavior

Expected behaviour
[code]

Actual behaviour
[code]
### Logs
Same as mentioned above.

### Extra
I figured out something. There is a co

[2020-07-05 14:30] AliabbasMerchant commented on #1325
@ShubhankarKG  Nice catch :+1:
Just checked, the issue reopen function also has similar code. Can you check if this error occurs in `issue reopen` also?

To fix this, I think it would be best to directly return the err, instead of returning a custom error. (This is what we are doing in all the other functions like `issue view`)

[2020-07-05 14:36] ShubhankarKG commented on #1325
Yes, `issue reopen` also has this problem.

I support you in this. This is how it is handled in all cases as well. Might just return the err for a cleaner output.

[2020-07-05 14:57] voquanghoa opened #1326 "gh repo clone requires me to enter username/password"
### Describe the bug

I'm trying to use GH cli and at the first impression, I got an error

I have created a repository successfully (gh opened a web browser to login).
However, when I want to clone the repository by the command `gh repo clone`, it requires me to enter username/password then I should use `git clone` instead. See my screenshot

![image](https://user-images.githubusercontent.com/104

[2020-07-05 17:13] jlewi opened #1327 "Make ghrepo a public package"
### Describe the feature or problem you’d like to solve

I would like ghrepo to be a public package
https://github.com/cli/cli/tree/trunk/internal/ghrepo

This way I could reuse it when using the CLI programmatically in go. Right now since its located inside the internal directory its not usable outside it
https://golang.org/doc/go1.4#internalpackages

Here's an example. I want to programmatically

[2020-07-06 06:22] coot commented on #419
Is there any progress on this, the current behaviour is quite annoying and limiting.

[2020-07-06 09:03] mislav commented on #419
@coot We are waiting on the corresponding GraphQL APIs to be finalized on the platform side.

[2020-07-06 09:08] mislav commented on #1320
@olgabot I'm sorry for the trouble! We extracted authentication info into a separate config file: `~/.config/gh/hosts.yml` https://github.com/cli/cli/pull/1077. To authenticate on a headless system, right now you need to copy both configuration files (when https://github.com/cli/cli/pull/1304 ships, it will be just `hosts.yml` that is needed).

As an alternative to configuration files, you can als

[2020-07-06 09:08] #1320 closed, assigned to nobody

[2020-07-06 11:04] mislav commented on #1315
Thank you for reporting! That sounds strange.

Could you try out a manual API call? Start with:
[code]

That will get you the GraphQL ID of `MyOrg`. Then you can use it in:
[code]

You will get the full API response plus HTTP headers back. You will most likely get the same error, but now we have confirmation that things are indeed wrong on the API side and maybe you could take that information to

[2020-07-06 11:16] mislav commented on #1326
@voquanghoa We default to cloning repositories using HTTPS, which can resulting in git asking you for username/password.

You can opt into cloning the repositories over SSH: `gh config set git_protocol ssh -h github.com`

Then you can try the `gh repo clone` command again. 🙇

[2020-07-06 11:16] #1326 closed, assigned to nobody

[2020-07-06 11:25] mislav commented on #1316
Thanks for writing in! I'm not sure what you are proposing for GitHub CLI to implement. Could you elaborate more?

Right now, GitHub CLI authenticates users via its own OAuth app called "GitHub CLI". However, you may use credentials generated elsewhere (e.g. a Personal Access Token or a GitHub Apps token) by supplying a GITHUB_TOKEN environment variable. Is that a suitable workaround for you?

In

[2020-07-06 11:31] mislav commented on #1318
Right now, our ability to Squash and Merge pull requests is limited by the functionality that the API provides. User GPG keys are not supported by the API for the Squash and Merge operation, so we can't really support that through CLI either.

However, if the user who intends to do a squash & merge operation with their own GPG key is already in the context of the git repository, it's always an opt

[2020-07-06 11:34] mislav commented on #1323
Hi, you may explicitly override any boolean flag with this syntax:

[code]

This syntax is not documented, so I understand that you were stuck trying to figure this out.

[2020-07-06 11:38] coot commented on #419
@mislav thanks for letting me/us know

[2020-07-06 11:38] mislav commented on #1327
Hi, thanks for explaining how you would use our Go packages.

Personally, I would not recommend importing any packages from our repository into your project other than those under `github.com/cli/cli/pkg/*`. Currently, our largest packages are `command` and `api`, but neither are really suitable for using as a library, since they were not intended to be used that way.

Furthermore, we intentionall

[2020-07-06 11:38] #1327 closed, assigned to nobody

[2020-07-06 12:10] mislav commented on #1314
This is interesting; thanks for letting us know! I'll be looking into this, since I know no reason why this resource wouldn't be available when using GITHUB_TOKEN in Actions.

It doesn't, but creating a PR and asking for reviewers does need `read:org`, since reviewers can be teams. Because of that, we just issue a blanket notice about needing `read:org`. I understand that it's noisy and unnecessar

[2020-07-06 12:14] #1313 closed, assigned to nobody

[2020-07-06 12:16] mislav commented on #1325
Nice catch @ShubhankarKG!

To anyone: pull requests welcome! This should be a simple fix.

[2020-07-06 12:17] ShubhankarKG commented on #1325
Yeah, I'll fix this up.

[2020-07-06 12:21] mislav commented on #1319
Hi, thank you for raising this issue.

I understand that requiring a graphical browser to log into a CLI tool can feel like that defeats the “command line” aspect. However, with other APIs being deprecated, the only way of logging into GitHub and authorizing OAuth apps going forward will be web-based. This is because, ultimately, a modern graphical browser with JavaScript is required to perform au

[2020-07-06 12:38] #1325 closed, assigned to nobody

[2020-07-06 12:40] mislav commented on #1309
Is there a place where GitHub web uses the project path in its UI?

[2020-07-06 12:44] mislav commented on #1308
I understand that it would be more convenient. However, I don't see "cloning" issues as an established GitHub term or practice. Since this is arguably too specific for its own command, I see it as a good use-case for composing gh commands in one's shell. Thank you for all your input!

[2020-07-06 13:13] mislav commented on #1267
@jethas-bennettjones Thank you, but unfortunately you can't attach images to your replies by replying via email. Please describe the error in text or attach the image by drag-dropping it into the GitHub web interface; thank you!

[2020-07-06 13:14] mislav commented on #1203
@eclectic-coding We always welcome ideas/contributions for more clearer documentation! 👍

[2020-07-06 13:14] RobCannon commented on #1315
I see the issue, without even having to run your commands.  Out company prohibits private repositories and all repositories must be 'Internal'.  Is there a way to change that?  I only see the --public option.

[2020-07-06 13:20] mislav commented on #1324
That's an interesting idea; thank you!

@ampinsk What do you think?

[2020-07-06 13:21] RobCannon commented on #1315
Also, changing visibility to INTERNAL in your sample does work.  So I really need an --internal option for 'gh repo create'.  Should I change this issue or create a new issue?

[2020-07-06 13:22] bewuethr commented on #1314
I have teams as code owners defined in that repository, and marking a PR as ready is actually requesting a review from them – might that be the reason?

[2020-07-06 13:33] rchaganti commented on #1323
[Update]
I submitted a PR (#1329) to address this.

Thanks! Did not know that it could be specified like that. Yes, this needs to be documented.

[2020-07-06 13:34] AliabbasMerchant commented on #1309
Yes. The query parameter for opening issues and prs uses the project path: [ref](https://docs.github.com/en/github/managing-your-work-on-github/about-automation-for-issues-and-pull-requests-with-query-parameters#supported-query-parameters). And its also shown(albeit alongwith the project title) in the project selector to the right.
(Also, the url of the project is also the project path. But that w

[2020-07-06 14:26] jethas-bennettjones commented on #1267
![image](https://user-images.githubusercontent.com/62298251/86604218-54e1b600-bf62-11ea-84cd-6389443867a2.png)

[2020-07-06 15:27] mislav commented on #1314
@bewuethr That's a really good lead for reproducing; thank you!

I would still classify that as an API bug, though. Let me first try to reproduce it and then I will report internally.

[2020-07-06 16:09] danshearer commented on #1319
Mislav I have three responses:

1. Before closing this, please could you add to the GitHub Support ticket that your cli project is a downstream dependency on accessible OAuth or Personal Access Tokens? It is important for everyone involved at Github to realise the ripple effects of inaccessibility.

2. (I can open a separate Issue for this if you like) Even if I get a token, it is not clear to me

[2020-07-06 16:14] ampinsk commented on #1324
This makes sense to me! Let's make sure we reflect this change in any `close`, `reopen` and `merge` commands as well so they all follow the same pattern :)

[2020-07-06 16:18] mislav commented on #1267
@jethas-bennettjones Thank you! I've seen this issue in my own org; at the time it was indicative of either some cookie problems or the system clock problem (I cannot remember). But I can't tell what the steps to resolve that would be for you; only your org admin can fix this. Do you think you can ask them to look into this, since the issue doesn't seem specific to our CLI tool?

[2020-07-06 16:20] jethas-bennettjones commented on #1267
Hi Mislav,

Thanks for the response.

[2020-07-06 16:23] mislav commented on #1309
Thanks for explaining! I must admit I cannot see the project path being displayed in the project selector in the sidebar; sometimes the repository `OWNER/NAME` path is displayed, but never the `OWNER/NAME/PROJECT_ID` combo.

I do not consider either the URL or query parameters being part of a web application's UI, since I do not expect the majority of users to pay attention to these. (Safari even

[2020-07-06 16:25] mislav commented on #1315
@RobCannon Ah, I'm happy you identified the constraint. Let's close this as duplicate of https://github.com/cli/cli/issues/798 instead

[2020-07-06 16:25] #1315 closed, assigned to nobody

[2020-07-06 16:27] ampinsk opened #1330 "Add confirmation steps to risky write commands"
Right now, we have a few commands that we should ask the user to confirm before proceeding when using in a terminal.

- gh pr create (when creating fork)
- gh repo create
- gh pr merge
- gh repo fork (?)

A first pass at design:

<img width="670" alt="Screen Shot 2020-07-06 at 9 43 43 AM" src="https://user-images.githubusercontent.com/10404068/86618133-3b923700-bf6d-11ea-9f36-04a0222f1b0f.png">

L

[2020-07-06 16:55] RobCannon commented on #798
I would raise an error to the user that --public and --internal are mutually exclusive.   That way it is obvious to the user that they selected conflicting options.

[2020-07-06 17:29] ShubhankarKG commented on #1324
Is this an up for grabs then ? Because I'd like to try this one.

[2020-07-06 17:56] mfn opened #1331 "Migrating from `hub`: how to provide "pr create" body via file?"
### Describe the feature or problem you’d like to solve

I'm evaluating moving from `hub` where I use the following feature:
[code]
[code]

In my case, `somefile.txt` is a auto-generated GHF formatted markdown file with lots of data.

Providing `--title` separately is not the issue, but I can't simply feed multiple `kb` file content into a CLI parameter, I wouldn't know how to do it properly.

I a

[2020-07-06 19:57] Pablo-No opened #1332 "Show that -h is the shorthand for --help"
### Describe the feature or problem you’d like to solve

In cli "git help" returns:

FLAGS
      --help              Show help for command
  -R, --repo OWNER/REPO   Select another repository using the OWNER/REPO format
      --version           Show gh version
[...]

I want to be shown that -h is the shorthand for --help

### Proposed solution

Change that to this:
[code]
How will it benefit CLI a

[2020-07-06 20:38] ezzra commented on #1324
are you referring to me? then its a no, go forward with it

[2020-07-06 21:01] Pablo-No commented on #1332
Now I see that https://cli.github.com/manual/gh_repo_create gh repo create also uses -h and -H is used in https://cli.github.com/manual/gh_api gh api, so maybe we should disable -h for help to avoid confusion.

[2020-07-07 03:45] ShubhankarKG commented on #1324
Thanks

[2020-07-07 05:37] xavier0427 commented on #1228
Hello

[2020-07-07 06:05] zhigang1992 commented on #921
sry to bother you guys again, 😭

how can I pass `"required_contexts": []`

with `-f` or `--raw-field`

it won't accept `'[]'` or `\[\]`

[2020-07-07 08:37] mislav commented on #1332
Thanks for the suggestion!

`--help` always works as a flag, while `-h` only works as an alias for `--help` if the command doesn't define its own `-h` flag. I see no need to document `-h` globally, as it won't work for every command, but I see value in it working for most commands as a shorthand for `--help` since it's a loose convention of command line tools and people might try to use it.

[2020-07-07 08:37] #1332 closed, assigned to nobody

[2020-07-07 08:39] mislav commented on #1331
There isn't such a feature currently, but it's a great feature request. Thank you!

[2020-07-07 14:11] mislav commented on #921
@zhigang1992 Sorry, neither `--field` nor `--raw-field` accept JSON arrays right now. To pass a JSON array or a nested object, you will need to construct the JSON payload outside of gh and pass it in via `--input`. E.g.

[code]

We are open to potentially accepting JSON arrays in a future release, but I can't yet imagine what a possible syntax for that could be!

[2020-07-07 14:44] rchaganti commented on #1323
Closing this issue as #1329 is now merged and pending release.

[2020-07-07 14:44] #1323 closed, assigned to nobody

[2020-07-07 19:34] danshearer opened #1336 "Inaccessible behaviour in response to NO_COLOR environment variable"
One of the important uses for cli is accessibility, and for many people, colours are inaccessible. Colours are also a problem for automatic commandline processing.

It is good that the NO_COLOR environment variable is checked in utils/color.go , called from utils/utils.go .

However the output is scrambled. The title and first 4 lines of the issue are displayed, followed by a series of blank lines

[2020-07-07 21:05] cgrant opened #1338 "Unable to auth on remote host (gcp cloud shell)"
Unable to use gh from google cloud shell as gh requires a browser for auth and no browser is available within google cloud shell.

I've seen "work arounds" discussing doing auth locally then copying ~/.config/gh/config.yml to the remote server however this isn't a viable long term option I would teach to students or promote within a company. Other web based oauth options have output a URL for the

[2020-07-08 10:55] danshearer commented on #1338
There was relevant discussion a few days ago in https://github.com/cli/cli/issues/1319 . You'll see there for the links that show OAuth is being deprecated by Github (I have asked them to reconsider this via their internal issue tracker, Cc the senior staff in charge of these matters.) It's also quite complicated.

In brief:

1. If they do get rid of OAuth, then we are left with identity tokens.
2

[2020-07-08 15:10] #1324 closed, assigned to nobody

[2020-07-08 15:31] bnb commented on #448
Hi yes hello I too would like to `apt-get install gh` if at all possible. Specifically, my use case is including the `gh` CLI in Codespaces environments ❤️

[2020-07-08 16:25] ShubhankarKG commented on #1330
@ampinsk I am working on this for some time. I wanted to know a quick point regarding `gh pr merge [number]` :

- We currently supply flags and have a validity check to ensure only one flag has been passed. The Select feature works better here, letting us avoid the manual check. So, should the flags be done away with ? :thinking:

[2020-07-08 16:38] paul-sachs opened #1342 "API request support for piping with more than one param"
### Describe the feature or problem you’d like to solve

Currently, if i make a request like `gh api repos/:owner/:repo` I'd like to be able to pipe that output to other tools like `jq`, currently the output bypasses stdout and does not allow for something like `gh api repos/:owner/:repo | jq .[].url`. This also blocks us from outputting results to files or any other tools.

### Proposed solution

[2020-07-08 18:33] vilmibm commented on #1342
This behavior is working fine for me and is what the code intends. If I run your example I do get a `jq` error but the piping of STDOUT works just fine; `gh api repos/:owner/:repo | jq .url` does what I expect.

What exactly happens when you try and redirect?

[2020-07-08 18:49] prestonvanloon commented on #800
I also have this use case. I would like to set the default to create PRs in the origin, rather than in a fork.

Using the workaround in https://github.com/cli/cli/issues/800#issuecomment-616507366 works, but I'd really like to set this behavior as the default.

[2020-07-08 21:15] paul-sachs commented on #1342
@vilmibm ah, I should have tried a simpler case. It seems to have issues with something like the following:

[code]

[2020-07-08 21:19] paul-sachs commented on #1342
But this may be just a mistake on my part, now that i'm looking closer. The `&` is probably causing issues with the shell.

[2020-07-08 21:21] paul-sachs commented on #1342
Yep, totally my bash knowledge biting me. Turns out it needs to be:

[code]

or

[code]

[2020-07-08 21:21] #1342 closed, assigned to nobody

[2020-07-08 21:46] vilmibm commented on #1342
ah, good catch! this is probably worth us mentioning in docs somewhere.

[2020-07-08 21:55] adarshX opened #1344 "Issue with gh pr create gh version 0.10.1"
Below image shows my error for 'gh pr create' command
![Screenshot from 2020-07-09 03-24-30](https://user-images.githubusercontent.com/47566632/86974336-c6547b00-c193-11ea-8556-ec1438cbf73e.png)

[2020-07-08 22:08] vilmibm commented on #1344
Hi!

It looks like you're running `gh` from your home directory. `gh` is intended to be run while you are `cd`'d into a git repository's directory.

`gh pr create` and `gh issue list` won't work until you run them from a directory that is a git repository that GitHub knows about.

[2020-07-08 22:08] #1344 closed, assigned to nobody

[2020-07-09 00:05] Dgiulian opened #1345 "gh repo create fails"
### Describe the bug

When trying to create a new repo it fails silently. If run with the `--verbose` option it will give the following error .

### Steps to reproduce the behavior

`gh repo create --verbose`

### Expected vs actual behavior

Repository created

### Logs

[code]

[2020-07-09 03:47] jsejcksn opened #1346 "bash completions: bad option: -t"
### Describe the bug

After installing, every new terminal session (zsh) begins with this error:

[code]

Version: `gh version 0.10.1 (2020-06-24)`

### Steps to reproduce the behavior

1. Use macOS + zsh (it's the default shell)
2. `brew install github/gh/gh`
2. Open a new terminal tab/window
3. View error message

[2020-07-09 05:19] weichiehwang commented on #1344
Josn

[2020-07-09 05:33] dipakparmar commented on #1345
does that `--verbose` flag exists ?

[2020-07-09 05:34] dipakparmar commented on #1345
@Dgiulian does that `--verbose` flag exists?

[2020-07-09 06:59] fluffynuts opened #1347 "Feature request: cli option to clone via ssh:// protocol"
### Describe the feature or problem you’d like to solve
I use 2FA for GitHub, so the simplest solution for me to push, pull and clone is to use ssh:// urls for git.

### Proposed solution

`gh` repo clone attempts https only. I'd like an option to specify that I'd prefer ssh, eg `gh repo clone --ssh owner/repo`

The default would remain as-is, so users wouldn't be forced to set up ssh keys, but pe

[2020-07-09 07:09] ShubhankarKG commented on #1347
Hey @fluffynuts , gh attempts to clone a repo through https as default. If you want to opt in for ssh, you can do so by typing
[code]
After that, you can try using `gh repo clone` again.

[2020-07-09 07:59] say8425 commented on #987
Change your git remote url protocol **HTTPS -> SSH**.
As mentioned your github account is not in trouble

[2020-07-09 12:23] Dgiulian commented on #1345
@dipakparmar Yep:

![image](https://user-images.githubusercontent.com/644747/87039503-9b831a80-c1c5-11ea-8e06-acf15beced53.png)

Even If I remove the flag, the command doesn't do anything or throw any error. It just returns back to the terminal.

[2020-07-09 12:47] WaKeMaTTa opened #1348 "NaCl helper process running without a sandbox! Most likely you need to configure your SUID sandbox correctly"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

[code]

### Steps to reproduce the behavior

1. Install Ubuntu 20.04 or 18.04
1. Install git-core (and other dependencies)
1. Clone a github.com repo
1. Create a branch and make a new commit.
1. Execute the command `gh pr create` and I get this message:

[code]

NOTE: the good news,

[2020-07-09 14:41] vilmibm commented on #1348
Hi,

Sorry for the confusion. `gh` is opening your browser for you and the warning you are seeing is output by your browser and not `gh`.

[2020-07-09 14:41] #1348 closed, assigned to nobody

[2020-07-09 14:45] vilmibm commented on #1336
Hi,

By any chance is this an issue in an open source repository? I'd like to reproduce this but I'm testing out `NO_COLOR` plus `issue view` locally and I see this, rendered with no color:

[code]

[2020-07-09 14:54] vilmibm commented on #1229
It's been pointed out elsewhere that we aren't doing a good job of surfacing this support in docs. This issue should include better coverage of this feature (perhaps in the manually maintained "examples" section of the manual).

[2020-07-09 14:56] vilmibm commented on #1319
We have an issue open for `GITHUB_TOKEN` support changes; I've left a comment on #1229 about including better docs as part of that work.

As far as how to use it, if you are using `zsh` or `bash` you can run:

[code]

Or export `GITHUB_TOKEN` from your `.bashrc` or `.zshrc` so you don't have to type it repeatedly:

[code]

[2020-07-09 14:57] vilmibm commented on #1338
I'm sorry for the continued hassle about authentication. We're one tiny team in a much bigger picture and, unfortunately, only have so much control.

We recently shipped support for a `GITHUB_TOKEN` environment variable; does this suit your needs, @cgrant ?

Given that we have issues covering these concerns (for example #612 and #297) I'll close this as a duplicate.

[2020-07-09 14:57] #1338 closed, assigned to nobody

[2020-07-09 15:20] danshearer commented on #1338
Your efforts are greatly appreciated.

[2020-07-09 15:25] vilmibm commented on #1297
I'm fine with this and mirrors what I did for `issue create`.

[2020-07-09 15:30] vilmibm commented on #1347
`git_protocol` setting is the current way to accomplish this as @ShubhankarKG said :+1:

[2020-07-09 15:30] #1347 closed, assigned to nobody

[2020-07-09 15:48] vilmibm commented on #1330
thanks for opening this!

[2020-07-09 15:58] jethas-bennettjones commented on #1267
Hi Mislav,

Is there another way that I can authenticate the command line tool? I had to jump through hoops to get VSCode and Visual Studio 2019 integrated with GitHub, but I got there in the end via a lot of copy and pasting. If there is a similar option available for the command line tool then I could give this a go and see if I can get it working.
Having a command line tool for GitHub would be

[2020-07-09 16:14] vilmibm commented on #1345
Hi,

It looks like you are running another tool. That's not our help output. Do you remember how this was installed?

[2020-07-09 16:20] vilmibm commented on #1346
It's weird that bash completions are being sourced by zsh. @mislav do you know why that might be happening?

[2020-07-09 16:21] Dgiulian commented on #1345
Hi, I installed it using:
`npm install -g gh`

 But I just realized this installs another tool that has the same bin name. Terribly sorry about this. I'll uninstall and install it with chocolatey.

[2020-07-09 16:24] #1345 closed, assigned to nobody

[2020-07-09 17:28] danshearer commented on #1336
No. It seems to be a rendering issue when dealing with markdown, for example with cli issue 1331 which has some md in it.

Here is an exact recipe:

$ script
$ export NO_COLOR=y
$ bin/gh issue view 1331
 .....
$ exit
$ Script done, file is typescript

In the file typescript you will see that each line of the markdown finishes with ^M and lots of spaces, which do the overwriting.

Exactly what gets

[2020-07-09 21:59] jsejcksn commented on #1346
I did some more digging and discovered that this wasn't caused by `gh`. I [enabled homebrew shell completions](https://docs.brew.sh/Shell-Completion) before upgrading to macOS 10.15 Catalina, so I had [the completions configuration for `bash`](https://docs.brew.sh/Shell-Completion#configuring-completions-in-bash) leftover in my `.zshrc` after the upgrade.

I guess `gh` was just the first to instal

[2020-07-09 21:59] #1346 closed, assigned to nobody

[2020-07-09 22:07] vilmibm commented on #1346
oh wow, interesting. thanks for the thorough write-up! this is great to know about.

[2020-07-10 01:37] GMNGeoffrey opened #1349 "Ability to edit title/body/metadata of already open PR"
### Describe the feature or problem you’d like to solve

I'd like to be able to edit a PR I already have open. Obviously editing the commits is just a matter of `git push`, but I'd like to be able to edit the PR title and body as well.

### Potential solutions:

1. `gh pr edit 1234` gives prompts similar to `gh pr create` but only for the title and body. Users could separately push their branch to

[2020-07-10 06:42] fluffynuts commented on #1347
fantastic -- can someone _please_ add this to the cli docs? `gh repo clone --help` should surface this kind of stuff.

[2020-07-10 09:46] danshearer commented on #1349
I think this is a more generic problem. Issues need to be edited too.

What about for issues and PRs gh adopts exactly the same system as git, when editing commit messages? Presumably gh users are also git users so this would feel right.

[2020-07-10 10:39] lwkchan opened #1350 "Running `gh pr create --web` should open a blank PR on web, without requiring title or body"
### Describe the feature or problem you’d like to solve

I use gh cli to open PRs in the browser (for more complex PRs where I want a the browser GUI to see changes and to see the PR description I am writing). I do this by skipping filling in the form in the terminal (by leaving each prompt blank), and then go straight to opening the Pr in the browser in the final prompt.

I learned today that it

[2020-07-10 11:25] #1104 closed, assigned to nobody

[2020-07-10 12:00] mislav commented on #1350
Thank you for reporting!

Are there such revisions in your repository as `frontend-v2/master` and `test`? I'm curious how come `pr create` could not determine the commit log between the base branch and the head branch. We raise this error because if there are no commits, there is often nothing to create a PR from.

[2020-07-10 12:02] mislav commented on #1336
Thanks for reporting! We're using an external library called Glamour here, and it looks like it's outputting `\r` characters (shown as `^M`) in code blocks for some reason.

We should strip the `\r` characters, as they seem to be unnecessary and cause the output to be garbled.

[2020-07-10 12:29] lwkchan commented on #1350
@mislav - just tested this on a different branch, where I've applied 4 commits since checking out a branch from master and I still get a similar error

[code]

For what it's worth, I get a similar warning when I run `pr create` without the --web flag

[code]
I recall that this used to work (probably before I upgraded to v0.10.1 recently, but unfortunately I don't remember what version I was previo

[2020-07-10 13:40] mislav commented on #1342
@paul-sachs You can also have gh construct the query string for you:

[code]

Here, `-X GET` is necessary because the presence of `-f` would by default trigger POST mode.

[2020-07-10 13:57] mislav commented on #1319
I've worked on one of the frontend teams at GitHub recently, and they are definitely aware! Thanks for raising specific accessibility issues related to contrast. If you have concrete suggestions about how the web UI can improve contrast, please include them in your ongoing Support threads, and they will get passed on.

Agreed that we must document GITHUB_TOKEN better. Right now, the only place whe

[2020-07-10 13:57] #1319 closed, assigned to nobody

[2020-07-10 13:59] paul-sachs commented on #1342
Ah. Cool. Didn’t know that.

On Fri, Jul 10, 2020 at 9:40 AM Mislav Marohnić <notifications@github.com>
wrote:

[2020-07-10 14:00] mislav commented on #1349
Thanks for the suggestion!

There is already a feature request for editing issue body: https://github.com/cli/cli/issues/904

[2020-07-10 14:01] #1336 closed, assigned to nobody

[2020-07-10 14:08] danshearer commented on #904
I propose gh adopts the Principle of Least Surprise, as used in RFCs.

In this case, since gh is solving an identical edit-before-uploading problem to git, and since git will be used by virtually all gh users, I propose that gh use the git system.

If you look at the docs for git-commit: https://git-scm.com/docs/git-commit/2.10.5 then the interface elements are clear, including:

-t <file>  / --te

[2020-07-10 16:16] GMNGeoffrey commented on #1349
Ah good point. Editing issues is indeed the more generic thing that should be offered, thanks! Maybe `gh pr edit` could have the additional behavior of defaulting to the PR for the current branch as `gh pr view` does? That would be consistent with the diff between `gh issue view` and `gh pr view`. And actually, maybe it should also push the new commits, as in proposal 2 above.

One case I think is

[2020-07-10 18:30] mislav commented on #1350
@lwkchan Thank you for the extra information!

Is there such a ref as `frontend-v2/master` in your repository, and if not, which base ref should have been used instead? What is the name of your main git remote and your default branch? Thank you

[2020-07-10 18:48] GMNGeoffrey commented on #904
It would be nice to also have this support the other options for issue/pr creation (label, assignee, etc.)

[2020-07-10 21:54] swagatata opened #1352 ""gh ls" command to view list of repos owned by user"
### Describe the feature or problem you’d like to solve

I want to be able to see all my repos on github. I do `ls` in my local directory to view it's contents. Similarly I'd like to be able to do `gh ls` to view list of repos I own with the account I am currently authenticated in.

### Proposed solution

Have "gh ls" command, which can be used before doing "gh repo clone". It would basically repl

[2020-07-10 22:39] ottah opened #1353 "Listing releases and assets"
# Describe the feature or problem you’d like to solve
I would like the ability to list releases/assets from a repository. This would be a quality of life improvement over checking for latest releases via the browser and simplify scripting an environment.

# Proposed solution
## List releases in a repository
[code]

## List assets in a release by version or latest
[code]

Assets can be listed with

[2020-07-11 01:54] AliabbasMerchant commented on #1353
I love the idea of a releases subcommand!
The first 2(list releases and list assets) are awesome, But I do think that it will make more sense to just provide a link to the assets in the 3rd one, and leave the downloading/further handling part to the user.

[2020-07-11 02:14] AliabbasMerchant commented on #1145
#1330 is a good replacement for this

[2020-07-11 04:38] ottah commented on #1353
@AliabbasMerchant

Yeah I was on the fence about the download/get command.
Returning a list of urls would be better as you can curl/wget or click the link in your terminal if its supported and direct download the asset.
Perhaps a `--url` flag for outputting the url instead of just the file name:
[code]

[2020-07-11 09:56] lwkchan commented on #1350
@mislav --- I deduced a little more from your questions and managed to fix the issue! The reason why this wasn't working was because the repo on gh had changed names, and therefore went to a new location. I was being lazy and not changing it for a while. You can tell this when you try to do a `git push` and git will warn `This repository moved. Please use the new location`.

To resolve this, I use

[2020-07-11 14:13] mrtrkmn opened #1354 "Add ability to manage user's all repos from CLI"
### Describe the feature or problem you’d like to solve

It is a little bit painful to clean up repositories which are leftovers from past. Like navigating through each of them then removing one by one is really dirty.

### Proposed solution

Ability to  archive/delete/rename of repositories  which are exists on user account, of course filtering system would be nice as well, like getting repositor

[2020-07-11 15:21] mockdeep commented on #1349
It would be great to have a command to update the title/body of a PR from the latest commit. We have an `amend` based workflow and will often add additional details to the commit body. One thing that would be super helpful is maybe having a `gh pr update` command that works similar to `gh pr create`, but just updates the existing PR title/body.

[2020-07-12 02:31] nanaluz commented on #297
#293

[2020-07-12 02:32] nanaluz opened #1356 "#293"
#293

_Originally posted by @nanaluz in https://github.com/cli/cli/issues/297#issuecomment-657164702_

[2020-07-12 13:37] Lewiscowles1986 commented on #293
@sarpik this is going to be a single binary... I'm not so sure about this; especially not the linked Makefile, which does not seem to cover all cli/cli platforms. The whole point is that this builds to a single executable right?

[2020-07-13 03:56] ShubhankarKG commented on #1330
#1357 has a fix for `gh repo create` and `gh pr merge`. It'll be better if someone else can take up the other two commands, viz. `gh pr create` and `gh repo fork`

[2020-07-13 04:14] ShubhankarKG opened #1358 "Provide extra options for merge conflicts"
### Describe the feature or problem you’d like to solve

Currently, if there's a pull request that has merge conflicts, `gh` makes it known to the user that the PR isn't mergeable. So,
[code]
This does the job, but it doesn't mention any way of resolving the merge conflicts. I understand that orgs do not wish to manually resolve conflicts for every PR, but sometimes, if it's a small fix, then they

[2020-07-13 04:39] AliabbasMerchant commented on #1330
Great! I will take up the other two.

[2020-07-13 06:18] krlmlr commented on #1023
Could we also offer an `-m` or `--message` argument that allows editing the message in non-interactive mode?

[2020-07-13 11:17] #1356 closed, assigned to nobody

[2020-07-13 11:36] #997 closed

[2020-07-13 13:26] #1350 closed, assigned to nobody

[2020-07-13 13:45] mislav commented on #1350
@lwkchan Wow, nice find! Thanks for updating us.

We do have some features that were intended to handle repositories having been renamed when scanning for their git remotes, but it looks like that didn't work here. Ideally, `gh pr create --web` would have worked the same even if the repository was renamed and its git remote stayed on the old URL.

Could you share with us the old git remote URL and

[2020-07-13 14:14] mislav commented on #1352
Hi, thank you for your request! This functionality was already asked for, so closing as duplicate of https://github.com/cli/cli/issues/642

We probably won't call it `ls`, but when it ships you can use `gh alias set` to alias the new command as `ls`.

[2020-07-13 14:14] #1352 closed, assigned to nobody

[2020-07-13 14:38] mislav commented on #1354
Hi, thanks for the idea! There is already a suggested feature for listing repositories #642

It sounds like you are asking for features to also archive, delete, rename specific repositories. Together with listing repositories, this sounds to me like 4 separate features. Would you mind if we track those in separate issues?

[2020-07-13 14:52] mrtrkmn commented on #1354
Hi
Yeah, sure. Should I create the issues per feature ?

[2020-07-14 05:39] AliabbasMerchant opened #1360 "Ability to skip confirmation via a flag"
#1330 proposes to add confirmation to risky commands. It is a nice feature to have, but in order to support proper scriptability, we should support a flag (preferably `-y`, like in most CLIs), to skip asking for confirmation.
So for each of the 4 commands mentioned there (and possibly even more in the future), we should add support for the `-y` flag

[2020-07-14 08:46] lwkchan commented on #1350
Sure no problem @mislav

This is what i used to get when running `git remote -v`
[code]
After `git remote set-url origin [url-of-front-end-v2]`
[code]
fwiw, I don't think I use the remote named `frontend-v2` -- I'm not completely sure why it's there. Also, I have set the `git_protocol` on my `gh cli` to `ssh`

[2020-07-14 16:20] AliabbasMerchant commented on #1294
Update: I have started working on this.
However, the changes required are more than what I had anticipated. Will take 1-2 days more.

[2020-07-14 16:58] ampinsk commented on #1360
Thank you for bringing this up! Let's definitely make sure we ship this alongside #1330 :)

[2020-07-14 17:02] ampinsk commented on #559
I'm 99% sure we don't have control over this, so I'm gonna close. Let me know if that's incorrect and we can reasses!

[2020-07-14 17:02] #559 closed

[2020-07-14 17:32] ampinsk opened #1361 "--help flags in help pages are misaligned with other text"
The Flags section on `gh help` and the Inherited Flags section on `gh x --help` are indented more than the other sections

<img width="575" alt="Screen Shot 2020-07-07 at 9 28 28 AM" src="https://user-images.githubusercontent.com/10404068/87457320-03b66f80-c5bd-11ea-9774-c9e9b392cd11.png">

<img width="432" alt="Screen Shot 2020-07-07 at 9 28 38 AM" src="https://user-images.githubusercontent.com/1

[2020-07-14 17:38] mislav commented on #559
I'm positive that this is something that we could address when we redo these prompts for accessibility, but I agree that we don't need to keep this open while the presentation is being dictated by the Survey library.

[2020-07-14 17:45] #1298 closed, assigned to vilmibm

[2020-07-14 23:02] shihanng commented on #1361
The spacing seems to be something that is fixed in the spf13/pflag package:
https://github.com/spf13/pflag/blob/81378bbcd8a1005f72b1e8d7579e5dd7b2d612ab/flag.go#L699

Possible naive solution would be removing the extra four spaces from the result value of `FlagUsages`
https://github.com/cli/cli/blob/17c4eeea1d741153feb89ef51bc6693d3672a030/command/help.go#L27

I can help with this if the solution

[2020-07-15 11:05] #1026 closed, assigned to mislav

[2020-07-15 11:07] #1181 closed, assigned to nobody

[2020-07-15 11:07] #1183 closed, assigned to nobody

[2020-07-15 11:14] mislav commented on #1361
@shihanng Thank you! You are welcome to send a PR. Keep in mind that, if any flags have shorthand versions, the spacing will be fewer than 4 spaces. So I'm thinking, if we were to strip away the leading indent from flags, we should first scan every line and only strip away the number of spaces of the shortest indented line.

[2020-07-15 14:04] mislav commented on #1350
Thanks! I see now that this is a very specific edge-case that involves a combination of the following factors:

1. The repo was renamed;
2. The main git remote points to the old name, but there is an extra git remote with the new name;
3. The extra git remote was never fetched.

For now I'm going to make a call that we needn't address this, but we'll revisit if it pops up again.

[2020-07-15 14:11] Bak3y opened #1364 "gh continues to warn about OAuth scope"
### Describe the bug

❯ gh --version
gh version 0.10.1 (2020-06-24)
https://github.com/cli/cli/releases/tag/v0.10.1

Every interaction I have with private repos where I work includes the warning

```Warning: gh now requires the `read:org` OAuth scope.
Visit https://github.com/settings/tokens and edit your token to enable `read:org`
or generate a new token for the GITHUB_TOKEN environment variable`

[2020-07-15 14:24] mislav commented on #1364
Hi, sorry for the nuisance! This was resolved in #1359 and will be effective in the next release.

[2020-07-15 14:24] #1364 closed, assigned to nobody

[2020-07-15 14:32] Bak3y commented on #1364
@mislav apologies - I saw that PR was merged and assumed it made it into 0.10.1.  Now I realize that was only merged a few hours ago.

[2020-07-15 19:13] GMNGeoffrey commented on #1145
I'd like to suggest re-opening this. In particular when testing out scripts it is very useful to see exactly what a script would do without actually affecting state. For example `gh pr create --dry-run` would print the PR title and description back to confirm it worked as intended.

[2020-07-15 23:14] #941 closed

[2020-07-16 12:26] mislav commented on #1145
I'm interested in a dry-run flag as well! Hub, for example, has the `--noop` flag which I often found invaluable. 👍

[2020-07-16 12:30] #1292 closed, assigned to nobody

[2020-07-16 13:27] #1228 closed, assigned to nobody

[2020-07-16 13:33] phil-blain commented on #317
something like only providing the OWNER and using the current repo's name as the REPO automatically?

yes, and also ideally respect the name of any configured remotes.

[2020-07-16 13:47] tomyfalgui opened #1369 "Client Secret in Version Control"
Why is it safe to store the GitHub app client secret in version control?

[2020-07-16 14:13] lwille commented on #1353
I'd love to see release subcommands as well!

So far, I've been resorting to using the super powerful `gh api` command and piping through [`jq`](https://stedolan.github.io/jq/):

- `gh api repos/cli/cli/releases/latest | jq -r .name`
- `gh api repos/cli/cli/releases/latest | jq -r ".assets[].name"`
- `gh api repos/cli/cli/releases/latest | jq -r ".assets[].browser_download_url"`
- `gh api repos/cl

[2020-07-16 14:44] #1361 closed, assigned to nobody

[2020-07-16 14:59] mislav commented on #1369
Because in client apps such as GitHub CLI or any other app that you install on your system, embedded values are trivially extracted (even from binary files). A client app thus cannot keep its OAuth credentials secret; therefore we just keep it in version control since it's not a secret.

Even though this might seem weird, keep in mind that OAuth was designed primarily for web apps and not for clie

[2020-07-16 14:59] #1369 closed, assigned to nobody

[2020-07-16 15:03] tomyfalgui commented on #1369
Thank you!

[2020-07-16 16:38] #1086 closed, assigned to nobody

[2020-07-16 20:53] EMONIII-cloud opened #1372 "Resolve"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-07-16 20:56] #1372 closed

[2020-07-16 22:17] Romyanmar4 opened #1374 "Hninwai​wai"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-16 22:17] #1374 closed, assigned to nobody

[2020-07-16 23:16] EMONIII-cloud opened #1375 "Bug 🐛"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-17 01:53] #1375 closed

[2020-07-17 03:05] RatanRSur opened #1376 "`gh pr list --draft` or `gh pr list --state draft`"
### Describe the feature or problem you’d like to solve

Filter out draft PRs in PR list

### Proposed solution

"Ready" PRs are the ones most people are likely to need to find since they are in a state to be looked at by others.

[2020-07-17 06:42] selrond opened #1377 "Passing “-“ as file name to read from standard input breaks `gh gist create`"
### Describe the bug

When passing `-` as a filename to `gh gist create`, it errors out to `Invalid request`

### Steps to reproduce the behavior

Fails:
[code]

Works:
[code]

### Expected vs actual behavior

It should read from the standard input, as written [in the docs](https://cli.github.com/manual/gh_gist_create)

[2020-07-17 07:31] doi-t commented on #1200
(JFYI for someone who wants to manage milestones with `gh`)
[gh v0.11.0](https://github.com/cli/cli/releases/tag/v0.11.0) introduced the "shell" aliases. 🎉
With this new feature, we can create, for example, below aliases. I noted each `gh alias set` command [here](https://gist.github.com/doi-t/5735f9f0f7f8b7664aa6739bc810a2cc).
[code]
Those commands are already enough for me to manage milestones.

[2020-07-17 10:35] michaelbeaumont commented on #1347
@vilmibm Isn't that a global setting? Would a PR to add the `--ssh` flag be welcome?

[2020-07-17 11:00] vilhelmprytz opened #1378 ""gh pr checkout" checks out changes wrongly when checking out PR that wants to merge changes into non-default branch"
### Describe the bug

[code]

Let's say I have a branch named `test` that has a draft PR to merge into `master` (default branch). Then, another user creates a PR to merge other changes into the `test` branch (i.e. not the default branch). When I want to checkout these changes, I'll use `gh pr checkout <id>`. Instead of creating a branch named `<username>/test` it just checks out the changes as `te

[2020-07-17 12:13] shihanng commented on #1377
When a pipe is used, `gh gist create` detects that it should read from stdin and append `-` internally to the input arguments:
https://github.com/cli/cli/blob/1f97a9a4d1b708a79c8036c8424b997a9dd1761d/command/gist.go#L86-L92

This means that for
[code]
we are getting `- -` (two dashes)  as arguments.

Because there are two `-`s, it will read from stdin twice and try to send two files to gist.github

[2020-07-17 12:28] mislav commented on #1377
@shihanng Thanks for diving into this! I was just in the process of fixing this and I'm almost done, so no need to send a PR for this particular thing. Thanks for asking! ✨

[2020-07-17 13:09] szdytom opened #1380 "Too many network fails, add a retry system"
**Issue Type**: Feature Request

**Description**:

Sometimes(actually very frequent), it gives out somthing like:
[code]

I think it is because of unstable network connection.

I think there should add an retry feature and it should give out a better error report like just throwing lots of code to user

[2020-07-17 14:02] vilmibm commented on #1347
it's a global setting and I believe our preference is to surface it better instead of using a flag for it. thank you for offering, though!

[2020-07-17 14:11] michaelbeaumont commented on #1347
Right, the advantage of the flag (`--ssh`/`--https`) would be for the cases where I sometimes `clone` with `https` even though I have `ssh` set or vice versa. Seems like weird UX to have to change a global setting first, but so be it!

[2020-07-17 15:27] vilmibm commented on #1378
Thanks for opening this. I see it as a cousin of https://github.com/cli/cli/issues/233 (same problem, different failure mode).

@mislav I think this is worth addressing, would you agree? We avoided always prefixing local branch names to allow easier pushing to those branches, but in instances like these being able to check out properly at all seems like a good trade off for a more annoying push pr

[2020-07-17 15:31] vilhelmprytz commented on #1378
Just to make things clear, I still think it's best to avoid prefixing local branches but this isn't a problem with the behavior of the local branch and instead how the foreign branch I want to checkout isn't checked out properly. Did I misunderstand your message?

[2020-07-17 15:37] vilmibm commented on #1378
I inferred from your description that there are two branches named `test`. Your local branch is getting erroneously fast-forwarded to the other user's `test` branch. The issue isn't that a non-default branch is used as the base but that there is a branch name collision between two users. Does that seem accurate or did I misunderstand from the beginning?

[2020-07-17 15:43] vilmibm commented on #1380
At the very least we should be avoiding this segfault and printing a clear error; I'm not opposed to a retry in theory but I'm not sure how feasible it is to do it in a generalized way.

[2020-07-17 15:54] vilhelmprytz commented on #1378
Yes, that seems accurate, sorry for the misunderstanding. 🙂

[2020-07-17 16:14] vilmibm commented on #1377
FWIW, the `$: gh gist create -` invocation isn't intended to be mixed with `|`; the intention is that it takes all following input up until EOF as the gist body.

[code]

We should be more elegant here anyway but I wanted to make sure that was clear.

[2020-07-17 16:28] wilso199 commented on #368
@mislav Would we like this functionality to be activated by a flag? I think it could help with performance if running `git submodule update --init --recursive` on a larger project.

If we would like to finalize a design in favor/not in favor of a flag, I am happy to work on this feature.

[2020-07-17 16:30] mislav commented on #1380
@szdytom Thank you for reporting!

The crash is definitely a bug (a regression in the 0.11.0 release) and I've opened a PR to fix it.

As for the retry system, we could certainly retry idempotent requests (GET, HEAD, GraphQL queries), but we'd have to implement some kind of backoff+ timeout system in case of persistent network errors.

This looks promising: https://github.com/hashicorp/go-retryabl

[2020-07-17 17:23] mislav commented on #1377
I see; that intent is surprising for me! In my experience, other tools that receive a `-` filename and treat it as stdin support the input being piped in just the same (e.g. `echo hello | cat -`).

Would you be open to it working like this:
- `gh gist create -`: unconditionally reads from stdin (since the user has been explicit)
- `gh gist create`, stdin is _not_ a tty: reads from stdin
- `gh gist

[2020-07-17 17:34] mislav opened #1384 "Extract docs about supported environment variables into its own help page"
Right now, environment variables section takes a lot of space in `gh help` output.

Idea: `gh help env` (or `man gh-env` on non-Windows systems) could display a separate help page for detailed information. This page could be referenced from other help pages.

Right now, we only have support for generating `help` entries and man pages from runnable Cobra commands, but maybe we can add some support

[2020-07-17 17:38] mislav opened #1385 "Ensure docs about supported environment variables are rendered on the web"
Right now, "environment variables" section of `gh help` is stored as a Cobra command annotation, which don't get rendered to either man pages nor web pages. In fact, none of the annotations do.

We should expand our man + web page rendering process to include extra sections the same way these sections are printed to the terminal when running `gh help`.

Ref. #1370

[2020-07-17 17:39] wilso199 commented on #674
@ampinsk Do you still feel the same way about the behavior of this interaction? If so, I am happy to pick up and implement this.

[2020-07-17 17:41] mislav commented on #1378
Thanks @vilhelmprytz for reporting and @vilmibm for the assessment of the problem!

I would indeed mark this is a duplicate of #233.

[2020-07-17 17:41] #1378 closed, assigned to nobody

[2020-07-17 17:42] ampinsk commented on #674
Yes that would be great, thank you @wilso199!

[2020-07-17 17:44] mislav commented on #1347
Right now, the preferred way to explicitly specify the clone protocol (overriding the global setting) is to use the full clone URL:
[code]

I realize that this provides little to no benefit over `git clone`, but it's available.

[2020-07-17 18:21] mislav commented on #368
I definitely feel like it should be an opt-in behavior like you described. If someone wanted to avoid ever checking out large submodules in a project, `pr checkout` doing it automatically for them could be surprising and unwanted behavior.

Perhaps we could duplicate the `--recurse-submodules` naming and functionality of `git switch`? Would that suffice?

[2020-07-17 18:42] wilso199 commented on #368
I like the way this reads. I will pursue implementing this flag. Thanks for your feedback! @mislav

[2020-07-17 18:45] djmetzle commented on #368
Thanks for pursuing this! It would really help make this tool more useful with our app, and i hope others as well!

[2020-07-17 18:53] AliabbasMerchant commented on #674
@wilso199
I was facing a similar situation when I was trying to fix #1294 and #1219
I was thinking of having our editor prompt give 2 options, instead of just our current `<enter> to skip`
It would be something like `<enter> to keep empty and <d> to select default`

This is because 'skip' essentially is a bit ambiguous, and different users expect it to behave differently(empty/default).
empty and

[2020-07-17 19:00] wilso199 commented on #674
@AliabbasMerchant I see you have already started working on this. I will let you add the change to your PR. Thank you for letting me know!

[2020-07-17 19:03] AliabbasMerchant commented on #674
Cool, thanks @wilso199 (so now my PR will attempt to solve 3 issues at the same time :laughing: :sweat_smile: ) [Lets hope I do not make any mistakes :sweat_smile: ]

[2020-07-18 10:56] ShubhankarKG commented on #1360
@ampinsk , I'd like to ask the exact implementation of the `-y` flag for `gh pr merge`, i.e the interactive merge. Do all the options get a default ? Or only the final confirmation gets an affirmative nod ?

Thanks

[2020-07-18 20:38] marwan-at-work opened #1389 "CLI is not go install-able"
Due to the `replace` clause in the go.mod file of this repository, `go get` fails with the following errors:

[code]

I highly recommend either removing this replace clause [here](https://github.com/cli/cli/blob/73889e0c849f0901a5c1370f57fee38d031af193/go.mod#L32) either by contributing the changes upstream or forking the repo and changing the import path.

Thanks!

[2020-07-18 22:33] benknoble commented on #364
This is a dark background/palette (dracula-based) in Alacritty; it's mildly more readable in Terminal.app (but the them is slightly different). Some text is effectively invisible:

<img width="495" alt="Capture d’écran 2020-07-18 à 18 32 53" src="https://user-images.githubusercontent.com/22802209/87863065-19ad9280-c925-11ea-8807-d5c6d3a31fac.png">

Personally, I think this needs to be a bigger pri

[2020-07-19 00:52] auouymous commented on #364
This patch disables color.

[code]

The following patch and glamour 20200527 would allow disabling color with the GLAMOUR_STYLE=notty environment variable. Or setting it to ansi, light, dark or a custom style the user creates.

[code]

[2020-07-19 06:39] 2JS opened #1390 "Brew upgrade from v0.10.1 to v0.11.0 is broken"
### Describe the bug
Upgrade from v0.10.1 to v0.11.0 via Homebrew on macOS 11.0(or 10.16) Big Sur Beta 2 fails. Installed `gh` via Homebrew.

### Steps to reproduce the behavior

1. Type `brew upgrade gh` or `brew upgrade github/gh/gh`
2. Output
[code]

[2020-07-19 09:33] Google2020update opened #1391 "Alligator bot"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-19 16:14] milesfrain opened #1392 "Cannot view PRs to cloned fork fork with `gh pr`"
### Describe the bug

We are actively developing on a fork of an archived repo.
- Original archived repo: [paf31/purescript-book](https://github.com/paf31/purescript-book)
- Active fork: [purescript-contrib/purescript-book](https://github.com/purescript-contrib/purescript-book)

`gh pr` commands only consider the original archived repo though, and not the active fork, even when cloning from this a

[2020-07-20 03:12] raygervais commented on #1270
I'm new to CLI, would love to take a crack at this if you haven't started @ShubhankarKG!  🍰 ☕

[2020-07-20 07:00] jmvtrinidad opened #1393 "Add option for gh pr diff to list the filenames that has changes on the PR"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.
- Can we have an option for `gh pr diff` to list only filenames/fullpath of files that has changes?

### Proposed solution

How will it benefit CLI and its users?
- If we list filenames, then it is easy to copy and past it through `search a file` function in IDE

### Addition

[2020-07-20 08:22] Tarasovych opened #1394 "Add a command for downloading a new release"
### Describe the feature or problem you’d like to solve

Add a command for downloading a new release based on your OS and platform.

### Proposed solution

It mostly benefits users who use `gh` in headless envs. So, the command should replace, lets say, (1.1) opening release page in GUI env to retrieve latest release url / (1.2) `curl`ing release page and `grep`ping release url, than (2) running `

[2020-07-20 09:36] mislav commented on #1390
Hi, please report this as a Big Sur bug with Homebrew. Our formula works with stable releases of macOS and contains no mention of `path`, so the error must be somewhere deeper.

[2020-07-20 09:36] #1390 closed, assigned to nobody

[2020-07-20 09:40] mislav commented on #1394
Thanks for the idea! It's a bit weird if we would require `gh` to download the latest release of `gh`. How would someone perform first-time setup to get `gh` in the first place? Should we perhaps have an installer script that someone could use in a headless environment regardless of whether they already have gh or not?

[2020-07-20 09:59] #1391 closed

[2020-07-20 10:02] mislav commented on #1270
Sure, either @ShubhankarKG or @raygervais please take a stab!

[2020-07-20 10:04] ShubhankarKG commented on #1270
I myself couldn't proceed because the design wasn't finalised.

[2020-07-20 10:06] mislav commented on #1354
We had an issue about deleting repositories but we've decided back then that it's not something we'd put on the roadmap just yet #1084.

As for archiving, renaming repositories: sure, separate issues would be nice! Bonus points if you include examples of how do you imagine the archive or rename operation to be used.

[2020-07-20 14:42] mislav commented on #1270
@ampinsk What do you think about the proposed UI by @vilmibm above?

Note that while making this change, it might be good to also add the "internal" visibility option, since the lack of it is a blocker for some: https://github.com/cli/cli/issues/798

[2020-07-20 14:49] raygervais commented on #1270
@ShubhankarKG now that you have the design, if you want to proceed I’ll find another item to work on. 💻 🍾

Your call

[2020-07-20 15:08] ampinsk commented on #1360
@ShubhankarKG I'd say only the final confirmation gets an affirmative, the other pieces already have flags available

[2020-07-20 15:26] ShubhankarKG commented on #1360
Okay. Thanks for the leads! I'll incorporate the necessary changes.

[2020-07-20 15:28] ampinsk opened #1396 "Redesign `repo create` to match other `create` commands"
Right now, the `repo create` command behaves quite differently from other create commands, and that can cause some confusion and unexpected behavior. I'm proposing we redesign it to more closely match `pr create` and `issue create` like so:

<img width="491" alt="Screen Shot 2020-07-20 at 8 19 22 AM" src="https://user-images.githubusercontent.com/10404068/87954834-c12fdf80-ca61-11ea-9e61-e67e7b82b

[2020-07-20 15:42] vilmibm commented on #939
Scriptability work is ongoing but enough of it is done to mark this epic as done.

[2020-07-20 15:42] #939 closed

[2020-07-20 15:43] vilmibm commented on #1082
I'll also be taking on #770 with mislav's help

[2020-07-20 16:03] ShubhankarKG commented on #1396
This looks like a culmination of different scattered points 😅 .  I'll be glad to incorporate all the changes in #1357.

But we still keep all the flags right ?

[2020-07-20 16:16] ampinsk commented on #1396
Yes! All flags should stay the same, this is changing the behavior for when no arguments are passed

[2020-07-20 17:12] ShubhankarKG commented on #1396
Excellent, thanks.

[2020-07-20 17:33] #1300 closed, assigned to vilmibm

[2020-07-20 17:39] ShubhankarKG commented on #1270
Hey @raygervais , as per #1396 and continuing my ongoing work in #1357 , I'd like to take this one. Thanks!

[2020-07-20 17:58] Tarasovych commented on #1394
This would be a better option for sure. Maybe bash/powershell script could take a place. Than you could clone the repository and run `install.sh`/`install.bat` or something like that.

We could also have `update.sh` and `update.bat` alongside.

[2020-07-20 19:53] mrtrkmn opened #1398 "archive command for repositories"
### Describe the feature or problem you’d like to solve

It would be nice to archive repository through CLI.

### Proposed solution

There will be no need to navigate through website which might create distract when web browser is used. Wİthout leaving coding area would be nice to archive repo.

`gh repo archive foo/bar`

### Additional context

Normally, I was thinking to have archive functionali

[2020-07-20 19:59] mrtrkmn opened #1399 "rename repository command"
### Describe the feature or problem you’d like to solve

It would be nice to rename repository through CLI.

### Proposed solution

There will be no need to navigate through website which might create distract when web browser is used. Wİthout leaving coding area would be nice to archive repo.

### Additional context

Normally, I was thinking to have rename functionality in user base, I mean, inst

[2020-07-20 20:01] mrtrkmn commented on #1354
- [x] Archive command issue is opened #1398
- [x] Rename command issue is opened #1399

I have opened related issues and pointed them here @mislav, FYI.

[2020-07-20 21:31] vilmibm commented on #1299
@ShubhankarKG I'm not sure what you mean with `gh pr clone`?

[2020-07-21 02:00] AliabbasMerchant commented on #1389
AFAIK, we are just focussing on being a command line program, and not a library/dependency/module for any external program, so `go get`ting cli would not make sense

[2020-07-21 02:14] marwan-at-work commented on #1389
@AliabbasMerchant just FYI I wasn't trying to use it as a library or dependency. Go get is a common way to download and install Go programs that are executed as a binary

[2020-07-21 02:20] AliabbasMerchant commented on #1389
Oh. Okay :+1:

[2020-07-21 02:21] jlewi commented on #1316
@mislav Sorry for the slow reply (unless you @jlewi me I won't notice it in GitHub Notifications).

For GitOps I need a CLI/library that can open up PRs.  SInce I want to do this in automation I want to authenticate as a GitHub app. In this case, I want to supply my credentials as the private key for my GitHub app. The CLI should then use that to obtain a github token which is used to make the API

[2020-07-21 06:54] AliabbasMerchant opened #1400 "User-given Title not respected when using `--fill` in pr create"
`gh pr create -t "autofilled" --fill`
Does not respect the "autofilled" title, and fills in the default title according to the 'fill' logic.

(Have not categorised it as a bug or feature-request, because I dont know if this behaviour is intended or not)

[2020-07-21 09:15] mislav commented on #1400
I would say that `--title` is more specific than `--fill` and should take precedence for the title field. Classifying as bug

[2020-07-21 09:37] #1377 closed, assigned to mislav

[2020-07-21 10:41] erdaltsksn commented on #446
I've built a cli app named [gh-label](https://github.com/erdaltsksn/gh-label) using Go. It helps you export and generate issue labels. It uses `json` files to hold label list. I also add a few starter label list to use.

If the maintainers are okay with this feature, I'm willing to implement this feature.

NOTE: I hope I can implement it.

[2020-07-21 11:18] AliabbasMerchant commented on #641
@mislav We can tick off filtering issues by 'mention' and 'milestone', thanks to #644

[2020-07-21 12:31] mislav commented on #364
Here is how one could currently disable color output from all gh commands:
- setting the `NO_COLOR` environment variable
- redirecting the output, e.g. `gh repo view | cat`

In the future we will add equivalents of `--color=never` and `--color=always` flags to explicitly disable or force color output.

I've opened a PR to address the issue with markdown rendering on light terminal backgrounds.

@d

[2020-07-21 16:51] #1297 closed, assigned to vilmibm

[2020-07-21 16:54] vilmibm opened #1404 "isolate gist command"
Part of #1082

This issue covers converting `gist create` to the new command format.

[2020-07-21 16:57] vilmibm opened #1405 "isolate repo commands"
Part of #1082

This issue covers converting the various `repo` commands to the new command format.

- [x] repo view
- [x] repo fork
- [x] repo clone
- [x] repo create
- [x] final toplevel repo command cleanup

[2020-07-21 19:22] #1299 closed, assigned to vilmibm

[2020-07-21 22:00] raygervais commented on #1280
I'd be interested in working on this once there's a finalized design. Thoughts @ampinsk? Or who would be the individual that provides design?

[2020-07-22 15:47] #1404 closed, assigned to vilmibm

[2020-07-22 16:41] josefaidt commented on #995
Wanted to drop by and show my support for repo creation from a template, as well as a potential option to create a template repo via the CLI 🤗

My thoughts would be:

- `gh repo create --template my-template-repo` for enabling the template repo setting (following behavior of `--public`)
- `gh repo create --from my-template-repo my-new-repo` for creating a new repo based on a template repo (followi

[2020-07-22 18:07] darthwalsh opened #1408 "Add an option so `gh repo view` opens **my** repo instead of its parent"
### Describe the feature or problem you’d like to solve

#799 reported a bug that `gh repo view` should open the owner's fork instead of the original parent, but it  the parent was desired behavior:

This FR is for some options so `repo view` from my repo will view **my** repo, like #799 and I would expect. Then I could create my own gh alias to use those switches.

### Proposed solution

Ideally

[2020-07-22 19:03] mislav commented on #1408
Hi, thanks for writing in! Would your needs be addressed by https://github.com/cli/cli/issues/924, and if so, can we close this one as duplicate?

[2020-07-23 16:55] sfertman opened #1412 "Allow filtering pr status by name/number/something"
### Describe the feature or problem you’d like to solve
`gh pr status` displays a summary of multiple prs

### Proposed solution
Add some filtering arguments to this command, something like:
[code]
How will it benefit CLI and its users?

Ability to get specific information means less output clutter and easy parsing automation

### Additional context

~~Add any other context like screenshots or moc

[2020-07-23 17:31] mislav opened #1413 "Dedicated authentication command"
Example use:
[code]

As I see it, these would be its broader set of features:

- triggers authentication for a specific GitHub host and caches credentials to `hosts.yml`
  - supports Device Authorization Flow https://github.com/cli/cli/issues/297#issuecomment-645583049
  - provide ability to paste in an authentication token obtained elsewhere
  - nice-to-have: also configures your git credential h

[2020-07-23 17:33] mislav commented on #1180
After chats with @ampinsk:

1. We will add a dedicated authentication command, so when we encounter a hostname we don't recognize, we can print something like: ``To authenticate against example.com GitHub Enterprise instance, run `gh auth example.com` `` https://github.com/cli/cli/issues/1413

2. Proposed syntaxes for explicitly selecting a hostname:
   - `gh repo view hubot/robots --host example.

[2020-07-23 19:33] freddygv opened #1414 "Unable to install via Homebrew"
### Describe the bug

Installing via Homebrew leads to an error about how my username doesn't exist.

I had previously installed 0.10.1 and didn't run into this issue.

### Steps to reproduce the behavior

Mac OS 10.14.6

`$ brew install github/gh/gh`

### Logs

[code]

[2020-07-23 20:35] mislav commented on #1414
Hi, sorry that you're experiencing issues! This error does not seem like something that could be caused by our formula, since we don't reference users anywhere and I cannot reproduce it with:

[code]

I would suggest reporting the issue to homebrew-core! Thank you

[2020-07-23 20:35] #1414 closed, assigned to nobody

[2020-07-24 02:19] chenlishuai commented on #1100
I'm confused. If this function is implemented, can I use vimdiff to view diff?

[2020-07-24 04:16] lowkey702 opened #1419 "Code of conduct"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-24 08:53] sy-records opened #1420 "Segmentation fault when using `gh pr checkout`"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

[code]

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if needed.

[2020-07-25 17:32] SachinMaharana opened #1424 "`gh repo create` creates a repo without auth"
### Describe the bug

gh repo create
✓ Created repository SachinMaharana/rust-kuberentes on GitHub
Username for 'https://github.com': SachinMaharana
Password for 'https://SachinMaharana@github.com':
remote: Invalid username or password.
fatal: Authentication failed for 'https://github.com/SachinMaharana/rust-kuberentes.git/'
error: Could not fetch origin
git: exit status 1

Even when i gave wrong

[2020-07-25 22:26] dardo82 commented on #1281
I'd like to have this feature too; plus there are other issues that should be labeled "gist", and there is a typo here: "tooks" should be "tools", I suppose.  8-)

[2020-07-26 03:36] RafaelGSS opened #1425 "`gh repo clone` is able to set ssh remote?"
### Describe the feature or problem you’d like to solve

Hi everyone!

Today the `gh repo clone <user/repo>` gets the repository remote from https. I use 2FA Auth so when I need to commit to the repository the `cli` needs the username and password, but the password must pass the token+password and turns harder to use this command instead of `git clone git@github....`.

Checking the docs flags do n

[2020-07-26 07:49] ShubhankarKG commented on #1425
Hi @RafaelGSS , if you want to be able to clone repositories using the ssh protocol, you need to configure it for `gh`. Currently, `gh` defaults to cloning repositories over HTTPS.

You can set the protocol to ssh by doing `gh config set git_protocol ssh`. After that, you can start cloning your repositories over ssh.
I hope it helps.

[2020-07-26 09:13] wingkwong commented on #1260
@vilmibm @mislav pls endorse the design

[2020-07-26 11:04] PACelah opened #1426 "'gh isore clone' command"
After chats with @ampinsk:

1. We will add a dedicated authentication command, so when we encounter a hostname we don't recognize, we can print something like: ``To authenticate against example.com GitHub Enterprise instance, run `gh auth example.com` `` https://github.com/cli/cli/issues/1413

2. Proposed syntaxes for explicitly selecting a hostname:
   - `gh repo view hubot/robots --host example.

[2020-07-26 14:06] RafaelGSS commented on #1425
@ShubhankarKG Thanks!

Allow this change by flags `gh repo clone <user/repo> --protocol=ssh` is **currently** out of question?

[2020-07-26 15:27] ShubhankarKG commented on #1425
It isn't out of question per se, as I'm also a contributor here :sweat_smile:. But I believe this was discussed earlier as well, and most probably the current way of doing it is what has been the accepted one.

PS : All design issues are handled here by @ampinsk.

[2020-07-26 17:32] itsksaurabh opened #1427 "API improvement : Drain response Body inside func `HasScopes` to reuse underlying TCP connection."
The function [HasScopes](https://github.com/cli/cli/blob/trunk/api/client.go#L202) inside `api/client.go` only closes the response body which can be seen at https://github.com/cli/cli/blob/trunk/api/client.go#L215 . The resp.Body.Close() makes the connection available for reuse by others using the same http.Client. It doesn’t close the underlying HTTP or TCP connection.

According to the official

[2020-07-26 18:43] michaelstepner opened #1429 "gh pr close should have the option to delete branch"
### Describe the feature or problem you’d like to solve

I would like the ability to delete the unmerged branch when closing a pull request using the CLI.

### Proposed solution

`gh pr merge` provides a `--delete-branch` [argument](https://cli.github.com/manual/gh_pr_merge) which does exactly what I'm after. I think this option ought to be available for `gh pr close` as well.

[code]

[2020-07-26 19:27] klauern commented on #1288
Ah, that does appear to query things.  I think my hangup at this point was trying to find the base branch that you're currently on, as mentioned the `:branch` placeholder would probably solve for.

![CleanShot 2020-07-26 at 14 26 02@2x](https://user-images.githubusercontent.com/4735/88487582-272dd280-cf4c-11ea-8f7c-2fd4270c86e6.png)

[2020-07-27 02:38] matschaffer commented on #641
The milestone filter doesn't appear to work in `gh version 0.11.0 (2020-07-16)`

For example on https://github.com/Safecast/safecastapi/milestone/4

I can see the issue by author

[code]

But not by milestone

[code]

[2020-07-27 03:47] Google2020update opened #1430 "Cycrop bot"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-27 03:56] Google2020update commented on #1430
Duplicate of #

[2020-07-27 10:07] weeebdev opened #1431 "gh repo create kicks me out of my gh account"
Every time when I use `gh repo create` it creates a private repo, adds remote branches, but then it asks me for username and password. Since I use 2FA (and, you know, often passwords don't work there, so I have to generate access token again and again) it becomes very problematic for me to create repos. After that I can't use commands like `git push origin master` because I am not authorized and i

[2020-07-27 13:34] mislav commented on #1425
We will consider adding some flag to control the clone protocol, but for now we recommend either setting the global option via `gh config set git_protocol ssh`, or you can paste a whole URL to `repo clone`:

[code]

[2020-07-27 13:34] #1425 closed, assigned to nobody

[2020-07-27 13:37] #1430 closed

[2020-07-27 13:40] mislav commented on #1431
Hi, by default gh generates "HTTPS" URLs for its git remotes, which look like `https://github.com/owner/project.git`

Also by default, git prompts for username+password when using those HTTPS URLs. As you've already discovered, your GitHub password will not work here if you have 2FA enabled.

If git push/pull works well for you for other repos, it sounds like you have set up SSH for authentication

[2020-07-27 13:40] #1431 closed, assigned to nobody

[2020-07-27 15:45] vilmibm opened #1433 "isolate PR commands"
- [x] close
- [x] create
- [x] checkout
- [x] diff
- [x] list
- [x] merge
- [x] ready
- [x] reopen
- [x] review
- [x] status
- [x] view

[2020-07-27 15:48] thisgeek commented on #1090
Appears related to #390.

[2020-07-27 16:29] vilmibm commented on #1424
Hi, sorry for the confusion here.

You've authenticated successfully with the GitHub API, which allows you to freely create repositories. The authentication prompt you're seeing and that is failing is `git`'s authentication.

It's possible that you would rather use `ssh` to perform `git` operations -- you can tell `gh` about that with `gh config set git_protocol ssh`

[2020-07-27 16:29] #1424 closed, assigned to nobody

[2020-07-27 17:12] mislav opened #1434 "Prime user's git credentials after authenticating with gh"
After successfully authenticating with GitHub CLI #1413, we could potentially prime the user's git credential cache with a token that can be used for git clone/push/pull operations.

What this solves: users would no longer get _another_ authentication prompt (this time from git, but the user typically doesn't know that) right after they've authenticated gh and ran something like `gh repo clone myr

[2020-07-27 18:17] mislav commented on #1420
Hi, thank you for reporting!

We have already fixed this in trunk and we're going to cut a release soon https://github.com/cli/cli/pull/1382 https://github.com/cli/cli/issues/1380

This crash only happens when you encounter a network error. So if you retry `gh pr checkout` and your network is fine, the command should work. In the upcoming release, a nicer failure message will be printed.

[2020-07-27 18:17] #1420 closed, assigned to nobody

[2020-07-27 18:21] mislav commented on #1392
Hi, thanks for writing in!

We don't have support for active forks right now, but we should have. We're tracking this as https://github.com/cli/cli/issues/924

In the meantime, you can add `-R purescript-contrib/purescript-book` to gh commands such as `gh pr status` to query a specific repository. It's verbose, but that's the best workaround I can offer right now. 🙇

[2020-07-27 18:21] #1392 closed, assigned to nobody

[2020-07-27 20:29] ampinsk commented on #1413
# Designs

### gh auth login

<img width="516" alt="Screen Shot 2020-07-27 at 1 24 21 PM" src="https://user-images.githubusercontent.com/10404068/88588727-e6e25900-d00c-11ea-8fdf-c5b51e04a653.png">

### gh auth logout

<img width="686" alt="Screen Shot 2020-07-27 at 1 24 34 PM" src="https://user-images.githubusercontent.com/10404068/88588752-ed70d080-d00c-11ea-81b1-9b5d4e4e4c98.png">

### gh auth

[2020-07-28 01:12] eddumelendez commented on #641
@matschaffer I was looking into it and looks like ` --milestone` works with the `milestone_id` but it is not the `number` or `id` that you can get from the graphql api. I got that id using `issuePrioritiesDebug`

[2020-07-28 07:52] matschaffer commented on #641
Is there a way to pull that from the cli?

On Tue, Jul 28, 2020 at 10:13 Eddú Meléndez Gonzales <
notifications@github.com> wrote:

--

-Mat

matschaffer.com

[2020-07-28 12:29] mislav opened #1441 "Issues milestone filter does not work with milestone title"
The milestone filter doesn't appear to work in `gh version 0.11.0 (2020-07-16)`

For example on https://github.com/Safecast/safecastapi/milestone/4

I can see the issue by author

[code]

But not by milestone

[code]

* * *

_Originally posted by @matschaffer in https://github.com/cli/cli/issues/641#issuecomment-664088480_

Props to @bondanthony who [pointed this out in the original PR](https://gi

[2020-07-28 12:31] mislav commented on #641
I'm sorry for the inconvenience! I've opened an issue for this.

@matschaffer Right now you could use `gh api`:
[code]

[2020-07-28 12:37] mislav commented on #89
Decided to punt on this. It would be a nice human touch, but it would require fetching the list of all labels every time a labeled search does not produce any results. For large repositories, that might be expensive, and the results might have been empty not because a label did not exist, but because other search criteria did not match.

[2020-07-28 12:37] #89 closed

[2020-07-28 12:38] mislav commented on #1408
I'm going to assume that I can close as duplicate.

[2020-07-28 12:38] #1408 closed, assigned to nobody

[2020-07-28 12:40] mislav commented on #1272
Closing as duplicate of  #627

[2020-07-28 12:40] #1272 closed, assigned to nobody

[2020-07-28 12:42] mislav commented on #1039
Thank you for reporting! This was fixed in #1253

[2020-07-28 12:42] #1039 closed, assigned to nobody

[2020-07-28 12:45] mislav commented on #702
The global `--repo` flag was removed from commands where it doesn't make sense #1253

[2020-07-28 12:45] #702 closed

[2020-07-28 12:56] #1427 closed, assigned to nobody

[2020-07-28 15:25] mislav commented on #1413
Re: “Login using the browser” prompt: I'm not sure if we give the user enough information to make a decision at this point; i.e. we don't present any alternatives to the user until they choose "no". Maybe it would be useful to present all possible options at once?

I think it's important for the user to understand that if they choose to _not_ login using the browser, they _need_ to already have an

[2020-07-28 15:54] #1405 closed, assigned to vilmibm

[2020-07-28 16:54] vilmibm commented on #1413
@mislav the same thing occurred to me and I went with this copy yesterday, thoughts?

![image](https://user-images.githubusercontent.com/98482/88696557-06d75280-d0c9-11ea-802d-e1684ff6c98d.png)

[2020-07-28 17:06] mislav commented on #1413
That looks great!

Nit: I don't think we need to say "OAuth" since that's an implementation detail.

[2020-07-28 17:07] ampinsk commented on #1413
Yes thank you both for bringing this up, this is so much clearer 🙇‍♀️

The copy @mislav proposed above made a little more sense to me at a glance. I also really like the tip! 🤩

[2020-07-28 19:03] LyzioOh opened #1443 "Issue list Labels change with limit Parameter"
### Describe the bug

Version : ```gh version 0.11.1 (2020-07-28)```
Impacted command: ```gh issue list```
Parameter: ``` -L limit```
Repo: (Private) mailoop/app

Running   ```gh issue list -L 100``` does not give the same result than ```gh issue list -L 101```

### Steps to reproduce the behavior

Run: ```gh issue list -L 100```
And: ```gh issue list -L 101```

On the private repo mailoop/app the

[2020-07-28 21:00] Habbie opened #1444 "PR merge should, after switching branches, pull"
### Describe the bug

After `gh pr merge`, I get put back onto my default branch (which, in this case, the PR was against). However, this branch was not locally updated to have the merge present.

### Steps to reproduce the behavior

Terminal log (edited for prompt brevity, I only left the branch name in):

[code]

### Expected vs actual behavior

I would have expected my `master` branch to have t

[2020-07-28 21:01] Habbie commented on #1444
The repository in question, just in case it helps make sense of the terminal log: https://github.com/PowerDNS/parent-signals-dot

[2020-07-29 06:07] vvanpo opened #1446 "Unwrap commit message body when using `gh pr create --fill`"
It's fairly common to wrap commit message bodies to 72 characters, as
this leads to consistent `git log` browsing for the standard
80-character terminal. I believe this originated from a blog post by Tim
Pope
(https://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html),
and searching the Web for "50/72 rule" will yield lots of results.

GitHub does not unwrap your text blocks (i.e. grou

[2020-07-29 06:28] vvanpo opened #1447 "Warn users about repo permissions prior to accepting body text"
### Describe the feature or problem you’d like to solve

I just spent 10 minutes crafting an issue using `gh issue create --label 'enhancement' --repo cli/cli`, but submission failed with `GraphQL error: You don't have permission to add labels in this repository.`. This is of course a bit of a user error, I'd never added labels to anything before and wasn't sure whether it needed special permissio

[2020-07-29 06:30] vvanpo commented on #1447
☝️ and right there it says **_I_** added the 'enhancement' label... so you could see where there might be confusion.

[2020-07-29 09:40] mislav commented on #1443
Thanks for reporting!

Yes: you can set `DEBUG=api` to see GraphQL queries and whole JSON responses.

[2020-07-29 09:42] mislav commented on #1446
Fully agreed that unwrapping would be better; I would like that too.

However, how would we avoid unwrapping sections of text that are meant to stay wrapped, e.g. bullet list items, pasted log output, or code blocks that might be present in the commit message?

[2020-07-29 09:47] mislav commented on #1447
Ouch, sorry for the bad experience. Agreed about:

* we should ideally raise the error before we made you go through all of these prompts;
* a failed PR create operation should store the authored text somewhere for reuse https://github.com/cli/cli/issues/678.

In the end, did you create this issue using the web UI? If creating from a template, that could have explained the label being auto-added.

[2020-07-29 09:49] mislav commented on #1444
Agreed that it would make the most sense to
1. check out the base branch;
2. make sure the base branch is fast-forwarded so it includes the merge commit.

Thanks for writing in!

[2020-07-29 13:32] mislav commented on #1412
Hi, that's a good idea! We are working towards having a command to display status of PR checks for an individual PR.

I'm going to close this as a duplicate of https://github.com/cli/cli/issues/677

[2020-07-29 13:32] #1412 closed, assigned to nobody

[2020-07-29 19:11] ampinsk opened #1449 "Tweak wording on list headers to show state"
Right now, our headers on `gh pr list` and `gh issue list` say:

But it would be great to make it clear that this list is all the _open_ issues (or PRs), so we could adjust the wording to say:

[2020-07-29 20:04] vilhelmprytz opened #1450 "Select commit email when merging PR"
### Describe the feature or problem you’d like to solve

When merging a PR on GitHub.com, I am able to select which email to use for the commit (if my account has several). I am not able to change this when merging using `gh pr merge`, instead, it uses the default email.

### Proposed solution

An ability to select which email address to use for the merge commit like you can on the web interface.

[2020-07-29 20:50] mglaman opened #1452 "Checkout pull requests using SSH remote URL"
### Describe the feature or problem you’d like to solve

Often times I have to rebase pull requests and force push to fork'd repos. When using `gh pr checkout` it uses the `https` URL for the repo, which makes it difficult to push to the contributor's fork.

### Proposed solution

`gh pr checkout` should set the remote to the SSH URL for maintainers to push to contributor forks.

Example `.git/con

[2020-07-29 21:06] mislav commented on #1452
Sorry for the confusion! Gh right now uses HTTPS URLs by default even when the repo uses SSH. We will improve this automatic default in future versions, but for now, you can set your own default across the board:

[code]

[2020-07-29 21:06] #1452 closed, assigned to nobody

[2020-07-29 21:30] mglaman commented on #1452
oh! rad, I missed that. Thanks, @mislav - loving the CLI (especially the PR checkout)

[2020-07-29 23:04] vvanpo commented on #1446
I think the only reliable way would be to use some kind of Markdown -> AST parser.

One interesting thing I've noticed is that when I run `gh issue view -R cli/cli 1446` you see that the paragraphs from this post _are_ being unwrapped (and rewrapped, just to a longer character limit). So it sounds like this functionality already exists somewhere in this project's codebase.

[2020-07-29 23:26] jennybc opened #1454 "Issue listing is misaligned when labels contain emoji"
[code]

The columnar alignment / spacing of `gh issue list` is off when the labels contain emoji.

<img width="965" alt="Screen Shot 2020-07-29 at 4 24 22 PM" src="https://user-images.githubusercontent.com/599454/88863626-200afc80-d1b8-11ea-947b-97185766ab70.png">

[2020-07-30 00:42] stephenyu opened #1455 "Temporary store `pr create` details if the command failed."
### Describe the feature or problem you’d like to solve

If the `pr create` command fails, you will lose all the previous details provided.

[code]

### Proposed solution

It would be nice if, until the `pr create` is succesful, the details provided are stored temporary so they can be retrieved or perhaps used as subsequent default.

[2020-07-30 01:45] fsmiamoto commented on #1441
Has anyone been able to get the  expected results from the GraphQL API?

Taking a look at the code and according to the [docs](https://docs.github.com/en/graphql/reference/input-objects#issuefilters), passing "4" should've given us the expected results from what I understood:

[code]

[2020-07-30 02:37] matschaffer commented on #1441
@mislav mentioned that this should work on https://github.com/cli/cli/issues/641#issuecomment-665011466

[code]

[code]

Seems that the graphql API has a different set of ID numbers than what appears in the url.

[2020-07-30 02:38] matschaffer commented on #1441
Pulling the ID from the api should work in the interim, but having name resolution would definitely be appreciated (and a step up from hub where you have to pass the URL ID)

[2020-07-30 04:10] ShubhankarKG commented on #1446
That's true perhaps. Our markdown parser, i.e [Glamour](https://github.com/charmbracelet/glamour) auto wraps to width 100, if not provided. That may be the reason for the longer character limit.

I found this at their example page [here](https://github.com/charmbracelet/glamour/blob/1246d13c16840ca055720a28b0bc0adb9bd74312/examples/custom_renderer/main.go#L13).

[2020-07-30 08:39] dfang commented on #514
@hantsy no need to set proxy in git config, a proxy() and a noproxy() function in your bash_rc or bash_profile would be easier if you're a developer in china.  most cli(eg. git,curl,wget,go,brew ...) respects http_proxy, https_proxy, HTTP_PROXY, HTTPS_PROXY.

[code]

[2020-07-30 08:44] dfang opened #1456 "Add --depth flag to clone"
### Describe the feature or problem you’d like to solve

Add --depth flag to clone. sometimes we want to clone a demo/boilerplate project or something else  to local for testing, it would be nice to be like git.

### Proposed solution

improved speed for a large repo, a user who have to clone with a proxy.

### Additional context

```gh repo clone  --depth 1 user/repo```

[2020-07-30 11:43] mislav commented on #1456
From `gh help repo clone`:

I don't think we need to support `--clone` explicitly because it's already possible to pass any `git clone` arguments after `--`, but maybe we could change the error message on unrecognized flags to suggest that `git clone` flags can be separated after `--`. E.g.

[code]

[2020-07-30 11:53] mislav commented on #1454
Thank you for reporting!

I think this is because our `text.DisplayWidth()` helper only recognizes Unicode characters for written languages that take a double-width space https://github.com/cli/cli/blob/88eaa28aef1f1539abbcb3ce6580cce9122e783a/pkg/text/truncate.go#L7-L14

but does not recognize that all emoji (including ones that are a multibyte sequence) are always presented as a single-space cha

[2020-07-30 13:57] mdesson opened #1459 "github-cli cannot be installed on arch using instructions in the readme"
### Describe the bug

The readme instructions say to use pacman to install github-cli, however the package is not found.

### Steps to reproduce the behavior

1. Open a terminal on archlinux
2. Enter the command `pacman -S github-cli`
3. See error

### Expected vs actual behavior

Expected behaviour: It installs from community package linked on the readme

Actual behaviour:

[code]

### Note

If y

[2020-07-30 14:32] mislav commented on #1459
Neither of these packages, nor most community packages are "official". As per tradition in the Linux world, packages are made and maintained by the community and usually not by the people who created the software in the first place.

I agree, though, that our installation instructions should always work, and since they don't I appreciate the bug report! 🙇

I can't tell what's the problem since I d

[2020-07-30 14:47] mongkut19 opened #1460 "Ddd"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-30 14:48] #1460 closed, assigned to nobody

[2020-07-30 14:49] mongkut19 commented on #838
Efyr

[2020-07-30 14:51] mongkut19 opened #1461 "D"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-07-30 14:51] #1461 closed, assigned to nobody

[2020-07-30 14:52] mongkut19 commented on #1461
0990372797``

[2020-07-30 15:15] mislav commented on #1441
@fsmiamoto A milestone has 4 potential identifiers:
* a title, e.g. “AWS migration” - this mostly matters for UIs
* a number, e.g. “4” - this is per-repo, and APIs usually don't take this as input
* a database ID, e.g. “1731740” - for REST API, unambiguous across repos
* a "node ID", e.g. “MDk6TWlsZXN0b25lMTczMTc0MA==” - for GraphQL API, unambiguous across repos

`gh issue list` uses the GraphQL A

[2020-07-30 15:23] mislav commented on #1455
Thank you for the suggestion! Duplicate of https://github.com/cli/cli/issues/906

[2020-07-30 15:23] #1455 closed, assigned to nobody

[2020-07-30 16:39] fsmiamoto commented on #1441
@matschaffer @mislav
Thanks for the clarifications!

Accepting the milestone name would be great for the future.

If this needs any help for implementation, I'll gladly help.

[2020-07-30 16:59] mislav commented on #1441
@fsmiamoto This has the `help-wanted` label, so we'd gladly accept a PR! 🌟

See `api.RepoMilestones()` for an existing helper that fetches all milestones in a repository

[2020-07-30 20:03] szczot3k commented on #1459
`github-cli` is pretty new in [Arch community repo](https://www.archlinux.org/packages/community/x86_64/github-cli/).

Can you try a full system upgrade with `pacman -Syu`, to hopefully sync the repository cache?

I'm 95% sure that's the problem 😩

It works for me (Running Arch in Docker under Window with WSL2)
![image](https://user-images.githubusercontent.com/23485507/88968551-c8e85300-d2af-11ea

[2020-07-30 20:22] mdesson commented on #1459
bizarre, it's still not working. Anecdotally, it isn't working for someone else I was asking about it.

![image](https://user-images.githubusercontent.com/25888319/88970694-dcc89080-d280-11ea-873c-54140710e655.png)

[2020-07-30 20:33] szczot3k commented on #1459
I'll look into the problem in a full Arch Linux install tommorow.

At the moment I can not reproduce the problem in Arch Linux in Docker.

![image](https://user-images.githubusercontent.com/23485507/88971535-60e83b80-d2b4-11ea-9bcc-d7303d2e2c8e.png)

[2020-07-30 21:54] szczot3k commented on #1459
Well, I've just installed Arch Linux in a VM.

In a fresh install it just works with `pacman -Syu github-cli`

Are you using Arch Linux? Or something Arch-based? I can see that Manjaro has `github-cli` in unstable branch at the moment.

[2020-07-30 22:06] mdesson commented on #1459
Ahah! I think you've gotten to the bottom of it. I'm using Manjaro and so is the person I referenced earlier. I think we can safely close this one out. Thanks for your time

[2020-07-30 22:27] #1214 closed, assigned to nobody

[2020-07-31 01:31] fsmiamoto commented on #1459
I'm on Arch Linux and can confirm that it works as expected

[2020-07-31 01:42] #1459 closed, assigned to nobody

[2020-07-31 10:43] mislav commented on #1459
Thanks for looking into this, everyone! 💖

[2020-07-31 10:48] noneadd2427 opened #1464 "Repo"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-07-31 13:40] Mats-SX opened #1466 "How to select fork to create PR in?"
Hello! I'm very excited about the GitHub CLI and it's very nice to use. But I have an issue: it create pull requests with `gh pr create` on a particular remote of mine which is a fork of the repository I'm working on, and it isn't the remote that I would like. I have many remotes that are forks of the main repository, and one of them is my fork, where I want my PR branches to be created. How would

[2020-07-31 13:55] szczot3k commented on #1459
From what I understand, we just need to wait for someone with Manjaro repo access to move the `github-cli` package to stable branch. I'm also using Manjaro daily, so I'll look into that.

[2020-07-31 14:14] knutwalker commented on #1466
The order in which the remotes are selected is defined by https://github.com/cli/cli/blob/c8cf54c10c427a429663244a2ab14c4fe2dfa10a/context/remote.go#L37-L48

That is, you can somewhat configure your remote by naming it `upstream`, or `github`, or `origin`. Otherwise it's the first one as returned by `git remote`.

[2020-07-31 14:44] Mats-SX commented on #1466
Ah, perfect, that solves my issue. Thank you very much @knutwalker!

[2020-07-31 14:44] #1466 closed, assigned to nobody

[2020-07-31 14:49] jglick opened #1467 "Fork selection broken when repository considered a fork of an abandoned original"
### Describe the bug

Consider the repository https://github.com/jenkinsci/jenkins-test-harness-htmlunit which is the official home of this library. I have a fork of it. However GH says

because @andresrc created this repository, long ago, and whoever moved it to the @jenkinsci org when it became official decided to do so via a fork action rather than a move action. The clone under @andresrc is no

[2020-07-31 15:37] mislav commented on #1467
I'm sorry that gh is giving you trouble here! Our defaults indeed need revisiting.

The only workaround I can suggest right now:
- Before `gh pr create`, ensure that the current branch is fully pushed to a remote. This will prevent the auto-push behavior.
- Use the `gh pr create -R jenkinsci/jenkins-test-harness-htmlunit` flag to explicitly specify the base repository where the PR should be create

[2020-07-31 15:37] #1467 closed, assigned to nobody

[2020-07-31 16:22] #1449 closed, assigned to nobody

[2020-07-31 17:39] ferdnyc opened #1469 "Help output just SLIGHTLY wider than 80 characters"
The help text output by `gh help` (or just `gh` with no other arguments) is just _slightly_ wider than 80 columns, but still line-wrapped at like 86 columns wide or whatever. That causes it to look especially bad in an 80-character window, without realizing any of the potential benefits from wider formatting.

Specifically, this is the output in an 80×24 terminal window:

[code]
(The output above

[2020-07-31 17:54] mislav commented on #1469
Fully agreed! I was considering a help system that reformats all prose to fit available width, but to also cap it at a certain maximum width for readability.

In the meantime, you can try viewing our man pages: `man gh`, `man gh-pr-create`, etc. They are a little rough, but you should have no line-wrapping problems there.

That would be good for small- to medium-sized terminal windows, but for ext

[2020-07-31 18:14] Artnoc1 opened #1471 "Somehow managed to create this twice :o, see #13959."
Somehow managed to create this twice :o, see #13959.

_Originally posted by @lptr in https://github.com/gradle/gradle/issues/13958#issuecomment-665700949_

[2020-07-31 18:27] #1471 closed, assigned to nobody

[2020-07-31 18:40] ferdnyc commented on #1469
A fair point, there definitely should be some maximum. Print media formats prose into columns for a reason.

[2020-07-31 19:06] szczot3k opened #1472 "Manual on marketing site isn't up to date"
In PR #1432 I changed the way `cli` should be installed on Arch Linux.

However this change isn't reflected on [Github CLI Docs Page](https://cli.github.com/manual/installation).

The [`docs`](https://github.com/cli/cli/tree/trunk/docs) folder `"is used for documentation related to developing"`. Is there any way that we can also update the docs on the page to avoid such situations in the future?

[2020-07-31 20:12] musm commented on #695
Gotta agree, found it very odd `gh <tab>` doesn't have any completions

[2020-07-31 22:19] asasas333222 opened #1473 "y"

[2020-07-31 23:25] bewuethr opened #1474 ""json: cannot unmarshal string" error message for unsuccessful "gh api" request"
### Describe the bug

From within a GitHub Actions workflow, I want to delete review requests using `gh api`, but I get both an HTTP 422 response and an error message.

I'm using the `gh` version provided in the Ubuntu 18.04 GitHub-hosted runners, version 0.11.0 currently.

### Steps to reproduce the behavior

I use

[code]

where `$prid` is the pull request ID and `reviewers.json` looks something

[2020-08-01 03:15] bradennapier commented on #1390
Also running into this with Big Sur

[2020-08-01 11:31] andresrc commented on #1467
Hi @jglick! Is it enough if I just delete https://github.com/andresrc/jenkins-test-harness-htmlunit ?

Thanks!

[2020-08-01 23:02] ferdnyc commented on #1469
Heh. Well, actually (from `gh-api(1)`):

[code]

That's not actually so bad, though. Unfortunately, there's also a missing content issue.

<pre><code>
$ gh api --help|head -n 35|tail -n 15
  repository of the current directory;
- if the value starts with "@", the rest of the value is interpreted as a
  filename to read the value from. Pass "-" to read from standard input.

Raw request body may be

[2020-08-02 05:23] phil-blain commented on #906
I’d just like to add my voice here, I just spent 20+ minutes writing a detailed PR description only to loose it when I submitted because I had forgotten to force push my (rebased since last pushed) branch, just as described in #1455.
Having ‘gh’ do a backup of any textual input would be very helpful.

(As an aside, in this situation, or even if the push would be fast-forwad, the cli could simply w

[2020-08-02 08:08] bpsagar commented on #1454
This issue is a bit tricky, I did some digging. It is caused mostly by the [East Asian Ambiguous](https://unicode.org/reports/tr11/#Ambiguous) characters and a few characters that are made up of multiple runes.

Example code (using the same `DisplayWidth` from the codebase):

[code]

Output:
[code]

While returning 1 for `EastAsianAmbiguous` case fixes a few cases (like `string2` in the sample cod

[2020-08-02 15:55] michaelmhoffman commented on #448
Thanks again for this amazing tool. The combination of the nag screen about the new version of `gh` available at the bottom of every use of it combined with inability to easily automatically upgrade on Ubuntu is a little annoying. Since you don't seem to want this to be install-and-forget, I would hope you would consider making a PPA a higher priority.

[2020-08-02 15:59] michaelmhoffman commented on #448
This is my bash auto-installer for now, based on @nikolaik's script above.

[code]

[2020-08-02 19:51] LyzioOh commented on #1443
Tried ````gh issue list -L 400````

Got 3 requests, 1 for the repo 2 for the issues( One by page).
Sadly the JSON response are to big to be show 😢.
Found nothing strange in the logs, but still have an issue with a wrong label, the 2476 this time.

Maybe, it will be a an opportunity for me to learn Go. Making a request with a custom Version of the cli will probaly give me a better insight.

[code]

[2020-08-03 00:37] wei opened #1478 "gh pr from a fork - invalid baseRefName"
### Describe the bug

When creating a PR from a fork,
Error: failed to create pull request: GraphQL error: The baseRefName is invalid.
[code]

### Steps to reproduce the behavior

1. Fork a repo
1. Make a change in master
1. `gh pr create --base <PARENT_USERNAME>:master --title "Title" --body "Body"`

### Expected vs actual behavior

**Expected**
Create pull request successfully.

**Actual**
Error

[2020-08-03 07:46] mislav commented on #1478
Hi, thank you for reporting, but the `--base` branch only accepts a branch name and does not accept the `OWNER:` prefix.

It's only necessary to pass the `--base` flag if you are opening a PR based on a branch other than the repository's default branch.

[2020-08-03 07:46] #1478 closed, assigned to nobody

[2020-08-03 07:47] #1473 closed, assigned to nobody

[2020-08-03 07:57] mislav commented on #1474
Thank you for reporting! The problem seems to be in error response decoding. Specifically, the Go unmarshaller expects the `errors: [...]` array to [contain objects](https://developer.github.com/v3/#client-errors), but it contained strings in this case.

The solution would be to generalize the approach to handle both arrays of strings and array of objects so it doesn't choke on the response that y

[2020-08-03 09:02] wei commented on #1478
Thanks! Upon testing, in fork repo, running `gh pr create --title "Title" --body "Body" --repo <PARENT_REPO>` seems to do the trick.

[2020-08-03 15:19] #1182 closed, assigned to mislav

[2020-08-03 19:11] phil-blain opened #1481 "Allow configured Git remotes to be used for the '-R' argument"
### Describe the feature or problem you’d like to solve

If I have a configured remote named `<remote>` in my Git repository and want to open a PR against that remote, I'd like to able to do
[code]
but right now I have to do
[code]
which can be considerably longer depending on the project.

### Proposed solution

How will it benefit CLI and its users?

This will allow them to type less :)

### Add

[2020-08-03 19:37] phil-blain commented on #1481
See also : https://github.com/cli/cli/issues/317

[2020-08-03 19:58] phil-blain commented on #575
Hi!

Ideally, the first step would be to use the existing Git logic for triangular workflows, see:
-  [`remote.pushDefault`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-remotepushDefault),
- [`branch.<name>.pushRemote`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-branchltnamegtpushRemotehttps://git-scm.com/docs/git-config#Documentation/git-config.txt-branc

[2020-08-03 20:56] daniel-beck commented on #1467
@jglick @andresrc I'm about to propose a solution for the jenkinsci org, monitor the dev list.

[2020-08-03 21:06] phil-blain commented on #878
This (thankfully non-fatal error) also happens if opening a PR against a configured Git remote for which the base branch has never been fetched. Ideally in this case `gh` would fetch the remote-branch into `FETCH_HEAD`, because if the remote is configured but has never been fetched, probably that's because the user does not want to fetch it using the default `git fetch` behaviour. This way `gh` do

[2020-08-04 00:06] ampinsk opened #1482 "gh gist create: display file name in output"
Right now, when creating gists you get this output:

[code]

Could we show the file name in this output like so?

[code]

[2020-08-04 08:03] wanecek opened #1483 "Document survey's VimMode"
### Describe the feature or problem you’d like to solve

I would like to ask if it makes sense to document that [`AlecAivazis/survey`](https://github.com/AlecAivazis/survey/) has a VimMode, which in turn is exposed when using gh-cli.

### Proposed solution

I'm not sure where this would best be documented, be it in the `--help`-text, the core documentation, or the README. Regardless, it may be ben

[2020-08-04 09:32] mislav opened #1484 "Allow JSON array parameters in `gh api`"
Neither `--field` nor `--raw-field` accept JSON arrays right now. To pass a JSON array or a nested object, one needs to construct the JSON payload outside of gh and pass it in via `--input`. E.g.

[code]

I propose a new array syntax for fields:
[code]

This syntax would allow passing values of any type, including an empty array, and is fully backwards-compatible. The only theoretical drawback is

[2020-08-04 14:22] wilso199 commented on #1482
@ampinsk It is my understanding that multiple files can be passed to `gh gist create`. What behavior would you like see when multiple files are passed?

[2020-08-04 15:29] mislav commented on #878
I'm not sure if we should ever auto-fetch branches, especially not if it's just for the purpose of looking up the commit log.

Is the current warning notice annoying or otherwise a big problem? I feel like the current behavior is accurate.

Keep in mind that currently, `pr create` is primarily designed to create PRs from _local_ branches

[2020-08-04 17:01] #878 closed

[2020-08-04 18:07] phil-blain commented on #878
If `gh` fetches to `FETCH_HEAD` I think it's OK (this way remote-tracking branches are not updated behind the user's back.)

It's not a big problem since it's not fatal, but it is annoying. For my use case the base branch is *never* available locally (the remote is configure by I don't fetch it) so I get this warning for every PR I open.

Yes, in this example it's the *target* branch (the one agai

[2020-08-04 19:10] ampinsk commented on #1482
@wilso199 good question! How about this:

[code]
Since the gist gets created with the name of the first file ☝️

And in the case of piping output to the gist create command, I think we can keep what we have today.

[2020-08-05 00:36] wilso199 commented on #1482
@ampinsk Okay, great. Thank you for the clarification! I will work on this enhancement.

[2020-08-05 06:59] msfjarvis opened #1486 "Allow creating PRs without forking the repository"
### Describe the feature or problem you’d like to solve

At my job we rely on private GitHub repositories to house our code and each change goes in through a pull request. Unfortunately, when I run `gh pr create`, the CLI will by default always attempt to fork the repository, push to it, and then create a pull request. This particular operation fails with `cannot fork private repository`, which se

[2020-08-05 09:14] danshearer opened #1487 "gh name already taken by https://github.com/donnemartin/gitsome"
### Describe the bug

A cli tool that is an "Official Integration for GitHub and GitHub Enterprise" is already called "gh"

### Steps to reproduce the behavior

Debian/Ubuntu command-not-found package alerted me:

Command 'gh' not found, but can be installed with:

sudo apt install gitsome

### Expected vs actual behavior

Don't invade another closely-related project's namespace?  :-)

[2020-08-05 09:33] danshearer opened #1488 "NO_COLOR variable ignored"
### Describe the bug

NO_COLOR variable is ignored in "gh issue create"

gh version 0.10.1-226-gebdd79d (2020-08-05)

### Steps to reproduce the behavior

1. gh issue create
2. Text starting from "Choose a template" has ANSI colour sequences
3. I tried various values for NO_COLOR including "yes" and "***************" just in case

See attached screenshot.
![NO_COLOR](https://user-images.githubuser

[2020-08-05 12:12] mislav commented on #1487
Thanks for letting us know! We knew about gitsome, which looks pretty awesome, but I did not realize that it registers a `gh` binary. That's good to know, as we're in the process of packaging GitHub CLI better for Debian/Ubuntu.

The “official integration” bit in gitsome's project description refers to it being listed in the GitHub Marketplace. The tool is in no way “official” in a general sense.

[2020-08-05 12:12] #1487 closed, assigned to nobody

[2020-08-05 12:16] mislav commented on #1488
Thanks for reporting! This is indeed a bug.

We don't output any ANSI escape sequences in NO_COLOR mode from our code, but we do invoke the Survey library for prompts, and it appears that it doesn't respect NO_COLOR. We can try to fix this.

Do you think it's still appropriate to render terminal prompts in NO_COLOR mode? We can disable all color-related ANSI sequences, but there might be other esc

[2020-08-05 12:30] mislav commented on #1486
Thank you for reporting! You should absolutely be able to create PRs within the same private repository, and gh should only ever auto-fork if you do not have write permissions for the repository. The fact that you're blocked sounds like a bug.

Can you check the result of this query and share it with us? (Replace "OWNER" and "REPO" with your own values.) It should contain no identifiable informati

[2020-08-05 12:57] msfjarvis commented on #1486
~~I do have write permissions to the repository, as an organization member. I however cannot fork the private repository, which `gh` attempts to do because it only checks for my write permission.~~ I misread your observation :(

[code]

Sure thing :)

[2020-08-05 14:10] mislav commented on #1469
Thanks for looking into this! It definitely looks like some markdown-to-roff encoding bug. We already have on our roadmap for this month an item to refresh our docs, particularly regarding how they are rendered to man and HTML formats. 👍

[2020-08-05 14:19] mislav opened #1489 "Support GitHub Apps integration tokens as means of authentication"
When running GitHub CLI in context of a GitHub Action, the GITHUB_TOKEN provided by default is an Apps integration token. If gh is eventually available through Codespaces, the situation will be the same. Integration tokens have different abilities than OAuth tokens/PATs, for example:

- Actions-provided one will always be scoped to a single repository;
- They don't have a concept of OAuth scopes,

[2020-08-05 14:37] msfjarvis commented on #1486
If it helps, I also can reproduce this behaviour on [a public repository in an org](https://msfjarvis.dev/aps), where I am an organization owner. I didn't report it as a bug earlier since I preferred the forking and it never occurred to me that the write permissions were supposed to be considered.

[2020-08-05 15:17] danshearer commented on #1488
I think there are two main cases to consider, automation and accessibility. There are obvious subcases as well for example automation by means of scraping the accessible output, but the two cases cover the technical point as far as I can see.

1. Automation. Just like you are doing for gh auth login, it is important to be able to specify everything via commandline parameters. I notice for example

[2020-08-05 15:32] danshearer commented on #1486
There is also the case of Reverse Pull Requests. For example, I just did one to update danshearer/cli with all changes from cli/cli. This is another example where forking must not happen.

I did not do this Reverse Pull with gh, because I couldn't quickly see how to do it and I was in a hurry. I need to do some more testing, but in any case I want to remind you of this common use case.

[2020-08-05 15:42] danshearer commented on #1488
I said above

but I think Survey is worse than that. It doesn't seem to consider anything about the terminal at all, for example, ```export TERM=vt52``` makes no difference to gh's behaviour.

On the other hand, you can see from the discussion of colour in Ncurses at https://invisible-island.net/ncurses/ncurses.faq.html that terminal color is quite complicated and library authors should not preten

[2020-08-05 15:51] mislav commented on #1488
Thank you! Would you please elaborate on how you imagined this help system to work, or with an example? We're looking how to improve our help output this month, so any feedback would be great.

Re: accessibility: we definitely aim to provide flags for any inputs that are otherwise prompted for. In fact, that should already be the experience with the latest released version of gh. GitHub CLI should

[2020-08-05 16:01] danshearer commented on #1488
I was also suggesting the opposite: that you prompt for any inputs that have not been specified on the commandline.

This leads to better results for the end user. For example if I have a script that can set up 3 parameters because it has that knowledge, and just prompt for a 4th from the user, that will reduce errors and frustration. Often there is a situation where partial automation is possible

[2020-08-05 16:15] danshearer commented on #1488
Right now gh has a manual help system because I have to specify both the command and the subcommand:

[code]
In fact, gh modules collectively have the knowledge to supply both command and subcommand and could make it available:

[code]
would list all of the subcommands and attributes of these subcommands, and any sub-subcommands that may exist one day.

[code]
would list every single command and p

[2020-08-05 17:09] mislav commented on #1486
@msfjarvis Thanks for the GraphQL response! It looks like you indeed have write access to the target repo. I'm not sure why it would still try to fork the private repo and fail, since it should have defaulted to pushing the branch to that same repo.

BTW, you can debug full verbose mode with `DEBUG=api pr create ...`. Try to inspect server responses to see if anything stands out.

It looks like we

[2020-08-05 17:18] F-C-U00000000019 commented on #1377
muhammadshamim256:change-the-title

[2020-08-05 17:21] F-C-U00000000019 opened #1490 "muhammadshamim256:change-the-title"
[Hina Marks 2020.txt](https://github.com/cli/cli/files/5030094/Hina.Marks.2020.txt)
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and wha

[2020-08-05 17:22] mislav commented on #1320
@olgabot Does `config.yml` on affected machines still contain authentication info under a `hosts:` section?

If so, running a `gh` command should have auto-migrated that section into a `hosts.yml` file. It's possible that removing the previous `.bak` file might unblock that migration.

If `config.yml` does not contain `hosts:`, then copying over a `hosts.yml` from a machine that has already authen

[2020-08-05 17:24] #1490 closed, assigned to nobody

[2020-08-05 17:32] vyasraos commented on #401
[code]

I see this again, does not work. Not sure if I am doing something wrong.

I am on WSL2

[2020-08-05 17:50] gibfahn commented on #273
Adding support for GHE but saying "only works on GHE 2.20+" (or whatever the needed minimum version is) would be really nice, and then supporting older GHEs could be a follow-on enhancement if needed.

If I knew what the minimum version of GHE that would work was, I could go pester our GitHub Enterprise admins to upgrade 😁 .

[2020-08-05 18:12] gibfahn commented on #1180
A nice default for some commands might be to look at the remote-tracking branches of `HEAD`, e.g.

- `gh repo fork` -> default to forking the `@{upstream}` branch's remote
- `gh pr create` -> default to creating a PR to merge [`@{push}`](https://fahn.co/posts/a-better-pull-request-workflow-with-git-push-branches.html) into `@{upstream}` (or merge `@{upstream}` into `<prompt for remote>` if `@{push

[2020-08-05 18:13] msfjarvis commented on #1486
It seems the behavior is flaky, and now I can't reproduce this issue under the exact same circumstances :shrug:

[2020-08-05 18:52] mislav commented on #1472
Thank you for reporting!

I think that the main problem is that we maintain two separate documents with installation instructions: one in the README and one on the web site. We have no automated sync happening between them, so one is guaranteed to always fall out of date.

How I see it, we should either set up some automated sync between the two repositories, or we should remove one set of instruc

[2020-08-05 22:06] JonMontgo commented on #716
gh version: `0.11.1`
zsh version: `zsh 5.8 (x86_64-ubuntu-linux-gnu)`
oh-my-zsh: `hash: f2c8b970`

Hi there debian based distro user here. I used the .deb file and am on version 0.11.1 . I am having the same issue and don't use brew. Is my preferred method to source from `gh completion -s zsh`?

Before I source in any manual autocompletion scripts I do
[code]

currently below my oh_my_zsh shell sc

[2020-08-05 23:29] JonMontgo commented on #716
So I found a hacky fix for this... For some reason the compdef tag at the top of the script was not working for me. `gh` referencing the function `_gh` was not in my `_comps` in `~/.zcompdump` after using the `compdump` command.

Put this in your `~/.zshrc` and your autocomplete should work:
[code]
The compdump in this script is optional if you include it you will see gh in your `~/.zcompdump` If

[2020-08-06 07:24] Jarvvski commented on #273
Seeing as it was removed from the _To do_ list, does this mean it's now usable with GHE? I don't see any specific instructions on how to set it up.

[2020-08-06 09:57] tomhamiltonstubber commented on #1486
I'm also getting this behaviour:
[code]

I'm going to try building it locally now.

[2020-08-06 12:47] mislav commented on #1443
Tip: in VerboseLog, you can add `MaxResponseBody: 100000` as a parameter to `httpretty.Logger` to ensure even large response bodies are logged. https://github.com/cli/cli/blob/b4ffced654bdbf99d86f61c14ae4a7aa4317fe17/api/client.go#L68

Then, you can log to a file:
[code]

[2020-08-06 12:54] mislav commented on #1484
Potential additional idea: use a similar syntax to pass nested objects as well, since [some APIs require them](https://docs.github.com/en/rest/reference/repos#update-branch-protection) as inputs. For example, the Gist API:

[code]

I'm not sure if this is a crossing a line into too magic or complicated 😅

[2020-08-06 12:55] mislav commented on #401
@v-y-a-s Please subscribe to https://github.com/cli/cli/issues/826 for updates on the topic 🙇

[2020-08-06 15:28] mislav commented on #273
@Jarvvski Current `trunk` has support for running commands within repositories cloned from a GHE instance, but there are still rough edges around general GHE support (mostly it lacks polish around authentication flow) and we don't recommend experimenting with it until we cut the next release. We will be sure to update this thread and provide some instructions how to get started. 🌟

We removed this

[2020-08-06 17:01] mislav commented on #1180
After chats with @ampinsk, this is how a selection of a default host could look like:

[code]

[2020-08-06 17:06] mislav commented on #1486
@msfjarvis It might have been caused by a network error that caused a failed API request that was then silenced by our improper error handling. It's still a bug and we're going to look into it!

@tomhamiltonstubber Thank you! That would be really helpful 🙇

[2020-08-06 18:04] mislav commented on #1320
@olgabot Hmm the `config.yml` seems to have been migrated over (split up) to `hosts.yml` on another machine properly, but then when you copied it, you omitted `hosts.yml`. It's best to copy that as well.

Sorry for the trouble! We are working on improving the auth experience for the next release 🙇

[2020-08-06 18:52] mmontes11 commented on #1474
Hi there!

I've just submitted a PR fixing this issue:
https://github.com/cli/cli/pull/1494
Any feedback will be appreciated!

It is my first contribution to GitHub Cli so let me know if something is wrong 😃

[2020-08-06 19:32] Jarvvski commented on #273
Cheers @mislav

[2020-08-06 20:08] s-ashwinkumar commented on #1482
@wilso199 Help still needed on this one ?

[2020-08-06 20:41] wilso199 commented on #1482
@s-ashwinkumar No, I will be submitting a PR for this shortly. Thank you!

[2020-08-07 21:23] Pytal opened #1502 "gh repo view shorthand"
### Describe the bug
Some commands like `gh repo create` and `gh repo clone` support the shorthand `REPO` format instead of the full `OWNER/REPO` format.

But this shorthand format does not work with `gh repo view [REPO]`.

### Steps to reproduce the behavior
1. Type this: `gh repo view [REPO]`
2. Error output: `expected OWNER/REPO format`

### Expected vs actual behavior
`gh repo view [REPO]` com

[2020-08-07 21:51] jayqi opened #1503 "Support creation of labels"
### Describe the feature or problem you’d like to solve

I would like the ability to create new labels.

I am using `gh` to script populating starter issues on new repositories, and currently it appears one can only assign labels that already exist. Since this is for a new repository, I'd like the ability to also script creating the labels in order to tag the new issues with them.

### Proposed so

[2020-08-08 07:44] l2dy opened #1504 "Respect system/user timezone in API requests"
### Describe the feature or problem you’d like to solve

Problem: `gh pr merge` does not respect user timezone set with the TZ environment variable.

### Proposed solution

I'd like the GitHub CLI to respect the TZ environment variable and pass timezone information to the GitHub API.

### Additional context

https://developer.github.com/changes/2014-03-04-timezone-handling-changes/

[2020-08-08 09:35] shannawhaley0 commented on #1502
BOOLEAN (Date or Time /Repo) I.eTIME/2;13am/REPO gh(STRING)error am error ie =2 GHERRORAM()0002)ES*
START 2:25 AM Header()EN*
Shanna Whaley EN_(Presdetanti PERMISSION OR FBI WILL PRESS CHARGES

[Shanna Whaley - Chat @ Spike](https://spikenow.com/r/a/?ref=spike-organic-signature&_ts=mpz0o)	[mpz0o]

On August 7, 2020 at 21:23 GMT, Pytal <notifications@github.com> wrote:

Describe the bug

Some comma

[2020-08-08 14:56] gibfahn commented on #273
I know you said not to play with it, but I had a try anyway 😅 . I followed the [build from source instructions](https://github.com/cli/cli/blob/trunk/docs/source.md), added the resulting `bin/gh` to the `$PATH`, and set up the config by editing `~/.config/gh/hosts.yml`. There was already a `github.com` entry, so I just added an entry for my GHE URL, and reused my hub config token (from `~/.config/

[2020-08-08 15:44] gibfahn opened #1505 "Allow passing urls to `--repo` args"
### Describe the feature or problem you’d like to solve

I often want to automatically set repos, for example `gh pr create --repo="$(git remote get-url @{u})"` (simplified version).

This would make things easier when needing to distinguish between GHE and non-GHE repos, and also just generally when passing repos in a scriptable way.

[2020-08-08 15:45] gibfahn commented on #1180
Allowing the `--repo` option to directly take a URL instead of just a org/repo combo would make things a lot easier, especially in situations when copy-pasting, or passing in input from scripts. Raised https://github.com/cli/cli/issues/1505

[2020-08-09 05:59] cat1112 opened #1508 "I don’t know how to fix Internal server error also believe someone has hacked into my iPhone and changed licenses. Also,my Safari Experimental WebKit settings were accidentally changed! Need help Plz!"
iPhone 8+ iOS 13.6 Safari Experimental WebKit accidentally changed, believe phone licenses are hacked and internal server not found.

Add any other context like screenshots or mockups are helpful, if applicable.
- ![image](https://user-images.githubusercontent.com/62268963/89725266-3d6b7200-d9d3-11ea-9eae-24bec752b317.png)![image](https://user-images.githubusercontent.com/62268963/89725269-478d708

[2020-08-09 11:31] wardpeet opened #1509 "gh pr checkout <pr> <branch-name>"
### Describe the feature or problem you’d like to solve

Hub allowed you to checkout a PR and specify a branch-name when checking out. I haven't found the option for it using GitHub cli.

### Proposed solution

`gh pr checkout 15 pr/15` => checks out a pr with branch name pr/15 instead of the original name.

### Additional context

I'll post an image of hub in a few hours

[2020-08-10 10:27] mislav commented on #1508
Hi, I'm sorry that you are experiencing trouble. However, we can't help you in any way since this is an issue tracker for a project called "GitHub CLI" which is a command-line tool that has nothing to do with iPhone or Mobile Safari settings. Please seek out a more appropriate forum to ask your question in!

[2020-08-10 10:27] #1508 closed, assigned to nobody

[2020-08-10 10:31] mislav commented on #1504
Thank you for this suggestion! This sounds like a good idea to me.

I'm not familiar with the format of the TZ environment variable. Is it a standard? What format(s) does the value appear in? Thank you

[2020-08-10 10:46] l2dy commented on #1504
See https://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html.

[2020-08-10 10:48] l2dy commented on #1504
Note that

So `TZ` is just an override for the system timezone. If the system timezone is not passed to API requests, that should be done first.

[2020-08-10 10:59] mislav commented on #1505
Thank you for the idea! I can see how this can be useful for scripts 🤘

[2020-08-10 14:30] #1474 closed, assigned to nobody

[2020-08-10 14:51] digitalronin opened #1510 "Add/remove labels to/from existing issues"
### Describe the feature or problem you’d like to solve

In addition to being able to assign labels to issues when you create them, it would be helpful to be able to add/remove labels later on.

e.g. using the (soon to be obsolete) [ghi](https://github.com/stephencelis/ghi) I can run commands like this:

[code]

...to label that issue (it will also create the label if it doesn't exist already). Or

[2020-08-10 15:32] mislav commented on #1510
Thanks for the suggestion!

I think that instead of having a dedicated command to do this, we would have a more generalized `issue edit` command #904 where flags would be used to add/remove labels. @ampinsk thoughts?

[2020-08-10 16:16] kevinbluer commented on #1456
happy to take this one if it's not being worked on yet?

[2020-08-10 17:00] ampinsk commented on #1510
Yes! Functionality like this would be included in a future `issue edit` command

[2020-08-10 17:57] vilmibm opened #1511 "don't drop into browser flow when no auth detected"
Currently when `gh` detects that no host is configured when trying to do an API call it automatically puts the user in a browser-based authentication flow with the goal of returning them to what they were doing upon success.

While it's got us this far and can often feel smooth, it's been a pain point for a variety of users. This issue covers switching to a more explicit approach where, for comman

[2020-08-10 18:02] mislav commented on #1456
@kevinbluer Thanks! but see #1475

[2020-08-10 18:29] kevinbluer commented on #1456
ah no worries at all, should i assume @shihanng has it covered?

[2020-08-11 01:38] shihanng commented on #1456
Yes, the PR is ready to be reviewed 🙏 . Thank you.

[2020-08-11 10:17] kiriappeee commented on #364
Adding in quick comment with screenshot on how the gray looks. Currently seeing the PR author and date, and the link to the PR as this:

![image](https://user-images.githubusercontent.com/208123/89885850-4df53580-dbe9-11ea-90c0-e4b7a7ff4a16.png)

I'd definitely prefer to not disable colour since the color choices makes things easier to parse. I'm of the opinion that having the default color instea

[2020-08-11 12:56] chriscn opened #1512 "Git Commits aren't signed when closing a pull request using rebase and merge."
### Describe the bug
`gh version 0.11.1 (2020-07-28)`
When using the `gh pr merge` command and selecting the rebase and merge option. It should be signing commits into the history as the commits themselves on the feature branch are signed.

### Steps to reproduce the behavior

Have Git Commit signing enabled.

[2020-08-11 13:25] mislav commented on #1512
@chriscn Hi, the `pr merge` operation is backed by the GitHub API merge functionality. Since those commits are created on the server, they cannot be signed using the original signature of your commits. This is the same limitation when using the Merge Button on the web interface.

To work around this, merge the PR manually on your local machine:
[code]

[2020-08-11 13:43] mislav commented on #1433
🚀

[2020-08-11 13:43] #1433 closed, assigned to nobody

[2020-08-11 14:29] mislav commented on #1510
Closing as duplicate of #904

[2020-08-11 14:29] #1510 closed, assigned to nobody

[2020-08-11 15:30] #1456 closed, assigned to nobody

[2020-08-11 17:36] mislav commented on #1503
Thanks for the suggestion! You can do so right now with the api command:

[code]

Note that [the `color` parameter is required](https://docs.github.com/en/rest/reference/issues#create-a-label).

[2020-08-11 17:55] mislav commented on #1082
Closing this tracking issue since most of its components are done, and GHE work is being tracked in https://github.com/cli/cli/issues/1180 and https://github.com/cli/cli/pull/1102.

[2020-08-11 17:55] #1082 closed, assigned to mislav, vilmibm

[2020-08-11 19:27] mislav commented on #716
@JonMontgo Thank you for sharing! If you follow the recommended way of setting up completions for zsh, which is via lazy-loaded scripts found in your `$fpath`, is the compdef hack still necessary? The lazy-loaded way is preferred because it doesn't slow down shell initialization.

[code]

[2020-08-11 19:40] vvuk opened #1513 "gh pr create seems to attempt to push, but prompts for https username"
### Describe the feature or problem you’d like to solve

I'd like this flow to work:
[code]

The problem is that `gh pr create` detects that the branch hasn't been pushed, but instead of doing the push, it seems to try to do something (push?) via https: `Username for 'https://github.com': `  My remote is `git@github.com:...`.

Everything works fine if I do a `git push` before the `gh pr create -w`

[2020-08-11 21:28] vilmibm opened #1514 "ability to print auth token"
It is sometimes desirable for a user to see the token `gh` uses for a given host. Right now they'd need to do one of two things:

- `cat ~/.config/gh/hosts.yml`
- `gh config get -h github.com oauth_token`

Neither of these is perfect, so this issue covers adding something to `gh auth status` like:

`✓ Token: *******************`

and supporting a flag `--show-token`/`-t` that prints the actual tok

[2020-08-12 00:16] vvuk commented on #1513
Actually, this might be related to the cli somehow being confused by what branch I'm currently on.  I use worktrees extensively:

[code]

The 'upstream' of my current branch is still 'master' (because I didn't `git push -u`).  Is this the recommended workflow? It seems weird if there is a same-named branch on the remote, that `gh pr status` doesn't use that info.

[2020-08-12 04:55] JonMontgo commented on #716
@mislav yes that does indeed work without the compdef hack!

[2020-08-12 10:19] mislav commented on #1513
@vvuk Your first problem (regarding `git@github.com://`) URLs is already tracked as https://github.com/cli/cli/issues/1056 and will be fixed soon. In the meantime: `gh config set git_protocol ssh`

Your second problem is tracked as https://github.com/cli/cli/issues/575

Thank you for reporting!

[2020-08-12 10:19] #1513 closed, assigned to nobody

[2020-08-12 10:35] #759 closed

[2020-08-12 10:40] mislav commented on #770
@danielhelfand We have completely broken down the old `command` mega-package into a package structure under `pkg/cmd/` where each command is its own package. https://github.com/cli/cli/pull/1500

Thanks for the recommendation!

[2020-08-12 10:40] #770 closed

[2020-08-12 12:29] #1288 closed, assigned to nobody

[2020-08-12 16:38] mislav commented on #273
Thanks for your patience, everyone! The next release of gh will include support for GitHub Enterprise. While the last bits of implementation are still in review, you can try it out from this branch: https://github.com/cli/cli/pull/1517

To get started, assuming your Enterprise instance lives on `example.org`:
[code]

So far, I have only tested with GHE 2.20, but I suspect that most operations (oth

[2020-08-13 07:11] shmokmt opened #1518 "Use Go1.15 on Github Actions"
### Describe the feature or problem you’d like to solve

Go1.15 is released, so we can use it on Github Actions.
setup-go also supports that version.
https://github.com/actions/go-versions/blob/2873528ad928d50ba605dc3db4f7ee10dc7198a7/versions-manifest.json#L3

### Proposed solution

Bump Go version 1.14 to 1.15.
or
Use both versions by matrix build of Actions.

### Additional context
If you're no

[2020-08-13 11:38] #1482 closed, assigned to nobody

[2020-08-13 11:42] mislav commented on #1518
Hi, thank you for the recommendation!

Normally, we wouldn't necessarily rush to build & release our product from a just-released Go version, but in this case we do benefit from #514 being solved for macOS users and from binaries being 5% slightly smaller, so go ahead and submit your PR. Please make sure that you update the version across all our workflow files 👌

[2020-08-13 13:29] shmokmt commented on #1518
thanks, I've just submitted PR.

[2020-08-13 16:55] thetayloredman opened #1521 "Bug with "gh issue create""
When I run `gh issue create`, and go to add meta, I scroll around the options and it continues to print the line.

Example:
[code]

[2020-08-13 17:36] mislav commented on #1521
Thanks! Do you think this might be a duplicate of https://github.com/cli/cli/issues/418?

[2020-08-13 17:54] vilmibm commented on #887
Closing this as `gh auth login` and `gh auth logout` are now in trunk

[2020-08-13 17:54] #887 closed

[2020-08-13 17:57] vilmibm commented on #627
Given that `gh auth status` and supporting auth commands are in trunk, I'm going to close this.

[2020-08-13 17:57] #627 closed

[2020-08-13 18:02] vilmibm commented on #612
@ampinsk @mislav is this something we should consider, still? while we've greatly improved the auth experience at no point do we print out the URL for the browser flow unless things fail in a specific way.

I'm wondering if it's worth printing out in the "Press enter to open _hostname_ in your browser" message instead of _hostname_ during the browser flow.

[2020-08-13 18:03] vilmibm commented on #773
@mislav is this still something you think warrants investigation or is it ok to close?

[2020-08-13 18:11] zamboney opened #1523 "cant use `gh pr create`"
### Describe the bug

when i try to use
[code]
 i get an error

### Steps to reproduce the behavior

1. clone any repo
2. switch to new branch
3. press `gh pr create`

### Expected vs actual behavior

- expected
prompt the regular github cli flow

- actual
an error throw to the console

### Logs

[code]

[code]

[code]

[code]

[2020-08-13 18:21] ampinsk commented on #612
@vilmibm I think that would be a nice improvement!

[2020-08-13 18:50] vilmibm commented on #1523
Hi, sorry about this.

Some questions:

1) did this used to work?
2) does the panic happen when you hit enter at the prompt?
3) where are you running gh -- Terminal.app? iterm2?

[2020-08-13 19:16] thetayloredman commented on #1521
Oh! Close this please.

On Thu, Aug 13, 2020 at 10:36 AM Mislav Marohnić <notifications@github.com>
wrote:

[2020-08-13 19:20] #1521 closed, assigned to nobody

[2020-08-13 20:24] mtfurlan opened #1524 "Respecting a "default" PR template"
### Describe the bug

Github supports having a default template a PR for all repositories in an organization:
https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

When creating a PR with gh, this is not respected.
I think it would be cool if it was respected.

Version: `gh version 0.11.1 (2020-07-28)`

### Steps to reproduce the behavior

1. Creat

[2020-08-13 20:48] vilmibm opened #1525 "gh pr checks"
This issue covers a new `pr` subcommand, `checks`.

The goals of the command are to:

- help a user see what checks are in flight
- help a user see what checks are failing
- let user validate that everything is green
- help user decide what action to take next (ie fixing code, re-running tests)

and should make it clear what suites checks are in and how to get more information.

Usage

[code]

Exa

[2020-08-13 20:49] vilmibm opened #1526 "make use of dot consistent"
This issue covers a UI audit to see where we display a "pending" state for checks and reviews and ensuring that we use the `•` character consistently.

[2020-08-13 20:51] vilmibm opened #1527 "pr checks add ability to rerun checks for a specific pr"
UX:

[code]

Using: https://docs.github.com/en/rest/reference/checks#rerequest-a-check-suite

[2020-08-13 20:55] vilmibm opened #1528 "pr checks add ability to see output for a specific check"
Once users are able to see a PR's checks and potentially rerun them, they should be able to see
detailed output for a single check in order to debug what failed.

Output should look something like:

[code]

with color set appropriately

[2020-08-13 21:00] vilmibm opened #1529 "[tracking issue] checks phase 1"
This is a tracking issue for our first phase of checks support.

Scope:

- [ ] `gh pr checks` #1525
- [ ] rerun checks #1527
- [ ] detailed check output #1528
- [ ] unicode consistency pass #1526

Future directions not included in this first pass include more general support for actions; for now
we're focusing on just the pull request + checks experience.

[2020-08-13 21:02] vilmibm commented on #677
Going to transfer over to this new issue https://github.com/cli/cli/issues/1525 as we start on our checks epic ( #1529)

[2020-08-13 21:02] #677 closed

[2020-08-13 21:04] #1413 closed, assigned to vilmibm

[2020-08-14 06:08] AliabbasMerchant commented on #1525
@vilmibm I am willing to contribute/help in this feature, if needed :v:

[2020-08-14 06:11] AliabbasMerchant commented on #1529
@vilmibm I am willing to contribute/help in these features, if needed :v:

[2020-08-14 13:16] mislav commented on #1523
I think this is due to the Survey library expecting a terminal, but there was none here. https://github.com/cli/cli/issues/973

A more recent version of GitHub CLI will error out when `--title` and `--body` were not passed and standard input was not a terminal. https://github.com/cli/cli/pull/1373

You can work around this by passing in `--title` and `--body` explicitly.

[2020-08-14 13:16] #1523 closed, assigned to nobody

[2020-08-14 13:34] collingo commented on #1390
I ran into this on 10.15 Catalina.

For anyone else getting this, I found [a similar issue](https://github.com/Homebrew/brew/issues/7601) in the Homebrew repo where they suggest the Apple Command Line Tools might be missing.

Check for them using `ls -l /Library/Developer/CommandLineTools/SDKs` which should return something similar to...
[code]

If instead you get `ls: /Library/Developer/CommandLi

[2020-08-14 13:59] matschaffer commented on #1250
I've been politely requesting people open draft PRs to get around this, but it would be nice to not have to do that. For now I keep `hub remote add <username>` handy which makes it at least a little easier.

It feels like this should live under `gh repo`. Perhaps `gh repo remote` to at least take the place of `hub remote add`?

[2020-08-14 14:33] vilmibm commented on #627
@mislav pointed out this wasn't fully covered by the auth commands themselves, so I'll ensure that there are sufficient CTAs in the course of doing https://github.com/cli/cli/issues/1511

[2020-08-14 15:15] #1518 closed, assigned to nobody

[2020-08-14 15:19] bigbite95110 commented on #627
I think you just don't want me  To Make Application. Ceuas I tell Real
About I can't write Program  What Happen? i understand Thailannd ,Sorry

ในวันที่ ศ. 14 ส.ค. 2020 21:33 น. Nate Smith <notifications@github.com>
เขียนว่า:

[2020-08-14 15:58] sidchiku9 opened #1530 "How to commit or push or both?"
### How to COMMIT or PUSH files?

Previously, git commit or git push was used to commit and/or push files to a repo. How to do that with this?

### Proposed solution

Well, committing and pushing are like GitHub Basics. Necessary to have those.

[2020-08-14 17:08] #273 closed

[2020-08-14 17:08] #1180 closed, assigned to mislav

[2020-08-14 17:08] #1505 closed, assigned to nobody

[2020-08-14 17:44] mtfurlan opened #1531 "Feature request: Edit PR metadata after it's set"
### Describe the feature or problem you’d like to solve

Right now if you add metadata to a PR, it doesn't allow you to change it if you did it wrong, you must restart.

### Proposed solution

I think it should just dump you into the menu from before adding metadata that had both "Submit" and "Add metadata"

Looking at the code, this was clearly an intentional decision to not do this, as [confirmS

[2020-08-14 18:11] GMNGeoffrey opened #1532 "Provide all metadata fields in scripted `pr view`"
### Describe the feature or problem you’d like to solve

I am trying to automate doing something with the PR just created from the current branch. `gh pr view` will print out the PR info including the URL, which would be fine, except that if your redirect stdout it drops this information. (I understand having a command behave differently in interactive vs scripted contexts, but this seems like a p

[2020-08-14 22:05] GH-maggio commented on #995
Upvoting @josefaidt  suggestion, it's a missing feature that blocking my org from automating repo creation atm.

[2020-08-15 09:24] andresrc commented on #1467
@jglick I have deleted https://github.com/andresrc/jenkins-test-harness-htmlunit

[2020-08-15 11:46] mediagatewizard commented on #924
<p>If you want your page to validate under XHTML 1.0 Strict,
you've got to put paragraph tags in your blockquotes:</p>

<pre><code>&lt;blockquote&gt;
    &lt;p&gt;For example.&lt;/p&gt;
&lt;/blockquote&gt;
</code></pre>

[2020-08-15 12:52] mmontes11 commented on #1100
Hei there!

I am working on this:
#1534

[2020-08-15 13:14] mmontes11 commented on #1100
Hello @vilmibm :

Changes are ready to review:
https://github.com/cli/cli/pull/1534

It's my second contribution to GitHub cli, so any feedback will be appreciated!

[2020-08-15 15:32] omarojo opened #1537 "Unable to upgrade gh via brew [permission denied]"
### Issue

Unable to upgrade gh via brew

### Logs

[code]

[2020-08-15 23:15] aaronsteers opened #1540 "Add docs on how to run from Github Actions CI/CD Workflow"
### Describe the feature or problem you’d like to solve

I'd like to be able to run `gh` cli from within a github action. The only install action I see is to manually download on the linux-based github runner (container) is to curl a hard-coded url, which will be immediately stale and will need it's version updated periodically. Is this the best way? Is it already installed on github runners? Some

[2020-08-15 23:57] aaronsteers commented on #1540
Update: Installing works with the below but it fails to authenticate, prompting for a GUI-based URL MFA.

[code]

Failure log:

[code]

[2020-08-15 23:57] aaronsteers commented on #1540
Any plans to do something like https://github.com/marketplace/actions/setup-hub?

[2020-08-16 12:56] snv0 opened #1541 "Twitter is a great idea 💡"
`###` Describe the feature or problem you’d like to solve{
	"data": [{
			"conversation_id": "1279944223114900000",
			"in_reply_to_user_id": "1102323333",
			"author_id": "63044444",
			"created_at": "2020-07-06T15:58:10.000Z",
			"id": "1280169177479744444",
			"referenced_tweets": [{
				"type": "replied_to",
				"id": "1280155225706433333"
			}],
			"text": "@ThirdPerson333 @OriginalPerson000

[2020-08-16 17:20] zamboney commented on #1523
@vilmibm
1. it use to work but stop when i upgrade to `0.11.1`.
   1. i try to build it locally on `0.11.0` and it's still didn't work
2. it happens when I press enter for `gh pr create`
3. iterm2

it is working now and I didn't done anything!

10x for the quick response.

[2020-08-17 06:16] asafm commented on #773
I just checked it and the flow worked good, cli to browser and back. Version 0.9.0

[2020-08-17 06:58] Jarvvski commented on #1537
This looks like an issue with your brew installation, where it can't remove the old version that was installed

I'd recommend running `brew doctor`

[2020-08-17 09:40] mislav commented on #1537
I agree; it looks like you've accidentally installed something related to `yo` using `sudo`. This was from the automated `brew cleanup` step and has nothing to do with either our project or the `gh` formula, sorry!

[2020-08-17 09:40] #1537 closed, assigned to nobody

[2020-08-17 09:50] nl-ria commented on #684
Hi ! Unfortunately, the fix #704 doesnt seem to be working as expected.

I am doing the following to create a PR using `gh` and making my commits and push using `git`, since there is no way to pass `--no-verify` in `gh pr create`.

[code]
But in the output, I can still see the pre-push hooks running for `gh pr create`
[code]
The branch is successfully created on Github, since I am passing `--no-ve

[2020-08-17 10:27] mislav commented on #1540
@aaronsteers GitHub CLI is pre-installed in Actions runners. To use it:

[code]

I understand that this has to be better documented; I'll add a label as a TODO item for us. Thanks for your ask!

[2020-08-17 11:51] mislav commented on #684
@nl-ria Thank you for reporting!

I just tried to reproduce this using the commands you provided, and I couldn't, but it's still possible that there is a bug here. If you use the `DEBUG=1` environment variable when running `gh`, you will get verbose output that should include all underlying invocations of `git`. Can you share with us the output? (You may anonymize branch names.)

[2020-08-17 12:18] nl-ria commented on #684
@mislav - thanks for getting back so quickly, here is output in debug mode

Running command
`$ gh pr create --title "$title" --body "$body"`

Output
[code]

[2020-08-17 12:48] mislav commented on #1530
Hi, GitHub CLI is not a replacement tool for git operations such as commit or push. You will have to use `git commit` and `git push` for those, or some sort of other tool for version control. You cannot explicitly commit or push using `gh`.

For now, our only aim for GitHub CLI is to make a better integration of your local repositories with their remote counterparts on GitHub, including bringing v

[2020-08-17 12:48] #1530 closed, assigned to nobody

[2020-08-17 12:51] mislav commented on #1531
Hi, thank you for the feature request!

I vaguely remember a historical reason for this, but I don't think that this constraint exists anymore. I think we can reasonably allow you to go through several cycles of editing metadata before you choose “Submit”. 👍

[2020-08-17 13:03] mislav commented on #995
@josefaidt @GH-maggio ~To create a repository from a template with the current version of GitHub CLI, you can easily drop down to `hub api`~

<ins>Update: since v1.0, creating a repository from a template repo is available through `gh repo create`.</ins>

[2020-08-17 13:20] mislav commented on #1532
Thanks for the feature request!

Do you think a good solution would be to add extra fields for both PR number and URL in the scripted output?

[code]

Ref. https://github.com/cli/cli/pull/1373

[2020-08-17 13:26] mislav commented on #1250
It's not a bad idea, but adding a remote is not really necessary in order to check out someone's branch. At minimum, this will suffice:

[code]

If we encapsulate this flow in gh, I'm not sure how we should call it, but it does sound to me like it could belong under `gh repo` 🤔

[2020-08-17 13:29] mislav commented on #1524
Thank you! Duplicate of https://github.com/cli/cli/issues/838

[2020-08-17 13:29] #1524 closed, assigned to nobody

[2020-08-17 13:50] rbutera opened #1542 "GitHub pull request checkout instructions are wrong syntax"
### Describe the bug

As you can see when viewing a PR on GitHub.com, the instructions to view the PR locally state to use the command "`gh pr checkout <PULL_REQUEST_ID>`"

![image](https://user-images.githubusercontent.com/6047293/90403082-52fa2f00-e098-11ea-8b03-5161650ea3f4.png)

The syntax, which is current as of version 1.13.4, is actually `gh pr <PULL_REQUEST_ID>`

It is not immediately obvi

[2020-08-17 13:53] matschaffer commented on #1250
The nicety of the `hub remote` helper is it figures out the url for you just based on the user name.

Our main repo name is pretty generic so people often fork to `<owner>/<company>-<repo>` but not everyone does.

[2020-08-17 13:55] mislav commented on #1542
Hi thanks for raising this issue!

The syntax of what, exactly? The latest version of GitHub CLI, which is this project and what the `gh` invocation instructions on the GitHub.com refer to, is v0.11.1 and [the syntax there is `gh pr checkout <PULL_REQUEST_ID>`](https://cli.github.com/manual/gh_pr_checkout)

What do you get when you type `gh version`?

[2020-08-17 14:15] mislav commented on #1509
Thanks! Duplicate of https://github.com/cli/cli/issues/835

[2020-08-17 14:15] #1509 closed, assigned to nobody

[2020-08-17 14:16] wardpeet commented on #835
Thanks @mislav, if it's okay I'm happy to take a stab at it.

[2020-08-17 14:22] mislav commented on #684
@nl-ria Thank you for the debug output!

Nothing stands out to me as potentially wrong in the log. 😕 Could you check the output of `git show-ref --verify -- HEAD refs/remotes/origin/$BRANCH_NAME refs/remotes/origin/$BRANCH_NAME` after you put in your actual branch name? It should be something like this, where you can see that the commit SHAs are identical:

[code]

And also please your `git versio

[2020-08-17 16:08] musm opened #1543 "inconsistent use of output streams mangles printing"
Originally this issue was about something ultimately captured in #847 but the discussion showed that inconsistent use of STDOUT and STDERR is leading to corrupted output. This issue now covers printing all output to STDOUT for interactive commands to avoid these race conditions.

Original issue:

---
### Describe the bug

A clear and concise description of what the bug is. Include version by typin

[2020-08-17 16:17] rbutera commented on #1542
So weird. I'm getting `gh 1.13.4` which maybe suggests to me I'm using the npm package `gh`? but if I run `npm list -g` there is no reference to `gh`... and I installed using `brew install github/gh/gh`

[2020-08-17 16:21] rbutera commented on #1542
aha! I had it installed via Yarn. fixed. apologies for the false alarm

[2020-08-17 16:21] #1542 closed, assigned to nobody

[2020-08-17 16:26] GMNGeoffrey commented on #1532
I included a collapsed suggestion for what I think this could look like. You could include all the informative parts of the URL as separate fields (owner and repo separately), which I think is nicer for scripting than having to parse the URL. The URL is probably useful enough on its own that it might be also nice to have it as denormalized output. I also noticed there are a few other pieces of inf

[2020-08-17 16:36] mislav commented on #1543
Hi, thank you for the feature request.

If the repository you are currently in already has an "origin" remote, what do you expect to happen when you run `gh repo fork` and choose that you want to add the remote for the new fork?

See also https://github.com/cli/cli/issues/847, which this ticket is most likely a duplicate of in my view. Do you agree?

[2020-08-17 16:39] musm commented on #1543
Yes, sorry this is a duplicate.

I want the option not to rename `origin`.

There seems to be a bug because the following is shown
[code]

But as you can see `y` is automatically added without the option to say `n`. Also not the misspelling of `upstream`

[2020-08-17 16:55] nl-ria commented on #684
oh, interesting, not sure why, but getting an error when trying to get the output of the above command

[code]
Output
[code]
Could you explain what this command means? I can see the same commit SHA on Github on $BRANCH_NAME, so not quite sure why its erring on my local machine.

My Git version :
[code]

[2020-08-17 18:25] aaronsteers commented on #1540
@mislav - Awesome. That's a big help.

[2020-08-17 19:17] mislav commented on #1543
I see! That's a bug. We only print `Renamed origin remote to upstream` https://github.com/cli/cli/blob/v0.11.1/pkg/cmd/repo/fork/fork.go#L228

But we print that on stderr, then another prompt follows on stdout asking `Would you like to clone the fork?`, and it seems like this is not displayed in the terminal in a sequential order as we had hoped, most likely due to buffering. I think the fix would

[2020-08-17 19:19] mislav commented on #1532
Absolutely; thank you for the suggestions!

[2020-08-17 19:26] mislav commented on #684
@nl-ria What usually happens when you do something like `git push origin mybranch` is that git performs the push, but also creates what it calls a "remote-tracking branch". In this case, the remote-tracking branch is called `origin/mybranch` for short, but the fully qualified ref name for it would be `refs/remotes/origin/mybranch`.

Your git push obviously succeeded, but the remote-tracking branch

[2020-08-17 22:39] mtfurlan commented on #1531
Turns out it needs that arg for good reasons, because it's mostly set via `repo.ViewerCanTriage())`, to prevent it from being shown to someone who doesn't have permissions.

So instead I tried passing true instead of false for `allowMetadata` at [the call back to confirmSubmission after parsing metadata](https://github.com/cli/cli/blob/trunk/pkg/cmd/pr/shared/title_body_survey.go#L378), but that c

[2020-08-18 07:26] mislav commented on #1531
Is it an option for you to create a Personal Access Token https://github.com/settings/tokens and assign it in your docker container to the GITHUB_TOKEN environment variable?

[2020-08-18 07:57] mislav commented on #1450
Thank you for the feature request! What you are describing is currently not possible via the GitHub API, so it makes it less likely that we can implement this in a timely manner. In the meantime, I would suggesting merging locally instead, since it's likely you might be in a context of a local git repository.

[2020-08-18 08:26] cbrnr commented on #1149
This is such a common workflow, it's a pity that it requires jumping through some hoops. It's nice that the branch configuration is correctly set, but I usually check `git remote` to see if I have the fork's remote configured in order to push. At least for me, it was surprising that even without having the remote, pushing still works correctly.

The more serious issue is that this doesn't work wit

[2020-08-18 12:29] mislav commented on #1149
@cbrnr Thank you for voicing your grievances!

We plan to improve the documentation around this (right now there is none). We also plan to have a better default if the original remote URL had the SSH protocol. In the meantime, you can set `gh config set git_protocol ssh` to have GitHub CLI default to SSH protocol for all URLs it generates.

[2020-08-18 12:31] mislav commented on #835
@wardpeet Go right ahead! 🙇

[2020-08-18 12:34] cbrnr commented on #1149
Thanks @mislav, these are really great suggestions and I'm looking forward to any upcoming changes 👍 . I also find your suggestion to change the `gh` behavior better than replacing all URLs in my global `.gitconfig` - nice!

[2020-08-18 15:52] josefaidt commented on #995
Hi @mislav 👋 thanks for the suggestion. Although that is a nice snippet for automation purposes, my use case is more for personal usage such as creating a new TypeScript project from a template I've already created. This would enable developers to circumvent the (somewhat tedious) process of visiting github.com > my repositories > new repository > select template > > create repo > clone on local m

[2020-08-18 17:42] sarveshhh opened #1545 "Feature Request: To support '-label:<labelname>' similar to current UI, in order to exclude label when Listing PRs"
### Describe the feature or problem you’d like to solve

To support '-label:<labelname>' similar to current UI, in order to exclude label when Listing PRs.

### Proposed solution

The current gh cli doesn't support listing PRs excluding particular label, while GitHub UI does support it. If cli does, I couldn't find help around in docs. This would help in listing all PRs excluding particular label.

[2020-08-18 18:08] mislav commented on #1545
Hi, thank you for the request! We track missing filtering features in one big ticket, so I'm going to close this in favor of #641

Due to the limitations of the API for listing PRs we're using, not likely that we will provide this filtering anytime soon. If you need full search features, you might want to reach for a more manual approach of using the `gh api` command to [query the `search/issues`

[2020-08-18 18:08] #1545 closed, assigned to nobody

[2020-08-18 20:52] er123rin opened #1547 "https://forms.gle/umxd3h31c7aMQFKG7"

[2020-08-18 21:16] #1547 closed, assigned to nobody

[2020-08-19 03:08] khtan opened #1550 "Please consider implementing "gh gc" to garbage collect remote repo"
Hi,

It is a best practice for Git to regularly run "git gc" on both local and remote repos. Sometimes this is good to reduce storage space. Please enhance "gh gc" to allow the specific repo to be garbage collected.

Thanks,

[2020-08-19 05:53] sarveshhh commented on #1545
Thank you for pointing to `gh api`. It works like charm.

[2020-08-19 11:51] mislav commented on #1550
Hi, thank you for the feature request!

Garbage collection on remote repositories is automated as part of our service. You don't have to and you cannot run it yourself on your GitHub repositories, so therefore we will not be adding a command that triggers that operation. I hope you understand.

[2020-08-19 11:51] #1550 closed, assigned to nobody

[2020-08-19 13:10] tamuhey opened #1551 "Add `--target-branch` option to `gh pr create`"
### Describe the feature or problem you’d like to solve

Sometimes I want to create the PR not to `master` (e.g. `develop` branch)

### Proposed solution

It will be like:

[code]

[2020-08-19 13:39] mislav commented on #1551
From `gh help pr create`:

[code]

[2020-08-19 13:39] #1551 closed, assigned to nobody

[2020-08-19 16:53] stevenglassman commented on #494
@jlebar - did you ever get a clear understanding of what caused this?  I'm having the same issues now with v0.11.1.  What I've found is that I get these errors on repos from my organization, but not on repos from other sources. (i.e. beeswithmachineguns repo allows me to run `pr list` without error.)

[code]

[2020-08-19 16:56] jlebar commented on #494
Yeah, that's what I was seeing too.  I think if gh is not authenticated as the official build, it can't access your organization's hidden repositories.  Because I had at one point been using the unofficial build, I had to switch to the official build *and re-authenticate* by deleting the oauth keys.

[2020-08-19 17:39] #1441 closed, assigned to nobody

[2020-08-19 17:40] #1100 closed, assigned to nobody

[2020-08-19 21:46] #368 closed

[2020-08-19 22:22] khtan commented on #1550
Don't be so eager to close an issue. I understand your reasoning. How often does your automated system run "git gc" on my repos? On Bitbucket, I've had frequent warnings that my repos are getting too big, only to find that they needed to run "git gc". I've not had this problem with Github, but was anticipating something that I could do.

Why is this not something that Github would allow a user to

[2020-08-20 02:11] #1429 closed, assigned to nobody

[2020-08-20 12:59] digitalronin opened #1553 "Enable specifying which issue template to use when creating"
### Describe the feature or problem you’d like to solve

I'd like to be able to specify an existing issue template when using `gh issue create` or, at a minimum, be able to specify that I want the "blank" template.

### Proposed solution

* Add a --blank-template flag to indicate that the blank issue template should be used, and/or
* Add a `--template "[template name]"` parameter to allow the user

[2020-08-20 13:10] AtOmTurk opened #1555 "Everything in [AtOmXpLuS|(https://atomxplus.com]"
Everything in [AtOmXpLuS|(https://atomxplus.com]

_Originally posted by @AtOmTurk in https://github.com/cli/cli/pull/1355#issuecomment-659623897_

[2020-08-20 13:12] AtOmTurk opened #1556 "AtOmXpLuS"
AtOmXpLuS.CoM

_Originally posted by @AtOmTurk in https://github.com/cli/cli/issues/1555#issuecomment-677656306_