[2021-01-26 19:25] vilmibm commented on #2851
I looked into `createrepo-c` but it's not immediately obvious to me how to build it on debian systems.

[2021-01-26 20:55] billygriffin commented on #904
I'm adding this to our backlog, and want to expand it to include editing title, body, and metadata (the same metadata available in `gh issue create`).

[2021-01-27 02:28] wicho1001 opened #2857 ".vimrc"
call plug#begin('~/.vim/plugged')
	Plug 'pangloss/vim-javascript'    " JavaScript support
	Plug 'leafgarland/typescript-vim' " TypeScript syntax
	Plug 'maxmellon/vim-jsx-pretty'   " JS and JSX syntax
	Plug 'jparise/vim-graphql'        " GraphQL syntax
	Plug 'preservim/nerdtree'|
            \ Plug 'Xuyuanp/nerdtree-git-plugin'
        Plug 'ryanoasis/vim-devicons'
call plug#end()
set relativenumbe

[2021-01-27 02:28] #2857 closed, assigned to nobody

[2021-01-27 02:31] wicho1001 commented on #2857
sorry 🙃

[2021-01-27 02:43] aronchick commented on #2166
FWIW, what I'm looking to do is create the remote repo from a template and then clone it locally. Should this just be two steps?

[2021-01-27 04:42] foxy4096 commented on #2182
I have the solution, I think so
Download the .zip file, it will be name gh_version_windows_386.zip
Now extract it to a folder like "C:\Program Files\Github\gh.exe"
and open the environment variables for user and add in the PATH colum: "C:\Program Files\Github\"
WITHOUT QUOTES
and try to write gh in terminal and you can see it
#Images
![1](https://user-images.githubusercontent.com/54215788/10594377

[2021-01-27 04:44] samyakbambole commented on #2182
Ok! I'll Try that!

[2021-01-27 04:55] samyakbambole commented on #2182
This Actually Worked! Thanks @adityapriyadarshi669 ! I really wanted to use the new gh cli!

[2021-01-27 04:58] foxy4096 commented on #2182
# Welcome

[2021-01-27 05:16] foxy4096 commented on #2182
# Few things to note
1.You can put the gh.exe in any folder you want and add the folder to the path
2. Make sure that you are putting the folder in the PATH, not the gh.exe
Example: If you place it in folder> "C:\ProgramFiles\Github\gh.exe" make sure that you add the variable like this "C:\ProgramFiles\Github\" and not "C:\ProgramFiles\Github\gh.exe" or it will not work

[2021-01-27 05:30] idbrii commented on #1027
Here are some operations and specific use cases for this command:

* add my fork as a remote
   *  I messed up `gh repo create` and created a repo, but didn't add it as a remote. Now I want to add the new repo as a remote.
* add upstream as a remote
   * I have dotfiles with submodules that clone to different machines. The clones only transfer the origin, but not the other remotes. This feature wo

[2021-01-27 08:19] schmurfy commented on #385
no matter how the json is formatted it would be nice to have to be able to use it in scripts and CI scripts, this tool is really great.
I thought automation was a primary goal of this tool but it looks like I was wrong :/

[2021-01-27 10:50] Oshimarr36 commented on #2182
Excellent

[2021-01-27 14:00] patrickjahns commented on #921
Why is this closed - I believe it is still a valid feature request to operate with the github deployments api - which is cumbersome right now

[2021-01-27 14:28] joe-sharp commented on #385
I won't speak for the devs on what the primary goal of this tool is but @mislav said they would be starting on this feature request this week. Were you possibly thinking they closed this issue due to the references above your comment that were closed as duplicates of this issue?

[2021-01-27 17:21] VRanga000 opened #2860 "`gh merge pr -s -d` does not delete PR branch if on a fork different from base branch"
### Describe the bug

[code]

When merging a PR from a branch on a different fork (than the base branch) with squash and delete enabled via the gh cli causes the PR to be merged with a squashed commit, but the source branch is not deleted either locally or remotely.

### Steps to reproduce the behavior

1. Create a PR from a branch on a fork different from the base branch.
1. Merge the PR via the

[2021-01-27 17:43] lwille commented on #1747
The recommended way of installing tooling in Silverblue is using a [`toolbox` container](https://docs.fedoraproject.org/en-US/fedora-silverblue/toolbox/): inside this container, you can easily install the `rpm` using `sudo dnf install`.

TL;DR for setting up and entering your `toolbox`, as described [in the official docs](https://docs.fedoraproject.org/en-US/fedora-silverblue/toolbox/#toolbox-firs

[2021-01-27 17:52] mislav commented on #2860
Thank you for reporting!

We currently avoid trying to delete a branch if the PR is cross-repo because an OSS maintainer who is merging cross-repo PRs typically doesn't have permissions to delete the branch in a fork that they don't own. However, we could also try to detect branch permissions and allow you to delete your branch even for PRs that are cross-repo. 👍

[2021-01-27 17:56] schmurfy commented on #385
No, I know this issue was not closed but I just don't understand why json output was not a feature from the start (and it would have been probably easier to do that way than to do another pass on every command).
I saw the comment saying work on this would be started this week but that was on December 1st, a month ago, I am sure this will eventually happen but I am just really disappointed.

[2021-01-27 19:20] #2847 closed, assigned to samcoe

[2021-01-27 22:05] AraHaan commented on #166
that was my point in my issue that was closed 2 days ago (I did not noticed it was closed at 1st). @itsme-alan, I done exactly that on v1.0.0 and did not remember where to go to upgrade it because I did not use choco to install it, besides choco just runs the same msi file that we download ourself except it installs it in silent mode so in the end it ends up being the same conent as when manually

[2021-01-27 22:33] vilmibm commented on #2786
Thanks for the well written issue~ this makes sense.

I'm wondering if this is a case where we would want to prompt? It's hard for me to capture this in a
single flag name. The intent makes sense ("when forking, default branch should track upstream") but
I'm not sure how to word that. I additionally wonder if this should just be default behavior since I
suspect this is how most people work on fork

[2021-01-27 22:55] vilmibm commented on #2723
I believe this is now implemented as of #1882 which is pending release.

[2021-01-27 22:55] #2723 closed, assigned to nobody

[2021-01-27 23:18] vilmibm commented on #2717
I'm very interested in better project support including features like this. Unfortunately as you've observed the API is limited. We haven't been able to prioritize doing a full design for project support, but issues like this are helpful to refer to when we sit down to do that. thanks for patience while we figure out where we want to go with this :pray:

[2021-01-27 23:25] vilmibm commented on #2709
this does indeed seem worth fixing to me.

[2021-01-28 00:01] vilmibm commented on #2693
I'm intrigued by this since it's a workflow we can seemingly make possible without a huge change to
our own code or UI.

itself as a PR to GitHub as a single commit on top of main.

This seems sensible to me (and I'm personally interested in using it); I'd just imagine it as
something like `gh pr create --diff` since we already have `gh pr diff` which serves a different
purpose.

I'm curious what

[2021-01-28 00:18] lanza commented on #2693
our own code or UI.

Great to hear!

purpose.

Yea sure, that makes sense. The name is obviously up for debate.

[2021-01-28 00:23] vilmibm commented on #2657
I think this conversation has produced a few useful enhancements that `gh` could benefit from, so
I'm going to label this issue as such.

I think I'd like remotes to be more of a first class concern to `gh` with support in either `gh` or
`git`'s configuration for denoting the roles various remotes should have for a given user.

[2021-01-28 00:29] vilmibm commented on #2567
it _seems_ like this issue is covered by existing issues so i'm going to close. please correct me if i'm wrong!

[2021-01-28 00:29] #2567 closed, assigned to nobody

[2021-01-28 00:41] #2820 closed, assigned to nobody

[2021-01-28 00:47] joe-sharp opened #2864 "HTML content is stripped from comment using `gh pr view` and `gh issue view`"
### Describe the bug
HTML content is stripped from the output of the `pr view` subcommand. I noticed it first with the `--comments` parameter but it also affects the default when displaying the last comment on a pr. Other rich content I could think of is working well or at least has a reasonable alternative such as a markdown tag picture will display as a link. HTML tag pictures are stripped just

[2021-01-28 00:51] joe-sharp commented on #2864
Side note: I would be happy to file a separate issue for this, but the automatic link does not expand like I would hope (not expect, I actually added it to the comment because I was fairly certain it would not work.) By automatic link I mean when you comment `#2864` and it produces a link like this: #2864

Thoughts? Is it worth filing an issue over? My gut reaction is that if the intention is to t

[2021-01-28 01:00] joe-sharp commented on #2864
This affects issues too. But the problem gets weirder. Use `gh issue view` on this issue and find this comment:

Hmm.. <p>partial lines are unaffected</p>
<p>Full lines are stripped</p>

Raw:
[code]

[2021-01-28 02:17] henryiii commented on #2300
Ahh, so it's an entry inside `.git/config`. I'd looked there, but was looking for a section called gh, not an entry under the remotes. Okay, makes much more sense now. Still would love an "official" way to undo a mistake! I constantly answer the first question with where I want to push to, and whenever it was actually asking for the base, that's exactly the wrong answer. And even though seeing the

[2021-01-28 05:29] mantzas commented on #409
I would also like to add the following requirement:
When somebody joins a company we would like to be able to:

- Clone all repos under the organization
- Update all repos inside one organization

we are relying on python and bash script in order to do this.

[2021-01-28 13:14] vatosarmat commented on #385
@schmurfy you can already get whatever you want with `gh api` and format that however you like with `jq`

[2021-01-28 13:37] prince-mishra commented on #904
Thank you @billygriffin for adding this to TODO.
Please can we also ensure that we are allowed to update the description even after the issue is closed.
Thank you.

[2021-01-28 16:51] inktomi commented on #1997
This is the last missing link in using `gh` to manage releases for me. I'm excited to begin using `gh` - but need this in first as managing releases is one of my primary uses for this tool. We create a draft release, build a bunch of stuff, upload it all, then mark the release complete. It'd be great if that whole flow could be scripted!

[2021-01-28 17:13] mislav commented on #2300
@henryiii Yes, it's inside git's own config. We typically avoid putting gh-related configuration into git, but for this specific case, putting it inside git config meant that the cached bit is preserved even if the repository moves on disk or if its remotes get renamed.

Absolutely, I believe that gh should have a dedicated command to let you undo or change a base repo choice. We'll update this th

[2021-01-28 17:17] henryiii commented on #2300
Sounds great! Just reverting the change if you control-C out before you finish after answering all the questions but have answered that one question incorrectly would fix it 90% of the time for me. :)

[2021-01-28 18:01] elibarzilay opened #2867 "Change pagination argument name for gql api calls"
### Describe the feature or problem you’d like to solve

To paginate gql calls, the query is expected to have an `$endCursor` argument, which should be used as the `after:` argument in the query.

Sounds to me like a poor choice of names --- `$after` would have made a better choice.  (`endCursor` is rather the field name taken from the previous call to populate the next call's `after:`.)

### Prop

[2021-01-28 18:24] mislav commented on #2867
Thanks for bringing this up!

You're right, I've chosen `endCursor` because this variable takes the value from the field of the same name in the response to a previous request. I thought that keeping the same-name field would reduce ambiguity.

Changing this variable to `$after` would break backwards compatibility with existing queries. Also, it sounds to me like there is not a really strong argum

[2021-01-28 18:47] vilmibm commented on #2864
Thanks for the detailed issue! Unfortunately this all has to do with the markdown rendering tool we use, glamour. We'll leave this open to track as it's a great summary of the issues but it's something that needs to be addressed upstream.

[2021-01-28 18:53] joe-sharp commented on #2864
Ahh makes sense, thanks for the explanation!

[2021-01-28 19:04] elibarzilay commented on #2867
Yeah, it's obvious that this would break existing queries -- I wanted first to vent my frustration[1], but more importantly see if there can be a way to make it better.

I'm happy to see that the latter actually happened -- having a `--paginate=X` makes perfect sense, and also improves it in removing the dependency of a magically-hard-wired name regardless of what it is.  So that would be a good s

[2021-01-28 20:37] mislav commented on #2300
@henryiii That is actually a great idea. Mind submitting a separate bug report for that? <3

[2021-01-28 20:47] ironicnet commented on #2846
Ok, after building the code and debugging it. it seems that this feature or bug is fixed.
I was using the version 1.2.1. and this was fixed and released in the 1.3.0.

So we can close this out as fixed, and probably suggest to include the version when reporting a bug or something, i certainly missed it.

[2021-01-28 20:47] #2846 closed, assigned to nobody

[2021-01-28 20:50] ironicnet commented on #2846
[code]
Also it can be useful to output the version

[2021-01-29 10:32] MPV opened #2871 "`gh pr create -w` crashes on macOS Big Sur (doesn't open PR in web browser)"
### Describe the bug

My browser doesn't open when I run `gh pr create -w`.

I run macOS Big Sur (`11.1 (20C69)`).

[code]

### Steps to reproduce the behavior

1. Try to create a PR:

[code]

### Expected vs actual behavior

#### Expected:
My web browser being opened for creating the PR.

#### Actual:
GH aborts with error:

`The application cannot be opened for an unexpected reason, error=Error D

[2021-01-29 10:45] rfkd commented on #1023
Is there any way to change the commit message "title" (as shown in `git log --oneline`)? The new `--body` argument introduced with #2810 only seems to append its value to the default title "Merge pull request #... from ..." instead of allowing to define the entire commit message.

[2021-01-29 12:59] mislav commented on #2871
Thank you for reporting!

Does `open https://github.com/myorg/myrepo/compare/master...mybranch` work for you when you ran it from your terminal?

If it does, do you have BROWSER environment variable set by any chance? Check with `echo $BROWSER`

[2021-01-29 15:17] mtfurlan opened #2872 "gh pr create -f skips pull request template"
### Describe the bug
When creating a pull request with `-f`, the pull request template is ignored.

[code]
### Steps to reproduce the behavior
1. Have a PR template
2. Make branch
2. Make changes, commit
3. gh pr create -f
4. Look at the PR, note the lack of the template.

### Expected vs actual behavior
I expected the pull request template to be below the commit body, the same way it is if you cr

[2021-01-29 18:58] ampinsk commented on #2786
Without understanding more what more people expect here, I'd lean more towards changing the default behavior if that feels appropriate? This feels a little heavy handed for a prompt.

I'm also curious if we should create a specific command to manage remotes, since these various issues come up so frequently 🤔

[2021-01-29 18:59] kzu opened #2873 "Add gh release update"
### Describe the feature or problem you’d like to solve

Currently you can `gh release create` and `gh release upload`, but editing of the release notes themselves is not possible.

This would be very useful to automate changelog generation, for example, so that:

1. Human creates a release on GitHub Releases page, gives it the desired tag name
2. Workflow runs, generates a changelog, and updates

[2021-01-29 19:24] tranbaominh opened #2874 "mew"
bitcoincash:qrm069dxrc60zfpxzf90r4djg8megcx67q2tn0hpn7

[2021-01-29 19:27] eventsniper1007 opened #2875 "Insta9"

[2021-01-29 20:10] #2875 closed, assigned to nobody

[2021-01-30 18:28] ghost opened #2878 "Can't create repo with PowerShell"
I've wrote this `.ps1` script:
[code]
And this returns an error:
[code]
But if I execute the same command in PowerShell application, it works well. I think, that's because of this command requires some input but PowerShell can't do it. How to solve this problem?
**P.S.** In general, your CLI is very cosy. It's a really good idea to move GitHub to terminal.

[2021-01-30 20:14] cristiand391 commented on #2878
When not running interactively, your terminal has no way to ask for a name, you should provide it in your script:
`gh repo create myrepo --public`.

[2021-01-31 02:07] 07DJM07 commented on #2875
https://www.researchgate.net/publication/228599935_Initiative_for_Indian_Language_IR_Evaluat
https://𝚍𝚎.𝚖.𝚠𝚒𝚔𝚒𝚙𝚎𝚍𝚒𝚊.𝚘𝚛𝚐/𝚠𝚒𝚔𝚒/𝚃𝚊𝚋𝚎𝚕𝚕𝚎𝚗𝚔𝚊𝚕𝚔𝚞𝚕𝚊𝚝𝚒𝚘𝚗

- [ ]

[2021-01-31 04:48] james-menzies opened #2879 "Ability to link issues to pull requests"
### Describe the feature or problem you’d like to solve

My typical workflow is to create an issue, then a branch that has a PR that also links that issue, and when the PR is successfully merged, the branch is deleted and the issue is closed.

Although this can technically be achieved as is, it would be nice if this process could be automated further.

### Proposed solution

Any of the below steps

[2021-01-31 06:40] TaTaRsKiY059 opened #2880 "y"
a﻿

[2021-01-31 06:40] TaTaRsKiY059 commented on #2880
Update

[2021-01-31 06:41] TaTaRsKiY059 commented on #2851
Update

[2021-01-31 06:42] TaTaRsKiY059 commented on #360
Update

[2021-01-31 16:18] #2880 closed

[2021-02-01 11:10] gibfahn commented on #2723
Confirmed working, thanks!

[code]

[2021-02-01 11:13] nottrobin commented on #2786
I'd certainly love the default behaviour to change, as for us by far the most common workflow for projects is the one I outline above - we primarily use "forks" for creating feature branches.

However, I assume many people instead fork projects they don't own to then genuinely fork that project - as in, to create a child project that goes in an independent direction.

In this scenario the master b

[2021-02-01 11:18] hrls opened #2885 "`gh gist view --files` or similar to list files in gist"
There should be a subcommand or flags to list files in gist.
Currently `gh gist view --filename` accepts filename, but looks like that list of files is unobtainable.

[2021-02-01 11:18] nottrobin commented on #2786
Actually, I suppose there's a good chance that people actually fork projects they don't own to then genuinely fork that project - as in, to create a sub-project that goes in an independent direction.

In this scenario the master branch pointing at `upstream` would be quite annoying.

E.g. we've done this with [uptime](https://github.com/canonical-web-and-design/upptime). Our [webteam hubot](https:

[2021-02-01 11:24] hrls opened #2886 "`gh gist view --filename --raw` should print file content as is without any decorations"
Piping `gh gist view {} --filename {} --raw` includes gist title in content.
But this is unexpected and there should be combination of flags to print only raw content as is.

[2021-02-01 11:25] nottrobin commented on #2786
In sum: I think it's probably best to keep the current default behaviour, as that is more true to the meaning of the word "fork" and better supports the community building on existing work (which is important to protect), and provide the "upstream" behaviour as a non-default option. (Or change the "fork" naming, but that sounds very contentious and hard.)

[2021-02-01 12:06] mislav commented on #2878
Closing since @cristiand391 answered this; thank you!

[2021-02-01 12:06] #2878 closed, assigned to nobody

[2021-02-01 12:44] mislav commented on #2886
Good catch, thanks! Agreed that `--filename --raw` should only print the raw gist content of a single file and nothing else. I've re-classified this as a bug.

[2021-02-01 12:45] mislav commented on #2885
Agreed! Perhaps an extra flag like `--files` could list the filenames each on its own line? /cc @vilmibm

[2021-02-01 12:53] mislav commented on #2872
Thanks for raising this issue! Right now, I don't think there is an easy way to do what you're describing.

We don't typically involve issue/PR templates in non-interactive flows because we do not think it makes sense unless the person has the ability to choose the template (if there are multiple ones) and to edit their contents. Personally, I do not appreciate when people post un-edited templates

[2021-02-01 13:05] mislav commented on #2879
Hi, thank you for the suggestions! These are not bad ideas on their own, but there are already ways to achieve most of what you're describing without adding any new features to GitHub CLI.

In my experience, most people who report an issue in a repository will not also be the ones who fix it in a PR. I do not think it's worth adding a prompt if we know upfront that most people will choose `No` for

[2021-02-01 13:10] mislav commented on #1997
I have renamed this feature request to describe the more general feature of editing a Release, including changing its draft or pre-release status.

[2021-02-01 13:11] mislav commented on #2873
Thank you for the feature request! Editing different aspects of a release comes up as a feature request from time, so I'm going to merge all existing issues as duplicate of https://github.com/cli/cli/issues/1997

[2021-02-01 13:11] #2873 closed, assigned to nobody

[2021-02-01 13:11] mislav commented on #2346
Closing as duplicate of https://github.com/cli/cli/issues/1997

[2021-02-01 13:11] #2346 closed, assigned to nobody

[2021-02-01 14:23] mislav commented on #2693
@lanza Thank you for explaining the use case!

If the maintainer wanted to end up with each contribution being a single commit on top of main, couldn't they just accept regular PRs and squash-and-merge them? Is there some limitation to that approach that I'm not aware of?

[2021-02-01 14:35] filiptronicek opened #2887 "Change repo command"
### Describe the feature or problem you’d like to solve
I would love to have such a functionality similar to the repo changing in GH Desktop.

### Proposed solution
My proposal is this: the CLI will have a `gh cd <repo>`, in which the repo parameter will be one of the following:
1. a user/repo structure, such as `cli/browser`.
2. a GitHub URL, for example, https://github.com/cli/browser.
3. just t

[2021-02-01 15:04] mtfurlan commented on #2872
We use the PR template to have a set of manual steps in checkboxes, and use a thing to make all checkboxes a required status check before merging.

Thinking about it now, I could just put the PR template in the commit body when I'm scripting a bunch of PRs.
I think you're right that for 99% of usecases leaving a template unedited is worse than useless.

[2021-02-01 15:52] Ma3oBblu commented on #2886
@mislav can you check my PR?

[2021-02-01 16:01] vilmibm commented on #2885
great idea.

[2021-02-01 19:36] vilmibm opened #2889 "Actions Support"
# Actions support

This tracking issue covers our first pass at support for GitHub Actions.

New top level commands:

- `gh actions` - product explainer, docs, and hints
- `gh workflow` - work with workflow files
- `gh run` - work with current and past workflow runs
- ~gh job - work with individual jobs in a given workflow run~ we ended up merging this with gh run

Note that we're punting on any s

[2021-02-01 19:42] vilmibm commented on #2887
Thanks for the suggestion!

I think this command would lead to stateful behavior that works well in a GUI context but is confusing in a CLI context.

For now, I think it's best to stick to the `-R <repository>` flag and the local directory approach but I can leave this open for further discussion.

[2021-02-01 19:43] lanza commented on #2693
The concern isn't about the maintainer, it's about the submitter's workflow. I can confirm that `squash-and-merge` and `squash-and-rebase` can replicate the functionality from the maintainers side, though.

The point here is the developer submitting the work for review. Here's my workflow for work done as a Facebook employee and an llvm contributor:

[code]

and we're done. It takes the top commit

[2021-02-01 19:44] MPV commented on #2871
Restarting my computer fixed the problem for now. Closing, hoping that it stays working.

[2021-02-01 19:44] #2871 closed, assigned to nobody

[2021-02-01 20:10] mislav commented on #2887
Hi, it's a nice idea, but it cannot possibly work. Neither the `gh` command, nor any other executable can change the current working directory for its parent shell. The only way to change the current directory in the current shell is to type `cd` yourself or to eval shell code that does that.

Therefore, your code organizer tool will have to be written in your shell, outside of `gh`.

[2021-02-01 20:10] #2887 closed, assigned to nobody

[2021-02-01 20:29] mislav commented on #2693
Thanks for the detailed explanation.

I haven't worked on a project that uses stacked-diffs, but I was asked to consider supporting stacked-diffs in different projects and context. Each time I looked it, I did not understand it. It looked like a git workflow that is trying its best to resist benefitting from git's rich set of features.

I wouldn't say that branches are a leaky abstraction around g

[2021-02-01 20:34] mislav commented on #2864
What would the expected behavior be? Should we render raw HTML to the terminal? The terminal cannot interpret HTML, since it's meant for browsers, so to me it seems like a logical choice to omit it.

[2021-02-01 20:50] joe-sharp commented on #2864
If it were in the middle of a line like https://github.com/joe-sharp/linter-configs/pull/11#issuecomment-771143982 the "style" of the tag is ignored but the text still is preserved. That would be my minimum expectation, that anything content wise is preserved at least in basic text form.

It would be cool if the HTML content was converted to the markdown counterpart, such as:
<h1>This</h1>

[code]

[2021-02-01 20:51] jglick opened #2890 "gh pr merge -d does not work"
### Describe the bug

[code]

does not seem to do either.

[code]

### Steps to reproduce the behavior

[code]

Accept the prompt to create a merge commit, and say **Y** when asked to submit.

### Expected vs actual behavior

Expected: the PR is merged; the local branch is deleted; the remote branch is deleted.

Actual: the PR is merged; the local branch remains; the remote branch remains.

### Lo

[2021-02-01 20:53] jglick commented on #2890
Looks like a dupe of #2860, though this does not seem specific to `--squash`.

[2021-02-01 20:53] #2890 closed, assigned to nobody

[2021-02-01 20:54] jglick commented on #1758
Dupe of #1444?

[2021-02-01 20:58] jglick commented on #380
Even for the special case that I am merging _my own_ PR, `gh pr merge -d` does not work well currently due to #1444 & #2860.

[2021-02-01 21:00] mislav commented on #1758
Yes, thank you @jglick. 🙇

[2021-02-01 21:00] #1758 closed, assigned to nobody

[2021-02-01 21:02] mislav commented on #2864
@joe-sharp Gotcha; thank you for explaining.

That would require our markdown parser (goldmark) to also have HTML-parsing capabilities. It's not out of the question, but as @vilmibm says, our options are pretty limited right now.

[2021-02-01 21:04] lanza commented on #2693
Well, discussing the workflows merits and values isn't really relevant here. People and projects chose the workflow and it exists today as it is. Github and GitHub's CLI supporting it is what's being inquired about.

Sorry, what I said wasn't clear: GitHub's PR system's usage of branches is *not* a leaky abstraction. A `pull request` is GitHub's standardization of 2009 era mailing list requests of

[2021-02-01 21:07] joe-sharp commented on #2864
Would it be out of the question to preprocess with this? (Just throwing it out there, I have no practical experience in golang):
https://github.com/lunny/html2md

[2021-02-01 21:08] camelid opened #2891 "Remove `gh {issue,pr} comment` prompt"
### Describe the feature or problem you’d like to solve

When you run `gh issue comment` or `gh pr comment`, you get a prompt like:

[code]

The prompt seems like unnecessary friction to me. I'm guessing it's there so people aren't disoriented when `gh` suddenly launches `vim` (or whatever their `$EDITOR` is), but it's annoying to have to press <kbd>Enter</kbd> for it every single time I write a c

[2021-02-01 21:20] #2851 closed, assigned to vilmibm

[2021-02-01 22:54] dantman opened #2893 "[Docs] apt-key is deprecated"
The installation docs apt based systems includes an apt-key command: https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-apt

Running the recommended command results in the following warning:

[code]

The docs should probably be updated.

[2021-02-01 23:30] vilmibm commented on #642
Just updated the body with UI spec and marked as `help wanted`.

[2021-02-02 00:00] cristiand391 commented on #642
I would like to take this up ✋🏾

[2021-02-02 03:16] stan1334 opened #2895 "support mips64el release target please"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.
support mips64el release target please

### Proposed solution
add mips64el to release

How will it benefit CLI and its users?

Support one more CPU architecture

### Additional context
kustomize project Dependent on this project

Add any other context like screenshots or mock

[2021-02-02 08:05] Ma3oBblu commented on #2885
can i get this?

[2021-02-02 09:54] foxy4096 commented on #2182
I think its fixed now

[2021-02-02 09:54] AliabbasMerchant commented on #2895
Should be a small change
go compiler 1.8+ does support mips and its versions

[2021-02-02 11:08] james-menzies commented on #2879
Hi Mislav, thanks so much for your reply. I had no idea about the syntax that automatically links an issue to a PR. I can't wait to try it out :)

I think a comment in the docs about this would be great, and I agree that it's overkill to create a brand new command.

Thanks again for all that you do.

Cheers,
James

[2021-02-02 11:29] mislav commented on #2891
Thanks for the feedback. You've guessed our reasoning to avoid launching the editor program unprompted.

Would passing the `-e` flag be a sufficient workaround for you? You could alias the command to include `-e` every time you invoke the alias.

[2021-02-02 11:35] mislav commented on #2893
Thanks for letting us know! Weird that `apt-key` would get deprecated without a replacement.

According to this, it seems that the solution is to do curl and write to files manually? https://github.com/docker/docker.github.io/issues/11625#issuecomment-755626383

[2021-02-02 11:42] mislav commented on #2895
Thanks for the suggestion.

I'm sorry, but you will have to be more specific than that in order for this proposal to be accepted. Supporting "one more CPU architecture" isn't a compelling feature for us, since there are probably hundreds of different architectures out there in the world and we cannot possibly generate and maintain precompiled binaries for all of them. We do support a few popular o

[2021-02-02 12:26] stan1334 commented on #2895
MIPS(Million Instructions Per Second)，Is a simplified instruction set。
MIPS is a very popular RISC processor in the world。

https://www.mips.com/

How will it benefit CLI and its users?
-----
1、Support a certain number of desktop and server operating systems
2、kustomize project is Customization of kubernetes YAML configurations，support a certain number of cloud operating systems
3、There are many d

[2021-02-02 12:56] stan1334 commented on #2895
https://github.com/cli/cli/pull/2897
@mislav
@AliabbasMerchant

Please take the time to deal with it ，thanks。

[2021-02-02 13:54] mislav commented on #2895
@duchuanLX Thank you for explaining. Am I right in assuming that today, MIPS is predominately used for embedded systems?

We'll need some time to reach a decision about this. In the meantime, we'll keep this open in order to gather upvotes from the community.

[2021-02-02 14:12] #2886 closed, assigned to nobody

[2021-02-02 14:19] stan1334 commented on #2895
Your understanding is correct, it is indeed used in embedded operating systems, and is also widely used in desktop operating systems and server operating systems.  Thanks for your help, I look forward to your reply。

[2021-02-02 14:41] mislav commented on #2693
This is great; thanks for linking. It's exactly the kind of scripting usage that I would imagine people constructing around GitHub CLI.

I beg to disagree. I would argue that the merits of some git workflow are _extremely_ relevant to us when considering embedding that workflow in our product (GitHub CLI) and thus committing to maintaining it for years to come. If a certain git workflow ends up be

[2021-02-02 15:00] mislav commented on #2864
@joe-sharp I don't think something like that would be a good fit here. Let me explain.

Our Markdown-to-terminal rendering works like this: we invoke the Glamour library to render some markdown text (e.g. a body of an Issue on GitHub); the Glamour library uses the goldmark library to parse markdown into an AST of nodes that each represent a specific type of content (e.g. a "paragraph" node, a "hea

[2021-02-02 15:09] mislav commented on #2885
@Ma3oBblu Sure! Go right ahead.

[2021-02-02 16:19] msardana94 commented on #2598
I was also exploring `gh release download` and ran into same issue while trying to automate the script. I think having the ability to overwrite the local file (if the checksum is different) will be a super helpful feature

[2021-02-02 16:21] joe-sharp commented on #2864
Makes complete sense, I will definitely see about getting the bots to use markdown rather than HTML as a workaround. Thanks much for the explanation as well. Is it worth filing an issue with either of those libraries or is this something they are also unlikely to want to fix?

[2021-02-02 16:54] mislav commented on #2864
You can always try. There are already some semi-related issues filed: https://github.com/charmbracelet/glamour/issues?q=is%3Aissue+is%3Aopen+html

[2021-02-02 17:23] edusantana commented on #2598
For me the checksum is not a problem, since my release file has its versions in the name, something like `project-v1.1.1.tar.gz`. It's checksum is not of my concern, since all releases will have different checksums. And if I would download the same release, it will have the same checksum, but also the same file name. So, justing checking for filename would be ok for me.

[2021-02-02 17:31] jherland opened #2899 "`gh gist` requires explicit `$GH_HOST`, even when only one GitHub Enterprise instance is configured"
### Describe the bug

My `gh` is set up with a single GHE instance in `~/.config/gh/hosts.yml`, but still `gh gist list` and other `gist` commands try (and fail) to authenticate against github.com (and not my GHE instance).

### Steps to reproduce the behavior

1. Authenticate against a single GHE instance (no other entries in hosts.yml)
2. Run `gh gist list`
3. See error: `non-200 OK status code:

[2021-02-02 17:42] mislav commented on #2899
Agreed. Thank you for reporting!

Duplicate of https://github.com/cli/cli/issues/1745

[2021-02-02 17:42] #2899 closed, assigned to nobody

[2021-02-02 17:53] jherland commented on #1745
I still wonder - when I have a single GHE entry, and no github.com entry in my `hosts.yml` - why should `gh gist` (and other commands) still default to contacting gihub.com?

It seems having GH_HOST auto-detect/default when there is only _one_ host configured should resolve this issue in most cases?

[2021-02-02 17:59] adonisj910 opened #2900 "git issue"
### UPGRADE_EXTENSIONS=1 yarn run dev

#1745

[2021-02-02 17:59] #2900 closed, assigned to nobody

[2021-02-02 18:08] adonisj910 commented on #1190
![Code Scanning](https://github.com/cli/cli/workflows/Code%20Scanning/badge.svg?branch=1190-limit-merge-methods&event=label)

[2021-02-02 20:20] camelid commented on #2891
Ah, I didn't realize what that flag was for. (It's a little confusing that the docs for it say "Add body using editor", since that's the default.)

I think having a config setting might be a cleaner approach, but for now I will alias the command.

I think the issue is that many people will not realize you can get rid of the prompt by setting an alias (or a config option if you choose to add one),

[2021-02-02 20:21] camelid commented on #2891
Actually, there's not a way I can change the behavior of `gh pr comment` (or `gh issue comment`) using an alias, because I can only add an alias at the top-level; e.g. `gh prc`. Another reason why a config option might be helpful :)

[2021-02-02 23:55] silby opened #2901 "gh repo create: not clear how to invert --enable-issues, --enable-wiki"
### Describe the bug

`gh repo create` provides `--enable-issues` and `--enable-wiki` long options, but the usage text notes these options are `(default true)`. There's no apparent way to invert these options

[code]

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

I'd expect a documented way to actually create a repo issues or wiki disabled. All three imaginary inver

[2021-02-03 00:15] vilmibm commented on #642
thanks, @cristiand391 . post here if you have questions.

[2021-02-03 00:21] kral2 commented on #2290
hello,

This issue seems to still be present with gh version 1.4.0
It makes really inconvenient to use template repos from cli with the current behavior.

Are you able to share any status?

[2021-02-03 02:14] dardo82 opened #2903 "Feature Request: add files to existing gist."
### Describe the feature or problem you’d like to solve

Currently you can only edit existing files but not add new ones.

### Proposed solution

Add this functionality to `gh gist edit` or add `gh gist push`...

### Additional context

It is a well known limitation: https://github.com/cli/cli/pull/1699

[2021-02-03 04:40] jetersen opened #2904 "gh repo fork broken in v1.5"
seems #1882 has broken the previous behavior...
you used to be able to write `gh repo fork` and the origin would become `upstream` and your fork would become `origin`

Reason for the behavior
I use to run `gh repo clone some/repo` to start messing with the code to solve a problem than once ready to run `gh repo fork`

_Originally posted by @kubukoz in https://github.com/cli/cli/issues/1882#issueco

[2021-02-03 07:27] Cars687 opened #2905 "hkhk@vilmibm I agree that it's more a usage advice; feel free to close this in case you want to keep the docs short and concise."
@vilmibm I agree that it's more a usage advice; feel free to close this in case you want to keep the docs short and concise.

_Originally posted by @lwille in https://github.com/cli/cli/issues/2861#issuecomment-770110958_vtkbku

[2021-02-03 07:58] Cars687 commented on #2905
yvkyhnylhb

[2021-02-03 07:58] #2905 closed, assigned to nobody

[2021-02-03 07:58] Cars687 commented on #2905
uh un o no i

[2021-02-03 08:37] ShahrukhS commented on #2617
@aiivy782 how did you fix it? I am having the same issue.

[2021-02-03 10:07] FranklinYu commented on #2893
I think so. At a glance, this `/usr/share/keyrings/` way (together with `signed-by` parameter) sounds more secure than `apt-key` or `trusted.gpg.d`, since it only allows this key to sign a single package source.

[2021-02-03 10:52] buck06191 opened #2906 "Clean local branches that are deleted on remote"
### Describe the feature or problem you’d like to solve

Delete local branches where the PR has been closed and the remote branch deleted. Integrating this into Github CLI would add a standardised way of handling something that is relatively common.

### Proposed solution

Something like
[code]

Makes it easier to use autocomplete on branch names if ones that are no longer needed are removed.

[2021-02-03 14:08] AlonGluz commented on #642
Any updates on this?

[2021-02-03 18:27] mislav commented on #2893
We welcome PRs that change our installation docs to replace the `apt-key` step with a more suitable alternative. Ideally, the new instructions would also work on all systems where `apt-key` used to work. Thank you!

[2021-02-03 22:44] JoshCooley opened #2911 "PRs created for transferred and renamed repos point to the wrong repo"
### Describe the bug

If you transfer a repo to a new account, change the repo name, and don't change your remote to the new account, any PRs created for HEAD refs on origin will target a fork on the OLD account, but with the NEW name.

### Steps to reproduce the behavior

1. Create OldRepo in Account1
2. Clone Account1/OldRepo to dir OldRepoDir
3. Transfer OldRepo to Account2, renaming it NewRepo

[2021-02-03 23:55] dentarg commented on #2864
I'm with @joe-sharp, would be really cool if the HTML could be converted to Markdown.

@mislav Here's a specific use-case: to be able to read the @dependabot pull requests in the terminal, as the sourced information (release notes, changelog, commits) are made up by HTML inside `<details>` tags, example:

<details>
<summary><code>gh pr view</code> for Starkast/wikimum/pull/225</summary>

[code]

<

[2021-02-04 03:05] chaoticlonghair commented on #326
Since #2444 has been merged, as an alternative solution, set the environment variable `GH_CONFIG_DIR` to different directories could allow multiple accounts.

[2021-02-04 07:08] Ma3oBblu commented on #2885
@mislav this can be closed

[2021-02-04 08:05] schmurfy commented on #385
@vatosarmat thanks for the tip, I will use that.

[2021-02-04 10:08] Polenoso opened #2914 "gh pr create --body flag should accept file reading or template edition"
### Describe the feature or problem you’d like to solve

When we want to automatize the PR creation by a shell command, we need to fill some mandatory fields in the template, but since there isn't any option to read body from a file it becomes a tedious job to build a string from the current template.

### Proposed solution

Add --body-file or --body-template flag in order to accept plain texts or

[2021-02-04 11:45] mislav commented on #2914
Thanks for the suggestion! Closing this as duplicate of https://github.com/cli/cli/issues/1331

In the meantime, you can pass the body from file using shell syntax like this one (bash and other posix shells):
[code]

[2021-02-04 11:45] #2914 closed, assigned to nobody

[2021-02-04 11:48] #2885 closed, assigned to nobody

[2021-02-04 11:49] #2133 closed, assigned to nobody

[2021-02-04 11:56] #2901 closed, assigned to nobody

[2021-02-04 17:10] mislav commented on #2290
@kral2 Generally, when we have updates, we always share them by updating the thread via comments or by closing the issue (when it's been fixed). This one hasn't been fixed yet.

[2021-02-05 00:44] Emojigit commented on #2166
Another strange bug!
![Strange Bug!](https://user-images.githubusercontent.com/55009343/106973708-5d1b0180-678e-11eb-88a7-982c4293aa59.png)

[2021-02-05 02:13] ervaneet82 commented on #901
Hi ,

I have apple m1 chip , I tried everything whatever mentioned in this forum but didn't get any help.

gh repo clone git@github.com:xxxx/terraform12
signal: killed

[2021-02-05 08:53] fmeriaux commented on #2872
Within our team we also miss this behavior. If you feel that this behavior is not necessarily adapted to a "default" parameter, maybe you can simply give the possibility to get it via an additional parameter or via configuration.

[2021-02-05 09:02] #2879 closed, assigned to nobody

[2021-02-05 10:18] mislav commented on #2166
@Emojigit Did you expect a sub-directory to be a created for the new repo instead of it being added as `origin` remote to the existing git repo?

[2021-02-05 10:29] mislav commented on #901
@ervaneet82 Please follow #2426 for updates.

[2021-02-05 11:41] ervaneet82 commented on #2426
gh is installed in Mac silicon laptop but when I run the gh repo clone xxx/repo , it’s not working

[2021-02-05 13:16] mislav commented on #2426
@ervaneet82 I'm sorry, but you will have to report your issue more specific than that. How did you install gh? Which error did you get?

Our release binaries are not compatible with M1 yet, but you can use Homebrew to run `brew install gh`. Please try that first.

[2021-02-05 13:32] mislav commented on #1745
@jherland You are right. We are leaning to the solution you propose: to default to your non-github.com host if only one host was configured.

However, if you configure one Enterprise host, and then additionally authenticate to github.com as well, we will start defaulting to github.com again. This was our original reasoning to always default to github.com—to follow the principle of least surprise—b

[2021-02-05 14:01] richiksc commented on #2426
FYI, the `-s` flag is no longer needed, since Homebrew has pre-built bottles available for `gh` on `arm64`.

[2021-02-05 14:06] jherland commented on #1745
Yes, I agree that if you have more than one host configured, then you cannot expect the Enterprise host to be used by default. I'd maybe argue that you should be prompted for which to use (or you should be able to explicitly choose a default), but this (to me) is much less important than using the configured host when there is only one.

[2021-02-05 14:49] ervaneet82 commented on #2426
Hi ,

Simple install but first you need to run "xcode-select --install" after that I ran the following commands.

- brew install gh

- which gh

- /opt/homebrew/bin/gh

**gh repo clone ervaneet82/terraform12
signal: killed ---> This is error coming getting**

MacBook Pro (13-inch, M1, 2020)

[2021-02-05 16:21] slickmb commented on #2872
An additional flag (e.g. `--append-template`) to force the behavior would help, and/or possibly a `--edit` flag (à la `git commit -m "asdf" --edit`) which solves the point about not being in interactive mode.

[2021-02-05 16:42] cristiand391 opened #2920 "Build script doesn't show build errors"
### Describe the feature or problem you’d like to solve

The build script used by `make` doesn't output build errors:
[code]
so in order to fix an error I have to re-run `go build -trimpath...` manually:
[code]

I would expect the build script to show build errors.

### Proposed solution

Make the build script show build errors.

[2021-02-05 16:48] mvllow commented on #2426
@ervaneet82 You most likely don't have the arm64 version

[code]

[2021-02-05 19:27] hayesall opened #2921 "gh gitignore Language: Pulling gitignore templates"
### Describe the feature or problem you’d like to solve

I regularly start a project, open my browser, navigate to https://github.com/github/gitignore, search for a language, and copy the contents.

### Proposed solution

Maybe:

[code]

Or in a multi-lingual environment:

[code]

### Additional context

This is similar to #1907, but that focused more on *initializing* repositories.

[2021-02-05 19:32] radimkohout opened #2922 "The value of the GITHUB_TOKEN environment variable is being used for authentication."
### Describe the bug

After update 20210123 in GitHub actions, the gh cli has broken. Version is 1.5.0. (reporting here, because I think, that this is cli bug)
### Steps to reproduce the behavior

1. export GITHUB_TOKEN using
env:
            GITHUB_TOKEN: ${{ secrets.TOKEN }}
(of course in valid formatting)
2. use command " gh auth login --with-token <<< $GITHUB_TOKEN" in workflow
3. See the erro

[2021-02-06 01:28] ElijahLynn commented on #401
I started off getting this error which led me here.

[code]

Then tried:

The config removal didn't work, so I ran `gh help` and found `gh auth` (again, it's been a while).

[code]

Then realized I did have a GITHUB_TOKEN environment variable so I unset/erased (fish) that and tried `gh auth login` again and it worked!!

[2021-02-06 01:28] ervaneet82 commented on #2426
I have arm64.

Vaneets-MacBook-Pro ~ % file $(which gh)
/opt/homebrew/bin/gh: Mach-O 64-bit executable arm64

[2021-02-06 02:09] richiksc commented on #2426
Do you have git installed?

[2021-02-06 05:30] ervaneet82 commented on #2426
Yes , git is installed.

Vaneets-MacBook-Pro Downloads % which git
/opt/homebrew/bin/git

There is one more path for git which is /usr/bin/git

I have to give the full path of git to clone the repo. /usr/bin/git clone XXXX.

With default git path which is /opt/homebrew/bin/git doesn't work.

[2021-02-06 10:44] OpenWaygate opened #2927 "Win 10 ~/.ssh/config Problem"
### Describe the bug

OS Build 19042.789. gh version 1.5.0
`gh repo clone any_public_repo` result in `git@github.com: Permission denied (publickey).`

### Steps to reproduce the behavior

[code]

[code]

### Expected vs actual behavior

`git clone` works well with `~/.ssh/config`, but `gh` cannot, I have to replace `Host github` with `Host github.com` to use it.

[2021-02-06 12:31] #2920 closed, assigned to nobody

[2021-02-06 12:37] mislav commented on #2927
Thanks for sharing. We're working on improving the SSH authentication support in gh: #2892

Do you know how did it happen that your ssh config ended up with `Host github` in the first place? GitHub CLI didn't put that there, since we never edit your `~/.ssh/config`. Did you generate the `~/.ssh/github/id_rsa` key yourself or did another tool put it there for you?

[2021-02-06 13:29] OpenWaygate commented on #2927
I have several SSH keys for different usage(personal or work), the `~/.ssh/config` is created with Visual Studio Code [`Remote - SSH`](https://code.visualstudio.com/docs/remote/ssh) extension.

In `bar/.git/config`, there is a section to set the `host`.
[code]

[2021-02-06 15:20] richiksc commented on #2426
There's the issue. `gh` will use the default git path. Try reinstalling git and its dependencies through Homebrew:

[code]

[2021-02-06 22:50] alphaolomi opened #2928 "cgroup v2 is not fully supported yet, warning"
### Describe the bug

When running any command  this message show up

[code]

### gh version
[code]

### os

[code]

### Steps to reproduce the behavior

1. Type this `gh version`
2. View the output
[code]
3. See error
there is no error but the warning message show up

### Expected vs actual behavior

expect no warning instead a warning message appears

### Logs

sample logs
[code]

[2021-02-07 05:56] stan1334 commented on #2895
Dear maintainer, a week has passed, I want to know the progress of cli supporting mips64le, thank you for your help. If we agree to join us, we will continue to maintain the project in mips64le continuous maintenance and release work.

[2021-02-07 12:14] tonytonyjan commented on #2619
Really need this on `gh pr create` and `gh pr merge`.

[2021-02-07 12:19] AraHaan commented on #2619
I would actually like a setting on the project to where we can enable automerge always from select users (like dependabot where github would merge it for me)

Currently I had to make an automerge workflow in github actions to do that when all of the checks pass.

[2021-02-08 02:43] ervaneet82 commented on #2426
Thanks a lot @richiksc , It's working now.

[2021-02-08 07:23] joyheaven72 commented on #2922
@cristiand391

[2021-02-08 09:26] mislav commented on #2928
Thank you for reporting.

Is it possible that this message comes from `git`, not from gh? Is it also present if you do regular `git clone https://github.com/alphaolomi/php`? Does it happen when you run a simple GitHub CLI command like `gh version`?

GitHub CLI definitely does not ever output that message on its own, so it must be either from git or from the way gh was packaged on your machine, per

[2021-02-08 09:52] mislav commented on #2927
Thank you for explaining. The answer is that we, unfortunately, don't yet have support for multiple GitHub user accounts. https://github.com/cli/cli/issues/326

So even if you handle git clone via SSH aliases such as `git@personal:foo/bar.git`, GitHub CLI itself will only use the single authenticated user stored in `~/.config/gh/hosts.yml` for all repositories, and has no mechanism to switch betwe

[2021-02-08 09:52] #2927 closed, assigned to nobody

[2021-02-08 10:05] mislav commented on #2922
Hi, GitHub CLI will automatically use the token from `GITHUB_TOKEN` environment variable for authentication. When using GITHUB_TOKEN, there is no need to even run `gh auth login`— in fact, GitHub CLI will prevent you from doing so like in the error message that you've experienced.

Just set this in Actions:
[code]

and `gh` commands will all work. 👍

[2021-02-08 10:05] #2922 closed, assigned to nobody

[2021-02-08 10:09] mislav commented on #2906
Thanks for the proposal and the reference implementation!

Semi-related: #380

[2021-02-08 10:21] mislav commented on #2895
So far yours is the only request for supporting MIPS that we've got, and we'd like it to be a more often-requested architecture before we add official binaries for it. Please refer to my previous comment:

According to the above, we will keep this issue open indefinitely in order to gather upvotes. If we get a sense that more than just one person wants GitHub CLI on MIPS, we will consider it. But

[2021-02-08 10:24] mislav commented on #2911
Thank you for the detailed reproduction steps!

If you update your git remote to the new URL, does the problem go away?

[2021-02-08 10:48] stan1334 commented on #2895
Thank you again for your patient reply. I believe in the usage rate of mips64le in desktop and server operating systems, I will continue to wait for your reply, thank you!

[2021-02-08 11:01] alphaolomi commented on #2928
No. `git clone` does not produce the message.

Yes.

If GitHub CLI does not  output on its own then its something to do with snap

After some googling

I found this [bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=934372) from debian dealing with snap

[2021-02-08 13:52] JoshCooley commented on #2911
Just checked this. After changing origin to the new URL, I was prompted for the base repository

[code]

After selecting the top repo, the browser opens to the expected page. So **YES, the problem goes away if I update my origin remote to the new URL.**
I also see that selecting the new base repository has added `gh-resolved = Account2/NewRepo` to my `fork` remote (the second result in the list, *

[2021-02-08 13:59] Stilborg commented on #826
Thx @jetersen you saved me! , fandme verdensklasse

[2021-02-08 15:09] radimkohout commented on #2922
Ah, ok thanks.

[2021-02-08 16:12] Thiraw commented on #2922
Saynamyen@example.com

[2021-02-08 16:59] mislav commented on #2928
I believe so. We do not recommend nor support packaging GitHub CLI as a Snap: https://github.com/cli/cli/issues/328#issuecomment-588358901

So if you are going to install a 3rd-party package for GitHub CLI, you are on your own regarding confinement issues. I'm sorry.

Instead of a snap, we suggest installing a regular `.deb` package using our installation instructions. Good luck!

[2021-02-08 16:59] #2928 closed, assigned to nobody

[2021-02-08 17:49] TekGadgt opened #2930 "gh api to list repos lists public and private names for free users"
### Describe the bug

[code]

Listing repositories of a user via the API reveals both public and private repository names for free users.  I do not have another free account with private repositories available to test against at this time.  If this is an issue with the API and not GH CLI, please point me to where I should report this.  Thank you.

### Steps to reproduce the behavior

1a. Add an al

[2021-02-09 01:36] cristiand391 commented on #2930
Thanks for the details!

By default the graphql query will fetch both public and private repos, but you can make it filter by privacy by setting the `privacy` argument in the [`RepositoryConnection`](https://docs.github.com/en/graphql/reference/objects#repositoryconnection) object.

If you want it to only list public repos, try with this:
[code]

If you want it to be more flexible you can make it

[2021-02-09 04:27] A-Floppy-SkizSanz opened #2933 "cli"

[2021-02-09 04:27] #2933 closed

[2021-02-09 06:09] alphaolomi commented on #2928
# FIXED!

Installed with `.deb` no warning, no problem

[2021-02-09 10:19] manuelmeister opened #2935 "Make cli more useful for local existing repos"
### Describe the feature or problem you’d like to solve
Make GitHub CLI more useful for existing local repos. I'm thinking about the configuration part of git, beginners start on the web and then clone via `git clone` instead of `gh`. Later they fork it via web and then want to reconfigure the local repo to reflect the branches.

### Proposed solution
Allow adding the forked repo as a remote. I'd

[2021-02-09 12:57] cyrilletuzi commented on #1674
Closing this as it seems untracked for several months and I don't need this anymore.

[2021-02-09 12:57] #1674 closed, assigned to nobody

[2021-02-09 16:42] #2821 closed

[2021-02-09 16:42] #2874 closed

[2021-02-09 17:05] samcoe commented on #2930
@cristiand391 Thanks for the detailed explanation of what is happening and a potential solution.

@TekGadgt Additionally, the API will show private repositories for the user that is authenticated with `gh`. For example when I set up the `repos` alias and did `gh repos samcoe` I was able to see my own private repos but I am not be able to see private repos of other users.

I am going to close this

[2021-02-09 17:05] #2930 closed, assigned to nobody

[2021-02-09 17:39] #2855 closed, assigned to nobody

[2021-02-09 17:41] mislav commented on #2935
Hi, thank you for the feedback!

If I understand correctly, you are asking for a feature to make it easier to add git remotes pointing to GitHub repos? If so, would you agree that we can close this as a duplicate of https://github.com/cli/cli/issues/1027?

[2021-02-09 19:23] carywreams opened #2939 "Attempts to delete /usr/local and /usr/local/bin failed during install"
Following directions to install on Ubuntu 20.04, received these warnings. not something I usually see when installing software.
Those are very useful directories.

[code]

[2021-02-09 19:40] samcoe commented on #2939
Thanks for writing in. This seems to be a duplicate of https://github.com/cli/cli/issues/2112, please view that issue for more information.

[2021-02-09 19:40] #2939 closed, assigned to nobody

[2021-02-09 20:03] carywreams commented on #2112
This behavior then is purely the result of having changed directories from /usr/local/bin/ to /usr/bin ?

[2021-02-09 20:42] #2935 closed, assigned to nobody

[2021-02-10 00:56] benplay2 opened #2941 "api does not obey conditional requests"
### Describe the bug

I have not been able to achieve expected operation when passing the _If-None-Match_ header to `gh api`.

I've been following this [api guide](https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api#conditional-requests).

[code]

### Steps to reproduce the behavior

1. `gh api -i https://api.github.com/users/benplay2`
[code]

2. Copy the etag returned in the

[2021-02-10 01:48] leobalter opened #2942 "`gh pr checkout` should add the fork as a remote"
# CLI Feedback

## What have you loved?

`gh pr checkout` is one of the best features of this tool, thanks!

## What was confusing or gave you pause?

I had a PR I created elsewhere to an org repo, requesting changes from my own fork's branch, e.g.:

`upstream` has PR `#2` with changes from `origin:patch-1` branch to `upstream:main`.

In a new computer I clone the repo with `gh clone org/project`,

[2021-02-10 12:04] carywreams commented on #2939
[To remove or not to remove, that is the question](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=57518)

geez. You peek under one little rock, ...

[2021-02-10 13:30] mislav commented on #2904
Apologies for changing the behavior of this command abruptly. We've received feedback that renaming the remote was undesirable and we wanted to switch to a less "magic" behavior where the user keeps more control over how they organize their remotes.

Because the original behavior is still kept in non-interactive mode for scripts, you can opt into it by doing `gh repo fork --remote | cat` (or other

[2021-02-10 13:55] mislav opened #2944 "Internal git pull/push operations are not always authenticated"
The HTTPS credential behavior introduced in https://github.com/cli/cli/pull/2449 is only effective after the user has completed the interactive `gh auth login` flow. However, if someone does this in a script:

[code]

The internal `git clone` operation is _not_ guaranteed to use the supplied token. Instead, the usual git credential mechanism is used, so if this was run in an isolated environment s

[2021-02-10 14:02] kubukoz commented on #2904
Not really. I didn't have any remote created when using this in a non-interactive way.

![image](https://user-images.githubusercontent.com/894884/107519784-f2fcc500-6bb0-11eb-891a-a8fd0bc16bad.png)

[2021-02-10 14:17] mislav commented on #2904
@kubukoz Thank you for trying, and sorry for the misleading instructions. I forgot the flag: `gh repo fork --remote | cat`

[2021-02-10 14:24] mislav commented on #2942
Thank you for writing in!

Can you tell us more about what happened when you tried to push it back? Have you tried regular `git push`?

The `gh pr checkout` command automatically sets up upstream configuration to enable you to push back to the head branch of the PR, even if it's on the fork. No git remote needed.

[2021-02-10 14:30] mislav commented on #2941
You did not copy the etag as you have received it from the previous request. You've omitted the `W/` prefix.

[code]

Note that `gh api` will exit with error code "1" on 304 responses and print this on stderr: `gh: HTTP 304`. Is this enough for you to be able to detect the 304 response from a script? I'm wondering whether we should return a special exit code for this.

[2021-02-10 14:30] #2941 closed, assigned to nobody

[2021-02-10 14:34] kubukoz commented on #2904
😅

[2021-02-10 17:45] mislav commented on #2904
@kubukoz Well, thank you for trying again, and sorry again for sending you on a wild goose chase. It turns out that the backwards-compatible fix for scripting landed after a tagged release https://github.com/cli/cli/commit/1fa3047b59d07027e233dd6fe8f038718fcf3102, so it will only be available after the next release.

[2021-02-10 18:40] redreceipt opened #2945 "PR Status Should Show Branch Not Up To Date"
### Describe the feature or problem you’d like to solve

A PR's status checks don't honor the "up to date" setting. From the CLI, PR being ready is misleading because it doesn't tell you to first update the branch. If the web GUI shows it, the CLI should show it too.

### Proposed solution

Status should look like this:

[code]

or

[code]

### Additional context

<img width="1599" alt="Screen Sho

[2021-02-10 20:21] billwert opened #2946 "PR checkout: fully-qualified git refs unexpectedly received from the API"
### Describe the bug

It appears that having a remote pointer to the source of my fork (with any name) is making checking out a specific PR fail. Other PRs work so perhaps there is something strange about this branch, but I cannot figure out what.

❯ gh --version
gh version 1.5.0 (2021-01-21)
https://github.com/cli/cli/releases/tag/v1.5.0

### Steps to reproduce the behavior

gh repo clone https:/

[2021-02-10 22:17] akaszynski opened #2947 "Request too long"
### Long URLs rejected by github.com

Using 1.5.0, when creating the PR, a long PR description will be rejected by github.com, leading to the loss of the draft and much pain and suffering.

Example PR:
<details>
  <summary>Click to expand!</summary>
[code]
</details>

Github Screenshot:
![image](https://user-images.githubusercontent.com/11981631/107580364-a8c91300-6bb3-11eb-8c0f-5299f3c98ea0.png)

[2021-02-11 02:00] benplay2 commented on #2941
Thank you for the assistance!

I tested it out and found that it's a slightly different issue that your method resolves.

Even when I omit passing the `W/` with your method (storing the etag as a variable) I get 304 as expected.

The issue is that I need to surround the entire expression in quotes AND escape the quotes when typing directly.

Bash:
Surround by single quotes.
[code]

Windows CMD:
Es

[2021-02-11 02:24] benplay2 commented on #2941
Yes, this will work for my scripting use case!

That being said, it would be handy in the future to return a special exit code. Currently I'll have to scan the output for the HTTP code if the call exits with 1.

[2021-02-11 08:11] stealthybox commented on #2027
I'd really appreciate a maintained official image containing `gh` and its dependencies.

This would be super useful within CI where you can use a container as a step (Circle/CloudBuild/Drone/Tekton/GitLab), k8s CronJobs, within GitHub Actions itself, or within local development where Docker is used to not pollute the host.

If I want to deploy a `gh` container I'll need to maintain an up-to-date i

[2021-02-11 09:30] nissessenap commented on #2027
I can only agree. I'm willing to help out to maintain it as well

[2021-02-11 10:46] mislav commented on #1575
Some ideas how to fix the "Request too long" error:

Before the user is shown "Continue in browser" or "Submit" options, we could generate the URL and, if it appears too long (8195 bytes in my testing), we could disable the "Continue in browser" option. The user will then have to use "Submit", which we know will always work regardless of input parameter size.

[2021-02-11 10:48] mislav commented on #2947
Thank you for reporting, and I'm sincerely sorry about your lost content. We do have a failure recovery system for then creating a PR fails on the server, but this case we cannot catch since it's in your browser, not in the console. Still, we might develop a way to prevent this from reaching the browser in the first place: duplicate of https://github.com/cli/cli/issues/1575

[2021-02-11 10:48] #2947 closed, assigned to nobody

[2021-02-11 13:13] mislav commented on #2946
Thank you for reporting! This looks like it might be an API problem and is not caused by your git remote configuration, which seems perfectly in order.

Specifically, the GraphQL fields `headRefName` and `baseRefName` on a PullRequest return values prefixed by `refs/heads/` for some pull requests in this repo, but not for others.

Please allow us a bit more time to look into this. 🙇

[2021-02-11 14:54] kzu commented on #2889
Related: I'd like to run workflows *locally*: https://github.com/cli/cli/discussions/2950

[2021-02-11 14:58] ahayworth commented on #1575
I think that's a reasonable, straightforward way to fix it in the CLI.

The only downside I see is that with lengthy PR templates, even 8k bytes may not represent much actual input by the user. However, if that becomes a pain point for folks then I'm happy to help get the length limits raised internally as well.

[2021-02-11 15:39] radiospiel commented on #2891
@camelid You should be able to define an alias in bash or so, like `alias gh-pr="gh pr comment -e"` no?

But in general the behaviour of `hub` on creating a PR just seems so much more useful; they start `$EDITOR` which is prefilled w a text built from the individual commits, and then they take the first line as the PR title and the remainder as the body; they also skip everything after the cut-off

[2021-02-11 15:48] erikhuizinga commented on #2946
Not sure if my issue is related. Let me know if it isn't and if it is known, solved or if it needs a separate new issue.

I have a private repo copied from a public repo (so not an actual GitHub fork). The public fork has many PRs. My private repo has a few, e.g. 1 PR. I want to check that out. If I do the following, instead it checks out the upstream's PR 1.

[code]

I've seen it happen rarely th

[2021-02-11 16:16] Xerkus commented on #2904
Different behavior for non-interactive variant sounds like a really big problem, worse than no fix at all tbh. Scripting is not where you want to get surprises.

[2021-02-11 18:04] mislav commented on #1575
@ahayworth Yeah, 8k bytes isn't a lot. The truth is, "Continue in browser" has other limitations as well, such as some fields that are assignable via API are not available via GET query params. I think command-line "Submit" is much more robust and should be used most of the time; “Continue in browser” is a limited tool that is useful for e.g. uploading images but should be used sparingly.

[2021-02-11 18:18] samcoe commented on #2945
@redreceipt Thanks for writing in. I agree this would be a good addition to the `pr status` command. We welcome PRs that make this addition.

[2021-02-11 18:24] samcoe commented on #2921
@hayesall Thanks for writing in. A feature of this nature is something I would also like to see and we have discussed various options in #1907, but as a team we are still undecided on the best way forward. I am going to leave this issue open as I think it is distinct enough from #1907 and we will update both issues when we have an implementation plan in place.

[2021-02-11 19:39] billwert commented on #2946
Of course. Let me know if I can provide anything else.

[2021-02-11 20:05] polatengin commented on #2889
hey @vilmibm , I'd like to help to build `gh workflow ...` methods, if it's not started yet.

[2021-02-11 23:49] tammersaleh commented on #2879
Great discussion!  I think there are somehow two different ways of "linking" PRs and Issues.  PRs and Issues have a "Linked pull requests" and "Linked issues" section in the right side bar which doesn't seem to get updated by simply mentioning the issue/pr ID in the body of one or the other:

![training 2021-02-11 15-45-42](https://user-images.githubusercontent.com/2016/107713573-6588a600-6c80-11e

[2021-02-12 10:23] TomerFi opened #2954 "Take the merge button configuration into consideration while merging using the cli"
### Describe the feature or problem you’d like to solve

I'm using:

[code]

I think it will be a good feature to make the `cli` take the repository configuration under consideration.
For instance, the `Merge button` configuration, the following configuration:

![image](https://user-images.githubusercontent.com/28388442/107755808-f9fc1280-6d2b-11eb-864a-821ebbaec469.png)

Will prevent merging comm

[2021-02-12 10:27] albanf commented on #2708
It's not working for me using GITHUB_TOKEN in an environment variable
[code]

[2021-02-12 11:48] mislav commented on #2708
@albanf Thank you for reporting! Looks like everything was configured correctly and I can't see why git is still asking for username. So maybe you can help us debug this? If you set GIT_TRACE, you will get additional output from git:

[code]

It should output some `run_command` lines when it invokes the credential helper. Can you spot these? If there is no private information, consider pasting tha

[2021-02-12 11:54] mislav commented on #2879
Yes. Simply mentioning the issue won't place it in the sidebar. For actual linking, please refer to my above comment:

We maybe don't make this clear in the web UI, but [those keywords are what constitutes "linking"](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword).

[2021-02-12 12:31] mislav commented on #2954
Thank you for reporting!

Hmm, I find this really odd! The extra space should not matter in most shells; `--squash` should have been interpreted as a normal flag.

And even if you used the `--merge` flag instead, that would not work on the server with your repository settings, because you would have gotten an error: `Merge commits are not allowed on this repository.`

In my testing, I cannot use `

[2021-02-12 12:35] albanf commented on #2708
[code]

I found a workaround, which is to create ``.config/gh/hosts.yml`` with this content:
[code]
Then the clone works. It seems that the credentials helper works only when the user is specified is the configuration file (any user works), then the token is correctly picked up from the environment variable.

[2021-02-12 13:11] mislav commented on #2946
@erikhuizinga Your issue seems entirely different. And I also cannot reproduce it: when I clone a repository and add an additional git remote, the next `gh pr checkout` attempt prompts this:

[code]

However, `gh pr checkout` will _not_ prompt if you run it from a script, i.e. if the standard input and output are not connected to a terminal. Were you running `gh pr checkout` from your normal shell

[2021-02-12 13:50] mislav commented on #2708
Aaah that's it! You've found the bug. Thanks for sharing!

When GITHUB_TOKEN or GH_TOKEN is set, `.config/gh/hosts.yml` should not be consulted at all. The fact that it is must have been an oversight on my part.

Semi-related: #2944

[2021-02-12 15:11] erikhuizinga commented on #2946
Thanks for the response @mislav!

I've now fixed it by recloning my repo, adding the upstream remote before my first `gh pr checkout`/`list` command. Then `gh` will indeed prompt me for which base repo to use. (BTW: why name it 'base repository', why it could be called a 'remote' or 'remote repository'?)

I have no idea how my previous clone ended up in a state where `gh` would mix different remot

[2021-02-12 17:50] #904 closed

[2021-02-12 18:21] #1349 closed, assigned to samcoe

[2021-02-12 18:22] tammersaleh commented on #2879
Ah, got it!  Thanks!

[2021-02-12 22:25] womackmark15 opened #2955 "Football the good and evil side of the game"
This side of football

[2021-02-12 22:30] #2955 closed

[2021-02-12 23:25] skanehira opened #2956 "Get issue template from specified repository"
### Describe the feature or problem you’d like to solve
When create issue to specified repository, gh not get issue templates from specified repository.

![](https://i.gyazo.com/18be97b7ded6df12534e174dd78bb23c.png)

https://github.com/cli/cli/blob/a84145eb684660212d85e0cd7f4b5f5d75c9d54f/pkg/cmd/pr/shared/survey.go#L393-L406

### Proposed solution
Use GraphQL API to get issue template of specifie

[2021-02-13 02:36] SamuelFountain opened #2960 "gh fails to find git directory in ntfs mounted drive"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

running gh issue list from an ntfs mounted drive, gh fails to find the git repository.

[code]

### Steps to reproduce the behavior

Found on an OpenSUSE tumbleweed
Drive mounted with
UUID="<ID>" /run/media/sam/HDD ntfs-3g defaults 0 0

1. Clone a GitHub repository into the mounted

[2021-02-13 06:28] gtothe7 opened #2961 "#thankyou"
Feedback consists of an acknowledgment of assistance
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

[2021-02-13 06:28] gtothe7 commented on #2961
- [review
]

[2021-02-13 07:07] afmsavage commented on #1941
Not sure if related or just a wonky issue.  I just got the `X github.com: the token in GITHUB_TOKEN is missing required scope 'read:org` error when running `gh auth status`.  I went and checked in my settings for this token, and both `read:org` and `write:org` were checked.  What wasn't checked though was `admin:org`.  Checked that box, which auto grays out the read and write checkboxes, saved the

[2021-02-14 02:38] Per48edjes commented on #987
I agree with @mislav 's observation (if you're still getting prompted for a username and password despite having already changed the `gh` config to use `ssh`):

To fix, you can dive into your repo's `.git/config` file and add:

[code]

Once this is in place `gh repo create` should work as expected for the extant local repo.

(None of this is required for other `gh` operations, at least in my exper

[2021-02-14 04:51] #2961 closed, assigned to nobody

[2021-02-14 07:49] TomerFi commented on #2954
@mislav
Thank you for your response.
I tested this again in a demo project, you are correct, I was wrong.
This was my mistake.

I seem to remember the up until recently when performing squash-&-merge on a PR with only one commit,
The commit message was used for the merge and not the pr title,
I was expecting the commit message but found the pr title was stated as the commit message.
My mistake was

[2021-02-14 07:49] #2954 closed, assigned to nobody

[2021-02-15 01:44] pdesjardins90 commented on #2632
Might I suggest simply adding a global `--non-interactive` flag and/or corresponding ENV variable?

I think most users (myself included) would welcome the clarity instead of an opaque decision process behind the scene

[2021-02-15 01:58] CharlesDerek commented on #1798
TLDR For those on amd 64 system:

`cd ~/Downloads; mkdir github-cli/ ; cd github-cli/ ; wget https://github.com/cli/cli/releases/download/v1.5.0/gh_1.5.0_linux_amd64.deb ; sudo apt install ./gh_1.5.0_linux_amd64.deb -y; sudo apt update; cd ../; rm -rf github-cli/; sudo apt autoremove; gh;  `

If not an amd64, just go to https://github.com/cli/cli/releases/ and swap deb file name and url above with

[2021-02-15 03:43] theintergalacticat opened #2964 "Make tag version optional when creating draft releases via `gh release`"
### Describe the feature or problem you’d like to solve

Github UI allows us to create draft releases without typing in a tag version or a release title. A draft saved this way has a default title "Draft" and allows us to type in a tag version when one is ready.

The Github CLI requires a tag version to be provided when creating a draft release.

[code]

Right now we provide an empty string which

[2021-02-15 12:19] mislav commented on #2956
Thank you for reporting! This will be fixed soon. Duplicate of https://github.com/cli/cli/issues/2361

[2021-02-15 12:19] #2956 closed, assigned to nobody

[2021-02-15 13:18] mislav commented on #1941
@afmsavage Yes, that should be the same. I have no idea why you got that error, but if you re-run any command with the `DEBUG=api` environment variable, you can see the HTTP response from the server, including the OAuth scopes that the server reports you have. Try that if this happens again!

Are you running a recent version of GitHub CLI?

[2021-02-15 13:30] mislav commented on #1941
@afmsavage I just reproduced this. I think it's a GitHub frontend bug! When you check `write:org`, `read:org` will automatically get "checked" as well, but it looks like that's only visual and not actually reflected in the token. As you've discovered, checking `admin:org` to get both scopes is the true solution.

I will report this

[2021-02-15 15:19] mislav commented on #2964
@theintergalacticat Thanks for letting us know! If something is available in the web interface, we generally try to make it work the same way in CLI.

However, I'm not sure if we should make tagless draft releases possible over CLI. Once created, how would we allow you to edit or publish that release via CLI? You won't be able to select it via command-line arguments because it doesn't have a tag n

[2021-02-15 15:23] mislav commented on #2960
Thank you for reporting! Did you install GitHub CLI as a snap? Note that we currently discourage using gh as a snap because snaps are not designed to package tools like ours. https://github.com/cli/cli/issues/328#issuecomment-588358901

Can you run `git remote -v` from the directory where `gh issue list` fails, btw?

[2021-02-15 18:33] mislav commented on #2954
Hmm, you might be right. By default on web, it looks like the commit message is being used by default for the squashed merge, whereas in GitHub CLI, the PR title is being used by default. Perhaps we should have the same defaults as the web. I'll consider ironing this out together with changes in https://github.com/cli/cli/pull/2896

[2021-02-15 19:00] theintergalacticat commented on #2964
The CLI and the web UI create "<repo>/releases/tag/v1.0.0" for a tagged release and something like this for an untagged draft release "<repo>/releases/tag/untagged-34d1ea89106e62f6fcf9".

Now the alphanumeric string at the end changes every time you hit Save Draft, but it still identifies that particular (latest) version of the draft release I believe.

I've tried creating a bunch of draft release

[2021-02-15 21:01] SamuelFountain commented on #2960
.⊣ repo-test on  master via  6GiB/16GiB | 0B/2GiB
❯ git remote -v
origin	git@github.umn.edu:<Username>repo-test.git (fetch)
origin	git@github.umn.edu:<Username>/repo-test.git (push)

Yes, I was using it as a snap, signed into my enterprise server, and set to use ssh. Switching to the rpm version on the release page
⊣ repo-test on  master via  6GiB/16GiB | 0B/2GiB
❯ gh --version
gh version 1.5.0

[2021-02-16 00:50] gaelicWizard opened #2966 "gh launches Safari instead of default browser"
### Describe the bug

I started with `gh auth login`. I was prompted to launch a browser, which I accepted. Safari launched.

gh version 1.5.0 (2021-02-10)
https://github.com/cli/cli/releases/tag/v1.5.0

### Steps to reproduce the behavior

1. `gh auth login`
2. press enter
3. press enter
4. press enter
5. see Safari launch

### Expected vs actual behavior

I expected my default browser to be laun

[2021-02-16 02:40] afmsavage commented on #1941
I modified my key to be back to the way that it was prior, where `admin:org` wasn't selected but `write:org` was.  I then ran `DEBUG=API gh auth status`, and it again gave the error that I do not have `read:org` selected.  I noticed something though in the output.  Even though I have the `write:org` permission, it does not list the `read:org` permission because the write permission grants both.

[

[2021-02-16 02:51] kc9jud opened #2967 "Feature request: Offline mode"
### Describe the feature or problem you’d like to solve

One of the benefits of `git` is that developers do not need to be connected to the internet continuously in order to interact with the VCS system. It would be useful if this functionality were extended to things like issues and pull requests.

### Proposed solution

The essential functionality would consist of a pair of commands `offline`/`o

[2021-02-16 04:27] douglaslassance opened #2968 "Filter clone argument not supported"
Not sure if I am doing this wrong but `gh repo clone cli/cli -- --filter=blob:none --sparse` does not behave like `git clone https://github.com/cli/cli.git --filter=blob:none --sparse` .

[2021-02-16 04:38] alibyek opened #2970 "Readme.md"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-02-16 04:39] alibyek opened #2971 "Readme.md"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-02-16 04:39] alibyek opened #2972 "Readme.md"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-02-16 09:09] mmattel opened #2977 "Option to search for a branch name in command "gh pr list""
### Describe the feature or problem you’d like to solve

Using `gh pr list` you can add several option to filter for results.

This FR is about to add a new option like `-N --branchname` where you can limit the search for a branchname fully or partial entered.

### Proposed solution

When you have a list of all branches available, not all of them are in use anymore because the PR has been closed b

[2021-02-16 11:39] mislav commented on #2966
@gaelicWizard Thank you for reporting. We do use `open` by default on macOS. Do you have another default value for the BROWSER environment variable on your machine? Check with `echo $BROWSER`

[2021-02-16 11:43] mislav commented on #2960
Okay, thanks for checking. I suggest you use any mode installation other than Snap because its containment design simply doesn't work for apps like ours. Note that we don't publish a Snap officially, but 3rd-party snaps exist and we can't really stop them.

[2021-02-16 11:43] #2960 closed, assigned to nobody

[2021-02-16 11:45] mislav commented on #1941
@afmsavage You are absolutely right, thank you! I've opened a PR to fix gh to recognize that `write:org` includes `read:org`. I must admit, I did not know that about GitHub scopes before now.

[2021-02-16 11:49] mislav commented on #2977
@mmattel Thank you for the suggestion!

We already list branch names in the output. Is it an option for you to search that list using `grep`? E.g.

[code]

In the future, we are planning to add a `-H, --head` flag to search by exact branch name #641, but it's unlikely that it will search by partial branch name or pattern because our API doesn't allow partial matching.

[2021-02-16 11:52] mislav commented on #2968
@douglaslassance Thanks for reporting. Are you running a recent version of gh? Could you enable debug output with `DEBUG=1 gh repo clone ...` and see which exact git command gets run as a result?

[2021-02-16 11:54] mislav commented on #2964
Thank you. This all makes sense to me.

Yeah, this is a known long-standing GitHub bug. I'd rather that this didn't happen, but even while it does, you are right that we can use the `untagged-*` name to identify draft releases. 👍

[2021-02-16 13:33] g14a commented on #2966
I have Firefox installed in my macOS and made it my default browser. `gh auth login` works properly and it opens in Firefox.

[2021-02-16 13:34] Fahad43362 opened #2978 "Thank you. This all makes sense to me."
Thank you. This all makes sense to me.

Yeah, this is a known long-standing GitHub bug. I'd rather that this didn't happen, but even while it does, you are right that we can use the `untagged-*` name to identify draft releases. 👍

_Originally posted by @mislav in https://github.com/cli/cli/issues/2964#issuecomment-779788857_

[2021-02-16 13:34] #2978 closed, assigned to nobody

[2021-02-16 13:47] jwodder opened #2979 "`pr create` push detection should work in repositories that are tracking only a single branch"
I have a shell script that is run as part of a GitHub Actions workflow that, on occasion, clones a repository, creates, commits to, and pushes a branch, and then creates (or at least tries to) a pull request for the branch using `gh pr create`.  However, `gh` is failing with "aborted: you must first push the current branch to a remote, or use the --head flag" despite the fact that the command imme

[2021-02-16 15:07] mislav commented on #2979
Thanks for reporting!

1. After you push the branch, is the remote-tracking branch created? Check with `cat .git/refs/remotes/origin/<branch-name>`
2. Do you have multiple git remotes in this repository?
3. Is your gh up-to-date?

[2021-02-16 15:10] TomerFi commented on #2954
BTW when creating a PR from a branch that has only 1 commit,
the title offered by `gh pr create` is the commit message.
(instead of the branch name for branches with multiple commits).

Which is great!
:-)

[2021-02-16 15:10] jwodder commented on #2979
@mislav

1. I can't check now, but I assume that the remote tracking branch is created when using `git push` with the `-u` option
2. No.
3. It's whatever version is currently on the Github Actions `ubuntu-latest` (18.04.5) image (According to [this page](https://github.com/actions/virtual-environments/blob/ubuntu18/20210208.0/images/linux/Ubuntu1804-README.md), version 1.5.0).

[2021-02-16 15:30] jwodder commented on #2979
@mislav OK, I set up [this workflow](https://github.com/jwodder/make-pr-test/blob/4fdf32684a672d9f21ffab479d4152a5c08099a2/.github/workflows/make-script-checkout.yml) as an MVCE.  [The run fails](https://github.com/jwodder/make-pr-test/runs/1911710304?check_suite_focus=true) on your `cat` command, so apparently the remote tracking branch is not getting created.  That is not how I understand Git to

[2021-02-16 15:38] g14a commented on #2903
I'd like to work on this if anyone isn't already. Can someone assign it to me? @mislav

[2021-02-16 15:57] mmattel commented on #2977
grep is not an option. imagine a huge list of closed pr‘s where you would need to get the complete bunch first (or cycle thru it) to get your hit as it maybe at the end.

[2021-02-16 16:28] ktowen opened #2981 "Option to edit the data before submit PR or issue"
### Describe the feature or problem you’d like to solve

Sometimes I forget to add some metadata or I add something wrong and the only options I have at the end is to cancel and lose all the data or to submit the issue/pr with errors and correct it.

### Proposed solution

Users would be able to correct errors in issues/pr before submit.

### Additional context

![image](https://user-images.github

[2021-02-16 16:29] mislav commented on #2981
Thank you! Duplicate of https://github.com/cli/cli/issues/1531

[2021-02-16 16:29] #2981 closed, assigned to nobody

[2021-02-16 18:39] theintergalacticat commented on #2964
Good to know, thank you.

[2021-02-16 18:50] #2945 closed, assigned to nobody

[2021-02-16 19:12] vilmibm commented on #2977
A good idea and afaict it's already captured in #641, so I'm closing this one.

(and NB, I use an alias for this: `gh pr list -L300 | grep` which is inelegant but functional)

[2021-02-16 19:12] #2977 closed, assigned to nobody

[2021-02-16 19:16] vilmibm commented on #2967
Thanks for the suggestion!

I think this is a fascinating idea but one that would add significant complexity to `gh` for a usecase that I instinctively think won't see a lot of adoption. I don't like that the world expects us to be "always online" but in the end we wrap github.com , something that currently requires constant connection to work with.

I'm going to leave this open for folks to react

[2021-02-16 19:23] i300220 opened #2983 "one more CLI mysterious error"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.
gh version 1.5.0 (2021-01-21)

**Command attempted:**

gh repo clone i300220/buildteam

**What happened:**

Welcome to GitHub CLI!

To authenticate, please run `gh auth login`.
$ gh auth login
? What account do you want to log into? GitHub.com
? How would you like to authenticate? Pa

[2021-02-16 20:03] douglaslassance commented on #2968
Thanks @mislav. The version I use is `gh version 1.5.0 (2021-01-21)` on Windows 10, that being said I just realized that the example using `cli/cli` does not behave differently. This is something only happening with my private repo. I think I should investigate a little further. Feel free to close this issue. If needed, I will post a more precise one when I have a clearer idea of what is happening

[2021-02-16 20:34] luckman212 opened #2984 "console output sent to stderr when it should be stdout"
### Describe the bug

non-error console output is being routed to `/dev/stderr`
e.g. the phrase `Cloning into 'foo-bar'...`
This causes issues with scripts/automations that expect text arriving on stderr is an error condition.

[code]

### Steps to reproduce the behavior

Type these lines in a bash terminal:

[code]

### Expected vs actual behavior

Expected:
[code]
Actual:
[code]
The "Cloning..."

[2021-02-16 22:08] vilmibm commented on #2903
Thanks for opening this!

I'd like this work to be adding a new flag to `gh edit` called `--add`; eg:

[code]

that can be invoked multiple times to add files to a gist.

Assigning this to @g14a . Let me know if you have questions on the implementation.

[2021-02-16 22:13] vilmibm commented on #2906
I'm not certain this should be the responsibility of `gh` but will happily leave this open for further discussion / upvotes.

[2021-02-16 22:26] vilmibm commented on #2946
A local git repository might be aware of several remote repositories. The word "base" here is denoting which of N remote repositories should be considered the source of truth on GitHub for querying issues and pull requests.

[2021-02-16 22:30] vilmibm commented on #2964
supporting the `untagged-*` approach makes sense to me :+1:

[2021-02-16 22:33] vilmibm commented on #2983
Hi,

This _appears_ to be functioning as normal. Did you confirm that the token you generated indeed does have `read:org` scope? Does `gh auth login` work with the web-based flow?

[2021-02-16 22:38] vilmibm commented on #2984
Thanks for the detailed issue.

I at one point made the decision to do this and in retrospect it was the wrong decision; It'd be great to do a consistency sweep for this and ensure only error-y text is going to stderr.

[2021-02-16 23:11] vilmibm commented on #2968
Thanks for the follow-up!

[2021-02-16 23:11] #2968 closed, assigned to nobody

[2021-02-16 23:30] i300220 commented on #2983
Hi Nate,

I have no idea what you're talking about.
I followed instructions provided in this thread - [GitHub Support] Confirmation - Request Received (#994456)
which took days to complete and apparently nothing's fixed yet.

I'm not a git/gh/hub/github specialist so you need to talk to me like I were a 5 years old kid or a dog
(borrowed that in a movie, not sure which one though)

Github desktop

[2021-02-17 01:27] i300220 commented on #2983
Hi again Nate,

Seems fixed.  I went back to the token link, generated a new token, enabled every option and deleted the token generated last week.

~$ gh auth login
? What account do you want to log into? GitHub.com
? How would you like to authenticate? Paste an authentication token

Tip: you can generate a Personal Access Token here https://github.com/settings/tokens
The minimum required scopes

[2021-02-17 01:27] #2983 closed, assigned to nobody

[2021-02-17 03:03] gaelicWizard commented on #2966
@mislav I have embarrassed myself! Thanks for being kind. 😃

[2021-02-17 03:03] #2966 closed, assigned to nobody

[2021-02-17 04:10] g14a commented on #2903
Thank you @vilmibm Do we give a choice to the user to

1. Open new files and add them to the gist
2. Add existing files in the current working directory?

[2021-02-17 06:36] vilmibm commented on #2903
To keep things simple for now I think adding files one by one via an absolute or relative path is best.

[2021-02-17 06:38] g14a commented on #2903
Is it alright if I already added support for creating new files? Because I did. I think its okay if the user has both the options don't you think?

[2021-02-17 11:23] mislav commented on #2979
@jwodder Thank you for checking! I will reopen this and keep it filed as a bug report because I believe that ideally, `pr create` should work even in repositories that were cloned with `--depth 1` or are tracking just a single branch.

[2021-02-17 12:25] viliam-durina commented on #2661
Thankfully google took me here so this issue already acts as a FAQ entry.

[2021-02-17 14:07] andysanders commented on #419
Hey Guys.

What's the latest on this one?  It would be super helpful for all sorts of planning exercises.
Our use case is similar to the original enquirer.  But ticket type rather than team.
e.g. Priority: High, Medium, Low
Type: Bug, Enhancement, Help

I have a team focused on all High Priority Bugs.  So being able to search for issues with labels 'Bug' **AND** 'High Priority' would be super help

[2021-02-17 15:58] #2619 closed, assigned to samcoe

[2021-02-17 16:07] #2627 closed, assigned to nobody

[2021-02-17 16:26] mgabeler-lee-6rs commented on #1023
I don't agree that #2980 resolves this

#2980 only permits editing the _body_, not the first line of the message. It has some internal code for setting the "headline", but no ability to invoke that code from the CLI AFAICT:
Compare:
* https://github.com/cli/cli/pull/2980/files#diff-a012650b1307d4d12f6cf0d8556cf4f1165ad55a41e727559c703a89ab7aa452R27-R28
* vs: https://github.com/cli/cli/pull/2980/fi

[2021-02-17 16:59] #875 closed

[2021-02-17 16:59] #2361 closed, assigned to nobody

[2021-02-17 18:26] vilmibm commented on #2889
hi @polatengin because of the level of design iteration still needed we're keeping all the actions work internal for now. thank you for offering though!

[2021-02-17 18:33] #2904 closed, assigned to vilmibm

[2021-02-17 19:37] mislav commented on #2984
@luckman212 Thanks for reporting, but it is git that writes the `Cloning into…` line to stderr. The `gh repo clone` command is just a simple wrapper for `git clone`.

You may pass the `--quiet` flag to disable all clone output: `gh repo clone myrepo -- --quiet`

[2021-02-17 19:37] #2984 closed, assigned to nobody

[2021-02-17 19:47] jetersen commented on #2904
@vilmibm and @mislav thanks for restoring behavior. That's awesome 😎 🚀 :shipit:

[2021-02-17 19:52] luckman212 commented on #2984
@mislav I see. Hmm. Seems a strange design decision for `git` to behave this way, but I wouldn't dare question @torvalds. I found some relevant SO threads:

- [git stderr output can't pipe - Stack Overflow](https://stackoverflow.com/questions/4062862/git-stderr-output-cant-pipe)
- [Stop git from writing non-errors to stderr - Stack Overflow](https://stackoverflow.com/questions/57016157/stop-git-fr

[2021-02-18 05:49] linehammer commented on #1575
This problem might be caused by the Apache limits the set a size of a client’s HTTP request-line  and the HTTP request header field size.  Extremely long URLs are usually a mistake. If you keep URLs under 2000 characters , they'll work in virtually any combination of client and server software. URI actually have a character limit depending on several things. Chrome limits [url length](http://net-i

[2021-02-18 07:01] olzhasar opened #2992 "Autocomplete for base branches upon creating a pull request"
A lot of times, I use `gh pr create` for creating a pull request from the current branch.

The problem is, when I want to specify a base branch for the pr that is different than master, I must type it manually and there is no autocomplete provided.
It will be super useful to be able to press tab and see all available branches just as git does.

[2021-02-18 10:01] inside opened #2993 "Github Enterprise, GraphQL error: Field 'branchProtectionRule' doesn't exist on type 'Ref'"
### Describe the bug

When doing `gh pr status` along with GitHub Enterprise, I get an error.
It was working with gh version 1.5.0.

This is the version where the error occurs:
[code]

### Steps to reproduce the behavior

1. Type this: `gh pr status`
2. View the output: there's only an error
3. See error:
[code]

### Expected vs actual behavior

I expect the status of relevant PRs to show up

[2021-02-18 11:02] eacp opened #2994 "Use the new Go Embed package to embed License templates, in order to allow license and .gitignore generation"
### Describe the feature or problem you’d like to solve

Currently the CLI only starts repos, and does not populate them with initial conent, unlike the Github website where you can start projects with a LICENSE file and a .gitignore file.

### Proposed solution

The new version of Go, Go 1.16, allows embeding files in the executabe itself, by using the `embed` package. It also provides the
`embed

[2021-02-18 11:53] g14a commented on #2903
@vilmibm I've added support for adding files with absolute path, relative path and new files as well. Do you want me to raise a PR so I can get some feedback on it?

[2021-02-18 11:59] mislav commented on #2993
@inside Thank you for reporting! Which is your GitHub enterprise version?

Ref. https://github.com/cli/cli/pull/2988

[2021-02-18 12:03] mislav commented on #2994
Thank you for the suggestion! The Go 1.16 embed feature is really great and I've been wanting to take advantage of it. But, our project is still compatible with Go 1.13 and I'm not sure if it's worth requiring the newest version of Go just yet.

I'm going to close this one as duplicates of https://github.com/cli/cli/issues/871 https://github.com/cli/cli/issues/1907

[2021-02-18 12:03] #2994 closed, assigned to nobody

[2021-02-18 12:31] inside commented on #2993
It's in your mailbox :-)

[2021-02-18 12:50] eacp commented on #2184
@ampinsk @mislav would it be ok to encapsulate [the functionallity explained in this comment](https://github.com/cli/cli/issues/2184#issuecomment-756269871) by creating a subcommand? like `gh repo license`?

[2021-02-18 13:35] mislav opened #2995 "Git credential helper error with Homebrew"
After using `gh auth login` and choosing HTTPS mode to authenticate git with GitHub, `brew update` prints this warning:
[code]
This is because gh sets this up in the global gitconfig:
[code]
The `gh` binary is to be found in `/usr/local/bin/gh` when installed with Homebrew. However, when running `brew` commands, the PATH [does not include `/usr/local/bin`](https://github.com/Homebrew/brew/blob/53d

[2021-02-18 14:53] vilmibm commented on #2903
sure, open a pr.

[2021-02-18 15:00] timneutkens commented on #2189
Just to verify what @sw-yx said with regards to `git push`:

I'm trying out `gh` as a replacement for `hub` as well for Next.js maintenance and found the missing remote to be confusing (obviously comparing to my previous workflow) but after reading the comments here I've verified `git push` pushed to the correct repo.

[2021-02-18 15:35] agneevX commented on #1960
@scotstan would love if it if you could share your bash `PS1`. Thanks.

[2021-02-18 16:20] scottstanfield commented on #1960
@agneevX it's from Powershell10k.
https://github.com/romkatv/powerlevel10k

I love it.

[2021-02-18 17:02] g14a commented on #2903
@vilmibm here it is. https://github.com/cli/cli/pull/2997

[2021-02-18 18:41] #2993 closed, assigned to nobody

[2021-02-18 19:33] zambonin opened #2998 "Gist creation mangles binary files"
### Describe the bug

Creating a Gist using the `gh` command-line interface does not preserve the
contents of binary files.

[code]

### Steps to reproduce the behavior

Create a Gist with a binary file using `gh gist create /path/to/binary-file`.
I have successfully reproduced this behaviour with JPG and PDF files.
Flags that you can pass to `gh gist create` do not matter, nor using
`gh gist crea

[2021-02-18 20:38] vilmibm commented on #2995
Am I reading this correctly that our tool is effectively breaking brew for users who select https auth? I'm confused why this isn't a more urgent issue.

[2021-02-18 21:42] dgreene1 commented on #2410
This took a very long time to find through various google and github searches. I'd be happy to update the readme to mention this if the PR would be accepted?

[2021-02-18 22:25] vilmibm opened #2999 "interactive select in gist view"
I'd like `gist view` (no arguments) to open a selectable list of the user's most recent 10 gists to avoid the `gist list`, copy, `gist view <pasted id>` flow.

[2021-02-19 07:53] fmarcosh opened #3001 "Unable to find remote helper for 'https'"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-02-19 07:55] #3001 closed, assigned to nobody

[2021-02-19 09:12] inside commented on #2993
Awesome it's working again with gh v1.6.1, Thank you! :+1:

[2021-02-19 09:33] mislav commented on #2995
This would have been more serious were Homebrew updating actually broken. However:

1. Since homebrew repositories are public on GitHub, reading from them does not require valid credentials. Thus the error when obtaining credentials from `gh` is merely a warning.
2. Global git settings on macOS include `credential.helper=osxkeychain`. After gh adds itself as a credential helper for github.com, the

[2021-02-19 09:38] mislav commented on #2992
Good idea!

Ref. #360

[2021-02-19 11:06] mislav commented on #2998
Since the gists API payload only accepts JSON, and I don't think it accepts base64-encoded files, I think that it's impossible to use the API to add or modify binary files. We should halt with a descriptive error when someone tries to upload a binary file, and when viewing a gist we should avoid printing binary content to stdout.

[2021-02-19 12:38] mrolli commented on #838
I just stumbled upon this issue as well. As this seems not to be solved, what are the plans for this "feature/bug"? Or is this already available and I'm blind to see/find it?

For me even another/alternative way to have some sort of "global templates" would to be have an equivalent to ~/.gitmessage, e.g. checking for ~/.github, which in turn could be a clone of an arbitrary community health files

[2021-02-19 13:38] aravindvnair99 commented on #703
Continues in `v1.6.1` as well.

[2021-02-19 15:40] jherland opened #3002 "Make `pr create` friendlier to wrapper scripts"
### Describe the feature or problem you’d like to solve

We write scripts that wrap and extend `gh pr create`, but it is hard to do so correctly when `gh pr create` does not signal clearly if a PR was in fact created, or what the resulting PR number is. (We do not redirect stdio as we want to preserve the interactivity of `gh`.)

1. If you select `Cancel` in `gh pr create`, the program will still

[2021-02-19 16:08] zambonin commented on #2998
It would be a nice addition for the API to accept base64-encoded files, but I believe that's outside the scope of this issue.

In addition, `gh gist edit` could print a warning about editing binary files or refuse to do it at all.

[2021-02-19 16:40] vilmibm commented on #2995
ahh, thanks for the thorough explanation.

[2021-02-19 17:56] vilmibm commented on #3002
Can you say more about your wrapper script? Are you embedding the interactive flow of `pr create` in a larger, custom interactive interface?

Our interactive flows are not designed to be scripted and we guarantee no consistency around how they'd function in a wrapped context, so even if we made a wrapper script like this work today there's no guarantee we wouldn't break it in a future. That said,

[2021-02-19 18:04] vilmibm commented on #2410
@dgreene1 I'd welcome that PR. I think it's worthy of calling out in our README.

[2021-02-19 19:22] jherland commented on #3002
As part of a legacy codebase that we recently migrated to a GHE instance, we have existing practices and workflows that we're currently adapting to the GitHub way of life. The script in question is simply called `review`, and is used to initiate a code review. In GitHub this takes the form of creating a PR and informing interested parties.

For now the script simply calls `gh pr create` as a subpr

[2021-02-19 20:24] austince opened #3003 "Make `pr edit` dynamically look up PR based on current branch"
### Describe the feature or problem you’d like to solve

The newly released `gh pr edit` command requires passing the PR number. This conflicts with the UX of other `pr` commands, like `gh pr view`, which finds related PRs for the current branch.

### Proposed solution

Make `gh pr edit` lookup the PR for the current branch, and only require an explicit argument if none is found. This would unify

[2021-02-19 20:42] billygriffin commented on #3003
Thanks @austince, we agree! We're going to take a look at this and other potential areas of PR commands that may also be inconsistent. Thanks again for the issue. ❤️

[2021-02-20 05:43] stuartro commented on #642
I too am—eagerly—awaiting `--list`

[2021-02-21 13:40] babyimsmart opened #3004 "D8:A7:56:8C:6F:02"
[D8:A7:56:8C:6F:02]()

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. 255.255.255.0
Paste the activity from your command line. Redact if needed.

[2021-02-21 17:06] #3004 closed, assigned to nobody

[2021-02-21 17:17] White66778 commented on #3004
255.255.255.0

[2021-02-22 05:57] achimnol commented on #1023
It is great to heart that this feature is finally implemented.
However, I just faced a caveat: editing the commit message is only prompted when `pr merge` is executed in the **interactive** mode ONLY, meaning that `pr merge --squash` still does not have chances to change the commit message interactively.
I think this is an acceptable complexity trade-off for handling scripted usage and interactive

[2021-02-22 06:30] g34dirty4 opened #3005 "Report a bug or unexpected behavior"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-02-22 09:20] tchaton opened #3006 "[Feat] gh pr view"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

Dear people from Github,

Currently, we are facing an issue we think could be resolved with a new feature on gh cli.

We are using code-owners. Some contributors have limited time to review PRs and don't want to lose time looking for which PR they are blocking as

<img width

[2021-02-22 11:53] g14a commented on #2999
@vilmibm I'd like to pick this up. Can you assign it to me if someone isn't already working on it?

[2021-02-22 12:05] tommyjons opened #3007 "Help_with_pypth"

[2021-02-22 12:41] mislav commented on #3006
That's an interesting idea! Could you tell us more about what kind of data would you specifically want `pr view` to return, perhaps with examples? And, whether this data would be meant for human consumption (normal `pr view` terminal output) or for scripts?

[2021-02-22 12:41] #3007 closed

[2021-02-22 12:44] #3005 closed, assigned to nobody

[2021-02-22 13:00] ganboonhong commented on #2999
Hi @g14a, sorry for interrupting. Actually, I'm working  on this (still need to add some tests) but forgot to leave a comment here. Do you mind if I continue?

[2021-02-22 13:13] mislav commented on #703
Thanks for reporting, all. This is still an ongoing issue, as evident by this ticket still being open. We appreciate your patience while we address this.

[2021-02-22 13:32] g14a commented on #2999
Oh no problem. Please continue. Good luck! :)

[2021-02-22 16:55] lawrencegripper commented on #2889
@vilmibm will there be a way to get to the status/logs from the existing `gh pr` commands?

9/10 times I'm looking for the actions run related to a PR and want to follow the logs/status as it runs to know my PRs good to go.

Ideally I'd love to run `gh pr actions --wait --tail` of similar and have it pickup the current PR based on the branch then go find the action and give a `tail` style output f

[2021-02-22 17:52] vilmibm commented on #2889
@lawrencegripper Awesome suggestion, thanks for bringing this up! We were hoping to add behavior like this to the existing `gh pr checks`, what do you think about that?

[2021-02-22 18:49] lawrencegripper commented on #2889
Yup sounds great to me!

[2021-02-22 20:57] zackcornelius opened #3013 "Make `gh pr edit` able to change the base branch"
### Describe the feature or problem you’d like to solve

We're able to change the base branch of a PR with the web UI, and the API, just not with gh. Would like to add a --base flag to `gh pr edit`

### Proposed solution

Add --base flag to `gh pr edit`, which uses the base field on the PATCH call for the PR

### Additional context

https://docs.github.com/en/rest/reference/pulls#update-a-pull-req

[2021-02-22 21:09] stickycode opened #3014 "gh auth login fails from 1.6.0 to GHE < 3"
### Describe the bug

gh auth login fails with an auth required error when trying to add a new auth to a GHE instance of version < 3.0.0

[code]

### Steps to reproduce the behavior

1. gh auth login
2. enter enterprise domain
3. choose to authenticate or not makes no difference
4. choose https or ssh makes no difference
5. choose paste token
6. Paste a valid token (that can be used from gh 1.2.0

[2021-02-22 21:13] vilmibm commented on #3014
Sorry about this. If you don't mind reproducing it will help us get to the bottom of this faster to have whatever error output you saw.

[2021-02-22 21:20] stickycode commented on #3014
[code]

Notes:
1. I can't see the workflow scope in GHE < 3
2. With 1.6.0 the process was slightly different than with 1.6.1, i.e. it asked if I wanted to authenticate

[2021-02-22 21:22] stickycode commented on #3014
Actually 1.6.0 and 1.6.1 are exactly the same

1.5.0 just works

[2021-02-22 21:51] samcoe commented on #3013
@zackcornelius I agree that this would be a great improvement for `pr edit`. We are open to a pull request that add this feature.

[2021-02-22 22:05] jglick commented on #847
After #2982 revised my workaround https://github.com/cli/cli/issues/847#issuecomment-689049145 to be similar to https://github.com/cli/cli/issues/847#issuecomment-764745730:

[code]

[2021-02-23 00:43] GMNGeoffrey opened #3015 "Accept multiple arguments to do a delete/close operation on"
### Describe the feature or problem you’d like to solve

The current `gh gist delete` command only supports deleting a single gist. In fact, it's even worse because if you give it multiple gist IDs it just ignores all but the first one

### Proposed solution

`gh gist delete 1234 abcd` should delete gists `1234` and `abcd`. This allows processing gists more quickly.

[2021-02-23 06:26] Iixixi opened #3017 "::##://Run://Build://Script://></build>[18500000.00 ] '{'{((c)(r))'}'}::Automate::trsts'pass'?''trie'::Build::iixixi/iixixi.xnlvx::,Automerge::'xth.pdf export</build>"
::##://Run://Build://Script://></build>[18500000.00 ] '{'{((c)(r))'}'}::Automate::trsts'pass'?''trie'::Build::iixixi/iixixi.xnlvx::,Automerge::'xth.pdf export</build>

_Originally posted by @Iixixi in https://github.com/cli/cli/issues/3016#issuecomment-783942933_

[2021-02-23 10:26] ganboonhong commented on #3013
hi @samcoe I'd like to work on this. Could you please assign this to me? Thanks!

[2021-02-23 10:34] #3014 closed, assigned to nobody

[2021-02-23 11:59] g14a commented on #3015
I'd like to pick this up. @mislav can you assign this to me if you think this is do-able?

[2021-02-23 13:21] mislav commented on #3015
@GMNGeoffrey Thank you for the feature request! I think passing multiple gist IDs to delete is a very specific feature that probably wouldn't see much use. Instead, the user is able to perform a loop in their own shell:

[code]

Or, for example, to delete your last 10 private gists:
[code]

Since all this is already available, I don't think it's worth adding multi-gist delete.

That's definitely a

[2021-02-23 13:42] g14a commented on #3015
Thank you @mislav I'll look into this.

[2021-02-23 14:52] g14a commented on #3015
@mislav here's the PR. https://github.com/cli/cli/pull/3021

[2021-02-23 15:32] #2708 closed, assigned to nobody

[2021-02-23 16:06] pataquets commented on #1303
Same here. In my usage case, I've tried to define `gh issue mine` as `issue list --author pataquets`﻿. Ended up implementing it as `issue.mine`, but supporting deeper aliases would open some meaningful shortcuts for common switches as described.
@mislav: I would like to ask this issue to be left open to keep track of it, in case sometime in the future it could be implemented, although I understand

[2021-02-23 16:20] mislav commented on #3002
Thank you for raising these issues!

This must have been an oversight. I have opened a PR to exit with a nonzero status instead.

Yeah, something like this could be a solution.

The command does print the URL to stdout, but it's a shame that redirecting output to a file or a script essentially opts you out from having an interactive experience (such as prompts) or the ability to open a nested inst

[2021-02-23 17:37] pataquets commented on #641
Would love to be able to query all my issue and prs globally instead of scoped to a single repo, as done via the top navbar in the web. (#277 #974 #1119)

[2021-02-23 17:37] 1MillionTest opened #3025 "lol"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-02-23 17:39] #3025 closed

[2021-02-23 18:13] pataquets opened #3026 "'gh issue view' ignores NO_COLOR environment variable"
### Describe the bug

Version: 1.6.2.

### Steps to reproduce the behavior

1. `NO_COLOR=1 gh issue view 1`
2. Issue 1 is displayed using colors.

### Expected vs actual behavior

No colored output expected, as done in `gh issue list`.

[2021-02-23 18:30] mislav commented on #3026
@pataquets Do you by any chance have `CLICOLOR_FORCE=1` set in your environment? That's the only thing that could override NO_COLOR, I think

[2021-02-23 18:45] pataquets commented on #3026
Double checked it and it is not set. Also happens both with and without `--comments`﻿ switch.

[2021-02-23 18:47] pataquets commented on #3026
Term-related environment variables:
[code]

[2021-02-23 19:15] mislav commented on #1303
That's a good point! Reopening

[2021-02-23 19:58] GMNGeoffrey commented on #3015
I mean all those arguments also apply to the `rm` command, but it nevertheless accepts multiple arguments

[2021-02-23 20:03] mislav commented on #3026
@pataquets That's so weird! I cannot reproduce:
<img width="775" alt="Screen Shot 2021-02-23 at 21 01 49" src="https://user-images.githubusercontent.com/887/108900842-69221280-761a-11eb-96cd-b8256f99420d.png">

Do you have a PAGER set in your environment?

Could you try alternatively setting `CLICOLOR=0`?

Could you send us a screenshot of `NO_COLOR=1 gh issue view https://github.com/cli/cli/issue

[2021-02-23 20:28] mislav commented on #3015
@GMNGeoffrey Sure, that's a valid point, but `rm` command was designed to be more versatile and to work on sets of files in its most common mode of use. We never designed any gh commands to work of sets of data. We experimented once with how that might look like https://github.com/cli/cli/pull/831, but for now we're limiting ourselves to one operation at a time for simplicity.

If we've made `gh g

[2021-02-23 20:39] GMNGeoffrey commented on #3015
Fair enough :-) One data point: literally my only usage of it so far has been because I wanted to delete multiple gists at once (that's why I was on the command line).

[2021-02-23 21:15] Fahad43362 opened #3030 "1. I feel that it might be clearer what "target" was if we say "push target""
1. I feel that it might be clearer what "target" was if we say "push target"
2. I wonder if we can find alternatives to `remote/branch` format of the argument. Neither git nor GitHub use that format anywhere; and GitHub web/API uses `owner:branch` whenever it needs to specify the "remote" explicitly. Furthermore, `remote/branch` might look weird when the branch name itself has slashes.

   Is it n

[2021-02-23 21:17] #3030 closed, assigned to nobody

[2021-02-24 02:27] tzing opened #3031 "`gh pr merge` panic for enterprise 2.20"
### Describe the bug

gh version: 1.6.2
server: enterprise 2.20

I recently upgrade my tool from 1.5.0 to 1.6.x but fount `gr pr merge` would crash.
Fix in ver.1.6.1 does not help on this issue.

I couldn't find similar issue to this, will close this one if there is any duplicates.

### Steps to reproduce the behavior

type `gh pr merge` in a branch that should have match all criteria and could be

[2021-02-24 05:24] mrolli opened #3032 "Wrong git author when merging a pull request using gh"
### Describe the bug

I fell in love with your cli tool It's bodacious and speeds up the workflow tremendously!

When using gh to merge a pull request using `gh pr merge <no>` and requesting a merge commit, the merge commit was not carried out with the commit author set in .git/config of the working copy where the merge happens. Which git author settings (user.name/user.email) are actually taken w

[2021-02-24 05:50] mrolli commented on #3032
Ok I was able to verify the open question when merging another branch. gh uses the primary address of the github account to create the merge commit when merging the pull request. IMHO this should not be the case if there is a .github/config in the current working copy. Then this email.name/email.user pair should take precedence.

[2021-02-24 09:28] jherland commented on #3002
Thank you for handling them! 😄

Perfect.

Brilliant. Thanks for the workaround.

[2021-02-24 11:03] g14a commented on #2998
@mislav I'd like to pick this up since it looks like no one is assigned. Could you assign this to me?

[2021-02-24 12:16] mislav commented on #2998
@g14a Go right ahead! Thank you 🙇

[2021-02-24 13:06] booski360 opened #3034 "New Argument Tab v0.0.0"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-02-24 14:10] mislav commented on #3031
Thank you for reporting! Thanks to this, we've already got a fix under way.

I suspect this only happens when trying to merge some PRs, but not others?

[2021-02-24 14:11] #3034 closed

[2021-02-24 14:33] mislav commented on #3032
Thanks for the suggestion! Right now it's not possible to change the author when using `pr merge`, but we might make it possible in the future: https://github.com/cli/cli/issues/1450

[2021-02-24 14:33] #3032 closed, assigned to nobody

[2021-02-24 14:33] mislav commented on #1450
Adding an idea by @mrolli: the value of `git config user.email` should be used as the default author email for the merge commit.

[2021-02-24 14:57] #3013 closed, assigned to ganboonhong

[2021-02-24 15:02] mislav opened #3037 "Accessing draft releases is not possible using GITHUB_TOKEN in Actions"
Reported by @simonbrunel in https://github.com/cli/cli/discussions/3029#discussioncomment-399296

To find a draft release by its tag name, we have to iterate through all releases and look into the draft ones, since there is no API endpoint to directly fetch a draft release. To avoid doing this unnecessarily when a release isn't a draft, we first check whether the viewer has write access to the rep

[2021-02-24 15:55] mislav commented on #385
@schmurfy @joe-sharp The next release will be geared mostly towards more features for scripting. Stay tuned!

Anything that we publish as output from any `gh` command automatically becomes the API of GitHub CLI. The bigger any API is, the harder it is to maintain. We couldn't just publish JSON output from every command because, that early on, we couldn't also guarantee that we wouldn't have to cha

[2021-02-24 16:37] tzing commented on #3031
In my case, all PR merges failed.
However, I do not have admin permission on those repos. They are owned by my team.
Perhaps privilege matters?

[2021-02-24 19:21] mislav commented on #3031
@tzing Gotcha.

If you have Go installed, you might help us by testing out the fix. Simply clone our repository, do `gh pr checkout 3036 && make`, then run `bin/gh pr merge https://example.com/owner/repo/pull/123`

[2021-02-25 04:56] g14a commented on #2998
@mislav If a gist has multiple files and one of the files is a binary, and the user just tries to `gh gist view <id>`, do we just block the binary and render the rest of the files or halt the operation altogether? Need some input from you.

[2021-02-25 07:07] shawnps opened #3038 "Notarize binary for macOS users"
### Describe the feature or problem you’d like to solve

When extracting the tarball on macOS and running the `gh` binary, a security notification pops up.

### Proposed solution

Notarize the binary with an Apple Developer certificate, using a tool like [gon](https://github.com/mitchellh/gon).

### Additional context

[Instructions exist](https://github.com/mitchellh/gon#usage-with-goreleaser) fo

[2021-02-25 12:48] mislav opened #3039 "Avoid persisting the choice of base repository if the command was aborted"
_Originally posted by @henryiii in https://github.com/cli/cli/issues/2300#issuecomment-768748312_

Ref. https://github.com/cli/cli/issues/2300

[2021-02-25 12:53] mislav commented on #2998
@g14a Let's render all non-binary files, and for binary files let's render the file header and a notice like “(Skipping rendering binary content)”

If the user chose to view a specific file, and that file happens to be binary, the command should be aborted with an error such as “Error: file contents is binary”.

[2021-02-25 13:34] g14a commented on #2998
got it thanks

[2021-02-25 17:45] ryanking opened #3040 "`gh pr checks` does not show all checks if n > 100"
### Describe the bug

For a repo where we run > 100 checks on each PR, `gh pr checks` will only show 100.

### Steps to reproduce the behavior

1. run a PR with > 100 checks
2. run `gh pr checks` in the working directory

### Expected vs actual behavior

I would expect that the tool would list all checks, regardless of the number.

### Logs

n/a

[2021-02-26 01:45] tjgurwara99 opened #3041 "feat: Add a command for retrieving the details of the most recent issue/pr submitted"
### Describe the feature or problem you’d like to solve

The gh cli tool currently doesn't have the capability of retrieving the details of the most recent pr/issue.

### Proposed solution

We can add a new sub command for both `gh pr` and `gh issue` - say we call this `recent` which should return the details of the most recent issue/pr.

How will it benefit CLI and its users?

Many people use Git

[2021-02-26 05:12] g14a commented on #2998
Morning! @mislav Here's the PR. https://github.com/cli/cli/pull/3042 Would like some feedback. Thank you :)

[2021-02-26 07:19] LagrangianLad commented on #3041
The idea of ​​the command is pretty good, I would at least use it. Good luck developing it in case the feature is accepted.

[2021-02-26 07:39] LagrangianLad opened #3043 "feat: Create a command to view the contribution graph from the terminal."
### Describe the feature or problem you’d like to solve
The other day I thought that a good command for this cli might be something like `gh graph`, its purpose would be to display an ANSCII representation of a user's contribution graph.

**A clear and concise description of what the feature or problem is.**
It would be nice to add a primarily "visual" command that displays information about a use

[2021-02-26 08:46] tzing commented on #3031
Hi @mislav
sorry for late reply. the provided pr fixes this issue. thanks!

[2021-02-26 10:20] mislav commented on #3041
@tjgurwara99 Thanks for the feature request!

I'm not sure if this would be very useful. We already have this:
[code]

Granted, it prints only one line about each issue/PR, but you can use the returned ID to pass it to `view`, and it sounds like you already do that in your bash script.

GitHub Actions have a trigger for running on every newly created issue or PR in a repository. The information ab

[2021-02-26 12:08] #3031 closed, assigned to nobody

[2021-02-26 12:35] tjgurwara99 commented on #3041
Ah I didn't know about these payloads for GitHub Actions. In that case GitHub Actions is not a good example of what I meant.

My concern was to make this work locally on the command line not on GitHub Action but it seems this way of going about it goes against the design philosophy of gh-cli.

For context: Consider someone using the systemd or cron tasks running locally on their machines and requi

[2021-02-26 16:23] mislav commented on #2995
Here is my comment!

[2021-02-26 16:30] meyerweb commented on #444
I could really use this for work on the Mozilla Developer Network (https://github.com/mdn/content), which can change a lot in a relatively small amount of time and require a delete-refork to get up to date.  The reason that becomes a problem is well described here: https://github.com/isaacs/github/issues/121#issuecomment-712534157.  An excerpt:

If I could just issue a command via the CLI to cause

[2021-02-26 16:36] g14a commented on #3043
Hi @pblcc this looks like a nice feature request. Actually I've implemented retrieval of contributions with the Github GraphQL API in another hobby project of mine at https://github.com/g14a/gitsee/blob/master/service/ghstats_service.go#L37 You can contact me via email if you want to know further. Good luck :)

[2021-02-26 18:29] thor174 opened #3046 "thor174"
Wg z gh feedback

[2021-02-26 18:31] #3003 closed, assigned to samcoe

[2021-02-26 18:45] mislav commented on #3040
Thank you for reporting!

Here is where we iterate over retrieved checks from the API https://github.com/cli/cli/blob/b205faa9412e2a18a79cd4a93cbe860b904e134b/pkg/cmd/pr/checks/checks.go#L118
and here is where we fetch them https://github.com/cli/cli/blob/dcff6c4f2d849733b35a8d331bb2ddd03f710429/api/queries_pr.go#L526

We cap them to a 100 results because that is the most that the API will serve t

[2021-02-26 19:19] skurhse commented on #2845
Bumping this; I had to find this thread to solve the problem.

[2021-02-26 20:46] billygriffin commented on #3003
@austince This change will ship in the next release! Thanks for bringing it to our attention so quickly!

[2021-02-26 21:47] LagrangianLad commented on #3043
Great implementation @g14a, If finally I (or anybody) this will be really useful. You have my star!

[2021-02-27 01:22] thor174 opened #3051 ".github/workflows/main.yml"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-02-27 12:53] Iixixi opened #3052 "Bitore"
###
'#Run://'script'ruby.yaml.gem.spec@Hello-world-fix-bug-commit:#42>gem.lock<keycutter.gem.spec><li>repository.lock<li>immersible/@iixixi/iixixi.readme.MD/tree/masterbranch/maintrunk/git.it.gists/secrets/Bitcoin'@iixixi'review'isnt'required'to'merge'this'pull'reqest,'solves'for'the'sum'of'all'given'argargument# your'implementation's'passages E=e=√mc²'=''bitcoin'paramaters'gists'=.s
gists'solve'f

[2021-02-27 13:49] #2903 closed, assigned to g14a

[2021-02-27 16:34] #642 closed

[2021-02-27 17:11] dardo82 commented on #2903
Thank you everyone that worked on this! Finally...

[2021-02-28 18:34] ahmadnassri commented on #2450
for those interested (and until this feature in considered / implemented), I have a simple shell script that does exactly this: https://gist.github.com/ahmadnassri/3416eedb503ac7805324c895eeed00e1

[2021-03-01 22:10] #2999 closed, assigned to ganboonhong

[2021-03-02 00:14] aidan-melen commented on #2930
@TekGadgt I am sorry to rehash this issue, but what was the `gh alias set` command that you used to set the multi-line alias script?

[2021-03-02 02:18] diminutivesloop commented on #3040
I’d be happy to take a look at fixing this. Is there a public repo with 100+ PR checks to test against or will I have to roll that myself?

[2021-03-02 04:15] TekGadgt commented on #2930
@aidan-melen I am pretty sure I set it manually in the config file.  I can. Double check tomorrow and let you know.

[2021-03-02 04:53] donaldkaiserjr opened #3062 "test"
### Describe the bug

My first attempt at using github from my local terminal. Test only.

[2021-03-02 04:53] #3062 closed, assigned to nobody

[2021-03-02 10:51] tomas1971 opened #3063 "Chrome"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-02 12:36] cristiand391 commented on #1588
This seems to be resolved by #2915.

[2021-03-02 13:37] msfjarvis commented on #595
The `--body-file` option is reasonable, but I feel the parallel from the Git CLI where `git commit -m "line 1" -m "line 2"` is a supported way of doing things is something that more users would find handy. To that end, I've put together a very rough PoC of how this could be done [here](https://msfjarvis.dev/g/cli/0d6bd4c3ed58). If the CLI team agrees with supporting this pattern, I'd love to start

[2021-03-02 14:08] mislav commented on #1588
True! Check out the new `gh issue edit --add-label` functionality.

[2021-03-02 14:08] #1588 closed, assigned to nobody

[2021-03-02 14:12] mislav commented on #595
@msfjarvis I like the ability for `git commit` to receive multiple `-m` flags and join them with an empty line, but I feel the feature doesn't fit well in GitHub CLI core. It would be tricky to explain in documentation and I don't think it would see much use. To keep things simple, we will stick to a single `--body` flag, with the addition of `--body-file` for scripting.

[2021-03-02 14:13] mislav commented on #3040
@diminutivesloop I don't think we will be able to find a public repo with 100+ checks, so it's best to simulate server responses via static HTTP stubs like we do in all our tests.

[2021-03-02 14:14] #2290 closed, assigned to nobody

[2021-03-02 14:16] mislav commented on #1913
Fixed in https://github.com/cli/cli/pull/2991/commits/a8fdd9a303526f2570da7969530e0dbd0d2ccb3f.

[2021-03-02 14:16] #1913 closed, assigned to nobody

[2021-03-02 14:32] johshoff commented on #1913
Awesome. Thanks!

[2021-03-02 15:03] mislav commented on #2184
@eacp Sorry for the late reply!

I think that adding a license and/or gitignore files via a specialized command is a good feature to have in general, not just while creating a new repository. But we need to discuss first with the team to see if we want to greenlight the feature. We'll update the thread(s) when we decide that this is something we want in core.

Thank you for the feedback!

[2021-03-02 15:45] mislav commented on #3041
Thank you for elaborating. Until a really compelling use-case is suggested for `latest`, I'm going to close this issue in favor of using `gh issue list -L1` and combing that with other gh commands that are currently at your disposal.

[2021-03-02 15:45] #3041 closed, assigned to nobody

[2021-03-02 19:29] mislav commented on #838
@mrolli Sorry; we are still working on providing a GitHub API for this. The API for Issue templates has already shipped and `gh issue create` uses it since v1.6, but that does not include pull requests, so we're limited to looking up PR templates on disk as before.

[2021-03-02 21:36] billygriffin opened #3065 "Set up integration testing"
We've had a few examples where a lack of integration testing has led to regressions and generally gives us less confidence in our ability to refactor code without breaking things significantly.

We plan to add a few integration tests for at least the basic happy paths of the most commonly used commands. We need to decide on which commands are most appropriate to start with (I'd suggest fewer initi

[2021-03-02 21:54] billygriffin commented on #1503
I'm closing this as a duplicate of #446 - sorry for missing that the first time around, and please follow along there.

[2021-03-02 21:54] #1503 closed, assigned to nobody

[2021-03-03 00:34] ElijahLynn opened #3067 "gh pr create: Add option to view in browser too (like hub)"
### Describe the feature or problem you’d like to solve

When I use `gh pr create` I want to open it in a browser after I am done sometimes. I tried `--web` but it opens browser to create the entire PR, I just want an option to view the created PR, sometimes to add images.

### Proposed solution

How will it benefit CLI and its users?
`hub` had this option, useful to add additional data that canno

[2021-03-03 05:09] zntfdr opened #3069 "Make gh pr edit required parameter optional"
### Description

For example the usage of:

- `$ gh pr comment` is `gh pr comment [<number> | <url> | <branch>] [flags]`
- `$ gh pr view` is `gh pr view [<number> | <url> | <branch>] [flags]`

However for `$ gh pr edit` the usage is `gh pr edit {<number> | <url>} [flags]` (note the curly brackets).

Would it be possible to have the same API as the other two commands examples? Tested in `1.6.2`

##

[2021-03-03 07:14] gaborbernat opened #3071 "Unexpected Escape Sequence: ['\x1b' 'O']"
### Describe the bug

When using powershell on macOS the application crashes when pressing arrow keys (e.g. on ``gh auth login``). The ``\x1bO`` sequence that gh doesn't like is the SS3 encoding for cursor keys that is used when [DEC application](https://vt100.net/docs/vt510-rm/DECCKM.html) key mode is enabled. It's technically a bug in the gh cursor key handling for it to not recognize that curso

[2021-03-03 10:11] mislav commented on #3069
Thank you for the report! This was already fixed in `trunk` and will be part of the next release.

Duplicate of #3003

[2021-03-03 10:11] #3069 closed, assigned to nobody

[2021-03-03 10:17] mislav commented on #3071
Thank you for reporting both here and in upstream!

Loosely related: https://github.com/cli/cli/issues/404

[2021-03-03 10:23] mislav commented on #3067
Thank you for the request! Duplicate of https://github.com/cli/cli/issues/1646

[2021-03-03 10:23] #3067 closed, assigned to nobody

[2021-03-03 10:30] zntfdr commented on #3069
That's awesome 😃 Thank you!

[2021-03-03 13:27] Kralizek opened #3074 "Possibility to programmatically check the status of checks on upstream/master"
### Describe the feature or problem you’d like to solve
When working on a PR, we can use `gh pr checks` to checks the status of the checks for the current PR branch.

The same is not possible when on the master/main branch.

### Proposed solution

Ideally, something like `gh repo checks` would be nice

#### How will it benefit CLI and its users?

This can be used to check the status of the checks

[2021-03-03 13:45] mislav commented on #3074
Thanks for the suggestion! I too sometimes want to just look up the status of checks for a branch that doesn't have its own PR.

@vilmibm Do you think this would be a duplicate of https://github.com/cli/cli/issues/1055, or could it stay as its own feature request?

[2021-03-03 16:43] aidan-melen commented on #2930
thanks @TekGadgt, that would be helpful. These [instructions](https://cli.github.com/manual/gh_alias_set) don't mention a config file nor does it provide an example for a multi line alias script. I can created a simple alias wrapped in single quotes, but not a multi-line script as described here.

[2021-03-03 16:59] Kralizek commented on #3074
@mislav it definitely feels like a duplicate. my bad for not checking first.

[2021-03-03 17:02] Kralizek commented on #2545
@mislav any hope for a `windows_arm` package?

[2021-03-03 19:40] mislav commented on #2545
Not yet, since we don't know if the demand is high enough. We would first like to confirm that people are successfully using gh on Windows ARM and that the demand is significant before we commit to pre-packaging it.

But, in the meantime we made it easier to build the project on Windows: https://github.com/cli/cli/commit/39431a101d61760de562643565eb20f3c8a4d5ef

The instructions are now: `go run s

[2021-03-03 19:47] mislav commented on #2930
@aidan-melen Sorry; `alias set` right now isn't well-optimized for multi-line aliases. But the command does accept an alias of any number of lines; it's just tricky to handle all the nested quotes properly in a shell.

I would not recommend pasting complex aliases as a shell command. Instead, with the alias text in your clipboard, you can use the `pbpaste` command (macOS) or the equivalent command

[2021-03-04 00:05] vilmibm opened #3078 "Prompting Overhaul"
This issue covers a multi-phase series of improvements and changes to our implementation of user prompts.

There are three major themes for this work:

1. Improve the experience of using accessibility software with our interactive prompts
2. Pay down tech debt around prompting
3. Make it easier to do more sophisticated things with prompts

We'll be taking an approach of short term patches to the p

[2021-03-04 00:26] vilmibm opened #3079 "show diffstat in pr view"
When I'm looking at pull requests with `pr view` I frequently want to know how big the change set is so I can determine if it's something I can review quickly or I need to put off. I currently run `pr diff` to eyeball it but it would be nice to just include it in the PR header. Something like:

[code]

@ampinsk what do you think?

[2021-03-04 07:21] ShubhankarKG opened #3080 "CLI release message pops up during git push"
Occasionally, during `git push`, I receive the "A new release..." statement in the beginning.

Version: 1.6.1

Logs:
[code]

If it came from remote, it should've come with the `remote:` tag. I couldn't classify this as a bug, because it only ever comes up while pushing a branch.

[2021-03-04 08:00] wyldescience opened #3081 ""create_gh_repo" error using "workflwr" package in R to create git repository"
### **Deploying website using wflow_use_github("username")**

Tried both automatic option to create repository and manually myself to no avail.

Seems to be a problem with the "create_gh_repo" command giving this error:

[code]

I can't figure this out for the life of me but this is only my second time using this workflow! Any ideas?!

[code]

[2021-03-04 12:51] #2995 closed, assigned to nobody

[2021-03-04 15:53] mislav commented on #3081
Sorry you're having trouble! This issue tracker is for a tool is `gh` that's written in Go. It also has functionality to create a GitHub repo, but you seem to have a problem with a `create_gh_repo` command written in R, which is unrelated to our project, and thus this isn't the appropriate issue tracker to ask this in. I would suggest searching for the appropriate repository and asking there: http

[2021-03-04 15:53] #3081 closed, assigned to nobody

[2021-03-04 16:31] vilmibm commented on #3074
Closing as dupe :heart:

[2021-03-04 16:31] #3074 closed, assigned to nobody

[2021-03-04 16:52] #3080 closed, assigned to nobody

[2021-03-04 17:37] ampinsk commented on #3079
I like it! I'd place it like this:

[code]

would be extra nice if it was in the green/red colors!

[2021-03-04 19:01] #2998 closed, assigned to g14a

[2021-03-04 19:13] ElijahLynn commented on #1646
I would really like to see this too, as I miss it greatly after migrating from `hub`. My use case mainly is that I want to create a PR in the CLI and then open it to add screenshots to it and now I have to click the link whereas with `--browse` it "just worked". I didn't know about `--copy` but would like that too, and would use it a lot as I use the `copyq` clipboard manager and would be great to

[2021-03-04 20:54] driesvints commented on #2711
I'm coming here with the same reasoning for `gh repo create`. I've configured `git_protocol` to `ssh` but `gh repo create` adds the remote with the `https` protocol. That doesn't seems to make sense to me? At the very least as @MarijnS95 suggests we should have a way of controlling this with a flag or so.

[2021-03-04 20:59] MarijnS95 commented on #2711
@driesvints Yeah, a bump to this issue would be nice. Reordering the precedence as per my suggestion is trivial. I have in fact forgotten about this open issue entirely after patching it locally and continuing my day.

I could perhaps submit that as as a draft PR?

[2021-03-04 21:06] driesvints commented on #2711
@MarijnS95 that would be amazing. Thanks for that!

[2021-03-04 21:07] XANUK01 opened #3084 "```suggestion"
[code]

_Originally posted by @billygriffin in https://github.com/cli/cli/pull/2080#r560357288_

[2021-03-04 21:30] driesvints commented on #2711
I need to retract my phrasing. It seems that `gh repo create` does respect the `git_protocol` settings. Apologies, I should have double checked this.

What I'm actually looking for is for a way to force the protocol to be `ssh` since `https` prompts people for their password/username. That leads to issues with automation. So a `--protocol` flag would be handy here.

[2021-03-04 21:35] #3084 closed, assigned to nobody

[2021-03-04 23:48] vilmibm commented on #2711
Sorry for my confusion; if `git_protocol` is indeed being respected, how does the `--protocol` flag help?

[2021-03-05 05:52] g14a commented on #3079
@vilmibm this seems interesting. Can I work on this if no one else is assigned? Only of course after @ampinsk 's format is final.

[2021-03-05 06:50] vilmibm commented on #3079
@ampinsk def in green/red! i was just too lazy to make a color example.

@g14a if you'd like to work on it feel free! let me know if you have any questions.

[2021-03-05 07:35] Nenginyo0804 commented on #3079
https://t.me/Klever_News/999

[2021-03-05 08:31] mislav commented on #2711
If you prefer the `ssh` protocol across the board, then you can flip the global config:
[code]

You can set up git so that gh is the credential helper, authenticating pulls and pushes to `https` remotes without the need to interactively supply the password. Run this:
[code]

In fact, this is what GitHub CLI (since recently) sets up for you if you go through the `gh auth login` flow and choose "HTT

[2021-03-05 08:37] g14a commented on #3079
@vilmibm here it is https://github.com/cli/cli/pull/3086. Would like some feedback :)

[2021-03-05 10:52] driesvints commented on #2711
Because the code I'm trying to run is part of an automation. We don't have control over how people have set up their environment. They most likely have an ssh key set up with GitHub and the "gh" cli tool installed. `https` invokes a username/password prompt which halts the automation. `ssh` is seamlessly.

We can't make that part of the automation because people on their devices might now want tha

[2021-03-05 11:05] mislav commented on #2711
Sure, thanks for the feedback! Could you open the request for per-invocation `--protocol` flag in a separate issue, since we've gone slightly off-topic compared to the original post in this thread? Thank you 🙏

[2021-03-05 11:18] driesvints opened #3088 "Add protocol flag for gh repo create"
### Describe the feature or problem you’d like to solve

When running `gh repo create` as part of an automation the default `gh_protocol` is used to set up the remote. Therefor, any subsequent git call to the remote will be using the `https` protocol if it was the default. However, this causes any git call to invoke a usename/password prompt which can't be filled in by the user since they're not o

[2021-03-05 11:19] driesvints commented on #2711
Done! https://github.com/cli/cli/issues/3088. Sorry for hijacking this thread.

[2021-03-05 14:57] vilmibm commented on #2711
ah, when i heard automation i thought of a fully controlled CI environment and not end user machines. thanks for explaining, makes sense!

[2021-03-05 15:02] driesvints commented on #3088
Btw, just to say, I'm also open to alternative solutions here. Not hell-bend on the protocol flag. Just looking for a clean and seamless way to create a repo for the user and push the main branch onto the repo.

[2021-03-05 15:29] karlb opened #3089 "Low contrast output on white background"
### Describe the feature or problem you’d like to solve

I'm using a white terminal background and some output is very low contract and thus hard to read. See the light gray text in the screenshot below.

### Proposed solution

The colors should be chosen differently when a light background is detected. The problem has been discussed in https://github.com/cli/cli/issues/364, previously.

### Addit

[2021-03-05 16:16] mislav commented on #3089
Thanks for reporting! Does the output look better if you manually set `GLAMOUR_STYLE=light gh issue view ...`?

[2021-03-05 17:20] samcoe commented on #3088
@driesvints I think I would rather see this an an environment variable that all git invocations respect than a command flag since that would entail editing all existing commands that have git functionality to use this new flag.

As a temporary solution thought, since this is an automated script, could you not retrieve the current users `git_protocol` preference with `gh config get git_protocol` an

[2021-03-05 17:34] driesvints commented on #3088
Thanks for thinking on this! I'm not sure if that's the right solution. If any of the commands fail between the calls, it could leave the user's preference in an unwanted state.

[2021-03-05 19:15] karlb commented on #3089
Yes, no light gray in that case.

[2021-03-06 23:03] lokera07 opened #3096 "Nuevo"

[2021-03-07 14:22] VuiMuich opened #3098 "'gh issue list --sort' flag"
When moderating issues it would be helpful to be able to sort by other criteria as the issue number.

Therefore a flag `-s | --sort [criteria]` with the following options (basically mirroring the web-version) "newest/oldest", "most/least commented" and "recently/least recently updated" would be a good start.

[2021-03-07 19:02] lokera07 opened #3101 "Evolución"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-07 21:20] jerrygreen opened #3102 "`gh repo view -w` to open gists"
Currently for a repository which is a gist I'm getting the following error:

[code]

It would be cool to be actually able to open such urls too.

[2021-03-08 00:29] abacao opened #3103 "gh access management (add and remove user, user permissions, add and remove user from team, add repo to team, team permissions in repo...)"
### Describe the feature or problem you’d like to solve

I want and need to manage users, teams, permissions and repos by cli/code.
I also would like to add/remove several usernames/emails from a list.

[code]

### Proposed solution

Be able to use gh cli to manage users, teams, repos and permissions.

ex1: Provide "reader" access to user abacao in repo "cli/cli"
`gh access -u abacao -r cli/cli -p

[2021-03-08 04:03] theGreaterBayArea opened #3104 "install gh CLI on KALI LINUX failed !"
[code]

[2021-03-08 07:54] dream-is-g-aay opened #3105 "lol"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-08 07:54] dream-is-g-aay opened #3106 "lol"

[2021-03-08 07:54] dream-is-g-aay opened #3107 "lol"
lol

[2021-03-08 07:54] dream-is-g-aay opened #3108 "lol"
lol

[2021-03-08 07:54] dream-is-g-aay opened #3109 "lol"
lol

[2021-03-08 07:55] dream-is-g-aay opened #3110 "lol"
lol

[2021-03-08 07:55] dream-is-g-aay opened #3111 "3111"
lol

[2021-03-08 07:55] dream-is-g-aay opened #3112 "3111"
lol

[2021-03-08 07:55] dream-is-g-aay opened #3113 "3111"
lol

[2021-03-08 07:55] dream-is-g-aay opened #3114 "3111"
lol

[2021-03-08 07:55] dream-is-g-aay opened #3115 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3116 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3117 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3118 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3119 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3120 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3121 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3122 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3123 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3124 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3125 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3126 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3127 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3128 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3129 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3130 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3131 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3132 "3111"
lol

[2021-03-08 07:56] dream-is-g-aay opened #3133 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3134 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3135 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3136 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3137 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3138 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3139 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3140 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3141 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3142 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3143 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3144 "3111"
lol

[2021-03-08 07:57] dream-is-g-aay opened #3145 "3111"
lol

[2021-03-08 07:59] dream-is-g-aay opened #3146 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3147 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3148 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3149 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3150 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3151 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3152 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3153 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3154 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3155 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3156 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3157 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3158 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3159 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3160 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3161 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3162 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3163 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3164 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3165 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3166 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3167 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3168 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3169 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3170 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3171 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3172 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3173 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 07:59] dream-is-g-aay opened #3174 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3175 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3176 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3177 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3178 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3179 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3180 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 08:00] dream-is-g-aay opened #3181 "kljfdhgjkfdhgldfjgdj;s;klsjdf;lkjgd;flkghjfglk;hjflg;kjh;jkshjkdfgkfjdhgdjkfhgkjdfhgkdjsfh"
hi

[2021-03-08 11:50] mislav commented on #3104
Thanks for reporting! Duplicate of https://github.com/cli/cli/issues/1798

[2021-03-08 11:51] #3104 closed, assigned to nobody

[2021-03-08 13:54] mislav commented on #3103
Hi, thank you for the detailed feature request!

I'm going to close this in favor of existing issues:
duplicate of https://github.com/cli/cli/issues/2807
duplicate of https://github.com/cli/cli/issues/409

[2021-03-08 13:54] #3103 closed, assigned to nobody

[2021-03-08 14:56] mislav commented on #1730
Both the `--jq` filter option and the `--template` option for Go templates shipped in https://github.com/cli/cli/releases/tag/v1.7.0! 🚀

[2021-03-08 14:56] #1730 closed, assigned to nobody

[2021-03-08 17:27] mislav commented on #3102
Thanks for reporting! The error message sure is weird/misleading here, but I'm also not 100% sold that `gh repo view` or any of the `gh repo` commands should work in the context of a checked out gist, since a gist is not a GitHub repository (it's technically a _git_ repository, but that's only an implementation detail).

@vilmibm thoughts?

[2021-03-08 17:30] mislav commented on #3098
Thanks for the suggestion!

Ref. #641

[2021-03-08 17:42] jerrygreen commented on #3102
gist is a repository
gist is stored on github
gist is a github repository
try argue with that 😂

Honestly I just needed a command that can open whatever url it can parse from `git remote show origin`. Once before I even wrote [git-pr](https://github.com/JerryGreen/git-pr) that can open PR pages related to a repository too, but then I found this `gh` CLI that can do much more (and doesn't have depe

[2021-03-08 18:25] mislav commented on #3102
Yeah, maybe it would be nice if there was a command that could open the currently checked out gist in the browser, even if it was not literally the `repo view -w` command. Right now, `gh gist view -w` does not pay attention to the local git repository, and instead offers you a list of your recent gists if you haven't supplied an argument.

[2021-03-08 19:11] jerrygreen commented on #3102
`gh gist view -w` is a weird command. It takes argument of an url of my gist, but if I had url in clipboard, I would paste it into browser myself 😂

I just found in windows I can do just:

[code]

And in macos it can be:

[code]

So I guess I'll just close the issue.

[2021-03-08 19:11] #3102 closed, assigned to nobody

[2021-03-08 20:24] vilmibm commented on #3088
like @samcoe , I would also rather see this feature begin its life as an environment variable since that is consistent with the way we override other configurable things. does that work for you, @driesvints ?

[2021-03-08 20:51] driesvints commented on #3088
Something like this?

[code]

[2021-03-08 21:09] vilmibm commented on #3088
@driesvints yep

[2021-03-08 21:13] driesvints commented on #3088
Sounds perfect to me 👍

[2021-03-08 22:03] #3079 closed, assigned to g14a

[2021-03-09 09:10] nathanfranke opened #3185 "fatal: Unable to find remote helper for 'https'"
### Describe the bug

I am on a fresh install of `Ubuntu Server 20.10 groovy`, Kernel `5.8.0-44-generic`. \
Cannot clone any repositories with HTTPS (Neither CLI nor a private repo)

I have tried `sudo apt install libcurl4-openssl-dev`, but cloning still yields the same output. Even if it did help, `libcurl4-openssl-dev` should be listed as a dependency regardless.

### Steps to reproduce the beha

[2021-03-09 09:22] gibfahn commented on #3002
It would be nice if only the useful output of the command (the created PR URL) went to stdout, and everything else (interactive prompts etc) went to stderr. Then scripts can do e.g.:

[code]

and the user can still fully interact with `gh`.

`--copy` flag would be nice too, but ideally would copy as well as writing to stdout.

[2021-03-09 09:27] gibfahn commented on #3002
This is nice, but only works if the PR branch was pushed to the upstream rather than a fork right? Is there an equivalent of `:owner` like `:upstream` or something?

[2021-03-09 11:16] mislav commented on #3002
Oh yikes, you're right.

This command would work, though, to look up an open PR for the current branch even when the PR comes from forks:
[code]

[2021-03-09 12:44] mislav commented on #419
@andysanders No updates yet. We will likely have to switch to the Search API internally to get AND labels.

In the meantime, you can query the Search API directly:
[code]

[2021-03-09 16:11] g14a commented on #641
@mislav Is it okay if I implemented one of the filters for issues which is `no assignee`? Its not implemented as per your ticket.

[2021-03-09 16:18] vilmibm commented on #3185
Sorry about this.

I don't think this has anything to do with `gh` as some googling suggests this is purely a git issue, but I'm happy to help debug.

- does a plain `git clone` work with https?
- does `gh repo clone` work with ssh?
- does `curl https://github.com/cli/cli` work?

[2021-03-09 17:06] mislav opened #3187 "Accept `--body-file` wherever we accept `--body`"
_Originally posted by @StanleyGoldman in https://github.com/cli/cli/issues/3018#issuecomment-794071690_

Wherever it's possible to pass a body of text inline via a flag, it should also be possible to alternately specify a filename to read from (and read from stdin when the filename is `-`).

- [x] `issue create`
- [x] `pr create`
- [x] `release create`
- [ ] `issue edit`
- [ ] `pr edit`
- [ ] `iss

[2021-03-09 17:45] mislav commented on #641
@g14a Thanks for the offer! You can maybe do an exploration what would be involved in switching `issue list` to use the Search API if certain filters are requested? If we have a fallback to the Search API (like we do in `pr list`), then we could add a `no:assignee` clause easily when requested. With the current GraphQL query, I don't think there is any way to scope issues to just ones without an a

[2021-03-09 18:02] g14a commented on #641
@mislav Sure I'd love to explore the Search API.

The search flag would really be useful because it is similar to the issue search bar in the Github UI as well.

I also think once the search flag is implemented, existing flags like `--assignee`, `--author`, `--label` etc would be obsolete because search itself does everything for you.

Would like to know your thoughts as well :)

[2021-03-09 18:57] userlerueda opened #3188 "Add command to transfer issue"
### Describe the feature or problem you’d like to solve

Support the feature to transfer an issue from the current repository to a new one

### Proposed solution

Feature parity with `hub` and web version of GitHub

### Additional context

`gh issue transfer ISSUE REPO`

[2021-03-09 20:54] cristiand391 commented on #3187
I'm working on this.

[2021-03-09 23:23] vilmibm commented on #3188
I'm in favor of this; I thought we already had an issue for it but couldn't find one. @ampinsk what do you think?

[2021-03-10 00:53] ghost opened #3189 "gh fork update"
### Describe the feature or problem you’d like to solve

_A clear and concise description of what the feature or problem is._

I have made a short `bash` script that updates forks using `gh`, `git`, `jq`, & `curl`. The only package I believe is not included in `cli` is `curl`. Nevertheless, I believe this could help get a start on the feature. Also, I should mention that is is able to update all o

[2021-03-10 01:55] ampinsk commented on #3188
I don't see why not! 👍

[2021-03-10 10:35] mislav commented on #3189
Thanks for sharing your script!

Ah, but there _is_ a curl-like command in gh, and it's called [`gh api`](https://cli.github.com/manual/gh_api). It even has a `--jq` flag that can replace `jq` as a separate utility.

Here's how I would approach making this command:
- Since you might have a lot of forks in your account, and they may be large repositories, I would avoid having to clone any of them l

[2021-03-10 10:35] #3189 closed, assigned to nobody

[2021-03-10 13:07] ghost commented on #3189
@mislav I will see what I can do!
I definitely agree with you about the curling issue, as it does waste energy.
After I update the script, I'll see how I can make it more compatible with other systems, let you know, and maybe even try a pull request on it.

[2021-03-10 13:31] mislav commented on #3189
@F1nx Good luck!

Sure, but keep in mind that in order for this to get accepted as a feature:
1. It needs to be implemented in Go within our project's codebase.
2. It needs to be approved by us (the core team) from the original feature request: https://github.com/cli/cli/issues/444. For now, the issue is labelled `core` and per our [contributing guidelines](https://github.com/cli/cli/blob/trunk/.g

[2021-03-10 13:37] g14a commented on #3188
@mislav This looks interesting. Is it okay if I work on this?

[2021-03-10 13:39] mislav commented on #3088
@driesvints Keep in mind that once https://github.com/cli/cli/issues/2944 gets solved, `gh repo create` and similar gh commands will never cause a git authentication prompt since HTTPS traffic will be guaranteed to be authenticated.

I'm not opposed to something like a `--protocol` flag or the `GH_PROTOCOL` environment variable, but in the case of `gh repo create`, it feels like it solving the wro

[2021-03-10 13:49] ghost commented on #3189
Thanks!
_For future reference, if anybody needs a repository to test fork-updating, they can use [this](https://github.com/F1nx/fork-update-test)._

[2021-03-10 13:52] driesvints commented on #3088
@mislav I fully agree with you here. The main problem that I'm trying to prevent is users getting prompted for authentication when they're already properly authenticated through the GitHub CLI. So if this can be solved differently and without a flag then that's fine by me 👍

Feel free to close this if you want.

[2021-03-10 14:02] mislav commented on #3088
@driesvints Which operations other than `gh repo create` does your script do that may trigger git network requests? Knowing your script's needs would be helpful to us for ensuring that we can properly authenticate git operations. Thank you!

[2021-03-10 14:51] driesvints commented on #3088
Only `gh repo create` from this PR: https://github.com/laravel/installer/pull/185/files#diff-80009ae2f5723cd34d5f864eb4cc5e9a09425ad1ba21dca95f0e32bfb7968e83R268

[2021-03-10 18:41] Milo123459 opened #3191 "Mass-merge"
### Describe the feature or problem you’d like to solve
n/a
A clear and concise description of what the feature or problem is.
Mass-merge
### Proposed solution
Mass-merge, merge multiple PRs "fast", for example:
`gh pr merge 4 5 6 7 8 9` would merge 4, then 5, then 6, then 7, then 8, then 9. You can select one strategy and merge all with said strategy
How will it benefit CLI and its users?
Makes m

[2021-03-10 18:53] vilmibm commented on #3191
I'm not opposed to this sort of thing but we already have ongoing conversations about how to consistently support bulk operations as there have been requests for bulk issue closing also. It'd be great to decide on a path for bulk operations and apply it to all the commands that could benefit from it (or decide conclusively we'd rather people script that stuff).

[2021-03-10 18:54] Milo123459 commented on #3191
Good idea! Maybe just plain dependabot support? Like a `dependabot` command that'll merge all PRs if specified, that would be fantastic! Would save so much work.

Maybe it could also execute `git pull`?

[2021-03-10 22:38] noelbundick commented on #866
It would be great if the `gh pr checkout` branch names could (optionally?) integrate with the GitHub PR extension for VS Code. They currently conflict and it's not clear how to use the two seamlessly

https://github.com/microsoft/vscode-pull-request-github/issues/2564

[2021-03-10 23:44] algonzalez opened #3194 "The CLI changes the font/foreground color but doesn't restore it."
### Describe the feature or problem you’d like to solve

When I run `gh --help` the help text prints out in a white font which is fine, but it causes any commands I enter afterward to also be in white which is not the color that was set when I ran the gh cli command. I am running Windows Terminal on Windows 10 and I have my color set to 0A, `color 0A` from the command prompt.

### Proposed solutio

[2021-03-11 04:44] quackduck commented on #659
@vilmibm Where can I see the status of progress on `gh status`?

[2021-03-11 06:41] yolandalalala opened #3195 "Colors doesn't work properly with "most" pager"
### Describe the bug

gh version 1.7.0 (2021-03-04)
when using `most` as pager, the color escape sequences becomes raw characters.
This should not be a bug from `most`, since color outputs from other programs, such as `man` and `git`, works fine with `most`.

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

The color output should be correctly displayed by `most`. Howe

[2021-03-11 06:57] g14a commented on #641
I have a working draft PR which implements the search flag. Would you like to take a look at it @mislav ?

[2021-03-11 10:28] nathanfranke commented on #3185
- does a plain git clone work with https? - **yes**
- does gh repo clone work with ssh? - **yes**
- does curl https://github.com/cli/cli work? - **yes**

[2021-03-11 10:30] mislav commented on #3195
Hi, it's the job of the pager program to handle ANSI colors. I'm not familiar with `most`, but it looks like it has decided to print the raw escape sequences instead of letting them render as colors in the terminal. Pagers like `less` and `more` require a `-R` flag to enable color rendering, so maybe you can try `PAGER='most -R'`. If that doesn't work, please refer to the documentation for the too

[2021-03-11 10:30] #3195 closed, assigned to nobody

[2021-03-11 12:40] mislav commented on #641
@g14a Absolutely! Send it our way

[2021-03-11 13:30] g14a commented on #641
@mislav here it is. https://github.com/cli/cli/pull/3196

This needs some changes obviously. I've explored the Search API and tried to come up with something usable. Please do give feedback :)

[2021-03-11 15:14] g14a commented on #3194
@algonzalez Can you post a screenshot? I'd just like to know more about how this works on Windows.

[2021-03-11 16:26] algonzalez commented on #3194
![image](https://user-images.githubusercontent.com/210998/110820407-115fea00-825d-11eb-83ef-829186415743.png)

[2021-03-11 16:36] vilmibm commented on #3194
My hunch is that this is a Windows Terminal issue as I've seen it have a number of rendering issues with other commands but we can investigate if there's a way to mitigate it on our end.

As a workaround, does running `reset` fix the color?

[2021-03-11 16:45] mislav commented on #3191
Would this be a duplicate of the more general https://github.com/cli/cli/issues/3015?

[2021-03-11 16:57] Milo123459 commented on #3191
I suppose.

[2021-03-11 16:57] #3191 closed, assigned to nobody

[2021-03-11 16:59] algonzalez commented on #3194
This is the Windows command interpreter `cmd.exe`, so `reset` is not available.
I run `color 0A` to restore the colors, which interestingly changes all the white text in the terminal window back to green.

[2021-03-11 17:01] womackmark9167 opened #3198 "Music"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-11 17:02] womackmark9167 commented on #3198
![b40459dde9a36533d94c8f04b06d0351](https://user-images.githubusercontent.com/80442310/110825015-84805500-828b-11eb-9edc-0573119f935e.jpg)

[2021-03-11 17:02] womackmark9167 commented on #3198
A picture of a red road in the country it's nice

[2021-03-11 17:04] womackmark9167 commented on #3198
![740b12e617e5ec91ff7f5b101ce19457](https://user-images.githubusercontent.com/80442310/110825189-b1346c80-828b-11eb-89d2-caf40c537b9d.jpg)
It a free in the park isn't cute

[2021-03-11 17:04] womackmark9167 commented on #3198
How do I get repos

[2021-03-11 17:04] #3198 closed, assigned to nobody

[2021-03-11 17:15] kevincianfarini opened #3199 "Creating a PR doesn't default to git commit body"
### Describe the bug

when creating a PR with a single commit and using `gh pr create` I would expect that skipping over the `Body` interactive portion and not opening my text editor would default to the body of the most recent git commit.

### Steps to reproduce the behavior

1. Create a git commit with a body
2. invoke `gh pr create`
3. press `Enter` to skip opening a text editor for the PR body

[2021-03-11 18:00] vilmibm commented on #3199
You can use `--fill` or `-f` to get this behavior -- but is the issue that you'd like to use other aspects of the interactive prompt?

[2021-03-11 20:08] mislav commented on #3088
@driesvints Thank you! It looks like you `git push` to the created repo right after. I wonder if we could provide some kind of functionality from `gh` to ensure all your pushes from scripts are authenticated even if the person who is running the script is not set up with git credential caching.

For now, you could do a git push like this:
[code]

Yes, it's verbose, but it's relatively safe to do a

[2021-03-11 21:07] mislav commented on #3194
Our tool uses ANSI escape sequences, and those don't mix well with the `color` directive in cmd.exe.

If you want to make your default text color green in Windows Terminal, then you should define your own color scheme: https://docs.microsoft.com/en-us/windows/terminal/customize-settings/color-schemes

<img width="851" alt="Screen Shot 2021-03-11 at 22 00 27" src="https://user-images.githubusercont

[2021-03-11 21:07] #3194 closed, assigned to nobody

[2021-03-11 21:30] rsteube opened #3203 "gist view: pass filename to pager for syntax highlighting"
### Describe the feature or problem you’d like to solve

`gh gist view {id} --filename mygist.go` passes gist to pager without filename so syntax highlighting is missing unless a header is set.

### Proposed solution

Support go template in the pager config to pass an optional filename to the pager `bat --file-name "{{.Filename}}"`.

### Additional context

[2021-03-12 02:06] nailuj29 commented on #3185
having same problem on Pop! OS 20.10
ssh doesn't work though

[2021-03-12 04:51] ghost commented on #3189
Hey @mislav, just wanted to update you on the progress. After some adjustments to your suggestion, the script is now much better than before! So really, if you'd like, I should include you as a contributor (in both the CLI & fork-fest). Anyways, I will begin the 'Go' development soon and possibly begin to draft the feature.

[2021-03-12 08:30] zidhuss opened #3204 "`pr switch` as an alias for `pr checkout`"
### Describe the feature or problem you’d like to solve

Version [2.23](https://github.blog/2019-08-16-highlights-from-git-2-23/#experimental-alternatives-for-git-checkout) of git introduced the `git switch` command as an easier alternative to `git checkout` for switching branches.

### Proposed solution

Consider adding the `switch` subcommand as an alias for `checkout` for the `gh pr` command.

[2021-03-12 11:23] mislav commented on #3185
@nathanfranke If I understand, `git clone https://github.com/cli/cli.git` works without printing `templates not found /usr/share/git-core/templates` nor `Unable to find remote helper for 'https'`? It's only when using `gh repo clone` when that shows up?

That's indeed strange.

[2021-03-12 12:32] driesvints commented on #3088
@mislav thanks a lot for that. I've sent in a PR to do just that: https://github.com/laravel/installer/pull/191

I think related to this entire thread is that it would be cool if `gh repo create` could also push the HEAD branch that was active at the time of the repo create. That would also solve a lot for us.

Something like `gh repo create --with-head`, `gh repo create --with-branch` or `gh repo

[2021-03-12 12:36] mislav commented on #3189
No need to include my name if you use my code; it's only a few lines.

[2021-03-12 12:58] mislav commented on #3199
@vilmibm I'm thinking that the expectation probably is that if you don't edit the default body (that would be inherited from the commit had you chosen to open the editor), the body should still have the same default. I would have also expected it to work in this way.

[2021-03-12 15:17] nailuj29 commented on #3185
Its also worth noting I installed it from the Snap store

[2021-03-12 15:41] kevincianfarini commented on #3199
@mislav that's correct. It's surprising to me that when opening the editor it populates the git commit body, but if I skip that step it doesn't. It seems unnecessary.

[2021-03-12 16:07] nathanfranke commented on #3185
Correct

Me too

[2021-03-12 16:14] mislav commented on #3088
@driesvints I do like the create-and-push idea! You are welcome to submit that as a separate feature request.

BTW we can still consider the per-invocation `--protocol` flag or environment variable, but I just didn't think it was a good fit for this exact use case. We do want to improve how we handle git authentication and have flexible functionality to meet our users' needs, so all this feedback

[2021-03-12 16:19] mislav commented on #3185
Oh, then the problem is when gh runs as a snap. For that, you will have to contact the snap author and let them know of bugs that arise when using the snap. /cc @casperdcl

In our experience, trying to package CLI apps as snaps is more trouble than it's worth, and I would suggest installing them "normally" instead, usually via deb packages or Homebrew. You will notice that we never listed snaps as

[2021-03-12 16:19] #3185 closed, assigned to nobody

[2021-03-12 16:28] gpaulsen opened #3208 "Easier way to create PRs from private fork to origin using non-default branches."
### Describe the feature or problem you’d like to solve

I'm still new to `gh` so please bear with me.
I have a workflow where I push branches to my personal fork using alternate names (usually `topic/description`) and then I create a Pull Request in Github/Enterprise from that fork:topic/description branch to the main brain of the origin repo.

There does not seem to be a simple way to do this us

[2021-03-12 16:31] driesvints opened #3209 "Add a way for gh repo create to push the HEAD branch"
### Describe the feature or problem you’d like to solve

After creating a new GitHub repo, the repository is empty. I'd like to have the current HEAD branch pushed to the repo so the repository is already populated with code.

### Proposed solution

This will allow people to get started with their new repo that much easily. Maybe one of the following three flags can be considered?

[code]

### Add

[2021-03-12 16:31] driesvints commented on #3088
@mislav done: https://github.com/cli/cli/issues/3209

You're welcome :)

[2021-03-12 16:48] casperdcl commented on #3185
snap issues -> https://github.com/casperdcl/cli/issues

I get the template warning but never seen this https error.

[2021-03-12 19:24] arunsaxena01 opened #3211 "Unable to clone repo using gh CLI when using GitHub Enterprise"
### Describe the bug

Unable to clone repo even after successful authentication.
gh version 1.7.0 (2021-03-04)
https://github.com/cli/cli/releases/tag/v1.7.0

### Steps to reproduce the behavior

1. Login using gh
gh auth login --hostname github.xxxx.com
error connecting to api.github.com
check your internet connection or githubstatus.com

### Expected vs actual behavior
It seems gh is usign defau

[2021-03-12 19:36] RogueScholar commented on #1798
I think it would be useful, considering the breadth of Debian derivatives within the Linux distribution ecosystem, to document somewhere on the Linux install page the list of release codenames (buster, sid, focal, groovy, et al.) that are available in the APT repository and then add it to the list of tasks for new releases to check that the list is accurate for the packages being built for that re

[2021-03-13 04:46] Zerratul opened #3214 "Yu"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-03-13 05:18] milkly1235 commented on #3214
Use

[2021-03-13 05:30] kwill34 opened #3215 "chocolate download tracking roadmap"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-03-13 05:35] kwill34 opened #3216 "bug"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-13 07:04] kwill34 opened #3217 "感谢您创建此问题！"
感谢您创建此问题！

然而，由于您没有使用英语，我们很难进行处理。如果可能，请您将此问题描述修改为英文。请您直接编辑此问题，不要提交回复或新问题。

请注意，机器翻译服务通常无法处理用于讨论软件问题所需的技术性语言，所以我们推荐您寻找一位熟悉相关技术的人来协助翻译。

如果您无法做到，没有关系。此问题已经被标记为需要翻译，等待社区成员志愿进行翻译。

---
Thanks for creating this issue!

Unfortunately, as the description is not in English, it's hard for us to work on. If possible, please edit the original issue to be in English.

In our experience, automatic translation

[2021-03-13 08:15] kwill34 opened #3218 "```suggestion"
[code]

__Originally posted by @kwill34 in https://github.com/MicrosoftDocs/live-share/pull/4132#discussion_r584210418__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/7__

[2021-03-13 09:30] kwill34 opened #3219 "__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/10__"
__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/10__

__Originally posted by @kwill34 in https://github.com/actions/starter-workflows/issues/842__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/11__

[2021-03-13 09:36] kwill34 opened #3220 "Aren't we moving away from any use of VS Online in our external APIs/URLs?"
Aren't we moving away from any use of VS Online in our external APIs/URLs?

__Originally posted by @lostintangent in https://github.com/MicrosoftDocs/live-share/pull/4132#discussion_r586834706__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/13__

[2021-03-13 09:40] kwill34 opened #3221 "```suggestion"
[code]

__Originally posted by @kwill34 in https://github.com/MicrosoftDocs/live-share/pull/4132#discussion_r584210418__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/7__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/15__

[2021-03-13 09:50] kwill34 opened #3222 "```suggestion"
[code]

__Originally posted by @kwill34 in https://github.com/MicrosoftDocs/live-share/pull/4132#discussion_r584210418__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/7__

__Originally posted by @kwill34 in https://github.com/cli/cli/issues/3218__

__Originally posted by @kwill34 in https://github.com/kwill34/merge-conflicts/issues/16__

__Originally posted

[2021-03-13 11:20] Milo123459 opened #3223 "Repo garden for Windows"
### Describe the feature or problem you’d like to solve
You can't use the garden command on windows :(
A clear and concise description of what the feature or problem is.

### Proposed solution
Make it work on windows
How will it benefit CLI and its users?
Windows people can now enjoy a smooth garden!
### Additional context

Add any other context like screenshots or mockups are helpful, if applicab

[2021-03-14 04:18] scalp42 commented on #1429
@vilmibm any chance to be able to delete remote branch without caring for something local? Use case is deleting the same branch across multiple repositories.

[2021-03-14 11:54] yi-Xu-0100 opened #3224 "Improve the error message when an invalid assignee is used in `pr create`"
### Describe the bug

GraphQL error: Could not resolve to a User with the login of 'github-actions[bot]'.

### Steps to reproduce the behavior

I try to use the actions to make a PR. But I don' t know how to set the git user.

### Expected vs actual behavior

Create the pr successfully.

### Logs

https://github.com/yi-Xu-0100/test/runs/2106162302 Use the different user, But it also got the same e

[2021-03-15 02:15] kigawas commented on #1735
Dunno why an option could be insecure if it's not default. IMO, why you've created CLI is to give users options rather than restrict them.

[2021-03-15 02:39] kigawas commented on #1735
For others get stuck on this on Debian/Ubuntu, check https://askubuntu.com/a/859887 and https://askubuntu.com/a/648629 to add your own certificates and rerun.

[2021-03-15 05:03] zhangguanzhang commented on #2061
The minimum required scopes are `'repo', 'read:org', 'workflow'`
maybe you need update you github access token for this scope

[2021-03-15 13:28] #3215 closed

[2021-03-15 13:28] #3216 closed

[2021-03-15 13:28] #3217 closed

[2021-03-15 13:28] #3218 closed

[2021-03-15 13:28] #3219 closed

[2021-03-15 13:28] #3220 closed

[2021-03-15 13:28] #3221 closed

[2021-03-15 13:28] #3222 closed

[2021-03-15 13:29] #3214 closed, assigned to nobody

[2021-03-15 13:46] mislav commented on #3224
Hi, could you link us to the exact code that uses GitHub CLI which results in the error you're seeing?

I'm looking at [this workflow file](https://github.com/yi-Xu-0100/test/blob/main/.github/workflows/prepare-release.yml) but I can't see where GitHub CLI is being used. Thank you

[2021-03-15 13:55] mislav commented on #1429
@scalp42 I'm not sure what your question is, but you can delete the same branch across multiple repositories with git:

[code]

[2021-03-15 14:03] yi-Xu-0100 commented on #3224
@mislav about the `gh pr`, I test many times. You can see the file and result.

 1. file: <https://github.com/yi-Xu-0100/test/actions/runs/651166537/workflow>, result: <https://github.com/yi-Xu-0100/test/runs/2106132028>
2. file: <https://github.com/yi-Xu-0100/test/actions/runs/651182429/workflow>, result: <https://github.com/yi-Xu-0100/test/runs/2106162302>

I look forward to your reply, I think

[2021-03-15 14:15] yi-Xu-0100 commented on #3224
The way to find the workflow file about the workflow.
![image](https://user-images.githubusercontent.com/25523606/111167173-c981ef80-85db-11eb-99c0-9a0c988d2c67.png)
![image](https://user-images.githubusercontent.com/25523606/111167206-d30b5780-85db-11eb-8b4c-9af51bb0a78a.png)

[2021-03-15 14:19] #3187 closed, assigned to cristiand391

[2021-03-15 14:39] mislav commented on #3224
@yi-Xu-0100 Thanks! I see now that you've used this flag for pr create: `-a '@me'`

This won't work, as the bot user `github-actions` is not a valid assignee for issues or PRs. If there should be an assignee for the new PR, it should be a username of a regular GitHub user.

Perhaps we need a better error message in this case.

[2021-03-15 14:42] cristiand391 commented on #1575
@mislav since [state.HasMetadata()](https://github.com/cli/cli/blob/e2de02d6b0cbe300b8ae20fe001324361a6b424d/pkg/cmd/pr/create/create.go#L289) already checks if metadata has been passed, do you think it safe to just check the size of the body and enable/disable the "Continue in browser" option based on its size?

In my tests, 7526 bytes is still a valid size so I think it is reasonable to limit it

[2021-03-15 14:52] mislav commented on #3188
@g14a For sure!

[2021-03-15 14:58] mislav commented on #3211
Sorry about the nuisance. I guess you've expected that `gh repo clone "owner/repo"` looks up the repository on your Enterprise instance, but right now it still defaults to github.com.

As a workaround, you can either do:
[code]

Or set an environment variable to affect all commands:
[code]

We already have a plan to change the default to match your expectations. Duplicate of https://github.com/cli

[2021-03-15 14:58] #3211 closed, assigned to nobody

[2021-03-15 15:00] yi-Xu-0100 commented on #3224
@mislav Thanks, I think I know how to modify it.  If you don’t need to track this issue, just close it without telling me. 😊

[2021-03-15 15:14] mislav commented on #1575
@cristiand391 I don't think we should limit the check to just body, since other query parameters can also add a significant byte count to the total URL.

As I've mentioned before, I think that before displaying "Continue in browser", we should already generate the browser URL and check the byte size of that URL. If the URL is too long, we should disable "Continue in browser", perhaps while also di

[2021-03-15 15:22] 23leliana32 commented on #1575
Ur dumb but whatever just fck na off

pon., 15 mar 2021, 16:15 użytkownik Mislav Marohnić <
***@***.***> napisał:

[2021-03-15 15:50] pletnes opened #3232 "`gh repo list` says `401 Unauthorized` on Github enterprise"
### Describe the bug

When I run `gh repo list` against a github enterprise installation, I get a `401 Unauthorized` even when logged in.

`gh version 1.7.0 (2021-03-04)` (Latest, AFAIK)

### Steps to reproduce the behavior

1. `gh auth` to login to github enterprise; `gh auth status` confirms login status; `gh pr list` works as expected.
2. `gh repo list`
3. `401 Unauthorized`

### Expected vs ac

[2021-03-15 16:18] arunsaxena01 commented on #3211
Thanks, it worked..

On Mon, 15 Mar, 2021, 10:58 am Mislav Marohnić, ***@***.***>
wrote:

[2021-03-15 16:27] mislav commented on #1798
@RogueScholar These are the release codenames that we currently support https://github.com/cli/cli/blob/e2de02d6b0cbe300b8ae20fe001324361a6b424d/.github/workflows/releases.yml#L83

Are you suggesting that we should surface this list somewhere in the documentation so it's more visible?

Also, I'm not sure how we should maintain this list over time. There are so many different release codenames, wit

[2021-03-15 16:30] g14a commented on #3188
Thanks @mislav Do I use a new command `transfer` to implement this or add as a flag to `create` because transfering is a small operation? What do you think?

[2021-03-15 16:40] mislav commented on #3208
Thanks for the detailed description of how you're using the CLI!

It's true: the push functionality embedded in `pr create` only has the ability to push to a same-named branch on a remote.

You have already discovered that you can manually push before invoking `pr create`. If you also set up upstream configuration with the `-u` flag, you can help gh figure out where the branch has been pushed:
[co

[2021-03-15 17:13] mislav commented on #3232
If you set your enterprise host as `GH_HOST` environment variable, does it start to work?
[code]

We default to github.com for commands where the current repository is not the context: https://github.com/cli/cli/issues/1745

We do plan to change that to make the experience to people like you who would like their Enterprise host be the default one for all commands.

[2021-03-15 17:14] mislav commented on #3188
@g14a It should definitely be a separate command: `gh issue transfer`

[2021-03-15 19:02] SONVICHETH commented on #3224
retire hen vapor blur copper tilt smile capable match play enlist damage

[2021-03-15 19:03] SONVICHETH commented on #3232
༺🐉 CHETH 🐉༻

[2021-03-15 19:04] SONVICHETH commented on #2722
![Uploading ei_1614856302632-removebg-preview.png…]()

[2021-03-15 19:06] SONVICHETH opened #3233 "Cambodian online"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-15 19:33] #3233 closed, assigned to nobody

[2021-03-15 19:55] pletnes commented on #3232
@mislav Ah, when I set `GH_HOST` it does indeed work exactly as expected. Great! But yeah, if I'm inside a git working tree, I'd expect it to pick up on the `git remote -v` context. Incidentally I also sometimes use github.com for our open source projects, so the current state is good but not great - I now have to set and unset the environment variable for changing contexts.

Thanks for letting me

[2021-03-15 20:17] scottmarlow opened #3234 "Allow adjusting various diff options for pull requests"
### Describe the feature or problem you’d like to solve

In 2020, we reviewed around 2 million lines of changes to one of our community projects on github.com/eclipse-ee4j/jakartaee-tck, the largest pull requests was around 60 thousand lines.  I'm guessing that others have seen even larger pull requests and would welcome some `gh pr view` magic to ease the pain.

### Proposed solution
Short term,

[2021-03-15 22:05] thomasmerz opened #3235 "Add package signature file/cert for RPM"
When installing `gh` after downloading directly from this repo on OpenSUSE `zypper` is missing a signature (which I couldn't find anywhere in this repo:

[code]

I and all other OpenSUSE users and maybe other users with RPM-based package managemt will benefit from a signature file/cert while installing your great CLI tool 👍🏻

[2021-03-16 00:47] yi-Xu-0100 commented on #3224
@mislav I have a little confused about the above test, in which I change the config username before using `gh pr`. But it still has the same error about the username of `github-actions[bit]`. I think the auth could be changed by changing the username, Why it did not happen?

[2021-03-16 09:03] septs opened #3236 "Find pull request by commit hash"
### Describe the feature or problem you’d like to solve

via commit hash, find pull request number.

### Proposed solution

quickly find pull request id, and notify fix it.

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-03-16 11:29] mislav commented on #3224
No, GitHub CLI does not respect git's `user.name` or `user.email` config options at all. These options are only used in git operations like `git commit`. You cannot change which user GitHub CLI authenticates as by changing a config option.

When GitHub CLI creates an object, for example a new pull request, that object will be owned by whoever owns the GITHUB_TOKEN. In the case of `GITHUB_TOKEN: ${

[2021-03-16 11:41] mislav commented on #3232
It will still do that for commands like `gh pr` or `gh issue` where by default the current git remotes are taken into account. But for a command like `gh repo list`, paying attention to the current repository makes less sense, so it doesn't matter which directory you are in, and the environment variable dictates the host that is queried by default.

[2021-03-16 11:42] mislav commented on #3232
Closing in favor of the referenced issue. Thank you for the feedback, and I hope future updates to this behavior will make this context-switching less of a nuisance. 👍

[2021-03-16 11:42] #3232 closed, assigned to nobody

[2021-03-16 12:28] yi-Xu-0100 commented on #3224
@mislav Thank you very much for your detailed explanation!

[2021-03-16 13:12] jhihn opened #3237 "Add Raspberry Pi Support (armv7l)"
### Describe the feature or problem you’d like to solve

The only ARM arch supprt is arm64, however even the most recent Raspberry Pi 4 is only ArmV7L

### Proposed solution

This will empower Raspberry Pi users from 2, 3 4, zero, etc.

[2021-03-16 14:37] mainrs opened #3238 "Add the ability to watch status checks of PRs"
### Describe the feature or problem you’d like to solve
It would be cool if there was a way to have a watch flag that would allow one to actively keep track of PR status checks. I'd imagine it would look something like this: `gh pr status --watch`.

Not sure if there is a subscription API that would allow active monitoring, but maybe pulling the status every X seconds (could be configurable as wel