[2022-09-30 04:22] 99Edorde commented on #6327
#6351

[2022-09-30 05:13] portlandhodl commented on #6175
Centos, RHEL failure also experienced.

[2022-09-30 09:31] erAck commented on #6175
@russeree
Wrong issue, see https://github.com/cli/cli/issues/6212

[2022-09-30 13:22] becky-sequence opened #6378 "Inconsistent length of output when running gh run view"
### Describe the bug

We are observing inconsistent and incomplete output from `gh run view <id>` command. The list of jobs for the run is often incomplete, and outputs often differ from execution to executions, namely the length of the output varies. It seems when we have a workflow with lots of jobs and it passes, that the result gets truncated and only the first first jobs get printed. However,

[2022-09-30 22:28] jungaretti opened #6380 "New `cs rebuild` command to rebuild a codespace"
### Describe the feature or problem you’d like to solve

I'd like a new command to rebuild my codespaces from the GitHub CLI.

### Proposed solution

This will benefit all codespaces users who aren't using VS Code. For example, users who use `gh cs jupyter` to use their codespace.

### Additional context

<img width="670" alt="Codespaces: Rebuild Container" src="https://user-images.githubuserconte

[2022-10-01 00:58] petesuch opened #6381 "gh auth login not working Arch Plasma, i3 bare metal"
On a Manjaro KDE vbox  its no problemo loging in with gh auth login! So doing a git clone https://github/me/myprivaterepo  just works.

On a Bare metal Arch-09-03-2022 Plasma and I3 install its almost as if git doesn't think I'm connected to the internet, yet firefox has me logged into github!  Here's a typical terminal interaction:

$ gh auth login --with-token < mytoken.txt
error connecting to a

[2022-10-01 07:18] petesuch commented on #6381
well, if I manually set the GH_TOKEN in my bashrc.  I can do a pull to my private directory.  I'm still surprised the gh auth login wont do the normal dance with me.  Is that a bug ...or a feature?  :D

[2022-10-01 08:38] Lilbrucey commented on #6349
CliAutomation added the needs-triage

[2022-10-01 11:08] stepanstipl commented on #5625
It would also be amazing to support uploading artifacts as well, i.e. smth. like `gh run upload`. Both of these use cases are ones of the most frequent ones, and lack of support currently blocks use of `gh` cli as a replacement/alternative to actions.

[2022-10-01 12:27] petesuch commented on #6381
1 Oct, 2022
FIXED by recompiling, following the directions here:
https://github.com/cli/cli/blob/trunk/docs/source.md

But first uninstall the arch github-cli package.
$ sudo pacman -Rns github-cli

When installing the new gh: for arch:
$ sudo make install prefix=/usr

Works like a charm.  apparently the package in the arch repo needs updating??

[2022-10-01 12:27] #6381 closed, assigned to nobody

[2022-10-01 23:39] eggbean opened #6383 "`gh browse` issue with $BROWSER on Windows (WSL)"
`gh browse` has issues when there are spaces, as there will be on Windows WSL.

[code]
This can be fixed by escaping the space with a backslash
[code]
However, doing this causes `$BROWSER` to break for everything else:
[code]
My current workaround is to add a backslash to `$BROWSER` only when `gh` is being used:
[code]
I think the solution is for `gh browse` to quote around the `$BROWSER` variable

[2022-10-02 01:10] Sasankammoooo commented on #6378
Hack bank account

[2022-10-02 06:47] mohanakrishna-bg commented on #3185
I installed gh with apt, but the issue remains the same.

[2022-10-02 07:26] mahdikhaligh commented on #6175
but for me can not again install bcuz not connection to server cli.gh ;( and
 i live in iran and can not connect to server for download

[2022-10-03 07:18] samcoe commented on #6348
@tekumara The `repo sync` command will not create a branch that does not exist, it will only sync branches that are present in both repos. Going to close this issue out as the original issue has been resolved and it appears that `repo sync` is working as intended. If you would like to report a new bug or request a new feature for `repo sync` please open another issue 🙏

[2022-10-03 07:23] samcoe commented on #6376
@okoriko Thanks for reporting and thanks for notifying bitdefender. As with the previous times `gh` has been reported as a false positive from an antivirus there is not much we can do from our side of things. I will leave this issue open incase other users experience this issue.

[2022-10-03 07:32] samcoe commented on #6383
@eggbean Thanks for reporting. Duplicate of https://github.com/cli/cli/issues/2551, please see that thread for workaround options.

[2022-10-03 07:32] #6383 closed, assigned to nobody

[2022-10-03 09:24] tekumara commented on #6348
Thank you for the explanation @samcoe.

When the branch doesn't exist, would it be possible to indicate that in the output?

Currently, this output suggests that it has in fact synced the branch:
[code]
However, as I now understand, it hasn't synced anything.

[2022-10-03 09:32] #872 closed

[2022-10-03 12:27] andyfeller commented on #6372
Good call out.

@vilmibm : definitely will do what I can 💪 I will definitely need others for reviews and suggestions as I'm not the greatest Go-pher yet.

@massar : thanks for the initial ideas for how this should work 🙇 I think the goal for adding support would be that this be pure Go so it works for all users regardless of operating system.  I will likely need to pick your brain about the API en

[2022-10-03 12:29] andyfeller commented on #6372
@vilmibm : please let me know what you need from me so I can be assigned this issue ❤️

[2022-10-03 12:39] massar commented on #6372
@andyfeller fortunately this amazing thing called GitHub has basically most of the tools:
 - https://github.com/vaegt/go-traceroute
 - https://github.com/go-ping/ping

As such, call the library and done; unless one does not want dependencies like that; in general though they are not too tricky to implement.
Some of those might need `setcap cap_net_raw=+ep` though which is not ideal, but should wor

[2022-10-03 13:10] mislav commented on #6381
Thanks for sharing the workaround!

[2022-10-03 14:40] lktslionel opened #6387 "Delete the associate tag when deleting a release"
### Describe the feature or problem you’d like to solve

As A User, when I'm deleting a release, I want to also delete the tag associated with that release.
So that, I could do it only one command.

### Proposed solution

[code]

With the command below, the CLI user can delete the release and its related tag in one command, instead of 2.

[2022-10-03 18:51] samcoe commented on #6348
@tekumara That is a good idea. I prematurely closed this issue it seems. Should be easy enough to add better output messaging around if the target branch does not exist. Going to mark this as help wanted.

[2022-10-03 21:39] Apro123 commented on #6175
I also received this error on my nvidia jetson xavier when running `sudo apt update`. To resolve this error, I manually downloaded the gpg key into the directory listed in the `signed-by` attribute within the `/etc/apt/sources.list.d/github-cli.list`

Command I ran:

[2022-10-04 08:02] tekumara commented on #6348
Sounds great thank you @samcoe!

BTW one other thing I was surprised by. You mentioned that when I use `tekumara/prefect` as the destination argument, this will refer to the remote repository `tekumara/prefect` not the local clone of the repository.

However, assuming the branch exists in the destination repo, when a *remote* destination repo is specified, the *local* repo is **also** updated. I a

[2022-10-04 14:48] mislav commented on #6348
@tekumara If you do remote repo sync, only the remote repository will be modified by gh. In this example:
[code]
Only the `github.com/tekumara/prefect` repository will receive any modifications.

However, if some local tool (for example, VS Code) periodically does `git fetch` in the background, it might automatically update your `origin` remote and therefore update `origin/main` to the latest stat

[2022-10-04 19:04] #6342 closed, assigned to mntlty

[2022-10-04 19:50] #1450 closed, assigned to nobody

[2022-10-04 19:53] #6089 closed, assigned to nobody

[2022-10-04 19:56] #6277 closed, assigned to nobody

[2022-10-04 22:56] robnagler opened #6391 "$TERM ignored so confusing escape codes appear in output"
### Describe the bug

`$TERM` is ignored by `gh`. It should always respect `$TERM`.

### Steps to reproduce the behavior

1. See logs below

### Expected vs actual behavior

I expect no ANSI (escape) codes to be set when TERM=dumb. Barring that. I expect NO_COLOR=1 and GLAMOUR_STYLE= to stop that from happening.

### Logs

[code]

[2022-10-04 23:06] vilmibm commented on #6391
Hi,

I was able to see color codes still in use despite setting `TERM=dumb`; they disappeared when I also specified `GLAMOUR_STYLE= NO_COLOR=1`, but I noticed that survey was still issuing cursor positioning escape codes.

I do think there is merit in disabling prompting if `TERM=dumb` as well as any use of color.

[2022-10-04 23:59] robnagler commented on #6391
I don't want to disable prompting. It's fine to prompt in dumb terminals.

My use case (see above) allows me to use an editor client (emacsclient but works with vscode and cli editor clients) to edit the file in a visual environment. This same workflow works fine from `git commit` for example.

Please consider using ncurses or some other library that respects $TERM.

[2022-10-05 10:03] mislav commented on #6391
Hi, thank you for reporting and sorry for the trouble. I'm going to close this as duplicate of https://github.com/cli/cli/issues/5721.

Our main obstacle in respecting `TERM=dumb` is the fact that the Survey library that we are using for prompts does not have a separate mode for `TERM=dumb`. It always assumes a capable terminal and emits ANSI escape codes for redrawing and cursor positioning. That

[2022-10-05 10:03] #6391 closed, assigned to nobody

[2022-10-05 10:52] sozoalvin commented on #390
just chanced upon this PR - since hub CLI achieved the same - would it be better to continue using hub for people who liked this functionality? (creating PR via editor without prompt)

[2022-10-05 16:20] vilmibm commented on #6387
This is a reasonable request, thanks.

Let's go with

`gh release delete <tag> [--cleanup-tag]`

[2022-10-05 16:53] vilmibm commented on #6378
Hi,

Can you say more about this truncation? We don't limit the number of jobs we fetch for `run view` and we fetch them in the same way for a successful run vs a failed run. Or are you referring to the expansion of the steps?

Ultimately it sounds like you're trying to do automation with this output; unfortunately, `run view`'s default output isn't really designed for that. We have a pending issu

[2022-10-05 20:47] sammcj commented on #1484
This still seems to be an issue - you can't configure check contexts when setting up branch protection because of this. 😞

I think this issue is missing a label of ~bug ?

[2022-10-05 22:39] lktslionel commented on #6387
Hello @vilmibm
I submit a PR and I will glad to get your feedback on that.
Thanks in advance
Regards

[2022-10-05 23:05] rzheng7 opened #6393 "extension is not installable: missing executable"
### Describe the bug

brew installed the latest `2.17.0` gh.  But unable to install extensions.

### Steps to reproduce the behavior

1. `brew install gh`
2. `gh version`
3. `gh extension install github/gh-gei`

### Expected vs actual behavior

Expected: extension installed

Actual: extension is not installable: missing executable

### Logs
[code]

[2022-10-05 23:11] vilmibm commented on #6393
that's very surprising; I'm able to do that just fine:

[code]

What is the output of `gh auth status`?

[2022-10-05 23:12] rzheng7 commented on #6393
[code]

[2022-10-05 23:14] #6387 closed, assigned to nobody

[2022-10-05 23:55] vilmibm commented on #6393
thanks! and it looks like you're running under Darwin, but what architecture?

(btw, I ultimately suspect this will come down to opening an issue in https://github.com/github/gh-gei as `gh` itself seems to be working; however, it's possible there is an error message we could tweak to be sure)

[2022-10-06 06:41] evancharlton opened #6394 "Allow `codespace code` to open in a specific directory"
### Describe the feature or problem you’d like to solve

`gh codespace code` is brilliant, but it would be great if I could specify which directory I wanted it to open for.

### Proposed solution

For example:
[code]

Maybe it could even be relative to the "default" root?
[code]

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-10-06 06:45] v3gard commented on #2037
I just tried this from bash (in Windows 10), and it does not seem to work. It works as expected with `curl`, but not `gh`.

This command is sent to my proxy server:
[code]

This command **isn't** sent to my proxy server:
[code]

[2022-10-06 07:07] v3gard opened #6395 "Unable to set team as reviewer"
### Describe the bug

I'm unable to assign my team as a  reviewer for pull requests that I create with the CLI.

[code]

### Steps to reproduce the behavior

1. `gh pr create --reviewer myOrg/myTeam -b "Do stuff" -t "chore: do stuff" -B main`
2. View the output:
[code]
3. See error

### Expected vs actual behavior

1. The [docs](https://cli.github.com/manual/gh_pr_create) state the following. The

[2022-10-06 07:46] nsmag commented on #6327
Hi, I checked the REST API and found that there's no dedicated API for updating secrets. Only `PUT /orgs/ORG/{actions,codespaces}/secrets/SECRET_NAME` is exposed to create or update the secret. The `visibility` is required. And if `visibility = selected`, the `selected_repository_ids` is required.

### Proposed solution

To maintain the selected repos visibility of existing secrets, with the curre

[2022-10-06 09:49] mislav commented on #6393
@rzheng7 Hi, since you're only logged into `ghe.siriusxm.com` and not also into `github.com`, the extension lookup will happen on your GHE host and not on `github.com`.

To work around this:
[code]

[2022-10-06 10:52] mislav commented on #6395
Thank you for reporting!

1. Could you try with the latest gh version?
2. Is the team definitely in the same org as the repository itself?
3. Could you try running this query and see if the team is found:
[code]
   You should replace `my-org` and `team-name` with values that you are using in `--reviewer my-org/team-name`.

Tip: you can use `GH_DEBUG=api gh pr create ...` to see underlying API call

[2022-10-06 12:24] mislav commented on #2037
@v3gard GitHub CLI mostly makes HTTPS requests (unless to a GitHub Enterprise instance that has been explicitly configured for HTTP). To make gh traffic go through a proxy, use HTTPS_PROXY, not HTTP_PROXY.

[2022-10-06 12:33] v3gard commented on #6395
Changed to this version. Same issue.
[code]

Yes. Not sure if it's related, but I've tried both with and without a parent team set.

Sure (I replaced the returned team ID)
[code]

Cool, thanks.

[2022-10-06 12:37] v3gard commented on #6395
By the way, this is (what I assume is the relevant API call) when I run the `gh pr create` command:
[code]

[2022-10-06 12:49] mislav commented on #6366
In the PR thread we have decided that, for now, we will keep `--json` support scoped to only list- and view-type commands. See https://github.com/cli/cli/pull/6367#issuecomment-1266730852 for a workaround with passing the result of `gh pr create` to other commands programmatically.

[2022-10-06 12:49] #6366 closed, assigned to nobody

[2022-10-06 13:19] mislav commented on #6371
Closing because I'm assuming that it's not feasible to use `git difftool` for viewing diffs of remote PRs, and because a few workarounds were offered.

For example, if you want to see a side-by-side diff of a PR with syntax highlighting, you can do so with a tool like “git-delta” and not necessarily with vimdiff:
[code]

[2022-10-06 13:19] #6371 closed, assigned to nobody

[2022-10-06 14:48] mislav commented on #6109
@lpessoa Sorry for late reply. Yes, most issues are open for community contributions, especially ones labelled `help-wanted` (like this one). 🚀

[2022-10-06 14:53] mislav commented on #4897
@akien-mga We validate the token passed to `gh auth login` to ensure that it has a reasonable set of scopes for most gh usages, but you can use any token at your own risk. Just set GH_TOKEN environment variable: https://cli.github.com/manual/gh_help_environment

We are also considering relaxing the minimum required scopes in the future. Follow https://github.com/cli/cli/issues/4690 for updates

[2022-10-06 14:59] mislav commented on #4580
@casperdcl The API endpoint that `gh ssh-key list` uses technically only needs `read:public_key`, but you are right that the other resource does not need any authentication whatsoever. This is a platform bug/restriction.

[2022-10-06 18:04] v3gard commented on #2037
Thanks @mislav. That did it. One interesting thing to note though.

As mentioned earlier, this doesn't work:
[code]

But this works! Note that [1] we're using `HTTPS_PROXY` and [2] we're going through the same proxy server as before (that responds to http and not https).

[code]

[2022-10-06 18:41] vilmibm opened #6397 "Clearer error message for unfound extensions"
When trying to install an extension that isn't found (possibly because of being logged into an Enterprise host as in #6393 or because of a typo) the error `extension is not installable: missing executable`. This makes it sound like the extension was found, but cannot be installed.

In this situation, a more clear error should be shown, like:

[code]

This will hopefully help people figure out what

[2022-10-06 18:41] vilmibm commented on #6393
Ah thanks for catching that mislav; I'm going to close this, but I've opened #6397 to improve behavior around this.

[2022-10-06 18:41] #6393 closed, assigned to nobody

[2022-10-06 19:27] #6117 closed, assigned to nobody

[2022-10-06 21:40] rzheng7 commented on #6393
[code]
works.  Thanks

[2022-10-07 08:10] marcofranssen opened #6398 "gh browse opens the forked repo instead of the fork"
# CLI Feedback

Currently when working with a forked repo, the `gh browse` command opens the upstream repo instead of my fork. A fork webpage does have a link to the upstream if I like to navigate there, but the upstream doesn't have a link to my fork, so `gh browse` doesn't help me to quickly navigate to my fork. See below a suggestion to change in this behavior.

## What was confusing or gave yo

[2022-10-07 09:06] mislav commented on #2037
@v3gard Yeah, the "https" in HTTPS_PROXY refers to the fact that HTTPS _requests_ will be proxied, not to the protocol where the proxy server itself listens on.

[2022-10-07 10:17] #6093 closed, assigned to nobody

[2022-10-07 12:31] andyfeller commented on #6372
@massar : you're hilarious 😆 I'm going to be on PTO next week with some free time, which is when I was going to look into how difficult this will be so 🤞

[2022-10-07 16:57] mgabeler-lee-6rs opened #6400 "Pager should not be used for empty output"
### Describe the bug

I have `PAGER` set in my environment to tell various tools my preferred pager. Every tool I use that understands this variable, except `gh`, understands that output smaller than a single terminal window doesn't need to go through the pager. With `gh`, it seems the only options are to run everything through a pager, or nothing. Including _empty_ output!

This is annoying and f

[2022-10-07 18:45] LangLangBart commented on #6400
could perhaps be solved on the user side with an additional flag in the less command, e.g. `-F`/`--quit-if-one-screen`.

<img src="https://raw.githubusercontent.com/LangLangBart/ImagePool/e58477a179fae8a5ff898616b0237eaa60b12889/storage/07_Oct_22_at_20_40_08_them.gif" width="600">

[code]

[2022-10-07 19:02] LangLangBart commented on #6398
I like this feature request, but instead of the proposed solution by @marcofranssen, I would prefer a list of remotes and pick one.

Below is a GIF of a VSCode extension called [qinezh/vscode-gitlink](https://github.com/qinezh/vscode-gitlink) that requires a user decision if there is more than one remote before opening the GitHub link.

<img src="https://raw.githubusercontent.com/LangLangBart/Imag

[2022-10-07 23:28] mgabeler-lee-6rs commented on #6400
Aah, yeah, and `gh` tries to set that for common cases via the `LESS` environment variable:
https://github.com/cli/cli/blob/0ecd424901427fa96e4b322290d480b5f1350baa/pkg/iostreams/iostreams.go#L198-L200
but I have a more .. complex `$LESS` already set without `-F` (so that if I explicitly do `foo | less`, I'm sure to get `less` invoked)

The gh config or `GH_PAGER="less -F"` works as a workaround :

[2022-10-08 14:49] bhoogter opened #6408 "`gh pr create` with `--body-file` should allow `--edit` or `--body-template`"
### Describe the feature or problem you’d like to solve

The `gh pr create --body-file <body-file.md>` command accepts the body file as-is.  the `--body` arg allows you to specify a literal PR body.  I would like to be able to submit a body file "template", such that the basic format is provided in the `body-file.md`, but an editor opens with that template, which upon editing and saving becomes th

[2022-10-08 20:49] ggigazz commented on #1735
As it is already open, I am expertising the same error in validating the certificate, but I'm using my account on a docker container not to access to my personal private server but to GitHub official server, instead

[2022-10-08 23:59] nexuspcs opened #6409 "test'"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-10-08 23:59] #6409 closed, assigned to nobody

[2022-10-09 07:54] LangLangBart commented on #6400
Just for clarification for any maintainer.

I also set the environment variable `LESS` without the flag `-F`, therefore I get `Byte 0/0 (END)` as seen in the GIF.

[code]

I guess the issue can be closed ?

[2022-10-09 08:16] ShahriarNasseri opened #6412 "cli/cli"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-10-09 08:16] #6412 closed, assigned to nobody

[2022-10-09 14:29] jomefavourite opened #6413 "Doc Sidebar Navigation Improvement"
I've been using the GitHub CLI for a while now, and I like it, comes really handy in making a pr and repo.

Though, the docs are great, but scrolling through the sidebar once a link is clicked is annoying, especially when you need to click on a link related to the previous link clicked on.

I suggest the sidebar is static on the desktop view, so it only scrolls exactly when your cursor is on that

[2022-10-10 13:56] mislav commented on #6400
Thanks for the discussion so far!

Here is git CLI piping output definitely _smaller_ than my terminal window through the configured pager:

<img width="835" alt="" src="https://user-images.githubusercontent.com/887/194880114-cea58b6d-8856-4247-8268-9ac79cdb7d0f.png">

It is not the responsibility of the tool itself to determine your viewport size and how to handle pagination. Instead, that is the

[2022-10-10 16:50] andyfeller opened #6415 "`gh api` fails due to absolute path expansion in git bash"
### Describe the bug

Making any `gh api` call on Windows using `gh` 2.17.0 from within Git Bash fails to work unless the preceding slash is removed from the API endpoint.

- **With leading slash and debug**

[code]

- **Without leading slash**

[code]
### Steps to reproduce the behavior

1. Install [Git for Windows](https://git-scm.com/download/win) which includes Git Bash
1. `gh auth login`
2. `

[2022-10-10 17:10] mislav commented on #6415
Hi, it's mingw (the underlying system of git bash) that does [arcane pathname conversion](https://stackoverflow.com/a/31396508). We can't do anything about it, as it's basically the shell that does this before the gh process is started.

The workaround is to either drop the leading slash (it was never necessary on any platform) or to start a route with `//`.

We could potentially consider printing

[2022-10-10 21:44] JohSteph890 opened #6416 "Ess"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-10-10 22:08] jtravell opened #6417 "`gh api` and ` gh release download` are corrupting compiled code during release process"
Two GitHub `gh` api commands are causing our compiled app code to become corrupted, so that the corruption causes the post-release app to fail tests which the same app version successfully passed before release.

Does the information below provide you with enough information to guide us to avoid this problem?

This must be affecting other users also.

Our process is as follows:

1. Compile our pyt

[2022-10-11 00:37] #6416 closed, assigned to nobody

[2022-10-11 01:17] dataders opened #6418 "Duplicative issues after batch execution of `gh issue create` commands"
### Describe the bug

I hacked together a script to make issues across all the dbt adapter plugins that needed to upgrade. It's a bunch `gh issue create` statements separated by `sleep` statements ([Gist example](https://gist.github.com/dataders/e063e4c5b1fc1418eb860142f2e3da50#file-update-sh)), excerpt below:

[code]

I copied the whole thing into VSCode and hit "Enter". Sure, I could have made a

[2022-10-11 08:25] shango420 commented on #5924
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

[2022-10-11 10:04] marcofranssen commented on #6398
I think you mean it should both be possible. Just like some other flags, like if defined, pick what you define, if not defined in a flag, then show the list to pick from. I don't like to wait for a list when I already know upfront what I want to do. That give a better commandline experience.

[2022-10-11 10:56] mislav commented on #6417
Sorry to hear that you've been having trouble. I haven't heard before of release binaries getting corrupted this way. Let's see if we can debug this somehow.

After compiling the app, where are you saving the resulting binary? At first I thought you are uploading it to a Release as a release asset, but after seeing your examples, I no longer think that is the case. Are you checking it into git ver

[2022-10-11 11:52] larsvilhuber opened #6420 "Thank you for the great work"
# CLI Feedback

## What have you loved?

It is so convenient.

## What was confusing or gave you pause?

Not much. Can't think of anything.

## Are there features you'd like to see added?

Really, there are minigames?

## Anything else?

Keep at it!

[2022-10-11 11:53] mislav commented on #6417
I've found this previous discussion about GitHub tarballs being corrupted but I don't think it's the same as what you're experiencing. The issue there seems to have been caused by tarballs _created_ by BSD `tar` under edge cases: https://github.com/actions/runner-images/issues/2619. The solution seems to be switching to GNU tar.

[2022-10-11 12:38] mislav commented on #6420
Thank you! <3

There is `gh repo garden` and there is also the mergeconflict extension ;) https://github.com/cli/cli/pull/3045#issuecomment-942730751

[2022-10-11 12:38] #6420 closed, assigned to nobody

[2022-10-11 12:40] #6290 closed, assigned to nobody

[2022-10-11 13:28] mislav commented on #6349
Future discussions around this should happen in the new extension repository: https://github.com/cli/gh-webhook

Closing to clean up this repo's backlog.

[2022-10-11 13:28] #6349 closed, assigned to marwan-at-work

[2022-10-11 15:11] #6380 closed, assigned to nobody

[2022-10-11 15:15] dataders commented on #6418
might be related to https://github.com/microsoft/vscode/issues/102107?

[2022-10-11 16:42] jtravell commented on #6417
@mislav

The compiled app is stored in version control.  There is a linux-exe branch and a windows-exe branch at the end of the first automated phase of the pipeline.  Then the release workflow consumes the contents of each of these exe branches into the release api as shown in the OP.

You could run a diff of executable files before and after going through the two API commands given in the OP.  A

[2022-10-11 19:14] WillianGoncalves opened #6422 "Make `gh pr merge -d` change base branch of other PRs aiming the deleted branch"
### Describe the feature or problem you’d like to solve

If there are two PRs, `#1: main <- feat-1` and `#2: feat-1 <- feat-2`, it would be nice if the `gh pr merge #1` could automatically change the base branch of `#2` to `main`. The Github already does that if you merge the PR via browser, but the cli keeps the base branch as `feat-1` and closes `#2`.

### Proposed solution

The proposed solutio

[2022-10-11 19:31] jtravell commented on #6417
@mislav  `gh release upload $vers path/to/python-app` results in a `release not found` error being thrown, even though we confirmed that `path/to/python-app` contains a freshly created set of executable files.  And [the documentation at this link](https://cli.github.com/manual/gh_release_upload) is not helpful.

None of your documentation seems to clearly describe a repeatable, end-to-end process

[2022-10-11 23:57] unman opened #6423 "`gh issue view`: show linked pull requests"
### Describe the bug

gh version 2.17.0 (2022-10-04)

`gh issue view -c` shows comments, but does not show linked PRs or issues.
These are included in the web view.

### Steps to reproduce the behavior

1. Type this - 'gh issue view -c' for some issue
2. View the output '....'
3. See that only comments are included. There is no way to view linked PRs, issues or commits.

### Expected vs actual beh

[2022-10-12 03:11] samcoe commented on #6397
This seems like a duplicate of https://github.com/cli/cli/issues/5148 but this issue has more details so I will close the old one.

[2022-10-12 03:11] samcoe commented on #5148
Closing in favor of https://github.com/cli/cli/issues/6397.

[2022-10-12 03:11] #5148 closed, assigned to nobody

[2022-10-12 03:15] samcoe commented on #6422
@WillianGoncalves Thanks for writing in, unfortunately this is a long standing platform issue. Duplicate of https://github.com/cli/cli/issues/1168, please see that issue for more details.

[2022-10-12 03:15] #6422 closed, assigned to nobody

[2022-10-12 05:51] AnimMouse commented on #3556
Any updates on this? Adding `GH_REPO: ${{ github.repository }}` to every step is redundant.

[2022-10-12 07:55] devzer01 opened #6426 "gh is continue to dissapoint me and provides factually incorrect arguments and refusing additions to the project"
at first the lack of support for json in pr creeate function, i submitted a PR https://github.com/cli/cli/pull/6367 and was closed saying they don't have time make everything consistent, https://github.com/cli/cli/pull/6367#issuecomment-1269980485 but you go step by step and eventually endup in some sort of a consistent state, nothing is ever perfect

the reasons i was told

- we don't add json su

[2022-10-12 08:22] #6136 closed, assigned to nobody

[2022-10-12 10:00] jan-warchol opened #6427 "Adding a team as a reviewer doesn't work, but only from Github Actions"
### Describe the bug

I'm writing a github action that opens a PR. When I try to set a team as a reviewer, I get an error, even though it works when I run the command locally, and it works in GHA with username instead of team name.

Probably related to  #6395.

[code]

### Steps to reproduce the behavior

Here's a sample repo: https://github.com/jw-git-examples/gha-auto-pr

Here's how the `gh` cal

[2022-10-12 11:25] tekumara commented on #6348
That'll be it! My prompt auto fetches in order to display the number of commits ahead and behind the current one. Thank you @mislav !

[2022-10-12 12:14] el10savio opened #6428 "'--web' Option for `gh pr diff`"
### Describe the feature or problem you’d like to solve
It would be nice to have a '--web' option to quickly open up the PR diff page similar to `gh pr view --web`.

A clear and concise description of what the feature or problem is.
Ability to quickly open up the diff in the webpage as an alternative to viewing it in the terminal.

### Proposed solution
Similar to `gh pr view --web`.

How will it

[2022-10-12 13:28] devzer01 opened #6429 "Inconsistent rate limiter feedback"
I have been testing `gh run list` to understand what's the best way to use it, and all the sudden it just started saying

[code]
i tried numerous times and got the same message, i was suspicious about rate limits but the error didn't mention that it's almost like the page disappeared .

and only when i modify the arguments to the call by adding an extra argument

[code]

then it displayed the corr

[2022-10-12 20:45] gabe565 commented on #326
Until this is officially supported, I have created a simple gh extension to manage multiple profiles. Check it out at [gabe565/gh-profile](https://github.com/gabe565/gh-profile).

[2022-10-13 06:34] samcoe commented on #6428
@el10savio That seems like a good feature to me. We can add a `--web` flag to `pr diff` which will open directly to the pull request diff view in the browser.

[2022-10-13 07:02] samcoe commented on #6395
~~@v3gard Are you using the actions `secrets.GITHUB_TOKEN` to authenticate? I suspect this is happening because by default it does not have access to the organization teams, see [here](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token) for its default permissions. The docs I link also detail how the permissions can be changed. Could

[2022-10-13 07:04] samcoe commented on #6427
@jan-warchol This does appear to be the same issue as https://github.com/cli/cli/issues/6395. Are you using the actions `secrets.GITHUB_TOKEN` to authenticate? I suspect this is happening because by default it does not have access to the organization teams, see [here](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token) for its default

[2022-10-13 08:57] samcoe commented on #6408
@bhoogter We do support `pr` templates that are in the repo already, see [here](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates#pull-request-templates) for more details. If no body flag is specified when doing `pr create` it will check the repo for templates and ask if you would like to use one of those, the

[2022-10-13 09:01] samcoe commented on #6413
@jomefavourite Thanks for the feedback. The sidebar is getting quite long at this point and it is annoying having the content scroll along with it. Unfortunately right now this is something that would need to be addressed by our team as the docs site is in a private repo. Will mark this as core as I would also like to see this addressed.

[2022-10-13 09:22] samcoe commented on #6423
@unman Thanks for writing in. The `-c` as the docs indicate is only for viewing comments and not for showing linked PRs or commits. Unfortunately due to the restrictions of running inside a terminal it is not always possible to display the same information as the web view, and we have to be selective of what to show with the limited display. Having said that I do think knowing if there is a linked

[2022-10-13 10:06] mislav commented on #6272
Hi, since the last release, you can use `gh run list --json displayTitle,workflowName` to specifically fetch the display title (previously titled as the `NAME` column) and workflow name of each run.

The display title value will sometimes match the PR title, but that's not guaranteed, since display title for a run is determined from either git commit message, PR title, or dynamically calculated du

[2022-10-13 10:06] #6272 closed, assigned to nobody

[2022-10-13 10:07] mislav commented on #6426
I think you might be misinterpreting how we make decisions in our project.

First of all, just because you're disappointed with our decision doesn't make that a bug. You are free to voice your grievances, like you've already done across many GitHub threads, but at the end of the day it's entirely up to our team about whether we will do something about it or not. Repeatedly bringing up the same pro

[2022-10-13 10:07] #6426 closed, assigned to nobody

[2022-10-13 12:40] devzer01 opened #6434 "gh pr list --author "@me""
when executing outside of a git repo the following command
[code]
could provide a global view,

or even this one
[code]

[2022-10-13 14:26] mislav commented on #6434
I'm guessing that by "global" view you mean finding your PRs across all repositories. The `gh pr list` command isn't well-suited for that, since its description says:

[code]

However, you can try this to find your PRs everywhere across GitHub:
[code]

See https://github.com/cli/cli/issues/277 for more context.

[2022-10-13 14:26] #6434 closed, assigned to nobody

[2022-10-13 16:07] mislav commented on #6429
Thanks for the report! You are right that the underlying `API rate limit exceeded` message in the HTTP response was not getting surfaced in the final error message. I've opened a PR in the go-gh library to fix this: https://github.com/cli/go-gh/pull/82

That's okay if you won't fix this yourself. You are welcome to just report a bug and leave it at that.

[2022-10-13 17:07] CrisFavero commented on #2053
I was also looking for this feature today.

[2022-10-13 17:08] #6400 closed, assigned to nobody

[2022-10-13 17:35] jomefavourite commented on #6413
Okay, no problem. Thanks for the feedback

[2022-10-13 23:21] bhoogter commented on #6408
Clarification:  When using `-f` / `--fill`

That is, I want to use the existing PR template for the body, but the commit title for the Pr name.

[2022-10-14 09:46] #6348 closed, assigned to nobody

[2022-10-14 12:05] mislav commented on #6198
Hi, a platform update shipped which will ensure that GraphQL and REST APIs match when listing releases, meaning that `gh release list` will no longer list releases which subsequently can't be found by referencing its tag name. However, due to platform internals, a small replication lag can occur between creating a draft release and having that release be selectable by its tag name. The workaround

[2022-10-14 12:05] #6198 closed, assigned to nobody

[2022-10-14 13:27] #6397 closed, assigned to nobody

[2022-10-14 13:49] mislav commented on #6395
I'm really confused at the direct API query for the team working for you, but the equivalent query in the context of `gh pr create` returning `null` for the same team.

Since you were anonymizing org and team names, my last guess is that there is some kind of mismatch or typo in the organization or team name. Maybe the `gh pr create` is passing some wrong values to the API query. Can you spot some

[2022-10-14 15:40] cedricschwyter opened #6436 "`gh pr create` shows PR author as option for reviewers when logged in with PAT"
### Describe the bug

When creating a PR via `gh pr create` it seems the CLI allows to select oneself as a reviewer. I am not sure this should be the case, as GitHub generally does not allow this on pull requests. I am logged in with a PAT set in GITHUB_TOKEN env variable.

### Steps to reproduce the behavior

1. Simply create any PR with `gh pr create`
2. Edit metadata
3. Select author of the new

[2022-10-15 00:34] bewuethr commented on #1314
I have created a [POC repo](https://github.com/bewuethr/pr-create-test) with a workflow that tries to mark a PR as ready.

Here is an [example workflow run](https://github.com/bewuethr/pr-create-test/actions/runs/3253777174/jobs/5341358626), with the mutation to mark the PR as ready starting [here](https://github.com/bewuethr/pr-create-test/actions/runs/3253777174/jobs/5341358626#step:4:96).

This

[2022-10-15 06:38] aggenebbisj opened #6438 "Allow `gh create issue` to pre-select a template if multiple templates exists in repo"
### Describe the feature or problem you’d like to solve

When creating an issue via CLI you currently cannot specify which issue template to use. This means when opening the web browser using `--web` you will have to select the template you want manually, and no programmer like to do more clicks than necessary of course :-)

### Proposed solution

Add a flag to the `gh issue create`, e.g. `--templ

[2022-10-15 16:44] wknapik opened #6440 "`gh issue list -S` returns no results and exits with 0 when maximum search query length is exceeded"
### Describe the bug

[code]
When the [maximum search query length](https://docs.github.com/en/rest/search#limitations-on-query-length) is exceeded, `gh issue list -S` produces an empty result and a 0 exit code instead of failing with a descriptive error message.

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

Exceeding the [maximum search query length](https://docs.

[2022-10-15 17:04] wknapik commented on #6440
The workaround is to search with `-S` using a truncated query and filter the results with `-q` using the full query.

It seems that if the `-S` query is truncated in the middle of a word inside a `"..."` block for `in:title`, there will be no matches and a 0 exit code. So when using `"..."`, the query should be shortened to the last edge of a word within the query length limit.

[2022-10-15 23:06] 0xcompton90 opened #6442 "gh-install-issue"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-10-16 02:37] #6442 closed

[2022-10-16 10:15] mounilKshah commented on #5954
If no one else is working on this issue, is it okay if I work on this?

[2022-10-16 11:30] mfussenegger commented on #6179
Is there data on this?
https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda was last updated 2020 and already indicates a lot of support.

Since then, the following terminals added support:

- alacritty (with 0.11)
- kitty
- windows terminal

The others are still missing it as far as I can tell, but all of them ignore unknown OSC sequences and print the text correctly. See also the b

[2022-10-17 01:35] cphares opened #6446 "Native Mac ARM release."
### Describe the feature or problem you’d like to solve

I would like the download page to also feature a link to a native MacOS ARM release for MacOS on M1 & M2

### Proposed solution

The Intel compatibility support will eventually be dropped by Apple.  Additionally a native ARM build should be smaller which is never a bad thing

### Additional context

[2022-10-17 05:06] samcoe commented on #6446
Thanks for writing in. Duplicate of https://github.com/cli/cli/issues/2426.

[2022-10-17 05:06] #6446 closed, assigned to nobody

[2022-10-17 05:11] samcoe commented on #6440
@wknapik Thanks for writing in, I was able to reproduce this bug. We should definitely indicate that an error took place rather than swallowing the error message in this case.

[2022-10-17 05:17] samcoe commented on #6438
@aggenebbisj the `issue create` command already works with templates when using the interactive flow from the terminal. Are you requesting that templates also work with the `--web` flag as well?

[2022-10-17 05:22] samcoe commented on #6436
@D3PSI Thanks for writing in, I was able to reproduce this bug. We should not be allowing the selection of the current user from the reviewers selection list.

[2022-10-17 05:28] samcoe commented on #6408
Ah I see. Then this seems to be a duplicate of https://github.com/cli/cli/issues/5951. Our teams stance on the behavior of the of the `--fill` flag has not changed and if you need more fine grained control over the title and body it is best that you supply both fields manually. Going to close this issue out, but if I have misunderstood the issue please comment and I will reopen.

[2022-10-17 05:28] #6408 closed, assigned to nobody

[2022-10-17 06:07] #6332 closed, assigned to nobody

[2022-10-17 13:29] mislav commented on #6440
I have reported this in our platform's internal issue tracker. Unfortunately, unless the server raises an error on invalid queries (currently it doesn't when GraphQL API is used), we can't do anything from the CLI to present a better error message.

[2022-10-17 14:25] mislav commented on #1314
@bewuethr Thank you! I've used this information to internally search for what could be causing this and found an open issue where this limitation is known. For now, a generated GITHUB_TOKEN is not allowed to mark a PR as ready to review, but you might be able to circumvent this by creating a Personal Access Token and storing it as an Actions secret to be used in the workflow.

[2022-10-17 14:57] BKDaugherty opened #6448 "Expected Checks aren't listed in `gh pr checks` or `gh pr status`"
### Describe the bug
_To be honest, I'm not really sure that a bug report is right here! Please recategorize, close or move as you see fit!_

 My base branch pollicy prohibits merges when all checks aren't passing. I deleted a workflow file in a PR, and got GitHub into a bit of a stuck state where one of my checks was expected but wouldn't be run! While this is a weird state, I found it interestin

[2022-10-17 15:13] bewuethr commented on #1314
Yeah, that's how I work around this currently. Thanks for the follow-up!

[2022-10-17 15:18] unman commented on #6423
If you could add that it would be great.
Thanks for an awesome tool

[2022-10-17 16:07] vilmibm commented on #5954
Discussed this in triage today and decided it'd be wise to have a global `--debug` flag for all `gh` commands.

This new flag should be added to the root command and all it should do is set `GH_DEBUG=api` in the environment.

[2022-10-17 16:08] vilmibm commented on #5954
@mounilKshah if you'd like to take this on given the updated requirements I just commented, feel free.

[2022-10-17 16:28] mislav commented on #5954
I'm all for adding a global flag, but if we add a global `--debug` flag then we would have to figure out what to do with the current `gh run rerun --debug` flag which activates debugging inside an actions run (as opposed to activating debugging locally).

[2022-10-17 17:17] mislav commented on #6418
Hi, thank you for reporting, but `gh issue create` only has an ability to create a single issue, and then printing its URL. I cannot imagine a bug where it creates two issues but just prints a URL of the latter one. This must be a terminal emulator or shell issue.

I would suggest that you try replicating this in a different terminal emulator (e.g. Terminal.app on macOS) and with heavy zsh modific

[2022-10-17 17:17] #6418 closed, assigned to nobody

[2022-10-17 17:25] mislav commented on #6423
Agreed that it would be useful to render "linked" PRs when viewing an issue regardless of the presence of the `-c` flag.

The obstacle right now would be that right now there is not a GitHub API that I know of that exposes this information.

Ref. https://github.com/cli/cli/issues/4372

[2022-10-17 17:31] mislav commented on #1906
Closing since we haven't received further reports of this.

[2022-10-17 17:31] #1906 closed, assigned to nobody

[2022-10-17 18:00] mislav commented on #6417
This approach might be tricky to pull off and maintain, since git isn't optimized to store binaries, and since you might reach the size limit of GitHub repositories over a longer period of time. I would suggest that you switch to uploading binaries to releases instead, which isn't stored in git object storage, but is stored in dedicated blob storage instead.

I'm sure the information is out there

[2022-10-17 18:00] #6417 closed, assigned to nobody

[2022-10-17 18:03] janosh opened #6449 "gh run delete"
### Describe the feature or problem you’d like to solve

Ability to delete workflow runs.

### Proposed solution

`gh run delete <run_ids...>`

### Additional context

Maybe a `--last n` flag would make sense too. `gh run delete --workflow tests --last 5` would remove the 5 most recent runs of workflow `'tests'`.

[2022-10-17 20:26] fritzy opened #6450 "`gh status` to show and manage GitHub status"
### Describe the feature or problem you’d like to solve

GitHub web has the concept of a current "status", allowing you to set an emoji, short message, timeout, audience, etc.
The `gh status` command should show my currently set status.

This would provide a programatic way view and set my "GitHub Status" from the command line, encouraging more use of the feature.

### Proposed solution

- `gh sta

[2022-10-17 20:29] fritzy commented on #6450
Special emoji could be specified with `:shipit:` colons.

If the message string does not start with an emoji or code, there should be an error response.

[2022-10-17 20:31] fritzy commented on #6450
Perhaps `--clear` or `--status-clear` would be better than `--timeout` in case it is used elsewhere.

[2022-10-18 04:06] ghost opened #6452 "`gh` fails if `.gh-resolved` config option is not set"
### Describe the bug

Any `gh` command related to repo fails because of non-zero `git` exit status.

I believe it caused by error check, added here (#6354):

#### Before
https://github.com/cli/cli/blob/4c3b123db67c3291d7aa9c8498231c1e32503383/git/remote.go#L46

#### After
https://github.com/cli/cli/blob/3fe5026d39f1cb4dacec3793ef45bbe2f416c987/git/client.go#L164-L167

If I remove this check, every

[2022-10-18 04:58] samcoe commented on #6452
@tdakkota I was able to reproduce this, thanks for reporting and opening a PR. I will review it shortly.

[2022-10-18 06:36] #6452 closed, assigned to samcoe

[2022-10-18 08:10] #3613 closed, assigned to nobody

[2022-10-18 09:02] #6428 closed, assigned to nobody

[2022-10-18 09:24] medecau opened #6455 "gh uses git remote string and ignores SSH host aliases"
### Describe the bug

Unable to use `gh` in repo where remote uses different host alias.

I use different alias for github.com as remotes so I can have repos that use personal or work ssh keys.

### Steps to reproduce the behavior

1. Have an SSH key file like `~/.ssh/work.pub` that is listed in your GH SSH keys
2. Add the following to your `~/.ssh/config`
[code]
3. Pick a for your account and cha

[2022-10-18 11:34] samcoe commented on #6448
@BKDaugherty I suspect this is a platform bug where the API is not returning information about the stuck check. Could you run `gh pr checks` with the `GH_DEBUG=api` environment variable set and paste the logs here, redacting any sensitive information, so that we can further debug what is happening?

[2022-10-18 12:21] mattem opened #6458 "`gh pr status` to include the PR URL"
### Describe the feature or problem you’d like to solve

The `pr status` view is awesome (personally I find it much easier to parse than the web view), and clearly shows the PRs that are awaiting my review from the terminal.
The addition of including the URL to the PR would be a great addition to the default output, as a number of terminal emulators allow `cmd+click` etc through to the link.

###

[2022-10-18 15:03] mounilKshah commented on #5954
@vilmibm I am fine with working on this issue, as per the requirements that you have mentioned. Can I start a thread for the discussing approaches for this issue on Discussions page? Maybe everyone can then share their ideas there itself?

[2022-10-18 15:41] mislav commented on #6429
Fixed by https://github.com/cli/cli/pull/6454

[2022-10-18 15:41] #6429 closed, assigned to nobody

[2022-10-18 16:03] rohith-subramanyam opened #6459 "Unable to run gh because it cannot find glibc version"
### Describe the bug

On CentOS 7, with gh installed using brew. gh is unable to run because it cannot find the required glibc version.
[code]

### Steps to reproduce the behavior

1. On CentOS 7
[code]
2. brew install gh
[code]
3. See error
[code]

### Expected vs actual behavior

gh to work when brew installed on CentOS 7

[2022-10-18 16:08] dataders commented on #6418
@mislav ack -- you're 100% correct. I know you're a busy person, so I very much appreciate you taking the time to not only just say "not CLI's fault" and "[PEBCAK](https://en.wikipedia.org/wiki/User_error)", but to actually take the time to teach me something I didn't know before!

Thanks for making the internet a better place 🤗

[2022-10-18 19:55] BKDaugherty commented on #6448
[code]

Is the body what we need here? Is there a way to get that?

[2022-10-18 21:26] meisam91 opened #6461 "push changes"

[2022-10-18 21:26] #6461 closed, assigned to nobody

[2022-10-18 22:40] tonglil opened #6462 "gh and REST API unable to work with same-org forked repos"
### Describe the bug

GitHub introduce the feature of forking internally here: https://github.blog/changelog/2022-06-27-improved-innersource-collaboration-and-enterprise-fork-policies/

But I don't think you've updated your API or tools to support this.

---

The [REST API](https://docs.github.com/en/rest/pulls/pulls#create-a-pull-request) to create a pull request from an internally forked reposit

[2022-10-18 22:41] CraigSiemens commented on #2053
We were looking to do this as well.

We did find calling `gh pr edit --add-reviewer` seems to work. The only issue is it moved any reviewers added again to be moved to the bottom of the reviewer list.

[2022-10-18 23:07] tonglil commented on #2228
Currently must work around this with `cd` or `pushd`, not hopeful for any movement after 2 years.

[2022-10-19 07:16] fregante commented on #2864
I think the current behavior is a great the default for human usage. If you need the raw content you can already use `--json` and `--jq`:

[code]

This also works for comments:

[code]

[2022-10-19 09:08] timrogers opened #6463 "When upgrading an extension, print information about changes since the user's previously installed version"
### Describe the feature or problem you’d like to solve

When a user updates a CLI extension using `gh extension upgrade <name>`, the extension is immediately updated if there are updates available.

But the user doesn't get any information about the changes to the extension since their previous version - including warnings about any breaking changes.

### Proposed solution

When an extension is u

[2022-10-19 09:09] timrogers commented on #6463
My team at GitHub maintains the `github/gh-gei` extension, and would benefit from this feature. We, as part of our documentation, instruct users to use `upgrade` regularly, but this inhibits our ability to push breaking changes as the user won't get any warning of them.

[2022-10-19 10:14] mislav commented on #6459
Hi, thank you for reporting. We do not maintain Homebrew nor its `gh` formula (they are external to our repository) and therefore we can't debug nor fix this. Note that this page https://docs.brew.sh/Homebrew-on-Linux says to use `brew doctor` to troubleshoot glibc issues.

Use `brew install -s gh` to tell Homebrew to compile gh from source, which might solve issues with the gh "bottle" (precompil

[2022-10-19 10:14] #6459 closed, assigned to nobody

[2022-10-19 10:24] v3gard commented on #6395
You might be correct. I can't reproduce this issue on my local computer anymore (with `gh 2.17.0` or `gh 16.1` which Github Actions uses). Most likely I messed something up when I anonymized this - so I'll provide the actual requests instead. I'm still unable to assign my team in Github actions, but that might have something to do with scopes as @samcoe pointed out earlier.

I've now tested runnin

[2022-10-19 10:31] rickkln commented on #5626
Yeah, this effectively means GitHub doesn't fully support git itself as you cannot even follow the branching model the git project itself uses on GitHub. We still use GitHub as we are fairly heavily invested in GitHub actions and the overall process.

To clarify, this is not something that can be addressed in the `cli` tool, via extensions, or workflows. GitHub (and actually GitLab and Bitbucket a

[2022-10-19 12:02] jlsjonas commented on #2567
@vilmibm while #1553 is definitely related, it is requesting the option for new issues, not for prs.
A cli flag would f.e. allow teammembers to set up aliases for most commonly used templates, along with allowing usage in non-interactive contexts.

[2022-10-19 13:38] mislav commented on #2567
@jlsjonas If we added this feature to `gh issue create`, we will have added it for `gh pr create` too.

Since templates need to be manually filled in by the user (this is the point of templates), I'm not sure how you envision templates being used in non-interactive contexts.

Please note that it's absolutely possible to use `gh pr create` in non-interactive context, but you will have to provide th

[2022-10-19 15:03] Reinwald1490 opened #6465 "Brian.reinwald@icloud.com"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-10-19 15:06] #6465 closed

[2022-10-19 18:20] zorro opened #6466 "`gh gpg-key add` broken"
### Describe the bug

`gh gpg-key add` seems broken. It looks an API change.

### Steps to reproduce the behavior
`gpg gpg-key add key.gpg`

### Expected vs actual behavior

Gives the error:
[code]

[2022-10-19 18:41] CraigSiemens commented on #4844
We ran into this issue as well. We're going to try using another token instead of `GITHUB_TOKEN`.

Is there a permission that could be added to the workflow to avoid this issue? I saw `metadata` was mentioned in another thread but that appears to be a default that set for the token.

[2022-10-19 19:31] robnagler commented on #5721
Just got this, which is not respecting `$NO_COLOR` (let alone $TERM):

[code]

[2022-10-19 20:24] pauladisanto commented on #3185
I had the same issue, and uninstalling from snap and installing with apt solved it. Thanks!

[2022-10-19 22:29] Trenly opened #6467 "CLI does not recognize branch as being pushed to remote"
### Describe the bug

When using PowerShell scripts to automatically push a branch and then create a PR with `gh pr create` I am prompted where I would like to push the branch, even though the branch has already been pushed using `git push`. Occurs in version 2.18.0 (2022-10-18)

### Steps to reproduce the behavior

1. Ensure you are in a fork of a repository, and have the base repository set as a

[2022-10-19 22:33] shyuen commented on #2678
Sorry to bump this closed ticket, but I'm actually able to mark an older release as `latest` from the GitHub web UI.
![Screenshot_20221019_162112](https://user-images.githubusercontent.com/12534005/196815789-bedb90e4-e5fa-4ea8-9a35-76e8dbf3a760.png)

This allows the `latest` label to be moved to an older GitHub release. Moving the `latest` label would be useful to mark what tag is used for product

[2022-10-20 00:36] grchiu-intel opened #6468 "`gh pr create` does not work in non-interactive mode starting with `v2.18.0`"
### Describe the bug

`gh pr create` when run non-interactively no longer works, a git bisect shows that it started happening after 2944f7c3abac8db83f4354f0246ea32627e68d11 was merged.

### Steps to reproduce the behavior

1. Clone a GitHub repository
2. Add a fork with `gh repo fork --remote --remote-name=fork`
3. Create empty commit with `git commit -m empty --allow-empty`
4. Push commit to fork

[2022-10-20 00:37] grchiu-intel commented on #6468
This looks related to https://github.com/cli/cli/issues/6467.

[2022-10-20 01:55] shyuen opened #6469 "Ability to label a GitHub release as "Latest": gh release update"
### Describe the feature or problem you’d like to solve

This is pretty much a copy of [issue 2678](https://github.com/cli/cli/issues/2678).

The problem that I'd like to solve is to use the `latest` label to mark the GitHub release that is currently used in the production environment.  Normally that would be the newest GitHub release made, however, that would no longer be the case if I needed to

[2022-10-20 02:24] BarrosoDev opened #6470 "explorer"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-10-20 02:31] ricardoamador opened #6471 "Attempting to merge a pull request and got 'Something went wrong while executing your query. Please include D556:7F94:3C32F91:7B083AB:634F139E when reporting this issue"
### Describe the bug

We use a bot to merge approved pull requests and got the following errors:
[code]
and
[code]

This occurred twice about two hours apart.
![image](https://user-images.githubusercontent.com/32242716/196842147-bb7dd95c-fd0d-4282-a41c-e552c1373ed1.png)

If it is worth mentioning our bot reacts to a label added to the pull request in order to merge it.

### Steps to reproduce the

[2022-10-20 04:41] #6470 closed, assigned to nobody

[2022-10-20 05:12] zorro commented on #6466
OK, The problem was the key not in ASCII-armored format.

[2022-10-20 05:21] samcoe commented on #6468
@grchiu-intel This is in fact the same bug as https://github.com/cli/cli/issues/6467, I am going to close this issue as a duplicate as that one was opened earlier. Thanks for writing in. I am working on a fix now.

[2022-10-20 05:21] #6468 closed, assigned to nobody

[2022-10-20 05:22] samcoe commented on #6467
@Trenly Thanks for writing in. I have confirmed this is a regression from the previous release and am working on a fix now!

[2022-10-20 09:46] #6467 closed, assigned to samcoe

[2022-10-20 10:04] samcoe commented on #6467
This has been fixed in the latest release https://github.com/cli/cli/releases/tag/v2.18.1

[2022-10-20 12:22] samcoe commented on #6448
@BKDaugherty The body is the part that we need but we have confirmed that this is a platform issue andt thus there isn't anything to be done from the CLI perspective since the API doesn't return the data necessary to display these checks.

[2022-10-20 12:30] samcoe commented on #6469
@shyuen Thanks for continued interest in this feature. While the web now allows the selecting of the latest release there is no API endpoint that provides this functionality. I am going to mark this feature request as blocked for now, but we can revisit it when the API adds this feature.

[2022-10-20 12:37] samcoe commented on #6455
@medecau Thanks for writing in. Right now our parsing of SSH config files is basic and does not handle wildcard characters such as `*`. To work around this limitation I would suggest that you add the `Hostname` field to each individual `Host` entry. Please let me know if that works for you.

[2022-10-20 12:45] samcoe commented on #6471
@ricardoamador Thanks for writing in. It looks like you have attempted to merge in the pull request from both the browser and the CLI and they both returned an error, is that correct?

[2022-10-20 12:47] samcoe commented on #5465
Going to close this as stale and lack of response from original author.

[2022-10-20 12:47] #5465 closed, assigned to nobody

[2022-10-20 12:48] samcoe commented on #5290
Going to close this as stale and lack of response from original author.

[2022-10-20 12:48] #5290 closed, assigned to nobody

[2022-10-20 12:52] samcoe commented on #5631
Going to close this for now as it is blocked by #4001. If that gets resolved we can revisit this idea.

[2022-10-20 12:52] #5631 closed, assigned to nobody

[2022-10-20 12:54] samcoe commented on #5896
Seems like this has been solved with `fetch-depth: 0`. Going to close this, please let me know if there is still a bug that needs to be discussed.

[2022-10-20 12:56] samcoe commented on #6009
Going to close this as stale, please comment if there is any new information to discuss.

[2022-10-20 12:56] #6009 closed, assigned to nobody

[2022-10-20 13:03] Trenly commented on #6450
The command `gh status` first made me think the command would show me the status of GitHub services like on [GitHub Status](https://www.githubstatus.com/) with indication of any ongoing incidents.

Not that this should be a limiting factor, but just pointing out my initial confusion (which could easily be solved with some usage docs in the cli, or by using `gh userstatus` instead)

[2022-10-20 13:13] isquicha opened #6475 "Add `alias import` feature"
# `gh alias import`

## The problem

After creating many gh aliases, change to another computer is hard because I have to add every alias manually. 😢
As we already have `gh alias list`, the output of this command should be the input of a `gh alias import` command. 😄

## Proposed solution

At least one of those forms should be valid:

1. `gh alias import -f aliases_file`
2. `cat aliases_file | gh a

[2022-10-20 13:35] dlangonef commented on #4844
Hi! I'm having the same issue when trying to create an action to execute this command `gh pr edit ${{ github.event.pull_request.html_url }} --add-reviewer {reviewer}`. Is there another way to do this?

When I try to use my **PAT**, I ran into this error `gh: To use GitHub CLI in a GitHub Actions workflow, set the GH_TOKEN environment variable.`, so I'm not sure if I can make it run with my **PAT**

[2022-10-20 15:28] ricardoamador commented on #6471
Hi @samcoe thank you for the reply. No I wasn't sure where to put this issue but this is strictly an attempt to merge through the web api.

We are using the graphql client then making a call to mutate:
[code]

Where mergePullRequestMutation is defined as:
[code]

[2022-10-20 18:07] scottdickerson commented on #6274
The workaround that @nzig came up with worked well until today:
[code]

However, it seems to be newly broken again today:
[code]

[2022-10-20 18:18] dojutsu-user commented on #6415
Hi @mislav,
Taking this issue up !!

[2022-10-21 04:30] lasiltan opened #6477 "Display GITHUB_RUN_NUMBER in `gh run list`"
### Describe the feature or problem you’d like to solve

Display GITHUB_RUN_NUMBER in `gh run list`

### Proposed solution

We use the GITHUB_RUN_NUMBER as part of our package version number. Having it listed in the response would really help in syncing build numbers with runs.

[2022-10-21 08:26] ldu4 commented on #6006
Is there any work around for this issue?

[2022-10-21 09:57] nsmag commented on #6120
Hi @vilmibm, I have started working on this. I'm not sure what fields should be included in the job payloads. My current prototype is printing all fields from the struct like this:

[code]

[2022-10-21 12:55] computersalat opened #6479 "'go test' fails since 2.14.3 in OpenBuildService"
Hi,

trying to build gh client in [build.opensuse.org](https://build.opensuse.org/package/show/home:computersalat:devel:scm/gh).
But starting with version 2.14.3 the `go test` is failing. Maybe because of an Update to the `HTTPClient` test.

[code]

IMHO the  build service does not allow to go online.
Is there a possibility to improve the test in a way that does not need to go online ?
Or are ther

[2022-10-21 18:11] mntlty opened #6483 "show version changes when upgrading a single extension"
### Describe the feature or problem you’d like to solve

When upgrading all extensions the output shows the version change

[code]

When upgrading a single extension the output does not
[code]

The difference appears to be that https://github.com/cli/cli/blob/abb8c86ee80904c4d035086faa8ab293dbf9f670/pkg/cmd/extension/manager.go#L561 is only on the `upgradeExtensions` func

### Proposed solution

S

[2022-10-21 18:19] mntlty opened #6484 "Force upgrade extension should override pinned versions"
### Describe the bug

I would expect running upgrade with `--force` to override a pinned extension

[code]

### Steps to reproduce the behavior

1. install a pinned extension that is not the latest version, e.g. `gh extension install ext-name-url --pin some_version`
2. run `gh extension upgrade ext-name --force`
3. See error

### Expected vs actual behavior

The effect of `--force` isn't clear fro

[2022-10-21 18:21] paw-lu opened #6485 "`gh pr create` `aborted: you must first push the current branch to a remote, or use the --head flag` even if preceded by a `git push --set-upstream origin <BRANCH_NAME>`"
### Describe the bug

Trying to fork, clone, modify, and create pull request with a GitHub Action using the gh cli.

When using `gh pr create` cli in GitHub actions, I get a `aborted: you must first push the current branch to a remote, or use the --head flag`, even though `git push --set-upstream origin <branch_name>` has been run.

### Steps to reproduce the behavior

[GitHub action](https://gith

[2022-10-22 11:53] franDayz commented on #3185
I use Pop!_OS 21.04 distribution
This worked for me:
https://garywoodfine.com/how-to-install-github-cli-on-linux/

[2022-10-22 13:13] mislav commented on #6485
Hi, sorry for the nuisance. This was fixed in the latest release: https://github.com/cli/cli/pull/6472

In the meantime (until gh is upgraded within Actions runners) you can work around this by adding `--head ${{ github.run_id }}-${{ github.run_attempt }}`

[2022-10-22 13:13] #6485 closed, assigned to nobody

[2022-10-22 17:38] 11zAzu opened #6486 ".github/workflows/check-broken-links-github-github.yml"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-10-22 18:31] exil0867 commented on #6469
@samcoe The blog post states that it can be done through the API: https://github.blog/changelog/2022-10-21-explicitly-set-the-latest-release.

[2022-10-22 22:33] paw-lu commented on #6485
Nothing to be sorry about @mislav! Appreciate the help!

I had tried this, but it didn't seem to be working for me. (In general I get pretty confused on how `--head` is meant to work). I get:

[`pull request create failed: GraphQL: Head sha can't be blank, Base sha can't be blank, No commits between main and 3304921382-1, Head ref must be a branch (createPullRequest)`](https://github.com/paw-lu/te

[2022-10-22 22:40] paw-lu commented on #6485
Ah, I figured it out. If I add my username as a prefix:

[code]

then it works! Thanks for the tips! Again—appreciated!

[2022-10-22 23:19] shyuen commented on #6469
@exilvm Wow nice find; it seems that post was made yesterday (October 21, 2022)!

That said, I don't see a reference to setting `latest` on a release (POST) when I read the API documentation for both GraphQL and REST. Maybe the documentation hasn't been updated yet (as of October 22, 2022)? So far, documentation API seems to reference checking if the release is the `latest` or getting the latest r

[2022-10-23 09:16] Freed-Wu opened #6488 "[feature] display emoji in `gh run list`"
# CLI Feedback

## Are there features you'd like to see added?

[code]

Can `:green_heart:` be displayed as :green_heart:?

[2022-10-23 10:00] MyTrueWallet opened #6489 "Bug"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-10-23 10:04] MyTrueWallet opened #6490 "Review Codes"
https://github.com/cli/cli/blob/4294ee14a1a80ca820988c2497961da4f6646e9e/CODEOWNERS#L1

[2022-10-23 10:31] #6486 closed, assigned to nobody

[2022-10-23 11:17] #6490 closed

[2022-10-23 11:19] #6489 closed

[2022-10-23 14:42] devzer01 opened #6491 "can't run gh pr create from anywhere"
i run  the following

[code]
but it expects to me in a cloned repo. what's the point of providing --repo ?

i have to make an update to 100 repos so i write
[code]

like this? no problem i will fix your stupid software, you don't like my contributions so i will keep it my self

[2022-10-23 14:51] Eladrian05 opened #6492 "Lic"
Lic
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redac

[2022-10-23 15:07] #6492 closed

[2022-10-23 15:08] mislav commented on #6491
Thanks for reporting. This is a known bug: duplicate of https://github.com/cli/cli/issues/5906

This is [not the first time](https://github.com/cli/cli/issues/6426#issuecomment-1277365135) you insult our team and our software development practices, which is entirely unnecessary—you could have just reported the bug without throwing any insults around. I'm banning you from our org per "insulting com

[2022-10-23 15:08] #6491 closed, assigned to nobody

[2022-10-23 17:21] novusli commented on #4131
I have the same issue in macOS 12.6.

I installed the GitHub Cli with brew `brew install gh`.  Then I tried `gh repo clone <user_name>/<repo_name>` from my repo, and it shows
`Usage: gh repo [OPTIONS] USER_REPO
Try 'gh repo --help' for help.
Error: Got unexpected extra argument (<user_name>/<repo_name>)`

`gh --help` shows
`Usage: gh [OPTIONS] COMMAND [ARGS]...
  Main entry point for GitHubCli.

[2022-10-23 20:52] bruxisma commented on #4369
Given the amount of work that has gone into supporting/using gh extensions, I think it's easier to just let this be closed than to implement it. If someone else thinks its worth adding, feel free to ping me in this issue and I'll re-open 🙂

[2022-10-24 07:58] becky-sequence commented on #6378
Yes I'm trying to do automation. I want to query the status of the last time a particular job ran, so I need `run view` to get a list of jobs and then I can find the job ID based on job name. It looks like that issue you've linked may solve this problem. Am I correct that I could then get all jobs and their steps back simply from `run view`?

[2022-10-24 11:13] mislav commented on #4131
@novusli What you have installed as `gh` is not GitHub CLI, since the output of `gh --help` is unrecognizable to me. This is what you should be getting instead:

[code]

It's likely that `/usr/local/bin/gh` on your system is the true GitHub CLI, but `/Users/<user_name>/anaconda3/bin/gh` takes precedence over it. Figure out what installed that and remove it.

[2022-10-24 12:20] mislav commented on #6179
@mfussenegger

1. The default terminal app on macOS (Terminal.app) does not support hyperlinks, which is a pretty big deal for us.
2. In another thread, I noted that BSD `less -R` pager mangles hyperlink sequences. I cannot reproduce this anymore, so either BSD `less` was updated in the meantime, or my initial finding was wrong.
3. The latest stable version of tmux doesn't seem to include [hyperli

[2022-10-24 12:22] mislav commented on #4672
Closing in favor of a later issue that has more guidelines on how to implement this: duplicate of https://github.com/cli/cli/issues/6056

[2022-10-24 12:22] #4672 closed, assigned to nobody

[2022-10-24 12:23] mislav commented on #6056
Ref. https://github.com/cli/cli/issues/3558 https://github.com/cli/cli/issues/4002 https://github.com/cli/cli/issues/4916

[2022-10-24 13:10] mislav commented on #4844
@CraigSiemens If a Personal Access Token (PAT) is being used, then the scopes you should add is `read:org` and then additionally authorize the token to access the organization in question.

@dlangonef You can absolutely use your PAT with GitHub CLI. Per the error message you received, just ensure that the GH_TOKEN environment variable was set for your workflow step:

[code]

[2022-10-24 13:13] mislav commented on #6466
Thanks for reporting and sharing your workaround! Ideally we should either make the `gpg-key add` command work even when the key is in binary format, or make sure that a better error message is displayed.

[2022-10-24 13:16] mislav commented on #2678
As of very recently, explicitly declaring the latest release is possible via the `make_latest` parameter for the Release create REST API. Agreed that we should expose this in GitHub CLI as well.

[2022-10-24 13:16] mislav commented on #6469
@shyuen Thanks for the heads-up! Closing as duplicate of https://github.com/cli/cli/issues/2678

[2022-10-24 13:16] #6469 closed, assigned to nobody

[2022-10-24 13:36] mislav commented on #2228
Agreed; this can be taken up by the community since we failed to do so ourselves.

Tip for implementers: this can probably be done using Cobra global flags and `PreRun` hooks.

[2022-10-24 13:48] mislav commented on #5653
Shipped in https://github.com/cli/cli/releases/tag/v2.12.1

[2022-10-24 13:48] #5653 closed, assigned to nobody

[2022-10-24 13:51] mislav commented on #5024
Is this still a problem for anyone?

Note that we're in the process of fixing another (perhaps related) issue where creating a release with assets can result in an non-cleaned up draft release in case of the tagged release already existing https://github.com/cli/cli/pull/6493

[2022-10-24 14:15] mislav commented on #6006
@ldu4 No workaround that I know of. Note that GitHub ceased support for GHES 3.1 after 2022-06-30, and GitHub CLI only supports versions of GHES that GitHub supports. In other words, we haven't prioritized fixing this yet because the bug technically doesn't affect any currently supported GHES versions.

[2022-10-24 14:18] mislav opened #6495 "NO_COLOR setting not respected in gh upgrade notice"
Just got this, which is not respecting `$NO_COLOR` (let alone $TERM):

[code]

_Originally posted by @robnagler in https://github.com/cli/cli/issues/5721#issuecomment-1284478493_

To fix, these `ansi.Color` calls should happen conditionally: https://github.com/cli/cli/blob/9d55bdd3720159476c083f135961a2b995eca296/cmd/gh/main.go#L270-L278

[2022-10-24 14:22] mislav commented on #6471
@ricardoamador Hi, to me it doesn't look like you are using GitHub CLI for this, and this is an issue tracker for GitHub CLI (invoked as `gh` on the command line).

For general GitHub Support, please visit https://github.com/contact. The Support is also able to look at the logs behind your query ID in the error message (something that our team doesn't have privileges for).

[2022-10-24 14:22] #6471 closed, assigned to nobody

[2022-10-24 14:39] mislav commented on #5986
This should now be fixed on the platform 🎉

[2022-10-24 14:39] #5986 closed, assigned to nobody

[2022-10-24 14:42] novusli commented on #4131
It works after I removed the `/Users/<user_name>/anaconda3/bin/gh`. Thanks!

[2022-10-24 15:04] mislav commented on #6120
@nsmag Thanks for working on this!

1. Numeric ID field should be called `databaseId`
2. Other fields should be named in `camelCase` rather than in `snake_case`
3. `html_url` should just be `url`
4. `run_id` is not necessary to include since it will be present in the top-level JSON representation of `gh run view`

[2022-10-24 16:01] vilmibm opened #6496 "accessible mode for gh status"
Add a flag to `gh status` that renders it in a non-column, screen reader friendlier version.

[2022-10-24 16:04] mislav commented on #6483
Agreed! Thanks for pointing it out.

[2022-10-24 16:07] mislav commented on #6484
Good idea. We imagine that `gh ext upgrade --force` should un-pin the extension and allow it to upgrade.

[2022-10-24 16:31] mislav commented on #6475
Thanks for the feature request.

We agree that a way to import aliases would be useful. Perhaps the usage can be like so:
[code]

The format of aliases could be YAML to properly support multi-line aliases.

Ref. #6497

[2022-10-24 16:31] vilmibm opened #6497 "gh alias list should print machine consumable output"
`gh alias list` prints something that looks like yaml but definitely isn't (see: multi-line alias values).

it should either dig in and print proper yaml or switch to another format that can be consumed on the command line for piping (ie, collapse multi-line aliases into single lines)

[2022-10-24 16:40] vilmibm commented on #6450
Have you tried https://github.com/vilmibm/gh-user-status ? We are considering just merging that into core, but it would stay `gh user-status` as opposed to living under the `gh status` namespace.

As far as printing out one's status in `gh status`, we'd rather not given how precious text real estate is for that command.

[2022-10-24 16:41] mislav commented on #6449
Good idea; thanks for the feature request.

I find it reasonable to support `gh run delete <run_ids...>`, but not `--last 5` is it would be too non-deterministic. Contributions welcome!

[2022-10-24 17:03] janosh commented on #6449
Not a go dev myself (yet 😄).

[2022-10-24 19:50] Jesse-Smrekar commented on #2691
For those still facing this issue, I was doing something similar in a script
[code]
which resulted in a race condition of the remote branch being created. This was fixed by adding a `sleep` in between these two commands. A bit sloppy but it works.

[2022-10-24 21:33] janosh opened #6499 "Add `gh secret rename`"
### Describe the feature or problem you’d like to solve

I just moved several of my packages with CD from `yarn` to `pnpm`. `yarn` checks for the environment variable `NPM_AUTH_TOKEN` when asked to `yarn publish` a package. In `npm`, that variable is called `NPM_TOKEN`.

### Proposed solution

Would be cool if the `gh` CLI allowed renaming secrets.

[code]

### Additional context

This is currentl

[2022-10-24 23:13] weikanglim commented on #3799
@vilmibm @mislav

I can confirm that the behavior of accepting the prompt for "Authenticate Git with your GitHub credential" is different than `gh auth setup-git`.  `gh auth setup-git` generates `git config --global` correctly whereas accepting Yes to "Authenticate Git with your GitHub credential" does not.

I can confirm that after running `gh auth setup-git`, `gh cli` is now selected for git aut

[2022-10-25 12:31] dojutsu-user commented on #6495
Hi @mislav,
Taking this issue up. Could you please assign me this?

[2022-10-25 13:15] mislav commented on #6463
Thanks for the feature request. We've discussed this and we agree that the user should have at least _some_ kind of access to a change log when upgrading an extension. For now, we're thinking of something along the lines of:

1. Printing the changelog for the new version, i.e. the equivalent of `gh release view <new-version>`; or
2. Printing changelogs for every release in the range of `<old-versi

[2022-10-25 13:27] mislav opened #6508 "Idea: print release notes for a range of versions"
I often have a need for viewing the entire changelog between two versions. GitHub web UI does not have support for that, but implementing it in GitHub CLI could be trivial.

[code]

I'm not a fan of the syntax for ranges I've made up: `<oldversion>..<newversion>`. Better ideas welcome!

Ranges could also be specified using `x` or `*` syntax:
[code]

For simplicity of output, release assets would n

[2022-10-25 13:30] timrogers commented on #6463
That approach seems reasonable to me. For the case of upgrading multiple extensions simultaneously, did you consider (a) showing the release notes only for major versions or (b) using a pager (e.g. `less`) to show large amounts of data? (a) seems like it could be a good compromise.

[2022-10-25 13:41] mislav commented on #6499
Hi, thanks for the feature request, but the GitHub platform doesn't have support for renaming a secret and thus we cannot support it in CLI either.

The flow that you've found as a workaround—delete old secret, reupload the original value under the new name—is the only path forward.

[2022-10-25 13:41] #6499 closed, assigned to nobody

[2022-10-25 14:03] dylan-smith commented on #6463
My vote would be for (2) - show all changelogs for the version range being upgraded.

I also agree that if doing a `gh extension upgrade --all` that printing changelogs is probably too noisy. But if the user upgrades a specific extension IMO it makes sense to print changelog by default.

[2022-10-25 14:05] timrogers commented on #6463
Agreed on (2) as well - as @dylan-smith said - for the "upgrading a single extension" case.

[2022-10-25 15:02] knpwrs opened #6509 "Generic view/edit/comment commands for URLs"
### Describe the feature or problem you’d like to solve

People often send Github URLs in applications like Slack which cannot easily be sent to `gh` for usage on the command line.

### Proposed solution

Being able to copy the URL out of slack and do commands like the following would be great:

[code]

Those would in turn map to the following commands, automatically:

[code]

The advantage of thi

[2022-10-25 15:18] mislav commented on #6463
We briefly considered that but neither options sound appealing to me. Terminals (even when using pager) aren't very effective medium for displaying multiline data that belong under separate sections. I'd vote to keep `gh ext upgrade --all` output brief: 1 line per extension.

[2022-10-25 15:19] mislav commented on #6495
@dojutsu-user You're welcome to. 🙇

[2022-10-25 15:24] mislav commented on #5984
Hi, just updating this to make a note that I wasn't able to discover any way of how `git clone` could have produced 2 remotes (incl. "upstream") instead of one ("origin"). But, maybe we could amend the `gh repo clone` implementation to gracefully exit with a warning (instead of erroring out) if an `upstream` remote already exists. It shouldn't be hard to do and it would cover strange cases like th

[2022-10-25 15:25] timrogers commented on #6463
I'm cool with that, as long as we show the full changelog when updating a single extension ❤️ Thank you for taking the time to think this through!

[2022-10-25 16:35] dojutsu-user commented on #6415
Hi @mislav,
Have raised a PR with probable fix. Please review the same and let me know if there's any change required.

[2022-10-25 16:46] mfussenegger commented on #6179
OSC 8 support was added to less in http://www.greenwoodsoftware.com/less/news.580.html

But it also doesn't break? It afaik shows the text and ignores the link. This would at least allow it to be used in an optional way, like https://github.com/cli/cli/pull/3309 does. There's no downside for Terminal.app users, and the `gh pr list` output would be a lot more useful by default for everyone who uses

[2022-10-25 17:02] mntlty commented on #6484
@mislav is there anything else `--force` should do? I'll add it to the flag output

[2022-10-25 17:30] dojutsu-user commented on #6495
@mislav Turns out we can do it more cleanly than adding conditions. Raised the PR with the fix. Please review it and let me know if there's any change required.

[2022-10-25 19:41] 5tunt opened #6511 "honey"
#6510 Shorty

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if needed.

[2022-10-25 20:52] #6511 closed, assigned to nobody

[2022-10-25 21:07] ChadMichaelSheda opened #6512 "Skylight Records Produced by Chad Michael Sheda is the #1 Record Company in the Whole Wide World an Chad Michael Sheda is the #1 Singer in the Whole Wide World in the Rocken RoLL HaLL oF Fame"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-10-25 21:10] ChadMichaelSheda commented on #6512
- https://user-images.githubusercontent.com/94402076/197882611-b0597d33-7ad0-4b9f-a055-020d7c6999fd.mp4

[2022-10-25 21:20] mntlty commented on #6483
@mislav while looking at the code (and being aware of scope creep), I was thinking it might make for a nice refactor to allow for a list of extensions to upgrade.

Currently, only a specific one or `--all` is supported. I am proposing to change the command to be

[code]

which I think will also streamline the code to always accept a list

[2022-10-25 22:56] cep21 commented on #5906
My current workaround is to add this to my run
[code]

After this, I can use `gh` CLI.

[2022-10-26 00:59] millybadboy opened #6515 "https://Millybadboypimusic.com/validation-key.txt"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-10-26 02:55] Al3rabi opened #6516 ">https://github.com/cli/cli/pull/6501#issuecomment-1291428040"
_Originally posted by @Al3rabi in https://github.com/cli/cli/issues/6501#issuecomment-1291428040_

[2022-10-26 04:31] shanduur commented on #6508
I’m going to take that, if still available.

[2022-10-26 06:30] twelvelabs commented on #3528
I’ve created an extension that allows you to manage repo and branch protection settings declaratively: https://github.com/twelvelabs/gh-repo-config

It basically lets you generate and store the REST API payloads in the .GitHub die of the repo.

@vilmibm The origin of my extension was wanting to do exactly that. I have a workflow that runs regularly to ensure that everything in one of my orgs is co

[2022-10-26 13:30] #6515 closed, assigned to nobody

[2022-10-26 13:30] #6512 closed

[2022-10-26 13:31] #6516 closed, assigned to nobody

[2022-10-26 13:57] #6495 closed, assigned to dojutsu-user

[2022-10-26 16:07] razor-vg commented on #6483
I would like to work on the original issue. @mislav Can you please assign me the same.

@mntlty Nice idea, I believe it's better to open a new issue to track the same.

[2022-10-26 16:08] dojutsu-user commented on #6483
I would like to work on the original issue. @mislav Can you please assign me the same.

@mntlty Nice idea, I believe it's better to open a new issue to track the same.

[2022-10-26 17:48] wraithgar commented on #1837
This may be an issue with how git checks out bare repositories.  By default when you do a normal clone git sets up `remote.origin.fetch`.  This doesn't happen with `--bare`.

There is an article here that goes into a solution.

If I do this locally, and use the `--config` flag as part of the clone `gh` seems to do just fine.

[code]

And so forth.  The PR is created properly https://github.com/wra

[2022-10-26 18:22] mislav commented on #6462
Thank you for reporting. This API issue is known and tracked internally. I will update the thread when it's fixed!

[2022-10-26 19:29] johnstonmatt opened #6519 "`gh secret set -f .env` fails to parse secrets containing line breaks"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.
version:
### Steps to reproduce the behavior

1. Create a file named `.env` (inside existing GitHub repo)
2. Add the following contents:

[code]

3. run `gh secret set -f .env`
4. read `"error parsing env file: Can't separate key from value"`

### Expected vs actual behavior

I found

[2022-10-26 20:00] mntlty opened #6520 "Show token scopes in `gh auth status`"
### Describe the feature or problem you’d like to solve

the current output of running `gh auth status` is

[code]

it would be helpful to list the scopes the token has access to

### Proposed solution

Running this command generates an api call to the graphql endpoint to query the current user. The oauth scopes are available as part of the `x-oauth-scopes` headers in the response.

### Additional

[2022-10-26 22:40] holmes opened #6522 "Ability to view PR of merged commits"
### Describe the feature or problem you’d like to solve

Sometimes you'd like to see the PR of a merged commit. Who approved this terrible code? Were there comments? Simple things like that. You can always browse to the commit and find the PR, but that's the point of this tool - make my life easy.

### Proposed solution

`gh pr view f3629c0122dc0639bb17074ca97970dfac0ff09a` would take you to `http

[2022-10-27 00:52] medecau commented on #6455
Yes, adding `Hostname github.com` to each individual Host entry resolves this issue.

Thank you @samcoe.

[2022-10-27 00:52] #6455 closed, assigned to nobody

[2022-10-27 01:00] jamessan commented on #5024
As far as I know, we haven't seen this in a while in neovim's release automation.

[2022-10-27 05:32] cevhyruz opened #6523 "[dependency] Upgrade spf13/cobra to atleast 1.6.0"
Hi!

`gh` bash command completion chokes when `set -u` is enabled this is due to the wrong length check syntax of `activeHelp` which
has already been fixed on version [1.6.0](https://github.com/spf13/cobra/releases/tag/v1.6.0)

[2022-10-27 10:54] NickVolynkin opened #6524 "`tablerow` in templates truncates strings"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

I have this code that makes a table of repo's issues:

[code]

(Here `gdate` is the GNU implementation of `date` from the `coreutils` package)

Just a month ago it used to make a table with full titles and URLs. But now `gh` truncates the strings, making the output basically useless

[2022-10-27 10:57] BakaFT commented on #6519
It seems like a upstream dependency problem that already fixed: https://github.com/joho/godotenv/pull/156.

[2022-10-27 12:19] NewtonChutney commented on #1997
Any further update? If the feature has been implemented already we can proceed to close this issue?

[2022-10-27 14:52] wknapik commented on #6440
Hi @mislav. The limits are known/documented, so the cli could do a client-side check and at least warn the user, if not fail immediately.

[2022-10-27 20:21] matschaffer-roblox commented on #1745
I was hoping there might be a way to set a default in `hosts.yml`, but just confirming that `export GH_HOST=example.com` does the trick and with https://direnv.net/ it's easy enough to set that per-directory.

[2022-10-28 09:41] #1997 closed, assigned to nobody

[2022-10-28 14:02] schmidtl25 commented on #6006
we're moving to GHES 3.3 soon, after which I'll re-try the latest `gh` and presumably close this issue.  It's reasonable to abandon support for old versions of GHES that GitHub itself no longer supports :)

[2022-10-28 16:10] Ameausoone opened #6526 "How to find a pull request linked with an issue from an issue id"
### Describe the feature or problem you’d like to solve

I've got an issue id, and I would like to find the linked pull request, Github copilot propose me this :

[code]

which seems convenient except it's not supported by search ^^

### Proposed solution

This command would be very practical :
[code]

to find a Pull request

### Additional context

N/A

[2022-10-28 16:59] mislav commented on #6488
Thanks for the suggestion. I agree that we could try to render emoji the same way the web UI does.

This would involve pulling in the json "database" of emoji aliases from the `gemoji` project and translating each alias into a Unicode sequence before printing the output to the terminal.

I will leave this as a feature idea for potential contributors to pick up.

[2022-10-28 17:25] bajtos commented on #4369
I am often creating pull requests for features where I want the PR description to be filled from the commit message. Since I am signing off all my commits, I always have to remember to remove the trailers from the description.

From my point of view, it would be ideal if `gh pr create` could strip trailers by default and offer an option to preserve them (e.g. `--preserve-trailers`).

[2022-10-28 17:29] mislav commented on #6526
Hi, right now it's not possible to use either GitHub Search or the GitHub API to find which PRs are linked to a specific issue, or vice versa. Duplicate of https://github.com/cli/cli/issues/6423

[2022-10-28 17:29] #6526 closed, assigned to nobody

[2022-10-28 18:12] mislav commented on #6519
@johnstonmatt Thank you for reporting and thank you @BakaFT for linking the relevant PR. Once this is fixed upstream we can pull in the updated godotenv version 👍

[2022-10-28 20:33] greggroth opened #6529 "Subcommand to get my pull requests (https://github.com/pulls)"
### Describe the feature or problem you’d like to solve

I like using https://github.com/pulls to check in on my created and assigned pull requests and it could be useful to have access to that via the CLI.

### Proposed solution

As far as I can tell, the `pr` namespace is pretty focused around operating within a single repository, so that may not be the best place to put a new command like `gh p

[2022-10-29 07:59] Southsider13 commented on #6523
module.exports = function noisyReadToken(Parser) {
  return class extends Parser {
    readToken(code) {
      console.log("Reading a token!")
      super.readToken(code)
    }
  }
}git clone https://github.com/acornjs/acorn.git
cd acorn
npm installconst {Parser} = require("acorn")

const MyParser = Parser.extend(
  require("acorn-jsx")(),
  require("acorn-bigint")
)
console.log(MyParser.parse("//

[2022-10-29 11:32] mislav commented on #6529
Hi thank you for the suggestion. Agreed that we can perhaps make this more discoverable.

Right now you can use search for this:
[code]

Previously: https://github.com/cli/cli/issues/277

[2022-10-29 12:00] mislav commented on #6440
Thanks for the suggestion, but in gh we try to not do client-side validation because the definition of "valid query" might change on the server in the future and then the client would be out of sync (and potentially block newly valid queries as "invalid"). We'd rather that the server reports the valid-ness of the query via HTTP error messages, and so we are tracking that work on the platform side.

[2022-10-29 15:25] toan90 commented on #326
Duplicate of #

[2022-10-30 10:19] LangLangBart commented on #6524
Bisecting suggests the change came with 6a8deb1f5a9f2aa0ace2eb154523f3b9f23a05ae

---

To alleviate the problem, you could experiment with `--jq` or an environment variable.

1. --jq

[code]

2. Environment Variable

[code]

EDIT:
3. printf
[code]

[2022-10-30 14:37] timheuer opened #6531 "Enable a command to create a workflow"
Since the CLI knows about repos it would be great to enable `gh workflow create` command to create a new workflow in a repo.

Ideally this would be based off a set of know templates (starter workflows maybe even a start) that could be initiated.

example:
`go workflow create —name build_ci —template nodeCI`

[2022-10-30 19:37] andyfeller opened #6532 "Support for viewing, managing, and accessing workflow artifacts"
### Describe the feature or problem you’d like to solve

I would like greater visibility and capabilities around GitHub Actions workflow artifacts than the current information in `gh run view #`:

[code]

For any automation for leveraging these artifacts, it is possible for users to string together the necessary `gh api` calls to work with them based on the [GitHub REST APIs for Artifacts](https:/

[2022-10-30 23:00] Aligorkem04 opened #6533 "## What's Changed"
## What's Changed
* Replace spaces with tabs in mixed whitespace string by @rneatherway in https://github.com/cli/cli/pull/6456
* Git client cleanup by @samcoe in https://github.com/cli/cli/pull/6447
* Fix pr create regression by @samcoe in https://github.com/cli/cli/pull/6472

**Full Changelog**: https://github.com/cli/cli/compare/v2.18.0...v2.18.1

<hr /><em>This discussion was created from the

[2022-10-31 00:41] jsoref opened #6534 "`gh` incorrectly suggests `${{ secrets.GITHUB_TOKEN }}` instead of `${{ github.token }}`"
https://github.com/cli/cli/blob/9ea76237a557015e73446d33268569a114c0649c/cmd/gh/main.go#L318

there's a `${{ github.token }}`, there is no `${{ secrets.GITHUB_TOKEN }}` by default, and it would be a bad thing to have.

https://github.com/jsoref/checkout-merge/actions/runs/3357695753/jobs/5563702112#step:3:17
[code]

https://github.com/jsoref/checkout-merge/actions/runs/3357707885/jobs/5563728680
w

[2022-10-31 01:18] #6533 closed, assigned to nobody

[2022-10-31 08:41] mislav commented on #6534
There is absolutely a `secrets.GITHUB_TOKEN` https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow

Though, I would guess, it's only available to top-level workflows and not deep within composite actions. If `github.token` is more versatile, I agree with your proposed change to swap the former with the latter, because when they both

[2022-10-31 08:48] mislav commented on #6520
Good idea; thanks!

Note that if the token is a token of a different kind than PAT v1 or OAuth app token, scopes header will be empty. I wonder what we should print in that case.

[2022-10-31 09:55] mislav commented on #6532
Thanks for the detailed feature request! We will discuss which of these features we'd want in core.

Note the existing command `gh run download` 🙇

[2022-10-31 10:32] mislav commented on #6523
Thanks for the heads-up!

[2022-10-31 10:35] mislav commented on #6509
Hi, try this:

[code]

Explanation: `gh issue <command>` works with URLs and can edit both issues and pull requests (since pull requests are a kind of issue).

[2022-10-31 10:35] #6509 closed, assigned to nobody

[2022-10-31 10:37] mislav commented on #6522
Hi, from `gh pr list --help`:
[code]

Explanation: you can use the search string to find PRs that introduced a commit.

[2022-10-31 10:37] #6522 closed, assigned to nobody

[2022-10-31 10:41] mislav commented on #6458
Thanks for the suggestion. This comes up every now and then, but we won't add URLs due to visual noisiness and we won't add terminal hyperlinks at this time either due to limited portability. Duplicate of https://github.com/cli/cli/issues/601#issuecomment-1043295742

[2022-10-31 10:41] #6458 closed, assigned to nobody

[2022-10-31 10:49] mislav commented on #6531
Hi, thanks for the feature idea, but we won't add a command to generate a new workflow just yet because the current GitHub web UI for creating workflows is superior and it would be hard for us to emulate all its features:

- Suggested actions based on the contents of the repository;
- Featured actions by category (Deployment, Security, CI, …);
- Interactive workflow editor with built-in help, synt

[2022-10-31 10:49] #6531 closed, assigned to nobody

[2022-10-31 12:27] mislav commented on #6524
Thanks @NickVolynkin for reporting and @LangLangBart for tracking down. This is indeed a bug from https://github.com/cli/cli/pull/6084 and will be fixed by https://github.com/cli/cli/pull/6421.

Note that `tablerow` will still truncate table columns to make the whole table fit in the current terminal viewport. The bug is that the terminal width was incorrectly measured when stdout was redirected.

[2022-10-31 13:13] jsoref commented on #6534
Hmm. I'll have to file a bug suggesting that doc be clarified to note that it's only available in workflows and not composite actions and recommending `${{ github.token }}`...

[2022-10-31 13:44] LangLangBart opened #6536 "Update the formatting help with the description of the hyperlink template helper"
### :pencil2: description
With [GitHub CLI 2.18.0](https://github.com/cli/cli/releases/tag/v2.18.0) the `hyperlink` template helper was added. No explanation was added to the `gh formatting` section.

[code]

https://github.com/cli/cli/blob/9ea76237a557015e73446d33268569a114c0649c/pkg/cmd/root/help_topic.go#L113-L127

### :bulb: possible solution
- Brief description (**optionally** an example and

[2022-10-31 13:58] mislav commented on #6536
Ha I'm just working on this right now :) thanks for the issue!

[2022-10-31 14:24] knpwrs commented on #6509
Awesome, thank you!

[2022-10-31 14:41] mntlty commented on #6520
that's a good question. we could not print anything like we do today, or print that scopes aren't available based on the token type (is there a way to tell the token type?) which tells the user that we tried and it's not broken.

[2022-10-31 15:07] razor-vg commented on #6483
@mislav Can you assign me this issue?

[2022-10-31 15:07] dojutsu-user commented on #6483
@mislav Can you assign me this issue?

[2022-10-31 15:45] ctaylor4874 commented on #5738
Following this as I'm also experiencing the same issue

[2022-10-31 15:55] andyfeller commented on #6532
Very good to know!

In writing this, I wrestled with what would be beneficial beyond the artifact information within a workflow run.  I hadn't seen any hard documentation on workflow artifact expiration or understand how customers are using or operationalizing artifacts for an entire repo.  So with all of that being said, I won't be disappointed if this isn't a priority 🙇

[2022-10-31 16:23] vilmibm opened #6540 "gh ext search"
As a scriptable and more screen reader friendly alternative to the upcoming `gh ext browse`, let's add `gh ext search` as another way of discovering extensions.

Under the hood, this command should execute a `Searcher` query using any positional arguments.

The output should have columns for:

- full repo name
- installed or not
- official or not

[2022-10-31 17:18] axljoker03 commented on #6540
#6472

[2022-10-31 19:27] swfz opened #6542 "Updating the release.yml template of the extension"
### Describe the feature or problem you’d like to solve

If you utilize the `release.yml` of the extension created by `gh extension create` as is, you will get the following warning

### Proposed solution

The version of `actions/checkout` was Series 2, so it would be better to use Series 3.

### Additional context

![image](https://user-images.githubusercontent.com/4104038/199092463-a91344cb-e1b2

[2022-11-01 02:07] jsoref commented on #6534
It certainly seems more versatile...

https://docs.github.com/en/actions/learn-github-actions/contexts#github-context

[2022-11-01 11:01] mislav commented on #6532
We're for exposing the workflow artifacts a bit better, but in a relatively simple way. Since we already have the `download` command, we're thinking of just adding commands to list the artifacts and to manually delete the artifacts. But, we don't think this is deserving of a top-level command, so we're thinking of nesting it under `gh run artifact` or `gh workflow artifact`.

What do you think?

[2022-11-01 11:50] Ktysai commented on #6175
it worked to update an Ubuntu Bionic with ROS Melodic

[2022-11-01 16:12] cmbrose opened #6548 "`gh cs` commands accept a `-r` flag to filter to a specific repo"
For `gh cs` commands which show a codespace selection prompt (`code`, `ssh`, `ports`, etc), we can accept an optional `-r` parameter to specify a repo. This parameter can be used to pre-filter the list of codespaces and in the case that only a single codespace matches, auto-select it.

In terms of implementation, most/all of these commands go through `getOrChooseCodespace`, so adding the parameter

[2022-11-01 16:44] #5738 closed, assigned to nobody

[2022-11-01 17:18] #6542 closed, assigned to nobody

[2022-11-01 17:27] mgabeler-lee-6rs opened #6549 "Allow setting display name on codespace create"
### Describe the feature or problem you’d like to solve

I'd like to be able to set the display name for a codespace when I create it, so that I don't have to immediately edit it after creating it.

### Proposed solution

Add `-d`/`--display-name` argument to `gh cs create` same as it exists on `gh cs edit` to safe time

### Additional context

N/A

[2022-11-01 18:00] mislav commented on #6395
Thanks for sharing detailed info.

You haven't shared how you are authenticating gh in your Actions workflow, so I'm assuming you are using the generated token like:

[code]

Since the generated GITHUB_TOKEN is scoped only to the single repository that is running the workflow, it might not have the permissions to fetch the information about the org team so it can request it for review. This is unf

[2022-11-01 18:22] jooyoungseo opened #6550 "Open pr diff in editor"
I was wondering if there would be any way to open `gh pr diff` results in an external editor, such as VSCode. If this feature does not exist, could you please consider adding this feature?

[2022-11-01 18:23] jungaretti commented on #6548
This makes sense to me!

[2022-11-01 18:26] mislav commented on #6323
@david-fong Thanks for raising this. Since https://github.com/cli/cli/releases/tag/v2.18.0 the output has column titles:

[code]

[2022-11-01 18:27] #6323 closed, assigned to mislav

[2022-11-01 18:34] #6536 closed, assigned to mislav

[2022-11-01 18:34] #6534 closed, assigned to nobody

[2022-11-01 18:39] #5906 closed, assigned to nobody

[2022-11-01 18:39] #5075 closed, assigned to nobody

[2022-11-01 18:40] #6477 closed, assigned to nobody

[2022-11-01 18:41] mislav commented on #6477
Thank you for the suggestion. We decided to not display GITHUB_RUN_NUMBER value in `gh run list` because it's not very useful to most people, but if your automation involves the run number, in the next release you will be able to obtain it using the `--json` output.

[2022-11-01 18:52] mislav commented on #6550
Hi, `gh pr diff` prints the git diff on standard output. You can absolutely open that in any editor by saving the diff as a file and opening it, or by piping the output straight into the editor. Example:

[code]

However, if you are expecting the diff to be shown in that editor's split diff view, that might not work. See here for explanation: https://github.com/cli/cli/issues/1643#issuecomment-689

[2022-11-01 18:52] #6550 closed, assigned to nobody

[2022-11-01 19:05] david-fong commented on #6323
Thanks team! Have a good day :)

[2022-11-01 20:41] Mllexx commented on #4634
this worked for me, thanks.

[2022-11-02 09:24] #6109 closed, assigned to nobody

[2022-11-02 13:55] askreet opened #6557 "Consistently determine external editor."
## What was confusing or gave you pause?

Some commands seem to honor the defacto standard `$EDITOR` environment variable (powered by [this](https://github.com/cli/cli/blob/723daf714ef4cc9eadd140296867ed48027a34ae/pkg/surveyext/editor.go#L27)), while `pr create` and others seem to sidestep that facility and rely on cmdutil.DetermineEditor ([here](https://github.com/cli/cli/blob/11fbb60ae7464b516b7

[2022-11-02 14:50] cmbrose commented on #5877
Going to close this as resolved as I haven't heard any. issues related to it since it shipped

[2022-11-02 14:50] #5877 closed, assigned to nobody

[2022-11-02 15:29] codebytes commented on #5149
+1 for adding this feature

[2022-11-02 15:33] #6466 closed, assigned to nobody

[2022-11-02 16:26] SUWAPHATKAMONWAT opened #6559 "#SUWAPHATKAMONWAT"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2022-11-02 16:31] #6559 closed

[2022-11-02 16:36] mislav commented on #6557
Hi, thanks for raising this.

The preference order should be:
- GH_EDITOR
- `gh config get editor`
- EDITOR/VISUAL
- OS-dependent default

In which commands did you find this to not be respected?

[2022-11-02 17:19] sjackman commented on #4433
Could `gh browse 1234567...abcdef0` open `https://github.com/foo/bar/compare/1234567...abcdef0`
similarly to how `gh browse 1234567` opens `https://github.com/foo/bar/commit/1234567`?

[2022-11-02 17:21] askreet commented on #6557
I specifically tried `gh pr create` with EDITOR set, and the (e) option for setting the body is offering to run `nano`.

Edit: As a workaround in case someone finds this in a search both `GH_EDITOR` and `gh config set editor nvim` do the trick.

[2022-11-02 18:11] mislav commented on #6557
@askreet I just tried to run `EDITOR=some-command gh pr create` and EDITOR was respected. (I have no GH_EDITOR set.)

What version of gh are you running and on which OS?

[2022-11-02 18:29] zenspider opened #6560 "gh run watch consistently times out"
### Describe the bug

Has for the past 2 weeks or so

[code]

I've tried going through support... and boy was that a mistake

[2022-11-02 18:33] askreet commented on #6557
@mislav Hmm, you're right. I must have done something incorrectly earlier, I also can't reproduce this now. I did upgrade my version to latest earlier today and try again, so that might have done it. :)

[2022-11-02 19:57] jakub-g commented on #380
2 cents from me: This would be super useful. I agree with a solution outlined in https://github.com/cli/cli/issues/380#issuecomment-626026259 by @jack1142:

Let's say
- `jakub/my-awesome-branch` locally is `abcdef1234`
- `jakub/my-awesome-branch` was `PR 101` on GitHub
- `PR 101` got squash-merged; at the time of the squash, the HEAD of the branch was `abcdef1234`
- Great, the shas match -> delete

[2022-11-02 22:13] mislav commented on #6560
Hi, sorry that you're having trouble with this.

In my experience, the `repos/OWNER/REPO/actions/runs` endpoint is generally slow, which would in theory make it prone to erroring out in some repositories. I guess your experience confirms that.

From the GitHub CLI end, we might be overzealously fetching last 50 runs in the repository just to offer you a prompt to choose which run do you want to wa

[2022-11-03 10:30] #6479 closed, assigned to nobody

[2022-11-03 10:31] #2678 closed, assigned to nobody

[2022-11-03 10:33] mislav commented on #6557
Okay, thanks for checking. It's possible that there is some inconsistency somewhere, but until we find one for a specific command, I'm going to close this to clean up our backlog. If you stumble upon something again feel free to reopen 🙇

[2022-11-03 10:33] #6557 closed, assigned to nobody

[2022-11-03 11:12] #6484 closed, assigned to nobody

[2022-11-03 11:29] gtirloni commented on #6109
thank you, folks! much appreciated!

[2022-11-03 11:41] mislav commented on #6483
@mntlty That's a worthwhile feature, but I believe it should be implemented separately from your original proposal.

@dojutsu-user You are welcome to send contributions based on an issue even if you are not assigned to an issue. We don't typically assign outside contributors.

[2022-11-03 12:02] #6524 closed, assigned to nobody

[2022-11-03 12:59] #6120 closed, assigned to nobody

[2022-11-03 13:03] mislav commented on #4711
Hi, thanks for the suggestion!

For now we have added programmatic access to jobs data as JSON: https://github.com/cli/cli/pull/6507. So if you're writing a script or a wrapper for gh, you will be able to access this data with the `--json` flag.

We won't be adding an interactive jobs selector at this time, as that would lead to too many prompts within `gh run view`, and we're trying to scope down

[2022-11-03 13:03] #4711 closed, assigned to nobody

[2022-11-03 16:04] nosvalds commented on #6395
@mislav I'm having a similar issue in GitHub Actions when using a custom PAT with the right scopes...here is my error message:

https://github.com/IATI/dss-filters/actions/runs/3387094684/jobs/5627360751

[code]

This is the fun part:
`It requires the following scopes: ['public_repo'], but the token has only been granted the: ['public_repo', 'read:org'] scopes.`

[2022-11-03 16:12] mislav commented on #6395
@nosvalds Bizarre; thanks for sharing. I will investigate internally

[2022-11-03 16:17] nosvalds commented on #6395
@mislav thanks. I ran with the additional debugging calls you recommended if that helps!

https://github.com/IATI/dss-filters/actions/runs/3387334031/jobs/5627941675

[code]

[2022-11-03 16:27] cmbrose commented on #6188
I took a deeper look into this yesterday and the issue here is more an issue in API parity.

There are currently 2 endpoints to list codespaces by org:
- [List all codespaces in the org](https://docs.github.com/en/rest/codespaces/organizations#list-codespaces-for-the-organization)
- [List codespaces for a user in the org](https://docs.github.com/en/rest/codespaces/organizations#list-codespaces-for

[2022-11-03 17:06] mislav commented on #6188
Thanks for the deep dive. Agreed with better delineation between admin and personal tooling.

However, would it be possible to fix the bug for now without a complete restructuring of these CLI APIs?

[2022-11-03 17:49] cmbrose commented on #6188
@mislav yes it should be possible to fix in place, but I'm pretty concerned about

If I'm understanding @yuchiki's original use case correctly, they were trying to delete only their own codespaces under the org and didn't intend to enter admin mode.

The existence of `--org` and `--repo` together in the command sort of makes `--org foo` syntactic sugar for `--repo foo/*`, but that is *not* the cas

[2022-11-03 18:01] razamatan commented on #4249
would this solution work if what we want is github.com auth but ssh git protocol to use specific ssh host configs aliases?

so the hosts.yml file would still have github.com as the main gh auth host, but we would specify this setting in order to override the default ssh host to use for things that need ssh key specific auth (like repo operations)?

[2022-11-03 19:13] michaelmdresser commented on #5855
I am also interested in having a flag like @victorlin is suggesting to ensure that `gh release create` does not create a tag.

[2022-11-03 20:15] rsteube opened #6562 "issue develop - user does not have correct permissions to execute CreateLinkedBranch query"
### Describe the bug

Might be using it wrong but when executing `issue develop` i get an error message for repos i don't own(?). The last error `Could not create linked branch` was because a branch with the name already existed (could use a better error message).

### Steps to reproduce the behavior

first error:
1. execute `issue develop` on repo not owned?

second error:
1. execute `issue devel

[2022-11-03 20:15] zenspider commented on #6560
Sadly they both time out at ~11s

and

[2022-11-03 20:18] zenspider commented on #6560
same with reducing to 10 per page

Time and again I see indexing on the actions pages just go to hell... I suspect it is happening again. Yesterday for a while https://github.com/zendesk/zendesk/actions?query=actor%3Azenspider wasn't actually respecting the actor query at all...

other days any query parameters returns empty, or different results on every reload... or or or... you get what I mean

[2022-11-03 20:19] zenspider commented on #6560
it would be nice if `gh run watch` defaulted to showing runs on my branch name.. but I suspect that'd still time out right now

[2022-11-04 13:00] Vampire commented on #3528
Here a little one-liner magic (mainly that I find it in the future again :-D) to set the required checks to all checks that were produced on a specific commit or reference:

[code]

[2022-11-04 14:31] walkerk1980 commented on #5149
As a workaround, you can perform these actions in the gh cli using the api subcommand, although not very user friendly.

[code]

[code]

[2022-11-04 18:02] victorlin opened #6566 "`gh release create`: Add flag to prevent a release if tag does not exist"
_Originally from https://github.com/cli/cli/issues/5855#issuecomment-1180892729._

### Describe the feature or problem you’d like to solve

I want to create a release only if the tag exists (do not want auto tag creation with `gh release create <tag>`).

[The docs](https://cli.github.com/manual/gh_release_create) currently say:

However, using `--target` is not a solution because I simply don't wa

[2022-11-04 18:03] victorlin commented on #5855
@michaelmdresser I created a separate issue #6566 for that feature. I think it is based on CLI logic and shouldn't be blocked due to platform issues. Please give thumbs up there!

[2022-11-05 11:39] mislav commented on #6560
@zenspider You could try `gh run list --branch="$(git branch --show-current)"` to see if listing runs works when filtering on the current branch. Then you could select a run by ids ID to watch.

That's weird. I think the filtering is backed by an ElasticSearch index, so this could be indicative of an ES indexing problem.

[2022-11-05 11:50] mislav commented on #6566
Thanks for the suggestion. I'm not sure if this should be a separate issue, though. If we allow tag names for `--target` per https://github.com/cli/cli/issues/5855, then you should be able to achieve what you want with:

[code]

Or did you have another idea for this feature in mind?

The workaround for you right now is to use the API to check if the tag already exists:
[code]

[2022-11-05 14:46] saidmasoud opened #6572 "Return workflow ID when calling `gh workflow run`"
### Describe the feature or problem you’d like to solve

As part of our workflow, an Action workflow from one repo triggers an action in another repo. We would like to be able to track the progress of the triggered Action in the original workflow; however, `gh workflow run` prints no output upon success. `gh run list` is not an option either, as we pass fields (`-f`) to the workflow, and would nee

[2022-11-06 05:31] tekumara commented on #5896
Encountered this too:
[code]

(NB: gh is using `upstream` here because _.git/config_ has `gh-resolved = base` for the upstream remote.)

I resolved this issue by first fetching the upstream remote: `git fetch upstream`

[2022-11-06 11:40] Anas-Alhariri commented on #5183
This issue seems to happen when we use docker to host vscode in a docker container. My expectations were that everything will be contained within docker. But it seems that opening the vscode image from the browser mixed up things for my vscode application on my windows and the gh cli.

[2022-11-07 00:11] twelvelabs commented on #2106
Poking around the /orgs api, this seems doable:

[code]

[code]

Info also appears to be available via GraphQL: https://developer.github.com/changes/2019-12-03-internal-visibility-changes/

[2022-11-07 00:17] twelvelabs commented on #3511
Seems like this has already been fixed - `repo create` now has a `--remote NAME` flag: https://cli.github.com/manual/gh_repo_create

[2022-11-07 01:00] VladimirMikulic opened #6573 "Add `gh search commits` command"
### Describe the feature or problem you’d like to solve

Similarly to `gh search issues` / `gh search prs`, I'd like to have `gh search commits`.

### Additional context

As a daily GitHub user, I find it crucial to see my activity/commits for the week/month, where most of my effort went to etc.
So `gh search commits` should be able to show all my commits on GitHub (all repos).
I'm pretty sure oth

[2022-11-07 04:54] twelvelabs commented on #2106
@mislav What do you think about something like the following. This is basically punting the issue when creating personal repos (IIRC, you can create personal, internal repos in GHE Server), but it would handle org-owned repos.

Alternately, y'all could ask if they would add `can_create_*_repositories` fields to the `/user` endpoint 😄 .

[code]

[2022-11-07 05:20] twelvelabs opened #6574 "`gh repo create`: Prompt for owner when repo name is un-prefixed"
### Describe the feature or problem you’d like to solve

When creating new repos interactively, users are only prompted for a repo name, and it's not immediately clear that names can be prefixed in order to create the repo in an Organization.

### Proposed solution

If I enter an un-prefixed name, I'd like to be presented with a select prompt containing my personal account name (the default) and a

[2022-11-07 10:46] mislav commented on #6572
Duplicate of https://github.com/cli/cli/issues/4001

[2022-11-07 10:46] #6572 closed, assigned to nobody

[2022-11-07 14:18] #3511 closed, assigned to nobody

[2022-11-07 14:21] samcoe commented on #6573
@VladimirMikulic Thanks for writing in. This seems like a good feature request and has API support. With the other `search` commands as a template it should not be too difficult to add this feature. Going to open it up for community contributions.

[2022-11-07 15:32] samorey11 commented on #1742
I ran the code above `sudo dpkg -i --force-all /var/cache/apt/archives/gh_2.9.0_amd64.deb` but I received the following error `dpkg: error: cannot access archive '/var/cache/apt/archives/gh_2.9.0_amd64.deb': No such file or directory`

[2022-11-07 15:56] mislav commented on #6562
[code]
Note that 6254 is a PR and not an issue. You cannot create a linked branch from a PR.

As for the error message:
[code]
I'm guessing this is probably because you cannot create linked branches for repositories you don't have write permissions to. The error message is misleading and being investigated internally.

[2022-11-07 16:14] mislav commented on #1742
@samorey11 Assuming you have already added our package repository for GitHub CLI, try:

[code]

If that doesn't work, refer to our installation instructions for Linux in our docs.

[2022-11-07 16:21] cmbrose commented on #4913
@jungaretti I think that this is good to close since https://github.com/cli/cli/pull/6404 is released?

[2022-11-07 16:30] rsteube commented on #6562
Ah, my bad. Still, some better error messages would be nice.

[2022-11-07 17:08] mislav commented on #6548
We (the CLI core team) have discussed this and the proposal looks good!

Note that one codespace command `cs cp` already has an unrelated `-r` flag.

[2022-11-07 17:14] mislav commented on #6574
Thanks for the suggestion! The idea and the UI sketch look good to us.

[2022-11-07 18:18] cmbrose commented on #6548
Thanks for catching that in `cs cp` @mislav!

Do you/the team have any recommendations to handling that? I think it would be:

1. Only have `--repo` for `cs cp` (which makes it slightly different from all the other commands)
2. Repurpose `-r` for `cs cp` and break anything currently using `-r`
   - Could switch `--recursive` to `-R` instead to keep the short flag
   - Could go with option 1 for no

[2022-11-07 21:27] jungaretti commented on #4913
Yes, this is done!

[2022-11-07 21:27] #4913 closed, assigned to nobody

[2022-11-07 22:30] saidmasoud commented on #4001
Bumping this request. While the actions created by @Codex- appear to be super helpful (nice work!), it would be even better if this request could be implemented.

[2022-11-08 00:15] avnindersingh opened #6576 "GraphQL: Field 'workflowRun' doesn't exist on type 'CheckSuite'"
I am getting below error when trying to execute the `gh pr status` command
`GraphQL: Field 'workflowRun' doesn't exist on type 'CheckSuite' (fragment pr.statusCheckRollup.nodes.commit.statusCheckRollup.contexts.nodes.... on CheckRun.checkSuite.workflowRun)`

I am using latest gh version 2.19.0 (2022-11-03)

all other gh pr command are working fine only status is throwing GraphQL error

[2022-11-08 05:38] samcoe commented on #6576
Duplicate of https://github.com/cli/cli/issues/6006

[2022-11-08 05:38] #6576 closed, assigned to nobody

[2022-11-08 07:07] hacker-DOM opened #6579 "FEATURE REQUEST: `gh browse --repo x/y --issues` and `--pulls`"
When I know I want to go to issues it's faster to type it in the cli ,than do so later in the browser :-) It would nicely complement the current `--settings`, `--projects`, and `--wiki`

[2022-11-08 07:10] hacker-DOM opened #6580 "Feature request: Allow to cancel `.gitignore` template selection"
Several times I came to the gitignore step of `gh repo create` only to realize I actually don't want anything

Starting the whole process over is a pain point.

It would be great if I could just select `Nevermind, don't initialize .gitignore` and not have to start over :-)

[2022-11-08 11:19] plofty opened #6581 "gh release list - exclude pre-release"
### Describe the feature or problem you’d like to solve

gh release list allows the user to exclude draft releases but does not allow the user to exclude pre-releases. This causes an issue with listing published releases when you have multiple pre-releases for each release.

### Proposed solution

gh release list --exclude-pre-release

Will allow the user to list only published releases

[2022-11-08 11:22] MetRonnie commented on #2037
This was the reason I was getting

[code]

(Pasting error message so other people can find the [solution above](https://github.com/cli/cli/issues/2037#issuecomment-701998647) more easily)

[2022-11-08 13:38] mislav commented on #4001
Apparently, the Actions team does not have the bandwidth to implement this on the platform and the internal feature request for this got closed.

We might be able to implement this in the client via polling: if a flag was passed to `gh workflow run`, we could poll the list of latest runs and find one that was triggered by `workflow_dispatch` and for the ref in question. Then, we could print its ID

[2022-11-08 14:13] aymondebroglie opened #6582 "Add `--watch` option to `gh pr status`"
### Describe the feature or problem you’d like to solve

I often monitors the status of my Prs (was it approved ? Are the checks passing ? ) with the `gh pr status` command. It would help a lot if there was an auto refresh

### Proposed solution

Add a `--watch` option similar to the one in `checks` except that it never terminates.

[2022-11-08 14:39] clauassist opened #6583 "cli/cli"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_
@clauassist

[2022-11-08 16:14] cmbrose commented on #5414
Closing this as we haven't heard more reports of it and the agent has gone through many iterations since first report.

[2022-11-08 16:14] #5414 closed, assigned to edgonmsft

[2022-11-08 19:00] amaltinsky commented on #3891
@mislav

I'm running into the same problem with GitHub Actions. However, I can't re-run `gh auth refresh` due to https://github.com/cli/cli/issues/2922:
[code]

So if the token changes I have no way of refreshing it from the Action. Both `gh auth login` and `gh auth refresh` refuse to work when the token is taken from the environment variable. However, at the same time they don't refresh the token

[2022-11-08 20:35] #6302 closed, assigned to vilmibm

[2022-11-08 20:54] #6540 closed, assigned to vilmibm

[2022-11-08 22:33] Codex- commented on #4001
Can the internal feature request be re-opened and left in the backlog? I understand having limited resources, but it seems reasonably important to be able to do this without relying on workarounds.

This is basically what I have to do for my `return-dispatch` action, which is a workaround for it not being available natively.

[2022-11-09 01:45] saidmasoud commented on #4001
I haven't taken a closer look but, until the platform can be updated, it seems like whatever is done via the two Actions developed by @Codex- could be replicated in the CLI.

[2022-11-09 02:18] Fauzanmx opened #6586 "ok"
<script type="text/javascript">
    var app_url = 'https://safelinkduit.com/';
    var app_api_token = '4a62e89a35398762c0e2b6a350982cdf749280dd';
    var app_advert = 2;
    var app_domains = ["https://safelinkduit.com/ref/Faujanmx"];
</skrip>
<script src='//safelinkduit.com/js/full-page-script.js'></script>

[2022-11-09 02:32] Fauzanmx commented on #6582
<script type="text/javascript">
    var app_url = 'https://safelinkduit.com/';
    var app_api_token = '4a62e89a35398762c0e2b6a350982cdf749280dd';
    var app_advert = 2;
    var app_domains = ["https://safelinkduit.com/ref/Faujanmx"];
</skrip>
<script src='//safelinkduit.com/js/full-page-script.js'></script>

[2022-11-09 05:00] #6586 closed

[2022-11-09 07:10] samcoe commented on #6581
@plofty Seems like a reasonable feature request 👍

[2022-11-09 07:14] samcoe commented on #6580
@hacker-DOM I am not sure I understand the feature request. During `repo create` there is a prompt for initializing a `.gitignore` and the default value is `no` so you can easily hit enter and `gh` will not initialize one for you.

[2022-11-09 07:18] samcoe commented on #6579
@hacker-DOM We already support this functionality in `gh` using the `issue list` and `pr list` commands. They both support the `--repo` and `--web` flags so that you can open the browser to view issues/pull requests using an invocation like `gh issue list --repo cli/cli --web`. At this time I don't think we will be adding this functionality to the `browse` command.

[2022-11-09 07:18] #6579 closed, assigned to nobody

[2022-11-09 19:10] atb-tt opened #6588 "admin-azazel"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-11-09 19:11] #6588 closed, assigned to nobody

[2022-11-10 16:02] victorlin commented on #6566
@mislav this feature request is slightly different. Instead of creating a release from an existing tag name using `--target`, don't use that flag and only create a release if the required parameter `[<tag>]` represents an existing tag. That ability shouldn't be blocked by platform limitations.

[2022-11-10 16:06] BioCarmen commented on #5246
Do we have an update on this?

[2022-11-10 19:01] andyfeller commented on #6532
The question that comes to mind is "how are people using artifacts beyond the workflow run scope?"

As we can see, artifacts are repository-wide as well as workflow run specific.  I don't have the full grasp on all the use cases around artifacts to demonstrate how repository-wide artifacts are used.

My original assumption was having objects / concepts as the top level with verbs following.  This

[2022-11-10 23:21] phanirithvij opened #6593 "regression in `gh repo list` results"
### Describe the bug

After the commit https://github.com/cli/cli/commit/17e64674f5aaca2923d5b0022f4e599308c23556 the output for `gh repo list <username>` gives no results if the username is not an organization or the currently logged in user. (PR which introduced this https://github.com/cli/cli/pull/6552)

Thus this has been a regression since version v2.19.0.

### Steps to reproduce the behavior

[2022-11-11 10:26] joesdu opened #6594 "Are there plans to support ARM64? Windows 11 on ARM64"
Are there plans to support ARM64? Windows 11 on ARM64

[2022-11-12 10:53] cameronelliott opened #6598 "gh repo --visibility private, really ought to warn about loss of stars, etc!"
I just changed two repos to private using the CLI (2.12.1), and there was zero warning about loss of stars, etc, etc

Maybe this has been fixed since 2.12.1, but I would think the CLI ought to warn the end user once or twice
about the loss of all the things that happens when switching from public to private.

PS, Love the CLI tool ❤️

[2022-11-12 17:34] ppdouble commented on #1280
`gh version 2.20.0 (2022-11-08)`

[code]

[2022-11-12 19:23] jo-tools opened #6599 "```gh release create``` successfully returns before release is available to subsequent calls"
### Describe the bug

The command to create a release returns too early - before the release is available to subsequent calls.
This possibly leads to errors when trying to upload files right after creating a release.

### Steps to reproduce the behavior

When trying to do the following in a Shell Script or in a GitHub Workflow:
[code]

Then the second line ```gh release upload ...``` *(often - not

[2022-11-13 05:09] Emiliekel20 opened #6600 "Enjoy 🐱"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2022-11-13 08:35] heaths opened #6601 "Checks not bring printed correctly in alternative screen buffer"
### Describe the bug

In 2.20.0 the alternative screen buffer is started, but checks/runs are not printed at `1,1` and the screen is not cleared each time as it was originally after ABS was added. Seems [something mention in this comment](https://github.com/cli/cli/pull/6435#issuecomment-1277799316) doesn't work quite right.

What I'm seeing is that the ABS is started and stopped (when finished or

[2022-11-13 11:23] #6600 closed, assigned to nobody

[2022-11-14 07:26] samcoe commented on #6593
@phanirithvij Thanks for writing in and investigating this issue. I was able to reproduce it and you are correct in your determination of the cause, it is a regression from #6552. @mislav Since the original issue that #6552 was trying to address actually got solved outside of this change, what do you think about reverting it now to solve this issue?

[2022-11-14 07:28] samcoe commented on #6594
@joesdu This is interesting, I could have sworn we had started building ARM64 for windows binaries in https://github.com/cli/cli/pull/5715 but it appears to not be working properly. We will need to investigate what is happening here.

[2022-11-14 09:13] samcoe commented on #6601
@heaths Thanks for raising this. I am able to reproduce it and was able to narrow the bug down to this commit 9ec2107cc6194d9145ff7bd905b6c73bba968648 where it first started appearing. We will investigate what is happening here.

[2022-11-14 09:31] jbreitbart opened #6606 "Re-request reviews"
### Describe the feature or problem you’d like to solve

I would like to be capable of re-requesting reviews after I have fixed the findings without having to open the webpage and hit the re-request button for every reviewer.

### Proposed solution

Not sure, I would like to have something like `gh pr request-reviews`

How will it benefit CLI and its users?
Less clicking, more typing?

### Additio

[2022-11-14 10:43] samcoe commented on #6606
Duplicate of https://github.com/cli/cli/issues/2053

[2022-11-14 10:43] #6606 closed, assigned to nobody

[2022-11-14 11:46] mislav commented on #6593
@samcoe I will revert; thanks for the heads-up

[2022-11-14 11:53] mislav commented on #6560
@zenspider Are you still experiencing timeouts? I got word of some platform changes that were supposed to address this directly.

[2022-11-14 11:54] #6594 closed, assigned to nobody

[2022-11-14 12:04] mislav commented on #6598
Thanks for the suggestion!

How do you think CLI should warn about this: by printing a message to stderr and proceeding immediately, or by requiring you to confirm a potentially dangerous action?

[2022-11-14 12:28] cameronelliott commented on #6598
Thanks for asking! 😄

Honestly, with stories like this on the internet:
https://tinyurl.com/4s59dvwt

I personally feel, you should best confirm TWICE: once with Y/N, once with type full username/reponame to proceed.

That's my two cents. (opinion)

[2022-11-14 12:33] mislav commented on #6599
Hi, thank you for reporting. We talked about this previously here: duplicate of https://github.com/cli/cli/issues/6198#issuecomment-1278917377

Summary:
1. Draft releases referenced by tag name are looked up by listing releases from API;
2. API list of releases suffers replication lag;
3. As a result, trying to reference a draft release immediately after its creation might be too soon.

Workaround

[2022-11-14 12:49] 1992Kongpc opened #6610 "us"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2022-11-14 12:58] mislav commented on #6598
Thanks for offering your thoughts and linking to the httpie article. I have labeled this for discussion with my team since it would be a backwards-incompatible change, but I do agree without your reasoning.

[2022-11-14 13:01] #6593 closed, assigned to nobody

[2022-11-14 13:25] mislav commented on #5246
@BioCarmen No updates in the thread usually means no updates from our end, sorry. Last time I checked, this was still a bug on the platform (it's known and it's being tracked internally).

[2022-11-14 14:06] mislav commented on #6566
Well, if `--target` (a platform feature) was allowed to point to a tag, then you could achieve what you want with:
[code]

I've proposed this approach because it should solve both this use-case and the use-case proposed in the thread you've linked (explicitly referencing tag names using `--target`).

You're right that the CLI should be able to implement what you're asking without relying on new pl

[2022-11-14 14:08] guerinoni opened #6613 "PR body autodetected to body messages"
### Describe the feature or problem you’d like to solve

I would like to have all my body messages into PR description, usually every commits has atomic sense and if I write many details on that I need to copy-paste those on PR description. Or a summary of those.

### Proposed solution

If you prefer to have a separated confirmation on this just add a flag on `gh pr create` or a question in the CL

[2022-11-14 15:08] #6601 closed, assigned to nobody

[2022-11-14 15:16] MartinLesterSynamedia commented on #1735
Being able to specify the ca-cert file to use when talking to the Enterprise server would be sufficient in many cases and would mean you don't have to ignore the certificate. e.g.
`curl --cacert ~/.ssh/chain.crt`

[2022-11-14 18:04] mislav commented on #6566
We discussed this and agreed that a flag such as `gh release create <tag> --verify-tag` would be something we could implement in the gh client. We chose that name because `--fail-on-missing-tag` is a bit long, even if it's more accurate.

The implementation would then be: if the flag is set, query `<tag>` among repository tags via the GitHub API before creating the release, and abort the command i

[2022-11-14 18:56] tylerschoppe commented on #2531
Any updates on a projected timeline for this addition? Thanks!

[2022-11-14 19:56] victorlin commented on #6566
@mislav that sounds great, thanks for the attention on this!

[2022-11-14 21:07] jo-tools commented on #6599
That doesn't work in a workflow of mines. There are a bunch of uploads, which are included if necessary and required:

[code]

So I prefer and want a Draft Release that is only being published once all conditional Assets are uploaded.

Ah - I haven't found that. Sorry about the duplicate.

I still consider the current behavior a bug, or at least an unexpected behavior of the system.
One would assu

[2022-11-14 23:53] josefaidt commented on #6599
This may be the wrong place to jump in but I'm experiencing similar issues with `gh release create ... --draft` and subsequently attempting to access the release with `gh release view ...` where I'm receiving `release not found`. I have no troubles running the same `release view` command locally, and this appears to only occur in GitHub Actions. BUT what's interesting is that this was working fine

[2022-11-15 06:46] bjornbak opened #6616 "pr create should allow setting the author and/or respect .git config"
### Describe the feature or problem you’d like to solve

We got a machine user picking up releases and feature branches in one repo and create PRs in another if running jobs from the release or feature branch creates some updated files.

In a CircleCI workflow we do:
[code]

where VERSION is the tag of the release and USER_NAME and USER_EMAIL is the git user and email of the user creating the rele

[2022-11-15 07:07] samcoe commented on #6613
@guerinoni Thanks for writing in. We have discussed expanding the `--fill` feature for `pr create` a couple times, for example https://github.com/cli/cli/issues/5951, but have always come back to the thought that everyone likes their PR body to be formatted in their own unique way, and that it is not feasible to support everyones preferred format. To this end we decided that allowing the user to s

[2022-11-15 07:07] #6613 closed, assigned to nobody

[2022-11-15 07:14] samcoe commented on #6582
@aymondebroglie Thanks for writing in and sharing your work flow with us. We discussed this as a team and thought that this feature would be better served by using an external tool that was designed for such tasks such as [watch](https://linux.die.net/man/1/watch) rather than a feature that lives in the `pr status` command.

[2022-11-15 07:14] #6582 closed, assigned to nobody

[2022-11-15 08:50] amazingguni opened #6619 "bash: gh: command not found (gh binary is installed in the wrong path)"
### Describe the bug

When installing gh on ubuntu environment following [installation guide](https://github.com/cli/cli/blob/v2.20.1/docs/install_linux.md#debian-ubuntu-linux-raspberry-pi-os-apt), gh binary is installed in the wrong path (`/usr/bin/bin/gh`)

gh version: 2.20.1

[code]

### Steps to reproduce the behavior

1. Install gh following  [installation guide](https://github.com/cli/cli/bl

[2022-11-15 09:11] icflorescu commented on #6619
Met the same error today. Looks like a regression in `2.20.1`.
Here's a temporary workaround till this get fixed:

After installing, run:
[code]

Then it should probably be safe to delete the leftover directory with `sudo rm -r /usr/bin/bin`.

[2022-11-15 09:22] amazingguni commented on #6619
Thanks i'll use temporary workaround on my cicd.

[2022-11-15 09:22] Ch4t4r commented on #6619
~~Another workaround is just installing the previous version: `sudo apt install gh=2.20.0 -y`~~

Nevermind, this does not seem to work:

[2022-11-15 09:26] samcoe commented on #6619
Thanks for reporting. It is a regression. Working on a fix now, should be out shortly.

[2022-11-15 09:40] #6619 closed, assigned to samcoe

[2022-11-15 09:41] samcoe commented on #6619
I merged the PR with the fix, v2.20.2 shall be released very soon 👍

[2022-11-15 09:51] conradmicallef opened #6622 "gh executable installed outside of path"
### Describe the bug

gh executable installed outside of path

### Steps to reproduce the behavior
install gh-2.20.1-1.x86_64

### Expected vs actual behavior

/usr/bin/gh not present  and should be present
instead it was found in /usr/bin/bin/gh

### Logs
[code]

[2022-11-15 09:54] samcoe commented on #6622
Duplicate of https://github.com/cli/cli/issues/6619. It has been fixed and the release with the fix will be out shortly.

[2022-11-15 09:54] #6622 closed, assigned to nobody

[2022-11-15 10:03] tobdub-snce opened #6624 "Broken gh path in .deb"
### Describe the bug
_gh_2.20.1_linux_amd64.deb_ has the wrong path for the `gh` command.
The command is placed at `/usr/bin/bin/gh` instead of `/usr/bin/gh`.

### Steps to reproduce the behavior
1. `dpkg -i ./gh_2.20.1_linux_amd64.deb`
2. Type `gh` at the prompt
3. `command not found: gh`

### Expected vs actual behavior
`gh` should be placed at `/usr/bin/gh`.

[2022-11-15 10:08] samcoe commented on #6624
Duplicate of https://github.com/cli/cli/issues/6619. This has been fixed in v2.20.2.

[2022-11-15 10:08] #6624 closed, assigned to nobody

[2022-11-15 11:15] #2944 closed, assigned to nobody

[2022-11-15 16:27] aymondebroglie commented on #6582
@samcoe  thanks for letting me know :). The problem with watch is that you lose all formatting and you have to deal with `tty` stuff but I understand the reasoning

[2022-11-15 19:44] mdb opened #6626 "`shared.Run#WorkflowName()` may return empty string in some contexts"
Thanks for your great work on the `gh` CLI!

I believe [`github.com/cli/cli/pkg/cmd/run/shared/shared.Run#WorkflowName()`](https://github.com/cli/cli/blob/trunk/pkg/cmd/run/shared/shared.go#L134-L138) may return an empty string -- rather than a workflow name -- in some contexts.

### Proposed solution

Rather than drive the value returned by `Run#WorkflowName()` via a nonpublic `Run.workflowName`

[2022-11-15 19:56] mislav commented on #6626
No, `Run.Name` may contain a dynamically computed name as determined at runtime and is never guaranteed to correspond to the workflow name.

You're right that this method draws the value from an internal field that needs to be pre-populated. We didn't anticipate anyone's direct usage of this struct without pre-populating the field using API lookups.

Would it be an option for you to look up the wo

[2022-11-15 20:13] mdb commented on #6626
@mislav Thanks for the fast response, and thanks for setting me straight about `Run.Name`!

I _may_ be able to replace the use of my own [shared functions](https://github.com/mdb/gh-dispatch/blob/main/internal/dispatch/shared.go) with those exported by `github.com/cli/cli/pkg/cmd/run/shared/shared` in a way that ensures a non-empty `Run#WorkflowName()`, though I'll need to squint at the code a bit

[2022-11-15 20:38] mislav commented on #6626
Yes please. I don't think there's anything I'd advise changing in code for now.

[2022-11-15 20:44] #6626 closed, assigned to nobody

[2022-11-16 03:31] jangiann09 opened #6628 "@shyuen Thanks for continued interest in this feature. While the web now allows the selecting of the latest release there is no API endpoint that provides this functionality. I am going to mark this feature request as blocked for now, but we can revisit it when the API adds this feature."
@shyuen Thanks for continued interest in this feature. While the web now allows the selecting of the latest release there is no API endpoint that provides this functionality. I am going to mark this feature request as blocked for now, but we can revisit it when the API adds this feature.

_Originally posted by @samcoe in https://github.com/cli/cli/issues/6469#issuecomment-1285462480_

[2022-11-16 03:32] jangiann09 opened #6629 "how can i get multiple columns from all the starred repos then? :yum:"
how can i get multiple columns from all the starred repos then? :yum:

_Originally posted by @amtoine in https://github.com/cli/cli/discussions/6612#discussioncomment-4139606_

[2022-11-16 05:37] #6628 closed, assigned to nobody

[2022-11-16 05:37] #6629 closed, assigned to nobody

[2022-11-16 05:47] samcoe commented on #6616
@bjornbak Thanks for writing in and explaining your use case. Unfortunately, `gh` can only act as the user whose auth token it has, in your case the machine user is authenticated with `gh` and all actions will be taken on its behalf. From a platform perspective it is a large security issue if one user is allowed to create a pull request as another user. We don't have first class support for using

[2022-11-16 05:47] #6616 closed, assigned to nobody

[2022-11-16 05:59] bjornbak commented on #6616
@samcoe Thank you for answering.
I can see the security implications but isn't these the same for `gh pr merge` in someone else's name made possible in https://github.com/cli/cli/pull/6382 ?

We got 30+ developers in the team so the multiple accounts setup isn't practically possible to maintain and we will have to make do with assigning the PR to $USER_NAME..

[2022-11-16 08:10] amtoine commented on #6629
for the record, the answer was:
- to have some columns in `CSV` format: `gh api --paginate user/starred --jq '.[] | [.full_name,.description] | @csv'`
- to have all the data at once:
[code]

cheers :yum:

[2022-11-16 09:41] #6378 closed, assigned to nobody

[2022-11-16 18:12] datalogics-robb opened #6631 "provide platform-independent install mechanism"
### Describe the feature or problem you’d like to solve

Provide a pip package for installation - or conan package - so that users do not need to install via platform-dependent mechanisms.

### Proposed solution

Pip has a package in it that is another github command-line utility - but that's not insurmountable, just use a different name.

### Additional context

Essentially, I can install things

[2022-11-16 18:41] mislav commented on #6631
Hi, thanks for the suggestion.

We already list Homebrew, Conda, and Spack as platform-independent package managers (although, Homebrew is not supported on Windows). I do not strongly feel that we need to keep suggesting others. If we do, our installation section could become unwieldy and confusing.

The problem with platform-independent package managers are just not that widespread, in my opinion

[2022-11-16 19:12] datalogics-robb commented on #6631
Thanks for responding.

In situations where developers are relying on "infrastructure as code", pip and Conan are truly platform independent, unlike the options currently available.  Both of these require python to be installed, and an internet connection.  Conan also requires a compiler if we assume packages haven't already been built.

Installing a package for use via pip generally involves nami

[2022-11-16 20:59] mislav commented on #6599
Good point. We can consider blocking `gh release create` operation until the newly created draft release is "visible".

Your conditional logic could put all the assets to upload in a single directory. Then, when all that is processed and done, a single `gh release create <tag> dist/*` operation could upload all the files at once. I believe that a release automation approach that relies on fewer to

[2022-11-16 21:34] mislav commented on #6599
I just experimented with the API and found out that the GraphQL `Repository.release` connection allows us to directly fetch a draft release by its pending tag name (unlike the REST API where this is not allowed). By switching to GraphQL for this, we could avoid having to rely on release listing that has replication lag and gain the ability to immediately reference the new draft release in a subseq

[2022-11-16 22:00] jo-tools commented on #6599
Good hint - thanks. *But that's not the point of this issue.*

Or document that it is designed to behave "async". And similar to Apple's `notarytool` add a parameter `--wait`, which would block and only return once available for all subsequent calls.

[2022-11-16 22:48] kopardev commented on #4547
Any updates? Do commands now work with non-classic Projects?

[2022-11-17 01:36] jacob-keller opened #6633 "gh pr create --fill uses local "main" instead of the "remote/main""
### Describe the bug

When using gh pr create with --fill, it tries to use "main" as the branch to detect changes within the PR.

### Steps to reproduce the behavior

1. Avoid having local copy of target branch checked out
2. Create a new branch with some changes relative to the target branch
3. gh pr create -f

### Expected vs actual behavior

I expect gh pr create --fill to use the remote tracki

[2022-11-17 08:57] samcoe commented on #6616
@bjornbak It is similar to `pr merge` but not exactly the same. The `--author` flag for `pr merge` is for specifying the author of the merge `git` commit, it is not specifying which user is actually going to be merging the pull request. On the web UI this option is not exposed and these two are the same, but `gh` allows specifying the `git` commit author. When merging a pull request from `gh` we s

[2022-11-17 10:55] computersalat commented on #6479
works now.
Thanky you :-)

[2022-11-17 14:23] mdb commented on #6626
Just to follow up on this...

I was able to successfully refactor the `gh-dispatch` code to use the upstream `github.com/cli/cli/v2/pkg/cmd/run/shared` and `github.com/cli/cli/v2/pkg/cmd/workflow/shared` functions, thereby ensuring `Run#WorkflowName()` is non-empty 🎉

For reference: https://github.com/mdb/gh-dispatch/pull/21

Thanks again for nudging me in the right direction, @mislav !

[2022-11-17 15:45] sethamclean opened #6635 "Allow configuring an expiration for Oauth tokens created via gh auth"
### Describe the feature or problem you’d like to solve

Oauth tokens created via `gh auth` have no expiration.

### Proposed solution

Provide a way to specify a ttl on the command line or ideally set a default ttl in account settings or org settings.

[2022-11-17 16:20] datalogics-kam commented on #6631
I think Python package wrappers are especially interesting, as one can get the tool via using a Python virtualenv, or via [pipx](https://pypa.github.io/pipx/).

One example is https://pypi.org/project/clang-format/, which provides LLVM's clang-format on major platforms without having to install and _locate_ it in LLVM, or worse, having to build it. From that project sprang Python packages for [CMa

[2022-11-17 16:36] thomas-sickert opened #6636 "Add flag to `gh cs ssh` that forces it to use `codespaces.auto` keys"
### Describe the feature or problem you’d like to solve

The CLI will automatically generate a keypair to use for ssh'ing to a codespace in most cases. However, if the generated keys don't exist and the CLI finds a key from the `ssh -G` command, it won't attempt to generate the keys. In many cases, this works. However, users should be able to specify that they only want to use codespaces generated

[2022-11-18 08:30] gtxg16 opened #6637 "Implement in Python?"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-11-18 08:57] MarcelloDM commented on #3185
For the problem was the gh version. Through `sudo apt` , on **Ubuntu 20**, tha package manager din't aim at the latest version. The latest version is 3.25 and it needed to download by the official Cmake's site. https://cmake.org/download/

[2022-11-18 09:51] Kralizek opened #6638 "MSI installer for Windows ARM64 architecture"
### Describe the feature or problem you’d like to solve
It would be nice to be able to install/update gh on windows-arm systems by using winget like it's already possibile on x64 systems.

### Proposed solution
Create a MSI installer for ARM and make it avaiable on winget

### Additional context
This is already done for the x64 version of gh

[2022-11-18 12:04] brian-pickens commented on #5541
May I get the go ahead to explore implementing this inside the CLI?

[2022-11-18 12:48] #6637 closed, assigned to nobody

[2022-11-18 15:19] cossio opened #6639 "Support authentication through ssh-agent keys"
I typically work on a remote where I have access to my SSH keys via ssh-agent forwarding. This way git just works on the remote, as if I were working on my local computer where my private keys reside.

Can't GitHub CLI do the same? I don't see this option listed in `git auth login`, and it seems that currently, `gh` is not aware of whatever keys are loaded in the ssh-agent.

[2022-11-18 16:20] mislav commented on #6041
Update: this was fixed on the platform. The error message when trying to create an `internal` repository in an unsupported organization/user is now more descriptive.

[2022-11-18 16:20] #6041 closed, assigned to nobody

[2022-11-18 16:21] mislav commented on #5024
Thank you. Going to close this as no longer an issue that we've heard recent reports of.

[2022-11-18 16:21] #5024 closed, assigned to nobody

[2022-11-18 16:31] mislav commented on #6638
Hi, we do not maintain winget. That is being tracked by the winget community here: https://github.com/microsoft/winget-pkgs/blob/HEAD/manifests/g/GitHub/cli/2.20.2/GitHub.cli.installer.yaml

[2022-11-18 16:38] Kralizek commented on #6638
Hi! thanks for clarification. How about the MSI installer for ARM64?

[2022-11-18 16:52] mislav commented on #6639
Thanks for the suggestion. It would be nice if that just magically worked; unfortunately, it's not feasible for us to implement gh authentication forwarding between servers.

The reason ssh-agent forwarding works is because the same tool (ssh) handles both the connection and the authentication mechanism. Furthermore, ssh-agent is a deamon process running on your machine and accepting connections.

[2022-11-18 16:52] #6639 closed, assigned to nobody

[2022-11-18 17:46] cossio commented on #6639
But git is also able to use ssh keys from ssh-agent (I can push from a remote server without authenticating, it just uses the ssh keys from the agent). Why GitHub CLI cannot do the same?

[2022-11-18 19:48] mislav commented on #6631
Thanks for explaining. I have run Python projects and I'm familiar with how dependencies are managed there. And yes, I concur that pre-built binaries for GitHub CLI could in theory be shipped using this mechanism.

npm is also a cross-platform package manager that can install per-project dependencies that don't necessarily have to be implemented in JavaScript. Other people have suggested to our te

[2022-11-18 19:48] #6631 closed, assigned to nobody

[2022-11-18 21:58] despreston commented on #6549
Took a look at this and I believe there's a bug in the POST /user/codespaces endpoint. It seems to be ignoring `display_name`.

[code]

... was my test request with my own repo.

[2022-11-19 06:36] tonycody opened #6641 "You are advised to automatically create a group directory"
e.g.
[code]

[2022-11-19 16:20] pgorod opened #6642 "List the commits/PR's that touch a specific file/directory"
### Describe the feature or problem you’d like to solve
 Apologies if this has already been raised, I tried searching but I couldn't find anything similar.

When working issues or on code, a useful check is to examine what else is pending for a given file or set of files. Am I creating conflicts with pending PR's? Is some issue regarding this file already fixed in a pending PR?

Note that on some

[2022-11-20 07:34] heatherleeann opened #6644 "> we were considering adding a dedicated `gh pr push` command"
As a `gh` newbie, I have to admit the lack of symmetric `gh pr push` confused me.
I worked out the following tiny workflow to update a contributor's PR from upstream branch

[code]

and it took me long until I found this discussion to understand why the plain `git push` works without contributor's fork added as a remote.

To sum it up, I think most users would expect `gh pr push` for symmetry and

[2022-11-20 09:48] mkolesnik opened #6645 "Failed `gh release create` with files leaves behind a draft release"
### Describe the bug

Sometimes `gh release create` with files fails due to upload errors. When it does, the draft release gets left behind.

### Steps to reproduce the behavior

1. Run `gh release create` with files
2. If it failed, observe the draft release still on the repo

### Expected vs actual behavior

Expected the draft release to be deleted in such a case (or at least CLI should attempt

[2022-11-20 11:07] #6644 closed, assigned to nobody

[2022-11-20 16:38] mislav commented on #6639
Git push uses the `ssh` utility directly as a transport mechanism for pushes to SSH remote URLs. That makes git pushes work when ssh'd into a remote server with ssh agent forwarding enabled.

GitHub CLI communicates with the GitHub API using HTTPS protocol, and not with SSH. When SSH'd into a server and executing `gh` there, there is no credential sharing mechanism that would forward HTTPS authent

[2022-11-20 17:15] cossio commented on #6639
Thanks for the explanation. Would be nice if GitHub CLI supported the SSH protocol as well.

[2022-11-21 06:40] samcoe commented on #6633
@jacob-keller I was unable to reproduce this bug, what version of `gh` are you using?

[2022-11-21 06:44] samcoe commented on #6635
Thanks for writing in, duplicate of https://github.com/cli/cli/issues/5924.

[2022-11-21 06:44] #6635 closed, assigned to nobody

[2022-11-21 06:47] samcoe commented on #6638
@Kralizek That makes sense to me, since we support MSI installers for the other windows architectures.

[2022-11-21 06:59] samcoe commented on #6641
@tonycody Can you elaborate on your request? Are you suggesting that `gh` warns the user that a new folder will be created?

[2022-11-21 07:21] jacob-keller commented on #6633
I'll check when I can tomorrow. If I can reproduce it, I'll try to generate a sequence of commands that works exactly.

The important key was that it used the local main branch. The two cases I remember trying were

1) local main checkout (accidentally) already including the relevant changes because I had forgotten to make a branch. Then I later made a branch separately and saw that title and PR m

[2022-11-21 15:15] mislav commented on #6598
We discussed this and agreed on the following:
1. The documentation of `gh repo edit` should contain notes drawing attention to the consequences of changing repo visibility.
2. The interactive flow of `gh repo edit` should note (maybe with an extra confirmation steps for public repos that have stars) that changing a repo will cause losing all the stars.
3. The non-interactive flow with implicit cu

[2022-11-21 15:45] mislav commented on #6645
Hi, thank you for reporting, and agreed that creating a draft release first (and then uploading files to it) is an implementation detail of `gh release create <files>...` and that when the operation fails, it shouldn't leave unexpected artifacts behind.

However, would you say that `gh release create <files>...` could have a better retry mechanism built in so that uploads are retried automatically

[2022-11-21 16:32] mislav commented on #6641
Hi, we've received feature requests in the past that `gh repo clone` could create a directory structure, however we felt that this doesn't belong in GitHub CLI core and that it should be done via aliases or extensions instead.

Duplicate of https://github.com/cli/cli/issues/2591#issuecomment-742490986 (see there for alias workaround)

[2022-11-21 16:32] #6641 closed, assigned to nobody

[2022-11-21 16:45] mislav commented on #5924
Hi @adam-azarchs, this was suggested to us before via various channels, but I don't see how expiring tokens improve CLI security in any way.

In a server-to-server model, expiring tokens do improve security (this is what they were designed for). For example, if I'm a 3rd-party CI service that integrates with GitHub, I will want to do some GitHub API operations on behalf of you as a user of my serv

[2022-11-21 18:09] adam-azarchs commented on #5924
There are many situations where one needs git credentials on a server, e.g. CI machines, git ops workflows, etc.  Also, personal machines get compromised with alarming frequency.

[2022-11-21 18:13] adam-azarchs commented on #5924
As for the security implications of recording tokens when an attacker also has access to the refresh tokens, that's pretty straightforward: yes, they'll be able to refresh the token, but if they do, then you _won't_, because the refresh token is single use. So, you'll at least be able to detect that the token was compromised.

[2022-11-21 18:38] cameronelliott commented on #6598
My two cents: don't be afraid to show how serious this can be, here is an older copy of the online warning:

![image](https://user-images.githubusercontent.com/868689/203133550-3cae8e3a-c41b-41cb-b6e2-eed0fb92ed2c.png)

Text like "Listen up: This is a potentially destructive operation" as in the web interface can help users.
Adding the text about watchers too can be valuable.

Asking for a confirm

[2022-11-21 20:02] adam-azarchs commented on #5924
I'm a bit curious about why you're making such a distinction between a personal computer and a server - certainly in many modern contexts they're quite different, but many organizations are still using more traditional architectures where the difference between a server and a personal workstation is insignificant, e.g. if the user's home directory is mounted from a network share.

In a bit more de

[2022-11-21 21:07] mislav commented on #5924
Thanks for detailing these scenarios; that's helpful to frame the conversation.

That's an angle I haven't considered.

It's true that the distinction is not always necessary, but I have noticed that parts of the OAuth specification are more applicable to services (where the software code and storage is generally inaccessible to the consumer of the service) and less (or even not) applicable to cli

[2022-11-21 21:54] jacob-keller commented on #6633
I'm using gh 2.20.0:

[code]

Lets assume that I have a repository at https://github.com/jacob-keller/some-repository, then I can reproduce by the following steps, starting with the local main branch being in weird state:

[code]

From this point I would expect the following:

1) the PR should appear to contain only one commit relative to the remote version of main
2) the title should auto-fill fr

[2022-11-21 21:56] jacob-keller commented on #6633
Note that I understand that typical usage is that "main" would always be up to date with whats on the remote, but not everyone is diligent about keeping that the case. Additionally this is one of the reasons git separates remote refs from local branches. The remote refs always match what ever you fetched from that remote.

[2022-11-21 22:04] jacob-keller commented on #6633
Hm. I checked the gh source code, and I found logic for discovering the base remote. I suspect that somehow my local setup must be wrong because it fails to hit this and gets stuck with just using local branch...

See https://github.com/cli/cli/blob/trunk/pkg/cmd/pr/create/create.go#L624

I'm trying to figure out how that code fails on my local system.

I should note that I recently began renaming

[2022-11-21 22:06] jacob-keller commented on #6633
In my case:

[code]

Note I've tried to redact URLs since this is failing in a non-public repository.

[2022-11-21 22:08] jacob-keller commented on #6633
Ahah! I've just figured out what happened: the remote repository was renamed at some point and I forgot to update the remote URL so when it goes to scan for the remote URL it fails to find it.

I apologize for the wasted time here :)

[2022-11-21 22:08] #6633 closed, assigned to nobody

[2022-11-21 22:19] adam-azarchs commented on #5924
Of course that issue isn't unique to refresh tokens - it's an issue for long-lived tokens as well.   The github CLI needs to [embed a "secret"](https://github.com/cli/cli/blob/1fe25b8376c695f7f5896323839c1055703acd7b/internal/authflow/flow.go#L23-L26) regardless.  But that doesn't directly compromise the security of a user's credentials - at worst, it allows an attacker to bypass organizational re

[2022-11-22 07:20] mkolesnik commented on #6645
Thanks @mislav , it would be very useful if file uploads could be retried automatically more thoroughly.
I think the draft release should still be deleted in case of failure to create the release with the files.

Do you want me to report a separate issue for retrying file uploads?

[2022-11-22 07:58] kayn1 opened #6650 "cli won't open browser and returns an error instead"
### Describe the bug

This might be not an issue with CLI itself but I can't find what the problem is.

`gh pr create -w` won't open a browser.

### Steps to reproduce the behavior

1. Type this ```gh pr create -w```
2. View the output
3. See error
[code]

### Expected vs actual behavior
It opens a default browser with PR ready to open.

### Logs

Paste the activity from your command line. Redact

[2022-11-22 08:00] cforce commented on #1741
I still raises the error

[code]

on:

[code]

[2022-11-22 08:04] samcoe commented on #6650
Seems to be the same issue as https://github.com/cli/cli/issues/2871. It looks like restarting the computer fixes the issue, can you try that?

[2022-11-22 08:11] kayn1 commented on #6650
Yup, I don't know why but it fixed the problem. 🤷

[2022-11-22 08:11] #6650 closed, assigned to nobody

[2022-11-22 11:44] mislav commented on #6645
@mkolesnik Sure! Let's treat retrying logic as a separate issue

[2022-11-22 12:54] mkolesnik opened #6651 "Creating a release with files sometimes fails upoading the files and tanks the release"
### Describe the bug

Sometimes when using `gh release create <files>...`, uploading files fails (and ends up with a partial release).

### Steps to reproduce the behavior

1. Run gh release create with files
2. It sometimes fails to upload one (possibly more) of the files

### Expected vs actual behavior

As proposed by @mislav on #6645 , the retry mechanism for file uploads could be more robust

[2022-11-22 13:30] gtirloni opened #6652 "`gh repo edit --enable-projects=false` does not work"
### Describe the bug

The `--enable-projects` flag does not seem to have any effect (for enabling or disabling).

### Steps to reproduce the behavior

1. `gh repo edit  --enable-projects=false org/repo`
2. View the output `✓ Edited repository org/repo`
3. Open the repository page on GitHub and see that `Projects` is still showing

### Expected vs actual behavior

Projects are disabled for that rep

[2022-11-22 13:45] MarcelloDM commented on #3185
I downloaded the last version of gh cli (should be **version 2.20.2 released on 2022-11-15** , you can download the tar file)  and installed it manually (not from aptitude!). Som the problem is fixed.

[2022-11-22 14:33] chmouel commented on #360
Here is a POC using Cobra builtin ValidArgs on zsh (should work as well on bash and any shells cobra completions support) :

https://user-images.githubusercontent.com/98980/203340289-4d81b84f-1896-4579-9615-462afbdf867a.mov

implementation is not ideal (it use gh binary to generate the pr list and title when it could just use graphql directly) but good enough for what we want to do..

let me know

[2022-11-22 16:05] mislav commented on #6652
Hi, thank you for bringing this to our attention.

GitHub now has two concepts of "projects":
- Projects are the new "Projects v2",
- `Projects (classic)` is what used to be known as "Projects".

GitHub CLI uses the old APIs to toggle Projects on/off in a repository, but that only affects `Projects (classic)`. Regular Projects still remain enabled in your repository and I can't find any public API

[2022-11-22 17:59] luanzeba commented on #6549
I noticed the same behavior as @despreston and confirmed that's a shortcoming in the API. This seems like a bug since the [API docs for codespace creation](https://docs.github.com/en/rest/codespaces/codespaces#create-a-codespace-in-a-repository) list `display_name` as an optional param so I opened an issue for the codespaces team

[2022-11-22 22:15] chmouel commented on #360
I thought it would be neat to wrap around the gh binary for generating the completion cobra expect....

here is a shell script adding completion (only for pr and issue the rest is an exercise for the rider) to gh by wrapping around it.

Just save this script in your $PATH before the path of where the real gh binary is and just tab on the issue and pr to get the a completion of the pr and title (as

[2022-11-23 01:36] feliciakelley commented on #5924
lol..your very smart ..yes both A and C.. or even all the above .

On Mon, Nov 21, 2022, 12:02 PM Adam Azarchs ***@***.***>
wrote:

[2022-11-23 14:09] mislav commented on #6560
Closing due to lack of info. If this is still an issue, please reopen!

[2022-11-23 14:09] #6560 closed, assigned to nobody

[2022-11-24 02:40] PoolloverNathan opened #6658 "CLI does not seem to notice git when ran through wsl"
### Describe the bug

When running gh (at `/usr/bin/gh`), it does not notice git (at `/usr/bin/git`). I am running through wsl, and gh is v2.20.2.

### Steps to reproduce the behavior

1. `wsl`
2. Install gh
3. Try to use most commands

### Expected vs actual behavior

I expected gh to be able to find git. It did not, even though it was right next to it.

### Logs

[code]

[2022-11-24 14:25] mislav commented on #6658
Thanks for reporting. Can you tell us your PATH and the result of `which git`?

[2022-11-24 14:56] kylejb opened #6659 "HTTP 404 for cli.github.com"
### Describe the bug

Unable to download the latest release with `apt`. I followed the instructions listed [here](https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-raspberry-pi-os-apt).

### Steps to reproduce the behavior

1. In any browser, go to https://cli.github.com
2. Output is 404.
3. Similarly, when running `sudo apt update && sudo apt upgrade` from Ubuntu, 40

[2022-11-24 15:24] kylejb commented on #6659
### Update

Seems to have been recently fixed (on my end at least). If it's still not working for you, I advise chiming in to prevent this from getting closed.

I reran `sudo apt upgrade gh` and got this output:

[code]

https://cli.github.com also resolves in browser.

[2022-11-24 15:43] mislav commented on #6659
We had a momentary site outage due to a bad site deploy. Sorry everyone for the inconvenience. Thank you for reporting!

[2022-11-24 15:43] #6659 closed, assigned to nobody

[2022-11-24 19:47] akulbe opened #6660 "gh repo clone doesn't find git"
  Aaron Kulbe@smallkraken  ~\Code\ironmansoftware  gh repo clone ironmansoftware/terminal-gui-designer
unable to find git executable in PATH; please install Git for Windows before retrying

   Aaron Kulbe@smallkraken  ~\Code\ironmansoftware    git --version
git version 2.38.1.windows.1

   Aaron Kulbe@smallkraken  ~\Code\ironmansoftware  gh --version
gh version 2.20.2 (2022-11-15)
https

[2022-11-25 10:44] mislav commented on #6660
Hi, thanks for reporting. Could you tell us more about your setup? And can you check if your situation is similar to https://github.com/cli/cli/issues/6658?

Output from the following could be helpful:
1. `echo $env:path`
2. `echo $env:PATHEXT`
3. `where.exe git`

[2022-11-25 12:18] kerbou opened #6661 "Usage docs on 'gh repo edit' needs clarification"
### Describe the bug
The docs states that the CLI should look like this when invoking gh repo edit:

Flags:
      --add-topic strings        Add repository topic
      --allow-forking            Allow forking of an organization repository
      --default-branch name      Set the default branch name for the repository
      --delete-branch-on-merge   Delete head branch when pull requests are merged

[2022-11-25 15:29] rob-gordon commented on #5770
Just had the same thing occur (Mac 12.6, Intel, `gh` installed with homebrew) but force quit the process before running `ps aux | grep -w gh`. If It happens again I'll post the output here.

[2022-11-25 23:06] emilhovad opened #6662 "start"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-11-26 15:33] #6662 closed, assigned to nobody

[2022-11-27 09:34] coot opened #6663 "gh pr checks should show links which include job id"
### Describe the feature or problem you’d like to solve

The `gh pr checks` command is quite useful to see the status of all jobs, but it's not easy to get detailed information.  For that one first needs to copy run id, then run:
[code]
Then copy the job id and run:
[code]

### Proposed solution

I think ultimately the links shown by `gh pr checks` should include job id of GitHub action jobs rathe

[2022-11-27 16:40] chmouel opened #6664 "Allow #number for PR and Issues instead of just number"
### Describe the feature or problem you’d like to solve

It would be nice the #number works as well as just number.

Just for example how that help is when doing a "gh pr list" and do a copy of the number to view it before, I always have to end up removing the `#` manually...

### Proposed solution

Having the CLI accept #number and remove the # at the begingin

### Additional context

not a big f

[2022-11-28 07:47] vilmibm commented on #6664
this would be interpreted as a comment in almost any shell environment meaning gh would never see the argument.

[2022-11-28 07:47] #6664 closed, assigned to nobody

[2022-11-28 10:12] mislav commented on #6661
Hi, our CLI flags never require the equals sign between the flag and the value. This style of usage is perfectly valid:

[code]

The equals sign is only required for explicitly passing values for boolean flags, e.g.:
[code]

[2022-11-28 10:12] #6661 closed, assigned to nobody

[2022-11-28 10:16] mislav commented on #6664
This already works, bearing in mind @vilmibm's comment of the `#` character needing escaping or being commented in a shell such as bash:

[code]

[2022-11-28 10:16] wpchannel commented on #4791
Same issue here!

[2022-11-28 10:18] chmouel commented on #6664
ah thanks @mislav, yeah i was quoting the value in my shell but i mistype the issue number i was looking at...

[2022-11-28 11:10] mislav commented on #6642
Hi, thanks for proposing. I agree this would be a useful feature, but note that the GitHub CLI issue tracker is not a place to propose GitHub platform features at. A better place would be https://github.com/orgs/community/discussions/

Right now (to my knowledge) you cannot search PRs for the files they "touch" because the search index for PRs does not include files.

You can do this:
[code]
to fe

[2022-11-28 11:10] #6642 closed, assigned to nobody

[2022-11-28 12:27] #6566 closed, assigned to nobody

[2022-11-28 17:31] mislav commented on #1314
**Update:** the above has now changed on the platform and doing `gh pr ready` to mark a PR as ready or `gh pr ready --undo` to convert a PR back to draft now works with the generated GITHUB_TOKEN in GitHub Actions.

[2022-11-28 17:31] #1314 closed, assigned to nobody

[2022-11-28 18:18] fransonsr opened #6670 "Terminal colors no longer working with cygwin terminal."
### Describe the bug

The GitHub CLI is not rendering terminal colors correctly anymore using Cygwin's terminal.

### Steps to reproduce the behavior

<img width="686" alt="image" src="https://user-images.githubusercontent.com/1993922/204351061-932179bc-1749-4cc0-a4b8-9f116a3cc75d.png">

This used to work fine, though I am not sure just when it broke.

### Expected vs actual behavior

Terminal col

[2022-11-28 18:56] Jonnyboy1992 opened #6671 "GitHub CLI 2.20.2"
### Discussed in https://github.com/cli/cli/discussions/6623

<div type='discussions-op-text'>

<sup>Originally posted by **github-actions[bot]** November 15, 2022</sup>
## What's Changed
* Fix up Linux packaging regression by @samcoe in https://github.com/cli/cli/pull/6621

**Full Changelog**: https://github.com/cli/cli/compare/v2.20.1...v2.20.2

<hr /><em>This discussion was created from the rel

[2022-11-28 19:04] #6671 closed, assigned to nobody

[2022-11-28 22:56] Akergez commented on #1747
I want to install drivers for printer. What should i do with this issue?

[2022-11-28 23:19] #1747 closed, assigned to nobody

[2022-11-29 04:43] 0xdevalias commented on #2531
Was just setting up a new work environment and was surprised to find that the `gh` CLI doesn't support creating/listing/revoking tokens from it.

---

[2022-11-29 04:44] 0xdevalias commented on #2531
Even if the token couldn't be created through the CLI due to missing API's/etc at the moment, having a command that even directs us to do so in the web UI in the meantime would aid in discovery/etc.

Particularly given the URL can be guided with url params (unsure if there are others besides `description`):

[code]

[2022-11-29 09:58] chmouel opened #6672 "get extension from $PATH"
### Describe the feature or problem you’d like to solve

I'd like to be able to get "extension/plugin" starting by gh-foo completed to "gh foo"

gh currently support getting extensions via its extension mechanism but doesn't let user to quickly write a script that add some functionality without having to push to github first (and then having to syncronize it locally)

### Proposed solution

Make i

[2022-11-29 13:51] mislav commented on #6672
You can absolutely have local extensions:
1. Create a `gh-foo` directory and cd into it;
2. Create a `gh-foo` executable;
3. Run `gh ext install .`

We briefly considered having `gh foo` discover a `gh-foo` executable from PATH (like git does) but we've decided against that an in favor of our extension mechanism that doesn't rely on PATH.

[2022-11-29 13:51] #6672 closed, assigned to nobody

[2022-11-29 15:48] mislav commented on #6670
Hi, do you have PAGER or GH_PAGER set in your environment variables?

[2022-11-29 15:51] mislav commented on #2531
@0xdevalias The `scopes` query parameter seems to work:
https://github.com/settings/tokens/new?description=useful-forks&scopes=repo:invite,read:public_key

[2022-11-29 16:43] Wigwam420 commented on #6641
Opening a dock shop

[2022-11-29 18:59] mgabeler-lee-6rs opened #6673 "PR Merge Edit commit message shows wrong default"
### Describe the bug

When merging a PR for a repo that has a non-default setting for the merge title/message (e.g. "Default to pull request title" or "... and description", the editor opened for "Edit commit message" shows an incorrect default value. It shows the value that would be the default if the repo used the "Default message" setting.

`gh --version`: `gh version 2.20.2 (2022-11-15)`

###

[2022-11-29 20:00] jasonkarns opened #6674 "Base branch for PR should respect remote's HEAD instead of repo default branch"
### Describe the feature or problem you’d like to solve

The vast majority of the time, a repository's default branch and a local clone's HEAD ref for the remote is the same (`main`). Especially because cloning a repo makes the remote's HEAD point to the repo's default branch.

However, in the rare case where the two differ, I think `gh pr create` should respect the clone's HEAD for the remote.

O

[2022-11-29 20:31] jasonkarns commented on #6674
In case this catches anyone else off-guard, I believe there is currently a bug in git that `git remote show origin` will print "HEAD branch: main" regardless what is actually in `.git/refs/remotes/origin/HEAD`

So given `git remote set-head origin other`:
[code]

you'll still see:
[code]

Just sharing that because you can't actually trust `git remote show origin` to report an explicitly-set remote

[2022-11-29 21:20] mattpopa commented on #1326
this is still happening on `gh version 2.20.2 (2022-11-15)`

[2022-11-29 21:29] PoolloverNathan commented on #6658
@mislav I listed the `which` outputs in the first line of the issue, minus the actual word `which`.

[2022-11-30 00:16] legomushroom opened #6675 "SAML enforcement prohibits installing public extension"
### Describe the bug

Cannot install CLI extensions hosted on `public` repo from a `github` org.

### Steps to reproduce the behavior

1. Create a `Codespace` and connect to it.
2. Try installing an extension from a public repo from the `github` org:

[code]

3. Notice the error:

[code]

### Expected vs actual behavior

I'd expect the extension to be installed successfully since this is a `public

[2022-11-30 12:15] mislav commented on #6675
Thanks for reporting. For accessing public resources, this has been a long-open issue: https://github.com/cli/cli/issues/2680

In theory, allowing un-authenticated requests to e.g. clone public repos or download their Releases could be beneficial, but we're not sure how we should go about it. If we just allow it willy-nilly, then people can use `gh` for almost any interaction with a public repo, a

[2022-11-30 13:26] mislav commented on #1326
Hi all, if you want to clone a public repository without any authentication, you don't need help of GitHub CLI, and you can just do `git clone https://github.com/OWNER/REPO`.

It might be a bit confusing that `gh repo clone OWNER/REPO` doesn't work unless logged into GitHub CLI, but you have to understand that most operations that GitHub CLI does are backed by making GitHub API requests in context

[2022-11-30 13:49] mislav commented on #6674
Thanks for the detailed feature request!

Is it common that developers use `git remote set-head <remote> <branch>` to point to a branch that is not the actual HEAD for the remote repository?

Because, the next time that the same person does `git clone` of the same repository or run `git remote set-head --auto`, the setting will be "reset" to point to the actual HEAD of the remote repository, which

[2022-11-30 14:17] mislav commented on #6658
Thanks. As for `gh`, I presume that you installed GitHub CLI within the WSL instance as opposed to calling it from the host system as `gh.exe` from within WSL. Do you remember how you installed `gh` within WSL?

Lastly, which operating system is your WSL instance? I presume Ubuntu, which is the default.

[2022-11-30 16:38] mislav commented on #6673
Thank you for the report. Agreed with your assessment that this is an API problem. Reporting this internally 👍

[2022-11-30 19:33] BusHero opened #6677 "`gh auth login` generates `%LOCALAPPDATA%` folder on Windows"
### Describe the bug

In Windows, after running `gh auth login`, a folder with the name `%LOCALAPPDATA%` is generated.
I'm using gh version **2.20.2**

### Steps to reproduce the behavior

1. run `gh auth login`
2. Select the following options:
    - What account do you want to log into? **Github.com**
    - What is your preferred protocol for Git operations? **HTTPS**
    - Authenticate Git with

[2022-11-30 19:45] mislav commented on #6677
Thanks for reporting. Is this under WSL by any chance?

[2022-11-30 19:46] legomushroom commented on #6675
@mislav I'd prefer `1.` make unauthenticated requests for public repos.

For my particular case, for the `gh-net` extension, when user connect to a Codespace, we install/update another instance of `gh-net` inside the Codespace automatically using the GH CLI. Hence `2.` won't work.

[2022-11-30 19:47] mislav commented on #6677
Additionally, can you tell us the values of actual environment variables `LocalAppData`, `XDG_CONFIG_HOME`, and `XDG_DATA_DIR` on your system?

[2022-11-30 19:50] BusHero commented on #6677
it's not under WSL, but I have WSL installed

[2022-11-30 19:51] BusHero commented on #6677
![image](https://user-images.githubusercontent.com/24370515/204894791-41310cfe-0fd5-46da-93dd-4a0bdcb064f5.png)

[2022-11-30 19:55] BusHero commented on #6677
You get the same result on **PowerShell** and on **CMD**, if this helps

[2022-11-30 19:57] mislav commented on #6677
@BusHero Inside the real `$env:LocalAppData` folder, is there a `GitHub CLI` folder after `gh auth login`? Or is that placed under the faulty `%LocalAppData%` folder in your current directory?

[2022-11-30 20:00] mislav commented on #6677
I'm looking at the underlying code and I can't see an angle of how a literal `%LocalAppData%` could have been generated, sorry 😕 https://github.com/cli/go-gh/blob/5f59c9cf4618f1b8074e381209e2f4c0ef9bf25e/pkg/config/config.go#L234-L235

[2022-11-30 20:01] BusHero commented on #6677
`$env:LocalAppData` contains `GitHub CLi` folder.

[2022-11-30 20:02] mislav commented on #6677
@BusHero Thanks for checking. Do you think a `%LocalAppData%` could have been placed there by a program other than `gh`?

[2022-11-30 20:02] BusHero commented on #6677
Well, I didn't create it

[2022-11-30 20:03] BusHero commented on #6677
Don't think so

[2022-11-30 20:07] mislav commented on #6677
Sorry, one more question I forgot above: what is your `$env:AppData`? I only asked about `$env:LocalAppData`, but gh places login information in the former directory.

I just tried to reproduce on Windows but I could not get `%LocalAppData%` to become created after `gh auth login`.

[2022-11-30 20:09] BusHero commented on #6677
![image](https://user-images.githubusercontent.com/24370515/204898041-e4d4f4b6-6a7c-4966-bb00-c118d8fd6e92.png)

[2022-11-30 20:19] BusHero commented on #6677
I've rechecked it and it seems like this folder is generated only inside the VSCode terminal

[2022-11-30 20:22] BusHero commented on #6677
And restarting VSCode solved the problem

[2022-11-30 20:26] BusHero commented on #6677
Sorry for bothering 🙄
However, I want to mention that this is not the first time I've encountered this problem

[2022-11-30 21:00] 0xdevalias commented on #2531
Ah, nice. I thought i'd seen that done, but couldn't remember the specifics for it.

[2022-11-30 22:01] mislav commented on #4547
There is an open PR that adds this feature that you are all welcome to try out! Due to the size of added code, our team didn't yet time to make an in-depth review, but we will get to it. Thanks for your patience

[2022-11-30 22:02] asmayljlyly9 commented on #2531
![Uploading D-videos.png…]()