[2021-10-20 15:42] tom-wright-genieai opened #4575 "tail output from `gh run view`"
### Describe the feature or problem you’d like to solve

I would like to be able to be able to see the output of a running build.

At the moment I cant:

[code]

### Proposed solution

My use case is that I run complete builds so that I can fix all failing tests in one go (I tend to use the build system to find errors). I then like to see if any tests have failed while the build is running. This l

[2021-10-20 15:56] joeksy opened #4576 "auth status shows "not logged into any GitHub hosts" even with GH_ENTERPRISE_TOKEN and GH_HOST"
### Describe the bug

gh version 2.1.0

Not logged in with GH_ENTERPRISE_TOKEN and GH_HOST set

### Steps to reproduce the behavior
1. Set both GH_ENTERPRISE_TOKEN and GH_HOST environment variables
2. from cmd, type `gh auth status`

### Expected vs actual behavior
Expected: Signed in to github enterprise host
Actual: Not logged in

Additionally: When attempting to sign in with `gh auth login --ho

[2021-10-20 15:57] mislav commented on #4572
Agreed! Should I rename this issue to be about adding the `relase list --json` functionality then?

That's a valid remark, but we generally cannot show a "whole" object for JSON output because the underlying API requests are mostly GraphQL requests, and GraphQL requests always require you to explicitly list all the fields that you want to see in the response. Hence we always require users to enume

[2021-10-20 16:24] mislav commented on #4576
Obvious question, but: did you set a valid authentication token as GH_ENTERPRISE_TOKEN?

This is expected. `gh auth login` is a flow that logs you in and stores the gh token internally. However, that whole authentication is overridden if there is a GH_ENTERPRISE_TOKEN, and since gh cannot override an environment variable, it's telling you that you either have to fix the token in GH_ENTERPRISE_TOKE

[2021-10-20 16:38] mislav commented on #4567
This is awesome! Thanks for putting it together @vilmibm. Minor notes:

Since in GitHub terms a "mirror" repository is a GitHub repository that mirrors the contents of another online repository (on GitHub or elsewhere), I would avoid referring to pushing a local repository online as "mirroring a repository", since I don't think this term reflect how our typical users think about it. Instead, I wou

[2021-10-20 17:10] joeksy commented on #4576
I can confirm the token is valid. I may sign in if I remove the environment variables and use `gh auth login --hostname <hostname> --with-token` using the same token on standard input.

While manual sign in works, I am looking for the GH_ENTERPRISE_TOKEN solution as this flow will be use on automated CI/CD with VM image

[2021-10-20 17:41] #1215 closed, assigned to nobody

[2021-10-20 18:16] samcoe commented on #4575
@tom-wright-genieai This is a feature that we had wanted to add, and has been requested before, I cant seem to locate the issue right now. Unfortunately, as far as I know, there is no API endpoint that provides this functionality. Without that, it is not feasible for us to add this feature. We would be interested in hearing more about how you achieved this functionality in Jenkins though as it mig

[2021-10-20 19:22] samcoe commented on #4567
This is looks great to me, thanks for putting in the work @vilmibm.

Only one comment, if the user selects to create a remote we could also give them the option to select which branch they want to use to track the remote. From the example it looks like we assume "trunk" (default git branch) is what the user would want, and likely is what the majority of people would use, but I can see some use cas

[2021-10-20 19:34] samcoe commented on #4560
@pjgoodall You are correct this is a limitation of GitHub where you can't fork a repository that you already own. This is due to the fact that when forking a repo the name selected for the forked repo is the same as the original repo and thus you are trying to create a repo with the same owner and name as one that already exists. This is not a limitation that the CLI can overcome, so I think that

[2021-10-20 21:55] waldyrious commented on #4220
Hey @samcoe — I have had the chance to test gh 2.1.0, but even with this check for updates now done concurrently (thanks to #4396), it is still taking me several seconds to see the output (even more than before, ironically — although of course network latency variations will affect the results). As the original reporter, I would not consider this issue resolved until the times are much closer to a

[2021-10-20 22:15] samcoe commented on #4220
@waldyrious Thanks for the update that you are still experiencing this issue. I will reopen it. As next steps for speeding this up I think the only real option is to try to reduce the number of network requests. Two options there are to do caching and only checking for updates every 24hr (for example) or introducing a flag that specifies that `extension list` should or shouldn't check for updates

[2021-10-20 22:15] adonovan opened #4579 "'gh cs cp file1 file2' does a local file copy"
Some users expect that two filename arguments are implicitly local and remote (or the reverse), leading to a local file copy. This change makes it an error not to specify at least one remote filename. (scp is quite happy to degenerate into /bin/cp in this situation.)

We should probably report an error unless at least one file name has a "remote:" prefix.

Context: https://github.slack.com/archive

[2021-10-21 07:50] stevehipwell commented on #4572
@mislav I'll rename the issue as suggested.

I get that implementing `--json` without a value would require two GraphQL calls, but that's an implementation detail (you can implement a catch all parameter in you GraphQL server code using the same logic as you use for listing the available fields). As a user I don't want to know about the implementation, I want to know abut the data. If the fields a

[2021-10-21 09:03] tom-wright-genieai commented on #4575
With jenkins, I reverse engineered the web interface using developer tools. This obviously isn't the most stable of approaches.

Here are some samples from my tool:

[code]

[code]

I don't think I ended up implementing a tail. But the API does provide "real time output" which was good enough for me. I seem to remember the website works with repeated polling `consoleText` with some additionally ar

[2021-10-21 09:21] mislav commented on #4576
I've just tried to reproduce with a token I've generated on a Enterprise instance:
[code]
All gh operations work with this token. What is the output that you get, and can you manually confirm that your token is valid? Does the token include `repo, read:org` scopes?
[code]

[2021-10-21 09:59] mislav opened #4580 "Avoid giving auth instructions that would force you to authenticate twice"
Upon first use of gh, running a command like `gh ssh-key list` will print something like:

[code]

However, `gh auth login` will by default only request the `repo, read:org, gist` scopes, but `ssh-key` commands also need the `write:public_key` scope. So if the person does follow the printed instructions and then retries running the `gh ssh-key list` command, it will still fail:
[code]

This is a b

[2021-10-21 10:40] stdtom opened #4581 "Copy/paste mistake in docs"
In
https://github.com/cli/cli/blob/034199073dbb2fe67dc70692143a4a4b3fd5a074/pkg/cmd/pr/ready/ready.go#L37-L38

it should read "Without an argument, the pull request that belongs to the current branch is marked as ready".

I assume a copy/paste mistake from
https://github.com/cli/cli/blob/029d49f3b38ebd54cd84b23732bb7efabfce4896/pkg/cmd/pr/view/view.go#L48-L49

[2021-10-21 10:53] #4581 closed, assigned to nobody

[2021-10-21 12:21] vwkd opened #4583 "`gh repo sync` fails on initial push"
### Describe the bug

`gh repo sync` doesn't create a remote branch on the first push to that branch.

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

I expected it to create the branch and push the changes, similarly to `git push -u origin main`. Instead, it throws an "exit status 128".

### Logs

[code]

[2021-10-21 12:27] joeksy commented on #4576
the scopes I gave is:
- repo
- workflow
- read:org
- read:repo_hook
- notifications

actually, I would like to note that originally, I also have GH_TOKEN (all three GH_TOKEN, GH_HOST, and GH_ENTERPRISE_TOKEN) set and that only the github.com login successfully.

note: ~\AppData\Roaming\GitHub CLI\hosts.yml is blank

[2021-10-21 12:33] mislav commented on #4576
@joeksy The scopes look good. Can you run a manual curl request and double-check if the token is valid?
[code]

[2021-10-21 12:45] mislav commented on #4576
The hosts config file is expected to be blank if you're using `*_TOKEN` environment variables. Whenever these variables are present, they are used instead of anything in `hosts.yml`.

[2021-10-21 12:56] joeksy commented on #4576
[code]

[2021-10-21 13:13] mislav commented on #4576
@joeksy Whoops, I've messed up the grep pattern. It should have been `grep -i ^x-oauth-scopes` to show the scopes that the token has, not the ones that are accepted by the endpoint. Could you run that?

As for `gh auth status`, you can run it with `DEBUG=api` which will show you the verbose log of API requests on standard error stream. You can inspect it for your Enterprise server to try and see w

[2021-10-21 13:13] vwkd commented on #4583
I realised that pushing is not the intention of `gh repo sync`. Closing.

[2021-10-21 13:13] #4583 closed, assigned to nobody

[2021-10-21 13:23] joeksy commented on #4576
gh auth status returns
`You are not logged into any GitHub hosts. Run gh auth login to authenticate.`

and the `grep -i ^x-oauth-scopes` returns
`x-oauth-scopes: notifications, read:org, read:repo_hook, repo, workflow`

[2021-10-21 13:37] mislav commented on #4576
@joeksy Thanks for all your help; I finally managed to reproduce based on your setup. This is definitely a bug with `gh auth status`: it reports "You are not logged into any GitHub hosts" while you do have valid environment variables set up.

However, you should be able to use all other `gh` commands for your Enterprise instance without problem. Can you try if that works, for example listing the r

[2021-10-21 13:47] joeksy commented on #4576
Thanks
(then my problem is likely something else)

I manage to verify it on my local machine (not VM) that the enterprise login is indeed working.

[2021-10-21 14:28] mislav commented on #4576
@joeksy Please let us know if you have any problem using other gh commands with your Enterprise instance. You are welcome to open new issues for that, since this issue is now only about the `gh auth status` messaging problem.

[2021-10-21 14:51] #4579 closed, assigned to nobody

[2021-10-21 17:51] catskul opened #4585 "Formatting of manual page about formatting is poorly formatted"
### Describe the bug

The formatting of the examples is broken probably because of backticks in the text

https://cli.github.com/manual/gh_help_formatting

![image](https://user-images.githubusercontent.com/375302/138330524-832a123e-eeb4-47fc-a4e4-a8522f2d14c4.png)

[2021-10-21 18:35] feplooptest commented on #1735
Is there any solution on this issue?

[2021-10-21 18:40] samcoe commented on #4585
@catskul Thanks for writing in. Going to close as a duplicate of https://github.com/cli/cli/issues/4322.

[2021-10-21 18:40] #4585 closed, assigned to nobody

[2021-10-21 19:27] issyl0 commented on #4322
It looks like `gh help formatting` is defined in https://github.com/cli/cli/blob/trunk/pkg/cmd/root/help_topic.go#L81-L123. Comparing this to https://github.com/cli/cli/blob/trunk/pkg/cmd/release/download/download.go#L38-L56, which [does render correctly](https://cli.github.com/manual/gh_release_download), it's a very different way of writing it - split into "Examples", "Long" Cobra command heredo

[2021-10-21 19:35] vilmibm commented on #4567
@mislav I've addressed your comments, thanks for them!

@samcoe ah yeah I just used `trunk` in the examples because that's what my default branch is locally and on GitHub. I figured we would either query what the user has set as a default branch on GitHub (if that's possible) or just fall back to `git`'s default branch setting. Is there value in prompting for a branch name if we're doing one of th

[2021-10-21 20:43] samcoe commented on #4567
@vilmibm Yeah I think that is probably good enough, and I do want to be wary of adding too many prompts. We can always add in an additional branch name prompt later if it is requested.

[2021-10-21 21:10] vilmibm opened #4589 "support base repo resolution in repo delete"
`gh repo delete` should work with no argument as long as it's executed from a git repository that has been pushed to a github host.

[2021-10-21 21:11] vilmibm opened #4590 "support base repo resolution in repo archive"
`gh repo archive` should work with no argument as long as it is called from a git repository that has been pushed to a github host.

[2021-10-22 13:03] marikaner opened #4592 "`fatal: could not read Username for ...` on clone although username is passed"
### Describe the bug

I am trying to use the GH CLI with GH Actions on GHES (let's call it `ghes1.corp`). I have a technical user and I am trying to clone some repository (from a different GHES - let's call this one `ghes2.corp`) into a subdirectory (`subDir`).
`ghes1.corp` should be irrelevant here.

I have configured the env variables `GH_ENTERPRISE_TOKEN` and `GH_HOST` for `ghes2.corp`.

Now ru

[2021-10-22 13:22] marikaner opened #4593 "`none of the git remotes configured for this repository correspond to the GH_HOST environment variable.` while GH_HOST and remote match"
### Describe the bug

I am trying to use the GH CLI with GH Actions on GHES (let's call it `ghes1.corp`).
I cloned a repo from another GHES (let's call this one `ghes2.corp`) into a subdirectory, made some changes on a (remote) branch and now I would like to open a PR to the repository I forked my repo from using the GH CLI (same setup as in #4592).

I have configured the env variables `GH_ENTERPR

[2021-10-22 13:51] marikaner commented on #4593
OMG. I have been looking at this problem for so long and just found, that the cwd is reset between the steps of GH Actions. The issue was, that I was in the context of the outer repo...🤦‍♀️

[2021-10-22 13:51] #4593 closed, assigned to nobody

[2021-10-22 13:58] joeksy commented on #4576
I just want to let you know that my problem been resolved.
It turns out that somehow, in my VM image .git/config, the remote url has a `\n` a the end.
`git remote -v` return correct results, but gh commands will fail and return `no git remotes found`

I have no idea how the \n came to be. I am using a inhouse equivalent of Docker.

[2021-10-22 14:12] galah92 commented on #3484
Would very much love that as well.

[2021-10-22 19:28] thomas-sickert opened #4595 "Liveshare Client hangs when trying to connect to port 22"

[2021-10-23 00:48] joshmgross commented on #4546
@samcoe what about an hourglass symbol?
`⧖` or  `⧗`

[2021-10-24 07:26] TarunavBA opened #4597 "I'm backk @cliAutomation"
@cliAutomation Im back u blocked me a month ago.

[2021-10-24 07:27] TarunavBA commented on #4597
See #4330 and do u remember mé?

[2021-10-24 12:38] #4597 closed, assigned to nobody

[2021-10-24 21:50] chmouel opened #4598 "store and access token securely"
### Describe the feature or problem you’d like to solve

Since token are a pretty important piece of secret that are currently created and accessed by gh in a file in clear it would be nice if there was a mechanism to let the user store them securely.

### Proposed solution

If we could let the user specify a command that will output a token for an api url. Use could setup a shell script using the

[2021-10-24 22:19] sguzmanm opened #4599 "Increase unit test coverage"
### Describe the feature or problem you’d like to solve

It'd be nice to add a workflow for code coverage for new pull requests/features.

### Proposed solution

In the long term to avoid having unexpected behaviors due to untested code, this can reduce bugs and go has nice built in features for this, e.g. ["go test"](https://go.dev/blog/cover). What I'm thinking is that through Github Actions you

[2021-10-25 01:29] pjgoodall commented on #4560
@samcoe I'm just coming to grips with forks and pull-requests, so I'm not sure if my suggestion `c.` will be of much use.

a. The warning would be very useful in the context of `gh repo fork`.
b. Is the cause clear in any documentation? A mention in the on-line documentation at [https://cli.github.com/manual/index](https://cli.github.com/manual/index) would be very helpful.
c. If the upstream on t

[2021-10-25 04:18] a7a007 opened #4601 "Screenshot_٢٠٢١-١٠-١٩-٠٠-١٦-٠٧-٦٣١_com.android.chrome.jpg…]()"
Screenshot_٢٠٢١-١٠-١٩-٠٠-١٦-٠٧-٦٣١_com.android.chrome.jpg…]()

_Originally posted by @060671 in https://github.com/cli/cli/issues/4460#issuecomment-950372632_

[2021-10-25 04:23] #4601 closed, assigned to nobody

[2021-10-25 13:33] mislav commented on #4598
Agreed! We're planning to have the tokens stored in the system keychain, or provided by a command configured by the user as fallback. Duplicate of https://github.com/cli/cli/issues/449

[2021-10-25 13:33] #4598 closed, assigned to nobody

[2021-10-25 15:03] carles-aiven commented on #4174
It doesn't work for me neither. I'm also on Fedora and bash, I installed it from the Github repository.
[code]

[2021-10-25 15:10] samcoe commented on #4546
@joshmgross That could work, thanks for the suggestion. We will need to investigate how wide spread support is for that symbol in various shells and common fonts.

[2021-10-25 15:32] cuonglm commented on #4174
Does running `eval gh __complete au` give you any result?

[2021-10-25 19:16] #4595 closed, assigned to nobody

[2021-10-25 19:54] Coots95 opened #4611 "No worries @asciimike, i'm just updating the completion and was looking for a description. Certainly not nitpicking here =)."
No worries @asciimike, i'm just updating the completion and was looking for a description. Certainly not nitpicking here =).

_Originally posted by @rsteube in https://github.com/cli/cli/discussions/4609#discussioncomment-1534583_https://github.com/user/by-project/with-token

[2021-10-25 20:07] rsteube opened #4612 "stack overflow caused by AddJSONFlags in v2.2.0"
### Describe the bug

`gh codespace ports forward -h` causes a stack overflow.

### Steps to reproduce the behavior

1. Type this: `gh codespace ports forward -h`

### Expected vs actual behavior

Expected to see the help page but got an error due to a loop calling `AddJSONFlags`.

### Logs

Paste the activity from your command line. Redact if needed.
[code]

[2021-10-25 20:09] #4611 closed, assigned to nobody

[2021-10-25 21:24] despreston commented on #4599
I've contributed a few times before. The problem I'd have with this is if I volunteer to fix a bug and the change touches a group of other things that don't have any coverage. I wouldn't want the 100 line bug fix + test PR I'd be glad to write to turn into a 1200 line bug fix + tests for files I barely touched. Not sure what the best solution would be. Maybe up to the discretion of the maintainers

[2021-10-26 00:20] sguzmanm commented on #4599
Yeah that's awful, we could enforce it for only new files though and just make sure in the Code of Conduct/ Contribution guidelines that any feature you add should be tested

[2021-10-26 08:10] chalkygames123 opened #4613 "Copy/paste mistake in docs"
The comment "# Create a repository in your organization" in the "Setting a repository name " section In the ["gh repo create" manual](https://cli.github.com/manual/gh_repo_create) is perhaps a copy/paste mistake from the next section (I couldn't find the source of it 🤷).

[2021-10-26 09:41] ciaransweet opened #4616 "`gh repo clone` doesn't support `--recurse-submodules`"
### Describe the bug

When cloning a repository which contains submodules, I get:

[code]

### Steps to reproduce the behavior

Try to clone a repo with submodules:

[code]
### Expected vs actual behavior

I expect to be able to pass the `--recurse-submodules` git flag to the `gh repo clone` command and successfully clone the submodules also.

### Logs

^ Provided up top

[2021-10-26 10:26] mislav commented on #4616
Per `gh repo clone --help`:

[code]

So, following that, you should be able to pass `--recurse-modules` as well as any other git clone flag:
[code]

[2021-10-26 10:26] #4616 closed, assigned to nobody

[2021-10-26 10:52] mislav commented on #4613
Good catch! Most documentation is generated from the source code in this repository, but the examples you've pointed out come from a private documentation repo, which is the reason why you couldn't find the source.

[2021-10-26 11:57] seachicken opened #4618 "Cannot install binary extensions on windows"
**Environment**
 - OS: Windows10
 - gh --version: 2.1.0

### Discussed in https://github.com/cli/cli/discussions/4617

<div type='discussions-op-text'>

<sup>Originally posted by **seachicken** October 26, 2021</sup>
I released binary extensions for Windows [here](https://github.com/seachicken/gh-poi/releases/tag/v0.1.0).
But, could not installed at my windows PC.

[This code](https://github.com/c

[2021-10-26 12:16] mislav commented on #4618
Thank you for the report!

Ref #4308 /cc @vilmibm

[2021-10-26 13:47] ghost opened #4619 "gist: add a way to edit file using stdin input"
### Describe the feature or problem you’d like to solve

For now, there is no way to update gist files using input from another program

[code]
just runs an editor.

### Proposed solutions
1. Detect input from stdin, like `gh gist create` or
2. Add an another command (`gh gist update`, `gh gist rewrite`, etc), with `gh gist create`-like semantics.

- How will it benefit CLI and its users?
It's muc

[2021-10-26 14:47] JangoBoogaloo opened #4620 "none of the git remotes configured for this repository point to a known GitHub host"
### Describe the bug
I am starting to get this error after gh update to v2.1.0 and v2.2.0 (working fine with v2.0.0):

none of the git remotes configured for this repository point to a known GitHub host. To tell gh about a new GitHub host, please use `gh auth login`

### Steps to reproduce the behavior

1. `gh auth login` with `--hostname` to a github enterprise host and `--with-token`.
2. Create

[2021-10-26 15:03] mislav commented on #4620
Thanks for reporting and sorry for the nuisance! To help us track this down, would you mind sharing the list of your git remotes (`git remote -v`) of the repo where you were in when you tried to run `gh pr create`? You should anonymize host names and the names of repositories within. Thank you!

No way that I know of to install previous versions of software using `brew`, unfortunately :(

[2021-10-26 15:08] NatoBoram commented on #1389
It would be nice to be able to simply install it from `go get`. The package manager options available for Linux just aren't good.

[code]

[2021-10-26 18:17] will-camus opened #4621 "gh command fails to recognize origins with ssh aliases"
I recently separated my work and personal github accounts and have separate ssh keys for each. I've configured my work repos to have an origin like 'github.com-work' which corresponds to an entry in my ssh config. even after a sucessful gh auth login flow, the gh tool is unable to recognize the correct GitHub repo for my local repos

[2021-10-26 18:18] will-camus commented on #4621
Approximate contents of my ~/.ssh/config

[code]

[2021-10-26 18:22] will-camus commented on #4621
This is the error I get:

[code]

[2021-10-26 18:24] will-camus commented on #4621
remotes:

[code]

[2021-10-26 18:24] will-camus commented on #4621
version:

[code]

[2021-10-26 18:44] rf-triegel commented on #3855
@mislav It would be nice if `gh auth login` would have an option to create tokens with a user-provided expiration date (or duration), and ideally also have an option to set a default for this expiration duration.

[2021-10-26 19:26] JangoBoogaloo commented on #4620
Output from `git remote -v`:
[code]

[2021-10-26 19:35] JangoBoogaloo commented on #4620
I also checked `~/.ssh/config`:
[code]

[2021-10-26 20:29] mabushey opened #4622 "Doesn't give browser link, gh auth login defective"
### Describe the bug

Installed from apt repo.

[code]

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

I'm not using X forwarding so it can't open a browser on it's own.

[2021-10-26 21:14] JangoBoogaloo commented on #4620
Sorry I found the issue. Our enterprise CI changed recently and causing remote url different. After changing back to same url, the problem resolved.

[2021-10-26 23:12] habibmuhammadthariq commented on #2061
Adding admin:org worked for me. hope this could help you guys

[2021-10-27 02:43] jxlwqq commented on #4622
It can't open a browser on my macOS 12 (m1 max chip)

[2021-10-27 03:59] prdai opened #4623 "Profile Picture not showing"
### Describe the bug

Profile Picture not showing
in the lower-left side.
Where I can add commit title and description.
It's not a big thing but it's just a small detail that I saw that was not working.

### Steps to reproduce the behavior

1. Install GitHub-cli https://www.shells.com/l/en-US/tutorial/How-to-install-GitHub-Desktop-on-Ubuntu
2. Install Github-cli https://github.com/cli/cli/blob/tru

[2021-10-27 08:29] Kralizek commented on #4466
Would it be possible to add an optional parameter to specify the release to calculate the release note from?

Concrete case:
I have a repository with a repository scheme that doesn't follow the classic `vX.Y.Z` schema but a date-based schema: `rYYYYMM-XXXX`.

When using the feature in the UI, the latest `vX.Y.Z` release is used to calculate the release notes.

[code]

[2021-10-27 10:07] varas commented on #1865
Where's the duplicate issue?
I'd like to track "delete comment" feature progress

[2021-10-27 10:10] rsteube commented on #360
Anyone here already got access to codespaces and can check if [this](https://github.com/rsteube/carapace-bin/blob/b37c4a482e17119e0941a163c365fedd2cdc25a6/completers/gh_completer/cmd/action/codespace.go#L36) works?

[code]

It should output files/folder from the codespace vm (replace `[name]`).

[2021-10-27 10:30] mislav commented on #4622
@mabushey What actually happens when you choose "Login with a web browser"? Is there an error printed? Or does it just hang because this is a headless system?

On systems where there is no browser found, the command will print you the browse URL that you can open on any other system where you have a graphical browser, or even on your phone. However, if a browse utility is found, the CLI will invok

[2021-10-27 10:38] mislav commented on #4621
Thanks for reporting! Although we don't have explicit support for multiple user accounts in GitHub CLI, we do resolve ssh host aliases to the actual host name. I've tried with your `~/.ssh/config` contents above, but my gh succeeded in resolving `github.com-work` in a git remote to `github.com`. Is it possible that something else in your ssh config is preventing gh from resolving the hostnames?

P

[2021-10-27 10:59] mislav commented on #4592
Sorry, usernames/passwords are not supported in URLs passed to `gh repo clone`. That's because of several reasons:
1. We do not support multiple users logged into a single GitHub hosts, so we don't support username switching via URLs either;
2. Embedding a password or token in a clone URL isn't secure and should be avoided;
3. We intend to ensure that internal `git clone` operation will always be

[2021-10-27 10:59] #4592 closed, assigned to nobody

[2021-10-27 11:29] mislav commented on #1865
@varas Sorry, there are no tracking issues for editing/deleting comments for now. I've closed this issue to clean up our backlog because we've shipped features that were on our roadmap (adding & listing comments), but editing and deleting are not on our roadmap yet.

[2021-10-27 11:48] mislav commented on #4623
Hi, not sure what exactly you have a problem with, but GitHub CLI cannot show profile pictures due to the fact that it's command-line interface and, by definition, is text-only. See our README for how GitHub CLI looks like: https://github.com/cli/cli#readme

I think you should ask your question about profile pictures somewhere more appropriate, like https://github.community/. And, when you do, ple

[2021-10-27 11:48] #4623 closed, assigned to nobody

[2021-10-27 11:54] mislav commented on #4620
Okay, thanks for updating! In the future you can close your own issue when the problem is solved. 👍

[2021-10-27 11:54] #4620 closed, assigned to nobody

[2021-10-27 12:57] #4612 closed, assigned to nobody

[2021-10-27 13:21] mislav commented on #4590
If `gh repo archive` without arguments would archive the current repo, should we have a confirmation prompt to prevent the archiving being done accidentally (especially because we don't have an unarchive command)?

If we have a confirmation prompt, would it be like the one in `gh repo delete` asking you to retype the name of the repository: `? Type owner/myrepo to confirm deletion:`

And lastly, i

[2021-10-27 15:03] samcoe commented on #4466
@Kralizek I think we probably can support that but I would like to get just the basic functionality in first and then add support for that feature afterwards to keep the size of the changes small.

[2021-10-27 15:10] Kralizek commented on #4466
On a second thought, I think the behavior I explained earlier is actually a bug: generating release notes should always use the previous release as starting point by default.

[2021-10-27 17:34] will-camus commented on #4621
ah ha! my actual entry for 'work' was:

[code]

moving HostName over to github.com solved all of my problems :)

[2021-10-27 17:35] #4621 closed, assigned to nobody

[2021-10-27 18:11] skydalriol commented on #1393
Problem with this method is that it does not output the full path of the file, only relative to the file changed, which is not what the author asked for.

For instance, with the standard `git diff` command you could add `--stat=1000` to get over the 80char terminal limit and get the full path of the files changed.

So in my opinion there should be  the possibility from within `gh` to specify a par

[2021-10-27 19:30] larsvilhuber opened #4624 "Erroneous error message when using invalid license shorthand"
### Describe the bug

When attempting to `gh repo create` with a license that doesn't exist, the error message is wrong/misleading.

[code]

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

Expected: error message that says "cc-by is not a known license template. Please see https://fancy/place/url for allowed tags".

Actual: The error repeats. The `gh` app has already

[2021-10-28 05:26] matschaffer opened #4627 "`gh pr create` fork helper behavior differs from `gh repo fork`"
### Describe the feature or problem you’d like to solve

Today I ran `gh pr create` on a repo I hadn't yet forked and decided to use the "create fork" option.

I was surprised to find that this added my fork as `fork` and left the upstream as `origin`.

[code]

After using `gh repo fork` for so long I would have expected it to switch origin to upstream and place my fork as origin.

### Proposed so

[2021-10-28 07:54] christopher-besch opened #4628 "`pr edit` Unintuitive UI"
When using `gh pr edit` and selecting an option
![image](https://user-images.githubusercontent.com/57909184/139210771-9b175bb6-7d59-4353-b41b-d8c946ea96f5.png)
the default editor doesn't open as I'd expect it to. Instead I immediately get:
![image](https://user-images.githubusercontent.com/57909184/139211149-19905768-0df5-4c26-8a4f-daeec58ab1b7.png)
This obviously doesn't apply any changes as I ha

[2021-10-28 14:33] mback2k opened #4631 "`gh pr edit` `--add-label` to PR requires write permission to both issues and pull-requests"
Not sure if this is the best place to post this issue, it may also be a lack of documentation for the GitHub API or CLI.

### Describe the bug

`gh pr edit` `--add-label` to PR requires write permission to both issues and pull-requests.

1. Expected failure [without any write permission](https://github.com/curl/curl/runs/4021004943?check_suite_focus=true#step:1:13):
https://github.com/curl/curl/ru

[2021-10-28 17:05] mnquintana commented on #3613
This would be a really, reeeeally helpful enhancement, and obviate the need for a lot of custom actions / scripts that are currently needed to upsert comments on a PR. 🙏🏽

[2021-10-28 17:12] developer-guy opened #4632 "make a new command for workflow linting"
### Describe the feature or problem you’d like to solve

There is a brilliant tool called actionlint[^1] to make a static check for GitHub Actions workflow files, so I'm proposing the same one for GitHub CLI.

### Proposed solution

Users now will be able to make static checks on their workflow files.

[code]

### Additional context

[^1]: https://github.com/rhysd/actionlint

[2021-10-28 18:29] jjkinsey opened #4633 "`gh pr diff` error on long line"
### Describe the bug

Using `pr diff` on a PR that happened to include some very long lines (~139 kB, displays in the web viewer as "large diff" by default & does not render), I encountered a crash:

[code]

The output was correct (comparing with the web PR viewer) up to the first very long line.

Piping the output to an external program (e.g. `less`) averts the crash, but passing the `--color alw

[2021-10-28 19:04] vilmibm commented on #4599
Thanks for raising this concern.

I think @despreston accurately describes the likely outcome of automatic enforcement, here.

We request unit tests for all contributions. Some of our lack of coverage comes from certain things being very difficult to unit test -- to this end, we have been planning work on an "integration" suite that runs some scripted `gh` flows against a real github host.

Ultima

[2021-10-28 20:46] jmooring opened #4634 "Update installation instructions for Linux"
<https://github.com/cli/cli/blob/trunk/docs/install_linux.md>

The umask on my system results in new files with 600 permission. With this permission on /usr/share/keyrings/githubcli-archive-keyring.gpg, running `sudo apt update` fails:

[code]

Recommend updating documentation to:

[code]

[2021-10-29 00:39] will-camus commented on #4621
@mislav whoops I spoke too soon, this fixed auth for my work repo but I can't get this to work for both a work and personal repo at the same time. any ideas? I've tried keying hosts.yaml for work by e.g. ssh.github.com, but then the gh cli client tries to prefix `api.` onto the ssh.github.com host which obviously doens't work. Are there aliases for github.com that I can use that will work for both

[2021-10-29 03:59] ErangaHeshan opened #4636 "Ability to interactively suggest force push when using "git push" without "--force" option"
### Describe the feature or problem you’d like to solve

At the moment, we need to use `git push --force` when we need to force push changes to git.

Most people who use terminal use terminal history to go back and use the earlier command they used to push the changes to git. Take a look at the following two cases:

1. If they have used `git push --force` earlier:
    - If they really need to forc

[2021-10-29 07:28] Jenz8986 commented on #2101
2101

[2021-10-29 08:53] ryenus opened #4640 "command line flag to accept request body as a string?"
### Describe the feature or problem you’d like to solve

This is about the general command flag `gh api --input <file>`:

Sometimes when the content is short it would be a bit overkill to use a file. Or when used in a script where the input is already from pipe, one might need to use process substitution `<(echo ...)` to be able to provide the input.

### Proposed solution

Besides the `--input <f

[2021-10-29 09:07] dorianmariecom opened #4641 "Default to cloning with SSH"
When I clone a repo I want to commit on it and push and HTTPS needs a token, SSH is a much better experience

[2021-10-29 13:04] pavi2410 commented on #4426
Regarding `gh extensions`: Allow support for including separate scripts for Windows and other OS.

[2021-10-29 14:59] prdai opened #4643 "Repository Playlists"
### Describe the feature or problem you’d like to solve

Repository Playlists

### Proposed solution

Add a new tab near home, repositories called playlists

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-10-29 20:52] vilmibm commented on #4194
I'm working on the penultimate piece of this: an action that will make releasing precompiled gh extensions automated.

(NB: the ultimate piece is docs)

The idea is that any gh extension repo could add a workflow file that uses an action we provide and then the developer just needs to push a `vx.y.z` tag to do a release that would end up as an extension upgrade for end users.

@samcoe did some wor

[2021-10-29 20:58] #4643 closed, assigned to nobody

[2021-10-29 21:01] vilmibm commented on #4641
hi, this can be accomplished with:

[code]

replacing the host as needed.

[2021-10-29 21:01] #4641 closed, assigned to nobody

[2021-10-29 21:04] vilmibm commented on #4618
hi, binary extension support is still in beta and subject to change, but as of now, yes, the `.exe` suffix should be removed.

[2021-10-29 21:04] #4618 closed, assigned to nobody

[2021-10-29 21:05] vilmibm commented on #4624
Thanks for the report, this could certainly be improved! I belive this same kind of unhelpful error happens with .gitignore selection also.

[2021-10-29 21:08] vilmibm commented on #4628
Are you selecting `Body` with the spacebar before hitting enter?

[2021-10-29 21:17] vilmibm commented on #4631
Hi,

as far as I can tell this is intended (albeit confusing and frustrating) behavior of the GitHub platform compounded by the fact that, by default, the token used by GitHub Actions is limited in scope.

I do see one thing that is under our control in the CLI though which is that strange silent failure you experienced when you were missing the `issues` scope.

Are you comfortable with us renamin

[2021-10-29 21:23] vilmibm commented on #4636
hi, this issue tracker is for the GitHub CLI which is distinct from `git` itself.

[2021-10-29 21:23] #4636 closed, assigned to nobody

[2021-10-29 21:26] vilmibm commented on #4632
hi,

this is definitely a desired feature and was actually supposed to ship with our initial integration of actions into `gh`. Unfortunately, the internal code that GitHub uses to do linting is not exposed via any consumable API and we had to drop the feature.

This `actionlint` tool is very intriguing and I would be in favor of doing a spike to see about using the code as a library from within `g

[2021-10-29 21:28] vilmibm commented on #4619
I'm definitely in favor of this.

[2021-10-29 21:34] vilmibm commented on #4640
I'm not opposed to this but defer to @mislav 's take.

(and note that `--body` is a fine flag name since subcommands have their own flag namespaces)

[2021-10-29 21:49] vilmibm commented on #4613
fixed, it'll be reflected soon

[2021-10-29 21:49] #4613 closed, assigned to vilmibm

[2021-10-29 23:56] aduh95 opened #4645 "`git pr merge -s` should provide an option to customize commit title"
### Describe the feature or problem you’d like to solve

When using `git pr merge <url> --body "…"`, the resulting commit has a first line that consists of the PR title and the PR number, and it seems there is no way to customize this (while the web UI allows us to change this line just like the rest of the body).

### Proposed solution

I can think of different solution, from the most convenient

[2021-10-29 23:57] Domina585 commented on #2184
--with-token

[2021-10-29 23:57] Domina585 commented on #2184
Nbbnb #4645

[2021-10-30 04:34] mback2k commented on #4631
Sure. An error message would be highly appreciated in the currently silent case. It took me quite some time to identify the root cause.

[2021-10-30 06:00] christopher-besch commented on #4628
No, I wasn't, my bad.
Sorry for the interruption.

[2021-10-30 06:08] dorianmariecom commented on #4641
thanks but that should be the default

[2021-10-30 13:11] StevenACoffman commented on #4194
So how hard would it be possible to do both? If there is a .goreleaser.yml file, then use it, otherwise embed a default one in the action that you use.

Or if the new action does not use goreleaser, but there was an example .goreleaser.yml like [in gh-repo-explore](https://github.com/samcoe/gh-repo-explore/blob/trunk/.goreleaser.yml) that did everything required to be installed, then it gives peop

[2021-10-31 04:01] bchadwic opened #4647 "`gh browse` doesn't account for spaces in file / folder names"
### Describe the feature or problem you’d like to solve

Recently I've been using `gh` in a few automated scripts. One of which I need to copy the url from a current directory using `gh browse -n .` and post it using a discord bot. Granted, I know it's frowned upon usually to put spaces in file / folder names, but I have good reason for a certain repo. When running this script in this particular r

[2021-10-31 04:15] maxdevjs opened #4648 "About extensions (and specific questions on GO, non FHS, POSIX, ... compliant systems)"
Hello.

I found out that extensions **can fail** (in a somewhat cryptic manner) to execute in some cases, depending on:

- the used shebang in install script
  - `#!/bin/bash` fails, `#!/usr/bin/env bash` succeed ([portability](https://en.wikipedia.org/w/index.php?title=Shebang_(Unix)&oldid=878552871#Portability))
- the specific language used to code the extension (more on this right below)

on no

[2021-10-31 04:17] maxdevjs commented on #4194
@heaths @vilmibm @mislav

please check https://github.com/vilmibm/gh-contribute/issues/7 and https://github.com/cli/cli/issues/4648

@heaths @mislav please check https://github.com/vilmibm/gh-contribute/pull/6

[2021-10-31 11:56] MikePendo commented on #2691
same issue here

[2021-10-31 18:24] Hamdikhalid43 opened #4651 "alert("Hello, World!");"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-10-31 20:59] ralflukner opened #4652 "gh auth login - does not start interactive setup command line - ubuntu 20.04 LTS - gh 2.1.0-44 casper-dcl"
### Describe the bug
'gh auth login' does not start the interactive setup of Authenticate with a GitHub host.
gh   2.1.0-44-g7aa4a6dd    -   casper-dcl  -        The GitHub CLI
(Note that the --version flag is not supported)

### Steps to reproduce the behavior
1. Type this 'gh auth login'
2. View the output 'ubuntu@ip-10-0-0-128:~/IdeaProjects/openemr$ gh auth login
Usage: gh [OPTIONS] COMMAND [A

[2021-11-01 09:35] daobrien opened #4657 "Provide functionality to list/edit available labels"
### Describe the feature or problem you’d like to solve

So far I haven't found a way to list or edit the available labels in a repo using `gh`, which means resorting to the browser. On several occasions I've created an issue and added what I thought was a valid label, only to have the issue rejected with `invalid label`.

Our org uses many, many repos and the labels are not always the same.

###

[2021-11-01 09:53] mislav commented on #1393
You can programmatically fetch the list of files that a PR changes using `gh pr view`:
[code]
Note that this caps the result at 100 files since that's the most results that our GraphQL API returns in a single request. If a PR changes more file than that, the result will be incomplete and your best bet is to use the API directly.

[2021-11-01 10:00] mislav commented on #4647
@bchadwic Good catch! If you have time, please submit a PR that invokes `url.PathEscape(s)` on any user-value that's being inserted into the path component of a URL. Among other escapes, that should ensure that spaces get encoded as `%20`.

[2021-11-01 10:09] mislav commented on #4652
Sorry, but what you have installed as `gh` is not GitHub CLI.

For installing our own `gh` on Ubuntu, you must follow the official instructions from the README. Before that, you should uninstall whatever tool currently provides the `gh` executable on your system.

[2021-11-01 10:09] #4652 closed, assigned to nobody

[2021-11-01 10:33] mislav commented on #4621
@will-camus We parse SSH aliases but do not explicitly support switching between multiple users in gh. Therefore your approach with SSH aliases for work vs personal accounts will not work. Subscribe to #326 for updates.

[2021-11-01 11:33] SickZauerKrautzz89 opened #4658 "helium-wallet"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-01 12:01] seachicken commented on #4618
@vilmibm FWIW, as far as I know, Windows binaries are always given `.exe` when using goreleaser.
It may not support goreleaser https://github.com/cli/cli/issues/4194#issuecomment-955041171, but if it is common, we may want to add the extension.

[2021-11-01 12:33] #4658 closed, assigned to nobody

[2021-11-01 12:41] mislav commented on #4624
I believe this part of the error message received from the server is accurate:
[code]
But this is misleading:
[code]
First of all, it was likely that your token already had the `repo` scope, so there wasn't a need to request `public_repo` specifically. We should teach gh that `repo` implies `public_repo`. Second, we probably should not print the hint about OAuth scopes on HTTP 422 responses, since

[2021-11-01 13:05] mislav commented on #4631
Thanks for reporting! My hunch was that without the `issue` write permissions, the list of labels was silently discarded on the platform.

I've confirmed that by trying out this mutation with only `pull-request` write permission but no `issue`:
[code]
The operation "succeeds" but the labels were never applied to my PR. I will report this on the platform side.

[2021-11-01 13:27] mback2k commented on #4631
Thanks, I guess you may also wanna test it the other way around for labels on issues.￼￼

[2021-11-01 13:27] mislav commented on #4657
We have yet to add a command to list labels, but in the meantime you can do:
[code]

Duplicate of https://github.com/cli/cli/issues/446

[2021-11-01 13:27] #4657 closed, assigned to nobody

[2021-11-01 16:34] michel815 opened #4660 "Cours GitHub"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-01 16:35] #4660 closed, assigned to nobody

[2021-11-01 19:09] vilmibm commented on #4194
after syncing with my team and pondering for the weekend, we've agreed to not use goreleaser.

the reasoning is:

- would like this to be easily adaptable to non-go projects
- haven't been pleased with the way goreleaser releases its own updates (rarely bugfix releases)
- avoid the problems around configuring goreleaser

[2021-11-01 19:15] ryenus commented on #4640
@vilmibm glad to see your clarification! Surely `--body` is more preferable, thanks :-)

[2021-11-01 19:46] mislav commented on #4640
@ryenus Thank you for the suggestion, but I'm not convinced that and `--input-body` or `--body` flag that takes the body string would add value for most users.

Most usages of `gh api` command will not need to supply the body at all. Input fields can be supplied via `--raw-field` and `--field` parameters. It's only in the case where a complex JSON payload needs to be sent (e.g. with nested objects

[2021-11-01 19:46] #4640 closed, assigned to nobody

[2021-11-01 19:46] meiji163 commented on #659
I wrote a [basic extension](https://github.com/meiji163/gh-notify) to view notifs if anyone needs it

[2021-11-02 00:50] moniquejank opened #4662 "Android phone 📱 media TV reeves RWE REEVES elastic search engine optimization ™ 🌼"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-02 12:56] chmouel opened #4665 "Hyperlinks support"
### Describe the feature or problem you’d like to solve

Modern terminal support "hyperlinks" since around 2017 :

https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

It would be nice if gh cli can reuse that feature

### Proposed solution

When doing a `gh issue list` or others we have the issue number as #1234, the user have to copy and paste that link to `gh pr view` it.  If we

[2021-11-02 14:12] mislav commented on #4665
Thanks for the suggestion! We've already explored this and concluded that the overall support for terminal hyperlinks is not good enough to give our users a consistent enough experience https://github.com/cli/cli/pull/3309

We agree that it should be easier to select an item from the list to `view` (or comment on, close, etc.) but I think we'll instead go a different route that we control, that do

[2021-11-02 14:12] #4665 closed, assigned to nobody

[2021-11-02 14:28] zachliu opened #4666 "`gh browse --branch` doesn't open repo home"
### Describe the bug

i just found this strange behavior under `gh 2.2.0`:

`gh browse` goes to the repo home no matter how deep i am in the repo directories, which is expected

however

`gh browse --branch <branch-name>` opens the current directory :thinking:

### Steps to reproduce the behavior

1. Type this `gh browse --branch <branch-name>` in one of your repo's non-root directories
2. The bro

[2021-11-02 14:40] mislav commented on #4666
@zachliu Thanks for reporting. Interesting that you expected that the `--branch` flag should start ignoring the current directory. I would have thought that with the `--branch` flag, exactly the same thing happens as without the branch flag, except that the git tree is opened at the specified branch instead of on the current branch. You would like it to be otherwise?

/cc @bchadwic https://github.

[2021-11-02 14:42] zachliu commented on #4666
wait... no you misunderstood, `--branch` does open at the specified branch but it goes to the current directory
if exact the same thing were to happen as without the branch flag, shouldn't it go to the home page of the specified branch?

[2021-11-02 14:53] chmouel commented on #4665
Sounds good!

[2021-11-02 14:55] mislav commented on #4666
Ah yes, I did misunderstand. Thanks for clearing that up.

Agreed that it's inconsistent that adding `--branch` to the invocation suddenly adds the current directory as well. That was probably an oversight. PRs welcome!

[2021-11-02 17:22] mislav commented on #4590
@vilmibm We've just had an in-sync discussion about whether base repo resolution implies that the `-R/--repo` override flag should also be present, and my argument was that no, as long as a `gh repo <cmd> <repository>` command takes a repository as a positional argument, I do not think that supporting `-R` makes sense. Was I on the mark? /cc @pxrth9 @meiji163

As for confirmation prompts, we're le

[2021-11-02 17:30] #4322 closed, assigned to nobody

[2021-11-02 17:35] mislav commented on #4645
Thanks for the suggestion! Duplicate of https://github.com/cli/cli/issues/1023#issuecomment-801379487

[2021-11-02 17:35] #4645 closed, assigned to nobody

[2021-11-02 17:39] mislav commented on #4641
@dorianmariefr Some people prefer to clone over SSH, but the majority of GitHub users benefit from HTTPS being the default not just in GitHub CLI, but across GitHub products as well. HTTPS authentication is easier to set up than it is to generate SSH keys and is also more widely available in corporate settings where firewalls block ports other than HTTPS. We will not be changing our default at thi

[2021-11-03 00:37] kirillkorneevcb opened #4668 "Add `--json` flag to `gh run list`"
### Describe the feature or problem you’d like to solve

Currently it is not possible to export a list of run workflows to JSON.

### Proposed solution

Support the `--json` and `--jq` flags the same way they are supported in e.g. `gh pr list`

[2021-11-03 01:24] zdzislaw-s opened #4669 "When `TERM` is set to `tmux-256color` GH CLI issues warning"
### Describe the bug

$ gh --version
gh version 2.2.0-16-g8f4e4c11 (2021-10-26)
https://github.com/cli/cli/releases/latest

`gh pr list` prints:
[code]
when `TERM` is set to `tmux-256color`. The warning is **not** present when `TERM` is set to `xterm`.

### Steps to reproduce the behavior

Compare the following:
1) warning message
[code]

2) no warning message:
[code]

[2021-11-03 09:20] mislav commented on #4669
GitHub CLI does not print this message since we don't need a fully-functioning terminal. The only thing we read from the TERM string is whether it's "256color" or not, but we ignore the rest.

If you disable your pager, see if the warning goes away: `GH_PAGER=cat gh pr list`. It's likely that you have `less` as your pager and that it's printing the warning there.

[2021-11-03 09:20] #4669 closed, assigned to nobody

[2021-11-03 10:52] ghost opened #4670 "Justfireup@icloud.com"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-03 12:15] #4670 closed, assigned to nobody

[2021-11-03 14:27] meiji163 commented on #1004
@mijailr here is [an extension](https://github.com/meiji163/gh-search) that does this

[2021-11-03 14:51] Sixeight commented on #4466
How about a new subcommand to create release notes?

[2021-11-03 15:01] areese opened #4672 "Add --json flag to gh prs check"
### Describe the feature or problem you’d like to solve

Currently it is not possible to export a list of pr checks to JSON.

### Proposed solution

Support the --json and --jq flags the same way they are supported in e.g. gh pr list

[2021-11-03 15:15] mislav commented on #4672
Ref. https://github.com/cli/cli/issues/3558 https://github.com/cli/cli/issues/4002

[2021-11-03 15:22] aviflax opened #4673 "Request: `codespace start` and/or `codespace restart`"
### Describe the feature or problem you’d like to solve

I’m just trying out Codespaces for the first time this morning, and in trying to build my mental model of how it works, I’ve started with the CLI, as opposed to the Web GUI or the VS Code integration.

This is mostly going quite well. Kudos!

One thing I find a bit confusing is trying to understand the possible states that a Codespace can be

[2021-11-03 15:29] mislav commented on #4673
Hi, thanks for writing in!

You're right that there is no `gh cs start` command. This is intentional: we tend to only add commands that have a purpose or add value to a specific workflow. I cannot imagine any benefit of a command that just starts a codespace but doesn't do anything with it.

The `stop` command was added because there is an explicit benefit to it: you may want to stop old codespace

[2021-11-03 17:48] yogurtearl opened #4674 "Allow for template customization as part of `repo create`"
When running:
[code]

would be great to have a way to execute a template processor defined by the template repo to ask questions and then customize the template based on those answers before it is forked.

For example:
[code]

[2021-11-03 23:28] 3laoy26 opened #4678 "Should instead `parseFile()` return an empty `filePath` if the input selector argument was empty to begin with? Then this explicit condition wouldn't be needed. I see that as the root of the issue."
Should instead `parseFile()` return an empty `filePath` if the input selector argument was empty to begin with?  Then this explicit condition wouldn't be needed. I see that as the root of the issue.

_Originally posted by @mislav in https://github.com/cli/cli/pull/4676#r742221654_

[2021-11-04 01:36] #4678 closed

[2021-11-04 03:23] reconbot opened #4679 "hub compare parity"
### Describe the feature or problem you’d like to solve

`hub compare` opens the current branch in compare view

### Proposed solution

`gh compare`

### Additional context

I don't currently care what the command should look like but being able to "create or view" a pr for the current branch (similar to how we can browse the files for the current commit) is a very valuable feature that doesn't se

[2021-11-04 11:52] larsxschneider opened #4680 "Idea: automatically set useful git configs after clone"
### Describe the feature or problem you’d like to solve

Git has a number of configs that improve the speed of a local repository. I assume most Git users don't know about them.

If a user runs `gh repo clone <url>` then we could analyze the repo afterwards. E.g. if the working copy has >100k files and if the system supports the [untracked cache feature](https://git-scm.com/docs/git-update-index#_

[2021-11-04 12:54] mislav commented on #4679
Thank you! Duplicate of https://github.com/cli/cli/issues/4433

[2021-11-04 12:54] #4679 closed, assigned to nobody

[2021-11-04 12:57] vtbassmatt commented on #4680
We're in the process of trying to upstream Scalar into core Git. The hope is that someday, this stuff will be automatic (first as an option, maybe eventually as a default). Still, the list process is long and winding, and I think there could be value in front-loading it into `gh`!

/cc @derrickstolee @dscho 👀

[2021-11-04 13:06] mislav commented on #4680
This is a really interesting idea, but note that so far we haven't done anything like this in gh, so adding it would be a radical departure from our current design of basically never doing anything out of the ordinary on behalf of our users.

For instance, how would be define what is a large repository? Second, how would we even detect that `core.untrackedCache` is supported on a filesystem? Runni

[2021-11-04 13:24] j0hnsmith opened #4681 "Please add a macOs ARM64 (aarch64) release please"
### Describe the feature or problem you’d like to solve

Releases don't include a macOs ARM64 (aarch64) build.

### Proposed solution

Please add a macOS ARM64 (aarch64) build to future releases please.

[2021-11-04 13:29] derrickstolee commented on #4680
Yes, `scalar clone` is essentially a wrapper around existing Git features (when not cloning from Azure DevOps) and [sets a number of recommended config options](https://github.com/microsoft/git/blob/cb9a5012e645beca4f6158d17d56076375be8581/contrib/scalar/scalar.c#L147-L247). The big items that I could see being valuable for `gh repo clone` are:

1. Run `git maintenance start` to enable background

[2021-11-04 13:39] mislav commented on #4681
We hear you! Duplicate of https://github.com/cli/cli/issues/2426

[2021-11-04 13:39] #4681 closed, assigned to nobody

[2021-11-04 13:49] dscho commented on #4680
Maybe we need to introduce an option to ask Git what capabilities it has. In Git for Windows, we started that via adding a `feature: fsmonitor--daemon` line to the output of `git version --build-options`. But existing Git versions will never have that, therefore this would probably be a quite tricky part of this ticket: how to determine what features are available on this platform, with this `git`

[2021-11-04 14:34] larsxschneider commented on #4680
As @derrickstolee mentioned... maybe we could enable it unconditionally.

What if we hook into all `gh` commands and check if a `gh-cli.optimized` global Git config is set. If this value is _not_ set or set to `false`, then we could ask the user if they want to optimize their local Git. If they answer `yes` then we do all things mentioned here in this thread (background maintenance, check and set

[2021-11-04 15:00] #4666 closed, assigned to nobody

[2021-11-04 15:20] mislav commented on #4680
If we're talking about adding a config option that only affects gh, I would suggest reading from `gh config` rather than `git config`. There should be a clear delineation between these tools and their configs.

Can we provide enough context to a regular user about what "optimizing git" means? Otherwise, I fear this is going to be like an old Windows PC asking you to defragment your hard drive. I s

[2021-11-04 17:52] #1399 closed, assigned to pxrth9

[2021-11-04 20:26] dijitali commented on #4668
I think this was requested in https://github.com/cli/cli/issues/3477 and is being worked on in https://github.com/cli/cli/pull/3869.

[2021-11-04 23:31] faktgv2021 opened #4684 "Layerz"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-11-05 01:20] CIPop commented on #2064
Still getting this today:

`Program 'gh.exe' failed to run: Operation did not complete successfully because the file contains a virus or potentially unwanted software`

[2021-11-05 01:42] leandrobrunner commented on #2064
I have the same problem in Windows 11 with updated Defender definitions.

[2021-11-05 16:32] Steffen911 opened #4687 "prompt for parameter in gh workflow run"
### Describe the feature or problem you’d like to solve

I want to dispatch a job from my GitHub CLI that accepts certain parameters. I can pass them via JSON or -f, but according to the documentation there is a way to pass those interactively.
Instead of passing all parameters explicitly like
[code]
I would love something like
[code]

### Proposed solution

This will simplify dispatches from the

[2021-11-05 19:32] brwilkinson opened #4688 "Secret created in Upstream Repo instead of Current Repo"
# CLI Feedback

When creating secrets, they were unexpectantly created in an Upstream repo.

[code]

So this means that when creating a secret I have to do the following ?

[code]

I would prefer it the secret was created in the Repo that I am currently in?!

[2021-11-05 21:03] privatenumber commented on #1968
Or pass in a different branch name to checkout the PR to:

[code]

[2021-11-06 01:58] dotysan opened #4690 "minimum required scopes too restrictive"
### Describe the feature or problem you’d like to solve

I'm on a work computer, but want to create a personal gist. I don't need to authorize my work computer to have access to all my personal repos in order to just create a gist with my personal account.

I've created a token with 'gist' scope. When I run `gh auth login` and give it the new token with 'read:org' and 'gist' scopes, it still compl

[2021-11-06 03:06] ggb667 commented on #286
I didn't know that you could just use the PAT as the password and it would work.  The prompt should say Password or Personal Access Token to make it clear.

[2021-11-06 06:20] ghost opened #4691 "Performing bulk issue transfers with gh api appears to fail after about 400 consecutive calls"
### Describe the bug

gh version 2.2.0 (2021-10-25)

I'm attempting to bulk move about 5,000 issues from one repo to another.  The command I'm using is:

[code]

This command finds all the issues with a certain label, then feeds them to `gh` again via `xargs` so that I can issue the transfer commands.

After successfully running about 400 consecutive `gh issue transfer` commands, all further calls

[2021-11-06 06:29] ghost commented on #4691
It really feels like some sort of throttling.  If I wait a minute or two, I can run the script again and get 20 calls, then errors.  Wait a few more minutes, get precisely 20 calls, then errors.

[2021-11-06 17:11] gregorymfoster commented on #2693
I work at a company that creates the most sophisticated tool (to my knowledge) for stacking diffs in Github. We (ex Facebook and Airbnb eng) created it out of appreciation, but dissatisfaction with existing open-source options.

it:
* Automatically recursively rebases your branches
* Stores all metadata in git refs
* Automatically removes and rebases branches after they have been merged
* Allows f

[2021-11-06 17:45] ghost commented on #4691
Well, I waited 12 hours or so and tried again, and this time I am able to get through hundreds of calls with occasional errors as above.  Sounds like I ran into infrastructure issues?  I'm thinking I should close this unless those errors are useful?

[2021-11-06 18:47] unitof opened #4692 "Zsh autocompletion menu sometimes includes stray "co""
### Describe the bug

Some Zsh ambiguous autocompletions (when Zsh offers a menu of more than one possible autocompletion) appears to have an errant `co` on the final line.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/2448782/140620552-e000aa6d-46c1-4ce3-ad0e-ec9ebec53c47.png">

### Steps to reproduce the behavior

1. In Zsh terminal, type `gh `<kbd>Tab</kbd>.
2. Th

[2021-11-06 19:36] moniquejank opened #4693 "Android phone media TV 📺 REEVES RWE ❤️ #545 #544 #171 #88202 #85541 #17132 #480 #61 #93 #09 #1 #57548 #90806 #85541 #90809 #88202 #85541 #90809 #8804 #8814 #8787 #5 #2 #3 #4 #5 #22697 #5 #65 #56 #50 #14 #2"
### Describe the bug
#545
A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redac

[2021-11-06 19:40] moniquejank opened #4694 "Android phone 📱 media TV 📺 REEVES RWE ❤️ ✨ 🦄 🔞 🐛 🌟 🐝 🐌 🐞 🍀 🐝 🌼 ❣️ ❣️ ❣️ Amor 💯 #545 #544 #171 #88202 #85541 #17132 #480 #61 #93 #09 #1 #57548 #90806 #85541 #90809 #88202 #85541 #90809 #8804 #8814 #8787 #5 #2 #3 #4 #5 #22697 #5 #65 #56 #50 #14 #2 #3 #4#6"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-07 15:33] edenworky opened #4697 "`gh repo delete` doesn't exist despite being described in the docs"
### Describe the bug

I'm running `gh version 2.1.0 (2021-10-14)`, what the title says. Despite being [in the docs](https://cli.github.com/manual/gh_repo_delete), and having performed reauthorization as specific, the subcommand doesn't appear to exist.

### Steps to reproduce the behavior
* `gh auth refresh -s delete_repo`
* `gh repo delete some-name`

### Expected vs actual behavior

I expected m

[2021-11-07 15:36] meiji163 commented on #4697
`gh repo delete` was added in [version 2.2.0](https://github.com/cli/cli/releases/tag/v2.2.0).

[2021-11-07 15:37] #4697 closed, assigned to nobody

[2021-11-07 20:18] joshmgross opened #4698 "Support managing user Codespaces secrets"
### Describe the feature or problem you’d like to solve

Codespaces supports secrets that can be set on a user's account and shared with multiple repositories, similar to Actions organization secrets.

https://docs.github.com/en/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces

There is currently only API support for user-secrets, which requires the `user` scope
h

[2021-11-07 21:20] branchv commented on #4692
do you happen to have a `co` alias defined? `gh alias list` would tell you

[2021-11-08 04:14] hwittenborn opened #4701 "Login: "ATTENTION: default value of option mesa_glthread overriden by environment.""
I just got GitHub CLI installed on my system, but I was greeted with the following message while signing in:

![image](https://user-images.githubusercontent.com/74838472/140683019-17da4fd5-aff5-4258-b2eb-1f87bfd7e823.png)

I don't know what in my environment (presumably environment variables) would be causing that though, nor do I know why it's being shown four times in a row, which is what's lead

[2021-11-08 09:15] mislav commented on #4701
Thanks for reporting! Neither gh nor any of its dependencies ever print this message anywhere, but because at this part of the flow gh opens your web browser using `xdg-open`, I suspect this is coming from that utility. Try `xdg-open https://github.com` to see if you get the same warning.

[2021-11-08 09:15] #4701 closed, assigned to nobody

[2021-11-08 10:22] mislav commented on #4690
Hi, thank you for describing your use-case. I understand that in this case you want to use a more restricted token, but I do not think this is reason enough for us to lift the general restrictions on the token pasted to `gh auth login`.

The `auth login` command is seen as a generic way to authorize _most_ GitHub CLI operations. If we allowed you to paste a token without `repo` or `read:org` scope

[2021-11-08 10:27] mislav commented on #4692
`co` is a default alias for `gh pr checkout` we generate on first setup of `gh`. Aliases don't have a description, which would explain why the `co` line stands out in the completion menu. We should probably add a description; any ideas about what one could be? https://github.com/cli/cli/blob/3a4d947603603f5dea742442d32bc131e9786d25/cmd/gh/main.go#L168-L174

[2021-11-08 11:22] toku-sa-n opened #4703 "`gh pr create` does not work if the branch name is a number"
### Describe the bug

`gh pr create` does not work if the current branch name is a number.

### Steps to reproduce the behavior

[code]

It fails with the error message:
[code]
However, the error message is incorrect. There is no such a PR (the branch name is wrong).
Also, if there is no PR with the number, `gh` causes another error message (the branch name is 2021):
[code]
### Expected vs actual

[2021-11-08 11:23] toku-sa-n commented on #4703
Sorry, it turned out that this is a duplicate of #3885 .

[2021-11-08 11:23] #4703 closed, assigned to nobody

[2021-11-08 12:56] mislav commented on #4174
Sorry for the late response! I believe @cuonglm was right that this was fixed with #4188 and released as v2.1.0. I cannot reproduce with gh 2.2.0 and the above Dockerfile.

[2021-11-08 12:56] #4174 closed, assigned to nobody

[2021-11-08 12:57] mislav commented on #4622
Closing due to lack of info.

[2021-11-08 12:57] #4622 closed, assigned to nobody

[2021-11-08 13:23] mislav commented on #4691
Thanks for sharing, and I'm sorry for the nuisance. This looks like a platform problem, and since you're sure that you're not hitting the rate limit, I would advise that you [contact Support](https://support.github.com/contact?tags=dotcom-direct), tell them that you're using the `transferIssue` GraphQL mutation, and share with them the request IDs that appear in the error messages. They will be ab

[2021-11-08 13:23] #4691 closed, assigned to nobody

[2021-11-08 13:28] mislav commented on #4443
Will close as duplicate of #3292 and copy this information there. 🙇

[2021-11-08 13:28] #4443 closed, assigned to nobody

[2021-11-08 13:29] mislav commented on #3292
Copying over feedback from a related issue where @sambostock writes:

[2021-11-08 13:34] mislav commented on #4456
Thanks; I was able to reproduce with this:
[code]

This is a known issue in Cobra framework that we use: https://github.com/spf13/cobra/issues/1508. There is a proposed fix. Unfortunately, you cannot use `TAB: menu-complete` in your bash with gh until Cobra fixes this.

[2021-11-08 13:46] dsifford commented on #4456
Thanks for looking into this @mislav... 🤞 that the cobra framework addresses this.

[2021-11-08 16:40] vilmibm commented on #4194
The actions is up for review and lives at https://github.com/cli/gh-extension-precompile

[2021-11-08 17:22] Ameausoone opened #4706 "A gh command to copy a file from a repo without being in a local repo context"
### Describe the feature or problem you’d like to solve

It would be handy to be able to copy a file from a repo, without checkout repo locally.

### Proposed solution

Like this :
[code]

### Additional context

Add possibility to choose branch, tag, or commitId.

[2021-11-08 17:22] Ameausoone commented on #4706
(Awesome job BTW)

[2021-11-08 17:46] heaths commented on #4194
Looks great! Any thoughts whether to take my PR #4280 for extensions that already committed binaries in the interim? This new feature you built will be great going forward, but hate to punish users having to download several commits of large binaries.

[2021-11-08 18:03] mislav commented on #4706
Thank you for the request! I do not believe this feature would be core material, as it's too specific. It's also trivial to do yourself over GitHub API:

[code]

Here, I've made you an extension for this: https://github.com/mislav/gh-cp

[2021-11-08 18:03] #4706 closed, assigned to nobody

[2021-11-08 18:09] mislav commented on #4371
Was unable to reproduce; will close this as an authentication/configuration error. Thanks for all the info!

[2021-11-08 18:09] #4371 closed, assigned to nobody

[2021-11-08 18:42] mislav commented on #838
There is now an API for fetching pull request templates:
[code]
This feature is now unblocked. Here is where we detect issue template API support: https://github.com/cli/cli/blob/3a4d947603603f5dea742442d32bc131e9786d25/pkg/cmd/pr/shared/templates.go#L138-L138

We could take a similar approach to detect API support for pull request templates too.

[2021-11-08 19:57] unitof commented on #4692
Indeed that's it! I do have `co` aliases and had completely forgotten. But adding descriptions to aliases sounds like a great PR I could handle!

[2021-11-08 20:01] Ameausoone commented on #4706
Whooo ! Thx @mislav, I discover gh extension !

[2021-11-08 23:19] branchv commented on #4692
for reference, [`fish`](https://github.com/fish-shell/fish-shell) describes git aliases as [`Alias for $alias`](https://github.com/fish-shell/fish-shell/blob/4cad079aeba6742a63a793cda438fe46041e18dc/share/completions/git.fish#L679):

[code]

[2021-11-09 04:27] jojorgeluisrdz198 commented on #4688
Activar

[2021-11-09 04:27] jojorgeluisrdz198 commented on #4688
[![PR Automation](https://github.com/cli/cli/actions/workflows/prauto.yml/badge.svg?branch=1482-gist-create-display-filename&event=discussion)](https://github.com/cli/cli/actions/workflows/prauto.yml)

[2021-11-09 08:44] camh- commented on #326
What about using `git credential fill` to get the creds and delegate it all to git-credential-helpers? If `gh` did this, it would work perfectly for my use case (two GitHub accounts with git already set up to use the right creds for various repos depending on repo org/user). It also means that `gh` does not need to store tokens in plaintext on the filesystem.

[2021-11-09 11:00] Jacobtarango1996 opened #4708 "Ja"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-11-09 12:27] #4708 closed, assigned to nobody

[2021-11-09 12:43] mislav commented on #2064
@leandrobrunner Thank you for reporting! Could you tell us more about where you are downloading `gh.exe` from? @CIPop: which version of Windows are you running?

[2021-11-09 15:30] #4668 closed, assigned to nobody

[2021-11-09 19:44] mislav opened #4709 "Add WSL support to `codespace code` command"
Opening URLs and programs from `gh` should ideally use `wslview` under WSL instead of `xdg-open`. In the past, we've added WSL support for URLs in https://github.com/cli/cli/pull/1708 (although it [now lives here](https://github.com/cli/browser/blob/38f8067bcf5aa9757803ff65d054299f244c0f87/browser_linux.go#L9)). However, the `gh cs code` command does not use `github.com/cli/browser` package, but i

[2021-11-09 20:44] mislav commented on #4688
@brwilkinson Sorry that this wasn't more clear. GitHub CLI has a concept of a "base repository" where most gh operations should be targeted to, and by default the base repository is the parent of the fork. This isn't always desirable and the way to override it is using `-R`, like you've discovered, but this can be tedious.

Like you pointed out, we should just default to the `origin` remote when s

[2021-11-09 21:07] brwilkinson commented on #4688
Thanks @mislav

Yes that makes the most sense, I haven't tested it very much, however I may not have access to upstream on a fork that I am working on anyway, I guess the secret creation may fail in that case?

Anyway, if this is a duplicate feel free to close as such. In the meantime, I will continue to use the workaround.

[2021-11-10 03:27] Jack-Works commented on #918
Why not support EDITOR on Windows?

[2021-11-10 08:22] BernhardRode commented on #2166
Solved this running in our script by making thie small hack

[code]

[2021-11-10 08:37] hpsaturn commented on #3886
I have the same trouble when I was creating a new issue, but after try the recovery it did works:

![screenshot20211110_093448](https://user-images.githubusercontent.com/423856/141078514-808c8c27-f83e-45fb-b43d-dac5337e026b.jpg)

But I agree, it is a issue..

[2021-11-10 10:53] Dentrax opened #4711 "consider add ability to workflow jobs selection"
# CLI Feedback

Like the `$ gh run view` command, but for the `JOBS` selection after we select the target _workflow run_.

## What have you loved?

![Screen Shot 2021-11-10 at 13 40 41](https://user-images.githubusercontent.com/16493751/141098552-9c09768d-0276-435d-9d0c-874d9a797d99.png)

**Ability to job selection:**
![Screen Shot 2021-11-10 at 13 40 26](https://user-images.githubusercontent.com/

[2021-11-10 11:13] Dentrax opened #4712 "consider add ability to follow job logs (trailing)"
# CLI Feedback

## What have you loved?

Like the `--follow` flag for the `journalctl` but for the `gh job view`. Continuously print new logs as they are appended to the action logs.

## What was confusing or gave you pause?

I'm using the following command, but we have to wait to job has done to print logs:
[code]

Which is why we need to check the logs on GitHub Actions GUI instead of the CLI.

[2021-11-10 17:35] #4694 closed

[2021-11-10 17:35] #4693 closed

[2021-11-10 17:35] #4684 closed

[2021-11-10 17:36] #4662 closed

[2021-11-10 17:36] #4651 closed

[2021-11-10 20:27] CIPop commented on #2064
@mislav I've re-downloaded today from https://cli.github.com/ and, after updates, etc. it works now on Win11 21H2 (22000.318).

[code]

[2021-11-11 00:41] skedwards88 commented on #4567
🎉 This is exciting! Should the docs also get updated?

- [Create a repo](https://docs.github.com/en/get-started/quickstart/create-a-repo)
- [Adding an existing project to GitHub using the command line](https://docs.github.com/en/github/importing-your-projects-to-github/importing-source-code-to-github/adding-an-existing-project-to-github-using-the-command-line)
- [Creating GitHub CLI extensions](ht

[2021-11-11 00:49] znull commented on #4486
One option here would be to have a command, say `gh cs ssh --config`, simply emit a hunk of `ssh_config` syntax to stdout. Users could directly incorporate this into their `~/.ssh/config`, or save it in a separate file (overwriting it with updated information when necessary), and pull that into their main `~/.ssh/config` with an `include` directive.

Something like:
[code]

with a `host` stanza fo

[2021-11-11 03:11] #2895 closed, assigned to nobody

[2021-11-11 03:23] adonovan opened #4713 "gh cs: add ssh --config flag"
From https://github.com/cli/cli/issues/4486#issuecomment-965893571:

There are many ways one could approach the underlying problem; we shouldn't overanchor on the one proposed here.

[2021-11-11 03:24] adonovan commented on #4486
We definitely need some generic solution for running ssh as a foundation, although there are many ways one could approach the problem. I'll move this note into https://github.com/cli/cli/issues/4713 so it doesn't get lost.

[2021-11-11 05:33] Rdna123 commented on #3526
Git flags don't work when using PowerShell 7.1.5 ei `gh repo clone cli/cli -- --depth 2` produces error `unknown flag: --depth
Separate git clone flags with '--'.` but using in cmd.exe works

[2021-11-11 11:27] mislav commented on #4713
Thanks for saving this proposal as its own issue. I can see the value of being able to save such piece of ssh config, but my worry is that even though `znull-github-github-p79g6r727w7p` is now explicitly configured, interacting with it won't actually work unless a `gh cs ssh` command is running, since port 23456 won't be forwarded. And then the next time `gh cs ssh` runs for that codespace, a new

[2021-11-11 14:50] mislav commented on #2064
@leandrobrunner Do you still have an issue?

[2021-11-11 18:35] mislav commented on #4567
@skedwards88 That's a good call! Would you be able to make a PR with the updates if we give you the instructions?

@meiji163 @pxrth9: Could you go over the documentation pages linked above ☝️ and summarize which `gh repo create` flow lines need to be changed and in which way? For example, a separate `git push` will no longer be necessary with the `--push` flag. Also, from what I understand, `gh re

[2021-11-12 08:42] crguezl opened #4715 "Excuting "gh browse gh browse -c -R owner/repo" inside another repo workspace uses the last commit of the workspace repo"
### Describe the bug

When executing `gh  browse gh browse -c -R owner/repo` inside the work tree of another repo uses the last commit of the workspace repo:

### Example

[code]

That is the last commit  of the current repo:

[code]

Of course if we omit the `-n` option we get the 404:

<img width="1080" alt="Captura de pantalla 2021-11-12 a las 8 38 28" src="https://user-images.githubusercontent

[2021-11-12 13:03] josebalius commented on #4713
`gh cs ssh --server-port=1234` does something similar to this, it opens the local SSH server on that specified port and outputs the connection string (not a profile).

I'm unassigning this from myself and will open a duplicate issue to track this in our internal repo to see who will work on it.

[2021-11-12 13:46] leandrobrunner commented on #2064
Now it's working perfectly reinstalling with the MSI from https://cli.github.com/

[2021-11-12 17:11] znull commented on #4713
One way around this would be to invert the relationship between `gh cs ssh` and `ssh`. Instead of gh invoking ssh, ssh could invoke some sort of `gh cs ssh --stdio` command as an [openssh ProxyCommand](https://man.openbsd.org/ssh_config#ProxyCommand).

I made a little adapter script to emulate this behavior to demonstrate that it works:
[code]

To use this, save the above script on your `$PATH` as

[2021-11-12 17:16] znull commented on #4713
A true `gh cs ssh --stdio` adapter implementation would eliminate the need for the shim. It would:
1. set up the proxy tunnel to the codespace as usual, but
2. **not** listen on a local tcp port. Instead it would just relay data back and forth to stdin/out
3. **not** spawn any ssh subprocess - in this mode ssh will be spawning gh instead.

[2021-11-12 17:17] znull commented on #4713
See https://github.com/github/codespaces/issues/3433 for some other ideas on codespaces integration with native ssh implementations (including non-openssh ones) and other concerns.

[2021-11-12 18:12] skedwards88 commented on #4567
Yes. I opened a docs-content issue here so we can get the work triaged on the docs side: https://github.com/github/docs-content/issues/5566. @mislav can you update that issue with the ship date?

@meiji163 @pxrth9 Thanks for your help identifying the changes that should be made! Either a comment here or a rough draft of a docs-internal PR (if that is easier) will work.

[2021-11-12 20:15] AndrewMoyse opened #4716 "Can't fork an Internal repo into an Org"
### Describe the bug

gh version 2.2.0

When trying to fork an **Internal** repo on our GHE server to an Org it fails with the following error:
`failed to fork: HTTP 403: Cannot fork an internal repo to an organization. (...)`

I verified that both Orgs have the "Allow forking of private and internal repositories" box checked in the Orgs Member privileges section and the source repo has the "Allow

[2021-11-12 21:31] pxrth9 commented on #4567
@meiji163 and I have created a rough draft of what the updated docs should look like. https://docs.google.com/document/d/1IJgY5ziLMUKl027pPo2SUQo5Whlf0vo-sVyjwBTom6k/edit?usp=sharing
@skedwards88 @mislav.
Any thoughts?

[2021-11-12 23:24] znull commented on #4713
Here's what I'm doing currently to generate ssh config:
[code]

This results in a config like:
[code]

We could probably be smarter with the naming, but this at least gives me a cs.* tab-completion namespace that works reasonably well and disambiguates which codespace I'm connecting to.

[2021-11-13 00:11] skedwards88 commented on #4567
🎉 This is great! My workload is a bit over-full until Wednesday, but I will aim to open a PR in docs-internal after then. (You are also welcome to open a PR in [docs-internal](https://github.com/github/docs-internal) or the public [docs](https://github.com/github/docs) repo.)

[2021-11-13 15:43] marwan-at-work opened #4722 "Make CS APIs Configurable"
The `gh cs` command is hard coded to talk to the GitHub and Visual Studio APIs. We should make those APIs configurable so that the CLI can point to local and nonproduction environments.

[2021-11-15 12:37] mislav commented on #2064
Thanks; will close as a non-issue then. 👍

[2021-11-15 12:38] #2064 closed, assigned to nobody

[2021-11-15 17:21] matthew-limbinar commented on #1393
@mislav said:

Is there a way to work around the 100 file limitation? Perhaps a way to get count and then specify a start/stop in a loop?

[2021-11-15 18:29] mislav commented on #1393
@matthew-limbinar

[code]

[2021-11-16 09:19] yimaiyan opened #4730 "errors: Installing gh on Ubuntu"
# CLI Feedback
By following the guidance, input

[code]

 error: paste subprocess was killed by signal (Broken pipe)

[2021-11-16 12:24] mislav commented on #4730
Sorry, but the error you encountered was with pasting the text, not with the commands actually entered into your terminal. I don't know what exactly went wrong on your end, but I don't think it was anything related to gh specifically.

You can try pasting the lines one by one. Or, you can try saving the text as a script file and running it with `bash <file>`.

[2021-11-16 12:24] #4730 closed, assigned to nobody

[2021-11-16 14:31] josebalius opened #4731 "Drop use of forked crypto pkg"
### Describe the feature or problem you’d like to solve

Now that https://github.com/golang/go/issues/37278 has landed, we should look to see if it fixes the RSA-2 issues with codespaces and we can stop using a custom crypto fork and remove the replacement in go.mod

### Proposed solution

Verify that using the stdlib crypto pkg still works with codespaces and remove usage/replacement of crypto fo

[2021-11-16 15:24] geoffreywiseman opened #4734 "Unclear Error Handling for Status-Only API Response"
### Describe the bug

I've hit an issue where a `gh api` call returns a 409 and no body (or a blank body), and `gh api` doesn't seem to handle that gracefully. Reminds me of #1474, except that the body is empty. It's not a big deal, but it does make it a little harder to understand what's going on.

[code]

### Steps to reproduce the behavior

1. Go to a local repo whose owner has all repos enable

[2021-11-16 15:44] mislav commented on #4734
Thank you for reporting!

Interesting that the JSON response here is of an entirely different format than elsewhere in the REST API:

[code]

The error-parsing code is here, if anyone wants to add support for this before our team gets to it: https://github.com/cli/cli/blob/dae77fd398b6237d236b2cd004ad9659face4a1d/api/client.go#L336-L340

[2021-11-16 16:00] ezzra commented on #326
I want to share my little approach that I build after reading this issue here some time ago, it does just link the `hosts.yml` config to user-specific `hosts-username.yml` files (which you need to create first), depending on a git repo setting (that you have to config).

However, it makes it possible to use use specific gh for specific Github users that you setup per local repo.

https://gist.gith

[2021-11-16 21:39] mgabeler-lee-6rs opened #4739 "Can't create PRs from screen sessions"
### Describe the bug

`gh pr create --draft` exits with EOF on the "where should we push" prompt when run on Linux with `TERM=screen` or `screen.xterm-256color`, but not with `xterm-256color`

`gh --version`: `gh version 2.2.0 (2021-10-25)`

### Steps to reproduce the behavior

1. Install `screen`
2. Start a session from `gnome-terminal` so the terminal inside the screen has `TERM=screen.xterm-256

[2021-11-16 21:56] motionsuggests opened #4740 "Issues logging into GH enterprise with token and hostname"
### Describe the bug
I'm having issues logging into my GH enterprise. I would like to use the gh cli with my CircleCI hosted instance. I trying to find an answer for this https://github.com/CircleCI-Public/github-cli-orb/pull/11.

[code]

### Steps to reproduce the behavior

1. running  `gh auth login -h $GH_HOST --with-token $GH_TOKEN` I have confirmed that both `GH_HOST` and `GH_TOKEN` are set.

[2021-11-17 02:18] dotysan commented on #4690
So adjusting the GH_TOKEN on the fly is indeed cleaner and easier than messing with hosts.yml and GH_CONFIG_DIR!

`GH_TOKEN="$GH_DOTYSAN" gh gist clone 7428c144f93652e3e12f0461104c85d9`

Boom!

[2021-11-17 02:22] dotysan commented on #4690
Hrmm...I'm just now noticing that my original `gh gist create` didn't set the file permissions properly. New bug?

[2021-11-17 04:17] x3325230 opened #4742 "macos"

[2021-11-17 04:49] #4742 closed, assigned to nobody

[2021-11-17 06:26] Uzume commented on #1389
It seems like the origin of this problem might finally be solved and this can be rectified here after this gets merged:
- cli/shurcooL-graphql#3

[2021-11-17 11:11] ShockwaveNN opened #4746 "`gh browse` can't handle gist repos"
### Describe the bug

Not sure if this is a feature request, or a bug, but
when I'm in the directory containing gist, cloned using `git` I've expected `gh browse` will open this gist page

### Steps to reproduce the behavior

1. `cd /tmp`
2. `git clone https://gist.github.com/932cabc246d7ccc1463549d1e0968e88.git` - my sample public gist
3. `cd 932cabc246d7ccc1463549d1e0968e88 && gh browse`

### Ex

[2021-11-17 11:50] mislav commented on #4690
@dotysan Generally I would encourage you to file bugs in a separate issue, but in this case I do not believe there is a bug. We modeled CLI gist support after the gist web interface: you can add files, you can add their contents, that's it. You cannot choose the exact file permissions for gist files added on the web, thus we will not add the ability to do so over the CLI either. If you need to che

[2021-11-17 13:40] mislav commented on #4739
Hi, thanks for reporting! I cannot reproduce. I have gh 2.2 and screen on Ubuntu and even though TERM is `screen.xterm-256color`, everything works fine with select menus. I don't see how the value of TERM could be breaking gh anyway: we don't pay attention to its value apart from scanning whether "256color" appears in it. Do you think something else on your system could be breaking your terminal?

[2021-11-17 16:51] darcyclarke opened #4749 "Isolate test suite from environment variables"
### Summary
A user who runs this repository's test suite could also reasonably have variables like `BROWSER` or `GLAMOUR_STYLE` set in their environment. Some of our tests fail because those outside environment variables bleed into tests.

### Actions
- [ ] incrementally isolate test suite

### Links & References
- https://github.com/cli/cli/pull/3044

[2021-11-17 17:17] benmoss commented on #383
If anyone else ends up here like I did because you want to switch from one remote to another as the implicit default (no `-R`), you can edit your `.git/config` file and move `gh-resolved = base` to the remote that you want to be the default. I couldn't figure out any way to do this via the CLI.

https://github.com/cli/cli/issues/1864

[2021-11-17 17:19] mgabeler-lee-6rs commented on #4739
I could reproduce it in the one screen session (even if I reattached it to a new terminal), and that session hadn't done anything "weird" AFAIK that might've put it in a bad state. But since then I too haven't been able to make it happen again.

If I can't make this happen again today, I'll chalk this up to a transient issue and close this out.

[2021-11-17 18:21] syspect-tech commented on #374
Says who? Kali is perfectly fine as a desktop operating system.  It's a Debian Linux.

[2021-11-17 18:26] mislav commented on #4740
From the help page:
[code]
You can see that `--with-token` doesn't accept a value as an argument. Instead, it reads the value from stdin. We don't accept the token as an argument because that is generally not secure (some systems log all processes and the arguments they were started with).

It's generally really easy to pass an environment variable as standard input. You can `echo` it and pipe the

[2021-11-17 18:26] #4740 closed, assigned to nobody

[2021-11-17 18:33] motionsuggests commented on #4740
@mislav  Thank you! This really helped me understand whats going on. 😄

[2021-11-17 18:33] simvux commented on #374
Not sure why you're replying to a over one year old comment.

But Kali can actually be properly installed now. Kali used to discourage it since it was by default very unsafe to be used as a desktop distro. However they've since reworked the installation and problems like by default using the root user are no longer true.

Here's a snippet from their view on using Kali as a desktop distro from thei

[2021-11-17 19:16] #893 closed

[2021-11-17 19:16] #2077 closed, assigned to abdullahceylan

[2021-11-17 19:16] #2166 closed, assigned to nobody

[2021-11-17 19:16] #4567 closed, assigned to meiji163, pxrth9

[2021-11-17 20:34] bk2204 opened #4751 "gh cs list: add a way to extract the currently bound SSH port"
### Describe the feature or problem you’d like to solve

I want to set up my Codespace using Ansible.  (The default dotfiles setup does not meet my needs.)  However, Ansible is designed to take a hostname and port, so I cannot use `gh cs ssh`.  (`gh cs ssh` also prints unwanted status messages to stderr, which would interfere with my playbook even if I could use it.)

Right now, I have to mount it

[2021-11-17 21:11] danielkza commented on #2749
Why not at least split the documents with newlines, so it's a more manageable format for existing JSON-parsing tools?

[2021-11-17 21:23] #4590 closed, assigned to meiji163

[2021-11-17 21:25] #4589 closed, assigned to meiji163

[2021-11-17 21:58] #2242 closed, assigned to nobody

[2021-11-17 22:31] meiji163 commented on #2026
Fixed in https://github.com/cli/cli/pull/4578.
Run `gh repo create`, select "Push an existing local repository to GitHub" and follow the prompts.

Or you can specify the path to your local repo like this:
[code]

[2021-11-17 22:31] #2026 closed, assigned to nobody

[2021-11-17 23:21] vilmibm opened #4754 "Frecency Selections"
# Frecency Selections

This tracking issue covers a major UI initiative to make it easier for users to interact with issues and pull requests.

## Problem statement

When working with issues via `gh`, users must always specify exactly what issue number they are working with. For example:

[code]

First, a user needs to remember what issue number they are even trying to get to; this requires manual

[2021-11-17 23:42] samcoe commented on #4754
This looks great thanks for writing it up @vilmibm. One issue I have often run into with frequency based solutions is that often times I need an issue/pr very frequently for a short period of time and then the issue gets closed or pr gets merged, so I no longer wish to see it. I feel like this is probably a very common workflow. Have you thought about how me might address that usage pattern? My in

[2021-11-18 00:22] meiji163 commented on #4754
@samcoe

I think it's a good feature to let the user clear the data. Also, for issues & prs we can show open ones by default.

Besides that, the frecency score in #4753 decays (roughly) proportionally to `log( time since last viewed )`.
I would expect the score to decay more quickly with time, but I'm not sure what would be better for UX.

I think it could make sense for the frequency counters to

[2021-11-18 10:04] mislav commented on #4751
Thanks for the explanation! Could you take a look at https://github.com/cli/cli/issues/4713 and see if the functionality proposed there would fit your needs?

[2021-11-18 10:31] mislav commented on #2749
@danielkza Existing JSON parser tools can either parse multiple JSON documents or they can not. The presence of a newline between the documents shouldn't be relevant or helpful to a parser.

[2021-11-18 10:51] danielkza commented on #2749
@mislav you can easily turn a parser that cannot parse multiple document into one that can by breaking lines, but you can't if there is no separator.

I would argue that "JSON lines" is a more easily handled format than "concatenated json documents", specially for shell and ad-hoc scripts.

[2021-11-18 11:02] mislav commented on #2749
@danielkza That's a good point about newlines. However, to better support JSON tools that can't part multiple documents I would rather put our efforts in https://github.com/cli/cli/issues/1268 than try to modify the current multi-document output to be easier for single-document parsers.

[2021-11-18 11:55] #4038 closed, assigned to nobody

[2021-11-18 11:56] mislav commented on #4698
Thanks for implementing this!! 🎉

[2021-11-18 11:56] #4698 closed, assigned to nobody

[2021-11-18 13:10] #4647 closed, assigned to nobody

[2021-11-18 13:24] #4558 closed, assigned to nobody

[2021-11-18 14:14] #4365 closed, assigned to nobody

[2021-11-18 16:06] vilmibm commented on #4754
For issues and PRs I had the unspoken assumption that we'd only show open things. Sounds like I should just add that to the tracking issue specifically?

Regarding cool downs, I'm up for suggestions -- I also feel like we don't have to nail it perfectly the first time. It's ok to adjust the formula over time.

[2021-11-18 20:00] HardBlock729 opened #4759 "Error creating repo"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

gh repo create ServiceName --confirm --internal --description "A project description from us" --enable-issues=false --enable-wiki=false

### Expected vs actual behavior

Expected a success message but I got this:
GraphQL error: Something went wro

[2021-11-18 22:10] bk2204 commented on #4751
The proposed `--config` flag wouldn't meet my needs, because I don't want to modify my `~/.ssh/config`.  I'm looking for something that can be used in a non-interactive way without modifying my config.

[2021-11-18 22:25] pathcl commented on #4575
@tom-wright-genieai hi! by any chance do you have the code somewhere? Im really interested in your approach but didn’t understand the Jenkins part. Were you able to retrieve logs in realtime from a github workflow? Ive been trying to pipe those logs somewhere but haven’t found a way. I only need an equivalent of: ./my-github-action | tail -f

[2021-11-19 01:31] bchadwic commented on #4746
I think it's because `gh browse` relies on `git.Remotes()`, which verifies remote is GitHub by looking for a git config value like this: `remote.origin.gh-resolved=base`

This value is only set when cloning repositories, **not** gists. (someone please correct me if I'm wrong)

I do agree with @ShockwaveNN , I think it's a little confusing to see an error when the remote is in fact GitHub.

Kind of

[2021-11-19 09:57] fidencio opened #4762 "Allow `gh repo clone` to add the upstream repo as a normal https clone"
### Describe the feature or problem you’d like to solve

When doing `gh repo clone`, the "upstream" repo is added as a "ssh" clone, which gives all the power to the user to do whatever they have permission to do with the repo.

### Proposed solution

Add an option, as it may be too late to change the default behaviour, to allow users to add their upstream as a normal "https" clone.  In this way, i

[2021-11-19 11:28] KiraStaehr commented on #1968
LGTmagnus

[2021-11-19 13:37] guerinoni opened #4767 "Show notifications"
### Describe the feature or problem you’d like to solve

I would like a see my notifications from CLI, because I received many emails, but I prefer to check it sometime from CLI and disable my emails.

### Proposed solution

I can image something like `gh notifications` and it shows a list like what you see in `https://github.com/notifications`

[2021-11-19 15:26] meiji163 commented on #4767
In the meantime, here is a simple [gh extension](https://github.com/meiji163/gh-notify) that shows notfis

[2021-11-19 15:32] guerinoni commented on #4767
Thank you! I hope this can be accepted because can be very handy :)

[2021-11-19 18:01] samcoe commented on #4767
Going to close this a duplicate of https://github.com/cli/cli/issues/659.

[2021-11-19 18:01] #4767 closed, assigned to nobody

[2021-11-19 21:18] deleugpn opened #4770 "POST https://api.github.com/repos/{owner}/{repo}/statuses/{sha} via gh CLI"
### Describe the feature or problem you’d like to solve

The problem I'm trying to solve is quite beyond the scope of the CLI, so I'll collapse it. The goal is to have a way to send POST requests to https://api.github.com/repos/{owner}/{repo}/statuses/{sha} to add status update on commit without having to construct a curl request, but instead using the gh cli.

<details>
  <summary>Detailed proble

[2021-11-19 22:00] mgabeler-lee-6rs commented on #4739
Still can't repro. Terminal must've gotten into a bad state in a way I didn't notice.

[2021-11-20 04:36] Advik-B opened #4772 "Windows is not able to recongnise gh as a command ( or as a executable `gh.exe` )"
### Describe the bug

When i run the command `gh --version` it is showing me:
[code]

### Steps to reproduce the behaviour

1. make sure you are NOT the local admin on the Windows PC
2. Open the installer
3. Click on install
4. when it prompts for the local admin password  enter it
5. after the installation try to run gh
6. See error

![img](https://i.imgur.com/JjYHiZF.png)

### Logs

[code]

[2021-11-20 10:25] vancanhuit commented on #4734
Hi @mislav,
As I'm trying to contribute to an open source project, can I take this one?

How do I find a repo like this to reproduce?

[2021-11-20 12:07] ghost commented on #4772
Hello.
I have installed the GitHub CI via PowerShell. There were no problems for me. You could try that as well.
[code]
Alternatively, you can make an update afterwards.
[code]

I hope the installation via PowerShell helps you.

With kind regards
@Riffecx

[2021-11-20 13:32] IAMRKK03 commented on #2211
Hello guys i am facing the same error in Kali linux installation
dpkg-deb:error: paste process was killed by signal (Broken pipe)

[2021-11-20 16:43] dlvhdr opened #4773 "Can't install extensions that are larger than 1MB"
### Describe the bug

I've built a `gh` extension using [bubbletea](https://github.com/charmbracelet/bubbletea) which is a very popular library for building TUIs.
If I'm not mistaken, the `gh` cli itself is built using `bubbletea`.
Since it's using Go, the binary size is a bit large.
`gh` cli doesn't allow installing extensions that are larger than 1MB (Not sure if this pertains to the entire repo

[2021-11-20 18:34] bchadwic opened #4774 "create multiple issues at once"
### Describe the feature or problem you’d like to solve

As a user, I tend to create a lot of issues at one time. Typically I do this at the start of a project, during the start of a sprint, or just to break up a big feature. What would be really useful is to have a convenient way to make multiple issues at once to speed this process up.

### Proposed solution

command line
[code]

editor (after p

[2021-11-20 18:47] meiji163 commented on #4773
Since [v2.1.0](https://github.com/cli/cli/releases/tag/v2.1.0), gh supports installing binary extensions via releases.

 @vilmibm also made a [GitHub action](https://github.com/cli/gh-extension-precompile) that builds and releases extensions for you, which works out of the box for Go!

[2021-11-21 08:52] dlvhdr commented on #4773
Thanks @meiji163!
It's worth adding to the docs.

[2021-11-21 10:45] aljorhythm commented on #2835
awesome feature thankyou

[2021-11-21 17:24] Habatchii opened #4779 "Exit Code 1625"
### Describe the bug
Problem installing using winget.
Microsoft Windows [Version 10.0.19043.1348].
GitHub CLI [GitHub.cli] Version 2.2.0

### Steps to reproduce the behavior

### Type this:
'winget install --id GitHub.cli'

### View the output:
[code]
### 3. See error:

[code]

### Expected vs actual behavior

Winget was used to install package. Package did not install on Windows Professional usin

[2021-11-21 19:38] #4773 closed, assigned to nobody

[2021-11-21 22:35] BrendanThompson commented on #409
I think in addition to this it would be good to be able to see all repos and user associated with a team too. For a repo perspective even if it were accessible like:

[code]

[2021-11-22 02:04] zero-wangdu opened #4780 "test-github-lic"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-22 05:37] sql-sith commented on #1260
I'm new to writing gists but I really expected them to work like any other repo. Why can't I create a gist, push it to gist.github.com, modify it later, and then just commit and push the updates? It's there a document somewhere explaining why this isn't "the gist way of doing things?" I've looked for documentation but what I've found so far is focused on creating gists, but they don't explain good

[2021-11-22 10:49] vancanhuit commented on #4759
Hi,
I will take this issue. Can you provide your `gh` version? Some flags in your command are deprecated in latest version.

[2021-11-22 11:40] #4722 closed, assigned to nobody

[2021-11-22 11:50] mislav commented on #4779
Sorry that you're having trouble! This is a problem with winget, not with our own codebase, so please report it to the winget project instead of here.

[2021-11-22 11:50] #4779 closed, assigned to nobody

[2021-11-22 12:14] amansilla commented on #2619
I think the `auto` option is still missing on `gh pr create` command. Is this supposed to be implemented?

[2021-11-22 12:21] #4780 closed, assigned to nobody

[2021-11-22 12:22] mislav commented on #4780
Please test the GitHub CLI by opening issues in your own repo rather than here. Thank you!

[2021-11-22 12:35] mislav commented on #4772
@Advik-B The gh installer will put an extra entry to your PATH. In order for that to get picked up, did you restart your terminal window (such as Powershell.exe, Windows Terminal, or Command Prompt) before trying to run `gh`? If not, then please try that.

@Riffecx Winget as a package manager simply downloads and runs our MSI installer, so if there is a bug in our installer, we should debug it not

[2021-11-22 13:00] ghost commented on #4772
Hello @mislav mislav. That's right, it was stupid of me. You are absolutely right. Then why did he actually create the environment variables for me and not for @Advik-B?

[2021-11-22 13:54] HardBlock729 commented on #4759
The latest as of 4 days ago, I installed it that day fresh.

[2021-11-22 14:13] askaaqib commented on #1791
I'm having the same issue on "gh repo create"

[2021-11-22 14:16] askaaqib opened #4782 "gh repo create error"
### I'm getting an error on `gh repo create`

I did ran `git init`

on `gh repo create` I'm getting the following error

`fatal: not a git repository (or any parent up to mount point /var/lib)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
/snap/gh/453/usr/bin/git: exit status 128
`

what am I doing wrong here?

[2021-11-22 14:20] mislav commented on #4782
You seem to have installed gh as a Snap, which we strongly advise against because it's all kinds of broken: https://github.com/cli/cli/blob/trunk/docs/install_linux.md#snap-do-not-use

Please uninstall the gh snap and install via our documented instructions for Debian/Ubuntu.

[2021-11-22 14:20] #4782 closed, assigned to nobody

[2021-11-22 14:31] mislav commented on #4759
Hi, I'm sorry that the message from the server is confusing, but I believe this is because you've used the `--internal` visibility. This is an option only available in specific cases; please consult this documentation: https://docs.github.com/en/repositories/creating-and-managing-repositories/about-repositories#about-internal-repositories

If `--internal` is not available to your organization, ple

[2021-11-22 14:31] #4759 closed, assigned to nobody

[2021-11-22 14:39] mislav commented on #4762
Hi, the upstream repository will be added with whatever git protocol you've configured GitHub CLI with: see `gh config get git_protocol -h github.com`. The default is "https".

It sounds like you've configured your `git_protocol` to be ssh. All git URLs will thus be generated for the SSH protocol and not HTTPS. There is no way to just override that for specific cases, like for upstream vs main rep

[2021-11-22 14:39] #4762 closed, assigned to nobody

[2021-11-22 14:42] mislav commented on #4770
You can already do this:
[code]
The expressions `{owner}` and `{repo}` will automatically expand to the current repository that you're in when running the `gh api` command.

[2021-11-22 14:42] #4770 closed, assigned to nobody

[2021-11-22 15:18] mislav commented on #4774
Hi, thanks for the suggestion!

In the past we've considered adding support for bulk operations, such as labelling a set of issues at once with a label, closing issues in bulk, or even opening issues in a way that you are suggesting. This never went anywhere because we couldn't come up with a suitable UI for such functionality: https://github.com/cli/cli/pull/831

Your proposal here seems well tho

[2021-11-22 15:18] #4774 closed, assigned to nobody

[2021-11-22 16:26] bchadwic commented on #4774
No worries! Awesome explanation.

I imagined something like vim with yaml syntax highlighting, would speed up the process a lot and for the most part be less error prone. However I agree, that something like this would add another "dependency" to make this command useful so it should be best left as an extension.

Maybe if I get the time I'll try it out! Thanks.

[2021-11-22 16:43] yuler opened #4783 "How can define completion for gh extension"
# CLI Feedback

I create a [gh-todo](https://github.com/yuler/gh-todo) extension

I write a `zsh` completion for `gh todo`,  but `#compdef` can't support subcommand

How settings/config it?

[2021-11-22 19:59] adityasharad opened #4785 "`gh issue comment` requires `repository-projects: read` permission on Actions"
### Describe the bug

`gh issue comment` fails with `GraphQL error: Resource not accessible by integration` when used with a GitHub Actions token that doesn't have `repository-projects: read` permission.

Occurs with GitHub CLI 2.2.0 (current default on `ubuntu-latest` on Actions).

### Steps to reproduce the behavior

1. Find an existing issue on a repo.
1. Create a GitHub Actions workflow on the

[2021-11-22 21:35] samcoe commented on #4746
I did a quick investigation into what is happening here and @bchadwic is semi-correct in that the issue stems from the `git` remotes for a gist. Our [code](https://github.com/cli/cli/blob/a3940020f93878c68a2c987f6acb070b333dfa74/internal/ghrepo/repo.go#L93) assumes a certain structure for the remote URLs and the URLs for gists don't fit that format, this results in `gh` not being able to determine

[2021-11-23 05:16] Advik-B commented on #4772
@mislav  Yes., I did restart my PC and my terminal. but windows is not able to recognise gh as a command
Even when I do this: in command prompt
[code]
It gives me the error:
[code]

[2021-11-23 06:05] Deeprai32037i opened #4788 "Someone hack my all personal information my all personal data your Gmail account to my Samsung Oregon to my Google all Tribeca my Google all photos anything information Adam Sandler commissioner Savannah Georgia miss you the most personal or personal any of any personal photos any personal work regarding documentation please help me protecting my URL number I add my banking information hack my personal all any service Canada are going to hack anything is a hack you can help me protect m"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-23 06:05] Deeprai32037i commented on #4788
Someone hack my all personal information my all personal data your Gmail account to my Samsung Oregon to my Google all Tribeca my Google all photos anything information Adam Sandler commissioner Savannah Georgia miss you the most personal or personal any of any personal photos any personal work regarding documentation please help me protecting my URL number I add my banking information hack my per

[2021-11-23 07:01] #4788 closed, assigned to nobody

[2021-11-23 07:40] ShockwaveNN commented on #4746
I think `gh gist view --web` will work fine for me, I've never found this command in documentations

[2021-11-23 12:07] mislav commented on #4772
@Advik-B If you go to System Properties > Advanced > Environment Variables and check the `Path` variable there, does it have any entry with "GitHub CLI" in it? It should have been added by our installer.

If not, you can add one yourself (e.g. add an entry to the path like `C:\Program Files (x86)\GitHub CLI`), but that still doesn't solve the problem of why the installer didn't add one in the firs

[2021-11-23 12:12] mislav commented on #2619
@amansilla No, we've opted to _not_ add the `--auto` flag to `gh pr create`. You may separately enable auto-merge for your new PR with the `gh pr merge --auto` command after running `gh pr create`.

[2021-11-23 12:22] mislav commented on #4774
Yeah, for someone like you and me, authoring a YAML file using decent text editor support would be feasible, but I wouldn't like to assume that of any regular user. For example, it's easy to forget that you can't start a YAML string value with a `!` or `*` without escaping or quoting it, otherwise the parser would blow up. Or, you might accidentally save a file indented with tabs instead of spaces

[2021-11-23 12:22] amansilla commented on #2619
All right @mislav! Thanks for the clarification.

[2021-11-23 12:28] mislav commented on #4773
@dlvhdr This feature is still very new, but we are definitely working on making it more discoverable and adding it to the docs! In the meantime, I hope the pointers so far will help you set this up for your extension. 👍

[2021-11-23 12:50] johnbillion opened #4789 "Include the `gh co` alias in the `gh pr` documentation"
### Describe the feature or problem you’d like to solve

While reading the comments on #1303 I discovered that a default alias of `gh co` is included which maps to `gh pr checkout`, a command that I use regularly. This alias is not included in the documentation for `gh pr` or `gh pr checkout` and I wasn't aware of the alias feature.

### Proposed solution

When a user is reading the documentation

[2021-11-23 12:55] mislav commented on #4734
@vancanhuit Thanks for offering to help!

I wouldn't suggest trying to reproduce this error on github.com, since that's not necessary. I would instead add a focused test for `parseErrorResponse()` that verifies that the function is able to take in the JSON payload as I quoted in my previous comment and extract the error within correctly. https://github.com/cli/cli/blob/a3940020f93878c68a2c987f6acb

[2021-11-23 13:00] mislav commented on #4789
Hi, thanks for suggesting this, but I don't think we should hardcode `co` into the documentation because `co` isn't guaranteed to be present.

When you first set up GitHub CLI on a machine, the `co` alias is added as the only default alias. You can inspect it with `gh alias list`, you can override it to something else, or you can remove it. Furthermore, if you're authenticating via environment var

[2021-11-23 13:00] #4789 closed, assigned to nobody

[2021-11-23 13:02] vancanhuit commented on #4734
Thanks for your guidance @mislav. I will try.

[2021-11-23 13:24] chmouel opened #4790 "gh release create --title "foo" does not seem to work"
### Describe the bug

trying to use the `--title` flag to `gh release create` command and it still still asking me for question

[code]

I assume title should not be asked and just use the --title flags?

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

no title being asked,  making it easy to do non interactive release

### Logs

N/A

[2021-11-23 13:31] mislav commented on #4790
Sorry that this isn't more clear for this command, but the `--title` value is optional for a release. The parameters that are mandatory and must be supplied for non-interactive mode are the tag name argument (which you already pass) and release notes (either via `--notes` or `--notes-file`). You may pass a blank value.

In the future, we will make it clearer which flags are necessary to ensure non

[2021-11-23 13:31] #4790 closed, assigned to nobody

[2021-11-23 13:32] chmouel commented on #4790
Sounds good thanks!

[2021-11-23 13:39] mislav commented on #4746
Thanks @ShockwaveNN for raising this! I feel this is one of those things that it's hard to tell whether it's a bug or a feature request. We've designed `gh browse` to work with GitHub repositories, and a Gist is not a GitHub repository (although it is technically a git repository). We could expand `gh browse` to also work with gist, but I'm not sure how much work would be involved in that. For now

[2021-11-23 13:41] mislav commented on #4715
Thank you for reporting! Good catch; and I agree with your assessment. Since you've specified a repository using the `-R` flag, we should't pay attention to the local git repo anymore, but we erroneously still do.

[2021-11-23 13:50] mislav commented on #4716
Hi, sorry that this isn't more clear, but "internal" repositories are internal to an organization, and thus cannot be forked to another organization even if both organizations allow forking. Forking of internal repositories (as I understand) is meant for individual user's forks. What you're encountering is a platform limitation, not a problem with GitHub CLI.

[2021-11-23 13:50] #4716 closed, assigned to nobody

[2021-11-23 13:50] AraHaan commented on #2619
does that support telling it how it must merge it (like rebase merge for example) too?

[2021-11-23 15:39] bchadwic commented on #4746
@mislav

Cc: @samcoe

I think it's a bug for `gh browse` and a feature for `gh gist view --web`.

It's tricky because it seems from the docs, gist url formats can vary a lot based on if the user is enterprise or not. I think if there was a way to determine if the remote url is a gist, we could feed two birds with one seed.

bug - as mentioned, `gh browse` opens repositories, so maybe it's best to

[2021-11-23 16:23] ShockwaveNN commented on #4746
I strongly agree that error message should be more detailed, at least point out for documentation or maybe to `gh gist view --web`

[2021-11-23 16:29] mislav commented on #2619
@AraHaan Yes; please refer to `gh pr merge` documentation.

[2021-11-23 17:01] adamhake opened #4791 "Sporadic `git pull` fails when running `gh repo create`"
### Describe the bug

gh version: 2.2.0 (2021-10-25)

When I create a new repo using a template, approximately 50% of time the command fails with the following error message:

[code]

The repo is created on GitHub, a local directory is created, a new .git directory is initialized, and the correct GitHub remote is set.  But pulling the code down fails.

We have the default branch name set to `main`

[2021-11-23 17:08] jawnothin opened #4792 "Uploading an existing key to a new account fails silently"
### Describe the bug

When running `gh auth login` and it uploads the SSH key to the account, if it's already registered on another account it just proceeds without error.

### Steps to reproduce the behavior

1. Generate an SSH key
2. Create an account, and upload the ssh key
3. Create another account, and run `gh auth login`
4. Upload the same SSH key that's already on another account

### Expec

[2021-11-23 17:25] paololazzari opened #4793 "Why is this not available as a Docker image?"
Why is this not available as a Docker image?

[2021-11-23 17:26] dlvhdr commented on #4773
Thanks @mislav, yup I successfully used the github action to publish my extension.
It was pretty simple :)

[2021-11-23 17:46] mislav commented on #4793
Our tool is not well-suited to running in a container. It wants to run directly on your host machine https://github.com/cli/cli/issues/2027#issuecomment-942500376

[2021-11-23 17:46] #4793 closed, assigned to nobody

[2021-11-23 18:53] mislav commented on #4202
@3b3ziz I'm sorry I missed your comment and your PR!

This is no longer accepting contributions: we are addressing this in a more generalized way in #4794

[2021-11-23 19:15] paololazzari commented on #2027
*My use case:*

I am working in a CI environment where I cannot install stuff, but I can run docker; I would like to fetch a certain release of my private github repository.

*Ideal workflow:*

`docker run --rm -it -e TOKEN=TOKEN -v %pwd%/tmp gh release download https://myprivaterepo.git -o /tmp`

or similar, you get the idea

[2021-11-23 19:37] mislav commented on #4785
@adityasharad Thanks for reporting! Working on a fix

[2021-11-23 20:27] G00fY2 opened #4795 "GitHub CLI inconsistent behaviour with Git URL forwarding"
### Describe the bug

I am using gh 2.2.0 for running some scripts on our CI server.

Strangely the `gh issue create` command was running fine, but `gh issue list` always returned an empty result. Took me some time until I figured out that our GitHub repository URL was pointing to our old company name. Everything was still working since the URL gets redirected, but the `gh issue list` command alwa

[2021-11-23 21:05] mislav commented on #4795
Hi, if I understand correctly, your organization was renamed, the local git repo was pointing to the old name, and some gh commands worked with the old name, but `gh issue list` did not?

I've just tried to reproduce but I could not. I've used this:
[code]
The issues from the new, renamed org were properly listed.

Can you still reproduce using the `-R` flag to point to the old repo name from your

[2021-11-23 21:21] G00fY2 commented on #4795
Hi @mislav, thanks for the fast response. Good to know that it is working when you explicitly set the repo locally.

On our CI images we had the git remote origin set to `git@github.com:<myoldorgname>/<testrepo>.git` and the system variable `GITHUB_TOKEN` is set with a valid token. We than installed the gh CLI via apt and run the `gh issue list` without any further configuration. This always resul

[2021-11-23 21:28] G00fY2 commented on #4795
Hi @mislav, thanks for the fast response.

I can reproduce the issue when adding a label filter (didn't mention this in the initial description, sry):
[code]
This returns an empty result even when there are issues with the label `<existing-label>`.

[2021-11-23 22:05] mislav commented on #4795
Ah, that changes everything. Thank you!

With labels, the query is switched over to the Search API endpoint that is backed by Elasticsearch. Essentially, we issue a global Search query like so:
[code]
However, the Elasticsearch index is not aware of repo renames, i.e. does not have redirects built-in. Therefore, scoping the search to `repo:oldorgname/myrepo` will yield no results. This is expected

[2021-11-23 22:29] patrickleet commented on #2027
how is it better to have a bunch of unofficial versions?

[2021-11-23 22:29] meiji163 commented on #4754
Summary of some issues & comments raised in discussion with @mislav:
- what to do if repo gets renamed?
- what should a `gh` process do if the frecent file is locked (err out, ignore and proceed, wait)?
- frecency.Manager shouldn't make API calls?
- storing the issue & repo stats could be a potential security risk for private repos
- something like a plain key-value store might be more extensible

[2021-11-23 22:44] mislav commented on #2027
If you are in an environment where you can't install software as root, you can always fetch a tarball e.g. `https://github.com/cli/cli/releases/download/v2.2.0/gh_2.2.0_linux_arm64.tar.gz`, extract the `bin/gh` binary within and use that within your home directory.

If you are not allowed to use any downloaded executables but you can run docker containers, nothing is stopping you from creating you

[2021-11-23 23:47] AlexOConnorHub commented on #3556
So, just wondering, has there been any work on how to allow extensions to accept the --repo/-R flag?

[2021-11-24 04:56] Advik-B commented on #4772
😞 Looks like I will have stick with git. I hope the installer gets fixed in the future

[2021-11-24 07:43] mangopulp1 opened #4799 "Feedback"
# CLI Feedback

This project is very cool, love it. Thanks for making it.

[2021-11-24 07:45] #4799 closed, assigned to nobody

[2021-11-24 08:52] G00fY2 commented on #4795
I see, thanks for the explanation. I think it's generally more of an edge case. Not sure if there is a "known issue" section or something in the docs. Maybe you come up with a way to inform the user about this "limitation".

[2021-11-24 09:34] eleijonmarck opened #4800 "Project not able to be found"
### Describe the bug
[code]

A clear and concise description of what the bug is. Include version by typing `gh --version`.

[code]

### Steps to reproduce the behavior

1. Create a project in any organisation
2. Try to create a issue for that project
3. Will say project not found
[code]

### Expected vs actual behavior

To be able to create a issue with the project name

[2021-11-24 09:47] mskyttner opened #4801 "`create issue` fails with "GraphQL error: was submitted too quickly""
### Describe the bug

Using a bash script to create several issues (with 3 seconds in between each) fails intermittently, sometimes after 10, or 50 or 150 issues with "GraphQL error: was submitted too quickly"

gh version 2.2.0 (2021-10-25)
https://github.com/cli/cli/releases/tag/v2.2.0

### Steps to reproduce the behavior

1. Use a bash script `create_issues.sh` with content similar to this, in o

[2021-11-24 10:10] mislav commented on #4801
Hi, that's really strange. If you wait an hour and try to run the script again (you can try without the `sleep` statements), exactly how many issues get created before it fails with the `was submitted too quickly` error? And, can you query the `rate_limit` endpoint at that exact moment and paste us what you get?

From your JSON payload above, it looks like you've only made 6 queries in an hour, wh

[2021-11-24 10:16] mskyttner commented on #4801
Yes, I agree that it is odd, and I just ran into the "timeout" again and when I now run `gh api rate_limit" I get "used:0" for everything but I get a number for GraphQL:

[code]

Which obviously is under 5000, though....

My feeling is that after a batch of 150 issues (I have about 450 in total) it starts appearing and stays on for an extended period, I have now succceeded in adding 300 and about

[2021-11-24 10:18] mislav commented on #4801
Okay so I've spoke to people internally and it looks like that, in addition to general API rate limit for queries (which you are _not_ hitting), there is content creation rate limit for resources like Issues. It doesn't look like this rate limit is shown to API consumers over response headers, but you are allowed only a fixed number of issue creations per minute and then again a fixed number per h

[2021-11-24 10:23] mislav commented on #4772
We are working on a better installer: https://github.com/cli/cli/pull/4276

In the meantime, like @Riffecx suggested, you can give package managers a try. I like Scoop, but winget seems to be becoming better as well (I just could never figure out how to actually install it).

Closing in favor of the referenced PR

[2021-11-24 10:23] #4772 closed, assigned to nobody

[2021-11-24 10:25] mskyttner commented on #4801
Thanks for the info!

If the "issues per minute" and "issues per hour" rate limits are documented somewhere, I can try to make sure that my bash-script respects those rate limits? And it would be awesome if the error message contained the "issue creation rate limits" if one runs into those, like I do.

Thanks by the way for the "gh" command, very useful!

Wishing for a "gh create issues" batch ope

[2021-11-24 10:35] mislav commented on #4801
They do not seem to be documented anywhere. I'll see if they can be communicated publicly somehow. Right now they are an implementation detail for the platform to combat abuse. For now, just make your scripts respect the error message by stopping for an hour.

That's been suggested as well: https://github.com/cli/cli/issues/4774#issuecomment-975633078. However, it's not likely that we will build t

[2021-11-24 10:49] 1dancook commented on #2090
This really confused me today. I just started using gh and I ended up selecting my fork -- which made a PR a to my fork and since I referenced an issue in the project repo github a reference in that issue to the PR in my fork! 🤣🤣

Some other ideas for wording it:

Apart from that, it would be good if the explanation was written out in the help. At first I cancelled what I was doing and looked in `

[2021-11-24 12:59] mislav commented on #4800
Thank you for reporting!

Did you create a project within our [current beta offering](https://docs.github.com/en/issues/trying-out-the-new-projects-experience/about-projects) or a regular org-level project?

The repository that you're trying to create an issue in is in the same organization as the project?

[2021-11-24 13:48] #4127 closed, assigned to nobody

[2021-11-24 13:48] #4202 closed, assigned to nobody

[2021-11-24 13:48] #4785 closed, assigned to mislav

[2021-11-24 13:54] mislav commented on #2090
Sorry for the nuisance! https://github.com/cli/cli/issues/2300#issuecomment-717476725

[2021-11-24 15:47] mislav commented on #4792
Thanks for the report!

It's my bad that this exception is swallowed: https://github.com/cli/cli/blob/4866bec849c66a499309e5b5eb10be413986b219/pkg/cmd/ssh-key/add/http.go#L47-L48

I wanted to make the `gh ssh-key add` operation tolerant to the same key already being in your own account, but I wasn't thinking about the case when the key is already on another account (the same exception is thrown).

[2021-11-24 15:50] #2833 closed, assigned to nobody

[2021-11-24 16:14] mislav commented on #4791
Thank you for reporting!

I wonder whether this fails because the repository is still being prepared. Maybe we could try the `git pull` several times until it succeeds to give the platform time to set up the new repository. 🤔

[2021-11-24 16:18] #4709 closed, assigned to nobody

[2021-11-24 16:21] mislav commented on #4648
Hi, thank you for the feedback!

Portability: we're fixing the shebang for scripts we generate from `/bin/bash` to `/usr/bin/env bash`.

Compiled extensions: we're building first-class support for extensions written in compiled languages, primarily Go. The binaries will be produced by GitHub Actions and uploaded to the Releases of an extension repository. Closing in favor of https://github.com/cli

[2021-11-24 16:21] #4648 closed, assigned to nobody

[2021-11-24 17:13] Janiel13 opened #4805 "GitHub CLI 2.2.0"
### Discussed in https://github.com/cli/cli/discussions/4609

<div type='discussions-op-text'>

<sup>Originally posted by **github-actions[bot]** October 25, 2021</sup>
## Support for GitHub Codespaces

The new `gh codespace` commands allow creating, listing, connecting to, and otherwise managing your codespaces.

[code]

To get started, check out `gh help codespace`. You can also use the `gh cs <

[2021-11-24 17:15] vilmibm commented on #4045
We've discussed internally and have decided on the following approach:

- [ ] add new `--app` filter
- [ ] in human readable list, mark app/bot accounts (renovate[bot] to mimic the web UI)
- [ ] in JSON output, include key that a pr author is a bot (perhaps `isBot: true`, open to suggestion)

If anyone would like to pick this up that would be great!

[2021-11-24 17:17] #4805 closed, assigned to nobody

[2021-11-24 17:20] vilmibm opened #4806 "some automation"
- [x] mark all eternally contributed issues as `needs-triage`
- [x] mark all externally contributed PRs as `external`
- [x] assign core-team PRs to author

[2021-11-24 17:42] mislav commented on #2450
Thanks for the patience, everyone. We're reached the consensus that this is a feature that feels like it should belong in an extension rather than in gh core. For example, one already exists: https://github.com/matt-bartel/gh-clone-org

[2021-11-24 17:42] #2450 closed, assigned to mislav

[2021-11-24 17:44] mislav commented on #4783
Sorry, right now extensions do not support completions. We will complete the name of you extension if you write `gh t<Tab>`, but the extension itself cannot provide completions for its own arguments.

In the future we will consider adding this, but for now this is a limitation of extensions.

[2021-11-24 17:44] #4783 closed, assigned to nobody

[2021-11-24 18:32] despreston commented on #4715
Is it possible to run a git command against a remote repo? I know you can specify `-C` with some commands to point to a different local directory, but that doesn't let you run against a remote repo afaik. Would be nice to fix this without having to use the GH api to get the last commit SHA.

[2021-11-24 18:57] mislav commented on #2807
Thanks for the patience, everyone. We've reached a consensus that for now this feels like extension material. One example extension you can use to manage collaborators for your repository is here: https://github.com/mislav/gh-repo-collab. Contributions welcome 🙇

[2021-11-24 18:57] #2807 closed, assigned to mislav

[2021-11-24 19:08] abdfnx opened #4808 "Build GitHub extensions registry website, like `npm`"
### Describe the feature or problem you’d like to solve

I see github extensions have a big future, there is many amazing extensions, but what about build a registry website for extensions, like `npm` or `docker`

### Proposed solution

How will it benefit CLI and its users?

it's just an idea, you can work on it, or reject it if you see this idea don't worth it

🙏 thank you for your time

[2021-11-24 22:36] eleijonmarck commented on #4800
@mislav it is a `beta` version.

Yea trying to create an issue for the repo in the same organisation as the project as well.

The repo that the issue is for is public but the project is private. Maybe this is conflicting?

[2021-11-24 23:26] spuder commented on #3684
Updated link for linux install https://github.com/cli/cli/blob/trunk/docs/install_linux.md

[2021-11-25 06:35] Habatchii commented on #4779
Issue resolved. Reference: [Goto](https://softfamous.com/postdownload-file/java-jre/104/4000/).

[2021-11-25 12:15] mislav commented on #4800
Sorry, because Beta projects live entirely within their own (beta) API, gh does not recognize them and thus cannot assign issues to them. Duplicate of https://github.com/cli/cli/issues/4547

[2021-11-25 12:15] #4800 closed, assigned to nobody

[2021-11-25 12:22] #4792 closed, assigned to nobody

[2021-11-25 12:26] mislav commented on #4715
@despreston No, to solve this we would have to take one of the following approaches:

1. Error out if `-c` was used with `--repo`; or
2. Use the GitHub API to determine the commit SHA so we can construct the URL.

[2021-11-25 19:24] TheRealitychecker opened #4811 "## Support for GitHub Codespaces"
## Support for GitHub Codespaces

The new `gh codespace` commands allow creating, listing, connecting to, and otherwise managing your codespaces.

[code]

To get started, check out `gh help codespace`. You can also use the `gh cs <command>` alias for short.

Thank you @josebalius, @adonovan, and code contributors: @asciimike @CamiloGarciaLaRotta @CGA1123 @edgonmsft @geramirez @georgebrock @issyl0

[2021-11-25 19:51] Haq86 opened #4812 "bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-25 20:28] #4812 closed, assigned to nobody

[2021-11-25 20:28] #4811 closed, assigned to nobody

[2021-11-25 21:01] vilmibm commented on #4808
Thanks for the suggestion. As of now our plan is to rely on GitHub itself as the source for extension discovery.

[2021-11-25 21:01] #4808 closed, assigned to nobody

[2021-11-26 02:32] Garrybest opened #4813 "`brew install gh` does not work in macOS 12"
### Describe the bug

[code]

[2021-11-26 19:21] adison88 commented on #2807
how to invite collaborator using email address? does account need to be created upfront on GitHub?

[2021-11-27 08:53] Pollojuarx opened #4817 "VER ERROR"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-27 09:23] #4817 closed, assigned to nobody

[2021-11-27 09:24] Pollojuarx opened #4818 "Lall"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-11-27 11:03] azooz-12 commented on #4808
axxc414

[2021-11-27 11:08] azooz-12 commented on #4813
lnstagram

[2021-11-27 11:08] azooz-12 opened #4819 "lnstagram"
lnstagram

__Originally posted by @azooz-12 in https://github.com/cli/cli/issues/4813#issuecomment-980541730__

[2021-11-27 12:12] azooz-12 commented on #4813
@mislav

[2021-11-27 17:43] imsanjoykb commented on #2691
I use ---
gh pr create --title "The bug is fixed" --body "Everything works again"

but getting error

[2021-11-27 18:33] #4819 closed

[2021-11-27 18:34] #4818 closed, assigned to nobody

[2021-11-27 20:02] huuduyentinh14020201 commented on #4813
Cảm ơn

[2021-11-28 01:34] ironiridis commented on #4813
Current Homebrew [supports macOS 12](https://brew.sh/2021/10/25/homebrew-3.3.0/) ("Monterey") so you likely need to try `brew update`.

[2021-11-28 12:34] seksun11 opened #4821 "bad-branch"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-11-28 12:35] seksun11 opened #4822 "https://github.io.seksun11/seksun11/"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-11-28 12:37] seksun11 commented on #4822
Link seksun11

[2021-11-28 15:06] #4822 closed

[2021-11-28 15:06] #4821 closed

[2021-11-28 17:27] ghost opened #4823 "TRADINGVIEW"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-11-28 19:00] #4823 closed, assigned to nobody

[2021-11-29 02:06] Garrybest commented on #4813
It works. Thanks @ironiridis.

[2021-11-29 02:06] #4813 closed, assigned to nobody

[2021-11-29 11:40] mislav commented on #2807
@adison88 Yes, right now I think the GitHub API (and thus GitHub CLI and any of its extensions) only allows inviting existing GitHub users to a repository. For inviting someone by email if they don't yet have a GitHub account, you must use the web interface.

[2021-11-29 16:08] #3346 closed, assigned to nobody

[2021-11-29 17:23] #4806 closed, assigned to vilmibm

[2021-11-29 17:26] #1444 closed, assigned to nobody

[2021-11-29 17:38] Habbie commented on #1444
Thanks!

[2021-11-29 18:14] jasonkarns opened #4827 "Allow `auth status` to have reduced scope requirements"
### Describe the feature or problem you’d like to solve

There are a handful of commands that don't require `read`/`read:org` scopes; but even more, there are dozens (?more?) scenarios that leverage the github cli for API requests that don't require `read`/`read:org` scopes.

There has been discussion around the level of authorization required for the `auth login` command.
(Even recently, another

[2021-11-29 19:58] TimoKramer commented on #4688
This is bad and should be resolved. It makes my CI create releases on the upstream repo where I don't want it because I am only testing it on my personal fork. This should not happen. It should default to origin I think and be an explicit option and documented on the help.

[2021-11-30 04:21] FranklinYu commented on #1980
Currently `gh config get git_protocol` returns only the global value as a simple string. How about printing all values, something like

[code]

if user didn’t specify `--host` explicitly? (If I recall correctly, `bundle config` lists all settings if the scope isn’t specified.)

[2021-11-30 09:33] sanbeichahegongheguo opened #4828 "very good cli"
CLI is awsome tool for me. Thanks very much!

[2021-11-30 09:48] mislav commented on #4827
Thanks for opening. How would you say this ticket relates to https://github.com/cli/cli/issues/4690?

[2021-11-30 15:01] #2167 closed, assigned to nobody

[2021-11-30 15:35] jasonkarns commented on #4827
@mislav very closely related; I very nearly just replied to that thread. However, I felt the intent of the two issues are distinct enough. #4690 seems to primarily be a bigger discussion around whether the minimum scopes should be lowered _for all `auth` commands_ (or for the cli entirely). That discussion revolves around whether the cli should tailor itself to the most common cli use cases and th

[2021-12-01 05:52] GolfNoiise2020 opened #4830 "## Support for GitHub Codespaces"
## Support for GitHub Codespaces

The new `gh codespace` commands allow creating, listing, connecting to, and otherwise managing your codespaces.

[code]

To get started, check out `gh help codespace`. You can also use the `gh cs <command>` alias for short.

Thank you @josebalius, @adonovan, and code contributors: @asciimike @CamiloGarciaLaRotta @CGA1123 @edgonmsft @geramirez @georgebrock @issyl0

[2021-12-01 05:53] #4830 closed, assigned to nobody

[2021-12-01 10:21] vancanhuit commented on #4734
I don't have experience in writing tests in Go. I'm stuck with this issue. Can anyone else take up this issue?

[2021-12-01 16:48] #4633 closed, assigned to nobody

[2021-12-01 16:57] darcyclarke commented on #4690
### Notes
- we would like to support this use-case
- want to ensure a minimum recommended scopes is displayed/expressed to the user somehow (ie. `repo`, `read:org`)

[2021-12-01 17:45] vilmibm opened #4834 "gh search"
This is a tracking issue for implementing a `gh search` command.

To be determined:

- [x] invocation design
  - open ended syntax?
  - specific filter arguments?
- [x] output
  - json handling?
  - pretty printing?

The next step is deciding the above questions and producing mock-ups to implement

[2021-12-01 18:10] mislav commented on #4834
Ref.
- https://github.com/cli/cli/pull/830
- https://github.com/cli/cli/issues/1004

[2021-12-01 18:13] #4624 closed, assigned to nobody

[2021-12-01 18:15] mislav commented on #3703
I've just tried with gh v2.2 and git-delta installed via Scoop and I cannot reproduce rendering issues. Like @bruxisma pointed out, this all might be due to encoding issues rather than a bug in GitHub CLI code.

<img width="1037" alt="" src="https://user-images.githubusercontent.com/887/144290232-74522ba2-de6b-4d49-a130-e86c62ad4ef1.png">

I'm going to close this until there is evidence that there

[2021-12-01 18:15] #3703 closed, assigned to mislav

[2021-12-01 18:36] skedwards88 opened #4835 "Fix case where the CLI unintentionally removes labels when adding labels"
As described [here](https://github.com/github/product-operations/issues/372) and discussed [here](https://github.slack.com/archives/CLLG3RMAR/p1638375184314200), if a label is added via the CLI and a separate label is added manually at the same time, the CLI deletes the manually added label. The discussed solution is to use the  addLabelsToLabelable and removeLabelsFromLabelable mutations instead

[2021-12-01 23:31] vilmibm commented on #4828
thank you for the kind words! we're glad you have found it helpful.

[2021-12-01 23:31] #4828 closed, assigned to nobody

[2021-12-01 23:34] #859 closed

[2021-12-02 01:11] corani commented on #4739
I have one open tmux pane with this issue. Is there anything I could do to help find the cause for this (before I close that pane)?

[2021-12-02 09:35] jdubois commented on #4688
This is super confusing, and could cause serious security issues. I was creating secrets in my fork (on my personal fork), and the secrets got uploaded to the original repo (which belongs to my company).
As I'm using those secrets to deploy to Azure, it means that my company repo started to deploy automatically to my personal Azure account, which is bad in so many ways!

[2021-12-02 12:09] mislav commented on #4739
@corani Yes, can you tell us your `TERM` value, gh version, and can you try `gh issue create -R cli/cli` and see if you can interact with the `Choose a template` prompt? (You do not actually have to submit a new issue.)

Even if we don't manage to find the root cause for this, I think that's okay because it doesn't seem to be widespread and it only seems to be affecting terminals stuck in some wei

[2021-12-02 15:23] mislav commented on #4688
Thanks for the feedback, everyone. Since this is tripping up a lot of folks, I will re-label this as a bug so we can handle it accordingly.

To clarify: if you were operating from the context of a GitHub fork (e.g. either there is a single `origin` remote pointing to your fork or there are `upstream` and `origin` git remotes pointing to the parent repo and your fork, respectively), should the defa

[2021-12-02 16:00] jdubois commented on #4688
Thank you @mislav - for me this should always be the origin by default (see my commit just above on my own project).
Then you can keep the `-R` option for people who need some customisation: I would basically keep this the way it is, and just change that the default is now the origin.

[2021-12-02 16:05] #4388 closed, assigned to nobody

[2021-12-02 16:38] #3796 closed, assigned to nobody

[2021-12-02 18:08] rsteube opened #4840 "shorthand missing for `gh gist view --files`"
### Describe the bug

The shorthand is currently empty: https://github.com/cli/cli/blob/trunk/pkg/cmd/gist/view/view.go#L71

[2021-12-02 20:15] vilmibm commented on #4194
Closing as of https://github.com/cli/cli/releases/tag/v2.3.0

[2021-12-02 20:15] #4194 closed, assigned to vilmibm

[2021-12-02 21:08] rsteube opened #4841 "`pr view --comments`: comments not shown for merged PR"
### Describe the bug

Comments not listed when PR is in state `merged`

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

Expected to see the comments.

### Logs

[code]

[2021-12-03 01:44] akitanobuhiro opened #4843 "word"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-12-03 03:06] #4843 closed, assigned to nobody

[2021-12-03 03:44] corani commented on #4739
Output:

[code]

Note:
- `$TERM` is the same for other working panes
- It's not the terminal emulator itself, it behaves the same in kitty, alacritty and even putty
- `reset` to try to restore the terminal doesn't help
- It's not the git workdir, the same folder works fine in other panes
- Setting `$TERM` doesn't help (e.g. setting it to `dumb`)

[2021-12-03 06:30] catskul commented on #4628
I ran into the same thing, was about to file a ticket, and ended up here.

While I now realize there is instruction text to the right, for the life of me I didn't see it!

Even though the instructions should make it obvious IMO multiple people finding the same non-bug seems to imply a UI problem.

Perhaps a warning when you try to submit nothing would be warranted?
Or make the instruction text red

[2021-12-03 07:43] wzshiming opened #4844 "`gh pr edit --add-reviewer` Don't acquire organizational teams if it's not necessary"
### Describe the feature or problem you’d like to solve

In Github Action
[code]
The Github Action TOKEN does not provide this permission
Don't acquire organizational teams if it's not necessary

### Proposed solution

Better integration with Github Actions

### Additional context

[2021-12-03 09:21] mislav commented on #4194
Massive props to @vilmibm for making this possible and to @samcoe for the go-gh library! 👏

And thank you @heaths for suggesting the feature in the first place 🙇

[2021-12-03 09:41] mislav commented on #4840
Good catch. That flag should have been a BoolVar, not a BoolVarP. The `--files` flag does not need a shorthand, IMO.

[2021-12-03 10:23] #4840 closed, assigned to nobody

[2021-12-03 10:38] mislav commented on #4844
Thanks for reporting!

This one is tricky. I generally agree that it doesn't make sense for an `--add-reviewer <user>` operation to require reading org teams, but right now we preload all review requests for the PR, including teams. Then, we replace values based on the final product after applying all `--add-reviewer` and `--remove-reviewer` values: https://github.com/cli/cli/blob/7e7735d450827faf

[2021-12-03 11:31] aesopius commented on #1614
What is making this problem even more problematic is the fact that we cannot use shell aliases to inject the `--draft` into the `gh pr create` command because is already a  multi-string command.

I think that for the moment I will just do a `alias gh-up="gh pr create --draft"` and hope to you implement a configurable options, preferably one that reads git config.

TBH, i am not sure if `needs-desi

[2021-12-03 15:38] chmouel opened #4849 "let user to specify the target repo fork name"
### Describe the feature or problem you’d like to solve

We are able to repo a fork with :

[code]

this forks upstream of for example the repository `foo` to the github user repositories `foo` (or organisation if specified as is)

it would be nice if we can have the ability to have another name than `foo` as the user repository target.

### Proposed solution

[code]

### Additional context

 I ha

[2021-12-03 17:07] #4841 closed, assigned to nobody

[2021-12-03 17:18] vilmibm commented on #4834
also ref: https://github.com/meiji163/gh-search

[2021-12-03 17:56] samcoe commented on #4264
We just released the beta version of [go-gh](https://github.com/cli/go-gh) :partying_face:, please check it out and leave feedback in the repo!

[2021-12-03 18:17] MarcCelani-at commented on #2053
We are very interested in a feature like this. We'd love to set up a gh action to automatically re-request review when a PR is updated, which is a feature of phabricator that we generally like.

[2021-12-03 18:46] rzhade3 commented on #449
Double 👍 for https://github.com/99designs/keyring, `zalando/go-keyring` [doesn't use native APIs](https://github.com/zalando/go-keyring/blob/5267aaad697052274839d0bc11460ec3a97135bf/keyring_darwin.go#L43-L47) to interact with the MacOS keychain, instead opting for `exec.Command()` shell commands.

Using the native MacOS API should be a prerequisite for the dependency we use, as that'll allow us to

[2021-12-03 22:15] adonovan opened #4851 "`gh cs list`: make it easier to select VMs based on age"
I'n trying to use `gh cs list` and `delete` to delete codespaces older than some constant, as they are occasionally leaked by my test automation setup.

The list command produces a table whose last column is CREATED AT. When writing to a terminal, its format is a user-friendly age string (e.g. "1h"). When writing to a pipe or file, it's a timestamp in RFC 3339 format. (This tty-dependent behavior

[2021-12-04 15:48] bwoodsend commented on #3521
The `--ref-local` option would be ideal. ``gh workflow run --ref `git branch --show-current` `` won't work in fish shell where the substitution syntax is different and Windows cmd has no equivalent syntax at all.

[2021-12-04 18:33] heaths opened #4852 "Cannot install prerelease version of an extension"
### Describe the bug

Using gh 2.3.0, despite the [text](https://github.com/cli/gh-extension-precompile#prereleases) about prereleases, you cannot install a prerelease test like `gh extension install heaths/gh-label@v0.3.0-pre.1`. It results in the error:

It would be great if we could install prerelease extensions.

Separately, as a 20+ year veteran of writing and supporting installation programs

[2021-12-04 22:07] VictorBatta opened #4855 "GitHub CLI 2.3.0"
### Discussed in https://github.com/cli/cli/discussions/4839

<div type='discussions-op-text'>

<sup>Originally posted by **github-actions[bot]** December  2, 2021</sup>
## What's Changed
* Bump bluemonday to silence the security alert by @mislav in https://github.com/cli/cli/pull/4607
* Fix stack overflow in AddJSONFlags by @rsteube in https://github.com/cli/cli/pull/4614
* Fix rendering issue in

[2021-12-04 22:37] #4855 closed, assigned to nobody

[2021-12-05 03:27] bchadwic opened #4856 "windows output is formatted incorrectly after a clone is performed"
### Describe the bug

When `gh repo clone` or `gh repo fork` clones a repository, the output after the clone progress is uninterpretable when styled

### Steps to reproduce the behavior

On Windows, using powershell or cmd.exe (inside or outside of Windows Terminal), run `gh repo fork cli/cli`

I originally discovered this using v2.3.0, but I downgraded to see if the release reminder would be affe

[2021-12-05 07:03] tisonkun commented on #382
I create an extension [gh-cherry-pick](https://github.com/tisonkun/gh-cherry-pick) using `git am` and automatically create a cherry-pick pull request.

Basically, installing by:

[code]

and running as:

[code]

[2021-12-06 02:22] matschaffer commented on #4627
This bit me again today. Glad I filed it 😆

[2021-12-06 06:58] awhitford-cip opened #4858 "Create an Issue with Project Custom Fields"
### Describe the feature or problem you’d like to solve

Related to #4547, need to create an issue that is linked to the new Projects (Beta).  When creating the issue linked to a project, the project fields also need to be set.  Project fields may be text, numbers, options, or dates.

### Proposed solution

`gh issue create` can specify everything except project fields.  As a result, the request i

[2021-12-06 07:46] shortyfatt2000 commented on #4849
$ gh repo fork --fork-name="forked-repo"

[2021-12-06 12:08] mislav commented on #4851
Agreed that is should be easier to consume and compare timestamps output templates! We could add template helpers that could help with that. Perhaps something that helps you parse a timestamp into a Duration (relative to the current time) and compare that with another duration?

I like the explicit configurability of timestamps in git's own commands. But, if we had consistent output regardless of

[2021-12-06 13:44] mislav commented on #4858
Thanks for the feature request. Sorry, but we don't yet have support for Projects Beta from the CLI. Duplicate of https://github.com/cli/cli/issues/4547

If you need to automate your issues using Projects Beta, you can always use the `gh api` command to issue raw API requests. This will require a bit of scripting. Details here: https://docs.github.com/en/issues/trying-out-the-new-projects-experien

[2021-12-06 13:44] #4858 closed, assigned to nobody

[2021-12-06 14:31] mislav commented on #4849
Hi, thank you for the feature request. This would have been a good addition to the CLI; unfortunately the API that we use does not support choosing the fork name at fork time: https://docs.github.com/en/rest/reference/repos#create-a-fork

You can call an additional command to rename your fork with `gh repo rename -R owner/my-project new-fork-name`, but that won't help if there is already an unrela

[2021-12-06 14:38] mislav commented on #4849
Update: I just tested and it looks like on name collisions, the new fork in your account will have a number appended to the forked repo in case you already have a repository matching the name of the repository you're forking. The fork will get named `myowner/repo-2` in case you already have `myowner/repo`. Since this works without erroring out, GitHub CLI could actually take the desired fork name

[2021-12-06 15:10] mislav commented on #4856
@bchadwic Thanks for looking into this!

That seems to be a fair assessment. However, they shouldn't "fight" over IO in a concurrent manner, since we always wait for `git` commands to finish before we resume output from `gh`. Something else is going on here, but I'm not sure what.

Note that both Survey and git clone tend to use the `\r` character (or the equivalent on Windows) to rewrite lines in

[2021-12-06 15:14] mislav commented on #4852
Hi, thanks for the feature request! Since we don't offer extension installation by specific version, we also (by design) do not offer installing prerelease extensions. I will reclassify this as a feature request in case we add version pinning support with the syntax that you've proposed.

[2021-12-06 15:16] larryclaman opened #4860 "'gh run ...' commands should support json output"
### Describe the feature or problem you’d like to solve

I'd like the 'gh run' command to support json output; eg 'gh run list --json' just like the current option with  'gh issue list --json'

### Proposed solution

How will it benefit CLI and its users?  A:  json output would allow for extended post processing as well as slicing & dicing of the output.

### Additional context

Add any other cont

[2021-12-06 15:21] mislav commented on #4739
Thanks for the info! I can't spot what's wrong with this terminal session, but it's curious that Survey gets an EOF when reading from `os.Stdin`. Is it possible that the stdin stream of this terminal is "closed" somehow?

In a bash shell, can you make a bash prompt and answer a value to it?
[code]

[2021-12-06 15:22] mislav commented on #4860
Thanks! Duplicate of https://github.com/cli/cli/issues/3477

[2021-12-06 15:22] #4860 closed, assigned to nobody

[2021-12-06 15:58] adonovan commented on #4851
That's one approach: define a ParseTime function and a Now constant. The set of available template functions would need to be documented and discoverable from the -t flag.

It still requires a fair bit of template work to compute `ParseTime(s) - Now > 1 hour`. One of those steps (ParseTime) could be eliminated if the time value were an actual time.Time. If all tables such as `repo list`, `cs list`

[2021-12-06 17:04] bidyutmondal commented on #404
Thank you so much

[2021-12-06 19:23] wez opened #4863 "release upload --clobber fails when asset already exists"
### Describe the bug

Using version `2.3.0`, `--clobber` doesn't have the effect of allowing the asset to be replaced.

### Steps to reproduce the behavior

It's a little bit of a PITA because this is in a docker container running in GH Actions.  Here's the failed run:
https://github.com/wez/wezterm/runs/4434079418?check_suite_focus=true

The gist of it is:

* Install `gh` via APT because we're no

[2021-12-06 19:25] mikebz opened #4864 "make install requires sudo to put things into usr/local/bin"
# CLI Feedback

## What was confusing or gave you pause?

On Linux the installation wants to put binaries in to /usr/local/bin which requires sudo.  Given that people are building these binaries themselves probably for themselves why not put the binaries into ~/go/bin?  If they have make and go SDK they probably have ~/go/bin and that's a more customary place to put your locally built binaries.

#

[2021-12-06 20:09] wez commented on #4863
Another data point; the problematic uploads show with red warnings like this when editing the release, after the failed upload:

<img width="954" alt="Screen Shot 2021-12-06 at 13 06 54" src="https://user-images.githubusercontent.com/117777/144914861-3d4f2081-f838-48a2-8f9e-24066f515e37.png">

They are NOT visible via the GH API:

[code]

Contrast with fedora32:

[code]

[2021-12-06 20:50] misalcedo opened #4865 "Add support for exporting the auth token from `gh auth`."
### Describe the feature or problem you’d like to solve

Allow the GH CLI to expose its auth token to other tools.

### Proposed solution
Add a new command under auth that is `gh auth token` (or similar `gh auth` subcommand) that prints a valid auth token to stdout. If the token is invalid, the command fails and prompts users to refresh the token. Alternatively, expired tokens could be auto-refres

[2021-12-06 21:34] wez commented on #4863
I deleted those broken uploads and the error still persists in a later run, so that is perhaps a red-herring?

[2021-12-06 21:45] wez commented on #4863
Here's a sequence of events from one of the failing runs:

[code]

It appears as though an interrupted upload leaves the assets in a broken state that can only be fixed by manually visiting the release UI and deleting the broken assets, before retrying the build again.  I'm prepared to do some additional scripting in this automation to delete those assets, but they just don't appear to be visible

[2021-12-07 02:33] jarednorman opened #4867 "Ability to enable auto-merge when creating PRs"
### Describe the feature or problem you’d like to solve

On fast moving teams with good CI, it's often the case that I want to enable auto-merge on most of the PRs that I make. It would be amazing if I didn't have to make a second command that depended on the PR number to enable it.

### Proposed solution

There could be a could be an option to `gh pr create` to automatically enable auto-merge. I

[2021-12-07 07:05] corani commented on #4739
Yep, that works fine:

[code]

[2021-12-07 07:37] bchadwic commented on #4856
@mislav

Thank you for the leads!

I hate to throw this back in your court, but I'd like to hear your thoughts on this:

In hopes to easily pinpoint the problem, I crudely copied and simplified the code that makes up `gh repo fork cli/cli` over to main.go. Everything works as if you typed in the actual command, however it prints the green check just fine? 🤔 It does still create my perceived "fight

[2021-12-07 09:02] mislav commented on #4867
@jarednorman Thanks for the request. We've considered it in the past but opted to rely on users running a separate command afterwards https://github.com/cli/cli/issues/2619#issuecomment-976452610

Alternatively, you can set up a GitHub Action to mark your newly open PRs for auto-merge.

[2021-12-07 09:02] #4867 closed, assigned to nobody

[2021-12-07 09:03] duooichen commented on #4867
                                          ————您发送的邮件已收到————

[2021-12-07 09:12] mislav commented on #4864
Thanks for the suggestion, but GitHub CLI isn't made primarily for Go developers to use, even though you need `go` to build GitHub CLI. Therefore, we do not want to assume that you have a `~/go/bin` or that it's in your PATH.

`/usr/local` is the "standard" installation prefix for the majority of distros. Yes, it requires root privileges, but there is never a directory in PATH that is guaranteed t

[2021-12-07 09:12] #4864 closed, assigned to nobody

[2021-12-07 10:14] crguezl opened #4870 "Add option to gh repo create to specify the name of the remote other than origin"
### Describe the feature

Add an option to `gh repo create` so that we can choose the name of the remote (default `origin`)

[code]

### How will it benefit CLI and its users?

It is useful when creating a secondary repo for an existing project

[2021-12-07 10:34] mislav commented on #4870
Thanks, but this already exists:
[code]

[2021-12-07 10:34] #4870 closed, assigned to nobody

[2021-12-07 11:03] crguezl commented on #4870
Thanks!!

Downloaded the last version.

You guys are one step ahead of my needs!

[2021-12-07 14:51] mislav commented on #4856
I think your approach of isolating the problem is sound. FWIW, the green check worked for me fine after regular `gh repo fork` in Windows Terminal, so that bug might be either just on your end or intermittent.

I don't think using a debugger is going to necessarily help here. I would double down on recreating a minimal reproduction case, ideally divorced from regular gh/git/network functionality s

[2021-12-07 16:51] jackiebrewster307 opened #4874 "// See https://aka.ms/new-console-template for more information Console.WriteLine("Hello, World!"); Console.WriteLine("The current time is " + DateTime.Now);"
// See https://aka.ms/new-console-template for more information
Console.WriteLine("Hello, World!");
Console.WriteLine("The current time is " + DateTime.Now);

[2021-12-07 16:54] #4874 closed, assigned to nobody

[2021-12-07 17:51] mislav commented on #4863
Hi, thanks for sharing all the details of this problem, and sorry that you had to go all through this. Your assessment is correct: failed asset uploads do end up with "broken" assets being stored in a database but not consistently reported by the GitHub API, and without them being inspectable & removable by API, `--clobber` has no effect here. This platform issue is known to us and is affecting an

[2021-12-07 17:58] mislav commented on #4865
You can do `gh config get -h github.com oauth_token`. It won't check the validity of the token, but it will print the exact token that gh would use for its API requests. Would this solve your use-case?

I would not rely on this approach too much in the long run, though. If some tooling needs to use GitHub CLI's own token for some API requests, the best way is to use GitHub CLI itself to make those

[2021-12-07 18:37] #4734 closed, assigned to mislav

[2021-12-07 18:44] misalcedo commented on #4865
`gh config get -h github.com oauth_token` is enough for our use case. Unfortunately, I am not sure we can use a Github App or OAuth app for our use case.

[2021-12-07 19:04] #4865 closed, assigned to nobody

[2021-12-07 19:33] rkulla commented on #286
For anyone stumbling across this PR still via google, the `github:` section should go in hosts.yml not config.yml or you will probably get errors.

[2021-12-07 20:07] mislav commented on #286
For anyone still wondering about how to use their Personal Access Token with GitHub CLI, the answer is to never edit the config files directly. Their location and format might change over time (as it already has since then). The solution is to use the `gh auth login` command, which can either generate a token for you (by taking you through the browser authorization flow) or take an already generat

[2021-12-07 22:34] corneliusroemer opened #4875 "Cannot open PR in upstream repo from action running in fork"
This is potentially working as intended, in which case this is a feature request to change the behaviour or allow the default behaviour to be overwritten.

### Describe the bug

When running the following command in an action in a fork of `bioconda/bioconda-recipes`
[code]

I get the following error:
[code]

This seems to be because the `GITHUB_TOKEN` does not have permissions to open a PR in a re

[2021-12-08 07:48] samcoe commented on #4264
Reopening per discussion: https://github.com/cli/go-gh/issues/5#issuecomment-988575337.

[2021-12-08 09:09] bchadwic commented on #4856
Because of this, I installed gh and git on a new user on my machine. Oddly, the new user printed the check just fine. I then decided to test the combination of each user vs each installed gh using their absolute paths:

logged in...
||as new user|as main user|
|--|--|--|
|using new user gh|✓|bad|
|using main user gh|✓|bad|

Is it possible, even after uninstalling / reinstalling git any non system

[2021-12-08 11:21] #4466 closed, assigned to nobody

[2021-12-08 11:34] mislav commented on #4875
This is by GitHub Actions design. I'm sorry, but the workaround you've already found is the correct way to fix this.

We cannot print a more descriptive error messages from GitHub CLI because the platform is intentionally vague in API responses with error messages on GITHUB_TOKEN permissions errors.

[2021-12-08 11:34] #4875 closed, assigned to nobody

[2021-12-08 12:20] #3987 closed, assigned to nobody

[2021-12-08 12:51] lfry512 commented on #901
In case this helps anyone, I encountered this issue while trying to clone a private repo onto a raspberry pi connected to my pc via ssh and to the internet via ethernet. I generated a default authentication token for this and used `gh`, but this wouldn't allow me to clone. The right way was to `gh auth login` with browser option, which fails on the rpi, but I could then paste the link and the code

[2021-12-08 13:02] corneliusroemer commented on #4875
Thanks for clarifying.

Maybe add a comment about this in the cli/action docs if there isn't one already?

[2021-12-08 14:52] mislav commented on #4875
I don't think the GitHub CLI is the right place to document Actions-specific features. The generated GITHUB_TOKEN came from GitHub Actions and its behavior is documented there: https://docs.github.com/en/actions/security-guides/automatic-token-authentication

[2021-12-08 15:00] corneliusroemer commented on #4875
Right, it's explained quite well indeed.

If others stumble upon this and find this issue one could in theory add it [here](https://docs.github.com/en/actions/advanced-guides/using-github-cli-in-workflows), but you're right, this would be duplication.

[2021-12-08 15:25] #4835 closed, assigned to nobody

[2021-12-08 20:12] corey7754 opened #4877 "Bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-12-09 02:56] wez commented on #4863
For now, I've found that moving the `gh release upload` to a separate job that doesn't run in the container has a better success rate than inside the container.

[2021-12-09 09:35] georgettica opened #4878 "add to `gh repo fork --clone` an option to choose which branch to resolve"
### Describe the feature or problem you’d like to solve

when I clone or fork a repo using the `gh` cli, I get `origin` and `upstream`
I would like to have a way to set the `gh-resolved` flag easily

### Proposed solution

add this subcommand that will allow choosing via the cli with a `--remote` which one I would want
this will help users who clone repos alot (ones that have 2 remove) start using

[2021-12-09 09:39] georgettica opened #4879 "allow `gh pr create --fill` to be non-interactive"
### Describe the feature or problem you’d like to solve

when running `gh pr create --fill` and the branch is not pushed, an interactive window is opened.
I would like this choice to be taken away by configuring it once per repo

### Proposed solution

add a `gh-push-to` env same as `gh-resolved` to resolve where to push the branches
then add a flag to `gh pr create` to auto-choose that env (thus

[2021-12-09 09:40] georgettica commented on #4879
duplicate again of https://github.com/cli/cli/issues/1718

[2021-12-09 09:40] #4879 closed, assigned to nobody

[2021-12-09 09:43] georgettica commented on #1718
@samcoe could you help prioritize this?
it seems to have been lost in the rubble

(saw you assigned yourself an issue)

[2021-12-09 12:12] mislav commented on #4879
Thanks for the request! As a workaround, you can `git push -u <remote> HEAD` your branch before running `gh pr create --fill` to avoid being prompted to push.

[2021-12-09 12:19] georgettica commented on #4879
yeah, I don't like that solution as it's having two commands.. I want to add a flag to the current commands

[2021-12-09 13:18] metaben commented on #1326
Why isn't this done when gh is installed? :)

[2021-12-09 14:04] mislav commented on #4863
@wez: Interesting! We've had a similar report in the past where Docker networking played a role in asset upload speeds too https://github.com/cli/cli/issues/3252#issuecomment-801214649

To be clear, I do think that there is definitely a problem on the GitHub platform too, but if you can change your stack to achieve faster uploads, then the problem is for the most part mitigated.

[2021-12-09 14:51] wez commented on #4863
It's curious that artifact uploading from inside docker is reliable, while release uploading is not: it's the same data being transferred out of the container.

[2021-12-09 15:49] mislav commented on #4878
We're planning to make dedicated functionality to make choosing of the base repo easier without the interactive prompt. Duplicate of https://github.com/cli/cli/issues/2300

[2021-12-09 15:49] #4878 closed, assigned to nobody

[2021-12-09 15:51] mislav commented on #4856
Hmm, I don't know how to explain the fact that you're seeing different output when logged in with a different user 😕

You're right, maybe this issue is too obscure/intermittent for us to spend time doing a deep dive on, but as a stab in the dark, I do think that stopping using `os.Stdout` for shelled-out git commands and instead of connecting them to the output streams of our IOStreams object woul

[2021-12-09 15:57] mislav commented on #1326
Update: GitHub CLI now has a dedicated command to set gh as a git credential helper for HTTPS repos:
[code]
This command is useful if you _haven't gone_ through the full interactive `gh auth login` flow but you still want to configure your `~/.gitconfig` to use gh for getting the token for cloning.

@metaben: gh absolutely does this on first setup with `gh auth login`: https://github.com/cli/cli/i

[2021-12-09 16:17] MylesBorins opened #4880 "Improve error message for "unknown commands" for well-known sub commands"
### Describe the feature or problem you’d like to solve

As a long time `hub` user I have tried to run `gh fork` a number of times to be reminded that I have to run `gh repo fork`.

I was informed that i could make an alias to avoid this error in the future by @mislav.

[code]

Would be great to see if we could impart similar wisdom automatically as part of the error message.

### Proposed solutio

[2021-12-09 18:50] cdarrigo opened #4881 "Mark a repo as a template"
### Describe the feature or problem you’d like to solve

There is currently no way to mark a repository as a template when creating a repo.

### Proposed solution

The lack of support requires manual intervention to log into the GH repo, go to settings and mark the repo as a template.

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.
We need a C

[2021-12-09 21:48] Bladez1753 commented on #846
Thanks

[2021-12-09 23:55] Ruby6789 commented on #846
#846

[2021-12-10 08:27] brzuchal opened #4883 "Improve default title on pr create by leaving dashes"
### Describe the feature or problem you’d like to solve

Using some branch naming conventions when a 3rd party issue tracker like Jira ticket number is expected in branch name worked until recently prediction mechanism started replacing dashes as well which makes the use of `gh` CLI slower than using `--web`. Dunno actually what really changed but so far it worked like that.

### Proposed solution

[2021-12-10 12:32] mislav commented on #4863
@wez I agree it's absolutely weird, but these are differently implemented blob storages, which could account for a different upload experience.

[2021-12-10 12:44] #995 closed

[2021-12-10 12:49] mislav commented on #4881
With the `repo edit` functionality that just landed in trunk https://github.com/cli/cli/pull/4318, from the next gh release you will be able to do this to mark a repo as a template:
[code]

[2021-12-10 12:49] #4881 closed, assigned to nobody

[2021-12-10 13:35] g14a commented on #4880
@mislav is it okay if I pick this up? Personally I can relate to this issue because `gh` has become vast and complex recently with so many commands and subcommands, so one tends to get confused if they're new to the tool.

I'd like to know what sort of improvement can be brought here..

[2021-12-10 14:17] judahrand commented on #3855
I agree, it would be great to have something that behaves like `gcloud auth application-default login` but for `gh`

Has there been any progress internally @mislav?

[2021-12-10 14:19] mislav commented on #4880
Sure, go right ahead! 🚀

I think how this could work is: if there is no command (and no aliases nor extensions) matching `gh foo`, what gh could do is iterate all sub-commands and reporting matching ones:

[code]
The formatting doesn't have to be exactly like the above; it was only for illustration purposes. As a real-world example, today Cobra has this behavior where it detect mistypings of comma

[2021-12-10 15:01] mislav commented on #4883
Hi, sorry that this bit you, but this piece of functionality ("humanized" titles from branch names) is meant to match GitHub.com, which suggests a default PR title for multi-commit branches based on the branch name. On the web both `-` and `_` are replaced with spaces.

The humanized title is only meant to be a default value, however, and isn't meant to match everyone's workflow. It sounds like yo

[2021-12-10 15:01] #4883 closed, assigned to nobody

[2021-12-10 17:43] mislav commented on #3855
Yes, it's an area we're actively looking at according to this roadmap item: https://github.com/github/roadmap/issues/184

However, I'm not able to share more detailed progress updates until we have something more to announce publicly. We will for sure update this thread 👍

[2021-12-10 19:23] brzuchal commented on #4883
@mislav thanks for the quick response, I've managed to craft custom extension.

[2021-12-10 23:49] catskul commented on #2666
turns out PRs show up as issues in githubs API. So you can determine the thread_id related to the PR, but the problem is the API will not let you unsubscribe unless there's an active notification. I.e. if you have in-app notifications turned-off and email notifications turned on it's completely impossible to unsubscribe via the API.

If they resolved that issue, then it would be easy to implement

[2021-12-11 04:51] g14a commented on #4849
@mislav I tried fixing this by the approach you mentioned i.e renaming it after forking. I've opened a PR https://github.com/cli/cli/pull/4886. Do give feedback on what changes can be done here thank you :)

[2021-12-11 06:58] GadgetSteve opened #4887 "Documents mention search but give no information"
### Describe the feature or problem you’d like to solve

Looking to be able to use `gh issue list --search ` but the documents mention it without giving any specifics or where to find the information.

### Proposed solution

Provide links to https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests in the documents for both `gh issue` and `gh pr` - this will a

[2021-12-11 08:49] leap0x7b commented on #4739
I can reproduce the issue but now it also occurs with other `$TERM` values including `xterm-256color`
[code]

[2021-12-11 08:53] leap0x7b commented on #4739
Looks like it also happens with other commands that has interactive prompts
[code]

[2021-12-11 08:54] leap0x7b commented on #4739
I recently got this issue when I want to create a repository. Restarting the terminal fixes this problem.

[2021-12-11 09:51] GadgetSteve opened #4888 "Update documentation around `--limit` flag restriction"
### Describe the feature or problem you’d like to solve

A number of options have a `-L` or `--limit` option with defaults (20 or 30) and can be supplied with a `--limit n` _where n is a positive integer_ option, e.g.:
[code]
However, if the user needs to get a list of all of the open issue numbers they need to either guess how many there might be or supply a very high number.

### Proposed soluti

[2021-12-11 12:34] monstro805 opened #4889 "https://github.com/monstro805/node/tree/master"

[2021-12-11 23:22] ewinAT opened #4890 "## What's Changed"
## What's Changed
* Bump bluemonday to silence the security alert by @mislav in https://github.com/cli/cli/pull/4607
* Fix stack overflow in AddJSONFlags by @rsteube in https://github.com/cli/cli/pull/4614
* Fix rendering issue in "formatting" help topic by @pbnj in https://github.com/cli/cli/pull/4661
* Adds a timeout context to the ssh waiter to prevent indefinite hanging by @reybard in https://

[2021-12-11 23:30] #4890 closed

[2021-12-12 00:14] Maxnoue opened #4891 "title"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-12-12 09:38] RamonaReitz opened #4894 "@mislav I tried but I keep getting this error"
@mislav I tried but I keep getting this error
[code]

[2021-12-12 10:22] ssbarnea commented on #2300
I think that we need a `gh pr reset` or another smart way to allow user to correct it. I face this quite often and I will never be able to remember the very long workaround for unconfiguring the current wrong default remote. Maybe even a info text mentioning how to reset it would do?

Still 50+ votes and no solution is bad. This clearly indicates that the current experience is bit lacking and that

[2021-12-12 10:36] georgettica commented on #2300
@ssbarnea  If you look there are many PR's related to that, so it's trying to get solved by the community

[2021-12-12 15:06] gliptak commented on #3280
this offers similar functionality https://github.com/marketplace/actions/auto-request-review

[2021-12-12 15:42] ldelossa opened #4896 "Upgrade command"
### Describe the feature or problem you’d like to solve

The GH tool should be able to upgrade itself.

### Proposed solution

Because the gh tool is a static go binary and CI jobs push the binary to the release pages, it seems possible for the `gh` cli to upgrade itself in a boot-strapping fashion.

The CLI can resolve the path in which its running from and determine if it's writable or not, down

[2021-12-12 16:03] corneliusroemer opened #4897 "Document required permissions for access tokens for each CLI command"
I'm generating a PAT token to pass to `gh` to allow me to create an issue with `gh create issue`.

Unfortunately, I couldn't find out which permissions I need to give my access token for this command to work. It would be great if this was documented for each command, say here: https://cli.github.com/manual/gh_issue_create

[2021-12-12 22:35] brooksjuice7 opened #4898 "Kodi"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-12-13 01:15] #4898 closed

[2021-12-13 03:57] #4894 closed

[2021-12-13 10:29] mislav commented on #4896
Thanks for the suggestion! This was suggested a while ago, but we haven't acted on it because most people seem to be installing gh using a package manager, and we don't think it's a good idea in general for package-managed software to be self-upgrading. However, we are open to the idea of gh updating itself when _not_ installed via a package manager, so please add your ideas to the thread: duplica

[2021-12-13 10:29] #4896 closed, assigned to nobody

[2021-12-13 10:59] mislav commented on #4888
Hi, thank you for the feature request, but it is by design that you must always specify the limit for fetching issues, pull request, repositories, or basically any unbounded set of data on GitHub.

Having a "no limit" setting would be convenient but would also be tricky if people started using it in their workflows or scripts without giving it a second thought. For example, fetching all issues wit

[2021-12-13 11:10] mislav commented on #4897
Hi, per our documentation:
[code]
Technically, the minimum scope to open issues is just `repo`, (or `public_repo` for working with public repositories), but if the repository is under an organization, the `read:org` scope will be necessary if the issue will ever belong to any org-scoped Projects or if you're going to create Pull Requests which have an org team as a reviewer.

Other commands might

[2021-12-13 11:10] #4897 closed, assigned to nobody

[2021-12-13 11:11] GadgetSteve commented on #4888
If there were a simple to use continue or start-from mechanism documented this would allow a work-around.

[2021-12-13 11:19] mislav commented on #4888
@GadgetSteve Possibly, but I'm not sure how gh would display pagination info in its UI. Exposing lower-level pagination info doesn't seem like a great fit for gh right now, and if you need a way to continue paginating based on a previously fetched set, perhaps you should drop down to the GitHub API level manually where you have access to `page` parameter in REST API or cursor pagination in the Gra

[2021-12-13 12:22] leoluk opened #4899 "Fedora repo file insecure specified public key"
The [dnf repo file](https://cli.github.com/packages/rpm/gh-cli.repo) for gh uses an insecure http:// link to specify the key file, making it susceptible to MITM:

[code]

Of course, in theory, the user is expected to verify the checksum, but in practice, most users just press `y`.

[2021-12-13 13:01] #4899 closed, assigned to nobody

[2021-12-13 13:01] mislav commented on #4899
Thanks! I've changed the URI to `https:`

[2021-12-13 13:31] mislav commented on #4887
@GadgetSteve Thank you for raising this issue.

Out [project layout documentation](https://github.com/cli/cli/blob/trunk/docs/project-layout.md) has some pointers about where the code for an individual command can be found, but we don't also document the fact that command documentation is embedded in its Go code. For example, `gh issue list` documentation: https://github.com/cli/cli/blob/2d0b9460b

[2021-12-13 14:00] #4715 closed, assigned to nobody

[2021-12-13 17:41] jongio opened #4903 "gh repo create no longer outputs the created repo info with v2.3.0"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

With 2.2.0 when you call `gh repo create` it outputs the created repo info.
With 2.3.0 `gh repo create` returns no information about the created repo.

I now have to special case my scripts to look for v2.2 or 2.3 when creating a repo.

Please output repo info on create.

### Steps

[2021-12-13 17:42] jongio commented on #4903
Related: https://github.com/cli/cli/pull/4578

[2021-12-14 00:18] snowmanwwg commented on #2617
also having the same issue. what is the fix?

[2021-12-14 10:20] keevan commented on #308
So whilst this issue is closed, I encountered an issue whilst trying to modify things - like creating issues, adding PR comments - today, and thought I'd share my experience for others who might stumble here.

I tried to configure my editor (using `gh config set editor vim`), but every time I went to a step which triggered it to open, I was met with:
[code]

Trying a few different options, even th

[2021-12-14 16:19] mislav commented on #641
Closing this as all filtering options are now available through `--search` and there is no upcoming work to track anymore. We do not intend to add explicit flags for each of the filtering options, so more advanced filtering queries will need to depend on using the GitHub Search syntax on the CLI. For example, to find PRs based on a commit SHA:
[code]
Currently, the CLI offers no documentation on h

[2021-12-14 16:19] #641 closed

[2021-12-14 16:25] mislav commented on #4903
Thank you for reporting! Definitely an unintended regression.

[2021-12-14 17:55] hh-lohmann commented on #4870
@mislav "already exists" since v2.3.0, i.e. about two weeks before this feature wish, right? And good to know in advance that it "can only be used with `--source`", so we'd be better off to know what `--source` is about, regarding it is established as long as `--remote`

[2021-12-14 18:28] hh-lohmann opened #4906 "Wrong 2.3.0 Release notes on "gh repo create" - there ARE breaking changes for Git "remote" settings"
Release notes say "`gh repo create` will not behave differently inside a local git repository."

In fact it does not set a default Git remote `origin` as push destination anymore without using the newly introduced `--source`.

This gets further obscured by git-push complaining about not finding a `remote`:

[code]

A mentioning of `remote` near `--source` in the v2.3.0 release notes would help to

[2021-12-14 18:42] hh-lohmann commented on #4906
Of course you can find that by `gh help repo create`, but my expectation for "Release notes" is not having to compare the help of new version with that of old version by myself.

[2021-12-14 20:49] meiji163 commented on #4906
By "will not behave differently inside a local git repository" I meant that this _is_ a breaking change.
Before,`gh repo create` would detect if you are in a local git repository and use that to guess what you want to do.
Now it will not detect that, and you have to specify the path to the local repo with `--source`.

Sorry for the confusion!

[2021-12-14 20:50] mislav commented on #4906
Thanks for reporting!

Sorry about the release notes not being clear on this matter. The sentence `gh repo create will not behave differently inside a local git repository` was _not_ meant to indicate that backwards compatibility was kept, but was meant to communicate that from this release, `gh repo create` will *not* have _special behavior_ when in a git repository, which was previously to add a

[2021-12-14 21:31] mislav commented on #4906
Ah, I see now. I suspect you are talking about a script like this, which is now broken:

[code]
I agree that it's unfortunate that the real problem was only revealed after a separate command following `gh repo create`, since  `repo create` did not report any errors or warnings. It's true that the command now does less than before, since we've identified that it was overloaded with too much "magic"

[2021-12-14 21:40] sinekhayantuli commented on #4906
The reason it was emty there, we had to many  strings attached but for that
to work very well you need to get live that base is solid.

On Tue, 14 Dec 2021, 23:34 sinekhaya Brian ntuli, ***@***.***>
wrote:

[2021-12-14 21:58] gilmatic commented on #4506
I have searched the docs for how to do exactly this.

My Enterprise Github configuration does not (yet?) allow Github Actions, so many of the build/test/release workflows normally handled by GH Actions are being handled by teams leveraging scripts in their Jenkins pipelines. Leveraging the GH CLI to do this would clean up some of the clunky curls littered across the org.

Thanks @dbalatero for ope

[2021-12-14 22:17] dbalatero commented on #4506
Just to reiterate, I'm happy to make these changes and write a PR, I just need sign off from the repo owners on:

1. Is this an acceptable feature to add, at a high level?
2. Is my proposed API peaceful with everyone?

(who can I tag to get 👀  on this?)

[2021-12-14 22:23] dbalatero commented on #4506
Tagging @mislav as I see you're active on other issues and this might be fairly straightforward to triage-if not apologies for the tag.

[2021-12-14 22:27] dentarg opened #4907 ""HTTP 404: Not Found" from `gh repo sync`"
### Describe the bug

Syncing a fork with `gh repo sync user/repo` seems to no longer work.

[code]

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

Sync fork without error.

### Logs

[code]

<Details>
<Summary><code>curl -s -v https://api.github.com/repos/dentarg/puma/git/refs/heads/master</code> returns 200 response</Summary>

[code]

</Details>

[2021-12-15 01:58] Modusto509 opened #4908 "Blocks"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-12-15 05:48] bchadwic commented on #4856
Agreed, I stopped sourcing the problem for now. If I see anything else out of place with related output, I'll report back.

[2021-12-15 05:48] #4856 closed, assigned to nobody

[2021-12-15 10:35] shindere commented on #2666
catskul (2021/12/10 15:49 -0800):

But it woulnd't make sense to unsubscribe if you are not subscribed in
any way, right?

[2021-12-15 10:37] shindere commented on #2666
FWIW I asked GitHub to have a way to watch issues and PRs where you are
notified only once for each new issue and then it's up to you to decide
whether you want to subscribe or not. That would be ideal for me but so
far they didn't respond.

[2021-12-15 10:47] #4908 closed

[2021-12-15 15:19] mislav commented on #2617
@snowmanwwg The solution for the `unable to find git executable in PATH` error is to install Git for Windows and restart your terminal app so that the changes are picked up.

[2021-12-15 15:51] catskul commented on #2666
It does actually. Because subscriptions exist regardless of active notifications. I.e. if you have dismissed a notification for a specific event on a thread, but are still subscribed to the thread. Or if you turned off app notifications, but have email notifications turned on.

[2021-12-15 16:03] shindere commented on #2666
catskul (2021/12/15 07:51 -0800):

Got it.

How should we proceed then?

Even if it's dirty, couldn't we unsubscribe by doing what the web
browser does, until something gets implemented at the API level?

[2021-12-15 17:28] catskul commented on #2666
The browser seems to use a  POST endpoint which doesn't appear to be in the official API from what I can tell:

https://github.com/notifications/thread

Where the post data looks like:

[code]

The official API has https://github.com/notifications/threads  (note the s) but it does not accept that POST, and trying (https://github.com/notifications/thread does not appear to work either)

 On the oth

[2021-12-15 18:05] #4903 closed, assigned to mislav

[2021-12-15 18:10] mislav commented on #4907
Thank you for reporting! I was tracking this down both based on your report and the one in another project https://github.com/mislav/bump-homebrew-formula-action/issues/23, both of which use the same API endpoint, both that result in an intermittent 404, and thus I believe share a common root cause.

My previous assumption was that as soon as a new commit was made to the main branch of `puma/puma`

[2021-12-15 18:16] mislav commented on #2666
Don't forget that there is a GraphQL API too:
[code]

[2021-12-15 19:20] mislav opened #4912 "pr list: add more information about author in JSON output"
Currently, `gh pr list --search is:closed --json id,title,url,author` returns:

[code]

What could be useful information to add the `author` object is the author ID (for scripting), their full name, and the information about whether the author is a bot account. Ref. https://github.com/cli/cli/issues/4045#issuecomment-978074434

_Originally posted by @axelson in https://github.com/cli/cli/discussio

[2021-12-15 19:29] Suhaimi11 commented on #4912
Pada tanggal Kam, 16 Des 2021 03.22, Mislav Marohnić <
***@***.***> menulis:

[2021-12-15 19:53] JasonEtco opened #4913 "Add `gh cs rebuild` command to rebuild Codespaces"
### Describe the feature or problem you’d like to solve

When setting up a Codespace or pulling in changes to the devcontainer, you sometimes need to rebuild the Codespace before seeing those changes. In VSCode, there's a handy button to do that (the 🛠️ ):

![image](https://user-images.githubusercontent.com/10660468/146255576-784ca8ef-5297-446b-9f79-8d0911885f53.png)

### Proposed solution

Add a

[2021-12-15 21:26] dentarg commented on #4907
Yeah, that's true! Had forgotten about that incident, [I actually commented on that](https://github.com/rbenv/ruby-build/commit/6147a6dae9c64c288ae009118ecc42ba6776c4dc#commitcomment-60826321) :-)

Is something stuck? Can you poke those engineers? I'm still getting the 404 response:

[code]

[2021-12-16 02:03] danielcompton opened #4916 "Include job name in `gh pr checks`"
### Describe the feature or problem you’d like to solve

We have a number of services we test in every PR. There is one workflow per service, with a `test` job within that workflow.

In the PR view you can see `[Workflow name] / [job name]` which lets you disambiguate checks.

![CleanShot 2021-12-16 at 14 59 04@2x](https://user-images.githubusercontent.com/811954/146294072-dd395bb0-f489-4b1b-af6d-