[2020-10-02 15:51] JS-Tech commented on #2065
Its nice explained,but sometimes is litle fuzy, test and live.
All the best and take carre in this times
Jurij Skofic

[2020-10-02 15:51] #2065 closed

[2020-10-02 16:03] cyrilletuzi opened #2067 "Take only the relevant changelog's part on gh release create --notes-file"
First, thanks for the hard work! 👍🏻

### Describe the feature or problem you’d like to solve

Currently, creating a GitHub release with a description coming from a changelog file (`gh release create v1.0.0 --notes-file changelog.md`) is taking the whole changelog file, which gets less and less ideal over time as the changelog grows.

It would be better to just take the relevant part of the changel

[2020-10-02 16:11] JohnnyCrazy commented on #2026
Just to add some more info here:

Since it is required to have a `git` directory in the current folder when running `gh repo create`, this also happens when you're not supplying a name the initial CLI call.

In the following case the repo is inside `projects/restaurant/api`

**Wrong Name**:
[code]

**Correct Name**:
[code]

[2020-10-02 17:42] jmdejong opened #2068 "`gh repo garden` does not reset the terminal to proper state"
### Describe the bug

When I run `gh repo garden` and quit using 'ctrl-c' my cursor stays hidden.
When I run `gh repo garden` and quit using 'q' I am still in noecho mode (I don't see the characters I type).

gh version: v1.0.0
Terminal: Konsole 20.08.1
`$TERM`: xterm-256color

### Steps to reproduce the behavior

1. type `gh repo garden`
2. press 'ctrl-c'
3. the cursor is now not visible anymore

[2020-10-02 17:45] vilmibm commented on #2068
the code is trying to reset but clearly I didn't do it correctly or portably -- i know i do get my cursor back when exiting with `q` in my environment (gnome-terminal, fish). i'll have to audit the terminal reset code across platforms.

it also might be time to give up and pull in one of the third party libraries that can manage terminal state for me.

[2020-10-02 17:46] jmdejong commented on #2068
it does give my cursor back when exiting with `q`; it just doesn't show the text I type anymore. Hiding the cursor only happens when I quit with ctrl-c

[2020-10-02 18:13] dev348 commented on #2067
trophy: Automate versioning and CHANGELOG generation, with semver.org and ... If you would like to prefix your tags with something else, you can do so with the -t flag.

[2020-10-02 18:16] dev348 commented on #2026
Used git rev-parse --show-toplevel to check parent directory, and all is right. This folder contains .git repo.

Feels like .git folder existings, check in root dir, and not here git rev-parse --show-toplevel

[2020-10-02 18:22] dev348 commented on #2068
I found the answer to a problem with similar symptoms. I'll include it here for someone who finds this page looking for an answer, as I did.

In my case, the cursor didn't move, or show my typing onscreen.
However, it actually executed the command (if I pressed Enter), even though it looked like I didn't type anything in!

The solution was to type reset < Enter >

Turns out it can be an issue for

[2020-10-02 18:54] hugo-paredes commented on #2061
@mislav Well, I don't see the header you mention. Can you show me an example of what I should expect?

[2020-10-02 19:00] jmdejong commented on #2068
I suppose this is actually 2 different issues:
The hidden cursor is just because ctrl-c is not caught, or the reset is not done in the ctrl-c handling.
The noecho issue is something that only happens in a regular exit.

I found out that the noecho issue appears on bash, csh and ksh, but not on fish and zsh

[2020-10-02 20:29] raygervais commented on #2027
I'm going to toy with this, love the idea.

[2020-10-02 21:27] propertone opened #2070 "Don't require auth login when both GH_HOST and GITHUB_ENTERPRISE_TOKEN are set"
### Describe the feature or problem you’d like to solve

In a repo context, If both GH_HOST and GITHUB_ENTERPRISE_TOKEN are set and one of the remotes matches GH_HOST, auth login should not be required. This works outside the repo context, but not inside a repo.

If we're already storing the token in GITHUB_ENTERPRISE_TOKEN, then logging in and storing the same token in the `hosts.yml` config file

[2020-10-02 22:52] boesing commented on #1331
@mislav I guess when preparing that "restore" feature in #906 where it is possible to use informations from a file, this could be kept in mind when implementing 😍

[2020-10-03 01:15] cesoun opened #2071 "Supply --web to gist create to streamline create & view process"
I would like to able to able to supply the `--web` flag, or something similar, potentially a configuration option, to gist create options.

for example:  `gh gist create [<filename>... | -] --web`

This would then open the created gist in the browser.

Currently it requires you to copy the gist id and supply it in `gh gist view`.

[2020-10-03 03:10] dev348 commented on #2068
Okay please show the photocopy issue I will try to understand native of problem

[2020-10-03 03:20] dev348 commented on #2027
# Yeah I see you're issue can you elaborate the problem what you facing in container

[2020-10-03 03:25] dev348 commented on #2070
[](p3)

[2020-10-03 03:29] dev348 commented on #2070
` storing the token in GITHUB_ENTERPRISE_TOKEN, then logging in and storing the same token in the hosts.yml config file is redundant and defeats the purpose of having GITHUB_ENTERPRISE_TOKEN `

[code]

[2020-10-03 03:42] dev348 commented on #2071
solve the problem awesome to feedback
[code]
It's look good

[2020-10-03 03:50] propertone commented on #2070
I'm starting with an empty configuration (`rm -rf ~/.config/gh`), with both GH_HOST and GITHUB_ENTERPRISE_TOKEN set, inside a repository whose remote points to the same host as GH_HOST.

Running `gh issue list` throws an error:
[code]
My request is that this step should not be required since gh already has the necessary auth information from the 2 environment variables.

[2020-10-03 07:56] Meiryo7743 commented on #2064
Thanks for your reply.

Yes, I updated the definitions (1.325.20.0 -> **1.325.79.0**), but the bug have still remained.

[2020-10-03 08:06] jmdejong commented on #2068
Your description of the noecho problem is accurate: I can type the characters and they are used, but they don't actually show up on the screen (similar to when you're entering a password with getpass).
I just wanted to add more information for clarification.
The problem is caused because https://github.com/cli/cli/blob/72eeae9d1dc4af1fd40e3271ad17125e8c1b8237/pkg/cmd/repo/garden/garden.go#L209 isn

[2020-10-03 09:08] jmdejong commented on #2068
I've managed to fix the noecho problem in #2072

The hidden cursor problem still remains.

[2020-10-03 10:02] lfaveur commented on #1871
I found the solution I just make a gh command and i had a message to authenticate me ...
i follow informations on the console and it works. When i followed tutorial on the website i didn't understand why it does not work ... now its work find :)

[2020-10-03 10:04] #1871 closed, assigned to nobody

[2020-10-03 10:30] Torkin1 opened #2073 "Unable to set a default remote repo"
### Describe the feature or problem you’d like to solve

I'm using CLI with a SVN repository hosted on Github. In order to do actions with said repo, I have to specify in every command the repository with the flag -R. In my opinion it would be great if i could set one or more remote repos and tell CLI to use it as the target of the other CLI commands, so that i'm not forced to specify the reposito

[2020-10-03 10:54] baysideengineer opened #2074 "Create an issue overview"
### My Problem

At the end of the day I'd like to see an overview (or summary) of all my open issues in every repository (also in organizations). I'd like to see what's open, so I can pick a random issue and work on it. Maybe it's also an idea for GitHub web. A filter for milestones, labels and assignees would also be great.

### Example

Maybe it can look like this.

[code]

[2020-10-03 12:06] ghost opened #2075 "Trending repositories"
### Describe the feature or problem you’d like to solve
List of trending repositories on Github. I know that the trending page that github has does not
have a corresponding api, and most of the implementations a have seen is with scraping the trending page,
but I think similar query can be made.

### Proposed solution
[code]

### Additional context
I already have some implementation of this flow t

[2020-10-03 18:23] gibfahn commented on #1331
Can you do this (and save it as a `gh` alias for easier reuse)?

[code]

[2020-10-03 22:09] abdullahceylan opened #2077 "Letting the user specify the base init dir for the newly created repo"
### Describe the feature or problem you’d like to solve

I'm really happy to use `gh` for my projects and it's really helping me with increasing GitHub processes speed. But when I use `gh repo create`, it initializes the created repository in the current directory and I cannot customize the target base folder.  If I'm in another directory than the actual folder I would like to create the project i

[2020-10-03 22:13] numanjvd82 opened #2078 "Can't authenticate credentials for GitHub CLI from git bash"
### Describe the bug

I can't authenticate my GitHub credentials for GitHub CLI from git bash. I am getting an error "Could not prompt: incorrect function". I have also done a fresh install of git.

###Logs
Here are my logs:

$ gh auth login
 What account do you want to log into?  [Use arrows to move, type to filter]
 GitHub.com
  GitHub Enterprise Server
could not prompt: Incorrect function.

[2020-10-03 23:41] Goku-San opened #2079 "Question Do I need to set delete_repo scope for each repo???"
Hello, let me just first say You have done a  nice job.

Now :) as the title says do I need to set **delete_repo** scope for each repo I create??

I installed the cli 2 days ago and I am trying the options, so I have all ready set the delete_repo scope.

Please give advice.

[2020-10-03 23:55] StefanXhunga commented on #2079
Thank you for your asistance and help!

[2020-10-04 02:58] bigcook12345 commented on #2079
No worries, thank you for yours...

On Sat, Oct 3, 2020, 6:56 PM Stefan Xhunga <notifications@github.com> wrote:

[2020-10-04 03:59] yenchen-compass opened #2081 "Question: How to search all PRs based on author and status in repo"
as title, any parameters I can use to search all PRs based on author and status. so far the only way I can come up with is
`gh pr list -L 100000 | grep "author account" -s closed`. However, it takes really long time to get response.

[2020-10-04 09:58] contourintegrals opened #2082 ":bug: gh repo create: Outputs (and creates with an) invalid repository name, directory name instead of the passed repository name"
### Describe the bug

I tried to create a repository using `gh repo create`. It asked some questions, and after all the questions, it asked the confirmation, but the confirmation message is not output-ted properly

Output of `gh --version`
[code]

### Steps to reproduce the behavior
1. Type `gh repo create` and answer the questions that follow.
2. When the confirmation stage appears, it seems like

[2020-10-04 10:01] contourintegrals commented on #2078
Related: #1923

[2020-10-04 10:06] contourintegrals opened #2083 ":feature-request: Request for deleting a remote repository"
### Describe the feature or problem you’d like to solve
I would love to have a feature that deletes a non-internal repository(Public/Private). Something like `gh repo delete`

### Proposed solution

Add a command like: `gh repo remove` that asks the questions: the repository name, the user password and a confirmation. Also, a option to authorize the user through the Website, just like after deleti

[2020-10-04 10:45] ShubhankarKG commented on #2083
Related : #1084

[2020-10-04 12:51] reeMhn opened #2084 "Does the `-R` option not suffice for this?"
Does the `-R` option not suffice for this?

_Originally posted by @vilmibm in https://github.com/cli/cli/issues/1931#issuecomment-700932295_

[2020-10-04 12:52] reeMhn opened #2085 "gh pr checkout 22532"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-04 12:52] #2085 closed

[2020-10-04 12:52] reeMhn commented on #2085
gh pr checkout 22532

[2020-10-04 12:52] reeMhn commented on #2085
gh pr checkout 22532

[2020-10-04 12:53] reeMhn opened #2086 "Die"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-04 12:54] reeMhn opened #2087 "### Describe the bug A clear and concise description of what the bug is. Include version by typing `gh --version`. ### Steps to reproduce the behavior 1. Type this '...' 2. View the output '....' 3. See error ### Expected vs actual behavior A clear and concise description of what you expected to happen and what actually happened. ### Logs Paste the activity from your command line. Redact if needed."
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-04 12:54] reeMhn commented on #2087
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-04 12:55] reeMhn commented on #2087
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-04 12:55] #2087 closed

[2020-10-04 13:28] #2086 closed

[2020-10-04 13:28] #2084 closed

[2020-10-04 17:13] Stronger6546 opened #2088 "Resolve"
@probablycorey

### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-04 17:51] waldyrious opened #2090 "Unclear message about base repository when creating a PR"
I suppose this has recently changed in #1706. The current prompt is confusing to me:

[code]

There are two issues here:

1. I am not sure what "base repository" means here; my mental model when creating a PR is one of "source" (e.g. my fork) and "target" (e.g. upstream), and I could interpret "base" as referring to either of these.
2. It's not clear what "for this directory" means. I would expect

[2020-10-04 17:56] waldyrious commented on #2090
Note: I had erroneously committed to `master` instead of to a feature branch before creating this PR — I suppose that may be why I saw this message. Regardless, `gh` didn't help me figure this out, but instead confused me further; so I suppose the message could be clarified.

[2020-10-04 17:58] raygervais commented on #2075
Would love to have this built in! If you need any help @kochevRisto I'd love to bounce the workflow / ideas off you.

[2020-10-04 18:31] sehz commented on #1739
I just ran into the same issue.  This simple command requires to you to input bunch of parameters
[code]
Note that this is exact copy from doc.  I could not figure out how to bypass until I discover this issue.  Please update your doc so others doesn't waste time.

And please disable automatic prompting of input.  This is not how typical CLI should work.

[2020-10-04 19:47] sagikazarmark commented on #1739
This is an open source project, so feel free to contribute. It's Hacktoberfest after all.

As far as I understood, this CLI tool is primarily targeted at users and not automations/scripting at the moment, so the interactive prompt does make sense.

@mislav provided a solution above, so there is a workaround.

[2020-10-04 19:56] sehz commented on #1739
This it should be documented as such.  I was expecting that I can used in my workflow in the [blog](https://github.blog/2020-09-17-github-cli-1-0-is-now-available/)
[code]

Not sure how it can be used in workflow without automation support.

Anyway,  there are other problem with how this CLI create releases.

I hope Github listen to feedback and provide good automation support.

[2020-10-04 22:35] reedspool opened #2094 "Unclear when normal git auth (HTTPS/SSH) needed or when `gh auth login` sufficient"
### Describe the feature or problem you’d like to solve

I expect after successful `gh auth login` that `gh repo clone` will not require any additional authentication. Instead, I'm asked for HTTPS user/pass or get permission denied on SSH auth.

For context, I decided to try out `gh` for the first time on a fresh VM. All the resources I looked at (including https://cli.github.com/manual/) made it

[2020-10-04 22:36] reedspool commented on #619
@d2iq-shadowbq I made a new issue of this https://github.com/cli/cli/issues/2094

[2020-10-05 01:52] KenyStev commented on #548
Hey @vilmibm, how's the state of this ticket?
I'd like to dig into if there's no problem and send a PR with a solution

[2020-10-05 07:22] samcoe commented on #2090
@waldyrious Thank you for the feedback, I can understand how the messaging can be confusing. There is definitely room for improvement in the `pr create` messaging and we will take your feedback into account as we continue to iterate on this feature. 🙇

[2020-10-05 07:39] sandstrom commented on #2052
@mislav Thanks for the update! 👍🏻

If you have access to some internal feedback channel (or chatroom), maybe you can ask your colleagues to have a look at that thread (https://github.com/isaacs/github/issues/1143).

This hasn't moved in 3 years and most other VCS platforms already support it, including your sister company Azure.

[2020-10-05 07:44] samcoe commented on #2059
@abdullahceylan I see that you created a PR to add a flag to bypass the interactive flow for repo creation, is there a reason that the current prompt disabling via the configuration file does not work for you? We allow setting a configuration to disable all prompts using `gh config set prompt disabled`, that seems like that would solve your issue unless I am missing something.

[2020-10-05 07:46] wrdoug commented on #2059
Huh

On Mon, Oct 5, 2020 at 3:45 AM Sam <notifications@github.com> wrote:

[2020-10-05 07:58] samcoe commented on #2074
Thanks for the suggestion! We are already tracking discussion around this enhancement in #277. I am going to close this for now, but please feel free to add any suggestions/context/comments about this feature to that issue.

[2020-10-05 07:58] #2074 closed, assigned to nobody

[2020-10-05 08:12] samcoe commented on #2079
@Goku-San Right now `gh` does not support repo deletion so there should be no need to set the `delete_repo` scope. Does that answer your question?

[2020-10-05 08:16] samcoe commented on #2078
@numanjvd82 this does appear to be a similar issue to #1923 which we think has to with our prompting library that we use. The error message is slightly different so I am going to keep this issue open for now. I expect both of these bugs will be solved with the same fix.

[2020-10-05 08:18] samcoe commented on #2083
Thanks for this feature request, but at this time we are not going to be supporting repo deletion. See https://github.com/cli/cli/issues/1084#issuecomment-638202812 for more details 🙇

[2020-10-05 08:18] #2083 closed, assigned to nobody

[2020-10-05 08:26] samcoe commented on #2081
Thanks for this feature request. We are currently tracking ability to filter issues and pull requests in https://github.com/cli/cli/issues/641. If you have any comments/questions/suggestions regarding that feature please leave a comment on that issue. In the mean time you should be able to use the `gh api` command in conjunction with the GitHub REST API https://docs.github.com/en/free-pro-team@lat

[2020-10-05 08:26] #2081 closed, assigned to nobody

[2020-10-05 10:11] mislav commented on #1739
@sehz We hear you re: automation support; thanks for the feedback.

Right now, we think we offer explicit flags to skip every kind of prompt that there is right now. (If you find this to not be the case somewhere, please open an issue!) The general approach is: if you supply every piece of data explicitly via flags, you will not be prompted for anything. For automating Releases, this would mean ex

[2020-10-05 10:18] mislav commented on #2090
@waldyrious Thank you for the feedback!

The concept of a "base" repository is not just specific to the `pr create` command, but to most other commands. The "base" repository is the GitHub repo where the majority of the maintenance happens; i.e. PRs get submitted to it, issues get filed in its issue tracker, Releases get created in it, and so on.

We weren't sure how we could name it more descript

[2020-10-05 10:37] waldyrious commented on #2090
Thanks for the context. I would say that meaning of "base" you describe matches what I'd intuitively call an "upstream", "canonical", "primary"/"main", or "original" repository. These are just from the top of my head, so I'd be happy to contribute to discussions in case these have shortcomings I might be overlooking.

[2020-10-05 10:43] samcoe commented on #2077
@abdullahceylan Thanks for the suggestion. This seems like a useful feature to me. @mislav @vilmibm do you agree? If so, are we open to PR's for it?

[2020-10-05 10:50] samcoe commented on #2082
@shrihanDev Thanks for pointing out this bug. It has been fixed in `trunk` by https://github.com/cli/cli/pull/1880. Once we create a new release this bug should be fixed. If you do not want to wait, you can try building `gh` from source.

[2020-10-05 10:50] #2082 closed, assigned to nobody

[2020-10-05 13:56] markov00 commented on #1023
The @krlmlr suggestion for the non-interactive mode is also very useful when you use tools and conventions like [conventional-commits](https://www.conventionalcommits.org/) and [semantic-release ](https://semantic-release.gitbook.io/) where both title and body of the commit are used to detect the next semantic version to release.
Actually, except for a github enterprise on-premise version, there i

[2020-10-05 14:16] thecomputerguyjeff opened #2095 "Create PR not working"
### Describe the bug

just pushed a new branch to github, still inside that branch, and ran
gh pr create

### Steps to reproduce the behavior

1. create, add, commit to branch
2. push branch
3. gh pr create

### Expected vs actual behavior
Instead of a PR being created, we got the following error:

error checking for existing pull request: GraphQL error: Field 'statusCheckRollup' doesn't exist on

[2020-10-05 14:56] samcoe commented on #2095
@thecomputerguyjeff Are you trying to do `gh pr create` while targeting a repo on a GHES instance? If so, what version of GHES are running? This seems like a duplicate of https://github.com/cli/cli/issues/1709.

[2020-10-05 15:33] thecomputerguyjeff commented on #2095
GHES 2.20.10.

[2020-10-05 15:56] vilmibm commented on #2079
If you want to delete repos with `gh api` you need to set `delete_repo` once per token and not per repo.

[2020-10-05 15:56] #2079 closed, assigned to nobody

[2020-10-05 16:19] samcoe commented on #2095
@thecomputerguyjeff Yeah, that is one of the versions of GHES that is experiencing the #1709 issue. We are already working on a fix which will be in our next release. I am going to close out this issue as a duplicate for now, and if you have any more comments/questions/ideas feel free to add them to #1709.

[2020-10-05 16:19] #2095 closed, assigned to nobody

[2020-10-05 18:23] coabr commented on #404
Have you tried to use cmd instead of bash?

[2020-10-05 18:38] wimglenn commented on #642
I'd also like the option to filter on/without forks

[2020-10-05 18:51] heaths commented on #1762
Could this also be the same problem that is causing `gh pr create` to fail to detect the upstream and origin branches? I just pushed my commit to `origin`, and even if I run `gh pr create -w` to do it manually, `gh` opens `https://github.com/Azure/azure-sdk-for-net/compare/master...keyvaultproxy-sample?expand=1` - all against `upstream`.

`git config --get remote.origin.gh-resolved` shows nothing

[2020-10-05 18:53] Goku-San commented on #2079
Hello @samcoe, @vilmibm, sorry for the late response I was  super busy today.

I am using ```gh api ...``` to  delete a repo, I logged in through the browser to confirm the token that is sent through the cli for the ```delete_repo``` scope and I could delete a repo, but the very next day I had to do it all over again ```gh auth refresh ...``` although the scope was set once and it was marked as se

[2020-10-05 19:54] vilmibm opened #2096 "gh api should allow leading / in REST endpoints"
since the REST API docs usually mention endpoints with a leading `/` it would be nice if we accepted
either `/` or no `/` when accepting a REST endpoint argument.

[2020-10-05 20:44] vilmibm commented on #2094
Sorry for the confusion.

We have discussed adding detection of a lack of git credentials (either https or ssh) when doing git operations and reporting on it with a clear error message instead of letting git prompt a user as it's a common source of confusion.

We _could_ guess at git HTTPS credentials using an access token, but we haven't discussed or explored that; I think for now I'd rather go w

[2020-10-05 20:48] vilmibm commented on #2077
I'm ok with this. I'd rather the flag be named `--base-dir` and `-B`. I'm open to a PR.

[2020-10-05 20:51] vilmibm commented on #2075
Thanks for the suggestion! Given the lack of official API support we don't have plans to support this in `gh`, but feel free to share any useful aliases that help.

[2020-10-05 20:51] #2075 closed, assigned to nobody

[2020-10-05 20:57] abdullahceylan commented on #2077
That's great!

I'm sending a PR then.

[2020-10-05 21:00] #1815 closed, assigned to nobody

[2020-10-05 21:15] #1712 closed, assigned to nobody

[2020-10-05 21:20] #1966 closed, assigned to nobody

[2020-10-05 22:35] abdullahceylan commented on #2059
@samcoe thanks for your reply.

Actually, this is not related to disabling the prompts. This is bypassing `opts.IO.CanPrompt()` to be able to create a folder named the created repo and initialize the repository after creating it on via node applications.

Currently, the folder creation and repo initialization is happening if `opts.IO.CanPrompt()` = `true` condition met, which doesn't feel right to

[2020-10-05 23:56] gleich commented on #2096
Started on this.

[2020-10-06 00:49] gleich commented on #2096
@vilmibm is this still a problem? `gh api /repos/Matt-Gleich/nuke/releases` still works for me.

[2020-10-06 01:05] gleich commented on #2096
?

[2020-10-06 01:13] gleich opened #2099 "Ask to git init on repo create"
### Describe the feature or problem you’d like to solve

If you run `gh repo create` in a folder that isn't initialized with git the command fails.

### Proposed solution

Instead of failing the user would be asked if they want to initialize the current folder a git repo.

### Additional context

I would love to take up the implementation of this! The [go-git](https://github.com/go-git/go-git) mod

[2020-10-06 06:07] contourintegrals opened #2101 ":bug: gh repo create: Internal repository creation fails with a GraphQL error"
### Describe the bug

Output of `gh --version`:
[code]

When I tried to create an internal repo, this throws some GraphQL error:
![Error image](https://user-images.githubusercontent.com/54971391/95164638-f5e14680-07c7-11eb-9f2a-00d2fe9eed4e.PNG)

The last message says:
[code]

### Steps to reproduce the behavior

1. Type this `gh repo create`
2. Answer the questions that follow, the visibility is

[2020-10-06 07:01] samcoe commented on #2059
@abdullahceylan Ah I think I see what is happening. If I am understanding you correctly, you are saying that when running `gh` inside of a node.js processes `opts.IO.CanPrompt()` is returning false and therefore skipping git repository initialization process. Is that correct?

This does seem like a bug since in your case `--confirm` flag has been passed in so there will not be any prompting in tha

[2020-10-06 07:26] VigneshwaranDev commented on #2078
@numanjvd82 I also faced this same issue while using the gh for the first time in git bash on windows but once I tried that in cmd.exe everything worked fine. It happens because git bash does not support interactive terminal so you have to use native terminal like cmd or powershell

[2020-10-06 07:45] samcoe commented on #2101
@shrihanDev Are you trying to specifically create an internal repo? That is a special type of repo specific to enterprise accounts, if you are not creating the repository in an organization that is owned by an enterprise account then you won't be able to create this type of repo. [docs](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-reposit

[2020-10-06 07:49] ShubhankarKG commented on #2101
Can we selectively show the visibility to users when creating a repository ? Like if user isn't creating an enterprise repo, do not show the INTERNAL visibility. If that is possible, then we could use it to hide Internal visibility altogether.

[2020-10-06 07:55] samcoe commented on #2101
@ShubhankarKG That is a good question. I _think_ that is technically possible (there are API's we could use, I would want to double check) but would require some larger changes to the repo creation flow. Please feel free to open an enhancement issue around this feature. One easier change, that might make a difference, would be to add some description to each repo visibility type in the prompt text

[2020-10-06 08:05] NIKOLAY73731 opened #2103 "rKpVL4juKbaKPzKnsQ96DrFhK1tVwvvKs7"
## What have you loved?

[2020-10-06 08:06] NIKOLAY73731 commented on #2103
rKpVL4juKbaKPzKnsQ96DrFhK1tVwvvKs7

[2020-10-06 08:06] #2103 closed, assigned to nobody

[2020-10-06 08:23] ashtont8 opened #2104 "Closing this since it's unlikely that this feature will be adopted in its current form."
Closing this since it's unlikely that this feature will be adopted in its current form.

The useful thing in this branch is the technical approach of resolving many GraphQL IDs in bulk. We could potentially use that approach in future applications.

_Originally posted by @mislav in https://github.com/cli/cli/pull/831#issuecomment-644200324_

[2020-10-06 08:29] #2104 closed

[2020-10-06 08:29] NIKOLAY73731 opened #2105 "# CLI Feedback"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-10-06 08:30] #2105 closed, assigned to nobody

[2020-10-06 08:40] ShubhankarKG opened #2106 "Selectively display visibility options during repo create"
### Describe the feature or problem you’d like to solve

As a primitive user who is new to visibilities, during `gh repo create`, he/she is given the option of an **INTERNAL** visibility, available only to Enterprise accounts. It may not be appropriate to show this visibility to someone who isn't at all associated with an Enterprise account.

### Proposed solution

If we can somehow know whether t

[2020-10-06 09:15] contourintegrals commented on #2101
Actually, I meant that it shouldn't show a GraphQL error like this. It should show something like: You cannot create an Internal repo........
Or actually make this conditionally show if the account is an enterprise one, as @ShubhankarKG said.

[2020-10-06 09:25] contourintegrals commented on #2078
@VigneshwaranDev +1
Even tools like Cmder, ConEmu, etc. do not support 0x25, 0x26, 0x27 and 0x28, which are key codes for the Arrow Left, Arrow Up, Arrow Right, Arrow Down keys respectively (in my opinion, not sure if this is the case 😕)
See https://github.com/AlecAivazis/survey/blob/17861e192dc11fd2f5081df1932c94cce262fa1e/terminal/runereader_windows.go#L24
(Line 24 to Line 27)

[2020-10-06 10:03] decorahd commented on #1514
Good idea

[2020-10-06 10:19] danielfn opened #2107 "Disable the new release check"
### Describe the feature or problem you’d like to solve

In case we aren't using the latest CLI version, every time we run the CLI locally or inside a CI job, we get a message like the next:

[code]

This message is printed to the `stderr` (which generates unnecessary noise in CI jobs) and also it causes a small delay due to the external request, so we would like to be able to disable this check i

[2020-10-06 10:50] #1709 closed, assigned to mislav

[2020-10-06 10:59] joerchan commented on #1729
@vilmibm My only issue with the instructions appear to be that the `-u` option was missing. For linux mint 19.3

[2020-10-06 11:21] mislav commented on #2070
@propertone Agreed! Re-classifying this as a bug 👍 Thank you!

[2020-10-06 11:42] mislav commented on #2059
@abdullahceylan Thank you for reporting. Right now, `repo create` works differently when invoked _outside_ of a git repository (it offers to `git init` a new directory for the new repo) and _inside_ of a git repository (it doesn't create a new directory, but wants to add a git remote). This is a point of confusion for our users and we'll try to make it better in the future.

Ref. https://github.co

[2020-10-06 11:49] mislav commented on #2061
@hugo-paredes For me (GHE 2.22) it looks like this with an OAuth token:

[code]

And when I generate a Personal Access Token with `repo`, `read:org` scopes:

[code]

How did you generate tokens?

[2020-10-06 12:03] d2iq-shadowbq commented on #2094
(With github deprecations of basic auth from the web api and requiring the use of p-access token )could we prompt if the user wants to use the same token by default during git repo clone ops during the initial `gh auth login` if the user selects https as the git method? This would really help with private repos.

[2020-10-06 12:09] mislav commented on #2067
@cyrilletuzi Thanks for the suggestion!

I don't think it's feasible for us to parse changelog formats to extract the relevant parts of them, since what is "relevant" might vary from project to project and from format to format.

Would it be an option for you to instead pass just the relevant parts yourself? E.g. following your above example of a `changelog.md` file:

[code]

[2020-10-06 12:27] #2014 closed, assigned to nobody

[2020-10-06 12:31] #1897 closed, assigned to nobody

[2020-10-06 12:35] brettcurtis commented on #2017
@vilmibm - can I do this for a project at the org level?

[2020-10-06 12:38] olavfosse opened #2109 "Cloning fails on my own repository"
### Describe the bug
Repository cloning fails on my own repository  although I am authenticated.

Version: 1.0.0 (2020-09-16)
### Steps to reproduce the behavior
Run
`gh repo clone exercises`
or
`gh repo clone olav35/exercises`

### Expected vs actual behavior
Expectation: the repository is cloned.
Reality: the repository is not cloned and an error is printed.

### Logs
[code]

[2020-10-06 12:45] cyrilletuzi commented on #2067
@mislav Yes sure, if it's already possible with a command line, it's totally OK (I'm not an expert of bash to be honest, so I didn't think of your idea). I would just need the version to be dynamic from a variable (`$npm_package_version`), I think it won't work in a npm script because of the quotes (`'`).

Could be useful to add this in the documentation because I won't be alone to face this issue

[2020-10-06 13:04] #1684 closed, assigned to mislav

[2020-10-06 13:21] mislav commented on #1903
The final unchecked item https://github.com/cli/cli/issues/575 was not confirmed to adversely affect the `pr create` flow, so I'm closing this and tracking that in the original issue.

[2020-10-06 13:21] #1903 closed, assigned to mislav

[2020-10-06 13:23] mislav commented on #2109
@olav35 Thanks for reporting!

This error seems to come from `git clone` that gh invokes internally. Did you intend to clone over the SSH protocol, and did you already have SSH keys set up in your GitHub account?

Ref. https://github.com/cli/cli/issues/2094

[2020-10-06 13:25] martinwoodward commented on #2064
Hmm. I'm currently on 1.325.**265**.0 and it's working of for me. I just did a fresh download and verified.

Note that this is reporting matching with `Trojan:Win32/Fuery.C!cl` not `Worm:win32/Yuner.A` that Defender was getting confused with in #1894. Would it be possible to include more details about the gh.exe downloaded to your machine?  I know it's tricky if it's being quarantined.

When I run

[2020-10-06 13:33] mislav opened #2111 "Sign `gh.exe` binaries in addition to signing the MSI installer"
This would help identify Windows binaries that were officially packaged by us vs. ones that might have been modified/corrupted. Right now, we only do signing with the MSI installer.

Ref. https://github.com/cli/cli/issues/2064
Followup to #148

[2020-10-06 13:38] olavfosse commented on #2109
Yes.

I was able to clone the repository by authenticating with HTTPS.

[2020-10-06 13:50] windy1 opened #2112 "Trying to delete `/usr/local` when upgrading?"
### Describe the bug

I've just upgraded `gh` to `1.1.0` using `apt` and I received this *concerning* message in the log.

[code]

### Steps to reproduce the behavior

`sudo apt upgrade`

### Expected vs actual behavior

Although, the directory could not be deleted, just the fact that it was attempted is cause for concern.

[2020-10-06 13:51] windy1 commented on #2112
nevermind unrelated

[2020-10-06 14:07] abskmj commented on #1634
This is a great idea!

I had put together [a CLI utility](https://github.com/abskmj/hukum) for just for this. I was not aware of GitHub CLI until it was available generally. It would be great if this feature is available natively in the official CLI tool.

[2020-10-06 14:29] abdullahceylan commented on #2059
@samcoe yes, that's the exact problem. Thanks for clarifying. So what do you think my closed PR then? I was added a new flag to solve this issue => https://github.com/cli/cli/pull/2069

@mislav yes, I've noticed that `git init` doesn't create a new directory for the new repo in a git repository but in this case, there is also no git initialization. I'm running my node app in a clean folder.

[2020-10-06 15:01] #2096 closed, assigned to nobody

[2020-10-06 15:01] vilmibm commented on #2096
it was reported by a user on an outdated version, sorry.

[2020-10-06 15:14] mislav commented on #2059
@abdullahceylan Thank you for the proposal to solve this, but like my colleague, I don't think that direction is what we want to take.

My idea would be to rethink the `repo create` command so its behavior in vs. outside of a git repository isn't so surprising. But changing the command at this point also risks breaking backwards compatibility.

I think we'll just have to think about this for a whi

[2020-10-06 15:15] mislav commented on #2017
@brettcurtis I think that would work for any kind of Project, as long as you know the column ID where you want to add the card to. The column ID you would also have to obtain using the API.

[2020-10-06 15:22] mislav commented on #2109
Glad you worked around it! Note that you can change your preferred clone protocol to HTTPS for all future commands:

[code]

[2020-10-06 15:23] mislav commented on #2109
Closing in favor of https://github.com/cli/cli/issues/2094

[2020-10-06 15:23] #2109 closed, assigned to nobody

[2020-10-06 15:30] tecnologer commented on #404
Yes, the error hasn't displayed if I use cmd

[2020-10-06 15:30] abdullahceylan commented on #2059
Thank you @mislav

[2020-10-06 16:21] numanjvd82 commented on #2078
Well, That's good to hear hope it gets fixed soon.

[2020-10-06 18:46] mike-burns commented on #743
Back in https://github.com/cli/cli/pull/99#pullrequestreview-320883163 @mislav suggested

Is that idea still on the table?

[2020-10-06 19:27] Lucaslah commented on #2064
I installed `gh` with `scoop` and have had no problems yet.

[2020-10-06 20:15] brettcurtis commented on #2017
@mislav - thanks, I'll continue to poke around!

[2020-10-06 21:21] vfab commented on #409
I would want this to help automate the process of migrating Teams from Azure DevOps to GitHub.

For each Project being migrated from Azure DevOps:
1. Read the Team and its members from Azure DevOps (which is supported by the AzDO CLI)
1. Recreate the Team in GitHub and assign all the team members who exist in the GitHub org
1. Read the AzDO Project's repos from AzDO using the AzDO CLI
1. Migrate t

[2020-10-06 21:24] SuperHarmony910 opened #2114 "Should Ctrl+Click open links from the CLI to your default browser?"
### Describe the feature or problem you’d like to solve

Currently, users of the GitHub CLI **cannot** open links. Especially when using `gh repo view <repo-url>`, it is a minor and slight inconvenience to have to open my browser and paste it in from command line, highlighting can be tricky in command lines!

### Proposed solution

How will it benefit CLI and its users?

If I wanted to click the (

[2020-10-06 23:14] jsejcksn opened #2115 "Support cloning a gist (just like cloning a repo)"
In https://github.com/cli/cli/pull/1699#issue-486709880, @vilmibm notes a limitation:

I'd like to be able to clone a gist, just like I can clone a repo. This is all that’s still needed in order to be able to use `gh` to enumerate and backup/export (clone) all owned gists.

[2020-10-06 23:41] decorahd opened #2116 "Good idea"
Good idea

_Originally posted by @decorahd in https://github.com/cli/cli/issues/1514#issuecomment-704166320_

[2020-10-07 02:09] jasonsyoung commented on #695
Well that would **_not_** be coming from the Powershell completion, which is the topic of this issue, since you are explicitely *using BASH*.

I am able to get a second level of  tab expansion (as they're called in Powershell, as opposed to tab completion in bash), but not a first level. For example (note: I am not a PS expert), creating the tab completion file:
[code]

then sourcing it in my `$Pr

[2020-10-07 02:25] Michelle99798 opened #2118 "@michelle99798"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-07 02:26] Michelle99798 opened #2119 "@michelle99798"

[2020-10-07 02:26] Michelle99798 opened #2120 "@michelle99798"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-07 04:07] AliabbasMerchant commented on #2114
I believe the ability to make URLs clickable/openable is a feature of the terminal application, and not of the CLI.
There are many terminal applications, that detect URLs, and allow them to be clickable/openable
Refer to this Gist for more info: https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2020-10-07 04:46] SuperHarmony910 commented on #2114
I believe that this *may* be a duplicate of #204, so I will investigate into this. Would you be able to give me a terminal as an instance?

[2020-10-07 04:54] truongnhi08 opened #2121 "> This PR may fix #847"
_Originally posted by @truongnhi08 in https://github.com/cli/cli/pull/1882#issuecomment-704688942_

[2020-10-07 04:54] AliabbasMerchant commented on #2114
GNOME shell detects URLs and makes them openable by clicking

[2020-10-07 05:02] SuperHarmony910 commented on #2114
For now, I'll close this issue seeing as this is a demeaning issue and shouldn't be a feature request to GitHub CLI.

[2020-10-07 05:02] #2114 closed, assigned to nobody

[2020-10-07 05:05] truongnhi08 opened #2122 "Fb"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-10-07 05:07] truongnhi08 opened #2123 "#### Interoperability angle:"
#### Interoperability angle:
I have maybe hundreds of clone directories (on several machines) using hub's naming.  As `gh` doesn't cover (and doesn't plan to cover?) all of hub's functionality, I was thinking to use both, gradually leaning on `gh` more and more.
But if they use different naming, I'll get a mixture of conventions, which is a recipe for me making mistakes.
If `gh` starts renaming ex

[2020-10-07 05:14] truongnhi08 opened #2124 "#1882"
#1882

_Originally posted by @truongnhi08 in https://github.com/cli/cli/pull/1882#issuecomment-704691310_

[2020-10-07 07:32] #2116 closed

[2020-10-07 07:35] #2118 closed

[2020-10-07 07:35] #2119 closed

[2020-10-07 07:35] #2120 closed

[2020-10-07 07:42] samcoe commented on #2101
@shrihanDev That makes sense. You are correct, the error message is not very helpful and could be made better. Since we now have https://github.com/cli/cli/issues/2106 I am going to close out this issue. We can move any further discussion about how best to solve this in that enhancement issue.

[2020-10-07 07:42] #2101 closed, assigned to nobody

[2020-10-07 07:53] samcoe commented on #2107
@danielfn This seems like a good idea to me. My preference would be to have both an environment variable and a configuration setting. I think `GH_UPDATE_CHECK` `<disabled | enabled>` for the environment variable and `update_check` `<disabled | enabled>`  for the configuration setting sound good. cc @ampinsk for design input.

cc https://github.com/cli/cli/issues/743

[2020-10-07 08:04] samcoe commented on #2079
@Goku-San That is strange behavior. If the token works once to delete a repo, it should continue to work and be authenticated in `gh`. Was the token revoked on GitHub.com somehow?

[2020-10-07 08:08] #2046 closed

[2020-10-07 08:08] #2047 closed

[2020-10-07 08:08] #2048 closed

[2020-10-07 08:08] #2049 closed

[2020-10-07 08:09] #2043 closed

[2020-10-07 08:09] #2044 closed

[2020-10-07 08:09] #2045 closed

[2020-10-07 08:09] #2041 closed

[2020-10-07 08:10] #2040 closed

[2020-10-07 08:11] #1950 closed

[2020-10-07 08:11] #1937 closed

[2020-10-07 08:11] #1936 closed

[2020-10-07 08:12] #1928 closed

[2020-10-07 08:12] #2124 closed

[2020-10-07 08:15] #2121 closed

[2020-10-07 08:17] #1849 closed

[2020-10-07 08:28] #2122 closed

[2020-10-07 08:29] #2088 closed

[2020-10-07 08:30] #1984 closed

[2020-10-07 08:30] #1945 closed

[2020-10-07 08:30] #1847 closed

[2020-10-07 08:31] #1843 closed

[2020-10-07 08:32] #1779 closed

[2020-10-07 08:32] #1770 closed

[2020-10-07 08:33] #2123 closed

[2020-10-07 08:34] #1691 closed

[2020-10-07 08:38] #1541 closed

[2020-10-07 08:46] Goku-San commented on #2079
@samcoe  No it wasn't, after ```gh``` error message **needs admin permission to  delete a repo; 403 Forbiden**, I logged in to check if the token is marked as valid and it was.

[2020-10-07 08:53] cyrilletuzi commented on #2067
Finally made it work! In `package.json`:

[code]

Then `npm run githubrelease`!

Thank a lot, now the release process of my libs is 100% automated!

Notes:
- the first regular expression must match your changelog format (for example if you do `## 1.0.0` instead
of `## v1.0.0`, then remove the `v` in the regular expression)
- if you add special characters in this regular expression, they need to be

[2020-10-07 08:53] #2067 closed, assigned to nobody

[2020-10-07 08:59] #2012 closed

[2020-10-07 09:00] #1974 closed

[2020-10-07 09:00] #1701 closed

[2020-10-07 09:02] #945 closed

[2020-10-07 09:04] #946 closed

[2020-10-07 09:05] #1042 closed

[2020-10-07 09:05] #1043 closed

[2020-10-07 09:05] #1044 closed

[2020-10-07 09:13] #1061 closed

[2020-10-07 09:13] #1062 closed

[2020-10-07 11:24] llorllale commented on #2112
@windy1 How is this unrelated? I just witnessed the exact same messages in the log.

snippet:

[code]

[2020-10-07 12:18] windy1 commented on #2112
in that case I'll re-open this

[2020-10-07 12:44] lucasrangit commented on #2014
@mislav thanks for the fix! I tested the latest trunk build and get the same error message but at a different point.

[code]

[2020-10-07 13:40] mislav commented on #2107
@danielfn Sorry for the nuisance! Agreed that there should be a way to disable the notifications. Furthermore, I think that update checks should never run in CI environments by default.

Closing as duplicate of #743 - follow that for updates!

[2020-10-07 13:40] #2107 closed, assigned to nobody

[2020-10-07 13:47] mislav commented on #287
@waldyrious No! You are welcome to put it back 🙇

[2020-10-07 13:48] mislav commented on #743
@mike-burns Yes the idea is still on the table!

I propose: `GH_NO_UPDATE_NOTIFIER=1` (or any value) disables checking for updates.

@samcoe I don't think we need to add a config file setting for this just yet. Let's see if people ask for it after they already have the environment setting.

Furthermore, I believe that we shouldn't check for updates in CI/CD environments at all. We can [detect thes

[2020-10-07 14:02] Meiryo7743 commented on #2064
I'm sorry, but the screenshot I captured at that time is above only. However, I'm sure that `gh_1.0.0_windows_386.zip` was downloaded from [the release page](https://github.com/cli/cli/releases/tag/v1.0.0).

As a side note, when I had scanned everything on my PC, the Defender reported me no thread found.

In addition, the checksum results by running `Get-FileHash` command on PowerShell are as foll

[2020-10-07 14:15] Meiryo7743 commented on #2064
I updated Windows Defender's rule from 1.325.**79**.0 to 1.325.**328**.0, and the CLI from 1.**0**.0 to 1.**1**.0.

At present it works well.

[2020-10-07 14:18] #1070 closed

[2020-10-07 14:18] #1071 closed

[2020-10-07 14:18] #1075 closed

[2020-10-07 14:18] #1076 closed

[2020-10-07 14:18] #1117 closed

[2020-10-07 14:18] #1118 closed

[2020-10-07 14:18] #1232 closed

[2020-10-07 14:18] #1233 closed

[2020-10-07 14:18] #1234 closed

[2020-10-07 14:18] #1235 closed

[2020-10-07 14:18] #1236 closed

[2020-10-07 14:18] #1237 closed

[2020-10-07 14:18] #1238 closed

[2020-10-07 14:18] #1239 closed

[2020-10-07 14:18] #1240 closed

[2020-10-07 14:18] #1241 closed

[2020-10-07 14:18] #1242 closed

[2020-10-07 14:18] #1419 closed

[2020-10-07 14:18] #1426 closed

[2020-10-07 14:19] #1464 closed

[2020-10-07 14:19] #1555 closed

[2020-10-07 14:19] #1556 closed

[2020-10-07 14:19] #1564 closed

[2020-10-07 14:19] #1565 closed

[2020-10-07 14:19] #1601 closed

[2020-10-07 14:26] peschkaj commented on #695
@jasonsyoung Take a look in https://github.com/cli/cli/issues/1775 for a current workaround

[2020-10-07 15:08] ggirelli opened #2126 "Can't add key on linux during installation"
### Describe the bug

Can't seem to install it on ubuntu 20.04 following the guide's steps.

### Steps to reproduce the behavior

Tried both ways:

#### `keyserver.ubuntu.com`

[code]
#### `hkp://eyserver.ubuntu.com:80`

[code]

#### apt-add-repository

Then, of course, adding the repo fails:

[code]

[2020-10-07 15:12] thecomputerguyjeff opened #2127 "pull master (or default) after merge"
### Describe the feature or problem you’d like to solve

After merging a PR, deleting the branch, and checking out master (or the default branch), it would be nice to add one more step of pulling, so that branch that was just merged in is reflected in master.

### Proposed solution

One additional git command after deleting the branch and checking out master, to then pull master

How will it benef

[2020-10-07 15:18] ggirelli commented on #2126
Sorry, I kept digging until I found [this comment](https://github.com/cli/cli/issues/1799#issuecomment-699468066) on issue #1799.
The fix was [here](https://askubuntu.com/questions/1246031/gpg-invalid-key-resource-url-following-docker-official-guide/1247655#1247655).
I just hope this makes it more visible if someone else encounters the same issue :)

[2020-10-07 15:18] #2126 closed, assigned to nobody

[2020-10-07 16:47] #331 closed

[2020-10-07 16:59] vilmibm commented on #394
I think this is better served with the -R flag, ie `gh -R upstream/repo issue list`

[2020-10-07 16:59] #394 closed

[2020-10-07 17:10] vilmibm commented on #463
Now that we have `gh pr checks` I wonder if we could add an option there to mimic `hub ci-status` and return one of (pending, success, failure) for better ease of scripting?

[2020-10-07 17:19] vilmibm commented on #548
There's still desire for this work but it's something the core team is going to take on; we also have more discussion over in #906 so I'm going to close this as a duplicate.

[2020-10-07 17:19] #548 closed

[2020-10-07 17:26] dhleong opened #2129 "Error out on invalid input for `--base` (and similar flags)"
### Describe the bug

[code]

When using `--base` to create a PR that should be merged into a specific branch, the request fails with a `GraphQL error`.

### Steps to reproduce the behavior

1. Create a staging branch, for example: `git checkout -b staging/new-feature`
2. Push some work onto it, and push it to origin
3. Create a branch off of the staging branch: `git checkout -b new-feature/part1`

[2020-10-07 17:42] vilmibm commented on #655
Thanks for the suggestion; I do like this idea. Unfortunately linked issues/prs are not yet exposed through the API, making this pretty labor intensive (ie, having to implement linked issues/prs ourselves). I don't think that's an investment we want to make right now so I'm going to close this, but happy to continue to have discussion or reopen if this starts to get exposed in the API.

[2020-10-07 17:42] #655 closed

[2020-10-07 17:50] vilmibm commented on #676
Closing linked issue/pr related issues as there's no API support for it yet; can reopen when there is (or we have a better idea)

[2020-10-07 17:50] #676 closed

[2020-10-07 17:51] vilmibm commented on #678
Excellent suggestion; since conversation has mostly happened in #906 , marking this one as dupe

[2020-10-07 17:51] #678 closed

[2020-10-07 18:01] vilmibm commented on #790
gh now asks about what repo to use for issue queries; i'm going to close this in the hopes that that suffices but if not we can continue discussion and reopen

[2020-10-07 18:01] #790 closed

[2020-10-07 18:03] vilmibm commented on #848
Definitely a good suggestion but I think a duplicate of #385

[2020-10-07 18:03] #848 closed

[2020-10-07 18:05] vilmibm commented on #855
I like the intent of this! I think I'd rather start with a warning:

[code]

It's possible people may want to store arbitrary configuration settings for use in aliases and I don't want to preclude that yet.

[2020-10-07 18:07] vilmibm commented on #865
I think we can track this in #1960

[2020-10-07 18:07] #865 closed

[2020-10-07 18:12] vilmibm opened #2130 "do not allow setting invalid git_protocol"
Currently you can set `git_protocol` to any value which is unhelpful; we should validate that input.

[2020-10-07 18:12] vilmibm commented on #817
I think the most helpful thing here is to prevent bad inputs for `git_protocol`; opened #2130 for that.

[2020-10-07 18:12] #817 closed

[2020-10-07 18:15] mverteuil commented on #848
@vilmibm agree that it's a dupe, and the other ticket is better. Thanks!

[2020-10-07 18:28] vilmibm commented on #959
I like the spirit of this idea. An idea I had that would help here as well as #382 is `gh pr commits` that outputs just the commit log for a given PR; this could then be used to pipe elsewhere. Curious what others think.

[2020-10-07 18:30] vilmibm commented on #965
NB: solving this via `@me` in #2004

[2020-10-07 18:37] vilmibm commented on #979
hi, running `gh help repo create` will provide relevant examples; as will `gh help auth`.

[2020-10-07 18:37] #979 closed

[2020-10-07 18:39] cristiand391 commented on #2130
I would like to take this up.

[2020-10-07 18:43] vilmibm commented on #1008
Rolling this into #1960

[2020-10-07 18:43] #1008 closed

[2020-10-07 18:51] vilmibm commented on #1022
It looks like we do use a table printer in issue status now; my output looks like this:

![image](https://user-images.githubusercontent.com/98482/95374444-f18a5b80-08a3-11eb-89f2-1bb43e5698a9.png)

so hopefully this is rectified

[2020-10-07 18:51] #1022 closed, assigned to nobody

[2020-10-07 18:54] amoghe commented on #959
I wonder if `view` should take several commandline flags indicating what the viewer wishes to `view`. It can default to the minimum (as it works today), and callers can specify other stuff.

[2020-10-07 19:57] vilmibm commented on #1065
Thanks for the issue! For clarification, do you mean caching the lists of metadata or the choices made on a previous `pr create` invocation?

I'm open to the former and we've recently added a request caching mechanism that would make it fairly easy; the latter would require a lot more thought.

[2020-10-07 19:59] vilmibm commented on #1072
At this time we'd rather not formalize the readme badge practice in the CLI tool; I'm wondering if this can be done with a reusable action + gh api + gh alias though.

[2020-10-07 19:59] #1072 closed, assigned to nobody

[2020-10-07 20:04] vilmibm commented on #1085
This sounds like a great improvement to me; it's something that would currently have to be patched in the prompt library we use, https://github.com/AlecAivazis/survey/ , unfortunately.

[2020-10-07 20:05] vilmibm commented on #1089
Closing as dupe of #385

[2020-10-07 20:05] #1089 closed, assigned to nobody

[2020-10-07 20:08] vilmibm commented on #1091
I am :+1: on this but couldn't find a way to do it via the API :(

[2020-10-07 20:10] vilmibm commented on #1130
dupe of #959

[2020-10-07 20:10] #1130 closed, assigned to nobody

[2020-10-07 20:13] vilmibm commented on #1186
This is covered by `gh auth refresh`; should we keep this open to just add a more clear error message to `gh api` directing users to run `auth refresh`, @mislav ?

[2020-10-07 20:15] vilmibm commented on #1190
Switching to bug since we _ought_ to be respecting that setting.

[2020-10-07 20:22] vilmibm commented on #1217
Thanks for the suggestion!

In general we try to avoid such specific commands as @Vishesh-Gupta suggested; we have both `gh repo clone foo/bar` and `gh pr checkout 123` and I think that's enough for now.

[2020-10-07 20:22] #1217 closed, assigned to nobody

[2020-10-07 20:26] vilmibm commented on #1247
Valid, but dupe of #1120

[2020-10-07 20:27] vilmibm commented on #1247
bluh, other issue's author was deleted so i'm making this one canonical

[2020-10-07 20:27] vilmibm commented on #1120
Dupe of #1247

[2020-10-07 20:27] #1120 closed, assigned to nobody

[2020-10-07 20:40] vilmibm commented on #1260
here's what I'd love to see:

- `gh gist edit` updated with ability to add/remove files and edit description done as part of this issue. done in #4738
- `gh gist clone` done as part of #2115

For `gist edit`, I'm imagining:

- having "Edit Description" added to the prompt, opening an editor.
- supporting a `-a` flag that takes a file path to add to the gist and can be passed multiple times; it wou

[2020-10-07 20:54] vilmibm commented on #1280
I'm nervous about this: `gh` would have to decide what all files you wanted added to the initial commit. Assuming --all is very dangerous as there could be some kind of authentication token in there.

We _could_ initialize an empty repo, but I think anyone running this would assume that their files are automagically in git and on github after invoking; perhaps we could do something like:

[code]

[2020-10-07 21:04] vilmibm commented on #1285
Going to close as a dupe of #902 but please correct me if there is a request here that isn't solved by the detached head flag

[2020-10-07 21:04] #1285 closed, assigned to nobody

[2020-10-07 21:09] vilmibm commented on #1308
another scripting suggestion:

`gh alias set -s ibody 'gh issue view $1 | tail -n+10'`

While `10` could change at some point in the future, we always print a consistent number of lines at the top of an issue when piped.

I agree that a top level command would be inappropriate for this; hopefully the scripting suggestion is helpful.

[2020-10-07 21:09] #1308 closed, assigned to nobody

[2020-10-07 21:15] vilmibm commented on #1447
I think this should be another vote in favor of https://github.com/cli/cli/issues/906 , so closing as a dupe <3

[2020-10-07 21:15] #1447 closed, assigned to nobody

[2020-10-07 21:27] vilmibm commented on #1729
@joerchan The `-u` is no longer in the official docs; just an explicit call to `update`. Going to close as I'm not sure there are more action items here.

[2020-10-07 21:27] #1729 closed, assigned to nobody

[2020-10-07 21:39] leecalcote commented on #1308
Thanks, guys.

[2020-10-07 23:39] llorllale commented on #2112
Just noticed this now:

[code]

[2020-10-07 23:49] gilcrest opened #2133 "gh release create question and general feedback"
# CLI Feedback

## What have you loved?

I really love the whole cli. Thanks a lot for making it open source as well. As a Gopher, it's really great to see this code as it's awesome! So, thanks!

## What was confusing or gave you pause?

Previously, to make a release, I would commit my code locally and push to Github, add a tag to my commit (say v0.2.0) and then run `git push origin v0.2.0` to cre

[2020-10-08 02:10] micnncim commented on #1065
Yeah, I mean the former. And I looked over the caching mechanism. Looks nice! If you don't mind, can I raise a PR for caching the lists of metadata?

[2020-10-08 07:47] shindere commented on #1091
Nate Smith (2020/10/07 13:08 -0700):

Yeah and I guess that's why no tool provides it, because the API does
not support it. That's too bad, it would be such a useful feature to
have.

[2020-10-08 07:58] ShubhankarKG commented on #1907
I was working on this when I realised we don't have an API for getting `.gitignore`'s. If someone can help out here, that will be great. :pray:

[2020-10-08 08:00] shindere commented on #1085
Nate Smith (2020/10/07 13:04 -0700):

Thanks a lot for the great suggestion.

See https://github.com/AlecAivazis/survey/issues/305

[2020-10-08 08:48] julienw opened #2136 "Please support searching for issues and pull requests with the same filters as in the PR and Issues webpage"
### Describe the feature or problem you’d like to solve

In the github web UI, we have 2 pages (one for PRs and one for issues) where we can filter by: created / assigned / mentioned / review requests. It would be very good that the CLI can do the same filtering.

Currently the CLI can filter by "assignee" only, not mentions, author or review requests. But even for assignee this isn't enough, beca

[2020-10-08 09:49] samcoe commented on #2136
Thanks for submitting this feature request, we are already tracking discussion for this feature in https://github.com/cli/cli/issues/641.

[2020-10-08 09:49] #2136 closed, assigned to nobody

[2020-10-08 09:58] mislav commented on #2079
@Goku-San If I understand, you are saying that when you go to https://github.com/settings/connections/applications/178c6fc778ccc68e1d6a, you can see “Delete repositories” being listed among Permissions, but you still cannot delete repositories?

Do you have admin access to the repository you are trying to delete?

[2020-10-08 10:05] samcoe commented on #2112
@windy1 @llorllale  this does seem like an issue. Can I ask what versions of Linux y'all are using, and specifically what commands you ran to do the update?

Seems like it could be related to the fix for https://github.com/cli/cli/issues/377

cc @vilmibm

[2020-10-08 10:29] samcoe commented on #2127
I can see how this would be useful. As this feature would be changing default behavior it will need to be discussed further among the core team to decide if we want to implement it.

[2020-10-08 10:32] samcoe commented on #2129
@dhleong This does seem like an issue. Did you notice this issue in previous releases or do you think it is a regression from the latest 1.1.0 change?

Do you receive the same error if you try to do `gh pr create --base <base branch name>`? Where you include the base branch name for the repo in the command. We should be resolving the repo base branch automatically when it is not specified, but may

[2020-10-08 10:42] Goku-San commented on #2079
@mislav

Yes

Yes, it was a test repo that I created.

[2020-10-08 11:46] dhleong commented on #2129
It was present in 1.0.0 for sure; I don't think I tried to use `--base` before that.

Sorry, I should have been more clear; *that is* the invocation I'm using and getting this error. I've updated the issue to include the `<base branch name>` in the invocation in the repro steps for clarity. Not specifying an argument to `--base` is an error, and not specifying it just tries to create a PR against

[2020-10-08 11:47] bko-o opened #2137 "التصحيح"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-08 11:53] llorllale commented on #2112
@samcoe

[code]

[code]

[2020-10-08 11:59] #2137 closed

[2020-10-08 12:11] windy1 commented on #2112
@samcoe
[code]

Same upgrade method as @llorllale

[2020-10-08 13:19] zxh326 opened #2139 "The auto-generated title should be in the input box by default."
### Describe the feature or problem you’d like to solve

In some cases, some modification of the default-generated title is usually required.

### Proposed solution

This title is defaulted in the input box to make it easier to edit.

[2020-10-08 13:31] AliabbasMerchant commented on #855
Oh right.

I will take this up then!

[2020-10-08 14:25] mislav commented on #1308
A scripting solution that will keep working even as we add more metadata attributes to the top of machine-readable output:

[code]

[2020-10-08 14:31] mislav commented on #2079
@Goku-San Then I am stumped and I think you should [write to GitHub Support](https://github.com/contact) about it.

I cannot see how this could be caused by a bug in GitHub CLI, since `gh api -XDELETE repos/OWNER/REPO` merely does the equivalent of:

[code]

If you can replicate with curl (you can find your gh token in `~/.config/gh/hosts.yml`), then this is a platform problem and Support might be

[2020-10-08 14:34] samcoe commented on #2139
@zxh326 Can you elaborate a bit on the feature request? What command specifically are you referring to? If you could provide an example that would be very helpful.

[2020-10-08 14:38] mislav commented on #2129
@dhleong Thank you for reporting!

Do you think a newline may have snuck into your invocation of `gh pr create --base "<branch>"`? I.e. instead of passing `staging/new-feature` as argument, is it possible that you've passed `staging/new-feature\n` (note the newline character)?

[2020-10-08 14:46] mislav commented on #2067
@cyrilletuzi This is great! Thank you for sharing 💖

[2020-10-08 14:48] dhleong commented on #2129
Aha! Great catch! I was indeed generating the `<branch>` programmatically and passing args as an array, without ensuring any trailing newlines were trimmed. Adding a `trim()` seems to fix things—thanks!

I suppose it might be worth trimming that flag argument in `gh` as well, for weird cases like this?

[2020-10-08 14:52] Goku-San commented on #2079
@mislav Thanks, I will try reinstalling the cli and set everything from scratch, it takes 5min. :)

Cheers...

[2020-10-08 14:57] mislav commented on #2129
@dhleong It's a good suggestion to somehow try to catch invalid input in gh CLI. Instead of trimming it ourselves (and thus tolerating buggy inputs), I would rather add some kind of input validation to our flag parsing that ensures that most flags error out on extra whitespace. I'm going to rename this issue to reflect this.

[2020-10-08 14:58] dhleong commented on #2129
Sounds good to me!

On Oct 8, 2020 at 10:57:55 AM, Mislav Marohnić <notifications@github.com>
wrote:

[2020-10-08 21:18] lilyball commented on #902
I would really love to see a config option to make this the default as well, along with an inverse flag (e.g. `--no-foo`) to opt in to the original behavior. I never want to create a local branch. I know I can make an alias but I'd prefer to keep the `gh pr checkout` invocation because it's easier to remember than custom aliases.

[2020-10-08 21:19] lilyball commented on #972
I'd like to see this, especially the "create a worktree in a known temporary location", but I would also want a way to say "prune all of my PR worktrees" so I can run that periodically.

[2020-10-08 21:33] thomaslevesque commented on #695
I can't get any of the suggested solutions to work. I tried in PowerShell Core and Windows Powershell, in all cases I only have the usual file completion, no command completion. It would be nice to have an answer from the team...

[2020-10-08 22:55] ryancogswell commented on #1923
I'm getting the exact same issue using git bash for Windows version 2.27.0.windows.1. I thought I might be able to work around it by avoiding the prompts via "gh auth login --hostname GitHub.com --web" and I got successfully through the authentication steps, but it doesn't seem to successfully remember the authentication. When I then tried "gh pr create --fill" I received "HTTP 401: This endpoint

[2020-10-09 07:05] jacobat opened #2140 "Allow output of URL for PR"
### Describe the feature or problem you’d like to solve

I would like to have a command that simply outputs the URL to a PR. This would allow me to capture the URL in the paste buffer for sharing with teammates. Currently I have to use the mouse to copy the URL from the console.

### Proposed solution

If I had

[code]

I would be able to

[code]

[2020-10-09 07:23] contourintegrals commented on #2106
Hey! Can you just check how the user is authenticated first of all, like if the user is authenticated with _GitHub.com_ then __do not__ show the _Internal_ option, if he or she is authenticated with a GitHub Enterprise Server, then __only__ show the _Internal_ option (during `gh repo create`)

[2020-10-09 07:38] potatoqualitee commented on #1730
I came here to request something similar! Because of the scope of the CLI is limited, I'd love some sort of centralized marketplace where I can access other people's aliases (perhaps even something as simple as a tag in gists).

I was hoping that the cli would include gitless/hub features using `gh` nomenclature but I understand that this will have to be solved by aliases. I don't know `git` very

[2020-10-09 07:41] contourintegrals commented on #1923
@ryancogswell I do not seem to get this error with `gh pr create --fill` 🤔

[2020-10-09 07:42] contourintegrals commented on #1923
Tools like Cmder, ConEmu, etc. do not support 0x25, 0x26, 0x27 and 0x28, which are key codes for the Arrow Left, Arrow Up, Arrow Right, Arrow Down keys respectively (I think 😕)
See https://github.com/AlecAivazis/survey/blob/17861e192dc11fd2f5081df1932c94cce262fa1e/terminal/runereader_windows.go#L24
(Line 24 to Line 27)

[2020-10-09 07:44] mislav commented on #2140
You can extract the URL from machine-readable output: `gh pr view | awk '/^url:/{print $2}' | head -1 | pbcopy`

But I understand this might not be straightforward. I would like to see a feature where you can choose a single field from a PR to output in a similar manner that you suggested 👍

[2020-10-09 07:47] ShubhankarKG commented on #2106
Yup, that's what the true intention is actually. The only point is that we need to see if that's possible through the Github API.

[2020-10-09 08:00] contourintegrals commented on #2106
@ShubhankarKG Please tell me, can we know this through the authentication method used while using `gh auth login`? If yes, then why GitHub API is preferred? Is there any security vulnerabilities or what? _(Just I'm curious 😃 )_

[2020-10-09 08:34] hantmac opened #2141 "mac os can not upgrade `gh` to v1.1.0 by `brew upgrade gh`"
# CLI Feedback
On mac os I can not upgrade `gh`  to v1.1.0 by `brew upgrade gh`

![image](https://user-images.githubusercontent.com/7600925/95561414-4d441880-0a4d-11eb-9852-d594460885ad.png)

[2020-10-09 08:37] samcoe commented on #2106
@shrihanDev Unfortunately the auth information is not enough to determine if a user has permission to create an internal repo. Internal repos can be created on both GitHub.com and GHES instances. These permissions are actually controlled at the organization and/or enterprise account level where the repository is to be created.

[2020-10-09 08:41] contourintegrals commented on #2106
@samcoe Thank you for that! And sorry for that question, I'm completely new to GitHub.

[2020-10-09 08:55] samcoe commented on #2141
@hantmac This is happening because there is a conflict with a previously installed version of `gh`. Can you try to uninstall the old version first and then installing the new version?

[code]

[2020-10-09 09:10] samcoe commented on #1907
@ShubhankarKG I found https://docs.github.com/en/free-pro-team@latest/rest/reference/gitignore but was unable to find anything in the GraphQL API.

[2020-10-09 09:20] ShubhankarKG commented on #1907
Yup, I got this as well, but the GraphQL API doesn't have support for .gitignore in the [Repository](https://docs.github.com/en/free-pro-team@latest/graphql/reference/objects#repository) object.

[2020-10-09 09:59] hantmac commented on #2141
@samcoe  That's so  weird.  I uninstall the old version and reinstall gh, but....

![image](https://user-images.githubusercontent.com/7600925/95570107-06f4b680-0a59-11eb-98c6-55253dd3f86a.png)

[2020-10-09 10:24] samcoe commented on #2141
@hantmac You probably need run to `brew untap github/gh` before reinstalling so homebrew knows not to install the package from `github/gh`.

[2020-10-09 10:33] hantmac commented on #2141
After run `brew untap github/gh` I got the flowing errors:

![image](https://user-images.githubusercontent.com/7600925/95573391-f430b080-0a5d-11eb-98b6-5aedec8d8ab9.png)

😢

And I can't install gh anymore.

[2020-10-09 11:13] sangdth opened #2142 "Have a way to get the gist id without using the mouse"
# CLI Feedback

## What have you loved?

❤️  I can edit gist content direct from my terminal, it is sooo cool.

## What was confusing or gave you pause?

✅  No. The documentation is good enough to know.

## Are there features you'd like to see added?

🤔  Because right now we have to use the gist id, it is super hard to type down one by one of the 32 random characters. Another way is to use the mou

[2020-10-09 11:30] eMPee584 commented on #1685
`add-apt-repository` has the unwanted habit of rewriting all files in `/etc/apt/sources.list.d/` unconditionally and the containing package is not installed by default on debian, so the equivalent command `echo "deb https://cli.github.com/packages stable main | sudo tee /etc/apt/sources.list.d/github.list" would be a nice addition to the install section..

[2020-10-09 12:01] mislav commented on #2141
@hantmac Homebrew is supposed to auto-update its definitions every 5 min when you do `brew install` or `brew upgrade`. The fact that it doesn't for you hints to the fact that you might have disabled it. Check the `HOMEBREW_NO_AUTO_UPDATE` and `HOMEBREW_AUTO_UPDATE_SECS` in your environment, if they are set. See `man brew` for more information.

To manually update Homebrew before installing formula

[2020-10-09 12:05] mislav commented on #2142
Thank you for the feedback!

Help me understand: from where do you intend to obtain the gist ID? I'm presuming that you first do `gist list` and then `gist edit <id>`?

[2020-10-09 13:15] stephenc opened #2143 "`gh pr create` has stopped detecting the fork"
### Describe the bug

[code]

This was working a few weeks back.

I always checkout the main repo as `origin` and my own fork as `stephenc`

I will create a local branch `foo-123` and push it to my fork: `git push -u stephenc foo-123`

Then when I try to create the PR it now blows up:

[code]

This was working at least 6 weeks ago, because I was really enjoying creating PRs from my forks...

_Work

[2020-10-09 14:12] Meiryo7743 commented on #2064
Something is wrong ...

Windows Defender recognized `gh.exe` as a threat again! The security intelligence version is 1.325.**429**.0.

The error log is as follows:

[code]

And here are the screenshots:

<details>
  <summary>Open</summary>

![Screenshot (246)](https://user-images.githubusercontent.com/46659204/95591417-3bc93380-0a82-11eb-9407-8def6432fa84.png)

![Screenshot (249)](https://user-ima

[2020-10-09 15:20] timnolte commented on #2112
I also just ran into this running Ubuntu 20.04.
[code]

[2020-10-09 15:23] timnolte commented on #2112
I re-ran `sudo apt install gh` and it fixed itself. It's concerning that it was trying to delete those system directories.

[2020-10-09 15:54] mislav commented on #2064
@Meiryo7743 Thanks for reporting again! Around the time that we released v1.0.0, a bunch of other people reported that the binary was classified by malware, too, so you are not the only person experiencing the problem. I believe that all the reports were false positives, since users like yourself have downloaded the release files from the official source over HTTPS. We'll try to have the issue cor

[2020-10-09 16:01] mislav commented on #2143
@stephenc Sorry for the nuisance! Please upgrade to v1.1.0 🙇 https://github.com/cli/cli/pull/1926

[2020-10-09 16:01] #2143 closed, assigned to nobody

[2020-10-09 16:30] #743 closed

[2020-10-09 16:32] mislav commented on #2107
@danielfn From the next release, update checker will be automatically disabled in CI environments (detected by the presence of environment variables such as `CI`) https://github.com/cli/cli/pull/2134

[2020-10-09 17:19] mislav commented on #1907
@ShubhankarKG Feel free to use REST APIs for anything that does not have a GraphQL API. You will find some existing REST calls in our codebase as an example 🙌

I would just add a note that initializing a repository with a README/license/gitignore is not compatible with the use-case where `gh repo create` is used in an existing git repository that does not yet have a remote:

[code]

This is a flow

[2020-10-09 17:32] gleich commented on #1055
Hey, @mislav any update on this? I would love to get started :)

[2020-10-09 17:35] I-Cat opened #2144 "Refrence: gh pr checkout 83"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'

gh pr checkout 83

2. View the output '....'
gh pr checkout 8
could not determine current branch: fatal: not a git repository (or any of the parent directories): .git
git: exit status 128

# # 3. See error [a joke to lighten y

[2020-10-09 17:47] cored commented on #2106
@samcoe @shrihanDev I also got a bit curious about this issue. What do you guys think about just mutating the error and displaying information related to what is the expected behavior from the user, what I can gather from the issue that is affecting the flow is that the user receive the `GraphQL` error. If instead of throwing the error the user can see just a message saying something like `Hey you

[2020-10-09 17:49] mislav commented on #2144
Thank you for reporting!

The instructions on the web site say: "run in your project repository". That means that you first have to `cd` into your project before you can run the `gh pr checkout` command.

Try this:
[code]

[2020-10-09 17:49] #2144 closed, assigned to nobody

[2020-10-09 19:11] thecomputerguyjeff commented on #2140
Maybe a flag or option/prompted question when the PR is created to automatically also push it to the copy buffer?

[2020-10-09 19:45] strickdd commented on #1775
Is there a way to get partially typed words to be tab-completed?

For example:
`gh pr ch<tab>`

Should cycle through the following as <tab> is pressed multiple times:
`gh pr checkout`
and
`gh pr checks`

Right now, it doesn't complete anything.

[2020-10-09 21:00] teodoro-mendes-brainweb opened #2147 "Add silent flag for "gh pr view" with specific exit codes"
### Describe the feature or problem you’d like to solve

I would like to automate some workflows by checking the current status of an opened PR.
It would be incredibly useful to have specific exit codes for each pr status.

### Proposed solution

If i had a flag like this:
[code]
And suppose the exit status was 100, associated with a "merged" status in the docs, then I could do:
[code]

The curren

[2020-10-10 00:46] ryancogswell commented on #1923
I eventually found the root of this secondary issue. `gh auth login --hostname github.com --web` works (lowercase "github.com"), but `gh auth login --hostname GitHub.com --web` (mixed case "GitHub.com") does not work. Both commands report success, but the results from the mixed-case version are not successfully leveraged by later commands. This is regardless of the terminal/shell being used.

[2020-10-10 05:46] shrihanDev commented on #1923
@ryancogswell This is, kind of, like a different issue. Would you mind creating an issue for this specific thing?

[2020-10-10 05:59] FeliciaXmL opened #2153 "Remote PR access"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?
Enchancement continued

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-10 06:08] devdev606 commented on #517
#2020

[2020-10-10 06:16] quiye opened #2154 "Integer overflow occured at `gh issue list --milestone`"
### Describe the bug

When I executed `gh issue list -m` with large number (larger than maximum value of int32), `gh` returns no error and it's looks valid behaviour to me.

[code]

But in reality, gh is not sending the expected query. This can be seen by putting a logger in `MilestoneByNumber`.

#### version
[code]

### Steps to reproduce the behavior

1. Apply this diff code
[code]
2. Build `go

[2020-10-10 09:26] hantmac commented on #2141
@mislav Thanks!  `brew update` && `brew install gh` ok! 👍

[2020-10-10 09:26] #2141 closed, assigned to nobody

[2020-10-10 13:22] LyzioOh commented on #1443
The api response is coherent.
The bug is in ```cli``` . Take a look at the issue ``2153`` 🤔

### Command Line output

#### Limit 10
[code]

#### Limit 400
[code]

### Api Response Logs
##### Limit 10

[code]
#### Limit 400
[code]

[2020-10-10 13:30] LyzioOh commented on #1443
Found something interesting by logging the func IssueList.
[code]

[code]

### First
[code]
### Second

[code]

[2020-10-10 14:41] danielfn commented on #2107
@mislav Great! Thanks for the heads up :)

[2020-10-10 16:01] quiye commented on #1443
I think that this issue is occurred by Go slices's copying specification.

`for _, issue := range response.Repository.Issues.Nodes {` line deep copies `response.Repository.Issues.Nodes` to `issue`.
But the type of `issue.Labels.Nodes` is slice (`[]struct {Name string}`).
So `issues` and `response.Repository.Issues.Nodes` shares same reference to an array.

When `response` is updated by next paging

[2020-10-10 17:07] SilkyFowl commented on #1775
@strickdd
I was able to reproduce it in my environment.
After a lot of testing, I also found that I could avoid the error by doing this.
[code]
However, a side-effect of the code is that it causes a bug in the tail completion.

### Expected
[code]

### Actual
![image](https://user-images.githubusercontent.com/16532218/95660937-1ca3d200-0b66-11eb-9792-01bf1668eb1c.png)

![image](https://user-images

[2020-10-10 17:22] SilkyFowl commented on #1775
This Issue's bug will be fixed in https://github.com/spf13/cobra/pull/1208#issue-474059859
However, it's not yet tested whether you will be able to complete the tabs for partial words.
If there is someone who is familiar with Powershell and Go lang, please check it and it may help me to solve the bug.

[2020-10-10 19:01] #2153 closed, assigned to nobody

[2020-10-10 20:59] samcoe commented on #2127
I actually found that this is a duplicate https://github.com/cli/cli/issues/1444 so I am going to close this one. Please feel free to add any comments/questions/suggestions to that issue 🙇

[2020-10-10 20:59] #2127 closed, assigned to nobody

[2020-10-11 01:40] rmsy commented on #927
Currently, the user is not prompted to confirm the title and/or body contents when using `--fill`. Is the desired behavior of this change that the user (after passing `--fill`) is _only_ prompted to confirm (and edit) the title/body contents when template file(s) exist? Or, with this change, should the user be asked to confirm the title/body contents every time, even when using `--fill` with no te

[2020-10-11 07:08] zwpaper commented on #2147
maybe you could try
[code]

[2020-10-11 07:40] aahnik commented on #716
## help wanted

I followed the techniques shown [above ](https://github.com/cli/cli/issues/716#issuecomment-694711822)...

Auto-completion worked. But when I press backspace and erase the command, the help message options are not going.

**Please take a close look at this gif**

![ghZSH](https://user-images.githubusercontent.com/66209958/95673007-a1bcd480-0bc2-11eb-9a33-7fac08084fa5.gif)

[2020-10-11 08:49] VineGaming opened #2155 "> @hugo-paredes For me (GHE 2.22) it looks like this with an OAuth token:"
_Originally posted by @VineGaming in https://github.com/cli/cli/issues/2061#issuecomment-706671928_

[2020-10-11 09:05] #2155 closed

[2020-10-11 09:16] quiye commented on #1443
I made [a Pull Request to add the test to my forked repository and tried to see it was as expected](https://github.com/quiye/cli/pull/2).
If the issues were on multiple pages, it still didn't seem to parse the issues correctly.
It seems that data overwriting can be prevented by simply stopping the reuse of response, so that is also implemented.

[2020-10-11 09:59] waldyrious commented on #287
@mislav thanks for the confirmation — I've just submitted #2156 to address that.

[2020-10-11 10:59] rista404 commented on #1514
@vilmibm will take this one!

[2020-10-11 12:04] shrihanDev commented on #2106
@cored +0.8 😄

[2020-10-11 12:32] aaditkamat opened #2158 "Allow generation of ssh key using GH cli"
### Describe the feature or problem you’d like to solve

I wanted to suggest an additional command within the GH cli that allows users to generate ssh key and add it to the ssh-agent. The steps that require user input such as specifying the name of the file to save the key or entering the passphrase can then be included within this command.

### Proposed solution

The user does not have to manuall

[2020-10-11 13:09] FeliciaXmL opened #2159 "403:error"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-11 13:22] #2159 closed, assigned to nobody

[2020-10-11 14:55] prkprime commented on #716
I believe that this issue is zsh completion related because this is the case for many commands
For eg. When you type git remote and hit tab once, and press backspace, it still shows the options for git remote command

[2020-10-11 15:43] mbpreble commented on #2111
Hoping to have a draft PR up for this within a few days. I think there's a path to signing the Windows binaries in a post-build hook.  Mono's `signcode` util is available in ubuntu (need 20.04 or a manual update of Mono for the ability to sign with sha256).

[2020-10-11 16:01] herzog0 commented on #2147
That would work too! But still, we need the specific exit codes for each status.
(I'm the OP, btw, commenting now with my personal profile).

[2020-10-11 20:57] gleich opened #2161 "Default repo owner to authed user"
### Describe the feature or problem you’d like to solve

Allow `gh repo clone` to leave off the OWNER if the repo is under the authed user account.

### Proposed solution

`gh repo clone dots` is easier to type then `gh repo clone Matt-Gleich/dots`.

### Additional context

N/A

[2020-10-11 23:58] jose331 opened #2163 "# CLI Feedback"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have yo
u loved?
_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-10-12 02:02] KAU-KING-ABDULAZIZ opened #2164 "D. Meshari Yazidi"
الجذر: ou = CA جذر وطني سعودي، س = المركز الوطني لإصدار الشهادات الرقمية، ج = SA

----- شهادة -----
‏MIIExTCCA62gAwIBAgIESbY1GDANBgqhkiG9w0BAQsFADBiMQswQQYDVQQGEwJT
‏QTEyMDAGA1UECgwpTmF0aW9uYWwgQ2VudGVYGZVCIEaWdpdGFsIENlcnRpZmlj
‏YXRpb24xHz أدبغ قن سفلباسمفلندقيةMNhdWRpIE5hdGlvbmFsIFJvb3QgQ0EwHhcNMTIwNDI5
‏MDY1NTIWhCNMjkxMTI5MDCYNTIWJBiMQswCQYQDVQQGYQTTYMDAGA1UECgwp
‏TmF0aW9uYWwgQ2VudGVYIGZvciBEaW

[2020-10-12 02:03] KAU-KING-ABDULAZIZ opened #2165 "D. Meshari Yazidi"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-12 03:12] zwpaper commented on #2147
let's make sure
1. is the silent flag necessary?
2. are there exit codes we can refer to?

maybe I can help to create a PR for this

[2020-10-12 04:35] phil-blain commented on #575
Adding a little more details:

The way I configure my feature branches is that they track the upstream branch in which they will eventually be integrated, and I push them to my own fork. Basically the configs above enable a workflow like this:

[code]

So it enables a pretty cool workflow in my opinion, which feels really "natural".

So it would be great if `gh` could understand this workflow a li

[2020-10-12 05:25] Emojigit opened #2166 ""fatal:remote origin already exists" when creating repo"
### Describe the bug

#### Version
[code]
#### Problem
When I want to create a GitHub repo via `gh repo create Username/RepoName`, I got some error.

### Steps to reproduce the behavior

1. Type the command `gh repo create Username/new_repo_name`
2. View the output
3. You will see error "fatal: remote origin already exists"

### Expected vs actual behavior

* Expected: I can create then clone the

[2020-10-12 06:40] #2163 closed, assigned to nobody

[2020-10-12 07:10] samcoe commented on #2158
@aaditkamat Thanks for your feature idea. At this time I don't think we will be adding a command to locally generate and manage SSH keys. These operations are highly OS specific and would be difficult to maintain. We do have an open feature request for a command to manage SSH keys on GitHub that might interest you https://github.com/cli/cli/issues/1755.

[2020-10-12 07:10] #2158 closed, assigned to nobody

[2020-10-12 07:19] contourintegrals commented on #1923
Hey all! I found out a solution, but for Git Bash!
Instead of running `<command>`, run `winpty <command>[.exe|.cmd]`.
In this case, `winpty gh.exe auth login`
Or, if you are too lazy 😉 , run `echo "alias <command (without options)>=\"winpty <command (without options)>\"" >> ~/.bashrc`
In this case: echo `"alias gh=\"winpty gh.exe\"" >> ~/.bashrc`

Reference(though not related): [Vue.js CLI Docs](h

[2020-10-12 07:45] contourintegrals commented on #2078
Hey all! I found out a solution for Git Bash!
Instead of running `<command>`, run `winpty <command>.[exe|cmd]`.
Or, if you are _too lazy_ 😉,  run `echo "alias <command (without options)>=\"winpty <command (without options)>.[exe|cmd]\"" >> ~/.bashrc`

In this case: `echo "alias gh=\"winpty gh.exe\"" >> ~/.bashrc`
Reference(though not related): [Vue.js CLI Docs](https://cli.vuejs.org/guide/creating

[2020-10-12 08:16] samcoe commented on #2106
@cored I see that being a good potential solution to the problem. One issue that might arise from going down that path is how to determining if the GraphQL error that we receive is one resulting from choosing internal repo versus another type of GraphQL error. They can be notoriously difficult to decipher at times.

[2020-10-12 08:29] shubhamzanwar commented on #2166
It looks like your repo was created: https://github.com/Emojigit/example
Am I missing something?

[2020-10-12 09:14] VigneshwaranDev commented on #2078
@shrihanDev This ( winpty <command>.[exe|cmd] ) really works... Thanks for your update

[2020-10-12 09:20] contourintegrals commented on #2078
Welcome @VigneshwaranDev. I just hope that @numanjvd82 closes this issue after this.

[2020-10-12 09:32] samcoe commented on #2038
@allejo This bug has been fixed in the latest version 1.1.0 (https://github.com/cli/cli/pull/1880)

[2020-10-12 09:32] #2038 closed, assigned to samcoe

[2020-10-12 11:44] quiye commented on #2161
It seems that your suggestion has already been implemented.

[gh repo clone | GitHub CLI](https://cli.github.com/manual/gh_repo_clone)

[2020-10-12 11:47] LyzioOh commented on #1443
@quiye , thanks for nailed it.
As i never write in Go, would have probably took a lot of time before figuring it out. 👍

[2020-10-12 12:13] numanjvd82 commented on #2078
yeah it works thank you I'm gonna close this issue now.

[2020-10-12 12:13] #2078 closed, assigned to nobody

[2020-10-12 12:17] sangdth commented on #2142
Yes, I would like to get the id quick and easy without using the mouse after `gist list`.

Example:
`gist list`
Return:
[code]

Then I type:
`gist edit 123<press tab>` it would autocomplete get the id instead of typing one character by one character.

That is what I'm trying to say.

[2020-10-12 12:55] shiouen opened #2167 "`gh release download` is not working for .zip and .tar.gz release assets"
### Describe the bug

For both github.com and enterprise github, I am unable to download the default .zip and .tar.gz release assets.
`gh --version`: gh version 1.1.0 (2020-10-06)

I first tried it on an enterprise private server and afterwards tried it on one of my own repositories.

### Steps to reproduce the behavior

1. I have the following release: https://github.com/restechnica/taskforce/rel

[2020-10-12 13:20] mislav commented on #2167
Thank you for reporting!

Unfortunately, right now the `release download` command doesn't work with the default `.zip` and `.tar.gz` assets, since they are not "real" assets in the sense that they were explicitly uploaded to a release. I understand, however, that the web UI always lists them among other assets and that people rely on the ability to download them, so we will add this functionality

[2020-10-12 13:26] gleich commented on #2161
Oops. My bad!

Thanks, @quiye for letting me know

[2020-10-12 13:26] #2161 closed, assigned to nobody

[2020-10-12 13:50] #2164 closed

[2020-10-12 13:50] #2165 closed

[2020-10-12 14:18] mislav commented on #2133
Thanks for the feedback! ❤️

This does push a git tag to your GitHub repo, which shows up among "releases" for your repository, but it's not a full GitHub Release in a sense that you can edit the release notes in Markdown format or upload your own assets to it. The `gh release create` command helps with creating a proper Release.

I see! In case that you haven't created the `v0.2.0` git tag yourse

[2020-10-12 14:26] shindere commented on #517
Huntr.dev (2020/10/09 23:09 -0700):

[2020-10-12 14:55] alterrebe commented on #1503
The `api` command didn't work for me - I guess it does not work well with GitHub Enterprise. I worked around using plain curl, but it does not look as nice as it could with the GitHub CLI.

[2020-10-12 15:23] omgjlk commented on #927
Hrm, I haven't tired it yet, but I would hope one would have an opportunity edit and fine-tune the PR, since often templates have thing that are supposed to be edited by the user.

[2020-10-12 16:15] mislav commented on #2166
@Emojigit Sorry for the bad experience! Right now, gh users get this error when they try to run `gh repo create` in an existing local git repository that already has an `origin` remote. This is known and we will try to make this a better experience.

`gh repo create` was meant to either be run _outside_ of a local repository, or inside of a local repository that has _no existing_ git remotes.

For

[2020-10-12 16:17] mislav commented on #1443
@quiye Wow, that is quite some detective work! Massive thank you for figuring this out and for the patch 🙇

[2020-10-12 18:30] ajsb85 opened #2169 "amd64 MSI shows the x86 path"
![image](https://user-images.githubusercontent.com/663460/95779101-b6d05b00-0cc9-11eb-9006-c4998544a1a2.png)

[2020-10-12 18:43] ajsb85 opened #2170 "gh.exe have no digital signature"
Hi,

Norton request permission to the network because the executable have no digital signature.

But the MSI have the signature from the GitHub vendor.
Why you didn't signed the executable gh.exe?

Below some proof.

Regards.

[code]

![image](https://user-images.githubusercontent.com/663460/95779909-3f033000-0ccb-11eb-859c-d054ef45c6b8.png)
![image](https://user-images.githubusercontent.com/66346

[2020-10-12 21:03] truongnhi08 opened #2171 "@d2iq-shadowbq I made a new issue of this https://github.com/cli/cli/issues/2094"
@d2iq-shadowbq I made a new issue of this https://github.com/cli/cli/issues/2094

_Originally posted by @reedspool in https://github.com/cli/cli/issues/619#issuecomment-703325714_

[2020-10-12 21:04] truongnhi08 opened #2172 "Sorry for the confusion."
Sorry for the confusion.

We have discussed adding detection of a lack of git credentials (either https or ssh) when doing git operations and reporting on it with a clear error message instead of letting git prompt a user as it's a common source of confusion.

We _could_ guess at git HTTPS credentials using an access token, but we haven't discussed or explored that; I think for now I'd rather go w

[2020-10-12 21:05] truongnhi08 opened #2173 "This needs to be documented as it very much feels like a bug, instead of a lack of implementation."
This needs to be documented as it very much feels like a bug, instead of a lack of implementation.

`gh` will authenticate, just not for repo cloning.

[code]
You can still use `gh` it just doesn't inherit the token properly.

You can use your personal access token (https://github.com/settings/tokens) if you have a TFA:

[code]

_Originally posted by @d2iq-shadowbq in https://github.com/cli/cli/is

[2020-10-12 21:12] jmkk commented on #449
On Enterprise side, we'd like to +1 this ask.

[2020-10-12 22:15] Firehawke opened #2174 "Docs need to be updated on editor status"
The documentation at https://cli.github.com/manual/ currently says:

On Windows, the editor will currently always be Notepad.

Per completed issue #1068 and commit #1301 (and indeed, this issue I've written up using VSCode using said instructions) you can change the editor on Windows. Not sure why the docs are still reflecting the old information.

[2020-10-12 22:15] milordman opened #2175 "gnome-desktop"

[2020-10-12 22:17] #2175 closed, assigned to nobody

[2020-10-12 22:21] AndrewSB commented on #1718
Yeah, I echo both @polothy & @jglick. The combination of

1. a flag like `gh pr create --upstream/--fork` would be great for non-interactive use
2. and for interactive use: the behavior of when choosing a push target for the first time, prompt whether to remember it for this repository (and also offer a command to undo or change that decision later)

would be awesome to see. I run `gh pr create -f

[2020-10-12 22:22] Firehawke opened #2176 "Yubikey and/or other hardware authenticators"
Suggestion: This might be a little difficult to do effectively cross-platform, but you should support the use of Yubikeys (and/or other types of hardware authenticators; even Windows Hello, for that matter) for authenticating to Github when using the CLI tool. I can't think of much that I consider of higher security importance than development accounts, and the slight nuisance of having to touch t

[2020-10-12 22:23] Firehawke commented on #2176
I did do a quick search for Yubikey and didn't see anything referencing it, so if I missed that this is a dupe, please accept my sincere apologies on the matter.

[2020-10-12 22:47] jonathanlloyd commented on #1845
Hey, I've had a go at this in #2177 - let me know what you think :smile:
Happy Hacktoberfest! :jack_o_lantern:

[2020-10-12 23:13] quiye commented on #1443
@mislav Can I make a pull request to the trunk branch of the original cli repository?
However this issue is marked as needs-user-input.
[CONTRIBUTING.md](https://github.com/cli/cli/blob/trunk/.github/CONTRIBUTING.md) says

Opening pull requests for issues marked needs-design, needs-investigation, needs-user-input, or blocked.

[2020-10-12 23:23] NEMSIS14061 commented on #1443
Abu7murad

[2020-10-13 01:14] sclem opened #2179 "support .ssh/config Include directives"
### Describe the feature or problem you’d like to solve

This is sort of related to #326 - I use different ssh keys for organizations on github, so I have Host aliases set up in `~/.ssh/config.d/org_name` files. One of these aliases may look like this:

[code]

git remote will look like: `git@github.com-org_name:Org/Repo.git`

My top level .ssh/config contains some global wildcards and `Include ~/

[2020-10-13 06:00] 7shi opened #2180 "`gh repo create`: Despite not creating a directory, it is confirmed"
# CLI Feedback

gh version 1.1.0 (2020-10-06)

## What was confusing or gave you pause?

In a repository that already exists locally, I executed `gh repo create`.

[code]

Even though `gh` doesn't actually create the directory, it confirms. I was confused that an extra directory might be created.

[2020-10-13 07:25] samcoe commented on #2170
@ajsb85 Thanks for reporting this bug. We already have an issue to track this bug https://github.com/cli/cli/issues/2111. Please feel free to add any comments/questions/ideas regarding this bug to that issue 🙇

[2020-10-13 07:25] #2170 closed, assigned to nobody

[2020-10-13 09:13] samyakbambole opened #2182 "Add 32-bit Windows Support"
The GitHub CLI Should be available on 32-bit Windows. I have a 32-bit Windows PC and I can't Download this CLI.

[2020-10-13 09:49] mislav commented on #2169
Thank you for the report! We're already tracking this in https://github.com/cli/cli/issues/703

[2020-10-13 09:49] #2169 closed, assigned to nobody

[2020-10-13 09:51] mislav commented on #2174
Good catch! I guess we meant to say that on Windows, the _default_ editor will always be Notepad. Of course it's possible to override the editor with `gh config set`.

[2020-10-13 09:56] mislav commented on #2176
Hi, thank you for the recommendation!

When the CLI tool first authenticates to GitHub, we open the web browser for you where you go through the typical GitHub authentication flow. If you've set up a Yubikey with your GitHub account, you will be prompted to touch the key during that flow.

After that, an OAuth token is generated for CLI and saved in your `~/.config/gh/hosts.yml` file. From that po

[2020-10-13 10:04] Emojigit commented on #2166
I am writing some plugins of software that use git, so I need to run the `gh repo create` in another repo.

[2020-10-13 10:04] mislav commented on #2179
Thank you for reporting! TIL about the `Include` directive of `ssh_config`. We should definitely include the referenced files in our parsing.

Our current ssh config parser is here: https://github.com/cli/cli/blob/a2aa07d497de3ad53be0e3b68d1adb9923105306/git/ssh_config.go

[2020-10-13 10:06] mislav commented on #2180
Thank you for the feedback! We will be working to improve the `repo create` command in the near future. 🙇

[2020-10-13 10:08] mislav commented on #2182
Thanks for writing in! We do offer 32-bit binaries in a `.zip` file, but there is no installer: https://github.com/cli/cli/releases/tag/v1.1.0

Was your question about providing a 32-bit `.msi` installer? Is it an option for you to use a package manager such as Scoop or Chocolatey to install `gh`?

[2020-10-13 10:12] samyakbambole commented on #2182
Yes, My Question was about Providing a 32-bit`.msi` installer

[2020-10-13 10:28] mislav commented on #2142
@sangdth Thanks for the clarification!

Ref. #360

[2020-10-13 10:33] mislav commented on #2106
Thanks for the discussion, all! I've reclassified this as a bug, since in the CLI we offer users an option that will result in an error if selected. I also don't know if we can determine from the API if INTERNAL visibility is supported, but it's worth an exploration. 👍

[2020-10-13 10:49] AliabbasMerchant commented on #1907
Could we have separate subcommands for the same, and then just internally call the appropriate subcommand whenever needed?

Example:
`gh readme create`: Will prompt (using an editor) to create a readme, with our standard format prefilled
`gh license list`: Gives a list of all licenses [Although I don't see much of a use-case for this]
`gh license create [licenseName]`: Will create a licence and as

[2020-10-13 11:32] mislav commented on #1907
@AliabbasMerchant We could definitely consider something like this! Although, before approving adding a plethora of new commands, I would first wait for the rest of my team to come back from leave (i.e. at least until next week) before we reach a decision. 🙇

[2020-10-13 11:50] mislav opened #2184 "Known problems with `repo create` command"
The `gh repo create` command right now has separate and potentially confusing behaviors when ran inside an existing local git repository vs. outside of it.

Bugs:
- [x] Remote `origin` already exists https://github.com/cli/cli/issues/2166 #893
- [x] Can't create a new repo while within a repo https://github.com/cli/cli/issues/2059
- [x] Takes parent directory instead of current directory name http

[2020-10-13 12:27] mislav commented on #2147
Hi, you can extract the `state:` key programmatically in a script of your own and have your script exit with a specific code or perform any logic that you'd like. Bash example:

[code]

Closing because `--silent` and exit codes is not something that I think fits the `pr view` command.

[2020-10-13 12:27] #2147 closed, assigned to nobody

[2020-10-13 13:40] mislav commented on #1443
@quiye Please submit your branch as a PR! The `needs-user-input` label here was stale.

[2020-10-13 13:52] rustiever opened #2185 "there should be way to go back from body to title in issue or pr creating"
while creating the pr or issue in cli, there should be a way to go back from body to edit the title

feature is like keyboard shortcut which enables us to go back from body of issue to title of issue

[2020-10-13 14:07] chrisburr commented on #968
`gh` was added to conda-forge in https://github.com/conda-forge/staged-recipes/pull/11021 and the actual package is built for Windows, macOS and Linux by [conda-forge/gh-feedstock](https://github.com/conda-forge/gh-feedstock).

Is this issue now just about adding `conda (install|upgrade) -c conda-forge gh` to the README?

[2020-10-13 14:27] mislav commented on #2185
Thanks for the suggestion!

Related: https://github.com/cli/cli/issues/1531

[2020-10-13 23:03] matthewsommer commented on #1733
This is a slightly unrelated, but in case it will help anyone like it helped me, disabling pager was just merged [#2021](https://github.com/cli/cli/pull/2021)

Now you can use `gh config set pager cat` to disable pager.

[2020-10-14 01:26] Firehawke commented on #2176
I was thinking per-use in replacement for the cached credentials, at least as an option for those who have such an authenticator on their account.

[2020-10-14 05:09] matschaffer commented on #419
Looks like about a quarter since the last update. Was hoping to use `hub` in one less place but this means I'll be keeping it around for the time being.

Any news on the GraphQL APIs?

[2020-10-14 10:02] ghost opened #2188 "`gh auth login` got no response"
### Describe the bug

The command `gh auth login` got no response after I typed my username.

### Steps to reproduce the behavior

1. Type this 'gh auth login'
2. Type my username.
3. See no response.

### Logs

Paste the activity from your command line. Redact if needed.

[2020-10-14 10:11] samcoe commented on #2042
@vilmibm I was unable to reproduce this with the latest version, is it possible this bug has been fixed?

[2020-10-14 10:23] mislav commented on #2188
Hi, thanks for reporting! Could you paste us the full output of `gh auth login`, as well as tell us your OS and terminal emulator? Thank you!

[2020-10-14 10:53] mislav commented on #1733
@benknoble Thanks for the feedback! After some more deliberation, I feel still entrenched in the position that we shouldn't respect git's configuration too much, since we're not git. The only place where we respect git's configuration is that we respect the GIT_EDITOR environment variable.

For those who are not happy with the effect that their PAGER has on gh, they can set GH_PAGER or `gh config

[2020-10-14 10:53] #1733 closed, assigned to nobody

[2020-10-14 11:28] mislav commented on #419
@matschaffer Thanks for checking in! We got access to some APIs for this that are under preview (not available to the general public) but we will likely need a few more weeks to ship something built on top of that. 🙇

[2020-10-14 11:30] matschaffer commented on #419
Thanks for the update!

[2020-10-14 12:23] slorber opened #2189 "gh pr push"
### Describe the feature or problem you’d like to solve

As a maintainer, I want to be able to push easily to the fork of a contributor (if he granted permission).
We need this to help unlock contributors if they are stuck on some difficult part.

### Proposed solution

[code]

Just discovered Hub, and found out that it had a similar feature: https://jonathanchang.org/blog/pushing-to-a-pull-reques

[2020-10-14 12:54] mislav commented on #2189
`hub push` does nothing else but execute `git push`, since hub is a proxy for `git`.

You will find that this works if the maintainer has given you access to their PR:
[code]

[2020-10-14 13:22] quiye commented on #1443
@mislav Thankyou !
I made a pull request.

[2020-10-14 14:53] slorber commented on #2189
Thanks @mislav , will try that.

Last time I tried that, afaik it pushed to upstream repo, not forked repo. I want to contribute to the fork, as the contributor should be able to continue working on his PR updated with my fixes.

Will double-check to see if your suggestion works.

[2020-10-14 14:55] alexandreamat commented on #1911
Absolutely, this happens to me every time. I press enter to fill in the info and... too late! you pressed the wrong button.
Maybe giving the opportunity of going back will make the users get used to the rules, if there is really no other way to make this intuitive.

Awesome utility anyway :) we use it a lot.

[2020-10-14 15:46] sophec commented on #2036
I can reproduce this as well. I have never had this issue before now, and have made other PRs with the same command in the past.

[2020-10-14 15:58] g5becks commented on #1741
I'm on 20.04 focal and it's still not working for me.

[2020-10-14 17:12] ghost commented on #1980
I agree with @ampinsk.  She echoed my exact thoughts from a user's perspective.

The way that `gh` help and man pages were designed is pretty annoying.  There is no single source of truth for the entire `gh` command and all of its components.  For instance, if I run `man gh`, it just shows the basic commands without much explanation and references other man pages, which then reference other man pa

[2020-10-14 21:16] Crunch09 commented on #2115
I'd love to give it a shot to work on this!

[2020-10-14 21:52] sanbornhilland opened #2192 "Milestone filtering by title doesn't work on closed Milestones"
### Describe the bug

Version: `gh version 1.1.0 (2020-10-06)`

Filtering issues by the title of a __closed__ milestone returns `no milestone found with title "MILESTONE"`

### Steps to reproduce the behavior

1. Create a milestone. Mine is called `3.159.0`
1. Attach an issue so there is something to filter
1. First filter by milestone number (In my case 181): `gh issue list --milestone 181`
1. Th

[2020-10-14 21:53] daniel-vera-g commented on #716
This works well.
Additionally I just had had to add a `rm ~/.zcompdump*` after adding the completions and before restarting zsh as referenced here: https://github.com/python-poetry/poetry/issues/1734#issuecomment-565510089

[2020-10-14 23:57] juliuswz opened #2193 "be able to revoke a token"
### Describe the feature or problem you’d like to solve

I tried to revoke the access granted to a remote machine but there is no option to revoke it. The OAuth key given for the machine does not appear at https://github.com/settings/apps/authorizations. The only way is to run `gh auth logout` on the machine.

### Proposed solution

It would be great to be able to revoke the key, as is possible fo

[2020-10-15 02:35] ghost commented on #2188
Oh yes, I should do it! Here's my platform info:
OS: macOS 10.15.7 Catalina
Terminal:zsh, OS build-in.
Here' the output info, it stop working after I typed my username.

Last login: Thu Oct 15 09:45:30 on ttys000
? What account do you want to log into? edwardhu  [Use arrows to move, type to filter]
<img width="697" alt="Screen Shot 2020-10-15 at 10 29 56 AM" src="https://user-images.githubusercont

[2020-10-15 05:18] TkTech opened #2195 "`gh auth login` should accept a list of scopes just like `gh auth refresh`"
### Describe the feature or problem you’d like to solve

The user experience when you need anything other than the default scopes is very subpar. For example we're using `gh` to automate setting up new developer laptops. One step is to add a newly generated public key with `gh api /users/key`, however we first have to call `auth login`, then `auth refresh` to add a single scope. This forces you to

[2020-10-15 05:23] hankei6km commented on #2193
I started using Github CLI a few hours ago.
I was also looking for a way to revoke an OAuth token.

I authenticated via the browser with the command,
however I didn't see the token on github(https://github.com/settings/applications https://github.com/settings/tokens).
[code]

As far as I've tried, `$ gh auth logout` only removes the local credentials.
[code]

I think it would be useful to add a co

[2020-10-15 08:09] dardo82 commented on #1260
If I add files with the same names
(as the ones already present in the gist)
they are going to be updated?

If I remove files they are going to be deleted?

[2020-10-15 08:54] exFalso commented on #1918
I experienced the same issue with urxvt + fish when I was doing my *first* `gh auth login` at the last prompt, `Choose default git protocol`. Afterwards it hasn't happened again. Very strange.

[2020-10-15 10:01] lucasrangit commented on #2014
@mislav should I open a new ticket? The same happens if I use Firefox.

[code]

[2020-10-15 10:55] stribb opened #2196 "gh pr create --label new-label"
### Describe the feature or problem you’d like to solve

When I try to create a PR using a label that hasn't yet been created, I want `gh` to do what I said. This seems like the most "Unixy" way of doing it.

### Proposed solution

If the label does not exist, `gh` will create it then try again to create the PR.

### Alternative solution

Create a flag, `--force-new-label` and only create a new la

[2020-10-15 11:36] igfoo opened #2197 "Allow specifying the user-agent"
### Describe the feature or problem you’d like to solve

I would like to be able to specify the user-agent that gh uses, so I can tell which script is responsible for which requests.

### Proposed solution

Allow the user agent to be overridden by a flag and/or an environment variable.

[2020-10-15 11:39] mislav commented on #1503
@alterrebe If you remove the `--silent` flag, do you get some response back? Also you may add the `-i` flag to see response headers. If this doesn't work on Enterprise (it absolutely should), please send us more debugging info so we can fix this 🙇

Note that for Enterprise you need to set GH_HOST for now:
[code]

[2020-10-15 11:40] mislav commented on #2196
Thanks for the request! I'm going to close this as duplicate of #1503, where there is also a temporary workaround using `gh api` which you can use to create the label before running `gh pr create`.

[2020-10-15 11:40] #2196 closed, assigned to nobody

[2020-10-15 11:42] #1443 closed, assigned to nobody

[2020-10-15 11:45] mislav commented on #2197
Hi, using `gh api` you may be able to set the User-Agent with `-H 'User-Agent: foo'`. But, for the rest of the `gh` commands it's not possible to alter the User-Agent header.

Do you need a global setting to change the User-Agent for all HTTP requests coming from GitHub CLI? May I ask where you analyze such headers for their values?

[2020-10-15 11:49] mislav commented on #2195
Great point! Thanks for describing your use-case. I'm definitely open to this.

[2020-10-15 12:07] mislav commented on #2014
@lucasrangit Thanks for sharing! The cause of the issue looks the same: your GHE server returns a HTTP 200 for resources under `/login/*` (likely after a redirect), but it returns a wrong page in those responses.

There is no need to open an another issue, since there is nothing we can do from GitHub CLI at this point except improving the error message. This failure already comes from a fallback a

[2020-10-15 12:27] dhanushkac commented on #2184
Is it a valid usage that running `gh repo create` inside existing repo?

[2020-10-15 12:32] igfoo commented on #2197
We discussed this out-of-band; a couple of details that came out of the discussion:

 * Adding to, rather than replacing, the user agent would also be fine (e.g. `GitHub CLI v1.0.0 (your custom string here)`).
 * The same machine may be running multiple scripts (which want different user agents) in parallel, so an environment variable or flag would be preferred over a global config.

[2020-10-15 12:58] mislav commented on #2193
Thanks for reporting! This is so weird: I can't see GitHub CLI listed in my authorized OAuth apps either. This might be a web UI bug.

You can revoke it at this direct URL: https://github.com/settings/connections/applications/178c6fc778ccc68e1d6a

I don't think it would make sense to have a `revoke` command or flag. Client apps such as GitHub CLI should have no business revoking their own access;

[2020-10-15 13:37] mislav commented on #2184
@dhanushkac Yes, running `gh repo create` inside an existing git repo that _has no git remotes_ is supposed to create the GitHub project for that repo (taking the directory name as the default project name) and add it as the `origin` remote.

[2020-10-15 13:41] mislav commented on #2188
@edwardhu I see; thanks for sharing!

This step is asking you to choose between "GitHub.com" and "GitHub Enterprise Server", not for your login name. If you don't type `edwardhu` (or don't type anything at all, for that matter), are any options shown on the screen that you can use arrow keys to select between?

If the prompt does not work for you, then you can choose the host explicitly via `--hos

[2020-10-15 13:44] mislav commented on #2115
@Crunch09 Sure! You are welcome to add a `gist clone` command 👍

[2020-10-15 13:45] mislav commented on #2036
Sorry about this issue slipping under the radar; folks! We've fixed this in v1.1.0 https://github.com/cli/cli/pull/1926

[2020-10-15 13:45] #2036 closed, assigned to nobody

[2020-10-15 13:59] mislav commented on #968
@chrisburr Thank you for the update! We'd welcome a PR to our README adding these instructions under the Installation section. 🙇

[2020-10-15 14:59] hankei6km commented on #2193
Thank you for quick response.

I was able to revoke Github CLI!
And I immediately ran `gh auth login -h github.com` :smiley:
[code]

Yes, got it.
I will revoke client apps access from my setting screen.

[2020-10-15 15:35] edemaine opened #2198 "gh pr branch name conflicts"
**Context:** I've been working on a new repo where multiple other people have been using the Github web edit-button interface for editing files and submitting pull requests.  As a result, their branch names are all `patch-1`, `patch-2`, etc. &mdash; but they're all from different forks.

**Problem:** I find that `gh pr checkout 4` doesn't behave well when the branch name was already taken by anoth

[2020-10-15 15:52] ajohnstone opened #2199 "gh gist create points to github.com and not github enterprise."
### Describe the bug

**version:** 1.1.0.
`gh create gist test` does not allow you to specify github enterprise to create gists rather than the public github.com, which is blocked for us. Should ideally be able to set the default.

### Steps to reproduce the behavior

1. Type this `gh gist create test`
2. View the output
[code]

### Expected vs actual behavior

Expect to be able to use github ente

[2020-10-15 17:49] leonard84 commented on #1740
IMHO, the installer should ask whether to install for all users (admin) or only for current user (appdata local).

[2020-10-15 20:44] EvanFarrell opened #2200 "`pr merge` should switch you to the branch that was specified with `create --base`"
### Describe the feature or problem you’d like to solve

When opening a PR to be merged into a non-master branch via `gh pr create --base <other-branch>` and after the PR is merged and the new branch is deleted, the user should be switched to <other-branch> and not master.

### Proposed solution

switch to other-branch instead of master

How will it benefit CLI and its users?

This falls a little

[2020-10-15 21:07] johnpapa commented on #1820
it appears GH 1.1.0 fixes this

[2020-10-15 21:54] adityasharad commented on #2197
This is for a particular area of GitHub-internal automation where we make use of a single bot user and are interested in staying under the API rate limits. So we can access the API logs, but find it useful to distinguish (via the user-agent) which piece of automation each API request is coming from.

So far it looks like all our uses of `gh` are in fact `gh api`, so it's great to hear that the hea

[2020-10-15 23:58] spider4841 opened #2202 "spider4841"
[XML-th](http-qutoric.com-xmlquire-th) ### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the act

[2020-10-16 02:12] ghost commented on #2188
Oh! Sorry, I solved it. 👍

[2020-10-16 02:13] #2188 closed, assigned to nobody

[2020-10-16 03:18] monty-expert opened #2203 "K"

[2020-10-16 03:19] monty-expert opened #2204 "H"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-16 09:29] #2204 closed

[2020-10-16 09:29] #2203 closed

[2020-10-16 09:32] mislav commented on #2200
Thanks! Duplicate of https://github.com/cli/cli/issues/1096

[2020-10-16 09:32] #2200 closed, assigned to nobody

[2020-10-16 09:35] mislav commented on #2199
Hi, you may specify your Enterprise host with:

[code]

This affects the `gh gist create`, `gh repo create`, `gh api`, and similar commands that otherwise default to github.com.

Would you prefer that this is somehow more discoverable?

[2020-10-16 09:36] mislav commented on #1740
Thanks for the additional context; reopening this as a feature request to tweak the Windows installer. 👍

[2020-10-16 09:54] ajohnstone commented on #2199
Thanks I was trying GITHUB_HOST, didn’t realise it had changed from the original PR.

[2020-10-16 09:54] #2199 closed, assigned to nobody

[2020-10-16 11:41] mislav commented on #2192
Thank you for reporting!

I guess we should add an additional parameter here to indicate that we want to search over _all_ milestones, not just open ones: https://github.com/cli/cli/blob/02f494693cb8a1c83c55f43d9d979afd9d7ecedc/api/queries_issue.go#L260

[2020-10-16 11:46] mislav commented on #2198
Thank you for the feedback! We definitely want to improve this and we're tracking it in https://github.com/cli/cli/issues/233. 🙇

[2020-10-16 11:46] #2198 closed, assigned to nobody

[2020-10-16 11:49] mislav commented on #2193
I've asked around in the org and it looks like that we don't list 1st-party apps (e.g. "GitHub CLI", which is owned by GitHub) among your authorized OAuth applications anymore. Not sure if this was intentional or a bug; will report when I have some updates.

In the meantime, the URL in my previous comment should work for anyone who wants to revoke GitHub CLI from accessing their account.

[2020-10-16 11:59] mislav commented on #2112
Could the warning be part of normal `dpkg` behavior when uninstalling/upgrading? https://github.com/cli/cli/issues/833#issuecomment-619750124

I see no reason for concern. `/usr/local` won't actually be removed unless it's empty.

[2020-10-16 12:08] mislav commented on #1837
@davezarzycki Hi, thanks for writing in! You are right that right now, a "base" repo will be saved per git repository (not per-branch or per-worktree). You are also right that the base repository feature is currently undocumented.

To help me understand your use case: when you switch between branches/worktrees, how would you prefer the "base" repo being selected for querying issues or choosing a b

[2020-10-16 12:46] davezarzycki commented on #1837
I'd just formalize the workaround listed above: if the local branch has an upstream/tracking branch, then extract the "remote" of the upstream branch and use that as the GitHub  "base".

This approach implicitly works with git worktrees.

[2020-10-16 12:48] edemaine commented on #2198
Oops, sorry for the duplicate and thanks for the pointer. I will track there! (I did search for an existing issue, but didn't see that one.)

[2020-10-16 12:53] edemaine commented on #233
I also worry a bit about clobbering local branches. A simple improvement would be to not do anything when the branch exists and is in a dangerous state (didn't come from same remote, or maybe has unpushed changes?).

[2020-10-16 13:48] mislav commented on #1190
I'm guessing we should be querying something like this:
[code]
and adjusting the available options accordingly in https://github.com/cli/cli/blob/02f494693cb8a1c83c55f43d9d979afd9d7ecedc/pkg/cmd/pr/merge/merge.go#L226-L234

[2020-10-16 13:53] mislav commented on #544
@tim-phillips That might be a separate problem: https://github.com/cli/cli/issues/1923. Please add to that thread more information about your OS and terminal program!

@danieldiekmeier Right now, our text inputs aren't readline-enabled, so jumping between words or lines using escape sequences isn't available yet. We'll update this thread when this becomes possible in the future 👍

[2020-10-16 16:04] greghor opened #2206 "not able to add a collaborator using the cli"
# CLI Feedback

## What have you loved?

Really liked the tool so far!

## What was confusing or gave you pause?

I am not super experienced with API so I am pretty sure my question is naive but I am struggling since yesterday to understand how to properly pass parameters to `gh api` .  I am trying to add a collaborator to a private repo, but the following command returns a 404

`gh API repos/:own

[2020-10-16 16:06] mislav commented on #2206
Hi, thanks for writing in!

Based on [the API docs](https://docs.github.com/en/free-pro-team@latest/rest/reference/repos#add-a-repository-collaborator):
[code]

Without the `-X PUT`, this would have been a POST request. That's likely why you're getting a 404!

[2020-10-16 16:06] #2206 closed, assigned to nobody

[2020-10-16 16:39] tim-phillips commented on #1923
I'm unable to navigate the menus. I get the following error when I use the arrow keys.

`Unexpected Escape Sequence: ['\x1b' 'O']`

macOS, zsh, iTerm2, tmux

[2020-10-16 18:58] quiye commented on #2192
I would like to work on this.

[2020-10-16 19:28] despreston opened #2210 "Display the number of approvals in 'pr status'"
### Describe the feature or problem you’d like to solve

My team requires >=2 PR approvals before merging a branch. I'm sure there's other teams that have some min. requirement for number of approvals as well. My problem is that `gh pr status` only shows if a PR's been approved at least once.

### Proposed solution

I'd love for it to show the number of approvals.

[2020-10-16 19:48] bitdancer commented on #927
For sure any time a template is used you should end up in the editor, nothing else makes sense.  But I also want the option to edit even if I just used `--fill`.  Maybe an '--edit` flag like hub has?  Also, the first line of the edited file should be the title, just like it is in hub, to make it easy to edit the title when using --fill.

I hate prompting and have turned it off, but I always want t

[2020-10-16 20:42] windy1 commented on #2112
@mislav Hard to say. If you look at the beginning of this thread, I closed this issue after finding that same stackexchange post you linked, but opened it again when other people started reporting the issue. I've never encountered this before which is what compelled me to open this issue, compounded with the fact it was trying to delete a commonly used system directory.

[2020-10-16 22:43] #2195 closed, assigned to rnystrom

[2020-10-17 01:14] gilcrest commented on #2133
Super helpful information, thanks so much!

Would it be possible to add the tag locally and then use the tag for a target? e.g. `gh release create --target-tag v0.2.0` or just recognize a semver pattern to enable `gh release create --target v0.2.0`

Or does that not make sense? Pulling the tag locally after could work, but my typical flow, because of Go Modules, is to tag in my IDE and then push r

[2020-10-17 02:19] harrywhite4 commented on #1110
So i had a look into this and glamour doesn't have the option to preserve newlines. I found [this line][glamour-flag] in their code which explicitly turns newline preserving off.

Just to test i did a build with a local version of glamour with that flag set to true and it did work as expected.

Could probably ask them if that can be exposed as a configurable option

[glamour-flag]: https://github.

[2020-10-17 08:22] codeperfectplus opened #2211 "paste subprocess was killed by signal"
### Describe the bug

I am facing bug while upgrading gh cli 1.0.0 to 1.0.1.

### Steps to reproduce the behaviour

1. Type this `sudo apt upgrade gh`
2. View the output
3. See error

[code]

### Expected vs actual behaviour

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if needed.

[2020-10-17 11:26] spider4841 opened #2212 "spider4841"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-17 11:35] kartikay101 commented on #1711
Hey, is this still open ? If yes I would like to take it up

[2020-10-17 11:37] samyakbambole commented on #2182
@mislav , I Tried to install `gh` from clocolatey but it didn't work. There needs to be a 32-bit version of `gh`

[2020-10-17 12:04] niklasmohrin opened #2213 "Option to disallow edits from maintainers"
### Describe the feature or problem you’d like to solve

I would like to disallow edits by maintainers when creating a PR from the command line. Currently, I have to open the PR in the browser and untick the checkbox ("Allow edits and access to secrets by maintainers"). Correct me if I'm wrong, but I could not find an option in [the manual](https://cli.github.com/manual/) or an existing issue.

##

[2020-10-17 14:02] divbhasin commented on #1190
New contributor here 👋 Willing to give this a shot :)

[2020-10-17 14:21] quiye commented on #969
I would like to work on this.

[2020-10-17 15:19] despreston commented on #2210
I have a patch for this [here](https://github.com/despreston/cli-1/commit/2150f87f5353162bba57e792f503157e7773a370) I'd love to commit.

[2020-10-17 15:56] Antonchijk opened #2215 "Thank you for the feedback! If I understand, you are suggesting that we ask the user what gh should do in case you called `gh repo create` and you are already in a git repository that has a git remote called "origin"?"
Thank you for the feedback! If I understand, you are suggesting that we ask the user what gh should do in case you called `gh repo create` and you are already in a git repository that has a git remote called "origin"?

_Originally posted by @mislav in https://github.com/cli/cli/issue_comments/626600737_

[2020-10-17 17:00] contourintegrals opened #2216 "gh repo clone: Make the error message more useful, if the <repository> argument isn't passed."
# CLI Feedback

As mentioned in the title, please make the error message more useful, like, instead of:
[code]

...you can use:
[code]
Obviously, the above message can be changed. Its just an example 😉

## What have you loved?

The overall functionality of the `gh` cli that helped me to do everything I do on the website, through the CLI (well, almost 😄  )

## What was confusing or gave you pause?

[2020-10-17 20:16] kartikay101 commented on #1711
Hey I was looking into this. I have a few questions:

1. The code is zipped on the server of GitHub, so is it even possible to create a checksum for those zips ?
2. Creation of a local zip for checksum validation seems like a bad idea ( thoughts ? ). Plus release does not require you to have a repository cloned.
3. Checksum for each file can be created locally and saved onto a file but this fails

[2020-10-17 20:23] divbhasin commented on #1190
Is it possible for a repo to have none of the 3 options enabled? The test for interactive merge fails because the "blueberries" repo we create to test on has none of the options enabled. Just wondering if this can also be a real world case so I can modify the tests accordingly.

EDIT: I have created the draft PR and mentioned my problem with the tests. Please take a look and advise on how to fix t

[2020-10-17 20:41] felipecrs commented on #1711
No checksums for the source code archive. This should only apply to the artifacts published manually.

The files will already exist before being uploaded with `gh`. Also, there is no need to create a persistent file, it can be a temporary one (I guess you mean `checksums.txt`, right?).

It does not matter if we follow the same pattern of `goreleaser`. Whatever they do for `goreleaser` to verify th

[2020-10-18 00:51] harrywhite4 commented on #1711
I also made a bit of a start on this, the checksums can be verified with `sha256sum --check checksums.txt` as long as the format is the same as sha256sum. Looks like that is what `goreleaser` does

[2020-10-18 13:41] jeremynac opened #2220 "New feature : ls-like command to list your repositories"
### Describe the feature or problem you’d like to solve

We cannot, as of now, use the commandline to check which repositories we have, their status... When you want to clone a repository, it's always useful to see which one you have, like on the web UI.

### Proposed solution
I propose a command, like the shell command 'ls', that lists your repositories. This way, users won't have to go to the we

[2020-10-18 20:47] rista404 commented on #1734
I can jump on this one!

[2020-10-18 22:14] #2215 closed, assigned to nobody

[2020-10-18 23:16] aj1988aj opened #2225 "Release"
https://github.com/cli/cli/blob/6cd421eaa919fe28e35c41a362a526494fe0d2fc/.github/workflows/releases.yml#L1

[2020-10-19 00:01] #2225 closed

[2020-10-19 06:15] djr7C4 commented on #449
One way of doing this that could be nice is to use a file descriptor.  This has the advantage of allowing the user to securely supply the password using any password storage application of their choice (combined with a simple shell script).

This method is used in other applications such as gpg.  For example, on Linux/Unix this could look something like
    `gh --token-fd 3 3<<<"$(program-to-read-

[2020-10-19 07:57] ggallovalle commented on #2220
I achive that currently thanks to a combination of `gh api` and `gh alias`

These are some of my gh aliases

[code]

I also have a companion bash script that makes use of **fzf, ghq and jq** to interactively clone a repo

[code]

[2020-10-19 09:44] Hellseher opened #2228 "Top level flag to specify directory to operate in"
### Describe the feature or problem you’d like to solve

For example your org has N number of projects you have cloned locally where N may be more then 100. To list all PRs on all projects you need to repeatedly access each project and run `gh pr list` for N times.

Unwanted scenario:
[code]

### Proposed solution

It would be nice to have such key in to level flags such `--dir`, `--repo` or `--pr

[2020-10-19 10:17] jacobat commented on #1682
Checks are not necessarily listed in the checks tab. The way we do PR's the checks are listed at the bottom of the conversation tab and nothing is on the checks tab. So for people like us this behaviour would be confusing.

[2020-10-19 11:10] anna-sunberg opened #2229 "All input data is lost if issue creation fails"
### Describe the bug

Issue title and description are lost if issue creation fails. Because both are entered interactively, neither are in terminal history and have to be typed from scratch.

### Steps to reproduce the behavior

1. `gh issue create --label incorrectlabel`
2. Enter title and description
3. See error` could not add label: 'incorrectlabel' not found`
4. Title and description are lost

[2020-10-19 11:14] mislav commented on #2229
Thank you for reporting and I'm sorry for the nuisance! 😞

Duplicate of https://github.com/cli/cli/issues/906

[2020-10-19 11:14] #2229 closed, assigned to nobody

[2020-10-19 13:01] mislav commented on #2027
Hi, thanks for the feature request!

What are the use-cases for having a container? Is it for development on CLI codebase, or for usage of `gh`? If the latter, how would you envision using `gh` from within a container?

[2020-10-19 14:14] mislav commented on #2220
@ggallovalle This is great! Thanks for sharing! <3

I will close this because we are already tracking the feature to list repositories: duplicate of https://github.com/cli/cli/issues/642. 🙇

[2020-10-19 14:14] #2220 closed, assigned to nobody

[2020-10-19 14:15] nissessenap commented on #2027
Hi

I have a few plans for using it.
My personal plan is to use it in a GitOPS way of working. For example when passing CI in a dev branch I want to auto create a PR for QA branch.

I also have use cases to auto fix linting, for example using the opinionated linting tool black for python https://github.com/psf/black and auto fix the PR according to my repo standard.

[2020-10-19 14:15] o1x3 opened #2231 "How can I set change the default new branch from master to main"
Okay so this is more of a question than a feedback

So recently GitHub changed the default branches from master to main, but when I use the ```gh repo create``` command from the cli it set's the master branch as default and I have to manually create a new branch and change stuff

PS. I tried this and no luck ```git config --global init.defaultBranch main```

[2020-10-19 14:19] mislav commented on #2133
@gilcrest It's absolutely possible to first create a tag locally and then create a release for it. The `--target` argument accepts commit SHAs, branch names, or tag names.

[code]

Actually, I think that `--target v0.2.0` in the last command isn't needed, because the `v0.2.0` Release will automatically get tied to the `v0.2.0` git tag if one already exists. The `--target` argument only has effect,

[2020-10-19 14:24] mislav commented on #2231
@dopewind Do you use the version of git locally that supports the `init.defaultBranch` setting? It's a recent addition, so you could try upgrading git first.

The config setting you shared should do the trick for changing the `master` branch default to something else. In a future gh release, we will try to respect the default branch as set by your GitHub setting. We're tracking this as https://git

[2020-10-19 14:24] #2231 closed, assigned to nobody

[2020-10-19 14:30] mislav commented on #1682
@jacobat Thank you for the context! It sounds like your repo is using Statuses instead of Checks, which would explain why they are not listed in the Checks tab.

I think that `pr checks --web` flag might still be useful for people who uses Checks (and not Statuses) in their repositories.

[2020-10-19 14:34] mislav commented on #2228
Thanks for writing in!

We already support the `--repo` flag:
[code]

However, that flag requires you to know the `owner/repo` pair for a GitHub repo.

If you're operating on local directories exclusively (and don't know exactly which GitHub repos their remotes map to), maybe a flag like git's `-C` would be useful? https://github.com/cli/cli/issues/1931
[code]

[2020-10-19 15:08] rnystrom opened #2232 "Behavior when posting issue/PR fails"
Forwarding feedback I received about failure modes. I haven't tried this yet so I want to confirm. If submitting an issue or PR fails for some reason, what do we do (if anything) to save or restore the content you tried to submit? Do we save a "draft" file anywhere that you can resume/retry? Or would content be lost?

Thinking about what would happen if I spent a long time writing a PR body and th

[2020-10-19 16:14] gilcrest commented on #2133
@mislav - again super helpful, thank you!

What was confusing for me was that your documentation at [https://cli.github.com/manual/gh_release_create](https://cli.github.com/manual/gh_release_create) for --target is as follows:

[code]

I think for most people, they would implicitly understand that a tag is just a pointer to a commit SHA. I am clearly not most people :)

Your note, *"The --target a

[2020-10-19 16:14] jeremynac commented on #2220
@ggallovalle That's an amazing script.Thank you
@mislav Thanks for your answer, i am glad that this feature is coming

[2020-10-19 16:47] mislav commented on #2232
@rnystrom Definitely on our list: #906

I feel strongly about this, so I'd be up for prioritizing this for the next feature release!

[2020-10-19 16:47] #2232 closed, assigned to nobody

[2020-10-19 20:50] covertbert commented on #2015
This would be an amazing enhancement if implemented!

[2020-10-19 23:16] ghost opened #2235 "Смщ"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-20 02:31] fregante opened #2236 "support gitflags in gh repo fork"
### Describe the feature or problem you’d like to solve

I want to create a fork and then clone it locally shallowly. This is not possible since `gh repo fork --clone` does not provide any options and does not return the repo name in a clean way.

### Proposed solution

[code]

or accept gitflags [like `gh repo clone` does](https://cli.github.com/manual/gh_repo_clone)

[code]

## How will it benef

[2020-10-20 03:32] emhagman commented on #1674
I'd be willing to work on this if the team has a finalized design

[2020-10-20 03:35] mittalyashu commented on #2015
What about converting PR into draft?

[2020-10-20 06:19] #2235 closed, assigned to nobody

[2020-10-20 06:44] #2130 closed, assigned to nobody

[2020-10-20 06:46] #1514 closed, assigned to nobody

[2020-10-20 07:17] #2154 closed, assigned to nobody

[2020-10-20 07:23] #1845 closed, assigned to nobody

[2020-10-20 08:53] covertbert commented on #2015
@mittalyashu I think it would be nice to perform _any_ PR action you would in the UI with the CLI.

[2020-10-20 09:19] Hellseher commented on #2228
@mislav #1913  git-like `-C` flag looks exactly what I would like to have, thanks 👍
It also mentioned `-R` flag which I could not find in my current `gh` version

[code]
**UP**

`-R` flag is not in top level

simple hack to list all PRs on all repos cloned locally, assuming that all of them belong to one `<org>`

[code]

[2020-10-20 11:29] jacobat commented on #1682
Just to be clear: Statuses show up when doing `gh pr checks` - which is why it could be confusing for people that `--web` would go to the checks page which would then be empty.

The reason I ended up here was because I would like a `--web` that opened the statuses :)

[2020-10-20 14:19] jetersen opened #2240 "GitHub action tag release flow."
### Describe the feature or problem you’d like to solve

I would love to see GitHub cli to support this workflow.
[code]
Thing is GitHub cli already knows about which repo is the "upstream" repo so when working from forks the same `gh` is run against upstream.

I am not sure if this is something GitHub cli wants to support. Feel free to close the issue.

### Proposed solution

Current v1 points to

[2020-10-20 16:23] yrsurya opened #2241 "Repo create with team should give the team Manage instead of Read access"
### Describe the feature or problem you’d like to solve
We are having Base permissions for Members as Read so that we can set boundaries and utilize teams to manage repos.
But while using gh cli to create a repo and allow it to team getting read only access where I attached screenshots
A clear and concise description of what the feature or problem is.

gh repo create $ORG_NAME/test --private --tea

[2020-10-20 16:26] mislav commented on #2064
@Meiryo7743 There have been some updates from the Microsoft side, but nothing conclusive. Could you check if the classification as a thread is present again? Thank you

[2020-10-20 16:41] mislav commented on #2241
@yrsurya Thank you for the feature request! 🙇

Your use-case totally makes sense: to be able to override the base permission of "read" to something else while creating a repository on behalf of a team.

However, this does not seem to be [available in our API](https://docs.github.com/en/free-pro-team@latest/graphql/reference/input-objects#createrepositoryinput), neither is the CLI able to issue an

[2020-10-20 16:43] lukasmalkmus opened #2242 "Man pages omit arguments encapsulated with < >"
### Describe the bug

The man pages don't include arguments that are between `<` and `>`. This is related to https://github.com/cpuguy83/go-md2man/issues/11.

### Steps to reproduce the behavior

`man gh-repo-clone`

### Expected vs actual behavior

The `SYNOPSIS` topic should read like

[code]

but it reads like

[code]

`go-md2man` should also print a warning about his matter. It can't handle HT

[2020-10-20 19:45] chrispat commented on #928
Dependabot should provide information about actions you are referencing in your workflows that have new versions.

[2020-10-20 20:53] ralsu091 commented on #2112
~running into this on WSL2 Ubuntu 18.04~ Restarting shell fixed it
[code]

[2020-10-20 21:32] ahmed2m opened #2243 "Can't continue in the browser for branch names with a slash"
### Describe the bug
When having a branch name with a slash e.g. `feat/#15` the tool generates and opens an invalid url to continue the PR.

gh version: 1.0.0
### Steps to reproduce the behavior

1. `git branch -b test/#123.`
2. change anything and commit.
3. `gh pr create`
4. type the info and select continue in the browser for the last step

### Expected vs actual behavior

It should open the co

[2020-10-20 22:19] csantanapr opened #2244 "provide option for ssh/git when using gh repo clone"
### Describe the feature or problem you’d like to solve

I love that `gh repo clone` when done on a fork it would setup the origin and upstream remotes, and even more that is now an option on the Clone drop down
![image](https://user-images.githubusercontent.com/1094878/96650005-1816b080-1300-11eb-855b-a512248ce033.png)

My problem is that would use HTTP instead of SSH/GIT URLs.

For example
[code

[2020-10-20 22:26] csantanapr commented on #2244
It looks like this can be configured in `$HOME/.gitconfig` using something like this
[code]
Ref: https://git-scm.com/docs/git-clone

[2020-10-21 01:42] ShubhankarKG commented on #2244
You can set the protocol using

[code]

After this, your repos would get cloned over https.

[2020-10-21 02:44] csantanapr commented on #2244
Hi @ShubhankarKG thank you so much, that was the thing I was looking for. I want `ssh` instead of https
[code]

By the way what does `editor` means? Do you have an example?

[2020-10-21 04:58] Meiryo7743 commented on #2064
@mislav Thank you for your reply. I scanned the execution file, then it was not recognized as a threat.

- Security intelligence version: 1.325.1134.0

[2020-10-21 05:38] yrsurya commented on #2241
[code]

I am trying this but not working though as of now but I believe api already exists . Something to start with

[2020-10-21 09:16] harshu1470 commented on #2244
Hey! can I work on it?

[2020-10-21 09:48] tbg opened #2248 ""Go to previous" in interactive mode"
### Describe the feature or problem you’d like to solve

When interactively performing an operation (such as creating an issue), there's no way to return to a prompt that has already been submitted. I frequently try to open an issue and forget to put a certain label on it. Then I can either submit or cancel, both of which aren't great. I really just want to move back a prompt to fix things up.

##

[2020-10-21 10:27] mislav commented on #2064
@Meiryo7743 Do you think this issue can be closed then? Please go ahead and mark it so if you don't experience this issue anymore. 🙇

[2020-10-21 10:44] mislav commented on #2241
@yrsurya Thanks for trying this out! Is it the 2nd request that fails? Can you share with us the server response?

[2020-10-21 11:05] mislav commented on #2244
@csantanapr You can change the default to SSH for repos cloned from github.com:

[code]

You can also change your text editor used for `gh issue/pr create` and similar commands, although this is not at all related to the HTTPS/SSH topic:

[code]

[2020-10-21 11:05] #2244 closed, assigned to nobody

[2020-10-21 11:08] csantanapr commented on #2244
Thanks @mislav for the editor tip 👍

[2020-10-21 11:25] mislav commented on #2140
@thecomputerguyjeff See https://github.com/cli/cli/issues/1646

[2020-10-21 11:26] mislav commented on #2248
Thanks for the request! I'm going to close this as a duplicate of https://github.com/cli/cli/issues/1531, which describes allowing going back to editing metadata (such as labels) in the step that right now offers only "Submit" and "Cancel" options.

[2020-10-21 11:26] #2248 closed, assigned to nobody

[2020-10-21 12:12] #2243 closed, assigned to nobody

[2020-10-21 12:18] mislav commented on #2240
Thanks for the feature request!

I'm not sure if this is something that fits in our vision for CLI right now. Even though there are clear recommendations on how to do versioning for your Action, every project can still make a versioning/release flow according to their own standards and I'm not sure if CLI could sufficiently encapsulate that.

For the record, I don't necessarily agree with the acti

[2020-10-21 12:18] #2240 closed, assigned to nobody

[2020-10-21 12:29] mislav commented on #2182
@samyakbambole Can you try using Scoop (also a package manager for Windows) to install a 32-bit version? I think that should work.

[2020-10-21 12:31] mislav commented on #2211
@codePerfectPlus Hi, does this happen every time you try upgrading?

Does it also happen if you `rm -f /var/cache/apt/archives/gh_1.1.0_amd64.deb` first and then retry?

Can you tell us more about your OS version? Thank you!

[2020-10-21 13:03] slorber commented on #2189
Hi @mislav

I wanted to improve this PR: https://github.com/facebook/docusaurus/pull/3613

I run `gh pr checkout 3613` and did my local commits.

Then I tried the `git push` but it didn't work. Only when I added remote repo URL did my commit end up showing in the PR

![image](https://user-images.githubusercontent.com/749374/96722436-ae54e000-13ad-11eb-8b4d-969f7623b2af.png)

Only the 2nd command w

[2020-10-21 13:11] yrsurya commented on #2241
[github.log](https://github.com/cli/cli/files/5416036/github.log)

So I am trying with a Member PAT who added to that team but not with maintainer role

[2020-10-21 13:42] samyakbambole commented on #2182
Ok I'll try that instantly and see if that works and i'll inform you.

[2020-10-21 13:54] codeperfectplus commented on #2211
Thanks for your reply, @mislav
I am getting the same error after removing the gh_1.1.0_amd64.deb
[code]

System info:-https://termbin.com/b4jq

[2020-10-21 14:21] samyakbambole commented on #2182
@mislav , I Installed Scoop, I installed `gh`, I had no errors. But When I typed the command `gh` into the command line, the result was nothing. The App wasn't working.

[2020-10-21 15:16] mislav commented on #2027
@NissesSenap Thanks for explaining!

What I was more aiming to ask is: how does having a containerized version of gh help over simply downloading our precompiled binaries? E.g. if you have a Linux container, you can just download and drop in the `gh` binary for Linux while provisioning your container. Our binary is pretty self-contained; it only needs `git` present on the system.

[2020-10-21 15:19] mislav commented on #2182
@samyakbambole Ouch, sorry for the bad experience. I guess we'll have to spin up a 32-bit Windows instance and test this out. Thanks for your patience!

[2020-10-21 15:25] mislav commented on #2211
Thanks! I have no idea why this is happening. I'm surprised that there wasn't additional error messages printed above the `paste subprocess was killed by signal` line 😕

You could try `sudo dpkg -i --force-all /var/cache/apt/archives/gh_1.1.0_amd64.deb`, but even if it works, there's no guarantee that the same error won't bite you the next time you upgrade.

[2020-10-21 15:29] mislav commented on #2241
@yrsurya Thanks for sharing!

It looks like this PAT doesn't have access to create repositories for this team in the first place. Maybe this needs to be solved first before we can get to the problem of creating the right permissions for the new repo?

[2020-10-21 15:42] nissessenap commented on #2027
Fair enough.
So I'm using tekton http://tekton.dev/ to run my CI pipelines which builds on containers.
As you say I can just curl the bin down and that will work, but doing that each time feels like a waste of time if I do this build a few 100 times a week.

Other then that I guess the normal reason why to use containers for anything.
It will work on any machine I'm on so if I have a windows devel

[2020-10-21 16:08] mislav commented on #2189
@slorber Do you prefer HTTPS or SSH protocol for git cloning/pushing? It looks like you prefer SSH, but gh defaults to HTTPS, as evident by it setting up a HTTPS push URL after `gh pr checkout`.

You can change the default with:
[code]

From the `Remote: permission to {REPO} denied to ochedru` error message, I suspect that the git credential helper for HTTPS repos had some credentials cached that

[2020-10-21 16:10] yrsurya commented on #2241
Member is not maintainer of that team just part of team which doesn't allow me to do this. once I made Maintainer I can execute that without issue and achieve what I am trying to do.

[2020-10-21 16:16] mislav commented on #2216
Thanks for the suggestion! I agree that the error message could be more descriptive.

For anyone who'd like to contribute a fix: I think that the command in `pkg/cmd/repo/create/` should gain an explicit Args handler like this one: https://github.com/cli/cli/blob/f31e49fdff381c883d62ee7b0d8e0d09dfcc77f7/pkg/cmd/pr/checkout/checkout.go#L47-L52

[2020-10-21 16:22] #2192 closed, assigned to nobody

[2020-10-21 16:23] mislav commented on #1682
@jacobat I see! I don't think there is a web view that displays Statuses for a PR, so would you expect that `--web` would take you to the Merge Box of a PR where Checks+Statuses are displayed live?

[2020-10-21 16:50] #1942 closed, assigned to nobody

[2020-10-21 17:15] codeperfectplus commented on #2211
Thanks for your time, @mislav

[2020-10-21 18:59] jacobat commented on #1682
That would be an option. In my case the status points to our CI, so even better would be to go straight to the CI page (the url is part of the output from `gh pr checks`). This is probably not a good solution for everyone though since you can have multiple statuses.

Here's an example of the output I see for reference:
[code]

[2020-10-21 20:19] amingilani commented on #1743
Thanks @mislav, I can confirm that setting `GLAMOUR_STYLE=dark` fixed this for me.

Here's a workaround until the new release comes out. Copy the following lines in your `.zshrc` or `.bashrc` file:

[code]

[2020-10-22 00:08] lukasmalkmus opened #2252 "Pager tables are very slow"
### Describe the bug

Not directly a bug but the output send to a pager is very slow. At least for the `TablePrinter` implementation. While piping output works flawlessly, the TTY implementation feels so much slower and sluggish. Key presses lag behind, slow rendering, etc.

### Steps to reproduce the behavior

`gh issue list -R cli/cli -L 1000`

So slow :(

I also tried a different pager known as

[2020-10-22 03:01] emhagman commented on #2216
I can take a look if that's okay :) Just to make sure, I think the issue is about `gh repo clone` which is `pkg/cmd/repo/clone`, right? I can also add this to `pkg/cmd/repo/create` if you'd like

[2020-10-22 03:20] emhagman commented on #2216
Took a stab at it. Added a test as well https://github.com/cli/cli/pull/2253

Let me know if I should do something different or if I should add it to `pkg/cmd/repo/create` as well.

EDIT: It looks like `gh repo create` without any arguments is valid since it uses the current directory as the name

[2020-10-22 06:04] rustiever opened #2254 "is there any way to see the project boards of respective repository?"
### Describe the feature or problem you’d like to solve
i'm just wondering is there any command to get the project boards of repository and private project boards.
I went through the official manual for the command. But couldn't find it.

### Proposed solution
Add command to get the project boards
How will it benefit CLI and its users?
after this enhancement , cli will be rich in features and look

[2020-10-22 06:56] #2211 closed, assigned to nobody

[2020-10-22 08:35] #671 closed

[2020-10-22 10:06] rugwirobaker commented on #370
What's the status on this?

[2020-10-22 12:28] samyakbambole commented on #2182
Thank You @mislav ! 😀🌈

[2020-10-22 14:18] quiye opened #2258 "`gh issue create -R cli/cli` does not work on GitHub Enterprise"
# CLI Feedback

## What was confusing or gave you pause?

`gh` suggests that we use 'gh issue create -R cli/cli' to feedback about this CLI tool.
[code]

But this is not working if I used github enterprise server. And messages has no guide to suggest switching to github.com.

[code]

## Are there features you'd like to see added?

I just want to add `github.com/` to help messeges for creating issu

[2020-10-22 16:24] hbb20 opened #2260 "status for a particular PR"
### Describe the feature or problem you’d like to solve
We run a CI/CD task (which is logged in as ops account) that need to check if there is any review required. Locally, `gh pr status` shows status (including if review is required) of PRs relevant to logged in user (me).
When we run on CI/CD, usually there is no PR relevant to logged in user (ops) hence can not check this.

### Proposed solutio

[2020-10-22 16:37] hbb20 commented on #2260
The work around we are using for now is we added `ops` as CODEOWNER so every PR becomes relevant to ops

[2020-10-22 17:01] mislav commented on #2252
Hi, thank you for reporting!

Can you tell us about which part seems slow? Does waiting for the output to start appearing seem slow? To fetch a 1000 issues, the command needs to make 10 API requests (100 records each), so the slowness might be waiting on the network part to complete.

Is the coloring slow? You can try `NO_COLOR=1 gh issue list` to see if there is a difference.

You said that you'v

[2020-10-22 17:14] mislav commented on #2260
@hbb20 Thanks for the feature request!

Could you elaborate more on what you mean by PR "status"? I'm guessing that you would like to see the "mergeability" status of a PR, meaning whether Checks pass and whether it has received passing reviews from relevant teams as configured in the repository settings?

[2020-10-22 17:15] gwojan commented on #2182
@mislav I don't want to hijack this issue but can you explain why the 64 bit installer installs the `gh.exe` into the `C:\Program Files (x86)` directory by default? Since this is a 64 bit application it should go into the `C:\Program Files` directory. At the very least the installer should be looking at the `%ProgramFiles%` environment variable.

Please let me know if I should create a separate is

[2020-10-22 17:16] mislav commented on #2258
@quiye Good catch! I presume that you have GH_HOST set, so your default hostname is not github.com.

We would welcome your PR that adds `github.com/` to the docs like you suggested! 👍

[2020-10-22 17:18] cveneziani commented on #1820
Currently using `gh version 1.1.0 (2020-10-06)` and I still experience this error.

[2020-10-22 18:21] hbb20 commented on #2260
Right. `whether it has received passing reviews` is the answer I am trying to get.

[2020-10-22 18:22] hbb20 commented on #2260
`gh pr checks` gives me information about checks so that's awesome.. 👍

[2020-10-22 18:31] vilmibm commented on #2254
Hi, there is no current support for this.

We love projects but at this time have no support for them planned; I'm going to close this for now.

[2020-10-22 18:31] #2254 closed, assigned to nobody

[2020-10-22 18:33] vilmibm commented on #2236
Having this mirror `repo clone` by supporting gitflags does make sense to me. @ampinsk do you have any objection to that?

[2020-10-22 18:34] ampinsk commented on #2236
@vilmibm no objection! makes sense to me

[2020-10-22 18:41] vilmibm commented on #2210
This makes sense to me! Curious what @ampinsk thinks; if she's on board then we can move forward with a PR+tests based on your patch.

[2020-10-22 18:43] despreston commented on #2210
@vilmibm Ive been using my fork for the last week or so with success. Ill write some tests either way for my own sanity and follow along for more feedback.

[2020-10-22 18:43] ampinsk commented on #2210
This makes sense to me! Checks displays the number, so it makes sense for approvals to as well.

[2020-10-22 18:44] vilmibm commented on #2210
feel free to open a PR, @despreston . Thanks for working on it!

[2020-10-22 19:15] despreston commented on #2210
@vilmibm Np. Thanks for the comments.

[2020-10-22 19:33] vilmibm commented on #2180
This feedback looks captured in other issues, so closing :sparkles:

[2020-10-22 19:33] #2180 closed, assigned to nobody

[2020-10-22 19:39] vilmibm commented on #2174
that is indeed the case.

[2020-10-22 19:48] bsiegel commented on #2189
I'm having a very similar issue here with `gh` and HTTPS remotes.

[code]

I don't understand why `gh` thinks I am logged in but my push fails. Shouldn't being authenticated by `gh` configure an access token for the repo automatically?

[2020-10-22 19:51] JoshuaCarroll commented on #1938
Am I the only one thinking, "then what's the point of having the CLI version?" ?

[2020-10-22 19:52] vilmibm commented on #2174
Opened PR over in the manual site repo for this.

[2020-10-22 19:54] vilmibm commented on #2142
Thanks for the feedback! Closing since we've captured something actionable in another issue <3

[2020-10-22 19:54] #2142 closed, assigned to nobody

[2020-10-22 20:12] vilmibm commented on #2140
I like the idea of having `view` be able to do this; I further like the idea of being able to select a specific column of data instead of a specific url flag.

[2020-10-22 20:14] vilmibm commented on #2099
A PR would be welcome! Do please use `exec` for this; see https://github.com/cli/cli/blob/trunk/git/git.go for examples of how we work with git.

[2020-10-22 20:19] vilmibm commented on #2090
Switching away from "base" here makes sense to me since "base" means something in `git` terms. I like the idea of "primary". @ampinsk do you have thoughts?

[2020-10-22 20:28] vilmibm commented on #2073
A work around, I _think_, is:

[code]

replacing REMOTENAME and REMOTEURL as needed.

We're hoping to better expose support for this (cc @mislav since he's thought about it more than I have and there might be another issue tracking this)

[2020-10-22 20:43] vilmibm commented on #2071
thanks! nice idea

[2020-10-22 22:09] vilmibm commented on #2053
I like the idea of supporting this (something like `gh pr request <username>` that can be used multiple times).

I think the next step for this is to **see if either the REST or GraphQL affordance for requesting a review can be used multiple times to re-request.** If that doesn't work it might be possible to review and re-add reviewers but at that point it might not be worth it.

[2020-10-22 22:12] vilmibm commented on #1999
It would be lovely to be properly packaged for the official Debian repositories but as Mislav said it's not a process we have any plans to initiate as none of the CLI team is familiar enough with the process. I'm going to close this for now.

[2020-10-22 22:12] #1999 closed, assigned to nobody

[2020-10-22 22:22] vilmibm commented on #1985
Thanks for the feedback!

The creation logic you requested is possible, albeit a little confusing. If your current branch is already set to track a fork, `gh pr create -RupstreamOwner/upstreamName headBranch` will do the correct thing.

Do you need to perform this on non-local branches, though?

[2020-10-22 22:24] vilmibm commented on #1921
`gh api` has since been updated to support selecting a host and its docs mention it, so I'm going to close this out <3

[2020-10-22 22:24] #1921 closed, assigned to nobody

[2020-10-23 03:53] zemse commented on #1985
To clarify, in the senario we have: a local cloned repo, a fork in github profile and a main repo. I want to forget local cloned repo, just want to use `gh` to do stuff between two remotes which I have access to (probably only having write access to fork and read access to main repo is sufficient).

There are multiple people who push to my fork (given access to my friends), so maybe my local clone

[2020-10-23 07:14] ghost commented on #1895
Is it possible to implement the use of drag/drop or paste from clipboard for uploading images/gifs?

[2020-10-23 07:41] KAU-KING-ABDULAZIZ opened #2266 "gh pr checkout 738"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-23 07:49] toydotgame opened #2267 "`gh` Command not Being Registered"
Whenever I try to run the `gh` command, Command Prompt says it doesn't recognise it as a command. PowerShell exibits the same behaviour. (Adding an environment variable named `gh` and setting the path to `C:\Program Files (x86)\GitHub CLI\gh.exe` allows PowerShell to use it, but I want to use Command Prompt)

How can I manually register `gh` as a command? (I also would want to know this so I can s

[2020-10-23 08:43] rustiever commented on #2254
ok @vilmibm. But i'll love that feature and waiting to be implemented

[2020-10-23 09:27] ghost opened #2268 "Add WinGet as an install option in README"
I found GitHub CLI manifests in [here](https://github.com/microsoft/winget-pkgs/tree/master/manifests/GitHub/cli)

But the README doesn't mention WinGet as an install option

[2020-10-23 10:42] mislav commented on #1938
@JoshuaCarroll You're not the only one thinking that! But for now, requiring git to be set up externally is a call we've made.

[2020-10-23 10:44] #2258 closed, assigned to nobody

[2020-10-23 10:46] mislav commented on #1820
@cveneziani Please open another issue! Also include your git remote and branch setup in your report 🙇

[2020-10-23 10:55] mislav commented on #2267
@Toydotgame If you've used our MSI installer or Chocolatey to install GitHub CLI, then `gh` will be automatically "registered" for use in both Command Prompt and Powershell. You just need to restart them to pick up the PATH change.

To manually edit the PATH so you can "register" your own tools, see https://www.architectryan.com/2018/03/17/add-to-the-path-on-windows-10/

[2020-10-23 11:12] Luap99 commented on #1775
Note: This is not fixed in cobra v1.1.1

[2020-10-23 11:16] mislav commented on #1775
@Luap99 Thanks for the heads-up!

[2020-10-23 11:17] mislav commented on #2268
@alannt777 We would welcome a PR that adds winget install/update instructions under our Windows section 👍

[2020-10-23 11:31] ghost commented on #2268
@mislav Just assign me

[2020-10-23 12:07] bill3tt opened #2270 "`gh pr view <closed_pr_branch>` should show the closed PR"
### Describe the feature or problem you’d like to solve

`gh pr view <pr_branch>` should show the PR even for those that have been closed.

### Proposed solution

This solution will (further) streamline local CLI workflows, and bring them closer to the functionality exposed in the UI.

### Additional context

`gh pr view <pr>` is now a staple of my daily GH workflow and I love it 🙌

I often find m

[2020-10-23 12:29] mislav commented on #2270
@ianbillett `pr view <arg>` should be able to open PRs regardless of their open status.

Could you share with us the error message from the terminal, as well as your `gh version`?

[2020-10-23 12:53] lukasmalkmus commented on #2252
Must have been late when I reported this.

It really is the pager that feels slow when navigating. I just used 1000 issues to get some input. So I tried different pagers and different shells and found my problem (and kinda feel bad for not noticing that earlier): I tried that all inside VSCode 😅

Thats it. The internal VSCode Terminal is just super slow. iTerm 2 and the default macOS Terminal work

[2020-10-23 14:03] zodman opened #2271 "Move PR from ready to Draft"
### Proposed solution

`gh pr draft`

small update:
thanks @kyanny
 https://github.com/kyanny/gh-pr-draft

[2020-10-23 15:29] bill3tt commented on #2270
@mislav of course! Sorry I should have included this first time round 😅
[code]
find a closed PR
[code]
with this PR I then get
[code]
however addressing the closed PR by number does work
[code]

[2020-10-23 16:14] lukasmalkmus opened #2273 "Broken pipe on "gh pr list""
### Describe the bug

Some commands which pipe output through a pager, error with `write |1: broken pipe`. This does not happen for `gh issue list` because the error of `table.Render()` is ignored. I guess the error is because Stdin is buffered and large inputs exceed it. If the user does not go to the end of the page and exits right away, the table printer tries to write the remaining data to a c

[2020-10-23 16:37] chriswalz opened #2274 "Feedback: Integrating GH CLI for a unified Git CLI"
Hey, I thought the devs (and other folks) may find it cool that I'm integrating `gh` with `bit`. This allows for cool things like having a list of PR suggestions. You can type `open` to see only open PRs or type issue for example to find a particular PR.

![image](https://user-images.githubusercontent.com/6971318/97029670-c0f52380-152b-11eb-8a03-bff31fc094a7.png)

![image](https://user-images.gith

[2020-10-23 16:56] alissonbrunosa commented on #2166
@mislav
When there is already an `origin` remote, should we skip this step or ask to change the current `remote` URL? :thinking:

[2020-10-23 16:58] rbistolfi commented on #1896
I would like to be able to do something like `gh pr pull <pr number>` for bringing a PR into a local integration branch. I think `pull` is more appropriate than `merge` in this context. What do you think about that?

[2020-10-23 18:02] bill3tt commented on #2270
@mislav I've found the problem 🚀

[PullRequestFromBranch](https://github.com/cli/cli/blob/93c8fc1e98105ff8b94b4e562f4d9346fa54ba3e/api/queries_pr.go#L624)'s GraphQL query explicitly filters for `states: OPEN` PRs [here](https://github.com/cli/cli/blob/93c8fc1e98105ff8b94b4e562f4d9346fa54ba3e/api/queries_pr.go#L642).

PR incoming 😄

[2020-10-23 18:08] malaDev commented on #2273
I can give a try for this if no one is still on it

[2020-10-23 18:42] malaDev commented on #2099
I

[2020-10-23 18:43] vilmibm commented on #1055
Hi @Matt-Gleich ! We're doing some design work internally across the checks implementation so we're not looking for PRs at this time around checks

[2020-10-23 18:43] malaDev commented on #2099
I can give it a try if no one is on it

[2020-10-23 18:44] gleich commented on #2099
@malaDev I am currently working on this.

[2020-10-23 18:49] vilmibm commented on #2042
I'm able to reproduce still; try `gh issue list -L200 | cat` and look for issue 1314. my terminal is 106 columns wide (as per `tput cols`)

[2020-10-23 18:55] malaDev commented on #1818
I can give it a try

[2020-10-23 18:58] vilmibm commented on #1741
@g5becks were you able to add the key? were you able to add the repository? what error are you seeing?

[2020-10-23 19:08] vilmibm commented on #1980
Part of the issue here is that per-host config was implemented but not advertised because we weren't sure to what extent we needed it. When we did the `gh auth login` work setting a per-host config made sense...but we never circled back and properly explained it in docs. I'm renaming this issue to tackle the action items that @ampinsk laid out.

Thanks for the discussion.

[2020-10-23 19:13] vilmibm commented on #1260
good questions.

if a file with the same name is added i would error so content isn't accidentally lost.

if a file is removed from the gist it should remain on the filesystem.

[2020-10-23 19:44] pstahlhofen opened #2277 "Request for review command for gh issue"
I'd like to have a `review` subcommand for `gh issue` in order to comment on an existing issue.
An analogue of `gh pr review --comment` is what I'm looking for.

Use case: I have a visual impairment and am working with a screen magnifier. For this reason, I'm using my mouse as little as possible, trying to stay in my Terminal whenever I can. Writing comments on issues in the web browser is possibl

[2020-10-23 20:12] miro6666 opened #2278 "Main"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-10-23 20:13] #2278 closed

[2020-10-23 20:15] vilmibm commented on #2277
Thanks for the issue!

I'm so glad to hear that `gh` has been helpful; helping visually impaired GitHub users is a big part of our mission so we're eager to hear feedback on the experience.

We intend to add the ability to comment on issues in the near term and you can track that via this issue: https://github.com/cli/cli/issues/517 , so I'm going to close this as a duplicate.

[2020-10-23 20:15] #2277 closed, assigned to nobody

[2020-10-23 20:37] vilmibm commented on #2274
cool, thanks for letting us know! `bit` is neat :)

[2020-10-23 20:37] #2274 closed, assigned to nobody

[2020-10-23 20:40] vilmibm commented on #2271
Thanks.

I think we've discussed this but couldn't find an issue for it; @ampinsk do you remember if we wanted this approach or something in a `pr edit` that would convert a PR back to a draft?

[2020-10-23 20:44] #2068 closed, assigned to nobody

[2020-10-23 21:03] ampinsk commented on #2271
Hmm since we went with `gh pr ready` for the opposite, maybe a command would make sense? it does feel like a small action to get its own whole command though. I'm open to thoughts on it!

[2020-10-23 21:31] yrsurya opened #2280 "gh clone repo org/repo using https protocol not working"
### Describe the bug
I am truing to clone a enterprise cloud org private repo where it asking for username when using https protocol . works with ssh though
A clear and concise description of what the bug is. Include version by typing `gh --version`.
gh auth login
? What account do you want to log into? GitHub.com
- Logging into github.com
? How would you like to authenticate? Login with a web bro

[2020-10-23 21:41] hiradp opened #2281 "Update ldflags for build version in go release config"
### Describe the feature or problem you’d like to solve

Notice the build version info was moved from `command/root.go` to `internal/build/build.go`. However the
ldflags in `.goreleaser.yaml` were not updated.

### Proposed solution

N/A

### Additional context

N/A

[2020-10-23 22:16] malaDev commented on #1198
Very good point!

though, from a user point of view I think it would be good to have both a prompt and the `--force` option.
If no `--force` is specified by the user it should land on the prompt instead of rejecting the action.

If no one is on it I'd like to try to implement this

[2020-10-24 00:37] g5becks commented on #1741
@vilmibm Nope. I ended up installing it via dpkg

[2020-10-24 01:32] vilmibm commented on #1741
which part failed?

[2020-10-24 01:48] g5becks commented on #1741
I honestly don’t remember anymore. I’ll try it out again tomorrow and report back.

[2020-10-24 07:18] o1x3 commented on #2231
@mislav As a matter of fact I do.
I appreciate the fact that this was already being worked on, thanks for the reply anyway.

Cheers✌

[2020-10-24 12:12] toydotgame commented on #2267
I tried this and accidentally deleted my `PATH` Environment Variable...
Anyway, one restore point and three program reinstalls later; I added the GitHub CLI to `PATH` - the right way. Still, no luck... It _still_ won't register as a command. (I tested some other custom apps in `PATH`, and they work. Only the GitHub CLI is broken for me)

[2020-10-24 16:07] Julian commented on #866
Any chance there's more consensus on how to handle this?

This can seemingly get particularly hairy when a PR was done on a fork's master/main branch (and e.g. your repo uses the other one), since it'll create a local branch called that which is quite confusing to keep straight mentally.

[2020-10-24 16:23] Mafia1999 opened #2286 "Mafia loc"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-10-24 17:16] #2286 closed

[2020-10-24 18:03] sumitj18s opened #2287 "test"
hello create﻿

[2020-10-24 18:03] #2287 closed, assigned to nobody

[2020-10-24 18:59] subsr97 commented on #1906
I can successfully install gh on Ubuntu 16.04.7 docker.
https://asciinema.org/a/KeRNqCMD7hFj67V7w37JykyM3

@jnyjxn Can you try installing `apt-transport-https`?

[2020-10-24 19:31] subsr97 commented on #1798
@Harmouch101 If you haven't already, you can install gh with the appropriate deb package from [here](https://github.com/cli/cli/releases/tag/v1.1.0).

After downloading, install the deb package with the command `dpkg -i <deb_package_name>` command.
If there are missing dependencies, the installation would fail.
You can install the missing dependencies with the command `apt -f install`.
And then in

[2020-10-24 19:53] subsr97 commented on #2112
I'm able to reproduce this issue on Ubuntu 20.04 docker with gh v1.0.0.
However, the warning does not show up while uninstalling v1.1.0.

[2020-10-24 19:53] Neurognostic commented on #1944
I would still like `gh` to respect `XDG_CONFIG_HOME` and `XDG_DATA_HOME` in a Windows environment, but to fall back to `%APPDATA%` and `%LOCALAPPDATA%` if XDG variables are not set.

[2020-10-24 20:06] TylerAPfledderer opened #2288 ""Repository Name Incorrect Function" Create Repo Windows Git Bash"
Hello!

I attempt to create a new remote repo from a project root without declaring a repo name.

[code]

Check gh version
[code]

Trying to do ```~/.bashrc``` automation where I create a new project folder and immediately initialize a local and remote repo, along with other tasks.

Using Git Bash Version 2.29.1 (2020-10-22)

Thank you!

[2020-10-24 20:13] LeonardAukea opened #2289 "Add --use-template to gh repo create"
### Describe the feature or problem you’d like to solve

I would like to be able to create a new repository using a github template repository via cli. The UI option does not always make sense.
We have found that template repositories are quite nice. Especially, if the .github contents carry over. This would free us from using `cookiecutter`.

### Proposed solution

By adding a `--use-template` fl

[2020-10-24 20:15] vvscode commented on #837
Btw it doesn't work for me with `gh version 1.1.0 (2020-10-06)`

it still creates remote with https

[2020-10-24 22:00] #2289 closed, assigned to nobody

[2020-10-24 22:00] LeonardAukea commented on #2289
Apparently this has been added just recently

[2020-10-25 07:15] contourintegrals commented on #2288
Related: #2078 and #1923 (though not exact messages)

[2020-10-25 14:19] ahhydo commented on #969
- [ ]

[2020-10-25 14:20] ahhydo commented on #969
-

- [ ] @

[2020-10-25 14:27] kb-1000 opened #2290 ""gh repo create --template" creates an empty repository locally"
### Describe the bug
`gh repo create --template` only uses the template remotely. Locally, the created repository is empty.

gh version:
[code]

### Steps to reproduce the behavior

1. Type this 'gh repo create --template FabricMC/fabric-example-mod my-mod'
2. Select Private (may be unimportant, but this was what I did)
2. Look at the locally created Git repository
3. See no files from the templat

[2020-10-25 15:12] kolibril13 opened #2291 "Installation problem with Ubuntu 20.04"
When installing `gh` on ubuntu 20.04 with this guide: https://github.com/cli/cli/blob/trunk/docs/install_linux.md
I ran into the following issue:

[code]
Here (https://askubuntu.com/questions/1246031/gpg-invalid-key-resource-url-following-docker-official-guide) I found this suggestion and tried :

[code]
but that did not work.
Any ideas what I can do?
Thank you a lot in advance!

[2020-10-26 01:10] rahtr opened #2293 "Feature/Help on best practice/or tool to include third party libraries within project just like npm"
### Describe the feature or problem you’d like to solve

I understand that GIT is not a package manager but, do we have plans to have something like (node package manager)`npm install`, which installs all the dependencies defined in the `package.json`?

### Proposed solution

As, there are many project which require third party libraries(which includes but not limited to tarballs), would it be a g

[2020-10-26 05:50] samcoe commented on #2293
@ratripathi I think there is some confusion here as this repo is not `git` but is the GitHub CLI. I believe you are looking for https://github.com/git/git.

[2020-10-26 05:50] #2293 closed, assigned to nobody

[2020-10-26 06:12] samcoe commented on #2281
@hiradp Good catch! Thanks for raising this. I opened #2294 to fix it.

[2020-10-26 06:29] samcoe commented on #2288
@TylerAPfledderer Thanks for writing in. We have seen similar issue with Git Bash in the past. I am wondering if you could try out the workaround detailed https://github.com/cli/cli/issues/2078#issuecomment-706941993 and report back if that fixes your issue?

[2020-10-26 08:24] ghost commented on #2291
Try to install .deb file from releases. And run the command `sudo dpkg -i gh_1.1.0_linux_architecture.deb` after downloading the .deb file from releases. It worked with me. I'm using Ubuntu 20.04 too.

And it's okay for seeing bugs like this. This software is a really new software.

[2020-10-26 08:32] samcoe commented on #2280
@yrsurya Thanks for writing in. I believe this is a duplicate of https://github.com/cli/cli/issues/2094. Please feel free to add questions/comments/concerns regarding this problem to that issue.

[2020-10-26 08:32] #2280 closed, assigned to nobody

[2020-10-26 08:52] samcoe commented on #2290
@kb-1000 Just for clarification, after you ran `gh repo create` command, did you run `git pull`? If so, did that correctly pull in the files and commits? Right now, the `repo create` command does not do a `git pull`  but maybe it should. It is something we can consider. I am going to change this from bug to enhancement for now as it appears the current behavior is working as coded just not meeting

[2020-10-26 09:03] contourintegrals commented on #2288
While installing Git for Windows, there is an option that says, "Use pseudo..." I do not remember the exact thing, but if you select that, you do not need to use `winpty` before the commands. But, as it says, "this option is experimental".

[2020-10-26 10:32] kolibril13 commented on #2291
@mad-cs : nice, thanks a lot!! Now it is working properly!

[2020-10-26 10:35] ghost commented on #2291
@kolibril13 : I'm happy to help you. Please close the question.

[2020-10-26 10:36] #2291 closed, assigned to nobody

[2020-10-26 10:36] mad-cs commented on #2291
and it would be good if you follow me :)

[2020-10-26 10:45] #2281 closed, assigned to samcoe

[2020-10-26 11:05] mislav commented on #2210
I think showing the number of approvals could certainly be a move in the right direction, but if the ultimate goal is to determine whether the PR is fully approved per branch protection settings for the base branch, then just showing the number of approvals would not be enough because the viewer might not know how many approvals are needed to satisfy branch protection rules. Additionally, branch p

[2020-10-26 11:30] mislav commented on #2288
@TylerAPfledderer Sorry for the nuisance! I'm going to close this as a duplicate of the referenced issues, but if what you're looking for is creating automation, then there is a way to skip the prompts (which seem currently broken in Git Bash).

For instance, to automate creating a local + remote repo:
[code]

In general, you can skip any prompts in CLI if you provide the necessary flags.

[2020-10-26 11:30] #2288 closed, assigned to nobody

[2020-10-26 11:38] mislav commented on #2267
@Toydotgame I'm sorry for the bad experience! Could it be possible that our `gh.exe` is not runnable on Windows 7?

Are you able to run the `gh.exe` directly by typing the full path to it?

[2020-10-26 11:42] mislav commented on #1198
@malaDev Absolutely agreed on having a flag to force merging for administrators. I'm not sure if `--force` is descriptive enough, but we can always change the name of the flag later.

You're welcome to take a stab implementing this! Please see https://github.com/cli/cli/issues/2210#issuecomment-716476635 as it also discusses respecting branch protection rules

[2020-10-26 11:48] mislav commented on #2271
See https://github.com/cli/cli/issues/740#issuecomment-630319524 for context around the original decision to omit a `pr draft` command

Also see #2015 that proposes a command to update PR metadata, including its draft status, e.g. `gh pr update 123 --draft=true`

[2020-10-26 12:47] phil-blain opened #2296 "Add 'gh blame <path>' command to open blame view on GitHub"
### Describe the feature or problem you’d like to solve

It would be nice to be able to use `gh` to open the "Blame" view for a file on GitHub from the command line.

### Proposed solution

Using `git blame` works fine to know who last changed some file, or some lines or some function within the file, but using it repetitively to understand how a piece of code evolved is a little bit cumbersome; y

[2020-10-26 12:52] mislav commented on #1186
Good catch! I feel that this is sufficiently covered by `gh auth refresh`. 🙇

[2020-10-26 12:52] #1186 closed, assigned to nobody

[2020-10-26 12:58] mislav commented on #2296
Thank you for the suggestion! I'm going to mark this as duplicate of https://github.com/cli/cli/issues/217. When we add a command to view or generate a URL for a file path, it will also have a feature to open the blame view for that file.

[2020-10-26 12:58] #2296 closed, assigned to nobody

[2020-10-26 13:00] phil-blain commented on #2296
Fair enough, thanks!

[2020-10-26 13:23] siwon opened #2297 "Possibility to reverse label filter in issue list"
Hi,

Here is a feature I might appreciate.

### Describe the feature or problem you’d like to solve

As in the web interface, the ability to reverse label filter in issue list.

### Proposed solution

For example by adding `-` before the label name :
[code]

[2020-10-26 13:33] despreston commented on #2210
@mislav Not every repo in my organization has these branch protection rules set. In some cases, it's up to the discretion of the lead engineer in charge of the repo to decide if a PR needs to be reviewed at least twice. It's generally accepted that for small uncritical updates, >= 2 reviews isn't necessary.  If the branch protection rules aren't satisfied I think it'd be great if the CLI didn't di

[2020-10-26 13:57] samcoe commented on #2297
Closing as a duplicate of https://github.com/cli/cli/issues/641.

[2020-10-26 13:57] #2297 closed, assigned to nobody

[2020-10-26 14:33] #855 closed

[2020-10-26 14:35] mislav commented on #2042
It looks like we fetch only maximum of 3 labels per issue and append an ellipsis if there are more labels
https://github.com/cli/cli/blob/4a8ab49cf1d23c76d77a7cb69537b2bc66769afa/api/queries_issue.go#L81-L86
https://github.com/cli/cli/blob/4a8ab49cf1d23c76d77a7cb69537b2bc66769afa/pkg/cmd/issue/shared/display.go#L61-L62

I guess the fix would be to make sure all labels are fetched and printed in ma

[2020-10-26 15:05] mislav commented on #2252
Thanks for the update!

[2020-10-26 15:05] #2252 closed, assigned to nobody

[2020-10-26 15:15] mislav commented on #2210
Exactly; my point was that printing something like “N approved reviews” in `pr status` is not sufficient information for the viewer **if** the viewer also does not know the number of approvals required for merging. For example, in `1 approved` in repo1 might mean that the PR is approved, but it might take the minimum of `3 approved` in repo2 to mean the same thing.

I think so as well. One ship co

[2020-10-26 15:17] despreston commented on #2210
@mislav I think that makes total sense. 👍 I'll continue to fix that open PR I have.

[2020-10-26 17:06] Roms1383 opened #2298 "Format output of view commands in general"
First and foremost thanks for this amazing tool :blush:

### Describe the feature or problem you’d like to solve

Sometimes when introspecting a repo, it can be useful to retrieve formatted output.
Whenever I do a `gh issue view URL`, the log is super nice but sooner or later when using it from a script or in a CI, I'm gonna be interested in getting whole or part of it formatted conveniently.
For

[2020-10-26 17:17] kb-1000 commented on #2290
No, I did not run `git pull` (I would expect it to do that automatically, as that makes the most sense to me).
But just `git pull` does not do it, you need to checkout the branch afterwards too:
[code]

[2020-10-26 17:24] vilmibm commented on #2174
Fixed in manual site.

[2020-10-26 17:24] #2174 closed, assigned to vilmibm

[2020-10-26 17:39] ampinsk commented on #2210
Just chiming in that another option could be to show `N/X approved` where X is the number of approvals required when that rule is set.

[2020-10-26 17:45] despreston commented on #2210
Re; this spin-off feature of displaying (plus any other relevant info) branch protection rules that haven't been met — I'll let you guys create an issue for that; you'll have a better understanding of the scope of that feature than I do. I'd be happy to work on that one though if need-be.

[2020-10-26 17:50] clintandrewhall opened #2299 "PRs created from CLI do not propagate to Slack Bot"
### Describe the bug

We use the Github Slack integration to announce new pull requests on our repository that has a specific label.  If a PR is created using the Github CLI, that action does not trigger a message in our Slack channel.

Note: this may be a bug in the Github Slack bot, but the more likely culprit is the `cli`.

### Steps to reproduce the behavior

1. Add the Github Slack bot to a S

[2020-10-26 18:38] ajanian commented on #2184
I can't seem to get this to work in an empty directory, not only in a directory with a repo inside already:

[code]

From reading the rest of this issue that should only be happening when the repo already exists, right?

[2020-10-26 20:25] mehagar opened #2300 "How to change base repo for `gh pr`?"
### Describe the bug

I originally used the `gh pr create` command, which prompted me to pick a base repo. I picked my forked repo instead of the upstream one, and now I'm unsure how to change the base repo so I don't need to prefix every command with `--repo`. Is there any way to do this?

### Steps to reproduce the behavior

1. Fork some repo
2. Clone repo locally
3. create local branch
4. `gh p

[2020-10-26 23:52] mrtrkmn opened #2302 "Ability to clean up forked repositories through cli"
### Describe the feature or problem you’d like to solve

When there are many forked projects in Github Profile, it is painful to clean them out, it is not practical to go `settings > type name of repo  and  enter` for each project that you would like to delete.

### Proposed solution

I think, it should be possible to delete forked repos which are provided by user either as a list or from a file,

[2020-10-27 01:12] LuanVSO commented on #2114
actually there's an OSC sequence for embedding links in the output of terminal aplications:
https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2020-10-27 05:01] toydotgame commented on #2267
The experience is okay with me! I run into issues all the time, my computer specifically is configured a bit weird so I usually just have to work a bit harder to get things working.
`gh.exe` _does_ work by typing in the full command.
So instead of `gh auth login`, I do `"C:\Program Files (x86)\GitHub CLI\gh.exe" auth login`. It does work, but it's just terribly inconvenient.

I'm just going to sti

[2020-10-27 07:35] mislav commented on #2210
For sure, @despreston. Thanks for helping out this far!

[2020-10-27 07:41] samcoe commented on #2298
Hi, that's a good idea! We'd like to allow users specifying their own fields for commands like `issue list` or `pr list` so that you can customize the output, e.g. using a format string https://github.com/cli/cli/issues/1730. We are already tracking this enhancement for non-api commands in  https://github.com/cli/cli/issues/1860 so I am going to close this for now. Please feel free to add comments

[2020-10-27 07:41] #2298 closed, assigned to nobody

[2020-10-27 08:09] samcoe commented on #2299
@clintandrewhall I do not have experience with the GitHub slack bot but I suspect this issue stems from the fact that we make two API requests when creating a PR with labels. The first to create the PR and the second to add in the metadata such as labels. I am guessing that the slack bot only triggers messages on PR create, rather than anytime a label is added to a PR. To test this theory could yo

[2020-10-27 08:12] samcoe commented on #2290
@kb-1000 Great thank you for the additional information. Ive added this to our `repo create` overhaul tracking issue.

[2020-10-27 08:17] samcoe commented on #2300
@mehagar At this time that is not a feature that `gh` supports. It is a good idea though and we will evaluate if it is something we want to add support for in the future.

[2020-10-27 08:24] samcoe commented on #2302
Thanks for this feature request, but at this time we are not going to be supporting repo deletion. See https://github.com/cli/cli/issues/1084#issuecomment-638202812 for more details 🙇

[2020-10-27 08:24] #2302 closed, assigned to nobody

[2020-10-27 08:44] ahmed2m commented on #544
For me when I try to alt+delete to remove last word it crashes too
Arch Linux in vscode `code` terminal
`could not collect title and/or body: could not prompt: Unexpected Escape Sequence: ['\x1b' '\u007f']`

[2020-10-27 11:19] jetersen commented on #2300
Where is this setting stored so we can manually change it?

I have selected the wrong base repository several times.

Perhaps the selection could be more specific base repo for me suggests that I should pick my fork. Where if it asked for upstream repo, I would not question the selection.

[2020-10-27 12:29] mislav commented on #2299
@clintandrewhall Like @samcoe points out, this is an issue with Slack integration and PRs created from virtually any GitHub API client. It's known and you can subscribe here to get notified of updates: https://github.com/integrations/slack/issues/1039#issuecomment-654161513

I'm sorry for the nuisance!

[2020-10-27 12:29] #2299 closed, assigned to nobody