[2021-08-24 20:57] #4190 closed

[2021-08-24 20:58] #4191 closed

[2021-08-24 23:10] heaths opened #4192 "Cannot `go get` github.com/cli/cli/v2 v2.0.0"
With extension support, some extensions might want to take advantage of public APIs and need to `go get github.com/cli/cli/v2@v2.0.0 but go errs:

This is apparently because [go.mod](https://github.com/cli/cli/blob/355d28195ef1630fb97d2816a4e932fcce4b8f9f/go.mod#L1) needs to specify "v2" now that it has progressed to a v2 version: https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-h

[2021-08-25 00:52] vilmibm commented on #4192
gh is by intention not go gettable; it is not intended to be used as a library and our Go API has no guarantees of consistency or documentation. We are working on a Go SDK for extension authors to import that will extract the parts of gh we want to expose as a public API.

[2021-08-25 02:29] guizmaii commented on #3037
Hi @mislav,

Is there a fix for this problem? I need to access the draft releases in Github Actions but when I run `gh release list`, I can only see releases. 🤔

[2021-08-25 03:25] heaths commented on #1268
Will GraphQL always output a JSON object? If so, could `graphql --paginate` wrap the output with `[` and `]` and insert a comma between each JSON object it outputs? At least it would come back as valid JSON. Merging could be an exercise left to the caller, but since the schema should always be the same it may be great - perhaps opting in e.g., `--merge` - to merge them internally. Afterall, it's _

[2021-08-25 05:31] benrozsa opened #4193 "GH CLI v2.0 branch command does not exist"
### Describe the bug

After installing new gh cli version 2.0 and seeing there is a branch command I indented to try it out.
Source: https://github.blog/2021-08-24-github-cli-2-0-includes-extensions/
A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

![image](https://user-images.githubusercontent.com/20738129/13073166

[2021-08-25 05:56] heaths commented on #703
I was a developer on WiX for many years and dealt with internal Windows Installer support for many more. The problem is that the MSI is built for x86 and `ProgramFilesFolder` will always be the x86 path even if you specify another directory because it gets redirected back. You need separate installers for x86 and x64, unfortunately.

I can fix this so that the MSI is always x64, but I'm wondering

[2021-08-25 06:03] heaths opened #4194 "Support binary extensions"
### Describe the feature or problem you’d like to solve

The new extension support for the CLI is useful. But based on vilmibm/gh-user-status I created heaths/gh-label and plan on improving it over time. However, as large as Go binaries are, the git database that is pulled is going to get large fast causing longer installs and upgrades.

### Proposed solution

Some file in the repo could signal th

[2021-08-25 06:46] svenjacobs opened #4195 "RFE: `pr create` select PR title from commits if branch contains multiple commits"
### Describe the feature or problem you’d like to solve

When creating a PR through `pr create` for a branch that contains multiple commits, I have to enter the PR title myself. In contrast, when the branch only contains one commit, the commit's message is suggested for the PR title. I would like to be able to select one's commit message as the title of the PR.

### Proposed solution

When asked f

[2021-08-25 07:18] thunder-coding commented on #3625
Any ideas when it will be available in cli/cli

[2021-08-25 08:39] marcastel opened #4196 "DNS lookups forces to lower security rules"
# CLI Feedback

## What have you loved?

So far so good. Thanks.

## What was confusing or gave you pause?

Why does, and should, the `gh` utility perform, systematically, the follow lookups ?

![image](https://user-images.githubusercontent.com/6306262/130756870-e3b342d0-1999-44f9-9360-e6741a015c3e.png)

![image](https://user-images.githubusercontent.com/6306262/130756986-ad0560c6-2241-4d49-bfa8-1

[2021-08-25 09:41] mislav commented on #4196
I'm not sure what security software you are using and what exactly it's warning you about, but it looks like it's warning you that gh is trying to use DNS resolution features of your network, and the reason it needs DNS is that GitHub CLI is doing HTTPS requests to hostnames like `api.github.com`, which requires DNS.

You're right that our software isn't signed on macOS. We plan to sign our releas

[2021-08-25 10:06] mislav commented on #4192
Even though our project is not go-gettable for other reason (https://github.com/cli/cli/issues/1389), I do agree we should rename our module from `github.com/cli/cli` to `github.com/cli/cli/v2` in accordance with Go's versioning guidelines that are sometimes enforced through its tooling. I've opened a PR.

[2021-08-25 10:11] mislav commented on #4193
@robence Hi and thanks for reaching out! Apologies for this not being clearer, but `gh branch` is showcased in the [section called "Example extension"](https://github.blog/2021-08-24-github-cli-2-0-includes-extensions/#example-extensions). Extensions are _not_ bundled with gh itself and need to be installed separately. Therefore, `gh branch` command is expected to fail unless you've explicitly add

[2021-08-25 10:11] #4193 closed, assigned to nobody

[2021-08-25 10:16] mislav commented on #3625
@thunder-coding Not right now, but now that we've released gh 2.0, we will be deciding what's our roadmap for the next couple of months and hopefully publish that somewhere. Until then, please use the extension, or do `gh api -X DELETE repos/REPO --silent` in your scripts if you don't want to depend on an extension.

[2021-08-25 10:27] mislav commented on #2450
@brierjon Thanks for bringing up this use case.

Right now anyone is able to clone the entire GITenberg library using 3 lines of code:
[code]
I don't consider this to be a significant barrier to entry that needs to be lowered any further. GitHub CLI users will _not_ be casually duplicating entire online libraries, even though I do agree that archiving public domain works is important and worthwhil

[2021-08-25 10:36] mislav commented on #1268
Individual API responses during REST pagination always return JSON arrays. We can easily concatenate those arrays into a single one.

Individual API responses during GraphQL pagination will return something like this:
[code]
If we concatenate each of these responses as a whole into a JSON array, it will significantly modify the overall structure of the response and might be confusing to parse. Ins

[2021-08-25 11:12] mislav commented on #703
@heaths It's great to hear you have WiX experience! I would love it if we could get to a point where we're generating separate MSI installers for x86 and x64. Then, the x64 installer could default to `C:\Program Files` instead of `C:\Program Files (x86)`.

The tricky part is, right now every x64 Windows user has GitHub CLI installed to `C:\Program Files (x86)\GitHub CLI` because our installer is b

[2021-08-25 11:19] benrozsa commented on #4193
Thank you, I missed that one!

[2021-08-25 11:45] mislav commented on #4194
Agreed that checking binary blobs into git version control isn't a viable long-term strategy for extensions written in Go or other compiled extensions. Also agreed that Releases could be a good storage for binary blobs instead.

Here's what I'm thinking: on `gh extension install owner/gh-some-ext`, gh can check whether the extension has binaries attached to releases. If so, it assumes that in orde

[2021-08-25 12:18] kidonng opened #4200 "Don't show build date in `gh --version`"
### Describe the feature or problem you’d like to solve

I'm installing gh from Nixpkgs which [defines a default `SOURCE_DATE_EPOCH` of `315532800`](https://github.com/NixOS/nixpkgs/blob/eb4334e4052b95496eb51237534365b5bcf8cdab/pkgs/stdenv/generic/setup.sh#L229-L235), and `gh --version` gives a meaningless build time:

[code]

While I agree the build date can be handy, most programs don't show it

[2021-08-25 12:30] mislav commented on #4200
Thanks for reporting!

It's a shame that NixOS defines a default SOURCE_DATE_EPOCH. That value is supposed to be set explicitly by build scripts with intent of [creating reproducible builds](https://reproducible-builds.org/specs/source-date-epoch/). Having an OS-wide fallback value is meaningless. Ref. #406

So either we will require every NixOS user to supply SOURCE_DATE_EPOCH themselves when bui

[2021-08-25 12:50] kidonng commented on #4200
To clarify, it's not _NixOS_, but rather Nix(pkgs)'s build script.

That's right, the biggest point of Nix is reproducibility so there's nothing wrong with them setting a default `SOURCE_DATE_EPOCH`.

[2021-08-25 13:08] leiflundberg commented on #2661
Bumping this as it fixed my problem 👍🏼

[2021-08-25 13:13] wrslatz opened #4201 "Document installing public GitHub extensions by full repo URL for GitHub Enterprise users"
### Describe the feature or problem you’d like to solve

I work on a GitHub Enterprise instance when using `gh` for work. My `gh` is only authenticated to the Enterprise instance and not public GitHub with a separate account (because https://github.com/cli/cli/issues/326). When I `gh extension install vilmibm/gh-user-status`, `gh` tries to install the extension by looking for this repo on the Ente

[2021-08-25 13:16] mislav commented on #4200
Ah, gotcha.

Could anything be added to https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/version-management/git-and-tools/gh/default.nix to remedy this?

[2021-08-25 14:11] mislav commented on #4201
Thanks for bringing this up!

Do you think that `gh extension install vilmibm/gh-user-status` should default to `github.com` even if you're only authenticated to GHES?

[2021-08-25 14:33] heaths commented on #703
Cleaning up the old install is easy. You just schedule `RemoveExistingProducts` before `InstallInitialize`. There's some other nuance I'd be happy to author including remembering the install location. Not sure if the current solution building the MSI will support that, but if needs be I can author a project and ask the support necessary. The build environment can be downloaded from NuGet, though I

[2021-08-25 14:36] heaths commented on #4194
I like the idea. It would also help cases where the git repo size is already relatively large size you'd not be cloning the repo. Ideally, it'd be great if `gh` also cleaned up any clones.

[2021-08-25 14:44] heaths commented on #4192
A separate module for extension developers makes a lot of sense. Combined with #4194 having a complete solution for binary extensions would be fantastic. For example, your `gh` function and refactoring a bunch of the formatting code you use in your built-in commands (like I use in heaths/gh-label) would be helpful and help provide a consistent experience.

Additionally, for script developers maybe

[2021-08-25 14:52] heaths commented on #1268
I had considered that, but `jq` may not be installed. It wasn't in Ubuntu 18.04, for example. I know `gh` relies on git's installed bash shell for invocation. Is it installed in there?

After playing around with it a bunch last night, I discovered a solution using `bytes.SplitAfter` to split the individual responses (can work for GraphQL or REST responses).

As for backward-compatible support - si

[2021-08-25 14:53] wrslatz commented on #4201
I think defaulting to your authenticated host makes most sense, otherwise being explicit with the full repo URL to install 👍🏻

[2021-08-25 14:56] mislav commented on #4201
So you agree with the current behavior, but you'd just like it to be documented better, right?

[2021-08-25 15:01] mislav commented on #703
What do you mean? Are you suggesting that we publish a single x64 MSI that contains `gh.exe` binaries for both architectures and is installable on 32-bit Windows?

No, as I said, we'd have to drop go-msi from our release automation (it's a project that wraps creating WiX XML files and calling the WiX Toolset on it), so I was thinking of rolling an XML file by hand in a separate branch and inviting

[2021-08-25 15:17] wrslatz commented on #4201
Yep! Are the docs in this repo or separate? I'd be happy to PR the doc update myself (assuming the functionality of targeting a full repo URL is intended, since that wasn't clear)

[2021-08-25 15:44] heaths commented on #703
No, an x64 MSI cannot install on x86. It can install binaries for both architectures, though. A separate MSI is needed for x86.

The key is fragments and not authoring component GUIDs. In most cases, the auto-GUIDing feature work correctly and avoid costly and confusing behaviors.

I recommend using a .wixproj and running MSBuils on that. Running candle and light - especially when multiple source

[2021-08-25 16:27] heaths commented on #703
For context, here's a recent one waiting on a final review (review is vacationing but back soon): https://github.com/PowerShell/openssh-portable/pull/521. It can produce both an x86- and x64-only MSI, though there's no current plans for x86 (but may be later, hence the support now). For an EXE, having both x86 and x64 doesn't really make sense and does make the authoring easier where you only have

[2021-08-25 16:39] Mesteery opened #4202 "Add a `comment` command that works on issue and pr"
### Describe the feature or problem you’d like to solve

A `comment` command that would work on both issue and PR could be interesting to easily make Actions that, for example, need to comment on a PR or an issue.

### Proposed solution

I think this could be a separate command, or an option on `{issue,pr} comment`.

[2021-08-25 17:52] kidonng commented on #4200
It's right in the issue description ("An alternative solution"). I don't want to press my preferences to everyone, just stating the status and provides other projects as examples.

This indeed sound like a packaging question but I feel the change is more suitable for the upstream so I opened this issue.

[2021-08-25 21:06] mmitche commented on #1318
Agreed. Would love to see this, especially with yubikey support

[2021-08-25 21:30] suriyo-cycron opened #4204 "Re command"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-08-25 22:38] heaths commented on #4192
Is there already another issue open on creating a go-gettable module for extension developers? I'd love to pile on a few ideas before PR #4199 closes this.

For example, in addition to the ideas above, providing some mechanic to pass `-R` or `--repo` to override the repo as `gh` itself does would be great. I did that in https://github.com/heaths/gh-label/commit/6742df3d5148c4d94b3b1a429956dc9c2577

[2021-08-25 22:44] heaths commented on #4194
If either is defined, could you also check `$GOBIN` or `$GOPATH/bin` for gh-* binaries as well? This would make binary extension development a bit easier. For example, I was running `go run ../gh-label list` from other repos with more labels - testing pagination, for example - but, depending on my project structure, would often run into `go` having problems building the source. If I could `go inst

[2021-08-25 23:57] mikeboiko commented on #3796
Thank you all! It took me a good half an hour of googling to stumble upon this command.
I would imagine most git & GitHub users could benefit from it.

[2021-08-26 01:12] jongio commented on #3796
@mikeboiko - Could you do me a favor and comment with all of the google search terms you used to try to find this info?  If you post them here then they will be indexed for the next dev to find it faster.  Thanks!

[2021-08-26 02:33] phil-blain opened #4207 "gh 2.0.0 binary release does not run on macOS 10.11 (El Capitan)"
### Describe the bug

gh 2.0.0 fails to run on El Capitan.

### Steps to reproduce the behavior

1. Download the macOS binary package
2. Try to run it:
[code]

### Expected vs actual behavior

Expected to be able to use the binary release on my computer. Could not.

[2021-08-26 02:35] phil-blain commented on #4207
Note: the 1.14 release works.

[2021-08-26 05:31] kzu commented on #1997
Sad to see no movement on this in almost a year 😢

[2021-08-26 07:43] ArjunDandagi opened #4208 "gh installed via brew didn't update binary path in ~/.gitconfig after upgrade"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. you should not have the latest gh
2. brew upgrade gh
3. gh clone any_repo

### Expected vs actual behavior

brew upgrade should update the ~/.gitconfig to point to the latest binary installed

### Logs

` brew update
/home/linuxbrew/.linuxbrew

[2021-08-26 08:59] mislav commented on #4208
Thank you for reporting! Duplicate of https://github.com/cli/cli/issues/3704

Workaround: manually edit `~/.gitconfig` to change the value `!/home/linuxbrew/.linuxbrew/Cellar/gh/1.14.0/bin/gh` to something like `!/home/linuxbrew/.linuxbrew/bin/gh` (or an equivalent path where linuxbrew puts the executables).

[2021-08-26 08:59] #4208 closed, assigned to nobody

[2021-08-26 09:09] mislav commented on #4201
The docs are generated from source code: https://github.com/cli/cli/blob/355d28195ef1630fb97d2816a4e932fcce4b8f9f/pkg/cmd/extension/command.go#L70-L71

If you add a `Long` field, you can add multiline text that will be printed when you do `gh help extension install`, e.g.
[code]

[2021-08-26 09:24] mislav commented on #4207
Thanks for letting us know. We switched from Go 1.15 to Go 1.16 for compiling gh, and it seems that Go 1.16 is not compatible with El Capitan. OS X El Capitan is generally unsupported since 2019, so I don't think we can continue supporting it either, I'm sorry.

A workaround for you would be to download Go 1.15, clone gh from source, and run `make install` in our project.

[2021-08-26 09:24] #4207 closed, assigned to nobody

[2021-08-26 10:31] aspiers commented on #1027
Me too.  I'm actually quite surprised this wasn't one of the first things implemented by `gh`, because it was one of the first things [supported by `gh`'s unofficial predecessor `hub`](https://hub.github.com/#maintainer):

[code]

[2021-08-26 11:45] cravend opened #4209 "`gh repo garden` does not work on macOS Big Sur"
When running `gh repo garden` on macOS Big Sur, I get an error:
[code]

I believe the issue is with the following lines. Manually running `stty -f /dev/tty -g` gives me the same error, while `stty -F /dev/tty -g` prints the terminal device as expected.

https://github.com/cli/cli/blob/09b09810dd812e3ede54b59ad9d6912b946ac6c5/pkg/cmd/repo/garden/garden.go#L185-L190

[2021-08-26 12:04] phil-blain commented on #4207
Thanks @mislav. I understand that the line has to be drawn somewhere.

Out of curiosity, I just fetched in my clone of cli/cli and noticed none of the tags are annotated (they are just names, not Git objects). This leads to `git describe` erroring out, but `git describe --tags` works. Just thought I'd let you know; I think common practice is to use annotated tags for releases.

[2021-08-26 12:09] mislav commented on #4207
Right now we use lightweight (non-annotated) git tags for our releases for simplicity. In the future we might move to annotated tags. Thanks for pointing this out!

[2021-08-26 12:20] elder-n00b commented on #4207
I confirm that simply compiling with go1.15.5 works.
A simple compatibility warning with a hint to recompile from source would have been nice to have.

[2021-08-26 12:20] phil-blain opened #4210 "docs.github.com URL mentioned by `gh actions` seems outdated"
### Describe the bug

The following URL:
https://docs.github.com/en/actions/guides/managing-github-actions-with-github-cli
is mentioned in the output of `gh actions` but it seems the content has moved (or was removed?)

### Steps to reproduce the behavior

1. `gh actions`
2. Navigate to https://docs.github.com/en/actions/guides/managing-github-actions-with-github-cli
3. Be redirected to https://do

[2021-08-26 12:22] phil-blain commented on #4207
Yes, compiling v2.0.0 from source with Go 1.15.6 worked for me also. Maybe a note in the README could be added ?

[2021-08-26 13:16] elder-n00b commented on #4207
go 1.15.6? Interesting. Thanks for the news, I thought go 1.15.5 was the last macos 10.11.6 compatible one.

[2021-08-26 13:23] mislav commented on #4207
I'm sorry, but we won't be maintaining instructions on how to get GitHub CLI running on unsupported systems. Per Go release notes https://golang.org/doc/go1.15, Go 1.15 isn't really supposed to be working on macOS older than Sierra. I have no idea how come manually compiling even works for you in the first place.

I agree that we could have communicated this breakage in our release notes, but we d

[2021-08-26 14:23] phil-blain commented on #3484
I agree this would be a very very useful feature.

Maybe this issue could be tagged `actions` ?

[2021-08-26 14:59] mikeboiko commented on #3796
Great idea! I searched the following in google:
- how to use gh in .gitconfig
- how to use gh as credentials in .gitconfig
- using gh with git credential
- how to push from github-cli

[2021-08-26 16:16] #4210 closed, assigned to nobody

[2021-08-26 17:41] jongio commented on #3796
Thanks.  I also added to my blog post that led to filing this issue https://blog.jongallant.com/2021/06/codespaces-gh-cli-git-credentials/

Hopefully this helps get people here!

[2021-08-26 17:55] gdhameeja commented on #4202
I'd like to work on this.

[2021-08-26 19:05] despreston commented on #3796
What is the purpose of the `git auth git-credential` command now? Is that being used for anything other than what OP is asking for? Wonder if it makes sense to refactor `git auth git-credential` to do what this issue is asking for.

[2021-08-26 19:11] 74971030177 opened #4216 "When working on a local repo is `.` a good way to refer to it?"
When working on a local repo is `.` a good way to refer to it?

_Originally posted by @samcoe in https://github.com/cli/cli/pull/3813#discussion_r649256542_

[2021-08-26 19:12] #4216 closed, assigned to nobody

[2021-08-27 03:53] binkley opened #4217 "Support for SSH config file"
### Describe the feature or problem you’d like to solve

I make frequent use of the `~/.ssh/config` file for hostname aliases.  This helps me separate my work SSH identity from my personal SSH identity.  For example:
[code]
With this SSH config, my repo looks like this to `.git/config`:
[code]

`gh` does not recognize the correct hostname, wants to reauthenticate, and fails to connect to GitHub.

[2021-08-27 04:48] khiav223577 opened #4218 "No available formula with the name "gh""
### Describe the bug

I followed the installation instructions in README, but failed to install it.
How could I install `gh` via brew in linux?

### Steps to reproduce the behavior

1. type `brew install gh`

### Expected vs actual behavior

Expect `gh` to be installed.

### Logs

[code]

[2021-08-27 06:46] apps4everyone opened #4219 "Update Branch function missing"
Hey, love the new version. Great job.

I am looking for a function to trigger the `Update Branch`. Missing this after using `gh pr status & gh pr checks`.

Best would be without local repo work because of existing uncommitted changes.

<img width="850" alt="Update branch" src="https://user-images.githubusercontent.com/1915802/131083724-a6256350-75c6-42d5-a875-2609cf401239.png">

This would be very

[2021-08-27 11:25] waldyrious opened #4220 "`gh extension list` is very slow"
### Describe the bug

Listing the installed extensions seems to be extremely slow.

### Steps to reproduce the behavior

[code]

I can replicate this multiple times.

### Expected vs actual behavior

Since the extensions are installed locally, I'd expect the listing of installed extensions to be very fast, e.g.

[code]

Maybe there should be a command-line option to toggle whatever slow step is ta

[2021-08-27 17:10] wilso199 commented on #3704
@mislav happy to work on this. My approach would to modify this function to use `safeexec.LookPath(gh)` to get the `gh` executable from PATH. Should we add a Homebrew check for this function or should it use PATH regardless?
https://github.com/cli/cli/blob/99cbfd3dd8ea32a27b9545e6ada56a1f4732e90b/pkg/cmd/factory/default.go#L116-L122

[2021-08-27 18:30] Milo123459 opened #4224 "`gh issue comment` takes a second argument for what to comment."
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

Right now, you can't do something like `gh pr comment 35 "@dependabot recreate"`. This is what I'd like.

### Proposed solution

How will it benefit CLI and its users?

It'll mean you can use a one liner over having to use the command line interactively. Also would effect `g

[2021-08-27 19:01] dioh opened #4227 "Can't list my ssh keys, gh ssh-key list returns no keys."
### Describe the bug

After installing gh and adding my key_rsa.pub I can't pull my private repositories.

### Steps to reproduce the behavior

1. Type this '...'
gh ssh-key list

2. View the output '....'
No SSH keys present in GitHub account.
3. See error
There is at least one key in my github account.
This can be reproduced from the webclient.

### Expected vs actual behavior

Should show my pr

[2021-08-27 19:06] ajpaon opened #4228 "Provide a way to upload images for PR descriptions & comments"
### Describe the feature or problem you’d like to solve

Please add a way to upload images to Github's hosting platform. I would like a simple way to include images in my PR descriptions.

### Proposed solution

Perhaps a new `image` subcommand. It should take an image file as input and output the URL for the uploaded image.

[code]

[2021-08-27 19:13] dioh commented on #4227
I found an invalid ssh_key related to another git organization that was making noice.

[2021-08-27 19:13] #4227 closed, assigned to nobody

[2021-08-27 19:28] profyogesh opened #4229 "krots"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-08-27 22:25] #4229 closed, assigned to nobody

[2021-08-27 22:26] vilmibm commented on #4224
this is possible with `gh pr comment 35 -b "@dependabot recreate"`

[2021-08-27 22:26] #4224 closed, assigned to nobody

[2021-08-27 22:32] Milo123459 commented on #4224
I see, my bad! Still would be cool if you could use the usage I suggested.

[2021-08-28 02:27] #4120 closed, assigned to vilmibm

[2021-08-28 09:03] matoon11 commented on #4120
abigaiilmorris

[2021-08-29 00:40] vEnhance commented on #4202
I think an analogous function for `view` would also be appreciated.

[2021-08-29 01:51] Jernik opened #4230 "gh pr list --help examples do not work"
### Describe the bug

I ran gh pr list --help because I wanted to look at just my PRs. I then ran the provided examples for filtering PRs authored and assigned to me, and got an error of `flag needs an argument: --author`

### Steps to reproduce the behavior

1. Run the command `gh pr list --assignee @me`
2. View the output:
[code]

### Expected vs actual behavior

I expected to be able to run the

[2021-08-29 09:34] MelnikovAG opened #4231 "Creat"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-08-29 09:34] MelnikovAG opened #4232 "Si"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-08-29 09:35] MelnikovAG opened #4233 "I"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-08-29 09:35] MelnikovAG opened #4234 "Es"

[2021-08-29 16:07] #4231 closed, assigned to nobody

[2021-08-29 16:07] #4232 closed, assigned to nobody

[2021-08-29 16:07] #4233 closed, assigned to nobody

[2021-08-29 16:07] #4234 closed, assigned to nobody

[2021-08-29 17:15] gdhameeja commented on #4202
This is my first time working on github cli. I was going through the help section of `pr` and `issue` CORE COMMANDS, and in both I see `comment` listed. Does that not work? Are we trying to do something different here?
[code]

[code]

[2021-08-29 17:17] Mesteery commented on #4202
Currently, it is necessary to check if it is a pr or an issue to know which command to execute. The ideal I think would be a command that works whether it's a pr or an issue like `gh comment <issue (or pr) number>`

[2021-08-30 05:24] matschaffer commented on #1027
Thanks @aspiers ! I was looking for the same thing after using `hub remote add <user>` for so many years. You've saved me 5 keystrokes! 🧡

[2021-08-30 07:11] g14a commented on #4230
@Jernik What version and OS are you on? I'm on macOS Big Sur and it works perfectly for me.

[2021-08-30 08:42] mislav commented on #4230
It looks like PowerShell on Windows interprets `@me` as some special syntax. I didn't know that! We would accept edits to our docs that suggest that `"@me"` appears in quotes in the examples so the examples work for everyone.

[2021-08-30 08:48] mislav commented on #4228
Thanks for the suggestion! Duplicate of https://github.com/cli/cli/issues/1895#issuecomment-718899617

[2021-08-30 08:48] #4228 closed, assigned to nobody

[2021-08-30 09:07] mislav commented on #3704
@wilso199 Your approach seems solid. I don't think we should couple this workaround specifically for Homebrew; let's just do it for everyone!

I would use this approach:
1. Iterate through directories in PATH;
2. For every `/path/to/gh` that exists, check if it matches `os.Executable()` or if it's a symlink that resolves to `os.Executable()`;
3. If no match was found, just use first `/path/to/gh`

[2021-08-30 09:13] mislav commented on #4202
Fully agreed that commands like `gh issue comment`, `gh issue close`, `gh issue reopen`, `gh issue view`, and `gh issue edit` should work regardless of whether the argument passed in was an Issue or a Pull Request. Contributions welcome!

[2021-08-30 10:28] mislav commented on #4218
Sorry, we do not provide support for how to use Homebrew on your machine. The `gh` formula [is definitely present](https://github.com/Homebrew/homebrew-core/blob/master/Formula/gh.rb) in the homebrew-core tap. If it's not present for you locally, something is broken with your Homebrew installation.

Tip: you should probably update Homebrew. `brew update && brew install gh`

[2021-08-30 10:28] #4218 closed, assigned to nobody

[2021-08-30 10:40] mislav commented on #4220
Listing extensions is slow because it checks on GitHub for every extension whether it has updates (i.e. has newer commits pushed) https://github.com/cli/cli/blob/99cbfd3dd8ea32a27b9545e6ada56a1f4732e90b/pkg/cmd/extension/manager.go#L104-L107

We could probably speed it up by avoiding doing this check too often.

[2021-08-30 10:50] mislav commented on #3796
`gh auth git-credential` command was designed to be used as a git credential helper, i.e. to be invoked and used entirely from a `git` process. The user should never have to directly interface with this command; that's why it's "hidden".

I would leave the `git-credential` command as-is and create a new command to set up git with gh as a credential helper. Something like:
[code]

For simplicity, I

[2021-08-30 10:54] mislav commented on #4217
Could you elaborate?

What specifically happens if you cd into your personal project's repo and run this: `gh issue list`
I guess that the list of git remotes is like this:
[code]

Is there an error message from gh? What does it say?

* * *

Note that we do not support switching between multiple user accounts in GitHub CLI #326, but we do support SSH aliases.

[2021-08-30 11:51] mislav commented on #4219
Thanks for the feature request. This might be something that we add in the future, but in the meantime, you can access this functionality via an extension: https://github.com/slurps-mad-rips/gh-update-branch

[2021-08-30 11:59] waldyrious commented on #4220
IMO the default behavior should be to not do this check by default, and maybe print a message if the last check was too long ago, suggesting the user to run `gh extension list --check` (or whatever other flag name would be acceptable). That way, the slow behavior would be opt-in and deterministic, rather than "smartly" snuck in in some invocations of the command and not in others.

[2021-08-30 12:48] Jernik commented on #4230
@mislav would this be an update to the docs and the --help flag? I can take a look!

[2021-08-30 13:02] mislav commented on #4230
@Jernik The docs (including `--help` output) is generated from source files:

- `pkg/cmd/issue/create/create.go`
- `pkg/cmd/issue/edit/edit.go`
- `pkg/cmd/issue/list/list.go`
- `pkg/cmd/pr/edit/edit.go`
- `pkg/cmd/pr/list/list.go`

[2021-08-30 14:00] mislav commented on #4131
Closed due to lack of information.

[2021-08-30 14:00] #4131 closed, assigned to nobody

[2021-08-30 14:01] mislav commented on #1941
Closed due to lack of reproducibility steps.

[2021-08-30 14:01] #1941 closed, assigned to nobody

[2021-08-30 14:19] bungfut commented on #3799
#2261

[2021-08-30 14:27] #4230 closed, assigned to nobody

[2021-08-30 14:41] mislav commented on #3208
Will close in favor of the `git push -u ...` solution and as a duplicate of https://github.com/cli/cli/issues/575

[2021-08-30 14:41] #3208 closed, assigned to nobody

[2021-08-30 20:15] 0az opened #4242 "Add support for deploy key operations"
### Describe the feature or problem you’d like to solve

Add support for deploy key operations.

### Proposed solution

This will enable command line deploy key operations without using the `hub api` (essentially curl) or curl.

### Additional context

[code]

Tentatively interested in submitting a PR for this, time permitting. (Time generally does not permit, but I'm optimistic.)

[2021-08-31 02:16] Lukepearshotmail opened #4245 "404 not found"
A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if needed.

[2021-08-31 12:49] igorakkerman commented on #703
I wonder how likely it is that this tool is or will ever be used on x86 and if the effort of spending resources on an x86 build/installer is worth it. IMO there might be a few exceptional cases of developers depending on x86 but is the ability to use this tool really crucial for them?

[2021-08-31 16:21] heaths commented on #703
It's really not much effort at all. Like I did with PowerShell, a couple variables for a different UpgradeCode and architecture setting and the authoring can otherwise be the exact same source. That said, I agree support for x86 may be dubious, but if the CLI wants to support Windows 7 there were still quite a few customers (maybe not dev customers though) on x86.

[2021-08-31 16:33] heaths commented on #703
@mislav if you'd prefer, I can start on authoring and submit a PR to collaborate on.

[2021-08-31 19:53] despreston opened #4248 "Add support for line number range to 'browse'"
### Describe the feature or problem you’d like to solve

Would like to open the browser to a specific file, with a range of lines highlighted.

### Proposed solution

Allow this:
`gh browse test.go:10-20`

To open the test.go file and highlight lines 10-20.

[2021-08-31 20:42] despreston commented on #4248
I put together a branch since it was easy work. No hassle if this isn't something you want in the project.

[2021-09-01 00:31] jgold-stripe opened #4249 "Allow something like default_github_host to be defined in config.yml"
### Describe the feature or problem you’d like to solve

It is not always easy to ensure that a `gh` operation will use a non-default value, even if that value is specified in a shell's inititalization by setting `GH_HOST`.

### Proposed solution

Allow a value to be set with the same semantics as `GH_HOST`, but as an entry in `config.yml`.

### Additional context

This is split off from https://g

[2021-09-01 00:36] jgold-stripe opened #4250 "Parse and merge multiple config files"
### Describe the feature or problem you’d like to solve

Configuration can only be specified in a single location (typically `$HOME/.config/gh/{config,hosts}.yml` on *nix systems). This makes it hard for system administrators to provide default configurations for their users, unless they autogenerate the user's home config files. But in that case, users can not easily add custom configuration (for

[2021-09-01 00:38] jgold-stripe commented on #4081
@mislav -- Thanks for your prompt reply, and apologies for my delayed one. I guess we can tell who works on `gh` full time :)

I created #4249 and #4250 just now, but will let you close this issue just to make sure I got those two right.

[2021-09-01 03:41] PattyStackzzCrypted3c opened #4251 "backlog"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solutionhttps://github.com/cli/cli/blob/e6ff77ce73c201b0ee36d2b802ea45e9e1ad1822/.github/CONTRIBUTING.md

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-09-01 09:16] rebelot opened #4252 "_gh completion not working in zsh"
### Describe the bug

I am on macOS 11.4, and gh completions seem not to work.

I've installed gh using `sudo port install gh`.
I can see that `_gh` exists inside `/opt/local/share/zsh/site-functions/_gh`
and `echo $fpath` shows that the above directory is indeed included. Other completions in that directory also work (e.g. _bat, _fd, _rg, etc)

I __don't__ use oh-my-zsh.

thinking that it might b

[2021-09-01 09:59] mislav commented on #4248
Looks good! Shoot us a PR please 🤘

[2021-09-01 10:05] mislav commented on #4250
Thanks for the suggestion!

I generally think that it's a good idea for a sufficiently widespread tool (and ours by now definitely is one) to support system-wide configuration. However, I'm struggling to envision a good use-case for system configuration given the configuration options we have right now (and assuming that we add a new config option for default host). What would a system admin poten

[2021-09-01 11:04] mislav commented on #4252
That's really weird. Judging from what you've shared, you're doing everything fine.

Note that you should maybe do this _after_ editing fpath:
[code]

You can try enabling tracing so that you see what happens if you write `gh <Tab>`:
[code]

[2021-09-01 11:07] mislav commented on #4249
Thanks for the proposal!

We designed `config.yml` so you can easily check it in and share it with your personal dotfiles. That means that we avoid putting any potentially sensitive information in that file.

If we add `default_github_host` there, then if you configure that to `github.your-secret-client.org`, you might inadvertently leak which organization you are working with.

Instead, what do y

[2021-09-01 11:57] rebelot commented on #4252
It started working a few minutes after filing the issue. Without doing absolutely anything. I wouldn't dig deeper for my sanity. I'm closing this issue since I call it on "bad luck". Thank you anyways :)

[2021-09-01 12:42] #4252 closed, assigned to nobody

[2021-09-01 13:47] mislav commented on #703
@heaths That would be awesome, thank you. 🙇

To be honest, since your previous comment I was looking a bit into wixproj files and MSBuild, but having no experience with either and online guides suggesting I should use Visual Studio for all this, I think I was way in over my head.

[2021-09-01 13:54] mislav commented on #4194
@heaths It's a good point about not just making it easier to install other people's binary extensions, but also to help you while writing your own. I'm not sure if going with GOBIN/GOPATH is the right approach though, but how about this:
1. You clone a Go extension locally;
2. `cd` into that project and `gh extension install .`;
3. Run `go build -o gh-my-extension` - this should produce a `gh-*` b

[2021-09-01 16:08] #4248 closed, assigned to nobody

[2021-09-01 20:09] heaths commented on #703
Sure thing. Not blocking (we can always move it), but if you have some thought as to where to put the files. I will update the workflow to invoke it as well.

[2021-09-01 21:17] nipunn1313 commented on #2693
Hi. I stacked diffs often at my past job (using phabricator) as a means of contributing more efficiently in a world where CR latency was too slow to keep up w/ developer throughput one-at-a-time (pipelining of diffs necessary). I found this pretty typical for high throughput developers in stable codebases.

I have had trouble with such a flow on github, particularly as an external contributor to a

[2021-09-02 03:54] jgold-stripe commented on #4249
I think `hosts.yml` sounds just as good from my perspective -- thanks for the explanation.

[2021-09-02 03:57] jgold-stripe commented on #4249
On a separate note, regarding

It's possible then that #3779 ended up violating this intent (I wasn't aware of the distinction as it's author), since I suspect that the value of the unix socket path there could be considered as potentially sensitive as the proposed value of `default_github_host`.

[2021-09-02 04:04] jgold-stripe commented on #4250
In the case of my organization, a sysadmin who could centrally configure values for things like `http_unix_socket` (added to `config.yml` in #3779) and for the `default_github_host` property proposed in #4249 could provide a `gh` configuration that worked for users out of the box (currently they have to manually add these properties in their own user configs).

And as described in the motivation f

[2021-09-02 08:05] rickkln commented on #2693
I also hack around this issue with some basic fish functions, however the problem described by @nipunn1313 means that it is not possible to get it working correctly due to those inherent GitHub limitations.

I think the core thing that  GitHub/GitLab views differently to Phabricator (and as I understand it Gerrit as well) is what code review does. Does it let you review the result of a merge betwe

[2021-09-02 08:48] Kralizek commented on #2545
For those landing on this issue from Google, here is a non-signed, non-supported build of GitHub CLI v2.0.0
[gh-2.0.0-12-gabfe2961.zip](https://github.com/cli/cli/files/7097461/gh-2.0.0-12-gabfe2961.zip)

[2021-09-02 09:58] mislav opened #4255 "Template should not be evaluated in case of errored API responses"
hi, I'm running some API commands by passing a template. When I pass an invalid value to GitHub's API, then the underlying API command fails and I get a template error.

For example:
[code]

How would I do error handling in this case? As I'm using this command as part of my extension (see https://github.com/rethab/gh-project) I'd like the user not to see the template error message, but instead sho

[2021-09-02 10:12] mislav commented on #4249
Possibly. However, I didn't know of a better place to add `http_unix_socket` to (I'm not sure `hosts.yml` would be better), while on the other hand all information about GitHub hosts feels like it belongs to `hosts.yml`.

[2021-09-02 10:13] mislav commented on #2545
@vilmibm Did you say you got gh running on a Windows tablet? Do you think we should add an ARM build to our releases?

[2021-09-02 10:19] mislav commented on #703
Feel free to put build stuff under `script/`. Also, our current release workflow is triggered by git tags, but in the interest of testing this Windows stuff in Actions without having to push new git tags, you could temporarily configure the Windows build workflow to be triggered on `push` or on `workflow_dispatch`.

[2021-09-02 14:28] retorquere commented on #378
According to the [docs](https://cli.github.com/manual/gh_release_delete) the current release only allows deleting the release, not assets within the release.

[2021-09-02 14:57] MarvinJWendt commented on #3987
Any feedback?

[2021-09-02 15:04] mislav commented on #378
@retorquere You're right, we closed this issue without implementing exactly all of the features that were requested for in the thread. There are no features to delete assets. If you need this, please open a new feature request with the proposed interface. Thank you!

[2021-09-02 15:10] mislav commented on #3987
Sorry, we have such a big backlog of feature requests that it's challenging to comment on each one in a timely manner.

Thank you for the good feature request and providing examples! The reason we made `gh release create` non-interactive by design since its launch is that we've anticipated this command to be primarily used for automation; less so by typing in values within a series of prompts. But

[2021-09-02 15:27] inktomi opened #4258 "Provide way to fully clean up a release via CLI"
### Describe the feature or problem you’d like to solve

When scripting release builds, the flow might go something like this:

- Create a draft release
- In parallel, build assets for the release (maybe, different flavors of an Android app), and add them to the release
- Finalize and mark the release no longer a draft if everything is good.

The issue comes if one of those parallel builds fails.

[2021-09-02 15:34] mislav commented on #4258
Thanks for the feature request!

I dig the idea of a separate flag that triggers the removing of the associated git tag as well 👍

1. How would a person obtain the asset ID in the first place? I don't think we show IDs anywhere in `gh release view`.
2. But if the person wanted to delete only 1 asset, but omitted the `--assetID` flag by accident, they would end up accidentally deleting the entire r

[2021-09-02 15:38] jgold-stripe commented on #4249
Is there a slack channel or somewhere for `gh`-related bike-shedding? Maybe I can drop in sometime :)

[2021-09-02 15:38] vilmibm commented on #2545
it's definitely possible to build on arm64, but we would need to compile using go1.17 which only just came out.

it will be a bit before we officially support something like the surface pro x in our builds but gh compiles and runs just fine on one (including in wsl).

[2021-09-02 15:38] inktomi commented on #4258
As to how I would get the assetId, it seems reasonable that this could be returned when uploading an asset. I apologize for not checking ahead of time to see if that was returned.

I was thinking about the same thing for the second point. I agree! I almost proposed `--force` but really, `--purge` or something like that might work well to trigger a full removal of all a release's metadata.

[2021-09-02 15:39] jgold-stripe commented on #4081
Regarding the ongoing discussions in #4249 and #4250, would you say those are acceptable feature requests and I can close this for posterity?

[2021-09-02 15:56] mislav commented on #4242
This sounds like a good idea to me! Thank you for the feature request and the usage sketch.

Since deploy keys are SSH keys, if at all possible, the new commands should match the look & feel of existing `gh ssh-key` commands. However, I do agree that it's best to keep these commands scoped under `gh repo ...` since deploy keys are repo-specific.

Ref. https://github.com/cli/cli/issues/692

[2021-09-02 15:58] mislav commented on #4249
We don't have a public channel yet! But maybe a good idea for the future 🤔

[2021-09-02 16:12] mislav commented on #4258
So if you weren't the one who uploaded the asset in the first place, or if you did but your terminal history no longer contains the output of the original `gh release upload` command, then you wouldn't have access to the numeric ID?

How about deleting assets by name instead of ID? Names are unique and exposed in `gh release view`.

[2021-09-02 16:21] inktomi commented on #4258
Names would work well. That's a good observation - for my various use cases building a release is not something that more than one person works on, but having all the data available via `gh release view` would be ideal.

I didn't realize names were unique. Since they are...

`gh release delete ... --assetName <assetName>`

..would work just fine.

[2021-09-02 17:39] #4209 closed, assigned to nobody

[2021-09-02 17:45] vilmibm commented on #4192
Ah no there is not yet an issue, but there should be! feel free to open one, @heaths . CC @samcoe since he has already started on that work.

[2021-09-02 17:51] mislav opened #4263 "Prevent pr commands without arguments from accidentally applying to defunct, closed PRs"
When you run `gh pr view`, for example, we will look up the current branch and display the latest PR that has it as its head branch. We do this even for closed PRs so that operations like `gh pr view` and `gh pr reopen` can work.

When one is on the _default branch_, however, I don't think the same logic should apply. Looking up closed PRs that have `main` as their head branch is most likely going

[2021-09-02 18:10] #4192 closed, assigned to nobody

[2021-09-02 20:10] heaths opened #4264 "Refactor (or replicate) common CLI packages into separate module for binary extension developers"
### Describe the feature or problem you’d like to solve

Script extensions aren't always ideal, especially when extensions may want to do more that is difficult or otherwise very involved with scripts. Writing binary extensions in Go would be useful in these cases, but then devs have to mimic or try to [`go get`](https://github.com/cli/cli/issues/4192) the CLI which isn't really a target goal of t

[2021-09-02 20:10] heaths commented on #4192
https://github.com/cli/cli/issues/4264

[2021-09-02 22:03] sethfri commented on #1145
Would love a dry-run flag as well for the testing considerations mentioned above. For example, I just wrote a script that looped through a bunch of PRs and retargeted their base branches. It would have been good to be able to dry run the `gh` commands in the script to make sure it was going to do what I intended

[2021-09-02 22:21] samcoe commented on #4264
@heaths I am currently getting started on this 👍 I will update here when I have made more progress.

[2021-09-03 02:05] neilnaveen commented on #4263
I am new to OSS, I would like to try and contribute to this issue.

I understood this section

I also understood that this should not happen for the default branch, am I right?

Looking at the code I can't understand how to implement this? I would appreciate it if you could help me with this. Thanks

[2021-09-03 09:18] suriyo-cycron opened #4265 "gh pr checkout 23903"
gh pr checkout 23903

_Originally posted by @suriyo-cycron in https://github.com/cli/cli/issues/4261#issuecomment-912388978_

[2021-09-03 09:49] lucatpa opened #4266 "Don't change directories when installing an extension"
### Describe the bug

`gh --version`: gh version 2.0.0 (2021-08-24)

I use git's [`includeIf`](https://git-scm.com/docs/git-config#_includes) to keep different environment for work and personal stuff:

[code]

So whenever a repo is in my `~/work` directory, it will include the `~/work/.gitconfig` where I have this:

[code]

Now, when I try to install an extension from a (private) work repository,

[2021-09-03 09:55] lucatpa opened #4267 "Allow specifying a different extensions directory"
### Describe the feature or problem you’d like to solve

I use https://direnv.net/ to keep different environment for work and personal stuff and use the `GH_CONFIG_DIR` environment variable to override the `gh` config directory and everything was fine.

But now that extensions were introduced, I noticed they are installed in `~/.local/share/gh/extensions` and there seem to be no way to override th

[2021-09-03 10:32] mislav commented on #4267
Thanks for detailing your use-case!

Extensions are data, not configs, so they don't respect GH_CONFIG_DIR nor the standard XDG_CONFIG_HOME as fallback. Instead, they respect the standard XDG_DATA_HOME dir, so extensions will be placed under `$XDG_DATA_HOME/gh/extensions`. You can use that for changing the installation directory.

[2021-09-03 10:32] #4267 closed, assigned to nobody

[2021-09-03 11:25] mislav commented on #4263
Thanks for offering to look into this!

I would extend this GraphQL query https://github.com/cli/cli/blob/029d49f3b38ebd54cd84b23732bb7efabfce4896/pkg/cmd/pr/shared/finder.go#L282-L289

to add `defaultBranchRef{name}` under `repository`. That will expand the query to also fetch the name of the default branch of the repository that's being queried.

Then the corresponding `response` struct should b

[2021-09-03 11:29] lucatpa commented on #4267
I don't agree they are only data, unless there were a way through config to enable or disable installed extensions. Changing `XDG_DATA_HOME` is **really** disruptive, because it affects the whole system, no just `gh`. I really can't understand why would you see a value in having `GH_CONFIG_DIR` (which could also be overridden via `XDG_CONFIG_HOME`)...

[2021-09-03 11:40] mislav commented on #4266
Thanks for detailing your use-case!

I suspect that `~/work/.gitconfig` is not being included because the extensions are being installed to a location outside of the `~/work` directory, even when you are currently under the `~/work` directory when you run `gh extension install`.

I'm not sure what would be the way to fix this. Note that GitHub CLI does _not_ have support for multiple GitHub accoun

[2021-09-03 11:40] #4266 closed, assigned to nobody

[2021-09-03 13:42] mislav commented on #4081
Agreed.

[2021-09-03 13:42] #4081 closed, assigned to nobody

[2021-09-03 14:10] #2661 closed, assigned to nobody

[2021-09-03 14:14] mislav commented on #1450
Examples of other PRs that added extra fields to the `mergePullRequest` payload: https://github.com/cli/cli/pull/3344 https://github.com/cli/cli/pull/2980, in case someone wants to add the email field too!

[2021-09-03 14:28] mislav commented on #4200
I have thought about it some more and, even though you the workaround you suggest (hiding the build date) is feasible, I don't know what else apart from Nixpkgs build script would benefit from that, and I am generally wary of making codebase changes to appease packaging problems.

Until there is more evidence that our handling of SOURCE_DATE_EPOCH is some kind of pervasive problem, I'm going to cl

[2021-09-03 14:28] #4200 closed, assigned to nobody

[2021-09-03 15:48] jwodder opened #4270 "Possible race condition making `gh release create` fail and produce a draft release"
We have a GitHub repository set up for building & creating releases for a mirror of an off-GitHub repository.  A scheduled job updates the GitHub repository from upstream and then, if there are any new tags, manually triggers the build workflows (one each for Ubuntu, macOS, and Windows) to build & release the new versions.  This was all working fine until the June 30 release, when the `gh release

[2021-09-03 16:03] wrslatz commented on #4201
Opened https://github.com/github/docs/pull/9537 in the `github/docs` repo to update the documentation there as well while I work on the update here.

[2021-09-03 16:21] wrslatz commented on #4201
Here's the PR for the CLI: https://github.com/cli/cli/pull/4271

[2021-09-03 18:04] heaths commented on #4194
Any time frame in mind for this? Anything I can do to help?

In the meantime, would it make sense - both for general extension installation perf, especially for those with binaries committed to the database - to do a shallow clone? For example, copying @vilmibm's example extension, my _builds/* directory is already 24MB with just 1 version of the binaries. I've been making headway on `gh-label` wi

[2021-09-03 22:39] cardonator opened #4273 "`go get` no longer works on v2.0.0"
### Describe the bug

I have the gh application installed through Go and in my go bin folder. This has worked just fine, but now that v2.0.0 has released, the `go get` command no longer works (presumably because the `go.mod` file doesn't have `/v2` appended to the package name).

### Steps to reproduce the behavior

1. go get -u github.com/cli/cli/v2
2. go get: module github.com/cli/cli@upgrade fo

[2021-09-04 02:51] kidonng commented on #4200
@mislav sorry for replying so late, I intend to create a pull request to just hide the build date in Nixpkgs.

As said above, I'm not saying this should not be resolved in Nixpkgs side, just thinking the upstream may be interested in the change.

Still, thanks for your understanding and for maintaining this awesome tool!

[2021-09-04 16:31] elovelan opened #4274 "auth refresh breaks credential helper"
### Describe the bug

When using `gh auth refresh`, the credential helper is missing the executable path:

[code]

[code]

### Steps to reproduce the behavior

1. Type `gh auth refresh`
2. Output:

[code]

3. See bug description for issue

### Expected vs actual behavior

Expected: credential helper includes path to `gh` executable
Actual: no path to executable included in helper

### Logs

N/A

#

[2021-09-04 23:16] tmandry commented on #2691
I just hit this and it caused the whole PR description I'd written to disappear. Better error recovery would be nice.

Edit for anyone who hits this: I was able to find a copy in vim's backup dir.

[2021-09-04 23:24] heaths commented on #4273
Possible duplicate of #4192

[2021-09-04 23:49] cardonator commented on #4273
That does look like the same issue, looking at it from a slightly different angle. I'm using go get to manage the binary installation, as opposed to using it for building other software.

[2021-09-05 03:57] gtothe7 opened #4275 "“Information provided was detailed and helpful”"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-09-05 10:04] n1lesh commented on #4242
@mislav Would you mind if I give it a try? I would surely require a little guidance to get started!

[2021-09-05 13:28] Adiltonzsl opened #4277 "despreston:des/3839-warn-limit"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-09-05 18:14] NguyenThanhHpv opened #4278 "Lỗi web"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-05 18:34] #4278 closed, assigned to nobody

[2021-09-05 18:34] #4277 closed, assigned to nobody

[2021-09-05 18:35] #4275 closed, assigned to nobody

[2021-09-05 23:04] CTingen commented on #3918
So tired of all this bullshit to get my peace back

[2021-09-06 03:22] junjihashimoto opened #4281 "Manage commit comment"
### Describe the feature or problem you’d like to solve

Current cli does not have the commands for commit-comment.
Commit comment is like [this](https://github.com/iterative/cml/commit/899c6d2e3eaffc66d12492deffa658e8430f1c66).
It is useful to show  additional information like some images or some spreadsheets of the commit .

### Proposed solution

Currently we have to use github-web-UI or github

[2021-09-06 09:07] lucatpa commented on #4266
Yes, I am aware, I participated in that issue too: https://github.com/cli/cli/issues/326#issuecomment-847810959

Even if you don't officially support it, it was totally doable and was working perfectly with this trick until extensions were introduced.

I guess I could write my own credentials helper, but I don't see any reason why `gh` should change the CWD to checkout an extension, unless it is n

[2021-09-06 09:39] mislav commented on #4273
Thanks for reporting! There is indeed something fishy going on with this error message, but note that our app was not go-gettable anyway. Please install using our official binaries instead through Go tooling. Duplicate of https://github.com/cli/cli/issues/1389

[2021-09-06 09:39] #4273 closed, assigned to nobody

[2021-09-06 09:43] mislav commented on #4270
You do have 3 jobs (Ubuntu, macOS, Windows) that end up doing `gh release create` with `$INPUT_COMMITTISH` as a tag name. Only 1 release can be created with a single tag name on GitHub; every subsequent attempt will fail with an error message saying that a release with that tag name already exists. I think that is exactly what's happening here. Am I missing something? What is that you thought woul

[2021-09-06 09:47] mislav commented on #4274
Thanks for the report and for tracking down the cause of the bug! PR welcome 🙇

[2021-09-06 10:08] mislav commented on #4281
Thank you for writing in. You are right that we do not support making commit comments, and I don't think we will in the near future. Therefore I am going to close this.

However, it should be easy to use GitHub CLI to [create commit comments using the API](https://docs.github.com/en/rest/reference/repos#create-a-commit-comment):
[code]
Just replace "COMMIT" with your commit SHA and run this from t

[2021-09-06 10:08] #4281 closed, assigned to nobody

[2021-09-06 11:04] junjihashimoto commented on #4281
@mislav
Thank you for your help.
The api-command is sufficient for my use case.

[2021-09-06 13:34] mislav commented on #2691
@tmandry I'm sorry that you almost lost your work. Are you running a recent version of gh? We've had the `--recover` option for failed `gh pr create` [since v1.3](https://github.com/cli/cli/releases/tag/v1.3.0), and if that never showed up for you, we'd appreciate an open issue about it!

[2021-09-06 15:04] mislav commented on #4194
See my answer in https://github.com/cli/cli/pull/4280#issuecomment-913653076

[2021-09-07 00:52] jenifereva opened #4282 "Fingerprint sensor"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-07 00:58] AyushRawal commented on #4263
Hi! I am new to this and I am not sure if I understand you correctly, but I believe these are the required changes:
[code]

[code]

[code]

[2021-09-07 03:40] jenifereva opened #4283 "In-screen 'gh --fingerprint' 'gh --version'"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-07 05:02] #4283 closed, assigned to nobody

[2021-09-07 05:02] #4282 closed, assigned to nobody

[2021-09-07 05:03] #4265 closed

[2021-09-07 05:04] #4251 closed

[2021-09-07 05:04] #4245 closed

[2021-09-07 05:04] #4204 closed

[2021-09-07 07:45] UttaM1990 opened #4284 "gh pr checkout 4039"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-09-07 08:05] mislav commented on #4263
@AyushRawal I think so! Kindly send us a pull request with these changes. 👍

[2021-09-07 08:06] #4284 closed, assigned to nobody

[2021-09-07 11:26] stuartstein777 commented on #4131
I got this error message today after thinking I had successfully installed the github cli .deb)

Turned out that it wasn't actually installing and I had another tool (gitsome) installed. Gitsome was running when I was entering `$ gh` at the command line, not the github CLI.

When I try to install the .deb it fails, but fails silently which can make it look like its installed fine. I got around thi

[2021-09-07 12:33] #4201 closed, assigned to nobody

[2021-09-07 13:40] jwodder commented on #4270
@mislav It appears that I originally misdiagnosed the point of failure in the step.  The `gh release list | grep -q "^$INPUT_COMMITISH\b"` line is supposed to determine whether `gh release create` or `gh release upload` is run, with the intended end result being that `create` is only run in the first job to reach that step while the other two run `upload`.  However, something is going wrong in the

[2021-09-07 15:52] ferferga opened #4286 "Can't remove package versions using gh api"
### Describe the bug

Hello

I'm trying to remove a package version . I tested the following commands:

[code]

Running this returns the following error:

[code]

However, doing the request in plain curl works perfectly, like this:

[code]

Works perfectly, so I discard any bug in GitHub's api side.

### Logs

Output of ``gh --version``

[code]

[2021-09-07 16:03] mislav commented on #4286
Thanks for reporting! Duplicate of https://github.com/cli/cli/issues/3937

[2021-09-07 16:03] #4286 closed, assigned to nobody

[2021-09-07 16:04] n1lesh commented on #4242
@mislav Would it be okay if I give it a try if it's still open?

[2021-09-07 16:08] mislav commented on #3937
I think it should be safe to send an empty body instead of `{}`, even though it would be a backwards-incompatible change. Based on my informal inspection of the GitHub API, the endpoints that expect no arguments don't enforce that the input object must be `{}`. But, I'd need to take a deeper dive to confirm.

As a potential workaround for this problem until a gh release that fixes this, I think th

[2021-09-07 16:13] mislav commented on #4242
@n1lesh Please do! Take `gh ssh-key` as inspiration for the command interface. In fact, if you want to copy-paste code from there into the new commands scoped under `gh repo`, that would be fine as well 👍

[2021-09-07 16:17] mxcl commented on #3514
I discovered this change was causing all my Dependabot PRs to merge instantly, presumably because my workflow with this command was run before the other check (my tests) had spawned.

The Dependabot docs currently are recommending this command in a sample workflow for enabling auto-merge for your PR with the promise that “Dependabot will not merge the PR until your checks pass”.

I fear this means

[2021-09-07 16:17] ferferga commented on #4286
@mislav Thank you very much! Searched about it but seems that with not the best keyword selection! 😓

[2021-09-07 16:20] ferferga commented on #3937
I confirm that this fixes the issue, at least for the /packages/container/x/versions/x endpoint with ``DELETE``.

[2021-09-07 17:09] wyattanderson opened #4287 "PR checkout no longer works for branches not configured to be fetched from the remote"
### Describe the bug

I have configured the `fetch` option of my local repository to only fetch the `master` branch, so as to not pollute my local repository with all of the branches that have been pushed to the origin:

[code]

Before 2.0, I was able to `gh pr checkout` successfully. After 2.0, `gh pr checkout` fails:

[code]

Worse, the failure of the `checkout` command leaves my repository with

[2021-09-07 17:21] mungojam commented on #3514
Presumably if you have branch protection with required checks on, then this isn't an issue. There isn't a watertight way to know which checks will trigger for a given PR because not all hooks will lead to a check, some may be conditional on target branch etc.

[2021-09-07 19:30] zrluety opened #4288 "gh repo view --web does not work on windows when default browser path has a space"
### Describe the bug

Cannot open the repo in the browser with the command on Windows using gh repo view --web.

gh version 2.0.0 (2021-08-24)

### Steps to reproduce the behavior

1. Type this gh repo view --web
2. View the output exec: "C:Program": file does not exist
3. See error

### Expected vs actual behavior

I would expect this to open the repo in the browser.

The default browser executab

[2021-09-07 20:44] vilmibm commented on #4194
@heaths fwiw, I have switched my extensions to use binaries from releases -- the scripts that power that are general and you're welcome to adapt them for your extension. I'd recommend doing that to curb the repo size on your extension since I'm only just now starting on natively supporting binary installs.

Edit: I also agree that the shallow clone is an orthogonal concern and it's certainly not s

[2021-09-07 20:49] heaths commented on #4194
Thanks. I'll take a look. I was considering options to do so myself but wanted to wait to see what you all came up with (and when it would be delivered).

Still, as I mentioned in [my comment](https://github.com/cli/cli/pull/4280#issuecomment-914612231) on the PR to create shallow clones, the cat is already out of the bag. By cloning the whole repo - even if HEAD doesn't have binaries in the index

[2021-09-07 23:43] jongio commented on #3796
Just a heads up that I created a GitHub CLI extension for this - just as an experiment with CLI extensions
https://github.com/jongio/gh-setup-git-credential-helper

The extension also clears the GITHUB_TOKEN env var and runs `gh auth login`.

I'll move the extension to the new setupgit cmd once it is ready.  Looking forward to it!

[2021-09-07 23:43] jongio commented on #3798
Just a heads up that I created a GitHub CLI extension for this - just as an experiment with CLI extensions
https://github.com/jongio/gh-setup-git-credential-helper

The extension also clears the GITHUB_TOKEN env var and runs `gh auth login`.

I'll move the extension to the new setupgit cmd once it is ready.  Looking forward to it!

[2021-09-08 00:57] Odas0R commented on #4288
There's a new option to the gh config `gh config set browser`

To solve this problem you need to set the path of the desired browser. You can also just edit the `config.yml`.

[code]

[2021-09-08 01:22] tmandry commented on #2691
Ah, mine's v1.2. I'll upgrade then! Thanks for the helpful response.

[2021-09-08 02:56] zrluety commented on #4288
Thank you, that resolved my issue.

[2021-09-08 02:56] #4288 closed, assigned to nobody

[2021-09-08 07:17] 3b3ziz opened #4289 "Sorry, I opened an issue by mistake while testing the repo locally."
.

[2021-09-08 07:17] #4289 closed, assigned to nobody

[2021-09-08 10:06] mislav commented on #3514
That's indeed worrisome. Thank you for raising this concern, @mxcl.

On the other hand, if `gh pr merge --auto` does *not* merge currently mergeable PRs, then calling `gh pr merge --auto` on a PR that is subject to no checks whatsoever (or on a PR where all checks already passed) will _never_ result in a merge.

I'm torn between considering this to be a bug with GitHub CLI vs. considering this to

[2021-09-08 10:22] mislav commented on #4287
Thank you for the report! You are right that this is a regression and you've also pinpointed the cause correctly.

However, I just tested, and if we go back to setting up upstream configuration manually like this:
[code]
that still won't work with `git pull` because it will complain that `refs/heads/mybranch` wasn't fetched from the remote due to the remote being configured to fetch only specific

[2021-09-08 12:49] rethab opened #4292 "add flag to open newly created pr in browser"
### Describe the feature or problem you’d like to solve

When I create a new PR (`gh pr create --fill`) I'm usually going to open it in the browser right after. While there is an option to open the browser to _create_ the PR, there is no option to create the PR and _then_ open the browser :)

### Proposed solution

I think it would be nice to add a new option `--open` like so:

[code]

This would

[2021-09-08 14:32] RMPR opened #4294 "Add a -tui parameter to the CLI"
### Describe the feature or problem you’d like to solve

When browsing issues or PRs, usually you need to find the issue then launch the command again using the `view` option it you want to see the context.

### Proposed solution

Add a -tui parameter à la GDB in order to browse stuff like issues and pull request more comfortably

[2021-09-08 17:08] alexttx commented on #1773
Please document clearly where sensitive information is stored, and whether or not it is stored in plain text form.  For example, it appears `.config/gh/hosts.yml` contains sensitive authentication tokens that should be protected.

[2021-09-08 17:50] StevenACoffman commented on #4194
@vilmibm Thanks for the [clever shim script](https://github.com/vilmibm/gh-user-status/blob/trunk/gh-user-status)!

Is this the advised route, or can we still expect `gh extension install` to soon support installing binary releases without a shim in the future?

[2021-09-08 18:05] heaths commented on #4194
@vilmibm ideally it'd be great to see `gh extension install` do this so install is done and needs no subsequent access to download bits making the first invocation potentially slow, or even blocking build agents that might offline the build and only be online to install prereqs.

Even better, if the names you chose as an example were the naming convention going forward so existing extensions adopt

[2021-09-08 18:36] vilmibm commented on #4194
@StevenACoffman I'm actively working on making the shim unnecessary :) but that support realistically won't be released until the end of this month.

[2021-09-08 22:28] vilmibm commented on #4194
took the liberty of updating the body with my plan and my TODOs

[2021-09-08 23:09] worikgh opened #4295 "gh repo sync is broken - hangs"
### Describe the bug

Running `gh repo sync` in a freshly cloned repository hangs

### Steps to reproduce the behavior

Clone a repository
Change directory into it
run `gh repo sync`

Nothing happens.  There is a text spinner `⣽` and nothing else.

### Expected vs actual behavior

Expect it to do not much at all since it is a freshly cloned repo

[2021-09-09 01:15] mishmanners opened #4296 "Add the ability to create milestones in the CLI"
### Describe the feature

After a recently successful YouTube video: https://youtu.be/bfKRziEMMx0, one of our viewers asked for the ability to create milestones in the CLI.

We discussed this in our team and think this would be a good feature.

### Proposed solution

Milestones are becoming more important/widely used especially as they become a larger part of the project experience. We think many

[2021-09-09 05:37] kei-yamazaki opened #4297 "`--paginate` option returns only 1000 results when specified with `--raw-field` option"
### Describe the bug

`--paginate` option returns only 1000 results when specified with `--raw-field` option.

[code]

### Steps to reproduce the behavior

1. Specify -f along with the paginate option as in the following command. This command will return `1000`.
[code]

### Expected vs actual behavior

There are more than 1000 results of workflow execution in `csv-coverage-pr-artifacts.yml`.

Inst

[2021-09-09 08:39] mislav commented on #4294
Thanks for writing in! Could you tell us more about what the `-tui` parameter would do, exactly? Please assume that we do not know what "GDB" is.

[2021-09-09 09:25] RMPR commented on #4294
Using ncurses, I was thinking about something like a split view. On the left side you have the issues list (#number Title - comma separated list of labels). When you highlight the issue (using arrow keys or vim-like navigation), you have the details on the right side (ideally the output of `gh issue view #number --comments`). It can also be useful to be able to search through the issue list. Basic

[2021-09-09 11:24] heaths commented on #4194
Option 2 for the local install seems to jive with what @mislav [was thinking](https://github.com/cli/cli/issues/4194#issuecomment-910308364) as well. Also seems to be the most user-friendly of the options.

[2021-09-09 12:21] mislav commented on #4295
Thank you for reporting.

Does this happen on every attempty? If you do `DEBUG=api gh repo sync`, does it print more information about where the operation is stuck? Please share relevant parts of the output here—you may omit private information like repository names 🙇

[2021-09-09 15:19] samcoe commented on #4296
@mishmanners Thanks for the feature request. The team has discussed this in the past and it is something we would like to get to in the future, going to close this as https://github.com/cli/cli/issues/1200 already captures this feature.

[2021-09-09 15:19] #4296 closed, assigned to nobody

[2021-09-09 15:22] samcoe commented on #4297
@kei-yamazaki This is a limitation of the Search API and not something we can fix from the `gh` side of things. I am going to close this issue as we already have https://github.com/cli/cli/issues/3839 to address the UI around this limitation for a better user experience.

[2021-09-09 15:22] #4297 closed, assigned to nobody

[2021-09-09 15:32] mislav commented on #4297
@kei-yamazaki: I understand that it was not clear that the endpoint `repos/github/codeql/actions/workflows/csv-coverage-pr-artifacts.yml/runs` is only subject to the Search API (maximum 1000 results) when the parameter `status=completed` was used. Otherwise, it seems to allow returning all results.

Agreed that this isn't something that we can solve from GitHub CLI, but maybe could be indicated in

[2021-09-10 01:16] matschaffer commented on #972
I wouldn't want this as the default for `gh pr checkout` but an option, maybe `gh pr checkout --worktree` perhaps with `../{{ current dir name}_pr{number}` as a default but overridable argument to the switch.

[2021-09-10 02:22] githubnew-alt opened #4303 "@kb-1000 Just for clarification, after you ran `gh repo create` command, did you run `git pull`? If so, did that correctly pull in the files and commits? Right now, the `repo create` command does not do a `git pull` but maybe it should. It is something we can consider. I am going to change this from bug to enhancement for now as it appears the current behavior is working as coded just not meeting behavior expectations."
@kb-1000 Just for clarification, after you ran `gh repo create` command, did you run `git pull`? If so, did that correctly pull in the files and commits? Right now, the `repo create` command does not do a `git pull`  but maybe it should. It is something we can consider. I am going to change this from bug to enhancement for now as it appears the current behavior is working as coded just not meeting

[2021-09-10 02:23] githubnew-alt opened #4304 "[This](https://github.com/cli/cli/issues/2184#issuecomment-747432695) also raises issues when working with the Template repositories, as the option to "Copy all branches" from a template is not supported in the GraphQL API either."
[This](https://github.com/cli/cli/issues/2184#issuecomment-747432695) also raises issues when working with the Template repositories, as the option to "Copy all branches" from a template is not supported in the GraphQL API either.

_Originally posted by @nnichols in https://github.com/cli/cli/issues/2184#issuecomment-813544637_

[2021-09-10 07:37] worikgh commented on #4295
I have given up on it
I have things to do and since `gh` does not work for me I am back to pure git

[2021-09-10 09:35] blobyNob commented on #2267
same issue

[2021-09-10 10:35] mislav commented on #4295
Okay! Until there are some more reproducibility steps, I am going to close this issue.

[2021-09-10 15:05] ababushk commented on #2037
@mislav way works, but in my case I did small adjustment described in https://github.com/docker/for-linux/issues/415 - I set proxy URL's protocol to http instead of https
[code]

[2021-09-10 19:55] andrewhsu opened #4307 "unable to browse to line number if file is markdown"
### Describe the bug

Using `gh` to `browse` a file with given line number does not work with Markdown files. The URL the user is taken to is the rendered Markdown view without line numbers on the left-hand side.

### Steps to reproduce the behavior

[code]

### Expected vs actual behavior

Looks like a `?plain=1` parameter was [added to GitHub Web UI](https://github.blog/changelog/2021-06-30-para

[2021-09-10 20:03] samcoe commented on #4307
@andrewhsu Thanks for writing in, this does look like a small bug in this feature cc/ https://github.com/cli/cli/pull/4253. I think the solution you outlined of changing the URL to include `blob` and `plain=1` when the file is a markdown file makes sense and is straight forward.

[2021-09-10 20:07] andrewhsu commented on #4307
Cool, thanks for having a look. I can submit a PR.

[2021-09-10 20:23] samcoe commented on #4292
@rethab The `pr create` command supports the `--web` flag which will open the browser to the PR. That sounds like what you are searching for, but please let me know if I have misunderstood.

[2021-09-10 23:01] #3985 closed, assigned to vilmibm

[2021-09-10 23:01] #3984 closed, assigned to vilmibm

[2021-09-10 23:01] #3983 closed, assigned to vilmibm

[2021-09-10 23:12] future-rave opened #4309 "cli"

[2021-09-10 23:24] #4309 closed, assigned to nobody

[2021-09-11 06:43] SwampRabbit commented on #4295
@mislav FWIW, I think the problem is that the OP saw only the "text spinner ⣽" and what is really happening is that its waiting for the passphrase, but that doesn't actually show the text.  So I think it is an open issue.

I just experienced this now with gh 2.0.0 running through xfce4-terminal on MX Linux 19 (Debian 10).

If you smack ENTER and few times, it will give you an exit status 128 and i

[2021-09-12 00:16] Mymy0316 opened #4311 "Hi! Thanks for the pull request. Please ensure that this change is linked to an issue by mentioning an issue number in the description of the pull request. If this pull request would close the issue, please put the word 'Fixes' before the issue number somewhere in the pull request body. If this is a tiny change like fixing a typo, feel free to ignore this message."
Hi! Thanks for the pull request. Please ensure that this change is linked to an issue by mentioning an issue number in the description of the pull request. If this pull request would close the issue, please put the word 'Fixes' before the issue number somewhere in the pull request body. If this is a tiny change like fixing a typo, feel free to ignore this message.

_Originally posted by @cliAutoma

[2021-09-12 03:20] #4311 closed, assigned to nobody

[2021-09-12 08:06] ghost commented on #494
I was using the token from github personal tokens and once I enabled the SSO for that token, I loged out and loged in.

Post that it worked for me! Hope this helps someone.

[2021-09-12 08:37] chdoc commented on #359
What about an option take a diff (e.g., the current local changes) and open the GitHub website with an in-progress review where the diffs have been turned into suggestions, so that one can edit it there and add comments to the proposed changes? Currently, I often find my self editing code locally and then copying the changes manually into the web interface.

[2021-09-12 13:27] pierrejoye commented on #3488
For those wondering what gh template ended as. Here is an example:

[code]

- "range ." loop over all elements of the collections.
- tablerow prepares the table using the element of each item of the collections (the names are the ones provided to --json option
- tablerender will render the final table
- any space between {{ }} will be used as is
- it is not possible to use anything outside {{}} as

[2021-09-12 13:58] pamobazan12 commented on #4311
gracias

[2021-09-12 14:56] soffieswan042 opened #4313 "Princess"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-12 14:57] soffieswan042 opened #4314 "Feedback"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-09-12 14:57] soffieswan042 opened #4315 "Update"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-09-12 15:17] #4314 closed, assigned to nobody

[2021-09-12 15:17] #4315 closed, assigned to nobody

[2021-09-12 15:18] #4313 closed, assigned to nobody

[2021-09-12 18:03] tzusman commented on #2271
While we're waiting for a `gh pr draft` command, maybe @ampinsk or @mislav could help me out with my use case:

1. A PR draft is created by a developer, makes commits
2. PR is deemed ready to go, so they convert to a ready for review PR
3. This kicks off a series of automated tests in GitHub Actions
4. **If the tests in the Action fail, I want to revert the PR back to a draft**

I'm not seeing a w

[2021-09-12 22:05] heaths commented on #3488
I did add that to the `formatting` help topic, though that page you reference doesn't seem to be rendering it correctly:

[code]

Also, you don't need `{{tablerender}}` unless you want to render any text - plain or even another table - after that. The table is automatically rendered after all records are processed if not rendered explicitly first.

[2021-09-13 01:11] pierrejoye commented on #3488
Thanks @heaths :)

[2021-09-13 05:56] junjihashimoto commented on #4281
@mislav
Can we send newline with body-field?
When I use a following command, the message on github becomes "Hello\nWorld\n" without newline.

[code]

[2021-09-13 06:42] rethab commented on #4292
@samcoe as far as I understand, the `--web` flag opens the browser to _create_ the PR, doesn't it? What I was looking for was a flag that creates the PR and _then_ opens the PR in the browser.

[2021-09-13 07:09] leettaylor commented on #2271
For those using v2 @kyanny has kindly made an extension which can convert a PR into a draft:

https://github.com/kyanny/gh-pr-draft

[2021-09-13 07:40] Barabara343434 opened #4317 "Ue"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-13 07:40] Barabara343434 commented on #4317
Güvenlik

[2021-09-13 08:06] junjihashimoto commented on #4281
This command line works.
[code]
https://github.com/cli/cli/issues/595

[2021-09-13 09:57] #4317 closed, assigned to nobody

[2021-09-13 09:59] mislav commented on #4292
@rethab Thanks for explaining! This is a relatively popular feature request. Duplicate of https://github.com/cli/cli/issues/1646

[2021-09-13 09:59] #4292 closed, assigned to nobody

[2021-09-13 10:37] mwarr-dev opened #4319 "idk"

[2021-09-13 10:43] #4319 closed, assigned to nobody

[2021-09-13 10:50] mislav commented on #4295
@SwampRabbit Thanks for the extra information! Your hunch absolutely makes sense; it looks like we do not forward the input/output streams of the parent process to the `git fetch` command, so if the git command is interactive, that gets swallowed. https://github.com/cli/cli/blob/3b20dfc03218d1e6d6036689f9f79a8a6c254344/pkg/cmd/repo/sync/git.go#L66-L73

/cc @samcoe https://github.com/cli/cli/pull/3

[2021-09-13 15:21] mislav commented on #1755
`gh ssh-key` commands were added in https://github.com/cli/cli/pull/2990 and have since shipped 🎉
Support for deploy-keys is being added in https://github.com/cli/cli/pull/4302

[2021-09-13 15:21] #1755 closed, assigned to nobody

[2021-09-13 15:29] samcoe commented on #2396
Closing now that extensions were shipped in the 2.0 release.

[2021-09-13 15:29] #2396 closed, assigned to mislav

[2021-09-13 15:50] woodsmanlucas opened #4321 "Authentication issues on linux with homebrew install"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

![Screenshot from 2021-09-13 08-50-09](https://user-images.githubusercontent.com/11656539/133116059-cea609d6-c3d2-4697-8fff-88feca043e77.png)

Install gh with homebrew on Ubuntu. Login with gh auth login. Attempt to checkout pull request.

### Ex

[2021-09-13 15:59] #4321 closed, assigned to nobody

[2021-09-13 17:14] samcoe commented on #4295
@mislav I got a branch that will fix this issue and forward the IO streams to the fetch operation but I am also wondering if you think it is necessary since GitHub no longer supports username/password authentication for `git` operations?

[2021-09-13 17:23] samcoe opened #4322 "cli.github.com help topic page not rendering properly"
The help topic rendering on `cli.github.com` is broken and results in incomplete rendering as seen [here](https://cli.github.com/manual/gh_help_formatting). It appears the `formatting` page is the only one that is actually broken.

cc https://github.com/cli/cli/issues/3488#issuecomment-917718648

[2021-09-13 17:30] #3839 closed, assigned to nobody

[2021-09-13 23:05] phocheng opened #4323 "apt-get install gh=1.14.0 failed"
### Describe the bug
OS: ubuntu 18.04, can't install gh version 1.14.0

### Steps to reproduce the behavior

apt-get install -y gh=1.14.0
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Version '1.14.0' for 'gh' was not found

### Expected vs actual behavior

Expected: can install version 1.14.0 successfully
Actual: E: Version '1.14.0' for 'gh' was not f

[2021-09-14 00:58] ejoffe commented on #2693
@mislav
I open sourced a tool that integrates into git and manages the stack of GitHub pull requests for you, achieving a stacked diffs Phabricator/Gerrit style workflow on GitHub.
Check it out: https://github.com/ejoffe/spr : feedback appreciated.

[2021-09-14 10:01] mislav commented on #4323
Our package repository doesn't list older versions to install. The latest gh version is 2.0.0, so you can only install that. If you need to fetch older versions, you can manually download them from our Releases page.

[2021-09-14 10:01] #4323 closed, assigned to nobody

[2021-09-14 11:48] mislav commented on #4270
Ah, I see now. This approach is still prone to race conditions and I don't think you should use it, even if it worked.

A release can still be created by another job in the short time window between checking `gh release list` and `gh release create`. Because these are two separate checks in a non-atomic transaction, you cannot hope to make this check in a way that it's safe from race conditions.

[2021-09-14 11:48] #4270 closed, assigned to nobody

[2021-09-14 14:08] #4307 closed, assigned to nobody

[2021-09-14 22:53] Charles19861 opened #4327 "nelson flooring.llc"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-09-14 23:06] #4327 closed, assigned to nobody

[2021-09-15 02:05] nschmeller commented on #1055
Hi, I would love to have this feature! Alas, I found this issue and realized that the feature didn't exist. Would love to know how I can help make this a thing!

[2021-09-15 08:52] Paddy613 commented on #4322
****

[2021-09-15 09:07] kyanny commented on #2271
@tzusman GitHub's REST API (v3) doesn't provide the endpoint to convert PR to draft.
But you can use [convertPullRequestToDraft](https://docs.github.com/en/graphql/reference/mutations#convertpullrequesttodraft) mutation provided by GitHub's GraphQL API (v4).
Here is an example of GraphQL mutation query. https://github.com/kyanny/gh-pr-draft/blob/main/gh-pr-draft#L22-L32

[2021-09-15 10:01] RodrigoHamuy commented on #1842
When using GitHub Projects with Kanban Automation with Reviews, the automation does not work properly and you end up with duplicated tasks: in the form of an Issue and as a PR, and you have to manually maintain one or the other, as the automation does not fully work. More of this is explained in this blog: https://jtway.co/convert-github-issue-to-pull-request-c624834835d8

I am also coming here to

[2021-09-15 14:17] Diaoul commented on #1318
I think it should be configurable to either use the GH API for such operation or the local way. However this means `gh` makes changes to the local repo, which it doesn't currently do.
Not sure what the best way to solve this is but current state of commit signing with squash or rebase is not ideal.

[2021-09-15 14:31] mislav commented on #4295
@samcoe It's a good idea to forward IO streams to any underlying process that touches the network or might trigger git hooks. In this case, the user wasn't being prompted for username/password authentication, but for their SSH passphrase. Furthermore, even if they got prompted for username/password, they could always paste a PAT in place of a password.

[2021-09-15 14:42] L-as commented on #1318
`gh` doesn't have to change the visible state of the local repository, since Git is content-addressed.

[2021-09-15 14:58] tzusman commented on #2271
@kyanny thanks, I'm trying to get this implemented, but when I run the following in GitHub Actions:
[code]
I get an `gh: Resource not accessible by integration` error.  It looks like `${{ secrets.GITHUB_TOKEN }}` doesn't have the permission to read the repo even though it's public?

[2021-09-16 04:30] TarunavBA opened #4329 "gh repo create <repo-name> in git bash problem."
### Describe the bug

When I open `git bash` and type `gh repo create` it does not work. It just asks public or private repo and stops.

### Steps to reproduce the behavior

1. Open `git bash`
2. Type `gh repo create <repo-name>`
3. It asks whether it is a public or private repo, and stops!

### Expected vs actual behavior

Expected :
It should go on with asking the questions on making a new repo.

[2021-09-16 09:24] mislav commented on #4329
Thank you for reporting! It is not clear from the lack of an error message, but this issue is a duplicate of https://github.com/cli/cli/issues/404. The workaround is to download Windows Terminal and configure it to run Git Bash within. I also recommend this approach personally because Windows Terminal is a better terminal experience overall, both for PowerShell and for Git Bash.

[2021-09-16 10:23] mislav commented on #4329
Reopening to track the separate bug of the underlying error not being reported during `gh repo create`

[2021-09-16 11:22] p0 opened #4332 "Allow extensions to use the config system"
### Describe the feature or problem you’d like to solve

While working with the recently introduced ability to create [CLI extensions](https://docs.github.com/en/github-cli/github-cli/creating-github-cli-extensions), I found it useful to use configuration settings for my extension. This works fine, except that `gh config set` prints a warning to stderr when used with an unknown key. That warning i

[2021-09-16 11:58] DanyC97 commented on #3686
great request and thanks @vilmibm for sponsoring (is exactly what i was looking after this morning ;) )

[2021-09-16 17:15] #4295 closed, assigned to samcoe

[2021-09-16 19:25] TristanK27 commented on #2267
For people who haven't tried it, use the age old "log out and log back in" :) Worked for me.

[2021-09-17 01:08] epworth opened #4338 "Young"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-09-17 10:45] #4338 closed, assigned to nobody

[2021-09-17 12:37] #4329 closed, assigned to nobody

[2021-09-17 16:31] olivierlacan opened #4341 "Retrieve open security vulnerabilities"
### Describe the feature or problem you’d like to solve

It would be quite useful for scripting needs to make package security upgrades more efficient to retrieve all open security vulnerabilities, and be able to sort/filter them by severity.

### Proposed solution

Given the following security alerts for a repo:

<img width="1094" alt="image" src="https://user-images.githubusercontent.com/65950/1

[2021-09-17 19:01] heaths commented on #4194
@vilmibm I went a slightly different route that might be interesting, conceptually, to consider:

* Build and publish binaries on tag: https://github.com/heaths/gh-label/blob/main/.github/workflows/release.yml
* https://github.com/heaths/gh-label/blob/main/gh-label - basically what you had, though I only realized now why you appended the tag to the executable name and will be updating mine for sub

[2021-09-17 19:52] vilmibm commented on #4194
thanks for sharing~

[2021-09-18 14:56] Thefy21 opened #4342 "Hey"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-18 17:42] Dustone25 opened #4343 "Code me"
Find me again

[2021-09-18 17:44] Dustone25 opened #4344 "Blockchair"
I need to be able to understand what I am doing want to build myself a blockchair wallet.

[2021-09-19 02:58] #4343 closed, assigned to nobody

[2021-09-19 02:59] #4344 closed, assigned to nobody

[2021-09-19 02:59] #4342 closed

[2021-09-20 01:14] guilhermesd commented on #1797
I had the same problem.
did you try to put one instruction at a time in the terminal?

[2021-09-20 16:57] danburzo opened #4348 "Extend `gh release view` to support release ranges"
### Describe the feature or problem you’d like to solve

Initially posted as an idea in #4345, it would be great if you could view the release notes for a particular repo for more than one release at a time. My use case is reviewing changes in project dependencies before upgrading them.

I am currently using `cut` and `xargs` to combine `gh release list` and `gh release view` to obtain a similar e

[2021-09-20 17:13] danburzo commented on #4348
Alternatively, and possibly more valuable and less error-prone for users, is being able to control the order or releases:

[code]

That would prevent us from allowing either tag to be omitted, due to the ambiguity of `<tag>...` (is it up to the most recent, or down to the first?), but still makes `...` unambiguously possible.

[2021-09-20 20:15] egberts commented on #1720
Millions of new headless CLI-only servers, that were using Github as a repo, got the abrupt halt from automation of its own creation.

I merely count as one.

[2021-09-20 21:05] StarGazerM opened #4349 "gh login with token not working"
### Describe the bug
gh version 2.0.0-42-g02ed5a96

I can't login with the `with-token`, gh give me this  error

error validating token: Get https://api.github.com/: net/http: invalid header field value "token {my token}"

### Steps to reproduce the behavior

1. create a token file
2. gh auth login --with-token < token_file

### Expected vs actual behavior

NOT WORKING!!!!!!!!

### Logs

[code]

[2021-09-20 21:07] egberts opened #4350 "GH_BROWSER does not work on Linux"
### Problem

Setting the following before starting Github (`gh auth login`) CLI-based authentication here.

Because it is a headless server, I set the following:

[code]

A blank screen appears.

`ps` shows no execution of `lynx` CLI browser.

### Proposed solution

Add Linux support

### Additional context

None.

[2021-09-20 21:12] alexpiet opened #4351 "git asks for password despite authentication with gh"
### Describe the bug

Any git command that needs credentials asks for my password, despite being logged in with `gh auth login`. If I re-authenticate, `git` wont ask for my password for a few minutes, but will eventually revert to asking for my password again.

gh version 2.0.0
CentOS Linux release 7.5.1804 (Core)
git version 2.30.1

### Steps to reproduce the behavior

`git pull origin master`

r

[2021-09-20 22:10] tateshelby28 commented on #3381
Help

[2021-09-20 22:17] alexpiet commented on #4351
In case it matters, when I do re-authorize with `gh auth login` it prompts me that I'm already logged into github.com. I confirm I do want to re-authenticate. I state my preferred protocol is https. I authenticate Git with github credentials. Then I login with a web browser

[2021-09-20 23:09] egberts commented on #3209
Both work really well and probably should be done automatically … somehow.  For now, I’ve got a ~/bin/git-github-repo-create.sh that does the above for me.

[2021-09-21 12:43] mislav commented on #4349
Very weird! Thanks for reporting. Can you tell us which Go version you used to compile gh, and which OS you're running on?

[2021-09-21 12:51] mislav commented on #4350
Thank you for reporting! It turns out that GH_BROWSER (nor the `browser` config setting) isn't respected in `gh auth login` flow https://github.com/cli/cli/blob/2c43436c7ab7dd0bfca11fee1b2d00d4c6c58a11/internal/authflow/flow.go#L96-L97

This is definitely unintended and I've classified it as such. In the meantime you can set BROWSER instead of GH_BROWSER.

Note that for logging into github.com, a

[2021-09-21 12:56] mislav commented on #4351
If you said "Yes" to that prompt, then I think git authentication should have been set up for you. But from what you're telling, it sounds like that's not the case. Can you share with us the output of:
[code]
Also please check that you don't have an old password for GitHub stored in your `~/.netrc`.

[2021-09-21 14:04] mislav commented on #4349
@StarGazerM Oh, another thought I just had: what is the value stored inside token_file? Are you sure that it's just a token string, followed optionally by a newline character (`\n`)? If the file contains multiple lines or other non-printable characters that might have slipped in, that might be the cause of the problem. Tip: I like to use the ["bat" utility](https://github.com/sharkdp/bat) to inspe

[2021-09-21 16:01] chriskoelle commented on #4056
I would love to have this ability. I often pull down branches to test code changes locally before making PR suggestions; and then, inevitably, miss a small change somewhere when adding my suggestions in GH; which then requires additional rounds of review/changes.

It would also be nice if the `gh pr suggest` command had some way of applying PR suggestions locally. The "commit suggestion" and batch

[2021-09-21 16:09] bpf93 commented on #1797
I was getting the same error.
After I entered `sudo apt install gh`, I got:

[code]

Used `sudo apt-get remove --purge gitsome` to delete the package (gitsome) that looked to be the source of the conflict.
After that, entered `sudo apt-get install gh` and it installed.

[2021-09-21 16:47] StarGazerM commented on #4349
I use `echo {token} > token_file` to create  token file

my go version is:
[code]

[2021-09-21 16:59] leighmcculloch opened #4353 "Go install fails for v1 and v2"
### Describe the bug

Installing using go install fails with error.

[code]

[code]

[code]

[code]

### Steps to reproduce the behavior

See above.

### Expected vs actual behavior

Expected `gh` to be installed. Actual behavior above.

### Logs

See above.

[2021-09-21 17:09] mislav commented on #4353
Thanks for reporting and listing all the variants of calls you made and error messages you've received.

We currently do not support `go get` nor `go install` as means of installation. https://github.com/cli/cli/issues/1389
The only official way is to use the binaries that we publish. For various OSs there are also package managers, e.g. Homebrew.

[2021-09-21 17:09] #4353 closed, assigned to nobody

[2021-09-21 17:16] mislav commented on #4349
@StarGazerM Could you:
1. Try compiling with a newer Go version?
2. Ensure that the contents of `token_file` only contain the token string (e.g. `ghp_****`) and no other characters?

If you have the token on your clipboard, then it's better to avoid writing it to a file and instead pasting it during the interactive `gh auth login` flow

[2021-09-21 17:23] StarGazerM commented on #4349
my key file contain `ghp_`, I want to login automatically so I have to use non-interactive way

[2021-09-21 18:14] SickZauer opened #4354 "helium-wallet"

[2021-09-21 18:18] #4354 closed

[2021-09-21 20:28] alexpiet commented on #4351
After running

And then doing a git pull, things seem to be working as expected.

[2021-09-22 01:21] spenserblack opened #4357 "Should `gh release create` push the local tag if it exists?"
### Describe the feature or problem you’d like to solve

When using `gh release create` with a tag that exists in the local repository but not in `origin`, it creates a new tag instead of pushing the local tag. This seemed like confusing behavior to me.

### Proposed solution

If the tag name passed to `gh release create` already exists in the local repo, that tag should be pushed instead of a new

[2021-09-22 06:00] BGAmgmt89 opened #4358 "repo clone cli/cli"
)﻿# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-09-22 09:46] mislav commented on #4351
Sure, that looks okay, but if you've chosen "yes" to `authenticate Git with github credentials`, like you've said, then gh should have configured the credential store for you. I was confused why that hasn't happened, that's why I've asked to list `git config -l` for any credential settings.

Anyway, I'm closing this as duplicate of https://github.com/cli/cli/issues/2944 and https://github.com/cli/

[2021-09-22 09:46] #4351 closed, assigned to nobody

[2021-09-22 10:04] #4358 closed, assigned to nobody

[2021-09-22 10:36] mislav commented on #4349
Okay, I get it that you want to login in a non-interactive way. But I think something went wrong in the process of pasting your token into a file and then reading that file into `gh auth login --with-token`. And without your help, we can't know what exactly went wrong.

First I've asked you to try compiling gh with a newer Go version. (I would recommend Go 1.16 at least.) I'm not sure if that will

[2021-09-22 10:36] #4349 closed, assigned to nobody

[2021-09-22 15:18] egberts commented on #4350
This environment here is a strict headless lab. also strictly  JavaScript-free because … security.

Which means I have to step outside the lab to find a GUI-based browser.

:-(

[2021-09-22 16:37] mislav commented on #4350
If it's worth anything: I have worked primarily on the GitHub frontend for 6 years. We have very aggressive CSP in place that prevents loading scripts from literally anywhere apart from github.com and other GitHub-owned domains. We also have state-of-the art XSS prevention across the site due to having one of the best security teams out there. Furthermore, having JS during login to GitHub.com enab

[2021-09-23 03:19] anandijain opened #4360 "gh issue list --closed"
flag to include closed issues would be nice

[2021-09-23 09:32] mislav commented on #4360
You can view `gh issue list --help` and see that you can do:
[code]

[2021-09-23 09:32] #4360 closed, assigned to nobody

[2021-09-23 17:00] pr0PM commented on #2788
This just happened for me today, found this issue, reloaded the page (cli.github.com as author mentioned above) and it's fixed!

[2021-09-23 19:14] indirectlylit opened #4361 "Can no longer 'continue in browser' when creating a PR after upgrading to 2.0.0"
### Describe the bug

MacOS installed using `brew`, gh version 2.0.0 (2021-08-23)

Prior to upgrading I could run `gh pr create` while on a new local branch. `gh` would allow me to type a title in the command line and then continue everything else in the browser.

It also appears that I can't easily downgrade because `brew` only tracks the latest releases.

### Steps to reproduce the behavior

* c

[2021-09-23 20:56] brian-rdd opened #4362 "Foo"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-09-23 21:17] #4362 closed, assigned to nobody

[2021-09-24 09:08] mislav commented on #4361
Thanks for reporting. When asked to input the PR body, did you enter a lot of text by any chance? After a certain body size, we cannot offer "Continue in browser" anymore due to max URL size, which is a browser limitation, so we hide that option.

We haven't changed this logic in 2.0, so I'm suspecting that the option might be gone due to body size. BTW, we do support PR templates in `gh pr create

[2021-09-24 09:56] ghost commented on #2184
@nnichols

[2021-09-24 12:04] mislav commented on #3037
@guizmaii Sorry for the late reply. You should definitely be able to see Draft releases being listed with `gh release list` in Actions. But, I haven't verified this yet. Are you using `secrets.GITHUB_TOKEN` to authenticate?

[2021-09-24 12:05] guizmaii commented on #3037
Yes, I am

[2021-09-24 12:51] #3704 closed, assigned to nobody

[2021-09-24 12:51] #4274 closed, assigned to nobody

[2021-09-24 14:49] indirectlylit commented on #4361
No, at that stage I pressed 'enter' to skip the body with the intent of doing it in the browser. Here's a recording:

![2021-09-24 10 43 43](https://user-images.githubusercontent.com/2367265/134694552-f6f11816-03b6-4dfe-9d4b-19669a2ac8a6.gif)

Cool, thanks for the heads-up

[2021-09-24 21:09] james-perfectserve commented on #3528
![image](https://user-images.githubusercontent.com/12172309/134739942-4be86775-3378-45ab-96ba-9a6c0fff9be7.png)

[2021-09-24 21:31] james-perfectserve commented on #3528
You had a typo, you were missing a $ on repositoryId:ID!
I'm not familiar with graphql so it took me a hot second to figure out
Here is a tested working version of your snippet (I ran it inside a .sh bash file)
[code]

[2021-09-24 21:54] signalwerk opened #4365 "Magic type conversion for API POST not clearly documented"
In `gh api --help` I can read

  filename to read the value from. Pass "-" to read from standard input.

Therefore, I would assume something like `-f key="@./ci/.ssh/id_rsa.pub"` would read my key. But either way I don't understand the documentation or it's a bug.

### ⚠️ NOT WORKING
[code]

### Working but not using the magic type conversion
[code]

[2021-09-24 22:02] jjb commented on #2300
For those having trouble getting the right `git config ...` invocation: you can just open `.git/config` in a text editor, find the `[remote "USERNAME"]` section (where USERNAME is your github username), and remove `gh-resolved = base`

[2021-09-24 23:26] henryiii commented on #2300
[code]

Will get you there, too.

[2021-09-25 23:53] Claudio060320 opened #4367 "We'd love to hear what extensions you create! Let us know in the comments below! 🎉 🚀"
We'd love to hear what extensions you create! Let us know in the comments below! 🎉 🚀

### New features

#### Support for command extensions

GitHub CLI extensions are additional `gh` commands that you can install from other repositories. For example:

[code]

For more information, see [`gh help extension`](https://cli.github.com/manual/gh_extension), and to see what public extensions others have b

[2021-09-26 07:25] notomo opened #4368 "Provide way to use input object as variable in `api graphql` command."
### Describe the feature or problem you’d like to solve

In current `gh api graphql` command, we can't use input object as variable.
ref. input object: https://docs.github.com/en/graphql/reference/input-objects

<details>
<summary>Example</summary>

It is annoying to switch `filterBy={}` and `filterBy={someField: value, ...}` without using input object as variable.
(mainly script use)

[code]

</d

[2021-09-26 15:22] #4367 closed

[2021-09-26 20:19] bruxisma opened #4369 "Add ability to strip git trailers when creating a pull request with --fill"
### Describe the feature or problem you’d like to solve

Currently, when using `gh pr create --fill`, all content from any trailers generated or added by git end up in the result PR body. This results in a user's text being placed verbatim into the PR text, which can result in extraneous and unnecessary text being pasted, such as `Signed-off-by` fields and the like.

### Proposed solution

Add a f

[2021-09-26 22:47] SethFalco commented on #4056
I'd really like to see this as well. My use case is for a clean and easy way to automatically suggest changes from a GitHub Action.

While I know this is already possible, doing so though GitHub CLI would make the setup significant simpler. Then one can use [sed](https://www.gnu.org/software/sed/manual/sed.html) to make the changes and `gh pr suggest` to drop a review.

[2021-09-27 00:12] Bareypatch commented on #4264
Merged

[2021-09-27 00:13] Bareypatch opened #4370 "Bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-27 01:54] kyanny commented on #2271
@tzusman

Yes. According to [Automatic token authentication](https://docs.github.com/en/actions/security-guides/automatic-token-authentication),

Changing pull request status requires a write permission to the target repository, regardless of its visibility. I guess that the error you've seen indicates the lack of write permission, not read.

You need to use a personal access token. For more detai

[2021-09-27 05:45] #4370 closed

[2021-09-27 09:05] mislav commented on #4365
The shorthand flag for `--field` is `-F`:
[code]

[2021-09-27 09:31] mislav commented on #4368
This is planned, although most likely through a different syntax than what you are proposing https://github.com/cli/cli/issues/1484

[2021-09-27 09:31] #4368 closed, assigned to nobody

[2021-09-27 11:34] shiouen commented on #2167
@mislav I cross paths with this issue again. Are there any plans to implement this? Would be great to download an archive in similar fashion as assets attached to a release.

[2021-09-27 12:16] mislav commented on #2167
@shiouen No plans from our side yet. This is marked `help wanted`; anyone is free to contribute!

[2021-09-27 12:46] eurydice76 opened #4371 "gh release upload returns error 404 with Bad content length"
I use gh on windows in the context of github actions in order to create a release and upload assets tto that release.
The release creation stage runs successfully but when using the gh release upload commands I get a HTTP 404 error with a link to the failing asset. When clicking on that link, I end up to the following page:

[code]
Here is the part of my workflow which contains the release upload

[2021-09-27 14:20] mislav commented on #4371
Thanks for reporting! I haven't seen this problem before nor can I reproduce. Could you tell us how you installed gh on Windows? If you compiled it yourself, which version of Go did you build gh with?

*Correction:* ah sorry, I see now that you're running this in GitHub Actions, which probably means you are using pre-installed gh in Actions runners. I will try to reproduce this there.

[2021-09-27 14:36] eurydice76 commented on #4371
Thanks for the quick feedback

I preinstalled gh version 2.0.0 using chocolatey

[2021-09-27 14:37] eurydice76 commented on #4371
I use a self hosted windows machine for testing purpose. I would like to mention that when running the aformentioned script as a standalone script outside the gihub actions process, it works. Hence, the script by itself does not seem to be the problem.

[2021-09-27 16:14] eurydice76 commented on #4371
I finally found the problem: this was due to a wrong authentication step. On powershell the command:
`echo $MY_TOKEN  | git auth login` leads to a user equal to an empty string which obviously corrupts the logging process.

To make it work, I had to change to the following `cmd /c "echo $MY_TOKEN  | git auth login"`

This triggers a successful logging process

[2021-09-27 16:25] #2752 closed, assigned to nobody

[2021-09-27 17:28] lglista opened #4372 "`gh issue links` outputs active issues and the number of references in other issues or comments"
### Describe the feature or problem you’d like to solve

An addition to `gh issue` that adds a command `links`.
- With no further option, this command will list out all active issues and the amount of times they are linked by another issue (active or non-active) directly (an immediate link to the issue an issue or comment) or indirectly (a link to an issue that directly links to the issue in quest

[2021-09-27 18:28] mislav commented on #4371
Huh interesting! So the problem was that you were not logged in, but the error message from `gh release upload` was definitely `Bad content length`?

[2021-09-27 18:40] eurydice76 commented on #4371
Yeap, this was the error I got from git release upload command

[2021-09-27 23:18] mj559940 opened #4374 "zahranajafioor65@gmail.com"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-27 23:39] #4374 closed

[2021-09-27 23:52] yogurtearl commented on #3815
@mislav I am using `gh` 2.0 and many commands seem to be targeting github.com when I am only logged into internal instances of GHE server. (2 different internal instances)

Instead of default to one of the internal instances, it tries to contact github.com, but fails and tells me I need to log into github.com.

This happens for many `gh` commands, e.g. `repo`, `secrets`,   etc.

Using GH_HOST seem

[2021-09-28 05:32] stas00 commented on #3711
I have just had the exact same issue. I did check that my gh was 2.0 so there should have been no reason for it to still happen.

I tried to figure out the "Allow edits and access to secrets by maintainers " situation by asking the contributor if they had that setting off - took some time to even find out where that check box was located.

Bottom line - could `gh` detect when a PR has "Allow edits

[2021-09-28 09:07] mislav commented on #3815
@yogurtearl Thanks for the feedback. Back then we've added a special case that when you're logged into a single instance, that instance should be the default instead of github.com https://github.com/cli/cli/blob/2c43436c7ab7dd0bfca11fee1b2d00d4c6c58a11/internal/config/from_file.go#L246-L251

That doesn't help you, since you're logged into 2 instances, so the default is still github.com. But I agre

[2021-09-28 09:07] mislav commented on #3711
@stas00 Agreed that this should definitely be announced. We'll try to work on this!

[2021-09-28 15:45] yogurtearl commented on #3815
My 2 cents:  https://github.com/cli/cli/issues/4378

[2021-09-28 15:46] stas00 commented on #3711
Amazing! Thank you so much, @mislav!

[2021-09-28 15:48] yogurtearl opened #4378 "Allow setting a default host when you are auth'd to more than one host."
[Was asked to create a new issue for this.](https://github.com/cli/cli/issues/3815#issuecomment-929001758)

if you are auth'd to more than one host, there should never be an implicit default, that would be/is a security issue.
Host choice must be explicit.

you could have a command that sets a default:
e.g.

gh host default set github.mycompany.com # sets default
gh host default # prints default
g

[2021-09-28 20:41] signalwerk commented on #4365
@mislav

Thank you for your response. You're right, I was using the --raw-field (-f) flag. But I still think the doc is wrong, or the cli is buggy:

`gh api --help` says:

[code]

With `-F` it worked like a charm (thank you!), but not with `-f`.

[2021-09-28 21:50] dsaxton opened #4381 "`gh browse <file>` doesn't respect working directory"
### Describe the feature or problem you’d like to solve

It would be convenient if `gh browse <file>` respected the current working directory and adjusted the URL string accordingly when opening up the browser, but it seems the path is always relative to the repository root. This can be tedious when there's a file in your current working directory which is nonetheless nested a couple levels relati

[2021-09-29 03:19] Nanthiniswary opened #4382 "Github"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-29 03:19] #4382 closed, assigned to nobody

[2021-09-29 03:37] shaneharter commented on #3037
I'm also having this same problem

[2021-09-29 03:40] guizmaii commented on #3037
@mislav can we maybe reopen this issue?

[2021-09-29 09:29] mislav commented on #4381
Agreed! Duplicate of https://github.com/cli/cli/issues/3952

Thank you for reporting!

[2021-09-29 09:29] #4381 closed, assigned to nobody

[2021-09-29 10:38] mislav commented on #3037
Reopening! From my testing, it looks like the GraphQL endpoint (which we use at the moment) doesn't include drafts when listing releases, while the REST does include drafts. Perhaps we should move to the REST endpoint.

~I am 90% sure that the GraphQL endpoint also listed drafts in the past when authenticated with GITHUB_TOKEN. Perhaps this regressed on the platform side at some point?~ I remember

[2021-09-29 10:40] mislav commented on #4365
@signalwerk I'm not sure how you mean that the doc is wrong. The `-f/--raw-field` flag doesn't support any special syntax and doesn't support `@<file>` either. So you cannot use `-f` to read from a file.

[2021-09-29 10:53] mislav commented on #4378
Thank you for opening this and my apologies to close this right away; I've just found that there is already an open issue about setting a default host: https://github.com/cli/cli/issues/4249

[2021-09-29 10:53] #4378 closed, assigned to nobody

[2021-09-29 10:54] mislav commented on #4249
Copying over excellent feedback from @yogurtearl

[2021-09-29 12:16] signalwerk commented on #4365
@mislav hmm... but the help (`gh api --help`) tells me exactly that. no? here the text:

[code]

[2021-09-29 18:23] programmer04 commented on #4054
Hey @mjarkk I think that this data is already available in JSON output, please check

[code]

and you'll get the PR number and all checks for it. You can choose other fields to be included in JSON too. Or do you mean something different?

[2021-09-29 18:50] vilmibm commented on #4194
I'm going to be OOO until the week of the 10/11 so this work will either pause or be picked up by @samcoe

[2021-09-29 20:09] rmmh opened #4386 "allow user filtering on display names in addition to logins"
### Describe the feature or problem you’d like to solve
When using `gh pr create` and adding assignees, there's a filter interface to let you select a username, but no way to see real names. This is tricky when collaborating with people where you know their name, but not their github login.

### Proposed solution
The list should include names as well as usernames for filtering, so you could type "

[2021-09-29 21:19] ariellev opened #4387 "Add or update team repository permissions results in "Read" instead of "Write""
### Describe the bug

According to the [Docs](https://docs.github.com/en/rest/reference/teams#add-or-update-team-repository-permissions), The following API call should set the team access rights to "Write", however it results in "Read".

[code]

[code]

[2021-09-29 22:01] vilmibm commented on #1398
@pxrth9 and @meiji163 will be taking this on

[2021-09-29 22:05] shrink opened #4388 "Add `gh secret encrypt` command to encrypt a secret locally without sending to GitHub"
### Describe the feature or problem you’d like to solve

[code]

### Proposed solution

Separate the encryption step and make it available as a separate command so that users can easily generate an encrypted secret for their repository/organisation in infrastructure automation. An alternative might be a simple flag on `set` (e.g: `--preview` or `--nowrite` or `--local`) but I think that would be s

[2021-09-29 22:06] vilmibm commented on #1398
Also as a bonus, consider also working this issue https://github.com/cli/cli/issues/136

[2021-09-30 01:53] stas00 commented on #3711
And one minor addition: when `gh pr checkout XXX` failed to be set up for push, after the PR's contributor changed the setting to allow maintainers edits, the branch was still non-pushable, even after `gh pr checkout XXX -f`, so perhaps there needs to be a way to reset the config?

I ended up making a new clone and then  `gh pr checkout XXX` let me `git push`

It could have been because the contri

[2021-09-30 04:26] DJSlydeezy opened #4389 "Bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-30 04:26] jgold-stripe commented on #4249
I agree very much with

Are you saying that that check is already implemented in the current `gh`? If so I may not be hitting it as expected.

[2021-09-30 05:10] DJSlydeezy commented on #4389
https://github.com/cli/cli/issues/4389#issue-1011689899

[2021-09-30 06:26] DJSlydeezy opened #4390 "Bug"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-09-30 08:23] Navya2007-git opened #4391 "idkwhy"
orroij﻿### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Re

[2021-09-30 08:37] mislav commented on #4388
Hi, why would you need to print an encrypted secret without storing the value to repository or org secrets on GitHub?

[2021-09-30 09:13] #4389 closed, assigned to nobody

[2021-09-30 09:13] #4390 closed, assigned to nobody

[2021-09-30 09:13] #4391 closed, assigned to nobody

[2021-09-30 10:29] shrink commented on #4388
Hi @mislav! The use-case I have in mind is specifically for infrastructure-as-code using Terraform. I am using infrastructure code to configure my Organization Secrets. Any value I provide to Terraform will be persisted in the Terraform State, and so if I pass in an unencrypted secret, the unencrypted secret will forever be a part of the infrastructure state (which is often uploaded to something l

[2021-09-30 11:44] mjarkk commented on #4054
Thanks that works

[2021-09-30 13:04] Nexcius commented on #2967
This is a great suggestion! I've recently moved away from using a bash script to maintain .plan files which sync with git into using GitHub issues instead. The primary use case is creating issues, todos, etc when working. Having a way to store the created issues locally in the case where I'm working offline would be fantastic! It would also solve having access to reading these while working offlin

[2021-09-30 20:17] kidomangp opened #4397 "@mislav this definitely improves performance regardless of how binary extensions are handled, so may be orthagonal to #4194. Most users will likely never need a complete repo, so fetching and resetting to only the latest commit will be beneficial."
@mislav this definitely improves performance regardless of how binary extensions are handled, so may be orthagonal to #4194. Most users will likely never need a complete repo, so fetching and resetting to only the latest commit will be beneficial.

I tested this out with my heaths/gh-label repo in various states including shallow and complete repos at with different local HEADs. The only thing tha

[2021-09-30 20:18] zackkrida commented on #3886
I'm experiencing this as well—even though issue templates support _default labels_, choosing a template shouldn't preclude users from setting new labels.

[2021-09-30 20:32] m4ver1k commented on #4258
@mislav @inktomi This sounds like a good idea, may I pick this up ?
We need to add a new flag to the `release delete` command that will take the asset name and delete it from the draft release.

[2021-09-30 20:45] inktomi commented on #4258
I'd be more than happy if you wanted to pick it up!
On Sep 30, 2021, 1:33 PM -0700, Adarsh K Kumar ***@***.***>, wrote:

[2021-09-30 20:50] m4ver1k commented on #4258
thank you,
Quickly looked at the APIs, I see only way to delete asset is by passing the `assetId` from [here](https://docs.github.com/en/rest/reference/repos#delete-a-release-asset). So was thinking will call first [list-release-assets](https://docs.github.com/en/rest/reference/repos#list-release-assets) and then validate if the asset exist looping over the list of assets from response and get the

[2021-09-30 20:53] m4ver1k commented on #4258
ignore this pls, from code I see `FetchRelease` already get this info. So all this can be done locally without additional calls.

[2021-09-30 20:57] Ellitvin115 opened #4398 "Depending on how you install gh, completions may or may not be set up out-of-the-box. For example, Homebrew will likely set up completions, but our Debian packages will not (for now). Please refer to `gh help completion` for instructions for manual setup."
Depending on how you install gh, completions may or may not be set up out-of-the-box. For example, Homebrew will likely set up completions, but our Debian packages will not (for now). Please refer to `gh help completion` for instructions for manual setup.

_Originally posted by @mislav in https://github.com/cli/cli/discussions/4359#discussioncomment-1368398_

[2021-09-30 20:57] BLasan commented on #4387
@mislav @ariellev  Can I work on this?

[2021-09-30 21:00] Ellitvin115 opened #4399 "### Code of Conduct"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's Code of Conduct.

### What article on docs.github.com is affected?

https://docs.github.com/en/graphql/guides/forming-calls-with-graphql#authenticating-with-graphql

### What part(s) of the article would you like to see updated?

#authenticating-with-graphql

The section that talks about authentication really doesn't hel

[2021-09-30 21:41] #4399 closed

[2021-09-30 21:42] #4398 closed

[2021-09-30 21:43] #4397 closed, assigned to nobody

[2021-09-30 22:16] jsjoeio commented on #2942
I'm experiencing the same behavior. I wish that pushing would push to the fork's branch, not create a new branch with the same name under our repo.

<summary>
<details>

[code]

</details>
</summary>

[2021-10-01 07:35] ghost opened #4402 "Hoe"
There are some problems when `gh` runs as a snap, see https://github.com/cli/cli/issues?q=is%3Aissue+snap

I would suggest installing `gh` via any of the official sources: https://github.com/cli/cli/blob/trunk/docs/install_linux.md#official-sources

_Originally posted by @cristiand391 in https://github.com/cli/cli/discussions/3300#discussioncomment-529926_

[2021-10-01 07:42] #4402 closed, assigned to nobody

[2021-10-01 07:53] Eaglehawk48 commented on #2267
There is still an issue where if I package the MSI to run in SCCM/InTune etc, and it installs under the SYSTEM account, the C:\Program Files (x86)\GitHub CLI\ doesn't get added to the PATH system environment variable. Could you consider adding this to the next MSI?

[2021-10-01 07:57] ghost commented on #2267
Lol

[2021-10-01 10:19] Adiltonzs opened #4404 "gh pr checkout 1"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-10-01 11:10] #4404 closed, assigned to nobody

[2021-10-01 12:00] gibfahn commented on #3796
As part of this, it would be great for the docs for this feature to note that gh will act as its own credential helper on systems where there isn't one by default (as @mislav explained in https://github.com/cli/cli/pull/2449#issuecomment-732382105).

[2021-10-01 15:27] mislav commented on #3711
@stas00 That's a good point. We don't detect the checkbox value being changed in the meantime.

I think it might be simpler to add a `pr push` command and have users use that instead of relying on core git functionality which doesn't necessarily have knowledge of GitHub Pull Requests #2189

[2021-10-01 15:29] mislav commented on #4365
This text:
[code]
applies _only_ to the `-F/--field` flag. It does **not** apply to `-f/--raw-field` flag.

[2021-10-01 15:38] mislav commented on #4388
Interesting! Thank you for explaining.

It should definitely be easy for us to introduce an extra flag or command that causes the encrypted value to be printed instead of stored. Something like `gh secret set -n/--no-store`? I wanted to suggest that this doesn't warrant a separate command, but now that I think about it, a separate command makes the most sense 🤔  Anyway, contributions welcome!

[2021-10-01 16:47] mislav commented on #4387
@ariellev If you are passing a payload via standard input, you must use the `--input` flag:
[code]
But in this case, you don't have to construct JSON manually:
[code]

[2021-10-01 16:47] #4387 closed, assigned to nobody

[2021-10-01 17:00] stas00 commented on #3711
That's possible too

But what I'm proposing is slightly different.

I was expecting `-f` would do a full reset and it didn't.

I know that because I made a new clone and doing `gh pr checkout XXX` there made it possible to push (that's after contributor's change). But doing  `gh pr checkout XXX -f` in the original clone still refused to push. I guess I could have diff'ed `.git` and checked what th

[2021-10-01 17:18] mislav commented on #3711
I see! Maybe `-f` should delete an existing branch completely and recreate it? Please open a new issue for this 👍

[2021-10-01 17:25] stas00 opened #4411 "gh pr checkout XXX -f to do a full reset"
### Describe the feature or problem you’d like to solve

Splitting off from https://github.com/cli/cli/issues/3711#issuecomment-930684875

It appears that `gh pr checkout XXX -f` doesn't do a full reset. So for example if the original checkout fails to setup up the repo for push correctly, because the contributor had  "Allow edits and access to secrets by maintainers" disabled, and after they enab

[2021-10-02 01:23] sagikazarmark opened #4413 "api: GraphQL cannot page through multiple levels of pages"
### Describe the bug

When trying to run a complex query with multiple levels of pages, `gh` (2.0.0) doesn't download all pages.

### Steps to reproduce the behavior

1. Run the following command:

[code]

Note: you can replace `banzaicloud` with any other organization, but it has repos with enough stars to demonstrate the problem.

2. Notice `hasNextPage: true` showing up in the result.

### Expe

[2021-10-02 08:33] BLasan commented on #641
@mislav Is there anything left?

[2021-10-02 09:51] carlqt commented on #4386
Hi,

If this isn't a high priority or critical, mind if I try and take a stab at this enhancement? I'm a bit new at the language so I might be a bit slow in working on it.

[2021-10-02 11:21] ghost opened #4415 "gh api /user/emails 404 error"
### Describe the bug

When running `gh api /user/emails` I receive an HTTP 404 error despite being logged in (checked with `gh auth status`) If I first create a personal token on github.com and then run
`gh api user/emails -H "Authorization: token <myusertoken>"` I get the information I need.

### Steps to reproduce the behavior

1. run `gh api /user/emails` and get HTTP 404 error.

### Expected v

[2021-10-02 13:07] m4ver1k commented on #4258
@mislav can you please review the above PR ?
Have added a separate sub command under release `delete-asset`

`gh release delete-asset <TAG> <ASSET_NAME>`

[2021-10-02 13:40] m4ver1k commented on #2720
@mislav I would like to give this a try,
what are your thoughts on this being a flag on `gh pr create --patch` or does it warrant a sub command on its own, more like
`gh pr patch`

[2021-10-02 14:38] ghost commented on #4415
I've managed to fix it somehow (i.e. not a bug after all). Re-running `gh auth login -s 'user:email' -w` seemed to sort it out...

[2021-10-02 14:38] #4415 closed, assigned to nobody

[2021-10-03 00:07] carlqt commented on #4386
I've noticed that there were a limited amount of struct methods. The pattern I see is defining the package function and using the struct instance as an argument. Let me know if we want to keep the consistency and I can change my implementation.

[2021-10-03 00:21] sguzmanm commented on #4388
Hi I see you need some help with this, is it OK if I give it a try? I'm trying to get myself into open source

[2021-10-03 11:10] mbeiranvand opened #4421 "enjoy"
[microsoft](https://www.microsoft.com) #3045
#3726 #3583
#3725

[2021-10-03 14:48] LitoMore opened #4422 "Clickable terminal links"
### Describe the feature or problem you’d like to solve

We could make some results from `issue list` and `pr list` clickable. Some terminal emulators now support [hyperlinks](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda).

### Proposed solution

#### Example

**`issue list`**

|ID|Title|Labels|Time ago|
|:--|:--|:--|:--|
| [#68](#) | Upgrade `cli-boxes` dependency | [enhance

[2021-10-03 14:53] LitoMore commented on #4422
Sorry I just realize that I created a duplicated issue of #601. I hope the information I provided is helpful to you.

[2021-10-03 16:03] sguzmanm commented on #3987
Hi I'd give this a try for hacktoberfest, hope to have a PR for this soon. Is that ok?

[2021-10-03 17:34] signalwerk commented on #4365
@mislav I still don't understand why I should know what you say by the documentation. I completely agree with you about your explanation but I don't see it represent in the help-text. In the help it's actually exactly explained in the other way around. but since we exchanged now multiple times and you don't see my point I guess its my lack of understanding or english skill. thank you for your pati

[2021-10-03 17:38] Milo123459 opened #4424 "Dependabot command"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

If you want dependabot to run a check of dependencies, you have to go to the website. Super unneeded!

### Proposed solution

How will it benefit CLI and its users?

A command:
`gh dependabot`/
`gh dependabot check`// checks for updates
`gh dependabot merge`// merges depende

[2021-10-03 22:47] Sarahletty commented on #4388
sarahletty11@gmail.com

[2021-10-03 22:49] Sarahletty commented on #4388
sarahletty11@gmail.com add my on hangout

[2021-10-04 02:02] descruggs opened #4425 "Magisk"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2021-10-04 07:08] Pandatabe223 opened #4426 "We'd love to hear what extensions you create! Let us know in the comments below! 🎉 🚀"
We'd love to hear what extensions you create! Let us know in the comments below! 🎉 🚀

### New features

#### Support for command extensions

GitHub CLI extensions are additional `gh` commands that you can install from other repositories. For example:

[code]

For more information, see [`gh help extension`](https://cli.github.com/manual/gh_extension), and to see what public extensions others have b

[2021-10-04 13:53] #4426 closed, assigned to nobody

[2021-10-04 13:53] #4425 closed, assigned to nobody

[2021-10-04 14:15] Michael19841984 opened #4428 "Grayy"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-10-04 15:02] #4428 closed, assigned to nobody

[2021-10-04 15:03] #4421 closed

[2021-10-04 16:41] KexyBiscuit opened #4430 "Failed to build gh"
### Describe the bug

gh 2.0.0 tarball failed to build using go 1.17.

### Steps to reproduce the behavior

Download and uncompress https://github.com/cli/cli/archive/refs/tags/v2.0.0.tar.gz, then run `make install`.

### Expected vs actual behavior

It builds itself.

### Logs

[code]

[2021-10-04 16:44] mislav commented on #4365
@signalwerk Apologies if our documentation is confusing. I thought that it was clear, but evidently I was mistaken. I'm going to reopen to track potentially improving the documentation around this! Thank you for your feeback.

How would you prefer to see this documented? Feel free to propose alternate wording in this thread and we can help making it happen. 👍

[2021-10-04 16:47] mislav commented on #4430
Thank you for reporting! Could you tell us more about the operating system to help us reproduce this?

[2021-10-04 16:58] KexyBiscuit commented on #4430
@mislav [AOSC OS](https://aosc.io/), container variant and up to date.

[2021-10-04 18:42] pbx opened #4433 "Add "compare" command"
### Describe the feature or problem you’d like to solve

It would be handy to be able to generate a link to the web interface's diff view, without creating a PR.

### Proposed solution

Usage example: `gh compare origin/development --web`

[2021-10-04 21:57] signalwerk commented on #4365
@mislav thank you for your understanding. Here my suggestion; https://github.com/cli/cli/pull/4434

[2021-10-05 07:05] aparcar commented on #2720
@mislav your proposed alias doesn't work, sorry for the late response:

[code]

@m4ver1k I'd prefer `gh pr patch 123`

[2021-10-05 10:54] mislav commented on #4430
I'm not familiar with building Go software on AOSC nor with this error. You can try setting `CGO_ENABLED=0` during the build process to see if that changes anything. If this issue persists, I'll leave this open in case someone else from our community knows of a workaround or is willing to investigate into this, but I don't think our team can help at the moment with this.

[2021-10-05 11:43] Dgame commented on #2342
Is there any news on this? I need this as well. Is there a workaround? I could not find out what `--web` means.

[2021-10-05 11:50] mislav commented on #4422
Thank you for the detailed feature request! I'm going to close it as duplicate. Even though we've experimented with allowing opt-in hyperlinks, we found that a lot of terminal-related tooling (e.g. terminal multiplexers, pagers, etc.) don't recognize nor support them, so it's more likely that we won't ship hyperlinks for the time being.

[2021-10-05 11:50] #4422 closed, assigned to nobody

[2021-10-05 11:53] mislav commented on #4413
Thanks for reporting! This is expected, because the `--paginate` flag only supports a single paginated set. If we were to allow paginating multiple sets within a single query, the query would need to accept a separate `$endCursor` input for each set. This is possible in theory but I'm not sure how would we construct a user-friendly API around this? Let us know if you have any ideas.

[2021-10-05 13:22] mislav commented on #2720
To avoid adding a new command to gh, how about adding an output flag to `gh pr diff`, e.g. `gh pr diff --patch` to opt-into patch mode?

I still find it working on my end; is it possible that you've entered the wrong PR number?

[2021-10-05 14:08] BastianZim opened #4436 "`gh auth` depreciated?"
Hi,

this isn't really an enhancement because I'm not sure if this is actually true but it might turn into one.

There is currently a mismatch between the `gh auth` output and the GitHub docs.

I filed an issue there (https://github.com/github/docs/issues/10600) and was informed that `gh auth` is depreciated: https://github.com/github/docs/issues/10600#issuecomment-934092789

Is that really the ca

[2021-10-05 15:59] despreston commented on #4433
Different from what `git diff` does?

[2021-10-05 16:41] mislav commented on #4436
It's not deprecated! Personally, `gh auth` is my preferred way to authenticate with GitHub and git.

More at https://github.com/github/docs/issues/10600#issuecomment-934516095

[2021-10-05 16:41] #4436 closed, assigned to nobody

[2021-10-05 16:55] BastianZim commented on #4436
Hi @mislav thanks for the confirmation. That was my assumption as well but just wanted to double check. :)

And yes, very helpful tool!

[2021-10-05 17:10] ssbarnea commented on #1614
I am not sure if design would be needed for this as it would be enough to make the default status configurable at tool level, preferably with a default of true. Promoting use of draft reviews is quite good and I do not know any case where a human creates a PR that should not initially be draft.

Only bot produced PRs are likely to not need a draft. Example: dependabot updates. We expect that the r

[2021-10-05 18:11] geramirez opened #4441 "`user/codespaces` endpoint requires pagination"
### Describe the bug

Codespaces list is capped at 30 while max codespaces is 50. The `user/codespaces` endpoint requires pagination.

### Steps to reproduce the behavior

1. Have more than 30 codespaces
2. run `gh cs list`

### Expected vs actual behavior
Expected: all the codespaces will appear
Actual: only 30 appear

[2021-10-05 18:40] pbx commented on #4433
Yes.

The command would generate (and optionally open) a link like `https://github.com/django/django/compare/3.2.8...stable/3.2.x` ([example](https://github.com/django/django/compare/3.2.8...stable/3.2.x)).

The use case: I want to give a teammate a quick look at a diff of my (pushed) WIP without them having to touch their local working dir.

Updated the description to clarify.

[2021-10-05 21:39] m4ver1k commented on #2720
That makes sense will add a flag for this.

[2021-10-06 02:25] KexyBiscuit commented on #4430
Appending `CGO_ENABLED=0` after `make` works, thanks!

[2021-10-06 02:25] #4430 closed, assigned to nobody

[2021-10-06 03:15] dr0924 commented on #901
@kevinwong150  what is manual? is it user name or org?

[2021-10-06 03:26] kevinwong150 commented on #901
@dr0924 https://cli.github.com/manual/gh_repo_clone is the official document I found which has the example of
`gh repo clone https://github.com/cli/cli`

[2021-10-06 03:30] sambostock opened #4443 "`--paginate` does not throttle or handle rate limits"
### Describe the bug

The `--paginate` flag on `gh api` works well to fetch multiple pages. However, it does not work well when fetching a large number of pages, as rate limits can be encountered, and the pagination terminates abruptly.

For example, if trying to do a one time export of issues using something like:

[code]

The following error is encountered:

[code]

Ideally, one of the following

[2021-10-06 08:19] deshi55 opened #4444 "Cli"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2021-10-06 08:21] #4444 closed, assigned to nobody

[2021-10-06 12:50] mislav commented on #4443
Thanks for the detailed bug report and for suggested improvements! I really like this idea:

Perhaps we could print last URL requested when the rate limit was reached? You could then wait a bit and use that URL with `gh api --paginate` to resume pagination.

[2021-10-06 13:59] asafdl opened #4447 "gh repo create for gh enterprise, throws fatal error"
### Describe the bug

using gh entreprise
running gh repo create as part of my automation to create repos from template
the repos are created, but the command throws an exception anyway

using latest 2.0.0 version for linux running on a linux server
### Steps to reproduce the behavior
1. `gh auth login --hostname entrprise.gh --with-token < mytoken.txt`
2. `gh repo create myorg/lalala -y -p myorg/

[2021-10-06 14:17] mislav commented on #4447
Hi, the error looks like it might be coming from git.

Please set up git to authenticate with GitHub CLI. Replace "github.com" with the name of your enterprise domain:
[code]

Then try again!

[2021-10-06 14:17] #4447 closed, assigned to nobody

[2021-10-06 14:29] asafdl commented on #4447
thanks for response, does it need to be --global?

[2021-10-06 17:32] mislav commented on #4447
@asafdl It doesn't need to be `--global`, but if you want all git operations across different repositories tied to your `enterprise.gh` domain to be authenticated by GitHub CLI, then it's useful to use `--global`.

[2021-10-06 17:38] #4441 closed, assigned to nobody

[2021-10-06 21:41] geramirez opened #4452 "Add support for `-L/--limit` parameter to the `gh cs list` command."
### Describe the feature or problem you’d like to solve
This is a follow up to: https://github.com/cli/cli/issues/4441

The `gh cs list` command should be able to support the `-L/--limit` argument.

### Proposed solution

* default limit should be 30
*  using`-L/--limit` will cause pagination until the limit is reached or the are no more codespaces
This will make the `gh cs list` command similar t

[2021-10-06 22:08] shanduur commented on #4452
If I recall correctly, this should work as the `gh repo list --limit 10`?

[2021-10-07 05:10] shanduur commented on #4452
@geramirez it looks like the whole `codespace` package is written totally different than other command packages. This should probably be fully refactored to meet the standards.

[2021-10-07 11:46] ghost opened #4455 "na7807601@gmail.com"

[2021-10-07 12:56] dsifford opened #4456 "Bash completions include description of the command in the completion"
### Describe the bug

Completions for bash include a description of the command in the completions. This requires a user to delete the entire description before he/she is able to enter the command.

[code]

### Steps to reproduce the behavior

In a terminal running bash.

1. Type gh <kbd>Tab</kbd>
2. See that the completion provided looks like this...

[code]

<kbd>Tab</kbd>

[code]

etc, etc

###

[2021-10-07 14:41] arthropodSeven commented on #641
Is there any functionality on this list that can't be accomplished via the `-S` flag?

[2021-10-07 15:11] #4455 closed, assigned to nobody

[2021-10-07 17:48] m4ver1k commented on #2720
@mislav have raised a PR for this (sorry about the mess). The change to the function signature is not backward compatible, as I only saw one usage inside the repo and updated it,
is it expected to be used outside as a dependency ?

[2021-10-07 21:58] arzpgh60 opened #4462 "https://github.com/arzpgh60/gh-branch/blob/62dab0f67f5493995a0fb0b60588b292e546b66b/natdm:main"

[2021-10-07 21:58] arzpgh60 commented on #4462
@arzpgh60

[2021-10-07 22:12] #4462 closed, assigned to nobody

[2021-10-07 23:36] cploonker commented on #2693
cc: @ezyang as he implemented https://github.com/ezyang/ghstack to achieve a similar goal.

[2021-10-08 00:05] muendelezaji commented on #2310
I needed something like this recently and ended up defining an alias (for now). In this case, only tag names were needed, but removing the jq filter will return the [full API response](https://api.github.com/repos/cli/cli/tags?per_page=10) as expected.
`$ gh alias set tags 'api repos/"$1"/tags --jq ".[] | .name"'`

It would still be nice to have a more purpose-built subcommand/flag. Some more sugg

[2021-10-08 05:19] FU4Y commented on #2310
We as usual gh...

[2021-10-08 07:37] Dgame commented on #2342
Since there doesn't seem to be an official solution, I think I'll use this:

[code]

Maybe it will help others.

[2021-10-08 09:56] FrRwega commented on #2928
@alphaolomi  this issue isn't fixed, perhaps you used another way to solve the problem

[2021-10-08 10:19] alphaolomi commented on #2928
Thanks @FrRwega

[2021-10-08 10:44] marjorg commented on #1398
@vilmibm / @pxrth9  Any ETA on this one? Doing a migration from Azure in a week or two and this would be very helpful :)

[2021-10-08 11:58] #2720 closed, assigned to nobody

[2021-10-08 13:40] sauwd2030 commented on #2720
God

[2021-10-08 15:13] rethab commented on #2649
I have created an extension to work with projects: https://github.com/rethab/gh-project

It's early stages, but please head over to the issue tracker and let me know what other features you'd like it to support :)

[2021-10-08 17:46] YuviGold opened #4463 "`gh extension install` returns an error in case extension exist"
### Describe the bug

When trying to install an extension that is already being installed, an error is returned.

[code]

### Steps to reproduce the behavior

1. Install an extension with `gh extension install`
2. Try to install it once again

### Expected vs actual behavior

The program shouldn't exit with 1 but with 0 since the program is already installed.

### Logs

[code]

[2021-10-08 18:20] adonovan opened #4464 "cs list: confusing error from incorrect auth token"
I created an SSO-enrolled PAT with read:org and repo:* capabilities, and gh seemed happy with it:
[code]

But the `cs list` command fails like so:
[code]

@issyl0 suggested running:
[code]
and going through the ssh -> OAuth flow, and this did indeed solve the problem. (Thanks!)

However, the error message from `cs list` could be more specific about the underlying cause and the solution.
In particu

[2021-10-08 20:58] austince opened #4465 "`gh {pr,issue} comment` file attachements"
### Describe the feature or problem you’d like to solve

Often attaching files to comments is helpful. It would be great to be able to do this from the CLI.

### Proposed solution

Like `gh pr create`, we could have a **`What's next?`** section that allows attaching local file, as well as a flag.

The CLI may actually be able to provide a better experience than the web UI, which can only handle a

[2021-10-09 07:55] Sixeight opened #4466 "Support `generate_release_notes` flag on `gh release create`"
### Describe the feature or problem you’d like to solve

- GitHub releases [automatically generated release notes](https://docs.github.com/ja/repositories/releasing-projects-on-github/automatically-generated-release-notes) feature for public beta.
- I want to support the flat on `gh release create` .

### Proposed solution

- Add `--generate-release-notes` to set parameter `generate_release_notes`

[2021-10-10 08:50] Davinsos commented on #4217
4217

[2021-10-10 08:52] Davinsos commented on #2722
337154

[2021-10-10 10:19] kainpets commented on #2078
That worked for me as well.

[2021-10-10 12:31] kabat87 opened #4469 "The addition of a writer to this function is a smell to me. Why would a method that parses a template require providing a writer for the product of template execution? Could we somehow work around having to add this?"
The addition of a writer to this function is a smell to me. Why would a method that parses a template require providing a writer for the product of template execution? Could we somehow work around having to add this?

_Originally posted by @mislav in https://github.com/cli/cli/pull/3519#discussion_r622120722_

[2021-10-10 19:13] skube commented on #4217
@mislav So I have a similar setup as @binkley

When I do :
[code]

But really, I'd like `origin` to be :
[code]

I _can_ replace the `origin` manually:
[code]
...and everything works.

I guess I'm wondering if there is a way to specify the SSH (config) alias when using `gh repo create`?

**edit: Actually, I see this has been asked & answered before #3715 #4128**

[2021-10-10 20:24] neolace commented on #2722
Is there any chance of skipping any interactive shell when you interact with another?

[2021-10-11 06:43] darthwalsh commented on #3071
Another workaround is, instead of using arrows, type in the text of your selection, i.e. `ssh` to filter the choice then press enter.

(For me, the default settings of chrouton ubuntu cause this same escape sequence problem.)

[2021-10-11 08:32] mislav commented on #3071
This was fixed in trunk https://github.com/cli/cli/pull/4405 and will be effective in the next release!

[2021-10-11 08:32] #3071 closed, assigned to nobody

[2021-10-11 08:33] mislav commented on #4465
Hi, this request comes up every once in a while https://github.com/cli/cli/issues/1895#issuecomment-718899617 and while it's certainly an interesting feature proposal, currently we're blocked on allowing it because there is no available API to use to upload attachments to issue threads.

[2021-10-11 08:33] #4469 closed, assigned to nobody

[2021-10-11 13:13] austince commented on #4465
Ah sorry for not doing a more thorough search @mislav, will close now.

[2021-10-11 13:13] #4465 closed, assigned to nobody

[2021-10-11 15:32] adonovan opened #4486 "Add a 'gh cs cp' command to copy files to/from a codespace"
The 'gh cs' command should provide a simple way to copy a file from the local machine to the remote codespace, and back.

A single file can be copied using these commands:
[code]
but to copy a directory requires more complex uses of tar.

Ideally a user would type something like:
[code]
where the "remote:" prefix stands for "user@machine:" prefix used by scp. Alternatively one could use the codesp

[2021-10-11 15:51] chriskirkland opened #4487 "Add a `--pull-request` flag to `gh cs create`"
### Describe the feature or problem you’d like to solve

In the context of local development, I rely heavily on `gh pr checkout` for navigating code while reviewing pull requests.  I think a similar experience for codespaces would be great.

### Proposed solution

Add a `-p`/`--pull-request` flag to `gh cs create` which resolves the PR number and repository to the appropriate branch name to create

[2021-10-11 17:51] lpessoa commented on #2167
@mislav  I'll have a crack at it :)

[2021-10-11 18:32] #4452 closed, assigned to nobody

[2021-10-11 19:48] egberts commented on #1326
still a problem

   export GH_TOKEN="YOUR_PAT_GOES_HERE"
   git config --global credential.https://github.com.helper ''

is erroring out with;

    error: invalid key: credential.https://github.com/helper

still experiencing 'git push' prompting me for a password despite 'gh auth refresh' and 'gh auth login'

even made two new tokens.

please advise.

[2021-10-12 03:49] ryenus commented on #2241
Hello, any update on this? maybe it's time to resurrect this? @mislav

[2021-10-12 10:28] plastikfan opened #4490 "Unable to locate package gh (WSL2/Ubuntu 20.04)"
### Describe the bug

I am trying to install gh on ubuntu (via WSL2) and apt can't find package gh

### Steps to reproduce the behavior

As directed on the README, I am using "sudo apt update" folowed by "sudo apt install gh"

 ✘ plastikfan@Janus  ~/ λ   master  sudo apt update
Hit:1 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelea

[2021-10-12 10:48] #1398 closed, assigned to meiji163, pxrth9

[2021-10-12 11:03] mislav commented on #4490
Please read the installation instructions for Ubuntu carefully: https://github.com/cli/cli/blob/trunk/docs/install_linux.md

I'm guessing you probably haven't added our package repository to your sources.list.

[2021-10-12 11:03] #4490 closed, assigned to nobody

[2021-10-12 13:40] Lilokais commented on #326
Shingle.org.com

[2021-10-12 17:36] marwan-at-work opened #4498 "Codespaces: allow port forwards to specify an organization privacy"
In anticipation for the new feature of allowing org scoped ports, the `gh cs` command should allow users to be able to specify this new privacy option.

[2021-10-12 21:49] billygriffin commented on #3625
Just wanted to update folks following along that @meiji163 has been working on this in #4451. ✨

[2021-10-13 02:12] lpessoa commented on #3987
@sguzmanm are u still working on this one?

[2021-10-13 02:40] godindustry commented on #1085
gh issue create

[2021-10-13 08:50] MarcV2002 opened #4502 "Mva"
﻿# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_
^G

[2021-10-13 08:55] toast-gear opened #4503 "Is there a recommended action for installing the CLI on a self-hosted machine?"
The CLI comes baked into Github runners which is nice. For those of us though that run self-hosted runners do you guys maintain an action for installing the CLI? If not is there a community recommended Action for this?

[2021-10-13 14:03] dbalatero opened #4506 "Add flags to `gh auth login` to replace the interactive prompts"
### Describe the feature or problem you’d like to solve

I have a little script at work that requires `gh` to be setup. I'd like to script the `gh auth login` command when they run the script the first time, so that people don't select the wrong protocols/keys/scopes/etc.

In particular, I'd like to eliminate the need for these interactive prompts, and instead be able to pass them in as flags:

[c

[2021-10-13 14:47] #4502 closed, assigned to nobody

[2021-10-13 14:56] mislav commented on #4503
No, there isn't an official action for installing GitHub CLI on a machine, and I'm not aware of any community-maintained ones either. We haven't yet considered the case of using GitHub CLI on a self-hosted runner that doesn't already contain `gh`. For now I would recommend simply adding a script step that installs gh for the appropriate platform.

[2021-10-13 14:56] #4503 closed, assigned to nobody

[2021-10-13 15:38] giannimassi commented on #2027
@vilmibm @mislav The effort of maintaining this versus the value brought to the github community seems like it would be really worth it. It's a matter of setting up a github action (😉 ) that pushes a docker image when releases happen. Most likely the dockerfile would not need to change ever. Do you accept prs?

This seems like a low-hanging fruit, are there other reason for not doing this?

[2021-10-13 16:53] mislav commented on #2027
@giannimassi We are not interested in maintaining a containerized edition of gh at the moment. Please refer to https://github.com/cli/cli/discussions/3698#discussioncomment-785838 for rationale.

[2021-10-13 17:56] #4498 closed, assigned to nobody

[2021-10-13 19:40] ryenus commented on #3511
Possible to provide an option to skip git-remote-add?

[2021-10-13 20:12] sguzmanm commented on #3987
Hey @lpessoa yes, I got caught up in work this last week but I'm almost done, hoping to post a PR of this tomorrow :)

[2021-10-13 23:24] lpessoa commented on #3579
@mislav since the PR #3610 is stale can i have a go on this one?

[2021-10-14 12:28] georgegillams opened #4518 "When using GH_TOKEN to authenticate, --web open forms bad URLs"
### Describe the bug

When using a GH_TOKEN environment variable to authenticate, `gh pr create --web` opens a badly formatted URL.
gh version 2.0.0 (2021-08-23)
macOS - M1 processor

### Steps to reproduce the behavior

With GH_TOKEN:

1. export GH_TOKEN
2. Push changes to a new branch
3. `gh pr create --web` opens a URL in the wrong format -  `https://github.com///compare/...ORG_NAME%3ABRANCH-NA

[2021-10-14 15:45] mislav commented on #4456
Hi, which version of bash do you have and how did you set up and load bash completions for gh?

I cannot reproduce: `gh comp<Tab>` expands to just `gh completion`, even though the entry technically has a description:
[code]

The gh completion script on my machine is managed by Homebrew:
[code]

[2021-10-14 15:50] dsifford commented on #4456
[code]

Same for me.

Perhaps it might also be because i have [`menu-complete`](https://www.gnu.org/software/bash/manual/html_node/Commands-For-Completion.html) set in my inputrc?

[2021-10-14 16:17] mislav commented on #3579
@lpessoa Go right ahead!

[2021-10-14 16:28] vilmibm commented on #3915
I  believe this can be closed. `--branch` supports  SHAs,  `-n` prints only a URL, and `-c` links t o the latest commit.

[2021-10-14 16:28] #3915 closed, assigned to nobody

[2021-10-14 16:44] mislav commented on #4456
I have created an `inputrc` file for myself with:
[code]
But I still cannot reproduce (stock bash 3.2 that comes with macOS)

[2021-10-14 16:57] lpessoa commented on #3466
@vilmibm when you talk about a linting rule you are referring to follow https://golangci-lint.run/contributing/new-linters/#how-to-add-a-private-linter-to-golangci-lint ? (thus requiring an additional step on lint.yml to compile the analyzer plugin described in the article)

[2021-10-14 17:16] dsifford commented on #4456
This may or may not be helpful

https://github.com/dsifford/.dotfiles/blob/master/config/readline/inputrc

[2021-10-14 18:05] mislav commented on #4518
Hi, thank you for reporting! This was a case of your token not having sufficient scopes (I'm guessing that the `repo` scope was missing) to fetch the information about the repository. The bug was that gh did not correctly error out in this case but would proceed with blank values for `ORG_NAME/REPO_NAME` going forward, resulting in a malformed compare URL. I've opened a PR to address this. 👍

[2021-10-14 18:20] mislav commented on #3466
@lpessoa We tried making a custom linter, but it was too hard to get right via golangci-lint's support for dynamically loaded Go modules. It's just too brittle and it doesn't seem viable in the long term. An ideal custom linter would just work across different machines and require no tricky compilation step just to support it.

However, golangci-lint bundles a linter called gocritic which bundles

[2021-10-14 18:21] #4464 closed, assigned to nobody

[2021-10-14 18:21] #4518 closed, assigned to nobody

[2021-10-14 19:45] KyMidd commented on #2632
I agree with @pdesjardins90, a `--non-interactive` flag would be an easily understood and scripted solution.

I'm similarly not a fan of there being "behind the scenes" logic to figure this out - I'd rather be able to set it myself when required.

[2021-10-14 19:55] georgegillams commented on #4518
@mislav thanks for the update. An error would definitely be better than opening the wrong URL.
Ideally I would like to keep my `GH_TOKEN` scope small and configure `gh` to use SSH instead. Is there some way I can do this?

[2021-10-14 20:22] yellowmegaman commented on #1326
Hi!  The issue is still there, basically no way to clone a repo with gh 2.0.0.
No combinations of commands above work.

Can we reopen this please? A bit strange for gh tool not to be able to perform the most basic operation with GitHub - cloning.

[code]
And with helper commands:
[code]

[2021-10-14 20:28] yellowmegaman commented on #1326
@mislav ^^

[2021-10-14 22:44] lpessoa commented on #3466
@mislav Had no luck running it with golangci-lint. For some reason it ignores my `linters-settings` even though i made all the steps by the book.
I thought of actually disabling everything from gocritic on golangci-lint by setting the disable-tags config like this:
[code]
This way it will only run the rules i define using **ruleguard**. Then all i had to do was build a simple Matcher to inform me

[2021-10-15 02:05] sguzmanm commented on #3987
@lpessoa @MarvinJWendt @mislav would you mind giving me a hand looking at the first approach in the [linked PR](https://github.com/cli/cli/pull/4525)?

[2021-10-15 09:40] mislav commented on #1326
@yellowmegaman You've switched to SSH clone URLs via `gh config set git_protocol ssh`. But you also configured a git credential helper. These settings are not compatible. Git credential helper only works with HTTPS.

To fix:
[code]

[2021-10-15 09:53] yellowmegaman commented on #1326
@mislav Thanks! Now I'm getting this on empty VM
[code]

[code]

[2021-10-15 10:11] mislav commented on #1326
It could be that your shell is interpreting the `"\!"` expression differently than mine. Try to avoid double quotes instead

[2021-10-15 10:36] yellowmegaman commented on #1326
@mislav Thanks a lot for your help! This one worked great on yet another empty VM.
[code]

[2021-10-15 11:37] nickfyson opened #4530 "Error when deleting codespace"
### Describe the bug

Running the current HEAD of cli/cli I'm hitting an error when deleting codespaces (despite the fact that the operation actually succeeds).

[code]
I believe the expected success response should therefore be 202. 🙂

[2021-10-15 11:50] #4530 closed, assigned to nobody

[2021-10-15 12:13] akramfstg opened #4531 "Unable to list pull request for a specified head branch"
### Describe the bug
Following this manual https://cli.github.com/manual/gh_pr_list, I am unable to list all opened pull requests of a head branch.

[code]

### Steps to reproduce the behavior

[code]
### Expected vs actual behavior

It should list the opened pull request of given branch

### Logs

no logs it only shows the help.

[2021-10-15 12:18] mislav commented on #4531
Please upgrade to gh v2.1 https://github.com/cli/cli/releases/tag/v2.1.0

The online documentation is always for the latest gh release available.

[2021-10-15 12:18] #4531 closed, assigned to nobody

[2021-10-15 12:41] marwan-at-work opened #4532 "Codespaces port privacy should be renamed to visibility"
The terminology of the command is currently being discussed to be changed from "privacy" to "visibility".

This will also reflect throughout Codespaces including the VSCode UI.

[2021-10-15 13:51] #4532 closed, assigned to nobody

[2021-10-15 14:55] ncw opened #4535 "Proposal: add a `--compact` flag to `gh run watch`"
### Describe the feature or problem you’d like to solve

When using `gh watch` on large projects with more than a few jobs and steps the list of jobs goes off the top of the screen.

### Proposed solution

I'd like to propose a `--compact` flag which only shows the current step of each job, rather than all the past and future steps.

### Additional context

Currently the output looks like this whe

[2021-10-15 17:26] giopetris commented on #4463
Working on that.

[2021-10-15 18:44] jeremyd2019 commented on #3558
I have been wanting an option, either on `gh pr` or `gh run download` to select the latest run for a given pull request number, rather than having to look up that run id manually.  This would help looking up the run id, but what I really want is to plug that directly into `gh run download`

[2021-10-15 19:13] #3952 closed, assigned to bchadwic

[2021-10-15 20:14] #3775 closed, assigned to nobody

[2021-10-15 21:38] jglick opened #4537 "`gh browse --commit` ought to open a fork repo where applicable"
If you run

[code]

as of #3950 in 2.1.0 when you are inside a forked PR, the display is of the origin repository. It works, but not ideally, since for example clicking on the commit will take you to a valid commit URL which nonetheless claims to not be a part of any branch. If you had opened the fork repository instead then this would work more naturally.

(BTW is there any command to open the co

[2021-10-15 23:52] guerinoni commented on #4357
I tried to create a local tag for my repo and use `gh release create <that tag>` and it works correctly... Maybe because I'm on `HEAD`?

[2021-10-16 00:17] olgabot opened #4539 "pr create fail after git pull --allow-unrelated histories"
### Describe the bug

I am consolidating multiple repositories' files into a single repo, and using `--allow-unrelated-histories` during merging to account for the different git histories. I've done this several times and used `gh pr create` to create the PR, but this time, I think there were too many commits from the repo that was `pull`'d in, and I can't make a PR, either with the CLI or with th

[2021-10-16 02:13] spenserblack commented on #4357
:thinking: When I found this I was on version `2.0.0`. I'll upgrade and test this out.

[2021-10-16 02:22] spenserblack commented on #4357
No, looks like I'm still experiencing this issue. To clarify, what I'm doing is
[code]
At this point, a new release is created with tag `v1.2.3`. However, this *isn't the same tag*, because it is missing the annotations. You can check this by cloning the repo that you created the release in to a new directory, and using `git show v1.2.3` to compare tag annotations between repos.
What's interesting

[2021-10-16 02:34] spenserblack commented on #4357
[Here's a repo that I made to test this out](https://github.com/spenserblack/test-gh-release). You can fork it and use the script to try it out yourself.
Besides the tag message, it also looks like any GPG signature on the tag is also lost.

Edit (2022/01/28): I deleted the linked repo, but [this gist](https://gist.github.com/1e57d09248ac43256a538e37c3d94166) has the script for testing.

[2021-10-16 03:46] 3b3ziz commented on #4202
Hi @mislav, I have previously opened https://github.com/cli/cli/pull/4293 but it didn't get the chance to be reviewed. I wonder if it is still an issue that you are targeting to solve.

[2021-10-16 09:20] sagikazarmark commented on #4413
Hm, yeah, I understand the problem. Maybe pass it in as a structure or a map, so that the number of function parameters remains one?

To be honest, I'm not even sure how I would normally solve this problem.

Anyway, would it make sense to mention this limitation under a caveats section in the documentation?

[2021-10-16 11:20] fastoch commented on #2267
It worked for me too. Thanks.

[2021-10-16 14:35] migueldeavila commented on #2771
I've used the gh auth login command and run this exact same procedure and git will still prompt me for my username and password on a repo with https remote origin. Is there something I'm missing? Thank you

[2021-10-16 14:40] 3b3ziz opened #4540 "Rest pagination does not work properly with page query parameter"
### Describe the bug

Pagination does not work when using page query param as it keeps getting the same page infinitely.
Version: gh version 2.1.0 (2021-10-14)

### Steps to reproduce the behavior

1. Type this `gh api -X GET repos/cli/cli/releases -f per_page=10 -f page=3 --paginate --jq '.[].tag_name'`
2. View the output ```v1.9.1
v1.9.0
v1.8.1
v1.8.0
v1.7.0
v1.6.2
v1.6.1
v1.6.0
v1.5.0
v1.4.0
v1

[2021-10-16 23:20] stuft2 commented on #3223
I can't find `repo garden` in the manual nor does the `--help` flag give any useful information for what it's used for. Is this an officially supported command? Or is still being tested? Where are the docs for it?

[2021-10-17 10:09] Sixeight opened #4541 "The `-d` option of `gh release create` is not working properly."
### Describe the bug

- Type `gh release create -d <tag>` (without body), I always see `Publish release`  option.
- I expected to not see the question when using `-d` option.

[code]

### Steps to reproduce the behavior

1. Type this `gh release create -d <tag>` (without body)
2. Then I see the question: 'Submit?'  and `Publish release` option.

### Expected vs actual behavior

- Avoid the questio

[2021-10-18 03:53] yanskun opened #4546 "about `gh run view` status"
# CLI Feedback

## What have you loved?

Quick access to the pull request page

[code]

## What was confusing or gave you pause?

gh version 2.1.0

run
[code]

It's hard to tell that pending status is `*`.

I want you to return to `-` at the time of the previous version..

Because `*` is misunderstood as `skip`.

## Are there features you'd like to see added?

not yet

## Anything else?

have a ni

[2021-10-18 05:37] jongio commented on #2166
@mislav - I would like to be able to specify the name of the remote when creating a repo.

For example, something like this:
`gh repo create --remote-name upstream`

The scenario is that it is a git init'd directory and I want to create a repo and add it as a remote, but I already have origin specified.

[2021-10-18 10:53] matthewmayer opened #4547 "Issue commands do not work with non-classic Projects"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Create a new Project (Beta) in your org
2. Add an issue to a repo in the org
3. gh issue edit ISSUE --add-project PROJECTNAME

### Expected vs actual behavior
Expected: the issue is added to project board
Actual: 'PROJECTNAME' not found

### L

[2021-10-18 11:28] qvieth opened #4548 "can't do `git push` after `brew upgrade gh` (gh auth messed up somehow)"
### Describe the bug

after brew upgrade gh can't do `git push` anymore(auth doesn't work anymore)

![image](https://user-images.githubusercontent.com/71810726/137721657-1992e5e3-6773-41e3-af9c-d9ecfb4bf27c.png)

it seems like gh look into the folder 2.0.0

![image](https://user-images.githubusercontent.com/71810726/137721732-1d2f1d45-f1e7-44f3-b68b-be00a14f8280.png)

but after update there's only

[2021-10-18 12:11] mislav commented on #4539
@olgabot Thank you for reporting, but I'm afraid this is a platform restriction, not a CLI one. You cannot make PRs from a head branch that shares no ancestors with the base branch. You will have to push a merge commit directly to the base branch without making a pull request.

I believe that the error message is clear in this case, and because I don't believe anything can be improved on the CLI e

[2021-10-18 12:11] #4539 closed, assigned to nobody

[2021-10-18 12:43] mislav commented on #4548
Hi, thank you for reporting and sorry for the nuisance. This is due to a Homebrew-related bug that was present in 2.0 but fixed in 2.1. However, the problem doesn't correct itself if you originally ran `gh auth login` with an old version of gh, so you will have to edit your gitconfig manually.

Open your `~/.gitconfig` and, at the line where there is the `home/linuxbrew/.linuxbrew/Cellar/gh/...` p

[2021-10-18 12:43] #4548 closed, assigned to nobody

[2021-10-18 12:59] adonovan commented on #4486
I'd be happy to implement this feature if we agree it is desirable. (@josebalius gave a literal thumbs-up in a recent meeting).

Some questions:
- Do we like either of the proposed syntaxes? (Another alternative would be an ftp shell with get/put/ls/cd/lcd commands. This is nice when you don't remember the exact file name, but it's only suited to interactive use, so it seems "extra".)
- Is there a

[2021-10-18 13:05] josebalius commented on #4486
I like the proposed syntax and behavior. I have only ever had the need to copy either 1 file or many files in a dir to a codespace. So I'd be onboard with keeping the experience as simple as possible to support this.

I'd make a small change to the syntax (but don't feel strongly about it):
[code]

I think we keep the argument order always as local remote, and not bother the user with having to pr

[2021-10-18 13:21] Cassandra1122 opened #4550 "Liberty university"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users? My college

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-10-18 13:33] adonovan commented on #4486
So far I too have only needed to copy files to the remote VM, but I don't think that's a good basis on which to design the interface: I can readily imagine wanting to copy back the results of some remote execution to my local machine.

A reason not to use the codespace name as a prefix is that raises the suggestion of cross-VM copies (`cp cs1:foo cs2:bar`). Even the inefficient implementation usin

[2021-10-18 13:40] josebalius commented on #4486
Good point, I completely forgot about copying from the codespace to local. I am on board with the proposed conventions above.

[2021-10-18 15:09] #4550 closed

[2021-10-18 15:11] #4304 closed

[2021-10-18 15:11] #4303 closed

[2021-10-18 15:31] samcoe commented on #4547
@matthewmayer Thanks for writing in, right now `gh` does not support the new beta projects feature, it is likely that we will implement something in the future once it is no longer beta. I am going to change this from a bug to a feature request to reflect that.

[2021-10-18 16:06] jkjustjoshing commented on #391
Right now, our QA resource (who is not very good at git) has to run the following command to test a branch:
[code]
It would be great if he could instead just run
[code]

[2021-10-18 16:40] mislav commented on #2771
@migueldeavila Check your gitconfig. It should have something like this:
[code]
If not, you can add these lines manually yourself!

We're working on improving setting up the credential config here https://github.com/cli/cli/pull/4246, but for now, follow the workaround above.

[2021-10-18 16:45] mislav commented on #4413
Agreed. 👍

[2021-10-18 17:26] asciimike commented on #4486
Meta question: how many other commands like this do we anticipate implementing? Curious if we should work on a way of offering something like `scp file.txt $(gh cs ssh print-connection-string):/path/to/file.txt` where we can encapsulate what the username/host/login credentials are, without wrapping every command ourselves.

Note: I do think the absolute number of commands we'd have to wrap is prob

[2021-10-18 17:43] adonovan commented on #4486
Certainly it is possible to implement file copy in terms of ssh today, but it is surprisingly tricky, inefficient, and race-prone. Currently one needs something like this monstrosity:
[code]

This could be improved by having the 'gh cs ssh' command optionally run a _local_ user command while port forwarding is active, something like this:
[code]
where %sshargs% would expand to a list of ssh option

[2021-10-18 18:30] bchadwic opened #4558 "gh repo create doesn't acknowledge special characters in repo names"
### Describe the feature or problem you’d like to solve

On GitHub.com, the user receives a notification that mentions that any special characters will be converted to `-` when typing up a repo name. On the cli app, this is not the case which can lead to unexpected repo names. I ran into this yesterday on the cli app when I used "C#" in my new repo name.

[code]

![Capture](https://user-images.git

[2021-10-18 18:43] mislav commented on #4540
Good catch; thank you! Opened a PR to fix

[2021-10-18 19:15] mislav commented on #4558
Thanks for raising this! Agreed that:
- In interactive mode, there should be a prompt warning you that the final repository name will be different than your original input.
- In non-interactive mode (e.g. if you ran `gh repo create myname --confirm`), the command should fail with an error message that you can only use certain characters in the repository name.

I wonder how we could ask the server

[2021-10-18 19:53] bchadwic commented on #4558
@mislav

agreed that non-interactive should fail as well, I forgot to bring that up.

Question, do we need to call an API for this? GitHub allows for ( numbers, alphabet characters, `-`, `.` and `_`). Surely we can just make just run regex on this correct? That is unless GitHub plans on changing available names in the future.

The only hard part may be outputting what the created repo name will lo

[2021-10-18 20:41] samcoe commented on #4357
@spenserblack This behavior is mostly due to the restrictive nature of the release create API endpoint. It only allows for a tag name to be specified but no other properties, such as annotations, of the tag. The API will look in the repo for the tag or create a new one if one does not exist with the specified name, but the API won't have knowledge of a local non-pushed tag. Right now the workaroun

[2021-10-18 21:10] samcoe commented on #4546
@yasudanaoya Thanks for the feedback. We decided to change the symbols because we felt that using the `-` symbol for multiple statuses was too confusing so we introduced the `*` symbol. I don't see us reverting back to using the `-` symbol, but do you think there is another symbol that better conveys the pending status?

[2021-10-18 21:32] #4486 closed, assigned to adonovan

[2021-10-18 21:52] guerinoni commented on #4357
I'm testing a patch that check locally the tag and push it before doing the rest, in order to avoid the manual workaround :)

[2021-10-18 22:13] dvn123 commented on #2722
Hi @mislav , I've been taking a look at this and tried to make a [simple fix for the first item in your list ](https://github.com/cli/cli/compare/trunk...dvn123:fork). I used the comment below as a guide.

Regarding the second item, I saw the comment below which I believe it references it. I would like to know if a conclusion has been reached regarding this? I would be willing to have a go at this

[2021-10-18 22:53] pjgoodall opened #4560 "'gh repo fork' fails to provide useful warning about forking own repository"
### Describe the bug

`gh repo fork` fails to change anything. Does not create fork or ask to create upstream

### Steps to reproduce the behavior

I tried this with a clone created with  protocols `https, ssh` and `gh clone`. Also tried again after `gh config set git_protocol ssh `
[code]

[code]
[code]
### Expected vs actual behavior

I would expect, and have seen previously, the following as de

[2021-10-18 23:25] heaths opened #4561 "Missing documentation for binary extensions"
Related to PR #4308:

Is there documentation planned for the supported `{OS}-{ARCH}` values? I had to look in code to find them, and https://cli.github.com/manual/gh_extension doesn't look updated with this info yet.

Also, is there also discussion of the manifest.yml schema and how to use the file?

_Originally posted by @heaths in https://github.com/cli/cli/issues/4308#issuecomment-943784121_

[2021-10-18 23:27] heaths commented on #4561
@vilmibm also, since I commented on a closed PR, a couple other comments I noticed while trying to figure out exactly what binary names we should publish and if a manifest.yml is necessary:

1. Nit on wording. As someone that was in the acquisition space for over 20 years, "uninstallable" typically means it can be uninstalled. You might want "not installable".
   https://github.com/cli/cli/pull/43

[2021-10-18 23:41] pjgoodall commented on #4560
To try and eliminate as  local environment problems I made a clean lxc Ubunru 20.04 container, installed conda, used conda to install gh, authenticated gh, used gh to clone the intended upstream, entered the cloned repository and tried `gh repo fork`
Identical perceived erroneous  behavior followed.

Could this be because I am the owner of the repository I am trying to fork?

[2021-10-18 23:45] ggb667 commented on #286
This [editing files] is horribly compex.
< strikethrough >I'm on windows, no one knows or wants this.  Just put passwords back.<\strikethrough>

[2021-10-18 23:45] pjgoodall commented on #4560
It seems that I cannot fork my own repo with `github cli`

If I try the same process on a foreign github hosted repository. The fork works.

[code]

[2021-10-18 23:55] pjgoodall commented on #4560
Not allowed fork my own repository from the github web-UI.

1. A suitable diagnostic would have saved me several hours work. I just lost a whole morning of self-training.
2. This restriction makes it difficult to rehearse the complexities of working on an open-source project.
3. I can still dummy this up by hand - but why force a divergent process path? We should be able to rehearse any mainstream

[2021-10-19 00:55] pjgoodall commented on #4560
Is there an instance/identity problem where github_user/repo cannot be distinguished from its fork in the same github user/path?

[2021-10-19 06:01] vilmibm commented on #4561
Definitely plan on documenting them; though I've been merging the binary extension support PRs until they are documented and announced I am not considering the support stable or shipped.

[2021-10-19 12:27] mislav commented on #286
@ggb667 Manually editing the config file is not something I'd recommend to most users, either. Generally, you can just run `gh auth login` and follow the browser-based authentication flow that's easy to perform on any platform. Alternatively, the same command will also accept a pasted Personal Access Token.

[2021-10-19 16:05] #4541 closed, assigned to nobody

[2021-10-19 16:13] #3625 closed, assigned to meiji163

[2021-10-19 16:45] enmanuelr commented on #364
I had no idea `fzf` could that. That's pretty awesome. This will be the way I look at PRs moving forward.

[2021-10-19 16:54] #4540 closed, assigned to nobody

[2021-10-19 17:07] vilmibm commented on #2099
We're circling back on improvements to `repo create` and I'm no longer sure we want to support this behavior.

I specifically oppose this since simply running `git init` doesn't do much for the user. It is only helpful if there is an initial commit made, and `gh` should never assume which files a user wants to commit (a `commit -a` could leak secrets, for example).

If the user really wants `git i

[2021-10-19 17:07] #2099 closed, assigned to gleich

[2021-10-19 17:15] vilmibm commented on #1280
I am not sure what value this offers over:

[code]

which creates `my-repo` on github and then clones the empty repository?

I am strongly opposed to `gh` ever making an initial commit on behalf of a user; therefore, the only thing it could do is run `git init` to create an empty repository. At that point, why not just let `gh` create the repo on GitHub and then clone the empty repo?

[2021-10-19 17:37] mislav commented on #4361
Thank you for the reply and sorry for the wait! I've missed your reply back then. However, I did try to reproduce based on your recording, but I was not able to. I do get the "Continue in browser" option locally. Does this still affect you with the latest version of gh (2.1.0)?

[2021-10-19 18:53] vilmibm opened #4567 "repo create rewrite"
# gh repo create redux

This issue covers a complete overhauling of `gh repo create`, a command that is saturated with [technical debt and bugs](https://github.com/cli/cli/issues/2184).

Our intention is to rethink the UX of creating repositories with `gh`, streamlining it and making it more consistent than what exists today. In the process, we'll either outright fix or at least lay the groundwork

[2021-10-19 18:56] vilmibm commented on #4567
@samcoe @mislav I'd love your thoughts on what I've written up

[2021-10-19 19:03] pxrth9 commented on #4567
I'd just like to propose a minor thing, I believe I heard mislav mention that there are use cases where people are using this command in their scripts, I was wondering if we can have something like `gh repo create repo --default` which would use all the default inputs and would create a repo on the fly, would love some feedback on this!

[2021-10-19 19:09] indirectlylit commented on #4361
Yup, appears to be fixed in 2.1.0 ¯\\\_(ツ)_/¯

![2021-10-19 15 06 26](https://user-images.githubusercontent.com/2367265/137975082-cd151662-7039-46f8-b2fb-41c58068a93a.gif)

thanks!

[2021-10-19 19:09] #4361 closed, assigned to nobody

[2021-10-19 21:02] vilmibm commented on #4567
@pxrth9 That's accomplishable with:

[code]

[2021-10-20 12:00] mislav commented on #364
fzf protip using GH_FORCE_TTY:
[code]
<img width="2403" alt="" src="https://user-images.githubusercontent.com/887/138088574-a86dbbd5-df9e-4c3b-b8b6-18ec90eb8881.png">

[2021-10-20 12:08] timja commented on #364
Wow cool, is there a way to combine that with checkout so that when you press enter on one it gets checked out?

[2021-10-20 12:53] stevehipwell opened #4572 "Extend `gh release list` to add `--json` flag"
### Describe the feature or problem you’d like to solve

With GitHub being the primary source of OSS software it's a pretty common requirement to install the latest version from GitHub releases. The issue is that the current `gh release list` command has no way of getting the latest version, defining the sort order or filtering by release name. This is made even harder to implement by the lack of

[2021-10-20 13:36] mislav commented on #4572
All true, however: if the main goal is to get the latest version, it's easy to do so with `gh release view`, including JSON output:
[code]

What would you like to sort the `gh release list` output by? Also, what exactly do you mean by filtering by release name—can you provide some examples?

[2021-10-20 13:46] stevehipwell commented on #4572
@mislav thanks for your example for using `gh release view`.

In answer to your questions. The last release isn't necessarily the latest release in respect to versioning (the latest tag is a whole new issue for another repo), so being able to sort by the release name or part of it is important. Some releases have a release name before the version so _zulu-zebra-1.0.0_ would alpha sort later than _

[2021-10-20 13:52] mislav commented on #364
@timja Of course! Anything is possible. The fzf tool will print out the line that was selected when pressing Enter; you can then feed that line into any other program. For example, the `mislav/gh-branch` extension uses fzf to checkout the selected branch https://github.com/mislav/gh-branch/blob/fd4f3de8253040e865712f287eadb0022471a759/gh-branch#L102-L111

[2021-10-20 13:58] mislav commented on #4572
You're right. Currently what GitHub calls a "latest" release isn't necessary latest by version number, but it's the latest published release by date. I don't think that's ideal, but it's something to be potentially fixed on the GitHub platform, not in the CLI itself.

By release name, do you mean the tag name? And by sorting by tag name, which exact sorting algorithm are you referring to? I'm not

[2021-10-20 14:07] stevehipwell commented on #4572
@mislav I think I've misread the output, it looks like you get name and tag separately, the _active-aardvark-2.0.0_ release would be a name on a `2.0.0` tag.

I'm under the impression that the `--jq` functionality would allow filtering and sorting so it looks like `gh release view` might be the solution? If this is the case did I miss something in the docs? I would like to see an easier way to get

[2021-10-20 14:09] timja commented on #364
Thanks! Installed it, not quite what I was after but gives me enough to build my own
❤️

[2021-10-20 14:37] mislav commented on #4572
`gh release view --json` will list all available JSON fields.

Note, however, that `gh release view` can only show information about a single release at a time. For generic filtering needs, you can use `gh release list` to filter through all releases. For example, this simple script grabs the 3rd column of `gh release list` (the tag name) and outputs only ones that start with `v1.12.`:
[code]

[2021-10-20 15:06] stevehipwell commented on #4572
Personally I'd like (an expected when looking to use this) `gh release view --repo <repo> --json` to return the whole objects not a list of fields.

I think adding a `--json` flag to `gh release list` would be the best way forward.

[2021-10-20 15:19] slafs commented on #364
Hmmmmm @mislav this should give a "richer" output of the the PR than what you've attached in the screenshot. The issue view seems OK though.

Compare:
[code]
with:
[code]

I'm on `gh version 2.1.0 (2021-10-14)` BTW. I can open a separate issue if you want.

[2021-10-20 15:31] guerinoni commented on #4357
@spenserblack I just opened a PR, but maybe you can check the fix on my fork `guerinoni:push-tag-locally-before-release` :)