[2020-09-19 12:06] imojha commented on #1797
Am I just supposed to run command "sudo apt install gh" multiple times until I get it working?

[2020-09-19 12:17] LeapofAzzam opened #1841 "64-bit MSI defaults the installation folder to Program Files (x86)"
### Describe the bug

This is not about the GitHub CLI. This is about the MSI installer for the 64-bit version of GitHub CLI.

GitHub CLI version: 1.0.0

### Steps to reproduce the behavior

1. Using the 64-bit version of Windows and download the MSI for 64-bit
2. Open the MSI file and going through every setup phrases
3. The default installation location sets to "C:\Program Files (x86)\GitHub CLI

[2020-09-19 12:25] ThiefMaster opened #1842 "Add option to convert issue to pr"
### Describe the feature or problem you’d like to solve

Especially when using project boards, having issue and PR separated is messy because you need to add the PR to the board manually, and people generally forget to do that.

The GitHub API already allows converting an issue you opened to a PR, and the old `hub` cli already lets you do `hub pull-request -i 1234` to convert that issue to a PR.

[2020-09-19 12:52] GhBsx-png opened #1843 "gh repo clone ownerstefanxhunga/repo"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-19 13:20] quangti opened #1844 "Isues1"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-19 13:37] keysmashes opened #1845 "`gh repo clone` doesn't use canonical capitalisation for remote URL"
### Describe the bug

If you clone e.g. https://github.com/HackSoc/uno by typing `gh repo clone hacksoc/uno`, then the remote URL will refer to `hacksoc/uno.git` when it should be capitalised as `HackSoc/uno.git`. This means that GitHub will complain at you when you push:

[code]

[code]

### Steps to reproduce the behavior

1. Clone a repo via `gh repo clone` with uncanonical capitalisation
2. Ob

[2020-09-19 13:41] mushroombixch77 opened #1846 "Hepp"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-19 13:53] GhBsx-png opened #1847 "gh pr create cli 1234..."
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-19 14:03] #1846 closed, assigned to nobody

[2020-09-19 14:11] maxice8 opened #1848 "Failure on Test_typeForFilename/ball.tar"
### Describe the bug

Packaging for Alpine Linux, using go=1.15.2-r0 with musl libc

### Steps to reproduce the behavior

1. `go test -v ./...`

APKBUILD to reproduce:

[code]
### Expected vs actual behavior

That it passes

### Logs

[code]

More specifically:

[code]

[2020-09-19 14:19] GhBsx-png opened #1849 "gh pr create - i1234..."
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-19 15:18] JonDouglas opened #1850 "Command to provide a user's notification inbox with filtering options."
### Describe the feature or problem you’d like to solve

I would like to be able to type a single command as an authorized user and be able to view filtered notifications on the issues & pull requests I'm involved in.

**Bonus:** I would additionally like to be able to resolve an issue/pr notification in a single command.

Instead of having to navigate to https://github.com/notifications, I would

[2020-09-19 15:52] prkprime commented on #716
This Works for ubuntu. Noice.

[2020-09-19 16:07] edualb commented on #1755
I have been doing this issue 😊

[2020-09-19 16:10] ghost commented on #1835
For storing config files `cli` uses [go-homedir](https://github.com/mitchellh/go-homedir/blob/master/homedir.go) as specified in [here](https://github.com/cli/cli/blob/e930122a0c3413b3f9bd37686dbde5beafc74b07/internal/config/config_file.go#L12)

For Windows it looks for following environment variables based on if not empty

1. HOME
2. USERPROFILE ( I think is `C:\Users\Username` )
3. HOMEDRIVE + H

[2020-09-19 16:32] thor795 opened #1852 "https://github.com/cli/cli"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-19 16:33] thor795 commented on #1852
https://github.com/cli/cli/issues/1852

[2020-09-19 16:34] thor795 commented on #1852
😄

[2020-09-19 16:35] thor795 opened #1853 "https://github.com/cli/cli/issues/1852#issuecomment-695329143"
😄

_Originally posted by @thor795 in https://github.com/cli/cli/issues/1852#issuecomment-695329259_

[2020-09-19 16:36] thor795 commented on #1853
https://github.com/cli/cli/issues/1853

[2020-09-19 16:37] Bill7714 commented on #1853
You motherfuckers are not fucking helping me a bit you’re sending me this bullshit I don’t fucking understand if you’re not gonna send me something that’ll help in English go fuck yourself quit sending me fucking messages

Sent from my iPhone

[2020-09-19 16:39] Bill7714 commented on #1852
You dick suckers are not helping me a bit I don't understand nothing you're fucking saying if you guys aren't going to help me in English go fuck yourself quit sending me goddamn messages￼

[2020-09-19 17:05] #1852 closed, assigned to nobody

[2020-09-19 17:05] #1853 closed, assigned to nobody

[2020-09-19 18:35] hXtreme opened #1854 "[Bug] Autocompletion gh pr <tab> errors out"
Shell: zsh.
OS: manjaro.

When I try to trigger autocomplete for the pr command I get the following error:

[code]

I am currently located in a git repo with my github repo set as the origin.
I also have a second github repo set as remote.

I also tried the following:
[code]

which does work as expected, this leads me to belive that gh is getting confused about the remote.

FYI: I've had this repo

[2020-09-19 21:13] zautumnz commented on #1836
What is your Go version? The `flag provided but not defined` error should be fixed if you're on 1.13 or higher. I'm not sure if the other error is related, the message seems to indicate you're running low on disk space but that could be a red herring.

[2020-09-19 21:38] AndreaPi opened #1855 "Is it strictly necessary to use a package manager in order to install GitHub CLI on MacOS?"
### Describe the feature or problem you’d like to solve

On https://cli.github.com/ you're given the option to install GitHub CLI through Homebrew or to <kbd>Download for Mac</kbd>. I'd rather not install Homebrew or MacPorts on my Mac, so I went for the second option. However, once I untar the downloaded archive, there are no instructions on what to do next. I get a `bin` folder containing what (

[2020-09-19 23:43] WillStrohl opened #1857 "Add --browse option"
### Describe the feature or problem you’d like to solve

It would be useful to add a command to open some of these.  For example, typing `gh repo view --browse` could open the repo homepage in the default browser (similar to what happens with the authorization workflow).

### Proposed solution

Add the following commands:

| Command | Action |
|---------|--------|
|    `gh issue view 123 --browse`

[2020-09-19 23:49] cristiand391 commented on #1854
This is [already fixed](https://github.com/cli/cli/pull/1707), are you using the latest `gh` version?
You can check which version  you are using with
[code]

[2020-09-19 23:57] cristiand391 commented on #1857
All of the commands you listed accept the flag`-w` or `--web` to open in the browser.

To learn more you can read the [official docs](https://cli.github.com/manual/) or in the terminal with `gh help` or `gh <command> <subcommand> --help`

[2020-09-19 23:58] hXtreme commented on #1854
Running:
[code]

gives me:
[code]

PS: I installed it via the github-cli-git package on AUR.

[2020-09-19 23:59] WillStrohl commented on #1857
Oh, man... Whoops! I definitely missed that in the docs.  Sorry.  :)

[2020-09-19 23:59] #1857 closed, assigned to nobody

[2020-09-20 00:21] cristiand391 commented on #1854
It seems the [last update to github-cli-git ](https://aur.archlinux.org/packages/github-cli-git)was from 2020-06-10, before the v1.0.0 release.

You'll have to wait until it gets updated or [install the package from the community repo](https://github.com/cli/cli/blob/trunk/docs/install_linux.md#arch-linux).

[2020-09-20 01:32] #1854 closed, assigned to nobody

[2020-09-20 02:19] sethfri opened #1859 "gh pr view --repo doesn't recognize argument"
### Describe the bug

When running `gh pr view --repo realm/SwiftLint` or `gh pr view -R realm/SwiftLint`, the argument is not recognized. I get the error message:

[code]

gh version 1.0.0 (2020-09-16)

### Steps to reproduce the behavior

1. Run `gh pr show --repo realm/SwiftLint`
1. Receive an unexpected error message: `argument required when using the --repo flag`.

I had already set the repo

[2020-09-20 03:10] zautumnz commented on #1859
I believe the `argument required` is talking about a PR number. For example `gh pr view --repo realm/SwiftLint 3342`

[2020-09-20 04:06] alexweininger commented on #641
Would love to see the no milestone filter for issues. Would make triage from cli easier.

[2020-09-20 04:16] alexweininger opened #1860 "Add flag to show a more detailed issue list"
### Describe the feature or problem you’d like to solve

The current `gh issue list` command returns a very nice and simple list of issues. However, some attributes such as milestone aren't included.

### Proposed solution

It would be nice to have a flag such as `gh issue list -D` for a detailed view or something which would include more information.

[2020-09-20 05:26] ros4s opened #1861 "Command Options"
How about make short options like -v or -h

[2020-09-20 05:47] Lucaslah commented on #1797
You could try that, what else have you tried?

[2020-09-20 06:57] R4356th commented on #1836
As I have mentioned above, my Go version is 1.11.2.

[2020-09-20 07:58] samcoe commented on #1836
@R4356th could you try updating your Go version to 1.13+ and then trying again? The [docs](https://github.com/cli/cli/blob/trunk/docs/source.md#installation-from-source) specify that at least 1.13 is a requirement.

[2020-09-20 08:18] GigPorter commented on #1745
No

[2020-09-20 08:19] GigPorter commented on #1745
No g.i.

[2020-09-20 08:19] GigPorter commented on #1745
No g.i.

[2020-09-20 08:19] GigPorter commented on #1745
No

[2020-09-20 08:19] GigPorter commented on #1745
No

[2020-09-20 08:19] GigPorter commented on #1745
No

[2020-09-20 08:19] GigPorter commented on #1745
👎

[2020-09-20 10:11] SilkyFowl commented on #1775
@vilmibm I think so, too.
So I opened Issue to Cobra. spf13/cobra/issues/1229

Fortunately, this bug is avoidable if only it is known to exist.
Until this bug is fixed, I think it's reasonable to write the following in the Profile.

[code]

If the pipeline is to be used, write this
[code]

[2020-09-20 10:22] jamietanna commented on #1825
I was going to raise a fix for this over Hacktoberfest, but if someone gets in there before me this month, I don't mind!

(Originally published at: https://www.jvt.me/mf2/2020/09/eoo0x/)

[2020-09-20 11:41] mbana commented on #716
Thanks a lot for that. My version in `~/.zshrc` is:

[code]

[2020-09-20 12:40] jcmurray opened #1864 "Add documentation on using the 'base' remote"
### Describe the feature or problem you’d like to solve

I have a forked repo with two remotes 'origin' and 'upstream' using the standard nomenclature as you can see here:

[code]

If I want to see the issues I do the following and select the upstream (base) repo. All well and good and 'upstream' is now selected as the 'base' repo.

[code]

Now, when I did this the first time I selected the wrong

[2020-09-20 12:45] ShubhankarKG commented on #1864
If I'm not mistaken, you can use the `-R` or `--repo` flag to specify the repo you wish to see issues from.

[2020-09-20 13:05] jcmurray commented on #1864
Yes, but you can't alter the 'base' aka 'default' remote that you originally chose, perhaps in error, without messing with the local git config settings. It's tedious to have to use `-R` / `--repo` when simply documenting how to fix the 'base' setting would circumvent that.

[2020-09-20 13:32] Emojigit opened #1865 "Allow to control comments in an issue/a pr"
### Describe the feature or problem you’d like to solve

I am finding a way to make anything into gui, but i still can't comment an issue on CLI.

### Proposed solution

The github cli tools can add a comment issue feature, that work like this:
 - Use `gh issue comment <ID>` To comment an issue
 - Use `gh pr comment <ID>` To comment a pr
 - Use `gh issue list-comment <ID>` to list all comments in

[2020-09-20 14:23] dfireBird commented on #847
I was using a offline fork with aforementioned feature with a prompt for sometime. If it's okay can I open a PR?

[2020-09-20 16:42] TaherAltay opened #1866 ""...""
# Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

## Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### ###Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

# Logs

Paste the activity from your command line. Redact if n

[2020-09-20 17:13] vigneshashokan commented on #1866
@TaherAltay Can you give me a better description for this bug and what needs to be fixed?

[2020-09-20 18:30] TaherAltay commented on #1866
#1862
#1863

[2020-09-20 19:34] LoganDark opened #1868 ""Array index out of bounds" during tab complete in fish if there are no results"
### Describe the bug

![image](https://user-images.githubusercontent.com/4723091/93720369-64be6e80-fb3d-11ea-977a-1efdca2b5146.png)

### Steps to reproduce the behavior

1. Install fish completions `gh completion --shell fish > ~/.config/fish/completions/gh.fish` & restart fish
2. Type `gh t` (or something else that will have no results)
3. Tab

### Expected vs actual behavior

It should, you know

[2020-09-20 19:42] edualb commented on #1866
@TaherAltay I can't understand what the bug is... Do you wanna mean that we need to do a better description?

[2020-09-20 20:07] opdavies opened #1869 "`pr create` assumes local branch name"
### Describe the bug

I have a workflow where I work on a branch (e.g. `document-feature-flags-GH-401`) locally and add a prefix when pushing it to GitHub (e.g. `opdavies-document-feature-flags-GH-401`). This means that in most cases, my local branch name does not match the remote branch name, but the local branch is tracking the remote branch.

For example, if I run `git branch -vv`:

[code]

In

[2020-09-20 20:12] sethfri commented on #1859
Ah, thank you @zacanger! It looks like `gh pr status` is actually the command I was looking for. Closing this

[2020-09-20 20:12] #1859 closed, assigned to nobody

[2020-09-20 20:34] n856 opened #1870 "ส่งคำขอ"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-20 20:45] lfaveur opened #1871 "error auth"
### Describe the bug

I cant auth myself. This is my version :
gh version 1.0.0 (2020-09-16)
https://github.com/cli/cli/releases/tag/v1.0.0

### Steps to reproduce the behavior

1. gh auth login --hostname lfaveur
2. I choose login with a web browser
3. When i choose it :

<img width="603" alt="Capture d’écran 2020-09-20 à 22 43 28" src="https://user-images.githubusercontent.com/20400434/9372181

[2020-09-20 21:33] n856 opened #1872 "แก้ไขปัญหา"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-20 21:51] n856 commented on #1872
แก้ไขปัญหา # 1872

[2020-09-20 22:25] #1872 closed

[2020-09-21 03:21] KureYv opened #1873 "https://cli.github.com typo"
At the bottom of the page
![image](https://user-images.githubusercontent.com/58238450/93730742-ef33bc00-fb97-11ea-806f-8390e7f74329.png)
It says download for windows, I'm pretty sure it should be download for macOS as it's a msi file.

[2020-09-21 03:48] ShubhankarKG commented on #1873
MSI files are for windows, right?

https://en.wikipedia.org/wiki/Windows_Installer

[2020-09-21 03:50] KureYv commented on #1873
Woops my bad

[2020-09-21 03:50] #1873 closed, assigned to nobody

[2020-09-21 05:33] #1866 closed

[2020-09-21 05:33] #1870 closed

[2020-09-21 06:20] sherlocksecurity opened #1874 ""><img src=x onerror=alert(234)>"
"><img src=x onerror=alert(!34)>﻿

[2020-09-21 06:20] #1874 closed, assigned to nobody

[2020-09-21 07:30] Zaph-x opened #1876 "GH CLI does not label correctly when using issue templates"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

When creating an issue through the github CLI, you get the opportunity to select an issue template.
This issue template should also assign labels. if applicable as it does on the website, however the CLI does not do this.

[code]
### Steps to reproduce the behavior

1. Enter command

[2020-09-21 08:49] mislav commented on #1876
Thank you for reporting! Duplicate of https://github.com/cli/cli/issues/875

[2020-09-21 08:49] #1876 closed, assigned to nobody

[2020-09-21 08:56] mislav commented on #1871
Hi, we don't know much about your Enterprise host or the way it's set up. Could you tell us more? Does your host need a custom certificate to access?

We are aiming to support specifying custom certificates in a future version https://github.com/cli/cli/issues/1735

[2020-09-21 09:05] mislav commented on #1869
Thank you for reporting!

For now, I think the upstream configuration will be detected if the branch is fully pushed before calling `pr create`. So you might need to do `git push && gh pr create` as a workaround.

[2020-09-21 09:06] DanPurdy commented on #1815
Just to add to this i came looking for this before selecting the paste an authentication token only to then see it would of told me on the subsequent option page (didn't actually select auth token until i know what access it needed). Would be good to add this messaging pre selecting that option if possible at a minimum. And yeah adding to the docs page after the bit about git auth login would prob

[2020-09-21 09:07] Mr-istov commented on #1820
In the new version `1.0.0` they have changed the implementation for `gh pr create`: https://github.com/cli/cli/pull/1706
Quote from the PR: `We no longer try to guess which is a suitable push target for the "head" branch. Instead, unless the user has already fully pushed their branch, we always present the user with a prompt:`
`We never fork nor push without explicit user agreement anymore.`

[2020-09-21 09:19] mislav commented on #847
@dfireBird Sure, I'd like us to address this is the next feature release! A PR that adds a prompt would be welcome. I'm also thinking that something like a `--remote-name` flag for automation would also be great.

[2020-09-21 09:21] mislav commented on #1848
Thank you for the report! We've been made aware of this failure and fixed it in trunk https://github.com/cli/cli/pull/1738

However, we haven't tagged a release with this yet. You may use the PR as a patch for your package. 👍

[2020-09-21 09:21] #1848 closed, assigned to nobody

[2020-09-21 09:21] #1844 closed, assigned to nobody

[2020-09-21 09:22] whitespacecode opened #1879 "Dit is een testje"

[2020-09-21 09:23] #1879 closed, assigned to nobody

[2020-09-21 09:26] mislav commented on #1864
Thank you for sharing your workaround, and sorry for the lack of transparency around this! We briefly considered the possibility that someone might choose wrong, but we didn't have time to implement a solution for that for v1.0. We will definitely aim to improve this in a next release 🙇

[2020-09-21 09:28] ShubhankarKG commented on #1864
I found out that this lack of prompts is going to be an issue in every command that faces the dilemma of remotes. Should `gh` prompt everytime? Or should there be an option that removes the "memory" part ?

[2020-09-21 09:28] mislav commented on #1865
Hi, we are already tracking supports for comments in older issues:
adding comments https://github.com/cli/cli/issues/517
listing comments https://github.com/cli/cli/issues/1009

Editing and deleting comments will come later, so I'm going to close this ticket as a duplicate for now.

[2020-09-21 09:28] #1865 closed, assigned to nobody

[2020-09-21 09:40] dfireBird commented on #847
I don't know go yet! So I just copied and pasted previous code from the repository for the prompt and I had some itty hack I did! I will make sure to correct it and open a PR.

[2020-09-21 09:56] ibrahiimelsaber opened #1881 "Vscode Config with Project"

[2020-09-21 10:14] doi-t commented on #364
Awesome! I tested it with `trunk` branch and the gray color is now nicely printed out. 🤩

[2020-09-21 10:27] potatoqualitee commented on #1835
That was perfect, thanks so much!

[2020-09-21 10:27] #1835 closed, assigned to nobody

[2020-09-21 10:40] diversemix commented on #1281
@vilmibm - Thanks so much :tada:

[2020-09-21 11:54] QMHTMY opened #1883 "The design of gh"
# CLI Feedback

I want to know the structure of gh, if there are some layers in gh? I've read the README file, but without any design or structure docs of gh.

I am wondering if somebody could add some structure details about the gh?

Thanks a lot!

[2020-09-21 13:32] bruno-gelb opened #1884 "Add gh pr comment """
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-21 13:35] bruno-gelb opened #1885 "Add "gh pr <number> comment <text>" command"
### Describe the feature or problem you’d like to solve

Add a command for commenting pull requests. Sometimes you need that.

### Proposed solution

I suggest **gh pr <number> comment <text>** syntax.

### Additional context

The example use-case for me would be **gh pr 64 comment @dependabot recreate**.

[2020-09-21 14:01] mislav commented on #1883
Hi @QMHTMY, could you explain more about what do you mean by "structure"? For example, are you talking about a help overview where you can see the structure of all commands and subcommands https://github.com/cli/cli/issues/1734, or did you expect the online documentation in a different format?

[2020-09-21 14:01] #1831 closed, assigned to nobody

[2020-09-21 14:07] mislav commented on #1836
Thanks @zacanger @samcoe.

@R4356th The build error is definitely caused by a too old version of Go. If it doesn't work after upgrading, please reopen!

[2020-09-21 14:07] #1836 closed, assigned to nobody

[2020-09-21 14:08] pulimento commented on #1262
Not anymore in beta, and WinGet is primarlily intended for devs and early adopters, so why not automate releases of this cli to that channel? Would be great

[2020-09-21 14:08] mislav commented on #1861
@h1on Hi, could you be more specific? We provide short flags for almost all command-line options. Is there something you find missing, and what would your suggested usage be?

[2020-09-21 14:11] mislav commented on #1860
Hi, that's a good idea! We'd like to allow users specifying their own fields for commands like `issue list` or `pr list` so that you can customize the output, e.g. using a format string https://github.com/cli/cli/issues/1730

I'm not sure if we're already tracking this for commands other than `gh api`, so I'm going to keep this open. 👍

[2020-09-21 14:12] AArnott opened #1886 ""gr pr checkout" fails because HEAD is not on a branch"
When inside a git repo where HEAD is not attached to a branch, I want to now check out a PR:

[code]

Why in the world shouldn't I be able to check out a PR without first checking out some random branch?

[2020-09-21 14:12] mislav commented on #1855
@AndreaPi I hear you. Sorry for the bad experience!

Adding an installer script and some instructions to the package wouldn't be hard.

[2020-09-21 14:15] mislav commented on #1886
This is definitely a bug. Thank you for reporting!

[2020-09-21 14:17] mislav commented on #1262
We can definitely reconsider this now that we had our v1.0 release and Winget seems to be rising in adoption.

If any Windows with experience with Winget would like to give us advice how to set this up, we're all ears! 🙇

[2020-09-21 14:19] mislav commented on #1884
Thank you! Duplicate of https://github.com/cli/cli/issues/517

[2020-09-21 14:19] #1884 closed, assigned to nobody

[2020-09-21 14:19] mislav commented on #1885
Thank you! Duplicate of https://github.com/cli/cli/issues/517

[2020-09-21 14:19] #1885 closed, assigned to nobody

[2020-09-21 14:21] bruno-gelb commented on #1884
@mislav is it a duplicate of it though?.. pull request != issue

[2020-09-21 14:22] bruno-gelb commented on #1884
thank you, sorry for the duplicate.

[2020-09-21 14:23] mislav commented on #1881
Hi, I'm guessing this is a suggestion to check in the default VS Code config in this repository? That _could_ be useful, but apart from the ability to suggest the recommended extensions (that would be only the "Go" extension), I can't think of anything that we would include in this config file, since our project plays well with VS Code defaults.

[2020-09-21 14:25] mislav commented on #1864
@ShubhankarKG Prompting for base repo every time would quickly become exhausting, I think. Perhaps we should give users more option to control the resolution step or clear out the cache.

[2020-09-21 14:29] mislav commented on #1820
Hi @jharshman, thank you for reporting! Did you happen to already push the `conftest-app-metrics` branch to a remote before running `pr create`, and if so, to which remote did you push it to? Did the branch have extra commits on top of the base `master` branch?

[2020-09-21 14:33] mislav commented on #1745
@natdempk I see; really interesting point! When you paste a full URL to a repository, we assume that we should use the clone protocol from the URL, rather than respecting your default, but I can see how that was surprising to you. We will reconsider this default.

[2020-09-21 14:37] mislav commented on #1850
Thank you for the detailed feature request! This is a duplicate of https://github.com/cli/cli/issues/659, so I'm going to close this as such, but we are definitely going to keep the concept of inboxes in mind 👍

[2020-09-21 14:37] #1850 closed, assigned to nobody

[2020-09-21 14:38] mislav commented on #1841
Thank you for reporting! This was known for a while, but we're still trying to figure out a solution. Duplicate of https://github.com/cli/cli/issues/703

[2020-09-21 14:38] #1841 closed

[2020-09-21 14:39] mislav commented on #1845
Excellent point. Thank you!

[2020-09-21 14:43] mislav commented on #1822
@negebauer Thank you for reporting! I'll try to reproduce this, but in the meantime, I would suggest that if your pager works in a normal terminal, this might be a problem with the integrated terminal. We don't do anything magic other than pipe the standard output of `gh` to a program indicated in $PAGER.

[2020-09-21 14:47] mislav commented on #1830
Hi, you can easily link a PR to an issue if you mention that issue by `#<number>` or its URL in the body of the pull request. E.g.

[code]

We won't be adding features to link an issue via a command-line flag to `pr create` at the moment, as we feel that it's not needed when the body text method is easily available and hopefully widely understood by our users.

[2020-09-21 14:47] #1830 closed, assigned to nobody

[2020-09-21 14:47] negebauer commented on #1822
Maybe it has something to do with the colors? Tried out other commands

`gh repo view | less`
`gh repo view | less --tabs=4 -RFX` (my `$PAGER` is `less --tabs=4 -RFX`)

And those work correctly.
Should I also open an issue in the vscode repo?

[2020-09-21 14:48] a5anka commented on #1820
@mislav  I also observed the same issue when I pushed to `origin` before creating the PR.

Steps,
1. git checkout -b feature-foo upstream/master
2. git commit -am "Test commit"
3. git push -u origin feature-foo
4. gh pr create --fill

Hope you can also reproduce the issue following the above steps.

[2020-09-21 14:49] GV14982 commented on #1830
You know I feel really dumb, I completely forgot about that feature. Thanks!

[2020-09-21 14:49] QMHTMY commented on #1883
#1734 is ok! thanks @mislav

[2020-09-21 14:56] ros4s commented on #1861
The short flag of the --version option is missing

[2020-09-21 15:03] thomthom commented on #1262
I'm just getting started using Winget and haven't created a package, but I would think that a GitHub action could create a PR to update the package information in the package register:

https://github.com/microsoft/winget-pkgs/tree/master/manifests/GitHub/clil

Maybe trigger when a tag is marked or a Release is created?

[2020-09-21 15:16] jcmurray commented on #1864
I'd agree that being continually prompted for a base repo would be a disincentive to use `gh`. I think a minimal resolution would need the:

1. Ability to query the current repo's 'base' remote setting,
1. Ability to clear the current repo's 'base' remote setting.

Keep it as simple as possible since I think that `gh` is about simplicity and convenience.

[2020-09-21 15:21] ShubhankarKG commented on #1864
Perhaps

[code]
?

Then, when the prompt configures a default, we can say
[code]
Or something along those lines.

[2020-09-21 15:58] vilmibm commented on #1797
To be clear; have the folks having issues added our repository before running `apt update` or `apt install`?

https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-raspberry-pi-os-apt

[2020-09-21 16:04] jharshman commented on #1820
@mislav I verified this issue in two ways. The first being allowing the cli to prompt me for which remote to push to, and the second being the way @a5anka described above. In both cases the fork was used and resulted in the same error message.

[2020-09-21 17:21] #1883 closed, assigned to nobody

[2020-09-21 17:25] maxice8 commented on #1848
[Thanks](https://gitlab.alpinelinux.org/alpine/aports/-/commit/a0da2a40ae4dc2e7c7f90bfe5e50e5c39fc35579)

[2020-09-21 17:26] vilmibm commented on #1855
Dupe of #1794

[2020-09-21 17:26] #1855 closed, assigned to nobody

[2020-09-21 17:28] vilmibm commented on #1861
That's intentional; we're reserving `-v` for something like verbosity in the future and `-h` is used for `host` in some commands, so we keep `--help` explicit (especially since you can run `gh help`)

[2020-09-21 17:28] #1861 closed, assigned to nobody

[2020-09-21 17:30] vilmibm commented on #1842
Thanks for the suggestion!

I see the merit in this idea, but I think this is more of an enhancement for github.com that we could then build on given new APIs. It's not a feature we on the CLI team could realistically add for quite a while, so I'm going to close this for now.

[2020-09-21 17:30] #1842 closed, assigned to nobody

[2020-09-21 17:32] ThiefMaster commented on #1842
The API to convert an issue (you created) to a PR already exists for a long time...

[2020-09-21 17:32] vilmibm commented on #1839
Thanks for the suggestion.

I'm curious what the underlying usecase is, here; what is the disadvantage to pulling using SSH if it's already configured for a given repository? I want to understand in case there is more refinement to our settings  that is needed.

[2020-09-21 17:53] fivepapertigers commented on #1637
Worked! thank you very much

[2020-09-21 18:24] brlin-tw commented on #328
@casperdcl
Please enable the issue tracker in the fork project and set its URL to the [Contact Casper](https://github.com/cli/cli/issues/new/) link under the [store page](https://snapcraft.io/gh).

This should (to a certain degree) avoid snap users from reporting issues to the upstream tracker, where they are currently not responsible for.

From a snap packager passing by with :heart:.

---

Siden

[2020-09-21 18:28] vilmibm commented on #1838
Thanks for offering to help!

For now the manual site is not open source; this is more of a technical problem than anything else relating to GH Pages. Most of the content of the docs, though, is generated from gh's source code through the various `Command` definitions.

[2020-09-21 18:28] #1838 closed, assigned to nobody

[2020-09-21 18:29] obriencj commented on #1839
`git pull` over ssh will authenticate, while over https it will not.

The user story is essentially that pull should not prompt for a password, but push should -- and while I could use basic auth against https, I prefer push via ssh. So I use https for the url, and ssh for the pushurl.

[2020-09-21 18:51] jcmurray commented on #1864
I'm minded not to pre-empt a specific solution but to let the `gh` developers come to a suitable use case/syntax that fits in with their `gh` cli command design and with any other enhancement requests they need to take into account to solve the issue I initially raised and hope these comments help them understand the issues.

Just a couple of observations for the record though:

- The `get` matche

[2020-09-21 19:11] opdavies commented on #1869
Hi @mislav. This doesn't seem to be the case for me.

I've just tried it with `gh` v1.0.0, and it still assumes that the local branch name matches the remote one.

If I check `git log`, I can see both refs listed:

    commit 17a5a9592a0fcb27ad54eb42d8c35544728b93a4 (HEAD -> export-google-tag-config, origin/opdavies-export-google-tag-config)

[2020-09-21 19:58] #1768 closed, assigned to nobody

[2020-09-21 20:52] #377 closed

[2020-09-21 20:52] #1702 closed, assigned to nobody

[2020-09-21 21:09] avatar-lavventura opened #1887 "gh pr status redirects into less without color"
I believe `gh pr status` redirects output into `less` doesn't providing coloring instead writes ascii characters. How can I fix it? can I also redirect it into `emacs` ? Please note that even my `EDITOR` variable is `emacsclient -t`, `less` is considered.

[code]

[2020-09-21 21:20] casperdcl commented on #328
Er @Lin-Buo-Ren I don't think you realise that the "Contact Casper" link actually just redirects to the issue tracker in this (upstream) repo.

Will sort this out.

[2020-09-21 21:21] casperdcl commented on #328
here we go: https://github.com/casperdcl/cli/issues/new/choose

[2020-09-21 21:35] #1771 closed, assigned to nobody

[2020-09-21 22:08] vilmibm commented on #1839
I understand the differences from an auth flow point; I'm still curious what the advantage to pulling over HTTPS is if SSH is an option. I prefer SSH as well, but I pull and push using it since from my perspective pulling via SSH is functionally equivalent to pulling via HTTPS.

[2020-09-21 22:14] vilmibm commented on #1887
Sorry about this; I'm not able to reproduce, however.

Just to clarify, I'm guessing this is happening when `gh pr status` won't fit in your terminal and `$PAGER` is opened automatically?

If so, what is the value of `$PAGER` in your environment?

Also, are you running version 1.0 of gh?

[2020-09-21 22:33] mmontes11 commented on #1886
Here it is a fix for this issue:
https://github.com/cli/cli/pull/1889

[2020-09-22 01:51] Lucaslah commented on #1797
Good Point.
Try this:
[code]
Found this form Install Docs. (Ubuntu/Debian using `apt`)

[2020-09-22 05:27] sethfri opened #1890 "All commands return no output"
### Describe the bug

I just installed `gh` on my work machine using Homebrew, and no commands are returning output for me. It works just fine on my personal machine though. I'm not sure how to go about getting more information for this bug report since I can't get any output.

This easily could just be something wrong with my machine's configuration, but without any error diagnostics from `gh`, i

[2020-09-22 05:48] ShubhankarKG commented on #1864
Totally agreed on the _remote_ part, just that I couldn't come up with a better name at the time of writing.

On the `set` part, if we have the `reset` functionality, we will have to prompt again the next time this pops up. The benefit with `set` would be that we can change the config to something, rather than leave it empty.

[2020-09-22 06:59] samcoe commented on #1887
I believe what is happening here is that the pager, `less`, has a configuration that does not include the `-R` flag. Along with the value of `$PAGER`, what is the value of `$LESS`?

Can you try running `LESS=FRX gh pr status`?

[2020-09-22 10:12] jcmurray commented on #1864
I don't have any problem with the prompt. It keeps things simple; I do it once ( as long I get the selection right :-) ) and I don't have to worry about getting a URI wrong by mis-typing or cut/paste since it has to be one of the remotes from `git remote -v`. If you want to discuss the 'tty prompt' in more general terms feel free to open an issue about it specifically.

[2020-09-22 10:14] mmontes11 commented on #1825
Fix for this issue:
#1893

[2020-09-22 12:01] samcoe commented on #1868
Thanks for opening this issue. We have seen a couple issues related to auto completion across various shells recently. Unfortunately, they are auto generated by our underlying CLI library [cobra](https://github.com/spf13/cobra). From recent activity on that library it seems like the auto completion generation has been completely overhauled but there has not been an official release including those

[2020-09-22 12:28] baywet opened #1894 "CLI v1.0 triggers windows defender for Worm:Win32/Yuner.A"
### Describe the bug

A couple of days ago I upgraded my CLI to v1.0 using winget `winget install --id GitHub.cli -e`.
For reference, [here is the manifest](https://github.com/microsoft/winget-pkgs/blob/master/manifests/GitHub/cli/1.0.0.yaml) it installed.

After digging around, I found that windows defender had quarantined gh.exe because it detected it *contained* [Yuner.A](https://www.microsoft.

[2020-09-22 12:32] andrewtremblay opened #1895 "Upload and Embed Files to PRs / Issues / Comments"
### Describe the feature or problem you’d like to solve

Many PRs benefit from having screenshots or gif recordings in their body to provide more visual context of what code changed.

### Proposed solution

Add the ability to upload files (specifically images) via the CLI so that they may be added to PRs and other content, either via one of the interactive shell commands (`gh pr create`) or throug

[2020-09-22 12:41] LoganDark commented on #1868
Can you at least leave the issue open until it's actually fixed?

[2020-09-22 13:00] rnystrom commented on #1894
Thanks for this report. We contacted Microsoft to figure out why Windows Defender is incorrectly identifying the `gh` as Worm:Win32/Yuner.A. Sorry for any confusion. We will report back ASAP!

[2020-09-22 13:00] craig-jennings commented on #1894
When clicking on the download link on the Releases page, I get a similar result:

![image](https://user-images.githubusercontent.com/1683368/93885390-b257ea00-fca9-11ea-811b-c136365f9cfd.png)

[2020-09-22 13:07] jessehouwing commented on #1894
@martinwoodward

[2020-09-22 13:15] oracle3987 commented on #1777
Please explain what was inputted in words than code I am not understanding
. I'm working on it as well as tell me why your doing this

On Fri, Sep 18, 2020, 11:14 AM Amanda Pinsker <notifications@github.com>
wrote:

[2020-09-22 13:24] archiloque opened #1896 "Support custom local pr merge strategies"
### Describe the feature or problem you’d like to solve

In Hub I'm able to merge a pull request locally in the current branch without changing the pull request using `hub merge` https://hub.github.com/hub-merge.1.html .

I'm using it to make new PRs available for testing in a staging environment before merging them. It enables us to test several PRs instead of creating a new environnement for eac

[2020-09-22 13:43] mislav commented on #1894
Thank you for reporting! We've also had the experience with hub.exe (another GitHub API client written in Go) being [erroneously flagged as malware as well](https://www.virustotal.com/gui/file/89006aa9978b9c3d8f9d6ec173b86d5d595a864e299c9c94f34f2e23603d4ea7/detection)

These are all false positives, but it looks like something about Go binaries triggers these malware detection heuristics, since th

[2020-09-22 13:49] mvdan commented on #1820
I can confirm this issue. I too had fully pushed my branch to my fork via `git push -f -u mvdan`, yet `gh pr create --fill` would still fail like in the original post. I had to give it all the explicit flags to make it work: `gh pr create --fill --base=master --head=mvdan:less-debugdir`.

[2020-09-22 13:54] mislav commented on #1813
@ian-kelling I can see your point of view. Our phrasing might have sounded like we meant FOSS. We did not deliberately want to appropriate the FOSS terminology for something that is clearly not FOSS (GitHub's own products).

However, we did want to indicate that our product is free (of charge) and that it's technically open source, and “free and open source” is what we happened to come up with now

[2020-09-22 14:17] mislav commented on #1868
@LoganDark Good point. We'll leave this open until we update Cobra.

[2020-09-22 14:18] nightpool opened #1897 "gh pr create fails when branch name contains whitespace"
### Describe the bug

When a branch name contains whitespace (Git allows all whitespace characters except ASCII space), `gh pr create` cannot compute title or body defaults (**EDIT**: and, in fact, cannot create the PR at all)

### Steps to reproduce the behavior

1. `git checkout -b "fix 2s score"`
2. `touch new-file && git commit -a -m "new file" && git push`
3. `gh pr create`

### Expected vs a

[2020-09-22 14:27] ScottChapman opened #1898 "Search for issues with specific titles"
### Describe the feature or problem you’d like to solve

Need to be able to find issues that have a specific title (extra credit would be to support a regexpr)
### Proposed solution

Can quickly determine if a specific issue already exists without having to search for all issues.
### Additional context

[2020-09-22 14:35] nightpool commented on #1897
Also, `gh` managed to create a branch that wasn't viewable or deletable on the GitHub website.

<img width="1229" alt="image" src="https://user-images.githubusercontent.com/233815/93896648-29e44400-fcbf-11ea-91f4-81983211f51b.png">

Clicking on the "fix�" branch led to a 404 page. Clicking the delete button did nothing.

I had to use this shell command to recreate the broken unicode to delete the

[2020-09-22 14:43] mislav commented on #1896
@archiloque We already provide `gh pr checkout`. If we also provided a way to programmatically retrieve the base branch of a PR, would that be enough for you to script `git merge` for your purposes?

I think that it will be less likely that we would add a dedicated command to create a local merge.

[2020-09-22 14:45] bhrutledge commented on #1820
*Possibly related (or not, in which case I'm happy to file a separate issue).*

I'm seeing similar behavior from `gh pr create --web`, for a branch that was previously pushed to `origin`.

For example:

[code]

I would have expected:

[code]

I can achieve that with:

[code]

This changed with the upgrade to 1.0, i.e., I was seeing the expected behavior in the last version.

[2020-09-22 15:23] Band-Aid opened #1899 "Windows Defender recognizes GH as trojan"
### Describe the bug

Windows Defender has recognized gh as a trojan:

### Steps to reproduce the behavior

Downloaded gh via scoop
scoop install gh

### Expected vs actual behavior

Trojan:Win32/Wacatac.DD!ml
Windows Defender has recognized gh as a trojan:
: C:\Users\%user%\scoop\apps\gh\1.0.0\bin\gh.exe

Is this expected?

[2020-09-22 15:28] mislav commented on #1890
Thank you for reporting! This is so weird. Could you try `DEBUG=1 gh issue list` and see if there is any extra output at all?

[2020-09-22 15:30] fdcds opened #1900 "Remember choice for "Where should we push the ... branch?""
### Describe the feature or problem you’d like to solve

Whenever I run `gh pr create ...` I am being asked "Where should we push the ... branch?"  My answer is always the same.

### Proposed solution

`gh pr create` should remember my choice and not prompt me again.

[2020-09-22 15:30] mislav commented on #1899
Thank you! Duplicate of https://github.com/cli/cli/issues/1894

[2020-09-22 15:30] #1899 closed, assigned to nobody

[2020-09-22 15:31] martinwoodward commented on #1894
The Microsoft Windows Defender team have indicated that they have cleared the false detection.  Windows Defender updates will usually come down automatically. However if you want to manualy update then the Microsoft team advised that you do the following to clear cached detection and obtain the latest malware definitions from them.

1. Open command prompt **as administrator** and change directory

[2020-09-22 15:34] mislav commented on #1839
@obriencj I'm thinking that for you as a power user, this behavior makes sense, but I'm not sure if this would be great as a feature that we offer to our users, as it could cause confusion and might end up in difficult-to-debug cases.

For example, if someone had HTTPS configured as pull protocol (so they don't have to authenticate) and SSH for push, which protocol should gh use when `gh repo clon

[2020-09-22 15:35] baywet commented on #1894
thanks @martinwoodward this seems to do the trick for me.
@rnystrom do you want me to close the issue or leave it open for visibility?

[2020-09-22 15:36] mislav commented on #1900
Thanks! Duplicate of #1718

[2020-09-22 15:36] #1900 closed, assigned to nobody

[2020-09-22 15:38] mislav commented on #1894
@baywet Let's please leave this open for visibility for a couple of days. 🙇

[2020-09-22 15:44] cristiand391 commented on #1868
I've tested fish completions with fish 2.7.1 and it throws a different error:
[code]

But they work with fish 3.1.0:
[code]

It seems to be a [fish issue](https://github.com/fish-shell/fish-shell/commit/44f2f37bd45ad5c933d49247530226b41e0c74ca) rather than a cobra one, which version of fish are you running?

[2020-09-22 15:46] LoganDark commented on #1868
2.4.0... Are you saying that 3.1.0 is the latest? wow...

[2020-09-22 15:48] mislav commented on #1762
@heaths The base repo setting can be reset with:
[code]

[2020-09-22 15:51] LoganDark commented on #1868
Upgrading `fish` to 3.1.2 fixed the issue. Unfortunate homebrew is an opinionated mess and decided to helpfully delete the old version instantly, so I can no longer test with it.

[2020-09-22 15:53] LoganDark commented on #1868
Closing because this isn't an issue with `gh`

[2020-09-22 15:53] #1868 closed, assigned to nobody

[2020-09-22 15:58] jessehouwing commented on #1894
Does it make sense to close, but pin it? That should make it visible, but also highlight the problem has been solved.

[2020-09-22 16:23] obriencj commented on #1839
well, what would happen if someone did a `gh repo clone` with their protocol set to https today?

I'd expect the same behavior for the clone without regard for the git_push_protocol setting. I'd only expect git_push_protocol to have an impact in setting the pushurl remote after the clone was completed using the normal behavior.

[2020-09-22 16:29] mislav commented on #1820
Thank you for all the info! I'm thinking that this might be related or identical to https://github.com/cli/cli/issues/1762

[2020-09-22 16:30] vilmibm commented on #1762
We have an issue for `gh config list` ( #859 ) but it's worth noting that here the relevant config is stored with git's config, something we do for per-repository settings.

I think in addition to anything like `gh config list` we ought to have a new help topic (like we did for env) that enumerates not just what gh supports internally but what config we rely on in git config.

[2020-09-22 16:31] biofool opened #1901 "Unable to add-repository"
### Describe the bug
On ubuntu 18 add-repository is part of software-properties-common

A clear and concise description of what the bug is. Include version by typing `gh --version`.
 sudo apt-add-repository https://cli.github.com/packages
fails after following installation instructions on ubuntu 18

 ### Steps to reproduce the behavior

1. Type this '...'
sudo apt-add-repository https://cli.github

[2020-09-22 16:35] vilmibm commented on #1901
sorry for the confusion, please see the third note here: https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian-ubuntu-linux-apt

[2020-09-22 16:35] #1901 closed, assigned to nobody

[2020-09-22 16:39] #1825 closed, assigned to nobody

[2020-09-22 16:42] #1886 closed, assigned to nobody

[2020-09-22 16:54] vilmibm commented on #1897
I had no idea until now that git branches could contain any kind of whitespace; I'm guessing this isn't the only place where we'd break on such a branch.

[2020-09-22 16:57] mislav opened #1903 "[Tracking] Branch push target detection for pr create"
* [x] Wrong branch name assumed for `pr create` https://github.com/cli/cli/issues/1869
* [x] Wrong head branch for `pr create` (GraphQL error) https://github.com/cli/cli/issues/1820
* [x] Wrong remote detected as push target for branch https://github.com/cli/cli/issues/1762
* [ ] Detect push target for local branches without upstream configuration https://github.com/cli/cli/issues/575
* [x] Branch

[2020-09-22 17:29] chandrikadeb7 commented on #1734
A help command should list all possible sub commands with their possible uses and syntax

[2020-09-22 17:39] jmagnuson commented on #1822
Not using VSCode, but seeing this as well (repro using SSH, with and without tmux). `gh pr list` scrolls as expected (can use, `j`/`k`, `q`, etc.), but things like `gh repo view` or `gh pr view` fail to scroll properly.

[code]

Hitting `Enter` to scroll each line kind of works, but leaves a trail of line numbers in between each line:

[code]

And if I make it to the end of the `less`, my terminal

[2020-09-22 17:40] jharshman commented on #1820
@mislav interestingly enough, it functioned as expected when the CLI was used to create the fork as well.

[2020-09-22 17:48] mislav commented on #1897
@nightpool Which kind of space did you use in your steps for reproduction? I only see ASCII character 32 used for space in your above instructions, but as you pointed out, git does not allow that character in branch names.

[code]

[2020-09-22 17:51] happiness801 commented on #1540
Great to hear that `gh` will be available by default to Actions cloud runners, however, what would be the best way to make `gh` CLI available on self-hosted runners? I think this is the use case for something like `actions/setup-cli`.

[2020-09-22 18:07] nightpool commented on #1897
I used U+00A0 Non-Breaking Space.

[2020-09-22 19:41] risung opened #1904 "gh.exe is deleted on execution"
### Describe the bug

**gh Version:** 1.0.0
**Git Bash (mintty) Version: 3.2.0**
**OS:** Windows 10, x64 (Bootcamp from MacBook Pro)

Suddenly I was prompted with error:
[code]
Upon checking, the file was in fact gone. Using the [msi installer](https://github.com/cli/cli/releases/download/v1.0.0/gh_1.0.0_windows_amd64.msi).

****
1. I uninstalled and reinstalled gh cli. I tried making another pull

[2020-09-22 19:59] tierninho commented on #1904
@risung Thank you for the report. Please note we are tracking this at https://github.com/cli/cli/issues/1894.

[2020-09-22 19:59] #1904 closed, assigned to nobody

[2020-09-22 20:49] cjdenio commented on #1725
Seems like this would be simple enough through the use of [this API method](https://docs.github.com/en/rest/reference/actions#create-a-workflow-dispatch-event). I'd be glad to start development on this if/when y'all decide it's a desired feature! I know that I personally would benefit from it.

[2020-09-22 21:07] Menelion opened #1905 "Support Custom SSH Config"
### Describe the feature or problem you’d like to solve
I have a custom SSH key set for Github and a corresponding entry in my `config` file for SSH, i.e.:
[code]

What I would like to have in CLI is to be able to set this key as the SSH key for Github in `gh config`.

### Proposed solution
There are two possibilities:

* Adding another config parameter with a path to the SSH key, or
* Provide the

[2020-09-22 21:28] jnyjxn opened #1906 "Add support for Ubuntu 16.04"
### Describe the feature or problem you’d like to solve

The repository 'https://cli.github.com/packages xenial Release' does not have a Release file.

### Proposed solution

Add support for Ubuntu 16.04 by adding a xenial Release.

### Additional context

When following Linux (Ubuntu) instructions [here](https://github.com/cli/cli/blob/trunk/docs/install_linux.md) on a Ubuntu 16.04 machine, insta

[2020-09-22 23:10] vilmibm commented on #1906
The release file exists: https://cli.github.com/packages/dists/xenial/Release

- did you add the key? probably unrelated, just want to be thorough
- what architecture are you on?

[2020-09-22 23:11] vilmibm commented on #1905
Thanks!

I'm not sure I entirely understand; is your goal to avoid adding a github entry to `.ssh/config` and instead have `gh` instruct git what to use when ssh'ing?

[2020-09-22 23:12] vilmibm commented on #1725
Thanks for the offer, @cjdenio . We're hoping to plan a suite of behaviors around actions and are still designing that so we're not looking for community contributions there. That said, please do feel free to experiment with `gh api` and `gh alias` and share any stopgap hacks you come up with while we work on the official implementation.

[2020-09-22 23:15] vilmibm commented on #1734
I think it's important to keep the current help pages succinct; but I'd potentially be open to a `gh help reference` help topic that enumerates every command and subcommand so folks can grep it and then look up specific help docs once they know what subcommands are there. I'm curious what @ampinsk thinks.

[2020-09-23 03:28] ArvindAROO opened #1907 "Ability to initialize repo with .gitignore and license"
### Describe the feature or problem you’d like to solve
Since we can now do everything we can from CLI, it makes no sense to open a browser for any tasks, no matter how simple it is.
Right now we cant use default templates for `.gitignore` or `LICENSE`, since there is no such option. We have to download from internet or use from a previous one, which is quite tedious or boring or straight up a bad

[2020-09-23 04:41] spywhere commented on #641
Meanwhile, should you guys want to try, I have made my shell command (backed by `gh api`, `jq`, `awk` and `sed`) to support a search query. Feel free to take a look!

https://github.com/spywhere/dotfiles/blob/ed7843c77d71e2cd0e7c6696fe4b50ac7591fb50/bin/ghs

<img width="688" alt="1FB4EAFF-EB96-4FA4-B50E-D1F3CE3B99F3" src="https://user-images.githubusercontent.com/1087399/93967505-90d22d80-fd91-11e

[2020-09-23 04:45] spywhere commented on #517
Meanwhile, should you guys want to try, I have made my shell command (backed by `gh api`, `jq`, `bat`, `awk` and `sed`) to support viewing the whole issue thread (PR also supported). Feel free to take a look!

https://github.com/spywhere/dotfiles/blob/cea7ee0d0f192fa95c02329ff9db05c0a06ad5dd/bin/tkcm

Mind that it required some files to function (which is available on the same directory), should y

[2020-09-23 05:53] jstangroome opened #1909 "cli v1.0.0 regressed push.default behavior since v0.12"
### Describe the bug

Prior to v1.0.0, executing `gh create pr -w` in an environment where `git config push.default current` has been set would result in the local branch being immediately pushed to the remote using a matching branch name, even if the remote branch did not yet exist.

As at v1.0.0, `gh create pr -w` for a previously never pushed local branch now prompts with `Where should we push

[2020-09-23 07:14] samcoe commented on #1822
I also was having this issue so I took some time to investigate and came to a surprising conclusion.

Using Glamour's auto styling to select between light and dark theme based on terminal background color does not work for terminals that have non-standard implementations of [xterm control sequences](https://invisible-island.net/xterm/ctlseqs/ctlseqs.html).

We use Glamour's auto styling by default

[2020-09-23 07:31] archiloque commented on #1896
Yes I think it would be doable, thanks !

[2020-09-23 07:32] ImSingee opened #1910 "gh could pass token to https git operation"
### Describe the bug

I can view the private repo with `gh repo view xxx`, but if I clone it I got the following

[code]

A clear and concise description of what the bug is. Include version by typing `gh --version`.

[code]

### Steps to reproduce the behavior

1. Create a private repository in the Github Web
2. Try to clone it with `gh repo clone`

### Expected vs actual behavior

Expected: I can

[2020-09-23 07:52] mislav commented on #1734
I don't necessarily agree that the main help command should list all possible sub-command and their syntax. If we look at `man git` or `git --help`, which I think has well-designed documentation system, all possible `git *` sub-commands are not explicitly listed. Instead, individual help sub-pages are referenced, like we do in `man gh`, and the user is guided to dive into the help for specific sub

[2020-09-23 08:02] mislav commented on #1910
@ImSingee It looks like that the error was from `git clone` rather than from gh.

Can you check your `gh config get git_protocol` and see if the clone protocol matches your preference?

[2020-09-23 08:05] mislav commented on #1909
Thank you for your request! The new prompt is by design. We learned from user feedback that our users do not always want to push, or not always want to push to the same destination, and therefore we turned off the auto-push behavior.

Duplicate of https://github.com/cli/cli/issues/1718

[2020-09-23 08:05] #1909 closed, assigned to nobody

[2020-09-23 08:07] fdcds commented on #1718
For better issue search results and less duplicates:  "Where should we push the ... branch?"

[2020-09-23 08:10] ImSingee commented on #1910
@mislav Thank you for your reply.

The output from `gh config get git_protocol` is `https`.

This should be a auth issue. Though I can change the protocol to `ssh` and use my ssh key to authorize, I think the `gh` cli should automatically provide the authentication token to github server when the protocol is set to `https` and clone command is executed.

[2020-09-23 08:12] ImSingee commented on #1910
For example,  when I run `gh repo clone def` with user `abc`, `gh` command may execute `git clone https://github.com/abc/def.git` before, and should be changed to execute `git clone https://abc:token@github.com/abc/def.git` to solve the auth issue

[2020-09-23 08:17] mislav commented on #1839
The user would get asked for authentication over the HTTPS protocol. So if we consider that the user chose HTTPS for _unauthenticated_ pull and SSH for authenticated push (provided that such a configuration option is available), getting prompted for authentication over a protocol that the user _specifically_ chose to avoid authentication would be confusing, but we have no way of shielding the user

[2020-09-23 08:23] waldyrious opened #1911 "Confirm empty selection when adding metadata in `gh pr create`"
### Describe the feature or problem you’d like to solve

When creating a PR, the step to add metadata shows a list that one can pick from. More than once I've started navigating such a list and pressed Enter when the entry I wanted was highlighted, but not selected, ending up with no selection and no way to go back to the list.

### Proposed solution

A context-specific solution could be to, once

[2020-09-23 08:28] waldyrious opened #1912 "Print two spaces between the prompts and the responses"
### Describe the feature or problem you’d like to solve

After an interactive usage session (e.g. doing `gh pr create`), the result has the prompts and their responses separated with a single space, which is readable in the command line with bold text and colors, but makes it hard to discern the structure of the session when it's reproduced in a plaintext environment (e.g. when quoting it elsewher

[2020-09-23 08:41] mislav commented on #1897
Interesting: it looks like `git symbolic-ref` mangles your branch name. This is a bug in git:

[code]

On the other hand, `git branch --show-current` does not mangle the branch name, but that command is not supported on all git versions that we support in GitHub CLI.

[2020-09-23 08:47] mislav commented on #1911
@waldyrious This is great feedback. Thank you! 💖

[2020-09-23 09:32] johshoff opened #1913 "Confusing prompt for creating repos"
# CLI Feedback

## What was confusing or gave you pause?

When creating a new repo using `gh repo create` every question makes sense until the last one:

As far as I can tell from observed behavior and the [source code](https://github.com/cli/cli/blob/b08da16c9ec33a0141bf9b52608277de8c443baf/pkg/cmd/repo/create/create.go#L369), this is just a confirmation to create the repository in github and als

[2020-09-23 09:58] amymariaparker2401 opened #1914 "Mum nn"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-23 09:59] pranjalmittal commented on #1683
Hi @vilmibm, can you assign the issue to me, I will a PR for it. Thanks.

[2020-09-23 10:17] #1746 closed, assigned to nobody

[2020-09-23 10:19] #1914 closed, assigned to nobody

[2020-09-23 10:20] mislav commented on #1913
Thank you! There is room for improvement in how `repo create` works, for sure. 🙇

[2020-09-23 11:15] mislav commented on #1540
@happiness801 Something like:
[code]

You will then be able to invoke `bin/gh` in the current directory.

[2020-09-23 12:03] rowanthorpe commented on #1906
In case it is useful - this also happened to me on Debian with Sid (Unstable) configured, and is probably the same issue. The apt-add-repository command defaults to adding the repo of the latest configured (or latest configured default?) suite on your system, and in my case I have configured to install "unstable" packages. This meant the line inserted for github-cli was for the "sid" suite, but th

[2020-09-23 12:07] rowanthorpe commented on #1906
...actually, I just saw #1827 which *might* be a duplicate of this if the issue is in fact the same. For my case I also found out from there that the "unstable" branch does in fact exist, just that the symbolic name "sid" needs symlinking to "unstable" in the repo for it to work that way.

[2020-09-23 12:20] jnyjxn commented on #1906
@vilmibm
1. Yes key was added according to the instructions in the Ubuntu install instructions.
2. Architecture is x86_64 (and Ubuntu 16.04.7 LTS)

@rowanthorpe Thanks for your suggestions - though in my sources.list the entry appears as `deb https://cli.github.com/packages xenial main` - I have tried some of the other versions suggested in the issue that you've linked but none have fixed this iss

[2020-09-23 12:36] rowanthorpe opened #1916 "Debian packaging-source (deb-src) not available"
### Describe the bug

There are (apparently) no debian *source* packages in the repo. When uncommenting the commented "deb-src" line (which is injected into the apt sources.list alongside the "deb" line) and re-running apt update it throws a warning about the missing source-packages Release file.

[code]

### Steps to reproduce the behavior

1. Uncomment the deb-src line for cli.github.com in /etc

[2020-09-23 12:55] mislav commented on #1916
Thank you for pointing this out! It's not a bug that source-packages are not available, since we never promised nor intended that source-packages be available. I've reclassified this as a feature request 🙇

[2020-09-23 13:26] sriv opened #1918 "Arrow keys cause `gh` to crash"
### Describe the bug

[code]

Noticed this on Linux, Debian.

When creating a Pull request using `gh pr create`, `gh` prompts to enter `Title`, `Body` etc. If the arrow keys are pressed at this stage, `gh` errors out stating:

[code]

### Steps to reproduce the behavior

1. Create a commit against any repo, in a branch.
2. `gh pr create`
3. Enter a title, and an empty body
4. When it prompts `What

[2020-09-23 13:37] rowanthorpe commented on #1916
OK, thanks for reclassifying it (and clarifying why).

Now that it is a feature-request here is some further clarification to justify the request for whomever gets assigned to this (mentioning it now because I might forget by the time that happens):

I think it is worth (at least eventually) providing the source-packages (or at least the packaging-sources in the repo, even if a separate branch) to

[2020-09-23 14:41] hrueger opened #1919 "[Feature] Run from Windows Explorer Address Bar"
### Describe the feature or problem you’d like to solve

On windows when `Git for Windows` with `Git Bash` is installed, I can run git commands directly from the Windows Explorer Address Bar, for example like this:
![grafik](https://user-images.githubusercontent.com/18656830/94027461-2504ba80-fdbb-11ea-8e25-6c4bcad2a75f.png)

It would be cool if the GitHub CLI could be run the same way:
![grafik](

[2020-09-23 14:59] waldyrious commented on #1911
By the way, this mistake can occur when one filters and/or navigates to a specific item on a checklist with multiple visible elements, but it's even more likely when the filter text that one types results in a list narrowed down to a single item; that was indeed what led me to instinctively press Enter in the example above, and I almost did the same again just now.

In this case (a list that's bee

[2020-09-23 15:14] vilmibm commented on #1918
Sorry you're experiencing this.

I'm not able to reproduce it :(

- are you able to move the prompt cursor with ctrl+n, ctrl+p?
- what terminal emulator and shell is this? does it happen with a different terminal emulator or shell?

[2020-09-23 15:22] vilmibm commented on #1911
I do this all the time :facepalm: I know space to select / enter to accept is a standard UI pattern in a lot of ncurses-style stuff but it's been hard to adjust to for me in `gh`.

[2020-09-23 15:27] maclarel commented on #1735
This is also challenging from a troubleshooting perspective as valid certificates may not always be readily available for test systems, etc... It would be *highly* beneficial to be able to bypass this check with a config option/flag.

[2020-09-23 15:28] vilmibm commented on #1916
I'd like to do this! The only reason they aren't available is because this was my first time setting up deb/rpm repositories and I was trying to understand what the bare minimum was.

[2020-09-23 15:29] zautumnz commented on #1822
Awesome find. I just tested in [st](https://st.suckless.org/) since it doesn't try for xterm compatibility, and can confirm, it's all janky, but setting GLAMOUR_STYLE=dark fixes it.

[2020-09-23 16:05] vilmibm commented on #1912
I agree this would be a nice change but it would need to be fixed upstream in the [survey](https://github.com/AlecAivazis/survey) project; I'm going to close this for now.

[2020-09-23 16:05] #1912 closed, assigned to nobody

[2020-09-23 16:11] vilmibm commented on #1896
Seems like the `pr checkout` suggestion is :+1: so I'm closing this.

[2020-09-23 16:12] maclarel opened #1921 "More prominent information on usage with GHES"
# CLI Feedback

With the newly added support for GitHub Enterprise Server it would be beneficial to have clearer documentation on the CLI's usage with a GitHub Enterprise Server instance as opposed to GitHub.com

## What was confusing or gave you pause?

As the CLI will assume that all request should go to GitHub.com, users are understandably confused when some commands work and others do not.

Fo

[2020-09-23 16:42] mislav commented on #1896
@vilmibm Right now it's not possible to script a local merge using `gh` since we don't provide information about the base branch of the PR. I would say that this could stay open until we provide the scripting capability?

[2020-09-23 16:44] mislav commented on #1919
Interesting! I didn't know that about Git for Windows.

@hrueger Any idea about how Git for Windows exposes git inside Windows Explorer in the first place?

[2020-09-23 16:45] rystaf commented on #1919
Same thing happens when entering commands into a (win+R) Run prompt. Looks like it's caused by Cobra library. Setting MousetrapHelpText to a blank string might fix this.
https://godoc.org/github.com/spf13/cobra#pkg-variables
Don't see why that help text would be necessary.

[2020-09-23 16:46] njradford commented on #1725
This is an awesome feature proposal. Looking forward to seeing what official workflow methods are in the pipeline. Being able to test workflows locally would be a fantastic addition to working with actions. Currently It can cause a lot of commit noise to iterate and QA a workflow file.

[2020-09-23 16:48] mislav commented on #1916
I _think_ we may have reproducible builds already! One would need to set SOURCE_DATE_EPOCH before running `make`. Although, I'm not sure how this flow would fix in the context of building Debian packages, which are generated for us by https://github.com/goreleaser/nfpm

[2020-09-23 16:51] profclems opened #1922 "`gh repo garden` crashes when navigating to bottom"
### Describe the bug
`gh repo garden` panics when you navigate to bottom using down arrow key (<kbd>↓</kbd>)

[code]

### Steps to reproduce the behavior

1. Type this '`gh repo garden`'
2. View the output '....'
3. Navigate to bottom with arrow key (<kbd>↓</kbd>)
3. See error

### Expected vs actual behavior
Expected to work without crushing

Actual behaviour:
Panics when you navigate to bottom u

[2020-09-23 16:53] contourintegrals opened #1923 "gh auth login: could not prompt: The handle is invalid."
### Describe the bug
I downloaded gh via chocolatey and tried to login with GitHub, but looks like its not working. When it asks for the prompt, it stops telling: `could not prompt: The handle is invalid.`
Output of `gh --version`:
[code]

### Steps to reproduce the behavior

1. Type this `gh auth login`
2. View the output:
[code]

3. See error: `could not prompt: The handle is invalid.`

### Expe

[2020-09-23 16:53] nwhobart opened #1924 "control-c out of every command is a very painful experience"
# CLI Feedback

## What was confusing or gave you pause?

if I run, for example, `gh pr list` I expect the PRs for the repo to be listed and the program to exit. Instead I'm presented with:

[code]

And I have to `control-c` to exit. I'm not sure about the motivation behind that but I'd love to see it go away.

## Anything else?

_DO_ have a nice day!

[2020-09-23 17:01] jmdejong opened #1925 "Can't view issues for repos where I don't have local write permissions"
### Describe the bug

In a multi-user linux system it can be possible to have read permissions to all the files in a local git repo, but not write permission.
If I try view the issues for such a repository I get a permission error message that locking `.git/config` falied.

For `git issue list` the error is:

    error: could not lock config file .git/config: Permission denied
    git: exit status

[2020-09-23 17:02] profclems commented on #1919
@hrueger, have you tried that for `gh` on windows??
Make sure to set the PATH for `gh` in the environment variables. The path is already set if installed with Scoop or Chocolatey
It works for me.

[2020-09-23 17:10] bnb commented on #448
Thanks @vilmibm and @mislav ❤️

[2020-09-23 17:23] hrueger commented on #1919
@mislav As I now from some of my own projects, running programs from the Windows Explorer Address bar ist almost like running them from a terminal window (there are usually no special things needed). So I belive that the problem / solution is what @rystaf proposed.

[2020-09-23 17:25] hrueger commented on #1919
@profclems `gh` is in my path, but when I type `gh repo clone hrueger/AGLight` into the Windows Explorer Address Bar, I get this:
![grafik](https://user-images.githubusercontent.com/18656830/94047513-7e2c1880-fdd2-11ea-83f9-8b9a13eb02f3.png)

As you can see, `gh.exe` is found, it just displays that error message.

[2020-09-23 17:36] mislav commented on #1921
Hi @maclarel, thank you for detailed feedback! 🙇

This is largely a duplicate of #1745. We will consider having more commands default to querying/cloning from the GHE host if that is the only host that the user has authenticated against, since this is what some GHE users were expecting and they were unpleasantly surprised.

[2020-09-23 17:38] mislav commented on #1924
@nwhobart Do you have PAGER environment variable set by any chance? We respect that configuration by sending all output to your PAGER program. Some pager programs require a special keyboard shortcut to exit, for example <kbd>q</kbd>.

[2020-09-23 17:40] mislav commented on #1923
@shrihanDev Hi, thank you for the report! Which terminal program were you using when you were trying to authenticate? E.g. `cmd.exe`, PowerShell, Git Bash, Windows Terminal, etc.

[2020-09-23 17:41] mislav commented on #1925
Thank you for the report! This is good to know; we haven't considered nor tested the case of write permissions being missing, but you are right that ideally, operations such as `gh issue list` should work.

Likely ref. #1706

[2020-09-23 17:55] sriv commented on #1918
@vilmibm thanks for the quick response. Some answers below:

Yes, ctrl+n and ctrl+p work, whereas arrows do not.

I use tilix+bash. Following your hint, I tried in the gnome terminal, the arrow keys work fine with gnome terminal.

I am closing this issue, since it seems like something to with my setup rather than `gh`. Sorry to have wasted your time.

[2020-09-23 17:55] #1918 closed, assigned to nobody

[2020-09-23 17:56] nwhobart commented on #1924
@mislav oof! good call:

[code]

I have no idea _what_ set that but ima figure out how to get rid of it. Good call.

Update:

https://stackoverflow.com/questions/33592008/git-log-show-etc-replaces-the-terminal-screen/49267711#49267711

[2020-09-23 17:56] #1924 closed, assigned to nobody

[2020-09-23 18:01] mislav commented on #1924
If you find out what set PAGER, let us know. We're trying to figure out why so many people have PAGER set in their environment without knowing.

But also, you can keep your pager setting, and check if your LESS environment variable setting (if exists) includes the character `F` (e.g. `LESS=FRX`). That will cause `less` to automatically exit when the output is shorter than your terminal height.

[2020-09-23 18:03] darthwalsh commented on #1921
@mislav If we want to use #1745 to track this, then could we expand the scope of that issue to include `gh api`? The [`api` documentation](https://cli.github.com/manual/gh_api) doesn't say anything about `GH_HOST`, which confused me until I searched the issues here.

[2020-09-23 18:12] darthwalsh commented on #1745
Ideally, it would be great if I could set up different `gh` default hosts per directory prefix, like I can set up different `git` default user and email using `includeIf`:

In `~/.gitconfig`, add:

[code]
https://stackoverflow.com/a/48088291/771768

[2020-09-23 18:13] willmaginnodb commented on #388
I was playing with `gh pr create -f` today, and wondered should a pr template be pulled into the body if present? or am I misusing the `-f` flag?

[2020-09-23 18:13] mislav commented on #1918
Is something called "keypad transmit mode" on by default in tilix, or have you turned it on? If so, this might be https://github.com/AlecAivazis/survey/issues/228

[2020-09-23 18:21] nwhobart commented on #1924
@mislav it seems to be baked into `oh-my-zsh`:

https://github.com/ohmyzsh/ohmyzsh/blob/master/lib/misc.zsh#L21-L22

this explains _my_ issue and I'm likely not unique (macOS / zsh / oh-my-zsh).

[2020-09-23 18:31] KAU-KING-ABDULAZIZ opened #1928 "738ة"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-23 18:45] waldyrious commented on #1912
Thanks, that makes sense. I've opened https://github.com/AlecAivazis/survey/issues/299.

[2020-09-23 19:05] willmaginn opened #1929 "PR Template checks parsed into review process"
### Describe the feature or problem you’d like to solve

We have PR templates for review for example:
- [ ] This code has been tested locally by reviewer
- [ ] This code has been merged into and tested on beta
...

Which we use as part of the review process.

### Proposed solution

To allow for reviews to take place within the CLI, we could parse the PR template checkboxes into a series of checks

[2020-09-23 19:26] jmdejong opened #1930 "viewing an issue/pr dumps background colour string on my terminal when in an ssh session"
### Describe the bug

When I use `gh issue view ...` or `gh pr view ...` inside an ssh session I get to see the issue/pr, but afterwards it throws de string `11;rgb:0000/0000/0000` in my terminal prompt.
This happened with konsole 20.08.1 with white text on a black background. `$TERM` is `xterm-256color`
In xterm 359 with black text on a white background it's `11;rgb:ffff/ffff/ffff`.
In xfce4-term

[2020-09-23 19:27] cjdenio commented on #1725
Here's what I came up with!

`gh alias set runWorkflow --shell 'gh api /repos/:owner/:repo/actions/workflows/$1/dispatches -F ref=":branch"'`

Then you can use `gh runWorkflow <workflow file>.yml` to run a workflow in any repo.

[2020-09-23 20:32] samcoe commented on #1930
@jmdejong Thanks for the report. This seems tangentially related to https://github.com/cli/cli/issues/1822. I should have a PR up to fix that issue shortly and with it hopefully this will also be addressed. In the mean time I posted a comment on that issue with a work around which should solve this problem also.

[2020-09-23 20:44] jmdejong commented on #1930
Can confirm that the workaround solves it.
`GLAMOUR_STYLE=dark gh issue view 3` works just as expected.

Thank you.

[2020-09-23 21:02] jgowdy opened #1931 "Add -C option like git"
### Describe the feature or problem you’d like to solve

I would like to have a -C option similar to what git has for -C which sets the base directory used.  This is very helpful when scripting with xargs of repo directory names.

### Proposed solution

By adding a -C option that sets the base directory rather than just using the current directory, users will be better able to script GitHub CLI wh

[2020-09-23 21:26] austince commented on #1822
Seems like the solution has been found via `GLAMOUR_STYLE`, but just adding that this also occurs in the Jetbrains integrated terminals as well the `gnome-terminal` v3.36.2 on Ubuntu 20.04, though the escape sequences do not error like in the kitty example.

[2020-09-23 21:42] negebauer commented on #1822
Running it as `GLAMOUR_STYLE=dark gh repo view` fixes it for me also.

[2020-09-23 21:46] redtux commented on #1916
I also welcome being able to use `deb-src` soon. Thank you for fixing this! :+1:

Integration in official Debian and Ubuntu deb repositories would also be great. :heart_eyes_cat:

(NB: `/usr/bin/gh` atm is taken by the [`gitsome` package](https://packages.debian.org/source/buster/gitsome). `gh` "solves" this issue by using `/usr/local/bin/gh` instead, thus "overruling" `/usr/bin/gh` from `gitsome`

[2020-09-23 23:25] Vishesh-Gupta commented on #1262
I would love to work on this since I have been looking into creating a package for WinGet for a while and I also created this issue so it would be nice if I am assigned this task

The idea I have in mind follows @thomthom suggestions. We can create a basic build for WinGet and then we can generate an update action that will update everytime a new release is done automatically.

[2020-09-24 01:52] sriv commented on #1918
hi @mislav - I am not sure, but this setup has been working for months.

I started to inspect my dotfiles, and I realized that on commenting out [`z`](https://github.com/rupa/z) `gh` + arrow keys started behaving well. However, when I re-enabled `z`, `gh` continued to work. I am not certain what the cause could have been.

[2020-09-24 02:14] malectro commented on #1349
fwiw, I'd love to also be able to edit the base branch as well. I end up having to change the base of most of my PRs when I batch them in release branches.

[2020-09-24 02:28] chernjie opened #1933 "find files for shareability"
### Describe the feature or problem you’d like to solve

I want a shareable link of a specific file or line range to be shared with my team mates for easy references

Use cases:
- share the URL with my team mates
- if possible, generate the `blob/{filename}` url for share-ability
- bonus, append specific line numbers e.g. `blob/{filename}#L12:34`

### Proposed solution

Opens the `find/{ref}` url

[2020-09-24 02:37] Peter161673 opened #1934 "y"
android:resizeableActivity=["true"]

[2020-09-24 02:54] kylifornication-code opened #1935 "Support Enterprise Server with gh repo create"
### Describe the feature or problem you’d like to solve
Currently only gh repo create can be used with github.com and not enterprise server

### Proposed solution
Add an explicit call to allow some version of:
`gh repo create github.{hostname}.com/{org}/{repo}`

How will it benefit CLI and its users?
It will allow Enterprise users to use this with their supported company's server

### Additional c

[2020-09-24 04:41] bsingpae22 opened #1936 "title.txt"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-09-24 04:43] trompas-max opened #1937 "Okay"
Okay

__Originally posted by @trompas-max in https://github.com/trompas-max/max/issues/10#issuecomment-698103172__

[2020-09-24 05:02] Helloitsme282020 opened #1938 "git: exec: "git": executable file not found in %PATH%"
I have **"**gh version 1.0.0 (2020-09-16) https://github.com/cli/cli/releases/tag/v1.0.0**"** (by gh --version) which is the latest version of the GitHub CLI. I got the error **"**git: exec: "git": executable file not found in %PATH%**"** while creating a new repo, I have also added **"**C:\Program Files (x86)\GitHub CLI**"** to Path. And BTW I use Windows.

### Steps to reproduce the behavior

1.

[2020-09-24 05:03] mishmanners opened #1939 "Testing out the CLI on Twitch"
This is just MishManners showing off the GitHub CLI on Twitch.

[2020-09-24 05:04] #1939 closed, assigned to nobody

[2020-09-24 05:46] #1934 closed, assigned to nobody

[2020-09-24 07:36] Maximuscari205 commented on #1935
How dose this work

[2020-09-24 08:47] mislav commented on #1938
Sorry for the bad experience! This might not have been obvious, but you'll have to install Git for Windows as well. #1769

[2020-09-24 08:47] #1938 closed, assigned to nobody

[2020-09-24 08:53] Maximuscari205 opened #1940 "UPDATE SOFTWARE"
How dose this work

__Originally posted by @Maximuscari205 in https://github.com/cali/cali/issues/ 1935#issuecomment-698172513__ fixed

[2020-09-24 08:53] mzzmjd commented on #1923
I get the same error message using Git bash Version 2.28.0.windows.1

![GitVersion](https://user-images.githubusercontent.com/15940933/94123251-79577b00-fe4b-11ea-8753-e50e19665a67.JPG)

You don't get the option to move the selection:

![ErrorMessage](https://user-images.githubusercontent.com/15940933/94123284-82e0e300-fe4b-11ea-810f-3a3dad1a99de.JPG)

[2020-09-24 09:01] mzzmjd commented on #1745
I got a similar error when I started using the gh CLI to access a GitHub Enterprise Server (GHES). Turned out that the clone command was using a credential manager on my machine, but the credentials were out of date (and not using a token). Updated the credential manager with the token then the clones worked fine.

[2020-09-24 09:15] lucasrangit opened #1941 "GHE login needs `user:email` scope as minimum scope"
### Describe the bug

Using `gh` 1.0.0 and GitHub Enterprise (GHE) 2.20.12, I could not login with a personal access token until I added the `user:email` scope.

Only the `repo` and `read:org` scopes were listed as required.

### Steps to reproduce the behavior

1, Create token with `repo` and `read:org` scopes.
1. Install `gh` from Debian repository
1. Perform login using token `gh auth login --h

[2020-09-24 09:17] mislav commented on #1935
@kylejames11 Hi, you should be able to create GHE repositories like this:

[code]

I'm not sure why you get the GraphQL error. I am getting it when I try to pick “internal” visibility for a project under my own account. I suspect that “internal” is only available for organization repositories. Can you try a different visibility?

[2020-09-24 09:17] mzzmjd opened #1942 "Accept --hostname in gh api"
### Describe the bug
When authenticated to a GitHub Enterprise Server and running the ```gh api user``` command, it always tries to connect to api.github.com rather than my Enterprise Server.

[code]

### Steps to reproduce the behavior

1. Run the command ```gh api user```
2. The following output is displayed
[code]
3. See error above.
**Note:** I get the above ```error connecting to api.github.c

[2020-09-24 10:17] contourintegrals commented on #1923
I am using ZSH with MSYS2 Bash with ConEmuC64 with Cmder :smirk:

Also, if I use this with Cmd, then directly from MSYS2 Shell, then bash.exe executable, then zsh.exe executable, it does work :smirk_cat:

[2020-09-24 10:24] mzzmjd commented on #1923
This issue is not confined to the ```gh auth login```. It also happens when trying to run ```gh repo create```.

Running the following command:
```$ gh repo create mzzmjd/created-via-cli --internal```

Returns the error message:
```? This will create 'mzzmjd/created-via-cli' in your current directory. Continue?  (Y/n) The handle is invalid.```

[2020-09-24 10:27] shrihanDev commented on #1923
@mzzmjd +1 for this

[2020-09-24 11:01] mzzmjd commented on #1942
Looks like you have to set the variable GH_HOST to use this with GitHub Enterprise Server

[2020-09-24 11:27] edsantiago commented on #1909
Is there a way to configure a (possibly per-repo) default? The new behavior is antihelpful. (EDIT: never mind, I should've read the dup note above)

[2020-09-24 11:43] samcoe commented on #1923
Some cursory searching I also found https://github.com/AlecAivazis/survey/issues/190 which is the survey library we use. So it is possible that this bug is upstream of us.

[2020-09-24 11:52] contourintegrals commented on #1923
For some (weird) reason, this works in VSCode, the same config, except Cmder and ConEmu. So I think Survey library cannot prompt for inputs in Cmder (and ConEmu as well).

[2020-09-24 12:14] parth-io commented on #1940
Suggest you read the Readme.md, and the manual for a list of commands

You're supposed to use `gh` and `git` together to manage your local repos.

[2020-09-24 12:34] mislav commented on #1941
@lucasrangit Thank you for reporting! What was the error message when the scope wasn't there?

[2020-09-24 12:36] mislav commented on #1933
Thank you for the suggestion! I find something like this very useful as well.

Ref. #217

[2020-09-24 12:39] Meiryo7743 commented on #1894
I experienced a similar problem. **In spite of having tried to the solution, `gh.exe` was automatically deleted again by Windows Defender.** The problem doesn't seem to have been solved ...

As a side note, `gh_1.0.0_windows_386.zip` is regarded as a virus when downloaded on Microsoft Edge or inspected by the Defender. Here are the screenshots:

<details>
<summary>Expand</summary>

### Version of

[2020-09-24 12:41] mislav commented on #1929
Hi, this all seems very well though-through, but it sounds like this is something highly specific to your team and I don't think is a good fit for GitHub CLI at the moment, especially because code review on GitHub web also doesn't support review templates.

However, our tool should at least allow for something like this to be scripted on the user's end. Do you have a vision of how would you wrap `

[2020-09-24 12:48] topcat1968 commented on #1940
lm a good lad why hack me l got fuck all that you would like can you make me lots of cash we could work togefer but my speling is bad mate but l dont give up that how lm makeing cash all the time let me tell you a bit about me l love playing live music lm a drummer and l jam a lot what do you do when you not on this shit

[2020-09-24 13:44] ampinsk commented on #1734
Agree that our help pages should probably relatively stay structured as they are now, but definitely open to a command that lists them in full: `gh help reference` makes sense to me!

[2020-09-24 13:48] ampinsk commented on #1807
@beepbopboobop thanks for this suggestion! Is there a reason you'd want the verbose output on `gh pr status` instead of `gh pr checks`?

[2020-09-24 13:51] ampinsk commented on #1777
If nobody has any other input or thoughts here, do we want to go ahead with Curated List? Is there a way to automate the `+3 more` piece of this?

[2020-09-24 14:10] lucasrangit commented on #1941
@mislav

Sorry, forgot to add that to issue description.

[code]

[2020-09-24 14:16] StephenGregory commented on #1807
@ampinsk Perhaps you meant to tag me?

Obvious subjective, but having the verbose output on `gh pr status` seemed like more appropriate command to display all the info of PRs relevant to me:
- merge status
- checks summary
- breakdown of which PRs were opened by me or reviews requested from me

Since it already had a checks summary, I felt it'd be a good fit.

Meanwhile, `gh pr checks` would just

[2020-09-24 14:20] JanPokorny commented on #1684
Scoop does support GitHub releases natively, in fact most of the software in the main bucket is updated that way. There is really no need to keep a separate bucket, you can just drop it and the official bucket (https://github.com/ScoopInstaller/Main/blob/master/bucket/gh.json) will keep up with the releases.

[2020-09-24 14:23] shrink commented on #1777
@ampinsk I'm happy to put together a PR with the Curated List option (including the automated counter) if that would be helpful as a way for people to get a better idea of how it'll feel in practice -- even if Curated List isn't chosen in the end, I don't mind if the code is thrown away :)

[2020-09-24 14:31] willmaginn commented on #1929
Actually that's a good point @mislav, sometimes you have the blinkers on and assume everyone must be using PR templates the way you do. 😄

But you are right the checkboxes don't carry any weight, just peer pressure to ensure you have done the checks.

I will have a chat with some colleagues and see can I pull togther something with a bit more substance to it.

[2020-09-24 14:44] habamax commented on #1260
`gh gist update <gist ID> -f filename` would be awesome to have.

Having this command I would be able to update a gist from my vim with opened gist file.

Smth like

1. Open a file that was used to create gist
2. Edit it
3. update gist (this could be automated in vim, get the gist ID, search for a filename, extract gist id, etc)

This workflow somehow works with [vim-gist](https://github.com/mattn

[2020-09-24 14:48] bjclark13 commented on #1929
Hi @mislav we realize that it's probably not a very high priority enhancement for the average user, but to clarify a little, in the web ui, when you check a checkbox in the description, that shows up as a checklist in the pull request page:

![image](https://user-images.githubusercontent.com/17295262/94160474-a52a2f00-fe52-11ea-9744-7a4d65bf2fea.png)

The nice thing about checking the boxes in the

[2020-09-24 15:41] mcorossigo opened #1944 "Store gh config in %APPDATA% on windows"
### Describe the bug

When I authenticate in gh with Powershell on Windows 10 it saves variuous files in `.config/gh` in my user profile folder.
It is expected on Linux, but on Windows I would love to have those files in %APPDATA% (like Github Desktop).

[code]

[code]

### Steps to reproduce the behavior

1. Authenticate
2. Find files in ~/.config/gh

### Expected vs actual behavior

I expect con

[2020-09-24 15:53] mislav commented on #1944
Good point; thank you!

Ref. https://github.com/cli/cli/issues/554

[2020-09-24 15:54] kylifornication-code commented on #1935
@mislav you're right, it only has an issue when it's internal. Private worked for me using the syntax you gave.

[2020-09-24 15:55] mislav commented on #1941
@lucasrangit But this token already had `repo` and `read:org` when you got that error, and you are saying that the error got away until you added `user:email`?

This is hard for me to believe, since we never access the user's email via the API.

[2020-09-24 15:55] #1935 closed, assigned to nobody

[2020-09-24 15:55] #1940 closed, assigned to nobody

[2020-09-24 16:27] KAU-KING-ABDULAZIZ opened #1945 "My main focus of this issue was on secure collaboration! Do Google Drive and OneDrive allow that?"
My main focus of this issue was on secure collaboration! Do Google Drive and OneDrive allow that?

To the point Desktop Version/Web Version: That was indeed not so precise. If the desktop version has an online function, I find it exciting to see if both can be combined. Some people work in the desktop client, others prefer the browser. Otherwise this issue could be moved to the development reposit

[2020-09-24 16:44] l3ender commented on #404
Is there a workaround that can be used until the upstream issue is resolved?

[2020-09-24 18:05] evanfreed opened #1946 "Ability to Close by Label"
### Describe the feature or problem you’d like to solve

It'd be nice to be able to close all issues relating to a particular label instead of invoking the ID individually.

### Proposed solution

`gh issue close --label my-label`

### Additional context

This is useful for automation or batch closing of issues.

[2020-09-24 18:07] Geobm opened #1947 "404 Not Found, repo does not have a Release file."
I am trying to install cli by following the installation [steps](https://github.com/cli/cli/blob/trunk/docs/install_linux.md) for linux. My architecture is as follows :
`Linux 5.7.0-kali1-amd64 #1 SMP Debian 5.7.6-1kali2 (2020-07-01) x86_64 GNU/Linux`

The log is the following:
[code]

Tried to install it by downloading the [binary](https://github.com/cli/cli/releases) for my architecture and it w

[2020-09-24 18:34] rohanrajpal commented on #1799
Hey, I followed the install instructions and came across this error, any suggestions what might be the reason?

[code]

[2020-09-24 18:36] davesbrown opened #1948 "failed to read configuration"
### Describe the bug and steps to reproduce

Installed gh cli using windows MSI installer release 1.0.0
Opened powershell terminal and typed gh --version

D:\DEV\Source\Repos> gh auth login
failed to read configuration:  open F:\.config\gh/config.yml: The device is not ready.
D:\DEV\Source\Repos> gh --version
failed to read configuration:  open F:\.config\gh/config.yml: The device is not ready.

I

[2020-09-24 18:39] aneesh223 opened #1949 "can't download"
I can't download cli, saying `zsh: command not found: brew
`

[2020-09-24 19:06] Okeakwalam27 commented on #1949
When last did you logged in?

On Thu, Sep 24, 2020 at 7:39 PM johndoe434 <notifications@github.com> wrote:

[2020-09-24 19:21] 09032611690 opened #1950 "alirezasheykhali.f.m@gmail.com"
### Impact
_What kind of vulnerability is it? Who is impacted?_

### Patches
_Has the problem been patched? What versions should users upgrade to?_

### Workarounds
_Is there a way for users to fix or remediate the vulnerability without upgrading?_

### References
_Are there any links users can visit to find out more?_

### For more information
If you have any questions or comments about this advi

[2020-09-24 19:27] Okeakwalam27 commented on #1948
From which device are you using?
On Thu, Sep 24, 2020 at 7:37 PM davesbrown <notifications@github.com> wrote:

[2020-09-24 19:27] Okeakwalam27 commented on #1799
Which device are you using

On Thu, Sep 24, 2020 at 7:35 PM Rohan Rajpal <notifications@github.com>
wrote:

[2020-09-24 19:35] maxandersen opened #1951 "be able to force `gh pr checkout` to always work"
### Describe the feature or problem you’d like to solve

`gh pr checkout` fails daily for me as there are changes push forced in the pull request and I then have to manually go and delete my branch to then run it again.

### Proposed solution

please consider supporting `gh pr checkout --force` or similar.

How will it benefit CLI and its users?
keep you sane and not have to be repetitive when rev

[2020-09-24 19:40] davesbrown commented on #1948
Windows 10 powershell 5.1 terminal D drive
D:\DEV\Source\Repos> gh --version

[2020-09-24 19:42] rohanrajpal commented on #1799
Hey, I have an Asus X556UQK with Ubuntu 20.04 LTS.

[2020-09-24 19:44] Menelion commented on #1905
@vilmibm Nope. My concern is that `gh` doesn't understand my custom SSH key (it seems, it always searches for `id_rsa` — sorry, haven't dug in the code yet). I would be satisfied if no `config` was involved, but I could provide `gh` with path (or just filename) for my SSH key. Thanks and hope I'm clear this time — if not, please feel free to ask.

[2020-09-24 19:45] Okeakwalam27 commented on #1799
It needs upgrade , contact me back if you want my help okay

On Thu, Sep 24, 2020 at 8:42 PM Rohan Rajpal <notifications@github.com>
wrote:

[2020-09-24 19:46] shrink commented on #1777
@ampinsk Hi! I created a PR for the Curated List behaviour -- #1952 -- and I've left it in Draft so it isn't merged without your review. People should be able to run that locally and see how it would behave in practice. No worries if you don't choose this approach, it was a fun exercise.

[2020-09-24 19:48] geerlingguy commented on #1820
I have been running into this issue on all my repos for the past couple days since upgrading to the latest version of `gh`. It's quite annoying as I really only use `gh` to create PRs, and that functionality seems broken (was working fine for months).

Is there any workaround? For now I'm having to go to the browser to create PRs like it's 1999.

[2020-09-24 20:02] oracle3987 commented on #1260
hello i dont understand what file

On Thu, Sep 24, 2020, 8:45 AM Maxim Kim <notifications@github.com> wrote:

[2020-09-24 20:04] oracle3987 commented on #1929
i dont understand what is it now please explain in what is it now you guys
are doing to me or my phone or whst ever it is . ill take log on camera for
records thank you

On Thu, Sep 24, 2020, 8:31 AM Will Maginn <notifications@github.com> wrote:

[2020-09-24 20:08] habamax commented on #1260
1. I have my docs in `~/docs` folder (it is in a private github repo)
2. Some of the documents I would like to share, so I just publish a single file as a gist (using vim-gist plugin)
3. Then I might edit the same document in my `~/docs` folder and would like to update its gist
4. with vim-gist I can do it, with `gh gist edit` I can't because it pulls version from github which I have to edit (by c

[2020-09-24 20:09] oracle3987 commented on #1684
look matter what i do or learn you guys will do what ever you want to me .
im not doing to good no more in my health as you know. ill stop bugging you
guys . i am alab rat . thanks bye

On Thu, Sep 24, 2020, 8:20 AM Jan Pokorný <notifications@github.com> wrote:

[2020-09-24 20:21] bhrutledge commented on #1820
@geerlingguy I'm working around this by using the `--head` option, as noted in https://github.com/cli/cli/issues/1820#issuecomment-696769607 (and in the preceding comment). I think you could define an [alias](https://cli.github.com/manual/gh_alias_set) (probably with the `--shell` option) to shorten that up.

[2020-09-25 01:42] KenyStev commented on #1946
is this feature green lighted by the maintainers? I'd like to start contributing in the project and this seems like a good one to start digging into

[2020-09-25 09:28] mislav commented on #1946
We experimented a bit with a bulk command #831, but we haven't yet decided that something like that is what we wanted to ship at this point.

In the meantime, you will have to script closing all issues matching a label using the tools already at your disposal:

[code]

Closing because, for now, closing issues matching a label is not something we want to specifically capture using a dedicated comma

[2020-09-25 09:28] #1946 closed, assigned to nobody

[2020-09-25 09:33] ghost opened #1954 "git commit in gh?"

[2020-09-25 09:33] mislav commented on #1947
@Geobm Thanks for detailing your architecture. We only listed a handful of Debian versions in our package repository, and all others (like Kali, which I'm only now learning about) will likely get a 404 like you got. We will consider listing your distribution, but we can make no promises, since there seem to be so many Debian derivatives out there, it's hard to cover them all.

[2020-09-25 09:35] mislav commented on #1948
@davesbrown Hi, can you check your environment variables: `HOME`, `USERPROFILE`, `HOMEDRIVE`, `HOMEPATH`? https://github.com/cli/cli/issues/1835#issuecomment-695316238

E.g. in PowerShell
[code]

[2020-09-25 09:38] mislav commented on #1949
@johndoe434 `brew` is a command provided by Homebrew package manager that's available on macOS and Linux, but should be installed separately (please refer to its own installation instructions).

Other installation methods are available too; please see https://github.com/cli/cli#installation

[2020-09-25 09:38] #1949 closed, assigned to nobody

[2020-09-25 09:45] mislav commented on #1951
Thank you for the request! Duplicate of https://github.com/cli/cli/issues/562

[2020-09-25 09:45] #1951 closed, assigned to nobody

[2020-09-25 09:49] mislav commented on #1942
Yes! Sorry for not making this clearer. We are going to improve the documentation, as well as likely offer a `--hostname` flag for choosing a host for requests.

[2020-09-25 09:55] #1954 closed, assigned to nobody

[2020-09-25 10:05] ghost commented on #1954
?

[2020-09-25 10:12] samcoe commented on #1954
@satriabadakbiru I closed this issue because there was no description of the problem. If you are having an issue with `gh` please open a new issue and provide a thorough description of the problem so that we can better help you. Thanks :bow:

[2020-09-25 12:56] vorticalbox opened #1956 "read-only token"
### Describe the bug

`gh version 1.0.0 (2020-09-16)` when trying to reauth i get a read-only token error

### Steps to reproduce the behavior

1. gh auth login
2. See error

### Expected vs actual behavior

expected to login in, errors with

[code]

### Logs

[code]

[2020-09-25 13:04] cathrinevaage opened #1957 "Default answer to deleting branch after merge should be no"
### Describe the feature or problem you’d like to solve

The default answer to the question "Delete the branch locally and on GitHub" after having merged a pr, should be default to yes. If you answer no my mistake, it's much less work to correct it than if you were to answer yes by mistake.

When using workflows such as git-flow, it's common to merge the same branch into another one, again and aga

[2020-09-25 13:14] redreceipt opened #1958 "Feature: Sync All Branches"
### Describe the feature or problem you’d like to solve

Often times when working on multiple PRs and branches, the remote can start to look very different, very quickly, leaving the local environment with a bunch of outdated branches.

To fix this, the feature that I use most from `hub` is `hub sync`. It fetches all git remote objects and updates all the local branches with good user feedback and

[2020-09-25 13:30] avatar-lavventura commented on #1887
[code]

---------

`TERM=xterm-256color LESS=FRX gh pr status` or `LESS=FRX gh pr status` did not help I am still having the same output :-(

<img width="700" alt="image" src="https://user-images.githubusercontent.com/18537398/94273391-059d9700-ff4d-11ea-9861-50d4ef6dcdcf.png">

[2020-09-25 13:39] mislav commented on #1958
Thanks! Duplicate of #1722

[2020-09-25 13:39] #1958 closed, assigned to nobody

[2020-09-25 13:40] mislav commented on #1956
Hi, the message is saying that GITHUB_TOKEN was read from your environment variables. The gh utility cannot change your environment variables; so you have to do so yourself. Sorry if this wasn't clear.

Solution: find where GITHUB_TOKEN was set in your environment, unset it, restart your shell, and gh will allow you to refresh your credentials.

[2020-09-25 13:40] #1956 closed, assigned to nobody

[2020-09-25 13:57] mislav commented on #1887
@avatar-lavventura Thanks for sharing!

Your PAGER is not `less`; it's `most`. I'm not familiar with that program, but I would be surprised if it respects the LESS environment variable. It's more likely that you need to specify an additional flag to `most` to have it support ANSI colors.

I don't know if you can use Emacs as a pager program. You can set PAGER to anything you want, so feel free to

[2020-09-25 13:57] #1887 closed, assigned to nobody

[2020-09-25 14:26] redreceipt opened #1959 "Feature: Default PR Branch"
### Describe the feature or problem you’d like to solve

If I have write access to a repository, when creating a PR, it should default to pushing my branch to the remote instead of asking me. Similar to the `hub pull-request -p` command.

### Proposed solution

`git pr create -p` pushes the branch if you have write access to the repo. No other prompts, one-line command.

### Additional context

Th

[2020-09-25 15:33] VolkerSchlegel opened #1960 "Add Raspbian Support"
The Raspberry Pi has very limited power and every open browser tab is slowing down the Pi.
Github CLI would be faster, but currently there is no Version for Raspbian..

If you try the Ubuntu/Debian Instructions it just throws an error:
[code]

[2020-09-25 15:35] vilmibm commented on #1960
Thanks!

We can look into better packaging for raspian but in the meantime I wonder if the [arm releases](https://github.com/cli/cli/releases/tag/v1.0.0) here would help?

We also have instructions for building and using `gh` from the source code: https://github.com/cli/cli/blob/trunk/docs/source.md

[2020-09-25 15:36] vilmibm commented on #1947
Dupe of https://github.com/cli/cli/issues/1798

[2020-09-25 15:36] #1947 closed, assigned to nobody

[2020-09-25 15:40] johnandersen777 commented on #1055
It would be great if this was based on the branch you're currently on, and if you could dump the logs for one of the jobs too

[2020-09-25 15:58] VolkerSchlegel commented on #1960
I downloaded the .deb file and run it but it just told me that there was an error while installing one of the packages. Nothing more :confused:

[2020-09-25 16:00] VolkerSchlegel commented on #1960
I'll try to build it from source

[2020-09-25 16:12] lukebryant opened #1961 "Open PR which introduced a commit"
### Describe the feature or problem you’d like to solve
Quite often I want to see the PR that introduced a particular commit. I can search for the commit hash on github in the repo search bar, but this takes too long.

### Proposed solution
 I would like to be able to do:

`gh pr view HASH` and open the PR which introduced this commit.

There may be many PRs which contain this commit. I suggest op

[2020-09-25 16:27] cristiand391 commented on #1960
The current Raspberry Pi OS is 32 bits so you'll have to build it from source, try with this:

`env GOOS=linux GOARCH=arm go build -o bin/arm/gh ./cmd/gh`

I've been using it on my rpi 3 and it works pretty well.

[2020-09-25 16:29] Abizern commented on #1797
I had this issue on a new Debian installation. After adding the package sources and running `apt update` I saw that I needed to run `sudo apt update apt-transport-https` and then it worked.

[2020-09-25 16:59] mislav commented on #1959
Thank you! Duplicate of #1718

[2020-09-25 16:59] #1959 closed, assigned to nobody

[2020-09-25 17:02] mislav commented on #1961
Thank you! We're tracking "search by commit SHA" as part of the larger filtering issue here: https://github.com/cli/cli/issues/641

[2020-09-25 17:02] #1961 closed, assigned to nobody

[2020-09-25 19:02] davesbrown commented on #1948
Well how about that, I guess that explains a lot

C:\WINDOWS\system32> echo $env:HOMEDRIVE
F:

I suppose if I change that to
D:

In theory should work? (not sure why it's set to F:)

Yes that worked, thanks @mislav now hopefully it's not set by group policy and reverts or deletes

[2020-09-25 20:26] camelid opened #1963 "Colors are wrong in macOS Terminal"
### Description

For some reason, some of the colors are wrong in macOS Terminal. For example, running `gh pr checks` has **red** checkmarks:

![image](https://user-images.githubusercontent.com/37223377/94312868-9155fa00-ff32-11ea-9828-1a1a7df07afe.png)

On https://cli.github.com, they are shown as green (as I would expect!).

Thank you for this really cool tool!

### Version

[code]

**OS:** macO

[2020-09-25 20:35] camelid commented on #1963
However, other colors render fine:

![image](https://user-images.githubusercontent.com/37223377/94313577-d0387f80-ff33-11ea-942c-296e2b8940b6.png)

[2020-09-25 20:43] camelid opened #1964 "Block quotes are rendered incorrectly"
### Describe the bug

Paragraph breaks and code blocks are missing within block quotes.

#### Version

[code]

### Steps to reproduce the behavior

1. Run `gh issue view -R rust-lang/rust 76462`
2. Look at the block quote
3. The paragraph breaks and the code block are missing

### Expected vs actual behavior

I expected to see something similar to the Web (github.com) rendering, but the paragraph

[2020-09-25 21:05] #1948 closed, assigned to nobody

[2020-09-25 21:06] SUMIT1249 commented on #1948
1984

On Sat, 26 Sep, 2020, 2:35 am davesbrown, <notifications@github.com> wrote:

[2020-09-25 21:11] nwhobart opened #1965 "Add --author flag to pr list command."
### Describe the feature or problem you’d like to solve

As a user I'd love to be able to do something like `gh pr list --author <author_name_here>` so I can create aliases for my own PRs rather than see all of them by default.

### Proposed solution

add a `--author` filter. Not everyone uses labels and assignees religiously but every PR has an author
### Additional context

Pretty please?

[2020-09-25 21:43] cristiand391 opened #1966 "gist: edit command doesn't check gist ownership before editing"
### Describe the bug

If you try to edit another user's gist it allows you to edit files locally and then fails.

gh version:
[code]

### Steps to reproduce the behavior

1. Type `gh gist edit baf3ae0ee13b1f6846e6dea88bdfdc39`
2. Edit file `test.md` in your local editor and save

### Expected vs actual behavior

It should warn that the current logged in user doesn't own the gist.

### Logs

[code]

[2020-09-25 22:08] cristiand391 commented on #1966
I was about to send a PR to fix it but I wanted to discuss which approach would be better:

1.  Show a message like `You do not own this gist`
2.  Ask the user if they want to fork it and the proceed to edit it.

I think the latter will be much more userful but I'm not sure if there's any plan to add `gh gist fork` to the CLI, as it will clash in functionality with `gh edit`.

[2020-09-25 22:20] lesv opened #1968 "rejected (non-fast-forward) gh pr checkout XXXX"
### Describe the bug
Unable to checkout code submitted from [renovateBot](https://github.com/renovatebot/renovate).
[code]

### Steps to reproduce the behavior

[code]
### Expected vs actual behavior

Sometimes there are errors in PR's generated by RenovateBot, in the web version of Github, I can just edit the file in the UI and move forward.  Sometimes the errors are more substantial, I'd like to

[2020-09-26 03:14] smorimoto commented on #1907
Related issue: https://github.com/cli/cli/issues/871

[2020-09-26 03:30] moore-122 opened #1970 "0509997007"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-26 04:26] nightpool commented on #1897
That's incredible. I poked around at the code for a bit, but nothing obvious turned up. My first guess is that somehow the sscanf in https://github.com/git/git/blob/master/refs.c#L1198 is somehow recognizing `A0` as "whitespace" in the scanf pattern, but that doesn't realllly make any sense, so there is probably something else going on.

It looks like the `git branch --show-current` implementation

[2020-09-26 05:05] cvhariharan commented on #1965
I can pick this up if this is still up for grabs

[2020-09-26 05:25] #1970 closed, assigned to nobody

[2020-09-26 06:38] tavyandy97 opened #1971 "`gh view repo` does not show current branch"
### Describe the bug

When I execute the command `gh repo view`, the README.md file of the default branch is shown.

[code]

### Steps to reproduce the behavior

1. Checkout to a non-default branch, where there is a difference in the README.md files when compared to default branch
2. Type the command `gh repo view`
3. The README.md of the default branch is shown

### Expected vs actual behavior

E

[2020-09-26 09:23] rohanrajpal commented on #1799
Yeah, it was a problem on my end, my bad. Thanks!

In case someone else runs into the same issue, [this answer](https://askubuntu.com/a/1247655) should help you solve it.

[2020-09-26 09:32] gengjiawen opened #1972 "Allow operating on public repositories without having to authenticate"
# CLI Feedback

I am a member from Node.js core, usually I need to test various PR in different env and machines.
Most of the time it's only one-time thing like checking out a PR. I don't want to setup token for this one time thing.

[2020-09-26 09:34] VolkerSchlegel commented on #1960
I'll have to install the dependencies first...
Go is not preinstalled and `sudo apt install go` does not work...
OOF...

[2020-09-26 10:18] Lucaslah commented on #1963
What terminal are you using and have you installed anything into that terminal that could/ may affect the colour of the check marks?

[2020-09-26 11:03] VolkerSchlegel commented on #1960
Ok, go is installing, it now shouldn't take much time until I can try to build.

[2020-09-26 11:23] VolkerSchlegel commented on #1960
I just saw, that go 1.13+ is required... I only have version 1.11.... :/

[2020-09-26 11:42] cristiand391 commented on #1960
Are you trying to build it on your raspberry? I'm not sure if it's possible, the command I posted above is for building from another machine, after that you'll need to copy the binary to your rpi.

If you need some help updating Go, [ping me on Twitter](https://twitter.com/cristiand391).

[2020-09-26 12:53] VolkerSchlegel commented on #1960
Yeah, Im trying to builld it on my raspberry Pi 3B+, because I only have Windows on my PC and I've never done something like this on windows...

[2020-09-26 14:33] lucasrangit commented on #1941
Yes exactly, only after *adding* that scope did the issue go way. And I
agree, not sure why this is GHE specific.

If I could setup a GHE server to get you more logs I would.

[2020-09-26 14:48] imojha commented on #1797
Thanks. I was doing the same thing before but didn't make it.However,  It worked like a charm this time.

[2020-09-26 14:48] #1797 closed, assigned to nobody

[2020-09-26 17:12] infotexture opened #1973 "Manual: Markdown syntax error on the `gh gist create` page"
There’s an error in the Markdown syntax on the manual page for the `gh gist create` command at https://cli.github.com/manual/gh_gist_create.

Looks like prime symbols ′  were used to wrap the `--public` option instead of the proper backtick  \`  character, so something like [SmartyPants](https://daringfireball.net/projects/smartypants/) probably kicked in and converted the double-dashes to an en-d

[2020-09-26 17:20] camelid commented on #1963
As I said in the issue, I'm using the built-in macOS Terminal app. It does appear that the checkmark character `✓` is rendered in red elsewhere in my terminal though. However, the character `✔` is rendered correctly (elsewhere at least).

[2020-09-26 17:23] 091530777777 opened #1974 "I think I like this...but worry about a scenario where some actually wants `BROWSER` to be used and is then surprised by what amounts to a silent failure."
I think I like this...but worry about a scenario where some actually wants `BROWSER` to be used and is then surprised by what amounts to a silent failure.

I wonder if it's worth doing a warning here? We don't do a lot of that to minimize noise but I think it could help clear up a common point of confusion.

_Originally posted by @vilmibm in https://github.com/cli/cli/pull/1749#issuecomment-694397

[2020-09-26 17:53] truongnhi08 opened #1975 "+1"
+1

_Originally posted by @vkuznet in https://github.com/cli/cli/issues/517#issuecomment-619073328_

[2020-09-26 17:55] truongnhi08 opened #1976 "+1"
+1

_Originally posted by @vkuznet in https://github.com/cli/cli/issues/517#issuecomment-619073328_

[2020-09-26 17:56] truongnhi08 opened #1977 "+1"
+1

_Originally posted by @vkuznet in https://github.com/cli/cli/issues/517#issuecomment-619073328_

[2020-09-26 17:56] #1977 closed

[2020-09-26 17:57] truongnhi08 opened #1978 "Thanks @arohner! We try to keep our issues (as best as possible) organized by units of work that we or someone from the community could pick up, so I'd like to split these two things out as they're a bit different, and also expand the scope of each to issues and pull requests as opposed to just issues. I'm going to edit this one to be scoped to commenting, and if you'd like to make a new issue for editing an existing issue or pull request, you're welcome to do so. Thanks!"
Thanks @arohner! We try to keep our issues (as best as possible) organized by units of work that we or someone from the community could pick up, so I'd like to split these two things out as they're a bit different, and also expand the scope of each to issues and pull requests as opposed to just issues. I'm going to edit this one to be scoped to commenting, and if you'd like to make a new issue for

[2020-09-26 18:19] #1975 closed

[2020-09-26 18:19] #1976 closed

[2020-09-26 18:19] #1978 closed

[2020-09-26 19:39] elicoder00 opened #1979 "Hello world"
Working on github

[2020-09-26 19:42] hornta opened #1980 "Better document per-host configuration"
action items: https://github.com/cli/cli/issues/1980#issuecomment-702258545

---

original issue:

Whenever I try to clone a repo I get:
[code]

I want to change so it clones using https but I dont know how to change it. The "git_protocol" setting it set as https so I don't even know why i tries to use ssh...

Repository is public.

[2020-09-26 20:20] jukkei commented on #1980
at `~/.config/gh/` there are two config files. Don't know why. Check that both has `https`.

[2020-09-26 21:35] JT0407 opened #1982 ":)"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-26 22:28] camelid opened #1983 "Inline code in italics renders as just italics"
Having inline code with italics (e.g. ``_`code`_``) renders as just italics.

For example,  _`code`_ renders like this:

![image](https://user-images.githubusercontent.com/37223377/94351396-fe3dc280-000c-11eb-92d5-75e9c6f5eb64.png)

[2020-09-26 23:06] abent999 opened #1984 "Pages"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-26 23:51] KenyStev commented on #1971
I'm working on a solution for this, adding a `.` (dot) arg like:
`gh repo view .` to show either the current branch whether remote or local

[2020-09-27 00:38] zemse opened #1985 "gh pr create from one remote to other remote"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

colors are so cool

## What was confusing or gave you pause?

creating a pr from one remote to other remote.

## Are there features you'd like to see added?

If I could specify exact branch on my fork, to exact branch on remote, it'd be great:

[code]

[2020-09-27 02:26] tavyandy97 commented on #1971
Hey @KenyStev ! Thank you for replying 👏
Wouldn't it make more sense to by default open the current branch instead of the default branch? I can have a PR ready for that within a day. Or is there some logical explanation that I can't see?

[2020-09-27 03:10] tavyandy97 commented on #1933
Hey @chernjie, Great recommendation !

### Regarding Case 2 in Proposed Solution

Is there any way to pre-populate the `{ref}` on the github find page (any known query parameters)? It seems like a client-side rendered search so pre-filling might not be possible.

[2020-09-27 03:14] KenyStev commented on #1971
As I see it it makes sense to open the default branch instead of the current branch, since the current branch may not exist en the remote and also the command is `repo view` and not `branch view` so to me it makes sense to show the repo by default and if we want to change the context I think it's okey to add a (dot) argument as equal to `my current branch` which might be just local or remote, if r

[2020-09-27 03:19] KenyStev commented on #1971
I'm close to send a PR, but I'm not sure about something:
my current implementation does:
* takes the remote branch of the current user if exist
* otherwise takes the readme file in my local

so I'm not sure if I should always take the local readme and maybe add an extra flag to take the remote

[2020-09-27 03:26] tavyandy97 commented on #1971
I think your implementation is correct, that is

Just something I would recommend is, do display in the header/footer whether the current readme being viewed is from remote or local.

[2020-09-27 05:41] QMHTMY opened #1988 "Support Multilingual README"
# CLI Feedback

If the README file could be Multilingual？If so, I would like to make a new Pull Request  for Chinese Version README.

[2020-09-27 06:20] Silverjoe92 commented on #1988
Can I get some help here
Telegram hacking command

On Sun, Sep 27, 2020, 6:41 AM Shieber <notifications@github.com> wrote:

[2020-09-27 06:55] #1982 closed

[2020-09-27 07:04] samcoe commented on #1971
Hi, thanks for opening this issue. It appears to be a duplicate of https://github.com/cli/cli/issues/1728. Because that issue has already been fixed and merged into the `trunk` https://github.com/cli/cli/pull/1766 I am going to close this issue. The new `--branch` flag for `repo view` will be available after our next release. If you would like to get that functionality sooner, you can try building

[2020-09-27 07:04] #1971 closed, assigned to nobody

[2020-09-27 07:13] JuanArroyo2503 opened #1989 "Interest"

[2020-09-27 07:14] #1989 closed, assigned to nobody

[2020-09-27 10:17] VineGaming opened #1991 "Issue: 🐛 Bug report"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-27 10:17] VineGaming opened #1992 "Issue: 📣 Feedback"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_

[2020-09-27 10:18] VineGaming opened #1993 "Issue: ⭐ Submit a request"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-27 12:46] zemse opened #1996 "Add support to write PR descriptions using vim"
### Describe the feature or problem you’d like to solve

Currently users can only use nano for writing the PR description. This can be a bit incovenient for those who use vim a lot and not used to nano. Maybe it could detect the default command line editor or it could give option to configure default editor when writing PR descriptions.

### Proposed solution

How will it benefit CLI and its users

[2020-09-27 13:19] #1991 closed

[2020-09-27 13:19] #1993 closed

[2020-09-27 13:19] #1992 closed

[2020-09-27 13:52] fsmiamoto commented on #1996
I already use neovim as my editor so maybe you have your `$EDITOR` variable set for nano?

The CLI uses a third-party package that controls which editor is used so you can take a look [here](https://github.com/AlecAivazis/survey#editor)

[2020-09-27 16:03] wilso199 commented on #1996
@zemse Have you tried setting your editor using the `gh config` command? You can run the command `gh config set editor vim` which should satisfy your request! See the [manual page here](https://cli.github.com/manual/gh_config_set) for more examples!

[2020-09-27 19:09] zemse commented on #1996
That's great! Thanks for help!

[2020-09-27 19:09] #1996 closed, assigned to nobody

[2020-09-27 19:48] tunetheweb opened #1997 "Edit or update an existing release"
What to implement:

[code]

Original feature request below.

---

### Describe the feature or problem you’d like to solve

The [release-drafter GitHub Action](https://github.com/marketplace/actions/release-drafter) automatically creates a draft release and adds to it as each Pull Request is merged.

It would be good if GitHub CLI could tag that draft release, add assets, and publish it.

At presen

[2020-09-27 20:05] shamatar opened #1998 "Feature request: add original as “upstream” on fork"
### Describe the feature or problem you’d like to solve

When forking an existing GitHub repo into own account it would be handy to also automatically add remote "upstream" for easier following on later.

### Proposed solution

Similar to existing flags like "--clone=true/false" add something like "--follow-upstream=true"

### Additional context

Just quality of life improvement, nothing large.

[2020-09-27 20:31] scottrichards2379 commented on #1968
I think there is a big in the system

[2020-09-27 20:35] KenyStev commented on #1971
@samcoe what about the feature to view the local readme?

[2020-09-27 22:40] utkarsh2102 opened #1999 "Move gh to official Debian archives"
Hey,

It seems like I am not able to download `gh` as advertised in the docs.
For instance, I keep getting:
`E: The repository 'https://cli.github.com/packages sid Release' does not have a Release file.` and such errors.

I suggest it'd be best if `gh` can be installed in the official Debian archives (from where it'll get synced to Ubuntu as well!).

What do you think?

[2020-09-27 22:42] Moser-ss opened #2000 "Support different default OWNER in `gh repo clone REPO`"
### Describe the feature or problem you’d like to solve

The feature to have the authenticated user as default OWNER when clone the repo is very neat, but for some people that could not be enough. For example for people that work a lot inside of a specific organization could be nice to set a different default owner

### Proposed solution
using the gh config we could set a default owner, like gh co

[2020-09-28 02:49] maramSalamouny opened #2001 "gh pr create when branch is on a fork"
### Describe the feature or problem you’d like to solve

Doing `gh pr create` on a branch that's pushed to a fork doesn't detect the branch properly. Running the same command before pushing allows you to choose the remote and then correctly detects it when creating the PR.

### Proposed solution

How will it benefit CLI and its users? A lot of people push branches to their forks not to the main re

[2020-09-28 03:49] Kamarulzamansalehudin commented on #2000
[]()

[2020-09-28 03:50] Kamarulzamansalehudin commented on #1999
[]() done

[2020-09-28 04:01] BenjamenMeyer commented on #1200
I'd like to be able to sync manage milestones across repositories to ensure. It would be good to see this built-in and native.

[2020-09-28 04:43] ZHOMGYAN opened #2002 "這個問題就是？"
不給我打字，%%__🔡🆙🌐__%%

[2020-09-28 05:19] Lucaslah commented on #1963
OK, Thanks for that. If I find anything out Ill let you know.

[2020-09-28 05:31] bigcook12345 commented on #1963
No worries, just going through some "Really Old", files, and needed to get it back together. Fortunately, the last day or so, I've just been getting it in...

There was a Branch that I couldn't fork for some reason? I upset someone?

[2020-09-28 06:39] TrinhTrungDung commented on #1980
I have successfully login to Github and clone the repo. You should use the installation guide from the `README.md` file to install the `gh` tool, then use `gh auth login` to login into your Github account via https or ssh. Finally use the `gh repo clone cli/cli` to clone the repo. @hornta

[2020-09-28 08:02] lucasrangit commented on #1979
spam

[2020-09-28 08:41] #1979 closed, assigned to nobody

[2020-09-28 08:48] SUMIT1249 commented on #1979
1978

On Mon, 28 Sep, 2020, 2:12 pm Sam, <notifications@github.com> wrote:

[2020-09-28 09:04] samcoe commented on #1971
@KenyStev That is a good point that the new `--branch` flag will not display local changes that are not pushed. In your work flow is there a reason why the changes can't be pushed up to `github.com` or your GHES instance? I think for now that is the easiest workaround. In the future this is something we can consider handling directly in `gh`. If you would like, you can open an issue with this spec

[2020-09-28 09:05] #1822 closed, assigned to nobody

[2020-09-28 11:44] bodograumann commented on #2001
This just caused me a lot of pain. I meticulously created a pull request and when I wanted to submit it, I just got:

Now my PR text is gone :cry:

[2020-09-28 12:00] mislav commented on #1963
@camelid Hi, can you paste the following into your bash or zsh shell and tell us what presentation comes out?

[code]

[2020-09-28 12:15] mislav commented on #1965
We're planning to add filtering by author and tracking it here, so I'm going to close this one as duplicate of #641

@cvhariharan Thank you for the offer, but the GraphQL API for filtering PRs by author isn't fully public yet, so this is something that our team will have to prototype on our own. 🙇

[2020-09-28 12:15] #1965 closed, assigned to nobody

[2020-09-28 12:17] mislav commented on #1968
Thanks! Duplicate of #562

[2020-09-28 12:17] #1968 closed, assigned to nobody

[2020-09-28 12:22] #2002 closed, assigned to nobody

[2020-09-28 12:51] mislav commented on #1998
@shamatar We already add the `upstream` remote after `gh repo fork`. Was that not your experience?

[2020-09-28 12:55] mislav commented on #1997
Thanks for the suggestion! Agreed that this should definitely get possible in the future 👍

[2020-09-28 13:05] sprak3000 opened #2006 ""gh gist list --secret" not returning my secret gists"
### Describe the bug

Using the following version installed via Homebrew:
[code]

I have nine gists -- one public and eight private. None of my private gists are returned by doing `gh gist list --secret`. I use fish shell and have the `GITHUB_TOKEN` environment variable set with a personal access token. I checked the permissions listed when setting up a personal access token but see nothing in the

[2020-09-28 13:19] sprak3000 commented on #2006
Dug into the code a bit and found that the [listGists](https://github.com/cli/cli/blob/bdadb3058b9c6233b388d88bf637514c8a496ba9/pkg/cmd/gist/list/http.go) function does nothing with the visibility parameter passed in with regards to public versus secret. If I read the [REST API docs](https://developer.github.com/v3/gists/) correctly, there is no way to get secret gists through it.

[Issue 1712 - p

[2020-09-28 14:27] KenyStev opened #2007 "Render a local markdown file"
Let's suppose that the new command is going to be called `gh render` (suggestions welcome). I imagine that it could work like this:

[code]

Original issue:

### Describe the feature or problem you’d like to solve

currently the `gh repo view` only shows the remote content, so if I want to show my local changes like:
* current recently created branch
* or an existing branch with some changes in th

[2020-09-28 14:44] mislav commented on #2007
Hi, I don't think allowing `gh repo view` to view local files would make sense as a feature, as we designed this command explicitly to view remote repositories. You can view the contents of the local file by using `cat`, or maybe [`bat`](https://github.com/sharkdp/bat) for prettier Markdown view.

If you are missing Markdown rendering for local files in your terminal, we could consider adding a co

[2020-09-28 14:58] mislav commented on #1988
We'd love our documentation to be available to the wider community! But for now, we cannot commit to maintaining our README files in multiple languages. Please see https://github.com/cli/cli/pull/1990#issuecomment-700060772 🙇

[2020-09-28 14:58] #1988 closed, assigned to nobody

[2020-09-28 15:08] mislav commented on #1972
@gengjiawen Thanks for the feedback! To be clear: since you are working with public repositories, you would like for the `gh` tool to allow you to operate on public repositories without having to neccessarily log in?

[2020-09-28 15:13] gengjiawen commented on #1972
Yeap.

[2020-09-28 15:17] mislav commented on #1973
Yeah, sorry about that! We can consider making the public site open source. But, the docs content that the site is generated from is nearly all pulled from this repository. For instance, the `--public` line is here: https://github.com/cli/cli/blob/1b029c766d4423a45591ab12ed1200998e158ee0/pkg/cmd/gist/create/create.go#L49

You are right that we should have used backticks. We were technically preven

[2020-09-28 15:36] mislav commented on #1980
@hornta GitHub CLI will use the clone protocol based on your preference in `gh config get git_protocol --host github.com`. If it's `https`, it will use HTTPS unless you paste in an SSH URL to `gh repo clone`.

Could you tell us how you are invoking `gh repo clone`? You may obfuscate the name of the repository 👍

[2020-09-28 15:54] bradynpoulsen commented on #1722
This seems outside the scope of GitHub though. This command does interactions that are already available by with the core git commands.

I'd be interested in a `git sync` command to reduce the overhead of non-GH features bloating this CLI as well.

[2020-09-28 16:13] jukkei commented on #1980
At least `gh` installed in CentOs 8 by `dnf` has two conf files.

I had the same problem and configuring another one fixed the problem. `gh config set git_protocol` didn't change that.

[2020-09-28 16:32] mislav commented on #1777
@shrink Thanks for proposing this and prototyping an approach to implementing this!

Now that I see how it all plays out, I got to say I'm not a fan of the `+N more` rendering. It feels weird to see it without an easy way to "expand" the `+N more` part to see what's behind it.

I do not believe that we need to explicitly list every single operation under an object such as `issue` or `pr`. The way

[2020-09-28 16:36] KenyStev commented on #2007
Hi, thanks for your answer and the comment in my PR and yeah I did read the contributions guideline but I thought it was a bug and not a feature enhancement when I started working on it 😅

besides bat, I just tried it and yeah it highlights the markdown syntax but it doesn't actual render it as `repo view` does it, so yeah it would be nice if there's a command which takes a raw markdown and render

[2020-09-28 16:38] mislav commented on #1964
Thank you for reporting! I've opened https://github.com/charmbracelet/glamour/issues/79 in turn.

[2020-09-28 16:40] xPaw commented on #1722
While I would agree with that, what are the chances of `git` getting `sync` implemented though?

[2020-09-28 16:44] vilmibm commented on #2006
I'm not able to reproduce this; `gh gist list --secret` lists my secret gists as expected, `gh gist list --public` lists my public gists.

Because of the limitation on that REST endpoint you mentioned, the code is grabbing a bunch of gists and then sorting public/secret in code:

https://github.com/cli/cli/blob/bdadb3058b9c6233b388d88bf637514c8a496ba9/pkg/cmd/gist/list/http.go#L32-L39

I'm not sur

[2020-09-28 17:00] mislav commented on #1999
Hi, thank you for reporting! We will check whether we listed `sid` as explicitly supported or not. What happens if you replace `sid` with `stable`?

We will only publish our own PPA for now. If someone from the Debian/Ubuntu community wants to make a case for packaging gh for its official archives, that's great! But we are not ready to make that case any time in the foreseeable future.

[2020-09-28 17:08] mislav commented on #2007
@KenyStev Since we're not going to extend `repo view` with viewing of local files, I have closed the PR and renamed this issue to reflect the actual feature that we want.

Let's suppose that the new command is going to be called `gh render` (suggestions welcome). I imagine that it could work like this:

[code]

Would this make sense?

[2020-09-28 17:12] #1762 closed, assigned to mislav

[2020-09-28 17:12] #1820 closed, assigned to mislav

[2020-09-28 17:12] #1869 closed, assigned to mislav

[2020-09-28 17:12] #2001 closed, assigned to nobody

[2020-09-28 17:17] bradynpoulsen commented on #1722
Anyone can implement it. Custom subcommands can be added by having a `git-<subcommand>` executable on your PATH (in this case `git-sync`). Many existing extensions already do this, including `git flow`

[2020-09-28 17:19] mislav commented on #1722
@bradynpoulsen I guess a big part of the potential `gh sync` would be consulting merged PRs to determine which local branches could be cleaned up. PRs merged by either "rebase" or "squash" strategies do not appear to git as "merged", strictly topologically speaking. So, implementing this in vanilla git could be tricky. https://github.com/cli/cli/issues/380

[2020-09-28 17:38] bradynpoulsen commented on #1722
@mislav Definitely something to be considered, although it should be noted that the existing `hub sync` command doesn't do that and is an offline, locally computed feature minus the initial `git fetch`

[2020-09-28 17:56] KenyStev commented on #2007
yeah I think makes sense 👍

[2020-09-28 17:59] chriscn opened #2010 "Ability to delete a repo from the command line."
### Describe the feature or problem you’d like to solve
I'd like to be able to quickly delete repos from my account, old forks and such. It is quite annoying to manually go onto each website in turn and then delete, then to confirm. Also would allow the ability to script delete repos fairly easily.

### Proposed solution
Using the API, add the delete option.

[2020-09-28 18:08] sprak3000 commented on #2006
@vilmibm

Thank you for the clarification of the code. Would it help at all for me to experiment with setting up PATs with different permissions and see what might trigger them coming back? Or will the GraphQL overhaul sidestep this entirely?

[2020-09-28 18:19] vilmibm commented on #2006
I have no idea if the GraphQL port would help this specific instance, but I want to do that either way so we don't have to overfetch gists. We can revisit once that's merged. If you want to play around with PAT scopes feel free but there's no pressure! It's just a wild guess. I've been surprised by some actions belonging to seemingly unrelated scopes before.

You're welcome to grab the source and

[2020-09-28 18:32] vilmibm commented on #2010
We've stayed away from this because it's such a dangerous action and I think we will continue to do that.

It's possible, however, to generate a PAT with the `delete_repo` scope and then do:

[code]

[2020-09-28 18:32] #2010 closed, assigned to nobody

[2020-09-28 18:56] vilmibm commented on #1960
I didn't realize raspberry pis were 32 bit; I am okay including arm32 support so there is at least a precompiled binary for people to use, do you have any objections @mislav ?

[2020-09-28 19:14] vilmibm commented on #1966
Thanks for pointing this out!

I think for now option `1` is fine since I do want to add a `gh gist fork` command we can direct users to.

[2020-09-28 19:44] redreceipt opened #2011 "Feature: Add Labels to PRs"
### Describe the feature or problem you’d like to solve

Add labels to PRs

### Proposed solution

`gh pr metadata 123 -l "merge"`

[2020-09-28 19:44] trevjonez commented on #1722
For documentation sake: `hub sync` produces this warning after a squash merge
[code]

A `git merge-base --is-ancestor $HASH HEAD` is going to fail but a `git diff $HASH HEAD` would come back empty. So that might a good option to make a standalone tool without depending on anything github specific. Fold that with some commit message comparison you could infer what happened? Though I would expect so

[2020-09-28 20:19] 091530777777 opened #2012 "`--assign-yourself` flag name, but it's easy enough to change if you deem it appropriate."

[2020-09-28 20:19] Pushpamk commented on #2011
I think this feature is already been requested in issue no. #1911

[2020-09-28 20:27] redreceipt commented on #2011
That one is on the `create`, I'd like to add and remove labels after the PR is already up.

[2020-09-28 20:43] kennyvallejoc commented on #1752
Closed due to refered issue.

[2020-09-28 20:43] #1752 closed, assigned to nobody

[2020-09-28 21:23] felipecrs commented on #1711
I think we can even reuse the codebase from `goreleaser`.

[2020-09-28 22:32] KenyStev commented on #2007
I'll take it if it's okey ✋

[2020-09-28 22:37] ghost commented on #1980
If you have set the git_protocol in the hosts.yml it will use by default that specific protocol for a specific host.
gh config get git_protocol --host <host>
gh config set git_protocol <protocol> --host <host>

If for any reason the git_protocol is not set in the hosts.yml file, by default it will use the git_protocol from the config.yml
gh config get git_protocol
gh config set git_protocol <proto

[2020-09-29 07:07] chernjie commented on #1933
@tavyandy97 Not a feature that I know of at the moment, it's also not one of the known Github hidden query params... Perhaps someone from Github can enlighten us :D

This is also why in the sample code I have above, I used `	hub browse -- search\?q=filename:"$*"` instead of said query params

[2020-09-29 08:14] lucasrangit opened #2014 "`gh auth refresh` fails with `invalid URL escape "%"` on GHE 2.20.12"
### Describe the bug

I was able to `auth login` to GHE but cannot `auth refresh` when using GitHub Enterprise Server 2.20.12. The error I get is `invalid URL escape "%"`. I get the same error if I use `--hostname github.e-corp.net`, or `GH_HOST`, or selecting the host at the prompt.

I traced the error to the `ParseQuery` call on the following line.  But I was not able to workaround it (tried `Qu

[2020-09-29 08:22] gbirke opened #2015 "Ability to edit PR metadata"
### Describe the feature or problem you’d like to solve

I'd like to edit title and description (like described in #1349), but also add reviewers after the fact and put a PR back into draft mode.

### Proposed solution

Have a `gh pr edit` command that supports the `--assignee`, `--body`, `--title`, `--label`, `--reviewer`, `--base` flags, similar to `gh pr create`.

The `--assignee`, `--label` an

[2020-09-29 08:53] mislav commented on #2014
Thanks for reporting!

If you do `DEBUG=oauth gh auth refresh …`, you will get a little bit of extra debugging output. Can you check that?

I presume that it's the `POST https://github.e-corp.net/login/device/code` that is failing. Specifically, I suspect that the server response to that request is not properly url-encoded, and that a plain `%` character triggers the error.

Can you check like thi

[2020-09-29 08:56] mislav commented on #2011
Thank you! Duplicate of #2015

[2020-09-29 08:56] #2011 closed, assigned to nobody

[2020-09-29 08:58] mislav commented on #1752
See also #2015

[2020-09-29 09:03] mislav commented on #1933
The way I see this feature implemented in gh is that we would enable you to generate shareable URLs for files or directories in your local repository. We would _not_ redirect you to the online fuzzy finder, since that would take you out of the terminal flow.

For people who want to fuzzy-find files in their projects, they can use the fuzzy finder in their text editor of choice, or something like [

[2020-09-29 09:16] mislav commented on #1820
Thank you everyone for your reports and patience! Currently fixed in trunk; we will cut a release soon 👍

[2020-09-29 10:02] lucasrangit commented on #2014
You are correct. I get `POST https://github.e-corp.net/login/device/code`. I updated the issue description.

That doesn't return anything. If I add `--verbose` I see the following. Looks like a redirect (HTTP 302) it not followed?

[code]

[2020-09-29 12:19] #1683 closed, assigned to nobody

[2020-09-29 12:28] brettcurtis opened #2017 "Create note in a project board"
### Describe the feature or problem you’d like to solve

We use projects to track work and have one specifically for continuous improvement. When the improvement doesn't align directly with a repository, we create a note to track it. Users don't always create the note due to the extra steps in a browser.

### Proposed solution

If we could create a note similar to gh issues it would make adding an

[2020-09-29 13:19] raymondChris opened #2018 "Problem with some commands"
### Describe the bug

On gh version 1.0.0 (2020-09-16)

### Steps to reproduce the behavior

I noticed that if i use certain commands from git Bash that receive a question for response i receive an error

For example if i use
gh pr merge --merge

it will ask me which repository and if i used it from git Bash is not working properly

[2020-09-29 13:20] mislav commented on #2018
Hi, could you please paste us the error message in full?

Ref. https://github.com/cli/cli/issues/1923

[2020-09-29 13:30] raymondChris commented on #2018
gh pr create --title 'title' --body 'body' --base qa
? Where should we push the 'dev' branch?  [Use arrows to move, type to filter]

  Create a fork of demaengineering/prova
  Skip pushing the branch
  Cancel
Funzione non corretta.

'Funzione non corretta'... sorry this is Italian, but i think in english is 'Function not correct' or 'Command not correct'

Thank you

[2020-09-29 13:33] raymondChris commented on #2018
Anyway I noticed also that if I open the git Bash from Visual Studio Code everything is working properly. This bug is just when i open the git Bash directly from the folder

[2020-09-29 14:15] tavyandy97 commented on #1933
Hey @mislav. Sounds like a plan. The only part I could not comprehend was, how can a shareable URL be generated for a file that is on my local?

[2020-09-29 15:03] hornta commented on #1980
@JukkaKeisala So when I did the first setup I was asked if I wanted to use https or ssh. I chose ssh. But when I try to get the config I'm receiving https:
[code]

The hosts.yml file does actually have ssl:
[code]

while the config.yml does have the https:
[code]

it must mean when I try to clone it uses the value from hosts.yml and when I try to set/get config I'm doing that in the config.yml. It

[2020-09-29 15:11] robmv opened #2019 "RPM should install on consistent paths"
### Describe the feature or problem you’d like to solve

Current RPM install the binary on `/usr/local/bin` but man pages are installed on `/usr/share/man`.

### Proposed solution

These should be installed consistently. If using the `/usr/local` prefix, binary should go to `/usr/local/bin` and man pages to `/usr/local/share/man`. If using the `/usr` prefix, binary should go to `/usr/bin` and man

[2020-09-29 15:16] vilmibm commented on #1980
Sorry for the confusion here but it seems things are working as intended; if you'd like to unset either of the `git_protocol` values (global or `--host github.com`) you can set them to empty strings (or edit the configs).

Going to close this; please let me know if that is in error.

[2020-09-29 15:17] vilmibm commented on #2019
This has already been fixed and will be reflected by the next release of `gh` (the binary will install to `/usr/bin`).

[2020-09-29 15:17] #2019 closed, assigned to nobody

[2020-09-29 15:24] vilmibm commented on #2018
This seems similar enough to #1923 that I'm guessing it's the same problem; going to close this as a duplicate and circle back if a fix for #1923 doesn't help you out.

[2020-09-29 15:24] #2018 closed, assigned to nobody

[2020-09-29 15:27] #1922 closed, assigned to nobody

[2020-09-29 15:38] vilmibm commented on #2017
I'd love to see projects support in `gh` at some point but at the moment we don't have a plan for including it. I'm going to close this for now, but want to suggest an alias in case it's useful:

[code]

[2020-09-29 15:38] #2017 closed, assigned to nobody

[2020-09-29 15:45] hornta commented on #1980
So if I type
[code]
and then try to clone a repo I should expect it to be cloned with https. But it doesn't. How is this not confusing? I believe I should never have to enter and alter some config file to get this working.

[2020-09-29 15:45] mislav commented on #1897
@nightpool Since `git branch --show-current` seems to be a superior approach, we would welcome a PR that changes our `CurrentBranch()` implementation to use `git branch --show-current` and fall back to `git --symbolic-ref` if the former failed with output to stderr (to support git 1.9 https://github.com/cli/cli/pull/696#discussion_r397449276) 👍

It seems that `git branch` will exit with return cod

[2020-09-29 15:57] vilmibm commented on #2015
Marking as for the core team to take on since I suspect this will come with some internal refactoring.

[2020-09-29 16:05] mislav commented on #1980
@hornta Sorry for the confusion. There is a host-specific config for `git_protocol`, and yours is set to `ssh` for github.com. That takes precedence over the "global" `git_protocol` setting; see `gh auth status`.

You can change the host-specific protocol with `gh config set git_protocol https -h github.com`.

I see your point that by pre-populating host-specific setting for this for everyone when

[2020-09-29 16:12] vilmibm commented on #1907
Instead of a new command, how about including this as part of the `gh repo create` flow? I'm curious if @ampinsk has an opinion about things like .gitignore/licenses

[2020-09-29 16:22] camelid commented on #1963
I normally use the fish shell, but that shouldn't make a difference in terminal rendering, so I switched into bash:

![image](https://user-images.githubusercontent.com/37223377/94585710-3cb5c600-0235-11eb-90ac-92dfe2b7c775.png)

[2020-09-29 16:23] vilmibm commented on #1980
This issue is now not addressing a bug but is describing the config system behaving exactly as designed; there are global settings that can be overriden per host. It's true that the new `gh auth login` flow means the global `git_protocol` won't be checked for most users in most cases, but I still see value in setting a global `git_protocol`: what if a user is using `GITHUB_TOKEN`? What if a user u

[2020-09-29 16:24] vilmibm commented on #1983
Thanks!

This is handled by an upstream library, https://github.com/charmbracelet/glamour ; I think an issue there might be more appropriate.

[2020-09-29 16:24] #1983 closed, assigned to nobody

[2020-09-29 16:29] #1957 closed, assigned to nobody

[2020-09-29 16:31] camelid commented on #1963
Colors render fine everywhere else in my terminal; I think there's something up with this character in particular. Pasting ✓ into a Python REPL, for example, looks like this:

![image](https://user-images.githubusercontent.com/37223377/94585919-7f779e00-0235-11eb-96c9-6d73bded4cef.png)

But pasting ✔ into a Python REPL looks like this:

![image](https://user-images.githubusercontent.com/37223377/9

[2020-09-29 16:41] mislav commented on #1980
@vilmibm Agreed that the config system is working exactly as designed here. I thought to reclassify this as a bug based on how this behavior is experienced from the user's perspective.

Seeing how `gh auth login` (with prompts) is the default authentication experience (i.e. that most users will be taking) and that this default flow will generate a github.com-specific `git_protocol` setting, I thin

[2020-09-29 16:41] camelid commented on #1983
Okay, opened charmbracelet/glamour#80!

[2020-09-29 16:55] mislav commented on #1963
I wonder why macOS Terminal.app would apply a specific color just for that character. Do you think this could be something about the font that you are using?

Anyway, we display the "✓" character in green color and that is also my experience in macOS Terminal.app with default settings. If it looks different for you, I would suspect that this is something on your system.

You can try using `NO_COLO

[2020-09-29 16:55] #1963 closed, assigned to nobody

[2020-09-29 16:58] vilmibm commented on #1942
@mislav Shall we convert this issue to explicitly be about `gh api` taking a `--hostname`? or is the plan to add `--hostname` to all commands?

[2020-09-29 17:04] camelid commented on #1963
Hmm, that's an interesting idea. I'm using Source Code Pro, which can be buggy in some situations. I'll into that, thanks!

It is, unfortunately.

Okay, thanks for your help!

[2020-09-29 17:04] camelid commented on #1963
It works in Menlo font, so it must be Source Code Pro.

[2020-09-29 19:17] vilmibm commented on #1711
This makes sense to me; it could be argued that this is the responsibility of a build system external to `gh` but given that we're proposing `gh` be used to create build automation this seems like a basic feature to be expected. I'm going to mark as help wanted and cc @mislav in case he feels differently about this.

[2020-09-29 19:19] cristiand391 commented on #2007
Have you tried [Glow](https://github.com/charmbracelet/glow/)?
It uses the same lib as `gh` for rendering markdown so you get the same result plus additional features.

[2020-09-29 19:21] vilmibm commented on #1929
I think for now I'm curious to see what scripting this looks like; when there's a better sense of the flow we can revisit support in `gh`.

[2020-09-29 19:21] #1929 closed, assigned to nobody

[2020-09-29 19:26] vilmibm commented on #1930
Going to optimistically hope that this is fixed with #1917 and close; reopen if I'm wrong.

[2020-09-29 19:26] #1930 closed, assigned to nobody

[2020-09-29 19:26] vilmibm commented on #1931
Does the `-R` option not suffice for this?

[2020-09-29 19:34] vilmibm commented on #1916
Reproducible builds aside I think it's good practice to have `deb-src`; to be transparent though I'm not sure when I'll get to it.

[2020-09-29 19:36] ampinsk commented on #1907
Yes, definitely makes sense to include in `repo create`! Here's a quick sketch on what that flow could look like:

<img width="437" alt="Screen Shot 2020-09-29 at 3 34 20 PM" src="https://user-images.githubusercontent.com/10404068/94607167-8e784380-0269-11eb-8e55-cd158ca2ac75.png">

[2020-09-29 19:39] vilmibm commented on #1262
@Vishesh-Gupta Thanks for volunteering. I've gone ahead and assigned you.

[2020-09-29 19:43] icanhazstring opened #2023 "fatal: not a git repository"
### Describe the bug

Installing `gh` using Homebrew `brew install gh`.
Run any command e.g. `gh --version` on any folder on your system.

### Steps to reproduce the behavior

1. Install using Homebrew
2. Run `gh --version`
3. See error `fatal: not a git repository (or any of the parent directories): .git`

### Expected vs actual behavior

The current version (or any command output) should be disp

[2020-09-29 19:46] vilmibm commented on #2007
Using `glow` makes a ton of sense; the argument I can think of for additionally having `gh render` is that it will render using the same version and configuration of `glamour` as the rest of gh, helping a user preview changes they're going to open a PR for and intend for consumption via `gh` (ie changes to a repo's readme).

I don't have strong feelings about including this command one way or the

[2020-09-29 19:49] vilmibm commented on #2023
I'm not able to reproduce this :( `gh --version` works as expected in a git repo, outside a git repo, and in a directory with a bogus `.git`.

It might not help much but can you attached the result of running `DEBUG=1 gh --version`?

Are you getting this error with other `gh` commands? In various local directories?

[2020-09-29 19:51] icanhazstring commented on #2023
I am running this in a simple folder when I want to clone any repository or even authenticate "myself".
Using the `DEBUG=1` doesn't do anything.

This is my output:
[code]

[2020-09-29 19:52] icanhazstring commented on #2023
Running it inside a valid repository leaves me with an empty output.

[2020-09-29 19:54] icanhazstring commented on #2023
Maybe this helps:

[code]

[2020-09-29 19:55] vilmibm commented on #2023
oh wild; that is very bizarre behavior, sorry. It sounds like #1890 .

If you're willing to put in the effort, could you see if building and running from source has this effect? It will help understand if this is fallout from some packaging issue on macos vs. something weird in the shell.

[2020-09-29 19:56] icanhazstring commented on #2023
Seems related yes. I'll try it out from source 👍

[2020-09-29 20:01] SUMIT1249 commented on #2023
Plzzz do not send me email

On Wed, 30 Sep, 2020, 1:27 am Andreas Frömer, <notifications@github.com>
wrote:

[2020-09-29 20:01] SUMIT1249 commented on #2023
Stop to send me , ya , unsubscribe this site

On Wed, 30 Sep, 2020, 1:31 am Aryan Singh, <aryansingh900420@gmail.com>
wrote:

[2020-09-29 20:02] icanhazstring commented on #2023
Build from source, still the same outcome.
With a `.git` folder I get an empty output without I get the fatal error. :(

[code]

[2020-09-29 20:03] smorimoto commented on #1907
To be honest, I use tools like ghq or peco to manage the repository, so it's quite painful if we can only manage templates that way.

[2020-09-29 20:05] vilmibm commented on #1973
A decent option is to use `heredoc.Docf`, as in:

[code]

[2020-09-29 20:10] vilmibm commented on #1972
This is a lovely idea but one that is unfortunately precluded by our heavy use of the GitHub API; even `pr checkout` can't run without using the API and there's no affordance for anonymous use of the API. I think the best we can offer is having those short lived machines get injected with a `GITHUB_TOKEN` environment variable with a token that can be rotated.

If there are good ideas I'm not think

[2020-09-29 20:10] #1972 closed, assigned to nobody

[2020-09-29 20:15] vilmibm commented on #2000
I definitely see the merits in this for folks using GH at work under a single organization; I'm marking as `core` since I want us internally to discuss if a new config option is right for this.

[2020-09-29 20:17] vilmibm commented on #1349
I feel like we can convert this into a general "edit existing PRs" issue and close #2015?

[2020-09-29 20:17] vilmibm commented on #2023
O_O

O_O

O_O

How about different terminal emulators (Terminal.app vs iterm2 for eg) or shells?

[2020-09-29 20:19] vilmibm commented on #1907
I'm still open to commands that add licenses/.gitignores (we can expand the discussion in #871 to include .gitignore) but think that having that be exposed as part of creating a repo is also important.

[2020-09-29 20:54] mmontes11 commented on #1897
Fixed in #2025

[2020-09-29 22:30] tomekpryjma opened #2026 "gh create repo takes parent directory name if parent directory contains .git"
### Describe the bug

The `gh repo create` command does not take the current directory's name if a parent directory has a `.git` folder inside it.

**For example**

I am in `/var/www/html/toplevel/wp-content/plugins/my_plugin`.

The directory `/var/www/html/toplevel` has a `.git` folder inside it (which is pointing to a remote origin) as well as a `.gitignore` which, amongst others, ignores the `w

[2020-09-29 23:23] jatcwang commented on #902
Big +1 for me because when reviewing PRs I don't want to create a local branch which I then have to cleanup later..

[2020-09-30 00:16] ShubhankarKG commented on #1907
I'd like to work on this.
Given the new supports that we will be extending, shouldn't we also introduce some flags ? That would help as well.

[2020-09-30 02:37] Lucaslah commented on #1919
When I put `gh repo clone cli/cli` into Windows Explorer (I have Git for Windows Installed and git bash etc.) it opens a cmd window for about 1 sec and than nothing, same with win + R (run).

[2020-09-30 04:40] nissessenap opened #2027 "Official container image"
### Describe the feature or problem you’d like to solve

Have an official container image available for download that the CLI project manage.

### Proposed solution

Instead of everyone in the community should manage their own container with the cli it would be nice if you can do it.
It will also lesser the risk of having people with bad intentions creating dockerfiles and call them official at pl

[2020-09-30 06:19] seed-of-apricot commented on #326
Searched and landed here. This feature would help people with two or more accounts (personal/business/others) and use both of them every day (swapping the config file would be too much for them).

[2020-09-30 07:56] mislav commented on #2023
@icanhazstring Can you do `type gh` in your shell to rule out that `gh` is not a shell function or alias?

[2020-09-30 08:13] icanhazstring commented on #2023
@mislav thank you. That was it.
I have installed aliases from `bash-it` for git. There is also an alias for `gh` which does overrule the binary from the cli.

Now I only have to figure out how to avoid the alias for one single command ;)
Closing this, as there is no problem with the cli itself. Running it from the installation path works fine 👍

Thanks for the help.

[2020-09-30 08:13] #2023 closed, assigned to nobody

[2020-09-30 08:18] doegox opened #2030 "gnome-terminal: terminal not restored properly after some cmds, user text becomes invisible"
### Describe the bug

After some commands such as `gh issue view ###` or `gh pr view ##`, the terminal becomes unusable: it doesn't show the text typed by the user

### Steps to reproduce the behavior

1. `gh issue view 1`
2. if issue is long, type q to quit pager
3. try to type a command: it's interpreted but input text is not displayed

Here is an example where I pressed Enter several times afte

[2020-09-30 08:28] doegox commented on #2030
I tested a few other terms:

* xfce4-terminal: same bug
* xterm, uxterm: ok

[2020-09-30 08:39] Croydon commented on #641
It would be also a great filter for issues which either have or do not have linked pull request(s) which can fix the issue

[2020-09-30 08:56] lucasrangit commented on #2014
@mislav , I redid the `curl` with `--location` to follow the redirect and I get a response. (The same as when I instrumented the code). Here is some of `curl` output where I found a '%'

[code]

[2020-09-30 09:18] mislav commented on #2030
Hi, I believe that we fixed this in trunk with https://github.com/cli/cli/pull/1917

Can you verify that the bug doesn't happen if you set `GLAMOUR_STYLE=dark` prior to executing `gh issue view`? (It would be a good idea to spawn a fresh shell for each test.) If so, this will be fixed in the next release, you can close this issue and keep the GLAMOUR_STYLE workaround in your shell in the meantime.

[2020-09-30 10:25] gibfahn commented on #1709
Seems like this regressed? `gh pr create` works for me on `gh` v0.12.0 but fails on v1.0.0.

As a workaround I cloned the repo, checked out `v0.12.0`, and built with `make bin/gh`. Resulting `bin/gh` works fine.

[2020-09-30 10:27] doegox commented on #2030
Perfect, thanks !

[2020-09-30 10:28] #2030 closed, assigned to nobody

[2020-09-30 11:09] EnCey commented on #1815
@vilmibm that UI doesn't show up because of #404
Simply putting your screenshot in the docs of `gh auth login` would already be a tremendous help.

[2020-09-30 11:09] emilpriver opened #2031 "Be able to switch accounts"
### Describe the feature or problem you’d like to solve

I, as probably many people do have multiple Github Accounts, 1 for work and 1 for personal. Would be cool if u would be able to switch accounts. or is this already possible?

### Proposed solution

More users will be able to CLI instead of a webpage as they will be able to switch account

[2020-09-30 11:22] samcoe commented on #2031
This looks to be a duplicate of https://github.com/cli/cli/issues/326. I am going to close this for now. If you have more information to be added to the discussion please add it to that issue 🙇

[2020-09-30 11:22] #2031 closed, assigned to nobody

[2020-09-30 12:30] OJFord opened #2032 "`gh api issues` behaves as though I add `-f 'q=archived%3Atrue+assigned%3A%40me'`"
### Describe the bug

[code]

I'm trying to get a temporary solution to `gh --all issues` (#277) with the `api` subcommand.

Whether or not I include a query parameter to filter results, the output of `gh api issues` is as though I included one with `archived%3Atrue+assigned%3A%40me` - that is, it shows only my (one, because I don't really use the feature) assigned issues in archived repositories.

[2020-09-30 13:01] felipebn commented on #658
Hi! I was looking for this also, decided to give a try with the `tar.gz` packages and seems to work:

`Dockerfile`:

[code]

Then:
[code]

Hope it helps :)

[2020-09-30 13:08] mislav commented on #1709
@gibfahn Yes, this regressed since v0.12. Fix incoming!

[2020-09-30 13:38] mislav commented on #2032
Per [Issue endpoint docs](https://docs.github.com/en/free-pro-team@latest/rest/reference/issues#list-issues-assigned-to-the-authenticated-user):

[code]

(Note the `-X GET` so the request doesn't become a POST.)

However, this doesn't work for me as advertised: it's showing my oldest issues instead of the newest ones.

I would instead suggest using the Search endpoint:

[code]

Since this is about

[2020-09-30 13:38] #2032 closed, assigned to nobody

[2020-09-30 13:45] mislav commented on #1942
@vilmibm More than just `gh api` command could benefit from a per-call `--hostname` flag, but since some commands already define their own `--hostname`, maybe it's too big of a scope to try to add this flag globally. So I would just suggest adding it to `gh api` for now and amending the documentation to point to `--hostname` and GH_HOST for making GHE requests.

[2020-09-30 14:14] OJFord commented on #2032
Bah, thank you! I don't know why I assumed the website's `/issues` was the same API. When's anyone ever actually used `Accept` headers to do something like that (I know I haven't) :smile:.

Thanks for the `search/issues` suggestion too - I think I will use that, even if for nothing else than that I can play with github.com/issues to get the query(ies) I want and then just copy it.

[2020-09-30 14:15] #1400 closed, assigned to nobody

[2020-09-30 14:29] potatoqualitee opened #2033 "Expanding gh to cover "the same 5 commands over and over""
### Describe the feature or problem you’d like to solve

I am a creator of [CLI-based tools](https://github.com/sqlcollaborative/dbatools), but I use GitHub Desktop exclusively. I like CLIs that are intuitive and easy-to-understand, so I'm really liking `gh`.

I was disappointed to find out that `gh` requires a mix of `gh` and `git` to fully interact with my repos. [Online tutorials](https://www.s

[2020-09-30 14:35] d2iq-shadowbq commented on #619
This needs to be documented as it very much feels like a bug, instead of a lack of implementation.

`gh` will authenticate, just not for repo cloning.

[code]
You can still use `gh` it just doesn't inherit the token properly.

You can use your personal access token (https://github.com/settings/tokens) if you have a TFA:

[code]

[2020-09-30 15:36] lucasrangit commented on #2014
And in case it is useful, here is the HTTP header after the last redirect (302)

[code]

[2020-09-30 15:50] vilmibm commented on #2033
Thanks for the suggestion!

We have a rule about not proxying `git` commands directly. That said, a `gh branch` has come up a lot internally as an exception to this standard since branches are so fundamental to the work people do with GitHub each day.

I'm happy to leave this issue open for discussion with the caveat that **we have no intention of ever fully replacing `git`**. Speaking for myself,

[2020-09-30 16:07] vilmibm commented on #1907
@ShubhankarKG Thanks for volunteering!

Flags are a good idea but I'm okay with them being a followup.

I want to make sure we get that right. I'm worried about requiring something like `-l "Apache License 2.0"` and would want to explore shorthands there (like `apache2`). I'm guessing there's already a canonical list of shorthands we can reuse.

[2020-09-30 17:05] ShubhankarKG commented on #1907
Thanks! I'll start implementing this.

[2020-09-30 18:03] AArnott opened #2036 ""gr pr create" fails to create PR from origin to upstream remote"
After pushing my local branch to `origin`, I use `gh pr create -w` to open a PR browser window.

**Expected**

The browser should pop up with a new PR coming from my fork and targeting the `upstream` remote:

https://github.com/microsoft/vs-streamjsonrpc/compare/master...AArnott:connectionLost?expand=1

**Actual**

The browser pops up with a *blank* PR coming from a non-existant branch in `upstrea

[2020-09-30 18:04] ErKiran commented on #2006
@sprak3000
As stated by @vilmibm I changed the scope of token to gist.
Now I can see all both public and private gists.

[2020-09-30 18:07] jef commented on #658
Ah, yes. You're right. Using the `*_386` bin works for alpine. Which seems somewhat obfuscated by the fact that's the [default architecture for alpine pulls](https://hub.docker.com/layers/alpine/library/alpine/3.12.0/images/sha256-90baa0922fe90624b05cb5766fa5da4e337921656c2f8e2b13bd3c052a0baac1?context=explore). TIL 😄

Oddly enough, using the tag `amd64/alpine:3.12.0` and downloading the `*_amd64`

[2020-09-30 18:08] mislav commented on #2014
Thanks for looking that up!

I think the main problem with way your GHE instance is set up is that a POST to `https://github.e-corp.net/login/device/code` is responded to by a 302 redirect. This endpoint doesn't yet exist in your GHE version, but will exist in a later version, and if your web server is configured to redirect away, apps like GitHub CLI won't be able to authenticate. Your GHE admini

[2020-09-30 18:35] vilmibm commented on #671
@mislav is this still an issue? I'm also not able to reproduce this on my non-mac environment.

[2020-09-30 18:40] vilmibm commented on #679
We've since redesigned both of those sites; I don't see any issues on my end (windows/firefox and ubuntu/firefox) so I'm closing this. Please reopen if there are indeed still issues.

[2020-09-30 18:40] #679 closed

[2020-09-30 19:09] vilmibm commented on #746
I just tested this and it no longer errors when there is an existing remote; however, it does a pull on the local version of the branch instead of prepending a fork owner's name and making a new branch.

This still seems like buggy behavior to me; it seems like the fork owner's name should be prepended whether or not a remote exists.

[2020-09-30 19:11] vilmibm commented on #781
This no longer segfaults.

[2020-09-30 19:11] #781 closed

[2020-09-30 19:23] YasielCabrera opened #2037 "Document proxy support"
### Describe the feature or problem you’d like to solve

Right now it's impossible to use GitHub CLI behind a proxy. Even if you have a proxy set up in the OS or in git GitHub CLI it doesn't work

Note: I'm using Windows 10

### Proposed solution

Allow to configure the use of a proxy (maybe the same as git). Something like:

[code]

[2020-09-30 19:24] fdm1 commented on #326
It's a bit hacky, but I solved this so that I could evaluate if I want to actually use this cli by using the token auth capabilities, putting this into my dotfiles.

[code]

[2020-09-30 19:24] allejo opened #2038 "`repo create` input is different from `repo create [repo]`"
### Describe the bug

If I give `repo create` an argument with an organization name, it works fine. However, if I try giving the organization name win the "Repository name" prompt, then it completely ignores the organization name.

### Steps to reproduce the behavior

[code]

[code]

### Expected vs actual behavior

I would expect the same behavior when given as an argument vs when given to a prom

[2020-09-30 19:26] vilmibm commented on #658
Glad there's a binary that works here ✨

[2020-09-30 19:26] #658 closed

[2020-09-30 19:31] allejo opened #2039 "Add `repo associate` command to add existing origin to a local repo"
### Describe the feature or problem you’d like to solve

I think it would be nice if I could run a command like `repo associate` (or something) and it would allow me to set the origin of an existing repo on my computer to an existing repo on GitHub. This would be handy when there's an empty repo on GitHub and I'm trying to push my repo up.

### Proposed solution

[code]

This command should respec

[2020-09-30 19:39] VolkerSchlegel commented on #1960
Raspbian OS with 64bit actually exists, but still is in beta and as I know there is now release date known yet :confused:

[2020-09-30 19:43] vilmibm commented on #1096
My thinking is that people might expect this to behave one way or the other and some folks will be surprised no matter what.

@ampinsk do you have thoughts?

[2020-09-30 19:47] vilmibm commented on #1168
This is troubling :( I think it's important to try to get this right. It's possible we're SoL given the APIs available but it warrants investigation.

[2020-09-30 20:01] ampinsk commented on #1096
@vilmibm I have similar thoughts! Lots of people might have different expectations here. I think could be a reasonable default, let's leave this issue open to see if others chime in with the same expectation. If there's not a strong push, I think leaving it as is is reasonable.

[2020-09-30 20:12] Obmorok070 opened #2040 "iOS"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit CLI and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2020-09-30 20:13] vilmibm commented on #1309
I'm also in favor of option 1.

[2020-09-30 20:18] Obmorok070 opened #2041 "Cli"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

### Steps to reproduce the behavior

1. Type this '...'
2. View the output '....'
3. See error

### Expected vs actual behavior

A clear and concise description of what you expected to happen and what actually happened.

### Logs

Paste the activity from your command line. Redact if

[2020-09-30 20:20] vilmibm commented on #1385
These are rendered on the web, now; I'm going to close but feel free to reopen if what's rendered on the web is inadequate.

[2020-09-30 20:25] vilmibm opened #2042 "Columns truncated when printing nontty table"
The table printer is truncating columns (at least in `issue list`) to meet the terminal width even
when invoked non-interactively. This breaks grep-based scripting for, say, long lists of labels.

[2020-09-30 20:32] #1472 closed, assigned to nobody

[2020-09-30 20:32] #1512 closed, assigned to nobody

[2020-09-30 20:41] #1605 closed, assigned to nobody

[2020-09-30 20:42] vilmibm commented on #1605
Closed since I wasn't seeing any action items coming out of this; please reopen if I'm wrong.

[2020-09-30 20:55] vilmibm commented on #1610
This is definitely a bummer but unfortunately reflects what appears to be intentional behavior on github.com ; re-requesting review doesn't destroy the earlier approval and a user must manually dismiss the approval (with a confirmation message) to put a PR back in "requires review" state.

Going to close this for now but am open to discussion of adding a feature to `gh` to dismiss reviews.

[2020-09-30 20:55] #1610 closed, assigned to nobody

[2020-09-30 21:05] vilmibm commented on #1714
I don't think there is an elegant way to solve for this; I think it's up to users to recognize that in a VM context they would want the paste a token flow (or set up some `$BROWSER` magic to tell the host OS to open a URL)

[2020-09-30 21:05] #1714 closed, assigned to nobody

[2020-09-30 21:10] truongnhi08 opened #2043 "Yep. I was looking into it yesterday and I'll try to get it working. Haven't really worked with the testing side of things with graphql before so I might need a little help."
Yep. I was looking into it yesterday and I'll try to get it working. Haven't really worked with the testing side of things with graphql before so I might need a little help.

_Originally posted by @Matt-Gleich in https://github.com/cli/cli/pull/1763#issuecomment-694833681_

[2020-09-30 21:11] truongnhi08 opened #2044 "Yep. I was looking into it yesterday and I'll try to get it working. Haven't really worked with the testing side of things with graphql before so I might need a little help."
Yep. I was looking into it yesterday and I'll try to get it working. Haven't really worked with the testing side of things with graphql before so I might need a little help.

_Originally posted by @Matt-Gleich in https://github.com/cli/cli/pull/1763#issuecomment-694833681_

[2020-09-30 21:12] truongnhi08 opened #2045 "I like this idea, thanks! We'll chat to make sure we're aligned on it and about how the flag should work."
I like this idea, thanks! We'll chat to make sure we're aligned on it and about how the flag should work.

_Originally posted by @billygriffin in https://github.com/cli/cli/issues/389#issuecomment-585464495_

[2020-09-30 21:14] truongnhi08 opened #2046 "@billygriffin thanks for pointing me to the issue! I was working on this for PRs too in another branch but I couldn't find `filter` for `pullRequests` in the github explorer api. I would be glad to do it."
@billygriffin thanks for pointing me to the issue! I was working on this for PRs too in another branch but I couldn't find `filter` for `pullRequests` in the github explorer api. I would be glad to do it.

_Originally posted by @eddumelendez in https://github.com/cli/cli/pull/625#issuecomment-597261092_

[2020-09-30 21:15] truongnhi08 opened #2047 "I like this idea, thanks! We'll chat to make sure we're aligned on it and about how the flag should work."
I like this idea, thanks! We'll chat to make sure we're aligned on it and about how the flag should work.

_Originally posted by @billygriffin in https://github.com/cli/cli/issues/389#issuecomment-585464495_

[2020-09-30 21:15] truongnhi08 opened #2048 "I realize this isn't PR-worthy (it does not work if someone wanted to search for both author *and* assignee, for example). But if anyone just needs to search PR's by author, this will work: https://github.com/webern/github-cli/tree/v0.5.7-pr-author-search"
I realize this isn't PR-worthy (it does not work if someone wanted to search for both author *and* assignee, for example). But if anyone just needs to search PR's by author, this will work: https://github.com/webern/github-cli/tree/v0.5.7-pr-author-search

This works: `gh pr list --state=all --author=someone`

Here's a patch that starts at v0.5.7

[code]

_Originally posted by @webern in https://g

[2020-09-30 21:18] truongnhi08 opened #2049 "I like this idea, thanks! We'll chat to make sure we're aligned on it and about how the flag should work."
I like this idea, thanks! We'll chat to make sure we're aligned on it and about how the flag should work.

_Originally posted by @billygriffin in https://github.com/cli/cli/issues/389#issuecomment-585464495_

[2020-09-30 21:29] vilmibm commented on #1745
I like the idea of adding a per-directory "default hostname".

[2020-09-30 21:40] vilmibm commented on #1795
https://cli.github.com/manual/environment-variables exists and is linked from the landing page of the manual so I'm going to close this but we can reopen if further docs changes are desired.

[2020-09-30 21:40] #1795 closed, assigned to nobody

[2020-09-30 21:43] vilmibm commented on #1821
this is highly platform dependent and, i don't think, a major issue.

[2020-09-30 21:43] #1821 closed, assigned to nobody

[2020-09-30 21:58] vilmibm commented on #1894
Closing since no new reports have come in.

@Meiryo7743 are you still having problems?

[2020-09-30 21:58] #1894 closed, assigned to nobody

[2020-09-30 22:03] vilmibm commented on #1906
I'll need to bring up a xenial environment to debug, sorry :( in the meantime, the .deb package from the latest release can be manually installed with `dpkg`. sorry!

[2020-09-30 22:05] vilmibm commented on #1910
I don't think this is a bug; both `gh` and `git` are working as designed and advertised. I further am personally unsure about `gh` getting that involved with `git` authentication; I don't want to do the wrong things with a user's token.

I'll leave this open for further discussion but am updating to an enhancement request.

[2020-09-30 22:07] vilmibm commented on #2038
Agreed this is a bug, thanks for opening.

[2020-09-30 22:46] jnyjxn commented on #1906
Ok no problem! I can deal with that, just wanted to make you aware :)

[2020-10-01 00:23] seed-of-apricot commented on #326
@fdm1 Which config file did you fill that in?

[2020-10-01 00:47] fdm1 commented on #326
Just in my bash dotfiles

[2020-10-01 00:53] manchicken opened #2050 "none of the git remotes configured for this repository point to a known GitHub host. To tell gh about a new GitHub host, please use `gh auth login`"
### Describe the bug

When I attempt to do a basic operation, such as `gh pr list` I receive this message:

### Steps to reproduce the behavior

0. Be logged in already
1. Check out `gh repo clone net-amqp-rabbitmq/net-amqp-rabbitmq`
2. Run `gh pr list`
3. See error

### Expected vs actual behavior

I expected to see a list of open PRs, but instead I see the error.

### Logs

[code]

The `.git/con

[2020-10-01 02:22] AliabbasMerchant commented on #1309
Cool. I'll create a PR for this.

[2020-10-01 04:47] jhullEO opened #2051 "Arrow keys ubuntu 20.04"
### Describe the bug

A clear and concise description of what the bug is. Include version by typing `gh --version`.

gh version 1.0.0

Using arrow keys ubuntu 20.04 gets: `Unexpected Escape Sequence ['\x1b' '0']`.  This seems to be a general dotnet on linux thing https://github.com/pulumi/pulumi/issues/1621, https://github.com/microsoft/dotnet/issues/472. I came upon the filtering thing, but thoug

[2020-10-01 07:12] lucasrangit commented on #2014
@mislav , that makes sense. I guess that also means the README should be updated with the correct GHE version. It currently lists 2.20+ as supported.

https://github.com/cli/cli/blame/trunk/README.md#L9

I checked https://enterprise.github.com/releases but could not find which version introduced the device/code endpoint. If you can tell me the version I will report the overzealous redirect issue a

[2020-10-01 07:26] ParthS28 commented on #2051
I am on pop!_OS, which is based on Ubuntu 20.04, and I am not getting this bug. I found something which might or might not help you.

https://github.com/jenkins-x/jx/issues/314

[2020-10-01 07:26] patatepartie commented on #1718
What about a cli flag instead of/in addition to the default? That way people can create aliases for the option(s) they want.

For instance I have the alias `cw:  pr create -w` because I like my PRs to be created in a browser.
Similarly I could create a new alias (or modify this one) with the flag to chose the pushing option I want.

[2020-10-01 07:47] ls-jad-elkik commented on #658
Any chance this can be mentioned in the [installation docs](https://github.com/cli/cli/blob/trunk/docs/install_linux.md)?

Or eventually added to the repositories to make `apk add gh` possible?

[2020-10-01 08:06] sandstrom opened #2052 "Merging PR in "merge commit mode" should rebase first"
### Describe the feature or problem you’d like to solve

When merging a PR (using the 'create merge commit'-mode), I'd like to have the branch rebased on the base branch (e.g. master) first.

### Proposed solution

Basically, I'd like it to do something like this under the hood:

[code]

I would wish this behavior for **both** the Github web UI and for the CLI.

### Supported by most other tools (

[2020-10-01 08:52] bigpresh opened #2053 "Ability to request re-review after addressing requested changes on a PR"
### Describe the feature or problem you’d like to solve

Scenario:
* I've raised a PR, requested reviews, one or more reviewers has requested changes
* I've checked out the PR branch (handily via `gh pr checkout...`) and made the appropriate changes and pushed them

At the moment, it looks like I can't then request a re-review other than opening the PR in a browser and clicking the "request re-rev

[2020-10-01 09:03] mislav commented on #2050
Thank you for reporting!

What is the output of `git remote -v`?
Do you have anything `github.com`-specific in your `~/.ssh/config`?

[2020-10-01 09:06] mislav commented on #2037
@YasielCabrera Can you try setting the `https_proxy` environment variable? In Powershell, that would be:

[code]

But I agree that we should probably support a configuration option for a proxy. Not sure why Go is not picking up or respecting the OS-wide proxy setting.

[2020-10-01 09:14] mislav commented on #671
@vilmibm This is still an issue on mac.

[2020-10-01 09:18] mislav commented on #2051
@jhullEO Hi, we've received some reports like these before, but nothing was conclusive: https://github.com/cli/cli/issues/1918. It could be related to "keypad-transmit mode", although I don't know what that is.

Could you tell us more about your terminal emulator and your shell? Can you also replicate in a different environment, e.g. different terminal app or after you disable some of your shell s

[2020-10-01 09:41] AllanOricil commented on #1795
The problem is not related to having the env variables page. The problem is that after a `git auth login` where I specify the host, I still have to specify this host for every command, or set it up on my ENV variables. And that is not clear in the doc. Also the `git auth login` workflow seems to indicate that the host specified will be used for every next command without any extra setup.

![image]

[2020-10-01 12:46] sprak3000 commented on #2006
@ErKiran @vilmibm

Ah... I checked my PAT and found that `gist` was not in the permissions granted in the one I was using. Generated a new one with `gist` and get back secret ones now. PEBCAK... I'll close this out, though it might be useful to add something to the documentation somewhere -- README, CLI help, etc. -- indicating the token you use will need permissions for the object being accessed.

[2020-10-01 12:47] manchicken commented on #2050
D'oh! Yes. I had one which squished github and gitlab (I don't remember why, but I'm sure I had a reason?).

[code]

If I'm not mistaken, `HostName` clobbers, so both hosts would come out as "gitlab.com"? I'm now confused about how github.com ever worked before.

Thanks a bunch for helping!

[2020-10-01 12:47] #2006 closed, assigned to nobody

[2020-10-01 13:29] mislav commented on #2014
We do support your GHE version. However, gh first tries to detect whether `/login/device/code` is available. When it gets a 404, it falls back to a different authentication method. Your GHE doesn't support the `/login/device/code` endpoint, but returns HTTP 200 with the wrong response type nevertheless, which crashes gh. So you should definitely contact your GHE administrator, even though we will

[2020-10-01 13:30] mislav commented on #2050
@manchicken Yes, all your URLs resolved to `gitlab.com` instead of to `github.com`, and gh didn't know how to proceed.

Removing that part of ssh config will fix gh for you. 👌

[2020-10-01 13:30] #2050 closed, assigned to nobody

[2020-10-01 13:39] mislav commented on #1809
@Galunid It does return "true" closed PRs, but every once in a while there is an inconsistency in the search index where the indexed entry for a PR has a wrong `state` field. So this is only an intermittent bug and if it keeps bugging you, you can add a guard in your code where you verify that `state == "closed"` and discard all other results.

[2020-10-01 13:39] mislav commented on #2052
Hi, thank you for the detailed feature request! This issue tracker, however, is only for the CLI tool and not for requesting GitHub.com platform features. You will have to submit your feature request elsewhere, but since it's such a highly upvoted issue in `isaacs/github`, people in our org undoubtedly know about this.

In the meantime, You can script your own merge local strategy with `gh pr chec

[2020-10-01 13:39] #2052 closed, assigned to nobody

[2020-10-01 14:04] kit494way commented on #1553
I want same feature for `gh pr create`.

[2020-10-01 14:30] jhullEO commented on #2051
Hey @mislav, the terminal observation was correct, I'm using xterm-256color and bash, and for fun I installed Cool Term Retro, it works fine in that. I guess if anything you can add xterm to the list of badly behaving terminals, I'll just work around it for my part. Thanks for the quick response!

[2020-10-01 15:34] JoneSGirL1111 commented on #1709
I absolutely love thisI absolutely love this one i swear by it LMAO😘😍😛😜😳😳😳 https://twitter.com/messages/media/1311666618037006343 one i swear by it LMAO😘😍😛😜😳I absolutely love this one i swear by it LMAO😘😍😛😜😳😳😳 https://twitter.com/messages/mediaI absolutely love this one i swear by it LMAO😘😍😛😜😳😳😳 https://twitter.com/messages/media/1311666618037006343/131166661803700634I absolutely love this one i s

[2020-10-01 15:47] polothy commented on #1718
What @patatepartie suggested is what I want from this. Really enjoyed the workflow of running `gh pr create -f` and BAM, I have a PR ready. It's a super slick workflow.  If I had to add an extra consistent flag with no unique argument to get that workflow back, then 💯 for it!

[2020-10-01 15:52] vilmibm commented on #1385
What's on the web is actually copypasta so reopening.

[2020-10-01 16:28] #2051 closed, assigned to nobody

[2020-10-01 16:33] tdreid commented on #1913
Adding on to @johshoff 's observations, this prompt appears to be redundant as creating the remote is the primary intent of the command and creating the local folder is confirmed anyway:

[code]

In the above interaction:

__This will create 'fh' in your current directory. Continue?__

Seems to confirm the same as this:

__Create a local project directory for tdreid/fh?__

[2020-10-01 16:39] ampinsk commented on #1980
Hey y'all thanks for talking through this, I agree that there is still use for the global `git_protocol` setting, but also agree we're backing users into a bit of a confusing corner here.

Some spots I think we could help lead people down a better path:

1. The manual landing page and the `gh config set` docs could make the `--host` overriding behavior more clear, and mention that these settings l

[2020-10-01 17:18] jukkei commented on #1980
Yes. For me, it was a little bit confusing at first. I read documentation but didn't understand the second config file.

Also, as far as I remember, I didn't see the `--host` flag mentioned anywhere. Or was it that I needed manually to change `config` file and it couldn't been done through `gh`...

Anyways, hints and examples are always good!

[2020-10-01 17:36] #1650 closed, assigned to nobody

[2020-10-01 17:38] mislav commented on #1973
@vilmibm That's a great suggestion!

Let's keep the backticks in mind for when we do a larger docs overhaul. 👍 For now, I've simply disabled any “smart” quotes, dashes, and ellipsis characters on our website to reduce the chance that some terminal characters will get garbled.

[2020-10-01 17:38] #1973 closed, assigned to nobody

[2020-10-01 17:40] mislav commented on #287
Closing since our installation/upgrading options are well documented now for various OS: https://github.com/cli/cli#installation

[2020-10-01 17:40] #287 closed

[2020-10-01 19:01] YasielCabrera commented on #2037
@mislav using environment variables in Powershell it works perfectly, thanks

Note: using env vars seems not to work in the CMD

[2020-10-01 22:37] abdullahceylan opened #2059 "Git initialization doesn't happen after creating a repo in a node.js app"
### Describe the bug

I'm using `gh version 1.0.0 (2020-09-16)` and trying to use it within a simple node.js application. If I run `gh` directly from the terminal by using `gh repo create foo --private --confirm` command, it is creating a folder after the repo creation and initializing repository in that folder.

But if I call `gh`cli in a node.js application, the repo creation being successful bu

[2020-10-01 22:39] abdullahceylan commented on #2059
BTW, I have added a new flag to fix this but before sending a PR, I wanted to know your thoughts about this situation.

[2020-10-02 00:06] fsmiamoto commented on #902
If nobody is working at this already, I'd like to tackle it!

[2020-10-02 05:44] hcsong213 commented on #2036
Same here. The bug also persists when I try to pr interactively:

![image](https://user-images.githubusercontent.com/51963099/94891643-7eae5a00-0437-11eb-8099-8c7f53581e02.png)

[2020-10-02 07:53] hugo-paredes opened #2061 "Can't validate token"
### Describe the bug

I'm trying to authenticate using the `gh auth login` command but I get the error `could not validate token: missing required scope 'repo';missing required scope 'read:org'`.

I've already created several tokens, I even gave full permissions to one of the token to make sure it wasn't the problem. Regardless, I always get the same error.

### Steps to reproduce the behavior

1.

[2020-10-02 09:10] waldyrious commented on #287
@mislav was it intentional to leave the [Homebrew option](https://github.com/cli/cli/issues/287#issuecomment-585856219) out of the [Linux installation docs](https://github.com/cli/cli/blob/trunk/docs/install_linux.md)?

[2020-10-02 11:36] mislav commented on #2061
@hugo-paredes Thank you for reporting!

Could you try editing your token and adding the `user:email` scope too? It shouldn't be needed, but one person reported that it fixed it for them: https://github.com/cli/cli/issues/1941

The `strconv.Atoi: parsing "": invalid syntax` error will be fixed in https://github.com/cli/cli/pull/2054

BTW, what is your GHE version at `company.hostname`?

[2020-10-02 11:45] hugo-paredes commented on #2061
Hi @mislav

The token I'm using has that scope defined. The only scopes missing are: `write:public_key`, `write:discussion` and `manage_billing:enterprise`.

The GHE version is `GitHub Enterprise Server 2.21.5`.

[2020-10-02 12:08] lszomoru commented on #1820
@mislav, do you have an ETA on the release?
Also do you know when the GH Actions agents will be updated as we are using the GH CLI from an action. Thanks!

[2020-10-02 14:18] Meiryo7743 opened #2064 "gh.exe is regarded as a virus by Windows Defender"
### Describe the bug

About to run `gh` command, I realized that Windows Defender removed `gh.exe` because the Defender detected it as a Trojan.

![](https://user-images.githubusercontent.com/46659204/94934049-2e51fd80-0506-11eb-8d2d-373a2f22f210.png)

This bug certainly fixed (cf. issue #1894), but it seems to have recurred.

- **OS**: Windows 10 1909 (18363.1082)
- **Windows Defender rules**: 1.

[2020-10-02 15:23] mislav commented on #2064
Thank you! Have you tried updating your definitions? https://github.com/cli/cli/issues/1894#issuecomment-696798210

[2020-10-02 15:39] mislav commented on #2061
@hugo-paredes Could you please use that token in the following request to check what gets reported under `x-oauth-scopes` response header?

[code]

[2020-10-02 15:48] JS-Tech opened #2065 "Fedback"
# CLI Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "gh cli needs mini-games"_

## Anything else?

_eg "have a nice day"_